[2014-08-26 16:39] BobHenninger opened #4428 "ZoneHVAC:LowTemperatureRadiant:VariableFlow EMS Control - Bug?"
Helpdesk Ticket 6123

Not sure if this is worth investigating further or not. Holding here for now.
 Michael J. Witte on 04 March 2014 04:46 PM

Posted on: 05 July 2012 07:39 AM

Hey Mike

 You are pointing out an interesting question. I am sure this is explained somewhere in the engineering manual...

 Indeed, it happens only with EMS. Just compare the two files attached to this email. They show

[2014-08-26 16:49] BobHenninger opened #4429 "Calculation of ChillerCapFTemp for Chiller:Electric:EIR"
Helpdesk Ticket 6171

Do we dare add a CR for this? The EIR chiller models have used temp SP from the start and using actual temps would required iteration.

 Since the chiller needs to know the available capacity before calculating outlet temp, the CAPFT term uses the SP as input to the curve object. No action is taken if the outlet temp does not meet the SP.

 ChillerCapFT = CurveValue(ElectricE

[2014-08-26 16:57] BobHenninger opened #4430 "Should Daylight Glare Probability (DGP) be added as output variable?"
Helpdesk Ticket 6480

Francesco De Rosa
User
Posted on: 14 October 2012 08:57 AM
Thank you for your answer.

 Daylight Glare Probability (DGP) is defined in [Wienold, Christoffersen,
 2006] as follows:
 [image: Immagine in linea 1]
 where EV is the vertical eye illuminance [lux]; LS the luminance if source
 [cd/m2]; wS the solid angle of source; P is the position index, which
 expresses the change

[2014-08-26 17:57] BobHenninger opened #4431 "Boiler "Design Water Outlet Temperature" confusing - update docs or delete field entirely"
Helpdesk Ticket 6893

Should probably add something to I/O ref about the boiler design water outlet temp being nearly useless, or make it autosizeable so it grabs the plant sizing water outlet temp?

 Michael J. Witte on 21 January 2013 06:58 PM

Boiler "Design Water Outlet Temperature" seems rather pointless, should probably remove it

  Michael J. Witte on 07 May 2014 04:26 PM

From: EnergyPlus

[2014-08-26 18:05] BobHenninger opened #4432 "Surface Inside Temperature not clear with Movable Insulation - possible error in calculation"
Helpdesk Ticket 7095

Code appears to be reporting the base surface inside temp. Checking with Brent and Rick to confirm.
 Michael J. Witte on 22 February 2013 03:40 AM

User was never answered - been six months - needs a CR. Reference e-mail from RKS to MJW on FEb 25, 2013
 Michael J. Witte on 20 August 2013 05:45 PM

Is this addressed in Rick's fix for interior movable insulation?
 Linda Lawrie

[2014-08-26 18:20] BobHenninger opened #4433 "Question on how to model spandrel glass - good "tips and trick" article"
Helpdesk Ticket 6807

Might make a good tip & trick article?
 Linda Lawrie on 04 December 2012 10:36 PM

Rodrigo
User
Posted on: 04 December 2012 06:17 PM
Hi, Mike.

 I was using “SurfaceControl:MovableInsulation object” to model the spandrel glass + the air gap. To do so, I was adjusting the conductivity value of the glazing, modeled as “WindowMaterial:Glazing”.

As a construction, I cannot model

[2014-08-26 18:26] BobHenninger opened #4434 "External Interface and E+ timestep sequence"
Helpdesk Ticket 7042

Checking with Brent and Thierry before I close this.
 Michael J. Witte on 22 February 2013 02:53 AM (Edited by Michael J. Witte on 22 February 2013 02:59 AM)

Michael Wetter replied on Feb 22: "Your answer is correct."
 Perhaps this needs a doc CR to clarify?
 Michael J. Witte on 20 August 2013 05:46 PM (Edited by Michael J. Witte on 20 August 2013 05:47 PM)

Questions about

[2014-08-26 18:39] BobHenninger opened #4435 "Run time fraction of central fan reporting is misleading with multi-speed and variable-speed fans"
Helpdesk Ticket 8277

Asking Rich if we should be changing the RTF calc.
 Michael J. Witte on 01 July 2013 01:30 PM

Mike Moore
User
Posted on: 29 June 2013 10:40 PM
Thanks, Richard. I wish I could grab this variable prior to
 post-processing, but I was able to find a workable solution through
 post-processing, per your suggestion.

 Have a good weekend.

 Mike

Posted on: 28 June 2013 05:03 PM
I

[2014-08-26 18:49] BobHenninger opened #4437 "VAV DOAS sys. Q=f(num occupants)"
Helpdesk Ticket 8815

Really need more control and sizing options for this combination of DOAS plus zone unit.
 Michael J. Witte on 02 December 2013 02:01 PM

Artem Zhukov
User
Posted on: 28 November 2013 08:16 AM
Yes, exactly, and I did the following: In the equipment list I change the order of the system, so that the DOAS try to pick up the load if the FCU couldn’t. But for FCU I limited UA fact

[2014-08-26 18:59] BobHenninger opened #4438 "AirTerminal:SingleDuct:ConstantVolume:FourPipeInduction needs better error message when mixer name left blank"
Helpdesk Ticket 8952
User did not specify a Zone Mixer Name for AirTerminal:SingleDuct:ConstantVolume:FourPipeInduction units (left that field blank) and this is the entire error message that resulted, so user couldn't tell what the problem was:

   **  Fatal  ** SimAirLoopMixer: Mixer not found=

 Richard Raustad on 26 December 2013 03:14 AM
Code implies mixer is not required so this may be a pro

[2014-08-26 19:13] BobHenninger opened #4439 "Logic error when testing for common heat sources used in desuperheater coils"
Helpdesk Ticket 9031

From user:
  I am trying to use an HVACTemplate:System:UnitarySystem with a MultiStageGas coil. If I set up only one template system with multistage gas heating, it works fine. I can leave other systems as gas coils, and it runs. However, if I try to set up several systems with multi stage gas coils. I get the following error when I try to use several multi stage gas coils in

[2014-08-27 14:09] #4437 closed, assigned to nobody

[2014-08-27 16:57] mjwitte opened #4440 "Expandobjects crashes with bad value of 0..8 in HVACTemplate object"
Helpdesk Ticket 9710
User file was v8.0 and was not producing any HVAC objects in expidf file and no error messages related to HVACTemplate.  Tried to transition up to v8.1 and the transition program caught the illegal input value of "0..8" in a numeric field.  That led to discovering that expandobjects was crashing:

ExpandObjects Started.
 Begin reading Energy+.idd file.
 Done reading Energy+.id

[2014-08-27 19:36] #4439 closed, assigned to nobody

[2014-08-27 20:01] mjwitte opened #4443 "In epw stat file what is "Monthly Indicators for Precipitation/Moisture (kPa)""
Question was asked on bldg-sim.  There are two sections reporting something about precip in the .stat file.  Not clear to me what the first one is reporting - odd to have units of kPa.
- Monthly Indicators for Precipitation/Moisture (kPa)
              Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
                1.4     1.6     1.8     1.8     2.3     2.6     2.9     2.8     2.7     2.2     1.8

[2014-08-27 20:07] #4172 closed, assigned to Myoldmopar

[2014-08-29 18:46] mjwitte opened #4446 "Wrong units for ZoneHVAC:Baseboard:RadiantConvective:Steam "Degree of Subcooling""
Helpdesk ticket 9727

Current IDD is:
ZoneHVAC:Baseboard:RadiantConvective:Steam,
  N1,  \field Degree of SubCooling
       \type real
       \minimum 1.0
       \default 5.0
       \units C

Units should be \units deltaC

[2014-08-29 19:15] mjwitte opened #4447 "EP-Launch path problems with special characters"
Helpdesk ticket 9638
User was not getting output files.  Problem was due to special characters in the path (on windows) to the input file.  User noted two different special characters that were used:
degree sign:  "C:\Users\Rodrigo\Desktop 2\illuminancia interior 30º"
and accented vowel:  "illuminância"

I can reproduce the problem with both of those characters - ran an example file inside a folde

[2014-08-30 02:30] mjwitte opened #4449 "User file with AFN fails with iteration error in 64-bit but not in 32-bit"
Ticket 6712
This has been lingering for a while, since v7.2, this user's file completes on 32-bit windows, but fails with this fatal error in 64-bit version:
   ** Severe  ** Too many iterations (SOLVZP) in Airflow Network simulation
   ** Warning ** AirflowNetwork: SOLVER, Changing values for initialization flag, Relative airflow convergence, Absolute airflow convergence, Convergence acceleration

[2014-08-30 17:50] mjwitte opened #4450 "EMS Plant Supervisory Control - Add doc notes to explain use with water heaters"
Add some notes to EMS application guide to explain that supervisory control isn't always the last say for equipment like water heaters and anything that spans plant side and airloop or zone equipment side.

Helpdesk Ticket 9169
Question: I'm trying to shut down a water heater for a random duration with EMS. If I
 do not turn off standby loss, there will still be energy consumption during
 the shut

[2014-08-30 19:08] macumber opened #4451 "Error in Daylighting:Controls IDD"
@Myoldmopar it seems that there is an error in the Daylighting:Controls IDD.  The first daylighting point is allowed at any z location:

  N4 , \field Z-Coordinate of First Reference Point
       \units m
       \default 0.8
       \type real

but the second is restricted to greater than 0:

  N7 , \field Z-Coordinate of Second Reference Point
       \units m
       \type real
       \minimum 0.0

[2014-08-31 12:41] #4374 closed, assigned to mjwitte

[2014-09-02 22:14] mjwitte opened #4453 "Chiller:Electric:EIR still delivering chilled water when shut off due to zero condenser loop flow"
Helpdesk ticket 9704
User file has a fancoil unit with a water cooled Chiller:Electric:EIR. This file happens to have a flow rate schedule on the condenser water pump that is all zeros.  This results in zero chiller heat transfer reported and zero chiller power consumed, but the chilled water coil is merrily providing cooling and the chiller ChW inlet and outlet nodes show flow and show that the c

[2014-09-03 19:04] rraustad opened #4455 "HPWH shows very high COP"
User file shows COP = 10 when COP is set at 2.7. For loop in code inadvertently increases tank source node entering water temperature which in turn lowers source node water mass flow rate, which in turn lowers HPWH PLR to the point where COP is high.

2 places in code starting at line 6856 of PlantWaterThermalTanks.cc

for ( loopIter = 1; loopIter <= 4; ++loopIter ) {
    CalcHPWHDXCoil( HPWaterHe

[2014-09-03 21:05] mjwitte opened #4456 "Transition for v8.1 to v8.2 is tripping on CoolingTower:TwoSpeed"
If I'm following everything correctly, the transition rules for CoolingTower:TwoSpeed were not fully implemented in Transition-V8-0-0-to-V8-1-0.  Several fields were changed from autosizable to autocalculatable.  There were rules for all but one of these fields to change autosize to autocalculate, but one field was missed in the rules, and two others were missed in the transition program.

Transit

[2014-09-04 17:50] mjwitte opened #4458 "HospitalLowEnergy example file needs help - Controller errors and max iteration warnings"
Here are some of the warnings this example file generates (v8.2, but was the same in v8.1 and perhaps earlier).

   *\* Warning *\* In AirLoopHVAC DOAS2 there is unbalanced exhaust air flow.

   *\* Severe  *\* FindRootSimpleController: Controller error for controller = "DOAS2_HEATC 1_CONTROLLER"

   *\* Warning *\* SolveAirLoopControllers: Maximum iterations (50) exceeded for DOAS2, at CHICAGO AN

[2014-09-08 15:39] Myoldmopar opened #4460 "Variable speed branch pump logic problem in PlantLoopSolver"
Source: [Helpdesk Ticket 9513](http://energyplus.helpserve.com/staff/Tickets/Ticket/View/9513)
IDF: [To be uploaded to DevSupport](https://github.com/NREL/EnergyPlusDevSupport/blob/master/DefectFiles/4460/BypassV2.idf)
Weather: [To be uploaded to DevSupport](https://github.com/NREL/EnergyPlusDevSupport/blob/master/DefectFiles/4460/Melb_Loc0103_Weather.epw)
Mentions: @mjwitte @mmatts

OK, I'm not s

[2014-09-09 19:15] Myoldmopar opened #4465 "CurrentWorkingFolder not being set"
At least not on my Linux build with g++.  I'm working on the external interface, and it uses this variable to build a FMU path based on the current working folder.  This is being left as blank.

It appears the code is relying on the compiler [here](https://github.com/NREL/EnergyPlusTeam/blob/develop/src/EnergyPlus/main.cc#L344) and the compiler is not behaving as expected.

@DeadParrot Do you have

[2014-09-10 19:29] #4395 closed, assigned to mjwitte

[2014-09-11 01:29] #4370 closed, assigned to rraustad

[2014-09-11 12:12] #4216 closed, assigned to rraustad

[2014-09-16 16:14] #4387 closed, assigned to Myoldmopar

[2014-09-16 16:32] mjwitte opened #4468 "Cooling tower requests for water from storage tank are not fully met when they should be"
Followup From issue #4387 I guess the test files from 4387 apply here as well.  Throwing this up hastily so we don't forget.

So for a), it is very strange. The cooling tower gets called multiple times between updates to the tank. This is because the plant is being simulated within its own iteration loop. The tower required makeup water continues to increase during these iterations. Once this is d

[2014-09-16 19:32] Myoldmopar opened #4470 "Missing testfiles"
@Nigusse @rraustad @lgu1234 @mjwitte

The CI machines are reporting [problems with a couple files](http://nrel.github.io/EnergyPlusBuildResults/EnergyPlusTeam-14297e7281b3b0b77a341b881e9c20f87f89a78d-x86_64-MacOS-10.9-clang.html#test).  Basically it is complaining because it couldn't find 5ZoneWaterCooled_BaseboardScalableSizing or FanCoilAutoSizeScalableSizing.  These were added to the CMakeLists

[2014-09-17 12:47] mjwitte opened #4471 "Disable popup dialog on Windows release after exception and add traceback"
Using the default cmake build options with VS12 on windows, if the exe crashes, it throws up a dialog box which halts everything, preventing a batch file from moving on to the next simulation.  The fortran exe's would dump a traceback and exit so the batch could move on.

[2014-09-17 16:59] kbenne opened #4474 "make -j8 fails on transition programs"
Each transition program generates its own version of the same .mod files, because each transition program uses some of the same source files.  This could be factored into a library except each transition program needs to build these common files with a different preprocessor definition.  The trouble is that when you build transition program targets in parallel they write the mod files on top of ea

[2014-09-17 18:50] #4474 closed, assigned to kbenne

[2014-09-19 19:54] mjwitte opened #4483 "IDD definition for Site:GroundDomain needs some cleanup"
@mmatts (repeating from e-mail)
IDF Editor is complaining about some invalid field codes in Site:GroundDomain.  What was your intent for
\field-optional
and
\required-optional

If I'm following correctly, this is the only new object for this feature (plus some added choices for some existing objects)?

The codes are all documented at the top of the IDD file.  Fields are all optional unless declare

[2014-09-21 03:05] #4158 closed, assigned to mjwitte

[2014-09-22 02:30] mjwitte opened #4484 "Sizing:System new fields need defaults to prevent fatal error from transition for new scalable sizing"
When transitioning from v8.1 to v8.2, transition adds new fields at the end of sizing:system

    ,                        !- Cooling Design Capacity Method
    ,                        !- Cooling Design Capacity {W} {m3/s}
    ,                        !- Cooling Design Capacity Per Floor Area {W/m2}
    ,                        !- Fraction of Autosized Cooling Design Capacity {-}
    ,

[2014-09-22 14:08] #4182 closed

[2014-09-22 14:08] #4316 closed, assigned to nobody

[2014-09-22 14:08] #4415 closed, assigned to nobody

[2014-09-22 14:08] #4446 closed, assigned to nobody

[2014-09-22 15:11] #4451 closed, assigned to Myoldmopar

[2014-09-22 19:06] #4386 closed, assigned to mjwitte

[2014-09-23 16:00] #4460 closed, assigned to Myoldmopar

[2014-09-23 16:28] #4337 closed, assigned to lgu1234

[2014-09-23 16:33] Myoldmopar opened #4488 "Documentation Update for 8.2"
@mjwitte @kbenne @lgentile @lgu1234 @rraustad @Nigusse

@lgu1234 We need updated documentation and indexes to build the installer packages for 8.2.  Can you comment as to when you think you'll be able to get them done, preferably today?  When you have them complete, please do the following:
- Clone [EnergyPlusBuildSupport](https://github.com/NREL/EnergyPlusBuildSupport) if not already cloned on yo

[2014-09-23 20:29] asparke2 opened #4489 "Coil:Heating:Gas:MultiStage Autosizing Not Working"
Autosizing of Coil:Heating:Gas:MultiStage does not appear to work.  I was running a model with a AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed containing an autosized Coil:Heating:Gas:MultiStage as the primary heating coil and the load kept being picked up by the supplemental coil.  I looked at the EIO file and saw that the Coil:Heating:Gas:MultiStage was sized to 0 capacity.

I then went and fo

[2014-09-24 02:51] mjwitte opened #4490 "Stray line in eio output for Zone Air Mass Flow Balance Simulation - has unix line ending on windows"
Noticed that my text editor was flagging eio output files as being in unix format (when running on windows) and traced it down to just one line.  The second line below has a unix line ending, the rest of the file is DOS.

! <Zone Air Mass Flow Balance Simulation>, Simulation {Yes/No}
 Zone Air Mass Flow Balance Simulation, No
 Zone Air Mass Flow Balance Simulation, N/A

It seems that there should

[2014-09-24 15:54] #4489 closed, assigned to rraustad

[2014-09-24 19:35] mjwitte opened #4493 "Remove support for obsolete load management options in HVACTemplate:Plant objects"
Currently HVACTemplate:Plant:* objects have input for Load Distribution Scheme that have choices of Sequential, Uniform, and Optimal.  These are really just a pass-through to the plantloop and condenserloop object, so I could add the new keywords as choices in the IDD.

@Myoldmopar  If you don't object, I'm going to add the correct new key choices to the IDD (to match what's in the plantloop and c

[2014-09-24 20:30] #4483 closed, assigned to mitchute

[2014-09-25 21:07] #4176 closed, assigned to mjwitte

[2014-09-26 14:05] krishnan-gowri opened #4496 "8.2.0 RC4 Windows installer"
I do not see an RC4 installer for x86 or 64 bit windows.  Is this the same as RC3? or we just missing this?

[2014-09-26 15:41] krishnan-gowri opened #4497 "Example file test error"
When I open HospitalLowEnergy.idf from the example files folder in IDF editor, save it and run, I get the following error for DOAS systems:
Program Version,EnergyPlus, Version 8$.2.0, YMD=2014.09.26 08:38,IDD_Version 8.2.0
   *\* Severe  *\* Sizing:System="DOAS2", invalid data.
   *\*   ~~~   *\* ... incorrect System Outdoor Air Method="".
   *\*   ~~~   *\* ... valid values are ZoneSum or Ventila

[2014-09-26 17:52] mjwitte opened #4498 "Suspicious chiller/tower energy use changes since Aug 30 build"
Reviewing results from yesterday's test suites, seeing some differences on the order of 5% in chiller/tower energy use in some HVACTemplate and Training exercise files.  Still investigating, but putting this out there in case @Myoldmopar or @rraustad  can think of something that went into the code since Aug 30 that would have caused an expected change in results.  Or it could be a mistake in the e

[2014-09-26 18:51] #4498 closed, assigned to nobody

[2014-09-27 01:59] mjwitte opened #4500 "Can't build Win64 with VisualStudio 12"
@lefticus @DeadParrot @kbenne @Myoldmopar We have a problem, Houston.  The last time I built EnergyPlus on develop was on Sep 21.  Today, I'm getting these linker errors.  Using VS12 with MSVC++ to make a release Win64 build:

Error   9   error LNK1169: one or more multiply defined symbols found   C:\MJW-Work\EnergyPlus Git\EnergyPlusTeam Builds\Build-79631184-ZoneAirMassFlowEIOOutput\Products\Rel

[2014-09-29 16:01] #4500 closed, assigned to nobody

[2014-09-29 18:01] #4490 closed, assigned to nobody

[2014-09-29 20:16] #4455 closed, assigned to rraustad

[2014-09-30 01:25] mjwitte opened #4503 "Dataset idf files all have a v8.0 comment line"
This is something that needs to be looked at after release.  Determine if any of these need to be transitioned and update the version comment to 8.2

[2014-09-30 14:50] #4205 closed, assigned to Nigusse

[2014-09-30 14:51] #4189 closed, assigned to Myoldmopar

[2014-09-30 17:20] #4412 closed, assigned to mjwitte

[2014-09-30 18:46] #4391 closed, assigned to Myoldmopar

[2014-09-30 19:46] Myoldmopar opened #4504 "DeLight currently doesn't work."
Just needs a little fine tuning.

[2014-10-01 17:55] rraustad opened #4505 "Equations for IEER Single Speed DX coil is incorrect"
EERb-d= LF * Qtotal,net,partload / (LF(Cd*Power total,partload)+(FanPowerPerVolFlowRate*Vrated)) on page 663 is incorrect and redundant. This equation can be deleted or corrected. The term Power total,partload should be changed to Power compcondfan, partload.

There are 2 equations here for EERb-d and one equation for Power total,partload.

Suggest deleting the first of these 3 equations.

[2014-10-02 12:33] #4488 closed, assigned to lgu1234

[2014-10-03 15:41] Myoldmopar opened #4507 "Zone predicted sensible load doesn't include ERV"
From a colleague here at NREL:

I think we’ve discovered an EnergyPlus error where the “Zone Predicted Sensible Load to Setpoint Heat Transfer Rate” output variable does not include the sensible cooling or sensible heating of ERVs. This was in EnergyPlus 8.1.0.009. See attached idfs, epw, and spreadsheet.  The ~20% discrepancy between baseboard electric heating energy use and the Zone Predicted he

[2014-10-03 16:11] #4507 closed, assigned to nobody

[2014-10-03 16:21] Myoldmopar opened #4508 "ShadingProperty:Reflectance internal case issue"
From: @lklawrie email:

[code]

[code]

The IDD doesn't show this `\retaincase` workaround, and the [source line](https://github.com/NREL/EnergyPlusTeam/blob/develop/src/EnergyPlus/SurfaceGeometry.cc#L5584) doesn't seem to reflect any correction, so I think this is still an issue.

Defect file to be added to DevSupport.

[2014-10-03 16:31] Myoldmopar opened #4509 "EIO Surface Details Alignment problem"
The alignment for the surface details report in the EIO is off, for at least the units column headers. Excel file showing this is in DevSupport.

When I look at the file, the main header and values seem to be aligned, but the units are off.  Should be easy enough to fix this....probably [here](https://github.com/NREL/EnergyPlusTeam/blob/f14e14ca0bcf869700eaf3f83e20a37284e0a7e3/src/EnergyPlus/Outpu

[2014-10-03 16:42] Myoldmopar opened #4510 "EnergyPlus.f90 appears in source"
There are lots of [places](https://github.com/NREL/EnergyPlusTeam/search?q=energyplus.f90) in the code where ```EnergyPlus.f90``` still appears.  There may be other random references to FORTRAN in there that we could clean up over time, but this would be one big quick fix to clean up a bunch of references.

Maybe I'll assign @mmatts since he brought it up :wink:.  OK, I did.  But I can certainly d

[2014-10-03 17:44] nealkruis opened #4511 "EnergyPlus unit tests return "Calling establ...'" and don't run tests."
This only seems to happen when calling "EnergyPlus_tests".

"objexx_tests" and "ctest" seem to work fine.

This is what I'm seeing for EnergyPlus:

[nkruis]~/git/eplus/build/Products$ ./EnergyPlus_tests
Calling establ...'

And here is objexx:

[nkruis]~/git/eplus/build/Products$ ./objexx_tests
[==========] Running 521 tests from 40 test cases.
[----------] Global test environment set-up.
[--------

[2014-10-03 20:45] Myoldmopar opened #4512 "Need to protect Intel Fortran compiler flag"
The transition code has a flag that should be protected so that it only occurs on Windows:

https://github.com/NREL/EnergyPlusTeam/blob/develop/src/Transition/CMakeLists.txt#L67

[2014-10-08 15:31] Nigusse opened #4517 "Drift Fraction and Blow Down Ratio numeric input fields are always set to zero for Indirect Evaporative Cooler Research Special"
EvaporativeCooler:Indirect:ResearchSpecial:

Numeric input fields "Drift Fraction" and "Blow Down Ratio" are always set to zero even if user specifies a non zero value. Since there is no argument "lNumericFieldBlanks" passed to "GetObjectItem" routine Numeric input fields are always assumed blank.

See GetObjectItem routine setup below: "lNumericFieldBlanks" argument is not passed, so numeric inpu

[2014-10-08 16:33] mjwitte opened #4518 "User file crashing in v8.2 - TimeStepFrequency shadowing calcs"
Helpdesk ticket 9888

Why the file com_verde.idf  does not run on  EP + 8.2 (windows) ?  It runs perfectly on EP + 8.1 (windows).  v8.2 file posted in EnergyPlusDevSupport

[2014-10-10 15:56] mjwitte opened #4525 "object-list referencing for curve names is incomplete"
1.  This issue started out as "Cooling:DX:SingleSpeed:ThermalStorage has incomplete object-list references for curves". When example file RetailPackagedTESCoil.idf is viewed in IDF Editor, some of the curve names are shaded as invalid.  I suspect that the object-list references for the (many) curve names in this object do not include table lookup objects as part of the valid set of objects.  It's

[2014-10-10 20:52] mmatts opened #4526 "Update Pipe:Underground object documentation to refer to correct ground surface temperature object"
K-A fields in the Pipe:Underground IO Ref section refer to the "GroundTemperature:Surface" object when they should refer to the Site:GroundTemperature:Shallow object. Update docs to reflect this.

[2014-10-13 23:34] krishnan-gowri opened #4528 "IDF Editor IDD Version number format"
Currently when files are created/saved from IDF Editor, the Version Identifier is included as 8.2; when this is compared to IDD version number 8.2.0, a warning is posted in the .err file as having incompatible IDD.  I guess the literal version number comparison and inconsistent number format in IDF Editor may be causing this warning.

[2014-10-14 14:43] mjwitte opened #4529 "Basement preprocessor crashes with NAN on some systems, not others"
Example file LgOffVAVusingBasement..idf  runs the basement.exe preprocessor prior to the EnergyPlus simulation.  On some machines it fails, on others it runs.  When it fails, the EnergyPlus err reports:

   *\* Severe  *\* Output:PreprocessorMessage="GroundTempCalc - Basement" has the following Severe conditions:
   *\*   ~~~   *\* EPlusOutput: Calculations have resulted in invalid results (NAN).

[2014-10-14 20:59] mjwitte opened #4530 "Need docs and example file for Add DOA to zonal units capability to packaged water-to-air heat pumps"
This feature was added after v8.1.0.009 release but prior to moving to C++ and github. An example file and doc changes got lost in the shuffle.  These changes relate to

AirTerminal:SingleDuct:InletSideMixer and AirTerminal:SingleDuct:SupplySideMixer which both have this pair of fields:

   A2, \field ZoneHVAC Terminal Unit Object Type
       \required-field
   A3, \field ZoneHVAC Terminal Unit Na

[2014-10-15 15:37] mjwitte opened #4532 "v8.2.0 Installer Issues"
1. Some example files still say version 8.1 in the idf file. (imf files and ones that were new since v8.1, and ??)

2. AbsorptionChiller_Macro.imf has this line at the top:
##fileprefix <needs path from install>
the installer is supposed to replace this with the install path, e.g.:
##fileprefix C:\EnergyPlusV8-2-0\ExampleFiles\

3.  VB runtime library components are missing on some machines (maybe

[2014-10-15 16:02] mjwitte opened #4534 "AirloopHVAC:UnitarySystem error message is vague when UnitarySystemPerformance:HeatPump:Multispeed is omitted"
Helpdesk ticket 9913

User tried to use AirloopHVAC:UnitarySystem with a multispeed DX cooling coil, but did not include a UnitarySystemPerformance:HeatPump:Multispeed object and reference it in the AirloopHVAC:UnitarySystem object.  This is the resulting error message:

   *\* Severe  *\* AirLoopHVAC:UnitarySystem = AIRLOOP_UNITCOOL1_OFFICES
   *\*   ~~~   *\* ... Cooling coil object type require

[2014-10-15 16:51] mjwitte opened #4536 "Coil:Cooling:DX:MultiSpeed requires Waste Heat Function of Temperature Curve Name when it should not"
Helpdesk ticket 9914
For Coil:Cooling:DX:MultiSpeed, the I/O Ref states:

Field: Speed <x> Waste Heat Function of Temperature Curve Name
The name of a biquadratic performance curve (ref: Performance Curves) that parameterizes
the variation of the waste heat recovery as a function of outdoor dry-bulb temperature and the
entering coil dry-bulb temperature at Speed <x>. The output of this curve is mu

[2014-10-16 15:05] mjwitte opened #4537 "Add a flow fraction schedule to AirTerminal:SingleDuct:Uncontrolled"
Reference user question on unmethours: "How to trim down air flow at night for a make up air unit in OpenStudio?"

https://unmethours.com/question/449/how-to-trim-down-air-flow-at-night-for-a-make-up-air-unit-in-openstudio/

Adding a flow fraction schedule to AirTerminal:SingleDuct:Uncontrolled would give a lot of flexibility for cases such as this and should be a fairly simple addition with no tr

[2014-10-17 13:02] mjwitte opened #4542 "Auxiliary Programs document section on Transition has old version references"
In the Auxiliary Programs document, the Transition section has references to V7.0  We may want to revise this section to be more generic.  e.g. "TransitionV6-0-0-to-V7-0-0.exe is the current transition program that is distributed with the V7.0 release."

Also, there is a reference error in this doc: "The IDF Version Updater lives in the folder with the multiple transition programs -- see Error! Re

[2014-10-18 00:55] mjwitte opened #4545 "I/O Ref - DesignSpecification:ZoneHVAC:Sizing is misplaced"
Helpdesk Ticket 9927

In EnergyPlus 8.2, a new object "DesignSpecification:ZoneHVAC:Sizing" was added. In IDF Editor, the object shows up in the group "HVAC Design Objects", however, in I/O Reference document, it is placed in the group "Zone Forced Air Units". This creates some confusion for people to find the documentation.

Also noticed there are several occurences of "DesignSpecificationZoneHVA

[2014-10-18 01:06] mjwitte opened #4546 "CurveFitTool.xlm is not calculating the function of flow fraction curves correctly"
Helpdesk Ticket 9928

Found bug in CurveFitTool.xlm

 From the source code (DXcoils.cc) it can be seen that the curves as a function of flow must be established using the fraction of flow relative to rated flow, i.e. "AirMassFlowRatioRated" and not the not the flowrate in m3/s. I think this is a carry over from the chiller curve setup. After amending this, I get the rating capacities of calculated

[2014-10-20 14:25] mjwitte opened #4547 "Missing run-time files for EP-Launch and IDF Editor with Windows v8.2.0 Installer"
Helpdesk tickets 9893, 9908, 9926, 9932, 9934, 9936

Several users have run into missing file errors when trying to run EP-Launch and IDF Editor on Windows with v8.2.0.  File names include MSINET.OCX, ComDlg32.OCX, vsflex7L.ocx, MSCOMCTL.OCX

These are run-time files required by VB6.0 which were previously included in the EnergyPlus installer.  @kbenne Suggested directing user to Visual Basic 6.0

[2014-10-20 16:21] mjwitte opened #4548 "AirTerminal:SingleDuct:ConstantVolume:CooledBeam Active/Passive has very little impact"
Helpdesk ticket 9935

From user:  "I've run a model using the AirTerminal:SingleDuct:ConstantVolume:CooledBeam object and when I compare the difference between Active and Passive cooled beam type the results are exactly the same.

 The only change in the idf was the Cooled Beam Type field (Active or Passive). Attached is the Active example model.

 How EnergyPlus code deals with these two options?

[2014-10-21 13:58] #4511 closed, assigned to kbenne

[2014-10-21 16:37] #4322 closed, assigned to Myoldmopar

[2014-10-21 21:11] #4534 closed, assigned to nobody

[2014-10-22 22:32] mjwitte opened #4557 "User file fails with NAN in predicted load"
Helpdesk ticket 9913
This ticket has various issues going on, but after fixing some earlier problems, the file now fails with this error:

   ** Severe  ** DualSetPointWithDeadBand: Unanticipated combination of heating and cooling loads - report to EnergyPlus Development Team
   **   ~~~   ** occurs in Zone=OFFICES During Warmup, Environment=SUMMER DESIGN DAY IN BAD AXE MI JUL, at Simulation time=

[2014-10-23 14:40] #4161 closed, assigned to Myoldmopar

[2014-10-24 16:32] ejhw opened #4558 "HPWH coil removing heat from tank"
Affects plant-loop connected heat pump water heaters (HPWH) but not HPWHs with scheduled draws (Use Flow Rate Fraction Schedule). Shows up in 8.2, but not 8.1. We confirmed that this was a byproduct of the fix to #4455. Might be related to updating of tank source side inlet/outlet temperatures.

The HeatPumpWaterHeater.idf example file has five HPWHs, in different configurations:
1.	Zone 5    - HP

[2014-10-28 01:32] mjwitte opened #4560 "EvaporativeFluidCooler:TwoSpeed getinput is overly strict and halts with false error"
Helpdesk ticket 9966

Issue A:  User file with EvaporativeFluidCooler:TwoSpeed fails with this error:

   *\* Severe  *\* EvaporativeFluidCooler:TwoSpeed "CSHQA MAIN TOWER". Evaporative fluid cooler UA at low fan speed must be less than the evaporative fluid cooler UA at high fan speed.
   *\*  Fatal  *\* InitEvapFluidCooler: Program terminated due to previous condition(s).

but the user is specif

[2014-10-28 02:19] mjwitte opened #4561 "Basement preprocessor fails with NAN for wall below grade depth >=8 m"
Helpdesk ticket 9937

User notes that basement fails with NANs if the BaseDepth: Depth of the basement wall below grade is 8m or greater.  Values <=7.99m run successfully.

[2014-10-28 02:49] mjwitte opened #4562 "HVACTemplate:System:ConstantVolume humidity controls are not set up correctly"
Helpdesk ticket 9930

User file has several HVACTemplate:System:ConstantVolume air handlers which are set to dehumidify and humidify but the humidity controls are not working as expected.

The problem is that the humidification setpoint which should be %rh and assigned to a zone humidistat, is actually being used to specify a humidity ratio setpoint after the humidifier.  So, with a humidity ratio

[2014-10-28 16:52] nmerket opened #4563 "Coil:Heating:DX:MultiSpeed Defrost Bug"
from @jonwinkler,

I encountered a potential bug in EnergyPlus 8.2. If you diff the two attached IDFs, you’ll see they’re identical with the exception of the defrost strategy implemented by the heat pump. The file giving me the error is using Resistive defrost, which throws the following error:

[code]

Changing the defrost strategy to `ReverseCycle` fixes the error. The cause of the error was cha

[2014-10-28 17:03] nmerket opened #4564 "Cooling airflow rate being used in heating mode for variable speed cooling coils"
from @jonwinkler,

The attached two IDFs are identical with the exception of the cooling coil type. 1.idf uses the `Coil:Cooling:DX:SingleSpeed` and 1_var_speed.idf uses `Coil:Cooling:DX:VariableSpeed`. A gas furnace and the `AirLoop:UnitaryHeatCool` object are used in both files.

The issue is with the heating air flow rate. When the variable speed cooling coil is used, the cooling airflow rate i

[2014-10-28 19:15] mjwitte opened #4565 "AdaptiveConvectionAlgorithm for Zone Inside Convection results in false fatal error"
Helpdesk Ticket 9971 (related)

User having problem with the v8.1 divide-by-zero tangamma issue (issue #4320 File crashes - ACOS with argument >1 problem).  So, I transitioned the file to v8.2.0 and got a bunch of errors like this:

   *\* Severe  *\* GetZoneData: Zone="7868".
   *\*   ~~~   *\* Invalid value for Zone Inside Convection Algorithm="ADAPTIVECONVECTIONALGORITHM".

This should be a val

[2014-10-28 19:40] JasonGlazer opened #4566 "Boilers.idf curves in DataSet are not normalized to 1.0 and do not indicate temperature type"
The boilers.idf DataSet file contains some example performance curves for boilers. The curves do not appear to be normalized so that they are 1.0 at full load and (when applicable) at the rating temperature.  None of them are 1.0 at PLR=1.0 and one of the logical rating temperatures. The condensing efficiency goes up beyond 1.0 at part load which may not be physically possible. The curves that are

[2014-10-29 15:04] mjwitte opened #4567 "Coil:Cooling:WaterToAirHeatPump:EquationFit reporting autosized SHR>1.0"
Helpdesk ticket 9973
User reports that example file "PipingSystem_Underground_FHX.IDF", for the auto sized water to air heat pump cooling coil named "SYS 2 HEAT PUMP COOLING MODE", the sensible heat ratio is 1.74.

Of course, sensible heat ratio can't be more than 1.0, so something is amiss in the sizing for this equipment.

Sensible heat ratio is reported in the table outputs ( Equipment Summary:

[2014-10-30 19:01] kbenne opened #4568 "Controller:OutdoorAir "Heat Recovery Bypass Control Type" causing erratic oa rates"
An example file and graphs will be uploaded to demonstrate this issue.  A value of "BypassWhenOAFlowGreaterThanMinimum" in Controller:OutdoorAir "Heat Recovery Bypass Control Type" will produce very unusual results.  Generally, OA rates are found running way above spec, forcing fan to run at full capacity.  In some cases very large discrepancies between supply outlet node flow rate and demand inle

[2014-11-03 17:44] Myoldmopar opened #4571 "Broken symlinks in Linux installer"
@nllong provided this screenshot:

![broken_symlinks](https://cloud.githubusercontent.com/assets/849824/4886975/03b0208e-6381-11e4-8c28-620415260938.png)

[2014-11-03 17:49] Myoldmopar opened #4572 "EP-Launch fails with network drives"
According to @ebonnema, EP-Launch fails hard when trying to run a file on a network drive.  I'm not sure why, nor have I validated this, but something to note.  In the example they were trying, it was trying to pull the weather file from a network folder.

[2014-11-04 11:45] sclegg opened #4573 "Linux installer issues"
The following problems occur with installation for Debian Wheezy.

There are a number issues regarding the linux installer.

+ dos2unix is no longer provided by the package so this leads to a broken link which were formed in the package maker files ./cmake/darwinpostflight.sh.in and ./cmake/CPack.STGZ_Header.sh.in.

+ The forming of the symbolic links to the programs and the directory permissions

[2014-11-04 13:26] #4529 closed, assigned to nobody

[2014-11-04 18:07] #4394 closed, assigned to nobody

[2014-11-05 15:18] mjwitte opened #4575 "Misc documentation issues from helpdesk and others - Nov 2014"
From ticket 9866

- [x]  The IO Reference (version 8.1) implies that this limit only gets applied if Economizer Control Type = FixedEnthalpy. I was using control Type = FixedDryBulb, and thus assumed that the input value for “Economizer Maximum Limit Enthalpy” was being ignored. You might want to provide further clarification in the IO Reference.

[2014-11-05 16:45] mjwitte opened #4577 "Duplicate node name in ZoneHVAC:EquipmentConnections results in crash"
Helpdesk ticket 10004
User file crashes during simulation initialization.  Fails on an objexx assertion.  Debugger shows this was  during the unique node name checking for ZoneHVAC:EquipmentConnections.    User file has a missing NodeList which may be the source of the problem.  Will try to reproduce with an example file.

[2014-11-05 19:41] #4336 closed, assigned to nobody

[2014-11-05 19:41] #4344 closed, assigned to mitchute

[2014-11-06 16:02] mjwitte opened #4578 "User file crash with ShadowCalculation=TimestepFrequency"
Related to helpdesk ticket 9696
While setting up test cases for this user problem, encountered a crash when changing the ShadowCalculation to TimestepFrequency.  This issue needs to be fixed before the original problem #4579  can be fully tested.

[2014-11-06 16:09] mjwitte opened #4579 "Reflective shading surfaces not sensitive to transmittance schedule"
Helpdesk ticket 9696
User compares file with reflective shading surface with transmittance schedule always=1.0 to the same file with the shading surface removed.  Results should be the same, but the case with the fully transmitting surface shows non-zero reflected solar.

Test files:
Base-ddays-v8.2.idf - with the surface, using ShadowCalculation=AverageOverDaysInFrequency
Evo-ddays-v8.2.idf - wit

[2014-11-06 17:03] mjwitte opened #4580 "WindowMaterial:Glazing with Front Side Solar Reflectance=Zero is Opaque"
Helpdesk Ticket 10008
From user:
The Front and Back Side Solar Reflectance at Normal Incidence field of the WindowMaterial:Glazing allows the 0 value. But, When I use it, I have no solar energy crossing the windows. If I used the value 0.001, results are correct. Is it a bug, or the idd file needs to be update to prohibit the 0 Value.

[2014-11-06 17:17] mjwitte opened #4581 "SurfaceContaminantSourceAndSink:Generic:PressureDriven crash"
Helpdesk ticket 9989
User file with SurfaceContaminantSourceAndSink:Generic:PressureDriven  in v8.0 generates contaminants but zone contaminant concentration is zero (possibly a user input problem, but can't tell for sure).  in v8.1 and 8.2, this file crashes in setup of internal gains (same structure tracks contaminants as well as gains).

Once the crash is fixed, if the zone contaminant concentr

[2014-11-10 18:15] mjwitte commented on #4575
Helpdesk ticket 10013
- [x] Input Output Reference VRF output variable definition states that cooling electric power (and energy) include the crankcase heater.  But this appears to be incorrect based on the code and the meter connections.  @rraustad Please confirm that "(including crankcase heater)" should be deleted from this variable and the next.

VRF Heat Pump Cooling Electric Power [W]
This o

[2014-11-11 21:09] mjwitte commented on #4575
- [x] While working on defect #4319, noticed that there is an undocumented EMS actuator for ExteriorLights
  SetupEMSActuator( "ExteriorLights", ExteriorLights( Item ).Name, "Electric Power", "W", ExteriorLights( Item ).PowerActuatorOn, ExteriorLights( Item ).PowerActuatorValue );
  This should be added to the EMS Application Guide.
  This is also Helpdesk Ticket 9356, duplicate issue #4323

[2014-11-11 21:16] #4547 closed, assigned to kbenne

[2014-11-12 15:57] mjwitte commented on #4575
- [x] Change all occurrences of Bouyancy to Buoyancy (found during work on #4525 ) and
- [x] Ancilliary --> Ancillary, and
- [x] Emmissivity --> Emissivity, and
- [x] elaspsed --> elapsed

[2014-11-12 18:01] mmatts opened #4586 "RefBldgMediumOfficeNew2004_Chicago.idf crashes on annual simulation in debug mode"
From current develop (96d9d103bcd9fdb8d108b3d1189e48c448d20374) ```RefBldgMediumOfficeNew2004_Chicago.idf``` crashed while running an annual simulation in ```debug``` mode on my Windows 7 machine with MSVS. Runs successfully in ```release``` mode. Also runs partial years and design days successfully in ```debug``` mode. It crashed round about mid-december on the annual simulation and gave the foll

[2014-11-13 11:55] #4447 closed, assigned to JasonGlazer

[2014-11-13 13:18] mjwitte commented on #4575
- [x] In the I/O Ref, Simplified ASHRAE 55-2004 Graph Related Outputs, the last variable name if missing "or Winter"

Facility Thermal Comfort ASHRAE 55 Simple Model Summer _or Winter_ Clothes Not Comfortable Time [hr]
The time when any zone is occupied that the combination of humidity ratio and operative temperature is not in the ASHRAE 55-2004 summer or winter clothes region (see above)

[2014-11-13 14:26] mjwitte commented on #4575
- [x] In the I/O Ref, ElectricLoadCenter:Distribution, this field description is out of date.  Need to confirm, but seems that is should mention AlternatingCurrentWithStorage and ElectricLoadCenter:Storage:Battery.  Should review the entire object for completeness.

Field: Electrical Storage Object Name
This field is used to identify the electrical storage connected to this load center (if any). T

[2014-11-13 17:05] mjwitte opened #4587 "ZoneHVAC:Baseboard:RadiantConvective:Water ControlCompOutput: Maximum iterations exceeded"
Helpdesk ticket 10021
User file has many warnings like this:
   *\* Warning *\* ControlCompOutput: Maximum iterations exceeded for ZoneHVAC:Baseboard:RadiantConvective:Water = HA:CLASS4
   *\*   ~~~   *\* ... Load met       = 364.10292 W.
   *\*   ~~~   *\* ... Load requested = 121.63728 W.
   *\*   ~~~   *\* ... Error          = 199.33495479 %.
   *\*   ~~~   *\* ... Tolerance      = 0.10000000 %

[2014-11-13 21:10] MatthewSteen opened #4588 "LEED Summary Report General Improvements"
**EAp2-3. Energy Type Summary Report**
Looks like the district energy (cooling and heating) virtual rate calc might be wrong in this report. For example if I calculate what LEED calls the virtual (blended) rate for electricity, district cooling, and district heating using the total cost from eplustbl Tariff Reports and the total energy from eplustbl Building Energy Performance, the virtual electri

[2014-11-13 21:48] mjwitte opened #4589 "Turn off echo of input lines to audit output file by default - add diagnostic option to activate"
Currently,  by default, the audit output file contains a line-by-line echo if the input idf file. As an I/O efficiency measure, it has been suggested that the echo be off by default with an input switch to turn it on if desired.

When echo is off, put a message in the audit output file saying
"Echo of input lines is off. May be activated with Output:Diagnostics, DisplayInputInAudit;"

[2014-11-13 23:16] Myoldmopar opened #4591 "Adaptive convection hard crash"
The input file that demonstrates this may be sensitive, so I'm not posting it just yet.  But it is crashing on [this line](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ConvectionCoefficients.cc#L8287).  ```DeltaTemp``` is used multiple times inside ```pow()``` calls, and most times it is passed through ```std::abs``` first, but the second instance it isn't.  ```DeltaTemp``` is co

[2014-11-14 12:37] #4060 closed, assigned to JasonGlazer

[2014-11-14 18:04] mjwitte opened #4592 "Mixed air node temp does not match heat recovery outlet temp in 100% OA/DOAS systems"
Helpdesk ticket 9836
User noted that the HX outlet temp which feeds directly into the OA mixer was not the same as the mixed air temp for a 100% OA system.  The mass flows check out, but in the user file, the mixed air node temp is lagging the HX outlet temp by one system timestep.  Tested this with HVACTemplate-5ZoneFanCoil-DOAS.idf example file and found that sometimes it matches, sometimes it l

[2014-11-18 17:02] #4054 closed, assigned to nobody

[2014-11-18 20:31] mjwitte opened #4595 "User file hangs in v8.2 crashes with floating overflow in v8.1.0 problem with ElectricLoadCenter:Storage:Battery"
Helpdesk ticket 10035
User file crashes in v8.1 and hangs in v8.2.  Appears to be
Fails in v8.1 like this:
 Initializing HVAC
forrtl: error (72): floating overflow
Image              PC                Routine            Line        Source
EnergyPlus.exe     000000014138D986  __bwr_exp                 375  exp_bwr.c
EnergyPlus.exe     00000001409F9064  manageelectricpow        3577  ElectricPowerMa

[2014-11-18 21:51] JasonGlazer opened #4596 "Add units field for Parametric:SetValueForRun"
Add a field to the Parametric:SetValueForRun that can contain a list of types of dimensions so that the \unitsBasedOnField specifier can be used and the IDF Editor will convert the field values used to set the parameters appropriately when using IP units. This is based on Helpdesk ticket #10038

[2014-11-19 21:38] #3305 closed, assigned to RKStrand

[2014-11-20 22:43] kbenne opened #4599 "Sizing:System N18, \field Fraction of Autosized Design Cooling Supply Air Flow Rate"
I believe in the Sizing:System idd entry, N13 and N18 are duplicates.  N18 should probably be "Fraction of Autosized Design *Heating* Supply Air Flow Rate"

[2014-11-21 17:00] mjwitte opened #4600 "Syntax highlighting files are out of date in helpdesk downloads"
Text editor syntax highlighting definition files are posted here for NotePad++, UltraEdit, and TextPad.
http://energyplus.helpserve.com/Knowledgebase/List/Index/44/utilities
They are all several versions old or more.  Perhaps we can develop a script to generate these.

[2014-11-21 17:58] Myoldmopar opened #4601 "Basement test idf runtime"
I realize Basement is a long runner; that's no problem.  However, when the CI machines are running integration tests, all tests finish really quick, and then basement sits there...for a really long time...like 15 additional minutes churning away.  Need to either modify the example/test file so that is naturally runs quicker, or do some other magic to clean this up.  I'm not exactly sure what magic

[2014-11-21 21:19] mjwitte opened #4602 "v8.2 sql output shows lights using natural gas"
Helpdesk ticket 9918
From user:
Just noting some bugs in using SQLite outputs in v8.2.
 I see some strange results when I run the following:

 SELECT \* from TabularDataWithStrings WHERE TableName='End Uses By Subcategory' AND ColumnName='Electricity'
 SELECT \* from TabularDataWithStrings WHERE TableName='End Uses By Subcategory' AND ColumnName='Natural Gas'

 For example, the second statement wi

[2014-11-21 22:26] #4565 closed, assigned to nobody

[2014-11-24 23:07] mjwitte commented on #4575
~~\- [ ] I/O Ref - ZoneEarthtube, several field names are highlighted in green - not seeing any reason for these fields to be different from the rest.~~

MJW - Not present anymore after md conversion.

[2014-11-25 15:20] #3580 closed, assigned to nobody

[2014-11-25 15:37] #4036 closed, assigned to vidanovic

[2014-11-25 15:38] #4038 closed, assigned to vidanovic

[2014-11-25 16:06] #4525 closed, assigned to mitchute

[2014-11-25 19:09] mjwitte opened #4604 "ZoneHVAC:IdealLoadsAirSystem autosized cooling capacity always zero"
Helpdesk ticket 10058
User noted that file which ran fine in v8.1 now gives no cooling in v8.2.  This file has ZoneHVAC:IdealLoadsAirSystem with autosized heating and cooling capacities with LimitFlowRateAndCapacity for cooling (a combination which apparently none of our internal test suite files have).  In v8.2 the cooling capacity is sizing to zero.  Reproduced this with a v8.1 example file.  Su

[2014-11-25 21:18] BobHenninger opened #4605 "Add zone window opening area to IVRS tabular report"
See Issue #4065 for details.  There was a previous request to add zone window opening area but this has not been done.

[2014-11-25 21:23] BobHenninger opened #4606 "Fix gross wall area for underground zones in IVRS report"
See Issue #4065 for further details.  The gross wall area for underground zones is still showing as 0 in IVRS report.

[2014-11-25 21:25] #4065 closed, assigned to JasonGlazer

[2014-11-26 16:09] #4319 closed, assigned to mjwitte

[2014-11-26 20:20] #3608 closed, assigned to mjwitte

[2014-11-26 20:26] BobHenninger opened #4607 "Electrochromic window non-diffusing case produces illuminance map with all zeros"
Refer to Issue #3608 for earlier comments.  When running file 8835-skylight_model-thermochromic-Diffusing.idf with v8.2.0, the illuminance map still has all zeros for the entire year and the illiminance values in the variable output are also very tiny.  Compare this with the non-diffusing case.

[2014-11-26 22:01] mjwitte opened #4608 "Big change in daylighting result introduced in v8.2.3 for special case"
Comparing diffs for v8.2.4 to v8.2.0 for test suite of training exercise files, revealed big diffs in
ZONE 2:Daylighting Reference Point 1 Illuminance [lux](Hourly), average illuminance over the 4 design days dropped by by 23% resulting in total lighting energy increasing by 13%.  Zone 2 is a shoebox with a south window and a shading surface very coincident with the window.  This exercise is suppo

[2014-11-26 22:37] #3997 closed, assigned to mjwitte

[2014-11-28 22:19] #4396 closed, assigned to nobody

[2014-12-01 11:26] rbuffat opened #4613 "error tolerance of EnergyPlus"
I try to generate a python library to create idf files from the specification: https://github.com/rbuffat/pyidf

In this process, I found some issues I lack the knowledge how to handle them:

The head in the file Energy+.idd defines \maximum< and \minimum> as field level comments. However, in some cases there is a \minimum >0  and \maximum <0 present. I converted them and made a PR:
https://github

[2014-12-02 14:29] mjwitte opened #4615 "Misc documentation issues - Dec 2014"
- [x] From unmethours question 1620
https://unmethours.com/question/1620/what-types-of-energyplus-models-benefit-from-using-multiple-threads/

Need to revise the I/O Ref (and IDD and elsewhere?) documentation for ProgramControl to state this is currently disabled.

- [x] OutputDetails and Examples mentions this, but it does still show in the eio output, so this can stand as-is. But there is a form

[2014-12-04 19:23] #4602 closed, assigned to nobody

[2014-12-04 23:09] mjwitte opened #4619 "SQlite output array bounds problem with lastDayOfMonth"
Tripped on this while developing new feature for data center IT equipment with debug build.  Fix is part of #4570 , part of this commit
https://github.com/NREL/EnergyPlus/commit/383ca7e39ce9183d4a68579ae55dc6f428c9b6c9
and has been pulled into 8.2.0-HotFix-1.4.  The error actually results in a shift of months so that the time intervals are off slightly for monthly data in the sql output.

Run the

[2014-12-05 09:50] #4517 closed, assigned to Nigusse

[2014-12-05 19:39] mjwitte commented on #4615
- [x] Input Output Reference, Chiller:Electric:EIR
  Field: Heat Recovery Side Inlet Node --> Heat Recovery Inlet Node Name
  same for Outlet - check all other field names for consistency with IDD

[2014-12-05 20:55] mjwitte commented on #4615
- [x] Interface Developers Guide, section on "Licensing" is out of date, link is broken.
  (Also, need to review/revise/delete Appendix G in the Module Developer Guide. - This has already been deleted, however there are still references to Appendix G in the document, but Module Developers Guide needs a major rewrite - so leave for now).

[2014-12-05 21:10] mjwitte commented on #4615
- [x] Input Output Reference, variable definitions for the various "Setpoint Not Met" output variables contain typos:  OutputControl:ReportingTolrances --> OutputControl:ReportingTolerances

[2014-12-05 22:03] mjwitte opened #4620 "LEED Summary Report units label for total gross floor area is wrong with IP units"
Helpdesk ticket 9842
When the LEED Summary report is output with IP units, the total gross floor area value is converted to ft2 but the units label is still m2.

[2014-12-08 14:33] mjwitte commented on #4615
- [x] In "AirflowNetwork:MultiZone:Zone" or "AirflowNetwork:MultiZone:Surface" the rules under "Modulation of Openings" show some boxes that are unknown characters.  In v8.2 docs, these showed as box, but in v8.3 docs they show as bold commas.  The first one should be if  <=, the next one is correct as < [ ] <, and the third one should be >=.  (remember that the < > symbols need to be &lt; and &gt

[2014-12-08 16:31] #4137 closed, assigned to JasonGlazer

[2014-12-09 18:51] JasonGlazer commented on #4615
- [x] In the IORef in the section on Output:Table:SummaryReports under Zone Component Load Summary the language under the "Heating Peak Conditions" bullet is incorrect. It should read:

"Contains the time of the peak load and the outside dry bulb and wet bulb temperatures as well as the outside humidity ratio for that time. It also shows the zone temperature and relative humidity and humidity rati

[2014-12-09 19:32] #4180 closed, assigned to JasonGlazer

[2014-12-09 22:25] mjwitte opened #4622 "Transformer Distribution Electric Loss Energy is not on any end-use so ABUPS does not add up to total"
From user (direct, not helpesk):
Sum of energy uses under various categories in “End Uses” table is supposed to be equal to “Total End Uses” reported in the same table, but that is not the case for Secondary School (SchoolSecondary) prototype building models. Attached is one example idf file and simulation result downloaded from http://www.energycodes.gov/commercial-prototype-building-models. Note

[2014-12-12 17:10] mjwitte opened #4625 "WindowMaterial:Blind:EquivalentLayer used in a plain window Construction should be fatal error"
Helpdesk ticket 10100
User added a WindowMaterial:Blind:EquivalentLayer material layer to a plain window Construction.  This should be illegal.  *:EquivalentLayer materials should only be valid in a Construction:EquivalentLayer. Additional test file(s) should be made to test trap for all *EquivalentLayer types.

[2014-12-12 19:52] mmatts opened #4626 "rhoCp_soil not being calculated correctly in EvaluateSoilRhoCP"
While preparing to implement the slinky GHX model, I discovered a bug fix in the rhoCp_soil calcs that had not been merged into current E+. I have fixed it locally and will push the change up and point it to @Myoldmopar for review.

**Before**
![image](https://cloud.githubusercontent.com/assets/2985979/5418126/80ba3d74-8205-11e4-8c1d-69828fe00377.png)

**After**
![image](https://cloud.githubuserco

[2014-12-12 20:57] mjwitte opened #4627 "SetpointManager:OutdoorAirReset only works in one direction"
Helpdesk ticket 10103
User complained that this setpoint manager was always setting to 23C

SetpointManager:OutdoorAirReset,
    AH B01-01 Temp Aria Mandata Manager,  !- Name
    Temperature,             !- Control Variable
    21,                      !- Setpoint at Outdoor Low Temperature {C}
    21,                      !- Outdoor Low Temperature {C}
    25,                      !- Setpoint at

[2014-12-15 14:21] mjwitte opened #4628 "Add reporting of design sensible and latent coil loads next to the current rated/nominal capacities"
Reference unmethours 1980
https://unmethours.com/question/1980/thermal-load-in-data-center/

Sizing output (eio and tables) report the nominal or rated capacities for cooling and heating coils.  Water coils report a design coil load (assuming this is total, but the output is not clear).  All coils should report the design sensible and latent (for cooling coils) load that was used as the basis for

[2014-12-16 16:54] mjwitte opened #4631 "Meter:Custom crash with mismatched resource type"
Helpdesk ticket 10106
User file crashing with this object
Meter:Custom,
	Panel HB,
	Electricity,
	GM WR EF-1 Exhaust Fan,
	Fan Electric Energy,
	Kitchen Hood EF-3 Exhaust Fan,
	Fan Electric Energy,
	CUST 213 EF-4 Exhaust Fan,
	Fan Electric Energy,
	CUST 112 EF-4 Exhaust Fan,
	Fan Electric Energy,
	FC-5-1A,
	Zone VRF Air Terminal Total Heating Energy,
	FC-5-1B,
	Zone VRF Air Terminal Total Heating

[2014-12-16 22:47] mjwitte opened #4632 "Comment shows incorrect units for PsyCpAirFnWTdb"
User notes that line 316 of Psychrometrics.hh should be

// This function provides the heat capacity of air {kJ/kg-C} as function of humidity ratio.

instead of

// This function provides the heat capacity of air {J/kg-C} as function of humidity ratio.

User has verified the result against published values for Cp of air and it also computes the same as another algorithm ...which also has units of

[2014-12-17 17:45] kbenne opened #4633 "Controller:OutdoorAir Field: Minimum Fraction of Outdoor Air Schedule Name"
I have reviewed the source code pertaining to "Minimum Fraction of Outdoor Air Schedule Name" and made observations in actual simulations that are at least worth some discussion, if not considered a bug.  My investigation has been motivated by the way in which OpenStudio handles ventilation and the ControllerOutdoorAir.  First it should be noted that when OpenStudio creates an outdoor air system t

[2014-12-18 20:56] mjwitte opened #4639 "Missing ElectricLoadCenter:Distribution object should produce error message if generators are present"
Helpdesk ticket 10119
User file has several Generator:Photovoltaic, PhotovoltaicPerformance:Simple, ElectricLoadCenter:Generators, ElectricLoadCenter:Inverter:Simple.  User could not understand why the PV generator output variables were not in the rdd output.  Turns out the file had no ElectricLoadCenter:Distribution object, so the generators aren't even gotten.  File runs with no errors.  Seems t

[2014-12-18 21:58] mjwitte commented on #4615
- [x] From unmet hours question 1742
  https://unmethours.com/question/1742/heat-recovery-chiller-staging-in-energyplus
  It would be really helpful if this was clarified in the Engineering Reference section on "Hot Water Heat Recovery from Chillers", since the heat recovery condenser bundle is treated differently than the standard demand/supply side components

Add these sentences at the end of t

[2014-12-22 16:27] mjwitte opened #4643 "Upper limit on WindowMaterial:SimpleGlazingSystem U-Factor is inconsistent"
Helpdesk ticket 10120
User notes that WindowMaterial:SimpleGlazingSystem U-Factor maximum is 7.0, but the reported U-Factor in output is never more than 5.828.  ASHRAE Standard 90.1-2007, skylight U value should be 6.64 W/m2K, since the building locates in climate zone 4B and the skylight is with curb.

In the Input Output Reference,

Field: U-Factor
This field describes the value for window syste

[2014-12-23 18:41] mjwitte opened #4644 "Bad humidity data in epw file causing strange heat exchanger output - need to trap and warn?"
Helpdesk ticket 10086
Initial complaint was very high dry-bulb temperatures leaving the supply side of the heat exchanger - higher than the entering dry-bulb on the source side - so physically impossible.  Traced the problem down to bad humidity data in the epw file sending (what appears to be) super saturated air into the HX.  The HX model isn't intended to allow for condensation so it is trying

[2014-12-26 20:05] mjwitte commented on #4615
Helpdesk ticket 9835
I/O Ref and IDD notes are unclear for cooling towers, use of the term "closed-circuit" seems wrong in the IDD notes for CoolingTower:SingleSpeed, CoolingTower:TwoSpeed and CoolingTower:VariableSpeed:Merkel since these are direct-contact wet towers.  Check introductions in the I/O Ref and update IDD and I/O Ref as needed.
- [x] I/O Ref, under CoolingTower:VariableSpeed:Merkel,

[2014-12-26 22:24] mjwitte opened #4646 "User file with adaptive convection zero deltaT warnings in v8.1 has fatal NaN errors in v8.2"
Helpdesk ticket 9833
User asked for an explanation of warnings like this (v8.1)
   ** Warning ** CalcBeausoleilMorrisonMixedAssistedWall: Convection model not evaluated (would divide by zero)
   **   ~~~   ** The temperature difference between surface and air is zero
   **   ~~~   ** Occurs for zone named = ZONE
   **   ~~~   ** Convection surface heat transfer coefficient set to 9.999 [W/m2-K] an

[2014-12-27 13:35] #4497 closed, assigned to nobody

[2014-12-27 14:44] #4619 closed, assigned to nobody

[2014-12-31 14:50] mjwitte opened #4647 "Modify the "IP: Possible incorrect IDD File" error message"
Unmethours Question 2213
https://unmethours.com/question/2213/possible-incorrect-idd-file/?answer=2215#post-id-2215

In these error messages, the suggestion of "Possible incorrect IDD File" is misleading:

Program Version,EnergyPlus-Windows-64 8.1.0.009, YMD=2014.12.30 01:21,IDD_Version 8.1.0.009
   ** Severe  ** IP: IDF line~9077 Object=CONTROLLER:MECHANICALVENTILATION, name=CONTROLLER MECHANICAL

[2014-12-31 17:06] mjwitte opened #4648 "Refrigeration with no ZoneHVAC:EquipmentConnections crash due to no zone air node defined"
Helpdesk Ticket 10149
User added refrigeration to unconditioned zone, crashes while reporting refrigeration equipment to the eio output.  Subscript out of range for Node(NodeNum=0) in line 10796 of RefrigeratedCase.cc

					gio::write( OutputFileInits, Format_103 ) << " Refrigeration Case," + RoundSigDigits( CaseID ) + ',' + RefrigCase( CaseID ).Name + ',' + RefrigCase( CaseID ).ZoneName + ',' + R

[2015-01-02 15:35] nmerket commented on #4558
@EnergyArchmage have you been able to look into this energy balance problem or do you know when you will be able to?

I still maintain that this is a **new and separate issue** from the one addressed here. If it needs resolving (I'm not convinced it's more than a reporting idiosyncrasy) it should be spun off as a new GitHub issue.

[2015-01-05 17:04] mmatts commented on #4586
@mjwitte I tested this on my machine in debug mode and I don't see the problem anymore. Closing this issue.

[2015-01-05 17:04] #4586 closed

[2015-01-05 17:28] Myoldmopar opened #4655 "Check on #4570 artifacts"
After the #4570 pull request went in, there were a couple things to check on still:
 - [x] Example file needs some cleanup in the comments
 - [x] Verify that curve references are in agreement with the big curve cleanup

[2015-01-06 16:05] Myoldmopar opened #4656 "Chillers reporting sizing to eio multiple times"
The chillers are reporting their autosized (and user-sized) values to the eio multiple times.  This should be protected.  Many example files are showing it.  For example, ```ElectricChiller```'s eio file has:

[code]

indicating those chiller sizing lines are repeated verbatim 11 times.

[2015-01-06 16:53] Myoldmopar opened #4657 "Add 8.2.0 IDD to repo"
8.2.0 release IDD needs to be added to the repo in the IDD folder.

[2015-01-08 02:12] mjwitte opened #4659 "HVACTemplate:System:DedicatedOutdoorAir fails with missing setpoint if there is heat recovery with no coils"
Helpdesk ticket 10163
HVACTemplate:System:DedicatedOutdoorAir. The equipment that we choose for the project has only Heat Recovery Type (Enthalpy) without cooling and heating coil. Therefore, in the template, I input cooling coil type and heating coil type as None. It causes severe error.

There is a missing setpoint manager, because the template development did not anticipate a DOAS with no coils

[2015-01-08 23:24] mmatts opened #4660 "Removing unused/mislabeled flow rate fields in GroundHeatExchanger:Vertical"
While working on the NFP for the slinky GHX model, I found that the current GHX model has one field that is mislabeled and another which is not used. The max flow rate variable here: https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/GroundHeatExchangers.cc#L765, is not used and the design flow rate, here; https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/GroundHeatExchang

[2015-01-08 23:29] mmatts commented on #4660
@Myoldmopar I think I have this issue cleaned up here: c0e3dedfe73c6b27c2a9143ce5d170e35b4a739f. I didn't see any diffs on my machine. We'll see what CI comes back with.

[2015-01-09 20:49] DeadParrot opened #4662 "SetupEMSActuator is missing duplicates"
SetupEMSActuator attempts to find duplicate actuators by comparing three identifying strings but a case-sensitive comparison is done between uppercased strings and stored (non-uppercased) strings so the duplicates (if not uppercase in the calling routine) are missed. This bug was carried over from the Fortran by the C++ conversion.

Beyond fixing the string comparison, @mjwitte notes that maybe th

[2015-01-09 20:57] mjwitte commented on #4662
Example file HospitalLowEnergy shows duplicate actuators in the edd output for the chillers (and possibly others).

[2015-01-12 19:36] #4562 closed

[2015-01-12 19:59] Myoldmopar opened #4664 "Deprecated Fields"
There are a moderate number of fields in the IDD that are marked as deprecated.  These need to be cleaned out, which will require docs, idf, idd, and transition changes.

[2015-01-12 20:18] #4239 closed

[2015-01-12 20:18] #4302 closed

[2015-01-12 23:43] nmerket opened #4665 "Heat Pump Water Heater stratified tank energy not balancing"
Looking at the accounting of energy over the course of one day (Jan 14) in the defect file, which is a modified test file to use a stratified tank:

![fig1](https://cloud.githubusercontent.com/assets/5325034/5713341/429d892a-9a78-11e4-9fb9-bc967beb6805.png)

When I total up the following outputs:
 - ZONE4HPWHTANK:Water Heater Heat Loss Energy [J]
 - ZONE4HPWHTANK:Water Heater Source Side Heat Tran

[2015-01-12 23:47] nmerket commented on #4665
Defect file posted to
https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/4000s/4665

[2015-01-13 23:32] mjwitte opened #4666 "User requests an availability schedule for hot water heater source side demand"
Helpdesk ticket 10148
About new option on water heater, I suggest to add a schedule
 allowing water heater to use the source side heating. The idea is
 to authorize or not the water heater to
 heat the water on some hours. A classical usage is to avoid
 heating on peak hours or to load tank only by night.

[2015-01-13 23:33] mjwitte opened #4667 "User suggest that ThermalStorage:ChilledWater:Mixed can be used for hot water as well"
Helpdesk Ticket 10148
By the way, I tried to use the ThermalStorage:ChilledWater:Mixed
 to store hot water and it runs quite fine ! Expect the source side
 charging that doesn't follow my schedule,
 it works. You may probably generalize this item to hot and chilled
 water without much coding.

[2015-01-15 18:32] mjwitte opened #4671 "ZoneEarthtube does not report leaving air humidity ratio and appears to apply outdoor humrat in the zone moisture balance"
Helpdesk ticket 10192
User asked how to report the leaving wet bulb temperature for a ZoneEarthtube object.  Review of the code appears that the leaving humidity ratio is calculated but not saved and not used in the zone moisture balance.  In CalcPredictedHumidityRatio and CorrectZoneHumRat, the earth tube mass flow (EAMFL) is used in a term that sums up infiltration and ventilation mass flow and

[2015-01-15 21:59] mjwitte opened #4672 "AirLoopHVAC:UnitarySystem with heating coil but blank heating supply flow fields does not heat"
Helpdesk ticket 10183
User file appeared to be fine, cooled to setpoint, but would not heat - ever.  Tracked it down to airlfow rate fields all being blank:

AirLoopHVAC:UnitarySystem,
    Air Loop Unitary HeatCool,  !- Name
    Load,                    !- Control Type
    Block1:Zone1,            !- Controlling Zone or Thermostat Location
    None,                    !- Dehumidification Control T

[2015-01-15 22:32] mjwitte opened #4673 "Incorrect PLR basis for SEER calculations"
Helpdesk ticket 10193
From user . . .
StandardRatings.cc lines 1313 (or near)
I've been going through some of these lines for the standard rating calcs and would make the following improvement.
SEER = ( NetCoolingCapAHRI / TotalElecPower ) * PartLoadFactor
However, PartLoadFactor is a function of PLR...and
PartLoadFactor = CurveValue( PLFFPLRCurveIndex, PLRforSEER );
...my improvement suggesting i

[2015-01-16 15:09] mmatts opened #4674 "Duplicate DegToRad in DataGlobals should be removed"
In DataGlobals: https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DataGlobals.cc#L65-66

DegToRad should be removed since it is not used.

[2015-01-16 15:12] mmatts commented on #4674
Fixed here: b0fe8d12d25f029adaa896c369bfdaf98395bf2e

[2015-01-16 15:13] mmatts commented on #4674
@Myoldmopar could you head up the review team to make sure this doesn't break E+?

[2015-01-16 15:13] Myoldmopar commented on #4674
Forget E+, I'm worried about _the internet_...

[2015-01-16 16:57] mjwitte commented on #4578
Turns out this is a duplicate of #4277. Closing.

[2015-01-16 19:05] #4277 closed

[2015-01-16 19:20] #4577 closed

[2015-01-17 02:25] Geof23 opened #4676 "another SolarShading 'contains( i )' assertion violation"
Getting an assertion violation in a few models (re: https://github.com/NREL/EnergyPlus/commit/7489c48b34d78c895fad1b3569b50893f3f400de)

EnergyPlus: /home/gsawaya/dev/ep_git/EnergyPlusTeam/third_party/ObjexxFCL/src/ObjexxFCL/FArray1.hh:1133: T& ObjexxFCL::FArray1< <template-parameter\
-1-1> >::operator()(int) [with T = bool]: Assertion `contains( i )' failed.

Here's a stack trace:

1 in abort of

[2015-01-19 09:08] jeannieboef commented on #4643
My two cents:
I've just opened my WINDOW 7.2 and created an assembly with U-6.143 as follows...

1000 x 1000 mm
Frame: U-6.980 W/m2-K (all round), edge correlation Class 1, from  Arasteh,1989 for frame u-values from 1.9 to 0.4 Btu/(h ft2 ºF), i.e. u-values of up to 11 W/m2-K!!! for an aluminium frame without thermal break.
Uedge: 5.913
Glass: single pane, Ucenter 5.913, SHGC 0.861, from CLEAR_3.DA

[2015-01-20 21:36] nmerket opened #4681 "Performance curves for residential HPWH"
Add default/example performance curves (biquadratic curves for heating capacity and COP) for residential HPWHs. NREL has developed generic performance curves based on [lab testing of three manufacturer’s residential HPWHs](http://www.osti.gov/scitech/biblio/1025650).

[2015-01-20 21:40] nmerket opened #4682 "HPWH/Stratified Tank idd changes"
- [ ] max number of stratified nodes = 12
 - [ ] minimum air inlet temperature = -5 &deg;C
 - [ ] decide on and set a maximum air inlet temperature and enforce it.

[2015-01-20 21:47] nmerket opened #4683 "Wrapped condenser hpwh model"
Rename existing `WaterHeater:HeatPump` to `WaterHeater:HeatPumpPumpedCondenser`. Create a new idf object for residential heat pump water heaters called `WaterHeater:HeatPumpWrappedCondenser`. The new object will be different in the following ways:

 - `WaterHeater:HeatPumpWrappedCondenser` will only be compatible with a `WaterHeater:Stratified` tank (and `WaterHeater:HeatPumpPumpedCondenser` will

[2015-01-20 21:50] nmerket commented on #4682
@ejhw @jmaguire1

[2015-01-20 21:50] nmerket commented on #4683
@ejhw @jmaguire1

[2015-01-20 21:51] nmerket commented on #4681
@ejhw @jmaguire1

[2015-01-20 21:54] jmaguire1 commented on #4682
We can set a hard maximum in the .idd, but we also want to have the maximum air inlet temperature as an input to the WaterHeater:HeatPump object in case the user wants to implement something lower (for example, some manufacturers have 120 F as the max and others have 110 F)

[2015-01-20 22:28] ejhw commented on #4682
Note that changes 2 and 3 above should be made for both PumpedCondenser (mixed tank) and WrappedCondenser (stratified tank) types of HPWH.

[2015-01-21 16:57] #4626 closed

[2015-01-21 18:12] Myoldmopar opened #4685 "Chilled water tank control issue"
The documentation for the chilled water tank implies that the unit should ride through the deadband in a hysteresis fashion, staying on/off through the deadband before switching state.  The model does not appear to do that and instead just rides at one end of the deadband, switching on and off at that end.

I will supply a defect file demonstrating this, and the expected output shortly.

[2015-01-21 18:26] mbadams5 opened #4686 "IDFVersionUpdater error"
I get the following error on Mac OSX 10.9 when attempting to use IDFVersionUpdater...

You can’t open the application “IDFVersionUpdater” because PowerPC applications are no longer supported.

https://www.pivotaltracker.com/story/show/86638582

[2015-01-21 18:36] kbenne commented on #4686
@mbadams5 and @JasonGlazer this might be my problem.  No doubt an installation issue.

[2015-01-21 19:44] JasonGlazer commented on #4686
@kbenne  If you need me to recompile IDFVersionUpdater using different switches, let me know.

[2015-01-22 18:19] Myoldmopar commented on #4683
@nmerket This is the HPWH new feature work, right?  I don't mind if you make GitHub issues for the work, but I also don't mind if you don't.  You can use Pivotal for planning/tracking, and then just create a branch/pull request sooner rather than later to have conversations about specific code.  Whatever works best for you is fine.

[2015-01-22 18:28] nmerket commented on #4683
Yes, this is. Good point. Maybe I’ll do this more in pull request form.

On Jan 22, 2015, at 11:19 AM, Edwin Lee <notifications@github.com<mailto:notifications@github.com>> wrote:

@nmerket<https://github.com/nmerket> This is the HPWH new feature work, right? I don't mind if you make GitHub issues for the work, but I also don't mind if you don't. You can use Pivotal for planning/tracking, and then

[2015-01-22 18:30] Myoldmopar commented on #4683
Whatever works best for you.  I don't want to add any hindrance to productivity without cause.

[2015-01-22 18:43] nmerket commented on #4686
I can second this one. I'm getting the same error on OS X 10.9.

[2015-01-22 21:03] Nigusse opened #4688 "Autosized nominal capacity calculation of electric steam humidifier is incorrect"
Auto-sized nominal capacity calculation of electric steam humidifier is incorrect. Auto-sizing nominal capacity results in huge capacity.

First, the volumetric nominal capacity is determined using density of air, which is not consistent with nominal capacity definition per documentations, as follows:
 NomCapVolDes = MassFlowDes * ( OutletHumRatDes - InletHumRatDes ) / AirDensity;

Then, the mass

[2015-01-23 15:45] DeadParrot commented on #4676
@Geof23 OK, this looks like my goof in a big batch of performance tuning from Oct. I left in a line incrementing NumTooManyFigures that should have been removed:
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SolarShading.cc#L3146

If I don't hear otherwise I'll push the fix to a PR today and it should get into develop soon-ish.

[2015-01-23 16:39] Myoldmopar opened #4691 "Vertical GLHE doesn't seem to put flow on nodes"
The vertical GLHE doesn't appear to be putting its operating mass flow rate on its outlet node.  This is causing an invalid mass flow rate to be reported.

[2015-01-23 16:49] #4691 closed

[2015-01-23 19:05] rraustad opened #4693 "HPWH fan not autosizing"
Previous user file shows correct results after correcting #4558. During verification of these chagnes, the HPWH fan was found to not autosize nor report to the eio file. See defect file #4693 (previously #4455 with these report variables added):
Output:Variable, HPWHDXCoil, Cooling Coil Runtime Fraction, Detailed;
Output:Variable, HPWHDXCoil, Cooling Coil Total Cooling Rate, Detailed;
Output:Varia

[2015-01-23 21:25] mjwitte opened #4694 "FluidCooler:TwoSpeed fatal error with Low Speed Nominal Capacity=autocalculate"
Helpdesk ticket 10205
FluidCooler:TwoSpeed but with a problem. It shows "Low Speed Nominal Capacity" input value is invalid (see below).

************\* Beginning System Sizing Calculations
************\* Beginning Plant Sizing Calculations
*\* Severe *\* FluidCooler:TwoSpeed = "FLUID COOLER", invalid data for "Low Speed Nominal Capacity", entered value <= 0.0, but must be > 0 for Performance Inpu

[2015-01-23 21:56] mjwitte opened #4695 "WaterHeater:HeatPump misleading error message about priority"
Helpdesk ticket 10206
From user post . . .
[code]
Actually, I did put WaterHeater:HeatPump (BLOCK1:ZONE1 HP WATER HEATER) at the lowest priority than all other equipment types in ZoneHVAC:EquipmentList (please refer to below extract of idf file).
[code]
----------------------------------
The error message can be worded more clearly to specify that the heat pump water heater should have heating and

[2015-01-26 21:31] #4338 closed

[2015-01-27 19:55] macumber opened #4697 "Build flags don't work when using Intel compiler on Linux"
Hit this when building on Peregrine at NREL:

Scanning dependencies of target sqlite
[  1%] Building C object third_party/SQLite/CMakeFiles/sqlite.dir/sqlite3.c.o
icc: error #10236: File not found:  '/Qdiag-disable:1786,2259'
icc: error #10236: File not found:  '/DVC_EXTRALEAN'
icc: error #10236: File not found:  '/DWIN32_LEAN_AND_MEAN'
icc: error #10236: File not found:  '/DNOMINMAX'
icc: error #

[2015-01-27 19:59] macumber commented on #4697
Also might want to set these properties on the EnergyPlus target

http://www.cmake.org/cmake/help/v3.1/prop_tgt/CXX_STANDARD.html
http://www.cmake.org/cmake/help/v3.1/prop_tgt/CXX_STANDARD_REQUIRED.html

[2015-01-27 22:07] nmerket commented on #4683
As @Myoldmopar pointed out this might be easier to do from a pull request, so we'll be having this conversation over at #4698 instead.

[2015-01-27 22:07] #4683 closed

[2015-01-27 22:17] nmerket commented on #4682
Combining into pull request #4698

[2015-01-27 22:17] #4682 closed

[2015-01-27 22:19] nmerket commented on #4681
Added to pull request #4698

[2015-01-27 22:19] #4681 closed

[2015-01-27 22:38] Myoldmopar commented on #4685
Taking the 5ZoneVAV-ChilledWaterStorage-Mixed example file, and running annual, the tank never seems to get to the top of the deadband.  It goes **into** the deadband, but does not ride it all the way through.  Here is a sampling.

![image](https://cloud.githubusercontent.com/assets/849824/5928707/728f89bc-a63a-11e4-94d4-2787b46216a9.png)

This isn't conclusive yet, as that particular example file

[2015-01-28 04:10] MatthewSteen commented on #4588
@mjwitte - I would also like to submit an issue for the LEED EAp2-4/5 Table, would you prefer that I combine here for general LEED output improvements or submit a new issue?

LEED Table EAp2-4/5 should be changed to report the absolute peak demand by end use instead of the peak demand relative to the building peak. This is what USGBC/GBCI reviewers look for to calculate full load equivalent hours

[2015-01-28 19:01] lgu1234 commented on #4563
The bug was fixed on 1/22/15.I am going to make a pull request

[2015-01-28 20:47] Myoldmopar opened #4700 "Idd errors popping up"
They popped up randomly in the CLI branch, and now they are appearing in develop with the CLI branch merged in.  The errors are seen [here](https://nrel.github.io/EnergyPlusBuildResults/EnergyPlus-adb310b7db0b5add4e930d9fad75dced9ac22c04-x86_64-Linux-Ubuntu-14.04-gcc-4.8-IntegrationCoverage-Debug.html)  Basically the error message is:

[code]

It seems super random, and @kbenne was brainstorming t

[2015-01-28 20:53] kbenne commented on #4700
is that "energyplus-8.2.8+" supposed to be there?

[2015-01-28 21:19] nealkruis commented on #4700
All of the parent directories are given weird characters at the end:
- `energyplus-8.2.8+`
- `energyplus-8.2.8|`
- `energyplus-8.2.8[NON-XML-CHAR-0x12]`
- `energyplus-8.2.8 ` <- trailing space

@mbadams5 is this possibly related to the extra path character you were showing me yesterday?

[2015-01-28 21:22] nealkruis commented on #4700
This also only happens for the integration coverage tests. It could be a problem on the CI side. @lefticus any thoughts?

[2015-01-29 14:47] JasonGlazer commented on #4631
@DeadParrot @Myoldmopar Any hints on diagnosing this assertion failure:

EnergyPlus Starting
EnergyPlus, Version 8.2.8-adb310b7db, YMD=2015.01.29 08:44
Processing Data Dictionary
Processing Input File
Initializing Simulation
Reporting Surfaces
Assertion failed: contains( i ), file I:\epRepo\EnergyPlus\third_party\ObjexxFCL\src\ObjexxFCL/FArray1.hh, line 1133

[2015-01-29 14:54] mjwitte commented on #4631
@JasonGlazer My approach is to comments out these lines in EnergyPlusPgm.cc

//#ifdef _WIN32
//	SetErrorMode(SEM_NOGPFAULTERRORBOX);
//	_CrtSetReportMode(_CRT_ASSERT, _CRTDBG_MODE_DEBUG);
//	_CrtSetReportMode(_CRT_ERROR, _CRTDBG_MODE_DEBUG);
#//endif

This restores the crash/debug dialog box.  Rebuild, then run in debug mode and when this comes up hit the ??? button and then tell it to break and y

[2015-01-29 14:55] Myoldmopar commented on #4631
That's usually when I run it in a debugger and run it until it gets there then look back at the stack trace to see where it actually went awry.

[2015-01-29 14:57] mjwitte commented on #4631
@Myoldmopar On Windows because we took away the popup crash dialog, even in the VS debugger, it just reports the assertion failure and exits, so without the change I noted above, you can't get the stack trace.

[2015-01-29 15:22] JasonGlazer commented on #4631
@mjwitte Thanks, commenting out the specific assertion worked too so that I could get a call stack

[2015-01-29 15:28] mjwitte commented on #4631
@JasonGlazer But how do you know you're there at the time the assertion failed?

[2015-01-29 16:02] JasonGlazer commented on #4631
I guess I don't know for sure but the file crashes when it is commented out.

[2015-01-29 16:36] EnergyArchmage commented on #4631
oh fantastic, thank you mike for this trick.    I have been cursing crashes at FArray1.hh line 1133 to no end and never found a way to get any information about it in the VS debugger.  This should be a big timesaver.

[2015-01-29 16:43] kbenne commented on #4631
@JasonGlazer

"This restores the crash/debug dialog box. Rebuild, then run in debug mode and when this comes up hit the ??? button and then tell it to break and you'll get the call stack to find out where the bad array index is coming from."

I believe I added the lines you are referring to in response to Mike asking for the program to fail without launching a dialog.  In support of batch scripts

[2015-01-29 16:48] lgu1234 commented on #4631
Mike:

Is it possible that we can open the popup crash dialog on my local code?

Thanks.

Gu

From: Michael J. Witte [mailto:notifications@github.com]
Sent: Thursday, January 29, 2015 9:57 AM
To: NREL/EnergyPlus
Subject: Re: [EnergyPlus] Meter:Custom crash with mismatched resource type (#4631)

@Myoldmopar <https://github.com/Myoldmopar>  On Windows because we took away the popup crash dialog, eve

[2015-01-29 16:55] DeadParrot commented on #4631
@kbenne I concur on enabling the dialog in a debug build if that is necessary for VS to give a backtrace. The error dialogs can be disabled in Windows separately.

For gdb the trick is to do a `break _assert` (or whatever the assert macro is defined to in that version of g++), run the debug build to the assert fail point, and then do `bt` to get the backtrace.

@EnergyArchmage if you have further

[2015-01-29 17:16] mjwitte commented on #4631
@kbenne I say yes, please.  When I asked for the dialog to be suppressed, I did not understand the ramifications in the VS debugger.

[2015-01-29 17:17] kbenne commented on #4631
I don't think I did either.

[2015-01-29 20:39] rraustad opened #4702 "AirloopHVAC:UnitarySystem autosizing incorrect for heating only systems when using FlowPerHeatingCapacity"
Cut-n-paste error in HVACUnitarySystem::SizeUnitarySystem subroutine:
(these would probably crash the program)

if ( UnitarySystem( UnitarySysNum ).RequestAutoSize ) {
if ( CurOASysNum > 0 ) {
<snip>
   } else if ( UnitarySystem( UnitarySysNum ).HeatCoilExists && ! UnitarySystem( UnitarySysNum ).CoolCoilExists ) {
<snip>
	} else if ( SELECT_CASE_var == FlowPerHeatingCapacity ) {
               <sn

[2015-01-29 20:40] rraustad commented on #4702
Workaround:
Use heating and cooling system with cooling system scheduled off.

[2015-01-30 14:38] mjwitte commented on #4588
@MatthewSteen It's OK to add the second issue here.  We need defect file(s) that show the problems.  Do you have write permission to EnergyPlusDevSupport?  If so, put the idf files in EnergyPlusDevSupport\DefectFiles\4000s\4588  If not, just e-mail them to me and I will put them up.

[2015-01-30 21:11] #4578 closed

[2015-01-31 13:59] mjwitte commented on #3331
@wfbuhl Is this issue (from 2010) being addressed with your current sizing work?

[2015-02-01 20:33] #4604 closed

[2015-02-02 13:02] rraustad opened #4706 "VRF example file, VariableRefrigerantFlow_5Zone, not showing OA in outdoor air summary in html file."

[2015-02-02 13:06] rraustad commented on #4706
@mjwitte do you get notified when I post an issue?

[2015-02-02 13:19] rraustad commented on #4706
I don't see VRF in the list of equipment types at line 3995 in SystemReports.cc

// first deal with any (and all) Zone Forced Air Units that might have outside air.
<snip>
if ( SELECT_CASE_var == WindowAC_Num ) { // Window Air Conditioner
} else if ( ( SELECT_CASE_var == PkgTermHPAirToAir_Num ) || ( SELECT_CASE_var == PkgTermACAirToAir_Num ) || ( SELECT_CASE_var == PkgTermHPWaterToAir_Num ) ) {
}

[2015-02-02 13:29] mjwitte commented on #4706
@rraustad Any kind of block like that is a problem when new equipment is added - because how does a developer know it's there?

[2015-02-02 15:18] rraustad commented on #4706
Maybe I should add else if's for all zone equipment types and then a final else that fatals out?  A developer would have to include their equipment one way or another.

[2015-02-02 15:21] mjwitte commented on #4706
@rraustad That might be OK, but that becomes a line of dead code that never gets touched under normal circumstances.  @Myoldmopar We had a discussion about this type of internal developer check, but I don't remember what we concluded - some type of assert?

[2015-02-02 15:50] rraustad commented on #4706
@Myoldmopar see https://github.com/NREL/EnergyPlus/pull/4707/files

[2015-02-02 16:10] #4676 closed

[2015-02-02 18:48] MatthewSteen opened #4708 "OutputVariables missing from EMS Sensor A3 Field"
Working on a 8.2 IDF I noticed that the OutputVariables listed in the RDD file are not listed in the *Output:Variable or Output:Meter Name* drop-down field which only shows the OutputMeter names listed in the MDD file.

[2015-02-02 19:00] mjwitte commented on #4708
@MatthewSteen Thanks.  This needs an IDD change.
From
  A3 ; \field Output:Variable or Output:Meter Name
       \required-field
       \type external-list
       \external-list autoRDDvariable
       \external-list autoRDDmeter

to
  A3 ; \field Output:Variable or Output:Meter Name
       \required-field
       \type external-list
       \external-list autoRDDvariableMeter

[2015-02-02 19:09] MatthewSteen commented on #4708
Thanks that worked. Is there a way to also display meters or is this field destined for a change to a string input?

[2015-02-02 19:14] mjwitte commented on #4708
@MatthewSteen That change should display both variables and meters.  Same as for Output:Table:Timebins  Or am I misunderstanding your question?

[2015-02-02 19:18] MatthewSteen commented on #4708
No, that did it, just missed seeing the meter names on my first pass/search. Thanks!

[2015-02-02 19:47] MatthewSteen opened #4709 "Suggestion: Add Additional Options for EMS:OutputVariable Field A3"
It would be helpful to add all the options for the **Type of Data in Variable** field to for example enable reporting of peak demand by end use instead of limiting to Averaged and Summed data.

Similar to the options available for the **Aggregation Type for Variable or Meter** field in the `Output:Table:Monthly` object.

[2015-02-02 23:04] EnergyArchmage commented on #4709
Sorry, this is not clear to me.  Those other options generally involve relationships between two variables and don't really apply to just one.  The aggregations involved here are for detailed, timestep, hourly, daily, monthly, runperiod timeseries reporting intervals.

If I understand the question behind this, the solution is to use both Output:Table:Monthly and the EnergyManagementSystem:OutputVa

[2015-02-03 14:53] MatthewSteen commented on #4588
**Table EAp2-4/5**
Should be changed to report the absolute peak demand by end use instead of the peak demand relative to the building peak. This is what USGBC/GBCI reviewers look for to calculate full load equivalent hours by end use.

Moved to #5559

[2015-02-03 15:41] #4563 closed

[2015-02-03 18:07] Myoldmopar commented on #4685
OK, so I changed the test file so that the source (charging) side is _always_ available.  The tank should still float in the deadband, this change just means it is able to request flow whenever it needs to.  The tank simply shouldn't need to unless it is leaving the deadband.  Unfortunately this isn't happening:

![image](https://cloud.githubusercontent.com/assets/849824/6026087/cc81d6dc-ab94-11e4

[2015-02-03 19:05] Myoldmopar commented on #4685
Seems like we should be hitting [this line](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/WaterThermalTanks.cc#L7518) during a major portion of this run so that the tank will float up.  (Setpoint is 7.5, deadband is 2.5)

Digging in now to figure out why it's not hitting this line.

[2015-02-03 19:34] Myoldmopar opened #4710 "Ice storage example file performance curve lower limit"
A user has indicated that the example files for ice storage include chiller performance curves that don't go down low enough on the lower limit.  This should be:
- [ ] verified,
- [ ] understood as to why it is so,
- [ ] researched to determine if the limits are OK to go lower without changing the curve coefficients, and
- [ ] updated if needed to a better curve fit

I'll get things started by ver

[2015-02-03 19:39] mjwitte commented on #4710
@Myoldmopar Max/Min limits on curve inputs are dangerous.  Yes, they protect against exercising a curve in flaky territory, but they silently clip conditions and allow equipment to falsely operate at the clipped condition when, for example, condenser water temps may be sky high.  From my perspective, they shouldn't be used at all.  Limits on output are far better to protect against a wild curve.

[2015-02-03 19:45] mjwitte opened #4711 "Fan:ZoneExhaust Balanced Exhaust Fraction causing negative zone air mass balance"
Original complaint from users:

The following summary looks at something strange regarding an exhaust fan object impacting a zone’s moisture balance. To isolate this strange behavior, we looked at a single design day with a constant ambient 100°F dry-bulb and 77°F dewpoint in Miami. The figures below are based on outputs at the timestep level (not averaged for the hour). Note that we are simulatin

[2015-02-03 19:47] Myoldmopar commented on #4710
Thanks for starting off the conversation @mjwitte!  That's helpful.  I guess I don't have enough data yet to argue either way.  I've been told for so long that extrapolation is evil, but using a curve at the wrong point is certainly just as bad.

For this particular issue, I'm specifically going to try to figure out whether the curves used in the ice storage example(s) are able to go lower and the

[2015-02-03 19:51] Myoldmopar commented on #4711
@mjwitte, glancing through, I didn't see Figures 1 and 2.

[2015-02-03 19:54] mjwitte commented on #4711
@Myoldmopar Sorry - copied a paragraph and decided the figures weren't needed.  Will edit.

[2015-02-03 19:55] mjwitte commented on #4711
![image](https://cloud.githubusercontent.com/assets/4991075/6028079/54fd92c8-abac-11e4-8224-3e59f68480c7.png)
Figure 1. With Exhaust Object

[2015-02-03 19:56] mjwitte commented on #4711
![image](https://cloud.githubusercontent.com/assets/4991075/6028087/631e9bcc-abac-11e4-9da3-7b0b9a8aa9b0.png)
Figure 2. No Exhaust Object

[2015-02-03 20:09] mjwitte commented on #4711
Defect files are up in Devsupport.  These run with Miami TMY3.  Also need to cover some other cases - such as when the exhaust flow is greater than the min OA.  Without balancing, this should cause the OA flow to increase to match (as long as exhaust flow is not > max OA).  Then need another case where exhaust flow exceeds max OA and generates unbalanced exhaust flow warnings.  Then these two case

[2015-02-03 21:36] Myoldmopar commented on #4685
Initial testing didn't reveal an immediate fix.  A couple notes that might change as I dig in deeper and understand it better:
- Seems that the chilled water tank only goes into float mode if the tank is _below_ the setpoint temperature (see [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/WaterThermalTanks.cc#L5271)).  I'm not assuming this is a bug yet, just me still getting

[2015-02-03 21:39] EnergyArchmage commented on #4710
Well virtually all curves in use are not really broad enough and not many folks don't seem to know or care.
I agree that the silent clipping of input into curves is a problem.   But since input data ranges in general are so constrained such warnings would become ever-present.
To inform some curve development, I just happened to be working up some custom EMS reporting to generate min/max ranges for

[2015-02-03 22:50] Myoldmopar commented on #4685
A little confused; [this line](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/WaterThermalTanks.cc#L5275) isn't hit during a debugging session all the way through the design days, even though the tank is a chilled water tank, the tank temperature is clearly below the deadband temperature, the tank mode _should_ be either float or cool, time remaining should be > 0, and this _is_ a

[2015-02-04 19:45] lklawrie opened #4714 "Rainfall in EnergyPlus"
There are three methods dealing with rainfall/liquid precipitation in EnergyPlus:
1) liquid precipitation amounts on the epw files (for older files, uses present weather and a set of 3mm - as I remember)
2) Site:Precipitation object
3) RoofIrrigation (for Ecoroof). - Irrigation is not exactly rainfall but perhaps should be integrated.

Site:Precipitation is used in the WaterUse:RainCollector objec

[2015-02-05 21:42] #4405 closed

[2015-02-06 15:02] Myoldmopar opened #4718 "Version error message"
I was running a slightly out-of-date defect file with current code and got this error:
[code]
Right.

[2015-02-06 15:08] mjwitte commented on #4285
@wfbuhl @rraustad @EnergyArchmage @Myoldmopar I'm struggling to find a fix for this.
The user file has a VAV air handler with about 20 zones on it.  During the summer months, most of the VAV terminal units are scheduled off, and only one or two terminal units are supposed to be active.  The VAV terminal units check their schedule only on the first hvac  iteration and sets max/min available to zero

[2015-02-06 15:26] kbenne commented on #4718
No doubt gremlins of the third digit gaining significance.

[2015-02-06 15:47] rraustad commented on #4285
These lines look suspicious, especially if there are multiple iterations.

line 1680 SingleDuct
         //Do a check and make sure that the max and min
available(control) flow is
         //  between the physical max and min while operating.
         SysInlet( SysNum ).AirMassFlowRateMaxAvail = min( Sys( SysNum
).AirMassFlowRateMax, Node( InletNode ).MassFlowRateMaxAvail );
         SysInlet( Sys

[2015-02-06 17:41] mjwitte opened #4719 "1ZoneDataCenterCRAC_wPumpedDXCoolingCoil.idf fails with SetupZoneInternalGain: developer error"
Helpdesk ticket 10233
1ZoneDataCenterCRAC_wPumpedDXCoolingCoil.idf fails with v8.2.7

   ** Severe  ** SetupZoneInternalGain: developer error, trapped inconsistent internal gains object types sent to SetupZoneInternalGain
   **   ~~~   ** Object type character = ElectricEquipment:ITE:AirCooled
   **   ~~~   ** Type of Num object name = ELECTRICEQUIPMENT

The file has run before in the ITE developm

[2015-02-09 16:01] mjwitte commented on #4708
@MatthewSteen Are you planning to make a branch to fix this, or shall I?

[2015-02-09 16:03] mjwitte commented on #4700
@Myoldmopar This can be closed, correct?

[2015-02-09 16:04] Myoldmopar commented on #4700
Yes, thanks.

On Mon, Feb 9, 2015 at 9:03 AM, Michael J. Witte <notifications@github.com>
wrote:

--
Edwin Lee, PhD
Engineer, Commercial Buildings Research Staff
National Renewable Energy Laboratory

[2015-02-09 16:10] #4700 closed

[2015-02-09 16:27] MatthewSteen commented on #4708
@mjwitte I'll give it a shot.

[2015-02-09 22:24] mjwitte commented on #4317
Helpdesk ticket 10236 user file appears to be crashing due to the same issue.  LKL notes:
IN V8.1, this is happening at line 1766 of HB HamtManager. The temperature is -273.72 (kelvin conv is 273.15) so, it's trying to take a negative number to a power (.81), It is cell 57879.

User file added as a defect file for this issue.

[2015-02-09 23:41] mjwitte opened #4720 "InitVentilatedSlab Initialize total areas - for loop looks wrong"
For loop here https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/VentilatedSlab.cc#L1158

// Initialize total areas for all radiant systems
			for ( RadNum = 1; RadNum <= NumOfVentSlabs; ++RadNum ) {
				VentSlab( Item ).TotalSurfaceArea = 0.0;
				for ( SurfNum = 1; SurfNum <= VentSlab( Item ).NumOfSurfaces; ++SurfNum ) {
					VentSlab( Item ).TotalSurfaceArea += Surface( VentSlab( It

[2015-02-09 23:55] mjwitte commented on #4720
Similar loops for low temp radiant systems confirm the suggested fix.

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/LowTempRadiantSystem.cc#L1514

Good news is that .TotalSurfaceArea is never used for ventilated slabs.  So, keep it for future use?  Or delete this loop and the variable altogether?

[2015-02-10 13:24] JasonGlazer commented on #4589
Accepted as fixed on February 5, 2015

[2015-02-10 13:24] #4589 closed

[2015-02-10 22:17] Myoldmopar opened #4722 "gfortran Linux package"
On a fresh Ubuntu 8.2, user @nllong found that the libgfortran dependency was unmet.  Installing gfortran remedied it, but it should be fixed.  Google indicates that gfortran has trouble making actual static binaries on Ubuntu, so @kbenne said packaging the runtime shouldn't be too hard.

[2015-02-10 22:23] Myoldmopar commented on #4378
Closed via #4689

[2015-02-11 13:20] #4378 closed

[2015-02-11 13:34] nxtruong commented on #4686
Same error. I think you need to recompile it for x86 instead of ppc.

[2015-02-11 15:11] #4631 closed

[2015-02-11 19:36] EnergyArchmage commented on #3986
I have seen this in the test suite and noticed that my curren rewrite of plant sizings corrected a sizing problem.  This should be fixed by plant coincident sizing feature

[2015-02-12 14:33] #4620 closed

[2015-02-12 15:18] #4659 closed

[2015-02-12 16:27] #4708 closed

[2015-02-12 20:06] mjwitte opened #4723 "Zone sizing plus ICS solar collector crash due to unallocated collector data"
Helpdesk ticket 10273
User file crashes when zone sizing is active, because the collectors have not been gotten when CalcPassiveExteriorBaffleGap is called.

[2015-02-12 20:11] Myoldmopar opened #4724 "Packaging fails to find idd"
The CLI change of the idd location seems to have broken ```make package```.

CMake Error at /home/elee/EnergyPlus/GitHub/EnergyPlusTeamBranch2/builds/doctools/d/cmake_install.cmake:40 (file):
  file INSTALL cannot find
  ".../builds/doctools/d/Energy+.idd".

Just need to add Products/ in there.

@nealkruis @kbenne @lefticus

[2015-02-12 20:20] mjwitte commented on #4724
@Myoldmopar Or can we put the IDD back where it used to be?

[2015-02-12 20:22] Myoldmopar commented on #4724
@mjwitte I have no preference.  I'm not sure what the driving force was behind moving it into Products/.  @nealkruis?

[2015-02-12 20:27] mjwitte commented on #4724
Or if it must stay in Products, can we get cmake to set the windows VS target directory for debug to Products/?  @kbenne

[2015-02-12 20:32] nealkruis commented on #4724
The CLI expects the IDD to be in the same directory as the executable by default. It is convenient to have the build structure reflect the install structure as close as possible for the sake of CI testing.

[2015-02-12 20:34] kbenne commented on #4724
@nealkruis the thing is that IDEs produce a subdirectory Default / Release under products so you might not be positioning the IDD next to the EXE.  I thought we discussed this and I the tests were and are passing so I didn't worry any more about it.

[2015-02-12 20:34] mjwitte commented on #4724
@nealkruis But it's not in the same directory.  IDD lands in \Products.  And the executables are in \Products\debug or release

[2015-02-12 20:37] kbenne commented on #4724
@mjwitte it is probably possible to put the idd under debug / release but it is tricky because in IDEs that determination is made at compile time not configure time.  http://www.cmake.org/cmake/help/v3.1/command/add_custom_command.html can use "generator expressions" to account for this.  I'll see about working that up if this is what you all want.

[2015-02-12 20:41] nealkruis commented on #4724
I recall addressing this problem already. I'm trying to track down what went wrong.

[2015-02-12 20:41] Myoldmopar commented on #4724
But you wouldn't want the idd in debug/release either, right?  The "Current working directory" when you hit debug in Visual Studio is going to be the base <cmake_build_dir>, isn't it?  Whether it is in Products/ or Products/Debug/, you would still have to add command line switches to the debugger to have it find the right one.

[2015-02-12 20:49] mjwitte commented on #4724
I liked it where it was.  But I already had to customize some run scripts previously to run a freshly compile EnergyPlus, because I didn't have all the pieces all in the same place.  Neither of the options we're discussing here make it like an install folder.  But my scripts got broken when the IDD moved (well, not really, because some old IDD kept sitting there and I didn't realize I wasn't using

[2015-02-12 22:40] nealkruis commented on #4724
Ok. Turns out my [fix](https://github.com/NREL/EnergyPlus/blob/develop/cmake/RunSimulation.cmake#L23) wasn't as ideal, and only fixed the problem through CTest. I was playing around with generator expressions in CMake but never arrived at a great solution.

My preference would be to get the IDD in the executable directory ("Products" for command line builds, configuration directory for IDE builds)

[2015-02-13 14:32] #4272 closed

[2015-02-13 17:08] mjwitte commented on #4724
I'm not sure it's good to have it show up in different places depending on the build method.  But I'll let you and @Myoldmopar and @kbenne figure this out.  Another question for all of you, including @nealkruis   When I first tried to run a debugger session with the new CLI code in place, it wasn't finding the IDD and so it would start, throw a message in the output window and exit immediately.  I

[2015-02-13 17:27] kbenne commented on #4724
Based on how the program works now, that it expects idd next to executable, it seems like using the config (debug / release) sub directory is wise since that is where the executable will be.  Unless there are strong objections I will try to make that happen.  In an installed environment I don't think this is the best thing.  Windows platform aside, resources next to executables breaks convention.

[2015-02-13 18:10] nealkruis commented on #4724
@mjwitte errors related to missing input files (IDF, EPW, or IDD) are printed to stdout. Printing to stdout or stderr is standard for command line programs. You can change your shell scripts to pipe the stdout to a file if you want to see what went wrong.

[2015-02-13 20:03] mjwitte commented on #4724
@kbenne After some digging I found how to enter command line arguments to be used in the VS interactive debugger, if it's necessary as a last resort we'll need to add it to the readme instructions.  But the CLI was supposed to be transparent so I could still do everything the same without any arguments.

@nealkruis DisplayString messages go to standard output, but I haven't figured out how to get

[2015-02-13 20:24] nealkruis commented on #4724
@mjwitte the calls to ShowFatalError occur after the ERR file name has been set, so everything should be fine.
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CommandLineInterface.cc#L300

If you want to pipe your stdout to a file, you can follow the directions here:
http://stackoverflow.com/questions/2683249/redirect-stdout-and-stderr-to-the-output-debug-console-of-microsoft-visual

[2015-02-13 20:37] kbenne commented on #4724
https://github.com/NREL/EnergyPlus/commit/0fed1ff0b265feafcd7334c571cab9a9d04c305a

[2015-02-13 20:43] mjwitte commented on #4724
@nealkruis Ok - I see the first call to showfatalerror opens the err file.  So, would you object to adding a call to ShowFatalError before every exit(EXIT_FAILURE); in CommandLineInterface?   At least the ones that occur after the ERR file name has been set?

[2015-02-13 21:05] mbadams5 commented on #4724
@nealkruis I just noticed this and it is a random question, why use exit()? I don't think exit() would have any negative effects in this case but I haven't looked hard. This also isn't related to the IDD issue.

this is just the first example.. https://github.com/NREL/EnergyPlus/blob/7f48b257316191c67239136685b46bc00cae213b/src/EnergyPlus/CommandLineInterface.cc#L148

https://stackoverflow.com/que

[2015-02-13 21:09] nealkruis commented on #4724
@mbadams5 This is the same strategy we are using for fatal errors. What are the alternatives? Returns won't work since we are not in main().

[2015-02-13 21:13] mbadams5 commented on #4724
@nealkruis You could propagate the return up to main()... Your ProcessArgs returns int and is called from main(). But I haven't looked hard or thought hard about this. I just off hand noticed. I'll try to look into it this weekend and maybe talk with you outside of this thread.

[2015-02-13 21:17] nealkruis commented on #4724
@mjwitte I can certainly add fatal errors anywhere after the ERR name has been set. My thinking is that the errors prior are all related to issues with misuse of the command line interface, and not necessarily EnergyPlus itself. I am going for consistency - CLI errors print only to stdout, EnergyPlus errors print to ERR.

There are nuances related to what the CLI knows about the error file before

[2015-02-17 00:48] rraustad opened #4730 "AirloopHVAC:UnitarySystem using single speed DX coil and constant fan mode shows air flow errors"
DX coil or HX assisted DX coil show "Air volume flow rate per watt of rated total cooling capacity is out of range" errors when operating mode is constant fan.

[2015-02-17 16:49] kbenne opened #4733 "LTO / PGO commands are out of date with respect to current target names"
The optimized build commands located in top level CMakeLists.txt are out of date.  They use camel case target names which no longer exist after reintegration of CLI.

[2015-02-18 16:34] JasonGlazer opened #4734 "Add a warmup flag as a built in variable to EMS"
Some dynamic controls that would be simulated in EMS (especially those based on using random numbers) cause convergence errors in if they are part of the warmup period. Adding a flag variable to indicate when warmup is happening would allow EMS controls to behave in a simpler way during warmup and possibly avoid convergence errors.

[2015-02-18 16:41] EnergyArchmage commented on #4734
I can take this one.  2 second job.

[2015-02-18 17:08] JasonGlazer commented on #4734
Can think of any other EnergyPlus internal variables that would make sense to expose to EMS users?

[2015-02-18 17:41] rraustad commented on #4730
Fix merged with develop by L. Gu 2/17/2014
https://github.com/NREL/EnergyPlus/pull/4731

[2015-02-18 17:41] #4730 closed

[2015-02-18 17:46] rraustad commented on #4599
@mjwitte merged to develop on 2/1/2015
https://github.com/NREL/EnergyPlus/pull/4642

[2015-02-18 17:46] #4599 closed

[2015-02-18 18:30] lgu1234 commented on #4581
The bug is fixed. No more crash. The output file also shows contaminant values.
 No differences were found by running 4 example input files with contaminant simulations.
A pull request was created a while ago.

[2015-02-18 18:58] lgu1234 opened #4736 "AFN horizontal openings still dont seem to work"
Ticket 9957.

A user could run the input. A workaround was provided. Further investigation is needed.

[2015-02-19 13:57] JasonGlazer opened #4737 "Add a tabular report that shows energy consumption by component"
We should add a tabular report that reports out the annual electric and natural gas (or other fossil fuel) consumption of each and every component/object organized by meter. We already have the "Energy Meter" report that shows this by meter but it would be good to go the next step and see a report that shows all individual annual energy consumption of the components that are on each meter (each fa

[2015-02-19 14:25] rraustad opened #4738 "AirLoopHVAC:UnitarySystem - sensible part-load ratio calculation failed warning with gas or electric heating coil using set point based control"
RegulaFalsi routine needs to pass coil load for proper convergence

In UnitarySystem:GasElecHeatingCoilResidual:

SimulateHeatingCoilComponents( UnitarySystem( UnitarySysNum ).HeatingCoilName, FirstHVACIteration, _, UnitarySystem( UnitarySysNum ).HeatingCoilIndex, _, _, FanOpMode, PartLoadFrac );

should be changed to:

CoilLoad = UnitarySystem( UnitarySysNum ).DesignHeatingCapacity * PartLoadFrac

[2015-02-20 02:43] DeadParrot commented on #4697
I shared a revised CMake compiler flags file with @kbenne that supports Intel C++ on Linux.

As for the sqlite3 warnings, that code has some weaknesses but seems to work so I wouldn't worry about it.

[2015-02-20 14:45] rraustad commented on #4706
@Myoldmopar merged on 2/20/2015.
https://github.com/NREL/EnergyPlus/pull/4707#event-239140960

[2015-02-20 14:45] #4706 closed

[2015-02-20 20:20] kbenne opened #4741 "Unit tests are difficult to debug"
Unit tests are difficult to debug because the test runner traps assertions and exceptions and continues on instead of stopping and unwinding the stack.  This is good for automated tests, but not so good for developers who are debugging.  Please add a configure option to control this behavior.

[2015-02-20 21:28] EnergyArchmage commented on #4734
completed this and made a pull request on branch 4743-EMS-warmup-flag.  I don't know what to do with the word doc snippet that accompanys code change.

[2015-02-20 21:33] JasonGlazer commented on #4734
Docs go in:

https://github.com/NREL/EnergyPlusBuildSupport/tree/master/docs/src/mods/for_2015_03_release

[2015-02-23 10:53] jeannieboef commented on #4673
Update to comments:

1)  Cd is not calculated as per 3.5.3 of AHRI 210/240 (dry coil tests). The default value is also not used for when these tests are not conducted. Instead, the degradation is calculated from the model’s PLF(PLR) curve.

2) The code enters the PLR in to the PLF(PLR) equation where PLR = Part Load / Total Load, but the PLF(PLR) curve requires sensiblePartLoad/TotalSensiblePartLo

[2015-02-23 11:21] jeannieboef commented on #4546
Please also check/consider that the datasets curves for dx coils is consistant in this manner.

[2015-02-23 17:58] kbenne opened #4746 "LTO is not working on Linux"
fails with linker error.

[2015-02-23 18:52] #4733 closed

[2015-02-23 19:35] Myoldmopar opened #4747 "Need to change Sizing:System IDD default"
The IDD choice for the following needs to be changed to default to OnOff, and the Transition tool needs to re-run.

A11; \Central Cooling Capacity Control Method
      \note Method used to control the coil's output
      \type choice
      \key VAV
      \key Bypass
      \key VT
      \key OnOff
      \default VAV

[2015-02-23 19:36] Myoldmopar commented on #4747
Note this will likely cause minor diffs similar to those that were accepted when #4635 was merged.

[2015-02-23 19:47] mjwitte commented on #4747
@Myoldmopar But I thought @wfbuhl said it wouldn't change anything.  I'm confused.  Do we really want to change this?  And my whole question was whether HVACTemplate should be writing something other than VAV for all of these (which is what it currently will do, write VAV).

[2015-02-23 19:49] Myoldmopar commented on #4747
I took that to mean that if we had used OnOff as the default from the beginning, we wouldn't have actually been seeing all those tiny diffs.  And then changing it and re-transitioning would "undo" those diffs.  Maybe I misinterpreted.

@wfbuhl?

[2015-02-23 20:22] wfbuhl commented on #4747
"OnOff" will reproduce our old calculation: that is, use the peak system
air flow rate to size the cooling coil. "VAV" uses the air flow rate at the
at the central cooling coil peak load to size the coil. Using "OnOff" as
the default will mean that there are no diffs. But I don't see what the
issue is with diffs: it is not as if we are trying to make every upgrade
give the same results as previous

[2015-02-23 20:37] mjwitte commented on #4747
@wfbuhl So, for a constant volume system, wouldn't these two options produce the same result?  And we should think about the naming of OnOff vs ConstantVolume.  I don't recall the initial discussions of where the OnOff name came from.

[2015-02-23 22:13] MatthewSteen commented on #4588
@JasonGlazer I don't have write permission to EnergyPlusDevSupport, but can send IDFs to your Gard.com address if needed.

[2015-02-23 22:22] #4741 closed

[2015-02-23 22:22] wfbuhl commented on #4747
These options are for sizing. You are telling the system sizing calculation
what kind of system you have. Then it uses that info to size the coil.

There are not many constant volume reheat systems around anymore. There are
more cycling system, it seems to me. If you want to change it to CV, that's
fine with me. There would be a few lines of code to change.

Fred

On Mon, Feb 23, 2015 at 12:37 PM,

[2015-02-23 23:02] mjwitte commented on #4747
@wfbuhl No, I'm fine with the OnOff terminology, just trying to understand the nuances.  Not to be negative, but I don't think the implications of this field will be immediately obvious with either keyword, so it will need explanation.  The bigger question is if we want to change the default and change the idfs.

[2015-02-23 23:24] Myoldmopar commented on #4747
I vote to change the default to onoff, even though it's added work for me.
I think it's the right move.

[2015-02-24 01:32] mjwitte commented on #4747
@Myoldmopar Then we need to change HVACTemplate.  We can go with the no-impact OnOff everywhere, or stick our necks out and use VAV as appropriate.

[2015-02-24 02:39] Myoldmopar commented on #4747
No impact for this release. Improving detection on system type can be added
later.

[2015-02-24 02:41] mjwitte commented on #4747
@Myoldmopar So, will you make the replacements in expandobjects?  It should be very straightforward.

[2015-02-24 02:46] Myoldmopar commented on #4747
Yes

[2015-02-24 11:22] #4719 closed

[2015-02-24 15:31] kbenne opened #4750 "Broken Mac Package"
Install commands on files with a hash character are broken causing the package process to fail.

[2015-02-24 15:34] #4750 closed

[2015-02-24 19:07] wfbuhl commented on #4747
Thank you Edwin

On Mon, Feb 23, 2015 at 6:46 PM, Edwin Lee <notifications@github.com> wrote:

[2015-02-25 21:22] mjwitte commented on #4724
@kbenne I've added this clarification up above:
 If the CLI is running in legacymode then it looks for the IDD in the current working directory.  If it's *not* in legacy mode, then it defaults to the executable directory if -i is not set.

So, for development environments with no arguments, it's in legacymode and it's fine to have a single copy of the IDD, we just need to know where (and I'm fine

[2015-02-26 16:34] JasonGlazer commented on #4588
Please email me them. IDFs that demonstrate an issue are always appreciated.

[2015-02-26 17:43] #4724 closed

[2015-02-26 19:49] mjwitte commented on #4557
Also helpdesk ticket 10301, use file showing similar symptom.

[2015-02-27 15:56] lgu1234 opened #4758 "AirflowNetwork crash"
The input file provided by ORNL caused crash

[2015-02-27 16:24] Myoldmopar opened #4759 "Basement test file drags down CI"
Per @mbadams5, the ```LgVAVwithBasement``` test file is a massive bottleneck in CI testing.  The rest of the tests have long completed and this file churns on for a long time.  Improving the speed here would go a long way to helping every CI run.

Perhaps the file can be tuned by better initial condition specification so it reaches convergence sooner, or loosening convergence criteria or simply li

[2015-02-27 16:29] mjwitte commented on #4759
@Myoldmopar Or do as LKL used to do and don't re-run basement (which isn't changing) but rather put the intermediate file in the test folder and re-run basement only for release tests or if it's been modified.  Could do the same for slab.

[2015-02-27 16:30] Myoldmopar commented on #4759
That would be interesting.  Definitely a challenge with the automated side of things.  A fresh build is done for each new commit, so CMake won't be aware that things did or didn't change.  Something to keep in mind though since it is essentially wasted build/run time.

[2015-02-27 16:37] mjwitte commented on #4759
@Myoldmopar I understand all that, but we've gone round this circle before and just hoped the CI would be fast enough to keep up.  I don't think it's worth investing time in speeding up the basement simulation.  Maybe CI could do a quick diff on the basement source for working branches vs develop - if no diff then run LgVAVwithBasement_Quick, otherwise run  LgVAVwithBasement.

[2015-02-27 16:49] Myoldmopar commented on #4759
I guess the only additional thing I'll say for now is that I'd like to deprecate the external Basement and Slab utilities _relatively_ soon, whatever that means.  We now have the integrated option that is faster and more convenient, and not in FORTRAN.  All reasons to move to the new one.  I will be considering a task to provide a "transition" from the external tools to the internal tools.  It mig

[2015-02-27 21:09] Myoldmopar commented on #4759
So for release, it is desired to leave the file in current state.  For testing, we could consider cutting down the basement max iterations to a single year, or two, or three, just not ten.  If we could configure the file with CMake at configure-time with an appropriate number of max years, it would help speed up CI, but still leave the file in proper form for users with the release.  It would show

[2015-02-27 23:35] krishnan-gowri commented on #4497
I am encountering a similar problem with zone sizing object when using the version updater to upgrade a V7.0 IDF to V8.2.  Can some one verify if the transition program is working correctly for zone sizing?

[2015-02-27 23:41] mjwitte commented on #4557
@rraustad So, the divide by zero error occurs in DXCoils.cc CalcMultiSpeedDXCoilCooling (currently line 9807):  hDelta = TotCapLS / AirMassFlow;
Because the incoming massflows are not consistent.  AirMassFlow is >0 when this routine is entered, but MSHPMassFlowRateLow and MSHPMassFlowRateHigh are both zero.  At the same time CompOn=0 but CycRatio = 1.0.  With CycRatio > 0.0, for this particular ca

[2015-02-27 23:44] mjwitte commented on #4497
@krishnan-gowri I haven't heard of any issues with that.  Please e-mail me a sample idf that shows the problem.

[2015-02-28 16:04] lklawrie opened #4760 "WeatherFileConditionType - does not process Spring records - sorry, this appears corrected in V8.2"
During some testing, I realized that the object:

 SizingPeriod:WeatherFileConditionType,
   Spring Typical,
   SpringTypical,
   Monday,
   Yes,                !- Use Weather File Daylight Saving Period
   Yes;                !- Use Weather File Rain and Snow Indicators

Was handing out an error:
   ** Severe  ** SizingPeriod:WeatherFileConditionType: object=SPRING TYPICAL Period Selection invali

[2015-02-28 16:08] lklawrie commented on #4760
This appears to have been corrected in V8.2 -- I should have checked first.

[2015-02-28 16:08] #4760 closed

[2015-02-28 22:17] rraustad commented on #4557
MSHPMassFlowRateLow and High need to be set by the parent each time the child is called if the speed changes. If these are 0 while flow is non-zero, that's a bug. This is done in SetOnOffMassFlowRate or  some similar routine (e.g. SetVSHPAirFlow in Furnaces).

[2015-02-28 22:19] rraustad commented on #4557
CompOn = 0? This subroutine doesn't act on CompOn? Should have bypassed calcs to a coil off condition if CompOn is actually used for this child.

[2015-03-02 16:50] krishnan-gowri commented on #4497
Attached is the v810 IDF file and the error message below for the 8.20 updated file.  The IDF editor shows the fields that have not been mapped to the new IDD.

-krishnan

Program Version,EnergyPlus, Version 8.2.6-7a3291d661, YMD=2015.02.27 13:01,IDD_Version 8.2.6
   ************* IDF Context for following error/warning message:
   ************* Note -- lines truncated at 300 characters, if necess

[2015-03-02 18:03] wfbuhl opened #4762 "5ZoneVAV-ChillerWaterStorage-Mixed crashes with ininitialized variable"
I got a hard crash in SimAirServingZones.cc, line 4790 while running 5ZoneVAV-ChilledWaterStorage-Mixed.idf. SysTotCoolCap was being used without being initialized. It appears that an init for SysTotCoolCap is needed around line 4722.   Brent

[2015-03-02 18:05] #4762 closed

[2015-03-02 18:05] Myoldmopar commented on #4762
That was a fast fix @wfbuhl! :wink:

[2015-03-02 18:08] wfbuhl opened #4763 "5ZoneVAV-ChilledWaterStorage-Mixed crashes with uninitialized variable"
I got a hard crash in SimAirServingZones.cc, line 4790 while running 5ZoneVAV-ChilledWaterStorage-Mixed.idf. SysTotCoolCap was being used without being initialized. It appears that an init for SysTotCoolCap is needed around line 4722.  Brent

[2015-03-03 15:05] #4763 closed

[2015-03-03 18:08] rraustad commented on #4557
How did you find this? Somehow break when NAN is first found? I'd hate to think it was single stepping through the code.

[2015-03-03 19:45] mjwitte commented on #4557
@rraustad Well, you had already started pointing in the right direction, but yes it took a while. There was a lot of single-stepping, adding watches, and adding breaks and conditional breaks, then working back up the logic to add earlier breaks.  I wish I knew how to break on NAN - is that possible?

[2015-03-03 20:02] wfbuhl commented on #4438
It needs a mixer:

  SimAirMixer( IndUnit( IUNum ).MixerName, IndUnit( IUNum ).Mixer_Num );

The name should be required in the IDD.

[2015-03-03 20:12] mjwitte commented on #4438
@wfbuhl Thanks for confirming that the mixer is required.  Do you want to fix, or shall I?  Waiting, of course until after the big new feature push this week.

[2015-03-03 20:45] wfbuhl commented on #4438
I can do it

On Tue, Mar 3, 2015 at 12:12 PM, Michael J. Witte <notifications@github.com>
wrote:

[2015-03-03 20:48] DeadParrot commented on #4557
@mjwitte The debug build on Linux should be trapping NANs with the `feenableexcept` setup and the `-fsignaling-nans`. That should let you backtrace in gdb to find the cause.

If you are on VC then someone needs to add the equivalent `_controlfp` setup.

[2015-03-03 20:51] wfbuhl commented on #4458
This thing is a real mess. Not a good advertisement for the program. On the other hand, it does exhibit pretty much everything that can go wrong with an HVAC simulation. If we fixed it, we'd have a better program.

[2015-03-03 22:09] mjwitte commented on #4497
Turns out the v810 idf file was partially 8.2.0 but not fully 8.2.0. The file was likely transitioned from 8.1.0 to an intermediate development version and needed to be retransitioned back from clean 8.1.0.  Common problem with partial transition utilities being released during development cycles.

[2015-03-04 16:12] #4747 closed

[2015-03-04 18:50] JasonGlazer opened #4770 "Add Autosizing to Transformers"
ElectricLoadCenter:Transformer currently has a field called Rated Capacity that cannot be autosized but it would be good to add that capability, especially for parametric analysis when the size of the transformer changes between iterations. If autosizing is added, it would be good to add a field for the amount of oversizing since transformers are typically oversized by 25% to 100% greater than the

[2015-03-05 06:22] #4648 closed

[2015-03-05 17:54] mjwitte opened #4773 "2ZoneDataCenterHVAC_wEconomizer with ITE objects fails on annual run"
In early June, east zone gets hot - chilled water coil is not keeping up, but not clear why.  When this issue is addressed 2ZoneDataCenterHVAC_wEconomizer  with have ElectricEquipment:ITE:AirCooled objects in place of plain ElectricEquipment objects, and it will run well for an annual simulation.  Current state of 2ZoneDataCenterHVAC_wEconomizer put into defects folder for now, but should ultimate

[2015-03-05 18:23] Myoldmopar commented on #4685
OK, so the code is treating the deadband as going from (setpoint minus deadband delta) to (setpoint) so for this file the deadband is 5 to 7.5.  Which helps explain why the tank is staying at 7.5  It is staying at the top of the deadband and doesn't oddly stay pegged at the bottom end.

The tank seems to request cooling on a modulate basis, as evident by the varying flow rate and fixed tank temper

[2015-03-06 14:56] lgu1234 opened #4775 "Allow OtherSideCoefficients as outside boundary condition for the AirflowNetwork model"
The AirflowNetwork model allows surfaces to be exposed to either outside or a thermal zone. The other outside boundary conditions are not allowed. This issue allows OtherSideCoefficients as outside boundary condition used in the AirflowNetwork.

[2015-03-06 22:01] mjwitte opened #4776 "Engineering Reference and possibly code for window luminance calculation is inconsistent with technical literature"
Helpdesk ticket 9883
This is not a bug report, but rather a technical comment regarding the window luminance calculation.
The EP documentation (Eng. Ref) states that for a bar window (no shades), the window luminance for direct sunlight is calculated as the product of the sun luminance times the cosine of the incidence angle on the window surface times the window transmittance:

Lw = Lsun * Trans_

[2015-03-09 14:42] EnergyArchmage opened #4777 "ConstrNumBack not initialized in complex glazing"
current develop crashes with debug builds on complex glazing files.

![complexglazingcrash](https://cloud.githubusercontent.com/assets/8754769/6557108/25ced394-c638-11e4-81d8-cd40f2d0432f.PNG)

the tests files that are affected include:
CmplxGlz_Daylighting_SouthVB45deg, CmplxGlz_MeasuredDeflectionAndShading, CmplxGlz_SchedSurfGains, CmplxGlz_SingleZone_Deflection, CmplxGlz_SingleZone_DoubleClearA

[2015-03-09 20:36] Myoldmopar opened #4780 "Need to add 8.2 idd file and install commands"
The 8.2 idd needs to be included for the version updater to work.  Add that file from the last release and update the CMake commands accordingly.

[2015-03-09 20:44] Myoldmopar opened #4781 "Linux install fails without root"
When installing an E+ version for testing only, I often just install it to /tmp so it gets cleaned up later, and I don't do any symlinks.  This used to work fine, but now the man page installation requires root to install into /usr/local.  This needs to be cleaned up to simply check for root and if not root than maybe just issue a warning that the man page is unavailable.

[2015-03-09 21:13] #4622 closed

[2015-03-10 15:12] #4440 closed

[2015-03-10 21:23] Nigusse commented on #4723
If ICS collector data is not allocated, then the collector parameters (water temperature and bottom loss U-value) required will be reset to default values. Testing the defect IDF shows that the crash issue has been resolved.

https://www.pivotaltracker.com/story/show/90049048

[2015-03-10 21:46] jasondegraw commented on #4758
Fixed by #4774

[2015-03-10 21:46] #4758 closed

[2015-03-10 23:54] #4736 closed

[2015-03-11 14:04] #4595 closed

[2015-03-11 15:59] mjwitte commented on #4777
@Myoldmopar Why aren't these showing as failures in the integration debug coverage CI reports?

[2015-03-11 16:01] lgu1234 commented on #4775
Uploaded revised files: AirflowNetworkBalanceManager.cc
Added a unit test file
Uploaded a test file in EnergyPlusDevSupport
No differences were found in example files using the AFN model

[2015-03-11 16:12] mjwitte commented on #4656
@Myoldmopar This is still happening as of 8.2.9, upping the priority.

[2015-03-11 16:14] mjwitte commented on #4655
The items listed above have been addressed.  There is new followup issue related to the 2zone data center example file, #4773 So, closing this issue.

[2015-03-11 16:14] #4655 closed

[2015-03-11 16:25] #4581 closed

[2015-03-11 16:51] mjwitte commented on #4532
@kbenne @Myoldmopar
1. old version numbers have been addressed.
2. AbsorptionChiller_Macro.imf installs with the fileprefix line commented out !##fileprefix <needs path from install> (v8.2.9) - Do we plan to change that?
3. missing VB components have been addressed.
4.  New item - found some of the example files have old output:preprocessor messages that can probably be removed.

[code]

[2015-03-11 16:56] EnergyArchmage commented on #4656
This is another major bug that was fixed in new plant code for HVAC Sizing Simulation

[2015-03-11 16:57] #4518 closed

[2015-03-11 17:02] mjwitte commented on #4508
@Myoldmopar I don't see a defect file for this.  Do you have one?

[2015-03-11 17:03] mjwitte commented on #4510
@mmatts @Myoldmopar Has this been addressed?  If so, please add a reference to the pull request(s) and close this issue.

[2015-03-11 17:06] mmatts commented on #4510
@mjwitte I think all that is left are references to FORTRAN within comments. I'd say it's done for now. @Myoldmopar your thoughts?

[2015-03-11 17:32] mjwitte commented on #4509
@Myoldmopar This is still off in 8.2.9.  Again, could fix easily but will cause eio diffs.

[2015-03-11 17:40] mjwitte commented on #4504
@Myoldmopar DeLight appears to be working.  Are there any outstanding issue remaining?

[2015-03-11 17:46] JasonGlazer commented on #4686
Fixed this issue with checkin of revised source code and executables to:

EnergyPlusBuildSupport/src/IDFVersionUpdater
EnergyPlusBuildSupport/bin/IDFVersionUpdater

Hopefully it will make it into the next release.

[2015-03-11 17:46] #4686 closed

[2015-03-11 17:46] mjwitte commented on #4503
@Myoldmopar PR #4555 title says it changed datasets but none were modified there.  This issue is still open.

[2015-03-11 17:47] mjwitte commented on #4496
This is moot now. Closing.

[2015-03-11 17:47] #4496 closed

[2015-03-11 17:56] mjwitte commented on #4471
Pop-up dialog has been fixed, traceback has not been added yet.  Leaving this open since dialog about traceback is here, but lowering priority.

[2015-03-11 17:57] mjwitte commented on #4484
@Myoldmopar Not sure of the status here if all the loose ends are tied up.  Upping priority to make sure this is working right.

[2015-03-11 18:21] mjwitte commented on #4470
@lefticus @Myoldmopar Is this still an open issue?

[2015-03-11 18:44] mjwitte commented on #4417
@mmatts Would you be able to confirm whether this is a real issue or not?

[2015-03-11 18:48] mmatts commented on #4417
@mjwitte Sure, I'll take a look.

[2015-03-11 19:20] jasondegraw commented on #4558
@nmerket If this issue is done, can you close it?

[2015-03-11 19:44] EnergyArchmage commented on #4453
it may be that the apparent cooling is really coming from changes in plant loop volume's heat capacity.

turn on advanced report variables and check value of Plant Supply Side Lumped Capacitance Temperature, if the temperature is changing that could be the source of cooling

[2015-03-11 19:47] mjwitte opened #4787 "Zone equipment object that was omitted from zone equipment list causing cryptic errors"
@Myoldmopar So, here's another case that doesn't get caught. The ZoneHVAC:LowTemperatureRadiant:ConstantFlow object in this user's file (from helpdesk ticket 9855) is connected to the plant loops, but it's not in a ZoneHVAC:EquipmentList object. This run fails before we even get the unused object warning, so the fix to this issue doesn't catch it either. The resulting error messages don't give a g

[2015-03-11 19:48] mjwitte commented on #4787
This is a followon from #4295

[2015-03-11 19:49] jasondegraw commented on #3522
This should be tested with @EnergyArchmage sizing simulation branch before investigating any further.

[2015-03-11 19:58] #4558 closed

[2015-03-11 20:12] lgu1234 commented on #4453
I am going to take a look. Thanks for a good suggestion.

[2015-03-11 21:10] Myoldmopar commented on #4417
That's a good point here, with the GLHE inputs changing @mmatts I'm sure this needs to be updated.

[2015-03-11 21:10] Myoldmopar commented on #4470
Nope.

[2015-03-11 21:10] #4470 closed

[2015-03-11 21:12] Myoldmopar commented on #4504
Good to go.

[2015-03-11 21:12] #4504 closed

[2015-03-11 21:14] Myoldmopar commented on #4510
Yeah, let's call this done.  @mmatts Can you reference the pull request where you had cleaned up some of this?

[2015-03-11 21:15] Myoldmopar commented on #4777
I don't know.  I haven't seen them on my own machine either.

[2015-03-11 21:28] Nigusse commented on #4625
Invalid Equivalent Layer Window material layers in plain windows are trapped and fatal the the IDF. Six equivalent layer window material layers group were identified and checked. Three defect files were created two test all possible cases. It was determined that all possible cases were trapped and the test cases will be fatal. Diffs are not expected from this fix and no diffs were found.

[2015-03-11 21:35] mmatts commented on #4510
PR #4551

[2015-03-11 21:35] #4510 closed

[2015-03-11 21:55] mjwitte commented on #4351
@krishnan-gowri Is this still an issue?  Do you have a defect file that reproduces the problem?

[2015-03-11 21:58] mjwitte commented on #4295
Opened a new issue #4787, so this one can be closed.

[2015-03-11 21:58] #4295 closed

[2015-03-11 22:04] krishnan-gowri commented on #4351
This issue can be closed, it was caused by an uninitialized temperature value in the water heater sizing code.  This was fixed before the code was checked-in.

-krishnan

From: Michael J. Witte [mailto:notifications@github.com]
Sent: Wednesday, March 11, 2015 2:56 PM
To: NREL/EnergyPlus
Cc: Krishnan Gowri
Subject: Re: [EnergyPlus] PsyPsatFnTemp -- Bad input temperature=NAN - Severe error encounter

[2015-03-11 22:12] mjwitte opened #4791 "User file with ideal loads fails with NAN error in surface heat balance which trickles into fatal thermostat error"
helpdesk ticket 10301
   ** Warning ** Inside surface heat balance did not converge with Max Temp Difference [C] =NAN vs Max Allowed Temp Diff [C] =1.000000E-002
   **   ~~~   **  Environment=ZWICKAU, at Simulation time=02/14 15:03 - 15:06
   ** Severe  ** DualSetPointWithDeadBand: Unanticipated combination of heating and cooling loads - report to EnergyPlus Development Team
   **   ~~~   ** occur

[2015-03-11 22:13] mjwitte commented on #4351
@krishnan-gowri Thanks.  Closed.

[2015-03-11 22:13] #4351 closed

[2015-03-12 12:13] JasonGlazer commented on #4296
@mjwitte I cannot reproduce HVAC-Diagram crashing. It is possible it was fixed as part of resolving this other defect:

https://github.com/NREL/EnergyPlus/issues/4180

It was an initialization fix that just changed a few lines but was also related to very large files.

https://github.com/NREL/EnergyPlus/commit/80a227d935ab3d16e6b20e3b5c9648c7df4dd0b0

So what is the procedure? I assume I close thi

[2015-03-12 12:27] mjwitte opened #4792 "WaterHeater source side flow rate sizing requires plant supply to be >58C with no explanation"
Helpdesk ticket 10340
** Severe ** Autosizing of Source side water heater design flow rate requires Sizing:Plant object to have an exit temperature >= 58C
** ~~~ ** Occurs for WaterHeater:Mixed object=TANK ACS
** Fatal ** Preceding sizing errors cause program termination

How can I solve this problem, considering that the sizing temperature for the HW loop should be 50°C and not 58° or more?

Work

[2015-03-12 12:50] mjwitte commented on #4780
@Myoldmopar @kbenne Tried to transition a file using the v8.2.9 install.  In addition to the missing v8-2-0 idd, the transition utility is looking for v8-3-0 idd but the one that's installed in the IDFVersionUpdater folder is v8-2-9 idd.
 Also, EP-Launch single file transition menu option doesn't work, because it's still under the old mindset that 8.2.9 means this is major version 8.2, so ti's loo

[2015-03-12 12:53] mjwitte commented on #4780
@Myoldmopar And when I renamed v8-2-9 idd to v8-3-0 idd transition ran, but the version stamp on the transitioned file says 8.2, not 8.3 as I expected.  That's because we aren't writing the minor version number and the "new" version is 8.2.9.  Not sure what the right solution is, but it's going to be a problem for people that have been transitioning things for these iteration releases and their fi

[2015-03-12 13:03] mjwitte commented on #4792
Why is this limit there?
Can this be a warning instead of a fatal error?
Or can it be removed or be made an input in waterheater:sizing?
If it remains, the I/O Ref and Engineering Ref should say what it is and why it's there.
Same goes the the <8C limit when sizing the source flow rate for a chilled water tank.

[2015-03-12 13:03] JasonGlazer commented on #4780
@mjwitte We can certainly update EP-Launch. What should the new logic be? Once we figure that out, it should probably be an new issue.

[2015-03-12 13:08] #4296 closed

[2015-03-12 13:22] mjwitte opened #4793 "EP-Launch single file transition menu option does not work with iteration builds"
EP-Launch single file transition menu option doesn't work with iteration builds, because it's still under the old mindset that 8.2.9 means this is a flavor of version 8.2 rather than a preliminary 8.3, so it's looking for transition Transition-V8-1-0-to-V8-2-0.exe

@Myoldmopar @kbenne The transition utilities packaged with the iteration builds have been names Transition-V8-2-0-to-V8-3-0.exe  Shoul

[2015-03-12 13:23] mjwitte commented on #4793
This is related to #4780

[2015-03-12 14:03] mjwitte commented on #4327
Multispeed heat pump minimum was removed in #4174 This issue should consider removing the min limit from all heat pump parent and coil objects.  There is a bit of a mix now.  Another helpdesk ticket 10345 has asked for this.

[2015-03-12 14:14] mjwitte commented on #4327
@rraustad @lgu1234 Any objection to removing all minimum limits on heat pumps for the minimum entering air temperature for compressor operation?

[2015-03-12 14:45] EnergyArchmage commented on #4792
yes the input could be moved into the water heater sizing object. The sizing input was simplified by assuming start and stop temperatures from ASHRAE handbook (simplifying input for sizing is an overridding theme).  If the finish temperature can never be reached it is a fatal problem. But the main plant sizing exit temperature doesn't need to do double duty here, what is another input field.  Four

[2015-03-12 16:56] mjwitte opened #4794 "HeatExchanger:AirToAir:SensibleAndLatent Supply Air Outlet Temperature Control problems"
User file has three similar VAV systems plus other with heat recovery using HeatExchanger:AirToAir:SensibleAndLatent.  Supply Air Outlet Temperature Control is set to Yes for all of the HX, but only the first one seems to be honoring that.  The others are over-recovering sending warm air into the system causing the cooling coil to operate at a high load.  Even the first HX is not controlling well

[2015-03-12 17:08] lgu1234 commented on #4453
I fixed the chiller code to ensure no mass flow rates in both evaporator and condenser and outlet node conditions are equal to inlet node conditions. However, zone still receives small amount of cooling.

[2015-03-12 17:17] mjwitte commented on #4794
Further review reveals that the heat recovery outlet setpoint is being set using a SetpointManager:OutdoorAirPretreat.  At certain times, the requested setpoint (e.g. 3.4C) is colder than the outdoor air temperature (3.5C) which apparently makes the HX not honor the setpoint - don't know if it thinks it is in cooling mode or if there is just some misstated conditions.  It seems at this point the e

[2015-03-12 18:02] Nigusse commented on #4093
@Myoldmopar @mjwitte.  I created a branch for this bug and tested six of the IDFs that I identified for this bug more than a year ago. It happened that I also have the old result files (CR9322) to compare to. I remembered that I addressed the uninitialized variable issue then.  Issues # 1 and 2 must have been addressed by someone else that I could not duplicate them. This issue does not warrant an

[2015-03-12 18:02] lgu1234 commented on #4453
The revised code of ChillerElectricEIR was committed.

[2015-03-12 19:47] mjwitte commented on #4093
@Nigusse OK thanks. Looks like you've verified the fix.  No need for a pivotal story.  You may close this and delete your branch.

[2015-03-12 20:05] Nigusse commented on #4093
#4093 (CR #9322) closed.

[2015-03-12 20:05] #4093 closed

[2015-03-12 21:46] kbenne opened #4795 "add for windows /fp:except"

[2015-03-12 21:47] Nigusse commented on #4723
@jasondegraw Added unit test to verify the fix.

[2015-03-13 02:22] rraustad commented on #4564
SetVSHPAirFlow(
if ( HeatingLoad && ( Furnace( FurnaceNum ).FurnaceType_Num == UnitarySys_HeatCool ) ) {
  CompOnMassFlow = Furnace( FurnaceNum ).CoolMassFlowRate( Furnace( FurnaceNum ).NumOfSpeedCooling );
  CompOnFlowRatio = Furnace( FurnaceNum ).MSCoolingSpeedRatio( Furnace( FurnaceNum ).NumOfSpeedCooling );

This works just fine when cooling and heating flow rates are the same!

[2015-03-13 03:35] rraustad commented on #4564
Same logic in PTHP at line 6434.

[2015-03-13 10:53] JasonGlazer opened #4796 "Add LCCusePriceEscalationDataSet2014.idf based on NIST data on life cycle costs"
Based on the latest data available, the ENCOST14.TXT file from NIST, create the LCCusePriceEscalationDataSet2014.idf file and include it with the EnergyPlus distribution in the DataSet file. The file contains the LifeCycleCost:UsePriceEscalation objects for electricity and fuels for different parts of the country to be used when applying the life cycle cost method with EnergyPlus. The file for eac

[2015-03-13 13:03] rraustad commented on #4327
The only thing that would concern me is if the performance curves cover the range. If not, the performance is fixed below the curve's minimum OAT. This also applies with the existing limit so no objection.

[2015-03-13 13:50] Nigusse commented on #4546
It is true that the CurveTool uses volume ratio instead of mass flow ratio to generate the capacity and EIR correction curves for flow variation. The reason is that the volume and mass flow ratios are identical if the actual and rated volume flow rates were measured (evaluated) at the rated temperatures (DB and WB).  Here is how I interpreted the concept of using temperature and flow correction cu

[2015-03-13 14:59] mjwitte commented on #4546
@jeannieboef See Bereket's comments above.  To expand on this, in EnergyPlus, all volume flow rates (as inputs from the idf or calculated from autosizing) are converted to mass flow rates using the standard air density for the location elevation.  So, to EnergyPlus, volume flow ratio and mass flow ratios will be identical.  That raises a new question - are the volume flow rates in the manufacturer

[2015-03-13 15:16] mjwitte commented on #4795
@kbenne @lgu1234 @Myoldmopar So, both Gu and I have added this to our builds in VS C++ for defects that are throwing NANs, but this isn't enough to cause an exception and locate the problem.  Maybe the NANs in our particular defect files are not coming from an fp exception?  Perhaps from uninitialized variables?  So we may want some additional options set for windows debug builds.

[2015-03-13 15:18] mjwitte commented on #4791
@Myoldmopar Please run this defect file on Linux to see if it will throw an exception when the NANs first appear.

[2015-03-13 15:36] mmatts commented on #4417
@myoldmopar @mjwitte

The decimal point error referenced was already fixed.

I applied input changes to GLHERefData.idf. I can push those shortly.

It’s still unclear to me whether the mismatch between supply-demand side temperatures is a bug.
I took the PlantHorizontalGroundHX.idf and have been running some cases hoping to coax out the error.
In summary, what we have is this: supply side has a pu

[2015-03-13 17:58] mjwitte commented on #4795
In comments for #4557 @DeadParrot talks about "If you are on VC then someone needs to add the equivalent _controlfp setup."

[2015-03-13 18:05] lgu1234 commented on #4795
The next question is how to add the equivalent setup.

I am using std::isnan to throw an error, as long as you place it in the right place.

[2015-03-13 18:13] mjwitte commented on #4791
@lgu1234 Just realized this file has adaptiveconvection and the problem goes away if that is removed.  So this is probably a duplicate of #4591 and #4646.

[2015-03-13 20:56] EnergyArchmage commented on #4777
I would suspect the difference is that I was not overriding to run Design Days only.  CI machines rarely run RunPeriods and probably this is an explanation for why these don't show up there.

[2015-03-14 06:20] jeannieboef commented on #4546
Firstly, I think Bereket is correct. I have learnt a lot since this
ticket was raised and can see no reason to doubt the logic. My
personal sheet also has made leaps and bounds since then and I can now
verify the e+ rating calculations for the single speed constant fan
coil exactly for all the rating values EER, IEER, SEER, etc.

At the time of the ticket I had set up a sheet to regress the curves

[2015-03-14 12:33] mjwitte commented on #4795
@lgu1234 Another "trick" I found is to test for ` x != x`  When x is nan this will be true.  So, I've been using it to set a conditional breakpoint to trap the first time x goes bad, but conditional breakpoints are slow.  And you still have to figure out where to put the breakpoint.

[2015-03-14 16:24] Nigusse commented on #4546
@jeannieboef (1) which curve limits are you talking about?  The capacity and EIR modifier curves input (flow fraction) and curve output are dimensionless.  This curves are normalized curves.  So, the curve limits should also be dimensionless.  I will look into this.

(2) Which constant coefficients are you talking about? are you talking about the significant digits of the curve coefficients?  The

[2015-03-14 21:21] jeannieboef commented on #4546
1) yes I mean the FFF curves.

2) by contant term, I mean the first coefficient of the curve formula
that is not multiplied by anything.

3) I agree that it should not be nessesary. e+ correctly converts the
volume flow rate to mass flowrate and injects the mass flowrate into
the curve. But if the curve is incorrect, in that it has been setup to
accept a volume flowrate and instead of a mass flowr

[2015-03-14 23:34] mjwitte commented on #4791
@lgu1234 @EnergyArchmage This file starts failing in CalcBeausoleilMorrisonMixedAssistedWall with these arguments (from an error message added to debug this)
   **   ~~~   ** CalcBeausoleilMorrisonMixedAssistedWall NaN detected.  Hc: NAN DeltaTemp: -2.6399 Height: 0.5057 SurfTemp: 17.3600 SupplyAirTemp: 35.0000 AirChangeRate: 73.2693

The equation here is
[code]
This is the Beausoleil Morrison Mix

[2015-03-15 11:53] lgu1234 commented on #4791
@mjwitte Thanks for letting me know. I found 5 functions using BeausoleilMorrison methods have problems with negative values. I fixed this problems with #4591. The function should have a solution with pow(-200, 1/3) mathematically. However, C++ program fails. I should be able to commit it Monday morning. It may fix all 3 issues.

[2015-03-15 11:56] lgu1234 commented on #4186
The Eng. Ref was revised and uploaded. @JasonGlazer accepted the revision. This issue is closed.

[2015-03-15 12:21] lgu1234 commented on #4791
The existing code in CalcBeausoleilMorrisonMixedAssistedWall

		if ( ( DeltaTemp != 0.0 ) && ( Height != 0.0 ) ) {
			Hc = std::pow( std::sqrt( pow_6( 1.5 * std::pow( std::abs( DeltaTemp ) / Height, OneFourth ) ) + std::pow( 1.23 * pow_2( DeltaTemp ), OneSixth ) ) + pow_3( ( ( SurfTemp - SupplyAirTemp ) / std::abs( DeltaTemp ) ) * ( -0.199 + 0.190 * std::pow( AirChangeRate, 0.8 ) ) ), OneThird );

[2015-03-15 12:22] lgu1234 commented on #4791
if ( powValue < 0.0 ) {
               Hc = -Hc

             }

Then the program ran to completion without any errors.

[2015-03-15 20:46] jeannieboef commented on #4546
clarification to earlier email:
1) "and injects the mass flowrate", should read and injects the mass
flowrate ratio (i.e. mass flowrate / rated mass flow rate...which should
also be equal to volume flowrate / rated volume flowrate as you stated).
2) What I'm saying is that the curve tool does not use normilized flow, but
absolute flow to regress the curves.

Included is a very old and full of mist

[2015-03-15 23:24] rraustad opened #4798 "SimHVAC: Maximum iterations warnings do not show additional information using Output:Diagnostics,DisplayExtraWarnings;"
** Warning ** SimHVAC: Maximum iterations (20) exceeded for all HVAC loops, at SUMMER, 08/08 03:50 - 04:00
   **   ~~~   ** The solution for one or more of the Air Loop HVAC systems did not appear to converge
   **   ~~~   ** ...use Output:Diagnostics,DisplayExtraWarnings; to show more details on each max iteration exceeded.

Adding Output:Diagnostics,DisplayExtraWarnings; does not show additional

[2015-03-15 23:48] rraustad commented on #4564
How do I make a pull request from here?

[2015-03-16 12:49] lgu1234 commented on #4791
@mjwitte I thought it last night. The main cause is negative value from ((SurfTemp -  SupplyAirTemp)/ABS(DeltaTemp)), so that the value is negative in the std::pow( value, OneThird ). It is mathematically feasible. Unfortunately, it is not feasible numerically. I think we may have 3 choices:

The first choice is to make numerically feasible (same as mathematically feasible solution). This is what

[2015-03-16 12:59] lgu1234 commented on #4795
When I found inside surface temperatures and convection coefficients are NAN. I use the following code to track then:

			if ( std::isnan( TempSurfInRep( SurfNum ) ) ) { // Use IEEE_IS_NAN when GFortran supports it
				// throw Error
				ShowFatalError( "Inside surface temperature is out of bound = " + Surface( SurfNum ).Name );
			}

and
		if ( std::isnan( HConvIn( SurfNum ) ) ) { // Use IEEE_IS_

[2015-03-16 13:08] Nigusse commented on #4546
"2) What I'm saying is that the curve tool does not use normalized flow, but absolute flow to regress the curves."
THIS IS INCORRECT STATEMENT.  The CurveFitTool input data is in m3/s (CFM) curve but internally the VBA code first converts the volume flow rate (m3/s) into volume flow ratio (==mass flow ratio), normalizes the capacity and EIR, then finally generates the coefficients.  I developed th

[2015-03-16 13:11] mjwitte commented on #4791
@lgu1234 Perhaps @EnergyArchmage can offer some advice.  Regarding the (SurfTemp-SupplyAirTemp) it appears that the sign is supposed to be significant, positive for Assisted Wall and negative for Opposing Wall (Engineering Ref. v8.2, pdf p. 113.)

There is also the issue that the term with the 1.23 does not appear to match the equations as shown in the engineering reference and in the original the

[2015-03-16 13:18] JasonGlazer commented on #4662
@mjwitte , @Myoldmopar @EnergyArchmage I am not sure I understand exactly what this issue is. Could you provide a little more information about the problem. I have inserted:

Output:EnergyManagementSystem,
    Verbose,                   !- Actuator Availability Dictionary Reporting
    NotByUniqueKeyNames,       !- Internal Variable Availability Dictionary Reporting
    ErrorsOnly;

[2015-03-16 13:32] DeadParrot commented on #4662
@JasonGlazer HospitalLowEnergy only shows the duplicate EMS errors if the bug is fixed, which we didn't do yet. The bug is that the SetupEMSActuator functions look for duplicates by comparing the stored actuator strings to upper case versions of the "new" actuator strings but those stored strings are not the uppercased versions. I noticed this bug while writing faster versions (those linear duplic

[2015-03-16 13:37] lgu1234 commented on #4791
Here is my version based on the equation on page 81 (thesis):

			Hn = std::pow( pow_6( 1.5 * std::pow( std::abs( DeltaTemp ) / Height, OneFourth )  + ( 1.23 * std::pow( DeltaTemp, OneThird ) ) ), OneSixth ); //Tuned pow_6( std::pow( std::abs( DeltaTemp ), OneThird ) ) changed to pow_2( DeltaTemp )

[2015-03-16 14:00] mjwitte commented on #4662
@JasonGlazer There are duplicate rows in the edd from HospitalLowEnergy, e.g.

[code]

My understanding is that this should only show once.  @EnergyArchmage is that correct?

So, we need code to catch the duplicates, but then we need to fix why the duplicate is occurring in the first place.  If I remember correctly.  I will put the original e-mail discussion below.

[2015-03-16 14:07] mjwitte commented on #4662
@DeadParrot Jan 7, 2015
It looks like the SetupEMSActuator functions have a bug: they look for
duplicates by comparing the stored actuator strings to upper case versions
of the "new" actuator strings but those stored strings are not the
uppercased versions. I assume the intent is to treat these 3 strings for
each actuator as case insensitive. If so, they should either be stored as
uppercase and co

[2015-03-16 14:12] EnergyArchmage commented on #4662
Yes we need to trap duplicates or at least in the end have only one unique EMS actuator available to use.  I have dim recollection that Linda I did something here so the behavior used to be O.K. but I forget the details.

It is (much) easier to trap duplicates in this central place than it is to make sure the dups never get called.  A chiller will get initialized from both its chilled water connec

[2015-03-16 14:19] EnergyArchmage commented on #4662
"Seems the above block of code should be using the uppercase versions."
Um I suspect the reason the storage was being done in mixed case is so that the text output is more readable.  Preserving case helped the look of the EDD report of available actuators.

[2015-03-16 14:28] mjwitte commented on #4791
@lgu1234 I believe there must be two pow_6 functions (
[code]

[2015-03-16 14:44] EnergyArchmage commented on #4453
I did a code review of https://github.com/NREL/EnergyPlus/commit/666529b28c8bd40a2bb4c959a3b86e5febd69c95  comparing to develop.  And these changes seem okay.  Pathological case of no condenser flow is more robust.

[2015-03-16 14:46] nmerket commented on #4564
@rraustad Have you made these changes on a branch? Once it's on a branch it's pretty easy to start a pull request.

[2015-03-16 14:49] rraustad commented on #4564
I just got confused last night. PR's are made from the branch, not the issue description. I made a PR last night.

[2015-03-16 15:14] lgu1234 commented on #4591
I just committed my changes a while ago for review and comments.

Here is what I changed:

Mathematically, pow(-200,1/3) is accepted. However, the C++ program does not accept and create NAN. I made the numerical calculation the same as mathematical calculation.

I added two IsNan functions to try to catch inside surface temperature calculations and convective coefficient calculations.

[2015-03-16 15:15] EnergyArchmage commented on #4791
If I remember correctly, the original thesis had an error in the equation.  A later document had it differently.  But anyway, that entire IBM correlation here is suspect and it may be better to not select a safer correlation to use for adaptive convection algorithm in that case.

[2015-03-16 15:23] mjwitte commented on #4591
@lgu1234 I understand how this returns the "correct" result of the equation, but do we want to return a negative value for Hc?  Does that get checked later and get reset to lower limit value?

[2015-03-16 15:27] lgu1234 commented on #4646
I ran the input file using the fix from #4591. The program ran to completion without errors.

[2015-03-16 15:32] lgu1234 commented on #4591
@Myoldmopar I tried to update the old branch to perform testing. Unfortunately, I was not able to update the old branch with develop. That was why I created a new branch to perform bug fix.

[2015-03-16 15:40] lgu1234 commented on #4591
@mjwitte Yes. Here is a line code to check min value in EvaluateIntHcModels (second last line) :

line:
		if ( tmpHc < AdaptiveHcInsideLowLimit ) tmpHc = AdaptiveHcInsideLowLimit;

The value of AdaptiveHcInsideLowLimit is 0.5.

Therefore, the program automatically catch strange values and assign it to the min value. I am not sure it is right value, but it makes the program run to completion.

[2015-03-16 15:47] lgu1234 commented on #4453
@EnergyArchmage Thanks for your review. I ran all example input files last week and found differences in an example input file: 5ZoneVAV-ChilledWaterStorage-Mixed_DCV_MaxZd.idf.

[2015-03-16 15:53] rraustad commented on #4505
Documentation reviewed and uploaded to C:\Users\RRaustad\Documents\GitHub\EnergyPlusBuildSupport\docs\src\mods\for_2015_03_release\BN-90285796-IEERMods-EngineeringReference

[2015-03-16 15:53] #4505 closed

[2015-03-16 16:25] JasonGlazer commented on #4662
Thanks. I see the duplicate and plan on just storing the value in all upper case so that it will find it.

[2015-03-16 17:35] jeannieboef commented on #4546
CurveTool:
Go into Module "Main".
On line 761, character position 43, replace the capital "M" with a
lowercase "m" so that the program goes into the if statement and
normilizes the flow as it should do.

That should do the trick. I will verify later when I have time.

PS. I wish my programming was as eligant as your work. Please don't be
offended.

Mit freundlichen Grüßen- Sent from my iPhone (exc

[2015-03-16 17:43] mjwitte commented on #4791
@lgu1234 @EnergyArchmage  OK, if that's the case we need to update the documentation to match.  In either case, for this release, we can implement only the fix to stop the NANs.  And have a followup issue to review the correlation and replace it or update the docs.

[2015-03-16 17:49] lgu1234 commented on #4791
@mjwitte I agree to stop NANs for this release. Then we should have an issue to talk. I think the effort may be more than a bug fix.

[2015-03-16 17:59] Nigusse commented on #4546
@jeannieboef You are correct the normalization calculation jumps the flow rate normalization step if the volume flow rate input data unit is m3/s, instead of M3/s. I see the problem now.  This a bug in the code and will be fixed to allow both smaller and upper cases. Thank you.

[2015-03-16 18:11] jeannieboef commented on #4546
No worries. As a non-programmer, I'm always afraid to look at other
people's programs. This was the first time I looked at the Tool's
macro code. You asked how I found this...well during the making of my
spreadsheet, I was incorrectly not normalizing the flowrates, but
getting the same curves as the Tool.

My goal was to calculate the rating values. Then I studied the
documentation and changed my

[2015-03-16 19:31] Nigusse commented on #4546
The input processor calculation skips volume flow rate normalization step if the volume flow rate input data unit is m3/s, instead of M3/s. The VBA code bug has been fixed. Also a defective or old Curve Fit Tool spreadsheet along with test case data is placed in defect folder  #4546 for reference.

[2015-03-17 14:07] lgu1234 commented on #4693
Verified the fix and unit test.

[2015-03-17 14:07] #4693 closed

[2015-03-17 15:04] JasonGlazer opened #4802 "Autosized Evaporative Condenser Pump Rated Power Consumption causes error"
Setting the Evaporative Condenser Pump Rated Power Consumption in the Coil:Cooling:DX:SingleSpeed to autosize generates a severe error:

   ** Severe  ** GetDXCoils: Coil:Cooling:DX:SingleSpeed="FURNACE ACDXCOIL 1", invalid
   **   ~~~   ** ...Evaporative Condenser Pump Rated Power Consumption cannot be < 0.0.
   **   ~~~   ** ...entered value=[-99999.00].

Even though it is an allowed option in t

[2015-03-17 21:10] MatthewSteen commented on #4417
@mmatts you can drag/drop images into the text box or upload using a dialog box.

![energyplus_issue](https://cloud.githubusercontent.com/assets/8397034/6697657/b3afc68e-ccb7-11e4-9fdf-5d356ab21595.png)

[2015-03-17 21:42] mmatts commented on #4417
@MatthewSteen thanks for pointing that out; I definitely missed that. I was trying to do it manually from Dropbox but GitHub made it even simpler.

[2015-03-17 21:52] MatthewSteen commented on #4588
**Tables EAp2-4/5, EAp2-17a, EAp2-17b**
Service Water Heating doesn't show up as an end use in these tables unless a `WaterHeater` object is providing SHW. If another type of equipment such as a `BoilerHotWater` or `HeatExchangerFluidToFluid` is providing SHW to the WaterUseConnection and WaterUseEquipment the energy use will be zero.

Moved to #5613

[2015-03-18 13:19] lgu1234 commented on #4791
@mjwitte @EnergyArchmage I am going to update the BeausoleilMorrison equations in Eng. Ref. based on E+ code if mismatch is found.

[2015-03-18 14:25] #4688 closed

[2015-03-18 14:26] jasondegraw commented on #4775
Fixed by #4786

[2015-03-18 14:26] #4775 closed

[2015-03-18 17:44] ecoeficiente opened #4805 "SwimmingPool:Indoor, Pool Heating System Maximum Water Flow Rate is taken as mass flow rate"
In SwimmingPool:Indoor, Pool Heating System Maximum Water Flow Rate (m3/s) is taken as mass flow rate (kg/s). You can check it in the sample file, where 0,1m3/s is used as input and 0,1kg/s is shown in results as "Indoor Pool Inlet Water Mass Flow Rate [kg/s]" (and Temperature does not reach setpoint).

I've reviewed the source code but I cannot find the problem, since WaterMassFlowRateMax is mult

[2015-03-18 17:49] lgu1234 opened #4806 "Mismatch of BeausoleilMorrison convection equations between Eng. Ref and code"
@mjwitte found mismatch of BeausoleilMorrison convection equations between Eng. Ref and code. Eng. Ref needs to be updated based on the code.

[2015-03-18 19:17] #4711 closed

[2015-03-19 13:58] mjwitte opened #4810 "Central cooling coils not autosizing to correct airflow in some cases"
Defect file is a new version of 2ZoneDataCenterHVAC_wEconomizer, but similar results show with the current one.

Two similar airloops which size to slightly different flow rates, and most components on the two loops size to match their respective loop, except for the cooling coils (chw and dx), they are both sizing to the flow rate of the first loop.

 Component Sizing Information, Branch, WEST ZO

[2015-03-19 14:05] #4564 closed

[2015-03-19 14:28] Nigusse commented on #4625
Added unit test for issue #4625.

[2015-03-19 14:35] nmerket commented on #4564
Thanks!

[2015-03-19 15:19] Myoldmopar commented on #4546
@Nigusse So this should be closed now, right?

[2015-03-19 15:34] Nigusse commented on #4546
Yes.  I am not sure if there is a need for someone else to verify the fix.

[2015-03-19 15:43] #4546 closed

[2015-03-19 15:47] #4646 closed

[2015-03-19 15:48] #4791 closed

[2015-03-19 15:48] #4591 closed

[2015-03-19 15:50] mjwitte commented on #4546
@Myoldmopar Would be good for this to get on the change list.

[2015-03-19 15:55] mjwitte commented on #4362
ASHRAE_2013_OtherMonthly_DesignConditions.csv updated, courtesy of LKL.
https://github.com/NREL/EnergyPlusBuildSupport/commit/02a316a32dfc3c586c00d0fdb23f419ca91ccd7e

@Myoldmopar Would be good for this to get on the change list.

[2015-03-19 15:55] #4362 closed

[2015-03-19 16:13] Myoldmopar commented on #4546
Good point, @mjwitte, I'll open a dummy branch/PR that points to this issue to get it included.

[2015-03-19 17:44] lgu1234 commented on #4186
@JasonGlazer Could you close this issue?

[2015-03-19 17:45] #4186 closed

[2015-03-19 18:42] Myoldmopar opened #4814 "Determine whether to remove LTO"
# Summary

A placeholder issue for discussing whether or not to remove LTO with @kbenne and @lefticus (and @mbadams5 indirectly since it kinda involves his sqlite branch).

So the point is that @mbadams5 created an updated sqlite branch, but then it went quiet because there was some issue with LTO I think.  I'd like to either fix LTO or remove it so that the sqlite update goes in.  Either way is f

[2015-03-19 23:37] #4625 closed

[2015-03-20 14:09] Myoldmopar opened #4815 "Multi year run periods work, but docs need updating"
@nllong found that custom range run periods work, but the documentation doesn't do justice for how to manipulate the weather files appropriately.  I'll try to post a MWE and multiyear weather file to demonstrate.  Basically you have to update the DATA PERIODS carefully.

[2015-03-20 16:31] #4798 closed

[2015-03-21 03:14] #4557 closed

[2015-03-23 00:59] rraustad commented on #4794
I don't see the schedule file in the defect folder. Should I just convert to a constant?

SCHEDULE:FILE,
    Bath_ZN_1_FLR_1_SchFile,    !- Name
    ,                         !- Schedule Type Limits Name
    SchoolPrimary-Chicago-0001-UTIL-DA05_DyLtFix_pre-liteSch.csv,    !- File Name

[2015-03-23 11:15] JasonGlazer opened #4819 "EP-Launch Table XML button has wrong tooltip and should be resized"
The EP-Launch button "Table XML" which is opens the Table.XML file (created when the OutputControl:Table:Style object is set to XML or XMLandHTML) does not have the correct tooltip when placing the mouse over the button. It says "EMS Actuator List" instead of "XML version of tabular output report which contains summarized results."

In addition, the button is not sized properly for the amount of t

[2015-03-23 11:30] JasonGlazer opened #4820 "Climatic Data Summary report missing ASHRAE climate zone, description, CDD, HDD"
The Climatic Data Summary report in the tabular results summary should have lines that say "ASHRAE Climate Zone", "ASHRAE Description", "Standard Cooling Degree-Days", and Standard Heating Degree-Day"s that are based on the lines from the STAT file:

 - Climate type "3C" (ASHRAE Standard 196-2006 Climate Zone)**
 -   65 annual (standard) heating degree-days (10°C baseline)
 -   79 annual (standard

[2015-03-23 11:44] JasonGlazer opened #4821 "Enable running jobs remotely in EP-Launch"
Add ability to run jobs remotely in EP-Launch and create a flexible approach so that jobs can be remotely run on other computers in same network or on cloud services like Amazon EC3 or OpenStack or ensims.com

[2015-03-23 12:42] JasonGlazer commented on #4820
The HDD/CDD portion of the issue may be working already.

[2015-03-23 16:13] #4773 closed

[2015-03-24 15:13] lgu1234 commented on #4806
Assign it to Bereket for verification to ensure equations listed in Engineering Reference are the same in the code. I modified the first two equation in the Eng. Ref. Please check 6 equations in the following member functions in ConvectionCOefficients.cc:

CalcBeausoleilMorrisonMixedAssistedWall
CalcBeausoleilMorrisonMixedOpposingWall
CalcBeausoleilMorrisonMixedStableFloor
CalcBeausoleilMorrisonMi

[2015-03-24 15:24] mjwitte commented on #4794
@rraustad Schedule file is there now.

[2015-03-25 03:27] rraustad commented on #4794
Took a while to look through the first system. Hard to say if it's working correctly since the OA flow is 0 most of the time. DifferentialDryBulb control with 0 minimum OA flow rate. Then there's the use of BypassWhenOAFlowGreaterThanMinimum.

Controller:OutdoorAir,
    VAV_POD_1_OA_Controller,    !- Name
    VAV_POD_1_OARelief Node,    !- Relief Air Outlet Node Name
    VAV_POD_1 Supply Equipment

[2015-03-25 15:21] #4810 closed

[2015-03-25 15:40] lgu1234 commented on #4776
@mjwitte I would like to take this CR. Do you have an electronic copy of the reference?

Winkelmann, F.C. and S. Selkowitz. 1985. Daylighting Simulation in the DOE-2 Building Energy Analysis Program. Energy and Buildings 8, 271-286.

I searched Science Direct and found the abstract only due to early publication.

[2015-03-25 15:42] mjwitte commented on #4776
@lgu1234 No, I do not.  Perhaps you can ask the user who posted the helpdesk ticket.

[2015-03-25 17:41] lgu1234 commented on #4776
@mjwitte I found it in the LBL website.

[2015-03-25 18:28] wfbuhl opened #4823 "Do not open standard error output file in unit tests and other unit test problems"
The standard error output file (eplusout.err) is accessed only through the function ShowErrorMessage in UtilityRoutines.cc. This function handles the opening of eplusout.err so there is no need to open this file in any unit test. In fact code such as (from MixedAir.unit.cc):

	// Open the Error Output File (lifted from UtilityRoutines.cc)
	int StandardErrorOutput = GetNewUnitNumber( );
	IOFlags fl

[2015-03-25 18:32] Myoldmopar commented on #4657
This was already done.

[2015-03-25 18:32] #4657 closed

[2015-03-25 18:33] Myoldmopar commented on #4781
Fixed in #4506.

[2015-03-25 18:33] #4781 closed

[2015-03-25 18:44] Myoldmopar commented on #4674
Fixed in #4675

[2015-03-25 18:44] #4674 closed

[2015-03-25 18:45] Myoldmopar commented on #4656
Fixed in #4764.

[2015-03-25 18:45] #4656 closed

[2015-03-25 18:46] Myoldmopar commented on #4601
Duplicated in #4759; keeping the newer one.

[2015-03-25 18:46] #4601 closed

[2015-03-25 18:50] EnergyArchmage opened #4824 "ZoneHVAC:WaterToAirHeatPump does not run when autosized and using Sizing:System."
Found that ZoneHVAC:WaterToAirHeatPump with variable speed coils will not run when the input file has Sizing:System object and SimulationControl is set to Do System Sizing Calculation.  There are flaws in the following program logic in PackageTerminalHeatPump.cc that show up with system sizing.

		if ( ! SysSizingCalc && MySizeFlag( PTUnitNum ) ) {
			SizePTUnit( PTUnitNum );
			MySizeFlag( PTUnit

[2015-03-25 19:00] Myoldmopar commented on #4824
So is this a straightforward change that we can make a quick branch and address?  Seems pretty big.

[2015-03-25 19:57] EnergyArchmage commented on #4824
No it isn't easy, initial attempts at a simple fix have failed.  I plan to do an interim fix to be able to continue with a specific study now underway. So I should have a proposed fix soon, but it won't smallish.

[2015-03-25 20:07] mjwitte commented on #4824
@rraustad Thoughts?

<div>-------- Original message --------</div><div>From: Brent Griffith <notifications@github.com> </div><div>Date:03/25/2015  2:57 PM  (GMT-06:00) </div><div>To: NREL/EnergyPlus <EnergyPlus@noreply.github.com> </div><div>Subject: Re: [EnergyPlus] ZoneHVAC:WaterToAirHeatPump does not run when
  autosized and using Sizing:System. (#4824) </div><div>
</div>No it isn't easy, initi

[2015-03-25 20:27] rraustad commented on #4824
This appears to be legacy code (using Blame shows no changes near this code) so I'd say the addition of a system sizing object had never been tested. Kinda hard to believe, but that's all I have at this point.
I wonder if simply removing the ! SysSizingCalc from the test would help (I assume that was tried)? Do the zone models get called during system sizing? Does @EnergyArchmage new sizing additi

[2015-03-25 20:52] rraustad commented on #4824
I removed ! SysSizingCalc from if ( ! SysSizingCalc && MySizeFlag( PTUnitNum ) ) {
 and got passed PTUnit sizing with a crash somewhere in the plant?

 Component Sizing Information, Fan:OnOff, ZONE 1 FAN, Design Size Maximum Flow Rate [m3/s], 1.18419
 Component Sizing Information, COIL:COOLING:WATERTOAIRHEATPUMP:VARIABLESPEEDEQUATIONFIT, SYS 1 HEAT PUMP COOLING MODE, Design Size Rated Total Coolin

[2015-03-25 20:59] rraustad commented on #4824
It looks like it should have been ! ZoneSizingCalc instead. But then zone equipment does not get called during zone sizing (and does during system sizing) so it shouldn't matter. I can recall why that flag was there but I do remember it was needed for something. So I would say replace SysSizingCalc with ZoneSizingCalc and wait for the bug to show up.

[2015-03-25 23:35] rraustad commented on #4824
Point this at Slinky HX developer.
After making above change (!ZoneSizingCalc) this defect file crashes here since LNTTS() is not allocated:
line 1962 GroundHeatExchanger
		if ( LnTTsVal <= LNTTS( 1 ) ) {

I don't understand this, don't G-functions get calculated for the vertical HX model?

	void
	GLHEVert::calcGFunctions()
	{
		// Nothing to see here. Move along.
		// Just a stub out for future w

[2015-03-26 00:06] Myoldmopar commented on #4824
For vertical ground heat exchangers, the g-function values are directly
entered on input, so they don't need any calculation.

For slinky ground heat exchangers, the g-function values are calculated
based on other inputs.

I'm not sure right now why that error is occurring, just explaining the
g-function difference. @mmatts?

[2015-03-26 00:12] rraustad commented on #4824
Yes, in GetInput

verticalGLHE( GLHENum ).LNTTS.dimension( verticalGLHE( GLHENum ).NPairs, 0.0 );
verticalGLHE( GLHENum ).GFNC.dimension( verticalGLHE( GLHENum ).NPairs, 0.0 );

But these are not the ones used in GLHEBase::interpGFunc which is getting called with the defect file but not in GSHP-GLHE.

[2015-03-26 03:08] mmatts commented on #4824
@EnergyArchmage @rraustad @Myoldmopar @mjwitte

The original input file must have been a little older. We deprecated an unused field from the vertical GHX object and that wasn't updated here. I corrected it and pushed to the EPDev Repo [here](https://github.com/NREL/EnergyPlusDevSupport/commit/4f55a64e8f4125697f48f2c14142c3a72e00da20).

It has already been corrected in develop... so I'm guessing t

[2015-03-26 11:55] mjwitte commented on #4823
@wfbuhl Thanks.  I can remove this in my next round of unit test fixes.  @lefticus It would be very helpful if we could access the err and eio output file when there is a unit test failure.  Is that doable?

[2015-03-26 12:26] #4780 closed

[2015-03-26 12:56] mjwitte opened #4826 "Relax fatal error for DX coil zero capacity or flow rate add more sizing output"
DX coils (cooling and heating) will cause a fatal error if the capacity or flow rate is <= 0.0.  These should just be warnings.  Not sure if this was done to prevent divide by zero errors in the calc routines, so it may require more code than simply commenting out these blocks
				if ( ErrorsFound ) {
					ShowFatalError( "Preceding condition causes termination." );
				}

It would also be helpful

[2015-03-26 14:19] mjwitte commented on #3835
@rraustad As of v8.3.0, has scalable sizing been implemented everywhere now for dx heating coils?  If so, please close this issue.

[2015-03-26 14:30] mjwitte opened #4827 "Central dx heating coil sizes to zero if cooling coils have not sized yet"
Defect file has dx heating coil (in a coilsystem:heating:dx) before the dx cooling coil on an airloop.  This results in the dx heating coil sizing to zero, because the heating coil wants to size itself by default to match the cooling coil capacity.   I was expecting the dx heating coil to size itself based on the sizing:system heating supply temp since it's not part of a heatpump unitary system.

[2015-03-26 15:02] kbenne commented on #4573
"Currently, the default install from cmake is /usr/local/ without a package directory. I feel this should be automated to either add the defaulted package directory as a cmake option, or, install in the package subdirectory. "  - We are not supporting the install target right now except in support build package.  Although this comment does shed light on the next one.

"Most of the install files ar

[2015-03-26 15:54] EnergyArchmage commented on #4824
oh sorry, it was an 8.2 file I think.  But this whole Ground HX tangent isn't related to the issue.

[2015-03-26 16:26] kbenne commented on #4722
@nllong what program did you see this with?  It looks like they are all statically linked to runtime.

[2015-03-26 16:27] kbenne commented on #4722
I think I see, it might be expand objects.

[2015-03-27 00:51] rraustad commented on #4827
So you wanted the heating coil sized differently, and using a different air flow rate. Yes you could put a DX coil in an air loop and only operate it for heating. And same for a DX cooling coil. Regardless, this is a computer simulation so it should work. I've been backing out the limitations we've been applying to HP's so users can do whatever they choose. DX heating coils have been a thorn in th

[2015-03-27 02:19] rraustad commented on #4794
This does not look as bad as first thought. The air loop is operating according to the availability schedule.
![4794_availsch](https://cloud.githubusercontent.com/assets/5778156/6860888/97e10130-d404-11e4-95c9-dad7f3b88717.jpg)

The HX is operating only during times when economizer is not active, as designed. When in cooling mode, the HX is full on and does not attempt to control to the active set

[2015-03-27 03:32] rraustad commented on #4827
I immediately thought UnitarySystem...this is CoilSystem:Heating:DX

Coil sized to 0 since capacity was calculated as a negative value. Inlet temp was 19C.

This deserves a warning:
Sizing:System,
    PSZ-AC:1,                 !- AirLoop Name
    -15.0,                    !- Central Heating Design Supply Air Temperature

Changing SAT to 40 C yields:
 Component Sizing Information, Coil:Heating:DX:S

[2015-03-27 04:53] #4573 closed

[2015-03-27 04:53] #4722 closed

[2015-03-27 14:00] mjwitte commented on #4827
@rraustad Back in v8.1 (which this analysis is using at the moment) changing SAT to 40 still resulted in a zero size coil.  I guess I did not run that case with v8.2.x  So, this has already been fixed in v8.2.0 and beyond.  @JasonGlazer FYI.

[2015-03-27 14:05] rraustad commented on #4827
You don't think a warning would be helpful when heating SAT is below entering air temp (which user has little control over)?

[2015-03-27 14:07] mjwitte commented on #4827
@rraustad That could be covered as part of #4826

[2015-03-27 14:09] #4827 closed

[2015-03-27 14:58] mjwitte commented on #4794
@rraustad Thanks for the detailed look at this.  The question of what "heating" mode means is still ambiguous.  One could argue that anytime SecInTemp > SupIntemp then we are in heating mode and the setpoint control should be active.  That's what I expected the control to do.  Regarding the zero min OA schedule, that's necessary to allow the DCV to do it's thing.  Changing the bypass control to "B

[2015-03-27 15:14] rraustad commented on #4794
I would expect that IF SupInTemp < HXTempSetPoint, then SecInTemp would have to be greater than SupInTemp to provide any heating. I would have to verify that is working correctly. I was mulling over allowing this control to apply to cooling mode as well. I haven't come up with a good reason not to allow that. So basically:

if ( ExchCond( ExNum ).ControlToTemperatureSetPoint ) {
then try to meet t

[2015-03-27 15:28] mjwitte commented on #4794
@rraustad "I would expect that IF SupInTemp < HXTempSetPoint, then SecInTemp would have to be greater than SupInTemp to provide any heating. "  But if SupInTemp>HXTempSetPoint and SecInTemp>SupInTemp we want the HX to stay off.  This is not happening currently.

Regarding the suggestion to control in both directions, that should be a second option.  But longer term we need to find a way to simplif

[2015-03-27 15:38] rraustad commented on #4794
"But if SupInTemp>HXTempSetPoint and SecInTemp>SupInTemp we want the HX to stay off. This is not happening currently"

You lost me. Why would we turn off the HX during the cooling season simply because a user tried to minimize heating energy during the heating season (i.e., used SP control)? Maybe your thinking of this more broadly than I am but HX's are hard enough to justify economically without

[2015-03-27 15:50] EnergyArchmage commented on #4824
a working fix was drafted out in branch Zone-VS-WSHP-system-sizing-draft and pushed up.

[2015-03-27 16:09] mjwitte commented on #4794
This is not cooling season.  It's January.  It's heating season, but the interior zone wants some cooling.  It's cold outside, but the ODB happens to be a little warmer than the setpoint required to meet the mixed air setpoint (this setpoint may be a separate issue).  What happens currently is the HX comes on 100% and then the DX coil comes on to get rid of everything the HX did.

Looking at 01/23

[2015-03-27 16:12] mjwitte opened #4828 "Installer overwrites existing DLLs and OCX even if they are newer"
Helpdesk ticket #10308
User says:

During installation the latest v8.2.0-Update-1.2 installer will overwrite some shared files if they are already installed. For example, gswdll32.dll is overwritten with a older version if it is already installed and this will break other programs that may require a newer version. (For example ArcGIS 10.2.2.) The newer version seems to work fine with EnergyPlus.

[2015-03-27 16:13] mjwitte commented on #4828
@kbenne For v8.3, perhaps the installer can skip these if already present.

[2015-03-27 16:13] kbenne commented on #4828
Ok  I'll give it a go.

[2015-03-27 16:16] mjwitte commented on #4828
@kbenne Thanks.
@JasonGlazer Are you set up to test the installer on a clean Windows machine?  We'll need to test that is does install these when needed.  I assume the install log will show that it did not install when present (on my machine).

[2015-03-27 16:28] JasonGlazer commented on #4828
@mjwitte Yes, I have a virtual machine with Window 8.1 64bit that is as if it was just installed.

[2015-03-27 17:46] #4828 closed

[2015-03-27 17:51] kbenne commented on #4828
@JasonGlazer can you give this a try?

https://drive.google.com/file/d/0B6AYyX2ggNyBLWg4OHBUSFNFNnc/view?usp=sharing

[2015-03-27 18:07] mjwitte commented on #4828
@kbenne I installed this on my unclean machine and it runs.  I forgot that we don't get an install log (or is there one hidden somewhere?) so I can't tell if it copied over any dlls or not.  Was this a release build of EnergyPlus?  I'm guessing not.

[2015-03-27 18:09] kbenne commented on #4828
It was a debug build of energyplus.  I'm not sure about a log.  I'll look into it.

[2015-03-27 18:23] lgu1234 opened #4829 "HVAC Iteration"
The following output variables are added in two example files: RefBldgLargeOfficeNew2004_Chicago.idf  and HospitalLowEnergy.idf

   Output:Variable,_,HVAC System Solver Iteration Count,detailed; !- HVAC Sum []
   Output:Variable,_,Air System Solver Iteration Count,detailed; !- HVAC Sum []

The outputs are all 1 for both count output variables by running HospitalLowEnergy.idf.
The outputs are all 1

[2015-03-27 18:28] lgu1234 commented on #4829
Correction:
A few rows in the HVAC System Solver Iteration Count column have values above 1.

[2015-03-27 18:40] mjwitte commented on #4794
@rraustad  Still looking at 01/23 15:20, it seems the HX should have been bypassing

VAV_POD_3:Air System Outdoor Air Economizer Status [](Each Call) = 1
VAV_POD_3:Air System Outdoor Air Heat Recovery Bypass Status [](Each Call) = 0
VAV_POD_3:Air System Outdoor Air Flow Fraction [](Each Call) = 0.441047543
VAV_POD_3:Air System Outdoor Air Minimum Flow Fraction [](Each Call) = 0.405427698

So, OA F

[2015-03-27 19:42] JasonGlazer commented on #4828
@kbenne and @mjwitte

After installing it on a clean Window 8.1 64bit. Installation went without a problem.

When I try to run any simulation I get a crash message when using EP-Launch. When I try to run using RunEPlus I get a message that says "The program can't start because MSCCP120D.dll is missing from your computer. Try reinstalling the program to fix the problem."

IDF Editor open fine. IDF

[2015-03-27 19:44] JasonGlazer commented on #4828
Sorry it is "MSVCP120D.dll"

[2015-03-27 19:45] kbenne commented on #4828
thats a debug dll.  try the real package that just came off the robot.  https://github.com/NREL/EnergyPlus/releases/tag/v8.3.0-RC2

[2015-03-27 20:01] JasonGlazer commented on #4828
Using another clean VM. RC2 worked much better. I was able to use EP-Launch to run several simulations. I used IDF Version Updater to convert a file from 8.2 to 8.3 and then ran the 8.3 file. IDF Editor opened fine.

[2015-03-27 20:36] rraustad commented on #4794
I intend to investigate tonight.

[2015-03-28 12:36] mjwitte opened #4830 "Some example files still have old 'sequential' load distribution choice"
Not sure how these got past transitions (probably because they were new files in the release where these were changed), but if you search the example files for "sequential," and "sequential;" there are still 4 files that are using the old "Sequential" keyword for PlantLoop Load Distribution Scheme

5ZoneAirCooledWithCoupledInGradeSlab
5ZoneWaterCooled_BaseboardScalableSizing
HVACTemplate-5ZoneUnit

[2015-03-28 12:53] mjwitte commented on #4823
@lefticus @Myoldmopar Many of the unit tests are opening the eio output file and then closing it and deleting it
	int write_stat;
	// Open the Initialization Output File (lifted from SimulationManager.cc)
	OutputFileInits = GetNewUnitNumber();
	{ IOFlags flags; flags.ACTION( "write" ); flags.STATUS( "UNKNOWN" ); gio::open( OutputFileInits, "eplusout.eio", flags ); write_stat = flags.ios(); }

. .

[2015-03-28 13:26] mjwitte commented on #4823
@lefticus @Myoldmopar Same for InitializePsychRoutines(); - could this be done once in EnergyPlus_tests\main.cc ?

[2015-03-28 19:26] rraustad commented on #4794
Controller:OutdoorAir,
    VAV_POD_3_OA_Controller,    !- Name
    NoLockout,                !- Lockout Type

[2015-03-28 19:28] mjwitte commented on #4823
Work on this issue also includes
1.  Add ShowMessage at the beginning of every unit test to help navigate the err output file and know what test generated what error messages.
2.  Add missing eio output file inits to prevent random output file creation with names such as FOR3.DAT, FOR7.DAT etc.
3.  Add missing InitializePsychRoutines in WaterCoils unit test
4.  Add more explicit initializations in

[2015-03-28 19:45] rraustad commented on #4794
No, not the OA controller, the HX has a lockout input field which is not included in the input file. The default is Yes, so I'll check to see if it's actually set as Yes when the input field is missing.

HeatExchanger:AirToAir:SensibleAndLatent,
  A10;\field Economizer Lockout
      \type choice
      \key Yes
      \key No
      \default Yes
      \note Yes means that the heat exchanger will be l

[2015-03-28 19:49] rraustad commented on #4794
Yes, HX lockout gets set to Yes if the field is missing.

[2015-03-28 19:58] rraustad commented on #4794
It's working correctly, rotary HX's don't bypass, they modulate wheel speed. The HX cooling/heating rate variables or the HX effectiveness variables should show inactive operation.

HeatExchanger:AirToAir:SensibleAndLatent,
    VAV_Pod_3 OA Heat Recovery,    !- Name
    Yes,                      !- Supply Air Outlet Temperature Control
    Rotary,                   !- Heat Exchanger Type

[2015-03-28 21:35] rraustad commented on #4794
To clarify:
VAV_POD_3:Air System Outdoor Air Economizer Status = 1
VAV_POD_3:Air System Outdoor Air Heat Recovery Bypass Status = 0
VAV_POD_3:Air System Outdoor Air Flow Fraction = 0.441047543
VAV_POD_3:Air System Outdoor Air Minimum Flow Fraction = 0.405427698

The bypass status will not equal economizer status when economizer turns on the air loop heating coil. If the air loop heating coil turns

[2015-03-29 00:25] mjwitte commented on #4794
@rraustad OK, so the silly heating coil was running at 1W or less.  Added a second defect file that lowers the heating coil setpoint 0.1C below the cooling coil setpoint to get rid of this kind of noise.  So, now the heating coil shows zero output, but the HX is still running.  What do I look for next?  Earlier that same day the bypass flag = 1 and the HX is off.  Then at 11:36:40 is flips for som

[2015-03-29 00:31] mjwitte commented on #4794
@rraustad Interesting to note that the heating coil does operate for two time steps starting at 11:36:40 then is off the rest of the day.  Wondering if the HeatingActiveFlag is not getting reset?  After the system is off overnight, then the bypass flag works as expected again.

[2015-03-29 03:54] mjwitte commented on #4823
Finally found a way to reproduce the WaterCoilTest failure locally - by running just that test alone.
Here is the error file:
   ************* Begin Test: WaterCoilsTest, WaterCoolingCoilSizing
   ** Severe  ** For autosizing of Coil:Cooling:Water Test Water Cooling Coil, a system sizing run must be done.
   **   ~~~   ** No "Sizing:System" objects were entered.
   **   ~~~   ** The "SimulationCon

[2015-03-30 01:29] wfbuhl commented on #4823
These suggestions seems like a good idea.  As I noted, the .err file is
different than the .eio file in that it opened automatically when the first
error message is invoked. What about closing the files?

Fred

On Sat, Mar 28, 2015 at 6:26 AM, Michael J. Witte <notifications@github.com>
wrote:

[2015-03-30 02:08] rraustad commented on #4826
PR #4834

[2015-03-30 02:09] rraustad commented on #4794
PR #4833

[2015-03-30 13:43] rraustad commented on #4794
All these get reset at the top of SimHVAC()

if ( AirLoopInputsFilled ) {
	// Reset air loop control info for cooling coil active flag (used in TU's for reheat air flow control)
	AirLoopControlInfo.CoolingActiveFlag() = false;
	// Reset air loop control info for heating coil active flag (used in OA controller for HX control)
	AirLoopControlInfo.HeatingActiveFlag() = false;
	// reset outside air sy

[2015-03-30 18:04] mjwitte opened #4835 "Update IDF Editor and EP-Launch for new documentation format"
EnergyPlus documentation is now online via a small html file in the install Documentation folder.  Need to update Help menus in IDF Editor and EP-Launch which currently open specific pdf docs.

[2015-04-01 16:54] macumber opened #4838 "Severe error but simulation completes"
We have run across the following severe error in EnergyPlus which is not followed by a fatal termination:

[code]

I wonder if all severe errors are supposed to be followed by a fatal termination?  In that case, should this remain a severe error and terminate the program or should this be changed to a warning similar to this warning (which occurs in the same file):

[code]

[2015-04-01 16:56] macumber commented on #4838
Related to https://github.com/NREL/EnergyPlus/issues/2564

[2015-04-01 17:20] macumber commented on #4838
@mjwitte @Myoldmopar @JasonGlazer it would be great to get some guidance on whether simulations with severe errors should be treated as not successful.  Currently you can get severe errors and the error file says:

[code]

[2015-04-01 17:21] macumber commented on #4838
Regarding the shading issues we are using:

Solar Distribution = FullExterior
Polygon Clipping Algorithm = SutherlandHodgman

[2015-04-01 17:39] mjwitte commented on #4838
@macumber The distinction between warning/severe/fatal can be fuzzy, but there are many types of severe errors which allow the simulation to continue.  Why?  Because the error trap may not be perfect and the user's intent may be OK, or stopping the simulation prevents the user from getting enough information to diagnose the problem.  In this particular case, the non-convex problem went by undetect

[2015-04-01 17:55] macumber opened #4839 "EnergyPlus cannot handle non-convex surfaces in shading calculations"
I don't believe that either of the shadow algorithms in E+ can handle non-convex casting surfaces.  With more and more input files coming from CAD tools this is too restrictive of a constraint.  Can we either 1) triangulate these surfaces internal to E+ or 2) implement some other algorithm that does not have this constraint?

[2015-04-01 17:58] macumber commented on #4838
Thanks @mjwitte the concern is whether or not this should be considered a successful run.  I am looking for a policy statement or something like 'severe errors indicate an unsuccessful run' which clears up the meaning of a severe error.  Should E+ output results if there are severe errors?  Do you want people using those?  If the error is not severe enough to warrant termination then maybe it shou

[2015-04-01 18:02] mjwitte commented on #4839
@macumber Triangulation might be possible.  There is already code in place to triangulate surfaces for dxf output, but the hard part comes in relating the triangulated pieces back to the original surface which might hold windows or other subsurfaces, etc.  So, the triangulated parts would need to be done as a side calc then the average solar placed on the base?  Or something like that.  For many y

[2015-04-01 18:17] mjwitte commented on #4838
@macumber The reality at this point is that the determination of a successful run with meaningful output requires an understanding of the model plus a review of the reported errors.  Sometimes it's matter of the number of errors - one or two severes such as controller rootfinder errors are probably ok in an annual simulation, even a warmup convergence error might be ok in some cases, but 1000s of

[2015-04-01 18:27] macumber commented on #4838
I understand that it's a judgement call.  Unfortunately I think that EnergyPlus really does need to make that call though.  Most users and application developers just don't know enough to make those calls on their own.

Maybe there needs to be a setting to allow user judgement of errors or let E+ make the call :-)

[2015-04-02 11:47] #4823 closed

[2015-04-02 16:52] #4826 closed

[2015-04-02 18:23] wfbuhl commented on #4823
Good work Mike.

On Thu, Apr 2, 2015 at 4:47 AM, Edwin Lee notifications@github.com wrote:

[2015-04-02 21:23] #4438 closed

[2015-04-03 17:03] MatthewSteen commented on #4588
**EAp2-2. Advisory Messages**
Total unmet hours not summing correctly and don't match `Time Setpoint Not Met` table from `System Summary` report:

Number of hours heating loads not met | 30.00
Number of hours cooling loads not met    | 10.00
Number of hours not met | 55.00

Fixed in #5296

[2015-04-03 17:23] Myoldmopar opened #4840 "ExpandObjects can't find Energy+.idd on Linux"
Ref: Helpdesk: 10323

On Linux

Energy+.ini file doesn't appear to be created, so ExpandObjects can't find Energy+.idd.  I verified on 8.2.  Need to verify on 8.3, and address it.  Might be a matter of converting from runenergyplus to the command line interface.

[2015-04-06 17:28] nmerket commented on #4174
#4383 is the pull request

[2015-04-06 18:19] mitchute opened #4841 "Heat Recovery Pump Won't Turn Off With Generator:Microturbine"
Addresses helpdesk ticket 9515.

Potential fix here: a4199590f3d8cc685420a766b0002bc81449663f

[2015-04-06 19:49] mjwitte opened #4842 "Parametric preprocessor deletes more idf files than it should"
When testing a user's file that included parametrics, a similarly named idf file was deleted.  The parametrics were in MyFile.idf and the file which got deleted was named MyFile-LowerSupplySetpoint.idf

[2015-04-06 21:51] mjwitte commented on #4835
Done for v8.3
https://github.com/NREL/EnergyPlusBuildSupport/commit/1e5cd072eb0cf167a3a57e0c3721ac3d143164ee

[2015-04-06 21:51] #4835 closed

[2015-04-06 21:53] #4777 closed

[2015-04-06 21:57] #4723 closed

[2015-04-06 22:08] mjwitte commented on #4718
@Myoldmopar Can this issue be closed?

[2015-04-06 22:08] mjwitte commented on #4571
@Myoldmopar Can this issue be closed?

[2015-04-06 22:09] mjwitte commented on #4484
@Myoldmopar Can this issue be closed?

[2015-04-06 22:10] mjwitte commented on #4456
@Myoldmopar Can this issue be closed?

[2015-04-06 22:11] mjwitte commented on #4453
@lgu1234 What is the status of this?  I see a branch, but there is no pull request.

[2015-04-06 23:54] mjwitte commented on #4313
This went in with #4349

[2015-04-06 23:54] #4313 closed

[2015-04-07 17:37] lgu1234 commented on #4453
@mjwitte I fixed the code of ChillerElectricEIR. @EnergyArchmage reviewed my changes. He was Ok with the changes. Then I debugged the code again and found update of water coil outlet node was not performed, after plant is converged. I think I may close this issue and make a pull request. Then a new issue may be created to address node updates

[2015-04-08 12:56] zhukovgreen opened #4844 "IDF Editor, Swimming pool: Indoor / Surface Name selection"
Once you click to select a surface, the dialog refer you on Constructions instead of Surfaces
![image](https://cloud.githubusercontent.com/assets/10520003/7045548/6053e304-ddff-11e4-8dfc-3d3e79281918.png)

[2015-04-08 13:17] mjwitte commented on #4844
@ZhukovGreen Thanks for noting this.  This should reference any surface that can be a floor (BuildingSurface:Detailed, Floor:*).  A quick workaround is to edit the swimming pool IDD entry.

Current:

[code]

Workaround:

[code]

The final fix will be different, but this will work for now.

[2015-04-08 21:27] mjwitte opened #4845 "Common pipe simulation does not work with primary branch pump - does not throw error"
Helpdesk ticket 10403
User file has variable flow branch pump on the primary side of a twoway common pipe plant loop.  Secondary side delivers cooling while there is no flow and no chiller operation on the primary side.  I/O Ref PlantLoop Common Pipe docs say that branch pumps are not supported with common pipe.  I expected a fatal error, but there's nothing.  Also, user notes that a constant flow