[2015-08-18 20:36] DeadParrot commented on #5039
@nmerket so the time is spent in `CalcWaterThermalTankStratified` and there is certainly room in there for traditional performance tuning but I would start with the big offenders, which are the sneaky temporary arrays. The profile was indicating heap allocation going on in there and at first glance I didn't see it. But then I noticed the member array use (which should also be eliminated) and then

[2015-08-18 20:38] Myoldmopar commented on #5039
Oh gawd no, no pointers, please no poi.... oh wait, you mean pointers like **tips**, not **memory addresses**.  OK, cool.  You can calm down, @jasondegraw and @amirroth and @mbadams5, we're OK.

:wink:

[2015-08-18 21:57] ejhw opened #5121 "Output:Table:Monthly "Invalid/Undefined" meter caused by similarly named custom meters"
Some custom meters are not properly read by Output:Table:Monthly reports (they are labeled "Invalid/Undefined"). This is somehow dependent on the name of the custom meter and seems to happen with custom meters with similar names.

8.3 defect file illustrating issue: https://gist.github.com/ejhw/87a6a794b50ead78dcc3

cc @nmerket

[2015-08-18 22:23] EnergyArchmage opened #5122 "AirTerminal:SingleDuct:UserDefined, get input processing typo"
ambient zone name error checking has a copy and paste error.  in UserDefinedComponents.cc line 1304, the code references

[code]

but it should be the air terminal, not zone HVAC

[code]

[2015-08-18 22:49] nmerket commented on #4665
Still seeing this in a `develop` build. I think it has to do with the way the use side heat transfer output variable is calculated for stratified tanks.

[2015-08-18 23:06] nmerket commented on #4695
The [code that checks this](https://github.com/NREL/EnergyPlus/blob/b5d65e9c71fc9f1db7dda067c865b6fde819d5f9/src/EnergyPlus/WaterThermalTanks.cc#L3698-L3702) actually goes through each piece of equipment in the zone equipment list and checks to see if the equipment has a lower priority number than the HPWH. In other words, it's doing what it says it's doing and not expecting the equipment number t

[2015-08-19 14:32] nmerket commented on #4695
Okay, just re-read that along with the I/O Reference. It's confusing in the code as well. So, it looks like the HPWH needs to have the lowest _sequence number_ which is actually the highest _priority_. I think that's what @mjwitte was getting at.

[2015-08-19 14:32] mjwitte commented on #4695
@nmerket The problem is that the "priority" terminology is ambiguous.  That's why the field names were changed to "sequence number", but the code still uses the term "priority".  For this purpose, 1 is the lowest priority - meaning it's run first, then the next equipment, etc.  The 4695 defect file (stored in your favorite repo) produces the error with v8.3.0.  Working on a v8.3.4 version.

Lookin

[2015-08-19 14:35] nmerket commented on #4695
Right, the whole lowest/highest priority is confusing. That error message sounds like a better explanation. I'll make the change.

[2015-08-19 18:54] zhukovgreen commented on #5119
@mjwitte Thank you for the explanation

[2015-08-19 19:17] rraustad commented on #4950
The defrost code was carried over from Coil:Heating:DX:SingleSpeed. I see the same issue over there.
if ( DXCoil( DXCoilNum ).DefrostStrategy == ReverseCycle && DXCoil( DXCoilNum ).DefrostControl == OnDemand ) {

[2015-08-19 20:32] nmerket commented on #5110
Heads up: I made some more pushes to #5116 towards fixing this. Any review would be appreciated.

[2015-08-19 20:38] mjwitte opened #5126 "ExternalInterface*Schedule input processing could fail if no other schedule objects in idf"
These [if blocks](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ScheduleManager.cc#L372-L395) in ScheduleManager::ProcessScheduleInput have pasteos.  Instead of checking if NumCptSchedules > 0, these should be testing the respective NumExternalInterface\* variables set in the line above the if.

Noticed while working on a different issue.  No defect test file yet.  An idf which ha

[2015-08-19 20:53] nmerket opened #5127 "HPWH wrapped condenser error when more than one in simulation"
When there is more than one `WaterHeater:HeatPump:WrappedCondenser` in a single building simulation, the following error occurs:

[code]

@jmaguire1

[2015-08-19 20:58] mjwitte opened #5128 "IDF Editor is case-sensitive to Schedule:TypeLimits Unit Type field"
Looking at a user's idf file, noticed that the Schedule:TypeLimits Unit Type=temperature but the values in the schedule objects weren't being converted to IP units.  Changing to "Temperature" fixed the problem.

Defect file loaded into dev support.

[2015-08-19 21:36] #4697 closed

[2015-08-19 21:36] tsnouidui commented on #5126
@mjwitte Thanks. I will take a look.

[2015-08-20 12:46] rraustad commented on #4950
@EnergyArchmage, is it appropriate to use a 1 if the defrost EIR modifier schedule is blank, or should E+ force the use of a modifier schedule to vary the defrost power with outdoor conditions?

if ( VRF( VRFCond ).DefrostStrategy == ReverseCycle ) {

LoadDueToDefrost = ( 0.01 \* FractionalDefrostTime ) \* ( 7.222 - OutdoorDryBulb ) \* ( VRF( VRFCond ).HeatingCapacity / 1.01667 );

if ( VRF( VRFCo

[2015-08-20 13:20] rraustad commented on #4950
Results of Reverse/Timed defrost.

DefrostPower = DefrostEIRTempModFac \* ( VRF( VRFCond ).HeatingCapacity / 1.01667 ) \* FractionalDefrostTime \* VRFHeatingRTF;

DefrostEIRTempModFac = 1 (biquadratic curve set to always be 1)
FractionalDefrostTime = 0.058333

![vrf_defrostpower](https://cloud.githubusercontent.com/assets/5778156/9384143/53fad7bc-471c-11e5-9fc0-89b3938cc74f.png)

[2015-08-20 18:34] mjwitte opened #5133 "Allow SetpointManager:Coldest to work with single-duct systems"
Currently SetpointManager:Coldest only acts on "heated" zones, which only exist in a dual-duct airloop.  This limits the ability to control a central heating coil in a single-duct system to supply warm air when the system requires heating.  With some minor changes, this could search the "cooled" zones for heating loads when "heated" zones do not exist.

Reference helpdesk ticket 10692 with poor op

[2015-08-20 19:00] jonwinkler opened #5134 "Issue when using different heating and cooling airflow rates with Airflow Network"
If I simply change the following line to a different airflow rate (say 1.17), the HVAC loop fails to converge for all timesteps with a heating load. Is this a bug? Or does the Airflow Network not support different airflow rates for heating and cooling modes? @nmerket @lgu1234 @jasondegraw

(https://github.com/NREL/EnergyPlus/blob/6e67bc4debba7cb02bd4c3ef595f0f3d81736169/testfiles/AirflowNetwork_Mu

[2015-08-20 19:03] mjwitte commented on #5134
@jonwinkler I suspect you might find the same issue if you make a similar change in a file with AirLoopHVAC:UnitaryHeatPump:AirToAir and no airflownetwork.

[2015-08-20 19:11] jonwinkler commented on #5134
No. If you disable the AFN in the simulation (set AirflowNetworkControl to NoMultizoneOrDistribution), the HVAC loop convergence warnings no longer appear despite having a different airflow rate for heating mode.

[2015-08-20 19:17] mjwitte commented on #5134
@jonwinkler Well, that's a pleasant surprise.

[2015-08-20 19:38] jonwinkler commented on #5134
This issues also exists with the Airflow Network when using an AirLoopHVAC:UnitaryHeatCool object instead of the AirLoopHVAC:UnitaryHeatPump:AirToAir. Use equal heating and cooling airflow rates, the simulation runs smoothly. Set a lower heating air flow (very common for residential systems), the simulation grinds to a halt due to the HVAC loop not converging.

[2015-08-20 19:38] lgu1234 commented on #5134
@jonwinkler When you changed the flow rate in unitary system, did you change the coil flow rate also?

[2015-08-20 19:39] bonnema commented on #4572
No.

[2015-08-20 19:41] jonwinkler commented on #5134
@lgu1234  I've tried it both ways - changing the coil rated air flow and leaving it the same. Though the coil rated flow rate shouldn't have to the same as the flow rate specified in the unitary system, correct?

[2015-08-20 19:42] Myoldmopar commented on #4572
I'm going to close this as we haven't encountered this issue before or after this incident.

[2015-08-20 19:42] #4572 closed

[2015-08-20 19:43] jasondegraw commented on #5134
@jonwinkler @lgu1234 I ran some quick tests and I'm seeing the same thing. With "Supply Air Flow Rate During Heating Operation" at 1.17 I get convergence failure unless I turn off AFN, with 1.19 it works.

[2015-08-20 19:52] Nigusse commented on #5060
@mjwitte @Myoldmopar In "EvaporativeCooler:Direct:ResearchSpecial" there is no primary air design flow rate input field.  Mike, as you pointed out the "Water Pump Power Sizing Factor" is not helpful without the primary air flow rate.  Existing code will size the recirculation pump power to zero if the "Recirculating Water Pump Design Power" input field is  set autosized. All example files will req

[2015-08-20 19:54] Myoldmopar commented on #5060
I'm still OK with transition changes during this period, so don't let that stop this fix if it is needed.

[2015-08-20 19:54] lgu1234 commented on #5134
@jonwinkler I tried another example file: AirflowNetwork_MULTIZONE_House_TwoSpeed.idf. It uses AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed. When I changed the value of Speed 2 Supply Air Flow Rate During Heating Operation from 0.7551 to 0.7500 with both parent and coil object, the program ran to completion without any divergence. Please also test AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed

[2015-08-20 19:59] jonwinkler commented on #5134
@lgu1234 This problem also exists when using an AirLoopHVAC:UnitaryHeatCool object, which is a bigger issue for us than heat pumps. I will test AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed.

[2015-08-20 20:07] mjwitte commented on #5060
@EnergyArchmage Can you comment on this?  @Nigusse How does EvaporativeCooler:Direct:ResearchSpecial function without an air flow rate?  Is the Primary Air Design Flow Rate in EvaporativeCooler:InDirect:ResearchSpecial used for anything other than sizing other parts of that unit?

[2015-08-20 20:08] Myoldmopar commented on #5060
:zap: :dash: :zap: :droplet: :cloud:

[2015-08-20 20:17] Nigusse commented on #5060
Runs using the inlet flow rate during initialization. See code snippet below:

[code]

[2015-08-20 20:19] Nigusse commented on #5060
Actually the design volume flow rate is saved in the variable "EvapCond( EvapCoolNum ).VolFlowRate" and is overridden every time step.  The design flow rate is not saved and will not be available once reported.

[2015-08-20 20:26] jonwinkler commented on #5134
@lgu1234 I tested using AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed in AirflowNetwork_MultiZone_House.idf and the file ran without convergence issues. Odd that the issue exists with AirLoopHVAC:UnitaryHeatPump:AirToAir and AirLoopHVAC:UnitaryHeatCool objects.

[2015-08-20 20:32] mjwitte commented on #5087
- [x] I/O ref and IDD say "Multimode - activate enhanced dehumidification mode as needed and meet sensible load. This option is used to model DX equipment with a controllable heat exchanger assisting the DX cooling coil for improved dehumidification. It is valid only with cooling coil type = CoilSystem:Cooling:DX:HeatExchangerAssisted."

Shouldn't this include coil type Coil:Cooling:DX:TwoStageWit

[2015-08-20 20:42] rraustad commented on #5087
Shouldn't this include coil type Coil:Cooling:DX:TwoStageWithHumidityControlMode?

I just checked and yes it should.

[2015-08-20 21:37] lgu1234 commented on #5134
@jonwinkler I assigned this issue to me and will take a look at it.

[2015-08-21 15:59] #5127 closed, assigned to nmerket

[2015-08-21 17:27] nmerket commented on #4975
@jonwinkler Can you let me know if I'm okay to close this ticket out?

[2015-08-21 18:34] rraustad commented on #4950
Another view of timed defrost using reverse cycle.
![vrf_defrostpower2](https://cloud.githubusercontent.com/assets/5778156/9416125/aff97ece-4811-11e5-8b35-b9c08d55165b.png)

[2015-08-21 18:36] rraustad commented on #4950
I got rid of using 1 if DefrostEIR curve is missing. Its still a required input with ReverseCycle is selected. The user can put a 1 in the constant term, with the rest 0, if they don't want to vary defrost power with outdoor conditions.

[2015-08-21 18:40] rraustad commented on #4950
See PR #5135

[2015-08-21 18:55] jonwinkler commented on #4975
@nmerket It looks like you can.

[2015-08-21 18:59] nmerket commented on #4975
Thanks.

[2015-08-21 18:59] #4975 closed, assigned to nmerket

[2015-08-23 20:16] rglazer2 commented on #4627
@mjwitte Any update on whether this should just throw a severe error, or if something else needs to be fixed?

[2015-08-23 22:00] rglazer2 commented on #4407
@mjwitte What is the best way to check if the node name is unique. I tried using
`CheckUniqueNodes("Return Plenum Zone Node Names", "NodeName", UniqueNodeError, ZoneRetPlenCond(ZonePlenumNum).ZoneNodeName);`
around ZonePlenum.cc:370 but that doesn't seem to find the other uses of "Office Zone Air Node".

[2015-08-24 12:42] mjwitte commented on #4627
@rglazer2 I'd like it to work in both directions, but we can't have it causing problems.  It's possible the defect file has other problems.  I can try to make a different test file and see if I get the same result.  Please push this branch up so I can run some simulations with the modified code.

[2015-08-24 12:52] EnergyArchmage commented on #4950
I think using DefrostEIRTempModFac = 1.0 is okay there.

From: Richard Raustad [mailto:notifications@github.com]
Sent: Thursday, August 20, 2015 8:46 AM
To: NREL/EnergyPlus EnergyPlus@noreply.github.com
Cc: Brent Griffith Brent.Griffith@EnergyArchmage.com
Subject: Re: [EnergyPlus] VRF defrost power calculation problems (#4950)

@EnergyArchmage https://github.com/EnergyArchmage , is it appropriate

[2015-08-24 13:28] Nigusse commented on #4958
@mjwitte @Myoldmopar This warning message was added to indicate to users that sensor node is at the airloop outlet node or downstream of the cooling coil instead of at the cooling coil outlet node. When the cooling coil sensor node is at the airloop outlet node, there was a case that the heating coils may turn on when it should have been off.  We found such cases, and changed the sensor nodes from

[2015-08-24 13:35] Myoldmopar commented on #4866
Fixed with #5114

[2015-08-24 13:35] #4866 closed, assigned to mjwitte

[2015-08-24 13:50] mjwitte commented on #4958
@Nigusse But in the defect file, the setpoint is already at the coil outlet.  Unless I'm missing something, the test file should not be throwing the warning.

[2015-08-24 14:04] Nigusse commented on #4958
I will investigate further.

[2015-08-24 15:23] #4297 closed

[2015-08-24 15:48] mjwitte opened #5138 "NodeConnections.ConnectionType should be integer instead of string"
NodeConnections.ConnectionType is stored as a string but it should just be an integer.  This is an internal data structure (not from user input) that tracks how nodes are used.  Unless, I'm missing something, the only point at which the string is useful is when the bnd output file is written.

The type assignment is initiated as an integer argument to GetOnlySingleNode (so the many calls to GetOnl

[2015-08-24 15:48] mjwitte commented on #4407
@rglazer2 Looking more at other uses of CheckUniqueNodes, it is intended for a more limited scope so it will not do the trick here.  Because the return plenum node name (and supply plenum node names, and zone node names as well) could be re-used in another object, the validity check needs to be done after all the input has been processed.  These types of checks are done in [BranchNodeConnections::

[2015-08-24 16:14] ejhw opened #5139 "Pump causing buggy output"
I am seeing `-1.#IND00000000000E+000` during one hour of hourly output (*.csv). The hourly output is then zero for the rest of the year. I also see `************` and `-1.#J` values in several meters and tables in *Table.csv. These values are associated with pump object `GSHPPump_2`.

Defect idf, csv, and Table.csv: https://gist.github.com/ejhw/18d50ca70df34e90ea58

I have two identical zones with

[2015-08-24 16:18] Myoldmopar commented on #5139
Ummm, more info please.  Asterisks are expected to be there in the err file, for example, and there are some 20 output files possible from E+ plus stdout and stderr.

[2015-08-24 16:19] ejhw commented on #5139
Sorry, I hit enter prematurely. Working on it.

[2015-08-24 16:19] Myoldmopar commented on #5139
Ah, OK.  Carry on  :smile:

[2015-08-24 17:58] Nigusse commented on #4958
@mjwitte @Myoldmopar The warning is thrown because of mismatch of control variable type between the control variable specified in "Controller:WaterCoil" object and the setpoint manager object.  The control variable type specified in "SetpointManager:Scheduled" was "HumidityRatio".  Setpoint manager treats "HumidityRatio" and "MaximumHumidityRatio" as distinct types.  On the other hand "Controller:

[2015-08-24 18:20] ejhw commented on #5139
Updated with a new name, description, and defect files. cc @Myoldmopar @nmerket

[2015-08-24 20:10] rraustad commented on #5048
PR #5140

[2015-08-24 20:17] rraustad commented on #5048
Kyle, assigning to you since no others were involved in the creation of this issue. I think I overstated the problem in the description a month ago and it turns out that only a single line of code was needed.

[2015-08-24 20:19] kbenne commented on #5048
got it.

[2015-08-24 20:32] rraustad commented on #5067
@kbenne I don't see a defect file for this.

[2015-08-24 20:38] kbenne commented on #5067
@rraustad that's because I forgot to push it. Here it is now.

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5067

[2015-08-24 20:44] mjwitte commented on #5087
- [x] Helpdesk ticket 10704 Input Output Reference, per user:
  The output variable description of 'Zone Thermal Comfort ASHRAE 55 Adaptive Model Temperature [C]' in the input/output reference reads:
  _This field reports the ideal indoor operative temperature, or comfort temperature, as determined by the ASHRAE-55 adaptive comfort model. The 80% acceptability limits for indoor operative temperatu

[2015-08-24 22:07] mjwitte commented on #3522
Also reference helpdesk ticket 10737 - user file with branch pumps and using EMS plant supervisory control to shut off the entire loop - branch pumps still running.  Added to this defect file folder.  May be related or may be completely separate problem. See, for example, 11/01 8:00-17:00, both chiller branch pumps are running, but both chillers are off.

[2015-08-24 23:48] rraustad commented on #4950
I found 1 place where defrost needed to be modified.
HeatingPLR += ( LoadDueToDefrost \* HeatingPLR ) / TotalCondHeatingCapacity;

I don't think this needs iteration since we didn't iterate before. But that also doesn't mean we did it right before.

New figures. Only the top one changed. And from what it appears, this looks more realistic (small defrost power compared to heating capacity). Uses sa

[2015-08-25 00:47] rraustad commented on #4950
Here's another figure to ponder and supports not letting DefrostEIRTempModFac curve name input be blank? Not sure what to make of this one. Below the minimum PLR, RTF<1 and the condenser cycles. Here the ratio of defrost power to heating rate is about 33%. Does that make sense?

![vrfdefrostfraction](https://cloud.githubusercontent.com/assets/5778156/9456089/263008f6-4aa1-11e5-8c23-3df4455c1618.pn

[2015-08-25 02:10] rraustad commented on #4952
PR #5141

VRF unit test is already created for VRF defrost issue. I can create unit test when that issue is merged, or add to that unit test.

[2015-08-25 02:57] rraustad commented on #4858
PR #5142

[2015-08-25 14:36] Nigusse commented on #4958
@mjwitte I added a check. If there is mismatch in the control variable type, then it resets the control variable type to "MaximumHumidityRatio" and issues a warning message but the simulation continuous.  The reset impacts the false warning message only. Sample warning message:

   *\* Warning *\* ResetHumidityRatioCtrlVarType: SetpointManager:Scheduled="DOAS DESCOIL HUMRATSPMANAGER".
   *\*   ~~~

[2015-08-25 15:26] lgu1234 commented on #4536
@mjwitte I made 3 steps to fix this issue. This fix allows blank curve names of waste heat functions of two coil types: Coil:Heating:DX:MultiSpeed and Coil:Cooling:DX:MultiSpeed, when fuel type is electricity.

Then I will create an issue to address the second request: if nothing is connected to the parent unit waste heat nodes, then all the waste heat fields should be optional.

[2015-08-25 17:30] mjwitte opened #5143 "GroundHeatTransfer:Control option to used saved slab output does not work"
On Windows, with EP-Launch, ran a file with GroundHeatTransfer objects and "run slab preprocessor" = yes.  Kept all the output as-is, and ran the same idf again, but with "run slab" = no.  The run failed and the slab outputs from before were empty.

[2015-08-26 01:46] rraustad commented on #4942
- moved RegisterPlantCompDesignFlow outside of if( autosize)
- revised other logic based on possibility that user sized VRF cooling cap > heating cap

Results after correction show condenser water flow rate (previously 0):

![4942-results](https://cloud.githubusercontent.com/assets/5778156/9483851/a8b16780-4b72-11e5-8f24-c9c3920b95ed.png)

[2015-08-26 01:51] rraustad commented on #4942
PR #5145

[2015-08-26 02:45] rraustad commented on #4854
Non-standard code autosizes all OA units at once:

for ( SizeComp = 1; SizeComp <= NumOfOAUnits; ++SizeComp ) {
    for ( CompNum = 1; CompNum <= OutAirUnit( OAUnitNum ).NumComponents; ++CompNum ) {

Not sure why it's set up this way, might have to revise to size specific OA unit each call.

UPDATE: the outer loop does nothing (SizeComp is not used within the inner loop).

[2015-08-26 13:37] EnergyArchmage commented on #4950
fixed with pull request #5135

[2015-08-26 13:37] #4950 closed, assigned to EnergyArchmage

[2015-08-26 15:01] mjwitte commented on #4285
While working on the link infiltration feature, ran into some max iteration problems.  The extra reporting logs show a pattern of six values that repeat.  I think I've found the source of the pattern of six values.  In HVACManager::SimSelectedEquipment.

[code]

This is within the IterAir loop in SimSelectedEquipment and it fires every time IterAir == 1, because FlowMaxAvailAlreadyReset is being s

[2015-08-26 15:45] rraustad commented on #4285
It looks to me as if it should be ( removed the ! ):

if ( ( IterAir == 1 ) && ( FlowMaxAvailAlreadyReset ) ) { // don't do reset if already done in FirstHVACIteration

... given that flag is set to false after this point

MaxAvail = Max on FirstHVACIteration,
then MaxAvail = Max on next iteration,
then never reset again.

I can't even see why you need that flag since the code would do that anyway

[2015-08-26 15:58] mjwitte commented on #4285
@rraustad Yes, I have the original defect file.  If you read the thread in #2561 CR7781, you'll see that this was part 2 of the fix to reduce the number of diffs caused by the initial fix.  In my link infiltration development version, I've kept the reset call up in the FirstHVACIteration block and removed it from here.  Running a test suite to see what kinds of diffs this introduces.

[2015-08-26 16:02] mjwitte commented on #4285
@rraustad 7781 defect files added here
https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/2000s/2561

[2015-08-26 20:00] rraustad commented on #5067
Cooling coil is now operating (and from what I can tell, correctly now).
There is something going on in this file that doesn't meet the zone temperature set point "perfectly". Since this is a huge file, I believe the zone temp control issue is elsewhere.

The coil (1.5MW) is turning on now which meets the problem statement.

![5067_defectfile_modifiedrunperiod](https://cloud.githubusercontent.com/

[2015-08-26 20:05] rraustad commented on #4861
Cooling coil now operates the same as one configured in the air loop as CoilSystem.
![4861_results_vscoil](https://cloud.githubusercontent.com/assets/5778156/9504734/32004256-4c0c-11e5-945f-3de40e63d940.png)

[2015-08-26 22:20] rglazer2 commented on #4627
@mjwitte After removing the requirement for SetTempAtOutLow > SetTempAtOutHigh in SetPointManager.cc:4534, and running it again, it eventually will abort because of an array issue at SolarShading.cc:2813.

[2015-08-27 19:08] asparke2 opened #5153 "PlantEquipmentOperation:OutdoorWetbulb not working properly"
@kbenne is adding operation schemes to OS, so I'm testing them out.  I don't think the PlantEquipmentOperation:OutdoorWetbulb object is working correctly in EnergyPlus.

To reproduce:
1. Open the example file CoolingTowerWetBulbRangeOp.idf
2. Modify the PlantEquipmentOperation:OutdoorWetbulb so that the first range (All Towers) is -50C to 15C, and the second range, One Tower, is 15C to 70C

![imag

[2015-08-27 19:24] asparke2 commented on #5153
PlantEquipmentOperation:OutdoorDrybulb also appears to be affected.  See graph below from CoolingTowerDryBulbRangeOp.idf with no modifications other than annual simulation.  The operation scheme shows All Towers up to 27C, and One Tower above 27C.

![image](https://cloud.githubusercontent.com/assets/2009290/9530719/bd9d62a0-4cbe-11e5-9a87-61f796d1de3e.png)

And both towers are running above 27C dr

[2015-08-27 19:37] mjwitte commented on #5153
@asparke2 It could be more general than this.  Does the load range based operation give you only one tower when expected?

[2015-08-27 20:08] asparke2 commented on #5153
I haven't looked at a load-based range with cooling towers, but with chillers and boilers it seems to be working fine:

![image](https://cloud.githubusercontent.com/assets/2009290/9531791/080ad420-4cc5-11e5-8a1b-09ee39921020.png)

[2015-08-27 20:14] mjwitte commented on #5153
@asparke2 My gut feel is that the operation schemes are sending the right signals, but that towers are not listening.  But I could be wrong.

[2015-08-28 14:34] mjwitte commented on #4962
Also helpdesk ticket 10706.  Adding defect file from that ticket. In this one, the hw loop operates ok during cool weather, but as it gets warmer, the pump is running at random times with zero output from the baseboard heat.  Every time the pump runs, the loop temp gets warmer and warmer until it's near 100C and throwing glycol warnings.  Then when the baseboard heat comes back on, it all goes bac

[2015-08-28 15:31] mjwitte opened #5155 "DST causing unexpected result on date when schedule changes"
Helpdesk ticket 10742
This is the schedule in question.

[code]

On Aug 3, from 23:00-24:00, it should be zero, but it's showing 1.

[2015-08-28 16:10] mjwitte opened #5156 "Add HeatExchanger:AirToAir:SensibleAndLatent as a valid air loop component"
Helpdesk ticket 10728
HeatExchanger:AirToAir:SensibleAndLatent on an airloop branch results in in a fatal error.

[code]

Looking at the [code that processes the air loop components](https://github.com/NREL/EnergyPlus/blob/bc463b16f9ecaecd6c9ace48676400f05e0aa64f/src/EnergyPlus/SimAirServingZones.cc#L1168-L1173), HEATEXCHANGER:DESICCANT:BALANCEDFLOW and HEATEXCHANGER:AIRTOAIR:FLATPLATE are valid.

[2015-08-28 17:21] rraustad commented on #5156
Well, back then, we simply tried to figure out all the places a component would need to be added to the code. It might be that flat plate was inadvertently added to the air loop component list. However, I also see no reason not to allow that configuration other than a flow ratio out of range issue for users that aren't careful. I question the ability to add this component to the air loop main bran

[2015-08-28 20:41] macumber opened #5157 "Suggest adding architecture option to CLI"
OpenStudio had an issue where we were packaging a 64 bit build of EnergyPlus with the 32 bit OpenStudio package.  This wasn't EnergyPlus's fault at all.  However, there is no way to check the architecture of the EnergyPlus build using the CLI (or any other file) as far as I know.  Would be great if this information was in the CLI (either under --version or a new flag --arch)

[2015-08-28 20:44] kbenne commented on #5157
I agree this would be handy but it seems a little unusual. Are there other programs that respond to --arch or similar? I know this is probably not as convenient but unixes will respond to file

[code]

[2015-08-28 20:49] macumber commented on #5157
My preference would be to include this in the version command:

c:> ruby -v
ruby 2.0.0p594 (2014-10-27) [x64-mingw32]

[2015-08-30 17:04] jburek opened #5158 "Error when converting 2004 new building warehouse reference models (8.2 to 8.3) RefBldgWarehouseNew2004_v1.4_7.2_3B_USA_CA_LOS_ANGELES"
Program Version,Conversion 8.2 => 8.3
   *\* Severe  *\* Out of range value Numeric Field#2 (Maximum Hot Water or Steam Flow Rate), value=0.00000, range={>0}, in ZoneHVAC:UnitHeater=BulkStorage Unit Heater
   ************\* IDF Context for following error/warning message:
   ************\* Note -- lines truncated at 300 characters, if necessary...
   ************\*   1833   Sizing:System,
   *****

[2015-08-31 12:14] rraustad commented on #4942
This is ready for review and commit.

[2015-08-31 16:21] mjwitte opened #5160 "User file failing with NAN values in error DualSetPointWithDeadBand: Unanticipated combination of heating and cooling loads"
Helpdesk ticket 10718
Similar problems were fixed in #4557 #4351 #4791 and #4646
Here is the error message

[code]

Nothing else in the error output indicates a problem that may be contributing to this.

[2015-08-31 16:59] mjwitte commented on #5160
This error may be a clue, it's the same zone that is failing above.

[code]

[2015-08-31 17:14] mjwitte commented on #5160
Here is what the zone looks like.  Duplicating the floor surface (and placing is a couple of meters higher) eliminates the error.  Still would be good to trap this and quit before writing out NANs.  Here is the problem zone.
![zone l003_c01](https://cloud.githubusercontent.com/assets/4991075/9584978/c33e391e-4fd9-11e5-9715-05df05dcc3a1.jpg)

[2015-08-31 17:42] kbenne commented on #5112
@mjwitte any chance there is an osm file available? I'm 90% sure the osm file is missing a designSpecificationOutdoorAir object on the OpenStudio Space associated with the zone attached to the system.

[2015-08-31 18:37] mjwitte commented on #5112
@kbenne I asked the user for the osm file.  And I also noticed that the use said this was posted to unmethours also as an OpenStudio problem, but I can't find such a question.  So, I asked for that link as well.

[2015-08-31 18:43] lgu1234 commented on #4875
@Myoldmopar The previous bug fix already issued a fatal error. No more crash. The current error messages are clear enough to help a user to fix an input error. No more effort is needed. I close this issue.

[2015-08-31 20:59] lgu1234 commented on #4875
@Myoldmopar It is OK with release version. However, it crashed in debug. Therefor, this issue still needs to be addressed.

[2015-09-01 01:59] rraustad commented on #4854
Why the heck is the OA unit sizing water flow rate, steam flow rate, max fan flow rate ???
UPDATE: the OA unit needs to pass max/min water flow rate to ControlCompOutput so this information is needed for water coils

There are only 2 autosizable inputs in this object. SA and EX flow. Once the flow rate is passed to the child, the child should size itself.

From the defect file:

! <Zone Sizing Inf

[2015-09-01 17:37] rraustad commented on #5067
I am still trying to figure out if it is the UnitarySystem causing this or something else. When I single step the UnitarySystem, the load met equals the requested load, so I don't think it's the UnitarySystem. I did notice that when the HVAC time step is less than the Zone time step, the predicted load looks strange. The figure below shows the zone predicted load at a detailed time step. The red c

[2015-09-01 17:45] mjwitte commented on #5067
@rraustad Why does the predicted load matter when using setpoint control in the unitary system?

[2015-09-01 17:54] lgu1234 opened #5162 "Improve waste heat function handling for Coil:Cooling:DX:MultiSpeed and Coil:Heating:DX:MultiSpeed"
This issue is a continuous fix of #4536 (Coil:Cooling:DX:MultiSpeed requires Waste Heat Function of Temperature Curve Name when it should not). It suggested 3 steps to handle this issue.
1 Match IO description: when fuel is electricity, no waste heat curve check is needed. This has been fix in #4536
2 Check parent input. If no heat recovery from the parent, no need to check waste heat curve
3 If t

[2015-09-01 17:59] rraustad commented on #5067
This test is using LoadBased control ( 5067). The SP models are working well now. I wanted to see if I broke anything and am checking to see if 4861 is also fixed (I think it is).

I inadvertently deleted the last comment. The issue I see is when the HVAC time step is less than the Zone time step. For some reason Predictor does not result in a smooth transition between predictions at the zone time

[2015-09-01 18:12] rraustad commented on #5067
SP based control appears to be working well now.

Defect file #4861 uses Coil:Cooling:DX:VariableSpeed with SetPoint control. This defect file is compared to a CoilsSystem version with identical results.

![4861_results_vscoil](https://cloud.githubusercontent.com/assets/5778156/9612348/2045be96-50b3-11e5-9050-d91f58b44ece.png)

Another file was created to use both a heating and cooling coil. This

[2015-09-01 18:30] rraustad commented on #5067
Original figure above (5067-testFileZoneLoad_8-3 (Modified RunPeriod)) used load-based control. this figure shows that file when SP control used instead. Much better zone temperature control.

![5067_results_vscoil_spcontrol](https://cloud.githubusercontent.com/assets/5778156/9612876/08b6dc80-50b6-11e5-973a-44600372791b.png)

[2015-09-02 03:17] lincolnharmer opened #5163 "Enabling watercooled or evaporatively cooled condenser type for VRF results in lower performing VRF system"
The simulation is occurring in Atlanta and I'm controlling the condenser loop to float between 40F and 90F using a cooling tower and boiler for the water cooled scenario. I've confirmed that the condenser loop is seeing the load from the heat recovery VRF system but the VRF system performance is worse compared to air cooled. similar results have been found with the evaporatively cooled scenario.

[2015-09-03 00:57] rraustad commented on #4854
Comparison of V8.3 and the new V8.4, Only moderate changes to the mostly non-autosized example file. There were changes to DX coil sizing since the coil now uses the OA unit flow rate to size capacity.

Note this is hourly reporting so simultaneous cooling and heating is possible. I have not test detailed.

No changes to this zone for these select variables:

![outdoorairunit1](https://cloud.githu

[2015-09-04 02:58] mjwitte commented on #5042
@macumber I see three options here.  What would be your preference?
1. Leave as-is and just clarify the documentation.
2. Do not setup these variables if ZoneAirMassFlowConservation is not active.
3.  Attempt to populate these variables even when ZoneAirMassFlowConservation is not active.

[2015-09-04 16:12] macumber commented on #5042
In OpenStudio, I made the 'Adjust Zone Mixing For Zone Air Mass Flow Balance' field have only one value which is 'Yes'.  To me it doesn't make sense to have an on/off button on this object, if it is in the file then it is active, if it is not in the file then it is not.  To me, a lot of confusion would be removed by removing this redundant field (or making it only have one value of 'Yes').

[2015-09-04 16:18] mjwitte commented on #5042
@macumber My perspective on that type of switch is that it allows the object to stay intact in the idf while letting me turn on/off the action and see what changes.  So, I like fields like that.

But in this case, that object is changing soon.  The mixing and infiltration fields will have independent on/off controls.  See #5123

I would still like your input on how to handle the output variables.

[2015-09-04 16:32] macumber commented on #5042
Well to me those switches are just redundant, especially for an object that doesn't have a lot of fields that you want to preserve when turning on/off.  But if that is off the table, I would prefer clarifying the documentation at a minimum and not generating the reports when the object is turned off.  Are there other objects like this where certain report variables give bad values when the object

[2015-09-04 16:32] macumber commented on #5042
Seems like you could just say "Output report X is only generated if the object is turned on" in the IO reference

[2015-09-04 16:40] mjwitte commented on #5042
@macumber I see your point as well about the switch fields.  I'm not a big fan of all these little control objects, anyway.  I'd prefer to lump them together a bit.  Anyways, I will disable these outputs when the mass flow balance is not active.  I'm also thinking these should all be renamed to start with "Zone Air Mass Balance . . . " to make it clear these are only the values that are included i

[2015-09-04 16:46] macumber commented on #5042
Lumping them together into a bigger control object would make sense.  You'd still have the issue where certain reports are only generated when fields have a given value but if that is documented well them I am good with it :-)

[2015-09-04 16:48] mjwitte commented on #5042
Someday maybe (lumping).  Anyway, for now, I'll clean up this one.

[2015-09-04 17:25] mjwitte opened #5167 "Example file VariableRefrigerantFlow_FluidTCtrl_5Zone.idf errors"
Ran example file as-is and as an annual run, with Miami,FL wather.  The error output is enormous in both cases (36k lines and 856k lines).  There are two common types of errors:

[code]

The flow per capacity warnings are set up as recurring warnings, but I would not expect to see these in an example file.  There is also a sizing warning about capacity vs flow.  if these units typically operate in

[2015-09-04 19:43] Myoldmopar opened #5168 "Follow-up check/issue from #5107"
That PR is being merged, but there was one very small issue to be checked on.  From @rraustad:

[2015-09-04 22:25] rraustad commented on #5168
Oh, now I remember, this isn't a heat pump. Yes there is a DX cooling coil, DX heating coil, and gas supplemental heater on the main branch, but this configuration is not a HP. If you put a gas heating coil on the main branch for HVACDXSystem, what would you expect the supp heating coil size to be? I'd expect it to be completely independent of the other coils.

So this explains why the supp coil i

[2015-09-04 22:48] rraustad commented on #5168
The coils do size the same on the other file which I think is a mistake. If the 2 DX coils were in the same parent, then yes, same size. But CoilSystem can't contain 2 coils, so the code accepts 2 DX as a HP. I'm trying to relax the restrictions in UnitarySystem.

DXCoilSystemAuto results:

 Component Sizing Information, Coil:Cooling:DX:SingleSpeed, HEAT PUMP ACDXCOIL 1, Design Size Gross Rated To

[2015-09-04 23:01] rraustad commented on #5168
This is why I can't get any work done.

Why is the DX heating coil a different size than the gas supp heater?

UPDATE: the gas heater sizes the same as the DX heating coil on the OA unit autosizing changes branch.

Old value:
- Component Sizing Information, Coil:Heating:Gas, HEAT PUMP DX SUPP HEATING COIL 1, Design Size Nominal Capacity [W], 18770.14176

New Value:
- Component Sizing Information,

[2015-09-05 08:43] chandangsharma opened #5169 "ElectricEquipment:ITE:AirCooled has space between "ElectricEquipment" and ":ITE:AirCooled" in the IO Reference"
Reporting a minor issue here. InputOutput reference's table of content has incorrect object name for ElectricEquipment:ITE:AirCooled. Both in the TOC and in associate object description, there is a space between "ElectricEquipment" and ":ITE:AirCooled".

[2015-09-05 12:46] Myoldmopar opened #5170 "Follow-up check for Evap Cooler Sizing"
PR #4940 is being merged in order to move on with development, and it appears correct, but the sizing of the evap cooler parameters should be verified and exercised again before the release.

[2015-09-05 13:05] Myoldmopar commented on #5170
Additionally verify that the docs are updated with autosize notes.

[2015-09-05 21:48] mjwitte commented on #5169
@Chandangsharma Thanks.  Fixed.

[2015-09-06 16:50] Nigusse opened #5172 "Change CCM_MultiStageFan to CCM_MultiSpeedFan in FanCoil Unit"
This bug issue replaces fan coil capacity control method "CCM_MultiStageFan" by "CCM_MultiSpeedFan". This is suggested change.

[2015-09-07 14:35] mjwitte commented on #5170
@Myoldmopar (repeating this here).  Thanks @Nigusse .

This should not have changed. I looked the evap cooler sizing code and find out the secondary air flow rate sizing code has changed (may be inadvertently). The code on line 1036 shown below:
`IndirectVolFlowRateDes = FinalSysSizing( CurSysNum ).DesOutAirVolFlow;`
 should have been:
`IndirectVolFlowRateDes = max( FinalSysSizing( CurSysNum ).Des

[2015-09-07 17:50] DeadParrot opened #5173 "Trapezoidal surfaces with Shape Rectangle give buggy PierceSurface results"
Four-sided surfaces that are isosceles trapezoids are currently given a Shape of Rectangle. In PierceSurface Rectangle surfaces are handled with a special case (for speed) that is not valid for trapezoids so it is returning incorrect results that can say a surface is hit by the ray that isn't or vice versa. It is not known if a similar problem with such surfaces exists elsewhere in the code.

The

[2015-09-07 18:36] mjwitte opened #5174 "Zone Name for Condenser Placement in DX Coils is misusing the zone name as a node name"
DX coil is incorrectly using the "Zone Name for Condenser Placement" as both the zone name _and_ the zone air node name in DXCoils::GetDXCoils  First occurrence is [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DXCoils.cc#L1421-L1424); there are others.

DXCoil( DXCoilNum ).SecZoneAirNodeNum is not really referencing the zone air node for the condenser zone.  It's creating a

[2015-09-07 18:55] mjwitte commented on #5173
The shape test is [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SurfaceGeometry.cc#L8449-L8457) in SurfaceGeometry::ProcessSurfaceVertices.

[code]

The current test will tag rectangles and isosceles trapezoids, ~~and parallelograms all~~ as Shape=Rectangle, because they all have 4 sides and equal "diagonals".

The simplest fix is to add a more robust test here so that the

[2015-09-07 18:57] mjwitte commented on #5173
@Myoldmopar Tagging this a high priority for v8.4 to assess the diffs.

[2015-09-07 19:05] DeadParrot commented on #5173
I don't think there are enough of these surfaces for there to be a significant performance hit in PierceSurface: let's get the correctness first. I plan to write a fast PierceSurface in FY16 as part of the octree integration work so at that time I'll exploit all these special cases if it is beneficial for performance.

[2015-09-08 16:13] mjwitte commented on #4942
Closed via #5145

[2015-09-08 16:13] #4942 closed, assigned to mjwitte

[2015-09-08 16:14] mjwitte commented on #4856
Closed via #5103

[2015-09-08 16:14] #4856 closed, assigned to mjwitte

[2015-09-08 17:27] rraustad commented on #4854
Complete. See PR https://github.com/NREL/EnergyPlus/pull/5166

[2015-09-09 01:21] rraustad commented on #4672
Added warnings:

   *\* Severe  *\* AirLoopHVAC:UnitarySystem = AIR LOOP UNITARY HEATCOOL
   *\*   ~~~   *\* Input for Cooling Supply Air Flow Rate Method is blank.
   *\*   ~~~   *\* Blank field not allowed when cooling coil is present.
   *\* Severe  *\* AirLoopHVAC:UnitarySystem = AIR LOOP UNITARY HEATCOOL
   *\*   ~~~   *\* Input for Heating Supply Air Flow Rate Method is blank.
   *\*   ~~~

[2015-09-09 03:34] rraustad commented on #4672
PR #5179

[2015-09-09 14:05] #5048 closed, assigned to kbenne

[2015-09-09 14:05] mjwitte commented on #4568
@kbenne @Myoldmopar @rraustad @wfbuhl
Running 5ZoneAirCooled-BypassWhenOAFlowGreaterThanMinimum-PerKB defect which has no heat exchanger, no economizer, NoLockout, and ProportionalMinimum. _Note that both Max and Min Outdoor Air Flow Rates are both set to 1.04982 (this is a contributing factor)_.

Right out of the gate, it's landing in [this block of code](https://github.com/NREL/EnergyPlus/blob/d

[2015-09-09 14:25] mjwitte commented on #4568
This BypassWhenOAFlowGreaterThanMinimum section of code was introduced initially for CR9030 / #3803 with [this commit](https://github.com/NREL/EnergyPlusArchive/commit/3cf149e2bba14fc8f409044660c2564311bda1ca)

And then modified for CR9054 / #3826 with [this commit](https://github.com/NREL/EnergyPlusArchive/commit/0c6711597c93b8669788d8518a92ce0b0ad5dc8f)

[2015-09-09 14:31] rraustad commented on #4568
The point here was to use the minimum OA flow rate if the heating coil
was active (found on first pass through then used during the second
iteration) when using BypassWhenOAFlowGreaterThanMinimum. This had
nothing to do with LockOutWithHeating back when this was added. Not to
say is shouldn't have checked, but the user specifically requested that
the HX not bypass when the heating coil was active

[2015-09-09 15:04] mjwitte commented on #4568
@rraustad But this isn't testing if OAflow is > minimum anymore.  And BypassWhenOAFlowGreaterThanMinimum should only touch the HX bypass flag, and it should only take action when OAflow _is_ > minimum.  So resetting OA flow to minimum based on this flag seems wrong.

My simple mind says the economizer should make it's decision about OA flow rate regardless of the HX bypass option (which I think it

[2015-09-09 15:36] rraustad commented on #4568
On 9/9/2015 11:04 AM, Michael J. Witte wrote:

There is also another OAMassFlow = MinOutAir line of code in there.

Also note the forced iteration flags at line 4363 that were added to get
this to work.

##

Richard Raustad
Florida Solar Energy Center
1679 Clearlake Road
Cocoa, FL 32922
Ph: (321)638-1454
http://www.fsec.ucf.edu/en/

Program Director
Electric Vehicle Transportation Center
http://ev

[2015-09-09 15:53] mjwitte commented on #4568
Need to think through all the possibilities here.  I don't disagree that the heating coil operation vs hx operation check is useful, but it should be separate - either linked LockoutWithHeating, or as you suggest, another HX bypass choice.  Will chew on this a bit and propose a change.

[2015-09-09 16:09] JasonGlazer commented on #4819
Addressed by https://github.com/NREL/EnergyPlusBuildSupport/pull/14

[2015-09-09 17:49] wfbuhl commented on #4530
The example files are already there. Changing IDD to use choice field and \object-list. Updating the IO Ref. Branch will be Issue4530UpdateIDDandIORefDOAToZonalUnits.

[2015-09-09 18:41] wfbuhl commented on #4530
This is pushed up and a pull request issued

[2015-09-09 18:42] wfbuhl commented on #4425
I'll do this

[2015-09-09 19:03] mitchute commented on #4417
@Myoldmopar @mjwitte I had a look at this again. The flow rate error in GLHERefData was corrected prior to changing the GHLE inputs [here](https://github.com/NREL/EnergyPlus/commit/8c48f443b56941d5725892b9e4c046559a72da2d)

As for the supply side delta T not matching the demand side, I'm not seeing any issues. This is for PlantHorizontalGroundHX.idf running an annual simulation with a constant loa

[2015-09-09 19:14] rraustad commented on #4861
Complete. See https://github.com/NREL/EnergyPlus/pull/5147

[2015-09-09 19:15] rraustad commented on #5067
Complete. See https://github.com/NREL/EnergyPlus/pull/5147

[2015-09-09 19:15] rraustad commented on #4952
Complete. See https://github.com/NREL/EnergyPlus/pull/5164

[2015-09-09 19:17] rraustad commented on #4672
Complete. See #5179

[2015-09-09 19:34] #4695 closed

[2015-09-10 00:55] rraustad commented on #4402
I think the user was confused here. The defect file was only a partial snapshot and would not run. The Zone List did not point to actual zones, or those zones were not included in the submitted file.
    ZoneList,
       4P,                      !- Name
       4P_ZN01,                 !- Zone 1 Name
       4P_ZN02,                 !- Zone 2 Name
       4P_ZN03,                 !- Zone 3 Name

What

[2015-09-10 01:22] rraustad commented on #4402
Why would the normalized metrics change? Whether a zone is not or is multiplied should not change the result. I guess if SPACE1-1 were not equal to the average then this result could change. This is the total building so maybe this zone is dominant.

![normailzedmetrics](https://cloud.githubusercontent.com/assets/5778156/9778000/b0e03b4e-5738-11e5-8ff2-6edacdc3350f.png)

[2015-09-10 01:28] rraustad commented on #4402
Lighting appears to be correct. Left column x1 and right x10:

![lighting](https://cloud.githubusercontent.com/assets/5778156/9778076/a9ded02a-5739-11e5-8430-81de010d48ea.png)

[2015-09-10 01:29] mjwitte commented on #4402
@rraustad I would just 10x all the zones to make it simple to compare.

[2015-09-10 01:44] rraustad commented on #4402
Interesting result. Top 2 tables, average and minimum, are x1, bottom 2 are x10.

![oa](https://cloud.githubusercontent.com/assets/5778156/9778251/f888ac80-573b-11e5-8065-a48ec3054e72.png)

[2015-09-10 01:49] rraustad commented on #4402
OK, I agree. There does seem to be something wrong here, but it's not in the equipment models.

[2015-09-10 02:47] mjwitte commented on #5158
@jburek What is the version ID in the original idf file?  The file name implies it is a v7.2 file.  In that case, you'll need to download the additional transition programs found [here](http://energyplus.helpserve.com/Knowledgebase/List/Index/46/converting-older-version-files)to get from v7.2 to v8.3 using the IDFVersionUpdater.

[2015-09-10 02:52] mjwitte commented on #5163
Helpdesk ticket 10758 and unmet hours [8900](https://unmethours.com/question/8900/modeling-evapcooled-vrf-with-evaporative-condenser-effectiveness/)

I compared the idf files and found that they are not quite identical other than condenser type.

This schedule "Min Max Temp w Deadband Max Temp Sch" is 26.7 in the air cooled file and it's 21.1 in the evap cooled and water cooled files.

This is bei

[2015-09-10 02:59] mjwitte opened #5181 "Improve output for variables which don't aggregate well over time such as COP"
See unmethours [10912](https://unmethours.com/question/10912/misleading-hourly-output-values/)

[2015-09-10 13:04] EnergyArchmage commented on #4385
I am working on this issue,  may be the water-to-water models are missing a call to PullCompInterconnectTrigger.

[2015-09-10 16:09] mjwitte commented on #2900
The max iterations were due to a reset of the minimum outdoor air flow rate using an incorrect value of the airloop minimum OA flow rate. BypassWhenOAFlowGreaterThanMinimum currently shuts off the economizer whenever a heating coil is active (as described in the I/O Ref, but this may be changed shortly) and reset the controller min OA flow rate.  But the min OA flow rate it was grabbing was based

[2015-09-10 18:34] wfbuhl commented on #4425
The default is simply HydrRadSys().TotalSurfaceArea / 0.15 . This default can be set without a sizing run, so autosize may be inappropriate. Or just not call CheckZoneSizing for this input. I guess I'll do that.

[2015-09-11 02:00] mjwitte opened #5185 "EMS Schedule actuator does not work with shading surface transmittance schedule"
Helpdesk ticket 10763
User file has EMS program to actuate the transmittance schedule for a shading surface.  Results show that base schedule is always used, not the EMS actuated value.  This occurs even when the ShadowCalculation is TimestepFrequency.

Traced the problem in the code to the use of LookUpScheduleValue here in [SolarShading](https://github.com/NREL/EnergyPlus/blob/develop/src/Energy

[2015-09-11 02:18] EnergyArchmage commented on #5185
might be related to #4944

[2015-09-11 02:45] mjwitte commented on #5112
@kbenne This started as unmethours [10090](https://unmethours.com/question/10090/openstudio-designed-airloop-leading-to-energyplus-crash/).  One of the comments indicates OSM files were sent to _aparker_.

[2015-09-11 12:10] mjwitte commented on #4952
Closed via #5164

[2015-09-11 12:10] #4952 closed, assigned to rraustad

[2015-09-11 12:11] #5110 closed, assigned to nmerket

[2015-09-11 12:13] mjwitte commented on #4824
Closed via #5178

[2015-09-11 12:13] #4824 closed

[2015-09-11 12:14] mjwitte commented on #4915
Closed via #5178

[2015-09-11 12:14] #4915 closed, assigned to EnergyArchmage

[2015-09-11 12:14] mjwitte commented on #4916
Closed via #5178

[2015-09-11 12:14] #4916 closed, assigned to EnergyArchmage

[2015-09-11 12:14] mjwitte commented on #4927
Closed via #5178

[2015-09-11 12:14] #4927 closed, assigned to EnergyArchmage

[2015-09-11 13:59] mjwitte commented on #4967
@EnergyArchmage Even without EMS, the approach used in SetpointManager:SingleZone:Reheat to estimate the mixed air temperature and use that as a supply air setpoint is risky.  Seems that is should be able to simply look at the load to cooling setpoint and load to heating setpoint and choose based on that.  if I were to rethink this from scratch, I'd be inclined to have this calculate two setpoints

[2015-09-11 15:36] mjwitte commented on #4509
Addressed in #5123.  Tested for all three flavors of Output:Surfaces:List with Details, Vertices, and DetailsWithVertices.

[2015-09-11 16:56] EnergyArchmage commented on #4967
I cannot find the defect file for this in dev support.

[2015-09-11 17:11] jasondegraw commented on #4875
Addressed in #5183

[2015-09-11 17:11] #4875 closed, assigned to lgu1234

[2015-09-11 17:54] mjwitte commented on #4967
@EnergyArchmage Arrrgh.  Not sure if these were the intended files, but these should work.  Look at the heating coil gas use on System 2 on March 19 for one example.

[2015-09-11 19:52] mjwitte opened #5188 "ZoneAirMassFlowConservation output variables showing for plenum zone - should they?"
Follow up to link infiltration #5123 new feature.

[2015-09-11 19:54] EnergyArchmage commented on #4967
I am starting to work on this one, created pivotal ticket and branch 4967-SZRH-spm

[2015-09-11 20:13] Nigusse commented on #4802
Closed #4802

[2015-09-11 20:13] #4802 closed

[2015-09-11 20:42] mjwitte commented on #4802
@Nigusse Which pull request addressed this?

[2015-09-11 20:53] Nigusse commented on #4802
#5117

[2015-09-11 20:57] Nigusse commented on #4802
@mjwitte This pull request was merged into develop by @Myoldmopar.   Fix evaporator condenser pump autosizing #5117.

[2015-09-11 21:01] mjwitte commented on #4802
@Nigusse Thanks for adding the cross-reference.

[2015-09-11 22:19] Myoldmopar opened #5190 "Checklist of items in preparation for 8.4.0"
This issue will be a running list of things to do as we countdown toward 8.4.0.
#### Pull requests need to be renamed toward user synopsis
- [x] #4920 @lgu1234
- [x] #4937 @JasonGlazer
- [x] #5028 @rglazer2
- [x] #5084 @rglazer2
- [x] #5107 @rraustad
#### Remaining code to merge or change milestone
- [x] #5218
- [x] #5213
- [x] #5191
- [x] #5192
- [x] #5214
- [x] #5182
#### Documentation work
- [x

[2015-09-12 01:44] jasondegraw commented on #5029
Closed with #5148

[2015-09-12 01:44] #5029 closed, assigned to lgu1234

[2015-09-12 01:47] jasondegraw commented on #5021
Closed by #5161

[2015-09-12 01:47] #5021 closed, assigned to lgu1234

[2015-09-12 21:28] rraustad commented on #4402
HVAC Sizing Summary also appears correct in all places where multipliers are expected to affect results.

Original file:
![vrf_hvacsizingsummary_x1](https://cloud.githubusercontent.com/assets/5778156/9833789/c1154aee-5973-11e5-9e2a-3c7abfbcbaff.png)

Multiplied x10 file:
![vrf_hvacsizingsummary_x10](https://cloud.githubusercontent.com/assets/5778156/9833790/c5c71752-5973-11e5-9069-e7a2775dc7e0.png

[2015-09-12 21:38] rraustad commented on #4402
The outdoor air summary does show an issue since this table is supposed to be non-multiplied results. This is a little problematic since the programmer has a difficult time with when variables are multiplied and when they are not. Additionally, ACH should not have changed regardless of multipliers.

Original file:
![vrf_outdoorairsummary_x1](https://cloud.githubusercontent.com/assets/5778156/98339

[2015-09-12 21:46] #4819 closed

[2015-09-12 21:59] rraustad commented on #4402
Definitely some funky math going on in the Sensible Heat Gain Summary Report.

Original file:
![vrf_sensibleheatgainsummary_x1](https://cloud.githubusercontent.com/assets/5778156/9833993/f35e2e7c-5977-11e5-97b8-4f643c22297d.png)

Multiplied x10 file:
![vrf_sensibleheatgainsummary_x10](https://cloud.githubusercontent.com/assets/5778156/9833996/f8e2b16a-5977-11e5-8749-c7308fa84488.png)

[2015-09-12 22:06] rraustad commented on #4402
Lighting Summary shows correct except for consumption, last column.

Original file:
![vrf_lightingsummary_x1](https://cloud.githubusercontent.com/assets/5778156/9834037/f36a7f78-5978-11e5-9790-f419c75bd56d.png)

Multiplied x10 file:
![vrf_lightingsummary_x10](https://cloud.githubusercontent.com/assets/5778156/9834039/f99499ec-5978-11e5-8bf4-d2b24b6149d2.png)

[2015-09-12 22:10] rraustad commented on #4402
There appears to be issues with zone list and/or group multipliers. The places in code where multipliers are used include both types, so the problem lies in where these multipliers "should" be applied, versus where they have been applied (correctly or incorrectly).

ZoneMult = Zone( ZoneNum ).Multiplier \* Zone( ZoneNum ).ListMultiplier;

[2015-09-12 22:18] rraustad commented on #4402
This next comparison was not as apparent to where the problems where until this exercise (and still not all inclusive). Since there are only some places where multipliers are not used, the results are relatively close. These results should be exactly x10 for column 1, but are not. The last 2 columns show that the per area (multiplied area IS correct) values are also off since there are some places

[2015-09-13 00:02] rongpengzhang commented on #4984
Fixed in Branch #5191.

[2015-09-13 01:55] rraustad commented on #4402
The Peak Cooling Sensible Heat Gain Summary:

Original file:
![vrf_peakcoolingsensibleheatgaincomponents_x1](https://cloud.githubusercontent.com/assets/5778156/9834787/f4abf374-5998-11e5-8bfc-48ec243712da.png)

Modified x10 file:
![vrf_peakcoolingsensibleheatgaincomponents_x10](https://cloud.githubusercontent.com/assets/5778156/9834789/f8f3a79c-5998-11e5-9795-0d353e47dddf.png)

[2015-09-13 02:10] rraustad commented on #4402
This is obviously confusing, since the zone air flow was multiplied correctly, even though the zone lighting, equipment, and people were not. So that raises the question of when the multiplier should be applied. It seems that the non-multiplied zone load components are used to calculate a total non-multiplied zone load, and then at some later point in the simulation, the multipliers are used to ca

[2015-09-13 02:18] rraustad commented on #4402
This type of calculation is used for table data:

mult = Zone( zonePt ).Multiplier \* Zone( zonePt ).ListMultiplier;
sumArea += Zone( zonePt ).FloorArea \* mult;
sumPower += Lights( Loop ).DesignLevel \* mult;
PreDefTableEntry( pdchInLtArea, liteName, Zone( zonePt ).FloorArea \* mult );
PreDefTableEntry( pdchInLtPower, liteName, Lights( Loop ).DesignLevel \* mult );
PreDefTableEntry( pdchInLtDens,

[2015-09-13 15:02] mjwitte commented on #5162
@lgu1234 Coil:Cooling:WaterToAirHeatPump:VariableSpeedEquationFit and probably others also have waste heat fields that are required.  Seems they should all be optional.

[2015-09-13 19:26] rraustad commented on #4402
@JasonGlazer These 2 equations (line 5664 OutputReportTabular) are different and it looks like the 2nd is missing ZonePreDefRep( iZone ).TotTimeOcc in the denominator AND parenthesis around the denominator multiplication. Why are the multipliers used in these equations? I don't see where ZonePreDefRep( iZone ).MechVentVolTotal is adjusted by the multipliers. See the Outdoor Air Summary comparison

[2015-09-13 19:31] mjwitte commented on #4402
@rraustad MechVentVolTotal and MechVentVoMin are on the HVAC system side, so they are already multiplied to start with.  I agree it looks like the denominator for Min OA is wrong as you say.  But not 100% certain.

[2015-09-13 19:55] rraustad commented on #4402
OK, I see where the multipliers would be included in the results above. The OA mass flow rate should already include the impact of multipliers.

AirSysOutAirFlow = Node( OutAirNode ).MassFlowRate;

I also see where the Min value is just that, a min. The total is a sum over time and the denominator would include TotTimeOcc and Vol. The min calc would only include Vol.

[2015-09-13 20:01] rraustad commented on #4402
OA Summary now looks like this. Also fixed the Consumption value (x10) in the Lighting Summary Report.

![vrf_oasummary_modified_new](https://cloud.githubusercontent.com/assets/5778156/9838645/9a2a0556-5a30-11e5-85ea-db2e62f23ee6.png)

[2015-09-13 20:21] rraustad commented on #4402
The meters look like they should honor the multipliers. In UpdateMeterValues, the meters should all be adjusted by the zone and list multipliers.
UpdateMeterValues( rVar.TSValue \* rVar.ZoneMult \* rVar.ZoneListMult, VarMeterArrays( rVar.MeterArrayPtr ).NumOnMeters, VarMeterArrays( rVar.MeterArrayPtr ).OnMeters );

So I added the following meters to each file to see if the x10 worked for all meter

[2015-09-13 20:35] mjwitte commented on #4402
@rraustad Is all of the HVAC autosized?  And are all the sizes reported to eio 10x?  Are there any exterior energy uses?

[2015-09-13 20:44] rraustad commented on #4402
I'll get to the eio next. I don't see any exterior energy uses in VariableRefrigerantFlow_5Zone. Could you  also check?

I repeated this exercise using a minimum time step of 15 minutes to eliminate any issues with reduced time steps. The answer did change. The following figure is the cooling run period followed by the heating run period.

[code]

![vrf_metercompare_min15mints](https://cloud.githu

[2015-09-13 20:46] mjwitte commented on #4402
@rraustad If the eio sizes don't change by 10x, then the meters won't either.  So, that has to be right first.

[2015-09-13 21:50] mjwitte commented on #4536
Closed via #5144

[2015-09-13 21:50] #4536 closed

[2015-09-13 22:03] rraustad commented on #4402
eio sizes are very nearly x10. Warmup convergence showed slight differences. Given that an exact x10 was not achieved and warmup differences exist, expecting results to be exactly x10 is not expected. So only gross differences will be tracked down (i.e., html diff's that are obvious) for this issue.

eio air flow comparison (x10 eio divided by original eio):

![vrf_eio_airflow](https://cloud.githu

[2015-09-13 22:12] rraustad commented on #4402
Two of the issues have been corrected:
1) Outdoor Air Summary Report: Mechanical Ventilation for Minimum Outdoor Air During Occupied Hours
2) Lighting Summary Report: Consumption value (x10)

For the Sensible Heat Gain Summary Report, since 2 of the columns are differences of the remaining columns, these values must all be multiplied, or not multiplied. I will correct these values assuming all nee

[2015-09-14 00:05] rraustad commented on #4402
New Sensible Heat Gain Summary Reports:

![vrf_componentsummary_x1_newcompare](https://cloud.githubusercontent.com/assets/5778156/9839842/b7afedda-5a52-11e5-8406-fd5397bd2d98.png)

![vrf_clgcomponentsummary_x1_newcompare](https://cloud.githubusercontent.com/assets/5778156/9839848/c4270f26-5a52-11e5-8c9c-8c4f399c9e3a.png)

![vrf_htgcomponentsummary_x1_newcompare](https://cloud.githubusercontent.com

[2015-09-14 10:54] JasonGlazer commented on #4402
@rraustad It looks like you figured out what you needed to regarding the OA ventilation report for mechanical ventilation. Let me know if you need anything else from me.

[2015-09-14 13:10] lgu1234 commented on #5162
@mjwitte I am going to take a look at waste heat fields and will take proper actions to make the field optional.

[2015-09-14 13:23] mjwitte commented on #5162
@lgu1234 Thanks.  I added some defect files for the heatpump:multispeed, but not for any others.  You'll need to remove some of the \required-field tags in the IDD.

[2015-09-14 14:50] mjwitte commented on #5174
Example file  HeatPumpSecondaryCoil can be a test file.

[2015-09-14 15:03] lgu1234 commented on #5162
@mjwitte The \required-field tags in the fields of Speed 1 Waste Heat Function of Temperature Curve Name and Speed 2 Waste Heat Function of Temperature Curve Name in the Coil:Heating:DX:MultiSpeed have been removed. Will commit it now.

[2015-09-14 15:28] JasonGlazer commented on #3609
@Myoldmopar and @mjwitte I was thinking about working on this issue but part (2)  "if there is no version, allow the user to pick the start version." is probably more than a quick bug fix since it requires actually changing the type of the GUI controls. I am not sure about messing with it just prior to a release. The first part (1) "Scan further..." I can do for the 8.4 release without a problem i

[2015-09-14 15:30] mjwitte commented on #5162
Also the waste heat fraction fields should not be required.

[2015-09-14 15:37] mjwitte commented on #3609
@JasonGlazer I'd say just scan the whole file and skip the dialog.

[2015-09-14 15:40] JasonGlazer commented on #3609
@mjwitte So you are suggesting that I do (1) and not worry about (2) at all?

[2015-09-14 15:41] mjwitte commented on #3609
Correct.

[2015-09-14 16:03] JasonGlazer commented on #3609
@mjwitte It looks like the current version of IDFVersionUpdater already scans the entire file no matter how large it is, so (1) is already done. I tested it by moving the VERSION object to the end of the HospitalLowEnergy.idf and it found it just fine.

I guess I will just close this issue since (1) is already in the code and (2) was no longer wanted.

[2015-09-14 16:03] #3609 closed

[2015-09-14 16:14] mjwitte commented on #3609
@JasonGlazer Oh, I was thinking EP-Launch.  Doesn't IDFVersionUpdater already let you choose the starting version?  Or is it just the ending version?  I can see where the option to choose a version for an entire list might be useful, but this can stay closed and see if anyone asks for it again.

[2015-09-14 16:19] JasonGlazer commented on #3609
IDFVersionUpdater searches for the starting version and presents a list of possible ending versions (with the default being the most recent).

By the way, EP-Launch does just scan the first 500 lines. I could change that very easily should I post a new issue about changing that?

[2015-09-14 16:25] kbenne commented on #5112
@asparke2 ???

[2015-09-14 16:25] mjwitte commented on #3609
Yes, it would be nice for EP-Launch to scan the entire file.

[2015-09-14 16:30] JasonGlazer opened #5193 "EP Launch should scan entire file for VERSION object"
Currently EP-Launch only scans the first 500 lines for detecting the VERSION object so that it can inform the user if it is compatible with the version of the IDD. If it finds a VERSION object with the previous version, it gives the option to update the file to the latest version.

Change this to scan the entire file instead of just the first 500 lines.

[2015-09-14 16:31] JasonGlazer commented on #3609
I just created #5193 to address the EP-Launch version scanning limit.

[2015-09-14 16:41] nmerket opened #5194 "SQLiteFixture.OutputProcessor_getCustomMeterInput unit test failing"
It looks like `energyplus_tests` on `develop` is failing again. Probably due to some `clear_state` issues.

[code]

[2015-09-14 16:50] Myoldmopar commented on #5194
Hmm, OK, it doesn't show up on CI, presumably because CI is running them separate.  Thanks for noticing this.  I'm building it locally also to verify the issue.

[2015-09-14 16:58] JasonGlazer opened #5195 "LCC - Automatically calculate the residual values"
From user:

It would be useful for our purpose if the computation of the residual value of the components could be automatically calculated starting by the residual years of service life of each component entered in “RecurringCost -> Replacement” that exceed the length of the study period, (as recommended by the NIST Handbook 135 or the European UNIEN 15459) because in EnergyPlus the residual valu

[2015-09-14 17:06] mjwitte commented on #4509
Closed vis #5123

[2015-09-14 17:06] #4509 closed

[2015-09-14 17:07] mjwitte commented on #5042
Closed via #5123

[2015-09-14 17:07] #5042 closed, assigned to mjwitte

[2015-09-14 17:40] wfbuhl commented on #4347
So the issue of switching 40% radiant to all convective and the baseboard still not meeting the temperature setpoint is solve by changing line 1127:

[code]

to

[code]

As the notes in the IDD say for Rated Water Mass Flow Rate: "Standard is I=B=R Rating document where all baseboards are rated at either 0.063 kg/s (1 gpm) or 0.252 kg/s (4 gpm).  It is recommended that users find data for the base

[2015-09-14 18:54] asparke2 commented on #5112
@kbenne I don't know where he sent the files, I checked the help email, my work email, and my personal email...probably why I didn't follow up on UH

[2015-09-14 19:54] mjwitte commented on #4530
Closed via #5180

[2015-09-14 19:54] #4530 closed

[2015-09-14 22:54] rglazer2 commented on #5016
@mjwitte Currently the code is comparing the subsurface angle with the surface angle and printing a severe error(when all warnings are requested) whenever the two angles do not match. Do you think it should remain that way and just always print the error, or should I add what you suggested earlier about different levels of severity based on the angle difference.

This is occurring in SurfaceGeomet

[2015-09-14 23:49] rglazer2 commented on #4647
@mjwitte Could you elaborate more on what needs to be done for this? Do you want me to create new error messages or just modify the one that is already showing? Other than the one you mentioned about too many fields in an object, are there any other errors which need to be addressed?

[2015-09-15 00:18] mjwitte commented on #5016
@rglazer2 It's interesting that the block above line 1155 is checking the surface azimuths on subsurfaces that are on a horizontal surface (roof or floor).  This should really be checking tilt.  If you look further down at line 1353 you'll see there is a generic message that reports when DispalyExtraWarnings is true.  I'd suggest a similar generic message in the earlier block, and I'd also change

[2015-09-15 00:38] mjwitte commented on #4647
@rglazer2 So, you can edit the top of the IDD file to trick EnergyPlus into thinking it's a different version from the program.  I thought that would generate a warning, but it didn't.

IDD file: !IDD_Version 7.3.0
ERR file:  Program Version,EnergyPlus, Version 8.3.0-6d97d074ea, YMD=2015.09.14 19:23,IDD_Version 7.3.0

But no warnings here.  My thought for this was to test if the IDD_Version (major

[2015-09-15 00:42] mjwitte commented on #4958
Closed via #5146

[2015-09-15 00:42] #4958 closed, assigned to Nigusse

[2015-09-15 01:51] rraustad commented on #4402
This result looks better, but some of the columns don't add up. I guess that's a result of how cooling and heating peak are determined, and that some of these variables could be positive or negative during a cooling or heating peak (e.g., Interzone Air Transfer).

![vrf_componentsummary_x1_newcompare_final](https://cloud.githubusercontent.com/assets/5778156/9865908/6af5f470-5b2a-11e5-9e64-30a4e245

[2015-09-15 04:58] rraustad commented on #4402
@mbadams5
How to add clear_state to an external function?

void
CalcHeatBalanceInsideSurf( Optional_int_const ZoneToResimulate = _ ); // if passed in, then only calculate surfaces that have this zone

[2015-09-15 12:24] mbadams5 commented on #4402
@rraustad What exactly are you trying to clear? The namespace in that file already has a clear_state. If you are trying to clear a function static variable then that is a different problem.

[2015-09-15 12:32] rraustad commented on #4402
Can I do this?
    void
    clear_state()
    {
        ManageSurfaceHeatBalancefirstTime = true;
        InitSurfaceHeatBalancefirstTime = true;
        ComputeIntSWAbsorpFactorsfirstTime = true;
        UpdateThermalHistoriesFirstTimeFlag = true;
        CalculateZoneMRTfirstTime = true;
        calcHeatBalanceInsideSurfFirstTime = true;

[code]

[2015-09-15 12:38] rraustad commented on #4402
Wait a minute, calcHeatBalanceInsideSurfFirstTime is already in the clear state. I just need to add the other variables I want cleared.

So I just add these and any others necessary.
TempInsOld.deallocate();
RefAirTemp.deallocate();

[2015-09-15 12:43] mbadams5 commented on #4402
It won't work directly. You need to pull out the needed function static variables into [here](https://github.com/NREL/EnergyPlus/blob/be934ee1c701c5ee563f65804975aa42070da112/src/EnergyPlus/HeatBalanceSurfaceManager.cc#L132). Then you can call deallocate() on those variables in the clear_state directly.

But looking at the code, when calcHeatBalanceInsideSurfFirstTime is reset to true it will real

[2015-09-15 13:01] rraustad commented on #4738
This issue was fixed Feb 20 for V8.2 with the "68304232-1e)-Move-parent-object-sizing-calcs-to-a-common-routine (rraustad)"
I remember doing this and wanted to document the change with an issue.

Fixed at line 1968 here https://github.com/NREL/EnergyPlus/commit/01891ab3af6a54fa74a2f0faeeb9b851d8774a9b

So should I create a unit test or mark this fixed and move on?

[2015-09-15 13:20] rraustad commented on #4402
A previous unit test has 6 surfaces, I have 12. Those 2 arrays were still allocated to 6. Will it reallocate those two arrays if a previous unit test already allocated them? I did move those variables last night but got a compile error. It was 1 AM so maybe I made a mistake.

Now that I see what's happening, maybe the result will be different tonight.

[2015-09-15 13:38] mbadams5 commented on #4402
Looking at the code it should. But if the other test doesn't use EnergyPlusFixture then maybe not. I can't say for certain without playing around with the code.

[2015-09-15 13:42] #5194 closed, assigned to mbadams5

[2015-09-15 13:44] rraustad commented on #4402
Ah, good point. But that should have only been a problem for the first unit test within EnergyPlusFixture (unless clear-state is ran "before" the first unit test).

I'll figure something out tonight to get my unit test running.
Thanks.

[2015-09-15 13:54] EnergyArchmage commented on #4402
I had trouble before with RefAirTemp in unit tests and made all those changes to clear_state and calcHeatBalanceInsideSurfFirstTime.  I assume c++ will reallocate an array that is already allocated and it seemed to be working for me as is.

[2015-09-15 14:11] rraustad commented on #4702
Just documenting this before moving on.....

Defect file 4702:

CoolingTower:TwoSpeed,
  autosize,                         !- Low Fan Speed Fan Power {W}

Transition error from 8.2 to 8.3:

Program Version,Conversion 8.2 => 8.3
   *\* Severe  *\* Out of range value Numeric Field#7 (Low Fan Speed Fan Power), value=0.00000, range={>0.0}, in CoolingTower:TwoSpeed=Heat Pump Loop Tower

8.3 IDD:

Cooli

[2015-09-15 14:27] mjwitte commented on #4702
The transition problem has been fixed. #4456

[2015-09-15 14:29] mjwitte commented on #4738
@rraustad At this point, if it's already in develop as part of another fix, I'd say it's done.  But you should reference this issue in the pull request that contained the fix.

[2015-09-15 14:30] mjwitte commented on #4402
@rraustad Sensible Heat Gain report columns should add to zero.  If they don't, then something is broken.

[2015-09-15 14:32] #4820 closed

[2015-09-15 14:41] mjwitte opened #5200 "Return Air Bypass flow control anomalies and other OA controller questions"
Followup from #5182
Code shows that the main (non-bypass) duct flow rate is supposed to be equal to or greater than the OA flow request.  But when fixed amount OA is used, there are times when the OA flow and the non-bypass flow go below that amount (even before the changes in 5182 were introduced, see v8.3.0 output).  So, is the OA amount supposed to force the flow in the conditioned duct?

There

[2015-09-15 15:50] nealkruis opened #5201 "ZoneHVAC:LowTemperatureRadiant:* Design Capacity Method = FractionOfAutosizedCapacity works without zone sizing run"
Follow up on issue #4889 (PR #5137).

Simulation runs when using capacity method "FractionOfAutosized*Capacity" when zone sizing is set to "No". This should produce an error saying "For autosizing of ZoneHVAC:LowTemperatureRadiant:VariableFlow <NAME>, a zone sizing run must be done."

Added defect file: RadLoTempHydrTermReheat-FractionOfAutosize-NoZoneSizing.idf
- Write code to catch this case.
-

[2015-09-15 16:38] mjwitte commented on #4410
Closed via #5072

[2015-09-15 16:38] #4410 closed

[2015-09-15 16:55] mjwitte commented on #4160
Closed via [EnergyPlusBuildSupport #15](https://github.com/NREL/EnergyPlusBuildSupport/pull/15)

[2015-09-15 16:55] #4160 closed

[2015-09-15 16:56] mjwitte commented on #4301
Closed via [EnergyPlusBuildSupport #15](https://github.com/NREL/EnergyPlusBuildSupport/pull/15)

[2015-09-15 16:56] #4301 closed

[2015-09-15 17:07] rraustad commented on #4738
See https://github.com/NREL/EnergyPlus/pull/4753.

[2015-09-15 17:07] #4738 closed

[2015-09-15 18:35] mjwitte commented on #4972
@KWSL The GLHE problem has been fixed in #5184.  We can't reproduce a problem for the chiller.  4972_ChillerCondOnCondenserLoop and 4972_ChillerCondOnPlantLoop produce the same results.  If you have another file that does show a problem for chillers with the condenser on a plant loop, please send it to me.

[2015-09-15 18:52] EnergyArchmage commented on #4967
Okay, I have evaluated a change to use the current OA fraction instead of the minimum OA fraction in the algorithm.  This change appears to do what is desired by this issue.  That is it generally leads to lower coil use when the actual OA rate is different than the minimum OA.

However, in some test files there is an energy increase, so it is not a clear cut case of this change always working out

[2015-09-15 19:02] mjwitte commented on #4385
@EnergyArchmage 4972 defect files PlantModel6 and PlantModel6-CondenserLoop crash with an array bounds error.

[2015-09-15 19:07] mjwitte commented on #4967
@EnergyArchmage Is the current OA fraction lagged from the end of the previous timestep (I don't remember if this setpoinmanager is only called at the beginning of the timestep).  Seems that this could get into a feedback loop with the economizer or kind of force what the economizer does because the economizer is going to try to modulate to meet this setpoint.

[2015-09-15 19:46] mjwitte opened #5203 "Ground HX crash problem introduced recently?"
Defect files from 4972, PlantModel6 and PlantModel6-CondenserLoop crash with an array bounds error.  The files may have been transitioned badly, but they ran in v8.3.3 and crash now.

[2015-09-15 19:50] Myoldmopar commented on #5203
When running the PlantModel6 file in release version 8.3.0, it throws this warning:

[code]

Looking at the input, I see this:

[code]

Which is obviously wrong.  This is the problem with the idf. But it isn't due to the transition utility itself.  I took an 8.2.0 file `GSHP-GLHE.idf` and ran it through the release 8.2.0 - 8.3.0 transition utility, and it comes out with a proper maximum length of

[2015-09-15 19:55] EnergyArchmage commented on #4967
Yes, the OA fraction (and the minimum OA fraction before) are from the end of the previous timestep.  The setpoint manager does run before the outside air system is called.  Yes there is economizer interaction and it was already present, but I don't think it is unstable because the setpoint manager does not get called again.

The largest differences in operation are observed when the OA is getting

[2015-09-15 19:59] #4385 closed

[2015-09-15 20:01] Myoldmopar commented on #4274
@mjwitte Trying to evaluate this issue.  The file is referencing a `Schedule:File` with path:

[code]

and the file isn't in the DefectFiles folder on [DevSupport](https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/4000s/4274).

Would you happen to have this available on your N drive and email to me?

[2015-09-15 20:06] mjwitte commented on #4274
@Myoldmopar It's there now.

[2015-09-15 20:11] Myoldmopar commented on #4532
@mjwitte For the macro file, I don't plan to manipulate the installer to overwrite the file prefix line.  I'll add the preprocessor messages into the issue for 8.4.0 and close this one.  If you feel differently, just re-open.

[2015-09-15 20:11] #4532 closed

[2015-09-15 20:13] mjwitte commented on #4967
This may be all we can do for now.  It's just problematic to force a setpoint that may require some heating or cooling coil  operation when it should be floating. At some point we need to move towards something better like hi/lo setpoints on single duct systems.

[2015-09-15 20:56] Myoldmopar commented on #4274
Hmm, the flow schedule appears to be enforced properly in the code when the loop solver is querying the pump for available pump capacity, but then it looks like it is overridden by the needs of other components.  Maybe.  Still looking.

[2015-09-15 21:33] Myoldmopar commented on #4274
OK, not sure again.

I was playing around with the PlantLoadProfile example file and added a flow schedule to the pump to reduce the flow for part of the day.  Initially, I didn't see any difference.  But then I realized the pump was already running below the (rated flow rate \* fraction) modified value.  So then I changed the fraction even lower, and it started showing the difference, and everyth

[2015-09-15 22:06] mjwitte commented on #4274
@Myoldmopar The rest of the story here is that the pump placement in the user's file violates some of the rules in the Engineering Reference.  Are these no longer valid?

Summary of Pump Rules
Pumps in Plant Loop can be on the supply side or demand side
A Pump, if present, in the demand side of plant loop must be the first component of the inlet branch.
Pumps in Condenser loop must be on supply si

[2015-09-15 22:07] mjwitte commented on #4274
@Myoldmopar read the previous comment in github, I messed it up the first time.

[2015-09-16 01:53] EnergyArchmage commented on #5113
maybe coordinate or related to #5203

[2015-09-16 01:59] Myoldmopar commented on #5203
@energyarchmage can you confirm whether this has **anything** to do with transition? I transitioned that file above using release utilities and it worked perfectly. I think maybe that file might have been transitioned within a release cycle or something. I don't know, but I _couldn't_ reproduce that.

[2015-09-16 02:49] mitchute commented on #5203
@Myoldmopar I just ran this through IDFVersionUpdater using fresh transition builds from my machine, however, I am seeing the error. The only changes to the GHX:Vert object I see was adding `{years}` to the max length sim comment. Should there be more than this? Is there more that I need to do other than build the Fortran files and use them with IDFVersionUpdater and the correct IDDs?

I'm seeing

[2015-09-16 03:24] mitchute commented on #5203
@Myoldmopar @mjwitte @EnergyArchmage Scratch what I just said.

I tracked the problem back to [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/GroundHeatExchangers.cc#L1452) and [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/GroundHeatExchangers.cc#L1452). These numbers are not matching with the fields in the IDF.

Looking at the IDF again, the design fl

[2015-09-16 14:52] Myoldmopar commented on #5203
@mmatts @EnergyArchmage @mjwitte

So I took the 8.2 GSHP-GLHE file, transitioned it up with the release version of Transition 8.2-8.3, and ran it with 8.3.  No error.  I think something went awry with the transition of that defect file.

Can you recommend some idd \minimum or \maximum; or some protection in the code, that would keep it from hard crashing due to bad input?  It's a little difficult

[2015-09-16 15:24] mjwitte commented on #5203
Seems better to find how it got to using prevTimeStep before it was initialized than to try to infer something from input values.

[2015-09-16 15:29] mitchute commented on #5203
@Myoldmopar yes, I can take a look at that.

@mjwitte it was uninitialized because the IDD was offset by one with the "max flow rate" field which was eliminated previously. That caused it to look at the 0.0245 number for allocating the arrays, instead of the next field which is where it was supposed to be looking. I will take a look again at what went wrong with transition on that file and look at

[2015-09-16 16:23] Myoldmopar commented on #5170
Closed via #5189

[2015-09-16 16:23] #5170 closed, assigned to Myoldmopar

[2015-09-16 16:55] Myoldmopar commented on #4632
For reference, I am finding 351 calls to this function.  So we probably won't be able to spot check them all...I'll comment on which ones I check, and update the text in the source comment, and close this one unless I find a problem.

[2015-09-16 17:38] mjwitte opened #5207 "SetpointManager:CondenserEnteringReset:Ideal with two towers uses almost 2x heat rejection power vs single tower"
Comparing CoolingTower_VariableSpeed_IdealCondEntTempSetpoint_MultipleTowers.idf vs CoolingTower_VariableSpeed_IdealCondEntTempSetpoint.  The chiller power goes down slightly, but the heat rejection power nearly doubles.

[2015-09-16 17:40] EnergyArchmage commented on #5203
I'd guess that defect file was not properly transitioned.  This was from a user and maybe they hadn't fully updated their input file creation system for Ver8.3.  One could speculate that because the file actually ran without complaining they might not noticed the input change.

In the IDD, I would at least increase this minimum from >0 to 1.0, since that is implied by the \required-field in the fi

[2015-09-16 17:58] Myoldmopar commented on #4632
Adding a call to `PsyCpAirFnWTdb` in `SimulationManager` with reasonable values gives this:

[code]

Standard values of air for specific heat are approximately 1.0 kJ/kg-K. ([source](http://www.engineeringtoolbox.com/air-specific-heat-capacity-d_705.html))

So this function is return J/kg-K, as the comment suggests, not kJ as the user noted.  This is a non-issue, and I am closing it.

[2015-09-16 17:58] #4632 closed

[2015-09-16 17:59] mitchute commented on #5203
@mjwitte @Myoldmopar @EnergyArchmage

I agree that something was already wrong with the file, which is probably why transition didn't work. I verified that 8.2 and 8.3 files transition up correctly.

This pull request should address the issues we had. Let me know if you have any issues during review.

[2015-09-16 18:04] mjwitte commented on #5203
OK.  Thanks for the much ado about nothing.  It will be more robust now.

[2015-09-16 18:31] Myoldmopar commented on #4288
@mjwitte Do you know anything about this one?  The errors described in the comment above seem to have a lot of issues with ZoneHVAC equipment lists.  Nothing to do with headered pumps.  I looked at the input file, and the headered pump is on the plant supply inlet branch.  It looks fine.

[2015-09-16 18:52] mjwitte commented on #4288
There is a headered pump that is on one of the parallel branches with nothing else,
  Branch,
    SP-1 Branch,             !- Name
    autosize,                !- Maximum Flow Rate {m3/s}
    ,                        !- Pressure Drop Curve Name
    HeaderedPumps:ConstantSpeed,  !- Component 1 Object Type
    SP-1,                    !- Component 1 Name
    SP-1 Inlet,              !- Component 1 I

[2015-09-16 18:52] #4288 closed

[2015-09-16 19:08] shorowit commented on #4838
I agree with Dan, we have run up against this issue in BEopt. Running multiple-simulation parametrics (or optimizations) is becoming more common, and, for better or worse, users cannot be expected to dig through all of the EnergyPlus warnings/errors for every simulation.

The minimum requirement should be for the calling software to know if a simulation was successful (i.e., there is output with v

[2015-09-16 19:16] mjwitte commented on #4838
@macumber @shorowit Thinking out loud here - what about adding a diagnostics switch that forces severe errors to be treated as fatal?  OS and BEopt could always add this switch.

[2015-09-16 19:27] JasonGlazer commented on #4838
@mjwitte I like the approach but I am not sure a switch that forces _all_ severe errors to be fatal errors would be very effective because I think it would be tripped up by perfectly reasonable simulations. It seems like CheckWarmupConvergence and FindRootSimpleController (and others) are severe errors that are so common (at least with complex HVAC systems) that they should not be part of such a s

[2015-09-16 19:35] mjwitte commented on #4838
Well, once we start down that road, then we're back to having to re-evaluate all of the current errors one by one.  And then we open the debate, because I would argue that CheckWarmupConvergence should be fatal.  Ultimately, maybe we need both - re-evaluate the severity of every error, default to severes causing termination, but add a switch that allows severes to continue running.  But then we ne

[2015-09-16 19:46] macumber commented on #4838
Why is there a need for severe errors?  Why can't we just have warnings and fatal errors?

[2015-09-16 19:57] Myoldmopar commented on #4838
My current feeling is to be minimalistic and agree with @macumber.  Either we stop the program or we don't.  I think we just have to find the 'severe but not fatal' instances in the code...which could probably be automated at some level, and evaluate those either to add fatal or change to warning.

I like the sound of that.  But I also realize it's possibly _too_ simplistic.  So I don't have a sup

[2015-09-16 20:07] nealkruis commented on #4838
I agree with @macumber @shorowit and @Myoldmopar. Though I would add that we should call problems either "Warnings" or "Errors" and get rid of the words "Fatal" and "Severe". All "Errors" should cause the program to terminate.

[2015-09-16 20:11] Nigusse commented on #4838
Sever errors may mean different things and may have different reasons when developers designated them.  For instance, sever error emanate from convergence problem due to mismatch of inputs or bad user inputs.  And in some cases sever error may lead to fatal out.

It is okay to have all, but it is helpful to clearly define sever errors that allow the simulation to continue from those that lead to f

[2015-09-16 20:12] Myoldmopar commented on #4838
In my opinion, nothing.

[2015-09-16 20:14] Myoldmopar commented on #4838
Either a warning:

Or an error:

[2015-09-16 20:20] JasonGlazer commented on #4838
I think it is more than an issue of reclassification (which would already be a big project). Frequency of error does matter, some if they only occur once or twice in an annual simulation are probably acceptable but if they happen 100s of times they are clearly an issue.

We have built a fragile system that complains way too much!

[2015-09-16 20:27] nealkruis commented on #4863
@Myoldmopar I'm closing this.

[2015-09-16 20:27] #4863 closed, assigned to nobody

[2015-09-16 20:28] EnergyArchmage commented on #4838
here is my understanding of past policy

Severe errors are supposed to lead to a fatal.  They don't fatal out right away because you might collect several informative severe messages before finally fataling out.  It was a goal and I don't think there are a great deal of them left that are just Severe.

My understanding of when to use a Severe but not fatal is:
1. to support legacy successful runs.

[2015-09-16 20:29] Myoldmopar commented on #4863
Hooray!  Also, @nealkruis, note the [change](https://github.com/NREL/EnergyPlus/commit/7c629655210502521e98cd934241d8e2d35fefc2) I made to fix the man page installation [issue](https://github.com/NREL/EnergyPlus/issues/4925) here that will drop in before release with #5198.

[2015-09-16 20:34] nealkruis commented on #4863
@Myoldmopar looks good.

[2015-09-16 20:54] mjwitte commented on #4838
And there are lots of other useful reasons for informative messages that alert a user to a condition that needs to be evaluated.  Call them what you want, but they should be available for users who want to know.  Just like compilers have different levels of information, we already have different levels here.  For tools like beopt and openstudio that should be creating perfect input and want to iso

[2015-09-16 21:00] nealkruis commented on #4838
There doesn't need to be a distinction between the first X errors and the final error before the `exit( EXIT_FAILURE )` call. This is how many programs work, including our C++ compilers (at least clang).

I'm not advocating for less information to the users, just that we remove the somewhat ambiguous distinction between different levels of problems. Clang has two levels of problems: warnings and e

[2015-09-16 21:15] mjwitte commented on #4838
And there's also a distinction between input errors or issues found when processing the input which can be accumulated and then halt vs errors that arise during the simulation (like a plant loop overheating) which should halt immediately or soon after.

[2015-09-16 21:18] Myoldmopar commented on #4838
For those, I think it should be pretty clear.  If you encounter a condition that will definitely cause a fatal, it is a severe.  If it is a condition that you want to alert about, but it isn't the _reason_ for a fatal, make it a warning.  These can be intermingled within the same GetInput routine, as long as you _do_ issue the fatal at the end when you have severes along the way.

[2015-09-16 21:42] #4889 closed, assigned to Nigusse

[2015-09-17 03:01] mjwitte commented on #5162
Closed via #5176

[2015-09-17 03:01] #5162 closed, assigned to lgu1234

[2015-09-17 11:20] Myoldmopar commented on #4939
@mjwitte I'm going to take this off of the 8.4 list.

[2015-09-17 11:30] Myoldmopar commented on #4545
Fixed by #5198

[2015-09-17 11:47] Myoldmopar commented on #4274
@mjwitte The pump placement rules are _probably_ relaxed enough that it should work fine.  Pumps are treated much better after the pump re-write.  That said, the more relaxed placement rules have not been exercised enough where I want to open up the can of worms of approving it to be used by everyone.  I'll clean up the text for the pump flow rate schedule name to close this.

[2015-09-17 11:57] Myoldmopar commented on #4418
Fixed by #5198

[2015-09-17 11:57] Myoldmopar commented on #4274
Fixed by #5198

[2015-09-17 14:07] Myoldmopar commented on #4718
I verified that the version check functionality is only checking the major/minor version, not the iteration # at all anymore.  I extracted out that function from the code, hardwired the version to match as "8.4.0" and ran the following cases:
- "8.4.0": Pass, no problem
- "8.4.1": Pass, no problem
- "8.5.0": Fail, issue warning

We aren't using iteration numbers in the idfs right now anyway, but e

[2015-09-17 14:07] #4718 closed

[2015-09-17 14:09] Myoldmopar commented on #4858
Closed with #5142

[2015-09-17 14:09] #4858 closed, assigned to Myoldmopar

[2015-09-17 14:39] Myoldmopar commented on #4392
Fixed by #5198

[2015-09-17 15:44] nealkruis opened #5211 "Better location for command line interface documentation"
@Myoldmopar @kbenne @mjwitte

This is a follow up to #4906, where this was discussed but not exactly addressed. There were a lot of ideas thrown around, it would be good to come up with a more permanent solution.

There are a couple sub-issues here:
- [ ] @kbenne mentioned that there is a lot of redundancy between the --help, man pages, and the [markdown document](https://github.com/NREL/EnergyPlu

[2015-09-17 15:53] mjwitte commented on #5211
I would strongly encourage it being in one of the main docs (Getting Started is fine) because most users aren't going to look at the project readme.

[2015-09-17 18:24] #4274 closed

[2015-09-17 18:24] #4418 closed

[2015-09-17 18:24] #4542 closed

[2015-09-17 18:24] #4545 closed

[2015-09-17 18:24] #4925 closed, assigned to Myoldmopar

[2015-09-17 18:24] #4392 closed

[2015-09-18 01:35] rraustad commented on #4399
Why does this field have a default? If it is a cooling only radiant system this field is not needed and could be left blank.

ZoneHVAC:LowTemperatureRadiant:VariableFlow,
   A6 , \field Heating Design Capacity Method
        \required-field
        \type choice
        \key HeatingDesignCapacity
        \key CapacityPerFloorArea
        \key FractionOfAutosizedHeatingCapacity
        \default Heat

[2015-09-18 01:59] mjwitte commented on #4399
@rraustad That's a reasonable default with Heating Design Capacity defaulting to autosize.  It appears that way in other places.  Looks like getinput for this is broken.

[2015-09-18 02:29] rraustad commented on #4399
I can probably fix that by looking for HW nodes and only error out if those nodes are blank. What other place so I can see what they did there and if those places require a heating component.

Regarding this issue, what should I do here? The HVAC Sizing Summary air flows are based on the zone load and have nothing to do with OA. So both files should be the same.

PreDefTableEntry( pdchZnClCalcDesA

[2015-09-18 02:31] rraustad commented on #4399
Oh, I see the user thinks the air loop flows should be the same. I'll look a little more.

[2015-09-18 02:44] mjwitte commented on #4633
@kbenne It's been a while since you originally posted this, and I'm trying to sort through the best way forward.  Is it correct to say that one or both of these two changes would address the problem?
1. Use the schedule in DesignSpecification:OutdoorAir to modify the flow rates calculated by Controller:MechanicalVentilation.  _This one is relatively benign, but may surprise some users if they have

[2015-09-18 03:09] mjwitte commented on #5119
Preliminary notes.  In [SimAirServingZones](https://github.com/NREL/EnergyPlus/blob/2d46c7212f35cfcf2fed462d692598b3ff5da8a2/src/EnergyPlus/SimAirServingZones.cc#L2008-L2009), the branch max massflow is used in several places to initialize flows in the loop.

[code]

AirLoopFlow( AirLoopNum ).DesSupply is used heavily in MixedAir::CalcOAController
_One option here is to use the AirLoopHVAC Design

[2015-09-18 03:23] rraustad commented on #4399
Looks like all the other radiant that use "default HeatingDesignCapacity" are heating only systems. So this object will need a little more logic.

[2015-09-18 13:36] mjwitte commented on #4347
@wfbuhl Recent helpdesk ticket 10752, user is complaining that the water deltaT is too small when this baseboard operates.  I expect this fix will help that.  User's file posted in the 4347 defect folder.

[2015-09-18 13:42] Myoldmopar commented on #4878
OK, I think we are locked in with Transition at this point, right @mjwitte?

@kbenne @mjwitte So I can build the full set of transition binaries for Linux easily, Windows slightly less easily, and Mac not easily at all.  Yet...   I am getting a Mac, and a years supply of Mac-flavored kool-aid, next week, so I'll be able to support all three platforms shortly.

I'll build the Linux version and zip

[2015-09-18 13:46] mjwitte commented on #4878
That depends, #5136 requires another transition rule.  Need to decide if we're going to get that in for v8.4 or let it ride.

[2015-09-18 15:41] lgu1234 commented on #5134
@jonwinkler @jasondegraw The failure of convergence is caused by part load ratio conflict. The existing code passes fan part ratio from Furnace to the AirflowNetwork. The AirflowNetwork model requires coil part load ratio. However, when coil flow rates are the same as the fan flow rate, the part load ratio of fan and coils are the same. When one of coil flow rates is different from the fan flow ra

[2015-09-18 17:47] rraustad commented on #4399
I printed out the ventilation report to see where differences lie. VRP uses the VAV minimum to callculate OA. I have to check to see if ZoneSum also does this.

Should this always be reported (for ZoneSum and VentilationRateProcedure)?

First half of figure is ZoneSum Cooling and Heating. VentilationRateProcedure results are next.

![zonesum_result_prefix](https://cloud.githubusercontent.com/asset

[2015-09-18 17:53] mjwitte commented on #4399
@rraustad It may be instructive to look at the same tables for the workaround case where a tiny OA requirement is added to the zero OA zones.

[2015-09-18 18:45] rraustad commented on #4399
Ah, this is the variable used to calc OA in the VRP procedure:

// In case for some reason the VAV minimum has not been defined, use the design primary airflow

ZonePA = FinalZoneSizing( CtrlZoneNum ).DesCoolVolFlow;
// Save VpzMin in case this is a single path VAV system.
// Std 62.1-2010, section 6.2.5.1: "For VAV-system design purposes, Vpz is the lowest zone primary
// airflow value expected a

[2015-09-18 19:00] mjwitte commented on #4399
So, those zones also have a zero min flow?  So maybe it's not the zero OA that's the problem, but the zero min flow.  Which, if you have OA would get bumped up by the OA requirement, maybe?

[2015-09-18 19:32] rraustad commented on #4399
Changing OA > 0 did not change the answer (tables same as above). I think it's the fact that the VAV minimum flow is used in VRP and not in ZoneSum. I'm not sure if that's correct or not. If OA is specified for ZoneSum, should E+ also look at supply air flow (i.e., OAfrac) to ensure that amount of OA is provided to the zone?

[code]

[2015-09-18 19:39] mjwitte commented on #4399
So much for that hypothesis, although 0.0000001 may fall below some smallflow threshold, might try something bigger.  Also, did you notice the comments about VentilationRequirement in sizing vs SensibleLoad?

[2015-09-18 19:43] rraustad commented on #4399
VRP does this while ZoneSum does not:

ZoneOAFracCooling = FinalZoneSizing( CtrlZoneNum ).VozClgByZone / FinalZoneSizing( CtrlZoneNum ).DesCoolVolFlowMin;

ClgSupplyAirAdjustFactor = ZoneOAFracCooling / FinalSysSizing( AirLoopNum
).MaxZoneOAFraction;

FinalZoneSizing( CtrlZoneNum ).DesCoolVolFlowMin *= ClgSupplyAirAdjustFactor;

So I think the ZoneSum result will always be different than Ventilati

[2015-09-18 19:59] mjwitte commented on #4399
ZoneSum shouldn't be changed, it's correct.  So, I went searching on VozClgByZone  and found this code

[code]

Looks like the same issue came up before in #3645.  Maybe VRP is simply undefined for this case and the sever should be fatal?  To answer that we need to consult the ASHRAE standard for VRP methodology.

[2015-09-18 19:59] rraustad commented on #4399
"notice the comments about VentilationRequirement in sizing vs SensibleLoad?"

where do I look for this?

[2015-09-18 20:02] mjwitte commented on #4399
That's up at the top of this page in my responses to the user
"If they do, then we need to pursue whether the treatment of the zero-OA zones is being handled properly within the VRP calcs when using VentilationRequirement to size a system. My guess is if you changed the sizing:system Type of Load from VentilationRequirement to Sensible, then you would also get the same OA flow and system flow betw

[2015-09-19 03:11] wfbuhl commented on #4347
OK I'll take a look

[2015-09-19 03:44] rraustad commented on #5120
Anyone working on these? I'm looking around...

[2015-09-19 10:42] mjwitte commented on #5067
Closed via #5147

[2015-09-19 10:42] mjwitte commented on #4861
Closed via #5147

[2015-09-19 10:42] #4861 closed, assigned to rraustad

[2015-09-19 10:42] #5067 closed, assigned to rraustad

[2015-09-19 11:01] mjwitte commented on #4967
@EnergyArchmage For the unitary system example files that are using the SetpointManager:SingleZoneReheat only to give the economizer a setpoint, would you agree that changing them to use SetpointManager:SingleZoneCooling would be more appropriate?

[2015-09-19 11:09] mjwitte commented on #5120
"Not I," said the dog.

[2015-09-19 14:11] EnergyArchmage commented on #4967
It is an interesting idea, but I think it would take some study.  I suspect it might increase heating energy.

[2015-09-19 16:11] rraustad commented on #4399
I believe it's not the zones with 0 OA that is causing the SA to be higher for the VRP case, it's the zones with OA >0 and minimum VAV stops < 1 causing this. I'll try to set up a test case where minimum VAV stop = 1 for non-zero OA zones only.

[2015-09-19 16:29] rraustad commented on #4399
Hmm, same answer.

[2015-09-19 17:00] mjwitte commented on #4967
Changing to SetpointManager:SingleZoneCooling looks good for cases where the SZRH manager is _only_ controlling the mixed air temperature.  But there aren't many like that.  There are many which are controlling individual cooling and heating coils (these really need to be split out into two setpoint managers).

Tested FurnaceWithDXSystemRHcontrol as an annual simulation with both flavors of setpoi

[2015-09-19 17:30] mjwitte opened #5217 "Eliminate use of single setpoint controlling heating and cooling coils at the same time"
This is follow up to #4967
Using a single setpoint to control both heating and cooling/economizer setpoints on the same airloop causes problems.  Many of the example files use SetpointManager:Scheduled to apply a seasonal supply air temperature to a single duct system (typically VAV), and many others use SetpointManager;SingleZone:Reheat to set the supply air temperature setpoint.  Problems with t

[2015-09-19 19:50] rraustad commented on #4399
In order to get the same answer with ZoneSum and VRP, the zone OA fraction must = the system OA fraction to ensure the system cooling/heating effectiveness = 1. If a zone's OA fraction is less than the system OA fraction, that means there is one or more zones with zone OA fraction > system OA fraction which would force SysCoolingEV < 1. So to make these 2 simulations equal, the zone OA fraction mu

[2015-09-19 21:22] rraustad commented on #4399
Changing VAV min back to 0 did not change the result above.

[code]

[2015-09-20 19:28] rraustad commented on #4298
Results:

[code]

[2015-09-20 19:34] rraustad commented on #4298
Still not sure if the adjustments to flow and outlet conditions are correct. For a cycling fan, the air mass flow rate is the average and outlet conditions are full. For constant fan, the air mass flow rate is full and outlet conditions are averaged. So, for a cycling fan case, does using full outlet conditions in the OA system cause an issue?

[code]

![4298_results](https://cloud.githubuserconte

[2015-09-20 20:30] rraustad commented on #4298
This is why there is no HX activity in summer:

[code]

[2015-09-20 20:48] rraustad commented on #4298
The desiccant HX does this differently but it looks like the same result.

A local variable for mass flow is increased to full flow:

[code]

Then the outlet conditions are adjusted:

[code]

[2015-09-20 21:06] rraustad commented on #4298
PR https://github.com/NREL/EnergyPlus/pull/5218

[2015-09-20 22:02] mjwitte commented on #4853
Added another defect file with a hard value for SHR and it still fails but with suspicious outlet temperature.

[code]

[2015-09-20 22:12] mjwitte commented on #4853
And modified and tested the original defect files.  Problem is still there.

[2015-09-20 22:15] mjwitte commented on #4854
Closed via #5166

[2015-09-20 22:15] #4854 closed, assigned to rraustad

[2015-09-20 23:48] rraustad commented on #4399
The 62.1 Summary has a column named "Percent Outdoor Air - %OA" which shows a fraction (see figure above). Should I change this to be %?

[2015-09-21 02:19] rraustad commented on #4399
Fixed value in % column. Fixed ADS Eff reporting for ZoneSum method.

Results for ZoneSum method.

All zones changed to 0.8 ADS Eff:

[code]

All zone have 0 minimum air flow fraction and 0 VAV minimum stop:

[code]

![zonesum_point8adseff](https://cloud.githubusercontent.com/assets/5778156/9984451/99f8a154-5fe5-11e5-9c06-70968b53ffea.png)

[2015-09-21 13:26] mjwitte opened #5219 "Link infiltration introduced max iteration problems in one of the 4568 defect files"
The "as_current*" defect files for #4568 began to show max iteration warnings after #5123 was merged.

[2015-09-21 19:32] mjwitte commented on #5109
@kbenne EP-Launch will warn now if it is installed in a protected directory.  We can close this issue, or keep it open for future installer changes.

[2015-09-21 23:25] mjwitte commented on #4672
Closed via #5179

[2015-09-21 23:25] #4672 closed

[2015-09-22 02:05] rraustad commented on #5112
Anyone working on this? 1 line of code at 3196 MixedAir.

[code]

Any reason why mechanical ventilation should not work without specifying number of people?

[2015-09-22 02:09] rraustad commented on #5112
A warning already exists. Not sure what defaults are used in this case.

[code]

[2015-09-22 02:14] rraustad commented on #5112
Looks like there is a default:

![5112_oaperperson](https://cloud.githubusercontent.com/assets/5778156/10009639/11ed8e54-60ae-11e5-8530-3afa062bb114.png)

[2015-09-22 02:22] rraustad commented on #5112
So much for a default.

![5112_mechventresult](https://cloud.githubusercontent.com/assets/5778156/10009743/4abe3cb4-60af-11e5-8ec6-dabc9aeef0f8.png)

[2015-09-22 09:32] tsnouidui opened #5221 "Memory allocation in FMU import libraries"
Revise memory allocation in FMU import libraries.

[2015-09-22 12:59] JasonGlazer commented on #4842
@mjwitte Were you using the RunParam.bat batch file or EP-Launch?

[2015-09-22 13:08] mjwitte commented on #4842
ep-launch if I remember correctly

[2015-09-22 14:02] lgu1234 opened #5222 "Improve waste heat function handling of AirloopHVAC:UnitarySystem"
#5162 improved waste heat function handling for parent object of AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed, and child objects of Coil:*:DX:Multispeed. Since the AirloopHVAC:UnitarySystem object is a parent object of Coil:*:DX:Multispeed, the waste heat function handling of AirloopHVAC:UnitarySystem needs to be addressed in order to be consistent with AirLoopHVAC:UnitaryHeatPump:AirToAir:Mult

[2015-09-22 14:04] mjwitte commented on #4967
Closed via #5202

[2015-09-22 14:04] #4967 closed, assigned to nobody

[2015-09-22 14:06] JasonGlazer commented on #4842
@mjwitte I can reproduce the problem using EP-Launch and I think it is just a EP-Launch problem when ParametricPreprocessor is invoked. Right now EP-Launch simulates anything called MyFile-*.idf. If MyFile-LowerSupplySetpoint.idf was not even created by the ParametricPreprocessor it is deleted because otherwise it would simulated again. I will revise this so that EP-Launch only runs files that are

[2015-09-22 14:54] #4974 closed, assigned to JasonGlazer

[2015-09-22 14:57] #4401 closed

[2015-09-22 18:00] rraustad commented on #4298
I find it interesting that the OA flow rate is not proportional to the air loop flow. Even when it appears the controller is set up to provide an average flow rate proportional to the air loop branch flow rate. UPDATE: OK, this is due to defrost. Figure included below previous.

Defect file changed such that HVAC operates at same flow as other components. Also running only 1/1-1/10 and 7/1-7/10 in

[2015-09-22 18:02] rraustad commented on #4298
A compromise was made in the OA system to operate the HX at a PLR = flow/max, for now, until this can be better understood.

[code]

[2015-09-22 18:22] rraustad commented on #4298
No HX warnings appear now even when Furnace flow is set back to 1.0 m3/s.
I think this is ready.

[2015-09-22 18:36] rraustad commented on #4298
PR https://github.com/NREL/EnergyPlus/pull/5218

[2015-09-22 18:54] Myoldmopar commented on #5221
@tsnouidui Did I also see the changes go in somewhere or not yet?

[2015-09-22 20:12] rraustad commented on #4298
This answer looks reasonable. Effectiveness is a little higher than the user specified 0.9, which I don't have a good explanation for at this time.

![4298_effectiveness2](https://cloud.githubusercontent.com/assets/5778156/10030188/703f735a-6144-11e5-9877-114bbd673899.png)

[2015-09-22 20:13] tsnouidui commented on #5221
@Myoldmopar  I created an equivalent branch locally which is not check in yet.

Thanks!

Thierry

[2015-09-22 23:31] rraustad commented on #5112
Created a test file where DesignSpecification:OutdoorAir objects uses default value:

[code]

The defect file and this test file show identical results.
Used Windiff to compare eio (only difference is VentMech reported values), csv (no diff's), and html file  (only difference are time stamp).

PR https://github.com/NREL/EnergyPlus/pull/5223

[2015-09-23 15:31] mjwitte opened #5224 "Revise EP-Launch crash dialog"
The current EP-Launch crash dialog needs some revisions.
![image](https://cloud.githubusercontent.com/assets/4991075/10048726/ed18e006-61d9-11e5-86b4-3a2fef8ca2df.png)

It shouldn't lead with Please Report Crash.  I would delete that section entirely and replace it with something like this.

**Check the EnergyPlus Installation**
Run an example file to determine if the problem is with this idf file

[2015-09-23 15:53] shorowit opened #5225 "Site:WaterMainsTemperature correlation incorrect for southern hemisphere"
@nmerket, @ejhw
The Site:WaterMainsTemperature can use the Christensen/Burch correlation for calculating daily water mains temperatures. Unfortunately, the correlation as originally described is only correct for northern hemispheres. For southern hemispheres, the equation needs to be changed from:
`Tmains = (Tout,avg + 6) + ratio * (ΔTout,maxdiff / 2) * SIN(0.986 * (day - 15 - lag) - 90)`
to
`Tmai

[2015-09-23 15:55] Myoldmopar commented on #5167
Closed with #5210

[2015-09-23 15:55] #5167 closed, assigned to rongpengzhang

[2015-09-24 11:25] Myoldmopar commented on #4298
Closed via #5218

[2015-09-24 11:25] #4298 closed

[2015-09-24 11:27] Myoldmopar commented on #5134
Closed via #5213

[2015-09-24 11:27] #5134 closed, assigned to lgu1234

[2015-09-24 11:30] Myoldmopar commented on #4402
Closed via #5192

[2015-09-24 11:32] #4402 closed

[2015-09-24 11:33] Myoldmopar commented on #4347
Closed via #5214

[2015-09-24 11:33] #4347 closed

[2015-09-24 11:44] Myoldmopar commented on #4984
Closed via PR #5191

[2015-09-24 11:44] #4984 closed, assigned to nobody

[2015-09-24 11:51] Myoldmopar commented on #2900
Closed via #5182

[2015-09-24 11:51] #2900 closed

[2015-09-24 11:52] Myoldmopar commented on #4568
@mjwitte Your commit message (c11e0d9) shows 'addresses', but your PR description in #5219 says 'partially addresses'.  I'm closing this since I think your commit message is more likely to be accurate.

Closed via #5219

[2015-09-24 11:52] #4568 closed

[2015-09-24 11:53] Myoldmopar commented on #5219
Closed via #5182

[2015-09-24 12:04] #4842 closed, assigned to JasonGlazer

[2015-09-24 13:50] JasonGlazer opened #5227 "Update LCC to use 2015 NIST supplement"
Add life-cycle data set file for 2015 NIST 135 supplement

http://energy.gov/eere/femp/downloads/energy-price-indices-and-discount-factors-life-cycle-cost-analysis-2015

[2015-09-24 13:54] JasonGlazer opened #5228 "IDF Editor - add filter for object names for files with large number of the same objects"
When using IDF Editor with a file that contains a very large number of the same objects it would be good to show only objects which names contain certain text so that they can be edited together. Also make sure that "Fill Right" works when filtering is used only on the objects in view.

[2015-09-24 13:58] JasonGlazer opened #5229 "IDF Editor - offer to update x,y,z coordinate when matching coodinate is updated in another object"
In IDF Editor to move a wall requires editing the same coordinates multiple times. Add a option to allow other coordinates to be updated when a matching coordinate is updated.

[2015-09-24 14:25] JasonGlazer opened #5230 "IDF Editor - offer to update names in other objects when name is edited"
Add option so that when a name gets changed in an original object it can be changed in all objects (or selected objects) that reference that name.

[2015-09-24 14:45] mjwitte commented on #5219
@Myoldmopar This one has not been addressed.

[2015-09-24 14:57] jonwinkler opened #5231 "Coil:Cooling:DX:VariableSpeed air flow rate always maximum speed"
I'm attempting to run a two-stage air conditioner with gas furnace using the Coil:Cooling:DX:VariableSpeed and AirLoopHVAC:UnitaryHeatCool objects. However, the model appears to be using the speed 2 air flow rate when operating in speed 1. I ran this using a recent develop build.

IDF, output file, and other associated files are here:
https://gist.github.com/jonwinkler/410a346acac42004fa85

The Ex

[2015-09-25 18:10] rraustad opened #5234 "Improperly formed Table object can cause infinite loop"
HelpDesk Ticket 10801

User found a crash with an improperly formed Table:TwoIndependentVariables object. Running the defect file in V8.4 shows an infinite loop in CurveManager at or around line 2080. Additional checks on input data is necessary to make this more robust.

MinTableData = 999999.0;
MinTableData = minval( TempTableData( TableNum ).X1 );
for ( VarIndex = 1; VarIndex <= MaxTableNums; +

[2015-09-28 21:31] Myoldmopar commented on #5190
Tested the 8.4.0 RC2 on Linux and ran an example file and everything looks OK so far.

[2015-09-28 21:35] Myoldmopar opened #5239 "Collapse EnergyPlus to a single Project"
The static library was split during the LTO/PGO work, but since that isn't being used, it would be nice to just re-collapse them into a single project **OR** create a meaningful set of individual projects.  The split in half version is just awkward.

[2015-09-28 21:38] Myoldmopar opened #5240 "Table format isn't showing up"
@lefticus The tables in the docs don't have borders like they used to.  The html tables have this:

[code]

and it used to work fine to create nice looking tables.  Now they aren't.  Not sure what the actual issue is, but it would be awesome to fix up before the 8.4.0 release if it's a pretty simple, < 1 hour fix.

[2015-09-29 13:28] EnergyArchmage commented on #5190
Tested EnergyPlus-8.4.0-1dc9d8f334-Windows-i386 on a Windows 8.1 machine and everything looks Okay.

[2015-09-29 14:00] mitchute commented on #5190
Tested EnergyPlus-8.4.0-1dc9d8f334-Windows-x86_64 on Windows 7SP1. Everything looks good. There were EP-Launch Version 8.3 warnings for the ExampleFiles\BasicFiles idf's.

[2015-09-29 16:26] Myoldmopar commented on #5190
Thanks @mmatts I fixed those version errors.  Getting close...

[2015-09-29 16:28] mjwitte opened #5241 "Documentation and IDD Issues - September-October 2015"
- [x] Input Output Reference, four pipe fan coil,

[code]
1.  Filed --> Field
2.  @Nigusse Does the fan really cycle only with cooling coil?  Or should this say "fan cycles with heating or cooling coil"?

[2015-09-30 14:20] Myoldmopar opened #5242 "Update Licensing stuff in README"
The link to the licensing page is out of date, and we probably need to update the wording to indicate the upcoming license update anyway.

[2015-09-30 18:53] KWSL commented on #4972
sweet!  I don't have a specific test file for the chillers.

Thanks,

Karen

On Tue, Sep 15, 2015 at 2:35 PM, Michael J. Witte notifications@github.com
wrote:

[2015-10-01 02:52] mjwitte commented on #5109
@kbenne From helpdesk ticket 10817 "Since I installed OpenStudio with the integrated EP and accepted all the defaults, EP is installed in the Program Files directory."  Is that really what OpenStudio installer will do?  That's not good.  @JasonGlazer

[2015-10-01 16:45] kbenne commented on #5109
yes the OpenStudio installer will put E+ down in C:\Program Files\OpenStudio...... this is not like a typical E+ install. It does not run the E+ installer or anything like that, it just copies the E+ install tree. It was not really intended to be something that people access outside of E+, although since we are not being selective about what parts of E+ get copied, it is all there and tempting to

[2015-10-01 17:20] mjwitte commented on #5109
@kbenne Got it.  Much has changed since those discussions 18 months ago.

[2015-10-01 17:26] JasonGlazer commented on #5109
@kbenne How difficult would it be for the OpenStudio installer to not install EnergyPlus if it finds that version already installed on a users computer? And then for OpenStudio to use that already installed version? That would probably reduce confusion for users that have the same version of EnergyPlus installed in two places. And I agree that when the OpenStudio installer does put EnergyPlus on a

[2015-10-01 17:34] kbenne commented on #5109
@JasonGlazer I'll bring it up with the OS team. Certainly doable, but at the cost of some non zero complexity. I think in the future OS would prefer to forgo the E+ system call altogether and instead call into the DLL.

[2015-10-01 17:39] JasonGlazer commented on #5109
@kbenne Using the EnergyPlus DLL sounds like a great solution for OpenStudio.

[2015-10-01 17:50] Myoldmopar commented on #5109
Nailed it @kbenne!

[2015-10-01 20:29] #5190 closed, assigned to Myoldmopar

[2015-10-04 17:14] chrisbalbach opened #5246 "Documentation needed for Variable Refrigerant Control - Fluid Temperature Control objects and controls descriptions"
Documentation Links for EnergyPlus 8.4.0 (using 64 bit Windows version installed from here:  https://github.com/NREL/EnergyPlus/releases/download/v8.4.0/EnergyPlus-8.4.0-832e4bb9cb-Windows-x86_64.exe on 10/4/2015) do not include any information on new feature #5026 (https://github.com/NREL/EnergyPlus/pull/5026) - New VRF Heat Pump Model: VariableRefrigerantFlow:FluidTemperatureControl.

While the

[2015-10-05 12:03] JasonGlazer opened #5247 "Actuator name spelling error"
According to help desk ticket 10820:

The actuator for surface external condition called “Outdoor Air Drybulb Temperature” is spelled wrong in the program and appears with the name “Outdoor Air Dryblub Temperature” (inversion between u and l in drybulb).

The mistake can be checked in the .edd file.

[2015-10-05 13:45] JasonGlazer commented on #4284
According to the IDD, RunPeriod, Environment, and Annual are synonymous.

I verified this,using any of these just results in a single result at the end of the simulation.

[2015-10-05 13:58] mjwitte commented on #5246
@chrisbalbach The pdf files in the installer package are v8.4.0 and include documentation for this feature.  The online pdf files and html documentation have not caught up yet, they are still v8.3.0.

[2015-10-05 14:01] Myoldmopar commented on #5246
I'll get the online pdfs updated.  For html docs, I could update ours but I'm not really trying to advertise them outside of maybe for interim builds for us devs.  Big Ladder will likely be posting formal html versions of the docs now that the release is out the door.  @nealkruis?

[2015-10-05 14:39] nealkruis commented on #5246
@Myoldmopar we are discussing this now. It should be pretty straightforward for us. We should have new docs posted soon.

[2015-10-05 15:55] rraustad opened #5248 "Incorrect math in water coil warning messages"
Math used to trip warnings for water coils is incorrect.

These warning tests should use \* AirDensity
if (  AirMassFlow > ( 5.0 \* WaterCoil( CoilNum ).MinAirFlowArea / AirDensity )...
kg/s = m/s \* m2 \* kg/m3

Also, math in several places within these 2 warnings need correcting. No defect file is available since this was found accidentally using the wrong idd.

Line 2414 of WaterCoils:

[code]

[2015-10-06 16:37] wfbuhl opened #5249 "Mistakes in HW Rad-Conv Baseboard Eng Ref"
My rather rushed changes to the Engineering Reference resulted in at least one incorrect sentence and a botched equation

[2015-10-06 16:52] mjwitte commented on #5241
- [x] Helpdesk ticket 10788
  Input Output Reference for Chiller:Electric and Chiller:Electric:EIR needs to state clearly that heat recovery only works with Condenser Type = WaterCooled.  Probably should add this to the three Heat Recovery field descriptions.  Also IDD notes.

Also, in Chiller:Electric, Field: Design Heat Recovery Water Flow Rate, there is a typo "Enegineering Manual".

[2015-10-06 17:08] Nigusse commented on #5241
@mjwitte It should say "fan cycles with heating or cooling coil".

[2015-10-06 20:25] mjwitte commented on #4954
Reference [Unmethours 11294](https://unmethours.com/question/11294/how-to-model-condensing-gas-fired-dhw-tank-in-energyplus/?comment=11331#comment-11331)
Similar output variables would be useful for the WaterHeater:\* objects as well.

[2015-10-07 14:49] mjwitte opened #5250 "Surface.ExtBoundCond and Zone.ExteriorTotalSurfArea possible problems when using OtherSideConditionsModel"
Helpdesk Ticket 10800
User asked what surfaces are included as exterior surface area for ZoneInfiltration:DesignFlowRate when the method is Flow/ExteriorArea.

Searching the code finds that infiltration is using Zone.ExteriorTotalSurfArea for this calculation. The surfaces included in Zone.ExteriorTotalSurfArea are any where Surface.ExtBoundCond is either ExteriorEnvironment OR OtherSideCondModele

[2015-10-07 14:53] mjwitte commented on #5250
Also, the I/O Ref for ZoneInfiltration:DesignFlowRate should be updated to specify exactly what types of surfaces are included as "exterior" area.

[2015-10-07 14:56] JasonGlazer commented on #4284
@mjwitte In testing the routine that zeros the accumulation arrays, I have noticed that the same file run for one year and running for three years and only using the last year of results, give similar but not exactly the same results in the tabular reports. Is that reasonable or should I expect the results to be exactly the same? I am using 5ZoneAirCooled.idf as the basis of my testing.

[2015-10-07 15:44] nealkruis opened #5251 "Flow mismatch between autosized PTHP and hard value in variable speed DX coils child object results incorrect operation"
I've created a defect file to illustrate this (Unitary_and_PTHP.idf). In this file there is a central airloop with a unitary system serving a single zone with a PTHP. The `Output:Variables` illustrate that the total air into the zone and the total air out of the zone are far from balancing.
- There is never any return air even though the ATU is supplying air to the space on occasion.
- The PTHP is

[2015-10-07 15:55] mjwitte commented on #4284
I would expect a small difference in the first week of January due to different wall history in the first year (repeated Jan 1) vs the later years where it just continues from Dec 31.  I would expect years 2 and up to agree with each other exactly.

[2015-10-07 23:10] rongpengzhang opened #5252 "Tin and setpoint discrepancy for the new vrf model"
Sometimes there is a discrepancy of about 0.5C between resulting indoor air temperature and setpoint. This may lead to many unmet hours.

It has been found that the problem comes from the terminal unit part, which didn't take into account the OA mixer simulations.

[2015-10-08 17:49] mjwitte opened #5253 "IDF Editor validity check for required fields is too strict - if the field has a default then blank is acceptable"
This is a followup to  #4160  Noticed that a file which runs OK was showing validity check errors in IDF Editor for some blank required fields (e.g. ZoneInfiltration:DesignFlowRate flow coefficients.)

[2015-10-08 17:51] mjwitte commented on #5253
Trying an experiment, defect file is attached here (but had to add .txt because github only accepts certain known file types).
[legacyopenstudiotest-copy.idf.txt](https://github.com/NREL/EnergyPlus/files/10262/legacyopenstudiotest-copy.idf.txt)

[2015-10-08 19:18] EnergyArchmage opened #5255 "EMS actuators for dual temperature system node setpoints point to incorrect variable"
In the routine EMSManager::SetupNodeSetPointsAsActuators(), the actuators for "System Node Setpoint" with control type "Temperature Minimum Setpoint" and "Temperature Maximum Setpoint" are pointing to the wrong variables in the node data structure.

in EMSManager.cc, around line 1455, instead of this:

[code]

it should be this:

[code]

[2015-10-09 02:00] rglazer2 commented on #4627
@mjwitte On the new test file you sent me it seems to work just fine when i remove the SetTempAtOutLow > SetTempAtOutHigh requirement. The result ranges from 80-90 instead of a constant 85. Do you think the old test file had some other issues or is something else going on here?

[2015-10-09 12:42] JasonGlazer commented on #4284
I think the day of the week also changes since Jan 1 follows the day of week from Dec 31. I am comparing only the last year with a simulation lasting only one year and finding differences. Not sure what should be considered reasonable differences.

[2015-10-09 12:54] JasonGlazer commented on #4284
@mjwitte @Myoldmopar The tabular report called "Energy Meters" is very closely tied to the energy meters themselves. I cannot reset to zero the variables used without affecting the results that are reported in the MTR file which, when requested, are for the entire runperiod. I have not been touching the MTR file or the ESO file. I could make some additional elements in the MeterType to accumulate

[2015-10-09 13:29] mjwitte commented on #4284
@JasonGlazer Regarding the day of week, there is a field in RunPeriod that controls this "Increment Day of Week on repeat".  Setting that to No may remove some of the differences.

My expectation for repeated runperiod would be that the mtr and eso files would report the first repetition, reset, then report the second repetition, etc.  Regardless of the reporting frequency.

What happens currently

[2015-10-09 14:04] JasonGlazer commented on #4284
@mjwitte I changed the "Increment Day of Week on repeat" to No and the magnitude of the differences is much smaller, thanks. This is issue is specifically about the tabular reports and not the MTR and ESO files, if we want to change their behavior, maybe we need to post another issue.

[2015-10-09 15:07] mjwitte commented on #4284
But all outputs need to be consistent with each other.  The only thing that would change in the MTR and ESO files is the max/min values, correct?

[2015-10-09 20:05] mjwitte opened #5257 "EMS parser problem with negative number on right side of IF"
Helpdesk ticket 10812
From user
Implementing an EMS model I encoutered the following issue.

ELSEIF TPrim == -1,
Gives the following output in *.edd when TPrim = 16.
AIRPRIMZ01,Line 15,ELSEIF TPRIM == -1,16.000000, Occurrence info=DESIGNCOOL, 07/15 12:15 - 12:30
So that the condition is actually assessed true (>0).

ELSEIF -1 == TPrim ,
Gives the correct output (0).
AIRPRIMZ02,Line 15,ELSEIF -1 ==

[2015-10-09 20:52] mitchute commented on #5105
Also had another OSU user who could not run 8.4 because MSINET.OCX was missing. Let me know--I can track down more details if needed.

[2015-10-10 19:28] EnergyArchmage opened #5258 "HeatExchanger:FluidToFluid problem with dual deadband control"
HeatExchanger:FluidToFluid with Control Type of DualDeadbandSetpointModulated does not work very well.  The logic is such that it will only transfer heat when conditions are such that it can succeed at meeting the hi/lo setpoints.  In cases where the demand side inlet temperature is such that, even though the setpoint cannot be completely reached, there could be some beneficial heating or cooling

[2015-10-14 13:50] mjwitte opened #5260 "HVACTemplate:Zone:FanCoil add support for new electric heating coil and multispeed fan control"
Helpdesk ticket 10837
v8.4.0 added a new electric heating coil to ZoneHVAC:FourPipeFanCoil and a new capacity control type MultiSpeedFan.  Add support for these in HVACTemplate:Zone:FanCoil.

Test files [5260-HVACTemplateFanCoil.zip](https://github.com/NREL/EnergyPlus/files/2641127/5260-HVACTemplateFanCoil.zip)

[2015-10-14 14:45] mjwitte commented on #4848
@Myoldmopar At a minimum, the Module Developers Guide needs to be updated to reflect the new procedures for making contributions to EnergyPlus.  https://energyplus.net/contributing
Also note that Appendix G has a heading but no content in the pdf.

[2015-10-14 14:51] mjwitte opened #5261 "Warning about <6 surfaces in a zone should be changed to <5 or even eliminated"
Helpdesk ticket 10857
*\* Warning *\* GetSurfaceData: The total number of floors, walls, roofs and
internal mass surfaces in Zone ZONE 8
*\* ~~~ *\* is < 6. This may cause an inaccurate zone heat balance
calculation"

There are many 5 surface zone configurations that are valid enclosures.  One could even have 4 triangles to enclose a zone.  In theory a single-surface zone should be fine, but this

[2015-10-14 15:26] mjwitte opened #5262 "CoilSystem:Cooling:DX and Heating should throw a severe when the sensor node is not the air outlet node"
Helpdesk ticket 10802
User having problems with low cooling coil outlet temp and other convergence problems.  Sensor node for CoilSystem:Cooling:DX was the supply air outlet and there was a heating coil in between.  This won't control correctly.  Controller:WaterCoil throws an error when the sensor node is not the coil outlet node.  CoilSystem:*:DX should also throw an error.  We should even consi

[2015-10-14 15:28] mjwitte commented on #5262
User file quite large - so take an example file and create a defect test file by changing the CoilSystem:*:DX sensor node to be the ariloop outlet instead of the coil air outlet.

[2015-10-14 15:29] mjwitte commented on #5261
May need to create a defect file - not sure if any example files have a simple attic zone with gable roofs that would have only five surfaces.

[2015-10-14 16:05] JasonGlazer commented on #4419
@EnergyArchmage @WeiminWang  I traced the problem of the ABUPS Fuel-Fired Power Generation reporting a positive value in an IDF file that did not have any kind of fuel-fired generating equipment to the use of some battery stuff being attached to the "ElectricityProduced" "Cogeneration" meter. See lines:

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ManageElectricPower.cc#L1343

h

[2015-10-14 16:21] JasonGlazer commented on #4419
@EnergyArchmage @WeiminWang. Please review the pull request that addresses this issue. If you think it will have any unintended consequences, please let me know.

[2015-10-14 16:56] JasonGlazer opened #5264 "Increase number of layers allowed for construction object"
Advanced windows often have more material layers than the current Construction limitation will allow. The current Construction used for windows is limited to 8 layers. Quad-pane windows use four "panes" and three gaps that is seven layers. Five or more pane windows are not possible. Windows with 12 "panes" and 11 gaps have been designed and windows with five panes and 4 gaps are being produced. Th

[2015-10-14 19:07] mjwitte commented on #4627
@rglazer2 The original defect file probably had other issues.  Let's use the new test file to complete this, and I can revisit the original defect file once the code for this is finalized.

[2015-10-14 21:11] mjwitte commented on #4419
@JasonGlazer @EnergyArchmage The battery is metered like this:

[code]

I don't see why storage should be on any ElectricytProduced meters.  The table in question is not the main ABUPS table, but this one:

![image](https://cloud.githubusercontent.com/assets/4991075/10497876/fbdd8ece-728d-11e5-917d-834fc82affca.png)

Seems like any battery storage losses should be in the row "Net Decrease in On-Si

[2015-10-14 21:40] EnergyArchmage commented on #4419
That row in the report is for the change in storage state.  You can start out with a fully charged battery and end up with it empty and that could look like production in ABUPS.  It isn't accumulated from any meter but rather a simple delta between starting and ending state of charge in store.

What matters here is losses from repeated round trips.  Confusing, but it is complex. I think a new row

[2015-10-14 22:16] mjwitte commented on #4419
I see.  We're mixing up apples and oranges here I think. From the perspective of this table, Electric Storage Production Decrement Energy and Electric Storage Discharge Energy don't belong here - they are neither a source nor an end-use - it's not clear that these should be metered at all.

Electric Storage Discharge Energy is an end-use - it consumes power, so maybe that should be metered, like I

[2015-10-15 11:39] EnergyArchmage commented on #4419
Electric Storage Discharge Energy by itself is not the consumed power, it is what is drawn out of storage.  The metering system is used here to calculate the storage losses by summing the difference between energy stored and energy drawn, which occur at different points in time.  Meters are especially useful here because the time shifting means that losses cannot really be calculated by the model

[2015-10-15 14:13] mjwitte commented on #4419
Sorry I pasted in the wrong variable name. I meant Electric Storage Thermal Loss Energy

<div>-------- Original message --------</div><div>From: Brent Griffith notifications@github.com </div><div>Date:10/15/2015  6:39 AM  (GMT-06:00) </div><div>To: NREL/EnergyPlus EnergyPlus@noreply.github.com </div><div>Cc: "Michael J. Witte" mjwitte@gard.com </div><div>Subject: Re: [EnergyPlus] ABUPS Electric Lo

[2015-10-15 18:03] mjwitte commented on #5241
- [x] Helpdesk ticket 10842 People object, various output variables for the ASHRAE 55 and CEN 15251 thermal comfort models say "a value of -1 means not applicable."  It would be useful to spell out when the models are applicable in the People "Thermal Comfort Model Type" field description.

Engineering Reference for ASHRAE 55 says "If, using either method, To is less than 10°(C) or greater than 33

[2015-10-15 19:07] Myoldmopar commented on #4848
Thanks @mjwitte.

I started to work on re-writing the module developer's guide myself, but due to the size I got sidetracked.  And I'm not sure whether to sit there and re-write it paragraph by paragraph, or just start from scratch and pull things in as needed.  Either way, I'm planning on doing it soon, though there will need to be a good amount of review.

I'm marking this a high priority thing

[2015-10-15 19:10] mjwitte commented on #4848
@Myoldmopar This could be done in stages as well with a blanket comment at the beginning stating that some of the context is from the old language but most of the intent is still applicable.

[2015-10-16 12:28] JasonGlazer commented on #4419
So it sounds like "Electric Storage Production Decrement Energy" and "Electric Storage Discharge Energy" should not be attached to the "Cogeneration:ElectricityProduced". That is the code change that I did with #5263. On that pull request @EnergyArchmage  suggested a new meter related to "storage". I am not sure that adding a new meter is really the level of work for fixing an issue, it should pro

[2015-10-16 13:37] mjwitte commented on #4419
Adding a meter is relatively simple, but I'm not sure if a storage meter is useful.  If I'm understanding Electric Storage Thermal Loss Energy correctly, it seems that should be added to a meter.  Do both types of electric storage have this variable or equivalent?

[2015-10-16 13:44] JasonGlazer commented on #4419
I am not sure I understand the connection with "Electric Storage Thermal Loss Energy". The issue is related to "Electric Storage Production Decrement Energy" and "Electric Storage Discharge Energy".

[2015-10-16 13:46] mjwitte commented on #4419
@EnergyArchmage said the difference between  "Electric Storage Production Decrement Energy" and "Electric Storage Discharge Energy" was supposed to represent the losses involved in charging/discharging.  Seems that "Electric Storage Thermal Loss Energy" is that loss.

[2015-10-16 14:21] EnergyArchmage commented on #4419
That is an interesting way of thinking about it.  The model could be reworked to do that I suppose but that isn't the case now.   There is a relationshop of course but not they are not the same.  The thermal losses (to the surrounding zone) are more approximated at this point and not carefully metered when you have charging and discharging in the same timestep.

A battery state of charge can just

[2015-10-16 14:30] JasonGlazer commented on #4588
@MatthewSteen This issue has become too many different pieces. Would it be possible for you to make sure all of these issues are still valid and post them to separate issues with either a way to reproduce the problem or each a file that demonstrates the problem?

[2015-10-16 14:41] JasonGlazer commented on #4419
I am not opposed to metering them but putting them on the  "ElectricityProduced", "COGENERATION" meter pushes them into the Electric Loads Satisfied table under Fuel-Fired Power Generation. They are neither fuel-fired or power generation nor are related to satisfying the buildings need for power. They really ought to be on a different meter that does not flow into that table.

[2015-10-16 14:46] EnergyArchmage commented on #4419
If storage is being used to help satisfy electric loads, and it lops off 30% of the PV production, how is that not related?

[2015-10-16 14:49] JasonGlazer commented on #4419
I believe the control volume is the building. Storage is within the control volume and not crossing it. The Electric Loads Satisfied table is trying to document what is crossing in and out of the building control volume.

[2015-10-16 14:56] EnergyArchmage commented on #4419
Okay.  Then I guess the other way to go would be to use the Generators end use meter and flip the sign of each of the outputs.  Then we'll just get questions about why the generators are using electricity.

[2015-10-16 15:21] JasonGlazer commented on #4419
Maybe I am not understanding. Is the electricity that is being put on Electric Storage Production Decrement Energy and Electric Storage Discharge Energy not already being satisfied by either the generators in the plant or the electric utility?

[2015-10-16 15:26] JasonGlazer commented on #5109
@kbenne I think I addressed the short term issues for this so I think the rest is in your court. I am moving the assignee to you. If you disagree, let me know.

[2015-10-16 15:44] EnergyArchmage commented on #4419
Oh sure, it is coming from those sources.  I just think of storage as a part of the system producing the electricity rather than part of the building or HVAC.   I shouldn't have added the snarky comment, it seems reasonable to treat the storage losses in the same way that ancillary electricity consumption related to generators gets metered as an end use.

changes would be like the following (draft

[2015-10-16 16:38] mjwitte commented on #5031
Closed via #5131

[2015-10-16 16:38] #5031 closed, assigned to lgu1234

[2015-10-16 17:04] MatthewSteen commented on #4588
@JasonGlazer will do.

[2015-10-16 17:10] mjwitte commented on #5105
@bachc @mmatts These ocx files are in the installer, but there may be some version compatibility problem or something else preventing them from installing properly.
@kbenne Can the installer produce a log file so we can see what's happening (or not happening) in these cases?

[2015-10-16 18:10] mjwitte commented on #5241
- [x] IDD for Sizing:System Type of Load to Size On, \notes don't reflect the new Total option

[code]

[2015-10-16 18:12] mjwitte opened #5266 "HVACTemplate add support for new sizing fields"
New in v8.4.0 - HVACTemplate Zones which are served by HVACTemplate:System:DOAS should use this automatically - might need some new fields, might not.

[code]

New in v8.3.0

[code]

[2015-10-16 20:15] kbenne commented on #5105
it seems so.

http://nsis.sourceforge.net/Logging:Enable_Logs_Quickly
http://nsis.sourceforge.net/Dump_log_to_file
http://stackoverflow.com/questions/861297/saving-nsis-install-log

[2015-10-16 20:33] kbenne commented on #3522
Can anyone recommend a work around?

[2015-10-16 20:59] EnergyArchmage commented on #3522
The only idea that comes to mind is the EMS actuator for pump mass flow rate.   (sorry)

[2015-10-19 14:29] JasonGlazer commented on #4419
@EnergyArchmage The only end use close to "Generators" is  "Cogeneration" which we have already discussed. How about:

[code]

I'm not familiar with the ElecStorage type, these are now both expressing energy consumption, right?

[2015-10-19 15:11] JasonGlazer opened #5269 "FluidCooler:SingleSpeed fatal error with Design Water Flow Rate=autocalculate"
Getting

   *\* Severe  *\* FluidCooler:SingleSpeed = "FLUID COOLER", invalid data for "Design Water Flow Rate", entered value <= 0.0, but must be > 0 for Performance Input Method = "UFACTORTIMESAREAANDDESIGNWATERFLOWRATE".
   *\*  Fatal  *\* Errors found in getting fluid cooler input.

when field is shown as autosizable in IDD

See helpdesk ticket 10518

http://energyplus.helpserve.com/staff/Tick

[2015-10-19 15:16] JasonGlazer commented on #5269
Added file that shows the problem in

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5269

using GBR_London.Gatwick.037760_IWEC.epw

[2015-10-19 17:34] EnergyArchmage commented on #4419
I just meant it should show in the "Generators" row in the ABUPS end use table, whatever meter fills that is fine, even it is "Cogeneration" meter.  The big change is from "ElectrictyProduced" to "Electricity."

No, they are not both consumption. Again the losses are the difference between the two meters.  One is positive the other is negative and the metering system is calculating the losses.  Th

[2015-10-19 17:54] mjwitte commented on #4419
Isn't this going to look strange in the main ABUPS report if a simulation has a big change in stored energy from start to finish?  I'm still not sold on using the difference of in vs out to compute losses.

[2015-10-19 19:18] mjwitte commented on #5241
- [x] Chiller:Electric:EIR, plr curve is limited to Quadratric, user file has a cubic which runs fine, suggest letting this be UnivariateCurves.  Other chillers as well?  (ref. helpdesk ticket 10861 but can reproduce with a very simple example file change)

[code]

[2015-10-19 19:24] macumber opened #5272 "Constructions and materials tables differ between EIO and SQL"
I have not seen different values but there are different fields included in the Construction and Material summaries in the EIO and in the Constructions and Materials tables in the SQL output.  Also there is no WindowConstruction table in sql.

[2015-10-19 21:21] mjwitte opened #5273 "Design Size Maximum Flow per Zone Floor Area during Reheat overflows if zone has zero floor area"
This file with no floor in Zone1 reports ***\* in a release build and fails in a debug build.

[5ZoneVAV-ChilledWaterStorage-Mixed-MoreReporting-DeleteZone1Floor-Crash.idf.txt](https://github.com/NREL/EnergyPlus/files/16392/5ZoneVAV-ChilledWaterStorage-Mixed-MoreReporting-DeleteZone1Floor-Crash.idf.txt)

`Component Sizing Information, AirTerminal:SingleDuct:VAV:Reheat, ZN_1_FLR_1_SEC_1 VAV BOX COM

[2015-10-20 20:03] mjwitte commented on #5241
- [x] Ref Helpdesk Ticket 10868.  Illuminance maps inputs for number of x/y grid points should have a minimum of 1.  A fraction can cause a crash.
  `\minimum 1`

[code]

[2015-10-20 22:49] macumber opened #5274 "Documentation for ComponentCost:LineItem with interior surfaces"
There is documentation for ComponentCost:LineItem that says

This seems to be true, however the algorithm that is used to determine which cost is used (e.g. for a ceiling / floor pair which cost is used the cost of the ceiling construction or the floor construction) is not documented

[2015-10-21 13:46] EnergyArchmage opened #5276 "Fan coil unit hot water coil waterside control problem"
Helpdesk issue 10848.  User noticed a severe mismatch in heating energy between the water side and air side during some times of the day.  The water flow is sometimes running at full mass flow rate and large temperature difference and the McdeltaT can be a factor of 10 higher than the air side coil heating rate.

Fan coil unit has many places where there is While loop that finds a PLR, need make s

[2015-10-22 11:49] EnergyArchmage opened #5277 "Add Output Variable for Node Fluid Specific Heat"
System node data for the specific heat are not reported.  Similiar to density, it would be helpful to be able to report the specific heat of the fluid at each node.  This would generally be useful in off-line energy balance checks of energy balance using M_c_DeltaT type calculations across HVAC components.

In EMS, there is not a good way to obtain the specific heat for use in various calculations

[2015-10-22 12:50] MatthewSteen commented on #5277
https://unmethours.com/question/11950/specific-heat-of-water-in-ems/

[2015-10-22 13:50] Myoldmopar commented on #4284
Closed with #5256

[2015-10-22 13:50] #4284 closed

[2015-10-22 20:30] EnergyArchmage commented on #5276
Not having any luck with this.  Initial idea did not work out.  I have tried a number of code changes and nothing seems to work.  Cannot reproduce in an example file.

In additon to the water side showing more heat transfer that the air side, it also can show air side heat transfer with no water mass flow at all.

Does not appear that I can deliver a fix on this, have to cut and run at this point.

[2015-10-23 16:17] Myoldmopar commented on #5174
@mjwitte Are you, or anyone else, working on this yet?  I'm fine working on this one since it is blocking #5150.

[2015-10-23 19:05] mjwitte commented on #5174
I haven't gotten to this yet.  I can, but if you want to, that's cool too.

On 10/23/2015 11:17 AM, Edwin Lee wrote:

[2015-10-23 19:17] Myoldmopar commented on #5174
I shall, though a doctor visit interrupted today, so it will probably be
first thing Monday.

[2015-10-23 21:26] YixingChen opened #5282 "Weather data lag for 1-hour"
I created the 1-minute interval EPW file. However, there are 1 hour lag between the EPW file and the results.

Seems to be a bug. I just shift all the data by 1 hour to "work around" the problem. For more information, please check the discussion in UnmetHours:
https://unmethours.com/question/12068/weather-data-lag-for-1-hour/

[2015-10-26 11:24] EnergyArchmage commented on #5282
I think this is as designed. Hours run from [1..24] because the array indexes start at 1.

[2015-10-26 13:39] mjwitte commented on #5282
@YixingChen We need your epw and idf files in order to evaluate this.

[2015-10-26 16:27] YixingChen commented on #5282
@mjwitte Here is an example: https://www.dropbox.com/s/8258ojhlkl3lse4/ewp_1_minute_case.zip?dl=0

[2015-10-26 16:47] YixingChen commented on #5282
@EnergyArchmage When the sub-hourly weather data at 10:30 shows up in results 09:30, it is confused.

[2015-10-26 19:05] nealkruis commented on #5095
@mjwitte do you have time to talk through a resolution on this bug?

[2015-10-26 20:10] EnergyArchmage commented on #5095
It isn't clear if you are saying this is a reporting issue or a zone air heat balance issue.

It is the inside face surface temperature that matters for sumhat and it has more terms. https://github.com/NREL/EnergyPlus/blob/9ce4be335f113561dd48f0ff2a781b32c88a4cdf/src/EnergyPlus/WindowManager.cc#L6092

[2015-10-26 20:37] EnergyArchmage commented on #5261
I support eliminating this warning.  The only context it makes sense is if one is assuming that all zones are a six-sided box.

[2015-10-26 20:55] mjwitte commented on #4419
@EnergyArchmage Just to be clear, your proposed draft changes add a meter to "Electric Storage Energy" and add a new metered variable named ""Electric Storage Discharge Decrement Energy."  Is that correct?

And these changes would be in addition to the changes already showing in [PR#5263](https://github.com/NREL/EnergyPlus/pull/5263/files)?

[2015-10-26 21:11] nealkruis commented on #5095
@EnergyArchmage it is both. @mjwitte and I agreed that the convection being set for zero for the calculation of surface temperatures was a bug and should be fixed. The FrameHeatGain reflecting only the is solely a reporting issue.

FWIW, I probably should have continued the discussion on PR #5099 instead of here.

[2015-10-26 21:23] EnergyArchmage commented on #4419
it seems all my suggestions have been rejected.  I have no more ideas.

[2015-10-26 22:10] mjwitte commented on #4419
No, I'm reconsidering this one from Oct 16, but I want to be sure I understand it:

it seems reasonable to treat the storage losses in the same way that ancillary electricity consumption related to generators gets metered as an end use.

changes would be like the following (draft)

[code]

[2015-10-27 12:50] EnergyArchmage opened #5284 "EMS function @RhovFnTdbRhLBnd0C is being parsed as @RhovFnTdbRh"
While working on another issue (to detect unitialized variables), found that RhovFnTdbRhLBnd0C is actually being parsed as RhovFnTdbRh and a variable LBnd0C.   The substrings match and parser gets confused.

function RhovFnTdbRhLBnd0C will not work in EMS programs.

[2015-10-27 13:02] JasonGlazer commented on #4419
@mjwitte and @EnergyArchmage so what should I be doing? The changes that Brent suggested and not use of exterior equipment? I just want to get this issue resolved.

[2015-10-27 13:57] EnergyArchmage commented on #4943
@shorowit I have worked out code changes to report errors to the EDD file when an uninitialized variable is used, in this branch https://github.com/NREL/EnergyPlus/tree/4943-EMS-Trap-Unitialized-Variables

Do you think that checking the EDD file for such errors is sufficient or _must_ it also show in ERR file?

For other math errors, like divide-by-zero or too-large-an-exponential, we only report

[2015-10-27 14:06] EnergyArchmage commented on #4419
The batteries can give off heat to a zone, so I do not agree that exterior equipment is a good option.

If the end-use-as-generator's-ancillary approach is okay.  The entire report variable called Electric Storage Production Decrement Energy , would go away as it is no longer needed nor very useful.  In  https://github.com/NREL/EnergyPlus/pull/5263 the change to take Electric Storage Discharge Ene

[2015-10-27 14:19] JasonGlazer commented on #4419
Lets move this discussion to #5263 pull request since we are talking about a solution rather than the original problem.

[2015-10-27 14:59] mjwitte commented on #4943
@EnergyArchmage Would it be safe to say that any use of an uninitialized variable after sizing and after warmup is a real problem that should throw a severe?

[2015-10-28 12:58] jmarrec opened #5285 "PhotovoltaicPerformance:EquivalentOne-Diode: litterature/module out of date?"
based on: https://unmethours.com/question/12243/using-the-cec-performance-database-data-for-solar-pv-in-e/ and @EnergyArchmage answer.

I'd also like to know if this is indeed the same as the CEC model... I've been trying to map CEC field to the E+ one, and some do match, but others don't like TauAlpha, Bandgap, heat loss coeff and total heat capacity are unclear to me (latest two are only for BIP

[2015-10-28 14:49] EnergyArchmage commented on #5004
Is there a defect file for this?

[2015-10-28 17:55] aaron-boranian opened #5287 "EnergyPlus crashes when assigning AirLoopHVAC:UnitarySystem as zone equipment"
The InputOutputReference.pdf for v8.4 states that "this object can be modeled as zone equipment (i.e., listed in a ZoneHVAC:EquipmentList) or as an outside air system component (i.e., listed in a AirLoopHVAC:OutdoorAirSystem:EquipmentList)." I took the 'UnitarySystem_DXCoilSystemAuto.idf' example file and added another instance of the AirLoopHVAC:UnitarySystem object to connect to a zone through i

[2015-10-28 18:25] rraustad commented on #5287
The AirloopHVAC:UnitarySystem was intended to be used as zone equipment and has been minimally tested as such. For the configuration tested, it did work. The IDD probably missed this nuance. If there is an issue with using UnitarySystem as zone equipment, then yes an issue is warranted.

[2015-10-28 18:41] aaron-boranian commented on #5287
What do you mean by "for the configuration tested, it did work"?

If the IDD missed this capability, then I'm glad I caught this disconnect between the InputOutputReference.pdf so that it can be addressed for the next version release (hopefully).

[2015-10-28 18:50] rraustad commented on #5287
While developing the UnitarySystem model, I created a test file that had three (3) AirloopHVAC:UnitarySystem objects. One in the AirLoopHVAC:OutdoorAirSystem:EquipmentList, one in the AirLoopHVAC main branch, and one in a ZoneHVAC:EquipmentList. I just now ran it in V8.4 and it still runs successfully. That is the extent of testing UnitarySystem as zone equipment. I assume there is something diffe

[2015-10-28 18:53] shorowit commented on #4943
@EnergyArchmage Great! I'm glad to hear that you think you've found a straightforward implementation.

If the ERR file is intended to report EnergyPlus errors, then I would think users expect either EMS errors (uninitialized or math errors; others?) or source code errors to appear in it. The difference between the two is largely superficial. But I'm sure that's not the answer you wanted to hear.

[2015-10-29 16:12] Myoldmopar commented on #4627
Closed with #5275

[2015-10-29 16:12] #4627 closed

[2015-10-29 16:56] Myoldmopar opened #5288 "EnergyPlus doesn't flush output each line"
EnergyPlus doesn't consistently flush stdout on each line.  The effect ranges from an annoyance when running manually, to more of a problem when a GUI relies on monitoring the output to provide feedback to users.  This can be addressed by appending each display call with `std::flush`.

[2015-10-29 20:24] #5288 closed, assigned to Myoldmopar

[2015-10-30 12:14] JasonGlazer commented on #5224
Fixed in:

https://github.com/NREL/EnergyPlusBuildSupport/pull/21

[2015-10-30 14:57] Myoldmopar commented on #5174
OK, so finally getting on this.  So this won't affect the SecZonePtr, which is required for registering the heat gain with SetupZoneInternalGain.  Fine.

Curious.  Right now the GetInput processing for A10 is:

[code]

You are saying we should leverage this CondInletNodeNum in lieu of the SecZoneAirNodeNum.  So then we need to hold before the GetAnOutdoorAirNode, because we may just call GetASenso

[2015-10-30 15:37] mjwitte commented on #5174
@Myoldmopar Good question.  Ideally, all of the OutdoorDryBulb, OutdoorHumRat, etc. variables should be renamed to something like CondInletDryBulb, etc.  And if the CondInletNodeNum is pointing to the correct node then many of the if ( DXCoil( DXCoilNum ).IsSecondaryDXCoilInZone ) blocks could go away.

As far as the input is concerned, perhaps the condenser inlet node name should be ignored and t

[2015-10-30 15:40] nmerket opened #5294 "OutputReportTabularMonthly_ResetMonthlyGathering fails"
When I build `develop` and run `energyplus_tests` it gives me an assertion error on this test. When I pass in the flag to only run that one unit test `--gtest_filter="*OutputReportTabularMonthly_ResetMonthlyGathering`, which is what the CI machines do, it passes. Possibly something is missing from a `clear_state` run in a previous test. @JasonGlazer I'm assigning this to you because you wrote this

[2015-10-30 15:55] mjwitte commented on #5294
@nmerket It's possible that this has been fixed by @EnergyArchmage in #5291 or @rraustad in #5216

[2015-10-30 16:36] MatthewSteen opened #5296 "LEED Summary Table EAp2-2 shows incorrect total number of hours not met"
Below are the results from a v8.3.0 baseline and proposed model. In each case the number of hours heating/cooling loads not met match the `System Summary` report `Time Setpoint Not Met` table for occupied heating/cooling.
#4588 @JasonGlazer

---

EAp2-2. Advisory Messages

Data
Number of hours heating loads not met   1.25
Number of hours cooling loads not met   8.50
Number of hours not met 23.25

[2015-10-30 17:09] EnergyArchmage commented on #5294
Yes, I ran into that as well and went ahead and add clear_stuff in pr 5291.  Noel if you merge in that branch (https://github.com/NREL/EnergyPlus/tree/5255-EMS-dual-Temp-Node-Setpoints) into your branch. it should solve the problem.

I don't really think we want issues for this sort of thing.

[2015-11-02 16:05] JasonGlazer commented on #4175
@mjwitte @Myoldmopar The defect file no longer causes a crash with EnergyPlus 8.4.0. The updated defect file is at:

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/4000s/4175

 I am closing the issue.

[2015-11-02 16:05] #4175 closed

[2015-11-02 16:51] JasonGlazer commented on #4580
The bug was original posted for EnergyPlus 8.2.0. This was reproduced using EnergyPlus 8.4.0 and the same issue still exists.

[2015-11-04 14:10] JasonGlazer commented on #4580
@hongtz68 I think this issue may be related to code you added in 2010 and I would like your advice on how to fix it. The issue is that when both Front Side Solar Reflectance at Normal Incidence and Back Side Solar Reflectance at Normal Incidence of WindowMaterial:Glazing are set to zero the output variables:
- Surface Window Total Glazing Layers Absorbed Solar Radiation Rate
- Surface Window Total

[2015-11-04 15:09] JasonGlazer commented on #5294
@EnergyArchmage Thanks for addressing this.

[2015-11-04 15:35] EnergyArchmage commented on #5294
No problem, But it isn't really addressed until that PR 5291 gets merged... hint hint

[2015-11-04 17:29] vidanovic commented on #4580
@JasonGlazer Do you know if user had spectral data or just single value assigned to WindowMaterial:Glazing?

[2015-11-04 17:34] JasonGlazer commented on #4580
Single value, here is the WindowMaterial:Glazing

[code]

The entire input file is at:

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/4000s/4580

[2015-11-04 17:49] jasondegraw commented on #5294
I am getting failures in
- OutputReportTabularMonthly_ResetMonthlyGathering
- ConfirmResetBEPSGathering

#5291 fixes the first one, but not the second one. Are we sure we don't need an issue?

[2015-11-04 18:32] EnergyArchmage commented on #5294
humm, when the unit test unit test stops working is there a new issue with another unit test for the unit test unit test?

[2015-11-04 19:08] jasondegraw commented on #5294
@EnergyArchmage Yes, I believe so. Here's what it should look like:

[code]

[2015-11-04 22:40] mjwitte opened #5298 "Outdoor Air Summary report improvements"
Helpdesk ticket 10907 (and others)
Users often find it difficult to compare the outdoor air delivered for proposed vs baseline simulations.  The logical place to look is the Outdoor Air Summary Report and the component sizing report.

The component sizing report shows the minimum outdoor air flow rates for Controller:OutdoorAir objects that have autosized OA flow rates, but there is no building to

[2015-11-04 23:07] mjwitte opened #5299 "Warn when using FollowThermal to control generators but no values are entered for Rated Thermal to Electrical Power Ratio"
Helpdesk ticket 10906 and [Unmethours 12451](https://unmethours.com/question/12451/cogeneration-unit-not-turning-on-in-e/)

If ElectricLoadCenter:Distribution species FollowThermal or FollowThermalLimitElectrical, then check the values entered in the ElectricLoadCenter:Generators generator list for "Generator n Rated Thermal to Electrical Power Ratio".  If they are all zero (or blank which becomes

[2015-11-05 15:52] jasondegraw commented on #5294
Kidding aside, my "change the license text" branch is probably not the best place to fix a failing unit test and I don't have time for it anyway. I can either reopen this issue or put in a new one for ConfirmResetBEPSGathering...

[2015-11-05 15:56] JasonGlazer commented on #5294
I just reopened it. As a work around, just use --gtest_filter=-_ConfirmResetBEPSGathering_

[2015-11-06 11:53] EnergyArchmage opened #5301 "ElectricLoadCenter:Storage:Battery fatal needs more information"
Helpdesk Ticket 10289.  ElectricLoadCenter:Storage:Battery fatals with no useful information.  User reports hard crash in v8.1. Now in 8.4 it fatals out with this message
   *\*  Fatal  *\* ElectricLoadCenter:Storage:Battery named="KIBAM 180". Battery discharge current could not be estimated due to iteration limit reached.

Should try to detect underlying problem and inform users.

Helpdesk Ticket

[2015-11-06 11:57] EnergyArchmage opened #5302 "Connecting single battery to multiple electric load centers needs error message"
Helpdesk ticket 10289.  User reports connecting one ElectricLoadCenter:Storage:Simple to multiple ElectricLoadCenter:Distribution objects appears to work.  This configuration should not be allowed and needs to be detected and appropriate error message generated.  No defect file submitted.

[2015-11-06 14:53] JasonGlazer commented on #5294
@jasondegraw I cannot reproduce this by using the "develop" branch. Is it possible that you were using a different branch?

[2015-11-06 15:17] mbadams5 commented on #5294
@JasonGlazer I just pulled down current develop and it is definitely there. You need to run all tests locally, not just `--gtest_filter=*OutputReportTabularMonthly_ResetMonthlyGathering*`.

It is due to [this static member variable](https://github.com/NREL/EnergyPlus/blob/ddcd0d2256264e2813015baad01e388d7ec9fb8e/src/EnergyPlus/OutputReportTabular.cc#L3586), which is causing an [assertion error her

[2015-11-06 15:48] mjwitte commented on #5294
@mbadams5 @JasonGlazer I'm reviewing and testing #5291 so I can slip the fix for this into there if you tell me what I need to do.

[2015-11-06 15:52] mbadams5 commented on #5294
@mjwitte I think that PR already fixes this... at least it looks like it [here](https://github.com/NREL/EnergyPlus/pull/5291/files#diff-cfc84b456bd550d5729f5275fb755f77R3775). It will now reset that static member variable each unit test run.

[2015-11-06 16:00] mjwitte commented on #5294
@mbadams5 I merged in develop on the 5291 branch and the tests fail, maybe its a different problem.  Haven't dug any further yet.

[code]

[2015-11-06 16:17] JasonGlazer commented on #5294
@mjwitte I believe that is the second item that was found earlier in this conversation. I am going to try to address it as soon as I can reproduce it.

[2015-11-06 16:21] mjwitte commented on #5294
@JasonGlazer You should be able to reproduce it with branch 5255-EMS-dual-Temp-Node-Setpoints
It's failing on the first EXPECT in TEST( OutputReportTabularTest, ConfirmResetBEPSGathering )

[2015-11-06 16:34] jasondegraw commented on #5294
I just rebuilt develop and ran

[code]

and got the result Mike gives above. If I run

[code]

it passes.

[2015-11-06 16:38] mjwitte commented on #5294
I think I've got it fixed now in #5291  Will push up shortly.  Just needed to move TEST( OutputReportTabularTest, ConfirmResetBEPSGathering ) into EnergyPlusFixture.

[2015-11-06 17:48] EnergyArchmage opened #5303 "Sign reversed in kinetic battery model Electric Storage Production Decrement Energy"
Electric Storage Production Decrement Energy variable is pointing to ElecStorage( StorNum ).DecrementedEnergyStored.  The kinetic battery model is filling this with the wrong sign causing errors in metering energy production.

Need to make sign conventions and reporting consistent between ElectricLoadCenter:Storage:Simple and ElectricLoadCenter:Storage:Battery so that the metering works out correc

[2015-11-06 22:17] mjwitte commented on #5255
Closed via #5291

[2015-11-06 22:17] #5255 closed, assigned to EnergyArchmage

[2015-11-06 22:24] mjwitte opened #5306 "Shading surface on south side of model impacting incident sky diffuse on north and east facing surfaces"
Helpdesk ticket 10832
User noticed that zone transmitted solar was changing in zones that should not be affected by removal of the shading surface highlighted below.
![ticket 10832 sketchup view of shading surface in question](https://cloud.githubusercontent.com/assets/4991075/11010164/703eabd8-84a2-11e5-9518-5c45e7240ddd.jpg)

The shading surface impacts the solar for the wall and window adjacent

[2015-11-09 13:36] JasonGlazer commented on #4580
@vidanovic I am planning on working on this some more today. Would it be possible to at least answer the first two questions?

[2015-11-09 13:51] JasonGlazer commented on #5089
The SuperMarket_DetailedWaterCondenser.idf file uses the Refrigeration:Condenser:WaterCooled object.

[2015-11-09 18:26] vidanovic commented on #4580
Sure. Some of these variables are used only by BSDF type of window. At least that was the case when I developed BSDF. For example, "Surface Window Total Absorbed Shortwave Radiation Rate Layer 1" should produce zero in this case. However, keep in mind that this is not zero. Transmitted solar radiation rate should definitely not be zero since value is set to 1.
You can try to debug this by going in

[2015-11-09 18:43] JasonGlazer commented on #4580
Thanks Simon. I am really not very familiar with the window solar calcs so any guidance you could provide would be appreciated.

[2015-11-09 18:55] vidanovic commented on #4580
No problem. BTW, I have just confirmed that problem is in this line:

TBmBm = POLYF( CosInc, Construct( ConstrNum ).TransSolBeamCoef( {1,6} ) );

(SolarShading.cc around 5600th line). Im looking now into that interpolation and why is it producing such a different results for close values. Will let you know...

[2015-11-09 22:45] vidanovic commented on #4580
@JasonGlazer
I have found the problem. It is in WindowManager routine named TransAndReflAtPhi.

Scroll down to following lines of code:

tmp7 = -abf;
if ( tmp7 != 0.0 ) {
  expmabfdivcgf = std::exp( tmp7 / cgf );
} else {
  expmabfdivcgf = 0.0;
}
  tmp8 = -2.0 \* abf;
if ( tmp8 != 0.0 ) {
  expm2abfdivcgf = std::exp( tmp8 / cgf );
} else {
  expm2abfdivcgf = 0.0;
}

problem here is that if branch

[2015-11-10 03:40] mjwitte commented on #4325
Closed via #5293

[2015-11-10 03:40] #4325 closed

[2015-11-10 14:45] JasonGlazer commented on #4580
Thank you very much for tracking down the problem and coming up with a solution. I do have time to post the fix and look through the test results. Hopefully we won't find anything unexpected.

[2015-11-10 16:12] JasonGlazer commented on #5211
Having just spent time looking for the documentation for the command line options, I think it would be best for it to be located (or perhaps duplicated) in Section 21.5 Running EnergyPlus By Hand in the AuxiliaryPrograms documentation. I know it is not an "auxiliary program" but that is where "Technical Details of Running EnergyPlus" is located and it makes sense for it to be part of that explanat

[2015-11-10 16:19] JasonGlazer commented on #4580
@vidanovic  in that same area of code, there are a bunch of

if (x != 0) {}

statements that look like they are trying to protect for divide by zero situations except that the variables referenced in the if statement are not the ones used the denominators. Given that seems to be the gist of the the fix you suggested, have you looked at the others and made sure they are ok?

[2015-11-10 16:26] JasonGlazer opened #5310 "Command line argument file echos"
When using command line arguments, the standard output (terminal or command window output) should show full paths and full file names of all files used and created.

[2015-11-10 16:31] JasonGlazer opened #5311 "Blank command line argument output-prefix should use input file name"
Command line argument output-prefix when not specified should use input file name. This would reduce user errors of forgetting to type the same name twice, once for the name of the input file and again for the name of the output file prefix.

[2015-11-10 16:45] #4232 closed

[2015-11-10 16:46] vidanovic commented on #4580
No, I did not. For now, I would not change those since it can produce unexpected results.

[2015-11-10 17:17] JasonGlazer commented on #4580
This looks like it solves most of the problems. I just did some testing of the original bug file and I think this addresses
- Surface Window Transmitted Solar Radiation Rate [W](Hourly)
- Surface Window Transmitted Beam Solar Radiation Rate [W](Hourly)
- Surface Window Transmitted Beam To Beam Solar Radiation Rate [W](Hourly)
- Surface Window Transmitted Beam To Diffuse Solar Radiation Rate [W](Ho

[2015-11-10 17:17] JasonGlazer commented on #4580
@vidanovic I just committed the code change you suggested in #5312

[2015-11-10 17:30] vidanovic commented on #4580
That does seem like some floating error. Let me take a look.

[2015-11-10 17:41] vidanovic commented on #4580
I would leave it like that for now. Need to sit down and take a look at equations. What it is not clear to me is why all those equations are missing glass thickness. They should have glass thickness involved. Equation that calculates absorbtance is one of those that should have the thickness.
However, all those equations are old and we do have new model in OPTICS that Im working on to extract into

[2015-11-12 15:13] JasonGlazer opened #5313 "Documentation Issues - November-December 2015"
- [x] Refrigeration Documentation - bullet indenting causes confusion

For Group-Refrigeration, the InputOutputReference for EnergyPlus 8.4 shows under the "Detailed approach" all bullet items at the same level. Some of these bullet items should be indented further indicating what options may be used. Look at the EnergyPlus 8.2 to see how it is supposed to appear.

_See I/O Ref pp. 1485-1486 for c

[2015-11-12 15:49] DavidGoldwasser opened #5314 "Invalid time series SQL dat when using Site:GroundDomain:Slab with Finite Difference undisturbed ground temperatures in 8.4"
Model runs without any apparent errors, and tabular SQL data is fine. But time series data is missing. Below is text for the object, and screenshot from ResultsViewer

[code]

![screen shot 2015-11-09 at 10 10 44 am](https://cloud.githubusercontent.com/assets/4857055/11122859/4091f6ca-891a-11e5-84f0-08076e933378.png)

cc: @Myoldmopar

[2015-11-12 17:11] mjwitte commented on #4419
Closed via #5300

[2015-11-12 17:11] #4419 closed

[2015-11-12 18:06] mjwitte commented on #5173
Closed via #5175

[2015-11-12 18:06] #5173 closed, assigned to nobody

[2015-11-12 19:24] mjwitte commented on #5294
Closed via #5291

[2015-11-12 19:24] #5294 closed, assigned to JasonGlazer

[2015-11-13 16:00] mjwitte opened #5316 "Transition end-of-file crash for Shading:Zone:Detailed with blank Number of Vertices field"
Helpdesk ticket 10928
Attempt to transition user file from v8.1 to v8.4 failed.  Tracked it down to blank number of vertices fields in this file that was generated by the CA CBECC-Com interface.  These default to autocalculate so EnergyPlus runs it just fine, but transition (any version) fails with an end-of-file error while processing Shading:Zone:Detailed objects.  [Code for that appears](https:

[2015-11-13 16:03] Myoldmopar commented on #5316
Ugh.

[2015-11-13 16:04] mjwitte commented on #5316
Oh - now I see it. In line 842 ELSEIF (OutArgs(3) == '') THEN
should be (4).

[2015-11-13 20:37] #5203 closed, assigned to mitchute

[2015-11-13 20:39] Myoldmopar commented on #5112
Closed via #5223.

[2015-11-13 20:39] #5112 closed, assigned to nobody

[2015-11-13 21:20] Myoldmopar commented on #5258
Any relation at all to #4959?

[2015-11-13 21:24] Myoldmopar commented on #5246
I think this is resolved with the new docs packaged with the release.

[2015-11-13 21:24] #5246 closed, assigned to nobody

[2015-11-14 03:35] Myoldmopar commented on #5221
Closed via #5290

[2015-11-14 03:35] #5221 closed, assigned to tsnouidui

[2015-11-16 17:50] kbenne opened #5317 "Unassigned ZoneHVAC:TerminalUnit:VariableRefrigerantFlow will crash program"
Models that contain a ZoneHVAC:TerminalUnit:VariableRefrigerantFlow that is not associated with a AirConditioner:VariableRefrigerantFlow through ZoneTerminalUnitList will crash E+. This is clearly a user input error, but the program should not crash and it would be helpful to have some information in the error file.

I will attach a defect file to demonstrate this.

[2015-11-16 17:56] mjwitte commented on #5317
With 8.4?  A similar issue has been fixed, but this could be different.
https://github.com/NREL/EnergyPlus/pull/5164
https://github.com/NREL/EnergyPlus/issues/4952

[2015-11-16 17:57] kbenne commented on #5317
hmmm. thats a good point. This is 8.3. I'll transition the file and see if it persists.

[2015-11-16 18:05] kbenne commented on #5317
Yes it is fixed in 8.4. Thanks! Closing. Have a nice day. :)

[2015-11-16 18:05] #5317 closed, assigned to nobody

[2015-11-16 18:15] macumber opened #5318 "Output:PreprocessorMessage messages at Information level are not in SQLite output"
These messages only show up in the errors table of the SQLite output if they are at the Warning or Error level.  OpenStudio would like to use this object to pass information about the year of simulation into the SQLite output but we cannot do this without categorizing as a Warning which will confuse users

[2015-11-16 18:16] macumber commented on #5318
@Myoldmopar any chance of getting this in 8.5?  @kbenne

[2015-11-16 22:16] mjwitte opened #5319 "Near-zero source side effectiveness in water heater causing NANs which trigger a fatal error later in the thermostat"
Helpdesk ticket 10919
Fatal error due to NANs:
   *\* Severe  *\* DualSetPointWithDeadBand: Unanticipated combination of heating and cooling loads - report to EnergyPlus Development Team
   *\*   ~~~   *\* occurs in Zone=R%0RI:ELOUNGE Environment=PARIS, at Simulation time=07/12 06:30 - 06:35
   *\*   ~~~   *\* LoadToHeatingSetPoint=NAN, LoadToCoolingSetPoint=NAN
   *\*   ~~~   *\* Zone Heating Set

[2015-11-16 22:21] mjwitte commented on #5089
Closed via #5309

[2015-11-16 22:21] #5089 closed, assigned to JasonGlazer

[2015-11-17 00:21] mjwitte opened #5320 "Object Count Summary Surface By Class table output miscounting some objects"
Helpdesk ticket 10938

Shading:Fin\* and Shading:Overhang:\* are counted as "Shading" and the rows for "Fin" and "Overhang" are zero. Sample table output for example file 4ZoneWithShading_Simple2 (with table output added).  This file has the following shading objects:
![image](https://cloud.githubusercontent.com/assets/4991075/11198897/52ca0c70-8c8e-11e5-9a6b-870e0b405439.png)
And the surface by c

[2015-11-17 00:39] mjwitte commented on #5313
- [x] Engineering Reference, v8.4.0 pdf p. 738, section 16.2.24.8 Secondary Coils of DX Systems and Heat Pumps is at the wrong heading level - needs to come up one higher level.

_See Engineering Ref p. 926 for corrections._

[2015-11-17 00:40] mjwitte commented on #5313
- [x] Engineering Reference, v8.4.0 pdf p. 741, section 16.2.24.12 Sensible and Latent Split, some of the equations are not rendered.  The entire Secondary Coils section has lots of formatting problems.

_See Engineering Ref Pp. 927-930 for corrections. Equations on pp. 929&930 have been modified to match the source code [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DXCoils

[2015-11-17 12:34] FarhangTahmasebi opened #5321 "Site:GroundDomain outputs not in RDD"
Modeling a grade slab using Site:GroundDomain:Slab, I realized that the Site:GroundDomain outputs (such as Zone Coupled Surface Temperature) are not placed in RDD file, even though they can be obtained from the model run. Using Output:Diagnostics with Display Advanced Report Variable does not change this.

[2015-11-17 14:55] mjwitte commented on #5321
This should not be possible, but I can reproduce it with any of the example files that use Site:GroundDomain:\* (ZoneCoupledGroundHTBasement, ZoneCoupledGroundHTSlabInGrade, 5ZoneAirCooledWithCoupledInGradeSlab).  There are documentation issues as well, and these output variables should be renamed to show that they go with the grounddomain model.
- [x] Fix missing names in rdd
- [x] Consider renam

[2015-11-17 15:01] JasonGlazer commented on #2822
The ExpandObjects.exe is a preprocessor for EnergyPlus that looks for specific objects within an in.idf file and converts them into objects that the EnergyPlus.exe actually processes. The objects that it processes all start with the the text "HVACTemplate:" and includes HVACTemplate:Thermostat, HVACTemplate:Zone:VAV, etc. For each HVACTemplate object, usually many normal EnergyPlus objects are cre

[2015-11-17 15:04] mjwitte commented on #2822
There is also a large set of test files with HVACTemplate variations that are not yet in github.  These could be added as an extended test set.  I can provide them directly for this work.

[2015-11-17 16:14] mjwitte commented on #5321
@mmatts FYI.

[2015-11-17 16:51] JasonGlazer commented on #5296
@MatthewSteen What file can I use to reproduce this issue?

[2015-11-17 17:27] MatthewSteen commented on #5296
@JasonGlazer emailed the IDFs to you.

[2015-11-17 18:17] mitchute commented on #5321
@Myoldmopar @mjwitte The RDD entries are missing because [SetupOutputVariables](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/PlantPipingSystemsManager.cc#L2339) for the slab and basement outputs is being called after [ProduceRDDMDD()](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SimulationManager.cc#L400). Would it be possible to move this to after the first tim

[2015-11-17 18:38] mjwitte commented on #5321
@mmatts The comment a few lines above ProduceRDDMDD() says " Note:  All the inputs have been 'gotten' by the time we get here"  Have the inputs for Site:GroundDomain been read by this point?  If not, they should be.  If they've been gotten, then the SetupOutputVariable calls need to be moved to happen as soon as the ground domain input is read.  Most modules set these up right in the getinput rout

[2015-11-17 19:17] mitchute commented on #5321
@mjwitte Thanks for pointing that out. [Slab and basement inputs](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SimulationManager.cc#L507) were not being called until later. I added the getInput to [SetupSimulation](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SimulationManager.cc#L1511) and that cures the problem.

[2015-11-17 21:45] shorowit commented on #5225
@nmerket Any chance of getting this into the bugfix release?

[2015-11-17 22:02] nmerket commented on #5225
Oh this fell off my radar. Sure I think we can manage getting it in there.

[2015-11-18 12:38] ecoeficiente opened #5325 "Swimming pool flow rate units corrected but not changed in Energy+.idd"
I reported a bug about flow rate input as m3/s in Swimming pool object while it was taken as kg/s. It seems that you closed that in https://github.com/NREL/EnergyPlus/issues/4805 but Energy+.idd still shows m3/s (and so does IDFEditor).

[2015-11-18 13:40] rraustad commented on #5287
I just ran the defect file and would consider this an issue. The problem is due to using both an air loop UnitarySystem and zone equipment UnitarySystem in the same zone.

[code]

[2015-11-18 13:55] mjwitte commented on #5325
The input is correct as m3/s.  Please see additional discussion added to #5028

[2015-11-18 13:55] #5325 closed, assigned to nobody

[2015-11-18 14:00] mjwitte commented on #5287
@rraustad Seems that should be OK as long as it's not the same unitarysystem object referenced in both places - need protection against that if it's not already checked.

[2015-11-18 14:01] rraustad commented on #5287
Agreed. Working now, just testing out a few things.

[2015-11-18 14:21] JasonGlazer commented on #5296
@MatthewSteen Now that I am looking at the issue more carefully, I am not sure what you want changed. The numbers match between the two tables but you do not believe that should. Could you explain why they should be different? Is it because one is using the term "loads" and the other "setpoint" or is it the use of the "occupied" columns?

[2015-11-18 14:37] MatthewSteen commented on #5296
@JasonGlazer I could be missing something, but I'm assuming the intent of this table is to have the `Number of hours not met` < 300 per 90.1-2007 and LEED. I'm also assuming that this total should be the sum of the cooling and heating hours listed above it which match the `System Summary > Time Setpoint Not Met` standard report table for the total Facility hours `During Occupied Heating` and `Duri

[2015-11-18 14:48] JasonGlazer commented on #5296
They do.

[2015-11-18 14:53] EnergyArchmage commented on #4884
The coil inlet conditions for heating coils is a part of pull request 5267, but does not completely address suggestion

[2015-11-18 15:00] MatthewSteen commented on #5296
@JasonGlazer I don't think we're understanding each other, so to be perfectly clear:

1.25 + 8.5 **!=** 23.25

So where does this 23.25 `Number of hours not met` come from?

[2015-11-18 15:09] JasonGlazer commented on #5296
Thanks. That I will look into.

[2015-11-18 15:43] rraustad commented on #5287
This did take a few lines of code changes and additions but it is working now.

![5287_fixed](https://cloud.githubusercontent.com/assets/5778156/11245524/2cbb5792-8de1-11e5-9bc6-7986c2956bb1.png)

[2015-11-18 17:32] Myoldmopar commented on #5224
Addressed via NREL/EnergyPlusBuildSupport#21

[2015-11-18 17:32] #5224 closed, assigned to JasonGlazer

[2015-11-18 17:35] #5316 closed, assigned to JasonGlazer

[2015-11-18 20:08] wfbuhl commented on #5276
Oh this is ugly. We have a zone in a big, complicated building with only a fancoil. Some of the time in heating mode the fancoil works well - hw flow and heating output move in sync and the zone temperature is controlled. At other times the zone temperature is not well controlled. The hw flow goes from either max (zone temp below set point) to zero (zone temperature above setpoint). Meanwhile hw c

[2015-11-20 00:42] shorowit commented on #5225
Tested this and it gives correct results now. Thanks.

[2015-11-20 15:23] nmerket commented on #5225
@Myoldmopar this is ready to go.

[2015-11-20 16:02] mjwitte opened #5332 "CondFD questions - TOld/TDold and other flavors of T"
While working on #5297 to add Conduction finite different heat flux outputs, noticed some things.
- [X] The engineering reference says "The grid for each material is established by specifying a half node for each edge of a material and equal size nodes for the rest of the material."  But the eio node position output and the new heat capacity outputs appear to show that all nodes in a given materia

[2015-11-20 16:35] EnergyArchmage commented on #5258
Added a defect file to dev support repository.  EnergyPlusDevSupport\DefectFiles\5000s\5258.
Took e+ example file and changed hi setpoint to be 1.0 C lower that demand side inlet temperature so that hi temp setpoint cannot quite be met.

before plot

![defectfilebeforefix](https://cloud.githubusercontent.com/assets/8754769/11305412/f5a27292-8f82-11e5-80da-16c57ecdba0b.png)

after fix plot

![defec

[2015-11-23 13:19] #4665 closed

[2015-11-23 13:28] #5225 closed, assigned to Myoldmopar

[2015-11-23 16:00] JasonGlazer commented on #5287
Closed from #5331

[2015-11-23 16:00] #5287 closed, assigned to rraustad

[2015-11-23 16:11] rraustad commented on #5287
Thank you Jason.

[2015-11-24 01:52] mjwitte commented on #5332
- [ ] Surface Outside Face Conduction Heat Transfer Rate per Area sees to have the wrong sign for adiabatic surfaces. For example file CondFD1ZonePurchAirAutoSizeWithPCM.idf

![image](https://cloud.githubusercontent.com/assets/4991075/11355493/fc63c668-921a-11e5-92b6-0d7a517672b8.png)

The sign convention for Outside Face Conduction:
A positive value means that the conduction is from just inside t

[2015-11-24 16:42] Myoldmopar commented on #5277
Closed via #5308

[2015-11-24 16:42] #5277 closed, assigned to nobody

[2015-11-24 17:01] JasonGlazer commented on #4580
@vidanovic I still can't figure out the Absorbed Radiation Rate part of this bug. I spent some time today trying to trace back through all the equations but (as you know) there are a lot of them and a lot that use cryptic three letter variable names. Any suggestions would be appreciated.

[2015-11-25 14:45] JasonGlazer commented on #4281
Verified that this is till a bug in EnergyPlus 8.4.0

@mjwitte in the original description it says "at minimum" what else should be addressed?

[2015-11-25 15:21] JasonGlazer commented on #4281
@mjwitte @Myoldmopar For the test file the preheat and the supply air temperature were the same so I changed the warning to not only say "raise" instead of lower but also to cover the preheat issues. It now will read:

[code]

Does that seem like a good error message?

[2015-11-25 15:24] mjwitte commented on #4281
@JasonGlazer That looks good.  The preheat part should only apply if there actually is a preheat coil, but this is ok for here.

[2015-11-25 15:29] JasonGlazer commented on #4281
@mjwitte Would it make more sense to make a new warning message when the preheat and supply temperatures are specified as the same in Sizing:System and remove that from this one?

[2015-11-25 15:30] mjwitte commented on #4281
Perhaps, but it should only fire if both coils are present and I'm not sure where in the process that is known.

[2015-11-25 15:42] JasonGlazer commented on #4281
I am not sure either I think that would be tricky to try to figure out. I guess I will just go with the warning I showed a few messages ago.

[2015-11-25 15:51] Myoldmopar commented on #5296
Closed via #5327

[2015-11-25 15:51] #5296 closed, assigned to JasonGlazer

[2015-11-25 21:44] mjwitte commented on #5258
Closed via #5333

[2015-11-25 21:44] #5258 closed, assigned to EnergyArchmage

[2015-11-26 00:51] anselmbradford opened #5335 "Add website to top of the repository"
![screen shot 2015-11-25 at 7 50 36 pm](https://cloud.githubusercontent.com/assets/704760/11412688/de6bc482-93ad-11e5-9316-82c45e976b6c.png)

^ Add a short description and link to energyplus.gov there.

[2015-11-27 00:12] rraustad commented on #4994
The Tsp is always calculated 1) regardless of humrat vs humratmax (sort of) and 2) only once per time step at full water flow rate

It should be calculated each iteration so the approach temp is accurate and calculated at the water flow rate needed to meet the temperature set point. Also, the Tsp should be adjusted only when HRsp < HR. Not sure at this point how the coil solution will converge if

[2015-11-27 05:41] rraustad commented on #4994
Mike hit it exactly. The water coil controller was always setting a lower Tsp. Allowed the controller to always calculate a Tsp while the controller was converging. Might take a few more iterations, but the controller has the correct info to converge now.

Here's a pic of the corrected code. The Temp only simulation resulted in a node SP of about 20C. The TempAndHumRat simulation resulted in a nod

[2015-11-27 06:25] rraustad commented on #4994
See the excel file for a summary/review in 4994 defect file folder.

[2015-11-27 19:16] #4734 closed

[2015-11-27 21:00] EnergyArchmage commented on #4959
The problem is that once the loop on the demand side warms up to the point where the HX control turns off (as it should because deltaT drops below tolerance), that loop never gets a chance to run again to see what the fluid coolers might be able to do were they to run.  These are often connected to the same condenser loop that the chillers use so there is flow requested by other components but in

[2015-11-27 22:30] rraustad commented on #4592
The temperatures seems to match when there is flow?

![hxtemps](https://cloud.githubusercontent.com/assets/5778156/11448715/3fd4205a-952c-11e5-9c51-ca9f7fb33a5c.png)

[2015-11-27 22:46] rraustad commented on #4592
OK, the temps do lag if you look close.

![hxtemps_simu_sys_1](https://cloud.githubusercontent.com/assets/5778156/11448800/ba9aa64a-952e-11e5-8f26-9b272efb689f.png)

[2015-11-27 23:10] rraustad commented on #4592
The original CR was to align the temps and mass flow rate when a HX was used in the OA system.
Since the OA equipment is simulated from OA node to mixed node, the HX is simulated before the mixer and the temp/flow at the HX when it is simulated is from the last iteration. So a second loop was added to run back up the OA equipment list from mixed node to OA node.

I added a 3rd loop to traverse the

[2015-11-27 23:33] rraustad commented on #4592
I added a 2nd HX in the OA system expecting the temps to be misaligned. They were not so this seems to be a reasonable fix. I was thinking that the mixer OA node and exhaust node need to be tested to ensure the OA system component performance has converged, maybe that would be overkill (i.e., loop until temps converged).

[code]

![hxtemps_simu_sys_1_2hxs_fixed](https://cloud.githubusercontent.com

[2015-11-28 06:39] rraustad commented on #4592
PR #5337

[2015-11-28 16:06] rraustad commented on #4592
Very small differences so showing comparison of temperature difference between V8.4 and this fix.

![mixertempdiffs](https://cloud.githubusercontent.com/assets/5778156/11452727/20b73e98-95c0-11e5-8454-366e6cd73f3f.png)

[2015-11-28 18:02] rraustad commented on #4407
Added new check in BranchNodeConnections.

[code]

[2015-11-28 19:10] EnergyArchmage commented on #4943
Okay, I have this working fairly well now, in branch 4943-EMS-Trap-Unitialized-Variables.  Although I am still a little skeptical about throwing all these fatals, I have to admit this has uncovered a lot of flaws in the test suite files and it should be very valuable.

The main behavior change that will annoy is going to be from unused arguments in the function "@CurveValue", now they will throw f

[2015-11-28 19:39] kbk78 commented on #5046
was this error corrected in version 8.4?

[2015-11-28 22:55] mjwitte commented on #4407
@rraustad There's already a fix waiting for this one #5150 - but it breaks the secondary zone condenser file - see #5174.  @Myoldmopar was going to fix that, then I took it over, but I haven't done any code yet.  Let me know if you want to take that one.

[2015-11-28 23:00] mjwitte commented on #4943
@EnergyArchmage Any chance that the arguments to @CurveValue can be treated as a special case to avoid unnecessary errors?

[2015-11-29 02:47] rraustad commented on #4407
Outstanding, I just spent most of the day working out the unit test for this 10 line fix. #5150 logic differs from mine since I specifically look for a return plenum and only then fatal if found more than once. I'm pushing it up to see if any example files fail.

[2015-11-29 03:01] rraustad commented on #4407
This specific issue addressed at https://github.com/NREL/EnergyPlus/pull/5338

[2015-11-29 03:34] rraustad commented on #5174
Prior to allowing the DX coil condenser to connect to a zone, the NodeConnectionType_ZoneNode was only used in a couple places, to register the zone node and to register the zone node name for plenum objects. The new calls in DXCoil using GetOnlySingleNode looks to me to only be a method to find a zone index number, nothing more. So these could be changed to use NodeConnectionType_Sensor or someth

[2015-11-29 16:41] rraustad commented on #5174
@Myoldmopar @mjwitte @JasonGlazer

Several possible changes come to mind:
1) change this line to register the zone node as an internal node (sensor node doesn't work). This will allow #5150 to pass. This one is working and gives the same answer. I did make another change here. If the secondary coil is in a controlled zone, the code uses that zones air node instead of creating a new node (as "Zone

[2015-11-29 16:55] rraustad commented on #5174
I could probably get rid of the SecZoneAirNodeNum and just use zone conditions based on SecZonePtr using ZT(SecZonePtr) and ZoneHumRat(SecZonePtr)

[2015-11-29 18:16] rraustad commented on #5174
Got rid of SecZoneAirNodeNum, no need to register that node now.

[2015-11-29 18:43] rraustad commented on #5174
PR https://github.com/NREL/EnergyPlus/pull/5339
PT#109121630

[2015-11-29 19:01] rraustad commented on #5174
Results comparison

![5174_compare](https://cloud.githubusercontent.com/assets/5778156/11459305/a0b382a0-96a1-11e5-9590-f67435b0802d.png)

[2015-11-29 19:45] rraustad commented on #4994
PR https://github.com/NREL/EnergyPlus/pull/5336

[2015-11-30 01:07] rraustad commented on #5168
DX coils size the same and supplemental heating coil sizes independently. I don't see a problem here at this point.

[code]

[2015-11-30 01:33] rraustad commented on #4702
PR https://github.com/NREL/EnergyPlus/pull/5209

[2015-11-30 01:50] rraustad commented on #4910
V8.4 results:

err:
    *\* Warning *\* The design coil load is zero for Coil:Heating:Water VAV SYS 2-ELECPRHT HEATING COIL
    *\*   ~~~   *\* The autosize value for maximum water flow rate is zero
    *\*   ~~~   *\* To change this, input a value for UA, change the heating design day, or lower
    *\*   ~~~   *\*   the system heating design supply air temperature

expidf:
    Coil:Heating:Water,

[2015-11-30 03:30] rraustad commented on #5257
Unit test reflects above description.
Substituting each of the commented lines yields:
1st IF passes ( IF MyVar == 1 )
2nd IF fails ( IF MyVar == -1 )
3rd IF passes ( IF -1 == MyVar )
4th IF passes ( IF MyVar == 0-1 )

[code]

[2015-11-30 13:40] mjwitte commented on #5168
@rraustad OK to close this then?

[2015-11-30 13:46] mjwitte commented on #4910
@rraustad Thanks.  Upon re-reading the initial issue description, the coil names are clearly different "heating coil" vs "preheat coil".  Closing this.

[2015-11-30 13:46] #4910 closed, assigned to mjwitte

[2015-11-30 14:13] rraustad commented on #5168
Yes, I would close.

[2015-11-30 14:14] #5168 closed, assigned to rraustad

[2015-11-30 16:04] Myoldmopar commented on #5046
It hasn't been yet, but it is currently an issue we hope to resolve within the next couple weeks as we prepare to do a bug-fix release of 8.4.  If it isn't there, it will be in the next major release of 8.5.0.

[2015-12-01 09:26] ecoeficiente opened #5341 "Documentation error in ERef IdealLoads"
In Engineering Reference https://github.com/NREL/EnergyPlus/blob/develop/doc/src/docs/EngineeringReference/13d-EncyclopaedicRefs.md#all-input-data-for-the-zonehvacidealloadsairsystem-is-stored-in-the-array-purchair-the-model-and-data-are-encapsulated-in-the-module-purchasedairmanagercalculation

This formula:
`$${T_s} = {T_{ma}} + {\dot Q_z}/({c_{p,air}}\cdot {\dot m_s})$$`
Should be:
`$${T_s} = {

[2015-12-01 19:52] Myoldmopar opened #5344 "ZoneBaseboard:OutdoorTemperatureControlled autosizing is missing"
Per @larryscheier:

I just noticed today that for Energy+.IDD object ZoneBaseboard:OutdoorTemperatureControlled, the fields Capacity at Low Temperature, Low Temperature, Capacity at High Temperature and High Temperature are missing "\autosizable" as noted correctly in the I/O ref. Not a big deal since the IDD can easily be modified but just thought I'd mention it.

Since this is just adding the ta

[2015-12-01 19:53] Myoldmopar commented on #5321
Fixed via #5323

[2015-12-01 19:53] #5321 closed, assigned to mitchute

[2015-12-02 03:18] Myoldmopar commented on #5344
So.....I'm not seeing that being autosizable in the code.  It looks like those values are brought in [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/InternalHeatGains.cc#L2565-L2568), EMS actuation is applied [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/InternalHeatGains.cc#L2605-L2606), written to the eio file [here](https://github.com/NREL/EnergyPlu

[2015-12-02 03:18] Myoldmopar commented on #5344
FYI the [comment above](https://github.com/NREL/EnergyPlus/issues/5344#issuecomment-161167119), @larryscheier.

[2015-12-02 14:21] rraustad commented on #5257
@Myoldmopar @EnergyArchmage @mjwitte

I have a handle on this now.

There are several possibilities for a negative number and many I probably haven't considered.
There are also at least 2 configurations of EMS commands that affect this issue, the SET and IF commands.

The simplest of these are handled [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/RuntimeLanguageProcessor.cc