[2015-04-09 14:07] mjwitte opened #4846 "Clarify report titles and add more explanation for table sizing reports"
The sizing reports, such as HVAC Sizing Summary can be confusing, especially to new users, e.g.
https://unmethours.com/question/4116/ideal-air-loads-in-open-studio/

Initial suggestions:
1.  In Report: HVAC Sizing Summary, the subtable titles "Zone Cooling" and "Zone Heating" should be changed to "Zone Sensible Cooling" and "Zone Sensible Heating".
2.  In Report: HVAC Sizing Summary, add a footnot

[2015-04-09 17:05] #4571 closed

[2015-04-09 17:47] Myoldmopar opened #4847 "Scheduled Surface Gains Error"
@vidanovic reported:

---

When I run EnergyPlus 8.2.0 with Scheduled Surface Gains, following error pops-up:

[code]

I have run same file in EnergyPlus 8.1.0 and that message was not there.

---

I'll upload defect and support files when I receive them.

[2015-04-09 17:59] ghost opened #4848 "Developer Guides"
Are any parts of the Module and Interface Developer Guides, from the Fortran version, still applicable to this version? Also, can someone suggest a starting point for new module developers (e.g. which existing source files to use as patterns)?

Thanks

[2015-04-09 18:33] MatthewSteen commented on #4848
@tem42 this sounds like more of a question than an issue. You might want to ask this on either [UnmetHours](https://unmethours.com/questions/) or the Yahoo group. Also see the [Wiki](https://github.com/NREL/EnergyPlus/wiki) for current development info.

[2015-04-09 20:02] EnergyArchmage commented on #4848
Those documents do need updating, though much of the content has not really changed and large parts are still applicable.
There are documentation issues to be resolved here, so an issue may be appropriate.

[2015-04-10 04:32] zhukovgreen commented on #4844
Thank you, Michael.

[2015-04-10 21:59] mjwitte opened #4850 "Transition to v8.3 error for EvaporativeCooler:Indirect:ResearchSpecial and EvaporativeCooler:Direct:ResearchSpecial"
Transition-V8-2-0-to-V8-3-0.exe drops fields at the end of EvaporativeCooler:Indirect:ResearchSpecial and EvaporativeCooler:Direct:ResearchSpecial.  For example, this incoming v8.2 object

[code]

transitions to this

[code]

New fields have been inserted properly, but the last three fields on the incoming object are lost.  Appears to be writing the new object with the same total number of fields

[2015-04-13 13:17] kbenne commented on #4845
maybe related to https://github.com/NREL/EnergyPlus/issues/3379 or https://github.com/NREL/EnergyPlus/issues/3522

[2015-04-13 20:52] mjwitte opened #4851 "Fuel Type field for Coil:*:DX:MultiSpeed should be a required field"
Helpdesk ticket 10406
From user:
There is a not required field called "Fuel Type" and its default is "Natural Gas"! The BIG problem is that if the user doesn't specify the fuel type as electricity and leave it blank (as this is not a required field), the unitary system that uses this DX cooling model will use natural gas as the energy source which will lead to huge misleading results. The electric

[2015-04-14 12:59] zhukovgreen opened #4852 "Swimming pool. Evaporation Heat Loss and Pool Cover Schedule issue"
I noticed that if the room dew-point temperature is rising the evaporation heat loss from the swimming pool is also rising. I assume it should be exactly opposite behavior, because delta (Pw–Pdp) is reducing.

![image](https://cloud.githubusercontent.com/assets/10520003/7136934/aa6f0c9c-e2b5-11e4-8e5d-f23c565d6d33.png)
![image](https://cloud.githubusercontent.com/assets/10520003/7137063/bb9e2ff6-e

[2015-04-14 13:04] ecoeficiente commented on #4852
I see it the other way round. When the pool is covered (no evaporation) the dew point reduces. With evaporation, the dewpoint rises. That is the supposed behaviour.

[2015-04-14 13:54] zhukovgreen commented on #4852
I was tracking an evaporation as a function of room air dew point (cover was always at 0%). In this case once the air become more saturated with water vapor the evaporation rate should start going down, but we have opposite behave.

[2015-04-14 13:55] zhukovgreen commented on #4852
![image](https://cloud.githubusercontent.com/assets/10520003/7138143/a80eac2e-e2be-11e4-8329-3be1a32298bc.png)

[2015-04-14 15:14] rraustad commented on #4852
// Evaporation calculation:
// Evaporation Rate (lb/h) = 0.1 \* Area (ft2) \* Activity Factor \* (Psat,pool - Ppar,air) (in Hg)
// So evaporation rate, area, and pressures have to be converted to standard E+ units (kg/s, m2, and Pa, respectively)
// Evaporation Rate per Area = Evaporation Rate \* Heat of Vaporization / Area of Surface
PSatPool = PsyPsatFnTemp( Pool( PoolNum ).PoolWaterTemp, Routin

[2015-04-14 22:08] mjwitte opened #4853 "Fully autosized DX coil should not fail with a fatal SHR error"
User file failing with this error:

   *\* Severe  *\* Coil:Cooling:DX:SingleSpeed "CORRIDOR_FLR_3_DXCOIL" -- coil bypass factor calculation did not converge after max iterations.
   *\*   ~~~   *\* The RatedSHR of [0.576], entered by the user or autosized (see _.eio file),
   *_   ~~~   *\* may be causing this. The line defined by the coil rated inlet air conditions
   *\*   ~~~   *\* (26.7C dryb

[2015-04-14 22:15] mjwitte opened #4854 "ZoneHVAC:OutdoorAirUnit does not autosize child objects correctly"
Similar problems to what was fixed for the standalone ERV in #4668

The fans report sizing more than once, the HX has the wrong flow rate, the DX coil has the wrong flow rate and probably the wrong design supply conditions, don't know about other types of equipment - lots of possibilities on this one.

[2015-04-15 02:32] rraustad commented on #4852
1) why can't the moisture in air migrate to the pool?
if ( PSatPool < PParAir ) PSatPool = PParAir;

2) Might EvapEnergyLossPerArea be a function of Tpool and Wsat,pool ?

[2015-04-15 07:08] zhukovgreen commented on #4852
@rraustad I think that considering the application good practice that the water temperature should be less @~2C than air, such situation would never occur

[2015-04-15 14:52] kbenne opened #4855 "Coil:Heating:DX coils won't operate below -20 or -50 C"
EnergyPlus will not allow DX heating coils to operate below an outdoor temperature that is unnecessarily restrictive.  (-50 or -20C)  Consider removing this limit or making it lower.  This applies to single speed coils and potentially variable speed coils too.

[2015-04-15 15:08] mjwitte commented on #4855
This is nearly a duplicate of #4327

[2015-04-15 15:10] kbenne commented on #4855
I agree. I'm going to remove this one I just added.

[2015-04-15 15:11] #4855 closed, assigned to ejhw

[2015-04-15 15:31] kbenne opened #4856 "Idd object list error for BiquadraticCurves in VRF related objects and other case inconsistencies"
In AirConditioner:VariableRefrigerantFlow and maybe others we use \object-list BiQuadraticCurves, however the reference is actually BiquadraticCurves with a lower "q".  This makes a difference to at least OpenStudio's IDD parser and object list tracking.

[code]

[2015-04-15 16:37] kbenne opened #4857 "ZoneEarthtube field "Delta Temperature" has incorrect units"
`\units delta C` should be `\units deltaC`

[2015-04-15 17:27] mjwitte commented on #4857
@kbenne That's odd.  I don't see this error in the 8.3.0 IDD or in current develop

[2015-04-15 17:36] kbenne commented on #4857
You are correct.  I must have a dated copy of IDD.

[2015-04-15 17:36] #4857 closed, assigned to kbenne

[2015-04-15 19:55] rraustad opened #4858 "VRF IO Ref documentation shows incorrect values for schedule priority control"
IO Ref V8.3:
Field: Thermostat Priority Schedule Name

This alpha field identifies the schedule used when the previous field is set to Scheduled. Schedule values of 0 denote cooling mode while values of 1 denote heating mode. Any other values will force the system off.

Source Code for HVACVariableRefrigerantFlow.cc

} else if ( SELECT_CASE_var == ScheduledPriority ) {
    if ( GetCurrentScheduleV

[2015-04-15 20:01] rraustad commented on #4854
Should probably review all zone equipment sizing routines on this round to catch any others that size themselves within the parent and then the child sizes once the child component is first called. New flag (ZoneEqSizing.DesignSizeFromParent) added by Mike will probably fix all these.

[2015-04-15 20:05] mjwitte commented on #4854
BTW this is another case where none of the example files included an autosized object for ZoneHVAC:OutdoorAirUnit.  Same was (still is?) true for the ERV.

[2015-04-16 11:12] JasonGlazer opened #4859 "Add SummerDesignDay and WinterDesignDay to Schedule:File"
Add fields to Schedule:File to allow optional SummerDesignDay and WinterDesignDay references to Schedule:Day objects to be used for design days.

[2015-04-16 14:01] rraustad opened #4860 "HVACTemplate does not create schedule type limits if TSTAT is missing"
User file shows this error:
 *\* Warning *\* ProcessScheduleInput: Schedule:Compact="HVACTEMPLATE-ALWAYS 4", Schedule Type Limits Name="HVACTEMPLATE ANY NUMBER" not found -- will not be validated

Possibly due to HVACTemplate:Thermostat object missing.

[2015-04-16 15:01] elainethale commented on #4859
@JasonGlazer -- Glad to see this one :)

[2015-04-16 19:56] EnergyArchmage opened #4861 "Unitary System not working with Variable Speed DX coil model"
Failed attempt to change medium office reference building MZ-VAV AHU from using CoilSystem with Two Speed DX coil model to using Unitary System with Variable DX coil model (and SetPoint Control Type).   The cooling coil never provides any cooling and there are no useful error messages.  The same Coil:Cooling:DX:VariableSpeed object does work when using the CoilSystem wrapper, but not when using th

[2015-04-16 20:12] EnergyArchmage commented on #4861
defect files commited to \EnergyPlusDevSupport\DefectFiles\4000s\4861,  use Atlanta weather.

[2015-04-20 00:15] pyment commented on #4318
Can you give me your user files. Radiant floor heater w boiler? pls

[2015-04-20 13:30] mjwitte commented on #4318
defect files may be found in https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles
If you don't have access to that, please e-mail me directly.

[2015-04-20 21:20] mjwitte opened #4862 "Complex fenestration appears to overwrite user-specified convection coefficients"
Helpdesk ticket 10426
I have a problem to fix the Inside Convection Coefficients for a Complex Fenestration. Energy Plus always overwrites my fixed values. However, when I take a normal glazing it works.

[2015-04-20 21:23] mjwitte commented on #4862
Two defect files, one using SurfaceProperty:ConvectionCoefficients, the other using SurfaceProperty:ConvectionCoefficients:MultipleSurface, can be run with any weather file.  Don't have a test file for this, but also wondering if the EMS actuator for surface convection coefficients will work with complex fenestration.

[2015-04-20 22:15] nllong opened #4863 "EnergyPlus executable is downcased"
On linux the executable for EnergyPlus is now all lower case. It used to be EnergyPlus. This causes issues with case sensitive operating systems when they are calling the program. This appears to be a flapping change as I had some code awhile back to deal with this, then commented it out.

https://github.com/NREL-cookbooks/energyplus/blob/master/providers/default.rb#L89-L90

![image](https://cloud

[2015-04-20 22:21] axelstudios commented on #4863
I was talking with @kbenne about this earlier.

[2015-04-20 22:38] mjwitte opened #4864 "Allow TemperingValve to be more flexible or add a new valve type"
User tried to use TemperingValve to control flow to/around a chilled water storage tank, but the TemperingValve code is for tempering hot water only.  This could be easily enhanced to allow it to operate for cooling (probably should have a new input field to designate which way it is supposed to operate).

[2015-04-20 22:39] mjwitte commented on #4864
Reference helpdesk ticket #10369

[2015-04-20 22:57] mjwitte opened #4865 "Example file MultiSpeedACFurnace should have a multi-stage heating coil"
This example file is the only one that uses Coil:Heating:Gas:MultiStage, but it's only 1-stage.  Would be better if it actually used 2 or 3 stages.

[2015-04-20 23:03] nealkruis commented on #4863
@nllong there should be a symlink with the original upper case pointing to the new lower case executable. I added the [build command](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CMakeLists.txt#L612) for it, but I don't know if it made it into the install script.

[2015-04-21 21:11] mjwitte opened #4866 "WeatherProperty:SkyTemperature shifts schedules after March 1"
When using WeatherProperty:SkyTemperature with a schedule, the sky temperatures line up with the specified schedule up through Feb 28 or March 1, then it repeats a day and is a day behind from there on out to the end of the year.  When using schedule:file, the output for March 1 is a repeat of Feb 28.  When using schedule:compact, the output for March 2 is a repeat of March 1.  Either way, Weather

[2015-04-22 02:36] mjwitte commented on #4794
@rraustad Code has been merged, but I'm leaving the issue open pending some doc updates to clarify how the revised setpoint control works.

[2015-04-22 11:52] rraustad commented on #4794
@Myoldmopar which documents are we to change now? The EngRef.doc file has not been updated, so I assume there are (markup?) docs elsewhere.

[2015-04-22 16:04] Myoldmopar opened #4870 "Markdown Documentation Work"
There are some remaining issues with the markdown based documentation that should be resolved to make a fully-polished final product:
- [ ] Scan through encyclopedic reference to clean up remaining tables/styles
- [ ] Lock down at 8.2, move to energyplus.net.  Update Markdown with recent additions
- [ ] Adjust 'prettify' so that idf snippets are colored appropriately (either nicely or not at all)

[2015-04-22 16:06] #4191 closed

[2015-04-22 16:08] Myoldmopar commented on #4231
This particular issue is being closed with the basically complete Markdown conversion.  I'll give an overview of the update process on the next conf call.  Closing this.

[2015-04-22 16:08] #4231 closed

[2015-04-22 16:19] Myoldmopar commented on #4372
@mjwitte Thanks for reminding of the output variable renaming.  I grep'd the IORef and found several instances of input fields that end with consumption, but spot checking them, I found input fields still exist with Consumption, so I'm not digging further right now.  I am fixing the typo-s above though in my Markdown branch.

[2015-04-22 16:23] Myoldmopar commented on #4250
OK, sounds like there isn't really any action items here.  @DeadParrot provided the above information that is valuable.  I think things will stay as-is, then for new development and when larger restructuring gets underway, optionals will be highly frowned upon.  Closing this.

[2015-04-22 16:23] #4250 closed

[2015-04-22 16:25] Myoldmopar commented on #4354
This was cleaned up with the sizing simulation work.  Closing this and deleting the branch.

[2015-04-22 16:25] #4354 closed

[2015-04-22 16:28] Myoldmopar opened #4871 "Address Anti-Virus issues with 8.3 release"
Some users are seeing issues with AV software.

[2015-04-22 16:35] DeadParrot commented on #4250
@Myoldmopar A gradual migration away from Optional seems logical: they are not a huge source of bugs or slowness. I removed a set of Optionals that did have a mild performance hit in the recent RegulaFalsi/Residual revamp.

Should I copy the migration advice to the Development Tips wiki page?

[2015-04-22 16:36] Myoldmopar commented on #4250
That would be great @DeadParrot.  Thanks!

[2015-04-22 16:45] Myoldmopar commented on #4484
Yeah, this was addressed already.

[2015-04-22 16:45] #4484 closed

[2015-04-22 17:14] DeadParrot commented on #4250
@Myoldmopar Done.

[2015-04-22 17:55] #4372 closed

[2015-04-23 14:03] mjwitte commented on #4870
@Myoldmopar @kbenne When I look at the docs using the Chrome Markdown Preview extension, it reveals a bunch of extended characters that don't show up in standard text modes.  For example, 01a-InputOutputReference.md looks like this.

![image](https://cloud.githubusercontent.com/assets/4991075/7298748/34d21e1e-e997-11e4-8d25-bcd78b6985be.png)

Looking at the file in hex mode, there are a bunch of s

[2015-04-23 14:05] Myoldmopar commented on #4870
I've been flushing them out as I encounter them.  There were some that were causing the build process to flat out fail, and those were cleaned out right away.  After that, when I encounter one, I just do a whole doc search and replace with a decent replacement character and move on.  I've had issues, however, with this, where doing this search and replace causes other issues.  But yes, I'm antsy t

[2015-04-23 15:18] mjwitte commented on #4870
@Myoldmopar @mmatts @kbenne Figured out what the Chrome extension is tripping up on with displaying certain equations.  It's getting confused by underscores - probably trying to interpret them as the markdown tag instead of letting them flow into the equation interpreter.  So, putting a backslash in front of every underscore allows the Chrome extension to display the equation.  Not sure if this is

[2015-04-23 15:25] mjwitte commented on #4870
There's an open issue for this at Markdown Preview, so will wait and see if they fix it.
https://github.com/volca/markdown-preview/issues/21

[2015-04-23 21:48] mjwitte opened #4875 "User file crashes in AirflowNetwork CalcWindPressureCoeffs with array bounds error"
Helpdesk ticket 10436
Crashes on line 3874 of AirflowNetworkBalanceManager.cc

[2015-04-24 13:17] lgu1234 commented on #4875
I ran the defect file. Here are error messages before crash:

   *\* Severe  *\* AirflowNetwork:MultiZone:Zone Name, duplicate name=THERMAL ZONE 2
   *\* Severe  *\* GetAirflowNetworkInput: AirflowNetwork:MultiZone:Surface object, Surface Name = JAZ3
   *\*   ~~~   *\* ..Zone for inside surface must be defined in a AirflowNetwork:MultiZone:Zone object.  Could not find Zone = THERMAL ZONE 3
   *\*

[2015-04-24 13:19] mjwitte commented on #4875
@lgu1234 How did you see these error messages?  My err output file was empty.

[2015-04-24 13:30] lgu1234 commented on #4875
@mjwitte I used the program on my computer based on my local branch, not the public release version. I don't know why they behave differently.

I made a reply in HelpDesk and did not change status. Will my reply be sent to a user?

[2015-04-24 13:33] mjwitte commented on #4875
@lgu1234 Yes, thanks!

[2015-04-24 16:52] mjwitte opened #4876 "Should a Name field be added to objects such as FuelFactors"
In the ElectricityUSAEnvironmentalImpactFactors.idf, there are 53 FuelFactors objects, all of which start with

  FuelFactors,
    Electricity,             !- Existing Fuel Resource Name

There are comment lines before each object that identify the data that follows, but the comment and the object could easily become separated.

! Alabama 1999 state average electricity emissions factors based on e

[2015-04-27 16:43] KWSL opened #4877 "New Feature Request - "Return Air Fraction" and "Exhaust Air Fraction" for Internal Loads"
I'm currently modeling a few buildings where the design team wants to explore the effectiveness of heat recovery on kitchen exhaust hoods.

In the DOE Commercial Reference Buildings, kitchen cooking equipment - 70% of the energy is modeled as "lost."  Some of this energy is truly "lost" to the food being cooked, but much of it is captured and exhausted by hoods.  It is not mixed with the zone, but

[2015-04-28 04:53] mjwitte commented on #4660
@mmatts Can this issue be closed?

[2015-04-28 14:10] mjwitte commented on #4323
This is  included in #4575 Closing this one.

[2015-04-28 14:10] #4323 closed

[2015-04-28 15:01] mitchute commented on #4660
@mjwitte Yes.

[2015-04-28 15:01] #4660 closed

[2015-04-28 16:24] jburek opened #4878 "The zip files of extra transition programs need updating for v8.3"
I have version 8.3 of Energy plus.
I couldn't update .idf files (8.0 and 5.0) to 8.3. I checked for add -ons but only found add ons for 8.2.
To be more specific I tried to update .idf files from http://energy.gov/eere/downloads/reference-buildings-building-type-warehouse-0

and

http://www.energycodes.gov/commercial-prototype-building-models

I would appreciate very much your help on this.
Jasmina

[2015-04-28 17:35] mjwitte commented on #4878
@jburek Thanks for pointing out that the zip file on the helpdesk should be updated.  For now, the v8.2 zip has all the pieces you need, combined with the Transition-V8-2-0-to-V8-3-0 pieces which are included in the v8.3.0 installer.

http://energyplus.helpserve.com/Knowledgebase/Article/View/86/46/windows---programs-for-converting-older-version-idf-files-to-current-or-intermediate-versions

[2015-04-28 17:36] kbenne commented on #4878
@mjwitte who should be assigned this issue?  me?

[2015-04-28 17:39] mjwitte commented on #4878
@Myoldmopar @kbenne We may want to consider adding archives of the historic transition programs to the release page.

[2015-04-28 17:48] mjwitte commented on #4878
@kbenne Probably you.  Ultimately these transition pieces should become available as needed without any manual steps involved to post an updated archive.  Where and how that happens is up to you and @Myoldmopar .  The download area on the helpdesk can then have a link pointing to the appropriate place.

[2015-04-28 18:12] jburek commented on #4878
Thank you. It worked :+1:

[2015-04-29 13:25] JasonGlazer commented on #4419
May be related to #4622

[2015-04-29 16:04] CheyenneBerlin opened #4882 "adibatic exterior walls and extract data to use in matlab"
Hey,
I have some questions working with EnergyPlus, Open Studio and SketchUp, I'm trying to get my first project done, but its taking quite a while...
i try to figure out how to make two of my exterior walls adiabatic, is that possible?
And I would like to make my own graphes regarding the temperatur in the diffrent themal zones, how can I extract these data from OpenStudio or the EnergyPus Plugin

[2015-04-29 16:18] #4456 closed

[2015-04-29 16:18] #4850 closed, assigned to Myoldmopar

[2015-04-29 16:24] mjwitte opened #4883 "Evaporative coolers should have required fields tagged in the IDD"
Followup from #4850
In the entire group of evaporative coolers, there is only one field tagged with \required-field.  Certainly most of the inlet/outlet node fields are required and possibly others.

[2015-04-29 16:29] MatthewSteen commented on #4882
@CheyenneBerlin this isn't the place for questions, it's for submitting bugs or feature requests with the development team. Please ask questions on the [UnmetHours](https://unmethours.com/questions/) site.

[2015-04-29 16:31] #4882 closed, assigned to nobody

[2015-04-29 20:06] EnergyArchmage opened #4884 "Coil Sizing Routines: report coil entering and leaving conditions during sizing for more coils"
The chilled water cooling coils have a nice summary of the inlet and outlet conditions that go along with the capacity etc., --  see any HTML summary "Report: Component Sizing Summary" for a model with Coil:Cooling:Water.

![image](https://cloud.githubusercontent.com/assets/8754769/7400256/cb8b0e2a-ee78-11e4-9a81-a142f0ec0c83.png)

The reporting of coil entering and leaving conditions should be ex

[2015-05-01 15:24] Myoldmopar opened #4888 "Verify Python is cross version compatible"
The python scripts added for automated documentation builds were only tested on Python 2.7, and most likely need a few tweaks to get working on Python 3.  Check this with any other Python in the project.  It will make @mbadams5 happy.  :smile:

[2015-05-02 20:17] mjwitte opened #4889 "ZoneHVAC:LowTemperatureRadiant:* sizing problems"
Followup to PR #4885 .
- [ ] Had problems with windows release build of unit test for ZoneHVAC:LowTemperatureRadiant:Electric.  Made a test file from RadLoTempElecTermReheat with scalable sizing added, and it crashes.
- [ ] Tried to get ZoneHVAC:LowTemperatureRadiant:Hydronic to throw warnings for user-specified values that were significantly different from the design values.  Only the tube length

[2015-05-04 13:46] mjwitte commented on #4328
Also discovered that this template does not honor the user input for economizer type.  The economizer was always set to noeconomizer unless there was heat recovery, and even then it was forced to differential drybulb or differential enthalpy depending on the heat recovery type.

[2015-05-04 16:33] mjwitte opened #4890 "HVACTemplate:System:* support preheat coil type of HotWater but IDD and docs do no indicate this"
Followup to #4328
Need to confirm which system types support hot water preheat, create (or modify existing) test files to exercise it, and update IDD choice list.

[2015-05-04 16:51] mjwitte commented on #4328
Also discovered that this system type was missing all of the code to generate a preheat coil.

[2015-05-04 17:28] mjwitte opened #4891 "HVACTemplate:System:* Heat recovery options and internal assumptions are not consistent across system types"
For example, some system add a field with zero power, and others add a fixed hard value, such as 250W.  Other differences occur in heat recovery defrost settings.  Either expose all of these as inputs, or match them up across the system types.

[2015-05-04 17:50] Nigusse opened #4893 "WaterToAirHP results SHR > 1.0 when air inlet Humidity ratio less than design supply value"
This bug issue is related to bug issue # 4567, pivotal tracker # 90946736 and PR #4836.

This bug issue addresses the sensible heat ratio greater than 1.0 due to large difference between equipment entering air humidity ratio and the user specified design supply air humidity ratio leaving the equipment.  In this particular PSZ-WSHP example IDF, the zone had zero design load, and the equipment enter

[2015-05-05 15:05] Nigusse opened #4895 "High Speed UA autosizing sizing fatal out for FluidCooler:TwoSpeed"
High Speed UA autosizing sizing fatal out when the Performance Input Method is UFactorTimesAreaAndDesignWaterFlowRate for FluidCooler:TwoSpeed

[2015-05-05 18:44] Nigusse commented on #4895
This bug issue corrects fatal out problem when High Speed UA parameter is auto-sized and the performance input method is UFactorTimesAreaAndDesignWaterFlowRate for FluidCooler:TwoSpeed.

Adding the following statement eliminates the problem:
if ( SimpleFluidCooler( FluidCoolerNum ).HighSpeedFluidCoolerUA == AutoSize ) {
     SimpleFluidCooler( FluidCoolerNum ).HighSpeedFluidCoolerUAWasAutoSized =

[2015-05-05 21:54] mjwitte commented on #4895
EvaporativeFluidCooler:TwoSpeed has a similar issue in #4560

[2015-05-05 22:03] mjwitte commented on #4097
See #4890 - looks like the code is there, just not documented.

[2015-05-06 00:41] Nigusse commented on #4895
@mjwitte I run into this problem when working on another project.

[2015-05-06 15:05] Myoldmopar opened #4898 "Font size is different in pdfs"
### Overview

The pdfs are generating using a headless [webkit](https://www.webkit.org/) based tool called [wkhtmltopdf](http://wkhtmltopdf.org/).  In some of the docs, the content gets pretty wide (long equations, long tables) so the engine does some 'smart-shrinking' to fit the contents best.  This is great because the content all fits, but it shrinks the rest of the doc down accordingly.  Which

[2015-05-06 15:12] Myoldmopar opened #4899 "Some equations aren't rendering"
As I've scrolled through, I've found a few equations that aren't rendering in the docs.  It's likely just something got escaped an extra time or something during one of the automated passes through the docs.  The ones I've seen have had the dollar signs surrounding the equation content, which should make them pretty easy to find.  Just need to spend a few minutes slogging through and cleaning them

[2015-05-06 15:34] Myoldmopar opened #4900 "HTML Doc Improvements"
Consider a few improvements to the html docs:
- Remove or improve the left side dynamic table of contents.  We are really pushing the limits of usability there.
- Find/repair all invalid characters
- Scan through docs once again to make sure all tables are styled and equations are good to go
- Adjust prettify to not try to color the idfs, just like done in the pdfs (I think this might have improve

[2015-05-06 15:42] #4575 closed

[2015-05-06 15:47] Myoldmopar opened #4901 "Consider Markdown paragraph structure"
The Markdown might benefit from splitting paragraphs into single lines of code.  This might make working with it a little simpler.  As long as you don't put an extra line break in there, it is equivalent in Markdown.  For example:

[code]

is equivalent to:

[code]

But if you put extra line breaks, it will assume new paragraphs:

[code]

This process can be automated pretty well if it is determin

[2015-05-07 16:51] rraustad commented on #4794
@mjwitte #4873 addressed documentation. Closing issue.

[2015-05-07 16:51] #4794 closed

[2015-05-07 17:08] rraustad opened #4902 "AirTerminal:SingleDuct:SeriesPIU:Reheat deprecated field still required"
AirTerminal:SingleDuct:SeriesPIU:Reheat and AirTerminal:SingleDuct:ParallelPIU:Reheat input field A11 for Hot Water or Steam Inlet Node Name is shown as deprecated. This is true only for the parallel version of this object. Simple fix is to copy 4 lines of code in GetInput and apply to series version. InitPIU also shows a comment where the steam coil steam inlet node is not explicitly initialized

[2015-05-07 22:29] mjwitte commented on #4792
Also Helpdesk Ticket 10460
There are similar limits in place for chilled water storage tanks.  And these can be tripped over even if the user specifies a hard-size because we now try to calculate the autosized value and report it along with the user-specified value.  At a minimum, perhaps these should be changed to warnings that simply set the autosized value to zero.  Added the user file from thi

[2015-05-08 14:59] mjwitte opened #4904 "Added regeneration air heating coils autosizing calculation in Dehumidifier:Desiccant:System"
Helpdesk Ticket 10446

User is questioning the balanced flow presumption in this model.  It appears the the desiccant wheel calculations assume balance flow, but the actual flows through the regen side of the wheel, including the regen fan and heating coil do not appear to match (often zero and or reduced according to the load).  Not clear if this is a reporting issue or a deeper problem.  Also, t

[2015-05-08 15:22] Myoldmopar commented on #4328
Closed with #4892

[2015-05-08 15:22] #4328 closed

[2015-05-08 15:53] Myoldmopar commented on #4796
Closed via #4881

[2015-05-08 18:53] Myoldmopar commented on #4685
Took a while to get back to this, but I'm on it again.  Re-running the same file showed different results, but it appears due to a transition problem maybe?  I'll start back re-running transition to 8.3 and see what I can get.

[2015-05-11 15:12] Myoldmopar commented on #4870
Copying info into semi-duplicate #4900.  Will link back to here as needed.

[2015-05-11 15:12] #4870 closed, assigned to Myoldmopar

[2015-05-11 21:30] #4567 closed

[2015-05-12 01:21] rraustad commented on #4402
Ticket 9656 has an input file attached. I added that file to defect files in EnergyPlusDevSupport. I just can't recall where the zone multipliers come into play. Before or after the zone air balance? I think I remember that the zone coils have airflow and capacity needed for the unmultiplied zone load but I'm not sure.

[2015-05-12 01:24] mjwitte commented on #4402
@rraustad To be consistent with other HVAC equipment, the zone coils need to have airflow and capacity that match the _multiplied_ zone load.

[2015-05-12 01:47] rraustad commented on #4402
I see this in HVACStandAloneERV at line 1257 where the FinalZoneSizing data is NOT used and air flow is calculated based on zone floor area. I guess from this I assume the FinalZoneSizing data DOES HAVE the multiplier included in airflow numbers.

ZoneMult = Zone( ActualZoneNum ).Multiplier \* Zone( ActualZoneNum ).ListMultiplier;
.snip.
SupplyAirVolFlowDes = ZoneMult \* SupplyAirVolFlowDes;

I'll

[2015-05-12 02:00] mjwitte commented on #4402
@rraustad HVACStandAloneERV is different, because it "autosizes" based on inputs that are directly in the object - doesn't really fit the mold of other zone equipment when it comes to sizing.

[2015-05-12 02:48] mjwitte opened #4905 "Review usage of HVACFlowRateToler for air loop flow rate tolerance"
Noticed some potential problems with the flow rate tolerance within air loops.
1.  There are duplicate declarations or literal constants which should use the global value to ensure consistency. They appear to be set consistently, but why declare a global constant and the redeclare local constants with the same value?
2.  Some places set MassFlowSetToler = HVACFlowRateToler \* 0.00001 which seems e

[2015-05-12 13:54] #4796 closed

[2015-05-12 15:33] mjwitte opened #4906 "Documentation issues - May 2015"
Helpdesk ticket 10478
- [x] Input Output Reference does not state what the defaults are for solar/visible/thermal absorptance (ref. all Material:\* objects)

[2015-05-12 15:48] mjwitte commented on #4906
Helpdesk ticket 10479
- [x] "C:\EnergyPlusV8-3-0\ExampleFiles\AdvancedOutput\ExerciseOutput1 Instructions.pdf" is damaged and will not open.  Was damaged in 8.2 package also.  8.1 copy is OK.

[2015-05-12 15:59] mjwitte commented on #4906
Helpdesk ticket 10481
- [x] Noticed this in the IDD for WindowMaterial:Glazing:EquivalentLayer,
  A2 , \field Optical Data Type
       \required-field
       \type choice
       \key SpectralAverage
       \key Spectral (not supported now)
  This key should be deleted and replace with a \note, and may as well default to SpectralAverage and need to check getinput and docs (yeah, this is not exactly

[2015-05-12 16:29] Myoldmopar opened #4907 "Increase visibility of transition tools"
https://unmethours.com/question/4978/why-are-the-older-energyplus-idf-update-files-not-included-in-distribution/

I can think of some cool ideas to make this more visible.  Will add some more information here shortly.

[2015-05-12 20:35] rraustad commented on #4906
Helpdesk ticket 10164 (PR #4908)
- [x] A sentence in the help for "Rated Total Heating Capacity Sizing Ratio" says:  "When the heating capacity is not autosized, the rated total heating capacity will be equal to the sum of the terminal unit heating coil size. "  It doesn't seem logical as it would imply that the input for heating capacity would be redundant.

Suggested revision:

Field: Rated Heat

[2015-05-13 20:38] mjwitte opened #4910 "System with electric preheat coil generates incorrect zero design load warning about Coil:Heating:Water"
This is an HVACTemplate test file with four VAV systems, each using one of four preheat coil options (none, hotwater, electric, and gas).

   *\* Warning *\* The design coil load is zero for Coil:Heating:Water VAV SYS 2-ELECPRHT HEATING COIL
   *\*   ~~~   *\* The autosize value for maximum water flow rate is zero
   *\*   ~~~   *\* To change this, input a value for UA, change the heating design d

[2015-05-13 20:43] mjwitte commented on #4890
Testing of v8.3.0 revealed the following:
HVACTemplate:System:VAV supports all four preheat options, but for some reason the svg drawing does not connect the outlet from the hot water preheat coil to its OA mixer.

HVACTemplate:System:DualDuct supports all four preheat options, and the svg diagrams appear correct.

HVACTemplate:System:ConstantVolume does not add a preheat coil of any type to the e

[2015-05-13 21:40] mjwitte opened #4912 "HVACDiagram connection from OA system components is order-dependent"
While testing various configurations for #4890 notice that the svg diagram with a hot water preheat coil in the VAV system was not showing the connection from the preheat coil outlet to the OA mixer inlet, but other types of preheat coils did show the connection.  The problem stems from the order of the non-parent node listing in the bnd output.  With the hot water preheat coil, the coil nodes app

[2015-05-14 13:31] MatthewSteen opened #4914 "Write Summary Reports to separate files"
This would be a nice feature to have that would really improve the reporting workflows for consulting. Without the use of scripts, users often need to copy/paste the data from these tables into a spreadsheet for QAQC and reporting (e.g. LEED) purposes. Having the Summary Reports written to separate CSV files would allow the user to link ones of interest to an Excel file through a data connection f

[2015-05-14 22:24] mjwitte commented on #4838
Related to this are warnings that should probably be changed to severe.  For example, one could argue that this should be severe, because the daylighting results will be meaningless if the reference point is outside the zone.
   *\* Warning *\* GetDetailedDaylighting: Reference point Y Value outside Zone Min/Max Y, Zone=G N1 APARTMENT
   *\*   ~~~   *\* ...Y Reference Point= 17.42, Zone Minimum Y=

[2015-05-15 02:11] #4890 closed, assigned to nobody

[2015-05-15 02:11] #4097 closed

[2015-05-15 02:14] #4895 closed, assigned to Nigusse

[2015-05-15 02:16] #4237 closed

[2015-05-15 02:54] mjwitte commented on #4860
If there is no HVACTemplate:Thermostat object, then expandobjects shouldn't be writing the Always 4 Schedule.

[2015-05-15 12:32] EnergyArchmage commented on #4861
Fixes for this are sitting on the branch called Zone-VS-WSHP-system-sizing-draft.   That branch started out for separate zone unit defect, but other draft defect fixes like this one have now been mingled in there.

[2015-05-15 13:04] EnergyArchmage opened #4915 "Cannot mix VS DX coils and VS WSHP coils in the same input file"
A get input call has the wrong index variable resulting in a situation where models cannot have both Coil:Cooling:DX:VariableSpeed and Coil:Cooling:WaterToAirHeatPump:VariableSpeedEquationFit in the same input file.

line 771 in VariableSpeedCoils.cc

[code]

Use of DXCoilNum is wrong here, it includes the other types of coils such as VSWSHP that have already been setup in the same VarSpeedCoil st

[2015-05-15 14:09] EnergyArchmage opened #4916 "Unitary system won't autos size variable speed heatpump DX coil"
Around line 3238 in HVACUnitarySystem.cc the unitary system needs to get teh child VS coil heating capacity.

this sha shows the change needed
343d0c750ef9443bf1be332210aff456df5d2f10

[2015-05-15 14:13] kbenne commented on #4916
@EnergyArchmage I'm assuming you initiated this off of the UnmetHours [issue](https://unmethours.com/question/4984/modeling-self-contained-units-with-a-variable-speed-heat-pump/) and corresponding Yahoo Group topic.  Is that correct?  I was going to prepare an example file to submit with my bug report, but it seems you may have this under control.

[2015-05-15 15:28] EnergyArchmage commented on #4916
no not really, when I saw those I was reminded to log issues I have been finding and fixing while working on a study using this type of equipment.  I had independently run into lots of little problems and had to push through with source code changes to get the study going.  I filed this Issue as follow up.

The setpoint control in unitary system raised in that unmet hours issue is seperate I think

[2015-05-15 15:52] kbenne commented on #4916
@EnergyArchmage do you want me to put together a bug report?

[2015-05-15 16:06] EnergyArchmage commented on #4916
sure.  All my files are huge and won't make good defect files.

[2015-05-15 18:19] mjwitte commented on #4906
Helpdesk ticket 10475
- [x] The equation for airflownetwork crack flow is somehwat hidden in the Input Output Reference.  Engineering Reference says
  "The Input Output Reference provides the relationship between airflow and pressure for the most of the components (Ref. AirflowNetwork Model). The relationship between airflow and pressure for the AirflowNetwork:Multizone:Component:DetailedOpening,

[2015-05-18 14:08] JasonGlazer commented on #4846
@mjwitte What kind of additional explanation in Output Details were you thinking about?

[2015-05-18 14:38] mjwitte commented on #4846
@JasonGlazer For the Zone Cooling/Heating sizing reports, explain what each column (or group of columns) mean, especially the difference between "calculated" and "user" values.  Similar for other sizing reports.

[2015-05-18 14:40] JasonGlazer commented on #4846
@mjwitte Do you know if there is documentation anywhere that talks about that which I could repurpose in the Output Details docs?

[2015-05-18 14:42] mjwitte commented on #4846
Not sure.  It _should_ be covered in the I/O Ref sizing section or Engineering Ref, but it's possible that terminology is not consistent.  I'd have to look.

[2015-05-18 14:54] Myoldmopar commented on #4685
OK, I might actually be close to a fix now.  Testing currently and will post more info when I look over the results.

[2015-05-18 15:13] JasonGlazer commented on #4846
@mjwitte Concerning the original issue (4) about the order of the reports, since the HVAC Sizing Summary is a "predefined" report and the Component Sizing Summary report is not a "predefined" report they cannot be listed too close to one another without some significant recoding. The HVAC Sizing Summary can be before Climatic Data Summary or after LEED Summary. Which would be better?

[2015-05-18 15:16] Myoldmopar commented on #4685
So, the deadband temperature was being specified as always `SetPoint - DeadbandDelta`.  However, it seems as though the logic for chilled water tanks was implemented assuming the deadband would be the other way.  I added code to assign the deadband temperature as `SetPoint + DeadbandDelta` for chilled water tanks.  Here is the result:

![image](https://cloud.githubusercontent.com/assets/849824/768

[2015-05-18 16:09] JasonGlazer commented on #4846
@mjwitte I found the following:

https://energyplus.net/sites/default/files/docs/site_v8.3.0/InputOutputReference/06-StandardOutputReports/#hvac-sizing-summary

I can copy it over to the Output Details docs. I think it covers the issues raised.

[2015-05-18 20:38] Myoldmopar commented on #3231
CMake has helped address this, and the instructions are pretty good in the GitHub README.  We'll provide a separate task for overhauling the module developer's guide.  Closing this.

[2015-05-18 20:38] #3231 closed

[2015-05-18 20:44] Myoldmopar commented on #3929
This was tuned, it appears as per @DeadParrot based on the wording, during some of the performance improvements.  Here's the comment I mean: https://github.com/NREL/EnergyPlus/blob/7d148e7b460747bf462f17c45102329e1c07a9b8/src/EnergyPlus/SystemReports.cc#L3336.  I'll close this as it appears it's already fixed.

[2015-05-18 20:44] #3929 closed

[2015-05-18 20:48] Myoldmopar commented on #4164
The Next variable is indeed initialized to zero now.  Closing.  Pretty soon, when we get the compiler warnings cleaned up, we'll be able to make sure uninitialized variables and other issues are noted right away in CI.

[2015-05-18 20:48] #4164 closed

[2015-05-18 21:07] Myoldmopar commented on #4124
I see where this was added [here](https://github.com/NREL/EnergyPlusArchive/commit/d2bbe0ee38642f482bda35a289aac088991561a1).

For the pressure based modeling, I think it is OK. In the power-correction pressure simulation, the efficiency is still used to translate required pump (fluid) power into required pump input.  In the curve based pressure simulation, I believe the curve inputs themselves ar

[2015-05-18 21:07] #4124 closed

[2015-05-18 21:16] Myoldmopar commented on #4152
Not sure how to validate anything here to get it verified.  It's been in there working for a while now.  I'll close this.  @hongtz68, if you have any additional thoughts or work you'd like me to perform, just let me know.

[2015-05-18 21:16] #4152 closed

[2015-05-18 21:26] mjwitte commented on #4846
The text from the I/O Ref is a start, but it could be shortened when it's adjacent to an example output.  And it never says the design load is the sensible zone load.  The note is useful.

Regarding the placement of the reports, you're saying that the Component Sizing Summary cannot go later?  That's a level of detail that seems like it should come after the HVAC Sizing Summary, but it sounds like

[2015-05-20 14:10] mjwitte commented on #4906
Integrate command-line interface documentation into main doc system.  Current documentation for CLI is here:
- The man page is here: https://github.com/NREL/EnergyPlus/blob/develop/doc/man/energyplus.1 ... although that's only useful on Unix...but don't all our users use Unix?
-  An instructional page is here: https://github.com/NREL/EnergyPlus/blob/develop/doc/running-energyplus-from-command-line

[2015-05-20 14:12] Myoldmopar commented on #4906
Yeah, the [Running Console Applications](https://github.com/NREL/EnergyPlus/blob/develop/doc/src/docs/AuxiliaryPrograms/AuxiliaryPrograms.md#running-console-applications) section seems like the best fit, with a new section called "Taking advantage of the command line interface"

[2015-05-20 14:40] mjwitte commented on #4165
Ran with v8.1.0.009 and v8.3.0 and verified this has been fixed.

[2015-05-20 14:40] #4165 closed

[2015-05-20 14:55] mjwitte commented on #4127
Verified with v8.3.0 using an autosized version of WaterHeaterStandalone.

[2015-05-20 14:55] #4127 closed

[2015-05-20 15:07] mjwitte commented on #3987
Verified fix by comparing 5ZoneAirCooled reheat coil sizing with Normal and Reverse action in v8.0.0 and v8.3.0.

[2015-05-20 15:07] #3987 closed

[2015-05-20 15:21] mjwitte commented on #4906
- [x] For the ZoneCapacitanceMultiplier:ResearchSpecial object   the IDD says that the first input is
  "Temperature Capacity Multiplier" while the I/O Ref says that its "Sensible Heat Capacity Multiplier".  Modify I/O Ref to match IDD.

[2015-05-20 15:31] mjwitte commented on #4906
- [x] Site:HeightVariation, Wind Speed Profile Boundary Layer Thickness, IDD says \minimum> 0.0,

but I/O Ref says: "This field can be set to zero to turn off all wind dependence on height."

Seems the "set to zero" comment belongs in the first and last fields, based on the IDD, and not in the second field.

[code]

[2015-05-20 16:24] mjwitte opened #4921 "Two PV systems with storage on separate load centers fails with storage not found error"
This is followup from #4015 .  When trying to test the output variable fix (same name but different units) the test file failed with a false object not found error:

[code]

This issue has three parts:
- [ ] Fix the fatal error - unless I misunderstand, it should be possible to have these two load centers present with PV and storage.
- [ ] Once the test file runs, then confirm that both of these o

[2015-05-20 16:24] mjwitte commented on #4015
Made a combined example file with two ElectricLoadCenters by combining ShopWithPVandBattery and ShopWithPVandStorage.  This fails with a fatal error claiming it can't find one of the storage objects. So, can't really confirm this fix.  Posting a new issue #4921 to fix the fatal error and will confirm the output variables (and or change the name of one) there.

[2015-05-20 16:24] #4015 closed

[2015-05-20 16:30] mjwitte commented on #3993
Confirmed that multiple new figures replaced the old figure.

[2015-05-20 16:30] #3993 closed

[2015-05-20 16:35] #4759 closed

[2015-05-20 16:42] Myoldmopar commented on #4860
Closed with #4917.

[2015-05-20 16:42] #4860 closed, assigned to mjwitte

[2015-05-20 16:46] nealkruis commented on #4906
@mjwitte @Myoldmopar I agree that the Auxiliary Programs is probably the best place for the CLI documentation in its current structure. Though logically it is not a great fit. @kbenne and I discussed revamping the Getting Started documentation to include the CLI information (and make it platform agnostic--merge it with the [Unix getting started text files](https://github.com/NREL/EnergyPlusBuildSu

[2015-05-20 16:47] Myoldmopar commented on #4906
@nealkruis Sounds good to me.  Would you then recommend leaving the CLI doc as a small standalone piece of the package until the Getting Started guide can get revamped?

[2015-05-20 16:55] nealkruis commented on #4906
Others may want to weigh in, but that sounds like a good plan to me.

[2015-05-20 17:18] mjwitte commented on #4906
@nealkruis @Myoldmopar As it stands currently, the CLI is invisible to most users.  Unless someone is tasked with re-writing Getting Started before the fall release, I would suggest that the CLI doc at least be added to the main doc sources.  It could just be the same md doc added into the GettingStarted folder with a mention and a link thrown into the main Getting Started doc.

[2015-05-20 17:22] kbenne commented on #4906
I don't know, I imagine those who care and know what to do with it will be most comfortable with `man energyplus` or `energyplus --help`.  If they are not then CLI is probably not for them.  But perhaps better advertising is in order.  All out copying of the help or man page to a third location seems redundant to me.

[2015-05-20 17:29] mjwitte commented on #4906
This was prompted by a helpdesk question from a user trying to follow the main readme instruction #10 under Windows:  "Or enter command line arguments in the Command Arguments field to specify the locations of files."  I searched the repo looking for docs on the CLI so I could point the user to it, and couldn't find it.  From my perspective, all docs belong together, so it seems logical that this

[2015-05-20 17:32] mjwitte commented on #3803
Tested with 7.2.0 and 8.3.0 and verified that the bypass mass flow rate and bypass status are now consistent with each other.

[2015-05-20 17:32] #3803 closed

[2015-05-20 17:35] kbenne commented on #4906
How about an addition to the readme pointing them to man and --help for details?  My concern is the documentation being out of date in one of the numerous locations.  If someone writes build rules to assemble the getting started doc using material from the man page then I am less opposed.  All out copying or worse copying and then tweaking is not a good idea.

[2015-05-20 20:05] Myoldmopar commented on #4685
@mjwitte @EnergyArchmage

So the documentation does imply this should be the right fix.  The chilled water control algorithm [here](http://bigladdersoftware.com/epx/docs/8-3/engineering-reference/water-thermal-tanks.html#chilled-water-tank-control-algorithm) says that "the setpoint **plus** deadband is the cut-in temperature."

[2015-05-21 11:14] EnergyArchmage commented on #4685
Change looks good to me.   subtle one, good catch.

[2015-05-22 09:38] JacobLindblom opened #4924 "InputOutputReference document description of the object heatPump:WaterToWater:EquationFit:Heating does not entirely reflect the later EnergyPlus versions"
The InputOutputReference document description of object heatPump:WaterToWater:EquationFit:Heating has a Field: Rated Heating COP . However the later EnergyPlus versions have replaced the COP field with a field for Rated Heating Power Consumption and five new fields for Heating Compressor power Coefficients.
The Engineering Reference document also seems to have the same problem.

[2015-05-22 16:18] tsnouidui opened #4925 "EnergyPlus can't be installed on Ubuntu 14.04 if /usr/local/share/man/man1/ does not exist."
On Linux 64 (Ubuntu), EnergyPlus-8.3.0 relies on the directory /usr/local/share/man/man1 to be installed. If the directory doesn't exist then the installation will fail. If the directory is manually created, then the installation will successfully complete but EnergyPlus will still fail to install because of wrong symbolic links. See the email thread below to reproduce the problem.

Thierry

---

[2015-05-22 16:39] Myoldmopar commented on #4925
.......I'm concerned as to why it thinks the idd is in your Downloads folder.
- Did you use sudo to get privileges to install into root folders?
- Did you use the default install path and symlink path?

[2015-05-22 16:43] tsnouidui commented on #4925
Yes to both questions.

[2015-05-22 16:50] Myoldmopar commented on #4925
And `which energyplus` finds the /usr/local/ version?

[2015-05-22 16:53] tsnouidui commented on #4925
which EnergyPlus returns following

thierry@srgbcvtb2:~/Downloads$ which EnergyPlus
/usr/local/bin/EnergyPlus

[2015-05-22 16:55] kbenne commented on #4925
In any case this IDD thing is a separate issue from the man page thing, and I think related to the CLI.

[2015-05-22 16:55] tsnouidui commented on #4925
I "cd" to another directory and tried to start E+ from there. It seems to me like the start script searches for the IDD in the current directory...
Thanks!
Thierry

[2015-05-22 16:58] Myoldmopar commented on #4925
I'm concerned these details are at least _slightly_ intertwined, @kbenne, I think if the installation went correctly, the CLI wouldn't have as much trouble.  I'm going to ask a few more questions.  But I'll tag @nealkruis since this may involve the CLI (addressed as a separate issue).

What's the output of `file /usr/local/bin/EnergyPlus`

Also, what about the output of `which energyplus` noting t

[2015-05-22 17:03] tsnouidui commented on #4925
file /usr/local/bin/EnergyPlus returns following
thierry@srgbcvtb2:~$ file /usr/local/bin/EnergyPlus
/usr/local/bin/EnergyPlus: symbolic link to `/usr/local/EnergyPlus-8-3-0/energyplus'

which energyplus returns nothing...

[2015-05-22 17:04] Myoldmopar commented on #4925
OK. That's helpful.  I'll try to work things out on a fresh 14.04 image.

[2015-05-22 19:37] JasonGlazer commented on #4846
Currently the order of reports is closely tied to whether the report is one of the "predefined" ones or not. We could add an new feature issue if you think that would be useful to have the order of reports more definable.

[2015-05-22 19:59] mjwitte commented on #4846
No, I don't think we need to be able to specify the order of reports.  I'm not following what if "predefined" and what is not.  Aren't all Output:Table:SummaryReports predefined?  How do I know which is which?

[2015-05-22 21:18] mjwitte opened #4926 "PIU secondary air inlet temperature always 0 C when drawing air from return plenum"
Helpdesk Ticket 10494
From user:
In the EnergyPlus example "5ZoneAirCooledConvCoefPIU.idf". Space1-1 has series PIU and Space 4-1 has parallel PIU, both are drawing air from return plenum. From simulation results, I can see that both PIU secondary air inlet temperature kept at 0 C all the time. I suppose their temperature value should be same as the return plenum outlet temperature.

This is the o

[2015-05-22 21:22] mjwitte commented on #4926
The reported value is indeed zero.  This could just be a reporting issue, with the PIU receiving air at the proper condition, but can't tell that without more digging.

[2015-05-22 22:14] EnergyArchmage opened #4927 "Variable Speed Merkel Cooling Tower provides too much free convection cooling"
Found that the main calculation routine for merkel vs cooling tower does not handle the case where no cooling is needed at all.  When no cooling is needed or called for, the model is placing the outlet temperature for free convection on the leaving node.  The tower's own output for leaving temperature is correct but does not agree with the system node temperature.  Impact is quite large in that to

[2015-05-25 03:22] TiejunWu commented on #4926
I checked the simulation results, looks like the 0 C inlet temperature propagated downstream and affected the downstream nodes.

[2015-05-26 15:04] kbenne opened #4929 "ThermalStorage:Ice:Detailed curve types"
In the IDD for ThermalStorage:Ice:Detailed, the fields named "Discharging Curve Object Type" and "Charging Curve Object Type" list Curve:QuadraticLinear and Curve:CubicLinear as valid keys.  The example file [5ZoneDetailedIceStorage.idf](https://github.com/NREL/EnergyPlus/blob/develop/testfiles/5ZoneDetailedIceStorage.idf#L3123) however lists the curve type as "QuadraticLinear" dropping the "Curve

[2015-05-26 15:04] mjwitte commented on #4453
@lgu1234 #4920 was merged by @Myoldmopar Can this issue be closed now?  Have you posted a new follow-up issue?

[2015-05-26 15:17] mjwitte commented on #4929
@kbenne It's unusual to ask for curve object type in the first place.  Most (all?) other components just ask for the curve name. Simplest solution is to change the field names and keep the existing short keys (Curve Object Type --> Curve Type); Option B is to change the source to accept the longer key and (B1 - accept both, or B2 add a transition rule to move older short keys to the new longer one

[2015-05-26 15:21] kbenne commented on #4929
You have a more global view of IDD consistency so I defer to you.  For what it's worth I like Option C and in fact this is how it is in the OpenStudio model.  The curve type field is not introduced until we translate to idf.  That said I don't know if it is worth a transition to go back now.

[2015-05-26 16:17] mjwitte commented on #4493
@Myoldmopar Working on this cleanup that requires a transition rule.  What is our current process for new transition rules?

[2015-05-26 16:24] mjwitte commented on #4493
Notes to self here:  Only one HVACTemplate example file has the load distribution fields included:
HVACTemplate-5ZoneUnitarySystem.idf has four occurrences of "Sequential".

[2015-05-26 17:44] lgu1234 commented on #4453
@mjwitte I think this issues should be closed. Please close it. I am going to make a new follow-up issue.

[2015-05-26 17:50] lgu1234 opened #4931 "Water coil nodes are not updated with zero chiller condenser flow"
#4453 corrected node conditions of Chiller:Electric:EIR with zero condenser loop flow. However, node values of a water coil are not updated correctly. Please use a test file of #4453.

A possible reason is that when chiller nodes are updated, the program may not have a chance back to the air loop to update coil nodes.

[2015-05-26 17:50] lgu1234 commented on #4453
A new follow-up issue is #4931

[2015-05-26 17:52] #4453 closed

[2015-05-27 10:14] ecoeficiente opened #4932 "Suggestion: Disable AirflowNetwork for Autosizing."
I think that AirflowNetwork simulation is too complex to mix with Sizing calculations. An option to disable it and enable ZoneInfiltration:_, ZoneVentilation:_, ZoneMixing and ZoneCrossMixing, just as MultizoneWithDistributionOnlyDuringFanOperation does with fan operation would be quite useful.

[2015-05-27 10:27] ecoeficiente opened #4933 "Suggestion: add distribution system outdoor air load in zone sizing"
When using mechanical ventilation without conditioning (not cooling or heating) or DOAS with air setpoints below zone setpoints (just to precondition outdoor air), zone equipment is undersized because it does not take into account air distribution system load.

I think that optional fields could be implemented in zone sizing, such as:
- **_Cooling Design Outdoor Air Supply Temperature**_: _Conditi

[2015-05-27 13:38] Myoldmopar commented on #4493
Closed with #4930

[2015-05-27 13:39] Myoldmopar commented on #4493
Wait, what transition rule?  It looked like it just changed the ExpandObjects code and an out of date example file?

[2015-05-27 13:51] mjwitte commented on #4493
@Myoldmopar Transition from the old Sequential and Uniform keywords was never done for HVACTemplate objects.

[2015-05-27 13:53] Myoldmopar commented on #4493
Aaaah OK, I'll add that in a separate branch, please hold.  And yeah, this is the first transition rule for this cycle, so I might make a change or two...

[2015-05-27 14:00] mjwitte opened #4934 "Pipe:Indoor (and possibly other pipes) fluid heat transfer and ambient heat transfer are significantly different"
Helpdesk ticket 10496
From user:
I have a question about the results I obtain with a Pipe:Indoor object modeling a distribution pipe in a basement.
- The Pipe Fluid Heat Transfer Rate is significantly higher (in average, almost twice as high) than the Pipe Ambient Heat Transfer Rate.
  Apart from transient effects due the thermal capacitance of fluid and pipe, I would think the thermal power comin

[2015-05-27 17:48] JasonGlazer opened #4935 "Reorder the individual tabular report tables"
The tabular reports currently appear in a specific order, such as:

Annual Building Utility Performance Summary
Input Verification and Results Summary
Demand End Use Components Summary
Source Energy End Use Components Summary
Component Sizing Summary
Surface Shadowing Summary
Climatic Data Summary
Envelope Summary
Shading Summary
Lighting Summary
Equipment Summary
HVAC Sizing Summary
System Summar

[2015-05-27 17:49] JasonGlazer commented on #4846
I just added #4935 to address the reordering of reports in general as a future suggested feature. It is unfortunately more complicated to reorder the reports than it would appear to be.

[2015-05-27 20:02] JasonGlazer opened #4936 "Allow automatic bin sizes in Output:Table:TimeBins"
Currently the Output:Table:TimeBins requires the user to specify the value for the beginning of the first bin, the size of each bin, and the number of bins. This is difficult for users to know prior to performing a simulation and makes it difficult to reuse Output:Table:TimeBins for different building models since the values of the output variables would be changing. Add options to

a) hours in 10

[2015-05-28 19:19] mjwitte opened #4939 "Disable system reports accounting when not needed"
Reference #4938 where @mbadams5 added some speed improvements to  EnergyPlus::SystemReports::ReportSystemEnergyUse() and CalcSystemEnergyUse().

Not 100% certain, but my recollection is that the system reports code was added to support the Ventilation Load Reports
https://www.energyplus.net/sites/default/files/docs/site_v8.3.0/InputOutputReference/01c-InputOutputReference/#outdoor-air-ventilation-

[2015-05-28 20:38] mjwitte commented on #4939
There is a flag AirLoopLoadsReportEnabled that should be disabling some parts of these routines when not needed.

[2015-05-28 23:54] mjwitte opened #4941 "False EMS sensor error appears when adding one more EMS output variable object"
Helpdesk ticket 10501
User file runs fine but one additional EnergyManagementSystem:OutputVariable object causes a fatal error in a seemingly unrelated EMS sensor object:

   *\* Severe  *\* Invalid Output:Variable or Output:Meter Name =SYSTEM NODE TEMPERATURE
   *\*   ~~~   *\* Entered in EnergyManagementSystem:Sensor=HHW_RETT
   *\*   ~~~   *\* Output:Variable Name not found
   *\*  Fatal  *\* E

[2015-05-28 23:55] mjwitte commented on #4941
Appears to be related to total number of available output variables plus sensors and actuators and EMS output variables.

[2015-05-29 02:20] mjwitte opened #4942 "VRF with water cooled condenser does not pass hard flow rates to plant loop"
Helpdesk ticket 10498
User file with hard values for VRF condenser water flow rate, results in zero autosized flow for the tower loop.  If the VRF water flow rates are autosized, then the tower loop sizes OK.

[2015-05-29 15:21] shorowit opened #4943 "Uninitialized EMS variable should cause severe error"
I would think that EnergyPlus should loudly and severely error out during the simulation when an EMS variable is used before being initialized -- there's no circumstance under which a user should ever want EnergyPlus to silently continue and use a default value. This can cause unexpected simulation results.

The user could get into this situation because:
1. They misspelled a variable.
2. They use

[2015-05-29 15:49] mjwitte commented on #4943
This is closely related to #4404

[2015-05-29 16:11] mjwitte commented on #4907
@Myoldmopar @kbenne Not sure what your ideas are here, but one suggestion is to make the IDFVersionUpdater a separate install package.  I've gone to keeping a side folder that's not under any particular release of EnergyPlus where I keep a fully set of transition files.  Then I can just add to it with each release and I don't end up with multiple copies of the older transition programs.

[2015-05-29 17:31] mjwitte opened #4944 "Diffuse solar shading changes if the transmittance schedule changes during the year vs constant all year"
Helpdesk ticket 10499
User was comparing diffuse solar on a shaded window with a fixed shade (no transmittance schedule), no shading surface at all, and a seasonal shade (transmittance schedule = 1 in winter, = 0 in summer).

For the seasonal shade, the seasons with transmittance = 1 match the no shade case exactly.
But the summer with transmittance = 0 compared to the fixed shade case shows the b

[2015-06-01 17:58] mjwitte commented on #4846
@Myoldmopar Would you be willing to review and merge this one?

[2015-06-01 18:04] Myoldmopar commented on #4846
Sure, I'll do it.

[2015-06-02 13:51] Myoldmopar opened #4948 "VRF Heat Recovery IDD is out of date"
The VRF IDD object still mentions the Heat Recovery is listed for future use.  The code and docs reflect the current working state instead.  Remove the IDD note.

[2015-06-02 14:40] EnergyArchmage opened #4950 "VRF defrost power calculation problems"
While conducting a study of VRF systems, the following issues where found in VRF defrost power calculations.  The model is not useable for defrost systems based on reverse cycle.
1.  "Reverse cycle" and "timed" are not supported in code logic.  Defrost power always comes out zero.  the following is around line 760 in HVACVariableRefrigerantFlow.cc, but there is no logic to handle the case of Timed

[2015-06-02 14:50] EnergyArchmage opened #4951 "Suggest to hard code end use subcategories for HVAC components that do not offer input"
Fans are about the only HVAC component that offer user input for end use subcategory.  For large building models with multiple types of HVAC systems in the same model, end use sub categories are very helpful to users.   As a interim approach instead of actually adding end use subcategory input fields, suggest to hard code end use subcats to help users.

some examples are shown in a branch called Z

[2015-06-02 14:58] EnergyArchmage opened #4952 "VRF hard crash if terminal unit list error"
While developing VRF input files, found that the program can hard crash with no information about the problem, when the input for terminal unit list input is wrong.  Adding the following around line line 2110 in HVACVariableRefrigerantFlow.cc solved the problem.  a zero value for TUListIndex needs to be trapped sooner.

[code]

[2015-06-02 15:08] EnergyArchmage opened #4953 "Heat Pump VRF: new output variable for time spent in simultaneous heating and cooling"
Heat pump VRF systems can only heat or cool at any given time.  It would be helpful to have an output variable that logs those times when the outdoor unit has some zone units requesting heating and others requesting cooling.

An attempt was made to add such a report variable but it did not work.  That code is in a branch called Zone-VS-WSHP-system-sizing-draft.  It appears that the model is cleani

[2015-06-02 22:30] mjwitte opened #4954 "Track and warn when water use equipment cannot meet the target supply temperature"
Example, plant loop serving WaterUse:Equipment via WaterUse:Connections.  WaterUse:Equipment loads are specified as flow rates and a target hot water supply temperature schedule.  If the plant supplies hot water at a lower temperature, there is no compensation, no warnings, no accounting of unmet load, just less heating energy consumed.  Need to make a side-by-side example with some detailed outpu

[2015-06-03 15:56] mjwitte opened #4956 "Documentation issues - June 2015"
- [x] Helpdesk Ticket 10523
  Engineering Reference section for Combustion Turbine Chiller states "Three sets of coefficients are required to model the open centrifugal chiller as discussed in the section, titled, ‘Electric Chiller Based on BLAST Centrifugal Chiller Model’."
  This should read " . . . 'Electric Chiller Model Based on Fluid Temperature Differences'."
- [x] Similar change also neede

[2015-06-03 16:30] mjwitte opened #4957 "ZoneHVAC:Baseboard:Convective:Water and RadiantConvective:Water should report capacity"
Helpdesk ticket 10526
ZoneHVAC:Baseboard:Convective:Water and ZoneHVAC:Baseboard:RadiantConvective:Water should report capacity similar to hot water coils (or not), but it should at least report the design load it was sized to meet.

[2015-06-03 20:45] mjwitte opened #4958 "Controller:WaterCoil with Control Variable of HumidityRatio throws false node setpoint warning"
Helpdesk ticket 10513
User file with this chilled water coil controller

[code]

Throws this warning, which appears to be false, because the simulation proceeds and appears to control close to the desired humidity ratio setpoint:

[code]

[2015-06-03 20:57] mjwitte opened #4959 "HeatExchanger:FluidToFluid with CoolingDifferentialOnOff gets stuck in off mode"
Helpdesk ticket 10505
User file with fluid coolers and waterside economizer using HeatExchanger:FluidToFluid with CoolingDifferentialOnOff operates as expected Jan 1 thru Mar 2, then is off most of the time, coming on briefly on Apr 23, May 23, and July 19, but then is off the remainder of the year, even though it should start operating again in November-December.

If the run periods are broken up

[2015-06-04 18:52] jburek opened #4960 "EnergyPlus file generator"
I've tried to use the EnergyPlus Example File Generator, but I didn't get the resulting input files. http://apps1.eere.energy.gov/buildings/energyplus/cfm/inputs/index.cfm
I've contacted ewi.support@nrel.gov, but didn't get any reply. Is this application still available or not? Is there any other application that I could try?
Thank you for your help,

Jasmina

[2015-06-04 19:05] jburek opened #4961 "prototype warehouse buildings vs reference warehouse buildings"
I get different output filesfrom EnergyPlus using prototype building files vs. reference buildings (for warehouses). I have trouble understanding why this 2 output files are different. I would like to modify the reference building model for warehouse (size of the warehouse, location, and machinery) and have an output as in prototype building.
I wanted to use EnergyPlus Example File Generator since

[2015-06-04 19:08] mjwitte commented on #4961
@jburek Please post questions of this nature a unmethours.com or energyplus.helpserve.com  Github issues are for reporting bugs or posting specific suggestions for minor improvements.

[2015-06-04 19:08] #4961 closed, assigned to nobody

[2015-06-04 19:09] #4960 closed, assigned to nobody

[2015-06-05 13:34] mjwitte opened #4962 "ZoneHVAC:Baseboard:RadiantConvective:Water requesting flow at some times when scheduled off"
Helpdesk ticket 10529
Used the HVAC Template object to define a PTAC for each zone, with a baseboard heater for each zone. By default, the type of baseboard heater given by the expander is "ZoneHVAC:Baseboard:RadiantConvective:Water", and the fraction radiant is 0.

When I ran the simulation for design days. I noticed that the hot water plant loop pump was running for some hours during the summer

[2015-06-05 13:49] mjwitte commented on #4956
Helpdesk Ticket 10533
There is a NOTE immediately prior to the example specification... which reads:

Note: the air-to-air heat pump's fan, cooling coil, heating coil and supplementary heating coil must be connected in the air loop according to the configuration
shown above (Figure 118) for the blow-through fan configuration. The only other valid configuration is with a draw-through fan placement,

[2015-06-05 19:00] mjwitte opened #4963 "ABUPS - total row does not match sum warning - triggered by water mismatch but says electricity"
*\* Warning *\* In the Annual Building Utility Performance Summary Report the total row does not match the sum of the column for: Electricity [kBtu]

Checking the totals in the ABUPS report reveals that the water column does not add up.  Two problems, the error message should indicate the correct resource, water.  But there mismatch needs to be fixed so the warning is gone completely.

[2015-06-05 19:33] mjwitte opened #4964 "AirLoopHVAC:UnitaryHeatPump:WaterToAir with Cycling flow mode causing Temp out of Range warnings"
This particular file has 80 AirLoopHVAC:UnitaryHeatPump:WaterToAir systems, all using the default Heat Pump Coil Water Flow Mode = Cycling which adjusts the source water flow rate proportional to the heat pump PLR.  This generates thousands of these warnings:

   *\* Warning *\* GetSpecificHeatGlycol: Temperature is out of range (too high) for fluid [WATER] specific heat **

Changing the coil flow

[2015-06-09 13:56] mjwitte commented on #4956
- [x] Input Output Reference, Controller:MechanicalVentilation, last paragraph before Field: Name is formatted as a heading instead of plain text.

[2015-06-09 22:04] mjwitte opened #4967 "SetpointManager:SingleZone:Reheat sets supply temp incorrectly for some cases"
Defect file is a quick service restaurant with high ventilation rates.  The kitchen PSZ system with central cooling and heating coils controlled by SepointManager:SingleZone:Reheat is requesting heat at times when it should be allowing the zone to float down to the heating setpoint.  This results in significant excess heating coil operation.  The setpoint manager has complex logic to determine wha

[2015-06-10 14:25] Myoldmopar commented on #3964
@JasonGlazer @kbenne Can you confirm this is still a defect?

[2015-06-10 14:44] JasonGlazer commented on #3964
It would be easier to answer for sure if I saw the screen shot that was referenced. Maybe @mjwitte might be able to find it and add it to the issue?

[2015-06-10 14:48] Myoldmopar commented on #3964
Hmmm, I have a feeling deep in my gut that the screenshot is long gone.  But maybe not...

I assumed it was just:

[code]

[2015-06-10 15:00] mjwitte commented on #3964
@JasonGlazer Looks like you posted the original CR on 2013-04-08, so maybe you have an e-mail with the screenshot?

[2015-06-10 15:11] JasonGlazer commented on #3964
I did find an email from before that date related to EPDrawGUI
![screen shot 2013-04-04 at 11 42 36 am-1](https://cloud.githubusercontent.com/assets/2582150/8086060/1b02ed1e-0f59-11e5-8f35-d8b9fe6190dc.png)

[2015-06-10 15:15] JasonGlazer commented on #3964
I don't remember working on this, unless it was an installer issue that @kbenne fixed, I would assume it still broken.

[2015-06-10 15:19] Myoldmopar commented on #3964
OK, yeah, I just noticed it and remembered that you guys (@kbenne) _had_ addressed some Mac installer/real-basic issues not too long ago.

[2015-06-10 15:23] kbenne commented on #3964
Just checked.  It is still broken as it sits in build support and presumably that is the reason it is not installed in the package.  When I try to launch it I don't get the error dialog, I get nothing..

[2015-06-10 15:29] Myoldmopar commented on #3964
Thanks @kbenne, that's what I was looking for.  I'll be done with this now and maybe it can be addressed.  Although, if it hasn't been included in the package in a while, and there isn't anyone demanding it, maybe we pull it out of the package and just make it available elsewhere?

That's probably a bigger discussion...............for not here.

[2015-06-10 15:32] JasonGlazer commented on #3964
I haven't touched that code in a while but my guess is that it is not looking properly for the MacOS equivalent to the EPlusDrw.dll.

[2015-06-10 21:19] mjwitte commented on #4956
- [x] Helpdesk ticket 10527
  In the IDD for ZoneHVAC:EquipmentList, the \keys for Zone Equipment 1 Object Type (and 2-18) are missing
  `\key ZoneHVAC:EvaporativeCoolerUnit`

[2015-06-10 21:51] mjwitte commented on #4956
- [ ] In the IDD, GroundHeatExchanger:Vertical, Maximum Length of Simulation needs units.  From the I/O Ref:
Field: Maximum Length of Simulation
This numeric field contains the maximum number of years of simulation to be carried out.

[2015-06-11 14:07] mjwitte commented on #4956
- [x] In the IDD, GroundHeatExchanger:Vertical, Maximum Length of Simulation needs units.  From the I/O Ref:
  Field: Maximum Length of Simulation
  This numeric field contains the maximum number of years of simulation to be carried out.
  @mmatts Please confirm that this input is in years.

[2015-06-11 14:37] mitchute commented on #4956
@mjwitte [Years](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/GroundHeatExchangers.cc#L1412) is correct.

[2015-06-11 21:58] mjwitte opened #4968 "HVACTemplate:Plant:ChilledWaterLoop should detect and quit when there are no coils to serve"
Helpdesk ticket 10539
User started with example file HVACTemplate-5ZoneConstantVolumeChillerBoiler and set the AHU cooling coil types to None.  The run failed with these errors:

[code]

The errors are due to a dangling HVACTemplate:Plant:ChilledWaterLoop object which has nothing to serve on the demand side.  Suggest that expandobjects trap this and issue a meaningful error message, or simply warn

[2015-06-12 18:43] #4685 closed

[2015-06-15 21:33] KWSL opened #4972 "Chillers and WaterToWater Heat pumps will accept only a CondenserLoop on the Condenser or Source Side"
Chillers and WaterToWater Heat pumps will not operate if the condenser side is connected to a PlantLoop.  This eliminates the possibility of connecting the condenser side directly to a loop where heat recovery is desired.  Take the example of a building with a boiler and cooling tower both connected to a PlantLoop for use in a heat pump loop.  This building cannot also be modeled with a water to w

[2015-06-16 13:57] KWSL commented on #4951
I would like to see this as well.

[2015-06-16 16:27] KWSL commented on #4972
Another way to solve this would be to allow all the same plant equipment to provide the supply side of a Condenser Loop.  We would also need the setpointmanagers to work the same way as on a PlantLoop.

[2015-06-16 17:46] mjwitte commented on #4972
@KWSL There must be something else going on here.  I have connected the condenser side of a chiller to a PlantLoop, and the WaterToWater Heat Pumps also.  Please e-mail examples to me directly.  Thanks.

[2015-06-16 18:25] KWSL commented on #4972
emailed.  Montpelier, VT TMY3 weather file and simulated using version 8.3.3

[2015-06-17 22:24] ejhw opened #4973 "DX heating coil defrost operation causes increase in coil COP"
I have noticed that DX heating coil defrost operation causes an unexpected increase in coil COP (applies to both SingleSpeed and MultiSpeed coils; not tested for VariableSpeed). The following plots are from testing a MultiSpeed coil with identical performance curves for the two speeds and no part load cycling losses.

This issue is best seen by plotting hourly coil COP (calculated as `Heating Coil

[2015-06-18 15:03] nmerket commented on #4973
Defect files are at
https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/4000s/4973

[2015-06-18 18:47] jasondegraw commented on #4449
For version 8.3.3-c673d878f0, both 64 and 32 bit versions (both release and debug) fail to converge at the same time/date, so I'm going  to close this.

[2015-06-18 18:47] #4449 closed

[2015-06-18 19:15] mjwitte opened #4974 "User file crashes with array bounds error in SolarShading Clippoly"
Helpdesk ticket 10541
User notes that this file runs to completion on Linux and with Win64, but crashes on 8.3.0-Win32.  Crash reproduced with 8.3.2-Win32 and with recent develop code Win64-debug build.  It's an array bounds error.

[2015-06-18 19:53] nmerket opened #4975 "Heat pump air supply temperature exceeding maximum"
From @jonwinkler

I uncovered a E+ bug related to the supply air temperature for single stage heat pumps. Attached are associated IDF and hourly output files. The ‘Maximum Supply Air Temperature for Supplemental Heat’ field in the AirLoopHVAC:UnitaryHeatPump:AirToAir is set to 40.55°C (105°F) and clearly this is being exceeded when the supplemental heater turns on (first graph below). This field a

[2015-06-18 19:57] nmerket commented on #4975
Added defect files at
https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/4000s/4975

[2015-06-18 20:06] ejhw commented on #4973
#### Relevant excerpt from the Engineering Reference (SingleSpeed coil):

![screen shot 2015-06-18 at 2 04 40 pm](https://cloud.githubusercontent.com/assets/1276021/8240877/0875a0a4-15c3-11e5-99df-8f6fb037b1be.png)

[2015-06-18 20:33] mjwitte commented on #4974
Fails in SolarShading.cc::CLIPPOLY line 2813:
`XTEMP( NVTEMP ) = nint64( ( HCC_E * BTEMP_S - HCB_E * CTEMP_S ) * W_inv );`
NVTEMP is 15, XTEMP is dimensioned to only 14.

[2015-06-19 18:40] mjwitte commented on #4972
Same issue as #4385 but different defect files.

[2015-06-19 21:53] mjwitte opened #4976 "AirloopHVAC:UnitarySystem Unitary System Total Heating/Cooling Rate sometimes zero when coils are operating"
Helpdesk ticket 10559
From user:
When I have only one "UnitaryHeatPump:AirToAir:MultiSpeed" system in the model, the unitary system total cooling/heating rate output works ok. But when I have two "UnitaryHeatPump:AirToAir:MultiSpeed" systems in the model, the unitary system total cooling/heating rate output shows zero for one unit even though both the "Cooling Coil Total Cooling Rate" and "Air Sys

[2015-06-19 22:09] mjwitte commented on #4972
And helpdesk ticket 10532

[2015-06-22 13:17] mjwitte opened #4978 "VentilatedSlab Coil Total Cooling output is wrong and fan power is not zeroed when it should be"
For ZoneHVAC:VentilatedSlab, the calculation of QTotUnitOut is reversed, causing the reported values for Coil Total Cooling and Coil Latent Cooling to be incorrect:
`QTotUnitOut = AirMassFlow * ( Node( FanOutletNode ).Enthalpy - Node( OutletNode ).Enthalpy);`
should be
`QTotUnitOut = AirMassFlow * ( Node( OutletNode ).Enthalpy - Node( FanOutletNode ).Enthalpy);`

[2015-06-22 15:48] macumber opened #4979 "Incorrect interval reported in time table for daily, monthly, and run period data"
This change impacted OpenStudio when we upgraded from E+ 8.2 to 8.3

https://github.com/NREL/OpenStudio/issues/1692

[2015-06-22 15:48] macumber commented on #4979
The interval is also reported as 60 minutes for daily, monthly, and run period variables in the sql file

[2015-06-22 18:16] mjwitte commented on #4978
Also, need to add protection against tiny negative latent cooling values - suggest limiting sensible Q to be no greater than QTotUnitOut.

[2015-06-22 20:01] mleach-noresco opened #4980 "Fixed fatal error when autosizing UA-value of hot water coils"
I have a model with a unit heater with a hot water coil.  All relevant fields in both the unit heater and the hot water coil are set to autosize.  However, EnergyPlus crashes during sizing and gives the error "Autosizing of heating coil UA failed."  It then goes on to say: "Inadequate water side capacity: in Plant Sizing for this hot water loop.  Increase design loop exit temperature and/or decrea

[2015-06-22 20:54] kbenne commented on #4980
Defect file [here](https://github.com/NREL/EnergyPlusDevSupport/blob/master/DefectFiles/4000s/4980/4980_in.idf).

[2015-06-23 14:51] mjwitte commented on #4847
@vidanovic Have you confirmed that this issue is still present in current code?  If so, please send me defect files and/or add them to EnergyPlusDevSupport.

[2015-06-24 17:07] macumber opened #4982 "Meters are missing time indices in sql file"
See bug report https://github.com/NREL/OpenStudio/issues/1699

[2015-06-25 00:55] rongpengzhang opened #4984 "Reporting of the Coincident Building Heating/Cooling Load"
The time-step whole building heating/cooling load can be reported by setting up two meters, i.e., HeatingCoils:EnergyTransfer and CoolingCoils:EnergyTransfer, respectively. In the current version EnergyPlus, 20 types of heating equipment are included in the HeatingCoils:EnergyTransfer calculation and 15 types of cooling equipment are included in the CoolingCoils:EnergyTransfer calculation. However

[2015-06-25 01:00] rongpengzhang opened #4985 "Ventilation rate procedures for sizing - if OA requirement greater than flow required for load, OA is limited"
If system sizing is based on the load and system OA requirement is greater than the load, the proper amount of OA is not delivered

[2015-06-25 01:01] rongpengzhang opened #4986 "Accurate CRACs model"
Accurate CRACs model with very different rating/operating conditions for data centers

[2015-06-25 01:02] rongpengzhang opened #4987 "Earthtube – multiple pipes in parallel"

[2015-06-25 01:03] rongpengzhang opened #4988 "Duct leakage for single-zone CAV systems using zoneHVAC:AirDistributionUnit"
Duct leakage is not allowed for single-zone CAV systems using zoneHVAC:AirDistributionUnit

[2015-06-25 01:05] rongpengzhang opened #4989 "Parallel fan powered terminal unit fan controls need option to cycle with thermostat"
Currently, the input is for a minimum damper position at or below which the zone fan turns on. This leaves the fan on during deadband hours and potentially always during nighttime hours when the damper is closed! In most real systems and in DOE2, the fan is controlled thermostatically so that it can be used as the first stage of heating, before the reheat coil is energized. So that would require a

[2015-06-25 13:27] mjwitte commented on #4985
@rongpengzhang If you have a test file that shows this problem, please add to EnergyPlusDevSupport.

[2015-06-25 13:39] mjwitte commented on #4988
@rongpengzhang @hongtz68 @Myoldmopar @kbenne AirTerminal:SingleDuct:Uncontrolled (formerly known as "Direct Air") has always been inconsistent with all of the other terminal units - sits directly on the zone equipment list instead of being nested under an air distribution unit, has only one node, and the name (wonder who came up with that one . . . ) is confusing.  Given that the transition rule w

[2015-06-25 16:37] mjwitte opened #4991 "Chiller:ConstantCOP problems - autosizing is broken and incorrect SequentialLoad operation"
Helpdesk ticket 10577
From user:
I am modeling an office building that uses multi chillers working in SequentialLoad mode. But I found it seemed not working well because the chillers apart from the last one did not generate cooling power (always 0). However, when checking the same model in E+ V8.1.0.009, I can see all chillers work in order.

Attached is a picture detailing the result comparison c

[2015-06-25 17:22] mjwitte opened #4992 "Humidifier:Steam:Gas cannot find efficiency curve name"
Helpdesk ticket 10579
User:
I'm trying to use the new Humidifier:Steam:Gas object, and my simulation is crashing because the Thermal Efficiency Modifier Curve Name is not found. I've tried several different types of curve objects, including the curve from the example file, and none of them can be found. The example file does run successfully.

Reply:
I see the problem in the code.  The wrong varia

[2015-06-25 17:57] fireattack commented on #4547
msinet.ocx is still missing for 8.3 release.

[2015-06-25 18:51] fireattack opened #4993 "Missing MSINET.OCX for EP-Launch and IDF Editor with Windows v8.3.3 Installer"
Related: #4547

The run-time files mentioned there, at least MSINET.OCX, are still missing from the newest Win x64 installer. It's supposed already fixed accordind to #4547.

[2015-06-25 18:54] mjwitte commented on #4993
@fireattack  What operating system are you on?  64-bit or 32-bit OS?  The v8.3 64-bit installer has been tested on a clean Win 8.1 machine and the required files were all installed.  We need to figure out what is different.  Have you tried running the installer "as administrator"?

[2015-06-25 18:54] wfbuhl commented on #4926
Oh ugh. Let me know if you want help. I'm probably culpable for this.

Fred

[2015-06-25 19:14] fireattack commented on #4993
@mjwitte weird, I tried to fix this problem by installing old version (8.2) first (it did the trick), and now I can't reproduce this bug at all. I uninstalled all the versions (with deleting all the runtime files) and then reinstall 8.3.3, it just works fine.

I believe I just encounter something unusual.

Thank you!

[2015-06-25 19:14] #4993 closed, assigned to nobody

[2015-06-25 22:05] rongpengzhang commented on #4985
@mjwitte I'm contacting with our customer who reported this issue. I will upload the test file once I get it.

[2015-06-25 22:50] axelstudios commented on #4863
:+1:

[2015-06-26 14:59] mjwitte opened #4994 "Controller:WaterCoil TemperatureAndHumidityRatio control active when it shouldn't be"
User noticed significantly different cooling coil operation with different system sizing options.  The sizing options resulted in nearly a 2x difference in coil size (OnOff vs VT), but the resulting coil operation was significantly different.  Upon further investigation, the culprit is the TemperatureAndHumidityRatio on the Controller:WaterCoil.  In February (using Vancouver BC epw), the humidity

[2015-06-26 16:52] mjwitte opened #4995 "Clarify object input design rules"
The "Input Concepts" section of the Module Developers Guide discusses rules for object input design.  This section needs some updating and clarification.
## References to other objects

This issue was initially prompted regarding the convention that references to another object type should always be a pair of fields, e.g. Cooling Coil Object Type, and Cooling Coil Name.  This is stated in the guid

[2015-06-26 20:07] mjwitte opened #4996 "VRF no-load outdoor air flow does not appear to be working correctly"
Helpdesk ticket 10590
User:
I am modeling a VRF system for a very simple office building with hard set supply air and outdoor air control, where Cooling/Heaing Supply Air Flow Rate sets as 0.111 m3/s, No Cooling/Heating Supply Air Flow Rate sets as 0.056 m3/s; while Cooling/Heating Outdoor Air Flow Rate is 0.028 m3/s and No Load Outdoor Air Flow Rate sets as 0.014 m3/s.

After running simulation,

[2015-06-26 20:15] mjwitte opened #4997 "Documentation Issues - June 2015 Part 2"
- [x] I/O Ref, Generator:MicroCHP, some equations are not rendered in the pdf.

[2015-06-26 20:25] mjwitte commented on #4997
- [x] I/O Ref, Generator:MicroCHP, this link leads to an empty page in IE, and Chrome warns there may be malware
  IEA/ECBCS Annex 42 – see www.cogen-sim.net.

possible alternates are
http://www.ecbcs.org/annexes/annex42.htm
http://iea-annex54.org/annex42/index.html

@EnergyArchmage ?

[2015-06-29 12:45] mjwitte opened #4999 "Add model options to WeatherProperty:SkyTemperature"
As an outcome of ASHRAE Std 140 comparisons with other software, it has been suggested that the Martin-Berdahl (1984) sky temperature algorithm may be a better model than the current one in EnergyPlus, Clark-Allen (1978).  However there are some concerns about the opaque sky cover data in the weather files.  Suggest adding algorithm options to WeatherProperty:SkyTemperature.  Could be additional c

[2015-06-29 13:06] mjwitte opened #5000 "Verify and possibly update definition of leeward for exterior convection coefficients"
As an outcome of current ASHRAE Std 140 development work, it has been noted that EnergyPlus uses a test of angle >100degrees to determine if a surface is windward or leeward.   The same test is used for all exterior convection algorithms that are sensitive to wind direction.  However, Yazdanian and Klems (1994, p.4) indicate their data tabulations correspond to “windward and leeward hemispheres”,

[2015-06-29 15:37] mjwitte commented on #4997
- [x] I/O Ref the definitions of these output variables all have a simple equation with _(T - T)_ with no subscripts.  Prior to the output variable name changes, there weren't even equations.  So need to add subscripts for clarity (check source code to be certain):

Zone,Average,Surface Outside Face Thermal Radiation to Air Heat Transfer Coefficient [W/m2-K]
Zone,Average,Surface Outside Face Therm

[2015-06-29 17:22] Myoldmopar commented on #5000
Magic issue #5000!

[2015-06-29 17:33] #4948 closed, assigned to Myoldmopar

[2015-06-29 18:06] Nigusse commented on #4893
@mjwitte @rraustad The way forward for this bug issue is to add check for each cooling coil sizing calculation in request sizing (RequestSizing) and other ZoneHVAC sizing routines similar to the fix applied to ZoneHVAC:WaterToAirHeatPump equipment sizing calculation. The fix applied to resolve the SHR > 1.0 problem was to limit the supply condition as follows:
    SupTemp = min( MixTemp, SupTemp )

[2015-06-29 19:58] Myoldmopar commented on #4493
OK, so @mjwitte, I will go back and update the transition rules for 8.1 to 8.2 like [so](https://github.com/NREL/EnergyPlus/blob/develop/src/Transition/CreateNewIDFUsingRulesV8_2_0.f90#L370). Do I also need to put something special in the current 8.3 to 8.4 to catch previously missed versions?

[2015-06-30 00:06] mjwitte commented on #4493
Thanks. Yes.

<div>-------- Original message --------</div><div>From: Edwin Lee notifications@github.com </div><div>Date:06/29/2015  3:58 PM  (GMT-05:00) </div><div>To: NREL/EnergyPlus EnergyPlus@noreply.github.com </div><div>Cc: "Michael J. Witte" mjwitte@gard.com </div><div>Subject: Re: [EnergyPlus] Remove support for obsolete load management options
  in HVACTemplate:Plant objects (#4493) </div

[2015-06-30 13:16] Myoldmopar opened #5004 "Battery won't charge at max rate"
I haven't dug into this yet, but here is what I know.  As reported by a colleague here.

(click on the image to see it full-size)

[2015-06-30 14:12] KWSL commented on #4972
I'd be happy to try to figure out what this is, if someone can give me some suggestions on where to begin looking.  From my test files, when one of these components is attached to a PlantLoop, the simulation runs fine, but there is never any source side flow.  Even if I hard-size the flow-rate at the branch level, I don't get any flow.  This leads me to believe that the issue is with normal run-ti

[2015-06-30 16:37] mjwitte commented on #4997
- [x] I/O Ref, Timestep object overview, table about demand window.  "Demanh" --> "Demand"

[2015-06-30 16:42] DavidGoldwasser opened #5006 "I can't populate the "Water" column in the "Operating Cash Flow by Category table"
I'm trying to add lifecycle costs to my simulation for water consumption. I was able to do it treating water as a fuel, but then it shows up in the "Energy" column instead of the "Water" column in the "Operating Cash Flow by Category (Without Escalation) table.

Screenshots and additional description are on this unmet hours post
https://unmethours.com/question/8522/water-lifecycle-costs-in-energyp

[2015-06-30 16:42] mjwitte commented on #4972
@Myoldmopar Any suggestions for @KWSL for where to look for flow controls that would behave differently for a component when it's on a plant loop vs condenser loop?

[2015-06-30 16:45] #4224 closed

[2015-06-30 16:53] mjwitte commented on #4893
If @rraustad agrees, that seems like a better place to trap for this than zone sizing calcs that were originally proposed (if I am remembering correctly).

[2015-06-30 17:26] rraustad commented on #4893
We did discuss this and I am OK with implementing in the parent or RequestSizing routine. I'm not sure I like the use of SupHumRat=min(MixHumRat,SupHumRat) since that could change the users input of supply humrat (and potential reported value). I would rather see the mixed air condition adjusted as MixHumRat = max(MixHumRat,SupHumRat). I'll discuss with Bereket during the correction of this issue

[2015-06-30 17:35] rraustad commented on #4893
Bereket convinced me to use SupHumRat=min(MixHumrat,SupHumRat). It doesn't matter in either case since we're only adjusting the enthalpy calculation to be purely sensible when deltaW should be 0.

[2015-06-30 18:57] Nigusse commented on #4893
@mjwitte @rraustad I committed the initial code fix. We expect a cooling sizing related parameters diffs depending on the user specified outlet conditions.  I will review this results to check how this fix impacts the cooling sizing results.

[2015-06-30 19:58] rraustad commented on #4893
Bereket, did you run the test suite? I see strange results (crashes, diff's in coil capacity that don't make sense) that would have shown up in a test suite run.

Generally, I think after Amir's email of OS issues, we need to enforce test suite runs (or get CI to do it) before we make changes to code.

[2015-06-30 20:20] Myoldmopar commented on #4972
That's a pretty interesting issue.  There are very very few places in the source that still consider a difference between plant and condenser loops.  I'll take this issue and see what I can come up with.

[2015-06-30 21:18] KWSL commented on #4972
I know.  I started looking yesterday, and found very few differences, only in setting up allowable SetpointManagers and Plant Loop Demand Calculation Scheme.

Thanks for taking this on @Myoldmopar.  I contributed a minor update to the WatertoAirHeatPump model a few years ago, so I have some familiarity with the code, but it's a lot to search for a bug like this without having a deeper understandin

[2015-06-30 21:39] mjwitte opened #5007 "ZoneCrossMixing does not allow overlapping zones"
ZoneCrossMixing does not allow a given zone to cross-mix with more than one other zone.  This prevents, for example, a core zone from cross-mixing with multiple perimeter zones.
1. The I/O Ref does not mention this at all.
2. The Engineering Ref briefly says "No more than one ZoneCrossMixing object can be used for any receiving zone."
3.  This is checked in HeatBalanceAirManager::GetSimpleAirModel

[2015-06-30 21:46] macumber commented on #5007
Thanks @mjwitte !  I had no idea about this limitation

[2015-06-30 22:05] mjwitte commented on #4926
@wfbuhl Initial review of the code reveals some significant gaps.
1.  ZoneTempPredictorCorrector::CalcZoneComponentLoadSums has code to add ADU leakage airflows into the return plenum heat balance, but no mention of the PIU induced air flows.
2.  Likewise for ZoneContaminantPredictorCorrector::CorrectZoneContaminants
3.  ZonePlenum::InitAirZoneReturnPlenum sets the massflow rates on the induced no

[2015-06-30 23:52] Nigusse commented on #4893
I am running the test suite on CI machine.

[2015-07-01 00:02] Nigusse commented on #4893
What do you mean "before we make changes to code"? See the latest run, it has only 3 files showing sizing diffs. Any ways I will review those three example files as a verification. We always do CI machine run before pull request.

[2015-07-01 12:02] rraustad commented on #4893
"before we commit code to the develop branch"

I am looking at the 90946736_SHRgt1_4567 branch and the CI results. I see now, I was looking at the CI results from 2 days ago before you fixed something. These results do look better.

The EMSThromochromicWindow file shows 2 water coils where capacity increased about 3%. I would expect this if there were an issue with delta W since adjusting the SA h

[2015-07-01 12:07] Nigusse commented on #4893
I am going to review the diffs in the three test files to find the cause of these diffs.

[2015-07-01 12:11] rraustad commented on #4893
A clean CI result with all tests passing does not mean there are no diffs in the results. It only means the eio, err, audit files, and some others, have not changed. But this does not mean the csv file did not change. I think this may be the reason something slipped by us (Amir's email regarding OS) so we need to figure out a way to document the diffs with each commit. The CI machine does not do t

[2015-07-01 12:29] Nigusse commented on #4893
I agree. For this bug fix the changes in the csv files will be due to change in sizing results only.

[2015-07-01 13:51] Nigusse commented on #4893
@Myoldmopar @mjwitte @rraustad The regression results shows diffs in the eio files for two DX cooling coils out of the five DX cooling coils in the example files, but I was expecting to see cooling sizing variables diffs for the five DX cooling coils in the two example files. The two example files were EMSThermochromicWindow.idf and ThermochromicWindow.idf.  I run the two example files in debug mo

[2015-07-01 14:00] mjwitte commented on #4893
@Nigusse My understanding is that the CI is simply doing a text diff on the eio output.  So every change in any value should be reflected in the diff outputs regardless of magnitude and it should show for every file that's part of the test suite.

[2015-07-01 14:10] mjwitte commented on #5007
@wfbuhl @lgu1234 Does one of you remember why overlapping cross-mixing objects are not allowed?

[2015-07-01 15:19] Nigusse commented on #4893
Now I see identical results in the CI and my local machine. The difference being the CI machine runs for for design day and my local machine was run what was specified in the test file, which was weather file run.

[2015-07-01 15:28] wfbuhl commented on #4926
It seems like I checked the air balances but never checked the
temperatures. Or it got lost somewhere. I'll take a look at the code and
see if everything else looks OK.

Fred

On Tue, Jun 30, 2015 at 3:05 PM, Michael J. Witte notifications@github.com
wrote:

[2015-07-01 15:41] macumber commented on #5007
Does this limit apply to overlapping mixing objects as well?

[2015-07-01 15:42] mjwitte commented on #5007
@macumber No. You can mix and match ZoneMixing objects as much as you want.

[2015-07-01 15:51] mjwitte commented on #4893
@Nigusse OK, but that shouldn't alter the sizing calcs reported in the eio.

[2015-07-01 18:36] mjwitte opened #5011 "Example files 5ZoneAirCooledConvCoef and 5ZoneAirCooledConvCoefPIU are functionally equivalent"
Was surprised when PIU induced air node fix #5009 caused diffs in 5ZoneAirCooledConvCoef same as 5ZoneAirCooledConvCoefPIU  where diffs were expected.  Comparing these two example files shows that they are identical except for comments (see below) and some extra unused constructions in 5ZoneAirCooledConvCoefPIU.  The comments mention PIU in 5ZoneAirCooledConvCoef but not in 5ZoneAirCooledConvCoefP

[2015-07-01 20:28] Nigusse commented on #4893
@mjwitte I agree that should not change the sizing calculation results.  I was wrong. I was looking at the change in supply air humidity ratio and the capacity calculated right after that. But the total cooling capacity is recalculated again if that capacity results in "flow to capacity ratio" out of bound. And the capacity is recalculated using the VolFlow and "flow to capacity ratio" limits. If

[2015-07-01 20:32] mjwitte commented on #4893
@Nigusse Thanks for the explanation.

[2015-07-01 20:42] Nigusse commented on #4893
Pushed the latest code to remote branch. I do expect the same sizing calculation results diffs previously reported by CI machine and I expect the new unit tests added to pass without any issue.

[2015-07-02 12:30] mjwitte commented on #4997
- [x] I/O Ref, ZoneHVAC:UnitVentilator, the Supply Air Fan Operating Mode Schedule is missing, copy from ZoneHVAC:UnitHeater.  Also, the control logic needs editing to explain what happens in the two different fan modes.

[2015-07-02 12:36] mjwitte opened #5013 "Generate edd output file if Output:EnergyManagementSystem is present without any other EMS input"
Helpdesk ticket 10587
User wanted to get the list of available actuators and was puzzled why Output:EnergyManagementSystem was not sufficient to produce an edd output file.

[2015-07-02 12:52] mjwitte opened #5014 "RoomAir:TemperaturePattern:TwoGradient with OutdoorDryBulbTemperature does not interpolate between gradients"
Helpdesk ticket 10593
RoomAirModelUserTempPattern.cc, line 600).  The != should be ==.

[code]

The error causes the model to always use the LowGradient whenever the ODB<UpperLimit.

[2015-07-02 16:49] mjwitte opened #5015 "Add reporting of rated power output for PV generators"
Helpdesk ticket 10609
There does not seem to be any place that reports out basic nominal data and rated power output for PV generators.

[2015-07-02 17:13] mjwitte opened #5016 "Severe errors about subsurface with outward facing angle significantly different from base surface should always report regardless of warnings level"
Helpdesk ticket 10613
User notes that skylights vertices were reversed so the skylights were upside down, but no error messages reported the problem.  There are error messages like this, but they only show when DisplayExtraWarnings or DisplayAllWarnings has been requested.

[code]

These errors are severe enough that they should always be reported, regardless of the warnings level, and possibly ev

[2015-07-02 20:37] vidanovic commented on #4847
Seems like some formatting problem in schedule files. I have just created simple schedule surface gains example and it did work. So this is not an issue in current code.

[2015-07-02 20:37] #4847 closed, assigned to nobody

[2015-07-02 20:40] wfbuhl commented on #4926
It looks like ZoneRetPlenCond( ZonePlenumNum ).InducedTemp( IndNum ) etc
never get set to anything in CalcAirZoneReturnPlenum.
In UpdateAirZoneReturnPlenum these (unset)  values are passed along quite
nicely to the induced air nodes. I think that  ZoneRetPlenCond(
 ).InducedTemp( ) should be set to ZoneRetPlenCond(  ).ZoneTemp  and the
same for HumRat and Enthalpy.

Fred

On Wed, Jul 1, 2015 at 8:

[2015-07-02 20:45] mjwitte commented on #4926
@wfbuhl Thanks for checking that.  I came to a similar conclusion.  A fix is here #5009 , see if it looks OK.

[2015-07-03 23:01] mjwitte commented on #4978
Other issues found while fixing the cooling coil output reporting:
Mass flow rates were not all being zeroed out when the system was off.
Sometimes the Zone Ventilated Slab Fan Electric Power/Energy was non-zero when the slab mass flow rate was zero and the actual fan object power was also non-zero, causing false electric consumption. This occurred when the slab unit controls would shut off the sl

[2015-07-06 18:06] lincolnharmer opened #5018 "Add feature to ZoneMixing object to allow for the inter-zone airflow rate to be dynamically adjusted based on a percentage of supply airflow serving the source zone"
Currently the ZoneMixing airflow rate is constant unless the ZoneAirMassFlowConservation is called. Even with the ZoneAirMassFlowConservation called, the airflow rate is only adjusted based on the zone exhaust fan airflow rate and/or infiltration. It would be handy if it was also possible to control the amount of transfer air based on how much air was being supplied to the source zone. Is this pos

[2015-07-07 07:53] ecoeficiente opened #5020 "Simple Tower Autosizing 25.6C inlet WB does not comply with 90.1-G"
Ashrae 90.1-2007/2010 Appendix G states that _condenser water design supply temperature shall be 85F or 10F approaching deign wet-bulb temperature, **whichever is lower**._
That is not possible with the hardcoded Autosize inlet temperature of 25.6C in EnergyPlus.

[2015-07-07 15:23] andregama1987 commented on #4558
Hello,

(sorry in advance for the English)

So I have the following scheme,

1) Boiler----Pump1-----Plate Heat Exchanger----Boiler
2) Plate Heat Exchanger-------Pump2------Water Tank--------Plate Heat Exchanger
3) Water Tank------3 way Valve-----Showers------Pump3------Water Tank

only heat is exchange not water (unless shower)

I am new in the modeling, can any one please guide me.

Do I have to

[2015-07-07 15:25] ejhw commented on #4558
@andregama1987, try posting your question to https://unmethours.com/questions/. This is not an appropriate place for it.

[2015-07-07 15:36] lgu1234 opened #5021 "Venting Availability Schedule does not work properly in the AFN model"
Venting Availability Schedule does not work properly when a AFN surface is set to ZoneLevel control.

Ticket 10615

One odd result I've noticed about the AFN settings: when you try to set behavior at the zone level, those settings do not always seem to transfer to the surfaces in the zone, even if the surface is set to ZoneLevel control. And the result can be strange, like windows being available

[2015-07-07 21:22] nmerket commented on #4973
I think the problem is happening somewhere in [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DXCoils.cc#L10640-L10668). (Note so I can find it later.)

[2015-07-07 23:40] mjwitte commented on #4997
Combine with #4956

[2015-07-08 21:43] nmerket commented on #4973
Okay, I found out [where this is happening](https://github.com/NREL/EnergyPlus/blob/405295034523d273e87403a268c96107e2c0d224/src/EnergyPlus/DXCoils.cc#L10646).

[code]

In the debugger it becomes fairly obvious that when the defrost is on the COP increases by a factor of `1 / InputPowerMultiplier`. That's what's causing the change. I'm now digging through the Engineering documentation to figure ou

[2015-07-08 22:35] nmerket commented on #4973
It looks like this is working as expected/documented. The `InputPowerMultiplier` calculation comes from DOE2.1E, which has been around a while.

From the Engineering Reference Manual:

<hr/>

#### Frost Adjustment Factors

Frost formation on the outdoor coil, and the need to periodically defrost this coil, has a significant impact on heating capacity and energy use by the DX heating system. If the

[2015-07-09 13:12] Nigusse commented on #4992
Committed bug fix and unit test codes.  Run Energyplus test suite, found no diffs. Diffs were not expected. Also fixed other unit tests failure triggered by the new unit test added.

[2015-07-09 14:30] ejhw commented on #4973
For on-demand defrost, the ratio of `HeatingCapacityMultiplier` to `InputPowerMultiplier` is always 0.92, so wouldn't that always decrease the COP?
Where do you see that the COP is increased by a factor of `1 / InputPowerMultiplier`?

[2015-07-09 16:56] nmerket commented on #4973
![codecogseqn 9](https://cloud.githubusercontent.com/assets/5325034/8601361/dd123276-2628-11e5-9659-681efd654d46.gif)

There isn't a variable directly named `COP` in this model. But, when I take that `InputPowerMultiplier` and multiply it by the COP, I get the COP from the EIR curve.

[2015-07-09 17:19] ejhw commented on #4973
In other words, if you divide the COP from the EIR curve by the `InputPowerMultiplier`, you get the operational COP as reported. This doesn't seem right because the COP should also be multiplied by the `HeatingCapacityMultiplier`.

Like you said, there isn't a variable named `COP`, so this probably means that <i>P<sub>in</sub></i> is getting multiplied by the `InputPowerMultiplier`, but <i>Q<sub>h

[2015-07-09 18:08] mjwitte commented on #2930
@kbenne @mbadams5 Is this issue moot now?

[2015-07-09 19:28] rraustad commented on #4992
This bug fix affects only the GetInput for the gas humidifier and corrects a cut-n-paste error with the correct value.
Incorrect variable used:
Humidifier( HumNum ).EfficiencyCurvePtr = GetCurveIndex( cAlphaArgs( 3 ) );

Changed to correct variable:
Humidifier( HumNum ).EfficiencyCurvePtr = GetCurveIndex( Alphas( 3 ) );

Commendable effort on unit test development since I was also involved in what

[2015-07-09 19:28] #4992 closed, assigned to Nigusse

[2015-07-10 13:29] lgu1234 commented on #5007
@mjwitte When I looked at FY14 new feature items, a task of "cross mixing, multiple in zones" is listed. Unfortunately, it was dropped. It is obvious that we should be able to remove the restriction.

[2015-07-10 18:13] nmerket commented on #4973
Found the problem and fixed it for `Coil:Heating:DX:MultiSpeed`. Explanation and results are [here](http://nbviewer.ipython.org/urls/dl.dropboxusercontent.com/u/4969350/notebooks/defrostcop.ipynb)

[2015-07-13 15:05] #4493 closed

[2015-07-13 15:05] #4830 closed

[2015-07-14 13:06] mjwitte commented on #4973
@rraustad FYI.

[2015-07-14 14:50] rraustad commented on #4973
I can't leave a comment in the code compare. Mostly this appears correct, but only from the perspective that the COP now lines up with the performance curves.

This line (DXCoils line 10907) seems suspect:
DXCoil( DXCoilNum ).ElecHeatingPower = TotCap / HeatingCapacityMultiplier \* EIR \* DXCoil( DXCoilNum ).HeatingCoilRuntimeFraction \* InputPowerMultiplier;

The issue is COP is calculated incorr

[2015-07-14 14:53] kbenne commented on #4973
@rraustad  There are two cases I had the same issue adding line comments.  In one case I wasn't logged in.  That is probably not the case here, because you just left this comment.  The other is sometimes the code compare is scrolled slightly to the right, and the little plus buttons to add comments are off screen.  Try scrolling to the left.

[2015-07-14 14:57] nmerket commented on #4973
@rraustad After making the change in the commit you just reviewed, I realized that the way the variables are used is kind of misleading. I made a few more changes in that branch to make it more clear what I was doing. See pull request #5025 for the complete picture.

[2015-07-14 14:58] rraustad commented on #4973
I think it's because I'm reviewing in a branch compare and not a pull request compare. I scroll all the way to the left and all I can do is click on a line number which highlights the line. Moving the cursor around doesn't show the blue + square. We can flesh this out in a PR. I see you just posted a PR.

[2015-07-15 17:08] mjwitte commented on #4805
In reviewing this issue, found that the output variables for Indoor Pool Makeup Water Rate and Indoor Pool Makeup Water Volume are actually reporting mass flow instead of volume flow.  These need to be corrected to report volume flow.

[2015-07-15 19:34] #4979 closed, assigned to mbadams5

[2015-07-15 19:34] #4982 closed, assigned to mbadams5

[2015-07-15 20:44] #4294 closed

[2015-07-16 14:18] #4662 closed

[2015-07-16 15:31] JasonGlazer commented on #4410
@mjwitte @Myoldmopar EnergyPlus has many flags as you know. I am going to need to add a routine to zero the meter and variable accumulation when ReportDuringWarmup is active. Any recommendation on which flag or combination of flags makes the most sense?

[2015-07-16 17:16] mjwitte opened #5029 "Crash with missing AirflowNetwork:MultiZone:Zone object"
Helpdesk ticket 10619
User file crashing with empty err file.  Running in debug build reveals these errors:
   *\* Severe  *\* GetAirflowNetworkInput: For an AirflowNetwork Simulation, at least one AirflowNetwork:MultiZone:Zone object is required but none were found.
   *\* Severe  *\* GetAirflowNetworkInput: AirflowNetwork:MultiZone:Surface object, Surface Name = PAROESTEZN1TERREO
   *\*   ~~~

[2015-07-16 18:28] mjwitte opened #5030 "Fancoil unit with intermittent fan schedule does not zero flow rates for nodes upstream of the fan"
Helpdesk ticket 10631
User file has the fancoil unit scheduled on at all times, but the fan object has an intermittent schedule.  At times when the fan is scheduled off, the system node flow rates at the fan outlet and beyond are zero.  So, there is no flow in the coils, and now flow into the zone - all good.  But any nodes upstream of the fan are showing full flow (e.g. the OA inlet and zone exha

[2015-07-16 19:42] Myoldmopar commented on #5014
Closed with PR #5024

[2015-07-16 19:42] #5014 closed, assigned to Myoldmopar

[2015-07-16 22:12] nmerket commented on #4995
Definitely interested in where this ends up.

[2015-07-17 00:55] mjwitte opened #5031 "Add CO2-Based Proportional Demand Controlled Ventilation based on Design Occupancy Level"
For CO2 based proportional demand controlled ventilation, when tested with the EnergyPlus example “HeatPumpProportionalControl_DCV.idf”, the west zone indoor air CO2 concentration varies as shown in Figure 1 and the AHU ventilation flow rate varies proportionally to zone occupancy schedule as shown in Figure 2.
EnergyPlus issue #4216  revised this calculation so the ventilation air flow rate looks

[2015-07-17 02:18] mjwitte opened #5032 "Autosized cooling tower reports capacity smaller than chiller capacity"
User file shows reported size of the cooling tower is smaller than that of the chiller, in Equipment Summary report for Central Plant:
Chilled:Electric:EIR nominal capacity = 976kW
CoolingTower:SingleSpeed nominal capacity = 919kW

[2015-07-17 02:28] mjwitte opened #5033 "Cooling coil sizing does not result in specified temperatures when simulated for design day"
The cooling coils are not sizing as expected.
Following are the results for a 3 AHU design, simulated for the cooling design day.  The chilled water loop split is a 6/12C with a supply air temperature (SAT) of 13C.  These parameters are not met for the design day, when they should be.  This is the basis for the design, and it is concerning that these conditions are not met.

![table1](https://clou

[2015-07-17 02:55] mjwitte opened #5034 "Add design approach deltaT as user input for cooling tower sizing"
Energy efficiency of the chilled water plant can be improved by sizing a cooling tower (heat rejection plant) to work at wider than normal design conditions.  Being able to autosize cooling towers by describing the approach delta t is an excellent way of achieving this.

[2015-07-17 03:03] mjwitte commented on #5034
This may be a duplicate of #5020 (just noticed this)

[2015-07-17 14:24] #4963 closed, assigned to JasonGlazer

[2015-07-17 22:00] kbenne commented on #4988
Yes please! I have a special hate reserved for AirTerminalSingleDuctUncontrolled. OpenStudio does some shenanigans to make this look like it is part of the flow path, but because OS wants to reflect the nodes accurately it means we have this terminal plugged directly into the zone splitter.  Ick!

[2015-07-17 22:03] kbenne commented on #4988
And then we have to have special exceptions in translation to keep it off the air distribution unit.  I suspect every interface developer would or has had to deal with this.

[2015-07-20 13:53] #4906 closed, assigned to mjwitte

[2015-07-20 16:14] #4973 closed, assigned to nmerket

[2015-07-20 17:07] rraustad opened #5037 "VRF simulation crashes when VRF terminal unit is not listed in a ZoneTerminalUnitList."
Test for 0 index needed in 2 places (new IF checks):
One for cooling coil (line 2282 of HVACVariableRefrigerantFlow.cc):
if ( VRFTU( VRFTUNum ).TUListIndex > 0 && VRFTU( VRFTUNum ).IndexToTUInTUList > 0 ) {
    TerminalUnitList( VRFTU( VRFTUNum ).TUListIndex ).CoolingCoilAvailSchPtr( VRFTU( VRFTUNum ).IndexToTUInTUList ) = GetDXCoilAvailSchPtr( DXCoolingCoilType, cAlphaArgs( 12 ), errFlag );
}

On

[2015-07-20 17:44] EnergyArchmage commented on #5037
seem like a duplicate of #4952 (?)

[2015-07-20 17:50] rraustad commented on #5037
Test for 0 index needed in 2 places (new IF checks):

 One for cooling coil (line 2282 of HVACVariableRefrigerantFlow.cc):
 if ( VRFTU( VRFTUNum ).TUListIndex > 0 && VRFTU( VRFTUNum ).IndexToTUInTUList > 0 ) {
 TerminalUnitList( VRFTU( VRFTUNum ).TUListIndex ).CoolingCoilAvailSchPtr( VRFTU( VRFTUNum ).IndexToTUInTUList ) = GetDXCoilAvailSchPtr( DXCoolingCoilType, cAlphaArgs( 12 ), errFlag );
 }

O

[2015-07-20 17:52] rraustad commented on #5037
Closing this issue since it duplicates previous.

[2015-07-20 17:52] #5037 closed, assigned to nobody

[2015-07-22 13:22] shenb commented on #4973
I checked VariableSpeed coil doesn't have the same problem.

[2015-07-22 15:29] Myoldmopar opened #5039 "HPWH Stratified Tank performance is slow"
When working with PR #4698, I found that the code runs pretty dang slow on my debug build.  In release it isn't too bad, but after talking with @nmerket, it seems that there is definite room for investigating some improvements.  This issue is simply a follow-on from that PR to remember to investigate that issue in the future.

[2015-07-23 15:31] macumber opened #5042 "ZoneMixing report variables not set unless ZoneAirMassFlowConservation used"
The output variables "Zone Mixing Receiving Air Mass Flow Rate" and "Zone Mixing Source Air Mass Flow Rate" do not seem to be populated unless the ZoneAirMassFlowConservation object is present with "Adjust Zone Mixing For Zone Air Mass Flow Balance" set to "Yes".

[2015-07-23 20:00] krishnan-gowri opened #5044 ".gitignore file list"
*.rc is included in this list and it affects the win32 zlib1.rc being dropped while cloning/recreating the repository.  Not sure if anyone else had this problem.

[2015-07-23 20:03] Myoldmopar commented on #5044
Interesting, @krishnan-gowri.  I don't use Windows, and I hadn't heard of anyone else with this problem.  I'll try to verify this with @tsnouidui or @mwetter since the external interface is the reason zlib is in there.  I'm open to removing it from the .gitignore file for sure.

[2015-07-23 20:06] Myoldmopar commented on #5044
Opened a PR #5045 to be reviewed.

[2015-07-23 22:49] Myoldmopar opened #5046 "Plant operation scheme issues"
A few issues have been found related to some of the less common/less exercised plant load dispatch operation schemes.  The conversation began from an [UnmetHours question](https://unmethours.com/question/9546/using-plantequipmentoperationoutdoordrybulb-to-control-condenser-equipment/).

Currently, the issues include:
- The loop-level load dispatch operation schemes are treated non-uniformly.  The

[2015-07-23 22:57] Myoldmopar commented on #5044
@krishnan-gowri So I checked, and on my machine it pulls that rc file down successfully.  The index takes precedence over the gitignore file if a file was already existing in the repo.  Maybe I'm just not clear of your workflow where you are seeing this problem.

Are you seeing this issue when cloning?  Or something else?  And also, what Git client are you using?

[2015-07-23 23:00] Myoldmopar commented on #5044
And for kicks, @krishnan-gowri, I checked this on Win7 using Git for Windows, and did a fresh clone of EnergyPlus.  The rc file is in there.  If you could help by providing some more helpful info, it would help me help you.

[2015-07-23 23:06] krishnan-gowri commented on #5044
The problem will be seen only if you create a repository with the cloned source.  Our internal development team ran into this problem when we created an internal repository from the 'develop' branch.

---

From: Edwin Lee notifications@github.com
Sent: Thursday, July 23, 2015 4:00:52 PM
To: NREL/EnergyPlus
Cc: Krishnan Gowri
Subject: Re: [EnergyPlus] .gitignore file list (#5044)

And for kicks, @k

[2015-07-23 23:22] Myoldmopar commented on #5044
Interesting.  OK, I'm going to merge.  It's not necessary to have it in gitignore anyway, if someone tries to add files unintentionally it will show up in the pull request review anyway.

[2015-07-23 23:23] #5044 closed, assigned to Myoldmopar

[2015-07-24 21:03] rglazer2 commented on #4997
@EnergyArchmage What would you suggest as a replacement for the broken link?

[2015-07-24 22:46] rglazer2 commented on #4997
@mjwitte Where can I find the source files to determine the subscripts for the equations in the Zone,Average,Surface Outside Face Thermal Radiation sections?

[2015-07-24 22:58] nmerket commented on #4975
@jonwinkler @ejhw

I just ran the defect file in 8.4 and I'm not seeing this problem:

![index](https://cloud.githubusercontent.com/assets/5325034/8886266/58159018-321c-11e5-8183-584b37298a46.png)

(Grey is the times when the supply temperature is greater than the max supply temperature.)

I'm not seeing any supplemental heating. Am I missing something?

[2015-07-27 12:35] rraustad commented on #4893
Replaced with #5012

[2015-07-27 13:45] rraustad opened #5048 "HVAC Sizing Summary: Thermostat Setpoint Temperature at Peak Load = 0 for ThermostatSetpoint:DualSetpoint"
UnmetHours question "Thermostat setpoint at peak load is 0"

Thermostat set point temperatures are calculated in CalcZoneAirTempSetPoints and stored in TempZoneThermostatSetPoint( ActualZoneNum ). TempZoneThermostatSetPoint( ActualZoneNum ) is used to report the zone set point temperature in the HVAC Sizing Summary. This variable is not set for a dual set point thermostat since it is not yet known

[2015-07-27 13:48] Nigusse commented on #5042
@macumber It is by design that the "Zone Mixing Receiving Air Mass Flow Rate" and "Zone Mixing Source Air Mass Flow Rate" are not reported (set to zero) unless the  ZoneAirMassFlowConservation object is present with "Adjust Zone Mixing For Zone Air Mass Flow Balance" input field set to "Yes".

The variables to look at when the ZoneAirMassFlowConservation object is not present is "Zone Mixing Mass

[2015-07-27 14:11] mjwitte commented on #4893
No, this is the issue that is addressed by PR #5012.  Will review and merge this week.

[2015-07-27 15:16] mjwitte commented on #4997
@rglazer2 You can search the source code for the variable name, e.g. "Surface Outside Face Thermal Radiation to Air Heat Transfer Coefficient" and you will find a SetupOutputVariable function which assigns a variable to that name.

[2015-07-27 15:31] mjwitte commented on #4975
@jonwinkler @ejhw @nmerket Also, I see that the original defect file has hourly output variables so, the occurrence of high supply temp and sup heat operation may not be conincident.  Use "detailed" reporting frequency to see every individual HVAC time step.

[2015-07-27 17:19] Myoldmopar commented on #5046
@kbk78, could you comment if you are the same kbk78 that was working on UnmetHours [here](https://unmethours.com/question/9546/using-plantequipmentoperationoutdoordrybulb-to-control-condenser-equipment/)?  Your profile says you joined on July 25, so it seems that way, but just want to confirm before I start bother another kbk78 :smile:.

For reference, I have a build that appears to work for your

[2015-07-27 21:17] mjwitte commented on #4991
More complaints about Chiller:ConstantCOP in helpdesk ticket 10634.  This autosizing is broken for this chiller. With hard sizes it will work, but any autosized values in this chiller do not get sized (no entries in the eio sizing output).  The first defect file has hard-sized capacity but autosized flow rates.  The second defect file is fully autosized.  Based on the first defect file, this broke

[2015-07-28 12:51] mbadams5 commented on #2930
I'm going to close this for now. SQLite stores everything as text within the engine regardless. Changing the type to [integer or real changes the affinity](https://www.sqlite.org/datatype3.html#expraff), which is useful for comparisons but EnergyPlus doesn't do many (if any) of them. This would also require a massive change to the Tabular Data table. Unless this becomes an issue for more users and

[2015-07-28 12:51] #2930 closed

[2015-07-28 13:51] Myoldmopar commented on #4805
Closed with #5028

[2015-07-28 13:51] #4805 closed

[2015-07-28 16:06] macumber commented on #5042
Thanks @Nigusse .  I think the confusing thing is that those variables are listed under ZoneAirMassFlowConservation's outputs but there is no documentation that they will be 0 if the "Adjust Zone Mixing For Zone Air Mass Flow Balance" is set to "No".  At a minimum we should document that these reports are not generated if the field is set to "No".

http://bigladdersoftware.com/epx/docs/8-3/input-o

[2015-07-28 19:11] kbk78 commented on #5046
I am the same person indeed. Thanks!

Until the next revision is available I am using the following work around: Will run the fluid cooler model for the winter months. Run a separate cooling tower model for the summer months and combine the results from the two runs.

[2015-07-28 21:59] mjwitte opened #5051 "Unit tests not finding IDD on Windows VS build"
@mbadams5 @kbenne EnergyPlusFixture is expecting the IDD to be in the same directory as energyplus_tests.exe which is either Products\Debug or Products\Release, but the generated IDD is up a level in Products.

[2015-07-28 22:56] mbadams5 commented on #5051
@mjwitte I thought I tested on my Windows VM and I know it works on the Windows CI. I'll look into it though and I know how to fix it.

[2015-07-29 15:28] kbenne opened #5053 "Plant Operation Scheme Documentation"
In 01b-InputOutputReference.md, Group – Plant-Condenser Control, ### Operation Schemes (Plant and Condenser)

The documentation is out of date and appears to disagree with code.

It seems that the beginning of that paragraph contradicts the very last sentence.

vs

Consider revising documentation to ensure it is accurate with current code.

It seems even the [development team](https://github.com/N

[2015-07-29 17:01] kbenne opened #5054 "cmake project using out of date policy"
CMake Warning (dev) at CMakeLists.txt:105 (if):
  Policy CMP0054 is not set: Only interpret if() arguments as variables or
  keywords when unquoted.  Run "cmake --help-policy CMP0054" for policy
  details.  Use the cmake_policy command to set the policy and suppress this
  warning.

  Quoted variables like "MSVC" will no longer be dereferenced when the policy
  is set to NEW.  Since the policy is

[2015-07-29 20:30] mjwitte opened #5055 "Review HPWH object structure - HVACDiagram fails with heat pump water heater example"
Helpdesk ticket 10646
Use example file HeatPumpWaterHeater.idf.  HVACDiagram reports:
Error: No node connection found after the following object: ZONE4BHPWHFAN
Likely cause is the way nodes get implied inside the HPWH connections.  There may be a solution within the getonlysinglenode calls to generate a working bnd output for HVACDiagram to draw.
This example file and user's file added as defect f

[2015-07-29 20:39] kbenne commented on #5055
Yes this causes hoops for OpenStudio as well. In OpenStudio base class nomenclature we have HeatPumpWaterHeater as a subclass of ZoneHVACComponent masquerading about with a dual personality of HVACComponent (something that goes on a loop). We avoid multiple inheritance by factoring out the tank itself as the actual plant component and then reassembling all of the node connections in the ism->idf t

[2015-07-29 20:45] mjwitte commented on #5055
@kbenne I think this is different.  On the air side, there is an implied mixer (if I remember correctly) that is not explicitly called out as a component in the HPWH input.

[2015-07-29 20:50] kbenne commented on #5055
Fair enough. I think you are right about the implied mixer on HPWH. Even though I just worked through this in OS the details leave my brain quickly. In any case I agree it is different, but the hoops are still similar enough from an OS point of view. Pardon my interruption while I grumble a little...

[2015-07-29 20:53] mjwitte commented on #5055
@kbenne This is a valid concern that we should think about changing.  The timing is a bit unfortunate as the recent residential HPWH upgrades imposed a significant transition rule, and this might incur yet another.  But if it's causing fits for interfaces, we should figure out a better approach.j

[2015-07-29 20:56] kbenne commented on #5055
at this point changing it would cause more fits for at least one interface :) and I don't exactly have a better alternative formulated yet. I'd have to review my pain points if you really want to get into it more.

[2015-07-29 21:08] kbenne commented on #5055
Taking a quick look to remind myself here is what comes to mind.

The water side node names are duplicated on the HeatPumpWaterHeater object and the tank itself.

https://github.com/NREL/EnergyPlus/blob/develop/testfiles/HeatPumpWaterHeater.idf#L2147
https://github.com/NREL/EnergyPlus/blob/develop/testfiles/HeatPumpWaterHeater.idf#L2213

While the heat pump also references the air side zone nodes

[2015-07-29 21:13] kbenne commented on #5055
I almost hate to point out this abomination, but here is some ugly code to begin with in OpenStudio, regardless of the issues of the heat pump.  And [here](https://github.com/NREL/OpenStudio/blob/8a380637320bbebadaa063d05dbeb0091fec443a/openstudiocore/src/energyplus/ForwardTranslator/ForwardTranslatePlantLoop.cpp#L293) you can see the shenanigans.

And more [shenanigans](https://github.com/NREL/Op

[2015-07-29 21:17] kbenne commented on #5055
@mjwitte gee you crack the door open and see what I do. :)

[2015-07-29 21:20] mjwitte commented on #5055
@kbenne Always good to let vent the frustrations . . .

[2015-07-30 14:16] mjwitte opened #5057 "WaterToAirHeatPumpSimple unit test writes to FOR17.dat file or console output on windows"
On Windows, when running all tests in energyplus_tests.exe, some sizing output is written to FOR17.dat
 Component Sizing Information, COIL:COOLING:WATERTOAIRHEATPUMP:EQUATIONFIT, , Design Size Rated Air Flow Rate [m3/s], 0.20000
 Component Sizing Information, COIL:COOLING:WATERTOAIRHEATPUMP:EQUATIONFIT, , Design Size Rated Total Cooling Capacity [W], 3891.20691
 Component Sizing Information, COIL:

[2015-07-30 17:07] kbenne commented on #5053
I uploaded a defect file to demonstrate that when a component is on two operation schemes at the same time, it is actually the _last_ operation scheme in the list that is applied. Not an error like the last sentence of the documentation suggests, nor is it the first scheme listed that is applied. This is more a documentation issue, although the code's behavior seems a little counter intuitive. Wou

[2015-07-30 20:09] mbadams5 opened #5058 "ReadVarsESO not found through CLI"
When I run EnergyPlus through the CLI on Mac and pass in '-r' to "Run ReadVarsESO after simulation" it doesn't actually find the ReadVarsESO executable. I get the following error...

ERROR: Could not find ReadVarsESO executable: /Applications/EnergyPlus-8-3-0/ReadVarsESO.

That isn't the correct path for the ReadVarsESO executable, which is in PostProcess. If I create a symlink in the location whe

[2015-07-30 20:31] nealkruis commented on #5058
The first thing is definitely a problem and I'll fix it ASAP. With the simlink, do you need to make the link executable? It seems to work for me.

![screen shot 2015-07-30 at 2 30 24 pm](https://cloud.githubusercontent.com/assets/1964570/8994277/a0b2266a-36c7-11e5-8215-54e9271786d7.png)

[2015-07-30 20:41] nealkruis commented on #5058
@mbadams5 @kbenne so this problem isn't caught in the system tests because the "Products" directory structure on the CI is not the same as it is in the installed packages. Is there anything we can do to make the two structures more similar?

[2015-07-30 21:27] kbenne commented on #5058
@nealkruis is it the debug / release sub folder that is causing problems?

[2015-07-30 21:30] nealkruis commented on #5058
No. It's the fact that all of the executables on the CI are placed in the Products directory, and not in the respective "PreProcess" and "PostProcess" directories.

[2015-07-30 21:32] kbenne commented on #5058
ah.  yes we could make the structure match. Frankly id rather see the install structure flattened, but that might get us in trouble

[2015-07-30 21:34] nealkruis commented on #5058
If I search for ReadVars in "[EXE_DIR]" and "[EXE_DIR]/PostProcess" that should cover both the packaged installs and the development testing environment. Does that seem reasonable?

Eventually we should probably build CSV writing into the actual EnergyPlus executable and deprecate ReadVarsESO altogether. (This might be one of my top feature requests)

[2015-07-30 21:36] kbenne commented on #5058
@nealkruis yes.

[2015-07-30 21:50] nealkruis commented on #5058
@kbenne in the meantime, it is probably good to consider mimicking the structure of the installer package as much as possible in the CI so that we can make sure there aren't other similar bugs.

Can we do that with relatively little effort and without messing other things up?

[2015-07-30 21:54] nealkruis commented on #5058
@mbadams5 changed the name since I imagine this problem exists on all platforms as long as ReadVars is in the PostProcess directory.

[2015-07-30 22:10] mbadams5 commented on #5058
@nealkruis honestly the symlink was just to see if I could get it working in the location EnergyPlus was expecting. If you update EnergyPlus to look in the right spots or change the directory structure, that is the better approach. So don't worry about my symlink comment.

[2015-07-31 03:19] kbenne commented on #5058
@nealkruis we can have the build output mirror the install layout. Feels a little atypical to me, but I guess what is mostly atypical is spreading the executables around to various directories in the first place. Take a look at [this](https://github.com/NREL/EnergyPlus/blob/16dbf1db652d8ab5af7057462b456eeb815e6ad4/CMakeLists.txt#L118) which can be set on a per target basis.

[2015-07-31 13:02] mjwitte opened #5060 "EvaporativeCooler objects lack required fields and defaults"
All of the EvaporativeCooler:\* objects lack required-field and default tags (except one type has a required Name field).  Presumably all of the Name and Node Name fields should be required, along with possible others.  All flow rates and capacities should default to autosize.

This came to light from troubleshooting a run with EVAPORATIVECOOLER:INDIRECT:RESEARCHSPECIAL objects where the Secondary

[2015-07-31 13:08] mjwitte commented on #5060
Also, EvaporativeCooler:Direct:ResearchSpecial does not have a field for Primary Air Flow Rate or Pad Area, so how can the pump autosize?
  N3 , \field Water Pump Power Sizing Factor
       \type real
       \units W/(m3/s)
       \note this field is used when the previous field is set to autosize. The pump power is scaled with Primary Air Design Air Flow Rate

[2015-07-31 13:52] mjwitte commented on #5060
So, adding Autosize to the Primary Design Air Flow Rate fields in EvaporativeCooler:Indirect:ResearchSpecial is still resulting in zero for autosized secondary air flow rate, and the primary flow rate is not reporting a size.  Appears that sizing is broken in this particular evap cooler.  Example file DirectIndirectEvapCoolers also has autosized EvaporativeCooler:Indirect:ResearchSpecial objects.

[2015-07-31 13:55] mjwitte opened #5061 "EvaporativeCooler:Indirect:ResearchSpecial does not report Primary Air Flow autosize result"
Example file DirectIndirectEvapCoolers has autosized EvaporativeCooler:Indirect:ResearchSpecial objects. These do not report a primary flow rate size, but they do report non-zero secondary flow rates.

[2015-07-31 18:13] mbadams5 opened #5062 "Running CLI in directory without write permission"
When I run EnergyPlus through the CLI from the /Applications/EnergyPlus-8-3-0 folder it hangs on "Processing Input File".

This is due to my user login not having write permission to that folder. If I run the same command with 'sudo' then it works as expected.

[code]

I think InputProcessor is writing to some temporary file during its processing, which is trying to write to the working directory

[2015-07-31 18:18] #5051 closed, assigned to nobody

[2015-07-31 18:23] mbadams5 opened #5063 "Output folder does not exist and specified location does not have write permission"
This is tangentially related to #5062.

When I run EnergyPlus through the CLI from the /Applications/EnergyPlus-8-3-0 folder AND the specified outputs folder does not exist and the desired location is in a folder without write permission the following error happens.

[code]

It seems like the CLI gets in an infinite loop and eventually stack overflows (!!). There should be better error messages an

[2015-07-31 18:24] DeadParrot commented on #5062
@mbadams5 If it is a scratch file created in the Fortran emulation of ObjexxFCL then it doesn't know about EnergyPlus output directories and has to use its own logic to find a writable location. I'm happy to look at that logic and improve it. Can you tell me where in the code it is trying to create the file and what the directory situation is (current, writable, etc.).

[2015-07-31 18:27] mbadams5 commented on #5062
@DeadParrot I don't have an exact location yet, but that is my (informed) guess. I don't have time to track it down so i'll let @nealkruis do that.

[2015-07-31 18:27] EnergyArchmage commented on #5062
I would guess it is the "eplusout.audit" file that InputProcessor is writing to.

[2015-07-31 18:29] DeadParrot commented on #5062
@mbadams5 so are you running from a current directory that isn't writable to you?

[2015-07-31 18:33] mbadams5 commented on #5062
@DeadParrot correct

[2015-07-31 18:58] mbadams5 commented on #5062
@DeadParrot [Look here](https://github.com/NREL/EnergyPlus/blob/3ed10521c308b40c10bdb45007e9d9573b39f10f/src/EnergyPlus/SimulationManager.cc#L2486), I quickly ran a debug build in a folder without write permission in LLDB and this is where it is (currently) getting hung up.

[2015-07-31 19:10] Myoldmopar commented on #4926
Closed with #5009.

[2015-07-31 19:10] #4926 closed, assigned to mjwitte

[2015-07-31 19:10] Myoldmopar commented on #4615
Closed with #5047

[2015-07-31 19:10] #4615 closed

[2015-07-31 19:44] nealkruis commented on #5063
To clarify a bit: EnergyPlus starts hanging well after the CLI is done processing. This could be a problem in older versions of EnergyPlus as well.

[2015-07-31 19:47] kbenne commented on #5063
@nealkruis the thing is that I don't think older versions had any expectation of working from a read only directory. The installer sets the ExampleFiles directory to writable for this reason. I guess maybe if you were using an ini file?

[2015-07-31 20:32] Myoldmopar opened #5064 "Bad links in Documentation"
A quick pass over the docs found a few bad links.  Here is a list of those found, both successful and failure.  Scroll right if needed to see status.  Because of [this](https://github.com/holman/ama/issues/305), the links to the bad lines show up in `blame` view.

| Filename | Line# | URL | Status |
| --- | --- | --- | --- |
| Acknowledgements.md | [15](https://github.com/NREL/EnergyPlus/blame/dev

[2015-07-31 20:38] DeadParrot commented on #5062
@mbadams5 OK, thanks. This isn't a scratch file and it looks like the eplusout.iperr is something new and the i/o may not be set up quite right. First, if you wrote it to the current directory it during the run why can't you then open it there. Or does it not exist yet when you are trying to open it? It looks like eplusout.iperr may be placed in the output directory instead of locally but this ope

[2015-07-31 21:38] mjwitte commented on #5064
Here's one for CERL
http://www.erdc.usace.army.mil/Locations/ConstructionEngineeringResearchLaboratory.aspx

[2015-07-31 22:14] nealkruis commented on #5062
I think @DeadParrot is right. Somehow this one `gio::open` statement escaped the refactor of raw file names into the new string variables.

[2015-07-31 22:41] mbadams5 commented on #5063
@kbenne I don't know if you intended your comment for this issue or the other issue. Regarding this issue, I think exiting EnergyPlus if the Output directory is read only is valid as long as there is an appropriate error message and no longer a segmentation fault.

[2015-08-03 17:09] mjwitte commented on #4893
Closed via #5012

[2015-08-03 17:09] #4893 closed, assigned to Nigusse

[2015-08-03 20:13] kbenne opened #5067 "Coil:Cooling:WaterToAirHeatPump:VariableSpeedEquationFit inside AirLoopHVAC:UnitarySystem"
A Coil:Cooling:WaterToAirHeatPump:VariableSpeedEquationFit instance placed inside of AirLoopHVAC:UnitarySystem _with_ setpoint control option turned on does not work. That is to say the coil appears to be non participating. This is possibly a sizing issue where the component is not given any capacity, but I have not confirmed. Defect file has been uploaded.

UnmetHours [Post](https://unmethours.co

[2015-08-03 20:51] EnergyArchmage commented on #5067
I concur, ran into this during a recent study and reverted to CoilSystem approach.

Also likely related to #4861 (where VS DX coil has same problem).

[2015-08-03 20:58] EnergyArchmage commented on #5067
Also, this can be affected by #4915 when mixing coil types in the same input file.

[2015-08-04 10:45] JasonGlazer opened #5069 "Remove CalcSoilSurfTemp from EP-Launch"
Since CalcSoilSurfTemp is not going to be part of future versions of the EnergyPlus installer, it should be removed from being available on EP-Launch.

See #5001

[2015-08-04 12:16] Myoldmopar commented on #5069
@jasonglazer, we're building it from source and packaging it that way.

[2015-08-04 12:24] JasonGlazer commented on #5069
@Myoldmopar Sorry, I thought that its functionality was being incorporated into EnergyPlus directly and that the stand-alone program called CalcSoildSurfTemp was being removed.

[2015-08-04 12:24] #5069 closed, assigned to JasonGlazer

[2015-08-04 12:41] mbadams5 commented on #5062
@nealkruis @Myoldmopar @kbenne fyi

https://unmethours.com/question/9920/opening-idf-generated-by-os-using-energyplus/?answer=9929#post-id-9929

[2015-08-04 13:36] Myoldmopar commented on #5069
Although, @JasonGlazer, @mmatts may be able to mark this deprecated with his ground temp work, in which case, I'll now remember to remove from EP-Launch at that point.  So thanks for the reminder.

[2015-08-04 19:40] Myoldmopar opened #5073 "Odd Basement GroundDomain Error"
@mmatts A user found that EnergyPlus was failing using the Site:GroundDomain:Basement object in 8.3.0.

It failed with `FATAL:GetPipingSystemsInput: Preceding input errors cause program termination.` because it said there were blank inputs found.  The user was not using a piping system, so we may have to re-work the error message text since that code has been generalized to slab/basement.
- [ ] Fi

[2015-08-04 19:42] Myoldmopar commented on #5073
@dstuder

[2015-08-04 19:58] mjwitte commented on #5073
@Myoldmopar @mmatts If you decide to proceed with a change to the OSC referencing, I'd rather see the OSC layer removed from the input and allow the ground-domain to be directly referenced in the surface object.  The current referencing is a bit obtuse.

[code]

It would seem to be more direct to reference the grounddomain object directly in the surface.

[code]

[2015-08-04 20:00] mjwitte commented on #5073
@Myoldmopar Transition8-2-0-to-8-3-0 did some mysterious things with Site:GroundDomain:Slab.  Look at the field names that are in example file 5ZoneAirCooledWithCoupledInGradeSlab

[code]

[2015-08-04 20:00] Myoldmopar commented on #5073
Sounds like a step too far to get this bug fixed for the 8.4.0 release, but I agree about stripping out the other side conditions layer from userland.

[2015-08-04 20:01] Myoldmopar commented on #5073
AAAAHHH What?  I know what happened.  I'll fix it separately.

[2015-08-04 20:01] Myoldmopar opened #5074 "Transition 8.2 to 8.3 botched comments in GroundDomain:Slab"
As per @mjwitte [here](https://github.com/NREL/EnergyPlus/issues/5073#issuecomment-127738647)

[2015-08-04 20:05] Myoldmopar commented on #5074
It's because I never [called](https://github.com/NREL/EnergyPlus/blob/develop/src/Transition/CreateNewIDFUsingRulesV8_3_0.f90#L360) `GetNewObjectDefInIDD` when I got to the [Site:GroundDomain](https://github.com/NREL/EnergyPlus/blob/develop/src/Transition/CreateNewIDFUsingRulesV8_3_0.f90#L369) section.  So the object got renamed, and the arguments got translated properly (which is why it flew unde

[2015-08-04 20:10] mjwitte commented on #5073
@Myoldmopar @mmatts Removing the OSC layer could be done as part of the integration of the groundtemp calc utility, right?  'cause that will cause transitions to remove the K-A fields?

[2015-08-04 20:16] Myoldmopar commented on #5073
The problem is deeper than that because the other side conditions model layer sets up the communication between domains, including data structures, input validation.  It's not _just_ the name reference, there's other stuff behind the scenes.

Again, I'd love to see it go, but I think it should be separate.

[2015-08-04 20:17] mjwitte commented on #5073
The internal mechanism could stay there and just be invisible to the user.  But maybe that's asking too much.

[2015-08-04 20:19] Myoldmopar commented on #5073
We are in agreement.  The behind the scenes work would definitely stay.  But I feel strongly that task should stand alone as a cleanup/usability issue in FY16.

[2015-08-04 20:22] Myoldmopar opened #5075 "Remove Other Side Conditions Userland"
Keep the underlying structures, but take away the input side of it.  Directly reference things together instead.  See some conversation [here](https://github.com/NREL/EnergyPlus/issues/5073#issuecomment-127745368)

PS: @mjwitte @mmatts

[2015-08-04 22:51] bachc commented on #4547
Tried the 8.3.3 installer (EnergyPlus-8.3.3-c673d878f0-Windows-x86_64.exe on Windows 8.1 enterprise, 64 bit Intel i7) and am missing MSCOMCTL.OCX when attempting to run EP-Launch. I think this issue might not (yet) be closed.

[2015-08-05 12:34] JasonGlazer opened #5077 "Add capacity tag to UtilityCost:Tariff"
Some utilities charge the customer for their demand during the highest 4 or 5 coincident peak demands that that the utility sees (not the individual building) for the past year. This cannot be easily computed using the existing UtilityCost:Tariff structure and a new field for a schedule of when these coincident peaks occur should be added to one of the UtilityCost objects.

See the article "The Hi

[2015-08-05 13:20] MatthewSteen commented on #5077
+1. For an example, look at Fort Collins' coincident peak...

http://www.fcgov.com/utilities/business/rates/electric/coincident-peak

[2015-08-05 13:49] mjwitte commented on #5077
And here's one that requires two schedules and multiple points. ComEd (Chicagoland) residential real time pricing capacity charge is based on an average of the demand coincident with the five highest PJM System peaks and the five highest ComEd System peaks.  (Nearly impossible as a customer to know when these will happen and adjust.)

From https://rrtp.comed.com/faqs/ "How is the Capacity Charge c

[2015-08-05 18:14] #5064 closed, assigned to Myoldmopar

[2015-08-05 21:19] mjwitte commented on #4844
@rglazer2 This objectlist should be limited to floors only, so this needs a new \reference FloorSurfaceNames.  Add this to
BuildingSurface:Detailed, Floor:Detailed, Floor:GroundContact, Floor:Adiabatic, and Floor:Interzone.

[2015-08-05 22:42] nealkruis commented on #5063
I can confirm that this was also happening with older versions of EnergyPlus (pre-CLI).

[2015-08-06 13:56] #5058 closed, assigned to nealkruis

[2015-08-06 14:10] mjwitte opened #5079 "Add a field for outside reveal to FenestrationSurface:Detailed"
Prompted by helpdesk ticket 10666
EnergyPlus will automatically calculate the outside reveal depth if the plane of a window is not the same as the plane of the wall.  But some tools are unable to define this geometry (forcing the window into the same plane as the wall) and this is a feature that users don't often recognize.  It would be useful to have a field in FenestrationSurface:Detailed that a

[2015-08-06 15:50] mjwitte commented on #4956
Closed via #5065

[2015-08-06 15:50] #4956 closed, assigned to nobody

[2015-08-06 15:51] mjwitte commented on #4997
Closed via #5065

[2015-08-06 15:51] #4997 closed, assigned to nobody

[2015-08-06 18:24] nealkruis commented on #5063
This is happening because all non-zero io status flags result in a call to [ShowFatalError](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CommandLineInterface.cc#L456), which calls to [ShowErrorMessage](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/UtilityRoutines.cc#L1509), which will [check the status of the ERR file](https://github.com/NREL/EnergyPlus/blob/deve

[2015-08-06 18:43] nealkruis commented on #5063
`if (status == 600)` seems to do the trick.

[2015-08-06 22:26] DeadParrot commented on #5063
These are Intel Fortran error codes. They are not standardized in Fortran
(absurd!) but I could put together a list. A non-Fortran i/o package and
non -global file objects would be a good long term goal.

Stuart
On Aug 6, 2015 11:25 AM, "Neal Kruis" notifications@github.com wrote:

[2015-08-07 11:32] mjwitte commented on #4941
The source of the problem is in FindItemInSortedList.  The sort is using different rules than the search and the search is tripping on S_CCFrac which sorts after SYSTEM NODE TEMPERATURE, but the search expects it to be before.

Until the function is fixed, the workaround is to remove the underscore from the Name field in this object:
EnergyManagementSystem:OutputVariable,
    SCCFrac,

[2015-08-07 11:41] mbadams5 commented on #4941
@mjwitte Are you talking about [this](https://github.com/NREL/EnergyPlus/blob/5de76a72808723b57712ca38aff849d1cdd4d75b/src/EnergyPlus/SortAndStringUtilities.cc#L51) when you say "sort" and [this](https://github.com/NREL/EnergyPlus/blob/5de76a72808723b57712ca38aff849d1cdd4d75b/src/EnergyPlus/InputProcessor.cc#L3475) when you say "search"?

[2015-08-07 11:46] mjwitte commented on #4941
@mbadams5 Yes.  The sort is using < to compare, and the search is using lessthani()  They disagree on the order of these strings:
                "SYSTEM NODE TEMPERATURE",
                "SYSTEM NODE WETBULB TEMPERATURE",
                "S_CCFRAC",

lessthani() was introduced as part of a speedup change, but the sort wasn't changed to match.

[2015-08-07 11:54] mbadams5 commented on #4941
@mjwitte It seems like this is a difference between case sensitive and case insensitive sort/search at first glance.

This looks like a good opportunity to refactor to use std::sort() and std::binary_search() instead of these custom functions :smiley: Maybe i'll try something this weekend...

[2015-08-07 12:55] mjwitte commented on #4568
Helpdesk ticket 10673
User: I've attached 2 IDF files. They're identical with the exception of 'Heat Recovery Bypass Control' input in the controller:OutdoorAir.  Neither of these have a heat exchanger or economizer. From what I understand from the I/O reference, this input then shouldn't have any impact on the energy use of a building. However, the heating energy use is ~75% lower when the bypass

[2015-08-07 13:07] rraustad commented on #4568
At around line 4190 in MixedAir.cc there is a test. I suspect this test occurs whether or not a HX exists.

// set the air loop economizer and high humidity control flags.
if ( EconomizerOperationFlag ) {
  if ( OAController( OAControllerNum ).HeatRecoveryBypassControlType == BypassWhenOAFlowGreaterThanMinimum ) {

  // Optional heat recovery bypass control flag uses additional logic to allow ERV

[2015-08-07 13:10] mjwitte commented on #4568
@rraustad If there is no HX present, then it shouldn't matter what the bypass status is set to.  Why does this test change anything?  It should simply set a flag that gets ignored because there is no HX to look at it.

[2015-08-07 13:23] rraustad commented on #4568
I agree with you it should be ignored, but it appears it's not ignored (so I would look here first).

At line 4213:
if ( MixedAirTempAtMinOAFlow <= Node( OAController( OAControllerNum ).MixNode ).TempSetPoint ) {

AirLoopControlInfo( AirLoopNum ).EconomizerFlowLocked = true;

then at line 4236:
if ( AirLoopControlInfo( AirLoopNum ).EconomizerFlowLocked ) {
    OAController( OAControllerNum ).OAMas

[2015-08-07 13:33] rraustad commented on #4568
There is already a way to check for a OAHX, still TBD whether that flag can be used for this fix.

[code]

[2015-08-07 14:24] mjwitte commented on #4568
@rraustad I still contend this should not be necessary.  Something else somewhere is misusing the bypass flag.

[2015-08-07 16:35] JasonGlazer opened #5083 "Degree days for LEED Summary Report Sec 1.1A reversed bases"
The heating and cooling degree days reported in the LEED Summary Report Section 1.1A General Information are reversed.

ASHRAE main weather parameters for determining climate zone are HDD65F and CDD50F, which correspond roughly to HDD18C and CDD10C. What is being reported in the LEED Summary report under Sec1.1A-General Information are HDD10C and CDD18C. So they are reversed. This is a bug and sho

[2015-08-07 16:41] mjwitte commented on #5083
@JasonGlazer In the LEED report, these should also be labeled to indicate the DD base, and the source (standard ASHRAE or based on weather file).  Reference #4820

[2015-08-07 16:51] JasonGlazer commented on #5083
The example file I ran, 5ZoneEndUses using USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw with the stat file present, already shows a label that "HDD and CDD data source" is "Weather File Stat" so the source of the degree days appears to be working.

[2015-08-07 16:56] mjwitte commented on #5083
To me, "Weather file stat" is not clear since the stat file contains both the ASHRAE standard ddays and the ddays calculated from the weather file.

[2015-08-07 17:06] JasonGlazer commented on #5083
Suggestion?

[2015-08-07 17:16] mjwitte commented on #5083
I would mimic what is in the Climatic Data Summary

![8-7-2015 12-13-36 pm](https://cloud.githubusercontent.com/assets/4991075/9141391/e5accf90-3cfd-11e5-8ed6-8b719ff80c79.jpg)

[2015-08-07 17:22] mbadams5 commented on #5063
@DeadParrot Any update? The `if (status == 600)` works for me when testing. If that isn't the appropriate value to check for a permission exception then what is the correct value? Since the CI came back clean, i'd like to keep this moving unless there is a compelling reason to hang on.

[2015-08-07 17:27] JasonGlazer commented on #5083
Maybe it is just my background but "standard" there does not seem appropriate since they are actually from "Climate Design Data 2009 ASHRAE Handbook" and not Standard 169.

How about "weather file" and "ASHRAE Handbook 2009"

[2015-08-07 17:28] mjwitte commented on #5083
Yes, that would be better for both reports.

[2015-08-07 17:54] mjwitte commented on #4568
Defect files have been added.  There is more going on than just the Heat Recovery Bypass Control Type Field.  For 5ZoneAirCooled, I could not reproduce the problem without using the exact Controller:OutdoorAir object shown above (from @kbenne ).

For the user files (check the flow at "Node 47") I did make a variant which removes Controller:MechanicalVentilation for the first system, and the proble

[2015-08-07 18:03] DeadParrot commented on #5063
Out of the office but I think the 600 error is for permission errors so for
now that is prob safe.

Stuart
On Aug 7, 2015 10:22 AM, "Mark Adams" notifications@github.com wrote:

[2015-08-07 21:54] #5062 closed, assigned to nealkruis

[2015-08-07 21:55] #5063 closed, assigned to nealkruis

[2015-08-10 17:21] #4900 closed, assigned to Myoldmopar

[2015-08-10 17:22] #4898 closed, assigned to Myoldmopar

[2015-08-11 14:16] lgu1234 opened #5086 "CO2-Based Proportional Demand Controlled Ventilation based on Design Occupancy Level"
The existing CO2 based proportional demand controlled ventilation is based on scheduled occupancy. Carrier requires that CO2 based proportional demand controlled ventilation is based on design occupancy level due to practical applications. The detailed description is provided in an enhancement item: AirLoop_ProportionalControlDCV_2014-Carrier.docx.

[2015-08-11 14:25] Myoldmopar commented on #5086
Duplicate of #5031.

[2015-08-11 14:25] #5086 closed, assigned to lgu1234

[2015-08-11 14:57] mjwitte opened #5087 "Documentation Issues - August 2015"
- [x] IDD notes for SwimmingPool:Indoor, Surface Name, say
  \note To be matched with a construction in this input file
  should be
  \note Name of the surface where the pool is located.  Must be a floor surface.

[2015-08-11 15:05] mjwitte commented on #4844
Closed via #5078

[2015-08-11 15:05] #4844 closed, assigned to nobody

[2015-08-11 15:06] mjwitte commented on #4941
Closed via #5084

[2015-08-11 15:06] #4941 closed, assigned to mjwitte

[2015-08-11 18:56] EnergyArchmage opened #5089 "Refrigeration:Condenser:WaterCooled does not register water flow size with plant"
from UH, and code inspection.  The input for Refrigeration:Condenser:WaterCooled is not registering the volume flow rate with a call to RegisterPlantCompDesignFlow.  This should be inserted around line 3354 in RefrigeratedCase.cc

workaround is to hard size plant loop and no rely on autosizing plant loop based on condenser water flow

[2015-08-12 16:09] MatthewSteen commented on #4568
+1

[2015-08-12 16:15] mjwitte commented on #4978
Closed via #5019.

[2015-08-12 16:15] #4978 closed, assigned to mjwitte

[2015-08-12 16:36] mjwitte commented on #4883
This is duplicated in #5060 which also adds some other info.  So keep the newer issue.  Closing this one.

[2015-08-12 16:36] #4883 closed, assigned to nobody

[2015-08-12 16:43] mjwitte commented on #5016
Not sure what the threshold is for this, but I would say anything that differs by more than 90 degrees should produce a fatal error message.  And, say, 45-90 degrees can be severe?  Not sure.

[2015-08-12 16:56] mjwitte commented on #4856
A quick search on the IDD finds 27 instances of BiQuadraticCurves.  Need to check all \object-list to be sure they match case with a \reference .

[2015-08-12 17:07] mjwitte commented on #4737
@JasonGlazer Does the new Output:Table:Annual  meet this need?

[2015-08-12 17:09] mjwitte commented on #4709
@MatthewSteen Does the reply by @EnergyArchmage adequately address this issue?

[2015-08-12 17:15] mjwitte commented on #4647
And there are times where this (or a similar) error about possible incorrect version is misleading.  Need to come up with some test files to show.

[2015-08-12 17:19] JasonGlazer commented on #4737
Certainly one approach would be to create a new Output:Table:Annual report for every type of object that consumes energy. That would result in lots of individual tables.  I guess I was envisioning something that looked like the meter report but under each entry would have an indented list of all the components that contributed to that meter and their individual contributions.

[2015-08-12 17:26] mjwitte commented on #4536
@lgu1234 Do you plan to address this issue?

[2015-08-12 17:34] mjwitte commented on #4528
@krishnan-gowri I cannot reproduce this, even with v8.2.0 (before Update 1).  I think this was relaxed at some point along the way.

[2015-08-12 17:36] #4528 closed

[2015-08-12 17:49] MatthewSteen commented on #4709
I was hoping to use these objects to create a table of peak demand by end use for LEED reporting since the LEED Summary incorrectly reports these values at the building's peak (#4588). I've since found this information, albeit somewhat burried, in the Energy Meters standard report.

[2015-08-12 17:49] #4709 closed

[2015-08-12 17:56] Nigusse commented on #4806
The equations were verified and the equations in the code and consistent with the attached document.  This bug issue was marked as complete in pivotal but not in github.  I will close bug issue #4806.

[2015-08-12 17:58] Nigusse commented on #4806
Closed #4806.

[2015-08-12 17:58] #4806 closed

[2015-08-12 19:50] mjwitte commented on #4647
One is where you have too many fields in an object - which could mean a run-on object in the idf, or a bad IDD file.  If the IDD version matches the EnergyPlus version, then it seems the idf should be blamed.

[2015-08-12 21:23] nealkruis opened #5095 "Window frame heat gain not calculated correctly"
There are two issues with the way frame heat gain is calculated:
1. If the interior projection depth is zero, then the interior convection is set to zero. `HInConv` is set to zero [here](https://github.com/NREL/EnergyPlus/blob/9ce4be335f113561dd48f0ff2a781b32c88a4cdf/src/EnergyPlus/WindowManager.cc#L6073) and it is only set to a non-zero value ([here](https://github.com/NREL/EnergyPlus/blob/9ce4be

[2015-08-13 14:17] Myoldmopar commented on #2864
@kbenne I'm closing this as I think it is not relevant to address.  Feel free to reopen if you disagree.

[2015-08-13 14:17] #2864 closed

[2015-08-13 14:17] Myoldmopar commented on #2866
Not going to worry about aligning the idd and io ref order. Closing.

[2015-08-13 14:17] #2866 closed

[2015-08-13 14:19] Myoldmopar commented on #2891
External programs are due for obsolescence; closing this.

[2015-08-13 14:19] #2891 closed

[2015-08-13 14:25] Myoldmopar commented on #3331
@wfbuhl Is this issue (from 2010) being addressed with your current sizing work?

[2015-08-13 14:26] Myoldmopar commented on #3367
@rraustad Is this worth changing?

[2015-08-13 14:30] Myoldmopar commented on #3390
2011 improvement was sufficient.

[2015-08-13 14:30] #3390 closed

[2015-08-13 14:41] Myoldmopar commented on #3566
@hongtz68 Could you take a pass over this issue and see if you feel it has been addressed with the warnings that were added previously, or if it still needs work? If it is complete, could you close the issue?

[2015-08-13 14:45] Myoldmopar commented on #3609
@JasonGlazer I added the 8.4 milestone here, but if you feel this is not relevant anymore or too much for this release, please remove it.

[2015-08-13 14:46] #3619 closed

[2015-08-13 14:53] Myoldmopar commented on #3790
@JasonGlazer I couldn't find the source for this in the repo.  Could you post your latest version of the source and then one of us can try to address this tiny thing?

[2015-08-13 14:54] Myoldmopar commented on #3835
@rraustad Can you confirm whether this has been addressed fully or not?  If so, can you close this?

[2015-08-13 14:55] Myoldmopar commented on #3849
@EnergyArchmage Worth pursuing?

[2015-08-13 14:56] #3947 closed

[2015-08-13 15:01] #3986 closed

[2015-08-13 15:04] #4031 closed

[2015-08-13 15:04] #4044 closed

[2015-08-13 15:05] Myoldmopar commented on #4053
Duplicate of #3630

[2015-08-13 15:05] #4053 closed

[2015-08-13 15:05] #4057 closed

[2015-08-13 15:09] #4123 closed

[2015-08-13 15:14] Myoldmopar commented on #4131
Already done.

[2015-08-13 15:14] #4131 closed

[2015-08-13 15:16] rraustad commented on #3367
Is it worth changing? When latent sizing is added this should address itself. If we never get there, we might consider a lower default.

The question is can we live with complaints about lack of dehumidification capacity (which is easily resolved by entering a value instead of leaving a field blank) or should we consider a change in a default value to serve associated inputs (CoolReheat*). We can'

[2015-08-13 15:16] Myoldmopar commented on #4160
Hey @JasonGlazer if this is relatively simple, it would be nice to address for 8.4.  If not, just change/remove the milestone.

[2015-08-13 15:17] #4169 closed

[2015-08-13 15:17] #4170 closed

[2015-08-13 15:23] EnergyArchmage commented on #3849
I think it is a good suggestion, but more of a luxury to pursue given limited resources. I will lower priority tag.  There are work-arounds in the old files that can now be removed to improve the files.  But there is also value in leaving them unmodified for regression testing across versions, so close it if you want.

[2015-08-13 15:25] #4230 closed

[2015-08-13 15:28] Myoldmopar commented on #4251
I think this particular example was addressed by work by @rglazer2.  Documentation will be overhauled in detail at a later time.

[2015-08-13 15:28] #4251 closed

[2015-08-13 15:29] rraustad commented on #3835
This was a reminder to address all DX systems to allow a heating coil sizing ratio. This was never addressed. Since UnitarySystem (and VRF) does have this input, this can be closed?

[code]

[2015-08-13 15:30] Myoldmopar commented on #4256
@jasondegraw noted that interzone surfaces can be separated to imply thickness.

[2015-08-13 15:47] JasonGlazer commented on #3609
@Myoldmopar It would be a good one to finish up. @mjwitte

[2015-08-13 15:48] JasonGlazer commented on #4160
@Myoldmopar @mjwitte I agree, it would be good to get this one done.

[2015-08-13 15:49] Myoldmopar commented on #4305
Could comment like: Works with version xyz+; if syntax changes, comment will change.

Note: Look at precipitation amounts...

[2015-08-13 15:52] Myoldmopar commented on #4327
@rraustad @ejhw Is this still an issue?  If not, could we close it?

[2015-08-13 15:54] Myoldmopar commented on #4332
I think it is a duplicate.

[2015-08-13 15:57] ejhw commented on #4327
@nmerket Do you know the status of this?

[2015-08-13 16:02] nmerket commented on #4327
@ejhw No, this is the first I've seen of this. Seems like it would be easy enough to fix.

[2015-08-13 16:09] #3835 closed

[2015-08-13 16:09] #3849 closed

[2015-08-13 16:15] ejhw commented on #4327
Looks like @rraustad made the [change for multispeed coils](https://myvpn.nrel.gov/NREL/EnergyPlus/pull/4383/,DanaInfo=github.com,SSL+files). Can someone check if this also need to be done for single speed and variable speed DX heating coils?

[2015-08-13 16:21] rraustad commented on #4327
I no longer see a test for a hard-coded limit in DXCoils. It would have been right here below Number(5). I also searched the rest of the code and didn't find anything. The user can now change the idd as they so choose.

[code]

Closing issue.

[2015-08-13 16:21] #4327 closed

[2015-08-13 16:32] Myoldmopar commented on #4215
Current findings:

[code]

The first three of these have to stay in, but I'll clean up the rest to close this issue.

[2015-08-13 16:51] ejhw commented on #4327
The `Minimum Outdoor Dry-Bulb Temperature for Compressor Operation` input's `\minimum` field in the idd was removed for the multispeed DX coil, so I'd suggest we do the same for all the other instances of that field (looking at the 8.3 release idd):
- `ZoneHVAC:PackagedTerminalHeatPump,` (-20)
- `Coil:Heating:DX:SingleSpeed,` (-20)
- `Coil:Heating:DX:MultiSpeed,` (no minimum)
- `Coil:Heating:DX:Va

[2015-08-13 17:12] Myoldmopar commented on #4332
Yep, duplicate of #4187 and more info over there.  Closing this newer one.

[2015-08-13 17:12] #4332 closed

[2015-08-13 17:16] Myoldmopar commented on #4249
Fixed the links by putting dashes back into their paths.

[2015-08-13 17:16] #4249 closed

[2015-08-13 17:18] rraustad commented on #4327
But the compressor should be off below a minimum temperature limit to protect the compressor (oil migration). The issue here is whether we hard-code a limit or let the idd set that limit (\minimum>x). We chose to let the idd set that limit. This field should not be removed from compression systems. If I did that for multispeed coils, then shame on me.

[2015-08-13 17:31] lgu1234 commented on #4327
The Coil:Heating:DX:MultiSpeed object has a filed of Minimum Outdoor Dry-Bulb Temperature for Compressor Operation as N1. The value check was removed from the code. The idd sets the limit.

[2015-08-13 18:49] nealkruis commented on #4215
Thanks @Myoldmopar! Any thoughts on using @mbadams5 suggestion [here](https://github.com/NREL/EnergyPlus/issues/4215#issuecomment-41934481) for those lines?

[2015-08-13 18:50] ejhw commented on #4327
@lgu1234, I do not see a `\minimum` in the 8.3 idd:

[code]

@rraustad, I'm fine having a minimum in the idd, but it is difficult to anticipate and keep track of technologies that push the limit lower. For example, there are some mini-split heat pump units that do not have a hard minimum outdoor temperature: ["cold climate Mitsubishi Hyperheats are rated down to -13°F and we’ve seen them running a

[2015-08-13 18:51] Myoldmopar commented on #4215
@nealkruis In @mbadams5 recommendation, he actually put the character in there still, just in a comment at the end of the line.  I'm inclined to leave those remaining lines alone for now, since it should be rare that anyone will modify that file.

[2015-08-13 19:01] nealkruis commented on #4215
I was thinking we could replace the character with a description in the comment instead. But your point is valid, this file won't be changing often. Your approach sounds good to me.

[2015-08-13 19:02] mjwitte commented on #4327
@ejhw I think what you meant to say was that we should remove the minimum limit in the IDD (and source if there), not remove the "Minimum Outdoor Dry-Bulb Temperature for Compressor Operation" field, correct?

[2015-08-13 19:04] ejhw commented on #4327
@mjwitte Ah, yes, sorry that's what I meant to say.

If we want to retain a `\minimum` field in the idd, here is a strawman proposal:
- `ZoneHVAC:PackagedTerminalHeatPump,` (-20)
- `Coil:Heating:DX:SingleSpeed,` (-20)
- `Coil:Heating:DX:MultiSpeed,` (-50)
- `Coil:Heating:DX:VariableSpeed,` (-50)
- `AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed,` (-50)
- `WaterHeater:HeatPump,` (-50)

[2015-08-13 19:11] rraustad commented on #4327
The issue here is the performance curves which use a minimum temperature limit on OAT. The curves just maintain a constant output below the minimum temperature limit without the user realizing. Maybe the fix here is something other than \minimum>x in the idd, for example, if the curves are found to extrapolate, or are requesting output out of range of temperatures, then warn the user.

[2015-08-13 19:15] ejhw commented on #4327
I like that idea.

[2015-08-13 19:29] Myoldmopar commented on #4413
Potential relation with #4187

[2015-08-13 19:32] Myoldmopar commented on #4417
@mmatts Is there still an issue here?  If not, please reference the fix and close this.

[2015-08-13 19:43] Myoldmopar commented on #4465
This is fixed.

[2015-08-13 19:43] #4465 closed

[2015-08-13 19:45] wfbuhl commented on #3331
_"So CR 8178 did a variant of 2). Remaining issues are:_

_a) think about implementing 1)_

_b) suggestion 3) also raises an important issue. What, for instance,
should a cooling coil besized on - the max flow with coincident load; or
the max load with coincident flow. Or thenoncoincident max flow and max
load - but does that make any sense?"_

a) We have done nothing about implementing 1), other

[2015-08-13 19:47] Myoldmopar commented on #4471
We'll try to handle traceback later, closing this.

[2015-08-13 19:47] #4471 closed

[2015-08-13 19:48] #4503 closed

[2015-08-13 19:51] Myoldmopar commented on #4508
I'll try to do the source fix approach.

[2015-08-13 19:53] Myoldmopar commented on #4512
This has been addressed separately.

[2015-08-13 19:53] #4512 closed

[2015-08-13 19:54] Myoldmopar commented on #4526
@mmatts Could you address this tiny doc fix?

[2015-08-13 19:56] Myoldmopar commented on #4530
@wfbuhl This is still an issue (at least the IDD field stuff).  Would you be able to address this?

[2015-08-13 19:58] Myoldmopar commented on #4536
@lgu1234 Do you plan to address this issue?

[2015-08-13 20:01] Myoldmopar commented on #4548
@EnergyArchmage With your recent work on beams, can you comment on whether there really is an issue here or if it can be closed?

[2015-08-13 20:03] Myoldmopar commented on #4561
Basement preprocessor is being deprecated; closing this.

[2015-08-13 20:03] #4561 closed

[2015-08-13 20:03] lgu1234 commented on #4536
Yes.

[2015-08-13 20:06] Myoldmopar commented on #4572
@ebonnema Have you encountered this issue again since the last time you commented?

[2015-08-13 20:19] Myoldmopar commented on #4665
@nmerket Has this been fixed already with all the other HPWH work?

[2015-08-13 20:19] Myoldmopar commented on #4665
(If so, please close it @nmerket)

[2015-08-13 20:28] Myoldmopar commented on #4734
Closed with #4743

[2015-08-13 20:29] mbadams5 commented on #4697
@Myoldmopar This issue it still valid. I actually have a branch on my computer to fix this.

[2015-08-13 20:30] Myoldmopar commented on #4746
We aren't doing this for builds anymore, right?  I'm closing.  Feel free to reopen if you want, @kbenne @lefticus.

[2015-08-13 20:30] #4746 closed

[2015-08-13 20:31] Myoldmopar commented on #4776
@lgu1234, you mentioned above you wanted to take this issue.  Are you able to address it?

[2015-08-13 20:33] nmerket commented on #4665
I'll check into it and see if this is still happening. I think I fixed this problem.

[2015-08-13 20:35] Myoldmopar commented on #4793
At our last meeting, we decided to move farther away from creating iteration builds. So I'm closing this, with the hope that soon we can formalize the transition stuff and testing procedures so that iteration builds are more reliable and useful.

[2015-08-13 20:35] #4793 closed

[2015-08-13 20:36] Myoldmopar commented on #4795
@kbenne Was a good solution to this ever found?

[2015-08-13 20:37] Myoldmopar commented on #4802
@Nigusse Could you address this?

[2015-08-13 20:38] Myoldmopar commented on #4814
@lefticus @kbenne Could you comment on this?  I don't think LTO is being used in any builds right now, but the CMake stuff is still in there.  I don't mind just leaving it for later, but maybe we could just have comments here to close this issue.

[2015-08-13 20:38] Myoldmopar commented on #4815
This will be resolved with a project next year.

[2015-08-13 20:41] macumber commented on #4697
This was required for building on Peregrine

[2015-08-13 20:43] Nigusse commented on #4802
yes.

On 8/13/2015 4:37 PM, Edwin Lee wrote:

[2015-08-13 20:46] Myoldmopar commented on #4841
@mmatts I know you were just talking about this, but I can't recall the status.  Can you comment?

[2015-08-13 20:47] Myoldmopar commented on #4846
Fixed with #4937

[2015-08-13 20:47] #4846 closed, assigned to JasonGlazer

[2015-08-13 20:49] Myoldmopar commented on #4853
Please re-test, @mjwitte

[2015-08-13 20:51] mitchute commented on #4841
@Myoldmopar When I tested the file in question with the potential fixed referenced above the heat recovery pump started behaving better: i.e. coming on and off when expected. It caused diffs in other files, though, and I haven't gotten back to looking at them. I'll try to pull a few plots together and post them so we can decide the next step.

[2015-08-13 20:52] Myoldmopar commented on #4863
@nealkruis Didn't this get addressed?  (@kbenne)

[2015-08-13 20:53] Myoldmopar commented on #4871
Yeah, yeah.  Build 8.4 packages a little early to test out and get whitelisted if necessary.

[2015-08-13 20:54] Myoldmopar commented on #4875
@lgu1234 Could you investigate this again to see if you can reproduce the problem?

[2015-08-13 21:00] Myoldmopar commented on #4907
See also #4878.

[2015-08-13 21:02] Myoldmopar commented on #4915
@EnergyArchmage Is this included in the fixes in PR #5101 ?

[2015-08-13 21:02] Myoldmopar commented on #4916
@EnergyArchmage Is this included in the fixes in PR #5101 ?

[2015-08-13 21:07] Myoldmopar commented on #4933
@wfbuhl Is this addressed by your DOAS changes (#5002)

[2015-08-13 21:08] lgu1234 commented on #4875
@Myoldmopar Let me take a look at it.

[2015-08-13 21:09] lgu1234 commented on #4776
@Myoldmopar I will take a look to see whether I can address it or not.

[2015-08-13 21:23] nealkruis commented on #4863
It looks like @nllong changed [his source](https://github.com/NREL-cookbooks/energyplus/blob/cd27286227708639c857cdd9abb552ea525d1d39/providers/default.rb#L89) to conform. I also don't know what the expected "fix" is for this, unless the symlinks aren't working.

[2015-08-13 21:24] Myoldmopar commented on #5042
@mjwitte Try to address with link infiltration work

[2015-08-13 22:22] EnergyArchmage commented on #4915
yes.

[2015-08-13 22:30] EnergyArchmage commented on #4916
yes

[2015-08-14 03:35] Myoldmopar commented on #2834
Quicker reference to condensing boiler references in the repo: https://github.com/NREL/EnergyPlus/search?utf8=%E2%9C%93&q=condensing+boiler

[2015-08-14 11:06] JasonGlazer commented on #4819
I should be able to do this for the 8.4.0 release

[2015-08-14 11:07] JasonGlazer commented on #4410
Already mostly complete so it should be able to be in EnergyPlus 8.4

[2015-08-14 11:31] EnergyArchmage commented on #4927
#5101

[2015-08-14 11:56] lklawrie commented on #4820
Suggestion?  Seems like an error - the ASHRAE Standard part at least.

[2015-08-14 12:01] mjwitte commented on #3367
@rraustad I think part of the problem/confusion is that the same value "Dehumidification Setpoint" is used for both sizing and control (if the Dehumidification Setpoint Schedule is left blank).  I'm OK with lowering the default to an equivalent 50F dewpoint.  And I would be open to changing it to be a variable default dependent on the None/CoolReheat setting.  Do you have an info on typical practi

[2015-08-14 12:03] mjwitte commented on #4820
@lklawrie Good point.  Placed on v8.4.0 priority list.

[2015-08-14 13:42] bachc opened #5105 "MSCOMCTL.OCX missing from 8.3.0 installer?"
Hi there, it seems that MSCOMCTL.OCX might be missing from the 8.3.0 installer:
![clipboard02](https://cloud.githubusercontent.com/assets/2520741/9274992/b3d54864-425f-11e5-93c3-83d6004537c0.png)

I had the problem on a machine with Windows 8.1 Enterprise (64 bit), but it wasn't an issue on a different machine with Windows 8.1 Pro (64 bit). Not quite the same programs installed on both machines, c

[2015-08-14 13:43] #5074 closed, assigned to Myoldmopar

[2015-08-14 15:58] Myoldmopar commented on #4840
So as I mentioned in the initial comment, this might just be the catalyst needed to remove the `runenergyplus` script on Linux.  The `runenergyplus` script still isn't able to get `ExpandObjects` working, but calling `EnergyPlus -x` works fine.  This is simply the opportunity to push closer toward command line operations, _especially_ on Linux.

[2015-08-14 16:58] wfbuhl commented on #4530
Yes

On Thu, Aug 13, 2015 at 12:56 PM, Edwin Lee notifications@github.com
wrote:

[2015-08-14 17:28] mjwitte commented on #2822
As mentioned above, this flag can be used to identify invalid field names for debugging purposes.
! The following is a flag used by developers only to enable
! code that checks if the field names that are written out
! to the expanded.idf file use fields that exist in the IDD.
! It also enables the entire IDD being read instead of only
! the HVACTemplate objects. It will affect speed so it should

[2015-08-14 17:30] Myoldmopar commented on #2822
Dang, that's a nice feature!

[2015-08-14 17:57] mjwitte commented on #4840
@Myoldmopar So, just noticed on Windows, when running a user file, the same warnings about expandobjects not finding the IDD.  Doesn't happen when I run an example file.

[code]

Maybe this should fork over to a separate issue.

[2015-08-14 17:57] mjwitte commented on #4840
It shouldn't need the ini file, it should look in the current working directory and find it, at least when run with ep-launch on windows.

[2015-08-14 18:03] Myoldmopar commented on #4526
Fixed with #5100

[2015-08-14 18:03] #4526 closed

[2015-08-14 22:02] shorowit commented on #4660
FYI, the Rules8-2-0-to-8-3-0.xls transition program also has a bug related to this issue. The transition program removes the "Design Flow Rate" field, whereas best I can tell from looking at the 8.3 IDD, the "Maximum Flow Rate" field was removed and the "Design Flow Rate" field was moved to the location of where the "Maximum Flow Rate" field was.

Anyway, not sure if the E+ team cares about fixing

[2015-08-15 02:22] #3959 closed

[2015-08-15 18:03] mjwitte commented on #4660
@mmatts Please confirm if this is a real issue.  If so, should open a new one.

[2015-08-15 21:54] mjwitte commented on #4866
@rglazer2 I think I found the problem.  When schedules are assembled, the arrays are always set up for 366 days.  So, when accessing a schedule, the leap year flag is essentially always true.  This can be seen here in WeatherManager::SetCurrentWeather (line 2020):

[code]

The main schedule function GetCurrentScheduleValue

Note here that JulianDay is always called with a 1 for the leapyear adder.

[2015-08-15 22:11] mjwitte commented on #4866
@rglazer2 There is one other suspicious use of GetScheduleValuesForDay.
[SystemAvailabilityManager](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SystemAvailabilityManager.cc#L2255) when checking the fan schedule for tomorrow.  I will try to come up with a defect file that shows if this is broken.

[2015-08-15 22:37] mjwitte commented on #5087
- [x] I/O Ref does not have a description of output:variable Availability Manager Optimum Start Control Status @hongtz68 please advise what the description should be.  Is it the same as this one?

**Availability Manager Night Ventilation Control Status []**
A value of 0 indicates the manager is signaling NoAction. A value of 2 means the manager is signaling CycleOn.
_MJW 07 Dec 2015_
Checked the s

[2015-08-15 22:50] mjwitte commented on #4866
@rglazer2 Tried to prove the schedules were broken using variations of OptimalStart_RefBldgLargeOfficeNew2004_Chicago.idf, but so far it looks OK.  So we should leave that code as-is for now.

[2015-08-17 12:32] #4282 closed

[2015-08-17 14:32] jamiebull1 opened #5108 "Incorrect location for RunReadVars"
Running EnergyPlus from the command line interface with the `--runreadvars` flag set raises an error (on Windows 10 with EnergyPlus 8.3):

`ERROR: Could not find ReadVarsESO executable: C:\EnergyPlusV8-3-0\ReadVarsESO.exe.`

The program is looking for `ReadVarsESO.exe` in the wrong place (the `C:\EnergyPlusV8-3-0` rather than `C:\EnergyPlusV8-3-0\Postprocess`.

[2015-08-17 15:11] mjwitte opened #5109 "Problems when Windows users install into c:\Program Files folder or similar"
Helpdesk tickets 10697, 10690, and others
@JasonGlazer @kbenne On Windows, if the installer instructions are ignored and EnergyPlus is installed into a "Program Files" folder (fairly common, because who ever reads those screens?) then EnergyPlus simulations will fail in one of two (or more?) ways.

If EP-Launch is set to "Create BatchFile to run EnergyPlus", then it fails with this error
![image](

[2015-08-17 15:19] MatthewSteen commented on #5108
duplicate of #5058?

[2015-08-17 15:20] mbadams5 commented on #5109
@mjwitte This seems related to both #5080 and #5082. Did you try this with 8.3 Release or current develop?

[2015-08-17 15:25] JasonGlazer commented on #5109
The long term solution is to migrate to a more windows friendly set up that puts working directories and the results of simulations into normal "my documents" directories. It would take some reworking of the installer and EP-Launch but it is probably the right thing to do.

Short term, we can certainly add some tests in EP-Launch if temporary files cannot be created put out more useful error messa

[2015-08-17 15:48] jamiebull1 commented on #5108
Ah yes. Looks like it. So it will be fixed and I can workaround for now by copying `ReadVarsESO.exe` into the EnergyPlus root?

[2015-08-17 15:56] MatthewSteen commented on #5108
@jamiebull1 I would think so, although I haven't run EP yet using the CLI.

[2015-08-17 16:09] #5108 closed, assigned to nobody

[2015-08-17 16:09] jamiebull1 commented on #5108
@MatthewSteen Yes, that works fine.

[2015-08-17 16:19] mjwitte commented on #5109
8.3 release.

[2015-08-17 16:22] mjwitte commented on #5109
Will let you know in an hour or two if current develop is the same.  I don't expect any change.

[2015-08-17 16:50] lefticus commented on #4814
It's probably fine to pull them out. IMO, make a tag or something to make the last code that had them in, so we have a reference point if we decide to take another stab at it in the future.

[2015-08-17 17:00] nmerket opened #5110 "HPWH Rated Coil Bypass Factor being calculated at simulation elevation instead of sea level"
When a heat pump water heater is used at anywhere at elevation, the `StdBaroPress` for that elevation is used to calculate the rated coil bypass factor for that unit when it should use the barometric pressure at sea level.

[code]

@jmaguire1

[2015-08-17 17:01] mitchute commented on #4841
@Myoldmopar @mjwitte When I was tracking this down earlier this year [this flag](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/PlantManager.cc#L4126) looked to be wrong. Below are a few plots I pulled together changing this flag from NeedyAndTurnsLoopOn, to NeedyIfLoopOn and TakesWhatGets. For reference, in this file there is a heat recovery pump running between the microturbine a

[2015-08-17 17:04] mjwitte commented on #5110
Hmm, not sure that would be consistent with the general standard air density assumptions in EnergyPlus which generally use the standard barometric pressure at the local elevation.  Have you found anywhere in EnergyPlus that uses sea level?  @rraustad ?

[2015-08-17 17:12] nmerket commented on #5110
I'm sorry, I was not clear in my description. This is only a problem when calculating the _rated_ CBF because they're rated at sea level barometric pressure. In operation it should, of course, use the barometric pressure at altitude.

[2015-08-17 17:24] mjwitte opened #5111 "Preparing a Release Package wiki page updates needed"
@kbenne @lefticus This [wiki page](https://github.com/NREL/EnergyPlus/wiki/Preparing-a-Release-Package) is out of date regarding documentation.  Still talks about grabbing pdf files from EnergyPlusBuildSupport.

But main question here is how to build a full package locally.  On Windows, cmake is complaining
`No GITHUB_TOKEN found in environment; package won't be complete`
What is it looking for?

[2015-08-17 17:33] mjwitte commented on #5110
My question still stands, because EnergyPlus reports many other _rated_ values.  e.g. Rated Sensible Heat Ratio.

[2015-08-17 17:33] Myoldmopar commented on #5111
So we are still getting pdfs from BuildSupport.........I don't want to talk about it.

On the GITHUB_TOKEN issue, that is just there for generating the changelog.  Easy enough to add comments over there.

[2015-08-17 17:54] mjwitte commented on #5111
@Myoldmopar Thanks.  Other issues were preventing a complete package from building - cmake was confused by two versions of Python on my machine (2.6 and 2.7) so uninstalled 2.6, deleted cache, and reconfigured and now got a complete package.

[2015-08-17 17:56] mjwitte commented on #5109
@mbadams5 Confirmed, same behavior with current develop (as of a couple of hours ago anyway).

[2015-08-17 18:56] jmaguire1 commented on #5110
I'm not sure I follow your question. If EnergyPlus is doing a calculation using the rated humidity and air temperature, why wouldn't you also use the rated air pressure?

[2015-08-17 18:57] mjwitte opened #5112 "Array bounds error with Controller:MechanicalVentilation and no DesignSpecification:OutdoorAir objects"
Helpdesk ticket 10710
User file crashes with empty error file.  Running in debug mode reveals array bounds error [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/MixedAir.cc#L3239) in MixedAir.cc

This should be legal, but the code for Controller:Mechanical is written such that is assumes there will be some DesignSpecification:OutdoorAir objects present.  From the I/O Ref:

_F

[2015-08-17 19:04] mjwitte commented on #5110
_Rated_ can mean a lot of different things.  In EnergyPlus, Rated Air Volume Flow Rates get converted into mass flow using the standard density at the local elevation (not sea level).  So, right or wrong, if all the rated values are to be consistent with each other, it seems the rated CBF should also be at the local elevation.  But I'm not 100% certain about this, so will wait for @rraustad or @Ni

[2015-08-17 19:14] mitchute commented on #4660
Looks like there are some errors in it. I'll open a new issue.

[2015-08-17 19:16] rraustad commented on #5110
The DX coil is rated at standard pressure, which is hidden in the mass
flow rate conversion:

DXCoil.RatedAirMassFlowRate = DXCoil.RatedAirVolFlowRate \*
PsyRhoAirFnPbTdbW( StdBaroPress, RatedInletAirTemp, RatedInletAirHumRat,
RoutineName );
Then the coil gets sized based on sizing data and this air mass flow rate.

StdBaroPress = 101325.0; (this does not get converted based on elevation)

On 8/17

[2015-08-17 19:17] mitchute opened #5113 "Rules8-2-0-to-8-3-0.xls transition errors for GroundHeatExchanger:Vertical"
Referencing issue #4660 for more description.

[2015-08-17 19:28] mjwitte commented on #5110
@rraustad That's what it is initialized to in DataEnvironment.cc, but WeatherManager changes it

[code]

[2015-08-17 19:40] mjwitte commented on #5112
@kbenne Note the user indicated that this defect file came from OpenStudio.  May need to add some checks in OpenStudio.

[2015-08-17 19:44] rraustad commented on #5110
OK, I missed that in the search.

On 8/17/2015 3:28 PM, Michael J. Witte wrote:

##

Richard Raustad
Florida Solar Energy Center
1679 Clearlake Road
Cocoa, FL 32922
Ph: (321)638-1454
http://www.fsec.ucf.edu/en/

Program Director
Electric Vehicle Transportation Center
http://evtc.fsec.ucf.edu/

[2015-08-17 19:46] kbenne commented on #5112
Only skimming here, but the most common issue involves some known OS "quirks". I'm using the polite term here. In any case the Andrew documented these common issues [here](https://unmethours.com/question/1566/severe-error-caused-by-controller-mechanical-ventilation-openstudio-150/). I've never heard about any of those things crashing E+ though. Could be something else entirely going on here. Thank

[2015-08-17 19:57] mjwitte commented on #5112
@kbenne Sort of similar, but different.  The controller:mechanicalventilation object in this case looks like this.

[code]

[2015-08-17 20:02] rglazer2 commented on #4866
@mjwitte Thanks. Your suggestion fixed the problem with sky temp. I will create the pull request now.

[2015-08-17 20:27] nmerket commented on #5110
Yes, and when I put it in the debugger, it's definitely the modified version from the weather manager.

[2015-08-17 20:35] EnergyArchmage commented on #5110
I just ran into this today and ended up using this locally

Psychrometrics::PsyRhoAirFnPbTdbW( 101325.0, 20.0, 0.0);

[2015-08-17 20:39] mjwitte commented on #5110
@EnergyArchmage Why?  Searching for 101325 reveals quite a few places where this is being used.  Seems we should have a constant for StdBaroPressSeaLevel (or such) so it's clear when one is being used vs the one at elevation.  But when is it right to use sea level vs local elevation and is this being done properly everywhere.

[2015-08-17 20:44] rglazer2 commented on #4627
@mjwitte If you simply remove the check for Setpoint at Outdoor Low Temperature to be higher than the Setpoint at Outdoor High Temperature on line 4534 in SetPointManager.cc, and then run EP, eventually the simulation will call abort(). As mentioned above, should we leave alone the check and just make it throw a severe error? Or something else?

[2015-08-17 20:52] EnergyArchmage commented on #5110
I agree, if it existed in a general place I would use it.

[2015-08-17 20:57] mjwitte commented on #4627
@rglazer2 Not sure.  What's in the error output in that case?

[2015-08-17 21:13] rglazer2 commented on #4627
@mjwitte The error file doesn't seem to show any fatal errors in that case. There are several warnings shown, and then the last lines of the error files are:
   ************\* Testing Individual Branch Integrity
   ************\* All Branches passed integrity testing
   ************\* Testing Individual Supply Air Path Integrity
   ************\* All Supply Air Paths passed integrity testing
   **

[2015-08-17 21:17] mjwitte commented on #4627
@rglazer2 So, where is abort being called from?

[2015-08-17 21:28] rglazer2 commented on #4627
@mjwitte I'm not sure, it seems to be getting through SetPointManager.cc just fine from setting up some break points. It is some time later in the simulation that abort is called.

[2015-08-17 21:34] Alex-Blue opened #5115 "HRV/Economizer lockout"
It would be good to get clearer documentation on economizer lockouts and HRV controls, and what it means for the economizer to be "active."
- Controller:OutdoorAir has a control for Heat Recovery Bypass Control Type. The two options are BypassWhenWithinEconomizerLimits and BypassWhenOAFlowGreaterThanMinimum
- The HeatExchanger:AirToAir:SensibleAndLatent object also has an Economizer Lockout Yes/No

[2015-08-17 21:54] mjwitte commented on #5115
@Alex-Blue The short answer is the economizer is active when it's within all of it's limits _and_ the economizer control type indicates the economizer is not off.  e.g. if it's DifferentialDryBulb then it is active when ODB<ReturnAirTemp and none of the other limits (if any) are exceeded.  Will clarify this in the docs under "Heat Recovery Bypass Control Type".

The other concerns are related to #

[2015-08-17 22:00] nmerket commented on #5110
Just created a new branch and pull request #5116 with:
- `StdBaroPressSeaLevel` as a global constant.
- A default function parameter to `CalcCBF` to be called with a different barometric pressure when it is necessary that defaults to the current value of `StdBaroPress` otherwise.
- An updated ratings calc for heat pump water heaters using `StdBaroPressSeaLevel` instead of `StdBaroPress`.

[2015-08-17 23:06] nmerket commented on #5039
@DeadParrot In all your free time, is there any way you could take a look at this and tell me where the hot spots are? [this is a good test file to use](https://github.com/NREL/EnergyPlus/blob/develop/testfiles/WaterHeaterHeatPumpWrappedCondenser.idf).

[2015-08-17 23:27] DeadParrot commented on #5039
@nmerket I will run it through the profiler and post the results.

[2015-08-18 01:40] DeadParrot commented on #5039
@nmerket That case doesn't run for me with current develop (running against an 8.3.3 installation). I get:

[code]

[2015-08-18 13:49] EnergyArchmage commented on #5110
As to when, I now believe it can be technically correct to use a non-elevation adjusted density and pressure in certain special situations when converting "catalog" type, rated performance data that are expected to be given for sea level.  Because to do otherwise is to ignore that catalog data are (typically) only given for sea level, and the less dense air at elevation does impact performance.  O

[2015-08-18 13:54] mjwitte commented on #5039
@DeadParrot Should work with current develop. Looks like the IDD file may be out of date.

[2015-08-18 13:57] DeadParrot commented on #5039
@mjwitte Thanks. If 8.3.3 is too old I'll build a package of current develop and run against that.

[2015-08-18 14:02] mjwitte commented on #5110
Good points.  It seems that capacities also need to be scaled in a similar manner.  If one hard sizes the flow and capacity at a given speed, for example, if both are assumed to be at sea level, then the capacity corresponds to that higher mass flow rate and should be derated when the simulation adjusts that to a smaller mass flow rate due to elevation.

[2015-08-18 14:06] mjwitte commented on #5039
@DeadParrot That will work, or you can simply update the IDD with the one that gets built when you build EnergyPlus.  On Windows that shows up in Build\Products when you build EnergyPlus in VS.

[2015-08-18 14:07] #4840 closed, assigned to Myoldmopar

[2015-08-18 14:42] nmerket commented on #5039
@DeadParrot yes, this was a fairly recent addition, so it may not be in your build yet.

[2015-08-18 14:46] DeadParrot commented on #5039
@mjwitte @nmerket OK, if swapping in the IDD will suffice I'll go with that. I'll get that running this AM.

[2015-08-18 14:49] nllong commented on #4863
we don't need to fix this on e+ side.

[2015-08-18 17:21] ejhw opened #5118 "Custom meters assigned to a custom meter are read as all zeros"
It would be nice to allow this functionality, but at a minimum this should trigger a warning and be mentioned in the documentation.

8.3 defect file illustrating issue: https://gist.github.com/ejhw/06541ff6e4ecbb2f8bc9

cc @nmerket

[2015-08-18 17:23] mjwitte opened #5119 "Mismatched branch flow rate can cause incorrect outdoor air flow rates"
Helpdesk ticket 10685,
User file had autosized branch flow rate, but hard flow rates for other system flows.  This resulted in higher OA flow rates than expected, because the branch autosized to 1.32 but the system flow elsewhere was 4.44.

This is directly related to #3001 which added a check to warn if the branch flow rate was _higher_ than the system flow rate, but there is not check for the re

[2015-08-18 19:36] Myoldmopar opened #5120 "Reverse DD failures"
These files show some diff on reverse design day testing.  It looks like there are some common themes, so a big chunk of them might be addressed with a small fix.  If we need to break these out into individual issues, that's fine.  This is more a placeholder to start investigating them.
- 1ZoneDataCenterCRAC_wPumpedDXCoolingCoil.idf
- 2ZoneDataCenterHVAC_wEconomizer.idf
- 5ZoneAirCooledWithCoupled