[2018-12-14 17:43] shorowit opened #7104 "E+ 9.0 - huge change in energy due to Kiva"
Issue overview
--------------
In testing a large number of residential buildings between E+ 8.9 and E+ 9.0, we found a huge energy discrepancy (for a small subset of buildings) that seem to be caused by Kiva changes in E+ 9.0.

IDF files: [kiva.zip](https://github.com/NREL/EnergyPlus/files/2681143/kiva.zip)

We also tried setting the emissivity of the foundation walls to zero to remove radiation h

[2018-12-17 17:51] shorowit opened #7106 "ERV load not met by UnitarySystem"
Issue overview
--------------
We've done a number of tests with ERVs and found a situation where the ERV load is not being met by the unitary system.

  | ERV first | ERV last | No ERV
-|-|-|-
1.idf | 104.24 (bad) | 104.23 | 73.68
2.idf | 110.54 | 104.23 | 73.68

[1.idf](https://github.com/NREL/EnergyPlus/files/2687245/1.idf.txt)
[2.idf](https://github.com/NREL/EnergyPlus/files/2687246/2.idf.txt)

[2018-12-17 17:55] Myoldmopar opened #7107 "Kiva Build Warnings on new Mac Builds"
Issue overview
--------------
Missing virtual destructor warnings revealed with new compiler toolchain:

http://nrel.github.io/EnergyPlusBuildResults/EnergyPlus-e3100ba0da2238762ca7d2385bf7b0b4ab2333f7-x86_64-MacOS-10.13-clang.html#build

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate buil

[2018-12-19 11:40] Myoldmopar commented on #7107
Closed via #7105

[2018-12-19 11:40] #7107 closed, assigned to nealkruis

[2018-12-19 11:40] #7088 closed, assigned to nealkruis

[2018-12-19 14:37] mjwitte commented on #7026
- [x] Engineering Reference, "Photovoltaic Thermal Flat-Plate Solar Collectors", this sentence:

Should be changed to:

.

[2018-12-20 15:29] mjwitte commented on #6442
@rraustad Yeah, SI and IP vesrions of IPLV do seem unnecessary, but that's been stable so let's keep that as-is.

Similar conversion errors were present in the "VAV DX Cooling Standard Rating Details" subtable for capacity and airflow (headings were changing to IP, but the values did not). This subtable only gets produced for air-cooled Coil:Cooling:DX:TwoSpeed.

[2018-12-20 20:40] mjwitte opened #7109 "Ideal loads sizing and/or cooling capacity limit issue"
Issue overview
--------------
Unable to get the max value of "Zone Ideal Loads Supply Air Total Cooling Rate" to match the autosized value for "Design Size Maximum Total Cooling Capacity" when running the design day simulations. Note how the zone temperature in Space1-1 goes a little above the setpoint in the afternoon.  There appears to be an issue with the way the capacity limit is applied when

[2018-12-20 20:44] shorowit opened #7110 "Zone over-conditioned when using UniformLoad (AirLoopHVAC + IdealLoadsAirSystem)"
Issue overview
--------------
I'm doing testing on a simple residential building (one conditioned thermal zone) served by either zonal or airloop HVAC equipment. My tests involve adding a ZoneHVAC:IdealLoadsAirSystem to the model with the expectation that the energy use of the original HVAC system is cut in half (because there are now two HVAC systems w/ UniformLoad scheme).

All simulations were

[2018-12-20 21:44] mjwitte commented on #7110
Likely related to #7106

[2018-12-20 22:20] shorowit commented on #7110
Ah yes, it very well could be. I hope so!

[2018-12-21 11:27] tkdogan commented on #6528
Hi Michael - thanks for your elaboration here and on [UnmetHours](https://unmethours.com/question/35984/ep901-crashes-when-external-shading-is-imported-from-file/?answer=36055#post-id-36055).

I am adding a reply to this thread to put in a requests to improve the implementation of this feature:

(1) Currently the ShadowCalculation override only considers direct sunlight. It would be great if in th

[2018-12-21 13:42] mjwitte commented on #6482
Additional comments from @tkdogan moved here from [6528](https://github.com/NREL/EnergyPlus/issues/6528#issuecomment-449364174). Reference also [UnmetHours 35984](https://unmethours.com/question/35984/ep901-crashes-when-external-shading-is-imported-from-file/?answer=36055#post-id-36055)

I am adding a reply to this thread to put in a requests to improve the implementation of this feature:

(1) Cur

[2018-12-21 13:44] mjwitte commented on #6528
Above comment copied to [6482](https://github.com/NREL/EnergyPlus/issues/6482#issuecomment-449391682).

[2018-12-26 22:55] mjwitte opened #7111 "Chiller always requests full condenser flow regardless of flow mode or pump type"
Issue overview
--------------
User file with `Chiller:Electric:EIR` always requests full condenser flow rate, regardless of chiller flow mode, with variable speed towers and variable speed condenser pump.
Should this happen?
If so, should there be an additional flow mode to allow variable flow condenser?

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.

[2019-01-03 21:43] #6949 closed, assigned to nobody

[2019-01-03 21:43] #7067 closed, assigned to jmarrec

[2019-01-03 21:45] Myoldmopar commented on #6937
#7068 fixed some aspects of this by properly reporting a name for the run period.  This isn't closed yet though, as @jasondegraw really wants the name itself to be required.  This will require transition rules, so will be addressed separately from #7068.

[2019-01-03 22:23] mjwitte commented on #4643
This relates to #6530

[2019-01-04 14:31] Myoldmopar opened #7115 "Compiler Warnings with GCC 8.2.0"
Issue overview
--------------
Upgraded my system and now I get some compiler warnings like:
[code]

I'm likely to just mute this warning since it is only occurring inside this third_party code, but I wanted to at least bring it up so @DeadParrot could evaluate whether it needs to be more properly addressed or not.  **Actually**, it looks like the fix is in fact already implemented in #6902, but th

[2019-01-04 16:06] DeadParrot commented on #7115
@Myoldmopar I don't see any problem cherry picking updates from #6902. The qualifiers were just for intent clarity.

[2019-01-05 13:47] #7115 closed, assigned to nobody

[2019-01-07 16:43] jmarrec opened #7117 "Overly strict get input in ElectricEquipmentITEAirCooled"
Issue overview
--------------

The object has a choice field `Air Inlet Connection Type`.

Field A15 and A16 are two curves that per IDD are only used if the above connection type is `AdjustedSupply`, and if omitted should default to always 1.0, but if you see your object to AdjustedSupply and omit these two, E+ Fatals out.

See portion of code in [InternalHeatGains.cc#L3778:L3798](https://github.

[2019-01-07 16:44] xwanguk opened #7118 "Cannot Produce I/O doc statement on EvaporativeCooler:Direct:ResearchSpecial Water Pump Modifier Curve"
Issue overview
--------------
I/O documentation section 1.50.2.1.8 Field: Water Pump Power Modifier Curve Name states that:

This alpha input field is the name of a dimensionless normalized pump power modifying curve. This curve modifies the pump electric power in the previous field by multiplying the design power by the result of this curve. The normalized curve is a function of the primary air f

[2019-01-07 16:47] mjwitte commented on #7117
@jmarrec I think this is a duplicate of #7037 which was fixed in #7051.

[2019-01-07 16:49] jmarrec commented on #7117
Nice. Thanks for the link, I searched for "ElectricEquipmentITEAirCooled" and missed this one. tested that my file runs with current develop.

[2019-01-07 16:49] #7117 closed, assigned to nobody

[2019-01-08 13:24] Myoldmopar opened #7119 "Release build compiler warning"
Issue overview
--------------
I only noticed them during a release build.  I believe the debug build is clean now.

[code]

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform: Ubuntu 18.10 (GCC 8.2.0)

[2019-01-08 22:52] mldichter opened #7121 "Typo in IO Reference 9.0"
![storagew](https://user-images.githubusercontent.com/39242689/50863872-0ba4ac00-1355-11e9-9fa1-12dce71f50ed.PNG)

[2019-01-09 16:54] mldichter opened #7122 "2 Typos In IO Reference 9.0 page 1012"
![1012 typos](https://user-images.githubusercontent.com/39242689/50914713-06467080-13ec-11e9-8c47-2a2bb29f9f24.PNG)

[2019-01-09 17:18] mjwitte commented on #7122
Thanks, if you find any more, please just keep adding to this one as an additional comment.

[2019-01-10 15:41] EnergyArchmage commented on #6905
Because of the timing of original development, the original VS Merkel Cooling Tower model did not get the final coding patterns used for to sizing reporting that include both design and user sizes (and possible warnings) nor both initial and final sizes when running HVAC Sizing Simulations.  Additionally there was a coding problem with recurring error messages related to air flow ratio warnings th

[2019-01-10 17:14] #6442 closed, assigned to jmarrec

[2019-01-10 17:40] Myoldmopar commented on #7119
Partially fixed with #7120 but not entirely.  Remaining build warnings in release build for me:

[code]

[code]

[code]

[2019-01-10 21:55] #5260 closed, assigned to nobody

[2019-01-10 21:55] #7047 closed, assigned to nobody

[2019-01-10 21:55] #7061 closed, assigned to nobody

[2019-01-10 23:06] xuanluo113 commented on #6947
@mjwitte I checked the documentation and it seems the original documents are merged.

https://bigladdersoftware.com/epx/docs/9-0/engineering-reference/hybrid-model.html
https://bigladdersoftware.com/epx/docs/9-0/input-output-reference/group-hybrid-model.html

source code at

https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-hybrid-model.tex
https://githu

[2019-01-10 23:11] mjwitte commented on #6947
Per @Nigusse above "there's no line in overview.tex to input the new file into the document"

[2019-01-11 12:42] EnergyArchmage opened #7125 "Plant SetComponentFlowRate not properly scanning components in series active branches"
Issue overview
--------------
While debugging a separate issue with a chiller plant with parallel branch pumps and chillers, noticed in the debugger that there is a small coding mistake in two places in SetComponentFlowRate where the routine is not properly sweeping component inlet nodes down a series branch.  The for loops should be using this_comp instead of comp here:

https://github.com/NREL/E

[2019-01-14 17:23] rraustad opened #7127 "VRF Model does not use EIR boundary curve to evaluate EIR performance curves"
Issue overview
--------------
Unmet hours [question](https://unmethours.com/question/36640/vrf-performance-curve-eir-boundary-temperature/?answer=36642#post-id-36642) identified an issue with the VRF model where the EIR boundary curve is not used to calculate the EIR performance curve modifier.

Relevent code is:

            // recalculate cooling Cap and EIR curve output if using boundary curve

[2019-01-15 21:04] rraustad commented on #6905
I ran the defect file and the Merkel example file.

The CoolingTower_MerkelVariableSpeed example file looks correct except that the tower design water flow rates don't add up to the condenser plant flow nor the pump flow.

![coolingtower_merkelvariablespeed](https://user-images.githubusercontent.com/5778156/51209632-b03b6680-18de-11e9-9816-49ff93454139.jpg)

The defect file had an issue where some

[2019-01-16 22:00] #6350 closed, assigned to jmarrec

[2019-01-16 22:00] #6469 closed, assigned to jmarrec

[2019-01-17 15:29] mjwitte opened #7128 "Daylighting is broken for complex fenestration with a shading layer"
Issue overview
--------------
1. Daylighting illuminance values are all zero for complex fenestration with a WindowMaterial:ComplexShade and SplitFlux method. Problem was introduced in v9.0, most likely in #6855 but that has not been confirmed.

2. Example files CmplxGlz_Daylighting_SouthVB45deg.idf and CmplxGlz_Daylighting_SouthVerticalVB45deg.idf both have `Daylighting:Controls` "Fraction of Zon

[2019-01-18 00:28] mldichter opened #7129 "Pump referenced by TemperingValve must be placed before TemperingValve in plantloop is missing in documentation"
Found this out by trial and error here. https://unmethours.com/question/36680/temperingvalve-object-not-recognizing-outlet-node-of-pump-object/?answer=36704#post-id-36704

Easy fix is to explicitly state in the IO Reference where the supply side pump must be relative to the TemperingValve object in the plantloop. Nicer solution would change the code to look for the pump object before and after the

[2019-01-19 12:17] jluttine opened #7131 "Building from source only"
This is a question, not a bug report. I didn't figure out where I should ask, so I decided to ask here. Sorry for the noise on your issue tracker..

I noticed that there are some binaries in the repo as explained here: https://github.com/NREL/EnergyPlus/blob/develop/bin/README.md

Is it possible to either
- build and use EnergyPlus without these binary files
- build these binaries from source myse

[2019-01-19 12:45] jluttine commented on #7131
Also, there seems to be `Products/libsqlite.a` and other `Products/*.a` files. I suppose these are binary files needed when compiling on Linux. Are there still some other binaries in the repo that are used and is there a way to not use them?

[2019-01-21 14:33] JasonGlazer opened #7132 "Lower strictness in zone volume calculations for gbXML sourced files"
A draft study showed that one issue that EnergyPlus had when importing Revit data (via gbXML and OpenStudio) is that the zone volumes could not be computed because Revit exported the coordinates assuming thickness and EnergyPlus expects the wall coordinates to exactly match to be considered fully enclosed.

 - Version of EnergyPlus (either 8.9 or 9.01)

The Georgia Tech report is in DevSupport

##

[2019-01-21 15:36] Myoldmopar commented on #7132
So what's the expectation for a fix here?  That EnergyPlus be less lenient about the enclosed zone calculations?  Or that EnergyPlus somehow seam the surfaces together to make a zone?  My gut reaction is that the data is simply not valid for EnergyPlus.

[2019-01-21 15:41] JasonGlazer commented on #7132
I'm not sure, but my first impression is that surfaces should be "pulled in" toward the centroid until they end up forming an enclosed space (without "leaks") and calculate the corresponding volume.

[2019-01-21 15:44] jasondegraw commented on #7132
I don't think that "pulling in" is going to work except in very simple cases. I don't recall off of the top of my head if gbXML has a way to store a precomputed volume value, but that's probably going to be the best solution.

[2019-01-21 15:45] Myoldmopar commented on #7132
That seems like we are reaching outside of the responsibilities of the simulation engine.

[2019-01-21 15:48] JasonGlazer commented on #7132
That was one of the reasons I wasn't sure if this should be considered a defect or not.

[2019-01-21 15:50] Myoldmopar commented on #7132
Understood, and I didn't intend to shut the idea down, just thinking outloud.  I don't want to keep people from trying to get stuff into E+, so if there is anything we can do to make E+ more amenable, it would be great to keep discussing, as long as it is appropriate for the simulation engine itself.

[2019-01-21 15:55] jasondegraw commented on #7132
Looked it up, gbXML can represent the volume apart from what E+ can calculate (looks like the easiest way is via spaces), so it should be possible to avoid geometric heuristics with the right input.

[2019-01-21 15:58] JasonGlazer commented on #7132
I requested the files from the draft report. If they include the calculated volume input from Revit that would be the simplest solution. Although if they do, it should already be working that way.

[2019-01-21 16:03] jasondegraw commented on #7132
I'm on my phone, so I could be misreading the schema, but it looks like "volume" is a required element in "space", so the information should be there. If that's the case, then we should close this issue and possibly raise it with OpenStudio.

[2019-01-22 16:03] jasondegraw commented on #7131
@jluttine Yes, it is possible to build and use EnergyPlus without those binary files. There are a couple that will make certain things easier, and there are descriptions of the programs in the Auxiliary Programs document (see https://energyplus.net/documentation). But fundamentally these are separate programs from the engine.

For further assistance, UnmetHours (https://unmethours.com) or the help

[2019-01-22 16:03] #7131 closed, assigned to nobody

[2019-01-22 16:29] mldichter opened #7133 "Feature Request: Generate Warning when a WaterUse:Equipment object has a target temperature is below water temperature"
Issue overview
--------------
In the FullServiceRestaurant model created by the Create DOE Prototype Building BCL measure, one of the WaterUse:Equipment objects has a target temperature of 15.5F = -9.1C, a.k.a. ice.

In this case, there isn't a problem with having not frozen water coming out of a faucet. However, in other instances it would be good to have a warning generated if the faucet tempera

[2019-01-23 15:15] #6910 closed, assigned to jmarrec

[2019-01-23 15:15] #7071 closed, assigned to jmarrec

[2019-01-23 16:55] jmarrec opened #7134 "Invalid condenser outlet node conditions in 5ZoneBranchSupplyPumps.idf"
Issue overview
--------------

[code]

With the file as is, no problem, eplusout.err is as clean as it can be.

Now just add this to the file:

[code]

Suddenly you get warnings:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk tick

[2019-01-24 20:11] liq2519 opened #7135 "Error transitioning Shading:Building:Detailed objects from 8.9.0 to 9.0.1"
Issue overview
--------------
The below error message appears when updating a working v8.9.0 IDF to v9.0.1 using IDFVersionUpdater. This appears to be caused by three Shading:Building:Detailed objects, after removing which the error disappears.

![2019-01-23](https://user-images.githubusercontent.com/11031984/51705326-f4b2ba80-1fe0-11e9-9576-538ca44bb718.png)

A simple IDF that can replicate the i

[2019-01-24 23:30] pflaumingo opened #7136 "Unclear which peak the outputs of the coil sizing details are referring to"
Issue overview
--------------

### Details
Checked using EnergyPlus 9.0.1. The coil sizing details outputs contain a coil sensible, total and airflow ideal loads peak all of which may or may not occur at the same time. Aside from the timestamps, all the other outputs state some output at "Ideal Loads Peak", but it isn't clear which peak that is associated with (Sensible, Total or Airflow). I think

[2019-01-25 16:04] jmarrec commented on #7097
runenergyplus is just a shell script, which you can see the source here: https://github.com/NREL/EnergyPlus/blob/develop/scripts/runenergyplus.in

You'll see on line 518 that it runs slab if 'GHTIn.idf' is in the folder.

[2019-01-28 13:28] jmarrec commented on #7135
I can reproduce this on Ubuntu with current develop (5ddf585d0378775ebe219927560b332b6ed68d82).

[code]

Problem is here in [VCompareGlobalRoutines.f90#L875](https://github.com/jmarrec/EnergyPlus/blob/5ddf585d0378775ebe219927560b332b6ed68d82/src/Transition/VCompareGlobalRoutines.f90#L875)

[2019-01-28 13:30] jmarrec commented on #7135
@liq2519

Problem is that you have a float for Number of Vertices when it must be an integer

**For Number of Vertices, either set it to Autocalculate (or empty, which amounts to the same), or change it to be an Integer rather than a floating point number**:

eg:

[code]

Change it to be:

[code]

[2019-01-28 13:58] jmarrec commented on #7135
Added a fix for this one in 43efd7e out of curiosity. But the same would be generally required everywhere we try to read a certain number format and fail to do so...

[2019-01-28 13:58] JasonGlazer commented on #7132
See files demonstrating this issue at:

https://github.com/GreenBuildingXML/Level3Validation_Phase1

Also in DevSupport under the issue number.

[2019-01-28 14:08] jasondegraw commented on #7132
@JasonGlazer The XMLs at that link that I checked all have the volumes precalculated and included in the file, so to me this is a translation issue, not an E+ issue. I'm not seeing a compelling reason to keep this open (here) as an issue.

[2019-01-28 14:20] JasonGlazer commented on #7132
@jasondegraw so what do you recommend to address the issues raised in the Georgia Tech report?

[2019-01-28 18:03] jasondegraw commented on #7132
@JasonGlazer As @Myoldmopar suggested above, input with flawed geometry is just not valid input. There is a solution, and that is to improve the translation since the necessary information for E+ to run a simulation is included in the gbXML. The path forward is to improve the translation, which is being done here:

https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/gbxml/ReverseTra

[2019-01-28 18:04] liq2519 commented on #7135
@jmarrec Thank you very much. I was able to convert successfully after using integers. The float 4.0 is shown as 4 in V8.9 IDFEditor so I didn't find it at first.

[2019-01-28 18:11] JasonGlazer commented on #7132
Ok, thanks. I see the following issue is already present for OpenStudio

https://github.com/NREL/OpenStudio/issues/3349

[2019-01-28 18:12] #7132 closed, assigned to JasonGlazer

[2019-01-28 20:40] mjwitte commented on #7132
Does a non-enclosed zone result in a fatal error? If so, that seems too strict in general.

[2019-01-28 20:56] mjwitte commented on #7134
@jmarrec Some node state variables are not calculated unless they are requested as output or used in EMS. This is done to save processing time for RH, wet-bulb temperature, dewpoint, and specific heat. This is managed in [`CalcMoreNodeInfo`](https://github.com/NREL/EnergyPlus/blob/5ddf585d0378775ebe219927560b332b6ed68d82/src/EnergyPlus/NodeInputManager.cc#L1213).

That said, the error reveals that

[2019-01-28 21:10] mjwitte commented on #7135
Using `READ` in transition is always dangerous for numeric fields. `ProcessNumber` should be used instead. [Here is an example.](https://github.com/NREL/EnergyPlus/blob/5ddf585d0378775ebe219927560b332b6ed68d82/src/Transition/CreateNewIDFUsingRulesV9_0_0.f90#L697-L700)

[2019-01-28 21:11] JasonGlazer commented on #7132
No, I don't think so. If I remember correctly, it tries several different back up strategies to determine the volume if it is not enclosed such as the floor area time the height of the zone, etc.. If all of those strategies fail, I don't remember what happens.

[2019-01-28 22:07] jmarrec commented on #7134
Yeah  I had started investigating this but haven't figured yet why the condenser node is actually 22000C.

[2019-01-28 22:30] macumber commented on #7132
Is there any chance of the zone volume calculation being factored out as a module from EnergyPlus?  I avoided trying to make the OS calculation very robust because I wanted to share an implementation if possible.

It appears that the default gbXML->OSM translator does not move the space volumes from gbXML to zone volumes in OSM, we do have a measure that does that as an extra import step.  We'll d

[2019-01-28 22:46] Myoldmopar opened #7139 "ScanPlantLoopsForObject errFlag relationship status is complicated"
Issue overview
--------------
`PlantUtilities::ScanPlantLoopsForObject` has an argument that is intended to return a boolean to indicate erroneous situations.  The argument is currently the last argument in the list, and is one of several optional args.  I noticed a warning that the variable was "never true" upon returning from the function and investigated, to find that the value is defined as an

[2019-01-28 22:51] Myoldmopar commented on #7132
:+1: I'd say there's definitely a chance, but it's not going to be in the really short term. :+1:

[2019-01-29 11:04] jmarrec commented on #6999
@lxk1993 Can we close this then?

[2019-01-29 11:28] jmarrec commented on #7096
Personally I actually like the fact that everything E+-related ends up inside `/usr/local/EnergyPlus-9-0-1/` and not split across share bin and lib. This isn't a system package and it helps me find the files / executables I need easily and pretty consistently across windows/mac/Linux.

[2019-01-29 13:39] JasonGlazer commented on #7026
- [x] HybridModel:Zone has no documentation in the IOref - *this is addressed in #7130*

The following are moved to #7760

- ~~[ ] The organization of groups in the IOref does not always match the arrangement in the IDD!~~
- ~~[ ] The IDD group Natural Ventilation and Duct Leakage is shown in the IOref as AirflowNetwork~~
- ~~[ ] The IDD has Water Heaters and Thermal Storage group that includes th

[2019-01-30 11:11] jmarrec commented on #6958
I couldn't figure out why my unit test kept crashing.

I'm pretty sure I uncovered another problem: https://github.com/jmarrec/EnergyPlus/blob/5ddf585d0378775ebe219927560b332b6ed68d82/src/EnergyPlus/SetPointManager.cc#L8872

That's probably a left over from when it was using internally created SPM:Scheduled for TES control.

[2019-01-30 13:36] JasonGlazer commented on #4848
Perhaps the Guide for Interface Developers and the Guide for Module Developers should be removed from the installation until they can be updated.

[2019-01-30 13:48] mjwitte commented on #6958
If I'm following correctly, that would just put the wrong name into `AllSetPtMgr` which would only affect a duplicate setpoint node error message. But, certainly it should be fixed.

[2019-01-30 13:50] jmarrec commented on #6958
It would crash if you don't have at least the same amount of SPM:Scheduled than the number of internally generated TES SPMs. I fixed it in #7143

[2019-01-30 20:26] mjwitte opened #7145 "Flow-dependent setpoint managers need to be updated within the HVAC iteration loop"
Issue overview
--------------
- [ ] 1. Setpoint managers which check the flow at a node, such as `SetpointManager:SingleZone:Heating` need to be updated inside the HVAC iteration loop. As it stands now, `ManageSetPoints` is called before `ManageSystemAvailability` so the first timestep of night cycle operation can result in an incorrect setpoint. Seems that any setpoint manager that looks at node

[2019-01-31 10:47] jmarrec opened #7147 "Error Flag (ErrorsFound) passed by reference is overriden to false in some functions"
Issue overview
--------------

In a lot of modules, a boolean flag such as `ErrorsFound` is passed by reference constantly to several functions, and a Fatal will be issued at the end if this boolean turns out to be `true`. Each single function that takes this boolean should be responsible to turn it to 'true' as needed, but
shouldn't be forcing it to false, because it risks erasing previous errors

[2019-02-01 12:25] Myoldmopar commented on #7139
Closed via #7140

[2019-02-01 12:25] #7139 closed, assigned to Myoldmopar

[2019-02-01 15:44] Myoldmopar commented on #7125
Closed via #7126

[2019-02-01 15:44] #7125 closed, assigned to nobody

[2019-02-04 06:49] taherahel opened #7151 "Generator Availability Schedule"
Issue overview
--------------
`ElectricLoadCenter:Generators: Generator Availability Schedule Name`
The schedule that I input didn't work and my PVs works all the day

here is my code:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus 9.0.1
 - Helpdesk ticket number 13171

### Checklist
Add to this list or re

[2019-02-04 18:23] mjwitte opened #7152 "Change debug configuration to catch NaNs by default on Windows"
Issue overview
--------------
There are special instructions to catch NaNs on Windows [here](https://github.com/NREL/EnergyPlus/wiki/Debugging-Tips).
It would be nice to add this to the debug cmake configuration so that:
1. EnergyPlus gets set for /fp:strict
2. except sqlite needs /fp:precise
3. main.cc needs to be configurable or add a compiler flag to include the `unsigned int fp_control_state`

[2019-02-04 18:27] mjwitte opened #7153 "There is no example file that uses pump PressureSetpointControl"
Issue overview
--------------
There are several PlantPressure* example files with pressure curves, but none of these use PressureSetpointControl in the Pump:VariableSpeed object.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus 9.0.1
 - Helpdesk ticket number 13171

### Checklist
Add to this list or remove from it a

[2019-02-06 11:49] #7101 closed, assigned to nobody

[2019-02-06 12:40] Myoldmopar opened #7156 "Program doesn't terminate when it should"
Issue overview
--------------
While verifying #7091, I ran the defect file (6445), initially without giving it a weather file.  It had a fatal error saying that the number of controlled zones was greater than the number of zones.  Weird.  Here's the error file:

[code]

I actually spent a little time investigating that before realizing that the program was just supposed to halt prior to that point

[2019-02-06 12:42] #6445 closed, assigned to jmarrec

[2019-02-06 12:42] Myoldmopar commented on #6445
Closed via #7091

[2019-02-06 12:51] #4814 closed

[2019-02-06 12:51] #6128 closed, assigned to jmarrec

[2019-02-06 12:51] #6833 closed, assigned to jmarrec

[2019-02-06 21:11] mjwitte opened #7160 "Documentation Issues - 2019"
Issue overview
--------------
A collection of small documentation issues. See checkboxed comments below.

[2019-02-06 21:15] mjwitte commented on #7160
- [x] Input Output Reference, `EvaporativeCooler:Indirect:ResearchSpecial`, field Water Pump Power Modifier Curve Name says
". . . If this input field is left blank, the pump power is assumed to be constant."
This should say:
". . . If this input field is left blank, the pump power is assumed to vary linearly with the load.'
*Ref Helpdesk Ticket 13174*

[2019-02-06 21:17] mjwitte commented on #7160
- [x] Input Output Reference, `Tempering Valve`, typo highlighted below. *Moved here from #7121*
![storagew](https://user-images.githubusercontent.com/39242689/50863872-0ba4ac00-1355-11e9-9fa1-12dce71f50ed.PNG)

[2019-02-06 21:18] mjwitte commented on #7121
Moved to https://github.com/NREL/EnergyPlus/issues/7160#issuecomment-461190980

[2019-02-06 21:18] #7121 closed, assigned to nobody

[2019-02-06 21:20] mjwitte commented on #7160
- [x] Input Output Reference, `TemperingValve`, more typos circled below. *Moved here from #7122*
![1012 typos](https://user-images.githubusercontent.com/39242689/50914713-06467080-13ec-11e9-8c47-2a2bb29f9f24.PNG)

[2019-02-06 21:20] mjwitte commented on #7122
Moved to https://github.com/NREL/EnergyPlus/issues/7160#issuecomment-461191828

[2019-02-06 21:20] #7122 closed, assigned to nobody

[2019-02-06 22:56] mldichter opened #7161 "Plantloop field highlighted orange in IDF editor, but not error is generated"
Issue overview
--------------
In the IceStorage-Parallel.idf Energyplus 9.0 example file, there is an erroneously highlighted field.

![orange field](https://user-images.githubusercontent.com/39242689/52379214-ae1c8180-2a1e-11e9-96ff-14d74aeff2ec.PNG)

The simulation completes with the idf file as is and no error is generated about the highlighted EthyleneGlycol40Percent field.

[code]

### Checkl

[2019-02-07 01:39] mjwitte opened #7162 "AirFlowNetwork output variables for Infiltration and Mixing Latent Gain/Loss are missing heat of vaporization"
Issue overview
--------------
As noted by @XuanLuoLBL in https://github.com/NREL/EnergyPlus/pull/7040#discussion_r254387314 the heat of vaporization term appears to be missing from the calculations for output variables:
AFN Zone Infiltration Latent Heat Gain Rate and similar (Gain Energy, Loss Rate, and Loss Energy) and AFN Zone Mixing Latent Heat Gain Rate and similar.

These are calculated [here

[2019-02-07 01:56] mjwitte commented on #7162
@lgu1234 Also, these variables in `AirflowNetworkBalanceManager::AirflowNetworkReportVars` (`AirflowNetworkZnRpt`) are computed, but never used anywhere. Can these be deleted?
[code]

[2019-02-07 14:36] lgu1234 commented on #7162
@mjwitte Yes. These report variables are computed and never reported. Here is my thought.

Remove first two variables, because we can get them from somewhere.
        Real64 MeanAirTemp;        // Mean Air Temperature {C}
        Real64 OperativeTemp;      // Average of Mean Air Temperature {C} and Mean Radiant Temperature {C}

Report the last two variables to provide more output information for u

[2019-02-07 15:12] mjwitte commented on #7162
@lgu1234 I think `InfilHeatGain` and `InfilHeatLoss` are being reported using [different variables](https://github.com/NREL/EnergyPlus/blob/e10cc09529476181172b86b238f1c822baaef1a8/src/EnergyPlus/AirflowNetworkBalanceManager.cc#L5165-L5236) so these can also be removed here.

[2019-02-07 16:14] lgu1234 commented on #7162
@mjwitte I agree. Thanks for finding out. These 4 variables can be removed.

[2019-02-07 17:58] mjwitte commented on #6323
@mitchute @rraustad @Myoldmopar This file is still a problem, caused a timeout error in the integration coverage tests on #7163. I've added a priority label in hopes this gets some attention soon.

[2019-02-07 18:00] shorowit opened #7165 "Unexpected HVAC energy w/ AirLoopHVAC attached to multiple zones"
Issue overview
--------------
I have performed a number of tests using the [Fix Zone Equipment Load Distribution PR](https://github.com/NREL/EnergyPlus/pull/7025). It fixes all of my tests except for one.

[1.idf.txt](https://github.com/NREL/EnergyPlus/files/2842107/1.idf.txt)   [2.idf.txt](https://github.com/NREL/EnergyPlus/files/2842108/2.idf.txt)

The files are:
- 1.idf with 2 conditioned therm

[2019-02-07 18:14] mjwitte commented on #5447
Closing this issue. #6323 covers the last remaining item from this one.

[2019-02-07 18:14] #5447 closed, assigned to nobody

[2019-02-07 21:22] mldichter commented on #7160
- [x] Typographical error "if" should be "of" in the following excerpt of the IO Reference.

![capture](https://user-images.githubusercontent.com/39242689/52443687-40825b00-2adb-11e9-98a7-9322d51889bb.PNG)

[2019-02-07 23:38] mjwitte opened #7166 "AirloopHVAC:UnitarySystem should warn if all flow rates are zero and the unit has a fan in it"
Issue overview
--------------
User file had blanks for all of the `AirloopHVAC:UnitarySystem` cooling/heating/noload air flow rate fields. This resulted in no system operation, zero HVAC energy consumption, and no warnings in the error file. Seems if a unitary system has fan in it and all of the airflow rates are zero, this should prompt a warning. Likewise, if there's a cooling coil, should the c

[2019-02-08 14:15] rraustad commented on #7166
I recall an issue where the field names where unknown when switching to JSON read of inputs. It may be that some of the previous warnings were not translated when this module was upgraded to OO.

[2019-02-12 15:11] JasonGlazer opened #7168 "Update Research Papers and Articles Page"
The page:

https://energyplus.net/references

Weirdly covers papers related to EnergyPlus from 2009 to 2011 (probably the last time it was updated).

Add newer and older references including foundational papers related to the development of EnergyPlus.

[2019-02-13 00:51] aaron-boranian opened #7170 "Fix Engineering Reference equation for undisturbed Kusuda Anchenbach model"
Issue overview
--------------
The cosine term of the [current equation](https://github.com/NREL/EnergyPlus/blob/208212976a28f796b2181f8bef621f050518f96d/doc/engineering-reference/src/surface-heat-balance-manager-processes/undisturbed-ground-temperature-model-kusuda.tex#L8) describing the [Kusuda Anchenbach model](https://bigladdersoftware.com/epx/docs/8-4/engineering-reference/undisturbed-ground-t

[2019-02-13 21:52] mldichter opened #7172 "IDF editor does not highlight invalid fields in ConnectorList object"
Issue overview
--------------
Fields are not highlighted in the ConnectorList object in the IDF editor when the referenced objects do not exist. The following image has a ConnectorList object referencing Connector:Splitter and Connector:Mixer objects, but there are zero of those objects in the IDF file. (highlighting added by user)

![failed to highlight](https://user-images.githubusercontent.com/

[2019-02-13 22:51] mjwitte commented on #7172
@mldichter The IDF Editor validity checks are all driven by codes in the idd file. If you find any more, please add to this issue.

[2019-02-13 22:54] mldichter commented on #7172
@mjwitte Please merge with the below issue as well then. Sorry for the bother.

https://github.com/NREL/EnergyPlus/issues/7161

[2019-02-13 22:56] mjwitte commented on #7172
Not a bother, but I will note that the IDD is not complete for these types of cross-references, so there are likely other cases which may or may not be easily addressed.

[2019-02-14 16:56] mldichter commented on #7160
Two (2) apostrophes missing in Fan:ZoneExhaust documentation.

![mising apostraphes](https://user-images.githubusercontent.com/39242689/52803186-65745200-3036-11e9-9c19-f6e1b6a993c5.PNG)

[2019-02-14 21:46] #6164 closed, assigned to jmarrec

[2019-02-14 22:35] jasondegraw opened #7173 "Incorrect handling of weather file leap year flag in some situations"
Issue overview
--------------
In some situations, setting the leap year flag in the weather file will cause a leap year to appear for non-leap years. Testing with 5ZoneAirCooled.idf and an EPW file with the leap year flag set to 'Yes' ended up adding an incorrect leap day for a variety of different situations, but not for simulations beyond a year in length. So something untoward is going on with

[2019-02-15 16:51] Arezaei558 opened #7174 "Standard Effective Temperature (SET) outputs from Energyplus not available"
Issue overview
--------------
SET calculations occur in the background Energyplus code calculations but not SET is not a direct output from simulations that modeler can request. Please see the Unmethours link below for more information.

https://unmethours.com/question/37129/standard-effective-temperature-set-outputs-from-energyplus/

SET is a necessary output from simulations to calculate the Pas

[2019-02-15 17:20] #7106 closed, assigned to mjwitte

[2019-02-15 17:20] #7110 closed, assigned to mjwitte

[2019-02-15 17:21] Myoldmopar commented on #6977
Closed via #7025

[2019-02-15 17:21] #6977 closed, assigned to mjwitte

[2019-02-15 19:49] #6999 closed, assigned to nobody

[2019-02-16 17:00] #7161 closed, assigned to nobody

[2019-02-16 17:00] #7172 closed, assigned to nobody

[2019-02-16 17:00] #6129 closed, assigned to JasonGlazer

[2019-02-16 17:00] #6797 closed, assigned to rraustad

[2019-02-18 22:58] mjwitte commented on #7160
- [x] Engineering Reference, new heat emissions calculations (added for v9.1 in #7040 ), table "Heat Rejection Calculation for Different
HVAC Component Types" is not readable - wrong number of columns? Not sure. Source for table starts [here](https://github.com/NREL/EnergyPlus/pull/7040/files#diff-365bf065bb1c065e7d0919eb5e00eec4R83). It's rendering like this:
![image](https://user-images.githubus

[2019-02-18 23:25] mjwitte opened #7176 "Non-zero zone origins warning is wrong with simple rectangular surfaces"
Issue overview
--------------
Got unexpected eio diffs when cleaning up zone origin warnings in HybridZoneModel.idf for #7094. The GlobalGeometryRules say World coordinates, but the zone origins were non-zero which generated a warning. Setting the zone origins to zero shouldn't have changed anything, but there were diffs in the zone centroid and max/min x/y in the eio output. Reproduced this using

[2019-02-18 23:43] mjwitte commented on #7176
**CORRECTION**
Turns out this file uses the simple rectangular surfaces which have their own coordinate system input in GlobalGeometryRules which defaults to Relative. So, the eio info is not wrong, but this warning is incorrect for this case:
[code]

[2019-02-19 17:50] ghost opened #7179 "EMS actuator response delay with ElectricEquipment, OtherEquipment"
Issue overview
--------------
Our project team attempted to use an EMS program to change the electric input power to an equipment object. Initially we tried the OtherEquipment object, then the ElectricEquipment object. In both cases, the EMS actuator response is one timestep (e.g., 1 min) later than it should be, regardless of the calling point used. This problem occurs whether we use a power actu

[2019-02-20 17:55] Lefort-Antoine opened #7181 "IDD Ouput:Variable field Variable Name miss retaincase"
Issue overview
--------------
The IDD says that the "Variable Name" field of the Output:Variable object it not "retaincase"
It's seems to be an error. No eso output file is generate if variable name are change to lower case.

### Details
Some additional details for this issue:
 - Version of EnergyPlus 9.0.1

[2019-02-20 18:04] mjwitte commented on #7181
This has been addressed for v9.1 in https://github.com/NREL/EnergyPlus/pull/7031. Just to be clear, the IDD is correct, output variable names are not case-sensitive.

[2019-02-20 18:04] #7181 closed, assigned to nobody

[2019-02-20 19:21] mjwitte commented on #7128
@vidanovic This is the issue I was referring to. Let me know if you'll be able to look at it.

[2019-02-20 20:30] shorowit opened #7182 "Energy Meters report is screwy when simulating with leap days"
Issue overview
--------------
Run the attached IDF file using the attached EPW that includes a leap day. The Energy Meters report in the html file will look like this:

![image](https://user-images.githubusercontent.com/5861765/53122105-03728b80-3513-11e9-823e-72f7445e739c.png)

If you modify the EPW to turn off the leap day (e.g., change "HOLIDAYS/DAYLIGHT SAVINGS,Yes,0,0,0" to "HOLIDAYS/DAYLIGHT

[2019-02-20 20:43] vidanovic commented on #7128
@mjwitte will take a quick look and let you know if can get some time to fix this.

[2019-02-20 21:09] mjwitte opened #7183 "Array bounds error in SizePIU"
Issue overview
--------------
User reported several types of unexplained error from the same file - different results on consecutive runs. Running with v9.1 debug build reveals an array bounds error [here](https://github.com/NREL/EnergyPlus/blob/f88eb67c7fc1539d9827bbde166762af34c833ee/src/EnergyPlus/PoweredInductionUnits.cc#L1464) in SizePIU. This line should be
[code]

Note that this file fails

[2019-02-20 21:19] MatthewSteen commented on #7183
Thanks @mjwitte.

[2019-02-20 21:21] Myoldmopar commented on #7183
The two oldest ones and the newest one mentioned there appear to have been addressed.  #539 looks to just have a workaround, possibly not fixed.

[2019-02-20 21:25] mjwitte commented on #7183
Doh! Red means *closed*. Never mind any of those. Darn related issue prompting . . .

[2019-02-20 21:28] mldichter opened #7184 "Feature Request: Modify InternalMass object to reference Zonelist objects"
Allow the InternalMass object to take a ZoneList object name or Zone object name in the "Zone Name" field.

InternalMass,
    ,                !- Name
    ,                !- Construction Name
    ,                !- Zone Name
    ;                !- Surface Area {m2}

[2019-02-20 21:59] vidanovic commented on #7128
@mjwitte @Myoldmopar Seems that potential problem is in Daylighting Method in Daylighitng:Controls object. It looks like that was added in E+ 8.6. BSDF Windows does not have SplitFlux nor Delight method since they would not make sense in this case. I would assume that there were some changes in daylighting calculations in 8.6 that might have influenced BSDF.

[2019-02-20 22:17] mjwitte commented on #7128
The new object was a consolidation of the two existing inputs Daylighting:Controls and Daylighting:DElight:Controls into a single object with a switch for the method. Has daylighting ever worked with BSDF? And with which method?

[2019-02-20 22:21] vidanovic commented on #7128
Yes, BSDF have worked with Daylighting:Controls, which we could check in 8.5. I remember doing some comparison vs radiance and it was pretty good actually.
We never named BSDF daylighting method. The best name would be BSDF Method, but then no point to have that choice with other simplified models.

[2019-02-20 22:25] mjwitte commented on #7128
Well, it's too late to add a new daylighting mode option for this release - wish we would have realized that back when we did that. So, if BSDF glazing is present in the file, can we swtich the daylighting method and throw a warning for now?

[2019-02-20 22:27] vidanovic commented on #7128
At least one good thing is that I can see calculations are still performing. They seems only not being reported. However, there are a lot of coefficients that need to be calculated in daylighting and that needs to be checked. I just could not remember quickly where those coefficients were suppose to be saved into coefficients. Temporary solution would be to use SplitFlux flag but still perform BSD

[2019-02-20 22:33] mjwitte commented on #7128
OK - can you point me to the spot in the code that needs fixing?

[2019-02-20 22:39] vidanovic commented on #7128
Well, that is the problem. I do not know where is that now. If you look at EngineeringReference Table for Variables in Daylighting Calculations, there is variable dsky which in code was named DFACSK. If you search in code for that variable, it is not there anymore (unless my VS is broken which happens for time to time). Not sure when that got renamed. Possible when switching to C++. Place where th

[2019-02-20 22:40] mjwitte commented on #7128
OK - I'll look back at v8.5 and try to understand how that worked and then see if that informs the fix for v9.1. If you have any other inspiration on this, let me know here. Thanks.

[2019-02-20 22:41] vidanovic commented on #7128
OK. Thanks!

[2019-02-20 23:03] dmey opened #7185 "Unexpected EIR values when using single speed air conditioners performance curves"
I am currently testing EneryPlus [CalcDoe2DXCoil](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DXCoils.cc) with [these](https://github.com/NREL/EnergyPlus/blob/develop/datasets/ResidentialACsAndHPsPerfCurves.idf#L33-L123) curves for single speed air conditioners originally generated by [Cutler et al. (2013)](https://www.nrel.gov/docs/fy13osti/56354.pdf) however I am getting negat

[2019-02-20 23:51] jonwinkler commented on #7185
I believe this is a classic quadratic extrapolation issue. The return IWB data Dylan used to develop the performance curves ranged from 13.9-22.2 C, which are typical return conditions in U.S. residences. I don't think the curves should be used beyond this range despite the limits far exceeding this range in the EnergyPlus curve objects.

[2019-02-21 00:20] dmey commented on #7185
I see -- thanks. A couple of questions/points:
- Would this not imply that the AC is always on and able to keep up with the demand to keep the temperature in range 13.9-22.2 C? How realistic is this? How would you handle cases where the AC is turned on when the  IWB > 22.2?

- Would you know where I can find similar well-used/-known curves for single-speed ACs that cover a wider range?  Interestin

[2019-02-21 01:33] rraustad commented on #7185
Best bet is to acquire manufacturer extended performance data and use that instead (if available). Your right that a simulation will typically extrapolate under certain conditions. There's nothing that can be done to restrict that except to set up the simulation model to stay within the curve boundaries (e.g., use RH control). What is usually recommended is that the min/max x and y be populated wi

[2019-02-21 01:44] rraustad commented on #7185
One more thing to understand. Looking at the curves above the difference between 20F and 15F is very small compared to the other higher WB temps. This is because as the indoor WB is reduced the coil starts to become dry (I seem to recall 43F as the dry coil limit in AHRI 210/240 but can't be sure right now). When it becomes dry there will no longer be a change in the performance as the indoor WB t

[2019-02-21 04:45] #6992 closed, assigned to nobody

[2019-02-21 12:16] Lefort-Antoine commented on #6898
It appears that #6478 have been solved and include in energyplus release 9.0.1. [https://github.com/NREL/EnergyPlus/releases/tag/v9.0.1](url)
However the constraints have not been relaxed in IDD for schedule:file and it not availaable to specify year into schedule:compact model.
How can we specify multi year schedule with different value depending on year ?

[2019-02-21 14:41] mjwitte commented on #6898
Until this feature is added, one approach would be to have a separate Schedule:File (or Schedule:Compact) object for each year and then use EMS to grab from the correct year to override a base schedule. If using Schedule:File, each year could just be a different column in the same file. `Year` is already available as a built-in EMS variable, so this should be possible.

[2019-02-21 15:02] mjwitte opened #7186 "Sequential Loading with Unitary System not working"
Issue overview
--------------
The new sequential load fractions added in #7171 caused diffs in testfile House-2FurnaceAC-SequentialLoad. Need to correct that before v9.1.0 release.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket num

[2019-02-21 16:53] dmey opened #7187 "PsyTwbFnTdbWPb: humidity ratio calculation does not include case for TWetBulb < 0"
This may not be an issue per se but I just wanted to report it given that I have noticed differences between the results of wet-bulb temperature from dry-bulb temperature, humidity ratio, and pressure calculated by EnergyPlus and [PsychroLib](https://github.com/psychrometrics/psychrolib#readme) when running tests for a separate model I am working with. The following snippet:

https://github.com/NR

[2019-02-22 22:53] mldichter commented on #7184
Additionally, this object would be nice to accept a Zonelist object too.

ZoneVentilation:WindandStackOpenArea

![zonelist wanted](https://user-images.githubusercontent.com/39242689/53275844-8598b680-36b1-11e9-916a-5f5475ad3153.PNG)

[2019-02-25 22:47] mldichter opened #7190 "Node names are not checked for PlantEquipmentOperation:ThermalEnergyStorage object"
Issue overview
--------------
The Component NUMBER Demand Calculation Node Name and Component NUMBER Setpoint Node Name fields are not checked in the PlantEquipmentOperation:ThermalEnergyStorage object and no error is generated. For example,

![node check failure](https://user-images.githubusercontent.com/39242689/53373937-bd9b3600-390b-11e9-81ed-39e620592267.PNG)

The four highlighted fields in t

[2019-02-25 23:16] mldichter commented on #7190
Sorry, I need to retract this. The node names did not exist elsewhere, but I also forgot to change the PlantOperationScheme I was using in the Plantloop object. There is no problem.

[2019-02-25 23:16] #7190 closed, assigned to nobody

[2019-02-26 08:19] jmarrec opened #7191 "HotFixes needed after IOFreeze"
Issue overview
--------------

I'm in the process of updating OpenStudio to use E+ 9.1.0 based off of release [v9.1.0-IOFreeze](https://github.com/NREL/EnergyPlus/tree/v9.1.0-IOFreeze) and hitting various problems that are E+ related during testing (C++ unit tests and OpenStudio-resources regression tests).

This issue aims to provide a place to centralize this, and have the possibility to upload

[2019-02-26 11:09] jmarrec opened #7193 "ZoneHVACEquipmentList heating/cooling priority of zero is ignored."
Issue overview
--------------

In `ZoneHVACEquipmentList`, I see the IDD allows Cooling/Heating priorities that are 0.

My understanding from this, and after a quick dive into the source code, is that E+ should let that pass, and consider this equipment unavailable.

So you could have one equipment with a cooling priority of say 1, but a 0 heating priority, meaning it should only be considered for

[2019-02-26 15:16] mhinds2 opened #7195 "Table output file incorrectly reports capacity of water-to-water heat pumps"
Table output file incorrectly reports capacity of water-to-water heat pumps
--------------
In the Table output file, it appears that the capacity of water-to-water heat pumps is incorrectly reported.

In the Central Plant section of the Table output file, there is a column with heading "Nominal Capacity".
 When central plant objects of the class HeatPump:WaterToWater:EquationFit:Cooling are presen

[2019-02-26 21:40] #7191 closed, assigned to jmarrec

[2019-02-26 21:40] mjwitte commented on #7191
Addressed in #7189 and #7192.

[2019-02-27 18:13] mldichter commented on #7160
In the Input Output Reference, there is mention of a "Passive component" and "Active component",

![active passive](https://user-images.githubusercontent.com/39242689/53512628-15ef4680-3a78-11e9-8f84-459e501b78b0.PNG)

but they don't seem to be mentioned anywhere else except for active component here.

![passive component](https://user-images.githubusercontent.com/39242689/53512644-1e478180-3a78-1

[2019-02-28 13:47] dmey commented on #7185
Using the curves from the manufacturers make sense but I think that the main issue with these curves included in the EnergyPlus repo is that the minimum and maximum curve output values are not representative of the actual curve/coefficients used for that curve. It looks like these are just arbitrary numbers [0,5] for capacity and EIR function of Temp and [0,2] for capcity and EIR function of flow

[2019-02-28 14:07] rraustad commented on #7185
The coefficients in that file come from the Cutler [report](https://www.nrel.gov/docs/fy13osti/56354.pdf). Appendix A in the report on page 30 has coefficients in degrees C and those coefficients match as does the flow fraction coefficients in the main body of the report. The min/max limits on the curve do not seem to match the limited example data provided in the report. So I suspect that the aut

[2019-02-28 15:46] dmey commented on #7185
That's correct -- I have contacted Cutler and waiting to hear back about the minimum and maximum curve output values for HP. For AC, even though these are not explicitly indicated, they seem to be 57-72F EWB and 75-115F ODB but I am awaiting confirmation -- not sure how long this will take.
Assuming that 57-72F EWB and 75-115F ODB are correct we can calculate the min and max for capacity and EIR f

[2019-02-28 16:15] rraustad commented on #7185
Yes, this is correct and I would suggest moving forward. The only fundamental problem I have with using performance data limits to limit curve output results is what happens in the simulation when these limits are exceeded? For example, the AC is turned off at night and has a large load to pull down in the morning, how has the indoor conditions changed (depends on internal gains) and what is the O

[2019-02-28 16:32] dmey commented on #7185
When the limits are exceeded the model resets the curve to either min or max value -- the AC is therefore capped to a certain capacity or EIR even though in reality this would not be the case but, at least, this would remove any issues that may arise from extrapolating the values from these curves. I think that the main point of this issue (and the PR) is to make sure that the curves are used as i

[2019-02-28 16:35] rraustad commented on #7185
I agree. At least you see my point.

[2019-02-28 16:40] mjwitte commented on #7185
That's exactly why the current limits are in place - to prevent nonsense values (like a negative) or a wildly high value from being used. I disagree with #7197 for that reason. Just add some comments to explain that the limits are arbitrary until there is real basis for new values.

However, I have always disagreed with clipping a curve to match the range of a dataset (as the curve-fit spreadsheet

[2019-02-28 17:07] dmey commented on #7185
@mjwitte the current limits are arbitrary. Why is the max not set to 4, or 6 for example? What's the motivation behind this choice? From the calculations I added above, leaving the max to 5 would mean to extrapolate the curve more than 3 times their valid range (e.g. for capacity from 1.57 to 5). Don't you think it would be more appropriate to have representative defaults and let 'expert' users, o

[2019-03-01 15:39] eringold commented on #5163
@mjwitte, @rraustad

It does not appear that setting an AirConditioner:VariableRefrigerantFlow system Condenser Type = WaterCooled will result in the performance curves being evaluated (per the documentation) at outdoor condenser entering water temperature.

I've created custom curves based on manufacturer data as a function of indoor wetbulb and condenser entering water temp, but when I output th

[2019-03-01 16:26] rraustad commented on #5163
I thought that was corrected long ago. In your figure perf curve var 2 is not OA temp so then is the plant using an OA reset scheme?
Look at line 589 and 590 and see that if water-cooled the condenser inlet node will be non-zero:
Could have used a different variable here but it does look like it's water temp.

    if (VRF(VRFCond).CondenserNodeNum != 0) {
        OutdoorDryBulb = Node(VRF(VRFCond)

[2019-03-01 16:32] eringold commented on #5163
@rraustad there is no OA reset scheme on the plant loop. Here's the chart with the water loop outlet node temp:
![image](https://user-images.githubusercontent.com/10799524/53651817-b07c9080-3c04-11e9-8a6d-61623c6d6369.png)

[2019-03-01 16:42] rraustad commented on #5163
Is that the "plant" water loop outlet node temp? This is the temp expected to enter the VRF condenser? Could you plot the VRF condenser water inlet node temperature?

[2019-03-01 16:48] eringold commented on #5163
![image](https://user-images.githubusercontent.com/10799524/53652862-1a963500-3c07-11e9-9bb3-91e3dbaad7bd.png)

@rraustad I'll email you the input file.

[2019-03-01 16:59] rraustad commented on #5163
The VRF condenser entering water temp looks like it matches the plant temp from the previous plot.

I do see an issue. Does this input file use outdoor WB temp as the heating performance outdoor temperature type?

                    auto const SELECT_CASE_var(VRF(VRFCond).HeatingPerformanceOATType);
                    if (SELECT_CASE_var == DryBulbIndicator) {
                        if (Outdoor

[2019-03-01 17:04] eringold commented on #5163
...yes it does. I figured that input would be meaningless for a watercooled condenser, but apparently not: https://bigladdersoftware.com/epx/docs/9-0/input-output-reference/group-variable-refrigerant-flow-equipment.html#field-heating-performance-curve-outdoor-temperature-type

Looks like if I change to DB it should work?

[2019-03-01 17:04] rraustad commented on #5163
Absolutely. Same for cooling.

[2019-03-01 17:07] eringold commented on #5163
There doesn't seem to be a corresponding input for cooling, but I think the cooling curves are working fine.

[2019-03-01 17:09] rraustad commented on #5163
OK, I didn't check cooling inputs before commenting. So using DB for water-cooled should be the work-around. Let me know if the energy numbers make more sense.

[2019-03-01 17:23] mldichter commented on #7160
Text goes off the side of the page in IO Reference.

![off page](https://user-images.githubusercontent.com/39242689/53654848-92faf700-3c03-11e9-97ba-c95d4530a306.PNG)

[2019-03-01 17:29] eringold commented on #5163
Yes the energy numbers and curve input/output values make more sense now. Thank you very much for finding that.

I think at least the I/O reference for 'Heating Performance Curve Outdoor Temperature Type' should indicate that DryBulb should be used for WaterCooled condensers. I'll make a note of that over in the Documentation issue.

[2019-03-01 17:36] eringold commented on #7160
In IO Reference, the AirConditioner:VariableRefrigerantFlow input field ['Heating Performance Curve Outdoor Temperature Type'](https://bigladdersoftware.com/epx/docs/9-0/input-output-reference/group-variable-refrigerant-flow-equipment.html#field-heating-performance-curve-outdoor-temperature-type) should indicate that for CondenserType = WaterCooled, the value should be 'DryBulbTemperature', else t

[2019-03-01 18:00] rraustad commented on #5163
No, this is a bug and needs to be corrected. I can do it in 1 line of code.

[2019-03-01 18:02] eringold commented on #5163
Oh ok, I suppose that's preferable. I'll delete that comment.

[2019-03-05 16:12] mldichter opened #7200 "kiva autocalculated deep ground depth is negative"
Issue overview
--------------
I took the example files for the kiva objects, ZoneCoupledKivaSlab.idf and ZoneCoupledKivaBasement.idf, and changed the Site:Location, SizingPeriod:DesignDay objects, and weather file for each of the CA climate zones. There are some strange errors for the "autocalculated deep ground depth" in some of the simulations. Obviously, something is wrong. Here is a [google dr

[2019-03-05 16:53] jasondegraw commented on #5818
@Lefort-Antoine @Myoldmopar I'm not able to reproduce this on 9.0.1, possibly because `UseWeatherFile` is no longer supported as a way to specify the starting week day. I tried two different weather files (including the one noted in the report) and a number of different scenarios (no starting weekday specified, starting weekday specified, etc.) and have always gotten `Holiday` in the ESO for the d

[2019-03-05 17:11] nealkruis commented on #7200
This is intended behavior. See my response on [Unmet Hours](https://unmethours.com/question/37606/kiva-autocalculated-deep-ground-depth-0919-m/?answer=37608#post-id-37608).

The warning message should be changed, and we should add a warning if both autocalculate and a deep ground temperature are selected (see comments in Unmet Hours).

[2019-03-05 18:29] jasondegraw commented on #5862
@JasonGlazer @Myoldmopar Setting aside for the moment that we do DST at midnight (🤦‍♂️ x approximately a billion), I haven't been able to verify that this is an issue any longer. The story is about the same as #5818. The defect file updated to 9.0 behaves as expected, so barring additional info and/or objections, we should close this issue.

[2019-03-05 18:59] JasonGlazer commented on #5862
If it is no longer an issue, close the issue.

[2019-03-05 19:12] jasminaburek opened #7201 "IDF Updater from 8.4 to 9.1 to OpenStudio"
I was able to successfully update the orginal idf file (https://www.energycodes.gov/development/commercial/prototype_models)  from 8.0 to 8.4 using the old IDF updater. I have the latest version of IDF Updater and EnergyPlus and the IDF Updater shows a lot of errors during the update. I try to run the model in EnergyPlus but it shows errors as well. I ultimately want to be able to open the .idf fi

[2019-03-05 20:54] mjwitte commented on #7201
There is a known problem with the v9.0.1 transition programs. See https://github.com/NREL/EnergyPlus/issues/7010 for a workaround.

[2019-03-05 20:54] #7201 closed, assigned to nobody

[2019-03-06 13:19] jmarrec commented on #4560
@mjwitte existing test files won't load in energyplus 9.0.1 while the Version shows 9.0. Some kind of a parsin error, starts with
[code]

I added two new test files to `EnergyPlusDevSupport/DefectFiles/4000s/4560` (called `test900.idf` and `test910.idf`), which I built by making a a simple model and copying over the EvaporativeFluidCooler:TwoSpeed from the existing IssueA file. Trying to test #714

[2019-03-06 14:10] mjwitte commented on #4560
@jmarrec The older transitions are all broken in the v9.0.1 release. See https://github.com/NREL/EnergyPlus/issues/7010.

[2019-03-06 15:02] jasminaburek commented on #7010
I got IDF updater working without errors but the EnergyPlus run shows severe error
Program Version,EnergyPlus, Version 9.0.1-bb7ca4f0da, YMD=2019.03.06 09:54,
   ** Severe  ** <root>[WaterHeater:Mixed][SWH Laundry][off_cycle_parasitic_fuel_type] - "Natural Gas" - Failed to match against any enum values.
   **  Fatal  ** Errors occurred on processing input file. Preceding condition(s) cause termina

[2019-03-06 15:12] mjwitte commented on #7010
Prior to v8.9, EnergyPlus was rather forgiving, allowing various synonyms that are not in the official key choice list in the idd. As of v8.9 and later, the input processor requires that key choice fields match one of the choices listed in the IDD. On the do-list is updating the transition tool to fix all of these (see #6601). In this case, change "Natural Gas" to "NaturalGas" and it should run.

[2019-03-06 15:42] jasminaburek commented on #7010
I am looking under #6601 and can't find the fix for the next error "Object required to validate 'required' properties"

Program Version,EnergyPlus, Version 9.0.1-bb7ca4f0da, YMD=2019.03.06 10:34,
   ** Severe  ** <root> - Object required to validate 'required' properties.
   **  Fatal  ** Errors occurred on processing input file. Preceding condition(s) cause termination.
   ...Summary of Errors th

[2019-03-06 15:52] #6492 closed, assigned to nobody

[2019-03-06 15:52] #6574 closed, assigned to mjwitte

[2019-03-06 15:53] jmarrec commented on #4560
I didn't update them myself, they were already listed at 9.0 on EnergyPlusDevSupport though. I guess you did update them with a broken Transition utility then. We could pull the 8.2 version and redo the transition if need be, but I don't think it's necessary really.

[2019-03-06 16:43] Myoldmopar commented on #5898
@mjwitte I'm inclined to close this as won't-fix.  We aren't doing anything with EPLaunchLite anymore and it looks like this already spawned a separate defect that was addressed.

[2019-03-06 18:37] mjwitte commented on #5898
@Myoldmopar Plus new EP-Launch will replace this.

[2019-03-06 18:37] #5898 closed, assigned to nobody

[2019-03-06 18:48] #7092 closed, assigned to jmarrec

[2019-03-06 23:02] mjwitte commented on #7046
Closed via #7137

[2019-03-06 23:02] #7046 closed, assigned to jmarrec

[2019-03-07 03:59] #7135 closed, assigned to jmarrec

[2019-03-07 14:17] mbadams5 commented on #7010
@jasminaburek Do you have the IDF file which generated that error message? If you can share it, can you add it here or send it to the EnergyPlus Helpdesk?

[2019-03-07 14:20] jasminaburek commented on #7010
Yes. I have attached the 2 files I tested. Thank you for
your help.
Jasmina
[EnergyPlus files.zip](https://github.com/NREL/EnergyPlus/files/2941654/EnergyPlus.files.zip)

[2019-03-07 17:50] nealkruis opened #7208 "CeilingDiffuser convection algorithm does not revert to natural convection algorithm when the system is off"
Issue overview
--------------
The [documentation](https://bigladdersoftware.com/epx/docs/9-0/input-output-reference/group-simulation-parameters.html#field-algorithm-000) states:

However, in the source code, this only appears in [CalcCeilingDiffuserInletCorr](https://github.com/NREL/EnergyPlus/blob/a310a424e4ea98bb8183137f0fd5f1012a6bd918/src/EnergyPlus/ConvectionCoefficients.cc#L4430), a function

[2019-03-07 18:07] mjwitte commented on #7208
Note that` CalcCeilingDiffuserIntConvCoeff` is used only if the full zone uses ceiling diffuser. See #6539. And also, ` CalcCeilingDiffuserIntConvCoeff` was reformulated to use leaving temp (zone air temp, instead of the supply air inlet temp), so this function seems rather intentional as-is. @RKStrand ?

[2019-03-07 18:26] nealkruis commented on #7208
@mjwitte you're suggesting that each of the surface specific functions (e.g., `CalcFisherPedersenCeilDiffuserFloor`) should separately implement the natural convection fallback so that it works outside of the full-zone context? I like that approach.

[2019-03-07 18:29] mjwitte commented on #7208
Not necessarily, just making sure you're aware that the other functions get used when convection is selected by the adaptive master or has been specified using `SurfaceProperty:ConvectionCoefficients` or `SurfaceProperty:ConvectionCoefficients:MultipleSurface`.

[2019-03-07 18:29] mbadams5 commented on #7010
@jasminaburek I found the issue for the "Object required to validate 'required' properties." error. The IDF file is encoded as UTF-8 with BOM, which is [Byte Order Mark](https://en.wikipedia.org/wiki/Byte_order_mark). If you convert it to just normal UTF-8 then it processes as expected. I am opening a new pull request to add BOM support.

[2019-03-07 19:12] RKStrand commented on #7208
@nealkruis @mjwitte I'd need to take a closer look at this at some point and get back to you both as it has been a little while since I worked on this last.  I'll get back to you both when I've had a chance to analyze this with my full attention (unless @nealkruis has already fixed it in the meantime).

[2019-03-07 19:43] jasminaburek commented on #7010
Yes. That fixed some of the errors. But there are some other errors. Should I ignore these?
More importantly, I am not able to import the IDF file into OpenStudio. I receive this error. I attached my files again.

[ASHRAE90.1_Hospital_STD2016_SanDiego.zip](https://github.com/NREL/EnergyPlus/files/2942996/ASHRAE90.1_Hospital_STD2016_SanDiego.zip)
[ASHRAE90.1_Hospital_STD2010_Atlanta.zip](https://gi

[2019-03-07 20:10] mjwitte opened #7211 "Array bounds error in GetCoilDesFlowT if time of cooling peak is not set"
Issue overview
--------------
User file has one DOAS airloop serving one zone. Both the zone and system have specified airflow (Sizing:Zone Flow/Zone, Sizing:System Flow/System). There is no zone thermostat, which does not cause an error because the zone sizing method is `InpDesAirFlow`. But this results in all of the sequenced sizing values to be zero, which results in the cooling peak design day

[2019-03-07 21:50] nealkruis commented on #7208
@RKStrand I haven't made any fixes yet, but it would be great to get this fixed for this release. I feel like I have enough understanding to at least propose a fix. Then maybe you can help review it?

[2019-03-07 23:18] mldichter opened #7212 "Plantloop TwoWayCommonPipe Fatal error not occuring"
Issue overview
--------------
In the IceStorage-Series-ChillerUpstream.idf example file, I changed the Common Pipe Simulation field from TwoWayCommonPipe to blank and no fatal error occured from having a pump on the demand side of the plantloop. This is either a documentation issue or an energyplus bug.

![plantloop twowaycommonpipe](https://user-images.githubusercontent.com/39242689/53995984-b171

[2019-03-08 10:35] jmarrec opened #7213 "Wrong encoding for testfiles is making EnergyPlusRegressionTool hang"
Issue overview
--------------

cf https://github.com/NREL/EnergyPlusRegressionTool/issues/32

`AirflowNetwork_MultiAirLoops.idf`, `AirflowNetwork_PressureControl.idf` both have degree signs that aren't UTF-8 encoded by latin-1.

We should correct these, and add a ci script to ensure this doesn't happen anymore.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operati

[2019-03-08 16:10] Lefort-Antoine commented on #7013
I detect a similar error.
reference "FansCVandVAV" is missing in idd (9.0.1) for object Fan:SystemModel.

[2019-03-11 01:11] RKStrand commented on #7208
@nealkruis I'm a bit out of the loop at the moment, but I would be happy to take a look at whatever you end up doing for a fix.

[2019-03-11 16:24] nealkruis commented on #7208
@RKStrand Another related issue is how the ACH is calculated. At the zone level, `CalcCeilingDiffuserIntConvCoeff` applies a MinFlow that is not applied in `EvaluateIntHcModels`. I made a change to use the same ACH calculation for both, but it broke a unit test. My suggestion is to change the expected result of the unit test to apply the MinFlow. I didn't see any other diffs related to this change

[2019-03-11 16:30] mldichter commented on #7160
Text goes off the page.

![off page](https://user-images.githubusercontent.com/39242689/54140184-4ae88b00-43e0-11e9-9313-74e584021ef7.PNG)

[2019-03-11 20:43] MatthewSteen opened #7218 "Update LCC to use 2019 NIST supplement"
The 2019 EIA energy price projections `encost19.txt` file will be available to make the `LCCusePriceEscalationDataSet2019.idf` at...

* https://www.energy.gov/eere/femp/building-life-cycle-cost-programs

[2019-03-11 20:52] mldichter opened #7219 "Thermal Energy Storage Example File Strange Behavior"
Issue overview
--------------
I was trying to figure out what all the controlling objects do in the example file IceStorage-Series-ChillerUpstream.idf and came upon some strange behavior.

A little background. The plant side of this loop has a pump, chiller, and ice tank. The demand side has a pump and ONE water coil. There is a common pipe between them.

On the night of 3/12 and 3/13, the water c

[2019-03-11 21:47] mldichter opened #7220 "Incorrect Pump in Energyplus Example File"
Issue overview
--------------
In the IceStorage-Parallel.idf enegyplus example file, there is a warning of the wrong pump object being used.

[code]

### Details
 - EnergyPlus 9.0

### Checklist
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull request will have additional tasks related to reviewing changes that fix this defect)

[2019-03-11 22:17] mldichter commented on #7219
There is similar behavior with the IceStorage-Series-ChillerDownstream.idf example file.

![wrong](https://user-images.githubusercontent.com/39242689/54161845-c82bf400-4410-11e9-97ed-5ecce8d36484.PNG)

[2019-03-11 22:22] mldichter commented on #7219
The IceStorage-Parallel.idf example file also does not behave correctly. Sometimes the chiller is on all the time and not cooling anything or charging the ice tank.

![weekend](https://user-images.githubusercontent.com/39242689/54162086-7afc5200-4411-11e9-8799-9f62b7c3b27b.PNG)

[2019-03-12 15:48] rraustad commented on #6727
Using 6727-Office_Chicago_MultiStageGasHeatingCoil_V901.idf defect file.

In this part of the code the Unitary System is trying to determine if the constant fan would change the load by exceeding the zone set point. There is no load at this time, ZoneLoad = 0. The first time through at 9 AM the system inlet node temp = 16.9 and mass flow = 2.6. Here when the model sets the air flow rate to the min

[2019-03-12 16:05] #5982 closed, assigned to jmarrec

[2019-03-12 16:16] mjwitte commented on #6727
Which is why the OA system really needs to be called by the unitarysystem, but that's not an easy thing to do. If we could be sure the unitarysystem is the only thing on the branch (no other loose coils before or after), then it would be easy to solve. But leaving this general makes that more difficult. Maybe the unitarysystem needs to compare the flow rate it wants to run at with the flow rate th

[2019-03-12 16:48] Myoldmopar commented on #7152
Closed via #7198

[2019-03-12 16:48] #7152 closed, assigned to nobody

[2019-03-12 17:09] Myoldmopar commented on #7173
Fixed via #7199

[2019-03-12 17:09] #7173 closed, assigned to jasondegraw

[2019-03-12 17:21] jasondegraw commented on #5818
Closing, reopen if the problem reappears.

[2019-03-12 17:21] #5818 closed, assigned to jasondegraw

[2019-03-12 17:21] jasondegraw commented on #5862
Closing, reopen if the problem reappears.

[2019-03-12 17:21] #5862 closed, assigned to jasondegraw

[2019-03-12 17:26] Lefort-Antoine commented on #5818
Thanks for your reply. I will inform you if I found similar problem on 9.0.1.

[2019-03-13 09:47] jmarrec opened #7222 "Clarification needed for where a CoilSystem:Cooling:DX:HeatExchangerAssisted can be placed"
Issue overview
--------------

From the I/O reference [CoilSystem:Cooling:DX:HeatExchangerAssisted](https://bigladdersoftware.com/epx/docs/9-0/input-output-reference/group-heating-and-cooling-coils.html#coilsystemcoolingdxheatexchangerassisted), I seem to understand that this object doesn't necesarilly have to be wrapped inside a `AirLoopHVAC:Unitary(:XXX)` object:

Nevertheless, unlike the simila

[2019-03-13 10:21] jmarrec commented on #7222
I dug into the source code and found this in SimAirServing Zones

https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/SimAirServingZones.cc#L1267:L1270

I'm not sure if the course of action (and the renaming of this issue) from there is to:
* Documentation update: Update the I/O
* Enhancement Request/Bug Fix: allow this object on a branch

[2019-03-13 13:17] rraustad commented on #7222
It's allowed on the main branch inside of the CoilSystem:Cooling:DX parent.

    CoilSystem:Cooling:DX,
    A6,  \field Cooling Coil Object Type
        \type choice
        \required-field
        \key Coil:Cooling:DX:SingleSpeed
        \key CoilSystem:Cooling:DX:HeatExchangerAssisted
        \key Coil:Cooling:DX:TwoSpeed
        \key Coil:Cooling:DX:TwoStageWithHumidityControlMode
        \key

[2019-03-13 13:33] mjwitte commented on #7222
@jmarrec Where specific coil types can be used has changed over time. The IDD \key choices for object type are accurate. The IDD \reference and \object-list tags *should* be consistent with that. `CoilSystem:Cooling:DX:HeatExchangerAssisted` must always be inside a parent object, never directly on a branch  or OA equipment list, because it has no controls. `CoilSystem:Cooling:Water:HeatExchangerAs

[2019-03-13 13:35] mjwitte commented on #7222
@jmarrec So my point was to say it's very likely that docs for the parent objects are up-to-date with all of the coil types they support, but the docs for the various coils may not be up-to-date for the coils or compound coils like this.

[2019-03-13 15:16] jmarrec commented on #7160
* [x]  I/O ref for `CoilSystem:Cooling:DX:HeatExchangerAssisted` should be clear that it cannot be placed directly on an AirLoopHVAC (Branch) but wrapped inside a parent object (cf https://github.com/NREL/EnergyPlus/issues/7222)

[2019-03-13 15:17] jmarrec commented on #7222
Added to https://github.com/NREL/EnergyPlus/issues/7160

Thanks for feedback @rraustad  and @mjwitte

[2019-03-13 15:17] #7222 closed, assigned to nobody

[2019-03-13 15:24] mjwitte commented on #7222
@jmarrec I think you meant DX, not Water [here](https://github.com/NREL/EnergyPlus/issues/7160#issuecomment-472466602)?

[2019-03-13 15:33] jmarrec commented on #7222
I do, thanks for the catch. I've been typing both a LOT for the past day and a half...

[2019-03-13 20:25] rraustad opened #7223 "Different number of daylighting reference points in zone can cause crash in DaylightingManager"
Issue overview
--------------
User file has multiple daylighting objects with different number of reference points. Simulation crashed in debug when a zone with more than 1 reference point was encountered.
This part of the code does not account for different number of reference points (NREFPT) when allocating the tmp* arrays. The allocation uses the first zones number of daylighting reference poin

[2019-03-13 20:46] #6958 closed, assigned to jmarrec

[2019-03-13 20:50] rraustad commented on #7223
@jasondegraw this seems like a very simple fix. Are you available?

[2019-03-13 21:00] mjwitte commented on #7223
@rraustad Yep, those static arrays need to be allocated to `maxNumRefPtInAnyZone` instead of `NREFPT` if I'm following this correctly.

[2019-03-13 21:08] mjwitte commented on #7223
Hmm, and it seems like `DaylIllum` should only be allocated once, and why not make all of these variables static or module-level and allocate them only once? Oh my, there's all sorts of allocates in this function.

[2019-03-14 01:26] rraustad commented on #7223
@jmarrec what time is it over there? This look interesting?

[2019-03-14 16:54] jmarrec opened #7225 "SQL Table DaylightMapHourlyReports doesn't have a "Year" field"
Issue overview
--------------

SQL files since v8.9.0 (https://github.com/NREL/EnergyPlus/pull/6456) have a year field, but the table `DaylightMapHourlyReports` doesn't: https://github.com/NREL/EnergyPlus/blob/v9.0.1/src/EnergyPlus/SQLiteProcedures.cc#L971:L978

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if us

[2019-03-14 18:02] rraustad commented on #7223
Trying a simple fix in PR #7227.

[2019-03-14 22:36] jmarrec commented on #7223
@rraustad It was 2:26 AM when you asked what time it was (I'm in the Paris timezone, UTC+1 and soon +2 on 3/31) :)
I'm sorry I haven't gotten back to you today until right now, been swamped. I see you've done the work already, but please don't hesitate to tag me again on stuff like this in the future!

[2019-03-15 01:43] rraustad commented on #7223
That sounds about right for the time, we are UTC-5 and it was around 8 or 9 PM here. I was just looking for someone who knew this stuff better than I did. Glad to hear your another resource. It's 9:43 PM here so you won't see this until tomorrow.

[2019-03-15 14:56] mldichter commented on #7160
- [x] Should have 1.24.2.1.6 in front.

![typo](https://user-images.githubusercontent.com/39242689/54440338-b93a8f80-46f7-11e9-8daf-fbe4ddbbe622.PNG)

[2019-03-15 14:58] mldichter commented on #7160
- [x] Missing spaces

![space](https://user-images.githubusercontent.com/39242689/54440508-18000900-46f8-11e9-9a3e-b2ce648e6fe6.PNG)

[2019-03-15 15:03] mldichter commented on #7160
- [x] Typo RegiNe

![mn](https://user-images.githubusercontent.com/39242689/54440691-7331fb80-46f8-11e9-9dd7-a138ce0cb963.PNG)

[2019-03-15 15:06] mldichter commented on #7160
- [x] Inconsistent field names

![field names](https://user-images.githubusercontent.com/39242689/54441092-3d414700-46f9-11e9-90ca-e8e40d2acd00.PNG)

![io field names](https://user-images.githubusercontent.com/39242689/54441007-079c5e00-46f9-11e9-9b34-0c009e49fa38.PNG)

[2019-03-15 15:18] mldichter commented on #7160
- [x] This is a common typo of a missing apostrophe resulting in " s " in the input output reference. A search for " s " in the pdf resulted in 221 instances.

![esses](https://user-images.githubusercontent.com/39242689/54441890-db81dc80-46fa-11e9-98f3-58900401c946.PNG)

[2019-03-15 17:04] rraustad commented on #7187
This does seem problematic especially for heat pumps operating in heating mode where the outdoor wet-bulb temperature is used to evaluate performance curves. Low temperature heat pumps can operate well below 0C (dry-bulb) where wet-bulb temperature would be negative.

From the NOAA handbook ftp://ftp.ncdc.noaa.gov/pub/data/EngineeringWeatherData_CDROM/engwx/handbook.pdf

![image](https://user-imag

[2019-03-17 02:27] #7223 closed, assigned to nobody

[2019-03-18 13:25] jmarrec commented on #7183
Are you handling this one @mjwitte? Obviously the fix itself seems straightforward, but it's going to need a unit test.

[2019-03-18 13:26] mjwitte commented on #7183
I haven't yet. It would be great to get this into v9.1. Thanks.

[2019-03-18 13:42] #7186 closed, assigned to mjwitte, nmerket

[2019-03-18 13:51] jmarrec commented on #6844
@JasonGlazer I don't see an entry for 6844 on EnergyPlusDevSupport. Did you push?

[2019-03-18 14:02] JasonGlazer commented on #6844
I just pulled the files off of the helpdesk and put them in the repo and pushed it. You should be able to get them now. Not sure what happened to the original files.

[2019-03-18 14:02] jmarrec commented on #6844
@JasonGlazer Thanks for the quick turn around on this!

[2019-03-18 14:26] jmarrec commented on #7183
@mjwitte could you upload the file prior to your transition of it to 9.1?

All the `ZoneHVAC:EquipmentLists` have missing fields (the Zone Equipment Sequential Cooling/Heating Fractions). I'd rather not fix that manually if I can avoid it. thanks!

[2019-03-18 14:33] mjwitte commented on #7183
@jmarrec v9.0 file is there now.

[2019-03-18 15:57] mjwitte commented on #6892
@rraustad For this, I see three options to fix:
1. In the various residual functions in unitarysystem, for the ones that call a `Calc*` function, add lines to set the outlet node temp and humrat so they are current at the end of each root solver call.
2. In the various residual functions in unitarysystem, for the ones that call a `Calc*` function, change them to call `Sim*` instead.
3. In the vari

[2019-03-18 16:13] rraustad commented on #6892
I would rather set the node conditions at the end of the calc routine so that the sim function didn't need to be called during iterations. The methodology of using Init, Calc, Update, and Report to do specific things did not take into account that it would be faster to just iterate on the Calc routine and then call the Sim function after iterations have converged.  Or the 4th option is to use the

[2019-03-18 16:17] mjwitte commented on #6892
OK, I'll do that. So, if the Calc function sets the leaving node conditions, can that be removed from the Report function?

[2019-03-18 16:19] mjwitte commented on #6892
Actual, the Update function, but never mind, won't touch that, will just add to the calc functions for now.

[2019-03-18 16:21] jmarrec commented on #7170
Not sure it warrants its own issue and should probably be added to #7160 instead

[2019-03-18 16:30] jmarrec commented on #7183
When User files crashes:

[code]

`TermUnitSizing` has a capacity of 205, so logically when you try to get `TermUnitSizing(206)` you get an out of bound error.

[2019-03-18 16:42] mjwitte commented on #6892
Added these lines to `CalcDOE2DXCoil, CalcVRFCoolingCoil, CalcDXHeatingCoil, CalcMultiSpeedDXCoil, CalcMultiSpeedDXCoilCooling, CalcMultiSpedDXCoilHeating`
[code]
And this works great - at least for `Coil:Cooling:DX:SingleSpeed` in the DOAS DX defect file. Hopefully no side effects elsewhere. Will push up these changes soon.

[2019-03-18 17:11] jmarrec commented on #6844
I can't reproduce it really. I built 8.9.0 (`git checkout v8.9.0`) in debug, it actually ran fine with it.

[code]

Indeed eplusout.err has lots of errors.

I will try to compile in Release, and try the installer tomorrow

[2019-03-19 02:35] mjwitte commented on #7145
See 06/24 21:30, for example, columns R and U.

[2019-03-19 11:30] mjwitte opened #7233 "AirflowNetwork floating point underflow"
Issue overview
--------------
Running AirflowNetwork_MultiAirLoops with Windows debug build fails with a floating point underflow [here](https://github.com/NREL/EnergyPlus/blob/a837bb7430496285acd0d88e081fb7bc3a0fa3f4/src/EnergyPlus/AirflowNetworkBalanceManager.cc#L7001). Suspect there may be other places that need protection against underflow.

### Details
Some additional details for this issue (

[2019-03-19 11:30] mjwitte commented on #7233
@jasondegraw @lgu1234

[2019-03-19 13:18] rraustad commented on #7145
@mjwitte, there are 2 issues described in the description. Are both of these to be corrected or just the no-flow set point choice. I don't see a 7145 defect file. I have made this identical change (my fault for not getting this in sooner) and the correct set point will be used on the next HVAC iteration so not sure 1) above is needed (but not positive).

[2019-03-19 13:38] lgu1234 commented on #7233
@mjwitte I tested the program and found underflow occurs at line 7001 in AirflowNetworkBalanceManager.

                        Ei = std::exp(-UThermal * DuctSurfArea / (AirflowNetworkLinkSimu(i).FLOW2 * CpAir));
Then I found the value AirflowNetworkLinkSimu(i).FLOW2 is close 1.0E-11.

I looked at the website at http://www.enseignement.polytechnique.fr/informatique/INF478/docs/Cpp/en/cpp/numeric/m

[2019-03-19 13:39] mjwitte commented on #7145
@rraustad Defect file added. #7232 will address item 2 above.

I still think 1 should happen, but will do that in a separate PR, because I expect it may cause problems. My reasoning for needing it is that  `ManageSetPoints` is only called once in `SimHVAC` - before the availability managers and before the HVAC iteration loop. I don't see any other call.

[2019-03-19 13:45] lgu1234 commented on #7233
@mjwitte @jasondegraw A possible change:

Ei = std::exp(min(-UThermal * DuctSurfArea / (AirflowNetworkLinkSimu(i).FLOW2 * CpAir), -708.4));

[2019-03-19 14:21] EnergyArchmage commented on #7145
I had made such a change for 1. in TRANE version.  here is a picture of the diffs in HVACManager.cc

![7145_TRANE_Changes](https://user-images.githubusercontent.com/8754769/54613195-ad6d0700-4a30-11e9-872c-5bd892c687b9.PNG)

[2019-03-19 14:29] rraustad commented on #7145
Seems there needs to be more thought here. How would SPMs used for ZoneHVAC equipment (e.g., OutdoorAirUnit or UnitarySystem) be differentiated from AirloopHVAC (i.e., when to set SimAirLoopsFlag as opposed to SimZoneEquipmentFlag)?

[2019-03-19 14:53] EnergyArchmage commented on #7145
here is the rest of it in SetPointManager.cc

    // TRANE Beg: improved return air bypass setpoint controller
    ManageSetpointControllers(bool &anySPMran)
    {
        anySPMran = false;
        if (!GetInputFlag && !InitSetPointManagersOneTimeFlag && !InitSetPointManagersOneTimeFlag2) {
            // The RAB Temp Flow Setpoint Managers
            for (int SetPtMgrNum = 1; SetPtMgrNum <= Num

[2019-03-19 15:53] rraustad commented on #7145
I can think of 2 problems that may arise with 1) above. One is that changing the water coil SP after the controllers have initialized may cause convergence to fail (with that warning about reverse or forward action). The other is that as VAV boxes clamp Min/MaxAvail, the mass flow will be limited and not be able to find the correct solution based on the new SP.

[2019-03-19 17:22] jasondegraw commented on #7233
@mjwitte @lgu1234 If we're going to add logic, it's probably better to do the logic around the function call  and avoid calling the function entirely. I don't know if we should just set `Ei` to zero in that case or not, but that might be the way to go.

[2019-03-19 17:33] mjwitte commented on #7233
@lgu1234 @jasondegraw See one example of this in [plant heat exchanger](https://github.com/NREL/EnergyPlus/blob/a837bb7430496285acd0d88e081fb7bc3a0fa3f4/src/EnergyPlus/PlantHeatExchangerFluidToFluid.cc#L2072-L2109).

[2019-03-19 17:36] mldichter commented on #7160
- [x] Dollar signs present in equation

![dollar signs](https://user-images.githubusercontent.com/39242689/54628445-cb3b6b80-4a32-11e9-8e6b-dfeb5850b4a2.PNG)

[2019-03-19 17:40] rraustad commented on #7233
And a simplified version in DXCoils.cc.

            ADiff = -A0 / AirMassFlow;
            if (ADiff >= EXP_LowerLimit) {
                CBF = std::exp(ADiff);
            } else {
                CBF = 0.0;
            }

[2019-03-19 17:56] lgu1234 commented on #7233
I am thinking we may create an exp function by E+
a = E+Exp(-A0 / AirMassFlow)

Function E+Exp(x)
{
      Real64 y
       if (x >= EXP_LowerLimit) {
            y = std:exp( x )
        } else {
            y = 0.0;
        }
       return y
}

Since we use a lot of std:exp functions, it is better to protect underflow and overflow globally, instead of local protection.

[2019-03-19 18:30] mjwitte commented on #7233
I had the same thought, but can you make a general rule about what to return if x is too large?

[2019-03-19 18:36] rraustad commented on #7233
You need to check both.

    Function E+Exp(Real64 x, Real64 defaultLow, Real64 defaultHigh)
    {
        Real64 y = 0.0;
        if (x < EXP_LowerLimit) {
            y = defaultLow;
        } else if (x > EXP_UpperLimit) {
            y = defaultHigh;
        } else {
            y = std:exp( x )
        }
        return y
    }

[2019-03-19 18:41] lgu1234 commented on #7233
@rraustad I like your function. I prefer to make both defaultLow, and defaultHigh as constant, because they are known. There is a single function argument as x.

[2019-03-19 18:44] Myoldmopar commented on #7233
We already have a start to this, but I think this came directly from the Fortran code, and I'm not sure it's technically the maximum value anymore.

https://github.com/NREL/EnergyPlus/blob/a837bb7430496285acd0d88e081fb7bc3a0fa3f4/src/EnergyPlus/DataGlobals.cc#L115

[2019-03-19 18:44] rraustad commented on #7233
And probably a static function so it's not loaded into memory each call. @jasondegraw or @Myoldmopar would know the answer to this.

[2019-03-19 18:46] Myoldmopar commented on #7233
A static or just global function for sure, no need for it to be a member function of anything.  And you could also mark it inline so there's no extra stack expense to incur calling into that frame.  Also, it can't be called E+Exp.  :upside_down_face:

[2019-03-19 18:56] jasondegraw commented on #7233
I'm 100% on board with the idea of having one function someplace that does all this and I agree with @lgu1234 that we should set the limit(s) as constant(s). But what's the rationale for having an upper bound, and what would the return value be for arguments above that upper bound?

[2019-03-19 19:08] lgu1234 commented on #7233
@jasondegraw The rational to have an upper bound is to avoid program crash or overflow.

[2019-03-19 19:08] rraustad commented on #7233
Good point, the upper bound doesn't make sense. I just looked at the [plant HX code](https://github.com/NREL/EnergyPlus/blob/a837bb7430496285acd0d88e081fb7bc3a0fa3f4/src/EnergyPlus/PlantHeatExchangerFluidToFluid.cc#L2072-L2109) again and how could ExpCheckValue1 = std::pow(NTU, 0.22) / CapRatio; ever be greater than EXP_UpperLimit unless NTU is huge huge huge. Also looks like ExpCheckValue2 should

[2019-03-19 19:11] mjwitte commented on #6375
Closed via #6786

[2019-03-19 19:11] #6375 closed, assigned to lgu1234

[2019-03-19 19:15] mjwitte commented on #7233
I'm pretty sure we've had to add protection for overflow somewhere - beside the Plant HX, but I'm not finding that.

[2019-03-19 20:22] jasondegraw commented on #7233
If I'm reading the AirflowNetwork code correctly, the argument is always going to be negative so there's no need to check for large positive arguments. So I'd vote against doing the check in this case. In general, though, shouldn't the calling code be in charge of figuring this out, since overflows are signaled by return value (at least according to the online docs)?

[2019-03-19 20:33] lgu1234 commented on #7233
@jasondegraw When you searched the code, we already have overflow protection using 700.

  E:\TortoiseGit\DOASToMultiAirLoops\EnergyPlus\src\EnergyPlus\UFADManager.cc(1273):                            ZTOC(ZoneNum) = (Zone1OC(ZoneNum) - TempIndCoef / TempDepCoef) * std::exp(min(700.0, -TempDepCoef / AirCap)) +
  E:\TortoiseGit\DOASToMultiAirLoops\EnergyPlus\src\EnergyPlus\UFADManager.cc(1294):

[2019-03-19 20:57] mldichter commented on #7160
- [x] Text off side of page

![text off page](https://user-images.githubusercontent.com/39242689/54641205-d7cdbd00-4a4e-11e9-84e7-3509e9f48bab.PNG)

[2019-03-19 21:30] jasondegraw commented on #7233
@lgu1234 I found even more in other files. For those, avoiding diffs will probably require computing the value of `std::exp(700.0)`. That doesn't sound great to me, but how about having two functions:

[code]

This way the maximum value is used in a way that it could be replaced by a precomputed value should that be possible. The only ways I can think to precompute `std::exp(defaultHigh)` aren't g

[2019-03-19 21:43] mjwitte commented on #7233
I would standardize on a single function and let the diffs fall where they may. But given where we are in the release, I would only touch unprotected exp's in airflownetwork now, and make another pass after release to replace all of the other extra logic.

[2019-03-19 21:52] jasondegraw commented on #7233
@mjwitte One additional `if` is better than two, let's use the first one that protects against underflow.

[2019-03-20 01:46] Myoldmopar commented on #6938
Closed via #7202

[2019-03-20 01:46] #6938 closed, assigned to nealkruis

[2019-03-20 11:09] #6993 closed, assigned to nobody

[2019-03-20 11:10] Myoldmopar commented on #7035
Closed via #7146

[2019-03-20 11:10] #7035 closed, assigned to nobody

[2019-03-20 11:34] #7183 closed, assigned to jmarrec

[2019-03-20 13:29] jmarrec commented on #6844
I've tried building it in Release.
I've tried the official 8.9.0 installer.
The file runs in all cases.
I tried running the file with the 8.9.0 installer a bunch of times just to make sure. None failed.

I also tried on Windows with the 8.9.0 installer a few times. None Failed.

@JasonGlazer I suggest closing this issue since we can't reproduce it.

[2019-03-20 13:47] lgu1234 commented on #7233
I implement the function to catch low boundary and got an underflow from a line below. Here is a screen shot:

![Capture](https://user-images.githubusercontent.com/5970656/54688571-3d27b980-4af4-11e9-8f65-ec997ec7ea55.JPG)

The argument value is -700. The output of std::exp is Ei = 4.2976914442658862e-305. If I added a line under std::exp as
                            Ei = std::exp(tt);

[2019-03-20 14:25] jasondegraw commented on #7233
@lgu1234 So the underflow moved to the multiplication? I don't know about using -50, @Myoldmopar @mbadams5 what do you think?

I added a branch with a unit test that can sort of detect the underflow, see here:

https://github.com/NREL/EnergyPlus/blob/exp-underflow/tst/EnergyPlus/unit/UtilityRoutines.unit.cc#L150

The `epexp` function just calls `std::exp`, I wanted to try to get a failing unit tes

[2019-03-20 15:46] #4560 closed

[2019-03-20 21:33] JasonGlazer opened #7238 "Remove GettingStarted and add references to Essentials and QuickStart"
Issue overview
--------------
EP-Launch 2, EP-Launch 3, and IDF Editor currently can open GettingStarted PDF. These applications should be updated to remove opening Getting Started and should add the capability to open the Essentials document and the QuickStart web page. In addition, the Getting Started document should be removed and all references to it in other documentation should be fixed. Ref

[2019-03-20 21:35] JasonGlazer commented on #7238
@jasondegraw can you think of anything else to add?

[2019-03-21 13:33] #7011 closed, assigned to nobody

[2019-03-21 13:33] #7212 closed, assigned to nobody

[2019-03-21 13:42] Myoldmopar commented on #6829
Closed via #7196

[2019-03-21 13:42] #6829 closed, assigned to nobody

[2019-03-21 14:22] Myoldmopar opened #7240 "Warn for Mismatched Leap Year Support"
Issue overview
--------------
Thread is here: https://github.com/NREL/EnergyPlus/pull/7199/files/8d9cc1b3690e4396ccf3e4eb2caa5db4f1a8a615#diff-3db4af63e54cde7a34f2fab72ff096fdR10015 but basically, add a warning if run period requests a leap year but the weather file does not support it.  Right now it silently runs.

### Details
Some additional details for this issue (if relevant):
 - Platform (Ope

[2019-03-21 16:06] mldichter opened #7241 "IDF editor displays strange characters"
Issue overview
--------------
See red circled text in the following image.

![strange chars](https://user-images.githubusercontent.com/39242689/54766413-76296200-4bb8-11e9-876e-57627d743300.PNG)

### Details
 - Windows 10
 - EnergyPlus 9.0

### Checklist
 - [x] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull request will have additional tasks relate

[2019-03-21 16:07] #7208 closed, assigned to nealkruis

[2019-03-21 17:29] mjwitte commented on #6323
Adding a defect file here. The problem can be seen in the csv output, row 76,  01/03  03:57:30, the pertinent columns are all >0 which should never happen:
[code]
[VSHeatPumpWaterToAirWithRHControl-OnlyRunPeriod1.idf.txt](https://github.com/NREL/EnergyPlus/files/2993255/VSHeatPumpWaterToAirWithRHControl-OnlyRunPeriod1.idf.txt)
Run with Miami TMY3.

[2019-03-21 17:32] mjwitte commented on #6323
After the fix (to be pushed shortly) the heat pump heating mode is always zero, cooling mode runs to dehumidify , and supp heat offsets that plus adds requested heating load. No more downstepping either on 01/03.

[2019-03-22 01:16] Myoldmopar commented on #6953
Closed via #7243

[2019-03-22 01:16] #6953 closed, assigned to nobody

[2019-03-22 13:37] #6844 closed, assigned to nobody

[2019-03-22 14:43] jmarrec opened #7244 "FluidProperties:Name FluidProperties:GlycolConcentration clarification/refactor"
Issue overview
--------------

`FluidProperties:Name` and `FluidProperties:GlycolConcentration` has a weird use of references: they seems quite cyclical, and the examples seem to indicate that you need to define one object of each with the same exact name.

GlycolConcentration just recently got the reference "FluidAndGlycolNames" (cf: https://github.com/NREL/EnergyPlus/pull/7175#r257462249)

[code

[2019-03-22 14:48] mjwitte commented on #7244
It should be possible to eliminate `FluidProperties:Name` and probably rename `FluidProperties:GlycolConcentration` to something more generic, like `FluidProperties:Definition` or similar. The input processing for fluid properties is very inefficient with repetitive looping through the fluid objects and repeatedly retrieving the same objects with `GetObjectItem` (if I'm remembering correctly).

[2019-03-22 14:57] jmarrec commented on #7244
@mjwitte I linked to #6524 which talks about these inefficiencies indeed!

[2019-03-22 16:39] jasondegraw commented on #7240
Some of this is mentioned over in the other thread, but for clarity:

* This should wait until the WeatherManager is refactored.
* The old behavior (before the year awareness work in #6478) was more silent than not, and that was preserved in the RunPeriod merge
* Hopefully, the refactored weather will be more like the other schedules (i.e. there's always a leap day available). Suggestions have bee

[2019-03-22 21:50] mjwitte commented on #7160
- [x] From user, helpdesk ticket 13193 (March 2019, so likely v9.0 Engineering Reference)

My own calculations, reproducing the Perez method as described in the Engineering Reference, agree with EnergyPlus results on surfaces of all tilts perfectly on fully overcast days and hours (i.e. those with direct normal radiation = 0 in the weather file). They're clearly missing the direct component, thoug

[2019-03-23 17:04] #7104 closed, assigned to nealkruis

[2019-03-25 10:36] dmey commented on #7185
I had a reply from Cutler and it appears that the ranges used to construct the HP curves may be: -15 to 60F for ODB and 65-75F for EDB (see page 31 table 3.6 of [this](https://scholar.colorado.edu/cgi/viewcontent.cgi?article=1278&context=cven_gradetds)) -- the ranges are not stated explicitly therefore it's an assumption as it is for the AC curves.

There are still the function of flow fraction cu

[2019-03-26 13:12] mjwitte commented on #7211
Closed via #7215

[2019-03-26 13:12] #7211 closed, assigned to nobody

[2019-03-26 13:13] mjwitte commented on #7001
Closed via #7215

[2019-03-26 13:13] mjwitte commented on #6892
Closed via #7215

[2019-03-26 13:13] #6892 closed, assigned to nobody

[2019-03-26 13:14] #7001 closed, assigned to nobody

[2019-03-26 22:50] mjwitte opened #7248 "Post v9.1 non-CI cleanup"
Issue overview
--------------
Various non-CI-related items to changes after v9.1 release:

- [ ] Readme - refers to the "the Rules spreadsheet". It's an md document now. And the readme should probably mention the OutputChanges doc as well, and say where these can be found.
- [ ] Speaking of the rules and output changes docs, would it make sense to move these to the PrepProcess\IDFVersionUpdater fo

[2019-04-03 19:33] rraustad commented on #7085
Divide by 0 with water coil water flow rate. E+ does allow 0 flow for water coils so this needs to be protected. Don't even need to do SZVAV calc's if max flow = 0.

    SZVAVModel.HeatCoilWaterFlowRatio = maxCoilFluidFlow / SZVAVModel.MaxHeatCoilFluidFlow;

[2019-04-04 02:45] rraustad commented on #7085
Protection allows the file to run. Now I should figure out why Sys 1 and 2 have 0 cooling capacity and water flow when those zones have a design load.

    Component Sizing Information, Coil:Cooling:Water, SYS 1 FURNACE DX COOL SNGLSPD COOLING COIL, Design Size Design Coil Load [W], 0.00000
    Component Sizing Information, Coil:Cooling:Water, SYS 1 FURNACE DX COOL SNGLSPD COOLING COIL, Design Siz

[2019-04-04 03:16] rraustad commented on #7085
Not sure why this hasn't shown up before using autosize for a water coil in a UnitarySystem? Need to check other example files for use of water coils.

    Component Sizing Information, Coil:Cooling:Water, SYS 1 FURNACE DX COOL SNGLSPD COOLING COIL, Design Size Design Coil Load [W], 7576.42152
    Component Sizing Information, Coil:Cooling:Water, SYS 1 FURNACE DX COOL SNGLSPD COOLING COIL, Design

[2019-04-04 13:25] rraustad commented on #7085
The 0 sized coil problem was that the water coils don't have a capacity input field. I always wondered what to do about that during sizing. To correct I simply added Capacity = autosize in GetInput for coil types without a capacity input field. Then I wondered if I did that what would happen if a user hard-sized the water flow rate. So as a test I took the defect file and halved the water flow to

[2019-04-04 15:07] Myoldmopar opened #7254 "DX Coil Crankcase Heater Electricity Submeter Shouldn't be on Plant"
Issue overview
--------------
During DX coil refactor, it was found that the base DXCoils output variable call for cooling coil basin electricity was improperly putting basin heater electricity on the plant submeter when it should be on the system (search on [this raw page](https://raw.githubusercontent.com/NREL/EnergyPlus/develop/src/EnergyPlus/DXCoils.cc) for "plant" with quotes and it's easy to

[2019-04-05 09:42] jmarrec opened #7256 "Linux sh installer is broken in 9.1.0"
Issue overview
--------------

The linux .sh install script isn't behaving correctly due to the lack of the extra level (https://github.com/NREL/EnergyPlus/pull/7148), it's installing everything at `/usr/local/` instead of `/usr/local/EnergyPlus-9-1-0` like it would have before.

With the official 9.1.0 install script `EnergyPlus-9.1.0-08d2e308bb-Linux-x86_64.sh`, even if you specify `/usr/local/E

[2019-04-05 12:23] DavidHollman opened #7257 "Typo in I/O reference?"
In section 1.1.3 of the EnergyPlus Input/Output Reference, version 9.1, it says:

I have bolded the duplicated term “output variable” which seems to be repeated redundantly. Is the second one meant to say something else?

[2019-04-05 12:43] rraustad commented on #7257
Searching for " variable" in the IO Ref shows that "output variable" is typically used. I do see places where "variable" refers to Output:Variable.  I didn't search through the whole document. So I would think this should be "output variable" or "variable"... But this really isn't needed so that whole sentence could be removed. I'd rather see output variable be used consistently throughout but it'

[2019-04-05 16:27] mjwitte commented on #7179
*(Lots of detail here just to document this for future reference.)*

Internal gains are evaluated in `ManageInternalHeatGains` which is called by `InitSurfaceHeatBalance` which is called by `ManageSurfaceHeatBalance` which is called by `ManageHeatBalance` which is called by `ManagerSimulation` for every zone timestep.

Calling point `BeginTimestepBeforePredictor` is called from `ManageHVAC` which

[2019-04-05 16:27] #7179 closed, assigned to nobody

[2019-04-08 23:11] nealkruis opened #7259 "Kiva weighting checks are a little too aggressive"
Depending on how a user inputs exposed perimeter for a run with a Kiva basement, the exposed perimeter may not be exactly the same value as the width of the associated basement wall(s). This would result in an instance weighting in the aggregator that was close to 1.0, but not exactly, resulting in a severe error.

[in.idf](https://github.com/NREL/EnergyPlus/files/3056548/in.txt)

### Checklist
Ad

[2019-04-08 23:32] nealkruis opened #7260 "Foundation wall top and grade surfaces can overlap when wall height above grade is zero"
When the top of a foundation wall is level with the exterior grade and there is vertical exterior insulation, Kiva does not know whether to apply the top of the exterior insulation to "wall-top" surface or the "grade" surface. So it applies both! The cells are assigned to both surfaces, but the cells' surface pointers are set to "wall-top", which does not provide some of the surfaces properties (n

[2019-04-09 15:00] smldis commented on #4291
I found this issue and it seems related to my problem:
I am trying to get energy consumption by zone. Will I be able to match the sum over zones of `Zone Air System Sensible Heating Energy` to the overall consumption related to: `End uses -> Natural Gas` (taking into account efficiency etc)?
The model has a centralized boiler and one radiator for each room of type `ZoneHVAC:Baseboard:RadiantConvec

[2019-04-09 22:26] MatthewSteen commented on #7218
The current [LCCusePriceEscalationDataSet2018.idf](https://github.com/NREL/EnergyPlus/blob/develop/datasets/LCCusePriceEscalationDataSet2018.idf) uses `PropaneGas` for the resource field, which should be changed to `Propane`.

[2019-04-10 00:26] shorowit opened #7264 "Sequential load fraction bug w/ zonal UnitarySystem equipment"
Issue overview
--------------
I'm testing a building in E+ 9.1 that has a zonal unitary system plus an ideal air system, each serving 50% of the heating load using either UniformLoad or SequentialLoad. However, the simulation results for the SequentialLoad simulations are incorrectly varying depending on Zone Equipment Sequence order. One of the SequentialLoad runs is perfectly matching the Unifor

[2019-04-10 01:50] Myoldmopar opened #7265 "Wrap up CI Fixes"
ToDo:
 - [ ] Resolve MSVC warning (https://github.com/Myoldmopar/decent_ci/issues/14)
 - [ ] Get external interface files running on Windows
 - [ ] Start up Windows as full CI deployment
 - [ ] Figure out what is up with Mac
 - [ ] Update all Decent-related instructions

[2019-04-10 13:21] rraustad commented on #7264
Does this have something to do with not allocating Cooling/Heating fraction to 0.5 for both equipment types? I guess regardless the loads should be met either way.

SequentialLoad-good.idf

    ZoneHVAC:EquipmentList,
      living Equipment List,                  !- Name
      SequentialLoad,                         !- Load Distribution Scheme
      AirLoopHVAC:UnitarySystem,              !- Zone

[2019-04-10 13:25] shorowit commented on #7264
The unitary system only has a heating coil and the ideal air system can only provide heating (cooling capacity is set to 0), so I would hope not.

[2019-04-10 13:31] rraustad commented on #7264
I also see this. The cooling and heating loads are multiplied by the same ratio (loadRatio) yet these ratios are different for cooling and heating. I don't see how this would make a difference but it stands out as a possible place to look. I'll try using the same fractions to see what happens with the bad test file.

                // Determine whether we're heating or cooling and choose the appr

[2019-04-10 13:38] rraustad commented on #7264
For the bad test file I get 17.91 GJ for heating electricity in the End Use table. So this seems to work if fractions are consistent. The thing is I don't know if this is a workaround or if something else should have happened when the fractions weren't consistent. Need @mjwitte input.

    ZoneHVAC:EquipmentList,
      living Equipment List,                  !- Name
      SequentialLoad,

[2019-04-10 14:20] rraustad commented on #7264
I think the next step would be to see what portion of the zone load each of these systems is meeting. I assume the intention is for each to meet 1/2 of the load.

[2019-04-10 14:33] shorowit commented on #7264
Interesting sleuthing, @rraustad. Note that the Sequential Fractions are fractions of **remaining** load (i.e., after the previous equipment has served part of the load). So your scenario above actual means that the unitary system serves 50% of the heating load and the ideal air system meets 50% of the remaining load (so 25% of the heating load). I'm surprised that gives the correct result???

If

[2019-04-10 14:37] shorowit commented on #7264
The results so far seem to confirm that the problem is not with the Cooling Fractions. Their values (correctly) have no impact on the results given that the building only has heating equipment.

[2019-04-10 14:43] rraustad commented on #7264
The IDD shows the fraction is applied (or implied) to the remaining load but the code is using a fraction of the total (OutputRequiredToHeatingSP) zone load so I am surprised either of these worked:

    energy.RemainingOutputReqToHeatSP = energy.OutputRequiredToHeatingSP * loadRatio

    N4 , \field Zone Equipment 1 Sequential Heating Fraction
         \note The fraction of the remaining heating

[2019-04-10 15:36] rraustad commented on #7264
Here's what the total delivered load (light blue and orange) and also what each system is doing for the good and bad sequential load cases (Mdot*DeltaH from supply node to zone node). Looks to me as if:
1) the IDD note is misleading and the sequential fraction is a fraction of the total zone load
2) the sequential fractions should add up to 1

![image](https://user-images.githubusercontent.com/577

[2019-04-10 15:50] rraustad commented on #7264
This is somewhat confusing (which load variable to use when) and I think the last piece of the puzzle.

PurcahsedAirManager always uses:

        // get current zone requirements
        QZnHeatSP = ZoneSysEnergyDemand(ActualZoneNum).RemainingOutputReqToHeatSP;
        QZnCoolSP = ZoneSysEnergyDemand(ActualZoneNum).RemainingOutputReqToCoolSP;

And UnitarySystem uses (enters the IF part with these

[2019-04-10 21:46] mjwitte commented on #7264
the sequential fractions should add up to 1

1. No, the design intent is for the fraction to be applied to the *remaining* load. The fractions should not add up to 1.

2. `DistributeSystemOutputRequired` is only called for the first equipment, and only the first sequenced load is set to `TotalOutputRequired * loadRatio`

3. After that, `UpdateSystemOutputRequired` takes over.
There all of the `rem

[2019-04-11 00:30] rraustad commented on #7264
OK, but the IdealLoadsAirSystem IS using RemainingOut;putRequired. In the bad test file this equipment is the second in the list. The UnitarySystem is 1st and met 1/2 the load (see the figure above, dark blue on top of yellow/green). So why didn't the IdealLoads system meet the other half (it met the whole load, the red line right on top of light blue line)?

Also, I don't like using loadRatio sin

[2019-04-11 13:10] mjwitte commented on #7264
Not sure about the defect file issue, I haven't looked at it yet.  I wonder, when unitary runs a zone equipment, is it setting `SysOutputProvided` ? No - it's not. `SysOutputProvided` and `LatOutputProvided` aren't even in the argument list in `SimZoneEquipment`:
[code]

The remaining load to the zone at the time the equipment is called is what matters. If the zone needs some heat, then meet loadR

[2019-04-11 13:12] nmerket commented on #7264
Getting caught up here...

This code is a mess. It's not surprising to me that there is equipment that it doesn't work quite right for since each of the 20 or so different equipment types uses the load variables in slightly different ways. Without an intimate knowledge of how each works, it is nearly impossible to get this right.

My intuition is that the "incorrect" application of the heating and

[2019-04-11 13:31] rraustad commented on #7264
Good feedback. The biggest issue here is the UnitarySystem is not returning Sys/LatOutputProvided. I guess past user configurations never included other equipment in a zone. I see that air loop equipment don't return these either since the terminal unit takes care of that, so when I added ability to configure as zone equipment I missed that aspect. This is a good starting place.

Not sure I like a

[2019-04-11 13:44] mjwitte commented on #7264
How about a different function name when called as zone equipment? Or just a different signature?

[2019-04-12 17:06] mjwitte opened #7269 "User file with Site:GroundDomain:Basement failing with NaN"
Issue overview
--------------
User file has Site:GroundDomain:Basement fails with a thermostat error message showing NaNs in the error. The problem is with the horizontal insulation material which is Material:NoMass which results in a zero thickness domain region during mesh development. This could likely be a problem with any of the insulation materials in Site:GroundDomain:*

Workaround
--------

[2019-04-15 20:02] MatthewSteen commented on #7160
- [x] The LifeCycleCost:UsePriceEscalation object's [Year n Escalation](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/energyplus-economics/lifecyclecost-usepriceescalation.tex#L87) field should mention that if the `Length of Study Period in Years` field in the `LifeCycleCost:Parameters` object is greater than the number of years in this object, then the remaining y

[2019-04-15 22:17] mjwitte commented on #4999
Additional information about the sky temperature algorithms may be found in BS2017 paper "[Sky Temperature Estimation and Measurement for Longwave Radiation Calculation](http://www.ibpsa.org/proceedings/BS2017/BS2017_569.pdf)."

[2019-04-16 22:21] MatthewSteen opened #7272 "LifeCycleCost:RecurringCost isn't applied to correct year"
Issue overview
--------------
The following LCC objects produce a cost 25 years from the Base Date (2019, 2044) rather than the Service Date (2020, 2045) when the `Start of Costs` field is set to `ServicePeriod`.

[in.idf.txt](https://github.com/NREL/EnergyPlus/files/3087097/in.idf.txt)

    LifeCycleCost:Parameters,
      Life Cycle Cost Parameters,  !- Name
      EndOfYear,               !- Disc

[2019-04-18 15:13] nmerket opened #7275 "Stratified tank source heat transfer using use flow rate instead of source"
Issue overview
--------------
A very astute observer of the E+ source code noticed that we are [using the use flow rate in the source side energy calculation](https://github.com/NREL/EnergyPlus/blob/1afc16dac65705550eb9e08c5398d29f434f41ee/src/EnergyPlus/WaterThermalTanks.cc#L8294). Should be easy enough to fix.

### Details
Some additional details for this issue (if relevant):
 - Version of Energ

[2019-04-19 14:27] mjwitte commented on #6617
Not enough information here. Closing.

[2019-04-19 14:27] #6617 closed, assigned to nobody

[2019-04-19 14:33] mjwitte opened #7276 "Confusing sizing output for fan coil unit"
Issue overview
--------------
Autosized fan coil unit results in this error:
[code]

From @rraustad helpesk response and notes:
I seems you are doing nothing wrong with your inputs. I ran this file in the debugger and see that the input for design air vol flow rate is read in as "autosize". The fan coil then writes a value to that input to set the air flow rate. Then the coil sizes and thinks that

[2019-04-19 18:41] rraustad commented on #7276
Regardless of the fact that the fan coil and other zone equipment override air flow rates for child water coil components, why does the fan coil set a cooling flow rate for the cooling coil and heating flow for the heating coil when the fan coil has only 1 operating air flow rate?

    ZoneHVAC:FourPipeFanCoil,
      LGstore1 ZN Fan Coil,    !- Name
      FanAvailSched,           !- Availability S

[2019-04-19 19:06] Fan-Feng opened #7277 "Error when running PlantApplicationGuide_Example2"
Issue overview
--------------
I encountered an error when I ran the "PlantApplicantGuide_example2". MY E+ version is 9.0. The error shown is as follow.
************************************************
** Severe  ** FindRootSimpleController: Controller error for controller = "VAV WITH REHEAT_COOLC_CONTROLLER"
   **   ~~~   **  Environment=CHICAGO ANN CLG .4% CONDNS DB=>MWB, at Simulation time=07/21

[2019-04-19 19:10] rraustad commented on #7276
It's interesting that the water cooling coil water flow rate was not affected by commenting out the call to SetCoilDesFlow. Results of original defect file (using a schedule value of 1 for missing schedule files) using V9.1 code base (i.e., call to SetCoilDesFlow in FanCoil sizing is not commented out).

    Component Sizing Information, ZoneHVAC:FourPipeFanCoil, LGSTORE1 ZN FAN COIL, Design Size

[2019-04-19 19:16] rraustad commented on #7276
@mjwitte I suggest as a solution to remove the SetCoilDesFlow function and use ZoneEqSizing as the method to pass parent sizing info to child components? Any objections?

[2019-04-19 19:19] rraustad commented on #7276
Find all "SetCoilDesFlow", Match case, Subfolders, Find Results 1, Entire Solution, ""
    C:\Users\Richard\Documents\GitHub\EnergyPlusTeam-Parallel\src\EnergyPlus\FanCoilUnits.cc(1383):        using WaterCoils::SetCoilDesFlow;
    C:\Users\Richard\Documents\GitHub\EnergyPlusTeam-Parallel\src\EnergyPlus\FanCoilUnits.cc(2108):        //    SetCoilDesFlow(CoolingCoilType, CoolingCoilName, FinalZoneS

[2019-04-19 21:50] nmerket commented on #7275
Thankfully it turns out this is a pretty minor issue. This variable only exists as bookkeeping for calculating the unmet energy. We will still fix it, but this error is not affecting the energy balance of the tank. The heat rate from the source node is correctly being [added here](https://github.com/NREL/EnergyPlus/blob/1afc16dac65705550eb9e08c5398d29f434f41ee/src/EnergyPlus/WaterThermalTanks.cc#L

[2019-04-22 13:28] mjwitte commented on #7276
What's the difference between these two options?

[2019-04-22 13:40] rraustad commented on #7276
SetCoilDesFlow sets the input for child coil air flow rate prior to sizing. For Coil:Cooling:Water this appears to the sizing routine as a user input. The other 2 coil types don't report air flow.
The ZoneEqSizing array is used to pass information to the child during sizing so as to appear to be the autosized result.

Pretty sure SetCoilDesFlow pre-dates use of ZoneEqSizing and so that new method

[2019-04-23 19:26] mjwitte commented on #7160
- [x] Boiler:HotWater, I/O Ref. Input field  "Design Water Outlet Temperature" was removed for v9.0 (#6816) but the field name is still referenced in the descriptions of other fields (Nominal Thermal Efficiency and Design Water Flow Rate) and in the idf snippet.

[2019-04-24 14:08] rraustad commented on #7160
- [x] Noticed that some of these these report variable did not have a description. I was interested because I am getting 0's for Air System Simulation Maximum Iteration Count and Air System Simulation Iteration Count. It appears to me that these 2 accumulate controller iterations (even though it says "Air System ..."). I don't have any water coils with controllers. Maybe a name change is warranted

[2019-04-24 19:19] rraustad commented on #7264
Passing back SysOutputProvided corrected the issue.

![image](https://user-images.githubusercontent.com/5778156/56687524-7b406c00-66a4-11e9-9392-47a8c5e89f3b.png)

[2019-04-25 19:34] ryandmeyer1017 opened #7281 "Cut-out temperature same as cut-in temperature when Stratified Tank indirectly heated by boiler"
Issue overview
--------------
I have a simple Central DHW system model. I have a WaterHeater:Stratified object indirectly heated by a boiler. I am using the IndirectHeatPrimarySetpoint Source Side Flow Control Mode. A schedule defines the tank set point, or 'cut-out' temperature. I have a 5 F dead-band prescribed to define the 'cut-in' temperature.

The tank appears to correctly request source sid

[2019-04-26 00:12] yzhou601 commented on #7281
Hi, Ryan, I happened to be exploring the source side of water heater tanks recently. As far as I'm concerned, when outlet temperature is between deadband(cut-in) temperature and setpoint(cut-out) temperature, E+ judges whether requesting source heat by checking the ``tank saved mode``(if ``FloatMode``, it closed source side, if ``HeatMode``, it turned on), which is always float in this case. Howev

[2019-04-30 15:44] ryandmeyer1017 commented on #7281
Thanks Yueyue. I do not see any reference to Tank.Mode for the stratified tank either. As an aside, I was able to get the expected operation when swapping the WaterHeater:Stratified with a Mixed object.

[2019-04-30 15:51] yzhou601 commented on #7281
@ryandmeyer1017  You're welcome, the mode is an attribute of tank in source code, great that you've solved the problem by replacing the object. I am also investigating indirect tank, do you mind sharing me with your idf with mixed tank?

[2019-04-30 16:00] ryandmeyer1017 commented on #7281
Of course. I've included the idf file here. For larger storage tanks it is still more appropriate that the stratified tank is available for the same operation. The Mixed tank offers a workaround for now., but I'd like to keep the Stratified object issue reported here open. Let me know if you find anything else.

[in_mixed.idf.zip](https://github.com/NREL/EnergyPlus/files/3132059/in_mixed.idf.zip)

[2019-04-30 18:21] #5546 closed, assigned to nobody

[2019-04-30 18:21] Myoldmopar commented on #5546
1 is fixed, 2 is not going to be fixed.

[2019-04-30 18:24] Myoldmopar commented on #5640
@mitchute with the reworked doc build process, the docs are actually built in the source tree, so you can just edit/build the docs from the source tree directly using the tool and workflow of your choice.  You just need to run CMake configure to update the title page and such as you see fit.  I'm closing this one now.

[2019-04-30 18:24] #5640 closed, assigned to nobody

[2019-04-30 18:25] Myoldmopar commented on #5607
Closing this per the new EP-Launch UI.

[2019-04-30 18:25] #5607 closed, assigned to JasonGlazer

[2019-04-30 18:26] Myoldmopar commented on #6091
This is done.

[2019-04-30 18:26] #6091 closed, assigned to nobody

[2019-04-30 18:34] Myoldmopar commented on #6947
Is this fixed by #7094 ?

[2019-04-30 19:11] yzhou601 opened #7282 "Mixed tank use side and source side energy inaccurate equations"
Issue overview
--------------
I saw the Qsource in ``CalcWaterThermalTankMixed`` is calculated by calling ``CalcMixedTankSourceSideHeatTransferRate`` function where the equation follows:
[code]
And the Quse is also calculated in the same approach using setpoint temperature in ``CalcWaterThermalTankMixed`` function:
[code]
It confused me why it subtracted setpoint temperature rather than tank tempe

[2019-04-30 19:24] nmerket commented on #7282
[That line](https://github.com/NREL/EnergyPlus/blob/f4c404628b9ef1d11eb0f561d326fd5cc4283c6f/src/EnergyPlus/WaterThermalTanks.cc#L7658), which is only ever called from [here](https://github.com/NREL/EnergyPlus/blob/f4c404628b9ef1d11eb0f561d326fd5cc4283c6f/src/EnergyPlus/WaterThermalTanks.cc#L7170) has been in EnergyPlus [as far back as I can tell](https://github.com/NREL/EnergyPlusArchive/blob/fe0

[2019-04-30 19:29] yzhou601 commented on #7282
@nmerket Totally agree

[2019-05-01 09:10] chandangsharma opened #7283 "AirLoopHVAC:UnitaryHeatCool:VAVChangeoverBypass copressor shuts off causing unmet cooling hours"
Issue overview
--------------
AirLoopHVAC:UnitaryHeatCool:VAVChangeoverBypass compressor turns off when there is still cooling demand. Schedule, Minimum Outlet Air Temperature During Cooling Operation are checked to not cause compress shutdown. There are no EMS in the model. EnergyPlus V8.5 and 9.1 are used to run the model. Attached file illustrates the defect.

Problem seems to be in `GetZoneLoa

[2019-05-01 16:23] mjwitte opened #7285 "Unit ventilator control problems"
Issue overview
--------------
ZoneHVAC:UnitVentilator controls do not work as advertised.

1. When there is no coil, VariablePercent is supposed to increase the OA to max when there is a cooling load and the outdoor air is colder than the zone. But the if logic is backwards for this case.

2. Where there is a cooling coil, VariablePercent currently stays at minimum OA when there is a cooling load,

[2019-05-02 04:07] chandangsharma commented on #7283
@Myoldmopar Hello Edwin, is this all the information needed from my end? Thanks.

[2019-05-02 12:31] rraustad commented on #7283
Chandan, I just looked. You are correct, and any use of the loop counter ZoneNum should always be CBVAV(CBVAVNum).ControlledZoneNum(ZoneNum). I see a few places just above your change that also need the same change. The workaround is to order the zones in the same order as the control zones (e.g., put a plenum or any uncontrolled zones last as ordered in the idf).

[2019-05-02 12:39] rraustad commented on #7283
Well, not always. These CBVAV(CBVAVNum).ZoneSequenceCoolingNum(ZoneNum) needs to use the loop counter.

[2019-05-02 17:24] rraustad commented on #7283
Select plots in the defect file show the system is now working correctly.

![image](https://user-images.githubusercontent.com/5778156/57094079-97b05a00-6cdd-11e9-804f-b83f5a2f3c76.png)

[2019-05-02 18:44] rraustad commented on #7283
See #7288.

[2019-05-06 15:26] mjwitte opened #7290 "Errors in ASHRAE9012016 test files"
Issue overview
--------------
Three of the ASHRAE9012016* test files which are included in the distribution are not being tested on CI:

[code]

ASHRAE9012016_OutPatientHealthCare_Denver and ASHRAE9012016_ApartmentMidRise_Denver do not run in v9.1.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.1

### Checklist
Add to this list or remove from it as ap

[2019-05-06 23:52] mjwitte opened #7291 "Kiva initialization indoor temperature assumptions"
Issue overview
--------------
User file uses a cooling setpoint of 100C for zones with no cooling. This results in high indoor temperatures being used during Kiva intialization. Some options to consider:

1. Add new user inputs to control the temperatures used for Kiva intialization.

2. Make the balance point assumptions [here in `KivaInstanceMap::setInitialBoundaryConditions`](https://github.com

[2019-05-07 17:04] rraustad opened #7292 "AirConditioner:VariableRefrigerantFlow operates outside condenser limits when using constant fan operating mode"
Issue overview
--------------
Test file shows different operating characteristics of VRF system when using cycling fan and constant fan operating modes. The VRF system appears to be operating much more and outside the upper and lower outdoor (condenser entering) temperature limits when using constant fan.

Test file uses -20 to 23.9C limits on heating and the figure shows that the VRF system is op

[2019-05-07 17:28] rraustad commented on #7292
The VRF system checks for condenser entering fluid temperature at line 5235 and switches mode (e.g., from cooling to heating) if allowed.

            // disable VRF system when outside limits of operation based on OAT
            EnableSystem = false; // flag used to switch operating modes when OAT is outside operating limits
            if (CoolingLoad(VRFCond)) {
                if ((OutsideDry

[2019-05-08 15:26] mjwitte commented on #5410
@Myoldmopar Two more complaints about ep-launch lite (EnergyPlus v9.1.0) not working on Mac. Error is "the app cannot be opened" (or similar)
Helpdesk ticket 15136, macOS version is 10.14.4.
Ticket 15162, mocOS Sierra

We should stop packaging ep-launch lite.

[2019-05-08 16:53] mbadams5 commented on #5410
@mjwitte I just tested on 10.14.4 and 9.1.0 ep-launch lite gives me the same error. However, when I tried the 9.0.1 ep-launch lite, it launches just fine (and appears to be using 9.1.0 engine).

![Screen Shot 2019-05-08 at 12 52 58 PM](https://user-images.githubusercontent.com/2001544/57393026-3af6e880-7190-11e9-87e6-d0ff20532633.png)

[2019-05-08 17:47] mjwitte commented on #5410
Interesting. So, did we change something in the 9.1.0 installer and/or 9.1.0 ep-launch lite?

[2019-05-08 19:26] RKStrand commented on #6879
@nealkruis @mjwitte Just starting to look at this, but I want to clarify what is being requested.  So, I will state what I think is being asked and would appreciate it if one or both of you would respond so that I am on the right page.

What I understand is that the problem here is sort of two fold.  First, there are only two potential curve types that are allowed here and there is a desire to ope

[2019-05-08 20:31] RKStrand commented on #6817
@mjwitte The defect file that you added has ideal loads air systems in it.  How did you generate it and to what does it compare?  In other words, if I run the file that you added, which other input file will have the 30-50% differences that you mentioned in the description?

[2019-05-08 22:23] mjwitte commented on #6879
Correct.

[2019-05-08 22:39] mjwitte commented on #6817
The defect file is the HVACTemplate-5ZonePurchAir example file modified to use `SurfaceConvectionAlgorithm:Inside,CeilingDiffuser`. When this file is run for sizing periods (with Chicago weather), compared the zone sizing calculated design load with the peak ????? from the csv output.  For example, for Space1-1
[code]
From the csv output, the max of  SPACE1-1   IDEAL LOADS AIR SYSTEM:Zone Ideal Lo

[2019-05-09 00:17] mldichter commented on #7160
- [x] The IO Reference for EnergyPlus 9.1 ZoneHVAC:EquipmentList example idf objects are missing the new fields.

![idf](https://user-images.githubusercontent.com/39242689/57416405-12cdb080-71b5-11e9-96cc-9a17c6666a3a.PNG)

![ioref](https://user-images.githubusercontent.com/39242689/57416409-1a8d5500-71b5-11e9-817b-dccc8a74c1bc.PNG)

[2019-05-09 16:17] mjwitte commented on #5892
This is still an issue. Variable speed HW plant pump with non-zero min flow, and continuous operation never runs. New defect file added. Run with Denver or Golden weather.
Node 94 is the heating coil outlet node. Go to the bottom of the csv output on Feb 28 and see that the Node 94 temperature does not meet setpoint. With the pump min flow set to zero, it does.

[2019-05-09 18:38] rraustad commented on #6301
It would be nice if I knew what this model was supposed to do. I made some changes and get this:

![image](https://user-images.githubusercontent.com/5778156/57478065-035b6f80-7268-11e9-8462-8ccc4964faed.png)

[2019-05-10 15:40] mjwitte opened #7297 "HVACTemplate:Zone:BaseboardHeat Rated Average Water Temperature needs better value"
Issue overview
--------------
HVACTemplate:Zone:BaseboardHeat writes a hard-wired default value of 87.78C for Rated Average Water Temperature in the ZoneHVAC:Baseboard:RadiantConvective:Water object. This value impacts the sizing of the baseboard UA and it should be consistent with the hot water loop design temperature. In this case, the HVACTemplate default hot water supply temp is 82C, so the ba

[2019-05-12 12:06] #7260 closed, assigned to nealkruis

[2019-05-12 12:07] #7259 closed, assigned to nealkruis

[2019-05-13 08:33] jmarrec commented on #5410
@mjwitte Yes, there was some change to the installer (cf #7148), and the install directory structure changed by removing a top level. Perhaps that's why?

[2019-05-13 15:13] RKStrand commented on #6817
@mjwitte Note that the setting of ACH to zero during sizing also occurs for the Beausoleil-Morrison convection models as they use the same logic as the CeilingDiffuser model.

[2019-05-13 15:30] mjwitte commented on #6817
@RKStrand Then it would be good to change that also if you see fit.

[2019-05-13 16:07] RKStrand opened #7298 "IDFVersionUpdater and EP-Launch-Lite not working on Mac for EnergyPlus V9.1"
Issue overview
--------------
I have EnergyPlus V9.1 installed on a Mac running  MacOS Mojave Version 10.14.4 (18E226).  When I attempt to launch IDFVersionUpdater.app, I get the following error message:

"The application “IDFVersionUpdater.app” can’t be opened."

The application then does not run.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, ve

[2019-05-13 17:35] RKStrand commented on #6817
@mjwitte Ok, I have now run this and am seeing what you are seeing.  But, is the ACH=0 the source of the issue?  The sizing results for the ceiling diffuser convection model are essentially the same as for the TARP model (3434.834 W).  It's during the run when the ideal system is handling the load and it's no longer in sizing mod that the load is off.  It appears from running the debugger that the

[2019-05-13 17:52] mbadams5 commented on #5410
Related issue, #7298

[2019-05-13 18:11] mjwitte commented on #6817
ACH *should be non-zero*, the ideal loads model moves air. You could make a defect file with a fancoil unit, for example, and it should have the same discrepancy between the design day sizing load and the design day simulated load.

[2019-05-14 01:28] Myoldmopar commented on #7085
Your discussion here makes sense @rraustad, I have enough info to verify the fix in #7258.

[2019-05-14 15:39] RKStrand commented on #6817
@mjwitte Sorry--For some reason, I was trying to solve the wrong problem and thus was heading in a different direction.  What you said was totally clear so the fault in understanding was mine.  So, now that I'm on board, I have this fixed and am seeing that the sizing results for CeilingDiffuser at 4838W  and the run with ideal loads the peak is 4842W.  Will start working on the unit test, etc.  W

[2019-05-14 15:50] mjwitte commented on #6817
Yes, I'll review.

[2019-05-14 20:48] RKStrand commented on #6743
@mldichter @JasonGlazer So, here is what I found while I investigated this issue.  The problem arises because the input file does not choose a thermal comfort model and as a result the schedules are not actually used for anything in the file.  So, in effect, EnergyPlus is trying to tell the user something, but it is not very unclear as to what is being said.  I added a thermal comfort model on the

[2019-05-15 00:52] mldichter commented on #7160
- [x] IO REF 9.1

![Capture](https://user-images.githubusercontent.com/39242689/57741298-13f95480-7671-11e9-9343-581d45b85cef.PNG)

[2019-05-16 02:35] #7085 closed, assigned to rraustad

[2019-05-17 01:13] #7275 closed, assigned to nmerket

[2019-05-17 11:48] #6301 closed, assigned to rraustad

[2019-05-20 11:35] JasonGlazer commented on #7160
- [x] InputOutputReference field names for CoolingTower:SingleSpeed do not match the field names used in the IDD.

[2019-05-20 11:59] JasonGlazer commented on #7160
- [x] InputOutputReference for EvaporativeCooler:Indirect:WetCoil describes the last two field Drift Loss Fraction and Blowdown Concentration Ratio but they are not actually supported by code and do not appear in the IDD. They should either but removed from the IORef or a new issue should be issued to add support these fields.

[2019-05-21 14:38] rraustad commented on #6508
This is interesting. Adding @Myoldmopar @nealkruis @jasondegraw @JasonGlazer @Nigusse @lgu1234

Using a different test file (air loop only with no plant) the only difference is that the order of the mixer legs has been switched. I still need to try this solution with the 6508 defect files. I also wonder if the plenum has this same problem.

From:

    AirLoopHVAC:ZoneMixer,
        SYS0Demand Mixe

[2019-05-21 14:55] RKStrand commented on #2998
@Nigusse Before I start working on this, I just want to make sure I fully understand the problem as you see it.  So, I am going to try to restate what you said--could you please review this and either let me know that I have understood or not?  Thanks!

1. You are talking specifically about the section titled Thermal Comfort Setpoints that is listed as section 1.35.12 starting on page 1620 in V9.1

[2019-05-21 15:10] rraustad commented on #6508
For the defect files provided in the description the AirloopHVAC:ZoneMixer averaging when flow = 0 did not resolve the diff's. I see though that in these files the plant branches are also switched.

![image](https://user-images.githubusercontent.com/5778156/58107981-f8ce9d80-7bb8-11e9-8c4f-6053b01ea5bb.png)

[2019-05-21 17:11] mdahlhausen opened #7303 "EMS Application Guide CurrentEnvironment variable documentation"
The EMS Application Guide documentation includes this description for the CurrentEnvironment EMS variable:

Variable Name | Value
--- | ---
CurrentEnvironment | Integer index for the current environment period (sizing periods and run periods accumulate throughout the run)

Please include which integers correspond to the sizing periods and run periods in the documentation. 1 = Design Day, 2 =~ Desi

[2019-05-21 17:24] mjwitte commented on #7303
@mdahlhausen I am not sure there is a direct correspondence to environment type. My understanding of the current doc is that the first environment that is simulated (no matter what the type) will be CurrentEnvironment=1, the next will be 2, etc. Watch the value of this with different combinations of Run Simulation for Sizing Periods and Run Simulation for Weather File Run Periods to confirm.

[2019-05-21 18:06] Nigusse commented on #2998
@RKStrand That sounds correct to me, long time to remember all the details. I am not asking for equations in the IO reference. If remember correctly I felt the information that I found is not detailed enough to explain how those two reporting variables different. Any explanation without adding equation but pointing how these report variables actually calculated may help. Regarding item(3), you are

[2019-05-21 18:53] RKStrand commented on #6879
@nealkruis @mjwitte I have also uncovered an error in the Detailed Ice Storage Model.  In line 641 of IceThermalStorage.cc:

if (DetIceStor(IceNum).DischargeCurveTypeNum == CurveQuadraticLinear) {

But this is in charging mode, so this should say:

if (DetIceStor(IceNum).ChargeCurveTypeNum == CurveQuadraticLinear) {

Also need to modify the comment two lines after this.  My fix for this CR will co

[2019-05-21 19:42] mdahlhausen commented on #7303
@mjwitte you're correct.  Just checked and the CurrentEnvironment variable is matched to the EnvironmentPeriodIndex, not the EnvironmentType in the EnvironmentPeriods table of the eplusout.sql.

It'd be nice to have some direction in the EMS Application Guide directing a user to that table so they can find the correct integer to use for the CurrentEnvironment variable in their application.

[2019-05-21 21:08] RKStrand commented on #6879
@nealkruis @mjwitte As I look at this longer, I am wondering if this is sort of turning into almost a small development task rather than a simple fix so this is kind of like the design documentation.  Let's say that we modify the current input which asks for discharging curve object type, discharging curve object name, charging curve object type, and charging curve object name to discharging varia

[2019-05-22 13:43] Nigusse commented on #7118
This is a defect in evaporative cooler research special water pump modifier curve use implementation. The documentation is correct. The water pump power is correctly calculated only if "Effectiveness Flow Ratio Modifier Curve Name" input field is not blank. This fix modified the logic such that pump power calculation uses the correct flow ratio regardless of the Effectiveness modifier curve presen

[2019-05-22 16:45] rraustad commented on #7160
- [x] Help desk ticket [15174](http://energyplus.helpserve.com/staff/Tickets/Ticket/View/15174).

The documentation for Controller:OutdoorAir in the Input Output Reference (pg 2058, Section 1.49.3) reads:

If all the limits are satisfied, the outdoor air controller does the following for continuous air flow systems:
if the outdoor air temperature is greater than or equal to the mixed air temperatu

[2019-05-22 21:18] mattdoiron opened #7306 "IDFVersionUpdater Breaks Fenestration Objects Between v8.8 and v8.9"
Issue overview
--------------
IDFVersionUpdater breaks `FenestrationSurface:Detailed` objects when updating from v8.8 to v8.9. The last one or more vertices are discarded. When the subsequent IDFVersionUpdater is run to get to v9.0 or v9.1, the missing vertices are sometimes interpreted as an invalid object and the `FenestrationSurface:Detailed` are deleted completely. Other times, if three vertic

[2019-05-23 13:32] mjwitte commented on #7306
This is a known issue (#7010) with the transition programs in the v9.0 (and v9.0.1) install packages. Start over using the transitions in v9.1.

[2019-05-23 13:32] #7306 closed, assigned to nobody

[2019-05-23 14:09] JasonGlazer commented on #6743
Closed via #7301

[2019-05-23 14:09] #6743 closed, assigned to RKStrand

[2019-05-23 14:20] mjwitte commented on #6879
@RKStrand No, we don't need to allow for different orders of the variables (we don't do that anywhere else).
The intent here was just to support and document clearly the two rather different methods that are supported in the current code for [discharging](https://github.com/NREL/EnergyPlus/blob/7a7082a357ad875ac3f0d9dd66564a85cae454d2/src/EnergyPlus/IceThermalStorage.cc#L641-L645) and [charging](h

[2019-05-23 14:39] mjwitte commented on #7160
@rraustad No, this is actually what the code is doing [here](https://github.com/NREL/EnergyPlus/blob/7a7082a357ad875ac3f0d9dd66564a85cae454d2/src/EnergyPlus/MixedAir.cc#L4495-L4500). If the limits are satisfied (which would include comparing against return air temp if that's the type of economizer operation), then the economizer is open.  It only throttles back if that would make the mixed air tem

[2019-05-23 17:17] rraustad commented on #7160
Not exactly. The damper is initially set to 1 at that place in code and then economizer limits are tested at lines 4501+. If they are satisfied, the damper is set to minimum and economizer disabled. So from how I read this, the text is backwards and appears to readers that the OA damper is wide open when OAT is higher than RAT.

[2019-05-23 17:39] mjwitte commented on #7160
The logic may seem backwards, but if none of the limits are tripped, then the economizer is active and fraction stays at 1.0 if `this->InletTemp > this->MixSetTemp`.

[2019-05-23 18:27] samuelduchesne commented on #7256
I concur...

[2019-05-23 19:00] RKStrand commented on #6879
@mjwitte So, the fact that one equation type uses Fraction Charged as the first variable and LMTDstar as the second variable and the other uses LMTDstar as the first variable and Mdotnorm as the second isn't a problem (that LMTDstar show up first in one and second in the other)?  As long as it is explained and it can use any valid curve form (not just the two current set in the code), then that wi

[2019-05-23 19:04] mjwitte commented on #6879
Correct.

[2019-05-23 19:06] RKStrand commented on #6879
@mjwitte Got it--thanks!  I will proceed on this basis.

[2019-05-23 19:10] mjwitte commented on #6879
And, there's a couple of places that use (1-AvgFracCharged)?
[code]

[2019-05-23 19:21] RKStrand commented on #6879
@mjwitte @nealkruis Yes, those are for discharging and use percent discharged.  I'm going to make that clearer by having these options for discharging:

FractionDischargedLMTD
LMTDMassFlow

for the fifth character string in the input (what used to be Discharging Curve Object Type but will now be Discharging Curve Independent Variables)

For charging, the options will be:

FractionChargedLMTD
LMTDM

[2019-05-23 19:31] mjwitte commented on #7306
Here's the v8.9 file transitioned from v8.8 using the v9.1 IDFVersionUpdater.

[5ZoneWarmestVFD_V890_MJW.idf.txt](https://github.com/NREL/EnergyPlus/files/3213820/5ZoneWarmestVFD_V890_MJW.idf.txt)

[2019-05-23 19:38] mjwitte commented on #6879
OK, but I see now why I was confused about fraction charged vs fraction discharged. [This code](https://github.com/NREL/EnergyPlus/blob/7a7082a357ad875ac3f0d9dd66564a85cae454d2/src/EnergyPlus/IceThermalStorage.cc#L641-L646) is checking `DischargeCurveTypeNum` but it's evaluating the ChargeCurve - looks like this should be checking `ChargeCurveTypeNum` here.

[2019-05-23 19:41] RKStrand commented on #6879
Yes, I agree--see my comment above (third comment after initial description of the defect).  I uncovered that while looking through the code as I started to investigate this and I will correct this as part of this work.

Sorry for any confusion this error caused!

[2019-05-23 21:27] mjwitte opened #7308 "Outdoor air node conditions are not used correctly for zone local environment and for airflow network"
Issue overview
--------------
User file attempts to adjust infiltration heat gain by using EMS to change the temperature of an `OutdoorAir:Node` which is used as the external node on an `AirflowNetwork:MultiZone:Surface`. The node temperature changes as expected, but there is little or no impact on the infilration heat gain/loss. Investigation into this revealed several issues:

1. Calculation of

[2019-05-24 03:56] mattdoiron commented on #7306
Thanks! We've tried this with v9.1 and it appears to work. We'll use this version whenever we want to update.

[2019-05-24 17:38] ecoeficiente opened #7310 "ReadVarsEso launched from energyplus commandline does not work for folders with spaces in path"
Issue overview
--------------
When rvi/mvi file path has blank spaces (e.g. c:\Desktop\New folder\in.idf), ReadVarsEso executed with -r switch in Energyplus.exe commandline does not work.

[code]
It seems that RVIfile should also be quoted though I am not sure if this additional problem will arise if doing so:
[https://stackoverflow.com/questions/9964865/c-system-not-working-when-there-are-spaces-

[2019-05-24 19:31] johnrkramer opened #7311 "Variable Volume Fans not Allowed in PIU (Fan Powered Box) Terminal Units"
Issue overview
--------------
EnergyPlus does not allow `Fan:VariableVolume` in `AirTerminal:SingleDuct:ParallelPIU:Reheat`. Currently the only supported fan objects for fan powered boxes in EnergyPlus are `Fan:ConstantVolume` or `Fan:SystemModel`. Variable volume fans are common in FPBs (PIUs).

### Details
Windows, Mac OS
EnergyPlus 9.0

More info on [UnmetHours](https://unmethours.com/question/

[2019-05-28 09:20] jmarrec commented on #7310
@ecoeficiente I am unable to reproduce the problem on Windows 10 using Energyplus 9.1.0. Are you running this from outside the "New folder" directory? Or is it the rvi/idf file itself that has spaces and not the folder?

[code]

[2019-05-28 09:35] ecoeficiente commented on #7310
Hi @jmarrec, you have given me the solution with your question. I was running it from inside the folder but using the full path, when it is not necessary. Well, actually I was running it from a .Net Process class setting for the Working Directory the folder of the idf file but using the full path in the arguments. I have confirmed that setting the Working Directory as that, you can use only the fi

[2019-05-28 09:58] jmarrec commented on #7310
Ok thank you for the feedback, and happy that you have already a workable workaround. It should still run fine with the full path specified, so I will investigate a fix for this.

[2019-05-28 10:03] jmarrec commented on #7310
I can reproduce the error now.

[code]

[2019-05-28 18:49] #7127 closed, assigned to rraustad

[2019-05-28 18:56] Myoldmopar commented on #7265
These have been pretty much resolved, closing.

[2019-05-28 18:56] #7265 closed, assigned to Myoldmopar

[2019-05-28 18:58] Myoldmopar commented on #6572
This seems to not show up anymore, but this does now:

[code]

[2019-05-28 18:58] Myoldmopar commented on #6572
Actually, since that's an unrelated thing, let me just open a new issue for it.

[2019-05-28 18:58] #6572 closed, assigned to Myoldmopar

[2019-05-28 19:01] Myoldmopar commented on #7119
The weather one is the only one that remains, opening up a specific issue for it.

[2019-05-28 19:01] #7119 closed, assigned to nobody

[2019-05-28 19:01] Myoldmopar opened #7314 "Build Warning on Linux Release"
Issue overview
--------------
[code]

### Details
Some additional details for this issue (if relevant):
 - Platform: Ubuntu 18.10
 - GCC: 8.2.0

[2019-05-28 19:02] Myoldmopar commented on #7314
@jasondegraw I believe this would be easy for you to fix, as you've been in the weather manager most recently.  If not, let me know and I'll take a look or reassign.  It could be valid code and the warning should just be muted, and I'm OK with that if it is justified.

[2019-05-28 19:06] Myoldmopar commented on #6325
I think the key to this is really that severe errors **should** always lead to fatal errors.  If the simulation is going to continue, then the severe needs to actually be a warning.  We have ongoing tasks to clean up the error messaging, and this type of issue should be addressed by that work.  In the meantime, if we were going to catch files with "severe, but successful" simulation status, then w

[2019-05-28 20:01] #7213 closed, assigned to jmarrec

[2019-05-28 20:06] #7082 closed, assigned to jmarrec

[2019-05-28 20:52] Myoldmopar opened #7315 "Doc builds should not be in default make rule"
Issue overview
--------------
Right now, if you turn on BUILD_DOCS, and you just run make, it will build all the doc PDFs.  It would be nice if you could leave BUILD_DOCS turned on but not incur that build time penalty just for running the default make rule.  The default make rule should only build E+ and its dependencies, along with maybe a few key supporting tools (readvars, e.g., if BUILD_FORTR

[2019-05-29 02:20] Myoldmopar commented on #4888
Here's a full list of the Python files in the repo, with a number of subdirectories ignored:

[code]

I'll try to address these all in a PR.

[2019-05-29 14:00] jmarrec commented on #5410
There are two issues in one here, the symlinks / SIP which is the original.

The EP-Launch-Lite and IDFVersionUpdater should be tracked in #7298 and are due to the switch to QtIFW

[2019-05-29 14:03] jmarrec commented on #7298
I believe I know why this is happening. Previous to #7148 the packaging on mac was done with PackageMaker and was triggering the darinpostflight.sh script via the CPACK_POSTFLIGHT_SCRIPT variable. Now that it's using QtIFW, this script is not used and you can't launch the App because the content isn't `chmod +x`.

**As a workaround, manually do the `chmod +x` command on your installation.** With t

[2019-05-29 19:19] mjwitte opened #7318 "FluidCooler:SingleSpeed cannot autosize"
Issue overview
--------------
1. User file with autosized FluidCooler:SingleSpeed fails to reject any heat. Stepped through `SizeFluidCooler` and found that `SimpleFluidCooler(FluidCoolerNum).HighSpeedFluidCoolerUAWasAutoSized` is false [here](https://github.com/NREL/EnergyPlus/blob/e5e9977e455951877332892a2062c093dfee08d6/src/EnergyPlus/FluidCoolers.cc#L1228-L1229) which causes the fluid cooler c

[2019-05-30 14:24] #7128 closed, assigned to vidanovic

[2019-05-30 21:48] #7248 closed, assigned to nobody

[2019-05-30 21:48] Myoldmopar commented on #4888
Fixed via #7309

[2019-05-30 21:48] #4888 closed, assigned to Myoldmopar

[2019-06-01 18:41] mjwitte commented on #6817
Closed via #7300

[2019-06-01 18:41] #6817 closed, assigned to RKStrand

[2019-06-03 14:47] mjwitte commented on #6947
Yes, closed via #7094.

[2019-06-03 14:47] #6947 closed, assigned to xuanluo113

[2019-06-03 15:09] jmarrec commented on #7298
EP-compare has another problem, cf https://github.com/NREL/EnergyPlus/issues/7324

[2019-06-03 15:11] jmarrec opened #7324 "EP-Compare is outdated for modern macs"
Issue overview
--------------

The EP-Compare is a outdated to run on modern mac. Fixing the permissions doesn't help really.

[code]

If I chmod +x I still can't launch it by clicking on the App (which shows a O/ sign).: "You can't open the application "EP-Compare" because it may be damaged or incomplete"

If I launch it from the terminal, it complains but eventually launches anyway. I did briefl

[2019-06-04 10:45] #7256 closed, assigned to jmarrec

[2019-06-04 11:30] #7083 closed, assigned to Nigusse

[2019-06-04 12:16] #6211 closed, assigned to Nigusse

[2019-06-04 13:13] #7292 closed, assigned to rraustad

[2019-06-04 13:51] #7283 closed, assigned to rraustad

[2019-06-04 17:13] dareumnam commented on #6650
I'll be taking a look at fixing this defect, could you please provide any more information about this issue?

[2019-06-04 17:53] aaron-boranian commented on #6650
@dareumnam sorry, but the original poster of the suggestion on UserVoice didn't leave any further comments. My best guess is that they are referring to the [Heat Exchanger Configuration](https://bigladdersoftware.com/epx/docs/9-1/input-output-reference/group-heating-and-cooling-coils.html#field-heat-exchanger-configuration-000) input field of the Coil:Cooling:Water object. The I-O ref section for

[2019-06-05 02:34] Myoldmopar commented on #6650
@dareumnam At a minimum then, we'd need to point the user from the IO ref section at that field to the engineering reference section.  Not an actual inter-document link, but just a note telling them either a little more information about the field, or telling them to see the "XYZ" section in the engineering reference.

[2019-06-05 02:41] #7118 closed, assigned to Nigusse

[2019-06-05 02:48] #6937 closed, assigned to jmarrec

[2019-06-05 15:01] #7147 closed, assigned to jmarrec

[2019-06-05 15:23] #7310 closed, assigned to jmarrec

[2019-06-05 18:06] Myoldmopar commented on #7184
Closed via #7312

[2019-06-05 18:06] #7184 closed, assigned to Nigusse

[2019-06-06 14:16] aaron-boranian opened #7328 "Crash if AFN zone doesn't have inlet or return node connection"
Issue overview
--------------

If an airflow network zone (AirflowNetwork:MultiZone:Zone) is defined, and the AFN:SimulationControl object is using "MultiZoneWithDistribution", but the corresponding Zone has no inlet or return node connections defined in ZoneHVAC:EquipmentConnections, EnergyPlus will crash. After assigning an inlet or return node connection, there is a severe error message telling

[2019-06-09 23:25] crollinjones commented on #7276
I am reviewing a model with fan coils. I could not understand why the heating mass flow rate was very much lower than the cooling coil mass flow rate - 1% in one fan coil. The flows are too low to keep the spaces at heating setpoint. I was hoping there was a minimum flow rate input that would override the sized flow rate if less than that user specified minimum - 0.4 cfm/ft2. Where did that number

[2019-06-10 13:51] mjwitte commented on #7276
@crollinjones Support questions like this should be directed to unmethours.com or the EnergyPlus helpdesk energyplus.helpserve.com or e-mail energy-support@gard.com with the idf attached.

[2019-06-10 14:17] crollinjones commented on #7276
Thank you @mjwitte.

[2019-06-10 19:09] RKStrand commented on #7257
@rraustad Are you planning on taking on this issue or is it open for others to pick up?

[2019-06-10 19:51] rraustad commented on #7257
I was not, just talked through description here for future reference. I think this is the type of thing that would typically be combined with other document updates.

[2019-06-10 20:05] RKStrand commented on #7257
@rraustad Yes, it could be combined with #7160 and whoever does that one can pick this up too.  I'll put a link to this over in #7160 so that it doesn't get lost.

[2019-06-10 20:05] RKStrand commented on #7160
- [x] Whoever fixes these should also fix #7257 also

[2019-06-10 21:31] RKStrand commented on #6859
@lgu1234 Are you still planning on working on this?  If not, I can take it over as I am looking for things to work on.

[2019-06-11 15:23] jmarrec commented on #7328
If you have a Zone referenced in an AirflowNetwork:MultiZone:Zone and that is controlled, I am not 100% sure it should require the zone to be hooked to an AirLoopHVAC actually.
In any case it shouldn't crash.

[2019-06-11 15:34] jmarrec commented on #7277
@faithefeng I can't reproduce this with Energyplus 9.0.1 (nor with current develop). Are you sure you ran the file `ExampleFiles/PlantApplicationsGuide_Example2.idf` from the **same version** as the energyplus executable you used? Did you modify it in any way?

[2019-06-11 17:27] lgu1234 commented on #6859
@RKStrand No. Please take it over.

[2019-06-11 18:11] RKStrand commented on #6859
@lgu1234 Thanks, Gu.  I have change the assignee to me and will start working on it right away.

[2019-06-11 19:58] RKStrand commented on #6859
@mjwitte Is this still an issue?  I run the defect idf using the current develop and it runs to completion.  No crash and it seems that there is an error message that is being generated.  Or am I missing something?

[2019-06-11 20:18] mjwitte commented on #6859
@RKStrand If you can't reproduce it, then close it. If you want to figure out when it was fixed, check the blame on the error message? Hopefully the error message is relevant to this mismatch?

[2019-06-11 20:43] RKStrand commented on #6859
@mjwitte Here is what is produces:

   ** Warning ** An interior surface is defined as two surfaces with reverse constructions. The HeatTransferAlgorithm in both constructions should be same.
   **   ~~~   ** The HeatTransferAlgorithm of Surface: BLOCK1:DATATELCOM_CEILING_1_0_0, is CondFD - ConductionFiniteDifference
   **   ~~~   ** The HeatTransferAlgorithm of Surface: ROOF1:ZONE1_FLOOR_4_0_1000

[2019-06-11 20:56] mjwitte commented on #6859
@RKStrand Looks like this was addressed in #6867 but never cross-referenced here. Closing.

[2019-06-11 20:56] #6859 closed, assigned to RKStrand

[2019-06-12 09:17] jmarrec commented on #7151
This is definetely true, the availability schedule defined in `ElectricLoadCenter:Generators` is ignored for `Generator:PVWatts` (doesn't take any runFlag) and `Generator:Photovoltaics` if `Photovoltaic Performance Object Type = PhotovoltaicPerformance:Simple` (runFlag unused):  https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/Photovoltaics.cc#L800:L802

(Note that with Generator:Pho

[2019-06-12 09:44] jmarrec commented on #7324
@JasonGlazer Do you have the source somewhere to check if simply recompiling would suffice please?

[2019-06-12 14:23] EnergyArchmage commented on #7151
I think it was intentional, PV panels don't really have an off mode.  Could be changed to use the schedule if folks want it.

[2019-06-13 00:06] yzhou601 opened #7332 "Got incorrect results running model with water heating desuperheater"
Issue overview
--------------
Desuperheater gave crazy results for models with more "spiky" water use draw profiles. It seemed the function didn't control save properly when doing hvac iterations, which led to it advancing more than once per time step.

### Details
Some additional details for this issue (if relevant):
 - Platform (Windows 10)
 - Version of EnergyPlus (v9.1.0)
 - [Unmethours link](

[2019-06-13 11:43] JasonGlazer commented on #7324
@jmarrec I do have the source code but I don't have an updated license on the compiler. Do you want access to the code?

[2019-06-13 12:07] AbdellaAlzade opened #7335 "Positively pressurized ventilation system"
Issue overview
--------------
I am facing an issue that I hope that you have an answer for, would be really appreciated if you were able to help me with it.
I am aiming to design a ventilation system for building in E+ with a positive pressure (The supply air should be more than the exhaust), as in surgeries and operations rooms. I tried everything so far, modelling the pressure controller, zone e

[2019-06-13 12:42] mjwitte commented on #7335
Support questions belong on unmethours.com or energyplus.helpserve.com or energyplus-support@gard.com

[2019-06-13 12:42] #7335 closed, assigned to nobody

[2019-06-13 19:39] edwardv720 commented on #7328
I agree @jmarrec . It shouldn't require the zone to be hooked up to an air loop, I don't think that was the intention of the AFN.

As @aaron-boranian mentioned, the intended goal was to model include a zone, with a baseboard heater but no associated air loop, into the air flow network. So that adjacent zones that do have an distribution system can force air into the controlled zone that doesn't ha

[2019-06-13 19:46] edwardv720 commented on #7328
I agree @jmarrec . It shouldn't require the zone to be hooked up to an air loop, I don't think that was the intention of the AFN.

As @aaron-boranian mentioned, the intended goal was to model include a zone, with a baseboard heater but no associated air loop, into the air flow network. So that adjacent zones that do have an distribution system can force air into the controlled zone that doesn't ha

[2019-06-13 20:06] lgu1234 commented on #7328
@jmarrec I tested the defect file and realized this zone is not served by an AirLoop. Although it has a base board, the zone equipment does not any inlet and outlet nodes (very rare). Therefore, no check is needed. Here is my fix:

                    if (MultizoneZoneData(i).ZoneNum == j && ZoneEquipConfig(j).NumInletNodes > 0) {
                        // No multiple Airloop

[2019-06-14 14:02] JasonGlazer commented on #7160
- [x] In the IOref 9.1, Shading:Fin and Shading:Fin:Projection use the term "overhang" when they should be using the term "fin". Probably just a pasteo from the overhang object documentation.

[2019-06-17 07:32] jmarrec commented on #7328
@lgu1234 Ok so this is what I had came up with as my second try. Thanks a lot for looking into it and confirming!

[2019-06-17 07:37] jmarrec commented on #7151
I understand the rationale yes. Would you recommend just sending a warning to the user?

[2019-06-17 15:56] edwardv720 commented on #7328
Hi @jmarrec , so with the the commit, Eplus will not permit a zone with only a baseboard to be simulated as part of the AFN with distribution? It must contain an inlet (and the associated air loops etc etc)?

[2019-06-17 17:04] RKStrand commented on #7027
Removed the duplicate section group-surface-construction-elements.tex.  It made more sense to delete that one since the other location had other Site: input syntax.  Since this section deals with a Site: input, it made more sense to leave it there than surrounded by Construction and Material syntax.

[2019-06-17 17:12] RKStrand commented on #7257
Correcting the originally noted text to "variable" and "output variable".  Will also correct a typo that @rraustad noted in the IDD and also a typo in the I/O Ref section that he noted above.  Handling this separately from #7160 and lumping it together with other doc mods I have been working on.

[2019-06-17 17:33] dareumnam commented on #6650
I also found that the I-O ref has the same description for the "CounterFlow" and "ParallelFlow" in HeatExchanger:FluidToFluid Section. (Field: Heat Exchange Model Type)

"CounterFlow: Specifies a counter-flow shell and tube heat exchanger. The effectiveness will be calculated using a counter-flow shell and tube heat exchanger correlation."
"ParallelFlow:  Specifies a  parallel-flow shell and tube

[2019-06-17 19:04] jmarrec commented on #7328
@edwardv720 no it'll work. The defect file runs to completion

[2019-06-17 19:06] RKStrand commented on #7160
@mjwitte I'm not seeing this.  I'm seeing what is pasted below...

![image](https://user-images.githubusercontent.com/5804989/59629712-1257fc00-9109-11e9-840a-d9b51a352019.png)

[2019-06-17 20:32] mjwitte opened #7342 "sqlite TimestepType is backwards"
Issue overview
--------------
Noticed in various sqlite tables that `TimestepType` is backwards. Zone timestep variables are tagged as "HVAC System" and HVAC variables are tagged as "Zone".
![image](https://user-images.githubusercontent.com/4991075/59634086-91eac880-9113-11e9-8394-f034de1f98ec.png)

[SQLite::timestepTypeName](https://github.com/NREL/EnergyPlus/blob/f43e577cc4735e48577bdca46a73cfd0

[2019-06-17 21:12] mjwitte commented on #7160
@RKStrand That was addressed in https://github.com/NREL/EnergyPlus/pull/7203  - I checked it off above and added a note.

[2019-06-17 22:49] SchildCode commented on #6601
I fixed this problem on my copy of E+ v.9.1.0 by reverting to the v.8.9.0 schema for object "EnergyManagementSystem:Program". It appears that the EnergyManagementSystem:Program object was changed in the schema between versions 8.9.0 and 9.1.0.  The 9.1.0 version requires field "lines" (which is the name of the extended group, but not the name of a field); however the is no field called "lines", it

[2019-06-18 19:48] aaron-boranian opened #7345 "ASHWAT_Thermal not converging causes simultaneous heating and cooling load error"
Issue overview
--------------
The EquivalentLayerWindow.idf example file showcases how to use various `WindowMaterial:###:EquivalentLayer` objects combined into assemblies with the `Construction:WindowEquivalentLayer` object. The `WindowMaterial:Gap:EquivalentLayer` objects are all set to "Sealed" for the **Gap Vent Type** input field. The example file is set up for only simulating design days, bu

[2019-06-18 20:54] pflaumingo opened #7346 "EnergyPlus is converting from SI to IP twice in the eplustbl.htm for some areas"
Using EnergyPlus v9.1.0 via OpenStudio 2.8.0 I find that in parts of the eplustbl.htm output, the SI to IP conversion happens twice when the following object is added to the IDF:

OutputControl:Table:Style,
  All,                                    !- Column Separator
  InchPound;                              !- Unit Conversion

I have attached both idfs, as well as the htm reports generated for c

[2019-06-19 00:48] Myoldmopar commented on #4416
Closed with #7331

[2019-06-19 00:48] #4416 closed

[2019-06-19 10:40] SchildCode opened #7347 "epJSON schema object EnergyManagementSystem:Program change to allow blank lines, breaks from idd/epJSON compatibility convention"
Issue overview
--------------
As a result of pull request #6832 (merged with #6601) small changes were made to the **EnergyManagementSystem:Program** object in the schema in July 2018, between E+ version v.8.9.0 and v.9.0.0. Changes included the IDD schema (_idd/Energy+.idd.in_) and the epJSON schema script (_scripts/dev/generate_epJSON_schema/modify_schema.py_). As a result of this change, the ne

[2019-06-19 20:32] gracesuri opened #7348 "Vented Cavity"
Attempting to model an exterior vented cavity.

Unable to use the vented cavity since I have both exterior and interior insulation. Assembly is:
-SBS Bitumen
-DensDeck
-Polyiso (Rigid Insulation)
-Plywood
-2" Vented cavity
-Roof Insulation
-Gypsum

If I model the vented cavity as an airgap, I am unable to see the effects of air movement, If I model as an exterior vented cavity, I am unable to mode

[2019-06-19 20:55] EnergyArchmage commented on #7151
sure, a low-severity warning makes sense.

[2019-06-19 21:22] mjwitte commented on #7348
@gracesuri Please post this question at unmethours.com or the EnergyPlus helpdesk at energyplus.helpserve.com . Issues are for reporting defects or requesting new features.

[2019-06-19 21:22] #7348 closed, assigned to nobody

[2019-06-20 13:05] Nigusse commented on #7290
@MJW I run the three test files. Test file ASHRAE9012016_Hospital_Denver.idf did not fail but the other two failed. I will correct the two files only.

[2019-06-20 18:24] Nigusse commented on #7048
@mjwitte I added a check for valid Layers Type for Construction:WindowEquivalentLayer object. But when I run the defect in develop (V9.2), JSON Validator catches the invalid layer  and throws the following error before it gets to CONSTRUCTION object getinput function:

   ** Severe  ** <root>[Construction] - Object contains properties that could not be validated using 'properties' or 'additionalPr

[2019-06-20 20:12] shorowit opened #7353 ""previous errors cause termination" but no previous errors"
Running the attached file in E+ 9.1 gives:
[code]

But there are no previous errors. By running it through the debugger, we eventually discovered it was caused by the AirLoopHVAC:UnitarySystem's Heating Supply Air Flow Rate accidentally being set to zero. Seems like the error message is missing?

There is an error message [in the code](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus

[2019-06-20 20:33] mjwitte commented on #7048
@Nigusse Something has changed in the input processing that is now validating against the object-list properties in the schema. I'm not sure that we're ready for that, but that's a different discussion. Need to figure out when that was added. Beyond that, however, I don't find the above error message very useful to identify what exactly is wrong. When this error fires, is it possible to add more c

[2019-06-20 20:48] Nigusse commented on #7048
@MJW I am not sure if we can easily add more context without expanding JSON code base. [Here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/InputProcessing/InputValidation.cc#L102-L105) is the code where the error message is generated.

[2019-06-20 20:59] Nigusse commented on #7048
@WJM I agree that the error message is not helpful in identifying the offending object. It is generic error message. It is very difficult to find which construction object has the problem if you have multiple objects. I was able to identify the problem from the error message you posted. This will be challenging especially for novice users.

[2019-06-20 21:12] mjwitte commented on #7048
Hmmm, that error message was added as part of [changes to enforce required fields](https://github.com/NREL/EnergyPlus/commit/6b62aefb61d61a839d28d68431464261a547ae2f) as part of https://github.com/NREL/EnergyPlus/pull/7114. This shouldn't be tripping here, unless you've got a runperiod with a blank name?

[2019-06-20 23:02] Nigusse commented on #7048
I used the defect file in github. I just checked it, the Runperiod object name field is not blank.

[2019-06-21 08:29] jmarrec opened #7355 "SurfaceControl:MovableInsulation doesn't catch wrong Material types"
Issue overview
--------------

The I/O ref specifies that the `SurfaceControl:MovableInsulation` `Material Name accepts (see https://github.com/jmarrec/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-advanced-surface-concepts.tex#L230:L232)

If you set it to a `WindowMaterial:SimpleGlazingSystem` E+ doesn't catch that, and you'll end up with a floating point exception in [Ini

[2019-06-21 12:02] rraustad commented on #7353
This was commented out when GetInput was converted to JSON. The target `cNumericFields(iMaxHeatAirVolFlowNumericNum)` is the field name from the IDD as:

    N7 , \field Heating Supply Air Flow Rate

or

    cNumericFields(iMaxHeatAirVolFlowNumericNum) = "Heating Supply Air Flow Rate"

I no longer see the int const parameters for numerics fields in this code (e.g., iMaxHeatAirVolFlowNumericNum), b

[2019-06-21 12:05] rraustad commented on #7353
@Myoldmopar can we get a new function created to use instead of converting these to strict text warnings? Who would be the best team member to do that? Then all these messages can be corrected.

[2019-06-21 12:06] Myoldmopar commented on #7353
Yes I'm sure we'll be able to do that. I could take a look but if Mark had
any pointers that would be helpful.

On Fri, Jun 21, 2019 at 07:05 Richard Raustad <notifications@github.com>
wrote:

--
Edwin Lee, PhD
Engineer, Commercial Buildings Research Staff
National Renewable Energy Laboratory

[2019-06-21 12:06] rraustad commented on #7353
@mbadams5 any comments?

[2019-06-21 12:27] rraustad commented on #7353
@mbadams5 [this](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/UnitarySystem.cc#L2701-L2714) is an example of current GetInput code. There are some things needed for developers.

Notice how cumbersome it is to access autosizable numeric fields, it would be much easier if this were instead:

    loc_m_HeatingSAFMethod_SAFlow = someFunctionName(fields.at("heating_supply_air_flow_rat

[2019-06-21 14:51] Nigusse commented on #7048
@mjwitte Hmmm. I found the problem. The validator was not happy with a character/symbol in the object name. The offender is "solaio pavimento(1°piano)/2°piano," CONSTRUCTION. When I removed the "degree" symbol, the validator runs fine.  OK will proceed fixing the main issue.

[2019-06-21 16:38] RKStrand commented on #7222
@jmarrec @mjwitte @rraustad So, what would you all suggest as an appropriate clarification in the documentation?  I'm not sure what text would clarify this limitation.  Here is a possible suggestion:

This compound object is used in place of where a DX cooling coil object would normally be used by itself.  However, unlike other similar objects like CoilSystem:Cooling:Water:HeatExchangerAssisted, i

[2019-06-23 04:43] Myoldmopar commented on #5625
Closed via #7337

[2019-06-23 04:43] #5625 closed, assigned to dareumnam

[2019-06-23 18:39] mjwitte commented on #7048
OK- but does that mean we need a different fix to allow those characters? @Myoldmopar @mbadams5

[2019-06-24 14:39] Nigusse commented on #7048
I think we do need a fix, or we need some where in the documentation that tells what characters / symbols are not allowed in object names.

[2019-06-24 17:13] Nigusse commented on #7285
@mjwitte @Myoldmopar defect items 1 and 2 can be addressed here, but item 3 needs a separate issue, or even may be enhancement. What do you think?

[2019-06-24 23:52] mbadams5 commented on #7048
I'll have to look at the defect file because if the characters are UTF-8, it should just work. If they are not UTF-8 then it should still not be a blank name.

[2019-06-25 13:57] mjwitte commented on #7222
@RKStrand How about this:

This compound object is used in the same way as a DX cooling coil object. It cannot be used directly on a branch. It must be contained within a parent object such as  CoilSystem:Cooling:DX or AirloopHVAC:UnitarySystem and others which list CoilSystem:Cooling:DX:HeatExchangerAssisted as a valid cooling coil option.

[2019-06-25 19:32] RKStrand commented on #7222
@mjwitte Sounds good to me.  I have put your suggested text in exactly as shown above.  Thanks!  Want to review #7160 ? :)

[2019-06-25 19:33] #7332 closed, assigned to yzhou601

[2019-06-25 20:05] RKStrand commented on #7285
@Nigusse I agree with you.  Items 1 and 2 are defect issues while Item 3 is a separate thing--more of a development project.  By the way, are you thinking of taking this on?  If not, I am interested in working on this.

[2019-06-25 22:00] RKStrand commented on #7219
@mldichter I'm taking a look at this issue and I'm not sure this is actually a TES problem.  In the first example you showed (ChillerUpstream, which I also ran locally), the TES is actually scheduled OFF during March.  That explains why the end fraction keeps going down with no attempt to charge the system back up.  So, then the question is: is the chiller not operating properly or is there someth

[2019-06-27 16:32] jasondegraw commented on #6986
This was addressed in #7164

[2019-06-27 16:32] #6986 closed, assigned to jasondegraw

[2019-06-27 18:26] mjwitte opened #7365 "Fan models need to protect against negative fan power due to bad EMS override values"
Issue overview
--------------
User file failed with a fatal psychrometric error due to very cold temperatures in the HVAC system. The problem comes from negative values set by EMS for fan pressure , which caused negative values for fan power and fan heat gain, leading to very cold node temperatures, which then cascaded until the psych error tripped.

All of the fan models need a trap for this. I'd

[2019-06-28 17:10] mjwitte opened #7367 "Very low surface temperatures for WindowEquivalentLayer with interior blind"
Issue overview
--------------
Comparisons between Winkelmann and the WindowEquivalentLayer (ASHWAT) methods for a window with interior blinds show large differences. From the user's post:

See [here for plots](https://unmethours.com/question/38948/inconsistency-in-results-from-winkelman-and-equivalent-layer-blinds-models/).

### Details
Some additional details for this issue (if relevant):
 - Vers

[2019-06-28 17:51] Nigusse commented on #7367
@mjwitte do we have defect file for this issue?

[2019-06-28 17:55] Myoldmopar commented on #5274
Fixed via #7366

[2019-06-28 17:55] #5274 closed, assigned to dareumnam

[2019-06-28 18:08] mjwitte commented on #7367
Defect files are in EnergyPlusDevSupport\DefectFiles

[2019-06-28 21:14] Myoldmopar commented on #6650
Fixed via #7349

[2019-06-28 21:14] #6650 closed, assigned to dareumnam

[2019-06-28 21:20] tidecoder commented on #7314
@Myoldmopar What config options did you apply to build EnergyPlus?
I have Ubuntu Desktop 18.10 and GCC version 8.3.0.
So far my build and compile are good without warning with following configure options:

`
BUILD_DOCS    OFF
BUILD_FORTRAN    OFF
BUILD_GMOCK   OFF
BUILD_GTEST    ON
BUILD_PACKAGE    OFF
BUILD_PERFORMACE_TESTS    OFF
BUILD_TESTING    ON
BUILD_WCE_TESTING    OFF
CMAKE_BUILD_TYPE    D

[2019-06-28 21:21] Myoldmopar commented on #7314
This is a release build on Linux, not a debug build.  Set CMAKE_BUILD_TYPE to Release and you should see this.

[2019-06-28 21:23] Myoldmopar commented on #7027
Closed with #7340

[2019-06-28 21:23] #7027 closed, assigned to RKStrand

[2019-07-01 14:05] Myoldmopar commented on #7290
Fixed via #7351

[2019-07-01 14:05] #7290 closed, assigned to Nigusse

[2019-07-02 20:51] mldichter commented on #7219
@RKStrand What I ended up doing is making two plant loops. One with a frictionless pump that's always on, chiller, ice tank, and 100% effective heat exchanger. The other loop has the same heat exchanger, real pump, and demand objects. Controlling the charging and discharging of the ice tank becomes much easier since that loop is always flowing.

[2019-07-03 17:40] mldichter opened #7372 "Invalid vertex pairs for surface edges"
Issue overview
--------------
I have encountered "not fully enclosed" warnings before for a zone surface with a very long edge, but this warning is not pairing valid vertices. The first vertex pair is two diagonally opposite vertices, and the Z coordinate of the second vertex is wrong. The other edge is made from joining a vertex with itself. The surface is properly defined, so something is clearl

[2019-07-03 19:26] jasondegraw commented on #6558
Improved simulation progress indicators is planned for FY20.

[2019-07-03 19:29] jasondegraw commented on #7311
@johnrkramer The eventual plan is to deprecate the other fan objects in favor of `Fan:SystemModel`. Is there a feature gap here that is preventing the use of `Fan:SystemModel` for what you need?

[2019-07-03 19:31] jasondegraw commented on #6605
Resolved by #7252

[2019-07-03 19:31] #6605 closed, assigned to nobody

[2019-07-03 19:33] jasondegraw commented on #6529
Being worked on in #7230

[2019-07-03 19:45] jasondegraw commented on #4839
The concerns brought up here may be addressed by the ongoing GPU shading work (@mbadams5?)

[2019-07-03 19:46] jasondegraw commented on #6555
There is work planned on this topic in FY20.

[2019-07-03 20:13] jasondegraw commented on #5900
@JasonGlazer I'm generating DOT graphs from my AirflowNetwork model auditing script (see [here](https://github.com/NREL/EnergyPlus/blob/add-diagnostic-script/scripts/diagnostics/afn_auditor.py#L109)). It is still pretty rough, but implementation of this sort of thing in Python is potentially easier than extending HVAC-Diagram or doing something in a compiled language.

[2019-07-03 22:28] YanfeiNREL commented on #7314
The issue is: "Month, DayOfMonth, HourOfDay" are all integers; while the "%02d/%02d %02d" formatting is trying to compress those integers into 2 digitals. However, the compiler is not smart enough to recognize this behavior. Basically i cast them into short integer. Please see the branch @"WarningLinuxRelease7314"

[2019-07-04 14:09] chriswmackey commented on #4839
That would be great if this gets addressed in some way shape or form, @jasondegraw .

After re-reading this post, I also wanted to confirm that triangulation of the surfaces does not seem to solve the issue and it seems to be related to non-convex zone geometry rather than non-convex surface geometry.  At the least, I can report that I still get a CHKBKS error with a model that does not have any n

[2019-07-05 10:47] silviabi19 opened #7374 "AirFlowNetwork control"
Issue overview
--------------
Hello everybody,
I'm new here and in the use of EnergyPlus! I have already looked for an answer in existing issues but I couldn't find it. I hope my question is not useless.

I'm implementing the ASHRAE Small Office in EnergyPlus v8.0 adding an AirFlowNetwork for an accurate opening of the windows.
I see that in AirFlowNetwork:SimulationControl is possible to select d

[2019-07-05 13:53] #7264 closed, assigned to nobody

[2019-07-05 13:53] mjwitte commented on #7264
Closed vis #7280

[2019-07-05 17:11] mjwitte opened #7375 "Ideal loads heating capacity sizing does not account for OA load - was ok in v8.9"
Issue overview
--------------
User file has two identical zones with ideal loads air systems. One zone has OA, and the other does not. The cooling capacity sizing reflects the OA load, but the heating capacity sizing is identical in the two zones.  User notes that this worked OK in v8.9.

Reproduced the problem using modified PurchAirTables.idf with and without OA in zone 1.

I cannot see a workar

[2019-07-05 17:25] mjwitte commented on #7375
Some initial debugging (hoping to find a workaround) shows that ideal loads has a [special path in `RequestSizing` for cooling capacity](https://github.com/NREL/EnergyPlus/blob/08197075fefb6ada0deae2e3489e55a544b98c82/src/EnergyPlus/ReportSizingManager.cc#L2000-L2017), which was added in #4704 by yours truly.

Heating sizing for ideal loads currently ends up [here](https://github.com/NREL/EnergyPl

[2019-07-05 17:35] Nigusse commented on #7365
@mjwitte Confirmed the defect. Modified the code for simple fan per your suggestion, now the defect file runs to completion.  Is it helpful to add a minimum limit of zero for Pressure Rise input field in the fan objects? Currently it does not have any limit.

[2019-07-05 18:34] Nigusse commented on #7285
@RKStrand You can have it as you are more familiar with this object.

[2019-07-05 18:34] mjwitte commented on #7365
@Nigusse The idd has limits of 0 for the Pressure Rise in the simple fans, so that's ok. Fan:SystemModel has a limit of >0.0 - that will be a problem when we transition away the old fans.

@EnergyArchmage is there a reason for >0.0 for fan Pressure Rise in Fan:SystemModel?

[2019-07-05 18:40] RKStrand commented on #7285
Thanks, Bereket. I’ll try to look into this more next week.

On Jul 5, 2019, at 1:34 PM, Bereket Nigusse <notifications@github.com<mailto:notifications@github.com>> wrote:

@RKStrand<https://github.com/RKStrand> You can have it as you are more familiar with this object.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/NREL/Ene

[2019-07-05 18:47] Nigusse commented on #7365
@mjwitte I just looked at "Pressure Rise" of five fan objects (Fan:ConstantVolume, Fan:VariableVolume, Fan:OnOff, Fan:ZoneExhaust and FanPerformance:NightVentilation) of the IDD in current develop, all five of them do not have limits.

[2019-07-05 18:59] mjwitte commented on #7365
Oh - you're right - I was searching too quickly. And none of them check that on input?

[2019-07-05 22:23] EnergyArchmage commented on #7365
There is this check in code, so having the IDD limit probably helps avoid hitting it.

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/HVACFan.cc#L464

[2019-07-06 03:52] Nigusse commented on #7365
@EnergyArchmage Shouldn't we give users the option to set the fan pressure rise to 0? For instance, what if the user want the fan power to be zero when the fan effect is included in the HVAC unit efficiency although it is not a common practice.

[2019-07-08 13:25] msfer86 opened #7377 "Severe errors for baseboard electric heating in HVAC:Template:Zone:VAV:FanPowered"
Issue overview
--------------
Using the HVAC:Template:Zone:VAV:FanPowered object with 'Baseboard Heating Type' = 'Electric', in the new EnergyPlus version 9.1.0, results in severe errors. Other baseboard types ('None' and 'HotWater') run correctly.
In the expanded file, in the respective ZoneHVAC:EquipmentList, it seems that the electric baseboard type (ZoneHVAC:Baseboard:Convective:Electric) and

[2019-07-08 18:58] jmaguire1 opened #7378 "Potential Freezing Water in Water Storage Tanks"
Issue overview
--------------
For water heaters (both WaterHeater:Mixed and WaterHeater:Stratified), there's an upper limit on tank temperature to account for the temperature and pressure relief valve (which will trip before boiling occurs). However, there's no lower limit on temperature, which means the water temperature can get below 0 C.

### Details
In a real tank, freezing would likely cause

[2019-07-09 13:59] mjwitte commented on #7377
@msfer86 Yes, there is a bug for this combination of equipment. The new fraction fields are missing from the ZoneHVAC:EquipmentList object just before the electric baseboard.
[code]

The workaround is to add two commas before the baseboard object type:
[code]

[2019-07-09 16:57] mjwitte opened #7379 "Economizer BypassWhenOAFlowGreaterThanMinimum control needs a mass flow tolerance"
Issue overview
--------------
Two very similar user files which differ only slighting in one value have very different HX bypass results on the winter design day. The OA controller has an enthalpy economizer with no lockout and BypassWhenOAFlowGreaterThanMinimum. Watching in the debugger shows that the OA flow is on the order of 2e-16 > than the minimum, so it locks out. Look at `OAMassFlowActual`

[2019-07-09 17:26] jasondegraw commented on #7374
This is a question more for UnmetHours than for here, and I've answered it there:

https://unmethours.com/question/39416/airflownetwork-control/

[2019-07-09 17:26] #7374 closed, assigned to nobody

[2019-07-10 14:02] Myoldmopar commented on #2998
Closed via #7307

[2019-07-10 14:02] #2998 closed

[2019-07-10 19:44] shorowit opened #7381 "Coil:Heating:DX:MultiSpeed & Coil:Heating:WaterToAirHeatPump:EquationFit values missing from ComponentSizes when hard-sized"
Issue overview
--------------
I ran EnergyPlus 9.1 simulations with single-speed and multi-speed DX coils. When I look in the ComponentSizes table in eplusout.sql, I don't see capacity/airflow values for the `Coil:Heating:DX:MultiSpeed` object. The `Coil:Cooling:DX:MultiSpeed`, `Coil:Heating:DX:SingleSpeed`, and `Coil:Cooling:DX:SingleSpeed` objects appear correct.

### Coil:Heating:DX:SingleSpeed

[2019-07-10 21:10] RKStrand commented on #7285
@mjwitte Do you agree with @Nigusse and @RKStrand that this should be separated into two separate issues (items 1 and 2 in your original problem statement stay here and item 3 gets moved to something else, possible a new feature)?

[2019-07-10 21:17] RKStrand commented on #7285
@mjwitte So, in item 1, you wrote:

"When there is no coil, VariablePercent is supposed to increase the OA to max when there is a cooling load and the outdoor air is colder than the zone. But the if logic is backwards for this case."

However, when I look at the code starting at line 3050 in UnitVentilator.cc (case where this is a cooling load and no coil is available), I see the following:

[2019-07-10 21:29] RKStrand commented on #7285
@mjwitte I definitely agree with your comment regarding Item 2 in your original problem statement.  This should allow more OA to help reduce the cooling coil load.  I am guessing that I did it this way because I was trying to match the unit ventilator description as provided in whatever ASHRAE handbook description was available at the time but it could also just be an error.  I think what makes se

[2019-07-10 21:43] mjwitte commented on #7285
Yes regarding 1 and 2 here, 3 separate. In fact, 3 is covered by #6636.

[2019-07-10 21:47] mjwitte commented on #7285
Regarding item 2 (cooling coil with Variable Percent), MaxOA could be too much cooling in cold weather. So, this control should land in between MinOA and MaxOA if needed to match the load.

[2019-07-10 21:55] mjwitte commented on #7285
Regarding 1, I must have misread that code (or looked at the wrong block). So, the basics are good here, but this should modulate to match the load as suggested in the comments.

[2019-07-10 22:03] RKStrand commented on #7285
@mjwitte Ok, so I will implement a fix that will address Variable Percent with a cooling load with and without a coil.  Both with and without a coil will be the same and will vary the OA percentage (or is it fraction? :) ) to increase OA when outside air temperature is less than zone return but not go past meeting the load.  If that doesn't sound good, let me know.  Thanks!

[2019-07-10 22:16] shorowit commented on #7381
The capacity for the `Coil:Heating:WaterToAirHeatPump:EquationFit` object is also missing, though the airflow value is there. The `Coil:Cooling:WaterToAirHeatPump:EquationFit` object correctly has both capacities and airflow.

[gshp.idf.txt](https://github.com/NREL/EnergyPlus/files/3379568/gshp.idf.txt)

[2019-07-10 22:18] mjwitte commented on #7381
Are the items that are missing from the sql output present in the eio?

[2019-07-10 22:22] shorowit commented on #7381
@mjwitte No, I don't see them in the eio either.

[2019-07-10 22:41] mjwitte commented on #7381
So - next question - are the missing fields actually "autosize"d?

[2019-07-10 22:50] shorowit commented on #7381
No, they are hardsized and I want to read the "User-Specified" capacities. (This is the same situation as the other coils that work correctly.)

[2019-07-10 22:52] mjwitte commented on #7381
OK - so that likely means that these coils are not using the latest method for reporting sizes.  I'll change the issue title accordingly. @rraustad @Nigusse

[2019-07-10 23:02] rraustad commented on #7381
Coil:Cooling:DX:MultiSpeed uses RequestSizing for air flow only and the old method for other inputs. Coil:Heating:DX:MultiSpeed uses the old method for sizing all inputs.

[2019-07-11 01:41] #7257 closed, assigned to RKStrand

[2019-07-11 20:44] mjwitte commented on #6879
Closed via #7339

[2019-07-11 20:44] #6879 closed, assigned to RKStrand

[2019-07-11 23:58] mjwitte commented on #6366
@YanfeiNREL The code was addressed in https://github.com/NREL/EnergyPlus/commit/4e96134d9498cbe7c2d3555e3dbaa3c88d368d38 as part of #5893.

Just to clarify, command line argument "-a" sets `DataGlobals::AnnualSimulation` [here](https://github.com/NREL/EnergyPlus/blob/3e91d130a5724d86a9172f4156001e69b10127ad/src/EnergyPlus/CommandLineInterface.cc#L198).

Environment variable "FullAnnualRun" is proc

[2019-07-11 23:58] #6366 closed, assigned to YanfeiNREL

[2019-07-12 03:08] YanfeiNREL commented on #6366
It was fixed within #5893, with commit id: 4e96134d9498cbe7c2d3555e3dbaa3c88d368d38.

[2019-07-12 03:14] YanfeiNREL commented on #6366
Thanks @mjwitte . I think it is better to add a line of description to the docs. Then the user would know how to force the idf run whole year simulation.

[2019-07-12 12:06] JasonGlazer opened #7383 "Check if two surfaces are coplanar prior to issuing "not fully enclosed" warning"
Issue overview
--------------

The warning message:

** Warning ** CalculateZoneVolume: The Zone="X" is not fully enclosed. To be fully enclosed, each edge of a surface must also be an edge on one other surface.

Can get triggered even if the volume is fully enclosed but that one of the sides is made up of multiple coplanar pieces.

Add an additional level of checking for this coplanar case to red

[2019-07-12 13:28] mjwitte opened #7384 "Material:InfraredTransparent issues"
Issue overview
--------------
1. Noticed this code in the setup for Material:InfraredTransparent in [HeatBalanceManager::GetMaterialData](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/HeatBalanceManager.cc#L1832-L1836):
[code]
It appears that the object at one time had more input fields, but currently, the object only has a name field. So MaterialNumProp will always be zero, and R

[2019-07-12 15:50] Nigusse opened #7385 "SurfaceControl:MovableInsulation does not support equivalent layer window glazing but we have unit test for it"
Issue overview
--------------
Noticed that the unit tests added for SurfaceControl:MovableInsulation in issue #5757 [HERE](https://github.com/NREL/EnergyPlus/blame/develop/tst/EnergyPlus/unit/HeatBalanceMovableInsulation.unit.cc#L97-L99) and [HERE](https://github.com/NREL/EnergyPlus/blame/develop/tst/EnergyPlus/unit/HeatBalanceMovableInsulation.unit.cc#L132-L134) and the pull request #5762 shows t

[2019-07-12 15:52] Nigusse commented on #7385
added defect files

[2019-07-14 13:34] Myoldmopar commented on #7314
@YanfeiNREL thanks for the fix, I'll be checking out the branch.  I'm going to reopen this issue until the branch is merged into the main code base.

[2019-07-15 13:01] jmarrec commented on #7136
IIUC, this only applies to central cooling coils. The Sizing:System "Type of Load to Size On" field is used to determine what the supply air flow rate used is, where `Total` means the airflow and system air conditions is at the system cooling total peak, and all other choices mean "Sensible".

The "Air Flow Ideal Loads Peak" design day name and timestamp are given for reference only (they apply to

[2019-07-15 13:04] Myoldmopar commented on #7314
Fixed via #7373

[2019-07-15 13:04] #7314 closed, assigned to jasondegraw, YanfeiNREL

[2019-07-15 14:05] mjwitte opened #7388 "Non UTF-8 characters throwing false blank name error"
Issue overview
--------------
Non-UTF-8 characters causing false blank name error. The defect file from #7048 fails in v9.2.0-26151c5477 with this error:
[code]
@Nigusse [traced the problem](https://github.com/NREL/EnergyPlus/issues/7048#issuecomment-504454488) to this object:
[code]

@mbadams5 [commented](https://github.com/NREL/EnergyPlus/issues/7048#issuecomment-505223437): ... if the character

[2019-07-15 14:30] rraustad commented on #7136
I agree that the sizing tables should include the sizing method. When latent coil sizing is added there would then be 4 choices and users can change the sizing method per system. Documentation could include a description of sizing details for each choice. Should the Design Day Name (and Date/Time) be reported for the Sensible, 2nd row, when sizing method = Total? Is that helpful without the associ

[2019-07-15 14:45] mjwitte commented on #7048
UTF-8 question forked into new issue #7388

[2019-07-15 16:12] #5410 closed, assigned to jmarrec

[2019-07-15 16:12] #7298 closed, assigned to jmarrec

[2019-07-15 17:24] YanfeiNREL commented on #7272
@MatthewSteen Hey, i tried to recreate this issue, and what i got for the "Present Value By Year" table are from  2019 until 2068, which is 50 years span. Would you please give more details for this issue?

[2019-07-15 18:49] shorowit commented on #7282
@yzhou601 The PR got merged, so this should be closed?

[2019-07-15 19:17] MatthewSteen commented on #7272
@yanfeinrel the issue isn't the length of study period (table was truncated) it's when the recurring cost occurs, which is in year 2044 instead of 2045 (25 years from the *base date year* of 2019 instead of 25 years from the *service* date year of 2020). It looks to me like EnergyPlus is using the base date year instead of the service date year.

[2019-07-15 22:05] MatthewSteen commented on #7218
@dareumnam looks like the data is available.

* https://www.energy.gov/sites/prod/files/2019/05/f62/encost19.txt

I also added a Python script to do it in #6374 (see below) if that's useful and the eppy dependency has been approved by the team (@Myoldmopar).

* https://github.com/NREL/EnergyPlus/blob/aa2389f1ae948f8c1d556ddf67cab797a6ac6365/scripts/dev/update_nist_escalation.py

[2019-07-16 14:58] RKStrand commented on #4291
@smldis To answer your question, I think you should be able to see a correlation between the Zone Air System Sensible Heating Energy and the natural gas use given that you are using a natural gas boiler and you are getting heating from a ZoneHVAC:Baseboard unit.  As RHH reported above and as I have at least verified with the code but will also double-check as part of addressing this issue, the bas