[2021-11-06 17:37] shorowit commented on #9111
- [x] The `Output:JSON` object added in https://github.com/NREL/EnergyPlus/pull/6192 cannot be found anywhere in the I/O Ref or the OutputDetailsAndExamples documentation.

[2021-11-06 17:38] shorowit commented on #9124
I'm going to close this since it's captured as a TODO in the Documentation issue linked above.

[2021-11-06 17:38] #9124 closed, assigned to nobody

[2021-11-07 09:36] hongyuanjia opened #9172 "PR #8997 breaks transitions for `Wall:Detailed`, etc for version < 9.6"
Issue overview
--------------
PR #8997 introduced some changes in the `VCompareGlobalRoutines.f90` for compatibility with the Space def introduced. However, those changes break transitions that involve detailed geometries, e.g. `Wall:Detailed`, `Floor:Detailed`, including transitions from v7.2 to v8.0, and v8.7 to v8.8.

I maintain an R package [eplusr](https://gihttps://github.com/hongyuanjia/epl

[2021-11-08 03:23] hongyuanjia opened #9174 "`install_script.qs` did not work for EnergyPlus v9.6 due to changes in LicenseAgreementPage in QtIFW v4.1"
Issue overview
--------------
[install_script.qs](https://github.com/NREL/EnergyPlus/blob/f420c06a69737dddcf4ba740ad855b45a03a8ef3/cmake/qtifw/install_registerfiletype.qs) did not work for EnergyPlus v9.6 installer on Windows. Did not test yet on macOS and Linux. Probably because of some API changes in QtIFW v4.1.

[code]

The related code snippets are:

https://github.com/NREL/EnergyPlus/blob/00d

[2021-11-08 14:04] mjwitte commented on #9171
This is a duplicate of #9131.

[2021-11-08 14:18] mjwitte commented on #9171
Or maybe it's not a duplicate. @jcyuan2020 Please confirm if this is fixed by #9139.

[2021-11-08 14:19] mjwitte commented on #9172
@jcyuan2020 Please add this fix to #9139.

[2021-11-08 14:21] hongyuanjia commented on #9171
Actually, this issue is not a duplicate of #9131. This one is specific to the transition of `ZoneHVAC:LowTemperatureRadiant:ConstantFlow`. PR #9139 only touches rules of `ZoneHVAC:Baseboard:RadiantConvective:Water`, but not `ZoneHVAC:LowTemperatureRadiant:ConstantFlow`, AFAIK

[2021-11-08 14:56] jcyuan2020 commented on #9171
I am adding the fix this one to RP #9139. @hongyuanjia @mjwitte

[2021-11-08 15:24] jcyuan2020 commented on #9172
This one is added too. Thanks @hongyuanjia @mjwitte

[2021-11-08 18:04] mjwitte opened #9175 "In Sizing:Zone change test for Heating Supply Temp > Cooling Supply Temp from Severe to Warning"
Issue overview
--------------
User's file which ran fine in v9.5 now fails with this severe/fatal error.
[code]

This seems overly strict.  A warning would be fine, but the simulation should proceed.

See initial discussion [here](https://github.com/NREL/EnergyPlus/pull/8855#discussion_r742203928).

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v9.6.0-r

[2021-11-08 19:01] shorowit opened #9176 "ElectricLoadCenter:Storage:LiIonNMCBattery follow-up"
Issue overview
--------------
A running list of changes to consider for the new `ElectricLoadCenter:Storage:LiIonNMCBattery` object:

- [ ] Update to the latest SAM SDK. The code has changed but it's not immediately known if it's anything substantive. Need to be wary of performance regressions (which has happened in the past).
  - [ ] Pull in [SAM SDK bugfix](https://github.com/NREL/ssc/issues/114

[2021-11-08 19:30] rchintala13 commented on #9176
Dispatch strategy for battery with no on-site generation?

[2021-11-09 08:26] michaldengusiak commented on #8788
I have the same issue our IDF crushes on e+ when PixelCounting,
I tested also on e+ 9.6 and there is the same problem. I run on 3 examples

![image](https://user-images.githubusercontent.com/26113670/140888393-8e27eaf6-0408-4f3b-83dd-74ac7dede583.png)

here are sample files:
[sample.zip](https://github.com/NREL/EnergyPlus/files/7503115/sample.zip)

[2021-11-11 13:14] amirroth opened #9181 "Eliminate `SELECT_CASE_var` if-else ladders"
There are currently just north of 4,000 lines worth of `SELECT_CASE_var` `if-else` logic in EnergyPlus left over from the Fortran translation. These should be eliminated in favor of more efficient idioms. A quick scan shows that these fall into four basic categories.

* Use of `if-else` logic to convert a string to an enumeration value from enumeration X. These should be replaced by calls to the `

[2021-11-11 17:58] amirroth opened #9183 "Eliminate uses of `SameString` and transition to case-sensitive string comparisons"
`SameString`, currently a pass-through to `ObjexxFCL::equali` performs a case-insensitive string comparison. There are currently 2400 calls to `SameString` in EnergyPlus. A quick scan of these calls shows that there are three primary idioms:

* Use of `SameString` in an `if-then` ladder to essentially convert a string to an enumeration (overlaps with issue [#9181](https://github.com/NREL/EnergyPlu

[2021-11-11 21:59] mjwitte opened #9184 "Coil:Cooling:DX is missing a saturation check that is in the old DX coil"
Issue overview
--------------
Coil:Cooling:DX checks for saturation [here](https://github.com/NREL/EnergyPlus/blob/00d968c57b48ff354fdc123d00e782e18842f1ba/src/EnergyPlus/Coils/CoilCoolingDXCurveFitOperatingMode.cc#L337-L341) when applying `adjustForFaceArea` but not [here](https://github.com/NREL/EnergyPlus/blob/00d968c57b48ff354fdc123d00e782e18842f1ba/src/EnergyPlus/Coils/CoilCoolingDXCurveFitOp

[2021-11-12 14:57] Myoldmopar opened #9186 "EPLaunch can't handle upcoming version numbers"
Issue overview
--------------
As we try to move to version 22.1, EPLaunch needs some tweaks to be able to handle it.  Basically the assumption is that the version is comprised of single digits.  The full details are here: https://github.com/NREL/EnergyPlus/pull/9169#issuecomment-966639236

[2021-11-15 15:34] shorowit opened #9190 "Site:WaterMainsTemperature `CorrelationFromWeatherFile` uses bogus values"
Issue overview
--------------
Based on an [unmet hours post](https://unmethours.com/question/64396/why-is-sitewatermainstemperature-correlation-from-weather-file-locked-on-one-temperature-for-all-times-and-locations/), I verified that using `CorrelationFromWeatherFile` as the calculation method in the `Site:WaterMainsTemperature` object gives bogus results. Every stranger, the results are complete

[2021-11-15 19:04] rraustad opened #9191 "Simulation crashes if no simulation is specified in SimulationControl."
Issue overview
--------------
Users may speed up reporting of sizing data by changing, in this example, Run Simulation for Weather File Run Periods = No, however the simulation will crash. It seems sizing information should be reported and the simulation should exit gracefully.

Test file was 5ZoneAirCooled_VRPSizing but crash will likely occur with many other example files.

  SimulationControl,

[2021-11-15 20:28] #9119 closed, assigned to nobody

[2021-11-15 20:28] #9135 closed, assigned to mjwitte

[2021-11-15 20:29] #9136 closed, assigned to nobody

[2021-11-16 14:39] #9039 closed, assigned to nobody

[2021-11-16 15:42] #9158 closed, assigned to nobody

[2021-11-17 16:59] #9186 closed, assigned to JasonGlazer

[2021-11-17 17:08] mjwitte opened #9193 "IDFVersionUpdater can't handle upcoming version numbers"
Issue overview
--------------
IDFVersionUpdater doesn't recognize v22.1.0 as a new version, so it thinks a v9.6 file is fully up to date.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list location of defect file here)
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request cre

[2021-11-23 21:53] bonnema opened #9195 "eplusout.sql missing data when do HVAC sizing simulation for sizing periods set to yes in SimulationControl"
Issue overview
--------------
@mleachNREL found that when the `Do HVAC Sizing Simulation for Sizing Periods` is set to `Yes` in the `SimulationControl` object, the EnergyPlus SQLite output file is missing the second data point (01/01 00:20:00 in this example) for some output variables. The value appears in the CSV file generated with ReadVarsESO (using -r flag with the CLI in this example) but doe

[2021-11-24 18:21] rraustad commented on #9195
Corrections should be coordinated with #9191.

[2021-11-24 18:21] rraustad commented on #9191
Corrections should be coordinated with #9195.

[2021-11-27 18:18] amirroth opened #9196 "Should `FirstHVACIteration` be part of `state` rather than a ubiquitous parameter?"
Looks like there are 334 functions with a `FirstHVACIteration` parameter. All of these also have `state` parameter. Many of these functions have more than six parameters so removing a parameter could yield a small speedup (parameters beyond six are passed on the stack) in addition to code cleanup.

[2021-11-28 17:47] nheeren opened #9197 "Slab pre-processor not working on macOS"
Issue overview
--------------
I am running energyplus on macOS 11.6.1 and usually this works fine. My typical workflow is that I copy the required binaries into a temporary folder along with a `in.idf` file. In the past I had issues when I forgot to copy one of the library files along, such as `libgcc_s.1.dylib`. Now, I wanted update from energyplus 9.2.0 to 9.6.0 and I am not able to resolve this

[2021-11-29 17:17] aaron-boranian commented on #9197
Cross-posting where this issue was raised on [Unmet Hours](https://unmethours.com/question/65197/macos-slab-pre-processor-not-working/).

[2021-11-29 17:19] mjwitte commented on #9197
If the v9.2 Slab runs ok, a workaround might be to copy all of it's pieces into the v9.6 folder. Slab hasn't changed for years.

[2021-11-30 06:20] nheeren commented on #9197
Thanks! Good to know. Then I may have to raise another issue, because my motivation to switch was actually an error message I received from Slab, as mentioned here https://github.com/nheeren/BuildME/issues/44:

[2021-11-30 13:08] mjwitte commented on #9197
@nheeren That sounds familiar. See https://github.com/NREL/EnergyPlus/issues/8333.

[2021-11-30 15:06] amirroth opened #9198 "Consolidate informal `LoopNum`, `LoopSideNum`, `BranchNum`, `CompNum` tuples into `PlantLocation` objects."
The informal tuple `LoopNum`, `LoopSideNum`, `BranchNum`, `CompNum` appears in many places in EnergyPlus. There is already a `PlantLocation` struct that includes these members and it should be used instead of these individual variables. Note: `PlantLocation` should be used as a sub-struct of larger objects, not as a parent struct.

In addition to code cleanup, there is a performance benefit to agg

[2021-11-30 18:44] chriswmackey commented on #9190
I have verified this same bug on my end and almost all of my simulations are failing because of unreasonably high water mains temperatures with the `CorrelationFromWeatherFile`.

I am just noting here that the suggested workaround is to use `Correlation` with either the real average outdoor temperature or a best guess (as explained in the unmethours post). I came very close to just forgoing the up

[2021-12-01 18:42] michaldengusiak commented on #9111
- [x] In the Engineering Reference, under Heat Gain From Lights, the units for Cp are incorrect.,

please refer to https://unmethours.com/question/65109/value-for-cp-specific-heat-of-air/

(J/kg should be J/kg−K) in the EnergyPlus documentation

- [x] In the Engineering Reference, for Fanger Comfort Model, abbrevation and order

https://bigladdersoftware.com/epx/docs/8-7/engineering-reference/occu

[2021-12-02 17:49] airallergy commented on #8669
Hi @jmarrec, I tried to compile EP on M1, everything seems to work fine with binaries directly from the build folder. But after I installed the compiled package in the Applications folder, a few binaries do not work and give the error

[code]

while `bash` gives

[code]

I did not test all binaries exhaustively. Two I found working are `energyplus` and `EPMacro`. I tried compiling 9.6, also instal

[2021-12-02 17:55] amirroth opened #9200 "One `FuelType` enumeration only please."
EnergyPlus currently has three "`FuelType`" enumerations: `Fuel` in `WaterThermalTanks`, `PollFactor` in `PollutionModule` (does this name imply that all the other files are not modules?), and `ResourceType` in `DataGlobalConstants`, which actually contains a bunch of non-fuel things as well. It feels like there should be a central `FuelType` enumeration in `DataGlobalConstants` and then a separat

[2021-12-02 20:02] mjwitte commented on #9200
The meter system is based on resource type which includes fuels, energy transfer, water, etc. This is the global set of resources, where fuels are a subset. What's the best way to handle subsets of enumerations? A separate enumeration of just fuel types would ensure that components that consume fuels cannot inadvertently use a non-fuel resource, but then that creates some duplication across the en

[2021-12-02 21:26] amirroth commented on #9200
The meter system, I see. Well, there is really no great way to handle subsets of enumerations. Don't let the `class` and the `: int` in `enum class X : int` fool you. This is not a sub-typing relationship, there is no sub-typing of enumerations. You can always define ranges (even using enumeration values to define the range, e.g., `FuelTypeFirst = Electricity`, `FuelTypeLast = OtherFuel2`) althoug

[2021-12-03 14:46] amirroth commented on #9200
I'm going to amend my previous suggestion, which is perhaps too technically pure (moi? impractically pure? no, never!). I think sub-ranges,  `enum classes` whose values are defined in terms of another `enum class` (and can be "safely" `static_cast` to values from the parent class), `constexpr std::array` that map values from one `enum class` to another, or a combination are also fine. Polymorphic

[2021-12-03 18:45] kamasyali opened #9202 "reset_state does not work"
Issue overview
--------------
I am using EnergyPlus Python API. When I try to reset the state using api.state_manager.reset_state(state), I receive OSError: exception: access violation reading 0x0000000000000010 error.

### Details
Some additional details for this issue (if relevant):
Windows 10
EnergyPlus 9.6.0
Python 3.9.9 64-bit

### Checklist
Add to this list or remove from it as applicable.

[2021-12-03 19:44] bonnema commented on #9202
@kamasyali, can you please provide a little more detail about what you're trying to accomplish? are you trying to reset an actuator?

[2021-12-03 19:49] kamasyali commented on #9202
As described [here](https://bigladdersoftware.com/epx/docs/9-6/input-output-reference/api-usage.html), I am trying to reset state of a simulation so that I can re-run another, in the same memory space.

[2021-12-03 19:50] Myoldmopar commented on #9202
For now, as a quick workaround, just create a new state instance rather than reusing the original state.  I'll try to take a look as to the problem.  Can you send your example file and weather file if relevant?

[2021-12-03 20:04] kamasyali commented on #9202
[example.zip](https://github.com/NREL/EnergyPlus/files/7652058/example.zip)
The problem occurs when I try to reset the state in Line 17.

[2021-12-03 21:05] mjwitte opened #9203 "EMSLoadBasedMultiSpeedDXCoilOverrideControl has max iteration and bad speed value warnings"
Issue overview
--------------
From #9185, EMSLoadBasedMultiSpeedDXCoilOverrideControl has the following warnings:
[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as app

[2021-12-06 18:06] jcyuan2020 opened #9204 "Overcome StdOutputRecordCount's limit of about 2.1 billion"
Issue overview
--------------

Recent a user reports the needs to report a very large number of output variables (into eso, and/or possibly sql as well) that exceeds the integer type limits of 2 147 883 647. Therefore, a question was asked about changing the “int” type definition of the variable state.dataGlobal->StdOutputRecordCount to an even “longer” integer type, such as “long int” to solve th

[2021-12-06 20:58] JustSomeITAdmin commented on #9174
I can confirm this fix works. What's interesting is that there is no "I do not accept the license" option. Obviously, it would be pointless against the silent install, but this is what happened.

![95vs96](https://user-images.githubusercontent.com/95655456/144921494-a74c65e3-6a35-426f-bdff-80a6cddc7092.png)

[2021-12-07 20:10] lincolnharmer commented on #8948
Check this out. I was able to get the autosizing to work by defining Sizing:Plant info but it is still very delicate and fails if you try to autosize other flow rates and capacities. I also had to apply Sizing factors to get the sizing to be reasonable.
[PlantLoopHeatPump_EIR_WaterSource v2.txt](https://github.com/NREL/EnergyPlus/files/7671295/PlantLoopHeatPump_EIR_WaterSource.v2.txt)

[2021-12-08 16:17] lincolnharmer commented on #8948
I realized I had a few things that needed to be cleaned up. This updated file is probably a better model to investigate. Things appear to be getting sized properly but no flow is being requested on the supply side of one of the loops. See error file below and EIO file attached with some useful sizing information.

`Program Version,EnergyPlus, Version 9.6.0-f420c06a69, YMD=2021.12.08 09:08,
   ** W

[2021-12-08 19:41] mjwitte commented on #9161
@DavidGoldwasser Please attach an idf and epw that show the issue. The epws that are used on CI and distributed with EnergyPlus don't seem to have this problem.

[2021-12-09 08:17] paul-caicedo opened #9205 "Calculation of Thermal Energy Demand Intensity (TEDI)"
EnergyPlus currently does not have a ready-to-use output variable or meter that can do a specific thermal load aggregation to calculate TEDI.

It is necessary to pick up relevant energy usage outputs and do the process manually; however, the lighting loads that contribute in winter for heating, are present in the whole year. This load should not be considered for TEDI in summer; therefore, a scrip

[2021-12-09 08:47] michaldengusiak opened #9206 "WishList Add: output Zone Setpoint for Humidification/Dehumidification"
Issue overview
--------------
Missing consistent output for Thermostat and Humidistat.

I would recommend keeping consistency by adding

[code]

https://unmethours.com/question/65725/humidistat-how-to-output-zone-setpoint-for-humidificationdehumidification/?answer=65739#post-id-65739

[2021-12-09 15:52] mjwitte commented on #9205
@paul-caicedo I'm trying to understand the calculation.

From the Calculating TEDI section, on p. 5 "TEDI can be calculated by summing up the heating output of all the heating coils in the building."

And then on p. 6 "Incidental heat gains from lighting, receptacle loads, pumps, fans etc. . . . become credits in the TEDI". Am I missing any other components?

If internal gains are not to be includ

[2021-12-09 16:51] mjwitte opened #9207 "Remove spaces in meter names?"
Issue overview
--------------
While reviewing #9101, it was [noted](https://github.com/NREL/EnergyPlus/pull/9101#discussion_r765280336) that there are some resource types and/or end-use name with spaces in them: "Nuclear High", "Nuclear Low", and "Carbon Equivalent" (maybe some others lurking in the meter code). These have been there a long time. so they work ok, but these are the only meter name

[2021-12-09 19:07] #9042 closed, assigned to matthew-larson

[2021-12-09 21:32] #9075 closed, assigned to matthew-larson

[2021-12-09 21:39] #9069 closed, assigned to matthew-larson

[2021-12-10 17:00] paul-caicedo commented on #9205
Thank you for your analysis @mjwitte

My initial comment was not accurate. After checking the information again, I think the zone sensible heating value in the heat balance report is enough to calculate the TEDI. Does that make sense?

[2021-12-10 17:57] lincolnharmer commented on #8948
When looking at the souce code it shows all autosized fields are set to -99999. It is then using a value of -99999 for the referenceCapacity as the basis for sizing all other capacities. So because the referenceCapacity is negative all flows are ending up being set to negative values.
![image](https://user-images.githubusercontent.com/6855996/145619874-72619764-abcc-41a8-9ed6-f8920c8d6ec9.png)

[2021-12-10 20:10] mjwitte commented on #9205
That would miss the ventilation loads.

[2021-12-13 07:05] paul-caicedo commented on #9205
I did a test on a model with internal units for zone heating and an air loop like a MUA. The heating load for the air loop is considered in the zone sensible heating.

[2021-12-14 15:03] Arezaei558 opened #9211 "E+ chiller sizing reported on equipment summary way higher than expected and from hourly results"
--------------
See this unmethour question and linked files to the issue log:

https://unmethours.com/question/65789/e-chiller-sizing-reported-on-equipment-summary-way-higher-than-expected-and-from-hourly-results/

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): Windows 10
 - Version of EnergyPlus (if using an intermediate build, include S

[2021-12-14 17:57] jcyuan2020 commented on #9161
@DavidGoldwasser Do you have a defect file for this problem? The user who posted helpdesk Ticket 16053 supplied a file but it comes with quite some other errors/issues that prevent this to be singled out.

[2021-12-14 23:38] lincolnharmer commented on #8948
I think the issue has to do with the autosizing of the source-side mass flow rates for the air-source heat pumps. For some reason they are registering negative values during the simulation

[2021-12-20 14:06] JasonGlazer commented on #9111
- [x] UtilityCost:Computation EXCEEDS has operands reversed according to this comment on [unmethours](https://unmethours.com/question/66028/utilitycostcomputation-does-not-work/). The IOref should say: "Returns the difference between the first and second variable if the second variable is greater than the first. If the first variable is greater or equal to the second variable returns a zero."

[2021-12-22 17:11] jcyuan2020 opened #9215 "CentralHeatPumpSystem Control Schedule default value and warnings when it does not find a match to the schedule"
Issue overview
--------------
In resolving a helpdesk ticke (#16072) about why an idf shows zero operation results for CentralHeatPumpSystem while the simulation finished running fine, it was found that if there is an unmatched schedule from the input, the program would not give a warning message and even worse, use an default zero value to replace it. Since this control value is something like an

[2021-12-23 17:51] mjwitte commented on #9161
@jcyuan2020 Here's the BESTEST epw for this issue.
[DRYCOLDTMY.zip](https://github.com/NREL/EnergyPlus/files/7770764/DRYCOLDTMY.zip)

[2021-12-28 18:41] Myoldmopar commented on #9161
I'm not sure what else this needs, I was able to confirm the fix.

`$ ./energyplus -w /eplus/epw/DRYCOLDTMY.epw ../../../testfiles/1ZoneUncontrolled.idf`

- Develop: `Program terminated: EnergyPlus Terminated--Error(s) Detected.`
- This Branch: `EnergyPlus Completed Successfully.`

[2021-12-29 15:28] aaron-boranian commented on #6306
This issue may also apply to `ZoneHVAC:IdealLoadsAirSystem`, as noted in this [Unmet Hours post](https://unmethours.com/question/66343/hvac-cannot-be-turned-off/) where the user has set the [availability schedule](https://bigladdersoftware.com/epx/docs/9-6/input-output-reference/group-zone-forced-air-units.html#field-availability-schedule-name-020) to "AlwaysOff" but still seeing cooling and heati

[2021-12-31 13:10] wta12 commented on #7877
@Myoldmopar @mitchute : Would like to follow up with _**getMeterValue** is returning the instantaneous value of a meter, not the cumulative._ - Has it been corrected ? with 9.5 EMS code it's still an issue so I doubt if Python EMS works with cumulative meter reading.

[2021-12-31 17:41] chriswmackey opened #9218 "EnergyPlus Crashes Without Error Log When Several Zones Are Connected by Construction:AirBoundary"
Issue overview
--------------
I and several users of [Ladybug Tools](https://www.ladybug.tools/) have been making heavy use of the `Construction:AirBoundary` that was introduced to EnergyPlus a few versions ago, which has been a godsend and has allowed us to model many situations that we could not model previously. However, we have discovered that, in large models with big contiguous spaces connec

[2022-01-01 00:46] bonnema commented on #7877
I would think you would want the method to return the instantaneous value. You could accumulate in your code (Python or ERL).

[2022-01-02 14:32] wta12 commented on #7877
Yeah, ERL or Python accumulate code will work. If that limit is pending forever, it's better to add notes to documentation or add warnings/error output while the output:meter and output:meter:cumulative are both available in mdd list

[2022-01-02 19:29] bonnema commented on #7877
I think using meters in EMS can lead to unexpected behavior. I think the preferred practice is to stick with output variables.

[2022-01-02 19:51] wta12 commented on #7877
It works on my particular case and I have not seen any problem so far - Output:Meter without accumulate is exactly Output:Variable analogue and called by EMS Sensor. Btw, just want to follow up development progress not EMS practice since I found adequate work around. Thanks

[2022-01-02 23:19] bonnema commented on #7877
Sure, just mentioning it. See https://github.com/NREL/EnergyPlus/issues/8915 or https://github.com/NREL/EnergyPlus/issues/7563 for an example.

[2022-01-03 18:41] jcyuan2020 opened #9222 "delete_state() causing crashes in Linux"
Issue overview
--------------
A recently reported issue is about reset_state() fail to run properly in v9.6 (#9202). Following the work-around suggestions in issue the discussion (https://github.com/NREL/EnergyPlus/issues/9202#issuecomment-985785648) and using the new_state() and delete_state() combination, a user recently reported that the delete_state() would cause crash in a Linux version/syste

[2022-01-04 13:56] swangdb opened #9224 "DX Heating Coil HSPF Reported Low"
Issue overview
--------------
Modeling on a packaged terminal unit that uses a DX cooling coil and a DX heating coil (both are single speed). After the simulation, the DX cooling coil performance is reported right, however the HSPF for DX heating coil seems to be reported far too low. For a COP input of 3.0, the HSPF is shown as 4.8 [Btu/W-h] in results summary table, but it should normally be abo

[2022-01-04 14:43] #9084 closed, assigned to mjwitte

[2022-01-04 15:13] #9131 closed, assigned to nobody

[2022-01-04 16:47] mjwitte commented on #9218
@chriswmackey Can you tell what the intent of this file is after all of the airwalls are eliminated, how many enclosures should there be?

[2022-01-04 17:00] chriswmackey commented on #9218
Thanks for the response, @mjwitte . The file is a single continuous solar enclosure when all of the air walls are eliminated.  So all of the 24 Zones should be merged into one enclosure.

I realize it's an extreme case but, as I mentioned, I have only been able to find this bug in cases of large models and enclosures.

[2022-01-04 17:08] mjwitte commented on #9218
In theory this should work, so there may be something wrong with the enclosure merging logic.

[2022-01-04 20:06] #9161 closed, assigned to jcyuan2020

[2022-01-05 03:52] #8981 closed, assigned to matthew-larson

[2022-01-05 16:17] mjwitte commented on #9218
@chriswmackey I've found the offending line of code and a couple of other potential problems related to spaces in the enclosure merging function. It appears that this issue was present in v9.5. Is it possible that you can generate a v9.5 idf from the same Ladybug model to confirm?

[2022-01-05 18:25] chriswmackey commented on #9218
Thanks, @mjwitte . Glad to hear it! What you describe fits my experience. I am confident that we encountered this issue in EnergyPlus 9.5 but we just weren't sure if it was actually an issue in EnergyPlus at the time or something that was wrong on our end.

Interestingly enough, I cannot recreate the crash using the exact same model in EnergyPlus 9.5. Here is the IDF file that you requested (the s

[2022-01-05 19:57] apoerschke opened #9225 "Python Plugin DataExchange minutes rounding issue"
Issue overview
--------------
It appears that the conversion to integer minutes in the Python DataExchange class is broken, and not correctly rounding, but rather using float -> integer conversion.
I discovered this when developing a Python Plugin which logs data every minute to a separate log file. Some minutes were being duplicated, and some dropped.

Below is console output showing the problem.

[2022-01-05 21:01] bonnema commented on #9225
Related to https://github.com/NREL/EnergyPlus/issues/9195?

[2022-01-06 13:50] apoerschke commented on #9225
@bonnema Possibly related, but I suspect this is a simple rounding issue when the C++ code returns the integer minutes to the Python Plugin. I don't know if the same `minutes` variable exists within other aspects of E+, and if the rounding issue is present elsewhere.

It looks like the issue is line 756 of datatransfer.cc:
[code]

[2022-01-06 14:57] nirajkunwar opened #9227 "PythonPlugin:Variables multiple objects issue"
Issue overview
--------------
The EnergyPlus takes only one PythonPlugin:Variables object and gives error if there are more than one object. This means maximum of 10 variables can be defined (as shown in image attached) and used for getting output.
The EnergyPlus file with only one  PythonPlugin:Variables works completely fine.
[Eplus_error.zip](https://github.com/NREL/EnergyPlus/files/7822610/Epl

[2022-01-06 15:20] bonnema commented on #9227
I think with newer versions (9.4+) >10 variables are allowed. I have this running in 9.5:
[code]

[2022-01-06 17:08] mitchute commented on #9227
Correct, only one object is allowed but it is extensible so just add all of your variables to that object.

@Myoldmopar Is there a reason to limit E+ to only have one instance of the `Variables` object? It looks like the code is already configured to handle it.

https://github.com/NREL/EnergyPlus/blob/6b569b81cfb978be795d3051f683ce7d3a799ca6/src/EnergyPlus/PluginManager.cc#L574-L591

The `Name` fi

[2022-01-06 17:20] #9103 closed, assigned to nealkruis

[2022-01-06 17:21] nealkruis commented on #9103
@Myoldmopar I haven't had a chance to review this. Is the defect file working now, or were there more changes that needed to be made?

[2022-01-06 17:43] bonnema commented on #9227
\>1 object is interesting. It could allow the user to group them and ID by the name field that really isn't used. It could also be helpful for programmatic workflows (a new object can just be created instead of trying to append to an existing object).

[2022-01-06 20:00] bonnema commented on #9225
This is interesting. When you run the input files [here](https://github.com/NREL/EnergyPlus/files/7824382/in.zip), you get this [eplusout.csv](https://github.com/NREL/EnergyPlus/files/7824387/eplusout.csv), which (to me) shows no discernible pattern in the minute after the first hour.

[2022-01-06 22:41] benbrannon-arup commented on #6919
Just FYI this seems to still be an issue in 9.6, at least for the Output:Table:Annual.  It's easy enough to fix in the text file, but the IDFeditor causes the fatal error.  There is also a typo in the error message where Output is spelled 'Oputput'

[2022-01-06 22:46] mjwitte commented on #6919
Reopening this issue. Seems we should be able to trap blank unrequired fields and not error out on them, maybe.

[2022-01-07 15:17] JasonGlazer opened #9228 "Tabular file not generated with only Output:Table:Annual"
Issue overview
--------------
The tabular output file (usually <filename>Table.html) does not get generated if only Output:Table:Annual input objects are present. If Output:Table:SummaryReports or Output:Table:Monthly or Output:Table:TimeBins are also present, the tabular output file is generated and the Output:Table:Annual are shown but by themselves, the Output:Table:Annual do not generate the t

[2022-01-09 03:20] zha commented on #9222
Both delete or reset states would cause the crash for me. The workaround would not work for me as the memory would fill up really quickly without deleting the state.

[2022-01-10 18:51] jcyuan2020 opened #9230 "Clarify how the Deadband Temperature Difference in Water Heaters model is used dependent on Source Side Flow Control Mode"
Issue overview
--------------
In the WaterHeater:Mixed and WaterHeater:Stratified model, the Input Output Reference document has the following simple description about the field:
"The delta temperature difference [Δ°C] between the setpoint and the “cut-in” temperature at which the heater will turn on. In other words, the “cut-in” temperature is Setpoint – Deadband."

However, a check on the source

[2022-01-12 22:22] mjwitte opened #9233 "Enclosure area and zone component loads incorrect when air boundary surface has the same space on both sides"
Issue overview
--------------
If a Construction:AirBoundary surface has the same Space on both sides, the enclosure space list will include that space twice, and the floor area and other attributes of the enclosure will double-count that Space. This impacts the zone component loads report, because the enclosure floor area is used to scale the radiant pulse for delayed load components.

### Details

[2022-01-13 14:57] apoerschke commented on #9225
Your example shows the same behavior I was seeing. Again, it appears to be an issue with how floating point minutes is converted to an integer.

[2022-01-13 15:25] bonnema commented on #9225
For sure. I was just adding a dead simple example file duplicating the issue. This definitely appears to be a problem.

[2022-01-13 17:57] mitchute commented on #9225
Thanks for the simple example files, @bonnema. We just need to wrap the calculation in [this line](https://github.com/NREL/EnergyPlus/blob/3d028d8976d1b7104662d53a55fb6d6c4ec9d6c4/src/EnergyPlus/api/datatransfer.cc#L745) with `std::round`.

After that, the new [eplusout.csv](https://github.com/NREL/EnergyPlus/files/7864921/eplusout.csv) looks right. I'll push a fix shortly.

[2022-01-13 18:55] #9225 closed, assigned to nobody

[2022-01-14 21:04] eringold commented on #9111
- [x] Multiple objects in Energy+.idd have the following \memo lines;
[code]
Objects are:
[code]
Seems appropriate for Output:Meter types, but not DemandManager or ElectricLoadCenter.

[2022-01-14 21:33] mjwitte commented on #9111
Those memos should be expanded to describe the object (that's what memos are for), but referencing the mdd is appropriate, because these objects have input fields which are meter names. Perhaps these line should be \notes at the first meter name field.

[2022-01-15 00:38] #9215 closed, assigned to nobody

[2022-01-17 00:06] germolinal opened #9238 "`HAMT origins` in .eio file seem incorrect"
I am using HAMT and the cells described in the EIO file span from 0.0 to the whole thickness of the construction
--------------

I am working with HAMT and I am trying to use the data in the EIO file. However, my construction is `0.1055m` thick, and the cell origins span from edge to edge, as you can see here:

[code]

I thought the last value was just an added value to represent the end of the fi

[2022-01-17 16:14] mjwitte commented on #9238
The Input Output Reference description gives a subtle clue:

Looking in the source code, there is a virtual cell at the inside and outside face of the surface. Also, it appears that the "origins" listed in the eio ouput are the center of each cell, not an edge. So Cell 1 is the virtual cell at 0.0 and Cell N is the virtual cell at the inside face of the surface. Using the HAMT example file, the ou

[2022-01-17 21:51] amirroth opened #9239 "Replace `Array1D` instances for types other than `Real64` with `EPVector`"
`EPVector` is a much smaller template (i.e., faster to compile and generates less code) than `Array1D` and most of the unnecessary weight has to do with arithmetic operations that are not applicable to `string` and `class` objects. I am including `int` in this targeted removal but I think most EnergyPlus instances of Array1D<int> are arrays of indices and the contents are not manipulated numerical

[2022-01-18 15:21] amirroth opened #9240 "Use `std::move` to transfer `std::string` arguments from input processor to internal objects"
Currently, when constructing internal objects, we copy `std::string` members from the input processor `Alphas` array to the object and then deallocate the `Alphas` array and the `std::string` objects it points to. This is an obvious waste of instructions and time. By using the std::move template to activate the move constructor we can save both a heap allocation and deallocation as well as a copy

[2022-01-18 16:33] mbadams5 commented on #9240
I'm generally onboard with this, however, there are two things to watch out for when doing this kind of refactor/optimization.

First, you need to make sure you will not use `Alphas(1)` again after you perform `std::move(Alphas(1))`. `Alphas(1)` will be undefined after you move the value in it. Looking at the source code for the specific example you include, there are uses of `Alphas(1)` after it

[2022-01-18 16:45] amirroth commented on #9240
@mbadams5, the two gotchas you mentioned will not stay hidden for long. Instances will surface very quickly once you start making this change. I agree about the long term as well and would be quite happy if that long term became the short term and this intermediate step just went away entirely. Any takers on this?

[2022-01-18 16:54] mjwitte commented on #9240
Also, some input processing functions use a local instance of `Alphas` (or similar names) but many (most?) others use `state.dataIPShortCut->cAlphaArgs`.

[2022-01-18 16:57] amirroth commented on #9240
Ok, maybe a transient like this is not worth it and we should just make a concrete plan to transition to processing JSON inputs.

[2022-01-18 17:20] lymereJ commented on #9111
- [x] Small typo in the description of High/Low System Node Setpoint Temperature: "upper" is used to describe both outputs.

![image](https://user-images.githubusercontent.com/5149279/149986225-70fb1db0-11ce-48f2-bf8f-3e4710d1b087.png)

[2022-01-18 19:40] shorowit opened #9241 "Leap day included w/ March when reporting frequency is monthly"
Issue overview
--------------
See attached IDF and results. When the simulation uses a leap year and you request an `Output:Variable` with frequency of "monthly", the February results are still through 2/28 and the leap day ends up in the March results:

![image](https://user-images.githubusercontent.com/5861765/150006625-d6be079d-03ac-480c-b8b1-0e35f5922036.png)

I've confirmed that a leap day is

[2022-01-18 19:55] rraustad commented on #9241
The 2nd figure above, on line 1417, shows Month = 2 and Day = 29. I would think this means data is grouped into Feb in monthly table reporting. So what indication is there that this data is included in Mar?

[2022-01-18 19:55] rraustad commented on #9241
Never mind, the first figure shows Feb has 28 days.

[2022-01-19 16:11] mjwitte opened #9242 "Incomplete view factor report for some enclosures"
Issue overview
--------------
While working on #9233, noticed that `state.dataViewFactor->EnclSolInfo.SurfaceReportNums` was not the correct size for some enclosures (same for `EnclRadInfo`). Looking at the view factor report for 5ZoneAirCooledWithSpaces, this enclosure is clearly wrong. It has 12 surfaces but it's only reporting for 1 surface:
[code]

The logic that assembles the report list must

[2022-01-19 16:26] nealkruis commented on #9242
@mjwitte I touched this when doing the representative heat transfer surfaces too, and that can be misleading since one surface in the enclosure can represent multiple surfaces in the zone. Let me know if you run into questions with this.

[2022-01-19 16:43] mjwitte commented on #9242
@nealkruis Interesting. For a case where "Use Representative Surfaces" is active, what should the view factor report look like? Should it list only the active representative surfaces or all surfaces?

[2022-01-19 20:30] nealkruis commented on #9242
If I recall correctly, the view factor report should list only the representative surface, but the area should reflect the total area of all the surfaces in the group.

[2022-01-19 21:19] mjwitte commented on #9172
Addressed in #9139

[2022-01-19 21:19] #9172 closed, assigned to nobody

[2022-01-19 21:20] mjwitte commented on #9171
Addressed in #9139.

[2022-01-19 21:20] #9171 closed, assigned to nobody

[2022-01-19 21:33] mjwitte opened #9243 "Kiva problem with clockwise geometry - part 2"
Issue overview
--------------
#9104 fixed part of #9103, but there may be more to fix (from #9103):

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is a s

[2022-01-19 21:34] mjwitte commented on #9243
@jcyuan2020 Did this originate from a helpdesk ticket?

[2022-01-19 22:00] jcyuan2020 commented on #9243
@mjwitte No. It is from another source (Australia) and we have the defect files, which were already placed under the original issue post.

[2022-01-20 08:34] jmarrec commented on #9111
* [ ] `Coil:WaterHeating:AirToWaterHeatPump:VariableSpeed`: Output variables look weird as they mention "Cooling Coil" when really this is a heating one. The :Wrapped and :Pumped ones correctly mention "Heating Coil XXX".
    * https://bigladdersoftware.com/epx/docs/9-6/input-output-reference/group-heating-and-cooling-coils.html#vshpwhheating-outputs
    * https://github.com/NREL/EnergyPlus/blob/2

[2022-01-20 14:01] shorowit commented on #9111
@jmarrec That is apparently intentional. Note where the documentation says: “This coil draws heating energy from air to the heater. Thus it is regarded as a cooling coil, as shown in the output variable names.”

[2022-01-20 21:05] jmarrec commented on #9111
@shorowit I understand the rationale, but the discrepancy with the Pumped and Wrapped coils bothers me.

[2022-01-20 21:14] shorowit commented on #9111
@jmarrec Ah! I just remembered that this has been brought up before and, actually, the Pumped and Wrapped coils are incorrectly documented. This issue is captured above in this issue [here](https://github.com/NREL/EnergyPlus/issues/9111#issuecomment-940122434) and you can see the discussion on it [here](https://github.com/NREL/EnergyPlus/issues/9124#issuecomment-940121827).

[2022-01-21 18:40] eringold commented on #9111
- [x] I/O ref for ElectricLoadCenter:Distribution lists old '... Electric Demand Power' outputs:
https://github.com/NREL/EnergyPlus/blob/c17e07c8ba6f2c31403f2f7bf14ee2b51ebbada8/doc/input-output-reference/src/overview/group-electric-load-center-generator.tex#L432-L436
Which should be "...Electricity Demand Rate":
https://github.com/NREL/EnergyPlus/blob/2f8b2517baa1e6e553fe766f4587a0926b4f5032/src/

[2022-01-23 19:23] TfedUD opened #9247 "ZoneCoolTower:Shower, availability schedule does not default as stated in docs"
Issue overview
--------------
It appears that leaving the availability schedge blank; does not default to always available as stated in documentation:
[Applicable EnergyPlus 9.6 I/O reference](https://bigladdersoftware.com/epx/docs/9-6/input-output-reference/group-airflow.html#:~:text=use%20this%20name.-,Field%3A%20Availability%20Schedule%20Name,the%20schedule%20has%20values%20of%201%20for%20all%2

[2022-01-24 14:11] mjwitte commented on #9247
@TfedUD I'm unable to reproduce this. Please attach an idf. Thanks.

[2022-01-24 15:26] mjwitte commented on #9193
@JasonGlazer FYI

[2022-01-24 17:54] TfedUD commented on #9247
@mjwitte yeah.. its working fine for me now; just went back to the file to get an idf to upload: ran it; it works...
Soo definitely was PICNE
(Problem in chair not equipment)
appreciate your time!

[2022-01-24 17:54] #9247 closed, assigned to nobody

[2022-01-24 22:16] #9218 closed, assigned to mjwitte

[2022-01-24 22:16] #9233 closed, assigned to mjwitte

[2022-01-25 02:16] germolinal commented on #9238
I have been trying to reverse-engineer the positions of these cells. After a while, I think that:

* I am quite sure that the "origins" are actually the "center".
* The EIO includes data for both the Interior and Exterior virtual cells.

I have arrived to that second conclusion by calculating the positions and thicknesses of the cells.

Let's take the following example code:

[code]
# Rationale of

[2022-01-25 03:14] #9238 closed, assigned to nobody

[2022-01-25 20:52] mitchute opened #9248 "Integrated Heat Pump Outputs Vars Only Being Set for Last Instance"
Issue overview
--------------
`GetIHPInput`  uses the `CoilCounter` var for loop indexing, and then uses a separate `DXCoilNum` var for accessing all of the IHP data.

https://github.com/NREL/EnergyPlus/blob/0474bcff0f09143605459c4168e69a17d49e7dd1/src/EnergyPlus/IntegratedHeatPump.cc#L1222-L1224

Later, it uses this same `DXCoilNum` var to access the IHP data for setting output variables; however

[2022-01-27 05:38] TiejunWu opened #9252 "Issue with VRF Heat Pump COP and Electricity Rate"
Issue overview
--------------
In the attached EnergyPlus example with VRF system object "AirConditioner:VariableRefrigerantFlow", I found the output variable VRF Heat Pump COP is very low and Electricity Rate very high. In this model, the user specified Rated Cooling COP is  2.753. However, in the calculation output, the COP for July 16 is less than 1.9 for the whole day, even though the outdoor a

[2022-01-27 05:39] TiejunWu opened #9253 "Issue with VRF Heat Pump COP and Electricity Rate"
Issue overview
--------------
In the attached EnergyPlus example with VRF system object "AirConditioner:VariableRefrigerantFlow", I found the output variable VRF Heat Pump COP is very low and Electricity Rate very high. In this model, the user specified Rated Cooling COP is  2.753. However, in the calculation output, the COP for July 16 is less than 1.9 for the whole day, even though the outdoor a

[2022-01-27 05:39] TiejunWu opened #9254 "Issue with VRF Heat Pump COP and Electricity Rate"
Issue overview
--------------
In the attached EnergyPlus example with VRF system object "AirConditioner:VariableRefrigerantFlow", I found the output variable VRF Heat Pump COP is very low and Electricity Rate very high. In this model, the user specified Rated Cooling COP is  2.753. However, in the calculation output, the COP for July 16 is less than 1.9 for the whole day, even though the outdoor a

[2022-01-27 05:40] #9253 closed, assigned to nobody

[2022-01-27 05:41] TiejunWu commented on #9254
Repeated submission

[2022-01-27 05:41] #9254 closed, assigned to nobody

[2022-01-27 13:50] rraustad commented on #9252
VRFRTF is the part load ratio adjusted by the part load fraction curve.
RTF = PLR / PLF. At PLR = 1, PLF also = 1 and RTF = PLR. At PLR = 0.0000001, PLF >= 0.7, so RTF is a little bit higher than PLR.
PLR is the part of the time step the component operates, an indication of thermal energy.
The RTF is an ajustment to PLR based on start up delay (i.e., the instant the comprssor starts, the output is

[2022-01-27 16:18] TiejunWu commented on #9252
@rraustad Thanks for looking into this.

For this VRF unit in the example. The following parameters are used in the calculation:

1. Sizing calculation result:  Rated Cooling Capacity  = 28594.11  [W]
2. User input in IDF file:       Rated Cooling COP       = 2.753
3. User input in IDF file:       Minimum Part Load Ratio = 0.25

Here I pick two time steps in the EnergyPlus output file:
1. Time Ste

[2022-01-27 17:43] rraustad commented on #9252
The VRF compressor operates the entire time step when PLR > Minimum Heat Pump Part-Load Ratio (input field in AirConditioner:VariableRefrigerantFlow). So the PLR, RTF, and cycling ratio numbers above look correct.

Regarding the COP the underlying equation is, review these calculations:

    state.dataHVACVarRefFlow->VRF(VRFCond).TotalCoolingCapacity = TotalCondCoolingCapacity * CoolingPLR * Cycli

[2022-02-01 21:41] JasonGlazer commented on #4848
I was reminded of this issue today when updating some other documentation. I'm not sure how many developers have looked at the Guide for Interface Developers and the Guide for Module Developers but I would guess they cause more confusion than help at this point.

[2022-02-07 11:08] antoine-galataud commented on #6533
Hi @jasondegraw @aaron-boranian
I'm looking for this feature too, for a different use case than MPC but also to speed up simulation (I had initially posted my question [here](https://unmethours.com/question/68485/checkpointing-and-reloading-energyplus-warmup-and-sizing/)).
I'd be happy to give a hand for the implementation if you feel a first-time E+ committer can handle.

[2022-02-07 21:21] joseph-robertson opened #9262 "Missing idd defaults for CoolingTower:*Speed"
Issue overview
--------------
[code]

[code]

Missing `\default SaturatedExit` and `\default ConcentrationRatio`, respectively, for:
* `CoolingTowerSingleSpeed`
* `CoolingTowerTwoSpeed`
* `CoolingTowerVariableSpeed`
* `CoolingTower:VariableSpeed:Merkel`

Also:
* `Performance Input Method` for `EvaporativeFluidCooler:SingleSpeed` (required-field)

### Details
Some additional details for this issue

[2022-02-08 00:49] Gurgenci opened #9263 "Access to RoofVegetation parameters by Python Plugins"
Issue overview
--------------
I am requesting an expansion of Material:RoofVegetation capability by enabling access to its internal parameters by Python Plugins.

The "Material:RoofVegetation" has internal parameters such as Height, LAI (Leaf Area Index), RStomata, etc. Most of these parameters will change in a simulation that exceeds a few days. For example, the plants will grow in height and the

[2022-02-08 04:05] mjwitte opened #9264 "EnergyPlus v9.6.0 on Windows 11 missing dlls"
Issue overview
--------------
Installing EnergyPlus v9.6 on a new Windows 11 machine results in errors from missing DLLs, e.g. vcomp140.dll

Workaround:
Installing the [Visual C++ Redistributable library](https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170) should fix things.
Specifically this version: https://aka.ms/vs/17/release/vc_redist.x64.exe

### Details
So

[2022-02-08 17:03] Myoldmopar commented on #9264
A first attempt fix would be to use the newer Windows base image on Github Actions to build our release packages.  Specifically adding `windows-2022` would be my first step.  Having that alone may get CMake to grab the right DLLs for Windows 11.  Not sure, as I haven't tested it, but that's where I would start.

[2022-02-09 09:50] swangdb commented on #9224
Where can I find in source code this performance figure to be calculated or reported?

[2022-02-09 13:59] rraustad commented on #9224
See function SingleSpeedDXHeatingCoilStandardRatings in StandardRatings.cc.

[2022-02-09 20:05] JasonGlazer commented on #6384
@jasondegraw if fixing this would help in the short term, it looks like it would not take much effort. Let me know.

[2022-02-10 18:56] RKStrand commented on #9111
- [x] In the documentation for the recently split up input for variable and constant flow radiant systems (into design and system specific data), the "design data" has been added as a subsection under the sections for these objects.  However, there is no text that really describes the fact that the user will need both the design and system specific data and the design data is somewhat lost in that

[2022-02-10 21:50] mjwitte commented on #8854
@RKStrand Any plan to make the proposed IDD change for the upcoming 22.2 I/O Freeze?

[2022-02-11 15:19] swangdb commented on #9224
@rraustad Thank you very much.

[2022-02-11 16:50] xavfa opened #9266 "Message : EnergyPlus Completed Successfully."
Dear all,
During a simulation, EnergyPlus gives a lot on useful messages if one wants to follow closely the simulation.
But when launching a bunch of simulations for different purposes (urban scale, optimization or calibration, ...) or even using parallel computing, these are no longer useful (and pretty annoying).
I have manage to get rid of almost all of them using the following option in the ch

[2022-02-11 17:03] mitchute commented on #9266
That line is getting reported on the error stream, so you also need to send the error stream to dev/null (`stderr=open(os.devnull, "w")`).

https://github.com/NREL/EnergyPlus/blob/fadc5973b85c70e8cc923efb69c144e808a26078/src/EnergyPlus/UtilityRoutines.cc#L913

🤷

[2022-02-11 17:03] #9266 closed, assigned to nobody

[2022-02-11 17:04] Myoldmopar commented on #9266
Also if you want to call EnergyPlus via API, you can use the runtime API function: `set_console_output_status` to mute everything.

[2022-02-12 21:12] zha commented on #7657
Any updates? It seems that this problem still persists

[2022-02-14 08:58] xavfa commented on #9266
Great, Many thanks to both of you !

[2022-02-14 17:59] matthew-larson opened #9268 "Kiva zone heat balance around inner surface boundary using conduction not balancing"
Issue overview
--------------
When looking at the sum of the annual “Surface Inside Face Conduction Heat Transfer Rate” output variable for the surfaces within a zone, they do not balance with the sum of the heating and cooling energy in the zone.  An example of this is shown below where the Standard model with non-Kiva ground surface balances across all the surfaces and heating/cooling energy whe

[2022-02-14 20:38] matthew-larson opened #9270 "Model crash with Kiva due to small core zone in large building footprint"
Issue overview
--------------
In a building with a large footprint and interior core zone, the temperature difference between the surface and the air of a specific core floor surface can end up being zero, meaning no convection from the foundation, leading to divide by zero errors in the code, causing the crash.  It should be noted that in the model in the Foundation:Kiva:Settings object, the Deep

[2022-02-15 15:38] mjwitte commented on #8190
This was implemented in #8719, closing.

[2022-02-15 15:38] #8190 closed, assigned to nobody

[2022-02-15 15:42] mjwitte commented on #6637
@EnergyArchmage I believe this is addressed with #9261 If not, please reopen this issue and explain what's missing.

[2022-02-15 15:42] #6637 closed, assigned to nobody

[2022-02-15 19:48] benbrannon-arup opened #9272 "Feature Request: Timestamp format in results files, missing year"
The current results file timestamp does not include a year parameter, even if multi year simulation (such as with AMY files for model calibration) are used, making results difficult to parse without custom year variables.  It would be great if this could be updated.

At the same time as a side request, I would suggest that using some version of ISO 8601 date time format would make more sense than

[2022-02-16 17:16] #9227 closed, assigned to nobody

[2022-02-16 18:57] #9091 closed, assigned to nealkruis

[2022-02-17 13:54] jmarrec opened #9275 "SurfaceProperty:LocalEnvironment and SurfaceProperty:SurroundingSurfaces: IDD adjustments"
Issue overview
--------------

The example file actually references a `FenestrationSurface:Detailed` object, which is **NOT** part of the `SurfaceNames` object list. https://github.com/NREL/EnergyPlus/blob/923772d985c14e803c7ae0e5348a2d595fe5739d/testfiles/SurfacePropTest_SurfLWR.idf#L2301-L2306

[code]

----

**SurfaceProperty:SurroundingSurfaces**: the Sky view factor and Ground view factors are

[2022-02-18 00:19] mitchute opened #9277 "ScheduleTypeLimits Causing Fatal w/o Messages When Lower/Upper Values Reversed"
Issue overview
--------------
Take any IDF, such as 1ZoneUncontrolled and reverse the values of the `On/Off` `ScheduleTypeLimits` object. EnergyPlus will fail without any meaningful error messages.

[code]

The error message that comes out is below.

[code]

(There are no previous warnings)

SHA: 923772d985c14e803c7ae0e5348a2d595fe5739d

[2022-02-18 01:37] lymereJ opened #9279 "UnitarySystemPerformance:Multispeed object required for constant volume fan operation with AirLoopHVAC:UnitarySystems"
Issue overview
--------------
`AirLoopHVAC:UnitarySystem` objects with `Coil:Cooling:DX:TwoSpeed` and `Fan:ConstantVolume` objects require a `UnitarySystemPerformance:Multispeed` objects to run with a constant volume fan operation (same volumetric flow rate during system operation) after being updated to EnergyPlus 9.5 from 9.4. The same behavior is observed in 9.6. If a `UnitarySystemPerformance:

[2022-02-18 07:31] Katherinaxxx opened #9280 "【pyenergyplus】OSError: exception: access violation reading 0xFFFFFFFFFFFFFFFF"
I got this error, dont how to fix it
[code]

energyplus 9.3.0

[2022-02-18 11:17] jmarrec commented on #9262
The I/O ref mentions the default, but it would be a lot clearer for users if it was in the IDD.

https://github.com/NREL/EnergyPlus/blob/923772d985c14e803c7ae0e5348a2d595fe5739d/doc/input-output-reference/src/overview/group-condenser-equipment.tex#L2208-L2210

The Actual default is done in the source code: https://github.com/NREL/EnergyPlus/blob/923772d985c14e803c7ae0e5348a2d595fe5739d/src/EnergyP

[2022-02-18 11:36] bonnema commented on #9280
Can you share your .idf and .py file?

[2022-02-18 13:51] #8300 closed, assigned to nobody

[2022-02-18 16:44] jmarrec opened #9281 "Python version linked to on Github Actions is inconsistent"
Issue overview
--------------

While we do use actions/setup-python@v2, cmake is likely going to find another version.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as appli

[2022-02-18 17:09] bonnema commented on #9281
Maybe this has been fixed behind the scenes? I "rebuilt" the 9.6 tag the other day and it worked. Instead of grabbing the latest python, it got the latest patch for the specified major and minor version. I think this may have been a windows-only issue? I agree it was an issue:

E+ 9.6 Release:
![image](https://user-images.githubusercontent.com/1991971/154729278-4f21e3f9-686c-4f8d-8ced-7d10884be2ba

[2022-02-18 20:22] JasonGlazer commented on #7918
@jmarrec I know this is an older issue but I'm finally trying to address it. What do you recommend I do with IDFVersionUpdater so that it works on Ubuntu?

[2022-02-18 20:24] mjwitte opened #9282 "Material:RoofVegetation output Green Roof Cumulative Precipitation Depth is suspect"
Issue overview
--------------
For example file, EcoroofOrlando, the annual sum of `Environment:Green Roof Current Precipitation Depth [m](Hourly)` is 1.2898m, but at the end of the simulation `Environment:Green Roof Cumulative Precipitation Depth [m](Hourly)` is 73.38m(!). Seems that these should be the same value.

### Details
Some additional details for this issue (if relevant):
 - Version of En

[2022-02-18 21:59] rraustad opened #9284 "ZoneHVAC:UnitVentilator shows confusing autosized min/max outdoor air values in sizing results"
Issue overview
--------------
The unit ventilator has 3 OA control options. The FixedAmount choice will maintain a constant flow rate, the others will change between min and max based on RA to OA temperature difference.

   A3 , \field Outdoor Air Control Type
        \required-field
        \type choice
        \key FixedAmount
        \key VariablePercent
        \key FixedTemperature

When choo

[2022-02-18 22:14] jmarrec commented on #7918
@JasonGlazer to stop trying to write files where the IDD files were found (which is likely in the install directory).
Are you fixing the existing or refactoring/rewriting? Because there's much more that could be improved, like the ability to run batches of files in parallel etc.
I actually had a mockup IDFVersionUpdater in c++ with Qt at some point. Python might be a good candidate too, since othe

[2022-02-18 22:54] lymereJ opened #9286 "Invalid index passed to the AirflowNetwork's LoopOnOffFlag array"
Issue overview
--------------
The release runs the defect file fine. However, when run with the debugger an invalid index is passed to the AirflowNetwork's `LoopOnOffFlag` array here: https://github.com/NREL/EnergyPlus/blob/e3205a4a686486ab3f9ea5b0ecc704d68f426646/src/EnergyPlus/AirflowNetworkBalanceManager.cc#L8202

In the model, the attic isn't associated with any air loop (but is included in th

[2022-02-18 22:54] lymereJ commented on #9286
@yanchenpnnl - FYI.

[2022-02-19 00:41] JasonGlazer commented on #7918
@jmarrec I'm just doing some bug fixing and would really like to address this within the current code. If you have any suggestions on how to overcome the issue, please let me know.

[2022-02-19 16:43] #4714 closed

[2022-02-19 16:45] mjwitte commented on #4153
This was not addressed yet. Reopening.

[2022-02-21 02:50] dmitry-ivanov-mm commented on #7111
Hi there,

Is there a way to raise the priority of this issue? It hasn't been addressed since 2018 and makes results for the variable-speed condenser loop very inaccurate. At the same time variable-speed condenser loops are very common design.

Just trying to attract attention to this issue :)

Cheers

[2022-02-21 16:14] mjwitte commented on #4153
@yujiex When merging #9177 I noticed the link to this issue. Apparently, I closed this years ago and pointed to #4714 without reading this carefully. There's one piece of this rainfall puzzle that is still missing. Site:Precipitation sets the current rainfall rate and depth (overriding any epw precipitation data), but it's not setting `state.dataEnvrn->IsRain`. That's the point of this issue.

Add

[2022-02-21 19:25] tanaya-mankad opened #9287 "PUBLIC linkage of energypluslib propagates lib dependency to all clients of energyplusapi"
Issue overview
--------------
EnergyPlus (exe) links to both energypluslib (statically) and energyplusapi (dynamically) for duplicated and sometimes conflicting access to the same objects. (This occurs because the default linkage of energypluslib into energyplusapi is currently  PUBLIC.)

### Details
 - Discovered during defect resolution for Issue 9091; exists in branch develop (7627a7d1).
 -
###

[2022-02-21 22:00] yujiex commented on #4153
@mjwitte Sorry, I missed addressing this. I'll work on fixing it now.

[2022-02-21 22:20] #6530 closed, assigned to nobody

[2022-02-22 00:35] yujiex commented on #4153
Hi @mjwitte Currently it seems TodayIsRain gets value from TomorrowIsRain
`state.dataWeatherManager->TodayIsRain = state.dataWeatherManager->TomorrowIsRain`
Then TomorrowIsRain is updated like this in WeatherManager
[code]

Where PresWeathConds corresponds to the "Present Weather Codes" epw field according to the EnergyPlus Auxiliary Programs documentation.

Table 2.16 has the meaning of the codes

[2022-02-22 01:28] mjwitte commented on #4153
No. I don't think we want to touch any of that. I would focus on the rain logic in `SetCurrentWeather` and possibly in `UpdatePrecipitation`.

[2022-02-22 01:38] germolinal opened #9289 "HAMT Model: Water Content goes way beyond 100% RH"
Issue overview
--------------

I am performing some simulations using the `HAMT` algorithm and I noticed that—in some cases—the water content reported reported by EnergyPlus goes way beyond what would be 100% RH.

For example, take the following material:

[code]

And in the results, after some unit conversions, I get the following relationship between RH and Water Content.

<img width="789" alt="

[2022-02-22 01:39] yujiex commented on #4153
Got you. I'll focus on these instead.

[2022-02-22 01:53] amirroth commented on #4153
This is like an Escape Room.

[2022-02-22 06:06] jmarrec commented on #9281
White pinning it, so last week, Mac was the one giving me most trouble. I bumped to python 3.8, but that is also currently what's installed as system python.
Even by asking cmake to find 3.8.12 EXACT, it was throwing because it found the python 3.8.9 from system. I had to also pass Python_ROOT_DIR, and now it should hopefully be future proof

[2022-02-22 10:42] giorgiolupato commented on #7111
Hi, unfortunately this is not a complete solution, but it can be a workaround (it's not perfect at all).

https://unmethours.com/question/40084/condenser-water-flow-rate-with-ems-energyplus/

[2022-02-22 11:44] rraustad opened #9291 "ZoneHVAC:UnitVentilator steam coil does not turn on?"
Issue overview
--------------
Review of model shows that the steam volume flow rate is gathered from the steam coil using a function that returns 0. This model was likely never tested with a steam coil. A test file is needed to ensure proper operation of the unit ventilator when using a steam coil.

    unitVent.MaxVolHotWaterFlow =
        SteamCoils::GetCoilMaxWaterFlowRate(state, "Coil:Heating:

[2022-02-22 13:39] jmarrec commented on #9000
At v9.3.0, prior to moving away from gio to fmt:

https://github.com/NREL/EnergyPlus/blob/baff08990c9c4d12d8bbde0378073018a3ea6acf/src/EnergyPlus/OutputProcessor.cc#L5289-L5290

So it should be be `strip`, not `trim`. That part is easy. What to do with the actual formatting is much harder (I've been banging my head at it for hours, for fear of changing the output)

First datapoint, I made a custom

[2022-02-22 16:42] Myoldmopar commented on #9287
I wonder how this change will impact the unit test suite binary.  Just something to be aware of as this is addressed.  :+1:

[2022-02-22 19:55] #8999 closed, assigned to jmarrec

[2022-02-22 20:38] #9277 closed, assigned to mitchute

[2022-02-22 21:10] bonnema commented on #9281
Never mind, it did the same thing (built with 3.10). Ignore my comment.

[2022-02-23 14:26] #9281 closed, assigned to jmarrec

[2022-02-23 14:29] #9150 closed, assigned to jmarrec

[2022-02-23 14:59] jmarrec commented on #7739
closed by #7026

[2022-02-23 14:59] #7739 closed, assigned to nobody

[2022-02-23 15:00] jmarrec commented on #6641
This is fixed now since the QtIFW installers allow you to deselect optional components like weather files, datasets, etc

[2022-02-23 15:00] #6641 closed, assigned to nobody

[2022-02-23 20:31] tanaya-mankad commented on #9287
@Myoldmopar, it looks as though you added code to main() about a year ago, that was always intended to be removed: https://github.com/NREL/EnergyPlus/blob/5231fcf39b5e3cef09904fc8bbe8334b22290343/src/EnergyPlus/main.cc#L59.
Part of the solution to this issue will indeed remove it, if that's fine.

[2022-02-23 20:33] Myoldmopar commented on #9287
Yep, sounds great to me.

[2022-02-24 10:05] jmarrec commented on #9286
Confirmed with develop at 4ec100209a1712bae0f35f0f7ef2da806bf1f133 , crashes on https://github.com/NREL/EnergyPlus/blob/4fa778ec59f792656c87f75512e4ed21920f2859/src/EnergyPlus/AirflowNetworkBalanceManager.cc#L8563

[code]

[2022-02-24 15:57] jmarrec opened #9298 "V22-1-0-IOFreeze installer issues"
Issue overview
--------------

* [x] Windows: There is an issue deleting the temp directory, due a path escape
* [x] Windows: IDFVersionUpdater won't start
* [x] File associations (relates #7546)

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of EnergyPlus (if using an intermediate build, include SHA): V22.1.0-IOFreeze
 -

[2022-02-25 03:28] griffincherrill commented on #9289
Hmm, this is a very curious issue as the weight of water at 1 cubic meter is only 1,000kg.
I don't know a huge amount of the HAMT algorithm, but have you entered other details about the suction, redistribution and diffusion? It seems as though water is accumulating but has no way of escaping.

[2022-02-25 08:39] jmarrec commented on #8199
V22-1-0-IOFreeze installer:

![image](https://user-images.githubusercontent.com/5479063/155681460-29c38052-2f78-41b1-9746-81e828b9542f.png)

The title bar **is** "EnergyPlus is a whole building energy simulation program".

https://github.com/NREL/EnergyPlus/blob/4fa778ec59f792656c87f75512e4ed21920f2859/cmake/Install.cmake#L121

https://cmake.org/cmake/help/latest/cpack_gen/ifw.html#variable:CPACK_

[2022-02-25 08:39] #8199 closed, assigned to nobody

[2022-02-25 08:59] jmarrec commented on #9174
@Herc08 The previous QtIFW version used a Radio Button (I Accept / I Don't accept, except you can only continue if you accept).

Now it uses a checkbox, which serves exactly the same purpose (either it's checked and you can continue, or it's unchecked and you can't).

Thanks for reporting @hongyuanjia I will fix it for the next release (V22-1-0)

[2022-02-26 09:45] sortiz-hub commented on #9202
Happy to see there is already a fix for the bug - currently stuck by it.
When do you think the fix will be included in E+?

Thanks!

[2022-02-26 14:57] #9228 closed, assigned to jmarrec

[2022-02-27 08:14] TiejunWu opened #9301 "Code Error in DXCoils.cc"
Issue overview
--------------

In the source code DXCoils.cc, in module named "CalcTwoSpeedDXCoilStandardRating", there is one line of code as follow (Line [15282](https://github.com/NREL/EnergyPlus/blob/747398a414f97f8867b8b79c8a567e4a028df695/src/EnergyPlus/DXCoils.cc#L15282))

[code]

Looks like this line of code is to calculate the Capacity Ratio as a function of Flow Fraction, but it's refere

[2022-02-27 19:01] sortiz-hub commented on #5185
Any updates on this? We're stuck on this issue and it would be great to get it fixed.

Thanks in advance!

[2022-02-28 15:58] mjwitte commented on #8788
This was addressed by #9257 (duplicate issue).

[2022-02-28 15:58] #8788 closed, assigned to nealkruis

[2022-02-28 18:33] mjwitte commented on #5975
Closing this, not worth fixing at this point.

[2022-02-28 18:33] #5975 closed, assigned to nobody

[2022-02-28 19:00] mjwitte commented on #5185
@sortiz-hub Nothing yet. Hoping to address this for the upcoming v22.1 release.

[2022-02-28 20:05] mjwitte commented on #9164
Tested with v9.5 on Windows10 with a bad file name to see what search paths were checked:
[code]
Now with v22.1-IOFreeze'ish
[code]

I see 2 differences here:
1. The EnergyPlus Executable Directory path is wrong. The exe is in C:\EnergyPlus\EnergyPlusV22-1-0-IOFreeze, so, when combined with the file path of ..\datasets\TDV, the search path should be "C:\EnergyPlus\datasets\TDV\", same as v9.5.  (I

[2022-02-28 20:20] mjwitte commented on #9092
This has been addressed in #9132

[2022-02-28 20:20] #9092 closed, assigned to Myoldmopar

[2022-02-28 23:38] eringold opened #9302 "Zone entered Floor Area not used in calculations"
Issue overview
--------------
In v9.5, a 'Floor Area' entered in the Zone object is used to calculate zone internal loads entered as W/area. In v9.6, the load will be applied to the calculated floor area instead.

### Details
In v9.5, this object:
[code]
with this load:
[code]
Will use the entered zone area for calculating Plug and Process load and energy:
![image](https://user-images.githubuserco

[2022-03-01 09:32] jmarrec opened #9303 "Fortran utilities do not work in mac M1 (arm64) package when installed"
Issue overview
--------------

Reported by @airallergy in https://github.com/NREL/EnergyPlus/issues/8669#issuecomment-984857077

I can confirm what the user reported.

[code]

They do work in the build folder, they misbehave only when installed.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): macOS M1 (arm64)
 - Version of EnergyPlus (if

[2022-03-01 09:36] jmarrec commented on #8669
I'm closing this issue as it works as intended. I'm moving @airallergy 's issue with M1 mac to https://github.com/NREL/EnergyPlus/issues/9303

[2022-03-01 09:36] #8669 closed, assigned to jmarrec

[2022-03-01 09:39] jmarrec commented on #9303
I got a strong hunch that it's related to the (many) warnings you get when you build the `package` target

[code]
https://gitlab.kitware.com/cmake/cmake/-/issues/21854

----

I built a debug package, I can't even attach LLDB to the ExpandObjects executable as it sigkills BEFORE lldb has a chance to attach, but I think it is an install_name_tool -related issue.

[2022-03-01 11:25] airallergy commented on #9303
Thanks for the new issue. I realised later that `EPMacro` only works as it is a pre-compiled x86 binary running through rosetta, you probably have known this.

[2022-03-01 13:21] jmarrec commented on #9303
Yep, I know it is, but it certainly doesn't hurt to mention it explicitly, thanks!

[2022-03-01 13:29] jmarrec commented on #9301
https://github.com/NREL/EnergyPlus/blob/747398a414f97f8867b8b79c8a567e4a028df695/src/EnergyPlus/DXCoils.cc#L15282

[2022-03-01 13:35] jmarrec commented on #9301
Probably supposed to be this:

[code]

[2022-03-01 13:44] jmarrec commented on #9280
@Katherinaxxx can you share your .idf and .py file so we have a chance to reproduce the issue please?

[2022-03-01 14:13] rraustad commented on #9301
That looks correct given that for the Coil:Cooling:DX:TwoSpeed model there is only 1 input for Total Cooling Capacity Function of Flow Fraction Curve Name.

[2022-03-01 15:36] mjwitte commented on #9302
@eringold Probably is related to spaces, please send the files. Does this file have explicit Space object(s) in the idf for this zone? If so, it's likely the Space Floor Area is being used. Either way, the code needs to do some checking/warning if there are conflicting inputs for Space and Zone, and I don't think that's in there.

[2022-03-01 15:52] eringold commented on #9302
No spaces in these inputs, just the classic Zones. Files sent via email.

[2022-03-01 16:58] #9298 closed, assigned to jmarrec

[2022-03-01 16:58] #9174 closed, assigned to jmarrec

[2022-03-01 16:58] jcyuan2020 opened #9305 "Duplicated "Detailed" timestep choice item in IDD file for Output:Meter"
Issue overview
--------------
There is a duplicated "Detailed" timestep choice item for Output:Meter field A2 "Reporting Frequency":

[code]

As a result, in IDFEditor, two choice items of the same name will be shown under the droplist menu for the "Reporting Frequency" field of Output:Meter:
![image](https://user-images.githubusercontent.com/64040111/156213347-7b889b3d-5711-4772-b594-9a5267900db2

[2022-03-01 17:00] Myoldmopar commented on #9305
Good catch, that is _quite_ silly.  It's obviously not causing (m)any issues, thankfully.

[2022-03-02 13:07] #9193 closed, assigned to JasonGlazer

[2022-03-02 13:08] #9006 closed, assigned to JasonGlazer

[2022-03-02 13:08] #8485 closed, assigned to nobody

[2022-03-02 13:10] JasonGlazer commented on #7918
I ended up copying the necessary files to the active directory and then running the Transition*.exe files. That seems to be the solution on Linux and Windows.

[2022-03-02 13:10] #7918 closed, assigned to nobody

[2022-03-02 13:10] #7538 closed, assigned to nobody

[2022-03-02 13:11] #5889 closed, assigned to Myoldmopar

[2022-03-02 17:25] #9190 closed, assigned to jmarrec

[2022-03-02 18:35] #9248 closed, assigned to mitchute

[2022-03-02 19:08] jmarrec commented on #9264
This is actually a problem due to cpgfunctionEP... by default it does this:

https://github.com/NREL/EnergyPlus/blob/1cb2067a9c73a29b78daf5062e3b34ce4346d98b/third_party/cpgfunctionEP/CMakeLists.txt#L31-L37

On Github, the openmp is definitely found. But it doesn't handle at all shipping the `vcomp{v}.dll` to match. This is something you can do via `CMAKE_INSTALL_OPENMP_LIBRARIES` and InstallRequi

[2022-03-02 19:35] mitchute commented on #9264
We should probably just take all of that openmp stuff out of there. Do you want me to tackle that?

[2022-03-02 20:43] #9284 closed, assigned to nobody

[2022-03-02 23:40] matthew-larson opened #9309 "Crash on Kiva error messaging"
Issue overview
--------------
A Kiva model was crashing when hitting the warning "The weights of associated Kiva instances do not add to unity--check exposed perimeter values."  The error was tracked back to and error in the `Kiva::setMessageCallback` function and the second argument needing to be a `std::pair` instead of a `std::string`.

### Details
Some additional details for this issue (if rel

[2022-03-02 23:55] nealkruis commented on #9309
@mitchute FYI, we missed this when we were setting up the callback functions to also take in the `state` pointer. I believe there is only one place where we set the context pointer for the callback. Turns out you can cast anything to a `void*` and then to anything else, so the so there was nothing wrong from the compiler's perspective.

@matthew-larson to prevent this in the future, we could creat

[2022-03-03 03:13] mbadams5 commented on #9264
Won't this still be an issue for ConvertInputFormat since that uses OpenMP if the compiler supports it? Although I see julien seems to have a fix for this on his fork...
https://github.com/NREL/EnergyPlus/blob/5e982ed7101ced40361baedf8f41cde3e9771832/src/ConvertInputFormat/CMakeLists.txt#L10-L15

[2022-03-03 08:52] jmarrec commented on #9264
@mbadams5 Yeah ConvertInputFormat was on my todo as well. For this one it's kinda easier, it's added via add_subdirectory so I can just do `set(CMAKE_INSTALL_OPENMP_LIBRARIES TRUE PARENT_SCOPE)`

Anyways, the fact that the energyplus.exe is affected is unrelated to ConvertInputFormat (which is standalone IIUC), it's really due to cpgfunctionEP.

[2022-03-03 12:42] mbadams5 commented on #9264
@jmarrec Yeah, I get that ConvertInputFormat does not affect energyplus.exe, however, I bet the standalone ConvertInputFormat did not work under Windows 11 either due to the same issue. Either way, both issues are fixed now in your PR.

[2022-03-03 13:45] LorenzoBottaccioli opened #9311 "EMS actuator override of mass flow rate and temperature provide strange behaviour."
Dear,

I'm developing new Reinforcement Learning Control Strategies and I'm using E+ as a test bed for the algorithms. I managed to use only

    EnergyManagementSystem:Actuator,
        t_in_air,                !- Name
        VAV SYS 1 OUTLET NODE,   !- Actuated Component Unique Name
        System Node Setpoint,    !- Actuated Component Type
        Temperature Setpoint;    !- Actuated Componen

[2022-03-03 16:41] bonnema commented on #9311
Have you looked at the .edd file?

[2022-03-03 17:09] mjwitte opened #9312 "Array bounds violation for heating-only or cooling-only VRF Terminal Unit"
Issue overview
--------------
User file with two VRF terminal units in an airloop has an array bounds violation with a debug build. These two units have a single coil each, one is heating-only, the other is cooling-only. The array bounds violation occurs [here in HVACVariableRefrigerantFlow.cc](https://github.com/NREL/EnergyPlus/blob/5e982ed7101ced40361baedf8f41cde3e9771832/src/EnergyPlus/HVACVari

[2022-03-03 17:12] jcyuan2020 opened #9313 "FMU path problem for v9.6"
Issue overview
--------------
In an earlier helpdesk ticket (16061) submitted by the NIST CONTAMW team, the author mentioned that there were some problems encountered in v9.5 and v9.6 in running an FMU. After some investigation, these two issues seem to be separated issues. The one with v9.6 will be is the first one to be encounter, which is also happending in the most up-to-date develop version (

[2022-03-03 17:20] #9184 closed, assigned to nobody

[2022-03-03 17:34] eringold commented on #9312
Hmm, I wonder if this is the cause of the intermittent crashes I see with this model. I haven't tried to chase those down, since they do seem intermittent - I try the run again and it succeeds, and I don't have a ton of time...

[2022-03-03 17:40] mjwitte commented on #9312
That's quite likely. The workaround is to add the "missing" coils to these VRF units and schedule it off or something like that to keep it from operating.

[2022-03-03 17:46] rraustad commented on #9312
That code needs to be protected by Cooling/HeatingCoilPresent. Set point control was recently add for VRF TU in air loop/OA system. Darn all these permutations needed for testing.

[2022-03-03 17:49] mjwitte commented on #9302
@eringold The v9.6 workaround for the zone floor area is to add Space objects for each Zone with the desired floor areas. e.g.:
[code]
You can name the Spaces the same as the corresponding zones or not, works either way since these are all one-to-one. The areas in the Input Verification and Results Summary subtables for Zone Summary and Space Summary should match after the Space objects are added,

[2022-03-03 17:54] eringold commented on #9302
Thanks, good to know. I'm using OpenStudio with this model, which I don't think yet has the capability to set the floor area of a space (and have it translated to IDF correctly).

Instead of trying to rock that boat, my workaround was just to adjust the load input to be based on the calculated area.

[2022-03-03 17:57] rraustad commented on #9312
Would it be bad programming to set the missing coil outlet node equal to the present coil outlet node when set point control is used? to avoid the need to add checks in multiple places.

[2022-03-03 17:59] mjwitte commented on #9312
Maybe, maybe not, depends on what else is being done with the phantom coil's outlet node.

[2022-03-03 18:00] shorowit commented on #9302
You actually can with OpenStudio 3.3.0. From its [release notes](https://github.com/NREL/OpenStudio/releases/tag/v3.3.0):

![image](https://user-images.githubusercontent.com/5861765/156623959-feb4d317-2eed-4a00-985a-f29d4f69e20e.png)

[2022-03-03 18:03] eringold commented on #9302
@shorowit right, but OS:Space doesn't have a Floor Area field?

[2022-03-03 18:56] shorowit commented on #9302
@eringold Hmm. Sorry, I'm probably just not following the issue close enough so maybe I'm not making sense. But note that OS:ThermalZone doesn't have a Floor Area field either, it's [calculated from the OS:Spaces](https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-3.3.0-doc/model/html/classopenstudio_1_1model_1_1_thermal_zone.html#a5dd366b6d8425e6115b884e1a093a50a). So you can ei

[2022-03-03 19:06] eringold commented on #9302
OS:ThermalZone does have a Floor Area field (N4 in the OpenStudio.idd entry), there's just no setter for it specifically. I get around that with `zone.setString(5, area)`.

OS:Space has no such field, so I couldnt set the value there, even if I did use the new FT option.

[2022-03-03 19:09] shorowit commented on #9302
Ah, got it. I understand now. I'm sure you already know this, but you could [request that OS enhancement](https://github.com/NREL/OpenStudio/issues). 😉

[2022-03-03 21:30] jcyuan2020 commented on #9164
The problem might be here:
https://github.com/NREL/EnergyPlus/blob/4fa778ec59f792656c87f75512e4ed21920f2859/src/EnergyPlus/ScheduleManager.cc#L456-L459

The function `CheckForActualFilePath()` need to take std:filesystem::path type as the second parameter; however a std:string was supplied. The code lines might need to be changed to:
[code]

Another place that need to change is here:
https://githu

[2022-03-03 21:32] eringold commented on #9312
@mjwitte your workaround works, although even while scheduled off the 'fake' coil impacts the sizing of the AirConditioner:VariableRefrigerantFlow unit (and subsequent runtime PLR), so should be hard-sized to zero. Although the idd disallows this ( `\minimum> 0.0`), so a tiny value will have to do. 😓

[2022-03-03 21:48] jcyuan2020 opened #9315 "FMU running problem for v9.5 and newer"
Issue overview
--------------
Reported from the NIST CONTAM team, this is the second issue about FMI running in v9.5 following the issue reported related to FMI in v9.6 and v22.1 IOFreeze. For v9.5, it will directly show the symptoms below when running the case. For v9.6 and v22.1 IOFreeze, an additional code problem precedes this(see #9313); but after fixing #9313, the same following symptoms sim

[2022-03-03 21:49] mbadams5 commented on #9164
It should already implicitly construct a `std::filesystem::path` for the second parameter when given a `std::string` as an input parameter since `std::filesystem::path` accepts `std::string` as a constructor option (https://en.cppreference.com/w/cpp/filesystem/path/path). So I am doubtful that will solve this problem, but I could be wrong.

I think this is due to the original change to using `std:

[2022-03-03 23:42] jmarrec commented on #9164
@jcyuan2020 are you already actively looking into this? Otherwise I would take it, bundle it with #9313 (since I did the filesystem conversion, both are my fault...)

FYI, the relevant code block is around here: https://github.com/NREL/EnergyPlus/blob/ef1342abe6e508fd69ec109b0be24d5de72bf89e/src/EnergyPlus/DataSystemVariables.cc#L172-L214

It doesn't report a path as checked if that path doesn't e

[2022-03-03 23:53] jcyuan2020 commented on #9164
@jmarrec I just removed myself from this one. You may have better idea to fix this one. Thanks!
@mbadams5 I did finished testing the changes I proposed and you are right. These are not the solutions to this issue.

[2022-03-04 00:10] jmarrec commented on #9164
@jcyuan2020 Thanks.

Another potential issue with this... the folder **datasets** (in source) is installed as **DataSets**... Given than mac and linux are case sensitive file systems, not sure if that's a great idea.

[2022-03-04 01:49] Katherinaxxx commented on #9280
I reinstalled energyplus and python. And everything works fine now, thanks for your time :) @jmarrec

[2022-03-04 01:49] #9280 closed, assigned to nobody

[2022-03-04 14:32] jmarrec commented on #9164
yeah well, I can reproduce a similar error message on Ubuntu when **installed**, Ubuntu **is** case sensitive (mac isn't by **default**, including on my machine, so it works there).

[code]

If I replace in 5ZoneTDV.idf:

[code]

then it works.

[2022-03-04 15:14] LorenzoBottaccioli commented on #9311
@bonnema yes I did. What shall I look for? This is the IDD file for the ConstantVolume idf
[eplusout_edd.zip](https://github.com/NREL/EnergyPlus/files/8186821/eplusout_edd.zip)

[2022-03-04 16:28] bonnema commented on #9311
I am having trouble following all that is going on, but the .edd files shows line-by-line execution of the EMS code. Does each line match what you are wanting it to do? For a given timestep and the given inputs, are the outputs being calculated correctly? Then is there a line setting the actuator to that output value? Those are things to check for initially.

You also have a lot of programs with d

[2022-03-04 16:33] LorenzoBottaccioli commented on #9311
@bonnema I'll try do what you suggested.

However, the big problem is that in Constant Volume the buildings heat up the internal temperature with no HVAC Power consumption! How is this possible?

![image](https://user-images.githubusercontent.com/13064792/156802230-4f402c7a-603e-4d93-8590-4d59f8d53f2b.png)

[2022-03-04 17:18] bonnema commented on #9311
What's going on outside? Internal gains?

[2022-03-04 17:33] LorenzoBottaccioli commented on #9311
Wrt the Blueline E+ baseline simulation, the only difference are the controls of the Supply Air Temperature and the Supply Mass Flow Rate.

[2022-03-04 18:48] mjwitte opened #9317 "Space Summary Totals for People area per person do not match the Zone Summary"
Issue overview
--------------
Running 5ZoneAirCooled, the Zone Summary shows 17.83 m2/person, while the Space Summary shows 8.92. Looks like the Space Summary table calcs did not include the unoccupied plenum zone. I know, the plenum zone should be tagged as not part of floor area, but that's not the point here. It should be treated the same in both tables.

### Details
Some additional details for

[2022-03-04 19:18] #9202 closed, assigned to jmarrec

[2022-03-04 19:18] #9222 closed, assigned to jmarrec

[2022-03-04 21:53] bonnema commented on #9311
It's really hard to say since you're actuating HVAC components with EMS.

[2022-03-06 18:00] aaron-boranian commented on #9111
- [ ] [Make-up Water Supply Schedule Name](https://bigladdersoftware.com/epx/docs/9-6/input-output-reference/group-internal-gains-people-lights-other.html#field-make-up-water-supply-schedule-name) input field of `SwimmingPool:Indoor` object claims that field can be left blank to use same calculations as site's water mains temperature, but leaving blank results in severe error that stops the simula

[2022-03-06 20:25] matthew-larson opened #9318 "Parser for Window5 Data File can't handle spaces in names"
Issue overview
--------------
The "revised" Window5 data parser currently in EnergyPlus v9.6 (and looks like v9.4 and v9.5 as well) is only parsing the first word for names with spaces in them. So, for example, for a double pane window without film, that might be called "Dual Clear" but the code is only parsing "Dual" and then when comparing with the name "Dual Clear" that comes from the IDF it is

[2022-03-07 18:36] eringold opened #9320 "DemandManagerAssignmentList error message shows wrong object name"
Issue overview
--------------
The error message for a bad meter name referenced by a DemandManagerAssignmentList will display a different object's name.

Input object:
[code]
Error message:
[code]
Should read DemandManagerAssignmentList="DEMAND MANAGER".
(replicated using 5ZoneAirCooledDemandLimiting.idf)

https://github.com/NREL/EnergyPlus/blob/6ec9b3bd683ea0535b823a75977dea39f4e91326/src/EnergyP

[2022-03-08 11:09] jmarrec commented on #9164
I finally found the needle.

`epin` is passed as a a path to the IDF file minus its extension. eg : `C:\EnergyPlus-V22-1-0\ExampleFiles\5ZoneTDV`, so need to take the parent directory path like it was done before https://github.com/NREL/EnergyPlus/blob/de239b2e5f504e381ef4f296893ef93ce5410215/src/EnergyPlus/DataSystemVariables.cc#L160-L164.

I missed it when I did the conversion to filesystem... h

[2022-03-09 16:55] JasonGlazer commented on #6384
This was previously fixed in #8952 by @jmarrec.

[2022-03-09 16:55] #6384 closed, assigned to JasonGlazer

[2022-03-10 09:37] LorenzoBottaccioli commented on #9311
@bonnema Is there a way to control both Supply temp and Mass flow rate? I don't understand why E+ is providing this behaviour.

[2022-03-10 10:35] LorenzoBottaccioli commented on #9311
I post here another example of what is happening without the external interfaces but just using actuators of the EMS.
![test_anomalies](https://user-images.githubusercontent.com/13064792/157641280-35d7f3ea-36d3-4e9a-b174-1d0d39dc8247.png)

![temp_anomalies](https://user-images.githubusercontent.com/13064792/157643712-13a2fb8f-170f-48af-8831-6ffb6c6ee63b.png)

No_Action means E+ running with his ow

[2022-03-10 16:33] bonnema commented on #9311
@LorenzoBottaccioli, can you explain more what you're trying to do? I took a look at your IDF. You EMS code seems to want to set the mass flow to zero and the temperature setpoint to the mixed air value. If you want to shut off the fan there is probably a better way (e.g., set the fan availability schedule to zero). Your temperature setpoint actuator is on the _VAV Sys 1 Outlet Node_. Your supply

[2022-03-10 18:41] germolinal commented on #9289
I did! But the point is that, at some point, the material should not allow any more water to come in at all

[2022-03-11 00:24] LorenzoBottaccioli commented on #9311
@bonnema I'm trying to control both the mass flow rate and Supply air temperature with a Reinforcement learning algorithm in order to optimize energy consumption. The case of the last two idf I uploaded was just to stress the issue of the strange behaviour I'm facing. What strategy do you suggest to fix such an issue? The objective is to control both supply air temperature and mass flow rate. More

[2022-03-11 00:46] bonnema commented on #9311
What is the algorithm learning from?

[2022-03-11 01:56] rraustad commented on #9311
Given that there are 2 independent variables that combined yield unlimited variation in delivered capacity I would say your title for the issue is accurate. Since the equations used to determine how the external interface is calculating both supply mass flow rate and temperature were not provided, with what I would assume to be the expectation to hold, or closely hold a thermostat temperature, the

[2022-03-11 04:39] rraustad commented on #9311
Looking at [this figure](https://github.com/NREL/EnergyPlus/issues/9311#issuecomment-1059319980) E+ holds a constant flow with a varying supply air temp to maintain the zone thermostat temp. And this model does a good job of holding that same profile. At set back at night as the zone temp floats down, E+ has constant flow and gradually increases the HVAC power to provide enough heat to approach an

[2022-03-11 09:49] LorenzoBottaccioli commented on #9311
@rraustad [this figure](https://github.com/NREL/EnergyPlus/issues/9311#issuecomment-1063906493) was just an extreme example of an anomaly I'm facing. In that case, there was no learning algorithm. The figure shows the same IDF file with the same weather conditions and the days refer to a winter situation in the first days of January. The difference is only that in the action case I have voluntaril

[2022-03-11 09:49] LorenzoBottaccioli commented on #9311
The algorithm is learning from E+

[2022-03-11 13:59] rraustad commented on #9311
@LorenzoBottaccioli if you turn off the HVAC system (0 mass flow) then the zone will float to whatever temperature based on the total zone heat gain. I don't know what any of the simulation inputs are, lighting, equipment, etc., or if there is outdoor air when HVAC system in on. Is your model trying to maintain a zone temperature? I suspect it is but not sure what controls the HVAC system to turn

[2022-03-11 15:18] rraustad opened #9325 "For multiple AirLoopHVAC:DedicatedOutdoorAirSystem, only the first finds weather information used for sizing."
Issue overview
--------------

In module AirloopHVACDOAS the member function GetDesignDayConditions finds the outdoor weather for component sizing. However, there are global flags, state.dataAirLoopHVACDOAS->SummerDesignDayFlag = false; and state.dataAirLoopHVACDOAS->WinterDesignDayFlag = false;, that are set the first time through and subsequent calls to this function does not find the weather co

[2022-03-11 16:41] bonnema commented on #9311
I am not sure how well learning from a model will go. I think you could solve for this at each timestep. Similar to what @rraustad said, you have to meet the load with a flow rate and a supply temperature. You probably have an equation that defines fan power (typically as a function of flow rate) and an equation that defines cooling power (typically as a function of both indoor and outdoor conditi

[2022-03-11 20:23] jmythms opened #9326 "New compiler warnings on Ubuntu 21.10: unused variable"
Issue overview
--------------

This unused variable warning started popping up after upgrading to Ubuntu 21.10, and GCC 11.2.
Warning on [line 529 in FluidProperties.hh](https://github.com/NREL/EnergyPlus/blob/1ca392b3a183d24d4a2823e056dbb8b341b4087b/src/EnergyPlus/FluidProperties.hh#L529) (`std::uint64_t const T_tag(*reinterpret_cast<std::uint64_t const *>(&t) >> Grid_Shift);`) :
`/EnergyPlus/src

[2022-03-11 20:35] amirroth commented on #9326
Well, `t` is initialized literally one line of code above that, so ... 🤷

[2022-03-11 20:39] jmythms commented on #9326
Yeah, I saw that, but I just wanted to make sure whether the warning was safe to ignore 👍🏽 Thank you

[2022-03-11 20:40] mitchute commented on #9326
It is Friday, and maybe I'm just having a :brain: moment... but what? How is `t` uninitialized?

[2022-03-11 22:22] mitchute commented on #9326
I see that I misread your statement. LIke I said, Friday... I'm going to bed now.

[2022-03-14 15:16] JasonGlazer commented on #9152
While refactoring DaylightingManager.hh please also think about eliminating use of so many old short Fortran variable names such as DILLSW (and dozens of other 2 to 6 character variable names in all caps).

[2022-03-14 18:31] mjwitte commented on #9111
@aaron-boranian Probably not. Looks like this is a pasteo from another object. Code inspection or a quick test run should answer for sure.

Sounds like this is just an idd error, but you'll need to check the code and test with the required tag removed to see if it all works as exepected.

[2022-03-14 19:15] mjwitte commented on #9311
I think this discussion has veered off track. The initial question is whether the actuator is being applied correctly.
@LorenzoBottaccioli Looking at the detailed node conditions should help diagnose what is happening. Be sure to report at the "detailed" reporting frequency so there is not averaging. And adding some custom EMS output variables that reflect the actuated values for mass flow rate an

[2022-03-14 23:14] jcyuan2020 opened #9329 "IDFVersionUpdater copies installation folder files to the working directory"
Issue overview
--------------
For 22.1 IOFreeze version, when upgrading files, the ReportVariablesxxx.csv and Vxxx-Energy+.idd files (of related versions) got copied to the working folder, as shown in the following screenshot:
![image](https://user-images.githubusercontent.com/64040111/158275215-0651bb52-c9fd-4afe-a836-65b53d22245c.png)

These files will be removed after the transition is done.

T

[2022-03-15 12:06] JasonGlazer commented on #9329
@jcyuan2020 the IOFreeze version of the IDFVersionUpdater still had some problems. Would you mind retesting with the version associated with this #9306 ?  The files are at:

https://github.com/NREL/EnergyPlus/tree/fix_idfversionupdater_part2/bin/IDFVersionUpdater/Run-Win

BTW, a bunch of files should be copied during transition but then should be removed after that is complete.

[2022-03-15 13:49] jcyuan2020 opened #9330 "Window Assembly NFRC for report (Tarcog) related crash in v22.1 IOFreeze"
Issue overview
--------------
An idf case file will cause a simulation crash in v22.1 IOFreeze but not in v9.6 or earlier versions. The call is here inside GetWindowAssemblyNfrcForReport():
https://github.com/NREL/EnergyPlus/blob/1ca392b3a183d24d4a2823e056dbb8b341b4087b/src/EnergyPlus/WindowManagerExteriorThermal.cc#L305
And then traced down to:
https://github.com/NREL/EnergyPlus/blob/1ca392b3a183

[2022-03-15 14:27] jcyuan2020 commented on #9329
@JasonGlazer Thanks! I tested binaries you provided and they are doing the same thing---copying a bunch of files (Report variables xxx.csv and related idds) and then removing them after. But according to your description above that seems to be the expected behavior for the 22.1 version (not in v9.6 and before). So may not be a problem.

[2022-03-15 15:07] JasonGlazer commented on #9329
That is the expected behavior so I'm closing this issue.

[2022-03-15 15:07] #9329 closed, assigned to nobody

[2022-03-15 15:29] vidanovic commented on #9330
@jcyuan2020 Do you have an IDF file that causes this crash?

[2022-03-15 15:35] jcyuan2020 commented on #9330
@vidanovic They are at the defect file link: https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/9000s/9330

[2022-03-15 16:47] mjwitte opened #9331 "Crash if window construction is zero due to bad construction name"
Issue overview
--------------
If a window has an illegal construction name, it will crash with a zero construction number here:

https://github.com/NREL/EnergyPlus/blob/d93483085694987b6e2b4aeb8e294d2b2060d844/src/EnergyPlus/SurfaceGeometry.cc#L5936-L5944

This is actually a redundant check that happens earlier except this spot doesn't reset the divider num to zero so that could be added here and

[2022-03-15 16:49] #9318 closed, assigned to matthew-larson

[2022-03-15 17:16] #9309 closed, assigned to matthew-larson

[2022-03-15 17:17] rraustad opened #9332 "AirLoopHVAC:DedicatedOutdoorAirSystem does not consider SizingPeriods other than DesignDay"
Issue overview
--------------
Users have reported issues with sizing AirLoopHVAC:DedicatedOutdoorAirSystem objects. Multiple DOAS system do not autosize correctly and rely on SizingPeriod:DesignDay objects for sizing information. The user may not include those objects and instead exclusively use SizingPeriod:WeatherFileDays, or use a combination where only the DesignDay objects are considered.

Un

[2022-03-15 17:30] vidanovic commented on #9330
@mjwitte @JasonGlazer One stupid question. Do we have a way to run all continuous integration test locally before committing anything to the GitHub? I remember some python script in the past that was doing that.

[2022-03-15 17:33] mjwitte commented on #9330
https://github.com/NREL/EnergyPlusRegressionTool

[2022-03-15 18:57] #9287 closed, assigned to tanaya-mankad

[2022-03-15 19:03] vidanovic commented on #9330
@mjwitte Perfect. Thanks!!!!

[2022-03-15 20:10] #9264 closed, assigned to jmarrec

[2022-03-15 21:36] JasonGlazer commented on #8377
@Myoldmopar and @mitchute should this issue still be open? I thought that the alternate build configurations handled this.

[2022-03-15 21:39] JasonGlazer opened #9333 "Add field to use cubic spline interpolation for PsyTsatFnPb to PerformancePrecisionTradeoffs"
Issue overview
--------------
Currently Mode06 is the only way to trigger the use cubic spline interpolations in replacement of the psychrometric
function PsyTsatFnPb in PerformancePrecisionTradeoffs. All the other Modes in PerformancePrecisionTradeoffs also have a way to trigger that function independently. A new field should be added to PerformancePrecisionTradeoffs to do this.

### Details
Some

[2022-03-15 21:44] mitchute commented on #8377
I think we can close it. https://github.com/NREL/EnergyPlus/pull/8521 is one example of how this has been addressed, but there are others.

[2022-03-15 21:44] #8377 closed, assigned to mitchute

[2022-03-15 22:48] shorowit commented on #9333
Same issue as https://github.com/NREL/EnergyPlus/issues/9107

[2022-03-16 11:35] JasonGlazer commented on #9333
Somehow I missed that the issue already existed. Closing this one.

[2022-03-16 11:35] #9333 closed, assigned to nobody

[2022-03-16 12:56] mjwitte commented on #9107
At the same time, it would be nice to use a consistent format for the warnings from PerformancePrecisiontTradeoffs. Here's an example of some of the current warnings:
[code]

[2022-03-16 13:11] mjwitte commented on #9159
Fixed in #9180

[2022-03-16 13:11] #9159 closed, assigned to xuanluo113

[2022-03-16 15:07] #7200 closed, assigned to matthew-larson

[2022-03-16 18:46] chriswmackey opened #9335 "Fatal Error When Zone is Composed Entirely of Construction:AirBoundary"
Issue overview
--------------
When an IDF contains a Zone composed entirely of Surfaces using `Construction:AirBoundary` , EnergyPlus will fail to simulate and will return a Fatal Error like the following:

[code]

### Details

I'll admit that I'm not sure if returning a fatal error is the intended behavior for this case. I can understand why it happens because the zone-grouping operation that und

[2022-03-17 01:54] #9325 closed, assigned to rraustad

[2022-03-17 15:44] #9302 closed, assigned to nobody

[2022-03-18 03:53] #8638 closed, assigned to nobody

[2022-03-18 03:53] #9230 closed, assigned to nobody

[2022-03-18 18:17] #9268 closed, assigned to matthew-larson

[2022-03-18 19:00] #7511 closed, assigned to JasonGlazer, mjwitte

[2022-03-21 14:06] #9164 closed, assigned to jmarrec

[2022-03-21 14:06] #9313 closed, assigned to jmarrec

[2022-03-21 14:29] #9243 closed, assigned to matthew-larson

[2022-03-21 14:29] #9270 closed, assigned to matthew-larson

[2022-03-21 20:02] nealkruis commented on #8158
Do we know if these tests are all happening on the same machine? Could there be subtle GPU hardware differences among the CI machines? (I guess that shouldn't matter since it's all in the Mesa 3D libraries.)

Maybe they have different versions of Mesa installed?

[2022-03-21 20:32] Myoldmopar commented on #8158
We have 3 Linux VMs, each presumably identical.  I mean maybe there's some weird chance that something could be different between them, but the regressions are run within the same CI run, on the same machine, so it's not like we are ever comparing machine-to-machine if that's what you are thinking.

[2022-03-21 21:25] #9000 closed, assigned to jmarrec

[2022-03-22 02:57] #4153 closed

[2022-03-22 20:05] jcyuan2020 opened #9339 "DOAS system fan mass flow output does not match fan outlet system node mass flow rate output"
Issue overview
--------------
A user recently reported that in a Dedicated Outdoor Air system case, the fan mass flow rate report does not match the system node mass flow report for the fan outlet node: the fan outputs reported a positive mass flow rate and also positive fan power; but the fan's outlet system node reported zero flow rate.

This can be demonstrated by the slightly revised from the

[2022-03-22 23:51] yzhou601 commented on #8336
From Khanh Nguyen Cu's email:
"Just wonder if a special note on AirloopHVAC:UnitarySystem document section would be useful for clarity. The AirloopHVAC:UnitarySystem has big table with all available components checked – it gives the false impression that AirloopHVAC:UnitarySystem is designed to replace all existing AirloopHVAC:Unitary objects. However, not all control option is supported like this

[2022-03-23 00:12] rraustad commented on #8336
It is true that UnitarySystem does not yet have all the controls that other systems include. However, the ZoneControl:Thermostat:StagedDualSetpoint object was intended to be used with UnitarySystem so this issue seems like a bug fix.

[2022-03-23 02:34] rraustad commented on #8336
In UnitarySystem function getUnitarySystemInputData the ZoneControl:Thermostat and ZoneControl:Thermostat:ThermalComfort are searched for and if not found a severe error occurs. I suspect adding the staged Tstat in this search would correct the underlying problem of needing a 2nd thermostat object. The heating spikes looks like a control issue that differs from the multispeed HP model.

[2022-03-23 17:28] #9330 closed, assigned to nobody

[2022-03-23 19:19] eringold opened #9342 "DOAS system coils report cooling/heating power when system is off"
Issue overview
--------------
Output of 'Heating Coil Heating Rate' and 'Cooling Coil Total Cooling Rate' for coils on AirLoopHVAC:DedicatedOutdoorAirSystem will show the value of the last timestep that the system was on (i.e. flow thru the DOAS), through the period that it's off. This only happens when the coil availability is 'on'. As far as I can tell the total coil energy is correct, though.

[2022-03-23 20:48] rraustad opened #9343 "SolarCollector:FlatPlate:PhotovoltaicThermal can only be simulated in an outdoor air system or plant"
Issue overview
--------------
A user has suggested that the SolarCollector:FlatPlate:PhotovoltaicThermal be allowed to feed the ZoneHVAC:EnergyRecoveryVentilator object to pretreat outdoor air prior to entering the HX. This would avoid the need to add an air loop to simulate the PVT system.

Work around: Install a 100% outdoor air system to model the HX and PVT.

https://unmethours.com/question/71

[2022-03-24 00:46] wta12 commented on #8336
@rraustad : Is there  for pending controls list of UnitarySystem object which similar to component object list ? I can try to make or update that list when testing different configurations with idf input or UnitarySystem.unit test. Please let me know if you know a better approach ?
Thanks

[2022-03-24 08:00] jmarrec opened #9344 "WindowProperty:FrameAndDivider IDD missing either required-field or default value"
Issue overview
--------------

Frame Conductance should be either `\required-field` or have a default. Currently it's read as 0.0 if not supplied

[code]

https://github.com/NREL/EnergyPlus/blob/d073dda04b3b1198e263ef36d6a25d1c17e7b4c8/src/EnergyPlus/HeatBalanceManager.cc#L6647

 (best addressed in conjunction with other IDD adjustements, search for https://github.com/NREL/EnergyPlus/issues?q=is%3

[2022-03-24 09:46] jmarrec commented on #9344
Additionally, these two should be integers not real

[code]

https://github.com/NREL/EnergyPlus/blob/d073dda04b3b1198e263ef36d6a25d1c17e7b4c8/src/EnergyPlus/DataSurfaces.hh#L956-L957

[2022-03-24 15:09] nealkruis commented on #8752
I started looking into this for the CBECC-Com team. Here's what I see happening:

When a WSHP operates at very low part load the calculated source-side energy is applied to a very small flow rate resulting in a very large outlet temperature. Users can get around this if they simply change the minimum design flow rate on the pump to be something like 1% of the design flow. This will force a minimum

[2022-03-25 05:14] jcyuan2020 commented on #9111
- [x] Incorrect equation for convective coefficient definition in Engineering Ref:
![image](https://user-images.githubusercontent.com/64040111/160058775-931a5c8e-8a49-483e-bf46-ebf420f116b9.png)

[2022-03-25 05:17] jcyuan2020 commented on #9111
- [x] The IDD entry does not agrees with this:
![image](https://user-images.githubusercontent.com/64040111/160059121-e572720f-cb63-49b9-93bb-9e8bd73cb995.png)

[2022-03-25 05:20] jcyuan2020 commented on #9111
- [x] The field name does not have "External" and also the choice name should be "Imported":
![image](https://user-images.githubusercontent.com/64040111/160059402-c06282d3-88a9-4d1e-a404-86c2c7b60dce.png)

[2022-03-25 05:24] jcyuan2020 commented on #9111
- [x] The separation line after the first row in the table is not needed:
![image](https://user-images.githubusercontent.com/64040111/160059826-8b61ff07-5313-48f7-a558-0e15b54a45f1.png)

[2022-03-25 21:01] mjwitte opened #9347 "AirLoopHVAC:ExhaustSystem fan schedule warning"
Issue overview
--------------
Running 5ZoneAirCooledWithDOASAirLoop_ExhaustSystem.idf results in these warnings:
[code]

This warning isn't really necessary and could be deleted.

If there is an argument for keeping this, then
* there is a typo "Avaiability"
* the example file should be modified so that it does not produce this warning.

### Details
Some additional details for this issue (if relev

[2022-03-28 14:57] jcyuan2020 commented on #9111
This change is now completed in the IORef. However, the "correct" definition actually seems to be very counter-intuitive.

[2022-03-28 15:34] jcyuan2020 commented on #9111
The output variables' naming for the pumped and wrapped Coil:WaterHeating:AirToWaterHeatPump are now changed according to the discussion.

[2022-03-28 16:04] shorowit opened #9348 "Update PVWatts Ground Coverage Ratio IDD max value"
Issue overview
--------------
The IDD allows a maximum value of 1.0 for the `Generator:PVWatts` Ground Coverage Ratio input, but if you enter 1.0, you get errors like so:
[code]
This suggests that the IDD should be changed to a max value of 0.99. (I haven't verified this.) It might be worth checking whether a minimum value of zero is allowed too.

Reported on [Unmet Hours](https://unmethours.com/q

[2022-03-28 16:35] JasonGlazer opened #9350 "Create an Installer Testing Checklist"
Issue overview
--------------
Create a markdown checklist that anyone can use to test installers. This would include a list of various applications to start and what to do to test each application. It would also include some spot checking of the documentation. Specific files to test would include ones that require various add-ons like preprocessors. Hopefully, the list could be something that some

[2022-03-28 16:39] Myoldmopar commented on #9350
This is good of course, but wherever possible, steps should be added to the automated installer testing tool: https://github.com/Myoldmopar/EPTravisTester/.

(It is now named incorrectly because it uses GitHub actions instead of Travis, but anyway...)

It already tests multiple E+ runs, including API calls, Python files, workflows that exercise the auxiliary Fortran tools, etc.  The things that ar

[2022-03-28 16:40] eringold commented on #9348
Note that the PVWatts v5 [manual ](https://pvwatts.nrel.gov/downloads/pvwattsv5.pdf)indicates a GCR value of 1 is OK (or at least doesn't specify it's _not_):

![image](https://user-images.githubusercontent.com/10799524/160446186-b53412f9-d691-4ad1-92e8-3493faac7d94.png)

[2022-03-28 16:57] jcyuan2020 commented on #9111
The following changes are applied now:
1. The section headings for "ZoneHVAC:LowTemperatureRadiant:ConstantFlow:Design" and "ZoneHVAC:LowTemperatureRadiant:VariableFlow:Design" are now pumped one level up to be in the same level as the two parent objects. Each is placed right after the parent object.
2. Added hyperref to the parent objects "Design Object" input field description to point to their

[2022-03-28 18:04] jcyuan2020 commented on #9111
The original text seems to be an accurate description of what's happening in the two code blocks below): 1). if left blank->will override with environment water mains temperature; 2). if not left blank but not a schedule match->will have `ErrorsFound = true' which is equivalent to a fatal-out; 3). for all other scenarios, it will take the schedule value. So here left blank and code running ok (onl

[2022-03-29 11:54] jmarrec opened #9353 "Kiva build error on mac with clang >= 13"
Issue overview
--------------

[code]

Errors:

[code]

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): macOS (M1, Apple Clang 13.1.6)
 - Version of EnergyPlus (if using an intermediate build, include SHA): develop, fa02272b15601487451bfb7179e06930291282dd

### Checklist
Add to this list or remove from it as applicable.  This is a

[2022-03-29 14:37] #9353 closed, assigned to jmarrec

[2022-03-30 15:46] samikhan60 commented on #8440
it would be great to have outdoor pool object in energy plus , i too agree that Enerpool would be a best reference . it is the high time  for Energyplus to add the New feature.

[2022-03-31 19:13] yzhou601 opened #9357 "Multi-stage electric backup coil modeling"
Issue overview
--------------
It is not uncommon that the multispeed heat pumps might come with a multi-stage back up coil. But there's no explicit capability in current E+ to allow modeling a multistage electric coil.  There're mainly two restrictions:
1. The `Coil:Heating:Electric:MultiStage` looks like a good fit to model a multi-stage electric coil, but it is not an option of [`Supplemental He

[2022-03-31 21:14] rraustad commented on #9357
UnitarySystem should be able to model all coil types. IO Ref Figure 1-141, pg 1450 (GROUP – UNITARY EQUIPMENT) says this coil is included as a supplemental heater but the code says otherwise.

        if (UtilityRoutines::SameString(loc_suppHeatCoilType, "Coil:Heating:Water")) {
            this->m_SuppHeatCoilType_Num = DataHVACGlobals::Coil_HeatingWater;
        } else if (UtilityRoutines::SameS

[2022-04-01 15:50] jcyuan2020 opened #9359 "Coil:UserDefined node registry problem causing node connection check failure"
Issue overview
--------------
It was discovered that the Coil:UserDefined has a problem in registering the secondary flow nodes, which will cause a node check failure under certain configurations (if both primary and secondary airflows are used):
[code]

The root cause is due to that the secondary flow nodes were registered as primary for the coil.

Currently there is no workaround for the issue.

[2022-04-02 16:36] jcyuan2020 opened #9361 "Node connection check fail to identify unqualified last elements in the connecton or object list"
Issue overview
--------------

It was discovered in the node connect check for the flow stream connections (Check 10), the logic has an error that it will let an “unqualified” object to pass the check.

As a symptom, it could let an object is supposedly fail the Check 10 node-connection check to (unexpectedly) pass the check, if the object is listed as the last component in the node connection map

[2022-04-02 17:17] jcyuan2020 commented on #9111
- [x] Duplicated or redundant `Zone Thermal Output` section:
Section 1.10.5:
![image](https://user-images.githubusercontent.com/64040111/161393916-83a503c3-0e14-40d9-ace7-f97cfe3926d4.png)

Section 1.10.67:
![image](https://user-images.githubusercontent.com/64040111/161393873-53135b03-0bef-44dd-a19e-1992aeba64a3.png)

It looks the latter may be some kind of residual from previous versions?

[2022-04-04 12:23] macumber opened #9362 "Add volume property to space object"
Issue overview
--------------
Since geometry in E+ is now assigned to a space object it would make sense to be able to assign volume to a space directly and not just to a thermal zone.  This would be useful in cases where a user knows detailed information about the air volume in each space (perhaps from a more detailed CAD model).

[2022-04-05 15:58] eringold commented on #9111
- [x] 'Output Details and Examples', eplustbl.<ext> states that units for 'Coil Entering/Leaving Air Enthalpy at Ideal Loads Peak' in the 'Coil Summary Table' within the HVAC Summary Report is [J/(kg-C)]: https://github.com/NREL/EnergyPlus/blob/44de4f7d8067ad59f1bb2ed1a4c6e83740eb3c6b/doc/output-details-and-examples/src/output-files/eplustbl-lt-ext-gt.tex#L1374

However the actual table displays t

[2022-04-07 17:40] mcneillj commented on #6533
@aaron-boranian do you know the status of this work?

[2022-04-07 17:57] nealkruis commented on #6533
@mcneillj, @aaron-boranian simply moved this issue from UserVoice. NREL is managing the feature prioritization effort each year. Maybe @Myoldmopar knows more where this stands?

[2022-04-07 19:46] Myoldmopar commented on #6533
As you may expect, this is a very large task.  Ensuring that the simulation can actually be initialized with a chunk of conditions, without _anything_ breaking, is going to be a fun adventure, with many steps to get there.  We have actually taken our first step last year, which was extracting some 17,000 global and static variables from the simulation and pulling them into a unified data structure

[2022-04-08 14:28] #8713 closed, assigned to rraustad

[2022-04-08 18:49] mdahlhausen opened #9370 "Add documentation to Coil:Heating:DX:SingleSpeed field Minimum Outdoor Dry-Bulb Temperature for Compressor Operation"
The `Minimum Outdoor Dry-Bulb Temperature for Compressor Operation` field in the `Coil:Heating:DX:SingleSpeed` object is missing documentation. See the [I/O reference section here](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-heating-and-cooling-coils.tex#L4063-L4064).

This field appears blank in the published E+ v9.6 I/O reference .pdf.

Somehow i

[2022-04-11 15:08] brianlball opened #9372 "header cleanup parking lot"
This is a parking lot for the more involved refactoring changes that are identified during the header clean up.

[2022-04-11 15:09] brianlball commented on #9372
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ConvectionCoefficients.hh#L318
struct RoofGeoCharacteristicsStruct
convert Array1D<Vector> BoundSurf to std::array

[2022-04-11 15:20] brianlball commented on #9372
https://github.com/brianlball/EnergyPlus/blob/develop/src/EnergyPlus/DataAirSystems.hh
some structs are subtypes of others with one field added

[2022-04-11 15:23] brianlball commented on #9372
https://github.com/brianlball/EnergyPlus/blob/develop/src/EnergyPlus/DataDaylighting.hh#L286
convert x,y,z reals to a vector

[2022-04-13 15:04] nealkruis opened #9377 "Mean Radiant Temperature (MRT) calculations are zone-based (not enclosure-based)"
Issue overview
--------------
Several locations in the source code are still calculating mean radiant temperatures using the zone surface temperatures and not the enclosure surface temperatures. It appears to be done correctly for enclosures in the HBIRE routines.

- [Thermal Comfort](https://github.com/NREL/EnergyPlus/blob/4dfcba32e15375f1e1cf27b5d8b96b1c8845ed81/src/EnergyPlus/ThermalComfort.cc#

[2022-04-14 05:49] lymereJ opened #9382 "Unbalanced energy in common pipe simulation with constant speed pump"
Issue overview
--------------
The defect files use the common pipe approach to simulate a constant primary and variable secondary chilled water plant configuration. Results generated from using different pump objects on the supply side (primary) have been compared. Models using constant speed headered pumps show reasonable results as the models seem to balance energy, however, the model using the

[2022-04-14 14:59] jmarrec opened #9383 "EP-Launch Lite fail to pickup 22-1-0 as newer than 9-6-0"
Issue overview
--------------

I have both 22-1-0 and 9-6-0 installed, and EP-LaunchLite finds 9-6-0

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): mac
 - Version of EnergyPlus (if using an intermediate build, include SHA): 22.1.0

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelin

[2022-04-14 16:20] RKStrand commented on #9111
- [x] In the constant flow radiant system documentation in the IO Ref, the underlined terms should say "Zone Radiant HVAC" not "Constant Flow".

![image](https://user-images.githubusercontent.com/5804989/163431559-7509c5f7-7075-44c2-8e3c-d8776906e242.png)

The sections that provide detail on these output variables after this got it right.

[2022-04-16 06:12] ykabusalah commented on #9301
Could I have a shot at fixing this?

[2022-04-16 06:12] ykabusalah commented on #9331
Could I have a shot at fixing this?

[2022-04-16 06:12] ykabusalah commented on #9272
Could I have a shot at implementing this?

[2022-04-18 17:41] jcyuan2020 opened #9387 "PlantComponent:UserDefined v8.8 BEOpt plant connection loading mode synonym transition to v8.9 correction"
Issue overview
--------------
For the PlantComponent:UserDefined object, BEOpt (using EnergyPlus 8.8) would create a field named "MeetsLoadWithNominalCapacityHighOutLimit", whereas the acceptable form according to the idd should be "MeetsLoadWithNominalCapacityHiOutLimit".

Since in v8.9 transition, there are many "synonym" being taken care of for many objects, it is suggested to add a transition

[2022-04-18 18:10] shorowit commented on #9387
For what it's worth, BEopt does not and has never used the `PlantComponent:UserDefined` object. But perhaps it doesn't matter.

[2022-04-19 15:44] #8333 closed, assigned to nobody

[2022-04-20 14:44] rraustad opened #9390 "Coil:Cooling:DX does not report Standard Ratings information"
Issue overview
--------------
Updating the example file DXCoilSystemAuto to use the new coil model highlights that Standard Ratings information is not reported.

Example:

The old example file used Coil:Cooling:DX:SingleSpeed and reported DX coil sizing information to the eio as:

    Component Sizing Information, Coil:Cooling:DX:SingleSpeed, HEAT PUMP ACDXCOIL 1, Design Size Rated Air Flow Rate [

[2022-04-20 23:45] shorowit opened #9393 "`Output:JSON` tabular data output incorrectly dependent on `OutputControl:Files` input"
Issue overview
--------------
I used the following object in my IDF file:

[code]

However, the resulting MessagePack output file will only include tabular data if, in the `OutputControl:Files` object, the "Output Tabular" field is set to "Yes". If It's set to "No", you do not get tabular data in the MessagePack output file.

Essentially this means that you cannot get tabular data in the MessagePa

[2022-04-21 13:02] rraustad commented on #9390
Noticed that the Standard Ratings is reported for this coil type.

    +! <DX Cooling Coil Standard Rating Information>, Component Type, Component Name, Standard Rating (Net) Cooling Capacity {W}, Standard Rated Net COP {W/W}, EER {Btu/W-h}, SEER {Btu/W-h}, IEER {Btu/W-h}
    + DX Cooling Coil Standard Rating Information, Coil:Cooling:DX, HEAT PUMP ACDXCOIL 1, 23834.7, 2.54, 8.68, 9.12, 8.83

[2022-04-21 13:02] #9390 closed, assigned to nobody

[2022-04-26 01:38] rraustad opened #9398 "Table reports for Total Outdoor Air by AirLoop are not accurate"
Issue overview
--------------
Looking at example file ASHRAE901_HotelSmall_STD2019_Denver the table reports for Total Outdoor Air by Airloop do not match the results for air loop outdoor air flow rate. Tracking this report through the code it looks like the OA mass flow rate is again multiplied by StdRhoAir when it should be divided by to get back to standard density volume flow rate (SystemReport

[2022-04-26 19:12] eugeniorodrigues opened #9400 "** Severe ** stoi: no conversion in macOS Monterey"
Issue overview
-------------
When running EnergyPlus 22.1.0 in macOS Monterey (M1 Chip) the simulation completes but returns status 1. In the ERR file, the message "** Severe  ** stoi: no conversion" appears. When running in EnergyPlus 9.6.0, no error is returned.

When running the same IDF file in a Windows machine (EnergyPlus 22.1.0), no error is returned.

The IDF and ERR files are attached to

[2022-04-27 16:28] JasonGlazer opened #9403 "Support Output:JSON output files in EP-Launch 2 and 3"
Issue overview
--------------
When specifying to produce output files using:

[code]

and using EP-Launch 2 or EP-Launch 3, the output files are not renamed the user provided names and for EP-Launch 2, stay in the EPTEMP directory with names eplusout.json and eplusout_hourly.out

The files that need to be supported in EP-Launch 3 workflows and in EP-Launch 2 are identified in the list in CommandLi

[2022-04-28 16:13] vipsam1987 commented on #9311
Hello Lorenzo,

Any luck with the issue? Have you been able to successfully control the mass flow rate and supply temperature into each zone?

Thank you.
Heman

[2022-04-28 19:57] evapace commented on #9362
Hello, I am a senior Computer Science major at Vanderbilt University. For my Software Engineering final project we are being asked to assist a public Github repository in implementing some of their issues, and I would love to move forward with this pull request. I've been looking through the files locally, specifically in the InputProcessing folder, to see how I could approach adding this volume p

[2022-04-28 20:06] evapace commented on #9398
Hi, I am a senior Computer Science major at Vanderbilt University. For our final project, we are being asked to assist public Github repositories. I have this code up and running locally, is it alright if I take a stab at fixing this?

[2022-04-29 15:00] Myoldmopar commented on #9398
@evapace thank you for your interest in making a contribution to EnergyPlus.  There are a few things we'd need to get worked out ahead of a contribution.  The first is making sure that you can make the contribution under our contribution policy and licensing terms.  Could you email me at edwin dot lee at nrel dot gov and we can have a full conversation about the process?  Thanks!

[2022-04-29 15:23] rraustad commented on #9398
@evapace I have assigned this issue to myself as a way to reserve this defect. If you are approved as an external contributor I will change the ownership to you.

[2022-05-01 20:08] #9361 closed, assigned to jcyuan2020

[2022-05-02 14:56] shorowit commented on #9059
As far as I can tell, EnergyPlus uses [penumbra](https://github.com/bigladder/penumbra) for the PixelCounting shading calculation, and according to @nealkruis, penumbra currently [can't handle shading surfaces with any transparency](https://github.com/bigladder/penumbra/issues/2).

At a minimum, it seems like there should be a warning (if there isn't already, I haven't checked).

[2022-05-02 18:24] shorowit commented on #9275
On the first item, [this question](https://unmethours.com/question/49572/scheduled-sunlit-fractions-for-windows/) suggests that the `SurfaceProperty:LocalEnvironment` object ~does not apply to~ has no simulation output effect for a `FenestrationSurface:Detailed` object. Also related to the last point in @mjwitte's comment [here](https://github.com/NREL/EnergyPlus/pull/9404#issuecomment-1115133859)

[2022-05-02 19:19] mjwitte commented on #9275
`SurfaceProperty:LocalEnvironment` is supposed to apply to fenestration objects, and as noted in this issue, it's an IDD error that makes it appear that this is not allowed. The example file does apply this to a window(s). I guess I haven't confirmed that it actually works for the window.  As with most things, and especially with software, trust, but verify.

1. `SurfaceProperty:LocalEnvironment`

[2022-05-02 19:28] mjwitte commented on #9275
Also note that there is no check on the scheduled sunlit fraction. The value can be anything, even if the surface would be in shade due to sun position. Here are some test files [9275-v9.5.zip](https://github.com/NREL/EnergyPlus/files/8605591/9275-v9.5.zip) Sorry they're v9.5 'cause that runs with ep-launch with external schedule files without updating the file paths.
.

[2022-05-02 19:31] mjwitte commented on #9275
See also https://github.com/NREL/EnergyPlus/issues/6935 - that field name change should happen along with these idd changes.

[2022-05-02 20:13] JasonGlazer commented on #8967
This is related to #7038.

@lymereJ I would probably classify this as a new feature request unless you are saying that it was not working properly with the old version of AHRI 550/590

[2022-05-02 20:30] lymereJ commented on #8967
@JasonGlazer - I think this has always been an issue. AFAIK, there are always been differences in rating conditions between AHRI Standard 550/590 (IPLV.IP) and 551/591 (IPLV.SI).

[2022-05-03 05:40] aaron-boranian commented on #9059
[Related Unmet Hours post](https://unmethours.com/question/72921/pixel-counting-for-adaptive-shading/).

[2022-05-03 13:22] Nigusse opened #9407 "Documentation issues in SurfaceProperty:SurroundingSurfaces and ZoneProperty:LocalEnvironment objects"
Issue overview
--------------
-  (1) Incorrect Description of Ground Temperature Schedule Name field in SurfaceProperty:SurroundingSurfaces object [here](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-advanced-surface-concepts.tex#L2546). The text ~solar radiation calculation~ should be replaced with *long wave radiation exchange calculation*.

-  (2)

[2022-05-04 13:18] JasonGlazer opened #9410 "ConvertInputFormat incorrectly handles file name with period in name"
Issue overview
--------------
On Windows when using ConvertInputFormat with a file that contains a period in the file name an error occurs with the output file name:

[code]

Results in a file named:

[code]

When using a file with a path as an argument the same occurs.

It looks like a period is searched for from the beginning of the string rather than from the end of the string to identify the e

[2022-05-04 14:36] Nigusse commented on #9339
This issues is addressed in PR #9408.

[2022-05-04 16:53] JasonGlazer opened #9411 "Add command line option to provide list of files to simulate"
Issue overview
--------------
For many common use cases, multiple simulations need to be run over and over. This is the case for users debugging sets of input files, parametric simulations, etc. In addition, developers often need to run multiple tests cases over and over during debugging of EnergyPlus code. To provide this at the command line, suggest being able to provide a text file that shows a

[2022-05-06 19:24] jcyuan2020 opened #9415 "Complex Window Solar Sky/Ground ray calculation possible float overflow"
Issue overview
--------------
It was discovered that there could be a potential divide-by-zero for some scenarios in complex windows solar sky/ground calculation.
For a case using complex window on a skylight window, this will demonstrate a `WtSum` for the ground to be zero in the following code lines:
https://github.com/NREL/EnergyPlus/blob/e95ef41afd4b0c7cbda25cb23701babafb50f7ad/src/EnergyPlus/

[2022-05-10 13:18] mjwitte opened #9418 "Update and document ElectricEquipment:ITE:AirCooled Environmental Class Temp and RH ranges"
Issue overview
--------------
ElectricEquipment:ITE:AirCooled field Environmental Class specifies the allowable operating conditions for the air inlet conditions. The available inputs are A1,
A2, A3, A4, B, C, or None. This is used to report the “ITE Air Inlet Operating Range Exceeded Time”

1. The allowable ranges of temperature and relative humidity are not documented in the I/O or Engineering R

[2022-05-10 19:10] JasonGlazer opened #9419 "Initialization Summary does not appear in Output:JSON"
Issue overview
--------------
When specifying that tabular output should be in the JSON format using the Output:JSON input object, the Initialization Summary  (which is the tabular report copy of the EIO report contents) does not appear in the JSON output file. it will appear in the HTML tabular output file but not the EIO file.

To reproduce add the following to 5ZoneAirCooled.idf

[code]

Run si

[2022-05-10 19:40] JasonGlazer commented on #9419
It is possible other reports are also missing from the JSON output file such as the Annual Heat Emissions Summary. Like the Initialization Summary, the routine that populates the JSON

state.dataResultsFramework->resultsFramework->TabularReportsCollection.addReportTable()

seems to be missing near the end of the routine. A good first step may be to check what other reports are missing from the JSO

[2022-05-10 20:02] mjwitte opened #9420 "Parsing for precipitation values fails for some weather stat files"
Issue overview
--------------
User file fails with this cryptic error:
[code]

There are [two places where `std::stoi` is used](https://github.com/NREL/EnergyPlus/blob/463ec66491ea8a9764668e600abbc67761e45117/src/EnergyPlus/OutputReportTabular.cc#L5928-L5969) to parse lines from the weather stat file for reporting monthly total and max precipitation.

The line being parsed when it fails is this he

[2022-05-11 02:07] Patolord commented on #8440
I would like this feature

[2022-05-11 12:46] rraustad opened #9421 "UnitarySystem sizing issue for variable speed coils"
Issue overview
--------------
Recent testing shows that UnitarySystem sizing does not account for the capacity as a function of temperature performance curve (CapFT) when sizing Coil:Cooling:WaterToAirHeatPump:VariableSpeedEquationFit, Coil:Heating:WaterToAirHeatPump:VariableSpeedEquationFit, and Coil:Heating:DX:VariableSpeed. Additionally these coil models do not restrict coil capacity to a flow

[2022-05-11 13:00] rraustad opened #9422 "UnitarySystem does not size the fan air flow rate correctly when variable speed coils are used"
Issue overview
--------------
Recent updates to sizing methods has introduced an issue with fan air flow sizing. When a cooling coil sizes it requests the fan heat to include in the total cooling capacity which triggers the fan to size earlier than expected. This typically occurs when using variable speed coil models. A method to delay the sizing and reporting of the fan sizing details is needed t

[2022-05-11 13:11] rraustad opened #9423 "Variable speed coils use actual air density to calculate capacity while other coil models use standard air density"
Issue overview
--------------
Recent testing shows that the variable speed coil capacity, and resulting air flow rate at each speed, is slightly different than other HVAC equipment models in that the coil model sizes the coil capacity using actual air density. Other coil models use standard air density. To unify component sizing across different models the variable speed coil model should be chang

[2022-05-12 16:42] jmarrec opened #9427 "Zero heating consumption when forcing pump flow rate and no warning or error"
Issue overview
--------------

In the process of investigating another issue, I discovered something strange. I set up a model that has a PlantLoop with a DistrictHeating and a Pump:VariableSpeed object and serves ZoneHVAC:Baseboard:Convective:Water object(s).

* **noforce_pump**: I run the first simulation, with the Pump:Variable on autosized `Design Maximum Flow Rate {m3/s}` and  no `Design Mini

[2022-05-13 16:16] rafael-a commented on #9059
I just accidentally found this issue through the Unmet Hours post linked above.

As a user, this issue is critical as it biases the solar load without any alert/warning and can lead to the overestimation of heating loads unknowingly.
For context, we use transparency schedules quite often to model deciduous Trees over the year.

From my own point of view, it would be very appreciated to have a Seve

[2022-05-13 20:02] chriswmackey commented on #9059
Oh wow. If this is true, I can't believe that I have been using this `PixelCounting` method for over a year and I have been completely unaware of this. This is probably one of the most dangerous cases of an error passing silently that I've encountered in recent E+ history.

I can support the lack of a `FatalError` since I imagine a lot of people would still like there simulation to continue for th

[2022-05-14 19:31] #9339 closed, assigned to Nigusse

[2022-05-14 19:31] #9342 closed, assigned to Nigusse

[2022-05-15 23:03] rraustad opened #9430 "Cooling coil sizing uses StdRhoAir to size water coils while using actual air density for other coil types"
Issue overview
--------------
Coil models use either StdRhoAir or actual air density during the coil sizing procedure. All coils will now use StdRhoAir for sizing coil capacity.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

[2022-05-16 07:33] jmarrec commented on #9400
@eugeniorodrigues Could you please supply your EPW and the .stat file if it's next to it? That's likely what's causing this issue.
Is this from https://climate.onebuilding.org/WMO_Region_6_Europe/PRT_Portugal/index.html?

I can reproduce it with  [PRT_LB_Lisboa.Portela.AP.085360_TMYx.zip](https://climate.onebuilding.org/WMO_Region_6_Europe/PRT_Portugal/LB_Lisboa/PRT_LB_Lisboa.Portela.AP.085360_TMY

[2022-05-16 07:33] #9400 closed, assigned to jmarrec

[2022-05-16 10:26] eugeniorodrigues opened #9432 "Building north axis affects the roof perimeter in the outside surface convection calculations"
Issue overview
--------------
When plotting the perimeter of a ROOF from the outside surface convection calculations (eio file <Surface Convection Parameters>, Outside Perimeter [m]) for all 360° of the building north axis, the perimeter value varies despite the building being the same. In the following figure, the floor and roof surface outside perimeters are plotted. The surfaces are equivalent,

[2022-05-16 12:19] jmarrec commented on #9410
The CLI with `energyplus --convert-only 1.ZoneUncontrolled.idf` is affected as well.

[2022-05-16 14:52] jmarrec commented on #9432
@eugeniorodrigues Could you please let us know how you produced this graph? What output data / variable did you use, and what post processing did you do? (If I can avoid guessing that'd be a lot better for everyone!)

Thanks!

So you're running the same model 360 times varying the Building North Axis, then you go to the EIO file and you get this:

[code]

Then what? You plot get the results for "S

[2022-05-16 15:01] eugeniorodrigues commented on #9432
@jmarrec Yes. The SURFACE_4 is the floor surface and SURFACE_5 is the roof. I have selected the outside perimeter values of both in each north axis variation run and saved it in a dataframe. Then I have plotted them. Do you need the python script?

[2022-05-16 15:06] eugeniorodrigues commented on #9432
@jmarrec Here goes the python script. If you need anything else, please tell. Thanks for the support.

[SurfaceConvection.zip](https://github.com/NREL/EnergyPlus/files/8701210/SurfaceConvection.zip)

[2022-05-16 15:08] jmarrec commented on #9432
This is the variable that's being reported:
https://github.com/NREL/EnergyPlus/blob/240b4a238cf93d3094d96667f82d6728c7d1f299/src/EnergyPlus/ConvectionCoefficients.cc#L4610

https://github.com/NREL/EnergyPlus/blob/240b4a238cf93d3094d96667f82d6728c7d1f299/src/EnergyPlus/DataSurfaces.hh#L1531

And it's set here: https://github.com/NREL/EnergyPlus/blob/240b4a238cf93d3094d96667f82d6728c7d1f299/src/Ener

[2022-05-17 13:56] jmarrec commented on #9419
I ran a test with both Output:SQLite and Output:JSON enabled (with 1ZoneUncontrolled.idf). You can read the results here: https://github.com/NREL/EnergyPlusDevSupport/blob/a15a6157a31cc20e2cb4821cccfff965772526cf/DefectFiles/9000s/9419/9419_MissingJSONReports.ipynb

* Spacing in report Names is inconsistent:
    * In OutputSQL's TabularDataWithStrings, there is a single ReportName that has a space

[2022-05-17 19:47] lklawrie commented on #9420
Am glad to supply any files to help test this defect but cannot commit to changing some 20,000 files on climate.onebuilding.org at this time.

Linda

[2022-05-17 19:56] JimDirkes opened #9434 "Zone Other Equipment Output:Variable produces zero values (for non-zero objects)"
Issue overview
--------------
I have defined two Output:Variables in the attached file for the same object. One is defined as Other Equipment Electricity Rate, the other as Zone Other Equipment Electricity Rate. The Zone Other Equipment Electricity Rate produces a bunch of zeroes, the other one gives correct values. Mike Witte thinks recent code revisions may have confused the Output:Variable

The

[2022-05-17 20:07] jmarrec commented on #9420
@lklawrie completely understandable :).

I'll fix it on this side. I would suggest making some unit tests on your side to ensure this doesn't creep up again if you make change to your code generation though (or run the ones I added in https://github.com/NREL/EnergyPlus/commit/243ba2ef9dc2219e194b5d9b7cad1f5a5d3ecec3 with some of your files or something)

[2022-05-17 21:06] jmarrec commented on #9434
@JimDirkes I edited your original post to put back the details and checklist from the template (those are actually useful for us!).

And I'm going to close the issue, because while I can reproduce it on 9.4.0 and 9.5.0, it works fine on 9.6.0 and 22-1-0.

|   Version                |   ('1STFLOOR:EVENTSPACECORE', 'Zone Other Equipment Electricity Rate') |   ('1STFLOOR:EVENTSPACECORE MISCELLANEOUS

[2022-05-17 21:06] #9434 closed, assigned to jmarrec

[2022-05-17 21:11] jmarrec commented on #9434
Attached are all the version from 9.4.0 (the one you supplied) to 22.1.0 I tested
[All_versions.zip](https://github.com/NREL/EnergyPlus/files/8711571/All_versions.zip)
.

[2022-05-17 21:56] jmarrec commented on #9326
Here's a Compiler Explorer to show how it's possible to shush off the compiler warning: https://godbolt.org/z/q76hYYb1n

Bottom line:

[code]

Otherwise pragma warning push, disable, pop...

[2022-05-18 02:52] chriswmackey commented on #9420
It took me a while to figure out why I wasn't getting any summary reports for my simulations with OneBuilding EPW files but this seems to be the reason. I appreciate the suggested workaround, @mjwitte , and I plan to make use of it until the next stable EnergyPlus release.

[2022-05-18 10:41] JimDirkes commented on #9434
Typical Mssr. Marrec efficiency - fixed before I even mention it :) Thank you!

[2022-05-18 13:46] DavidGoldwasser opened #9436 "TIMESTAMP Column in Custom Monthly Report Tables under both peak heating and peak cooling report has a trailing space"
Issue overview
--------------
The Following SQL query does not work, this is true for both the cooling peak and heating peak tables
`SELECT Value FROM tabulardatawithstrings WHERE ReportName='BUILDING ENERGY PERFORMANCE - DISTRICT COOLING PEAK DEMAND' and ReportForString='Meter' and TableName='Custom Monthly Report' and RowName='December' and ColumnName='DISTRICTCOOLING:FACILITY {TIMESTAMP}' ;`

T

[2022-05-18 14:43] Nigusse opened #9437 "Incorrect use of sky view factor variable to set ground view factor for surrounding surfaces property object"
Issue overview
--------------
The sky view factor of Surrounding Surfaces Property object variable is incorrectly used to set surrounding surfaces property ground view factor in three window models [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/WindowManager.cc#L2638-L2640), [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/WindowEquivalentLayer.cc#L755-L

[2022-05-20 01:33] jmarrec commented on #7383
After a lot of effort I finally figured out what was the issue. I never managed to replicate it by doing test models, so I ended up cleaning up @mldichter 's model down one bit at a time. I reimplemented most of the geometry functions in python so I could debug more easily... and it turns out it's a tolerance that's too high, coupled with the fact that @mldichter 's model has plenums that are VERY

[2022-05-20 01:39] jmarrec commented on #7383
I can now replicate with a shoebox model: a 30x10x0.3m zone. I split the south wall in two. I get the warning.

<img width="573" alt="image" src="https://user-images.githubusercontent.com/5479063/169431495-ed463594-5f93-4b01-82dd-6af02d72fd08.png">

[2022-05-20 18:06] MatthewSteen opened #9443 "mismatched wall and window starting vertex positions causes shading to have no effect"
Issue overview
--------------
Autodesk identified this issue in Revit Systems Analysis, which uses OpenStudio. Revit exports geometry using `LowerLeftCorner` for the starting vertex position and OpenStudio uses EnergyPlus' default of UpperLeftCorner.

[RefBldgLargeHotelNew2004_Chicago.zip](https://github.com/NREL/EnergyPlus/files/8743187/RefBldgLargeHotelNew2004_Chicago.zip)

### Left = Matched St

[2022-05-23 19:19] JasonGlazer commented on #9419
@jmarrec I guess I would say that SQL and JSON should have ReportName with no spaces to just make it more standardized and consistent. That only impacts a single report for OutputSQL. I don't think a lot of people are using Output:JSON yet.

[2022-05-23 21:46] #9359 closed, assigned to jcyuan2020

[2022-05-24 14:20] shorowit opened #9448 "Allow Space-level infiltration/ventilation"
Issue overview
--------------
Now that EnergyPlus has the concept of Spaces, it'd be nice if it supported space-level infiltration/ventilation. This was requested [several times here](https://github.com/NREL/EnergyPlus/pull/8394) -- search for infiltration. OpenStudio supports space-level infiltration objects, but then has to go through hoops to combine them into a zone-level infiltration object f

[2022-05-24 14:54] jasondegraw commented on #9448
How the infiltration objects (and other "ZoneSomethingSomething" objects) fit into the overall scheme of things is a part of the current discussions on the heat balance at the space level (#9394). However that all shakes out would probably close this issue with an implementation that does it, a plan for when it will get done, or WontFix. So do we really need a separate issue?

[2022-05-24 15:01] shorowit commented on #9448
If the space-level heat balance doesn't get implemented (WonfFix), I would still like to see EnergyPlus support space-level infiltration/ventilation objects. But yes, that PR might resolve this issue depending on where it ends up.

[2022-05-24 15:11] nealkruis commented on #9448
@shorowit I don't think that this aspect is in question for the PR (correct, @mjwitte?). We might want to change the name from "ZoneInfiltration" to "Infiltration", though.

[2022-05-25 17:21] lgu1234 opened #9451 "AirLoop Component Load Summary not sizing for coincident"
Issue overview
--------------
Here is a description from a user:

Cove Tool has a question about the component load summary reports.

Basically, the AirLoop Component Load Summary is showing the noncoincident peak (sum of zone peaks) rather than the coincident peak, regardless of the Concident/Nonconcident status in the Sizing:System object.

It is seemingly related to this issue: [https://github.

[2022-05-26 13:42] #9111 closed, assigned to jcyuan2020

[2022-05-26 13:43] #9370 closed, assigned to nobody

[2022-05-26 17:00] #9420 closed, assigned to jmarrec

[2022-05-26 17:11] Myoldmopar commented on #9432
Lots of messages showing up in the error files, so this is not yet ready to go.  I'll hold off from digging into the code for now.

[2022-05-26 20:32] hdou opened #9453 "When running EnergyPlus as a library, if run_energyplus finishes in one thread, running it again from a new thread dead locks"
Issue overview
--------------
Use Python script to run EnergyPlus as a library. If I let api.runtime.run_energyplus to finish in one thread, and then try to run it again from another thread, EnergyPlus seems to dead lock.

### Details
Some additional details for this issue (if relevant):
 - MacOS Catalina
 - EnergyPlus 22.1.0 pre-release

Example program:
[code]
Run it similar to below:
[code]
It

[2022-05-27 05:28] lymereJ opened #9455 "Calculation of autosized volumetric flow rate of Coil:Cooling:WaterToAir:EquationFit uses wrong companion coil"
Issue overview
--------------
When autosized, the volumetric flow rate of `Coil:Cooling:WaterToAir:EquationFit` is determined based on the coil's *cooling* companion coil instead of *heating* coil.

https://github.com/NREL/EnergyPlus/blob/43b09606e2a93a0a1b220949d5b6832d63c0a03a/src/EnergyPlus/WaterToAirHeatPumpSimple.cc#L2055-L2061

### Details
Some additional details for this issue (if relevant)

[2022-05-27 05:28] lymereJ opened #9456 "Variable speed water-to-air coils use outdoor air temperature to size rated total capacity"
Issue overview
--------------
Unlike `Coil:WaterHeating:AirToWaterHeatPump:VariableSpeed` objects, `Coil:Cooling:WaterToAir:VariableSpeedEquationFit` objects don't have condenser inlet node inputs so EnergyPlus uses the outdoor air dry-bulb temperature at design conditions instead of the rated inlet water temperature to size the rated total cooling capacity.

https://github.com/NREL/EnergyPlus/blo

[2022-05-27 15:01] Myoldmopar commented on #9453
Thanks for this issue, and sorry you are having trouble.  FWIW, I took your script and ran it perfectly on Ubuntu 20.04.  I don't have an m1 mac available right now but I'll work with the other devs and find someone to try to replicate your issue.  (@jmarrec?)

[2022-05-27 21:05] JasonGlazer opened #9458 "Documentation 2022a"
Issue overview
--------------
A place to keep an ongoing list of documentation issues.

[2022-05-27 21:08] JasonGlazer commented on #9458
- [x] In the IOref under Output:Variable, the schedule value option is not described. To get the hourly schedule values for a schedule named OCCUPY-1 the following syntax works:

Output:Variable,OCCUPY-1,schedule value,hourly;

and wild cards work too:

 Output:Variable,*,schedule value,hourly;

will add hourly values for all schedules to the ESO, CSV, output JSON, (probably) SQLite

[2022-05-28 00:54] rraustad opened #9459 "DX coil sizing warnings appear even though a coil is fully autosized"
Issue overview
--------------

Recent changes to code resulted in a new warning in an existing example file, Fenestration_RefBldgSmallHotelNew2004_Chicago. A slight increase in cooling coil capacity (1701 W to 1754 W) resulted in this warning. This coil is fully autosized, the result at the end of this warning is a very small correction to design SHR (-0.1%), and the warning message indicates meth

[2022-05-28 21:55] simonsays1980 opened #9460 "Installing EnergyPlus on Linux: Cannot find Python Executable with pyenv"
Issue overview
--------------
Running the installation with `ccmake` or `cmake` results in an error:
[code]

This is a known issue with `cmake` and `pyenv`, but has to be fixed in the `cmake` file ([here](https://github.com/pybind/pybind11/issues/99#issuecomment-531487569) is a link to how ours have tackled it).

I also tried
[code]
but got the same error.

### Details
Some additional details for

[2022-05-30 08:59] jmarrec commented on #9453
I can reproduce on an M1 mac. If I sigstop when it hangs, this is what the backtrace shows. If I resume and pause again, it's still at __psynch_cvwait.

[code]

[2022-05-30 09:00] jmarrec commented on #9453
I get this issue with python 3.9. If I use python 3.8 then it works. Python 3.8 (.10/.12) was used to build the installers.

[2022-05-30 09:02] jmarrec commented on #9453
@hdou never mentionned what architecture he uses. Is still an Intel mac or a M1 one that you use please? What do you get if you type `arch` and `uname -a` in the command line?

[2022-05-30 12:01] hdou commented on #9453
Hi,

"arch" returns i386.
"uname -a" returns Darwin MacBook-Pro-2.local 19.6.0 Darwin Kernel Version
19.6.0: Mon Apr 18 21:50:40 PDT 2022; root:xnu-6153.141.62~1/RELEASE_X86_64
x86_64

I tried both Python 3.8.5 and 3.8.13, and observed the same issue.

/Hu

On Mon, May 30, 2022 at 5:02 AM Julien Marrec ***@***.***>
wrote:

[2022-05-30 12:45] jmarrec commented on #9453
Thanks @hdou. I'm a bit confused by the fact that `arch` returns `i386` as this would indicate a 32-bit intel mac, while the uname -a indicates a 64 bit one.

@Myoldmopar can you try on an intel mac please?

[2022-05-30 12:53] hdou commented on #9453
Hi,

I think i386 just indicates it's an Intel processor. In fact it's an i7.
But the operating system is 64-bit.

Thanks,

/Hu

On Mon, May 30, 2022 at 8:45 AM Julien Marrec ***@***.***>
wrote:

[2022-05-31 07:58] jmarrec commented on #9453
Just an FYI really, but:

[code]

[2022-05-31 08:05] jmarrec commented on #9460
I use pyenv (or virtualenvs based on pyenv) to build energyplus on a daily basis (both on Ubuntu 20.04 and macOS)

The issue is that you're somehow passing the shims one (which also appears to be the wrong version compared to the library)

@simonsays1980 Try passing `-DLINK_WITH_PYTHON:BOOL=ON -DPython_ROOT_DIR:PATH=/home/simon/.pyenv/versions/3.8.5/ -DPython_REQUIRED_VERSION:STRING=3.8.5`

I know

[2022-05-31 08:05] #9460 closed, assigned to nobody

[2022-05-31 13:26] mjwitte commented on #9458
Output:Variable "Schedule Value" is described under Schedules, Outputs, v22.1 I/O Ref pdf p. 149.

[2022-05-31 13:57] JasonGlazer commented on #9458
Great, maybe we just need a reference from Output:Variable back to that.

[2022-05-31 21:20] mjwitte opened #9464 "Fan coil fatal sizing error"
Issue overview
--------------
The attached input file from the ASHRAE Standard 140 air-side equipment (AE) tests ran fine in v8.5, but fails in v22.1.0:
[code]
Not sure what the issue is with this particular file. Other fan coil test files (such as HVACTemplate-5ZoneFanCoil.idf) run fine with a fully autosized cooling coil. In this file, the cooling coil is fully autosized except the air flow rate

[2022-06-02 13:56] Myoldmopar commented on #9453
On my Intel Mac, I have Python3.9 and it hangs.  I did not try a different version of Python.  I did play around with the script and did not find a solution or workaround yet.

My first thought was something to do with how we get a reference to the GIL, but that's unrelated.  This occurs running any example file, nothing to do with Python Plugins, so it shouldn't be an issue with that.

@jmarrec h

[2022-06-02 14:11] Myoldmopar commented on #9453
Actually, depending on what you are trying to do, I may have realized a workaround.  The multiprocessing module works fine:

[code]

I've used both multiprocessing and threading on several applications, and multiprocessing is definitely a bulkier option, so I'm not proposing this is a final solution, but it could be a temporary workaround.

[2022-06-02 14:12] hdou commented on #9453
Yes, I agree. I have switched to multiprocessing, and it works.

/Hu

[2022-06-02 15:27] jcyuan2020 commented on #9458
- [x] A residual item in the last batch of documentation issues/fixes: https://github.com/NREL/EnergyPlus/issues/9111#issuecomment-1086682009

- [x] Re-organize the heading structures of sections of "Space Thermal Output(s)" and "Zone Thermal Output(s)".

[2022-06-02 15:31] jcyuan2020 commented on #9407
These two were added to #9351 and now they are fixed now.

[2022-06-02 18:52] eringold commented on #9458
- [x] IOref for ZoneHVAC:WaterToAirHeatPump, field: Supply Air Fan Object Type states "Fan type must be Fan:OnOff": https://github.com/NREL/EnergyPlus/blob/a937bf2b63894e1d38389c213fbaf5dec6d97cb5/doc/input-output-reference/src/overview/group-zone-forced-air-units.tex#L3045

Should also include Fan:SystemModel:
[code]

[2022-06-03 14:18] EnergyArchmage opened #9466 "Adiabatic Boundary Condition Reporting Issue for Surface Outside Face heat transfer output variables"
Issue overview
--------------
There is a code problem here https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/HeatBalanceSurfaceManager.cc#L5083

The logic should be
`if (surface.ExtBoundCond > 0 && surface.ExtBoundCond != SurfNum) `

When surfaces are so-called Adiabatic, they self reference and the ExtBoundCond value is the surface's own index.  The otherside face is never going to g

[2022-06-03 15:15] aburabazam commented on #9453
hey :)
I am currently also working on a parallel programming project using the E+-API in Python.
We are using mpi4py for the communication between the different instances of the E+-Buildings.
We wanted to divide on core into multiple threads, and on each thread we could simulate one building at the same time.
But in python there is the Global Interpreter lock, which usually is not allowing any mul

[2022-06-03 15:32] Myoldmopar commented on #9453
I regularly run demonstrations of running multiple EnergyPlus instances simultaneously using both multithreading and multiprocessing.  There seems to be an issue with Mac here, but on Linux, and afaik on Windows, things work well.

With threading, communication between running multiple instances is quite easy as you can just communicate using a messaging library like pypubsub to initiate signaling

[2022-06-03 15:34] Myoldmopar commented on #9453
@aburabazam also if you are willing to have a side discussion about this, could you email me at edwin dot lee at nrel dot gov?

[2022-06-03 19:34] jmarrec commented on #9453
I'd be interested in following that conversation too if that's possible.

[2022-06-03 22:31] lymereJ opened #9470 "Air film R-value for semi-exterior surfaces not used"
Issue overview
--------------
Section A9.4.1.2 in ASHRAE Standard 90.1-2019 states that "semi-exterior surfaces are protected surfaces that face attics, crawlspaces and parking garages with natural or mechanical ventilation".

EnergyPlus currently uses the prescribed semi-exterior surface air film R-value as the default in the following `switch` statement used to calculate the U-value of opaque in

[2022-06-04 10:23] aburabazam commented on #9453
I tried your solution but i get a deadlock. After the simulation of the first Building it is not reacting anymore.
It seems to stop at the q.get()-statement.

``
  File "mpi_tests.py", line 34, in <module>
    print(q.get())
  File "/home/abu/anaconda3/envs/heating/lib/python3.8/multiprocessing/queues.py", line 97, in get
    res = self._recv_bytes()
  File "/home/abu/anaconda3/envs/heating/lib/py

[2022-06-04 10:32] aburabazam commented on #9453
The other thing is that our building system is connected to several calculations in python, which are performed every time step of the simulation. Does it mean that the multithreading stops as soon as python script is executed and when it enters the energyplus-simulation it can be multithreaded again?

And one big thing is the implementation of the energyplus-API. Because when we used a FMU-Python

[2022-06-04 12:29] aburabazam commented on #9453
[code]

 I tried it with the Pool executor and the map function, and it worked. Just be careful to create an output directory for every simulation instance, otherwise you will get an SQL-error from energyplus. I will now try to implement that with our MPI framework.

[2022-06-06 14:26] #9410 closed, assigned to jmarrec

[2022-06-07 17:33] #7383 closed, assigned to jmarrec

[2022-06-07 18:15] #9423 closed, assigned to nobody

[2022-06-08 10:43] JuliaAdel opened #9474 "iam having an error in design builder simulation, iam trying to run an annual energy simulation, after the annual simulation the results include this warning "WARNING: THE REPORT DOES NOT REPRESENT A FULL ANNUAL SIMULATION." can some one help me please"
Issue overview
--------------
Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.

### Details
Some additional details for this issue (if relevant):
 - Platform

[2022-06-08 12:51] rraustad commented on #9474
If your annual simulation is less than 8759 hours this warning is issued. There is also a user help site at UnmetHours.com that can help with these types of questions. Also see this response https://unmethours.com/question/27236/getting-warning-in-results-of-energyplus/

[2022-06-08 12:51] #9474 closed, assigned to nobody

[2022-06-08 17:38] rraustad commented on #9464
Looks like I forgto to allow for negative autosized values of temperature.

![image](https://user-images.githubusercontent.com/5778156/172681662-b258198e-10b7-4d6b-abcf-ef6c254afe0e.png)

[2022-06-08 18:51] JasonGlazer commented on #9451
@lgu1234 let me know if you need any help on this. I don't see a branch or pull request yet.

[2022-06-09 20:14] simonsays1980 commented on #9460
@jmarrec thank you for this quick reply. Today I found time to run the configuration and everything you describe above runs like a charm on my Fedora 35 machine.

Many thanks!

[2022-06-10 16:42] simonsays1980 commented on #9460
Sorry for reopening. When compiling with `make` I get at the end a linking error with the Python libraries:

[code]
I already use `-DCMAKE_CXX_FLAGS="-Wno-error=uninitialized -fPIC"` but that does not change it. I also reinstalled Developer Tools and Developer Libraries - but no change.

Does anyone knows this error with EnergyPlus on Linux? @jmarrec maybe?

[2022-06-10 16:48] jmarrec commented on #9460
Did you point to python 3.8.5? Seems like it's picking 3.9.0 here, check that there are no mismatch. Open cmakecache.txt in your build folder, search for "Python"

[2022-06-10 16:49] simonsays1980 commented on #9460
No I chose `3.9.0` by using `ccmake -DLINK_WITH_PYTHON:BOOL=ON -DPython_ROOT_DIR:PATH=/home/simon/.pyenv/versions/3.9.0/ -DPython_REQUIRED_VERSION:STRING=3.9.0 -DCMAKE_CXX_FLAGS="-Wno-error=uninitialized -fPIC" ../EnergyPlus`

However: In the CMakeCache.txt only the first flag can be found (`LINK_WITH_PYTHON:BOOL=ON`)

[2022-06-10 17:34] simonsays1980 commented on #9460
I found the error:

With `pyenv` I built only the static libraries but needed for linking the shared ones. Using `CONFIGURE_OPTS=--enable-shared pyenv install 3.9.0 ` I got also the shared ones and the EnergyPlus installation ran through.

Thanks again for the help. The firs steps were very important - and I would have searched for days

[2022-06-10 22:00] #9455 closed, assigned to nobody

[2022-06-10 22:00] #9456 closed, assigned to nobody

[2022-06-11 20:39] hdou opened #9481 "In runtime.py, the signature definition for callbackEndOfSystemSizing seems incorrect"
Issue overview
--------------
In runtime.py, the signature definition for callbackEndOfSystemSizing seems incorrect

It's:
[code]

Should it be like below?
[code]

[2022-06-12 16:17] rraustad opened #9483 "UnitarySystem multi-speed supplemental heating coils do not control correctly when using Setpoint control"
Issue overview
--------------
UnitarySystem using Setpoint control is calling the main heating coil instead of the supp heater.

Par[9] = true; // is supplemental coil
if (this->m_SuppHeatingSpeedNum > 1) {
    Par[4] = CycRatio;
    General::SolveRoot(state, Acc, MaxIte, SolFla, SpeedRatio, this->heatingCoilVarSpeedResidual, 0.0, 1.0, Par);
    this->m_SuppHeatingCycRatio = CycRatio;

Real64 Unit

[2022-06-13 13:00] rraustad opened #9484 "UnitarySystem using Coil:Cooling:DX:MultiSpeed does not control well using set point temperature"
Issue overview
--------------
Example file SingleFamilyHouse_TwoSpeed_MultiStageElectricSuppCoil_SPControl shows poor control of cooling coil outlet node set point temperature.

![image](https://user-images.githubusercontent.com/5778156/173359192-385f2952-cc2f-43fb-b7ee-90dbc3db3594.png)

Warnings are also present that indicate a control issue.

    ** Warning ** AirLoopHVAC:UnitarySystem - Iterat

[2022-06-13 15:51] jcyuan2020 opened #9485 "CFS with external complex shading layer crash in full exterior interior solar distribution mode"
Issue overview
--------------
A crash was reported in a case where a CFS window has an outer layer specified as shading (via WindowsMaterial:ComplexShade) under some circumstances. It was later identified that the crash will occur when the full exterior interior solar distribution algorithm is used, and when the sun hits the back side of the surface. The code will then try retrieving information f

[2022-06-13 18:50] #9437 closed, assigned to Nigusse

[2022-06-14 10:42] #9483 closed, assigned to nobody

[2022-06-14 18:01] mjwitte opened #9489 "Construction:AirBoundary fails for fenestration surfaces"
Issue overview
--------------
The I/O Reference states that Construction:AirBoundary "may be used for base surfaces and fenestration surfaces." This fails for both window and door surfaces.

For a window, it's rejected because the materials are not window materials.
[code]

For a door, there is a surface alignment issue.
[code]
SB12-W1 is on base surface SB12, not TOP-1. And SB21-W1 is on base sur

[2022-06-15 12:12] #9320 closed, assigned to Nigusse

[2022-06-15 15:56] jcyuan2020 commented on #9458
- [x] Section 1.9.18.1.2, Page 177 in IORef (v22.1), incomplete sentence:
![image](https://user-images.githubusercontent.com/64040111/173871947-8dfe4e25-8f1b-44c3-af36-3024e38e09be.png)

Maybe the "In this case," at the end should be placed to the beginning of the second sentence in this paragraph.

[2022-06-15 19:27] mjwitte opened #9491 "Outdoor Air Details total Design Zone Outdoor Airflow is incorrect with zone multipliers in some cases"
Issue overview
--------------
In the Outdoor Air Details report, the total for "Design Zone Outdoor Airflow - Voz" is incorrect when multipliers are used (if the zones and ATUs are not aligned one-to-one. Shows up in ASHRAE901_ApartmentMidRise_STD2019_Denver, ASHRAE901_Hospital_STD2019_Denver, and ASHRAE901_OfficeLarge_STD2019_Denver.

### Details
Some additional details for this issue (if relevan

[2022-06-15 23:54] #8048 closed, assigned to mjwitte

[2022-06-15 23:54] #9491 closed, assigned to nobody

[2022-06-16 03:00] #9430 closed, assigned to nobody

[2022-06-16 07:09] jmarrec opened #9493 "FuelFactors: Units of Measures and Energy per Unit Factor are never used"
Issue overview
--------------
IDD:

[code]

 https://github.com/NREL/EnergyPlus/blob/f39484f14fe4df6874c0334c90d79916767cf6ad/src/EnergyPlus/PollutionModule.cc#L260

As you can see, `cAlphaArgs(2)` is never used (this is the Units of Measure), and neither is `rNumericArgs(1)` (Energy per Unit Factor)

Either use them or remove them from the IDD

**Additional issue:**

Wrong index due to copy paste

[2022-06-16 13:53] LorenzoBottaccioli opened #9495 "FourPipeFanCoil actuators for external control"
Dear All,

I'm trying to control with actuators a `ZoneHVAC:FourPipeFanCoil` since now I was able to control the mass flow rate with the following actuator:

    EnergyManagementSystem:Actuator,
        m_42,                    !- Name
        ZONE1  FAN COIL UNIT SUPPLY FAN,  !- Actuated Component Unique Name
        Fan,    !- Actuated Component Type System Node Setpoint
        Fan Air Mass Flo

[2022-06-16 15:08] rraustad opened #9496 "ZoneHVAC:FourPipeFanCoil does not correctly size the coil with hard-sized air flow rate"
Issue overview
--------------
The fan coil sizing routine uses the zone design mass flow rate to size the coil. If the user enters a hard-sized air flow rate the coil will be sized different from the intent. The zone design mass flow rate can be significantly different from the user entered volume flow rate multiplied by standard air density. This issue also affects the calculation of coil mixed a

[2022-06-16 15:16] #9464 closed, assigned to nobody

[2022-06-16 18:38] rraustad opened #9497 "AirloopHVAC:UnitarySystem uses outdoor air temperature to size a water source coil and incorrectly reports autosized supplemental heating coil capacity for CoolReheat control"
Issue overview
--------------
Testing of the example file ZoneVSWSHP_wDOAS has confirmed that the water-to-air coils used in UnitarySystems are using outdoor temperature instead of the coil entering water temperature as a sizing parameter. Water coils should use the inlet water temp with the associated cooling capacity as a function of temperature performance curve. The coil model was recently upd

[2022-06-16 19:49] Myoldmopar commented on #9481
Yep, seems like it, good catch!  As you've already deduced, users looking for a workaround can just apply the same change you've noted here.  I'll fix this up in a commit for the next E+ version.  Thanks!

[2022-06-16 20:05] Myoldmopar commented on #9481
Looks like the same thing happened with `api.registerExternalHVACManager`

[2022-06-16 20:31] Myoldmopar commented on #9481
Fix is in a PR, should be merged soon, and this will be addressed in 22.2.  Thank you for reporting this!

[2022-06-17 05:25] #9481 closed, assigned to nobody

[2022-06-20 18:40] lgu1234 commented on #9466
@EnergyArchmage I modified an example file of 1ZoneUncontrolled.idf as a test file. The Outside Boundary Condition are revised as Adiabatic in both Zn001:Wall001 and Zn001:Wall002. The Outside Boundary Condition of Zn001:Flr001 is already defined as Adiabatic. The outputs of Surface Outside Face Conduction Heat Transfer Rate for these 3 surfaces are all zero as expected.

When I add your logic, if

[2022-06-20 18:52] lgu1234 commented on #9044
@EnergyArchmage I looked at the your request and ran some tests. When air terminals are constant volume, the this->ZoneMinAirFracDes is always 0, so that there will not be any issues. The problem may be from VAV terminals. I don't have a good test file. Do you have any test files for share?.

[2022-06-20 18:55] #9415 closed, assigned to nobody

[2022-06-20 20:49] jcyuan2020 commented on #9458
- [x] In IORef, the correct example file name in the following text should be "CmplxGlz_SmOff_IntExtShading.idf" instead:

![image](https://user-images.githubusercontent.com/64040111/174675650-3332fd19-fc3a-476d-a987-23f6e0c19334.png)

- [x] A general sweep fixes/improvement across the documentation in the surface construction elements group, such as the moisture model and the window shade section

[2022-06-22 19:17] EnergyArchmage commented on #9044
Here is the current code location.

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SingleDuct.cc#L2715

I think ZoneMinAirFacDes is always 1.0.   Code should not be able to set minAvail higher than maxAvail

[2022-06-22 19:20] EnergyArchmage commented on #9466
I know it sounds like Adiabatic should have zero values at outside face, but not in E+.  It is the same boundary conditions inside and outside (well except for an annoying lag from previous timestep) and the values should not be all zero.

[2022-06-23 19:24] lgu1234 opened #9503 "AirflowNetwork Duct Autosizing Bug"
Issue overview
--------------
When the example file was tested, I found that duct sizing is not performed and an additional warning was shown due to small logic error.

[code]

There are no outputs Duct sizing values in eio

The test file is `AirflowNetwork_MULTIZONE_House_DuctSizing.idf`

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 -

[2022-06-23 20:32] Nigusse commented on #9493
Confirmed that these two fields `rNumericArgs(1)` and `cAlphaArgs(2)` in the `GetPollutionFactorInput()` function for `FuelFactors` object are never used. Also confirmed the defect in the same get input function for `EnvironmentalImpactFactors` object.

[2022-06-23 20:44] Nigusse commented on #9493
Also while checking idd of the `FuelFactors` object, I see that there is no easy way to enter a default value to `Source Energy Factor` input field since the default values vary by fuel type. These default values of `source-energy-factors` are hard wired in the code.

Note that these factors do change with time as the diversity of power generation plants are changing. For example, the electricity

[2022-06-23 20:47] lgu1234 commented on #9466
@EnergyArchmage My understanding is that SurfOpaqOutsideFaceConductionFlux and others should not be bypassed and should be calculated. Is my understanding correct?

[2022-06-23 22:00] EnergyArchmage commented on #9466
Yes. If its so-called Adiabatic they should get calculated. Just to fill reporting variable

[2022-06-24 13:15] lgu1234 commented on #9466
@EnergyArchmage Here is a definition of Adiabatic boundary condition from a web site as https://www.thermal-engineering.org/what-is-adiabatic-boundary-thermal-symmetry-definition/:
![Screenshot 2022-06-24 090722](https://user-images.githubusercontent.com/5970656/175542840-4ad70461-aa88-4324-a7d9-2f8bc19e8d8a.png)
 If any values of heat flux are reported, more justification is needed. To be honest,

[2022-06-24 14:49] EnergyArchmage commented on #9466
He he, I wish there really was an Adiabatic boundary condition in EnergyPlus.

I can't explain it if you don't already know.  But the heat flows are occurring at the outside face in the modeling.  It is just balanced so that the same thing is happening at both the inside face and the outside face.  The problem is that user cannot explore the storage (and release) of heat over time because the repo

[2022-06-24 20:11] jcyuan2020 opened #9507 "Venting Availability Schedule of AirflowNetwork:MultiZone:Surface not acting on the AirflowNetwork:MultiZone:SpecifiedFlowRate path element"
Issue overview
--------------
In the IORef section for Airflownetwork:MultiZone:Surface, it seems that the “venting Availablity Schedule” would have an on/off effect on many types of AFN flow path elements including the new AirflowNetwork:MultiZone:SpecifiedFlowRate one.

However, it was confirmed in the code that the Airflownetwork:MultiZone:Surface does not have an effect to shut off the vent wh

[2022-06-24 23:53] jasondegraw commented on #9507
@jcyuan2020 please do not work on a fix for this, it is part of the ongoing linkage scheduling work. It'll get taken care of there.

[2022-06-27 13:06] lgu1234 commented on #9466
@EnergyArchmage
Here is the code in Develop

Line 5042
            if (surface.ExtBoundCond > 0) continue;
Line 5902
            state.dataHeatBalSurf->SurfOpaqStorageCond(surfNum) =
                -(state.dataHeatBalSurf->SurfOpaqInsFaceCond(surfNum) + state.dataHeatBalSurf->SurfOpaqOutFaceCond(surfNum));

Since SurfOpaqOutFaceCond = 0, the storage is equal to SurfOpaqInsFaceCond

Based on your

[2022-06-27 14:32] lgu1234 commented on #9044
@EnergyArchmage When I debug the code and find ZoneMinAirFracDes = 0 for AirTerminal:SingleDuct:ConstantVolume:NoReheat

Line 1378
        state.dataSingleDuct->sd_airterminal(state.dataSingleDuct->SysNumGSI).MaxAirVolFlowRate = Numbers(1);
        state.dataSingleDuct->sd_airterminal(state.dataSingleDuct->SysNumGSI).ZoneMinAirFracDes = 0.0;
        state.dataSingleDuct->sd_airterminal(state.dataS

[2022-06-27 15:17] jcyuan2020 commented on #9507
OK. Thanks!

[2022-06-27 16:28] jcyuan2020 opened #9508 "Warning message round up precisions for water flow or other liquid volume flow rates"
Issue overview
--------------

There is at least one warning message for some pumps reporting volume flow rate that rounds at the first decimal point. This might not be a good choice for water flow rate (e.g. for pumps, coils etc) since most of the time the flow rate would be <1 m3/s and actually 0.1m3/s or 0.05 m3/s of rounding error(when using first decimal) cause a large relative discrepancy.

[2022-06-27 19:07] sbuck99 commented on #8987
Quick note that it is possible to accomplish this using the IDFVersionUpdater tool. Change your present IDF Version to the previous version of E+. Run it through the updater tool changing it to the newest version. Voila- comments will be added back to your file. I added a script to genEPJ (E+ Python library) that can accomplish this if anyone is interested.

[2022-06-27 19:39] mjwitte commented on #8987
On Windows, you can also use IDF Editor to restore the end-line comments. Open the idf file, then save-as.

[2022-06-28 01:01] jcyuan2020 opened #9509 "Schedule:File failing to detect file types correctly when the file extension contains capitalized character"
Issue overview
--------------
When specifying a schedule file, if in the IDF block the file name’s extension contains any capitalized character (not all-lower case extension file names), the simulation will fail with a severe error. For example, in the 5ZoneTDV.idf example, the simulation will fail with a sever error is the file name is given as “TDV_2008_kBtu_CT206.CSV” in the following block:
[c

[2022-06-29 00:28] mitchute commented on #9458
- [x] The `ZoneAirMassFlowConservation` example should reflect the options that are currently available.

![Screen Shot 2022-06-28 at 6 25 17 PM](https://user-images.githubusercontent.com/2985979/176326034-a1d10603-9f9b-4cd5-813c-4dff4aabd397.png)

![Screen Shot 2022-06-28 at 6 25 03 PM](https://user-images.githubusercontent.com/2985979/176326040-11761afd-9f3a-4ae7-863a-a23c1017cc58.png)

[2022-06-29 13:35] Nigusse opened #9511 "Inccorret declaration of dataIsDXCoil variable in BaseSizer"
Issue overview
--------------
While working on another issue I saw the variable `dataIsDXCoil` declared as Real but initialized as boolean [base.hh](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/Autosizing/Base.hh#L241). See below.

`Real64 dataIsDXCoil = false;`

Subsequently the variable is assigned to a boolean variable [base.cc](https://github.com/NREL/EnergyPlus/blob/develop/

[2022-06-29 13:37] rraustad commented on #9511
Addressed in #9501.

[2022-06-29 13:56] rraustad opened #9512 "UnitarySystem report for Unitary System Electricity Rate/Energy incorrect when electric, gas, multistage or desuperheater heating coils are used for the main and supplemental heating coil"
Issue overview
--------------
Code review shows that the power for heating coils is stored in global variables for use by UnitarySystem to report the total power/electricity. For this reason these variables need to be separate and updated correctly.

        if (coilIsSuppHeater) {
            state.dataHVACGlobal->SuppHeatingCoilPower = heatingCoil.ElecUseLoad;
        } else {
            state.

[2022-06-29 14:04] rraustad commented on #9511
A different bool was corrected in #9501.

[2022-06-30 12:30] #9511 closed, assigned to Nigusse

[2022-06-30 19:51] lgu1234 opened #9515 "Zero zone floor area causes E+ crash by running debug"
Issue overview
--------------
The release runs the defect file fine. However, when run with the debugger zero floor area causes program crashed in Line 525 in the SurfaceGeometry module

                    ZFlrAvg += ((Z1 + Z2) / 2.0) * (thisSurface.Area / thisZone.FloorArea);

When debug the program, found zone calcFloorArea > 0 and FloorArea = 0.
### Details
Some additional details for this iss

[2022-06-30 21:50] #9497 closed, assigned to nobody

[2022-07-04 13:39] IainMacdonald commented on #7077
Is anyone working on this? ASHRAE has significantly updated its data since 2013.

[2022-07-05 16:02] Nigusse opened #9517 "ExtShadingSchedNum variable in SolarShading should be checked as integer"
Issue overview
--------------
While working on another issue I saw the variable ExtShadingSchedNum is defined as integer but used as boolean in [SolarShading.cc](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SolarShading.cc#L589-L603). The following code:

[code]
should be replaced with
[code]
### Details
Some additional details for this issue (if relevant):
 - Platform (Any, Deve

[2022-07-06 01:52] jasondegraw commented on #7546
Sorry to reopen, but this remains an issue with the 22.1 installer. Associations are not correct and I don't believe #9300 fixed this.

[2022-07-06 12:08] JasonGlazer commented on #7546
It's never fun to reopen an issue but if it didn't fix the problem then it makes sense. It would really help if we could reproduce the problem you are seeing on a VM. Can you provide a step-by-step sequence starting with what is on the computer before you begin (operating system, permission settings, previous installations, etc )?

[2022-07-06 20:29] lgu1234 opened #9523 "Invalid logic to check multiple speed HP index in UnitarySystem for stagedthermostat application"
Issue overview
--------------
The m_DesignSpecMSHPIndex is 0-based. Any valid check should be m_DesignSpecMSHPIndex > -1.

![Capture](https://user-images.githubusercontent.com/5970656/177637575-dff114d6-372b-47d1-b09d-a4f74561e60a.PNG)

The current code use a wrong logic for valid index:

m_DesignSpecMSHPIndex > 0

### Details

Some additional details for this issue (if relevant):
 - Platform (Ope

[2022-07-06 20:37] lgu1234 opened #9524 "Incorrect logic to set cooling and heating flag in UnitarySystem"
Issue overview
--------------
@rraustad found that the stageNum is used to set up heating and cooling in UnitarySys::initLoadBasedControl for staged thermostat control

        // Staged control
        if (this->m_Staged) {
            if (this->m_StageNum == 0) {
                state.dataUnitarySystems->HeatingLoad = false;
                state.dataUnitarySystems->CoolingLoad = false;

[2022-07-07 02:22] jasondegraw commented on #7546
@JasonGlazer This is on a government machine running Windows 10, so recreating the circumstances is going to be difficult and I probably shouldn't be posting exactly what security measures are in place here. The installer behavior has been consistent since the switch to QtIFW and over time I've tried every combination I can think of. Associations never get made, but I get slightly better results i

[2022-07-07 15:37] JasonGlazer commented on #7546
@jasondegraw is this only about IDF Editor and EP-Launch or is impacting something else?

[2022-07-11 17:52] #9262 closed, assigned to Nigusse

[2022-07-11 19:34] lgu1234 commented on #9066
@eringold I just saw this issue. Let me explain why we only allow blow or draw through fans. The system mimics most HVAC system arrangement with two types of fan placement only.

In realty, there may be multiple fans in the system. From simulation point of view, there is no benefit to have multiple fans in a series. Since fan flow rates are the same, difference may be power consumption. If we can

[2022-07-11 20:03] Nigusse opened #9528 "Supply fan heat effect is incorrect in standard ratings calculation for two speed DX cooling coil"
Issue overview
--------------
Supply fan heat effect used to determine standard net cooling capacity for standard ratings calculation in CalcTwoSpeedDXCoilStandardRating function is missing supply air mass flow rate as a multiplier in equation below:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, any)
 - Version of EnergyPlus (Develop, [f3

[2022-07-11 20:19] eringold commented on #9066
@lgu1234 Thanks for the reply. I'm not trying to model two fans in series, but rather one fan on the 'supply' airstream and one on the 'exhaust', similar to what is shown in the "OA Unit with TER" in the diagram above. In such a configuration, the fan heat impacts the performance of the recovery device. Combining the Supply and Exhaust fans in to one virtual fan would thus require correctly limiti

[2022-07-12 13:22] lgu1234 commented on #9066
@eringold Your concern is an ideal case. Our enhancement may be incremental. I think I may allow two fans with inlet and outlet locations first. In other words, one fan may be placed as blow trough, and the other may be placed as draw through. Does it meet your requirement as a first step?

[2022-07-12 13:37] eringold commented on #9066
Sure, that sounds good for a first step. Thanks!

[2022-07-12 14:30] mjwitte commented on #9066
@lgu1234 It appears that `FanBlowTroughFlag` is used in two place, once for setting
`OutsideAirSys(this->m_OASystemNum).InletNodeNum(1)).MassFlowRateMaxAvail = this->SumMassFlowRate` which can be done for any fan placement,
so `if (!this->FanBlowTroughFlag)` is unnecessary [here](https://github.com/NREL/EnergyPlus/blob/f361c6a4ac42b83f11ec832ce483465bbc2cf371/src/EnergyPlus/AirLoopHVACDOAS.cc#L916

[2022-07-12 14:49] rraustad commented on #9066
There is no method to find fan heat for OA systems, yet. For air loops the fan object is found [here](https://github.com/NREL/EnergyPlus/blob/f361c6a4ac42b83f11ec832ce483465bbc2cf371/src/EnergyPlus/SimAirServingZones.cc#L1955-L2009) with fan placement found at the end. This happens now only for the main branch. OA systems could do something similar. The fan heat is added to cooling capacity [here]

[2022-07-12 15:03] rraustad commented on #9066
I'm not sure why these links are not showing the correct lines. Look at the end of the URL to see the line numbers.

[2022-07-12 19:06] #9509 closed, assigned to nobody

[2022-07-13 14:24] lgu1234 commented on #9066
@mjwitte @eringold @rraustad I used an example file of SmallOffice_CentralDOAS.idf to test 3 cases with different fan locations.

Case 1: Blow through (current fan placement)

  AirLoopHVAC:OutdoorAirSystem:EquipmentList,
    OA Sys 1 Equipment,      !- Name
    Fan:SystemModel,         !- Component 1 Object Type
    OA Supply Fan,           !- Component 1 Name
    Coil:Heating:Water,      !- Comp

[2022-07-13 14:32] #9517 closed, assigned to nobody

[2022-07-13 14:38] jmarrec commented on #8158
That test just crashes on an M1 mac FYI.

[code]

[code]

[2022-07-13 14:49] nealkruis commented on #8158
Weird. It is working fine all the way through until the destructor attempts to tear down the OpenGL state. I recall a similar bug in GLFW on Windows that was recently resolved.

It could be related to this post: https://stackoverflow.com/questions/64923977/mac-os-with-m1-encounters-with-an-error-when-using-glfw-glew

[2022-07-13 15:41] jcyuan2020 opened #9532 "Fluid Properties interpolation failed to deal with single concentration case and may yield erratic results"
Issue overview
--------------

It was found that if the FluidProperties:Concentration only have data for one concentration, the program would have an array-out-of-bound exception. This error can be caught in the debug mode. However, for the release version, EnergyPlus can run through with the array out of bound, but may have caused erratic results, including some strange warnings that saying a val

[2022-07-13 18:19] mjwitte commented on #9515
Closed via #9520

[2022-07-13 18:19] #9515 closed, assigned to lgu1234

[2022-07-13 20:34] MatthewSteen opened #9534 "japanese model produces XML error"
Issue overview
--------------
This Japanese [IDF](https://github.com/NREL/EnergyPlus/files/9105845/in_2210.idf.txt) produces an [XML](https://github.com/NREL/EnergyPlus/files/9105838/in_2210Table.xml.txt) with an error. The other files (e.g. HTML) are unaffected. The middle character in Zone `電気室 19` becomes unreadable, see line 5575 for first instance. As far as I can tell the character `気` is su

[2022-07-14 14:18] keigo-nomura commented on #7111
Still unresolved?

This is a problem not only when using cooling towers, but also when using seawater cooling by PlantComponent:TemperatureSource. Unlike cooling towers, it is not possible to make a compromise of variable tower fans instead of variable condenser water.

Or variable condenser flow is possible with any other chiller objects?

Hope this issue won't be left unattended forever.

[2022-07-14 16:27] rraustad commented on #9093
Investigation shows it's not the reporting, since these equations do look exactly alike, but the calculation of the rate variables. PTUnits use the old method of calculating delivered capacity.

    SpecHumOut = state.dataLoopNodes->Node(OutletNode).HumRat;
    SpecHumIn = state.dataLoopNodes->Node(InletNode).HumRat;
    QLatUnitOut = AirMassFlow * (SpecHumOut - SpecHumIn); // Latent rate, kg/s (d

[2022-07-14 16:50] #9419 closed, assigned to jmarrec

[2022-07-14 17:08] #9508 closed, assigned to jmarrec

[2022-07-14 18:11] #9523 closed, assigned to lgu1234

[2022-07-15 13:41] jcyuan2020 opened #9538 "Misused Environmental Class code values for ElectricEquipment:ITE:AirCooled ITE Air Inlet Operating Range Exceeded Time and related variables reporting"
Issue overview
--------------

While working on implementing Issue #9418 (via PR #9537), some unexpected diffs showed up from the CI regression run results. A further investigation reveals that this is due to a bug in the existing code, where misplaced code values were used in reporting these “exceed time” or “out-of-range” variables (e.g. “ITA Air Inlet Operating Range Exceed Time”). It was found

[2022-07-15 13:41] jcyuan2020 opened #9539 "Misused Environmental Class code values for ElectricEquipment:ITE:AirCooled ITE Air Inlet Operating Range Exceeded Time and related variables reporting"
Issue overview
--------------

While working on implementing Issue #9418 (via PR #9537), some unexpected diffs showed up from the CI regression run results. A further investigation reveals that this is due to a bug in the existing code, where misplaced code values were used in reporting these “exceed time” or “out-of-range” variables (e.g. “ITA Air Inlet Operating Range Exceed Time”). It was found

[2022-07-15 13:52] jcyuan2020 commented on #9539
Duplicated with #9538 and closing this duplicated one.

[2022-07-15 13:52] #9539 closed, assigned to jcyuan2020

[2022-07-15 16:18] jcyuan2020 commented on #9113
(In an effort to bundle a few small issues) I replaced the line with:
[code]
by looking through the context.

Also, by looking through the context, a couple of other similar places actually used `<` rather than `<=` for the comparison with `0.0`. Probably not going to make too much difference, but do you have any preference what to use here: `<` or `<=` here? @Myoldmopar

[2022-07-15 17:02] shorowit opened #9540 "Include python.exe with install"
Issue overview
--------------
An EnergyPlus install includes a `python_standard_lib` directory and `python38.dll`. Could it also include the `python.exe`? For an EnergyPlus user, it'd be nice to be able to use the python already included with EnergyPlus in additional ways without having to install an entirely separate python package.

### Details
Some additional details for this issue (if relevant

[2022-07-16 23:02] #9121 closed, assigned to jcyuan2020

[2022-07-16 23:02] #9305 closed, assigned to jcyuan2020

[2022-07-16 23:02] #9113 closed, assigned to Myoldmopar

[2022-07-18 01:23] keigo-nomura commented on #5596
Is it possible to implement a default performance curve for the next EnergyPlus update?

[2022-07-18 14:49] jmarrec commented on #9534
[code]

That `\xb0` is understood as a degree sign here: https://github.com/NREL/EnergyPlus/blob/adad2e37ac398d93bab979f8208080f141bc581a/src/EnergyPlus/OutputReportTabular.cc#L16696-L16697

[2022-07-18 16:58] Myoldmopar opened #9546 "SZVAV Appears to be having issues"
Issue overview
--------------
A user noticed some issues with the single zone vav control.  While doing some investigation, I tried to reproduce the [plots](https://github.com/NREL/EnergyPlus/pull/5994/files#diff-2150be88001ec93d751240e5ddae78258f0f3e01864fe952b19c78aa61e7513e) from #5994.  Something _appears_ wrong:

![image](https://user-images.githubusercontent.com/849824/179563264-31a6420a-e91

[2022-07-18 17:26] rraustad opened #9547 "PackagedTerminalHeatPump does not honor the fan availability schedule"
Issue overview
--------------
Testing shows that the ZoneHVAC:WaterToAirHeatPump used in example file ZoneSysAvailManager turns on during the winter design day when the fan should be off.

    Fan:OnOff,
      Zone 1 Fan,              !- Name
      FanAvailSched,           !- Availability Schedule Name

    Schedule:Compact,
      FanAvailSched,           !- Name
      Fraction,                !-

[2022-07-18 17:39] mjwitte commented on #9547
I suspect the nightcycle manager is turning it on.
[code]

[2022-07-18 17:54] rraustad commented on #9547
OK I'll buy that.

    Schedule:Compact,
      Heating Setpoints,       !- Name
      Temperature,             !- Schedule Type Limits Name
      Through: 12/31,          !- Field 1
      For: AllDays,            !- Field 2
      Until:  7:00,15.0,       !- Field 3
      Until: 17:00,21.0,       !- Field 5
      Until: 24:00,15.0;       !- Field 7

![image](https://user-images.githubusercontent.co

[2022-07-18 18:49] ChristopherCaradonna commented on #9546
Some additional comments:

1) I also tried to produce a similar plot to what's above, and got similar sporadic results compared to the smooth curves in the EnergyPlus resources.

2) For my testing, I am using a unitary system object with heat pump heating (DX single speed). It appears the fan always chooses the maximum flow rate whenever backup heat is required, despite choosing a fairly low suppl

[2022-07-18 19:18] rraustad commented on #9547
As designed.

[2022-07-18 19:18] #9547 closed, assigned to nobody

[2022-07-18 23:44] lymereJ opened #9548 "Chiller evaporator flow rate is used in place of condenser flow rate in IPLV calculation"
Issue overview
--------------
The chiller evaporator flow rate is used in place of the condenser flow rate when the leaving condenser temperature is calculated to determine the chiller's IPLV. The following code is shown out of order on purpose.

https://github.com/NREL/EnergyPlus/blob/ed3a9d36c86aad48000128ae7975805818f1e207/src/EnergyPlus/StandardRatings.cc#L580

https://github.com/NREL/EnergyPl

[2022-07-19 00:45] rraustad commented on #9546
The example file FanCoilAutosize_ASHRAE90VariableFan is single heating set point in winter and single cooling set point in summer. So the crazy temperatures shown in the description are because of a no load condition and the fan coil passes through the inlet temp. If I change to use dual Tstats the plot looks much better but still shows issues that should be investigated. In this plot I have hidde

[2022-07-19 03:10] rraustad opened #9549 "ZoneHVAC:PackagedTerminalAirConditioner reports Compressor Part Load Ratio for gas heating coil"
Issue overview
--------------
Testing of example file DOAToPTAC shows that report variable Zone Packaged Terminal Air Conditioner Compressor Part Load Ratio is non-zero for Coil:Heating:Fuel. Since a gas heating coil does not have a compressor this report should be 0 for this heating coil type.

The offending line in code is in SimPTUnit where PartLoadFrac is the fraction of time the coil operates

[2022-07-19 03:14] rraustad commented on #9549
A comparison of the existing baseline result with a modified result.

![image](https://user-images.githubusercontent.com/5778156/179656642-54b4702e-09b7-486b-ab69-5fdf37e17c14.png)

[2022-07-19 12:27] jmarrec commented on #7705
That's not part of the outputs: https://bigladdersoftware.com/epx/docs/22-1/input-output-reference/group-hybrid-model.html#zone-infiltration-hybrid-model-air-change-rate

https://github.com/NREL/EnergyPlus/blob/0c9b8c4944b5f06edb000bf0d766f067830af0ae/src/EnergyPlus/HybridModel.cc#L439-L468

[2022-07-19 12:37] jmarrec commented on #6681
This is fixed now that website uses master.geojson

https://energyplus.net/weather-region/north_and_central_america_wmo_region_4

[2022-07-19 12:37] #6681 closed, assigned to nobody

[2022-07-19 12:40] jmarrec commented on #8198
duplicate of https://github.com/NREL/EnergyPlus/issues/6364

[2022-07-19 12:40] #8198 closed, assigned to nobody

[2022-07-19 12:42] jmarrec commented on #6186
EP-launch will end up being replaced by EP-Launch3, and this has not been reported since 2017, closing. We can reopen if someone runs into it.

[2022-07-19 12:42] #6186 closed, assigned to nobody

[2022-07-19 12:51] jmarrec commented on #5163
@rraustad can you do that 1 line of code please?

[2022-07-19 12:53] jmarrec commented on #6159
Still true with 22.1.0

[2022-07-19 13:07] jmarrec commented on #4314
This has been rewritten: https://github.com/NREL/EnergyPlus/blob/0c9b8c4944b5f06edb000bf0d766f067830af0ae/src/EnergyPlus/SolarShading.cc#L6005-L6022

[2022-07-19 13:07] #4314 closed

[2022-07-19 13:10] jmarrec commented on #4315
https://github.com/NREL/EnergyPlus/blob/0c9b8c4944b5f06edb000bf0d766f067830af0ae/src/EnergyPlus/SolarShading.cc#L3306-L3325

[2022-07-19 13:20] jmarrec commented on #7831
With 22.1.0:

[code]

The peak freezing temperature (20°C) is below the peak melting temperatue (23°C), which makes sense.

[2022-07-19 13:20] #7831 closed, assigned to nobody

[2022-07-19 13:27] jmarrec commented on #7808
state isn't passed in vprint, yet it's needed for ShowWarningError

https://github.com/NREL/EnergyPlus/blob/0c9b8c4944b5f06edb000bf0d766f067830af0ae/src/EnergyPlus/IOFiles.hh#L801-L822

[2022-07-19 13:29] jmarrec commented on #7808
If we don't want to `throw EnergyPlus::FataError`, I suppose we can just write to the ostream (/ std::string return) that message `fmt::format("Error with format, '{}', passed {} args", format_str, sizeof...(Args))`. Typically that'll occurr inside a call to ShowWarningError or else error so it should end up in the right place.

[2022-07-19 13:35] rraustad commented on #5163
The dev support 5163 files are not transitioning properly.

[2022-07-19 13:51] jmarrec commented on #8896
Add `Output:VariableDictionary,regular;` and now it'll be filled... Tested with 22.1.0: as is rdd is empty. After adding the VariableDictionary object, RDD is full.

[2022-07-19 13:51] #8896 closed, assigned to jmarrec

[2022-07-19 14:19] jmarrec commented on #5163
I transitionned the water_cooled.idf one. But it won't run.

first some issues with the ScheduleTypeLimits, easy enough.

Then a new Severe that turned fatal about WetBulbTemperature being used, though it did say that it would reset to DryBulbTemperature and simulation continues, but simulation halted.

And it's refusing the curves that are out of bounds... change the `0.25,                    !-

[2022-07-19 15:01] ChristopherCaradonna commented on #9546
In case it helps, I am attaching my version of the chart below. This model used DX single speed heating and cooling, no economizer, no DCV, no energy recovery, and I have filtered out all non-occupied times (so outdoor air is constant).

It can be seen that heating uses either the minimum or maximum airflow rate, nothing in between. Maximum flow rate is always used when backup heating is required,

[2022-07-19 15:28] rraustad commented on #5163
It looks like this has been fixed. I used HVACTemplate-5ZoneVRF as a test with variables added to verify.

![image](https://user-images.githubusercontent.com/5778156/179789035-9acd9edf-d018-40e6-9516-bd7a6afeeb29.png)

[5163-in.idf.txt](https://github.com/NREL/EnergyPlus/files/9142519/5163-in.idf.txt)

You can review, comment, close, etc. as needed.