[2021-06-11 20:34] matthew-larson commented on #7908
Coming back to this one and found the source of the problem.  The InletWaterTemp and OutletWaterTemp are equal and greater than 6.67C and at [line 2246](https://github.com/NREL/EnergyPlus/blob/42826b2bf46d43119773c1ac48b7979b19348773/src/EnergyPlus/Plant/LoopSide.cc#L2244), the InletWaterTemp gets set to the splitter outlet temperature of 6.67C, but the OutletWaterTemp never gets updated to match

[2021-06-11 21:19] #8770 closed, assigned to nobody

[2021-06-11 21:26] JasonGlazer opened #8815 "Change ObjexxFLC "bit_" functions with C++ operators in psychrometric and fluid property caching"
Issue overview
--------------
The caching code in psychrometrics and fluid properties uses ObjexxFLC functions:

- bit_transfer
- bit_shift
- bit_and
- bit_xor

which should be replaced with native ">>" and "&" and "|" and "^" operators to increase performance.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if us

[2021-06-11 21:29] mitchute commented on #8815
@JasonGlazer I've got a branch locally that has started addressing this. I can take care of it unless you already have the work done.

[2021-06-11 21:33] JasonGlazer commented on #8815
@mitchute that is terrific. I started working on it in one place and was using reinterpret_cast but it seemed to be getting hung up on types which did not seem to make sense to me. I'm sure you understand this better than me.

[2021-06-11 22:28] mitchute opened #8816 "Move from UtilityRoutines::ProcessNumber to std::stod"
Issue overview
--------------
- See https://github.com/NREL/EnergyPlus/pull/8810 for a discussion of the issue.
- Changing [this line](https://github.com/NREL/EnergyPlus/commit/e7a3474e19996a41a0d13bf3d9ab16dc03ddb076#diff-7cffab7456bea4477765aa6b0c514f970453ba01a4bff6c62180752f238700dbR565) from ```std::stod``` to ```UtilityRoutines::ProcessNumber``` resulted in the runtime for SolarShadingTest_I

[2021-06-11 23:04] amirroth commented on #8815
@mitchute can you get that merged? I would like to try something that builds on top of it. Thx.

[2021-06-12 14:12] LipingWang opened #8817 "Imbalanced discharge and charge for electric storage"
Issue overview
--------------
The discharged electricity from the batteries (ElectricLoadCenter:Storage:Battery) is larger than the charged electricity for batteries over a certain period (annually as well as monthly). This could be because that the available stored electricity and available storage capacity of batteries were not properly considered in "charging" and "discharging" for each timeste

[2021-06-13 08:22] paul-caicedo commented on #6628
Helpful information for this feature

- http://onebuilding.org/archive/bldg-sim-onebuilding.org/2007-October/034952.html
- 2023 HVAC Applications - Chapter 52 - SNOW MELTING AND FREEZE PROTECTION

[2021-06-15 10:03] swangdb opened #8822 "Standard62.1Summary not be treated as valid report name in Output:Table:SummaryReports"
Issue overview
--------------
Added the summary report key Standard62.1Summary into Output:Table:SummaryReports object and run the simulation for a model, EnergyPlus has reported a severe error:

   ** Severe  ** Output:Table:SummaryReports Field[6]="STANDARD62.1SUMMARY", invalid report name -- will not be reported.

The simulation still runs but there is not a Standard 62.1 Summary generated.

##

[2021-06-15 16:18] jmarrec opened #8824 "Annoying CMake warning due to wrong Version.hpp path in libkiva"
Issue overview
--------------
Annoying CMake warning due to wrong Version.hpp path in libkiva

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is a

[2021-06-16 08:12] fubingting commented on #8669
@jmarrec

[2021-06-16 08:13] fubingting commented on #8669
@jmarrec

[2021-06-16 08:18] fubingting commented on #8669
After downloading and decompressing, I execute the three energyplus-9.5.0,EPMacro,ExpandObjects commands, and the following error occurs：

[2021-06-16 08:28] fubingting commented on #8669
After downloading and decompressing, I execute the three energyplus-9.5.0,EPMacro,ExpandObjects commands, and the following error occurs:
[code]
@jmarrec

[2021-06-16 08:31] jmarrec commented on #8613
Likely cause is SSC: https://github.com/NREL/EnergyPlus/blob/5358d3eb87d1376b3484e1a38ade8274b01f0027/third_party/ssc/CMakeLists.txt#L79-L105

Not sure how much we want to go messing with the CMakeLists.txt of third_party projects?

[2021-06-16 09:40] jmarrec commented on #8822
@swangdb I cannot reproduce this issue either with 9.4.0 or current develop. Could you provide your IDF file please?

I took 5ZoneAirCooled.idf (from ExampleFiles) and modified the Output:Table:SummaryReports to be like below. I get zero warning in eplusout.err and the eplustbl.htm shows the Report correctly.

[code]

[2021-06-16 13:58] swangdb commented on #8822
@jmarrec Please see attached idf file in question.
[Standard621SummaryProblem.zip](https://github.com/NREL/EnergyPlus/files/6663536/Standard621SummaryProblem.zip)

[2021-06-16 16:08] jmarrec commented on #8822
@swangdb Thanks for the quick turn around. I can reproduce with 9.4.0. Will investigate and report back.

[2021-06-17 08:52] swangdb opened #8827 "Limit of Zone Cooling Design Supply Air Temperature in Sizing:Zone object"
Issue overview
--------------
It's nowhere that the Zone Cooling Design Supply Air Temperature input is given a range. But if this input is negative, say -20°C, the simulation returns an error message saying this input should not be negative.

    _Severe ** Sizing:Zone="OfficeZone", invalid data.
[code]

[2021-06-17 09:59] juancaoviedo opened #8828 "Timeout finish prematurely find OpenMP_C process in CMake when building E+ 9.5 from source for ARMv8 architecture using Docker"
Issue overview:
--------------
### Description of the error:
".*timeout.*" finish prematurely find OpenMP_C process in CMakeLists.txt when building E+ 9.5 from source (cloning github repo) for ARMv8 architecture using docker.
### Error message:
CMake Error at CMakeLists.txt:277 (message): Generating epJSON Schema from IDD failed: Process terminated due to timeout
### Expected behavior:
Found OpenM

[2021-06-17 10:10] jmarrec commented on #8599
I traced the error by adding debug code  in `PsyTwbFnTdbWPb_raw` in https://github.com/NREL/EnergyPlus/commit/4d350ec8c0764997b9f16b731cb48fd54adf7cb5. See output below on the timestamp where it fails:

[code]

[2021-06-17 10:25] jmarrec commented on #8599
On the specific iteration 7, https://github.com/NREL/EnergyPlus/blob/5358d3eb87d1376b3484e1a38ade8274b01f0027/src/EnergyPlus/General.cc#L951-L983

[code]

[code]

[2021-06-17 11:01] jmarrec commented on #8599
Naively there's something with this line that bothers me: https://github.com/NREL/EnergyPlus/blob/5358d3eb87d1376b3484e1a38ade8274b01f0027/src/EnergyPlus/General.cc#L953

Y0 is the error. Checking for perfect equality of Y0 == 0.0 seems weird to me. The errors Y0 (current) and Y1 (previous error) are as follows when it throws:

[code]

[2021-06-17 16:55] rraustad commented on #8599
I wonder if it would help to get rid of the discontinuity in curves used to calculate saturation pressure over ice and water (my guess is yes). At 0C there is a step function in PsyPsatFnTemp of about 0.06 pascals. What if instead of:

    if (Tkel < 173.15) {   // Tkel < -100 C
    } else if (Tkel < DataGlobalConstants::KelvinConv) {  // Tkel < 0 C
    } else if (Tkel <= 473.15) { // Tkel < 200 C

[2021-06-17 17:18] rraustad commented on #8599
At plus or minus 1 tenth C the equation is:

if (Tkel < 173.15) {
} else if (Tkel < DataGlobalConstants::KelvinConvMinusOneTenth) {
} else if (Tkel < DataGlobalConstants::KelvinConvPlusOneTenth) {
    Pascal = -12401.4579936261 + 47.6381532112526*Tkel
} else if (Tkel <= 473.15) {
)

![image](https://user-images.githubusercontent.com/5778156/122444139-41aad900-cf6e-11eb-9e78-e8a68582f237.png)

[2021-06-18 01:45] mjwitte commented on #7006
Actually, the I/O Ref is correct as-is. Minimum RPM Schedule and Maximum RPM Schedule are used with PressureSetpointControl to specify limits on the automatic control.
See [code here](https://github.com/NREL/EnergyPlus/blob/5358d3eb87d1376b3484e1a38ade8274b01f0027/src/EnergyPlus/Pumps.cc#L458-L467).

[2021-06-18 01:45] #7006 closed, assigned to nobody

[2021-06-18 08:00] jmarrec commented on #8599
That's a great idea @rraustad thanks!

[2021-06-18 08:53] jmarrec commented on #8822
@swangdb So it turns out that you need to enable either "Zone Sizing" or "System Sizing" in `SimulationControl` for the report to be available. I added a new warning message in #8831,. This is your IDF

[code]

https://github.com/NREL/EnergyPlus/blob/e936516a4cbf93937c945019c80e048dcc77d6a9/src/EnergyPlus/OutputReportPredefined.cc#L935-L937

[2021-06-18 08:57] jmarrec commented on #8822
This is explained in the I/O reference guide, but it's very easy to miss it...

Quoting, emphasis (bold) is mine:

https://bigladdersoftware.com/epx/docs/9-5/input-output-reference/output-table-summaryreports.html#standard-62.1-summary

[2021-06-18 09:09] swangdb commented on #8822
@jmarrec Thank you very much for the quick response to the issue, your solution works a treat! But I'm a bit confused why those two sizing calculations need to be enabled in order to see the Standard 62.1 Summary.

[2021-06-18 13:04] jmarrec commented on #8599
I finally figured it out I think...

the ASHRAE Handbook is being slightly inaccurate in the wording, and referring to Eq 5 applying to -100°C to 0°C and Eq 6 applying to 0°C to 200°C. Quoting:

of 0 to 200°C is given by

In fact, it is **not** 0°C, but the triple-point of water, which is 0.01°C. Evaluating the Eq 5 and 6 up to and from the triple-point is removing the discontinuity altogether.

!

[2021-06-18 14:21] jmarrec commented on #8828
@juancaoviedo manually change the timeout for now on this line: https://github.com/NREL/EnergyPlus/blob/5358d3eb87d1376b3484e1a38ade8274b01f0027/CMakeLists.txt#L274

This is in seconds, so set it to whatever, say 600 (10 minutes) and try again.

in context: https://github.com/NREL/EnergyPlus/blob/5358d3eb87d1376b3484e1a38ade8274b01f0027/CMakeLists.txt#L272-L278

[2021-06-18 14:50] rraustad commented on #8599
That's even better. Changing the transition so that there is no discontinuity should solve this.

[2021-06-18 14:50] jmarrec commented on #8502
Related to https://github.com/NREL/EnergyPlus/issues/8828

[2021-06-18 15:09] jmarrec commented on #8502
Here are some debug messages during the successive iterations. The Regula-Falsi-like Iterate() method computes a very small DY, hence why it blows up. But it recovers from it.

[code]

[2021-06-18 15:36] jmarrec commented on #8502
I'm not sure what to do here, but I don't think the PsyPsatFnTemp should throw warnings during iteration. If it's called directly with bad temperatures, sure, but here this is not affecting the end result.

We could also change the algorithm we use to solve (the Iterate() method) to use something like a bisect method.

[2021-06-18 15:39] jmarrec commented on #8599
FYI just like on #8502, the PsyPsatFnTemp function throws a warning during the iteration (the Iterate() method creates that... a bisect wouldn't). See detail of the iterations on https://github.com/NREL/EnergyPlus/issues/8502#issuecomment-864106296. I think it shouldn't do that.

[2021-06-18 23:14] rraustad commented on #8502
The secant method is extremely efficient. Far better than bisect because for a continuous function it will hit the target with only a few iterations, if that continuous function is relatively smooth (no inflections). The latent degradation model is an example of where secant method could easily fail on max iterations but not actually fail. I would think about a way to put off warnings until conver

[2021-06-21 08:24] jmarrec commented on #8669
@fubingting what OS/Version are you using? This package is specifically for an M1 mac.

[2021-06-21 08:29] fubingting commented on #8669
platform：aarch64

[2021-06-21 08:32] fubingting commented on #8669
platform：aarch64
os：centos8
Because you mentioned above
[code]

[2021-06-21 08:34] jmarrec commented on #8669
I assumed you were using an M1 mac incorrectly. The name of the installer mentions darwin-macos11.2-arm64 so I thought it was explicit that this would work on macOS only.

We do not have a centos aarch64 package no.

[2021-06-21 08:35] jmarrec commented on #8669
#8664 was merged, so you should try to compile it from source. https://github.com/NREL/EnergyPlus/wiki/Building-EnergyPlus

You'll need cmake and a C/CXX compiler, and that should pretty much be it as far as dependencies. I suggest a fortran compiler too so you can build the auxiliary programs such as ReadVarEso and ExpandObjects.

[2021-06-21 13:01] jmarrec commented on #8747
Adding a permalink: https://github.com/NREL/EnergyPlus/blob/c18d89d4f13f376998ffefb6d13668be0a964229/src/EnergyPlus/Autosizing/CoolingCapacitySizing.cc#L410-L430

[2021-06-21 13:03] jmarrec commented on #8827
https://github.com/NREL/EnergyPlus/blob/c18d89d4f13f376998ffefb6d13668be0a964229/src/EnergyPlus/SizingManager.cc#L2906-L2920

[2021-06-21 13:13] jmarrec commented on #8512
Same exact code in fortran: https://github.com/NREL/EnergyPlusArchive/blob/92ffc69755ab1ed2315a7a49a9b04fb000aecb25/SourceCode/DataZoneEquipment.f90#L1502-L1508

This is the commit that added it 9 years ago: https://github.com/NREL/EnergyPlusArchive/commit/e554cb750d688090042757999694495e161aec40. Never been touched since.

[2021-06-21 13:29] jmarrec commented on #8828
@juancaoviedo Add a new RUN command before building

[code]

Anyways, I'm going to close this one, the fact that your specific platform in a specific application times out shouldn't warrant changing the cmakelists.txt for everyone IMHO, especially when manually fixing it is easy.

[2021-06-21 13:29] #8828 closed, assigned to jmarrec

[2021-06-21 13:43] jmarrec commented on #8568
Is someone actively working on this one or should I?

[2021-06-21 13:47] mitchute commented on #8568
I am not. I wasn't able to duplicate it, though.

[2021-06-21 13:50] jmarrec commented on #8568
I think the primary issue is with github actions rather than locally. I do not want to dismiss @EnergyArchmage 's apparent problem, but it might be a fringe configuration issue on his machine. Hopefully investigation will fix both.

[2021-06-21 14:04] #8824 closed, assigned to jmarrec

[2021-06-21 14:18] rraustad commented on #8512
There was a discussion back then of whether or not this calculation should use the actual occupancy schedule value or the maximum zone occupancy.  I believe MaxOAVolFlowFlag was meant to trigger that decision.

[2021-06-21 14:20] EnergyArchmage commented on #8568
I wonder if it is related to newer version of MiKTeX behaving differently that what is specified in E+ docs.  That old version is not really available anymore and when setting up a new machine I used a newer MiKTex.  But I only have problems with I/O ref.

I also wonder about the huge numbers of warnings coming out of Latex, it doesn't feel like a finished effort.

[2021-06-21 18:41] Myoldmopar commented on #8816
Closed via #8819 unless I'm mistaken.

[2021-06-21 18:41] #8816 closed, assigned to nobody

[2021-06-21 18:51] #8700 closed, assigned to RKStrand

[2021-06-21 20:35] #8690 closed, assigned to jmarrec

[2021-06-21 20:57] #8586 closed, assigned to jmarrec

[2021-06-21 21:16] #8755 closed, assigned to matthew-larson

[2021-06-21 21:46] airallergy opened #8835 "Kiva calculations crash/segfault when the run period starts from 1st May"
Issue overview
--------------
If the run period is set to start from 1st May, EP will crash (from EP launch) or give a segfault (from cli) when including Kiva. A file for reproduction is [in.idf.txt](https://github.com/NREL/EnergyPlus/files/6689601/in.idf.txt), which is identical to the example file ZoneCoupledKivaSlab.idf, except for `Begin Month` in `RunPeriod` set to 5. This issue seems to only

[2021-06-21 23:15] #8547 closed, assigned to nobody

[2021-06-22 13:21] jmarrec commented on #8568
I've been hacking at this for the past day or so, and I think I've identified the problem:

* It works with MikTex 2.9
* It does not work with MikTex 4.1+
* It is due to the main memory size exceeded
* I will fix it in our cmake, but you can change your global settings already

in a cmd.exe
[code]

The file open, add this to it, then save

[code]

---

I think the default values are from C:\Progra

[2021-06-22 15:13] EnergyArchmage commented on #8568
Thanks @jmarrec !  I edited my texmfapp.ini and it worked!

[2021-06-22 15:32] #8687 closed, assigned to rraustad

[2021-06-22 18:15] #8568 closed, assigned to jmarrec

[2021-06-22 20:55] mitchute commented on #8815
This was addressed by #8818

[2021-06-22 20:55] #8815 closed, assigned to mitchute

[2021-06-22 21:15] jmarrec opened #8837 "Release workflows once again broken due to QtIFW: find more reliable option than aqtinstall"
Issue overview
--------------

Release workflows once again broken due to QtIFW: find more reliable option than `aqtinstall`. Every time qt upgrades their latest version, it breaks down.

Test release on my fork showing the failure: https://github.com/jmarrec/EnergyPlus/runs/2889068571?check_suite_focus=true

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating

[2021-06-22 22:05] #4306 closed

[2021-06-22 22:05] #6974 closed, assigned to nobody

[2021-06-22 22:05] #8277 closed, assigned to RKStrand

[2021-06-23 15:09] #8812 closed, assigned to matthew-larson

[2021-06-24 11:48] mitchute opened #8838 "Sqite error file is writing to the parent of the output directory"
Issue overview
--------------
The Sqlite error file is writing to the parent of the output directory, and the filename is munged with the output directory.

[code]

This is happening here:

https://github.com/NREL/EnergyPlus/blob/82e97f1c21b8e7dd30a4278a93ad22bd284a7eb7/src/EnergyPlus/CommandLineInterface.cc#L488-L494

I think it should just be using ```composePath()``` like all of the other files

[2021-06-24 14:01] juancaoviedo commented on #8828
Thank you very much @jmarrec, adding the new RUN command works perfectly!

[2021-06-24 16:37] mitchute opened #8840 "ReadVarsESO Fails when RVI and MVI missing"
Issue overview
--------------
EnergyPlus' calls to ReadVarsESO fail when user-defined rvi and mvi files are not present because the energyplus-generated rvi and mvi files contain quoted paths; however, ReadVars is expecting a non-quoted path.

The code here

https://github.com/NREL/EnergyPlus/blob/82e97f1c21b8e7dd30a4278a93ad22bd284a7eb7/src/EnergyPlus/CommandLineInterface.cc#L886-L887

and here

[2021-06-24 18:28] RKStrand commented on #8827
Has anyone looked to see if this is the only input field with this issue?  Are there more cases in the sizing routine that also need to be fixed (IDD and docs)?

[2021-06-24 19:35] Myoldmopar commented on #8837
I investigated this a bit and it's not broken because of an IFW version change, it's broken due to "4.1" no longer being a valid version string according to the Python semantic_version package.  The aqtinstall library doesn't pass the optional "partial" flag and so it fails to create a valid "Version" object.  I tested this locally by making it 4.1.0 and it got passed that error and started to ins

[2021-06-24 21:44] germolinal opened #8843 ""Could not find ReadVarsESO exectuable" does not seem to be reported to the Stderr"
Hi,

So, I was trying to call `EnergyPlus` from a Golang script and found an error, but there was no error message. Ultimately, the error was that `ReadVarsESO` could not be found. Is it possible that the `DisplayString` function reports to the `Stdout` instead of the `Stderr`? I tried to check that, but it seems to be a Fortran function... and I know nothing of that.

[code]
https://github.com/NR

[2021-06-24 22:49] mitchute commented on #8843
```DisplayString``` is here:

https://github.com/NREL/EnergyPlus/blob/1a131475d56bc6ff761569b794799287a3e0b581/src/EnergyPlus/DisplayRoutines.cc#L63-L103

And it is reporting to stdout, which I believe is appropriate in *this* instance. IDK, we sort of have a mixed bag of issues when it comes to our error reporting, and this is potentially opening a can of worms. Case in point, here: https://githu

[2021-06-24 23:00] germolinal commented on #8843
I see. No problem, then... although, perhaps, printing it to both the STDERR and STDOUT would help some people?

I sorted this out anyway, so feel free to close the issue if you feel like it.

[2021-06-25 08:11] swangdb commented on #8827
@jmarrec Thanks for listing the source code. Do you know if there is a reference used for this setting?

[2021-06-25 09:49] jmarrec commented on #8827
I'm curious to see what application do you have that uses below freezing air temperatures?

[2021-06-25 19:30] jcyuan2020 opened #8844 "Dividing by tiny values causing water thermal tank model failure and yielding negative energy usage results"
Issue overview
--------------
It was reported in a case that EnergyPlus got negative water heating related energy usage for unknown reasons.

The root cause is found to be in the water tank model, where a line of calculation code has a normal (double) float divided by a tiny double (float) which leads to a floating-point overflow:
https://github.com/NREL/EnergyPlus/blob/de239b2e5f504e381ef4f296893

[2021-06-25 19:37] mjwitte commented on #8827
@RKStrand This error message was added when the two supply air temperature methods were added. There was [no error](https://github.com/NREL/EnergyPlusArchive/blame/4bd5fe3be40c56e6024b3aab0189f88d5f3cd7a1/SourceCode/SizingManager.f90#L1209-L1210) prior to that.
My suggestion would be to change this to a warning, worded more like "... is negative, verify the input."

[2021-06-25 19:57] JasonGlazer opened #8845 "Add CI report of the annual energy change"
Issue overview
--------------
It is difficult to know the annual energy impact of changes using the current CI since it is a single number from diffs that show hundreds of numbers. It would be good to highlight the annual energy impact of changes in the CI in a separate report to understand if a change, especially one related to a performance improvement, that has many diffs has a meaningful impac

[2021-06-26 20:39] mjwitte opened #8846 "DataDaylighting::MaxRefPoints is obsolete"
Issue overview
--------------
Daylighting:Controls was extended a while back to allow more than two reference points, but `DataDaylighting::  constexpr int MaxRefPoints(2)` is still in use in several places.

Output:IlluminanceMap lists the reference points in the zone as part of the map title - this should be using` dataDaylightingData->ZoneDaylight(ZoneNum).TotalDaylRefPoints`
(This might change

[2021-06-28 13:12] jmarrec commented on #7975
Related: https://github.com/NREL/EnergyPlus/issues/6956

[2021-06-28 15:24] RKStrand commented on #8827
Will follow suggestion of @mjwitte
This appears to be a problem for both the heating and cooling supply air temperatures so those will be fixed.  All other inputs in this section relate to things that really should not be negative (flow rates, humidity ratios, etc.) and will be left as is.

[2021-06-28 16:50] jcyuan2020 opened #8847 "Microsoft Edge or Google Chrome web browser having problems in fully displaying HVAC schematics SVG files"
Issue overview
--------------
It was observed that when trying to use Microsoft Edge open the SVG files generated by HVAC-Diagram, most (actually nearly all) texts would be missing. For example as shown in the following figure:
![image](https://user-images.githubusercontent.com/64040111/123673032-9b7c9000-d805-11eb-91b5-a071576f38d7.png)

However, the display would be ok and the the texts would sh

[2021-06-29 03:17] rraustad opened #8849 "CoilSystem:Cooling:DX with Coil:Cooling:TwoSpeed does not control humidity"
Issue overview
--------------
Coil model does not correctly account for available speeds when calculating operating speed for humidity control.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list o

[2021-06-29 17:23] #8840 closed, assigned to mitchute

[2021-06-29 20:13] Weedwacker1 commented on #8487
Here, Here

[2021-06-29 20:56] Weedwacker1 opened #8851 "American Format Output for Code reviewers"
HTML output does not allow different units.  SQL language is Opaque.
--------------
Hello EnergyPlus team, as a former Energy Code reviewer in Washington DC, we had started to reject EnergyPlus as an acceptable submission from design teams for minimum code compliance because the typical reports provided from the HTML Table output had units which were not in digestible format.  While it is possible

[2021-06-30 17:26] DavidHollman opened #8853 "After running EnergyPlus from the C++ API, files are left open?"
Issue overview
--------------
After running EnergyPlus using the C++ API I find that the process still has several open file handles. The files being:

[code]

This is a problem because it prevents re-running the same simulation a second time without first terminating the entire application process. It also prevents any modification to these files (we add some indexes to the SQLite database for pe

[2021-06-30 17:45] Myoldmopar commented on #8853
@DaveInCaz I'm glad you are trying out the API.  I would _highly_ recommend going to a more recent version of EnergyPlus.  After an initial 9.3 release, the global state of EnergyPlus was refactored and quite a bit of the API was broken in 9.4 to allow for a running instance of EnergyPlus to be passed around as a payload.  Then in 9.5 the global refactor was completed to the point where we are ful

[2021-06-30 17:49] DavidHollman commented on #8853
@Myoldmopar thanks for the info & the example. I was kind of afraid you'd say that about 9.3... there are a variety of reasons we're still using that version (and also a number of reasons to update, including this one now). TBD, for the moment, what approach we take...

[2021-06-30 18:21] mwilsoncea opened #8854 "UtilityCost:Ratchet code doesn't match documentation"
The Input Ouput Reference for UtilityCost:Ratchet states if the Multiplier Value is left blank a value of 1 will be used:

"3.8.1.0.7 Field: Multiplier Value or Variable Name
Often the ratchet has a clause such as “the current month demand or 90% of the summer month
demand”. For this case a value of 0.9 would be entered here as the multiplier. This value may be left blank
if no multiplier is neede

[2021-06-30 19:49] RKStrand commented on #8780
@mitchute Question for you: both the EcoRoof and the Finite Difference Ground Temperature model use the variable BeamSolarRad.  In looking at the code, it seems like that variable is the amount of beam solar in the direction of solar radiation which would have to be modified by some sort of solar angle (cosine) to get the actual beam incident on the surface depending on the direction.  So, for the

[2021-06-30 20:50] mitchute commented on #8780
@RKStrand I suspect you're right. I haven't verified the differences between BeamSolarRad and SurfQRadSWOutIncidentBeam myself,  but it looks like BeamSolarRad is what is being used in the PlantPipingSystems: https://github.com/NREL/EnergyPlus/blob/ccad7ddb99134ce8d6901fea16232d35d5632a18/src/EnergyPlus/PlantPipingSystemsManager.cc#L5656

[2021-06-30 21:24] RKStrand commented on #8780
@mitchute Interesting...doing some more digging and it appears that in the surface heat balances and the surface ground heat exchanger there is some acknowledgment that a direction cosine has to be used.  In the surface ground heat exchanger, line 1303, there is a directional cosine that is multiplied by the beam solar radiation.  Beam solar (normal) is the radiation on a surface perpendicular to

[2021-06-30 22:25] lymereJ commented on #8851
@Weedwacker1 - The ASHRAE Standard 90.1 Performance Based Compliance Form published [here](https://www.energycodes.gov/software/ashrae-standard-901-performance-based-compliance-form) was created to tackle some of the issues that you mentioned. Have you given it a try?

[2021-07-01 02:54] #8837 closed, assigned to jmarrec

[2021-07-01 02:57] #8778 closed, assigned to jmarrec

[2021-07-01 15:56] lymereJ commented on #8851
@Weedwacker1 - Have you tried the [ASHRAE Standard 90.1 Performance Based Compliance Form](https://www.energycodes.gov/software/ashrae-standard-901-performance-based-compliance-form)?

[2021-07-01 20:06] Weedwacker1 commented on #8851
Cant say that I have.  I will have to check it out.

On Thu, Jul 1, 2021, 11:56 AM Jeremy L. ***@***.***> wrote:

[2021-07-01 21:13] matthew-larson opened #8859 "Automatic deep ground depth in Kiva not being set correctly"
Issue overview
--------------
There is a bug where the automatic deep ground depth for shallow water tables isn't getting set to 1m below the bottom of the foundation like it should. You can get around this in your file by explicitly defining the deep ground depth in Foundation:Kiva:Settings.  In the defect file, there are no "blocks", so the deep ground boundary is never adjusted.  Before going i

[2021-07-01 21:36] matthew-larson opened #8860 "Memory access error related to the daylighting controls in Debug mode"
Issue overview
--------------
When the defect file is run through the debugger, I get a memory access error related to the daylighting controls. The model has no windows so daylighting has no effect, but shouldn't result in a memory access error.  This error won't appear in the release version of EnergyPlus. If I remove the daylight control object everything runs through fine.

[Shoebox.zip](https

[2021-07-02 01:40] mitchute opened #8861 "Outside Surface Convection Adaptive Algorithms Can't Find UserDefined Curve"
Issue overview
--------------
SurfaceConvectionAlgorithm:Outside:AdaptiveModelSelections is searching for the UserCurve option from the inside convection algorithm list, not the external algorithm list.

The external algorithms call happens here:
https://github.com/NREL/EnergyPlus/blob/42846a95e03cabcc18ef22f9778ca58ae6468128/src/EnergyPlus/ConvectionCoefficients.cc#L1914

However, if you look at

[2021-07-02 08:08] ninenerd opened #8863 "Is there a python api for CurveFitTool.xlsm"
Issue overview
--------------
Hi, I came across the CurveFitTool.xlsm on energy plus. I am looking to calculate the capacity curve equation based on temperature and flow.

The spreadsheet uses ahu datasheet to make some initial tables and then some inputs.

Is there a python implementation of this ?
Also it may be obvious for there is another file IceStorageCurveFitTool.xlsm, is that also used for

[2021-07-02 08:20] ninenerd commented on #8863
[](url![ep](https://user-images.githubusercontent.com/65250478/124244096-3514ac00-db3c-11eb-9686-6bf71adfbfb0.JPG)
There are two set of values, one for HPCoolingCAPFFF and other HPCoolingEIRFFF .

How different are they ?
and which one should i use for capacity curve ?

[2021-07-02 10:46] bonnema commented on #8863
There is not Python code that ships with EnergyPlus that takes table data as input and generates a curve, if that's what you're asking.

There are examples of using curves in the Python plugin system. See C:\EnergyPlusV9-5-0\ExampleFiles\PythonPluginTestMathAndKill.py line 66.

The ice storage curve fit tool is for making curves for detailed ice storage models. The HVAC curve fit tool is best suit

[2021-07-02 13:37] Myoldmopar commented on #8863
@ninenerd for reference, we do actually have a plan to create a python-backed tool for helping generate inputs from manufacturer's data, hopefully not very far in the future.

[2021-07-02 14:06] ninenerd commented on #8863
@Myoldmopar @bonnema

Thanks for the inputs.

One more question, i was able to give input values using CurveFitTool.xlsm, as shown in 1st image here,

![ep2](https://user-images.githubusercontent.com/65250478/124286317-71f89700-db6c-11eb-9109-1c25b26bd846.JPG)
![ep3](https://user-images.githubusercontent.com/65250478/124286374-7fae1c80-db6c-11eb-91a6-a1fa183f65ca.JPG)

If you the equation :
Capaci

[2021-07-02 14:13] bonnema commented on #8863
For this curve, `x` is flow fraction, or the ratio of the actual air flow rate across the cooling coil to the rated air flow rate. In looking at your table data, the rated flow rate is 712 CFM. So the flow fraction for each of the performance data points is 800 / 712 = 1.124, 900 / 712 = 1.264, and so on. I would double-check your table data. It looks like the rated flow rate should be 900 CFM. Th

[2021-07-02 14:28] ninenerd commented on #8863
Appreciate the quick response @bonnema .

You are right the value 712 wrong, i manually put it.

So if i understand right,
1. **Rated Data** is what you get from manufacturer and that can be at any supply flow rate ?
2. When i clicked the options to test, **performance data** was already there, is that what i need to change ?
3. So basically how i want to use this tool is that, given the supply ai

[2021-07-02 14:39] bonnema commented on #8863
The tool only generates curves from tabular data (effectively a preprocessing step). The curves themselves could then be used in some fashion to dynamically calculate how capacity changes based on input conditions.

[2021-07-03 03:13] jcyuan2020 opened #8866 "HeatExchanger:AirToAir:SensibleAndLatent object nominal supply flow rate autosized with min fan flow rate"
Issue overview
--------------
It was reported that in a simulation case with an HeatExchanger:AirToAir:SenisbleAndLatent and an "autosize" setting for the Nominal Supply Airflow Rate for the heat exchanger, the nominal flow rate would be sized based on the min flow rate of the outdoor air controller In this case, however, it seems using min would usually be an inadequate choice—and maximum flow ra

[2021-07-03 14:16] jcyuan2020 opened #8867 "Facility Total Produced Electricity Rate (or Energy) of PVWatts generator showing excessively large numerical values"
Issue overview
--------------
It was reported in a case with PVWatts generator, the meter reporting values for the Facility Total Produced Electricity shows “infinity” values occasionally for some timesteps or hours, especially for the timesteps/hours near around daily generation peaks/highs.

This is a sign that the program has floating point overflow issues when generating these meter outputs. A

[2021-07-05 05:23] ninenerd commented on #8863
@bonnema After using the below equation,

[code]

the value it returns what is its unit , lets say it returns 1. Based on below image i.e input, what does that mean and if i want to convert it to tons, is that possible ?
![ep5](https://user-images.githubusercontent.com/65250478/124421476-2833ca80-dd7f-11eb-9ffd-7b396d2080d1.JPG)

[2021-07-05 14:16] RKStrand commented on #8783
@lgu1234 The situation described in this issue is that there are four identical zones except for one thing: there is mixing between two zones (both of these zones have their own identical mixing statements receiving air from the other zone in the mixing pair).  Two of the zones have no mixing.  When I look at the results, the CO2 levels for the zones without mixing are very close (differences in t

[2021-07-05 14:41] RKStrand commented on #8783
@lgu1234 A couple of extra things to note about this file.  The defect file itself has two time steps per hour.  Also, the mixing amount in the very high at over 70ACH.  When I decrease the mixing amount by ten to around 7-8ACH there is less lag in the CO2 level in the zones with mixing and less damping as well.    When I go to about 4ACH with 6 time steps per hour, the results are getting much cl

[2021-07-05 17:40] bonnema commented on #8863
The `CurveFitTool.xlsm` is an "auxiliary tool [that] generates HVAC performance curves in EnergyPlus curve object format." All it does is generate curves that can be directly inserted into an EnergyPlus input data file (IDF). I don't think it has other uses. Refer to the _INSTRUCTION_ tab in the file for more details.

In general, performance curves in E+ return fractional multipliers that determi

[2021-07-05 20:52] RKStrand commented on #8780
Taking this on to fix the three instances where the BeamSolarRad is not being used properly:

1. EcoRoofManager.cc line 247 (should multiply by direction cosine since this should be available since this is a surface like any other--do not need to assume that it is horizontal)
2. FiniteDifferenceGroundTemperatureModel.cc line 304  [should multiply by SOLCOS(3)]
3. PlantPipingSystemManager.cd line 5

[2021-07-06 15:25] JimDirkes opened #8869 "Ratchet tariff documentation is incorrect"
Issue overview
--------------
The E+ I/O Reference (v9.4 $& v9.5) says that 1.0 is the default value for the Multiplier field. Apparently, that's not true for v9.4. Initially, I left the field blank and results showed that the ratchet was not taking effect. After I manually entered 1.0, the ratchet works. Who knew?

### Details
 - Platform (Windows 10)
 - Version of EnergyPlus (9.4)
 - Unmethours

[2021-07-07 14:53] RKStrand commented on #8846
@mjwitte Interesting.  In the ...RefPoints routine above ...MapPoints, this seems like it was done correctly.  So, if I am understanding this, similar changes need to be made to ...MapPoints to bring it inline with ...RefPoints.  Is it fair to say that MaxRefPoints should be eliminated from the code then?

[2021-07-08 14:00] mjwitte commented on #8846
Not 100% certain, but `MaxRefPoints` can either be eliminated, or it should be set based on the maximum number of reference points in any given zone? Or is that already in a different variable?

[2021-07-08 14:06] RKStrand commented on #8846
I wasn't 100% clear in my last comment.  What I should have said was: MaxRefPoints should be replaced with the new variable (state.dataDaylightingData->ZoneDaylight(ZoneNum).TotalDaylRefPoints) that allows more than 2 points and then eventually once all of those happen MaxRefPoints can be removed from the code since it isn't used anymore.

[2021-07-08 14:14] amirroth commented on #8846
Thanks. We are beginning a pass to convert some of the ObjexxFCL Arrays whose sizes are known at compile time (i.e., `constexpr int`) to `std::array`. Arrays with `MaxRefPoint` dimensions were on the docket, but I will remove them now.

[2021-07-08 14:16] RKStrand commented on #8846
Correction...I think the variable in this routine is actually:

state.dataDaylightingData->IllumMapCalc(MapNum).TotalMapRefPoints

But I'll double check that as I work on this...

[2021-07-08 18:24] DavidHollman commented on #8853
@Myoldmopar  I can confirm that with 9.5 the open file issue no longer occurs. Other than making updates needed for the revised API I ran it exactly the same way.

[2021-07-08 18:24] #8853 closed, assigned to nobody

[2021-07-09 01:04] mjwitte commented on #7632
Closed via #8738

[2021-07-09 01:04] #7632 closed, assigned to nobody

[2021-07-09 14:57] Nigusse opened #8877 "Detailed water cooling coil sizing problem when used in Unitary System placed on condenser loop"
Issue overview
--------------
Testing shows that the detailed water cooling coil in UnitarySystem connected to condenser loop has air flow sizing problem. The design air vol flow rate is sized to zero which leads other detailed coil sizing parameters to zero. See error message below:

[code]

Also note the first line of the warning message says Coil:Cooling:Water, instead of  Coil:Cooling:Water:De

[2021-07-12 15:07] mjwitte opened #8880 "HVACTemplate:System:ConstantVolume errors"
Issue overview
--------------
Issues found in ExpandObjects while testing the new pyExpandObjects.

- [x] HVACTemplate:Zone:ConstantVolume with Electric or Gas reheat coil fails with cryptic parsing error because the AirTerminal:SingleDuct:ConstantVolume:Reheat contains too many fields.
[ConstantVolume-Zone-reheat_coil_type_electric.idf.txt](https://github.com/NREL/EnergyPlus/files/6802387/Constan

[2021-07-12 16:46] msfer86 opened #8881 "Adaptive Convection Algorithm"
Issue overview
--------------
Some results (HVAC ideal air loads, surface heat transfer, etc.) for a simple parallelepiped building (without windows) were obtained using the '**Surface Convection Algorithm Outside** = AdaptiveConvectionAlgorithm' with the following '**Surface Convection Algorithm Outside Adaptive Model Selections**' object options: TARPWindward (wind convection windward vertical w

[2021-07-12 16:56] mitchute commented on #8881
Unknown, but [here's a related issue](https://github.com/NREL/EnergyPlus/issues/8861) for the outside adaptive convection algorithms that I'm working on. I'll be reworking some of the internals of these convection algorithms in the near future, so I'll investigate.

[2021-07-12 17:26] RKStrand commented on #8814
This item was posted on Slack for comment.  The proposed solution was to delete this field from the object.  The only feedback received was supportive of that approach and that is the path that was taken.  Changes are required to the code, hundreds of input files, the transition and expand objects programs, and the documentation.

[2021-07-12 18:34] EnergyArchmage opened #8882 "Integration test file ASHRAE9012016_Hospital_Denver problem with hard size of zone exhaust and outdoor air ventilation"
Issue overview
--------------
The integration test file ASHRAE9012016_Hospital_Denver has two zones with exhaust fans with airflow rates that exceed the outdoor air requirements for the zone.  This causes problems in modeling make up air and return air flows in the central air handler.  The file is often an outlier in integration testing outcomes and this issue is a likely cause.

A custom warning

[2021-07-12 18:35] EnergyArchmage commented on #8882
@JasonGlazer  I wanted to point this out during 10x call today.  I suspect it is why that file is an outlier in testing.

[2021-07-12 18:38] mjwitte commented on #8882
Note that these files are getting updated in #8686. I have not looked to see if this issue is addressed there.

[2021-07-12 18:54] JasonGlazer commented on #8882
Very interesting @EnergyArchmage. So we randomly picked a poor file to do the 10x testing.

[2021-07-12 20:14] EnergyArchmage commented on #8882
I just ran the new version of the file from #8686 with my custom e+ and get the same error message.  The kitchen zone is severely starved and the air loop serving it is going to operate erratically.

[2021-07-13 03:08] rraustad opened #8883 "AirloopHVAC:UnitarySystem does not control humidity with Coil:Cooling:DX:VariableSpeed when more than 1 speed is used"
Issue overview
--------------
Unit testing showed error when controlling to a humidity ratio set point. The VS coil would not increase compressor speed to meet the humidity ratio set point.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk t

[2021-07-13 04:38] lymereJ commented on #8882
@EnergyArchmage - Would you mind sharing the name of the branch that you are using to generate these warnings?

[2021-07-13 13:22] EnergyArchmage commented on #8882
Sorry, it isn't a public repo.  I'll see if client wants to contribute that bit of code.

[2021-07-13 13:34] EnergyArchmage opened #8885 "ZoneHVAC:LowTemperatureRadiant:VariableFlow input processing problem for cooling only configuration"
Issue overview
--------------

There is a code mistake here
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/LowTempRadiantSystem.cc#L834

` lAlphaBlanks(6) || lAlphaBlanks(7)   `

should be

` lAlphaBlanks(8) || lAlphaBlanks(9) `

This causes cooling-only radiant files throw severe error when they should not.  Code changed a lot from 9.4 to 9.5. It looks like a copy/paste error from

[2021-07-13 14:41] RKStrand commented on #8846
Wow...adding an additional reference point actually causes a hard crash. 😳  Amazing that no one has run into this yet.

[2021-07-13 14:52] mjwitte commented on #8846
You mean >2 reference points in a zone with an illuminance map? Or >2 reference points, even without the map?

[2021-07-13 15:00] RKStrand commented on #8846
With an Illuminance map--I haven't tried to take out the illuminance map to see if it still happens.  In Daylighting:Controls, I added a third reference point.  As soon as I did that, I got a hard crash at line 9988 in ReportIllumMap of DaylightingManager.cc.  I was expecting it, because it is still using MaxRefPoints to allocate an array. However, the total reference points now exceeds 2 because

[2021-07-14 16:25] RKStrand commented on #8885
Added an input file that verifies the description above.  With develop, the severe error shows up.  With the corrections to the code, the error goes away as it should.

[2021-07-15 14:01] RKStrand commented on #8844
@jcyuan2020 Is there an input file that demonstrates this problem?  Or a specific line in the code where you see this happen?

[2021-07-15 14:12] RKStrand commented on #8867
@jcyuan2020 Is there an example file that demonstrates this problem?  The issue will be easier to address if there is an example file the shows this behavior.

[2021-07-15 14:16] jcyuan2020 commented on #8844
@RKStrand Yes, we have both. The defect idf file is to be uploaded to the developer repo soon. And the code line that gets the problem is here:
https://github.com/NREL/EnergyPlus/blob/de239b2e5f504e381ef4f296893ef93ce5410215/src/EnergyPlus/WaterThermalTanks.cc#L7240
And before that, the tiny value of `b` (and `a`) was obtained at the following code lines:
https://github.com/NREL/EnergyPlus/blob/de

[2021-07-15 14:29] jcyuan2020 commented on #8867
@RKStrand Yes, we will get uploaded or send it to your email soon.

[2021-07-15 23:33] #8838 closed, assigned to mitchute

[2021-07-16 10:48] #8861 closed, assigned to mitchute

[2021-07-16 11:21] #8776 closed, assigned to RKStrand

[2021-07-16 11:43] #8496 closed, assigned to nobody

[2021-07-16 11:43] #8722 closed, assigned to jmarrec

[2021-07-16 13:10] #8814 closed, assigned to RKStrand

[2021-07-16 14:02] #8780 closed, assigned to RKStrand

[2021-07-16 14:44] RKStrand opened #8893 "Convert Various Array1D<Real64>(3) to Vector3<Real64>"
Issue overview
--------------
In a fix to an issue with the application of solar beam radiation to various models in EnergyPlus (see the PR: https://github.com/NREL/EnergyPlus/pull/8871), it was identified that SOLCOS was an example of a Array1D<Real64>(3) that should be converted to a Vector3<Real64>.  There are likely many others in the code.  @amirroth requested that this issue be created so th

[2021-07-16 21:52] RKStrand commented on #8867
@jcyuan2020 I am looking at the file that you provided and have run it with the Sacramento 724835 (TMY2) weather file.  I am looking at hourly data for Whole Building:Facility Total Produced Electricity Rate [W](Hourly).  I get a maximum of roughly 109 kW.  The DC capacity set in the input is 132 kW.  Are you running a different weather file or am I not understanding what you are seeing?

[2021-07-16 22:04] #8751 closed, assigned to nobody

[2021-07-16 22:04] #8761 closed, assigned to nobody

[2021-07-16 22:04] #8849 closed, assigned to nobody

[2021-07-16 22:04] #8883 closed, assigned to nobody

[2021-07-16 22:06] jcyuan2020 commented on #8867
@RKStrand I used the SACRAMENTO-EXECUTIVE_724830_CZ2010.epw weather file that the user sent in.

Here is what it looks like in the CSV---I sorted the last column `Whole Building:Facility Total Produced Electricity Rate [W](Hourly)` from high to low values, and there are about 100 lines out of the 8760 hours total that shows these `e^308` values:
![image](https://user-images.githubusercontent.com/6

[2021-07-16 23:28] rraustad opened #8894 "CoilSystem to UnitarySystem followup"
Issue overview
--------------
Several changes to UnitarySystem were recently made to reduce the number of CI diffs during this transition. These changes are primarily highlighted with "CoilSystem:Cooling:DX" comments or evaluated using this->sysType == or != SysType::CoilSystemCoolingDX. The coil system model did things slightly different than UnitarySystem hence the need for these changes to iden

[2021-07-17 03:54] #8885 closed, assigned to RKStrand

[2021-07-18 13:52] Myoldmopar opened #8895 "Contaminant Resilience Hourly Reporting Defect"
Issue overview
--------------
@jcyuan2020 identified an issue with the reporting of contaminant level hours while reviewing #8870.  The discussion is here: https://github.com/NREL/EnergyPlus/pull/8870#pullrequestreview-708948591.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, inclu

[2021-07-18 13:52] #8783 closed, assigned to RKStrand

[2021-07-18 14:10] #8827 closed, assigned to RKStrand

[2021-07-18 14:19] Myoldmopar commented on #8846
@mjwitte do you still have the defect file lying around?  I don't see it here or on DevSupport.  I can obviously build my own from your description but if you have it handy...

[2021-07-19 13:45] jcyuan2020 opened #8896 "RDD file generated but having empty contents"
Issue overview
--------------
It was found that in a simulation the RDD file was created but no items were written in .RDD file, like this: one:

![image](https://user-images.githubusercontent.com/64040111/126168956-f458712f-37e9-426a-bd77-69f2eda3e0cd.png)

The simulation was completed successfully and results were obtained without problems though. The RDD file was still empty after repeating the

[2021-07-19 15:35] RKStrand commented on #8867
@jcyuan2020 Ok, I am seeing what you are seeing now.  Very strange but I am looking at it now.

[2021-07-19 17:31] jcyuan2020 opened #8897 "Coil:Cooling:DX:CurveFit:OperatingMode condenser airflow rate sizing report issue in EIO"
Issue overview
--------------
It was observed that there might be some inconsistent (or confusing) behavior regarding what .EIO file reports about regarding the Coil:Coiling:DX sizing. Using the UnitarySystem_DXCoilSystemAuto.idf example test file, the following three different scenarios were observed:

Test 1: leave blank (no number, no zero). The EIO has:
The EIO will report, only the user speci

[2021-07-19 22:28] DavidGoldwasser opened #8900 "PhaseChangeHysteresis documentation"
Issue overview
--------------
The input output reference text for Peak Freezing Temperature field says that it should be higher than the peak melting temperature field. This is also reflected in the example object shown below the field descriptions
https://energyplus.net/sites/all/modules/custom/nrel_custom/pdfs/pdfs_v9.5.0/InputOutputReference.pdf

1.9.9.1.13 Field: Peak Freezing Temperature
This

[2021-07-19 22:47] mitchute opened #8902 "Documentation 2021b"
Issue overview
--------------
A place to collect requested documentation fixes. Add a new comment to the issue with new doc-change-only issues. Someone will eventually fix them all up at the same time once critical mass has been reached.

[2021-07-19 22:49] mitchute commented on #8902
- [x] PhaseChangeHysteresis #8900
- [x] Rachet Tariff #8854
- [x] UtilityCost:Ratchet #8854
- [x] Surface outside face outdoor wind direction #8804

[2021-07-19 23:15] shorowit commented on #8902
- [x] Some confusion about whether multiple air loops are allowed in EnergyPlus due to the language in [ZoneHVAC:AirDistributionUnit](https://bigladdersoftware.com/epx/docs/9-5/input-output-reference/group-zone-equipment.html#zonehvacairdistributionunit): "therefore only one is allowed per zone". See [this Unmet Hours post](https://unmethours.com/question/56841/can-one-zone-have-multiple-air-distr

[2021-07-20 00:16] mjwitte commented on #8900
Hmm, I think this has been addressed as part of a recent doc PR. @RKStrand do you remember this?

[2021-07-20 12:23] RKStrand commented on #8900
Here is the new text that is currently in develop:

1.9.9.1.13 Field: Peak Freezing Temperature
This is the center (peak) of the freezing curve, in Celsius. This will generally be lower than
the peak melting temperature based on empirical data. Note, however, that EnergyPlus does allow
users to specify a peak freezing temperature that is higher than the peak melting temperature.

BUT for some reas

[2021-07-20 16:20] RKStrand commented on #8900
Ok, I've incorporated this very minor change to the IDF example in the IORef into something else I was currently working on.  This should be taken care of when PR#8889 gets accepted/merged.

[2021-07-20 16:22] amirroth opened #8903 "Transition "Default" FluidProperties Arrays"
Issue overview
--------------
Just something I noticed while looking at FluidProperties caching. The various default fluid properties arrays, e.g., `DefaultWaterViscData`, `DefaultEthGlyCpData`, etc. from `static Array1D<Real64>(DefaultNumGlyTemps) const` and `static Array2D<Real64>(DefaultNumGlyTemps, DefaultNumGlyConcs) const` to `constexpr std::array<Real64, DefaultNumGlyTemps>` and `static std

[2021-07-20 17:26] lymereJ commented on #8882
@EnergyArchmage - Thanks for sharing the branch that you are using to generate this new warning messages!

I took a look at the code changes and at the model. It appears that, for this particular file, what the warning shows will never occur because the kitchen exhaust fan is off between midnight and 7am.

The code in the PR shows that its retrieving the minimum value of the schedule used to repre

[2021-07-20 18:19] bonnema opened #8904 "EMS/Python Outdoor Air System Node Wetbulb Temperature Actuator Not Working"
Issue overview
--------------
Spurred by [this](https://unmethours.com/question/54275/api-python-examples-of-data-transfer-in-energyplus/#54308) unmet hours issue. Attempted to write a "simpler" Python plugin program that set the outdoor air conditions for guidance. The "simpler" program appears to actuate the outdoor dry bulb temperature correctly, but not the wet bulb temperature.

To reproduce:

[2021-07-20 18:22] bonnema commented on #8904
Defect [IDF](https://github.com/NREL/EnergyPlus/files/6850450/in.idf.txt) and [Python](https://github.com/NREL/EnergyPlus/files/6850451/in.py.txt) file. [EPW](https://github.com/NREL/EnergyPlus/files/6850454/in.epw.txt) for convenience.

[2021-07-20 19:32] msfer86 commented on #8881
@mitchute
After further testing, it seems the difference lies in the surface perimeter calculation. This perimeter value is used in the forced convection coefficient correlation in the TARP algorithm (Sparrow): https://bigladdersoftware.com/epx/docs/9-5/engineering-reference/outside-surface-heat-balance.html#tarp-algorithm-000

- For the TARP algorithm (in SurfaceConvectionAlgorithm:Outside), the

[2021-07-21 02:12] amirroth opened #8907 "Move to Case-Sensitive Comparisons within EnergyPlus"
Issue overview
--------------
EnergyPlus IDF is case insensitive. In hindsight, this was a mistake, but it will be a painful one to correct at this point. However, it would be good to move to cheaper case sensitive comparisons and searches within EnergyPlus itself. The way to do this is to double up on enumerated value and object names, with `Name` in mixed case and `NameUC` in upper-case.

For an

[2021-07-21 02:35] jasondegraw commented on #8907
I suggest we go with `name` instead so we can eventually get to having all the member variables starting with lower case letters and it'd be a clean break from the past. If we're going to consider an object-oriented approach here, can we at least consider an object-oriented approach to the state object?

[2021-07-21 03:12] amirroth commented on #8907
I’m just trying to get rid of unnecessary templating and code duplication, but … sure.

[2021-07-21 13:29] amirroth opened #8908 "Eliminate uses of ObjexxFCL ArrayX arithmetic operators"
Issue overview
--------------
Eliminate use of Array[1-5]D +=, -=, *=, and /= operators and eliminate those operators from the ObjexxFCL template hierarchy. This is less of an issue now that we are using EPVector, which is a much smaller template, for many objects. However, we should still not use these. Loops work.

### Details
Some additional details for this issue (if relevant):
 - Platform (Op

[2021-07-21 14:04] Myoldmopar commented on #8412
@nmerket I'm going to assign this to you in Pivotal as well so it shows up properly assigned on the iteration calls.

[2021-07-21 19:52] shorowit opened #8909 "No energy use for ElectricEquipment object referencing Schedule:File"
Issue overview
--------------
See attached E+ IDF where the "res hot water recirc pump" ElectricEquipment object ends up with zero energy use:

![image](https://user-images.githubusercontent.com/5861765/126550559-6fad338b-68ff-4f83-9441-857b65d2b34c.png)

Test files:
[files.zip](https://github.com/NREL/EnergyPlus/files/6858420/files.zip)

Interestingly, I took just the ElectricEquipment & Schedule

[2021-07-21 20:49] bonnema commented on #8904
Appears to be an issue with traditional EMS as well.
[code]
[IDF](https://github.com/NREL/EnergyPlus/files/6858723/ems.idf.txt) attached. Strange the results are different (see below). Not sure how the wet-bulb temperature is being determined.
[code]

[2021-07-21 21:25] mjwitte commented on #8904
@bonnema If I remember correctly, the EMS overrides for outdoor air nodes were added to support the *:LocalEnvironment objects which use outdoor air nodes to place modified outdoor conditions at a zone or surface.

These actuators aren't touching the normal system node variables, but [special ones](https://github.com/NREL/EnergyPlus/blob/0295c89327d9a0cb80a65eb9d663b25d5609b1f3/src/EnergyPlus/Data

[2021-07-21 21:34] bonnema commented on #8904
"[These actuators are available for all system nodes that are listed in either an OutdoorAir:Node or OutdoorAir:NodeList input object.](https://bigladdersoftware.com/epx/docs/9-5/ems-application-guide/hvac-systems-001.html#outdoor-air-system-node-conditions)" makes it seem like it works for any OA nodes. The dry bulb seems to work. Maybe this is fixed via documentation? Or the actuator is changed

[2021-07-21 21:40] mjwitte commented on #8904
I think we should add a humidity ratio actuator, and also fix the wetbulb actuator to work for any node. My guess is that code in `SetOANodeValues` was slowing things down and the quick fix was to skip it with and if on `IsLocalNode`. Some rewriting here can keep it efficient if there is no wetbulb override.

[2021-07-22 00:07] amirroth opened #8910 "Eliminate ShowContinueError"
Issue overview
--------------
What is the point of using separate calls to `ShowContinueError` rather than passing a single line with embedded returns to `ShowWarning`, `ShowSevereError`, etc.? To get that "*** ~~~ ***" at the start? That is fairly silly. We should change `ShowWarning`, `ShowSevereError`, etc. to take a vector of strings. Or if you don't want that, you can break up a single string

[2021-07-22 13:40] EnergyArchmage commented on #8904
my guess is that it got broken during LocalEnvironment rewrite.  I remember the HVAC OA inlet node was the main reason I added this. And the call to PsyWFnTdbTwbPb was part of it.

[2021-07-22 13:58] amirroth opened #8911 "Modernize Daylighting Arrays"
Issue overview
--------------
Daylighting array names should be expanded from cryptographic hashes like `CPHSUNHR`, `EINTSK`, and `FLCWSU` to `SunAltitudeCosHourly`, `LumInterReflSky`, and `SunLumFluxCeiling` or some such. I could look up what these things mean in the .hh file or (maybe) in the Engineering Reference, but ... why should I have to?

Also, all of these arrays have compile time consta

[2021-07-22 15:22] nealkruis opened #8914 "Output ground temperature data from Kiva instances"
Currently the only output related to Kiva foundations are the aggregated surface output variables available for all opaque surfaces. Users would like to know more about what is happening within the two-dimensional domain of the ground. Adding support in EnergyPlus to export this data to a file would allow users to generate plots of ground temperatures (and possibly heat fluxes) similar to the "[Ou

[2021-07-22 22:21] bonnema opened #8915 "Facility Electricity Output Variable not aligned with EMS Sensor"
Issue overview
--------------
The value of the `Facility Total Purchased Electricity Energy` output variable does not always align with an EMS sensor using the same `Output:Variable`. To reproduce:

1. Start with `5ZoneAirCooled.idf` EnergyPlus example file (`C:\EnergyPlusV9-5-0\ExampleFiles\5ZoneAirCooled.idf`).
2. Comment out all existing `Output:Variable` objects (not necessary, but convenient)

[2021-07-23 00:52] amirroth opened #8916 "Modernize WindowManager local arrays"
Issue overview
--------------
Okay, this is more than a pet peeve, it's an actual performance problem. It's one thing to use `Array[1-5]D` when you can use a `std::array`. It's quite another to do this for function local variables. The `WindowManager` module is chock-full of these things and the `Array[1-5]D`'s have to get constructed/heap-allocated and freed on every function call. We cannot make

[2021-07-23 00:58] amirroth opened #8917 "Choose one implementation of LU decomp/backsub for WindowManager"
Issue overview
--------------
The WindowManager module has two identical (as far as I can tell, both copied from Numerical Recipes in FORTRAN) implementations of LU decomposition/backsubstitution: `LUDCMP`/`LUBKSB` and `LUdecomposition`/`LUsolution`. That feels like one too many. At least.

### Checklist
 - [ ] Pull request created (the pull request will have additional tasks related to reviewing

[2021-07-23 02:02] EnergyArchmage commented on #8915
I think the sensor is at HVAC System timestep, and the test program is at zone timestep.  So it samples the last system timestep.  The calling point needs to be within the system timestep.

[2021-07-23 02:28] bonnema commented on #8915
🥇 for @EnergyArchmage. Setting the calling point to `EndOfSystemTimestepBeforeHVACReporting` and the `EnergyManagementSystem:OutputVariable` update frequency to `SystemTimestep` fixed it.
[code]
Interesting that `EndOfSystemTimestepAfterHVACReporting` gave inconsistencies, but different than before. 🤦‍♂️. Sorry everyone.

[2021-07-23 02:28] #8915 closed, assigned to mjwitte, EnergyArchmage

[2021-07-23 03:30] bonnema commented on #8915
What is a good way to update the docs to help with this? I chose `ZoneTimestep` for the update frequency because the [I/O ref](https://bigladdersoftware.com/epx/docs/9-5/input-output-reference/group-energy-management-system-ems.html#field-update-frequency) (to me) implies use zone timestep unless related to HVAC. Is it correct to use system timestep for all "whole building" meter-like output varia

[2021-07-23 11:59] mjwitte commented on #8915
The update frequency for every output variable is listed in the RDD. (And for meters in the MDD, but meters are all zone, and appear to have their own issues.)

[2021-07-23 13:22] bonnema commented on #8915
I see. It's the comment in `Output:Variable,*,Facility Total Purchased Electricity Energy,hourly;` _**HVAC** Sum [J]_ from the RDD.

To confirm the issue with meters, I ran a test with the sensor changed to the `Electricity:Facility` meter. I could not get agreement between the EMS output variable and the `Output:Meter` the for either:
1. Calling point `EndOfZoneTimestepBeforeZoneReporting` and EM

[2021-07-23 13:27] EnergyArchmage commented on #8915
Meters are HVAC system timestep.  the HVAC equipment uses energy and runs at the system timestep. I would not expect either of those 1. and 2. to work.

[2021-07-23 13:44] bonnema commented on #8915
Sorry, `EndOfSystemTimestepAfterHVACReporting` doesn't work either.

[2021-07-23 14:47] EnergyArchmage commented on #8915
oh you switched from Output:Variable to Output:Meter.  yeah meters rarely work well in EMS.  best to find the Output:Variable with the same info as the meter.

[2021-07-26 04:59] jcyuan2020 opened #8919 "EnergyPlus crash when having unused constructions and conduction finite difference algorithms"
Issue overview
--------------
It was reported that while running an up-converted v9.5 idf, the program that uses conduction finite difference algorithms would crash. However, the original v9.1 file the program runs fine.

An investigation reveals that the root cause for the crash is the "unused" construction surfaces in IDF files. EnergyPlus would not proceed to get a non-zero time finite differen

[2021-07-26 14:08] RKStrand commented on #8919
@jcyuan2020 Just checking--are you working on this or can I take this on?  Thanks!

[2021-07-26 14:31] #8822 closed, assigned to jmarrec

[2021-07-26 14:56] RKStrand commented on #8919
@jcyuan2020 Also, do you have a sample idf that shows the crash?  I took a file from the test suite that uses Conduction Finite Difference, added an unused construction, and ran it.  It didn't crash so I'm wondering if there are some more specific conditions that cause the crash that the user noted.

[2021-07-26 15:26] mitchute commented on #7500
There's a PR open over on the other private repo that addresses this. @Myoldmopar @nllong can either of you review that when you get a chance?

[2021-07-26 15:28] shorowit commented on #5435
The above PR was merged, which suggests this was addressed. Please reopen if I am mistaken.

[2021-07-26 15:28] #5435 closed, assigned to JasonGlazer

[2021-07-26 15:29] shorowit commented on #6558
As far as I can tell there has been no progress (sorry, bad pun) on this, removing the InProgress label.

[2021-07-26 15:30] shorowit commented on #6535
There is an NFP for this but no further progress as far as I can tell. Removing the InProgress label.

[2021-07-26 15:32] jcyuan2020 commented on #8919
@RKStrand Please feel free to go head with the fix, and the defect case files are sent to your email.
I am not sure if the generalization applies to all the cases with some extra unused construction. But for this particular case, the following lines are related to the problem:

https://github.com/NREL/EnergyPlus/blob/2955d1ccfa97d6040981848d839116871f690986/src/EnergyPlus/HeatBalFiniteDiffManager.

[2021-07-26 15:32] Myoldmopar commented on #6558
I wonder who the audience is here?

If it is people who are staring at the console, how is the percent output much better than just watching the shadowing dates go by?

If it is for interfaces, clients can call the new API and easily get progress status to provide a really nice visualization of the simulation completion.

[2021-07-26 15:34] RKStrand commented on #8919
Thanks, @jcyuan2020!

[2021-07-26 15:35] JasonGlazer commented on #5435
@shorowit I think you are right.

[2021-07-26 15:43] shorowit commented on #6558
It's pretty weird to get more (or less) frequent progress updates simply because you changed the `Shading Calculation Update Frequency` or changed `Shading Calculation Update Frequency Method` from "Periodic" to "Timestep". In the latter example, that could be an excessive amount of output. It sure seems to me that the progress update should be decoupled from the choice of shadowing calculation in

[2021-07-26 15:50] shorowit commented on #6943
Same request as https://github.com/NREL/EnergyPlus/issues/6692?

[2021-07-26 15:51] bonnema commented on #7500
let me know if I can help

[2021-07-26 15:57] jcyuan2020 opened #8920 "One weather file location listed under a neighboring state"
Issue overview
--------------
A user reported that the weather file for Rhinelander-Oneida County AP 727415 (TMY3) is listed under the state of Michigan. However, this county/city is actually located in Wisconsin:

![image](https://user-images.githubusercontent.com/64040111/127020167-0c218bdc-f01b-4fde-bd60-ad864fd77351.png)

### Details
Some additional details for this issue (if relevant):
 - Pla

[2021-07-26 15:59] mitchute commented on #8920
See here: https://github.com/NREL/EnergyPlus/issues/7500

[2021-07-26 16:25] nllong commented on #7500
I just reviewed and merged. I think @kflemin (which isn't part of this repo) needs to deploy the updated weather. Unless we always pull from github...

[2021-07-26 16:29] mitchute commented on #7500
Thanks, @nllong. We can hold this open for now and check back later for that final update. This and https://github.com/NREL/EnergyPlus/issues/8920 should be able to close after that.

[2021-07-26 16:49] jasondegraw commented on #6558
This was on the list of things that was supposed to get done in FY20. I'd guess it was to be part of one of the refactoring efforts. In any case I agree with @shorowit that the current situation is suboptimal.

[2021-07-26 17:12] jcyuan2020 commented on #8902
- [x] Location of the `Connector:Mixer` and `Connector:Splitter` documentation in InputOutputReference.idf is currently still under the `Plant-Condenser Flow Control` group:

![image](https://user-images.githubusercontent.com/64040111/127029721-0c26cb63-0c67-46d9-a93c-9181ada9a27a.png)

These should be moved to the `Node and Branch Management` group and near the `ConnectorList` section (Sec 1.20.4

[2021-07-26 18:19] Myoldmopar commented on #6558
The FY20 item verbatim:

It was explicitly to formalize the progress updates for interfaces when using EnergyPlus _as a library_.  After discussion with multiple interface developers, they are very happy with the implementation of the API and the new workflows it is opening up.  I don't mind adding some functionality to improve the output, but we shouldn't say this is something that "was supposed

[2021-07-26 19:02] j-c-cook commented on #6561
This issue is related to [Issue 6651](https://github.com/NREL/EnergyPlus/issues/6651). A [related PR](https://github.com/NREL/EnergyPlus/pull/8708) seeks to provide EnergyPlus with enhanced g-function calculation (both more accurate and faster).

_Auto-sizing_ a GSHP may need to include both selection and sizing of a field. The following is a proposed new input that would be required:

- Acceptabl

[2021-07-26 19:05] j-c-cook commented on #6651
The goal of [PR 8708](https://github.com/NREL/EnergyPlus/pull/8708) is to provide EnergyPlus with a faster and more accurate g-function calculation method.

[Issue 6561](https://github.com/NREL/EnergyPlus/issues/6561) is an open issue for enhanced GHE design.

[2021-07-26 19:09] jasondegraw commented on #6558
I was merely responding as to why I marked as in progress. If it was on the list I had in July 2019 and then should not have been in October 2019, well, it was quite literally _no longer my job any more_. Geez.

[2021-07-26 21:06] eringold opened #8921 "SQL file report for Output:Table:Monthly ColumnName field missing closing curly brace"
Issue overview
------------
@JasonGlazer
Minor issue -
The following Output:Table:Monthly with 'Maximum' aggregation type will produce a table in the HTML output report with the first column header "ELECTRICITY:FACILITY {Maximum}[W]", but in the sql file the ColumnName for that field is missing the closing curly brace "ELECTRICITY:FACILITY {Maximum".

[code]

![image](https://user-images.githubuse

[2021-07-26 21:35] matthew-larson commented on #8730
@rraustad I'm happy to jump on this unless you or someone else were planning on taking care of it.

[2021-07-26 23:57] rraustad commented on #8730
Go right ahead. These changes corrected this issue in a 3rd party version of E+.

[2021-07-27 15:09] RKStrand commented on #8867
The bug is in the ElectricLoadCenter:Storage:Simple which divides by the energetic efficiency for charging.  The user input file entered a value of zero so when it divided by this, it gets a NaN value.  When the zero value is altered, reasonable results are returned.  The problem is really that a zero value should not be allowed but the IDD does allow for it.  I will fix that for both the charging

[2021-07-27 16:54] jmarrec commented on #8909
@shorowit I took your testfiles.zip, extracted it. I edited the in.idf to point to `schedules.csv` instead of `C:/git/resstock/test/test_samples_osw/run0/generated_files/schedules.csv`. Ran with 9.5.0

![image](https://user-images.githubusercontent.com/5479063/127195690-a7bf8c3c-ea9b-4673-bdc6-033b1755fa24.png)

Am I misunderstanding something?

[2021-07-27 16:58] jmarrec commented on #8909
double checking the value. Note that in Python I select column 13 because it's 0-indexed, to get the "showers" column.

[code]

IDF extract

[code]

[2021-07-27 18:05] shorowit commented on #8909
Ah, shoot, sorry for the waste of time here. It turns out that I was looking at the wrong csv file. 🤦‍♂️ Indeed EnergyPlus is working as expected.

[2021-07-27 18:05] #8909 closed, assigned to jmarrec

[2021-07-27 20:25] wta12 opened #8922 "WaterHeater Heatpump sizing issue"
Issue overview
--------------
I tried to hard sized WaterHeater:HeatPump:PumpedCondenser object but still get ~~bypass factor~~ Psychrometric function calculation error. There is similar issue (#8412) but it's Stratified Tank object. Not sure if  **WaterHeater:HeatPump:PumpedCondenser/Coil:WaterHeating:AirToWaterHeatPump:Pumped** have same issue - The error log did not point to particular object.

[2021-07-28 14:18] jmarrec commented on #8895
This is **OccupantHours**. Not **Occupied Hours**.

https://github.com/NREL/EnergyPlus/blob/e0d2dea7123012ea6f5bdea4cb007f1f01d70993/src/EnergyPlus/HeatBalanceSurfaceManager.cc#L5347-L5348

[2021-07-28 14:18] #8895 closed, assigned to jmarrec

[2021-07-28 18:13] JohnNelsonsGITHub commented on #6627
Item 2 above is critically important.  In climates with cold winters and moderate summers, we use earth tubes to preheat ventilation air all winter, which works very well (earth tubes followed by ERVs nearly eliminate all heating of ventilation air).  This approach also creates a store of coolth in the ground, by cooling the soil surrounding the earth tubes.  If we are judicious in the use of eart

[2021-07-28 19:34] amirroth opened #8924 "Cache Shading Calculations"
Issue overview
--------------
Caching shading calculations from one EnergyPlus run to the next is the most obvious and potentially impactful use of caching in EnergyPlus. The ability to import a shading schedule file already exists and recent changes to ScheduleManager have made reading schedule files more efficient. The ability to export a shading schedule file also exists (see comment below by @

[2021-07-28 19:43] mitchute commented on #8924
Tagging this currently unmerged PR here in case it can be leveraged for this task. https://github.com/NREL/EnergyPlus/pull/8728

[2021-07-28 20:18] mjwitte commented on #8924
Yes, it already exists.

ShadowCalculation,
Yes/No, !- Output External Shading Calculation Results

[2021-07-28 20:50] amirroth opened #8926 "Refactor WeatherManager data structures to reduce copying and improve cache locality"
Issue overview
--------------
WeatherManager does a lot of copying between a temporary weather structure that holds the contents of a single EPW file line, a set of variables for tomorrow's weather, another set of variables for today's weather and a third set of variables for the current weather. Ideally, the weather structure would be the basis of everything. Today and tomorrow would each be arra

[2021-07-28 21:48] mjwitte opened #8927 "Extend Spaces to Sizing"
Issue overview
--------------
Spaces (which are <= Zone) (will soon) allow specification of surfaces and internal gains by Space for the zone heat balance and reporting.
Sizing and HVAC are still done at the Zone level. Extending Spaces to do sizing calculations by Space would enable room-by-room HVAC sizing and reporting with options for coincident or non-coincident zone sizing.

### Details
Some

[2021-07-28 21:57] mjwitte opened #8928 "Extend Spaces to HVAC"
Issue overview
--------------
Spaces (which are <= Zone) (will soon) allow specification of surfaces and internal gains by Space for the zone heat balance and reporting.
Sizing and HVAC are still done at the Zone level. Extending HVAC to allow Space-level heat balance, air distribution, and controls would allow individual room temperatures to be modeled for situations where a group of rooms (Space

[2021-07-29 06:29] jmarrec commented on #8863
I don't think there is any actual action item from this issue, we should close it.

[2021-07-29 06:29] #8863 closed, assigned to nobody

[2021-07-29 06:30] #8843 closed, assigned to nobody

[2021-07-29 06:31] jmarrec commented on #8869
Duplicate of #8854

[2021-07-29 06:31] #8869 closed, assigned to nobody

[2021-07-29 08:37] jmarrec commented on #8847
Firefox is fine with the spacing, chrome indeed isn't. See this gist: https://gist.github.com/jmarrec/3645262ad8762187adbe99b94a63cf85?short_path=9ea508d#file-dummy-svg-L33-L35

[code]

See its rendering: you mileage will vary depending on which browser you use.

![](https://gist.githubusercontent.com/jmarrec/3645262ad8762187adbe99b94a63cf85/raw/c0ca6d4975ffc05f0347c9922f78fb81d33a8e8b/dummy.svg)

[2021-07-29 09:51] jmarrec commented on #8854
This is a documentation error. If the default value was one, it'll always enforce `min(currentMonthDemand, SummerDemand)`. #8902 will fix it.

[2021-07-29 12:13] JasonGlazer commented on #7038
Examples of metrics (and their referenced method of test) that appear in 90.1-2019 include SEER2 and HSPF2 (AHRI 210/240), IEER (AHRI 340/360), CEER (ANSI/AHAM RAC-1), MRE (AHRI 910), ISMRE and ISCOP (AHRI 920), UEF (10 CFP 430 Appendix E), FEI (AMCA 208). Many other metrics are used in 90.1 and other energy codes and standards. As a first step, a review should be done to identify and prioritize w

[2021-07-29 13:26] mjwitte commented on #8927
Relevant comments received during the development and discussion of the initial Space NFP:

Thinking more on this, for airloop systems, if multiple rooms are assigned to a given zone, the proposed setup will always size the zone-level terminal box and attached room diffusers for zone coincident flow (at time of zone sensible load peak). While that is a typical method for sizing zone-level VAV term

[2021-07-29 13:30] mjwitte commented on #8928
Relevant comments received during the development and discussion of the initial Space NFP:

Since only an aggregate zone temperature (of all attached spaces) will be calculated, doing more advanced things will not possible in the first go around. In reality, for example, thermostats are generally located in a (critical) room, or where convenient (a hallway adjacent to the other rooms) rather than

[2021-07-29 15:04] RKStrand commented on #8919
This is interesting.  I saw the crash with the supplied file and went into the debugger.  It crashes at a place where it is trying to assign a local "auto const" where the index for the array ends up being zero.  It is doing this for an internally created interzone surface.  There are other interzone surfaces in the test suite that use CondFD.  However, for those few files in the test suite that c

[2021-07-29 15:31] mjwitte commented on #8919
That should have produced a warning at least about the mismatched constructions, but maybe that check doesn't happen for CondFD the same way it does for CTF? And I thought the auto-generated surface searched for a companion reverse construction, but I haven't looked to see where that happens in the code.

Example file SingleFamilyHouse_HP_Slab.idf is one of several that uses the Zone outside bound

[2021-07-29 15:42] RKStrand commented on #8919
Update: it seems to be limited to the auto-generated interzone surfaces with non-symmetrical constructions.  I took one of the test suite input files that use CondFD and has interzone partitions (but defined in both zones--not autogenerated in the second), modified a construction for one set to be non-symmetrical, and this file doesn't crash.

@mjwitte But the example file SingleFamilyHouse_HP_Sla

[2021-07-29 16:57] amirroth opened #8930 "Eliminate existing uses of std::map but ... add three new uses!"
Issue overview
--------------
`std::map` is not heavily used in EnergyPlus, but it is used and it is mostly used improperly. `std::map` is not for mapping compact integers to constant strings, that's what `constexpr std::array<std::string_view>` is for. `std::map` is also not for reverse mapping constant strings back to compact integers. A linear lookup in the same `constexpr std::array<std::strin

[2021-07-29 20:28] Nigusse opened #8931 "Unitary System does not support multimode Hum Control for HeatExchangerAssisted Water Cooling Coil"
Issue overview
--------------
The following code allows *CoilDX_CoolingHXAssisted* coil type but should have allowed the coil type *CoilWater_CoolingHXAssisted* as well.
[code]

Allow the HXAssisted water cooling coil as follows.

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate buil

[2021-07-30 15:03] Myoldmopar commented on #8922
EnergyPlus was actually giving quite a bit of information in the error file.  The combination of flow rates, shr, and power were causing a calculation of outlet conditions to be invalid.  The heating rates seemed pretty high.  The two heat pump objects in the file were named `40gal Heat Pump Water Heater - 8kBtu/hr Coil` and `40gal Heat Pump Water Heater - 31kBtu/hr Coil`.  But they had rated heat

[2021-07-30 15:35] TiejunWu opened #8933 "Model Radiant Panel that only covers part of a Surface"
Issue overview
--------------
Currently in EnergyPlus, to model a suspended Radiant Panel that only covers part of the ceiling, EnergyPlus modeler need to physically separate the ceiling surface into two geometric surfaces, one part is the ceiling surface with no radiant panel attached and the other part is the ceiling surface that is covered by the suspended radiant panel.  For convenience of mod

[2021-07-30 15:39] TiejunWu opened #8934 "Multi-speed Fan for VRF Indoor Terminal Units"
Issue overview
--------------
Many of the VRF indoor terminal unit come with multi-speed fan control to save fan energy and reduce noise. To simulate these VRF terminal units accurately, we propose to add supply air flow ratio input fields for multiple speed fan to the object ZoneHVAC:TerminalUnit:VariableRefrigerantFlow. In simulation calculation, for each time step, cycle the terminal fan betwee

[2021-07-30 18:27] jasondegraw opened #8935 "Small Model Optimizations"
It would be helpful to have an object similar to the PerformancePrecisionTradeoffs object that would be the collection location for options/settings that provide speed improvements for "small" models. "Small" in this context means very few zones, simpler systems, etc. Admittedly, I'm misusing "optimizations" here, but the idea would be to have options for

* outputs,
* shading,

and other things t

[2021-07-30 20:56] RKStrand commented on #8919
Subtle, very subtle.  For this particular case (CondFD solution, interzone surface that is defined with a zone outside boundary condition forcing E+ to internally create the other surface, where the user creates the reversed construction but it is not used by any user defined surface), IsUsed was not being set to true like it should have.  This meant that in the CondFD routines, it was skipping th

[2021-07-30 21:06] matthew-larson opened #8938 "Consolidate HVAC radiant surface variables"
Issue overview
--------------
There are a lot of places in the code that manually aggregate the radiant components of HVAC equipment like this:

[code]

These individual variables are not needed and anytime a new equipment type is added this section has to be added to each aggregation.  These can be consolidated into a single report variable that is incremented for all relevant equipment types.  I

[2021-07-30 21:06] RKStrand commented on #8933
@TiejunWu This is a great idea for a new feature.  The deadline for submitting those to NREL is today so if you want to see this prioritized and possibly worked on in the next year, I highly recommend doing that if you haven't already.

[2021-07-30 21:11] RKStrand commented on #8938
@matthew-larson Given my involvement in many of those models, I'm interested in your solution to this problem.  Also, just to clarify, you are talking about reports here right?  In other words, the CoolingPanelSurf being missing in some places is not affecting the heat balance but rather some reporting variables?  Thanks!

[2021-07-30 21:53] nealkruis commented on #8938
@RKStrand, I came across this while I was doing some work on caching surface calculations. We were going to reach out to you to get your input, but you beat us to it 😃 . We'd appreciate your feedback on this!

The CoolingPanelSurf missing was affecting heat balances, though it was correctly incorporated into the output variable reports. This approach also reduces the memory footprint of the progra

[2021-07-30 23:45] wta12 commented on #8922
@Myoldmopar : Thanks, I corrected capacity input and got most of files work. However, some file stills have issue with sizing (updated title and [link)](https://drive.google.com/file/d/1b9nTJYPyYrW39mEZsf7IFoQ3mbzY_p3X/view?usp=sharing) with Psychrometric functions. The Routine is **unknown**. Is there anyway to check ?

[2021-07-31 15:43] amirroth commented on #8935
I assume that for small models, input/initialization and output account for a larger fraction of simulation time vis-a-vis the core time-marching piece. And so performance optimizations that target small models, as opposed to ones that target all models or large models, would focus on those pieces. Now, there are certainly things that we can do to improve input processing/initialization and output

[2021-08-02 16:06] jcyuan2020 commented on #8902
- [x] There is a notation error in the HAMT nomenclature table (Page 77, Table 3.1 in Engineering Reference, v9.5): the vapor pressure should be lower case "p" instead of the current capital case "P":

![image](https://user-images.githubusercontent.com/64040111/127890733-9b63a2ec-6991-4bff-b31e-10724b88bf73.png)

And actually the capital case "P" is already used for Porosity some lines below in th

[2021-08-02 17:12] bonnema commented on #8710
Sorry @Myoldmopar, I missed this. I am working on this now, hopefully there is still time to get it in before the next version?

[2021-08-02 17:13] Myoldmopar commented on #8710
Easily.  We haven't even reached input/output freeze yet.  Tweaks to input files can occur up until bug-fix freeze next month.

[2021-08-02 18:57] shorowit opened #8940 "PVWatts simulation runtime regression"
Issue overview
--------------
@nmerket investigated an EnergyPlus model that took 18s to run in v9.2 and 52s to run in v9.3.

Files to reproduce:
[v92.idf.txt](https://github.com/NREL/EnergyPlus/files/6919063/v92.idf.txt)
[v95.idf.txt](https://github.com/NREL/EnergyPlus/files/6919064/v95.idf.txt)
[8760.csv.txt](https://github.com/NREL/EnergyPlus/files/6919065/8760.csv.txt) (schedule file reference

[2021-08-02 20:13] Nigusse opened #8941 "Add reference name for coilSystem:Cooling:Water object to be able to model Faults"
Issue overview
--------------
This is a suggestion made by @mjwitte when reviewing the waterside economizer new feature in PR #8466.

### Details
Some additional details for this issue (if relevant):

"This \reference name isn't used anywhere, so it's not needed. I see that Coilsystem:Cooling:DX has a similar name that is referenced in FaultModel:TemperatureSensorOffset:CoilSupplyAir. I'm not sugg

[2021-08-03 15:13] mjwitte commented on #8941
There will be likely be other code changes necessary as well to support the new coil system with fault models.

[2021-08-03 15:29] Nigusse opened #8943 "HX Assisted Water Cooling Coil object always expects Controller:WaterCoil object"
Issue overview
--------------
Water cooling coils when used in AirLoppHVAC:UnitarySystem and CoilSystem:Cooling:Water do not require Controller:WaterCoil objects. These objects rely on built-in water coil controllers, so should not check for controller index and name.

The code [below](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/HVACHXAssistedCoolingCoil.cc#L731-L739) checks for

[2021-08-03 16:42] matthew-larson opened #8945 "Duplicate code calculating surface reference air temperature"
Issue overview
--------------
The same surface reference air temperature calculation was found to be done in multiple locations (WindowManager.cc, WindowComplexManager.cc, WindowEquivalentLayer.cc, and ZoneTempPredictorCorrector.cc) after the initial calculation in [HeatBalanceSurfaceManager.cc](https://github.com/NREL/EnergyPlus/blob/e0d2dea7123012ea6f5bdea4cb007f1f01d70993/src/EnergyPlus/HeatBal

[2021-08-03 16:59] mjwitte commented on #8945
There may be a reason for some of these to recalc with updated air temperatures during the system timesteps, just guessing.
For sure the blocks of code for this  in `CalcHeatBalanceInsideSurf2` and `CalcHeatBalanceInsideSurf2CTFOnly` can be pulled out into a common function.

[2021-08-03 17:03] matthew-larson commented on #8945
That was my thought too so I'll double check for necessary recalcs.

[2021-08-03 17:18] amirroth commented on #8945
This was put in as part of the EnergyPlus 0.01X project.

[2021-08-03 23:35] rraustad commented on #8941
The faults model calls getInput for each equipment type, which I never liked. I did it differently in UnitarySystem by letting the equipment check if faults were used.

        if (m_setFaultModelInput) {
            if ((!state.dataGlobal->WarmupFlag) && (!state.dataGlobal->DoingSizing) && (!state.dataGlobal->KickOffSimulation)) {

                // check FaultsManager if connection exists

[2021-08-05 09:09] jmarrec opened #8948 "HeatPump:PlantLoop:EIR:Heating/Cooling AutoSizing appears broken"
Issue overview
--------------

I'm trying to create a regression test for `HeatPump:PlantLoop:EIR:Heating` and `HeatPump:PlantLoop:EIR:Cooling` for the OpenStudio SDK. No matter what I try, I can never get the Autosize of the reference capacity working. I've tried with real loads connected to the objects, and I've tried to replicate the `PlantLoopHeatPump_EIR_AirSource.idf` by creating two loops w

[2021-08-05 09:46] jmarrec commented on #8948
Also, it seems that the `Design Size Source Side Volume Flow Rate [m3/s]` is only reported in the case where it's a WaterSource heat pump, not an AirSource one.

[2021-08-05 16:35] #8880 closed, assigned to nobody

[2021-08-05 18:47] matthew-larson commented on #6479
Looks to still be an issue, I can take this on unless anyone objects.

[2021-08-05 23:22] #8846 closed, assigned to RKStrand

[2021-08-05 23:22] #8900 closed, assigned to nobody

[2021-08-06 12:46] RKStrand commented on #8881
@msfer86 @mitchute So, is there a problem in the code?  Does this need to be clarified in the documentation?  If a documentation issue, then it should be referenced by and added to #8902

[2021-08-06 13:22] mitchute commented on #8881
@RKStrand TBH, I haven't had a chance to investigate. You're welcome to take a look since I won't be able to for a few weeks.

[2021-08-06 15:50] #8628 closed, assigned to nobody

[2021-08-06 21:24] amirroth opened #8950 "FluidProperties interpolation"
Issue overview
--------------
A couple of things here. First, the functions `InterpDefValuesForGlycolConc` and `InterpValuesForGlycolConc` look identical except for one comment. If they are in fact identical, one should be deleted.

Second, the way this function is used suggests that it should be refactored into multiple functions such that the identification of which "generic" concentrations shou

[2021-08-06 23:39] matthew-larson commented on #7297
Looks like that hasn't been fixed in the latest develop, I can take care of this one.

[2021-08-09 22:44] amirroth opened #8954 "Should we just make errorsFound part of state and stop passing it around as its own variable?"
Issue overview
--------------
Just sayin'.

### Checklist
 - [ ] Pull request created (the pull request will have additional tasks related to reviewing changes that fix this defect)

[2021-08-10 01:07] yzhou601 opened #8955 "GSHP heating coil energy not consistent when running at non-rated air flow rate"
Issue overview
--------------
I am modeling a gshp system in EnergyPlus with `Coil:Heating:WaterToAirHeatPump:EquationFit` and `Coil:Cooling:WaterToAirHeatPump:EquationFit` coil objects along with an `AirLoopHVAC:UnitarySystem` parent object. It worked well when the actual airflow rate(specified at fan object, unitary system object, terminal object, and airloop object) is equal to coil rated airfl

[2021-08-10 12:29] EnergyArchmage opened #8956 "Coil Sizing Details reporting issue shows confusing values for hot water coil plant fluid entering and leaving temperatures"
Issue overview
--------------
Coil Sizing Details report table has two columns for "Coil Entering Plant Fluid Temperature at Ideal Loads Peak [C]" and "Coil Leaving Plant Fluid Temperature at Ideal Loads Peak [C]."  For heating water coils the entering temperature is set using the value of DataGlobalConstants::HWInitConvTemp.   This confuses interface users who expect that the entering and leaving

[2021-08-10 20:31] yzhou601 commented on #8955
@mjwitte @rraustad @Myoldmopar Any idea on what happened here? I agree to @rraustad on [his comment](https://unmethours.com/question/58255/gshp-heating-coil-energy-not-consistent-when-running-at-non-rated-air-flow-rate/?answer=58441#post-id-58441) on UMHs that ` Heating Coil Heating Energy` may have an issue. I verified that `Heating Coil Part Load Ratio` also reported oddly with heating energy. C

[2021-08-10 20:45] rraustad commented on #8955
It might be as easy as seeing if the coil is operating at rated air flow or not, and if not then does the performance curve output reasonable results. I don't think the stock performance curve is sensitive to changes in air flow. @yzhou601 plotted the performance curve output and there is not much change for a factor of 4 reduction in air flow.

[2021-08-11 18:49] lymereJ commented on #8882
@jungwyoungs made some changes to the models in #8686 to address the warnings generated by #8886. The balanced air flow fraction schedules that were using a fraction of 0 when the exhaust fans are scheduled to be off were changed to 1. This removed most of the warnings. The remaining were due to some very small discrepancies in inputs (one example is the warning for the corridor shown above) and w

[2021-08-11 19:37] nealkruis opened #8962 "ManageZoneAirLoopEquipment unnecessarily calls GetZoneAirLoopEquipment on every iteration"
Issue overview
--------------
`GetZoneAirLoopEquipment` is called from `ManageZoneAirLoopEquipment`. The original intent is to only "get" the ZoneAirLoopEquipment data once, and then set a flag not to execute the routines again. However, the flag check occurs after several local variables (including Objexx arrays) are allocated.

In the Hospital Performance Benchmark file,  8.6% of the time is spe

[2021-08-12 14:30] jcyuan2020 opened #8965 "Reference Condenser Fluid Flow Rate in the AirCooledChiller.idf data set file"
Issue overview
--------------
It was reported by a user that in this data set file, the “Reference Condenser Fluid Flow Rate” field seems to be incorrect across multiple (actually nearly all) chiller objects as 0.0011 m3/s. This can be demonstrated in the last line in following snapshot:

![image](https://user-images.githubusercontent.com/64040111/129214689-fdf41cd4-4294-43cf-bcca-0760505d98c7.png

[2021-08-12 16:19] rraustad opened #8966 "UnitarySystem using Coil:Cooling:DX with multiple speeds operates at incorrect no load air flow rate"
Issue overview
--------------
During testing is was found that this coil model would operate at a no load flow rate different from what was expected when a UnitarySystemPerformance:Multispeed object is used.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours

[2021-08-12 20:17] lymereJ opened #8967 "Reported IPLV in IP units is inconsistent with IPLV.IP"
Issue overview
--------------
Currently EnergyPlus calculates a chiller's IPLV using rating part load conditions from AHRI Standard 551/591 which uses SI units and converts it to IP units for reporting. However, the IP version of the standards (550/590) uses slightly different temperatures than the SI version.

Screenshot from the SI version of the Standard (551/591)
![image](https://user-images.g

[2021-08-12 22:29] jcyuan2020 opened #8968 "Sizing:Zone below-zero (degree C) Zone Cooling Design Supply Air Temperature scenarios for freezer spaces"
Issue overview
--------------

For the Sizing:Zone object, there is a recent discussion on how to give warning messages on the zone cooling design supply air temperature that is below 0 degree C (#8855, #8827). A user recently sent in a simulation case modeling a freezer space which uses a -20 C design cooling supply temperature---which may call for the need to lift that restriction.

Also, there

[2021-08-13 14:22] JasonGlazer opened #8969 "Add ConvertInputFormat options to preserve object order and comments to facilitate round-tripping"
Issue overview
--------------
Currently when an IDF file is converted to epJSON using ConvertInputFormat the comments (user and field names) and order of objects is lost. This means when converting back from epJSON to IDF the file is no longer in the order of the original file and does not have any user comments. Some advanced users and developers develop processors for input files to facilitate t

[2021-08-13 18:55] amirroth opened #8970 "Ruleset Model Report (RMR) Export"
Issue overview
--------------
One of the reasons for adding the Space and SpaceType concepts to EnergyPlus, was to enable ASHRAE 229P Ruleset Model Report (RMR) export to be implemented at the EnergyPlus (rather than OpenStudio) level, where it can benefit from greater proximity to "how things are actually modeled" as well as have greater impact. Assuming we determine that this is in fact the righ

[2021-08-13 22:45] lymereJ commented on #8967
AHRI Standards 551/591 uses a leaving water temperature of 7.0 deg. C (see picture above). But the current method uses 6.67 deg. C, see https://github.com/NREL/EnergyPlus/blob/ed3a9d36c86aad48000128ae7975805818f1e207/src/EnergyPlus/StandardRatings.cc#L272

[2021-08-16 17:03] jcyuan2020 opened #8975 "A couple of leap year corner case scenarios"
Issue overview
--------------
A user reported a few corner cases that were related to the simulation range “abnormality” related to a simulation that involved a leap year, in which 1-2 simulation days were found missing from the expected running period:

![image](https://user-images.githubusercontent.com/64040111/129600864-0734ac82-2e9a-4d58-bed8-7752ea09d71e.png)
(The scenarios the user reported

[2021-08-16 17:08] matthew-larson opened #8976 "Incorrect logic in approximate view factor calculation"
Issue overview
--------------
Current logic in [CalcApproximateViewFactors](https://github.com/NREL/EnergyPlus/blob/1a8e4918d633d44c846d7b965c11afb849692111/src/EnergyPlus/HeatBalanceIntRadExchange.cc#L1345) function for determining what surfaces can "see" each other is shown below.  The documentation lists the conditions for surfaces to "see" themselves and the code doesn't appear to account for

[2021-08-16 21:26] JasonGlazer opened #8978 "Prevent CI from running when not desired"
Issue overview
--------------
From the discussion https://github.com/NREL/EnergyPlus/pull/8653

It would be nice to have some way within the normal repo to push preliminary code and not cause CI to run. Sometimes we just want to share code with others and we know it would be a waste of time for the CI to run it. Would it be possible to modify the CI so that if it sees a file named something like "

[2021-08-16 21:34] mitchute commented on #8978
Good idea. What about a `[[no integration tests]]` comment in the git commit message instead of a separate file?

[2021-08-16 21:42] JasonGlazer commented on #8978
@mitchute excellent idea!

[2021-08-16 21:44] mjwitte commented on #8978
Not sure about that,  it would clutter up the commit history. How about a PR label instead?

[2021-08-16 21:47] mitchute commented on #8978
To play the devil's advocate, it's not like our commit history is really that pristine anyway. But I see your point. A PR label is fine by me, too.

Edit: we *can* edit the commit message after the fact, but I'm not sure we'd want to go down that road regularly
https://git-scm.com/book/en/v2/Git-Tools-Rewriting-History

[2021-08-17 17:39] matthew-larson opened #8981 "PythonPlugin:SearchPaths Add Input File Directory to Search Path input not working with EP-Launch"
Issue overview
--------------
When using the PythonPlugin:SearchPaths object and setting the field Add Input File Directory to Search Path to "Yes" and running the model through EP-Launch, it results in a fatal error that the module can't be found.  This appears to be due to the fact that EP-Launch makes a copy of the input file in a different directory, which doesn't get included in the search pa

[2021-08-17 17:54] shorowit commented on #8978
I don't have a strong preference between using a PR label vs commit message, but note that many third-party CIs look in commit messages. For example, [CircleCI looks for `[ci skip]` or `[skip ci]` in the commit message](https://circleci.com/docs/2.0/skip-build/).

Edit: Another example from [Travis CI](https://docs.travis-ci.com/user/customizing-the-build/#skipping-a-build).

[2021-08-17 18:35] bonnema commented on #8981
Does setting the [Add Current Working Directory to Search Path](https://bigladdersoftware.com/epx/docs/9-5/input-output-reference/group-python-plugins.html#field-add-current-working-directory-to-search-path) field to `Yes` have any impact?

[2021-08-18 13:27] RKStrand commented on #8968
@jcyuan2020 I think that the recent work made it a warning message if the user's zone cooling design supply air temperature is below 0 degree C.  That's simply to warn a user that there could be a problem.  If the user does have a legitimate zone below 0C (like a freezer space), they can always ignore that warning message.

However, the crash because of a bad index is definitely a problem, one tha

[2021-08-18 15:06] matthew-larson commented on #8981
Having both of them set to "Yes" has the same effect.  I found the section in the source code where the python search paths are set and we are putting a fix in now that should resolve this issue.

[2021-08-18 17:09] EnergyArchmage commented on #8978
I think this is an important issue.   Always running CI seems to reduce ability to scale.  Think of the optics of all that wasted electricity going into useless CI clock cycles for software aiming to reduce energy use.

[2021-08-18 17:25] RKStrand commented on #8844
@jcyuan2020 I have fixed the issue here.  The users input file (which takes about 2 hours to run on my computer--wow!) now runs all the way through to completion.  PR should be showing up shortly.

[2021-08-18 18:04] jcyuan2020 commented on #8844
That's fabulous! Thank you, @RKStrand !

[2021-08-18 19:15] #8313 closed, assigned to nobody

[2021-08-18 19:35] #8209 closed, assigned to yzhou601

[2021-08-18 19:47] #8743 closed, assigned to nobody

[2021-08-19 14:11] DavidHollman opened #8984 "EnergyPlus 9.5 (32-bit) requires full Python dependencies (9.3 didn't)"
As described in https://github.com/NREL/EnergyPlus/issues/8194, for EnergyPlus 9.3-bugfix (32-bit) it was possible to run without having any of the Python files installed with it (assuming the Python capabilities were not being used).

But as of 9.5 32-bit, this doesn't seem to be the case anymore. I've tried running it without Python at all but this causes causes an immediate error. Also I tried

[2021-08-19 18:20] EnergyArchmage opened #8986 "Hard crash in ITE equipment for uncontrolled zone."
Issue overview
--------------
User file had ITE equipment in a zone with no HVAC equipment, ie. not a controlled zone.  Got a hard crash in the following code block.

Need a trap in case zoneEqIndex  returns 0 so it won't then crash in the next lines.

[code]

When that gets trapped, it then crashes again here

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/InternalHeatGains.cc#L68

[2021-08-19 19:08] #8966 closed, assigned to nobody

[2021-08-19 19:31] #8589 closed, assigned to RKStrand

[2021-08-19 22:47] #8192 closed, assigned to nobody

[2021-08-20 01:20] sbuck99 opened #8987 "Populate comments (!-) from IDD/schema when converting from epJSON to IDF"
Issue overview
--------------
E+ will leave all comments (descriptions starting with '!-') blank when converting from JSON to IDF which hinders the readability of the files. Request to read default comments from IDD/schema and populate IDF using default information.

This will be useful to Python scripting (eg. using eppy) where some changes are easier made using IDF blocks and others using JSON d

[2021-08-20 01:24] shorowit commented on #8987
Related to https://github.com/NREL/EnergyPlus/discussions/8899

[2021-08-20 16:02] mjwitte opened #8988 "Incorrect OA from people in table outputs for IndoorAirQualityProcedure, ProportionalControlBasedOnDesignOccupancy, and ProportionalControlBasedOnOccupancySchedule"
Issue overview
--------------
In the Space PR #8394, DOAToPTHP.idf and DOAToUnitarySystem.idf have substantive diffs in several table outputs related to the base ventilation rates (Outdoor Air Details_Entire Facility_Mechanical Ventilation Parameters by Zone and Standard 62.1 Summary). There are no diffs in actual results (ABPUS, eso or mtr), just in the table outputs. The differences are the resu

[2021-08-20 16:25] mjwitte commented on #8988
Here's an example of the table diffs for DOAToPTHP.

Develop
![image](https://user-images.githubusercontent.com/4991075/130264056-2f75e078-04d8-42da-bb4b-52e2e9828f3b.png)

Space branch
![image](https://user-images.githubusercontent.com/4991075/130264120-850a756d-b7d3-4e27-b7a3-2562201a9d5c.png)

I think the issue is how `state.dataSize->FinalZoneSizing(CtrlZoneNum).TotalOAFromPeople` gets used la

[2021-08-20 17:23] jcyuan2020 opened #8989 "Airflow unit conversion recognition in IDD"
Issue overview
--------------
There seems to be a warning coming up whenever an idf file is opened using the EP-Launch IDFEditor. The message is like this:
![image](https://user-images.githubusercontent.com/64040111/130270014-e0c1dd7d-cd3a-4f8b-9d08-ca590448591c.png)

It traces back to the following lines in the IDD file (in object AirflowNetwork:MultiZone:SpecifiedFlowRate):
[code]

It does not s

[2021-08-20 18:00] RKStrand commented on #8817
@LipingWang In looking at this, I think the problem arises from the fact that the charging and discharging variables are based on current and voltage and do not translate directly to amount stored.  I see evidence in the output that there are hours where there is both charging and discharging--not a problem except there are times when the discharging exceeds the charging but the batteries are show

[2021-08-20 18:21] RKStrand commented on #8986
@EnergyArchmage Was looking at this a little bit here to see if it's something I could work on.  My question for you is: if it's going to blow up anyway, should this just be trapped and EnergyPlus exit gracefully via Severe/Fatal errors?  There are probably ways around the index related crashes.  However, if this shouldn't be allowed, then the approach might be different perhaps.  Just curious (al

[2021-08-20 19:59] EnergyArchmage commented on #8986
I am not planning on doing more on this. You could have a low power closet with ventilation that should be able to run. It is a big ITE load in a an uncontrolled zone that will likely terminate

[2021-08-20 20:23] mjwitte opened #8990 "People max/min occupancy appears to be calculated incorrectly if there are multiple People objects in the same zone"
Issue overview
--------------
Based on reading the code, this appears to be broken, but I haven't produced a defect file to prove this.

The whole max/min people thing in ZoneEquipmentManager::SetUpZoneSizingArrays is broken if there is more than one People object in a zone and the schedules are not the same.

And ZoneMinOccupancy is wrong if there is more than one People object regardless of sche

[2021-08-21 19:24] #8710 closed, assigned to bonnema

[2021-08-21 19:31] Myoldmopar commented on #8989
IO Freeze should be wrapped up soon, but this one really should be addressed ahead of it.  I do not understand why EPLaunch is complaining about this from a units perspective when this field is a type choice.

[2021-08-21 20:20] #8919 closed, assigned to RKStrand

[2021-08-21 21:31] #8940 closed, assigned to nmerket

[2021-08-22 02:08] jcyuan2020 commented on #8989
It is actually not related to EP-Lauch---even when starting the IDFEditor from the startup menu or direct double click the exe, the warning message would show up. The problem is in the IDFEditor when loading/reading the .idd file (maybe related to the the slash processing in the new keys?)

[2021-08-22 12:47] Myoldmopar commented on #8978
If anyone is wondering, the Decent CI machines are powered by a solar array in Colorado.  I am fine with doing a commit message skip.  We currently use both Github Actions as well as Decent CI.  Github Actions uses the usual suspects for patterns to match to skip tests: `[skip ci]`, `[ci skip]`, `[no ci]`, `[skip actions]`, or `[actions skip]`.  We could utilize one of those for Decent, or Decent

[2021-08-22 13:04] Myoldmopar commented on #8989
Yeah sorry, I said EP Launch in my comments, but meant IDF Editor.

[2021-08-22 13:06] #8989 closed, assigned to JasonGlazer

[2021-08-23 12:20] JasonGlazer commented on #8978
I think there are two different lengths of tests and perhaps we should differentiate them that way. Some are quick (usually less than a minute each such as checking labels and format) and some are slow (10 minutes to 30 minutes or more such as running all the unit tests, simulations, and compiling alternate configs). So how about: [skip ci_short] and [skip ci_long]

[2021-08-23 14:03] Myoldmopar commented on #8978
I like the idea of splitting it, but all the short ones are already on Github Actions and the long ones are on Decent CI.  I think we can keep the separation by the CI system and still achieve what you are hoping for.  And Github Action is already set up to be skipped with their own log message.  I could be swayed still, let me know if I am missing something.

[2021-08-23 14:04] jcyuan2020 opened #8995 "AIRLOOPHVAC:OUTDOORAIRSYSTEM transitions for the 3-line cases"
Issue overview
--------------
In earlier versions, the AIRLOOPHVAC:OUTDOORAIRSYSTEM can take a block of either 3-line or 4-line inputs. The new transition for v9.6 is now dropping the last line (`Availability Manager List Name`) to make it a 3-line object. This is working well for the 4-line case---the newly transition filed will be reduced to a 3-line object by dropping the redundant `Availabilit

[2021-08-23 14:16] RKStrand commented on #8995
@Myoldmopar @mjwitte So, should the problematic line have been:

CurArgs = 3

Would that have correctly resolved this issue?  Can this still be fixed given we are past the IO Freeze?

[2021-08-23 14:26] JasonGlazer commented on #8978
That is fine. My thought was to break it by use rather than by software since that would allow using the software in the future in different ways such as future short tests in Decent CI and long tests in Github Actions or perhaps something else entirely for one of those two uses.

[2021-08-23 14:34] mjwitte commented on #8995
I'm confused. There's no Schedule field in AirLoopHVAC:OutdoorAirSystem. From a v9.5 example file:
[code]
Do you have a 3-line version of this that actually runs without error in v9.5?

[2021-08-23 14:35] jcyuan2020 commented on #8995
@mjwitte Sorry I mean the last line anyway---it should be the `Availability Manager List Name`.

[2021-08-23 14:38] mjwitte commented on #8978
Not to make this more complicated, but I could see wanting just a quick check for diffs and unit test failures without everything else (like integration debug and coverage). Maybe a [ci mac-only] option? Not crucial, just a thought.

[2021-08-23 14:42] jcyuan2020 commented on #8995
@mjwitte Yes. I do have one idf that can get processed correctly in v9.5. Also, in the IORef (v9.5), it has the following description:

![image](https://user-images.githubusercontent.com/64040111/130466657-0eb707d8-f18b-4602-8575-a7b0a5bf937c.png)

And IORef also gives an example object (3-line version):
![image](https://user-images.githubusercontent.com/64040111/130466861-0574f104-fc6d-4dcf-a715-

[2021-08-23 14:43] mjwitte commented on #8995
@jcyuan2020 Oh, I see. You're right. It does run fine in v9.5 without this field. So, yes, the transition code should be changed and probably have an if `CurArgs=4` so it does nothing it there's only 3 incoming fields.
@RKStrand Yes, there's still time to fix this, today, with a new PR.

[2021-08-23 14:54] RKStrand commented on #8995
@mjwitte I'm on it.  So, to expedite this and make sure it gets in today, the preference on what the code should say is:

IF (CurArgs == 4) THEN
  CurArgs = 3
END IF

and this should replace the current:

CurArgs = CurArgs - 1

Correct?

[2021-08-23 15:00] mjwitte commented on #8995
The IF/ENDIF could wrap everything after the CASE statement.

[2021-08-23 15:02] Myoldmopar commented on #8978
I appreciate the thought there, but I think that would indeed be a bit too complex for this.  Honestly, if you are wanting this level of detailed turning on and off the CI machines for a commit, just rename the `.decent` CI files at the root of the repo temporarily and push.  Then rename them back before merge.  Same for the Github Actions, just move the workflow files to the disabled workflows fo

[2021-08-23 15:04] RKStrand commented on #8995
@mjwitte Everything?  So:

              CASE('AIRLOOPHVAC:OUTDOORAIRSYSTEM')
                  IF (CurArgs == 4) THEN
                      CALL GetNewObjectDefInIDD(ObjectName,NwNumArgs,NwAorN,NwReqFld,NwObjMinFlds,NwFldNames,NwFldDefaults,NwFldUnits)
                 .    nodiff=.false.
                      OutArgs(1:3)=InArgs(1:3)
                      CurArgs = 3
                  END IF

Is

[2021-08-23 15:12] mjwitte commented on #8995
@RKStrand I think that should work just fine. @jcyuan2020 Can test it (thanks) for both 3 and 4 line examples.

[2021-08-23 15:13] JasonGlazer commented on #8978
I never realized it was that simple. Maybe we just document this on the wiki page related to CI:

https://github.com/NREL/EnergyPlus/wiki/Continuous-Integration

[2021-08-23 16:02] jcyuan2020 commented on #8995
@RKStrand @mjwitte I did a test on on the new branch. But it has a new problem for the 3-line case now. A 3-line object gets converted to an empty 3-line object:
[code]

[2021-08-23 16:17] mjwitte commented on #8995
Hmm, oh well, I got too clever, sorry. @RKStrand Narrow the scope of the IF/THEN back to your original proposal.

[2021-08-23 16:48] RKStrand commented on #8995
@mjwitte @jcyuan2020 Ok, I've bounced it back to what I originally proposed and made another commit.  How are things looking with this variation?

I realize this is an unusual case--normally we aren't getting rid of input like this.  I hope to remember this if I have to do something like this again.

[2021-08-23 17:57] jcyuan2020 commented on #8995
I tested both a 4-line case and a 3-line case, the new changes work perfectly in converting both cases 👍. @RKStrand  @mjwitte

[2021-08-23 18:58] RKStrand commented on #8986
@EnergyArchmage The issue overview mentions a user file.  Any chance you could share that with me?  Thanks!

[2021-08-23 19:46] shorowit opened #8999 "`OutputControl:Files` incorrectly produces "unused object" warning"
Issue overview
--------------
When you include an `OutputControl:Files` object in your IDF, you get an incorrect warning from EnergyPlus:

[code]

If I use the Output:Diagnostics,DisplayUnusedObjects object:

[code]

Example file to reproduce:
[in.idf.txt](https://github.com/NREL/EnergyPlus/files/7034510/in.idf.txt)

### Details
Some additional details for this issue (if relevant):
 - Windows 10

[2021-08-23 20:28] Myoldmopar commented on #8978
OK, I'm merging in a fix to Decent CI that will let you use `[decent_ci_skip]` in the commit messages.  It will still run the commit if the branch is the `develop` branch however.  This could have ramifications if one ever sets a regression baseline to non-develop and that other branch's most recent commit has the skip comment.  That is a wild corner case though.  I'll be watching testing and watc

[2021-08-23 20:28] Myoldmopar commented on #8978
(https://github.com/Myoldmopar/decent_ci/pull/47)

[2021-08-23 20:36] Myoldmopar commented on #8978
I'm going to mark this complete for now.  We can always tweak the behavior later.

[2021-08-23 20:36] #8978 closed, assigned to nobody

[2021-08-23 21:03] JasonGlazer commented on #8978
@Myoldmopar thanks for implementing this so quickly. I think this is going to be a useful feature for developers and will reduce the burden on the CI.

Where do you think it should be documented?

Maybe we should talk about it on the next technicalities call.

[2021-08-23 22:17] mjwitte opened #9000 "Average values for integer output variables fail debug assert and are rounded to 2 places"
Issue overview
--------------
Defect file requests an integer output variable, Site Rain Status, for timestep, hourly, and monthly. When the averaged value is reported in a debug build, it trips on this [assert](https://github.com/NREL/EnergyPlus/blob/75c5e2b8a1690ae49cc6667c36be86ff0d216a6a/src/EnergyPlus/General.cc#L334) in `strip_trailing_zeros` which is called from [here in WriteReportIntegerD

[2021-08-24 15:40] jcyuan2020 opened #9001 "Water Thermal Tank reporting negative electricity usage under tiny flow conditions"
Issue overview
--------------
This is about some continued work related to the water tank underflow condition and negative electricity in report (Issue #8844), following a recent fix (#8983).

The problem originated from some low-flow condition that causes the water thermal tank to have a floating-point overflow when divided by a small number e.g. e-300, which are still treated as non-zero. This w

[2021-08-24 20:54] RKStrand commented on #8986
@EnergyArchmage I went ahead and created my own file using a modified version of 1ZoneUncontrolled.idf that has an ITE added to it.  It crashes in develop but I have fixed that and will create a pull request shortly.  I'm still waiting on results from CI but it seems pretty likely that it should come back clean.  I'll tag you as a potential reviewer but feel free to ignore that if you don't have t

[2021-08-24 21:13] RKStrand opened #9004 "RoomAirModel Not Yet Implemented for Air Inlet Connection Type in ElectricEquipment:ITE:AirCooled"
Issue overview
--------------
In looking at another defect, code was notice in InternalHeatGains where it reads in the ElectricEquipment:ITE:AirCooled object that does not allow for the RoomAirModel option for Air Inlet Connection Type to be used.  If that happens, a warning message is thrown that says: "Air Inlet Connection Type = RoomAirModel is not implemented yet, using ZoneAirNode".  This sho

[2021-08-24 21:14] EnergyArchmage commented on #8986
Thanks @RKStrand , the file I had is huge 13megs and would have been a chore to clean up for DOE version.

[2021-08-24 21:17] RKStrand commented on #8986
@EnergyArchmage Totally get that.  I've been dealing with some pretty big user input files for some recent bugs.  They can be a total bear to work with because they are so big and complex.  Glad I went ahead and created a pretty simply file that demonstrated the problem.  It's up in EnergyPlusDevSupport now.

[2021-08-25 17:03] RKStrand commented on #8444
After looking at this further, a couple of problems exist.  As @jeannieboef points out, there is no default for the tube spacing and the documentation shows that this field is ignored.  Actually, the problem is "worse" because there are literally no checks on the input value for tube spacing.  You can literally put any number in--even a negative value.  The code doesn't seem to care--it just happi

[2021-08-25 17:46] RKStrand opened #9006 "32-bit apps not working on newer Mac OS versions"
Issue overview
--------------
In trying to run IDFVersionUpdater.app on a Mac running a newer version of Mac OS, a message is generated saying that: "The developer of this app needs to update it to work with this version of macOS. Contact the developer for more information."  When you click on "More Information", it says that the 32-bit app won't run on Mac OS anymore.  Someone needs to check on t

[2021-08-25 19:54] rraustad commented on #7165
@shorowit I am transitioning these files up to V9.6, doing them both at the same time, I get 1.idf to run. Then I run 2.idf and I see this.

    ** Severe  ** <root>[ZoneHVAC:EquipmentList][finished basement Equipment List][equipment][1][zone_equipment_object_type] - "2" - Failed to match against any enum values.

1.idf

    ZoneHVAC:EquipmentList,
      finished basement Equipment List,  !- Name

[2021-08-26 08:40] shorowit commented on #8902
- [x] [Generator:MicroTurbine documentation](https://bigladdersoftware.com/epx/docs/9-5/input-output-reference/group-electric-load-center-generator.html#outputs-7-002) says the outputs are "Generator Produced Electricity Rate" and "Generator Produced Electricity Energy" while the RDD says "Generator Produced **AC** Electricity Rate" and "Generator Produced **AC** Electricity Energy".

[2021-08-26 08:48] shorowit commented on #8902
- [x] [ElectricLoadCenter:Inverter:PVWatts documentation](https://bigladdersoftware.com/epx/docs/9-5/input-output-reference/group-electric-load-center-generator.html#outputs-description-electricloadcenterinverterpvwatts) has an extra section called "Outputs Description" that lists some output variables that I don't see in the RDD when using this inverter object. The output variables listed below i

[2021-08-26 11:51] jmarrec opened #9008 "Workflows clang-format and linux_build are duplicated for PRs"
Issue overview
--------------
https://github.com/NREL/EnergyPlus/blob/82391071e9a009712653ee6017118dce65dacf90/.github/workflows/clang-format-check.yml#L1-L2

https://github.com/NREL/EnergyPlus/blob/82391071e9a009712653ee6017118dce65dacf90/.github/workflows/linux_build.yml#L1-L3

if I open a PR, it does it twice!

I would do something different, like on push to develop or PRs to develop:

[code]

[2021-08-26 13:15] #8945 closed, assigned to matthew-larson

[2021-08-26 13:20] #8962 closed, assigned to nealkruis

[2021-08-26 14:38] rraustad commented on #7165
Well, I don't see a big difference in load. Maybe if you add IdealLoads to 1.idf and make sure that the zone conditions are the same it would be 50%? I wonder if zone humidity ratio has something to do with this.

![image](https://user-images.githubusercontent.com/5778156/130982738-9acf3cad-e092-48dc-961d-5eb690a6ff8c.png)

[2021-08-26 15:49] rraustad commented on #7165
Since the heater outlet temp is based on CpAir(win) then if these systems are not operating at the same conditions I would expect there to be differences in the results. Can I say that these differences should equate to 5%, not at this time.

HeatingCoils.cc

    void CalcElectricHeatingCoil()

        CapacitanceAir = PsyCpAirFnW(Win) * AirMassFlow;
        TempAirOut = TempAirIn + QCoilCap / Cap

[2021-08-26 15:55] jcyuan2020 opened #9010 "Out of memory when IDFEditor reads in a large IDF file"
Issue overview
--------------
There was a "Run-time error '7': out of meomory" warning when using IDFEditor to open a large idf file:

![image](https://user-images.githubusercontent.com/64040111/130994536-6f31ca31-039c-46ea-abb5-c011f7e9da82.png)

The case file can finish running with EP-Launch tough. This warning is a rare occurrence and the file size may not be the single factor---there seemed t

[2021-08-26 21:22] mjwitte opened #9012 "Multiple Daylighting:Controls for the same Zone silently uses only the last one"
Issue overview
--------------
Daylighting:Controls are stored in ZoneDaylight(ZoneNum) and current GetDaylightingControls happily lets you have more than one Daylighting:Controls assigned to the same zone with no complaint. Problem is, only the last one does anything, the others are lost, or possibly you get some kind of merged input if the later one doesn't use the same fields as the first one.

[2021-08-27 05:10] #8920 closed, assigned to nobody

[2021-08-27 05:12] shorowit commented on #7500
I'm seeing the EPW correctly renamed and showing up now under WI instead of MI. Unfortunately if I [search for "rhinelander"](https://energyplus.net/weather-search/rhinelander), it still returns the old MI URL.

[2021-08-27 12:18] EnergyArchmage opened #9014 "Coil Summary table values for capacity at ideal loads peak are incorrectly applying capacity as a function of temperature modification factor"
Issue overview
--------------

@rraustad found that the capacity factors are being divided here when they should be multiplied.

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ReportCoilSelection.cc#L1233

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ReportCoilSelection.cc#L1499

Many coil sizing routines apply the capacity as a function of temperature to the peak

[2021-08-27 15:16] nealkruis opened #9015 "Surface reporting scattered throughout the code base"
Issue overview
--------------
Surface reporting is scattered throughout the code base, including some calculations that are not needed within iteration loops. Variables that are solely needed for reporting should be calculated in `ReportSurfaceHeatBalance`, while any variables that are used for both heat balance calculations and reporting should be set after `CalcHeatBalanceInsideSurf`.

### Check

[2021-08-27 18:31] mjwitte opened #9018 "HVACTemplate errors"
Issue overview
--------------
More issues found in ExpandObjects while testing the new pyExpandObjects.

- [x] HVACTemplate:System:ConstantVolume:
  * heating coil type should default to HotWater, but defaults to None
  * economizer type defaults to None but should be NoEconomizer (None causes fatal error).
[SystemConstantVolume_minimum_inputs.idf.txt](https://github.com/NREL/EnergyPlus/files/7068

[2021-08-27 19:16] #8844 closed, assigned to RKStrand

[2021-08-30 12:16] jmarrec opened #9022 "energyplus --convert / --convert-only doesn't take output dir path correctly"
Issue overview
--------------

energyplus `--convert` / `--convert-only` doesn't take output dir path correctly

[code]

I expect to have `./out/eplus.epJSON`, but I get `./eplus.epJSON` instead

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of EnergyPlus (if using an intermediate build, include SHA): 9.6.0-IOFreeze

### C

[2021-08-30 17:03] rraustad commented on #6727
This issue still exists in V9.6. However, calling ManageOutsideAirSystem only during FirstHVACIteration has an improvement on results. Max iteration warnings reduced but not eliminated.

            if (AirLoopNum > 0 && this->m_OASysNum > 0 && FirstHVACIteration) {
                state.dataLoopNodes->Node(this->m_OAMixerReturnNodeNum).MassFlowRate = state.dataLoopNodes->Node(this->AirInNode).Mas

[2021-08-30 17:24] nealkruis opened #9027 "Ceiling diffuser convection lambdas used for Kiva make unnecessary copies of large structs"
Issue overview
--------------
The lambda captures were modified to copy by default after adding `&state` to the capture list. For the ceiling diffuser algorithm, this meant copying and destroying the large `SurfaceData` structure each timestep where the algorithm was updated. For an example file provided, this resulted in a huge (~7x) increase in runtime.

### Checklist
Add to this list or remove

[2021-08-30 19:01] #9022 closed, assigned to jmarrec

[2021-08-31 14:33] #7881 closed, assigned to mitchute

[2021-08-31 14:33] #8800 closed, assigned to nobody

[2021-08-31 17:41] amirroth opened #9032 "Reduce and Rationalize Namespaces"
Issue overview
--------------
EnergyPlus has essentially one namespace per header file, with the name of the namespace basically mirroring the name of the header file. I imagine this was done automatically to try to emulate Fortran modules, but it's overkill and results in too many namespaces and when you have too many namespaces, they need to have long names to distinguish themselves from one ano

[2021-08-31 19:19] #8968 closed, assigned to RKStrand

[2021-08-31 20:26] RKStrand commented on #8154
@mldichter Will look at #7080 separately as they have different causes, but thanks for linking it here.  I hope to work on that as soon as I wrap this one up.

[2021-08-31 20:26] RKStrand commented on #8154
@mldichter Will look at #7080 separately as they have different causes, but thanks for linking it here.  I hope to work on that as soon as I wrap this one up.

[2021-08-31 22:01] yzhou601 opened #9033 "Coil:Cooling:WaterToAirHeatPump:EquationFit coil reported total cooling energy not consistent with curve calculated total cooling energy"
Issue overview
--------------
In WaterToAirHeatPumpSimple.cc, there's `state.dataWaterToAirHeatPumpSimple->QLoadTotalReport` created for reporting in order to keep the consistency between `Cooling Coil Total Cooling Energy` and `Air System Coil Cooling Energy` in the [bugfix PR8980](https://github.com/NREL/EnergyPlus/pull/8980). The coil total cooling energy used to be calculated based on total co

[2021-09-01 15:09] #8859 closed, assigned to matthew-larson

[2021-09-01 15:20] #9027 closed, assigned to nealkruis

[2021-09-01 16:36] #7297 closed, assigned to matthew-larson

[2021-09-01 16:46] #7133 closed, assigned to matthew-larson

[2021-09-01 16:46] #8806 closed, assigned to matthew-larson

[2021-09-01 20:05] jcyuan2020 opened #9036 "energyplus weather website getting 404 if directly accessed"
Issue overview
--------------
A user reported that she encountered 404 warning when trying to access energyplus weather site.

A quick investigation shows that the website: energyplus.net/weather cannot be directly accessed (neither https or http), a 404 error would just show up:
![image](https://user-images.githubusercontent.com/64040111/131735772-9b8cf89a-783c-4858-a11b-9013fd4e3d85.png)

Howeve

[2021-09-01 20:41] kandersolar commented on #9036
Howdy, [pvlib python](https://github.com/pvlib/pvlib-python) has a function to fetch data from urls under `energyplus.net/weather` and our automated test suite just started failing w/ this 404 issue.  I played around a bit with `referer` headers but I think that's barking up the wrong tree if the whole `energyplus.net` website is a single page application like I suspect it is (kind of out of my de

[2021-09-01 21:51] mikofski commented on #9036
they move from ghpages to aws s3, new links are here:
https://energyplus-weather.s3.amazonaws.com/europe_wmo_region_6/NLD/NLD_Amsterdam.062400_IWEC/NLD_Amsterdam.062400_IWEC.epw

[2021-09-01 22:32] kflemin commented on #9036
@jcyuan2020, we ported the site to a new platform today and are resolving some issues with the routing system. Should be addressed soon!

[2021-09-02 00:31] jcyuan2020 commented on #9036
@kflemin  Thanks! I can see it is working again now.

[2021-09-02 00:41] jcyuan2020 commented on #8867
I run a local CI on the few test files that showed the diffs in the web portal. The diffs were explained by the corrected efficiency (which occurs when plr is <=0 according to the code). The defect file finished running without problems.

[2021-09-02 12:24] rraustad commented on #8995
5ZoneAirCooled.idf

V9.5:

      AirLoopHVAC:OutdoorAirSystem,
        OA Sys 1,                !- Name
        OA Sys 1 Controllers,    !- Controller List Name
        OA Sys 1 Equipment;      !- Outdoor Air Equipment List Name
    !    VAV Sys 1 Avail List;    !- Availability Manager List Name

V9.6 transition:

      AirLoopHVAC:OutdoorAirSystem,
        OA Sys 1,                !- Name

[2021-09-02 14:13] amirroth opened #9039 "Eliminate Uses of reshape2"
Issue overview
--------------
There are a handful of uses of `reshape2` (use 1D array initialization syntax to initialize a 2D array) in EnergyPlus that are no longer necessary because the compilers we are working with support 2D initialization syntax now. These instances can be updated and the ObjexxFCL functions removed.

### Checklist
Add to this list or remove from it as applicable.  This is a

[2021-09-02 16:23] matthew-larson opened #9041 "Radiation calculation using Celsius instead of Kelvin with Stefan Boltzmann constant for tubular daylighting devices"
Issue overview
--------------
It was found in the CalcHeatBalanceInsideSurf functions in HeatBalanceSurfaceManager.cc that surface radiation was being calculated using the Stefan Boltzmann constant which has units of W/(m2*K4), but [here](https://github.com/NREL/EnergyPlus/blob/e6cdd73f63d359ddfe52a475bf33c231eb5eccae/src/EnergyPlus/HeatBalanceSurfaceManager.cc#L7118) and [here](https://github.com

[2021-09-02 16:39] #8847 closed, assigned to jmarrec

[2021-09-02 17:03] DavidHollman commented on #8984
@Myoldmopar  do you have any suggestions?

[2021-09-02 17:04] mjwitte commented on #9041
So, if I'm following the code correctly, this only impacts TDD Diffusers.

[2021-09-02 17:07] matthew-larson commented on #9041
That looks correct, I can update the issue stating this, unless this is being fixed in another PR.

[2021-09-02 17:12] mjwitte commented on #9041
Yes, a more focused issue title would be nice. Searching the archives, it's been this way for-ev-er.

[2021-09-02 17:24] jcyuan2020 commented on #9036
@kflemin Sorry another user ticket came in about the download link on the map:
"Hello, I am having a problem with the EnergyPlus weather file downloads. Whenever I go to https://energyplus.net/weather and select a weather station, instead of taking me directly to that weather station, the page redirects me to https://energyplus.net/ . Obviously this is not good, as it is preventing me from downloa

[2021-09-02 19:35] Myoldmopar commented on #9041
I would also say that the dual assignment statement above it:

[code]
is deceiving and should be split into two assignments.  Should make no difference to the compiler.

[2021-09-02 19:42] kflemin commented on #9036
@jcyuan2020, yes we are working on that...I will let you know when that is fixed! Browsing to the weather station or using the search bar should work now (just not the map).

[2021-09-02 19:55] #8860 closed, assigned to matthew-larson

[2021-09-02 20:23] #8444 closed, assigned to RKStrand

[2021-09-02 20:23] matthew-larson commented on #9041
I can throw that in there as well.

[2021-09-02 23:02] eringold opened #9042 "ABUPS 'Total Source Energy' does not include Electricity when FuelFactors are used"
Issue overview
--------------
When Electricity FuelFactors are used in a model, the ABUPS table 'Site and Source Energy' will not include Electricity Source energy in the 'Total Source Energy' row.

To reproduce:
Take an example file that has Electricity FuelFactors, e.g. 'AirEconomizerFaults_RefBldgLargeOfficeNew2004_Chicago.idf'. Simulate an annual run period. The Site and Source Energy table wi

[2021-09-03 14:08] EnergyArchmage opened #9044 "Demand Controlled Ventilation not working for AirTerminal:SingleDuct:ConstantVolume:NoReheat"
Issue overview
--------------
Demand Controlled Ventilation is not working in SingleDuct.cc because of poor logic when setting the node's MassFlowRateMinAvail here:

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SingleDuct.cc#L2768

Suggest to change the code like this, so that the min avail is not set higher than the max avail when DCV is reducing flow.
[code]

### Details
Some a

[2021-09-03 14:37] #8938 closed, assigned to matthew-larson

[2021-09-03 15:24] eringold commented on #9042
Maybe related to https://github.com/NREL/EnergyPlus/issues/7466

[2021-09-03 16:00] eringold commented on #9042
OK I _think_ this is happening because:

When FuelFactors are used, Total Source Energy is gathering from the first element of [`gatherTotalsSource`](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/OutputReportTabular.cc#L8118) array.

`gatherTotalsSource` array is populated from [`meterNumTotalsSource`](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/OutputReportTabu

[2021-09-03 16:37] #8867 closed, assigned to RKStrand

[2021-09-03 16:42] RKStrand commented on #8867
Thanks, @jcyuan2020 and @mjwitte

[2021-09-03 16:59] #8995 closed, assigned to RKStrand

[2021-09-03 18:38] #9041 closed, assigned to matthew-larson

[2021-09-04 13:47] #8986 closed, assigned to RKStrand

[2021-09-05 21:08] amirroth opened #9045 "Does anyone use the DataTimings module?"
Issue overview
--------------
This is basically a hand-rolled profiling library that developers have to use by inserting calls at the beginnings and ends of functions they want to profile. Is this useful? Any profiling tool will also give you this.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Pull request created (the pull r

[2021-09-06 13:41] #8835 closed, assigned to nealkruis, matthew-larson

[2021-09-06 16:38] #8599 closed, assigned to jmarrec

[2021-09-07 14:31] #9008 closed, assigned to jmarrec

[2021-09-07 18:13] nealkruis commented on #8910
@amirroth Can we use a variadic template with fold expressions instead of std::vector<std::string> so we don't have to bother with curly braces for in-place instantiation?

[2021-09-07 19:31] shorowit opened #9047 "E+ 9.6 IDD for `ZoneProperty:UserViewFactors:BySurfaceName`"
Issue overview
--------------
The E+ 9.6 IO Freeze release made a change to the IDD for the `ZoneProperty:UserViewFactors:BySurfaceName` object. Previously the IDD was:

[code]

For 9.6, the IDD is now:

[code]

This change _forces_ a software tool to use Spaces in their EnergyPlus model in order to take advantage of this object. Software tools may not want to (or may not be ready to) use the new

[2021-09-07 20:00] amirroth commented on #8910
@nealkruis is variadic templates the new `va_arg`? Either way, yes.

[2021-09-07 21:43] #9014 closed, assigned to rraustad

[2021-09-07 22:39] Myoldmopar opened #9048 "Clean up CMake Config"
Issue overview
--------------
A few new CMake variables have been added recently and they should be marked as advanced.  I'll make a list soon.  Also, a couple new Visual Studio projects have appeared at the top level of the solution that need to be organized.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if usi

[2021-09-07 23:46] Myoldmopar commented on #9048
Also may need to bump the minimum visual studio version

[2021-09-08 13:01] #8174 closed, assigned to nobody

[2021-09-08 16:21] shorowit opened #9049 "New E+ 9.6 output variable warnings"
Issue overview
--------------
The E+ 9.6 IO Freeze build is producing new warnings (see below) for our IDF files. These warnings did not occur in E+ 9.5.

[code]

IDF files:
9.5: [in.idf.txt](https://github.com/NREL/EnergyPlus/files/7130349/in.idf.txt)
9.6: [in.idf.txt](https://github.com/NREL/EnergyPlus/files/7130340/in.idf.txt)

I assume this is related to the new Space object? @mjwitte

### Det

[2021-09-08 16:33] mjwitte commented on #9049
Yes, if I remember correctly, v9.5 simply ignored the additional other fuel types and did not create the additional output variables without warning. @shorowit please confirm.

[2021-09-08 16:55] shorowit commented on #9049
@mjwitte As far as I can tell, both E+ 9.5 and 9.6 create the additional output variables correctly and produce the same outputs. It's just that E+ 9.6 is generating new warnings.

It's also strange that E+ 9.6 is generating warnings about both Coal **and Electricity**. The IDF does have "Other Equipment Coal Energy" output variables but does not have any "Other Equipment Electricity Energy" outpu

[2021-09-08 16:56] mjwitte commented on #9049
OK, but does 9.5 create *Zone* Other Equipment Coal Energy?

[2021-09-08 17:08] shorowit commented on #9049
9.6 creates a Zone Other Equipment Coal Energy and 9.5 does not. Neither one produces a Zone Other Equipment Electricity Energy.

I'm totally not following here, sorry. Why does the warning say "Zone Other Equipment Coal Rate and Energy are not available." when these output variables are available in the 9.6 RDD?

[2021-09-08 17:12] mjwitte commented on #9049
@shorowit The warning's probably broken somehow. The goal for v9.6: If there are 2 or more OtherEquipment objects in the same zone which use different fuel types, only the first fuel type will be reportable at the Zone and Space level (because there's only one zone/space-level aggregate variable to be reported on). There should be warnings for the unreported fuel types. Will look into this and cle

[2021-09-08 17:13] mjwitte commented on #9049
Or maybe the warnings aren't useful and they can be removed?

[2021-09-08 17:28] shorowit commented on #9049
Okay, thanks, I finally understand. Yes, I do have two OtherEquipment objects in the same zone but with different fuel types. It's weird to me that EnergyPlus can't create both zone/space-level aggregate variables, but I guess you're saying there is something structural in the code that prevents it.

So the summary is: 1) the warning about Other Equipment Coal Rate and Energy is erroneous, and 2)

[2021-09-08 17:49] #8921 closed, assigned to jmarrec

[2021-09-08 17:51] #9018 closed, assigned to mjwitte

[2021-09-08 19:01] mjwitte commented on #9049
For the record, the code limitation shows [here](https://github.com/NREL/EnergyPlus/blob/f148fcd7da2ac8ae55fca42a52a6b439ccad3d7c/src/EnergyPlus/InternalHeatGains.cc#L5901-L5914). The `ZnRpt` struct only has one variable for Other equipment energy rate/use: `state.dataHeatBal->ZnRpt(zoneNum).OtherPower`. In order to report more fuel types, this would need to be an array or add additional variables

[2021-09-08 20:56] #8955 closed, assigned to yzhou601

[2021-09-08 21:16] #6479 closed, assigned to matthew-larson

[2021-09-09 00:32] #8353 closed, assigned to matthew-larson

[2021-09-09 04:06] shorowit commented on #9036
@kflemin Note that when you search for e.g. "Denver", the resulting hits just link back to energyplus.net rather than the actual weather files.

[2021-09-09 16:26] kflemin commented on #9036
thanks @shorowit. we are almost done with the changes and should have those deployed shortly.

[2021-09-10 02:57] #8730 closed, assigned to matthew-larson

[2021-09-10 16:37] #9015 closed, assigned to nealkruis

[2021-09-11 03:14] #8034 closed, assigned to nealkruis

[2021-09-13 14:52] Myoldmopar opened #9056 "EnergyPlus 9.6 Release Checklist"
Remaining items for 9.6, will be added to as we find them:
 - [x] Remaining PRs merged/punted/closed
 - [x] Deprecation document into release package
 - ~Deprecation email sent to stakeholders~  This can be done with the release out, not required for before.
 - [x] Updated Helpdesk link in readme, anywhere in documentation?
 - [x] Update README
 - [x] Run EPTravisTester - success! https://app.trav

[2021-09-13 18:24] RKStrand commented on #8881
@msfer86 @mitchute This seems like a documentation issue so I have added a paragraph to the text in the Engineering Reference in the Adaptive Convection Algorithm subsection to talk about the difference in the perimeter calculations.  So, when #8902 gets merged in, this should hopefully resolve this issue.

[2021-09-13 18:52] RKStrand commented on #8902
Addresses issues listed here as well as a few other minor things that I noticed while fixing the above.  One of those was that the problem with "Generator Produced Electricity Rate" was not just in the Generator:MicroTurbine but other generators.  In addition, there was a missing DC group for one of the generators.  The documentation for this should now match the code.

[2021-09-14 12:53] DavidHollman opened #9058 "EnergyPLus installer - all the "components" seem to be optional"
Everything shown in the "components" list of the installer seems like it should be optional. But if in fact you do unselect all of them (as I wanted just a bare energyplus.exe and its dependencies) then you cannot complete the installation - the [Next] button is disabled. So you have to pick at least one of these optional-seeming features.

![image](https://user-images.githubusercontent.com/182850

[2021-09-14 12:56] marctavenier opened #9059 "Unexpected behavior when using shading surfaces with transmittance schedule and PixelCounting"
Issue overview
--------------
When using shading surfaces with a transmittance schedule and the PixelCounting shading calculation method, the transmittance schedule seems to be ignored and all surfaces are made fully opaque. To me this seems to be a bug or at least unexpected behavior. When using PolygonClipping the transmittance schedule works as expected.

### Details
Some additional details for

[2021-09-14 16:48] mjwitte opened #9060 "Stepped daylighting control can produce lighting power multipliers > 1.0"
Issue overview
--------------
Daylighting:Controls with Lighting Control Type = Stepped can result in a lighting power multiplier > 1.0 at very low daylighting levels.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.6.0-ea114b8
 -Notice during development for #9002 - did not fix there to avoid diffs in that PR

### Checklist
Add to this list or remove

[2021-09-14 17:59] jcyuan2020 opened #9061 "Fuel type problem in the HVACTemplate:Plant:Boiler expand object"
Issue overview
--------------
A user reported that when using  "Propane" or "FuelOilNo1" as the fuel type for the HVACTemplate:Plant:Boiler object, the ExpandObjects will get a fatal error complaining that incorrect fuel names were given. The check will pass if the user supply the original input with obsolete type names “PropaneGas” and “FuelOil#1”; but then EnergyPlus will complain about these ob

[2021-09-15 10:15] msfer86 commented on #8881
@RKStrand @mitchute But why are the perimeters computed in different ways while using the exact same convection algorithm (TARP)? Shouldn't they be identical?
According to the documentation, the Adaptive Convection Algorithm allows for finer control over the convection models used for particular surfaces, making it possible to select different convection models for the different surfaces types (ro

[2021-09-15 14:48] RKStrand commented on #8881
@msfer86 I can see your point.  I think perhaps the best strategy right now is to leave this issue active and not close it after the documentation change gets merged.  At some point (this won't make the V9.6 release), either @mitchute or someone else (potentially me) can look at this further to determine what needs to be done.  I have added a new paragraph in the documentation to explain that the

[2021-09-15 18:09] kflemin commented on #7500
@shorowit search is fixed on this component...

[2021-09-15 18:10] kflemin commented on #9036
@shorowit, @jcyuan2020: search issues should all be resolved now!

[2021-09-15 18:15] shorowit commented on #7500
Verified. Looks good to me now, thanks @kflemin!

[2021-09-15 18:15] #7500 closed, assigned to mitchute

[2021-09-15 18:55] eringold opened #9066 "AirLoopHVAC:DedicatedOutdoorAirSystem fan placement limits are too strict"
It appears that AirLoopHVAC:DedicatedOutdoorAirSystem will only allow a fan as the first or last component on the AirLoopHVAC:OutdoorAirSystem:EquipmentList:

https://github.com/NREL/EnergyPlus/blob/35e432ba95e9a1fe51785e610c8eb1dbd4216baf/src/EnergyPlus/AirLoopHVACDOAS.cc#L453-L459

The following arrangement with a draw-though supply and exhaust fan (with nodes correctly assigned) will cause a se

[2021-09-15 19:09] jcyuan2020 commented on #9036
Thanks @kflemin ! One minor issue I noticed is that when I left-click the links "Download All" (or "Download weather file" or the others such as "Download stat" etc) from the popped-out menu of a map pin, it will do nothing. However, doing a right-click and then select the "Save Link as" menu in the browser pop-up menu it will work and download file properly--for both Mozilla Firefox or Microsoft

[2021-09-15 20:32] kflemin commented on #9036
@jcyuan2020, I believe it should be fixed now!  thanks, @axelstudios !

[2021-09-16 15:52] mjwitte commented on #8854
I disagree. The value should default to 1.0, otherwise, the Ratchet is doing nothing more than passing the Baseline Source Variable value (TotalDemand in this case). @JasonGlazer Please confirm. This impacts a doc change in #9057.

[2021-09-16 16:54] #8154 closed, assigned to RKStrand

[2021-09-16 16:56] JasonGlazer commented on #8854
The code does not show that it uses 1 by default and that is why you are seeing diffs. It is very old code and it is possible that it used to have a default value of 1 but changing it to C++ or some subsequent refactoring got rid of that. That input should really not be getting defaulted since it is so fundamental to what a ratchet performs. I think defaulting it to 1 makes more sense than 0 since

[2021-09-16 18:20] RKStrand commented on #8854
Since this requires a change to the IDD and possibly code changes as well, this will have to wait until after the release.  I will back out the changes I made for #8902.

[2021-09-16 18:54] rraustad opened #9069 "Report variable Environmental Impact OtherFuel1 CO2 Water Consumption Volume makes no sense"
Issue overview
--------------
Recent review of emissions reports shows a strange inference to CO2 Water Consumption Volume. The V9.5 and V9.6 both show Environmental Impact OtherFuel1 Water Consumption Volume as the report name. Yet the latest code shows:

PollutionModule.cc
    SetupOutputVariable(state, "Environmental Impact OtherFuel1 CO2 Water Consumption Volume"
    SetupOutputVariable(state,

[2021-09-16 19:38] #9061 closed, assigned to nobody

[2021-09-16 22:13] #8902 closed, assigned to RKStrand

[2021-09-17 15:42] amirroth commented on #8903
Addressed by PR [#8974](https://github.com/NREL/EnergyPlus/pull/8974).

[2021-09-17 15:42] #8903 closed, assigned to nobody

[2021-09-17 19:25] #9001 closed, assigned to RKStrand

[2021-09-17 20:41] rraustad opened #9072 "PTHP double counts DesignSpecification:ZoneHVAC:Sizing"
Issue overview
--------------
DO NOT FIX - will be addressed by #9052

Testing of #9052 revealed that when adding a DesignSpecification:ZoneHVAC:Sizing object to PTHP the air flow rate for the parent is correct but the cooling coil also adjust the flow higher by the same ratio.

Note that the heating air flow rate is equal to the cooling air flow rate when the HVAC sizing object specified a differ

[2021-09-19 21:27] #9012 closed, assigned to mjwitte

[2021-09-19 21:27] #9047 closed, assigned to nobody

[2021-09-19 21:27] #9049 closed, assigned to mjwitte

[2021-09-20 13:06] jmarrec opened #9074 "New segfault with 9.6.0-IOFreeze with COILSYSTEM:COOLING:DX"
Issue overview
--------------

An OpenStudio-resources regression test that was running with 9.5 is now segfaulting with 9.6. There is little change happening when I manually VT the 9.5 idf, aside from the Space Name being added and the `AirLoopHVAC:OutdoorAirSystem` availability manager list that is a removed field.

Segfault is here:
https://github.com/NREL/EnergyPlus/blob/9779acae724bcb16928778

[2021-09-20 15:59] #8688 closed, assigned to matthew-larson

[2021-09-20 16:23] #8976 closed, assigned to matthew-larson

[2021-09-20 18:56] matthew-larson opened #9075 "Resolve warnings/errors for unreasonable DHW temperatures in Example Files"
Issue overview
--------------
Followup to PR #8808 to resolve new warnings/errors created in the Example Files.  35 Example Files are now generating warnings/errors unreasonable DHW temperatures for WaterUse:Equipment.  Need to investigate each example file to determine cause of new warning/error and determine best solution to eliminate unreasonable DHW temperatures warnings/errors.

### Details
S

[2021-09-20 19:44] Myoldmopar commented on #8433
This was completed in #8918

[2021-09-20 19:44] #8433 closed, assigned to Myoldmopar

[2021-09-20 19:45] Myoldmopar commented on #8482
I think the original problem is actually solved now with #8918

[2021-09-20 19:45] #8482 closed, assigned to Myoldmopar

[2021-09-20 21:16] matthew-larson commented on #9069
@rraustad Looking to close out some easy issues, mind if I take this one?  I can do a pass-through of all the output variables as well.

[2021-09-20 21:17] matthew-larson commented on #9042
I can look at getting this one resolved, unless there are any other takers out there.

[2021-09-20 21:18] matthew-larson commented on #8990
I can take a look at this one, unless it's being resolved elsewhere.

[2021-09-21 12:29] rraustad commented on #9069
Go right ahead.

[2021-09-21 13:21] rraustad opened #9080 "AirTerminal:SingleDuct:Mixer zone equipment coil sizing when air loop is hard sized"
Issue overview
--------------
Follow up to #9052.

During testing it was found that Coil:*:WaterToAirHeatPump:EquationFit sizing does not account for AirTerminal:SingleDuct:Mixer. For terminal units connected to the inlet of zone equipment, this means that the coil entering condition used for sizing does not account for the load of the connected air system. This aspect of sizing this coil type wil

[2021-09-21 15:32] rraustad opened #9082 "Follow up to #9081"
Issue overview
--------------
Changes in #9081 require units tests and example file updates to exercise usage.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.

[2021-09-21 16:33] #9074 closed, assigned to nobody

[2021-09-21 17:18] Myoldmopar opened #9083 "Add Python-Free Packages"
Issue overview
--------------
Add GitHub CI release packages that don't include the bulk of Python, for users who have requested lighter packages.  They will need some extra testing to make sure they don't accidentally pick up the stdlib and other stuff, as well as making sure the code is happy without it.  (Maybe this part is already done in the existing alternate build?)

### Details
Some additi

[2021-09-21 20:42] mjwitte opened #9084 "Duplicate daylighting reference points in DXF output"
Issue overview
--------------
All daylighting reference points (SplitFlux and DElight) are written twice to the DXF output, once as "DEDatRefPt" and once as "DayRefPt".
Each reference point should only be written once.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.6.0
 - Noted while working on #9002

### Checklist
Add to this list or remove from it a

[2021-09-22 13:31] Nigusse commented on #8931
@Myoldmopar @rraustad This issue has been addressed and tested as part of PR #8466. This needs to be closed.

[2021-09-22 13:57] #8931 closed, assigned to nobody

[2021-09-22 14:35] jmarrec opened #9085 "DaylightMaps output is broken in SQLite in 9.6.0-rc3"
Issue overview
--------------

v9.5.0:

![image](https://user-images.githubusercontent.com/5479063/134364123-fda56bf0-0aa4-49c1-b3b3-bb0df2aa6861.png)

v9.6.0-rc3

![image (1)](https://user-images.githubusercontent.com/5479063/134364148-36f53bff-8182-4eb1-81a8-28b44373e37e.png)

This is likely due to https://github.com/NREL/EnergyPlus/pull/8889

### Details
Some additional details for this issue (

[2021-09-22 14:39] jmarrec commented on #9085
This header needs to change: https://github.com/NREL/EnergyPlus/blob/800da28f605b0bd4554f89a7021f81389ace9731/src/EnergyPlus/SQLiteProcedures.cc#L994

[2021-09-22 17:02] Myoldmopar commented on #9036
Everything looks to be working perfect now, I'm going to close this.  @jcyuan2020 if you identify any remaining issues, feel free to reopen or open a new ticket.  Thanks all!

[2021-09-22 17:02] #9036 closed, assigned to Myoldmopar

[2021-09-22 20:12] #9085 closed, assigned to nobody

[2021-09-22 20:41] mjwitte commented on #9056
I don't think it matters since there aren't any output variable name changes this release, but the first line of [Report Variables 9-5-0 to 9-6-0.csv](https://github.com/NREL/EnergyPlus/blob/develop/src/Transition/SupportFiles/Report%20Variables%209-5-0%20to%209-6-0.csv)  still has 10.0 instead of 9.6.

[2021-09-23 01:15] Myoldmopar commented on #9056
Closed via #9088

[2021-09-23 01:15] #9056 closed, assigned to Myoldmopar

[2021-09-23 13:13] rraustad opened #9090 "SingleZoneVAV model at times fails to meet the load and outlet temperature min/max"
Issue overview
--------------
Follow up to #9052.

Testing shows that the SZVAV model silently fails when the coil cannot meet the load. Unit test SZVAV_PTUnit_Testing shows issue when changing below to 2700 W.

    // Region 2 of control, modulate air flow rate, modulate coil capacity
    QZnReq = -2500.0;

Also evident in the unit test is that the convergence on load is less than ideal (e.g., 15

[2021-09-23 14:04] Myoldmopar opened #9091 "SolarShadingGPU File "Fails""
Issue overview
--------------
On Windows, with 9.6 (and also even back with 9.5), the GPU test file "fails".  I put quotes, because it looks like it runs fine, but the ERR file comes out empty and it doesn't produce an END file.  This was noticed a few weeks back when I spun up the new Windows CI instance, but I assumed it was a config problem on that machine since it didn't seem to occur elsewher

[2021-09-23 14:18] Myoldmopar opened #9092 "LaTeX Error"
Issue overview
--------------
A LaTeX build error recently popped up:

[code]

The line number is in relation to a root document, not the actual line number in the file listed there.  I tried a little poking around to find the dangling itemize but couldn't find it quickly.  It would probably be easiest to just bisect to find where it came in.

[2021-09-23 17:11] rraustad opened #9093 "ZoneHVAC:PackagedTerminal units report cooling/heating energy differently from UnitarySystem"
Issue overview
--------------
Follow up to #9052.

Testing shows the report variables for parent energy are different. It appears that the packaged terminal model reports correctly since there can be a latent cooling rate during heating mode when outdoor air is considered. Suggest adopting the method used by PTHP.

PTHP:

    Zone Packaged Terminal Heat Pump Total Cooling Rate
    Zone Packaged Te

[2021-09-23 23:59] xixihaha1995 opened #9094 "Add new object type into Energy+.idd.in"
Issue overview
--------------
Based one **WindowMaterial:GlazingGroupThermochronic**, I have tried to add the following new object. It can be successfully built on Windows10. But when I tried to run energyplu.exe, I have the following error:

[code]

[code]

[2021-09-24 12:32] mjwitte commented on #9094
[code]
Extensible objects require a name for the array in the JSON schema. See [modify_schema.py.](https://github.com/NREL/EnergyPlus/blob/develop/scripts/dev/generate_epJSON_schema/modify_schema.py#L74).

[2021-09-24 12:32] #9094 closed, assigned to nobody

[2021-09-24 17:59] rraustad opened #9095 "ZoneHVAC:PackagedTerminal units size air flow rate incorrectly for variable speed coils"
Issue overview
--------------
Follow up to #9052.

Testing shows the variable speed coil no load air flow rate is sized the same as the maximum of cooling and heating flow rates. This is incorrect for variable speed coils where the low speed air flow rate should be used as the no load air flow rate. The no load air flow rate is used during constant fan operating mode when there is no coil load (i.

[2021-09-25 20:28] xixihaha1995 opened #9098 "workflow for adding new object type"
Issue overview
--------------
I want to create an new object type(which is modified version of **WindowMaterial:GlazingGroup:Thermochromic**). I have referred to  #9094 #6999. However, I do have the following questions.

### Question
 - Although #9094 has been closed, I came across other issues which were apparently not related to "adding new object entry into Energy.idd.in".
 - Do we have some tu

[2021-09-25 23:05] oldusertoday opened #9099 "Old Versions of Eplus; Access to?"
Issue overview
--------------
Hi,
I'm querying if there's anywhere on the web where I can access versions of Eplus which will work with 32-bit Windows Vista? A google search would suggest, no;

I previously worked in co-simulation, integrating Matlab , BCVTB and V5.0 Eplus and will be re-engaging with this setup, but on a 32-bit windows vista system (unfortunately, I will not be able to upgrade to

[2021-09-26 19:37] #9099 closed, assigned to nobody

[2021-09-26 20:03] rraustad commented on #9099
Have you tried regisgtering or installing that file?

https://answers.microsoft.com/en-us/windows/forum/all/component-mscomctlocx-or-one-of-its-dependencies/4ae4dfc4-4a67-4927-990e-489cdb070efb

[2021-09-27 13:32] rraustad opened #9100 "Coil:Cooling:DX reports full load capacity for lower speeds"
Issue overview
--------------

    Component Sizing Information, Coil:Cooling:DX:CurveFit:Speed, HEAT PUMP ACDXCOIL 2 SPEED 1 PERFORMANCE, Design Size Gross Cooling Capacity [W], 42215.04842
    Component Sizing Information, Coil:Cooling:DX:CurveFit:Speed, HEAT PUMP ACDXCOIL 2 SPEED 1 PERFORMANCE, User-Specified Gross Cooling Capacity [W], 7501.15000
    Component Sizing Information, Coil:Cooling:

[2021-09-27 13:57] mjwitte commented on #9098
A few comments here:
1. Issues can be reopened if there are follow up comments or the problem is not resolved.
2. Issues are intended to be used for bug (defect) reports or new feature requests.
3. User support options are listed [here](https://energyplus.net/support-training).
4. I am not aware of any such tutorial. Some examples of recent new objects: #8495, and this commit https://github.com/NR

[2021-09-28 01:18] jcyuan2020 opened #9103 "Kiva problem when using clockwise geometry rule"
Issue overview
--------------
The “Clockwise” rule is a much less frequently used option to most users, although it is still allowed and used by some users for some specifical needs. It was recently identified from an input file supplied by a user that used “clockwise” geometry rule, that would cause some essential lines of code block to be skipped inadvertently (and apparently incorrectly skipped

[2021-09-28 03:18] rraustad opened #9105 "AirloopHVAC:UnitarySystem shows different heating capacity than heating coil"
Issue overview
--------------
Example file UnitarySystem_DXCoilSystemAuto shows incorrect sizing of downstream heating coil. This example file uses 2 unitary systems, one with a cooling coil upstream of the other which has a heating coil. With these systems in the same air loop the original intent was to size the coils with the same capacity. This is partially working, however, the upstream Unitar

[2021-09-28 11:52] eugeniorodrigues opened #9106 "Theta in Emmel Vertical Convection Coefficients Model is incorrectly determined"
Issue overview
--------------
In the Emmel Vertical Model, from the outside adaptive convection algorithm, theta (the difference between the surface normal and the wind direction) is incorrectly determined (ConvectionCoefficients.cc, [code line 8838](https://github.com/NREL/EnergyPlus/blob/f420c06a69737dddcf4ba740ad855b45a03a8ef3/src/EnergyPlus/ConvectionCoefficients.cc#L8838)). First, the surface

[2021-09-28 13:22] shorowit commented on #8804
This was addressed in https://github.com/NREL/EnergyPlus/pull/9057

[2021-09-28 13:22] #8804 closed, assigned to nobody

[2021-09-29 13:52] shorowit opened #9107 "Independently allow cubic spline interpolation option in PerformancePrecisionTradeoffs"
Issue overview
--------------
E+ 9.6 offers a new [cubic spline interpolation option for PerformancePrecisionTradeoffs](https://github.com/NREL/EnergyPlus/pull/8946). In trying to use it, I discovered that it can only be accessed by selecting Mode06 or higher. It'd be nice if this input could be independently offered so that you aren't required to use everything else included in Mode06. As far as

[2021-09-29 20:59] amirroth opened #9108 "Use Enumerations Instead of Strings to Internally Refer to Types"
[code]

There are multiple issues with these design of this function, but the first one is that `LoopType` and `LoopSupplyDemandAir` should be enumerations and not strings. Strings are slow, and they are for people. They should only be used in input and output processing. Everything else should use indices and enumerations. A quick grep shows that there are 314 such function parameters in EnergyPl

[2021-10-01 17:48] amirroth opened #9110 "What (and Why) is This "Par" Pattern?"
What is this pattern of packing a bunch of arguments into a `std::array`? I understand that functions with many arguments are bad, but this feels like the wrong way to reduce the number of arguments to a function. Are we trying to accomplish something else? If not, code clarity and maintainability would be enhanced by using normal parameters rather than this packing method. Here is an example of w

[2021-10-01 17:52] Myoldmopar commented on #9110
It was purely a way to pass a lambda and a payload into a solver function.  A root finder function takes a function reference and a payload.  Component models then ask the solver to find the root given a specific set of arguments.  In Fortran the most expedient way to get a general purpose payload was to cast everything to an array of floats and then reinterpret them once you are back inside.  Wit

[2021-10-01 17:54] Myoldmopar commented on #9110
Yep, it's general purpose: https://github.com/NREL/EnergyPlus/blob/5bd231be385e3f90dac9a801ef30d70f8ce54f50/src/EnergyPlus/General.hh#L84

As long as your payload matches the payload type you declare as an argument to your residual function then it should work.  Now in the code right now, everything still uses the old Fortran way of creating and passes Par arrays, but those can be cleaned up easil

[2021-10-01 18:05] amirroth commented on #9110
Can't you bind the `Par` arguments into the residual function before passing it to the solver? So that you are only passing a function with one argument (the domain) or maybe two (if you also need `state`)? That way the solver also becomes a normal function rather than a function template.

This is really the ideal application for the "lambda" constrct which allows you to bind variables from the e

[2021-10-04 11:54] jmarrec opened #9111 "Documentation 2021c"
Issue overview
------

A place to collect requested documentation fixes. Add a new comment to the issue with new doc-change-only issues. Someone will eventually fix them all up at the same time once critical mass has been reached.

[2021-10-04 11:55] jmarrec commented on #9111
* [x] Space Name isn't documented in I/O ref for `BuildingSurface:Detailed`, `Floor:Detailed`, etc
     * https://github.com/NREL/EnergyPlus/blob/2ad67318cfe34c038d73081846e141c43440678b/doc/input-output-reference/src/overview/group-thermal-zone-description-geometry.tex#L2143-L2149 missing the 'Space Name' in between 'Zone Name' and 'Outside Boundary Condition'
    * [x] `Space or SpaceList Name`

[2021-10-04 19:54] Myoldmopar opened #9113 "Typo in Chilled Ceiling Input Routine"
As I converted the sizing method variables into an enum class, there were many expected compiler errors showing up, but then this line caused an unexpected one:
https://github.com/NREL/EnergyPlus/blob/2ad67318cfe34c038d73081846e141c43440678b/src/EnergyPlus/ChilledCeilingPanelSimple.cc#L414

The sizing method is currently stored as an integer, which lets you do all sorts of fun stuff, like mistaken

[2021-10-05 19:43] Myoldmopar commented on #7058
![image](https://user-images.githubusercontent.com/849824/136090831-15476625-c897-48ca-a691-b7cc0ce6b959.png)

The zone equipment array has a sizing method array member, and the member is being used uninitialized.  Most of the time using zero, which is actually not the right code path, but the unit test was written to match this invalid value.  Every once in a while the uninitialized memory is non

[2021-10-06 13:36] eugeniorodrigues opened #9114 "Surfaces in EnergyPlus v9.6.0 InputOutputReference PDF document do not include the Space Name field"
Issue overview
--------------
In EnergyPlus v9.6.0 InputOutputReference pdf document, the descriptions of all surfaces (Floor, Ceiling, Wall, BuildingSurface, etc.) do not include the field for Space Name or SpaceList Name.

[2021-10-06 13:40] shorowit commented on #9114
This has been noted in https://github.com/NREL/EnergyPlus/issues/9111

[2021-10-06 13:40] #9114 closed, assigned to nobody

[2021-10-06 15:16] DavidHollman commented on #8984
I noticed that #9083 was created, and seems like it would deal with this issue.

[2021-10-06 15:16] #8984 closed, assigned to nobody

[2021-10-07 20:53] TiejunWu opened #9118 "CheckConvexity is not removing collinear points consistently, causing fatal error"
Issue overview
--------------
In the [attached example file](https://github.com/TiejunWu/EnergyPlus-IDF-Files/blob/master/2Zones_Uncontrolled.idf) , there are 3 surfaces with 8 vertices each, 2 of the surfaces are boundary condition to each other. 4 of the 8 vertices are collinear points.
[code]
When I run a simulation, it generates the following error message:

[code]
Looks like CheckConvexity re

[2021-10-08 13:07] jmarrec opened #9119 "Daylighting:ReferencePoint doesn't support Space"
Issue overview
--------------

`Daylighting:ReferencePoint` has a `Zone or Space Name` field, but it actually only accepts Zone Names.

https://github.com/NREL/EnergyPlus/blob/2ad67318cfe34c038d73081846e141c43440678b/src/EnergyPlus/DaylightingManager.cc#L5388-L5426

Additionally, Output:IlluminanceMap  (including IDD) should probably be updated as well to support Space Names instead of just 'Zone

[2021-10-08 19:38] jcyuan2020 opened #9121 "Furnace SetMinOATCompressor() issue for variable speed cooling coil"
Issue overview
--------------
While working on coil refactoring, an code error was discovered in the furnace's SetMinOATCompressor() function:
https://github.com/NREL/EnergyPlus/blob/f420c06a69737dddcf4ba740ad855b45a03a8ef3/src/EnergyPlus/Furnaces.cc#L12633-L12635

Judging form the the context, the variable to store the min outdoor air temperature of the compressor for the variable speed cooling c

[2021-10-08 20:48] JasonGlazer opened #9122 "Add cubic spline interpolation for other psychrometric functions"
Issue overview
--------------
To improve speed cubic interpolation was used for the PsyTsatFnPb which can be activated by using PerformancePrecisionTradeoff input object in Mode06. Other psychrometric functions (and possibly other pure functions) could also probably benefit from using cubic spline interpolation to improve the speed of EnergyPlus with only a minor impact on accuracy. These other fu

[2021-10-09 15:51] TiejunWu opened #9123 "GetVertices is dropping vertices inconsistently, causing fatal error"
Issue overview
--------------
In the [attached example](https://github.com/TiejunWu/EnergyPlus-IDF-Files/blob/master/in.idf), there are two adjacent surfaces with 6 vertices for each surface. Looks like in the input processing step, the program GetVertices is dropping Vertex 6 from Zn001:Ceiling002 and dropping Vertex 2 and Vertex 6 from Zn:001:Flr002 surface, causing vertex count mismatch.

[code

[2021-10-11 02:53] chriswmackey opened #9124 ""Heating Coil Water Heating Electricity Energy" Output Unavailable Despite Model Having a Coil:WaterHeating:AirToWaterHeatPump:Pumped"
Issue overview
--------------
[This section of the Input/Output reference](https://bigladdersoftware.com/epx/docs/9-5/input-output-reference/group-heating-and-cooling-coils.html#outputs-23), implies that we should be able to request the "Heating Coil Water Heating Electricity Energy" output whenever there's a `Coil:WaterHeating:AirToWaterHeatPump:Pumped` in the model.  However, this output does no

[2021-10-11 15:15] shorowit commented on #9124
The documentation appears to be incorrect; the output variables are "Cooling Coil Foo", not "Heating Coil Foo". We've been using "Cooling Coil Water Heating Electricity Energy" in our modeling workflow to successfully get the energy use.

Interestingly, note that the description of the Coil:WaterHeating objects all say:

But then the output variables in the documentation don't reflect that stateme

[2021-10-11 15:16] shorowit commented on #9111
- [x] Incorrect output variables for some Coil:WaterHeating objects; see https://github.com/NREL/EnergyPlus/issues/9124#issuecomment-940121827

[2021-10-11 19:30] chriswmackey commented on #9124
Thank you, @shorowit , for the quick response. I just verified that I can request "Cooling Coil Water Heating Electricity Energy" from the IDF that I linked to and it gives me the expected results of electric energy for the heat pump.

I can also understand why labeling it as a "Cooling Coil" might not have been the most intuitive name in the context of it being used to supply heat to a service ho

[2021-10-11 21:17] yzhou601 opened #9125 "Coil:Foo:WaterToAirHeatPump:EquationFit throws unnecessary warnings in cycling fan mode"
Issue overview
--------------
For equationfit GSHP coil + cycling fan configuration, there're recurring warnings "Actual air mass flow rate is smaller than 25% of water-to-air heat pump coil rated air flow rate." showing up for time steps when PLR is small. However, the full load air flow rate is greater than 25% rated airflow (it is actually operating at rated airflow), it shouldn't check PLR sca

[2021-10-12 13:39] waynetsu opened #9127 "Why did the variable changed by set_actuator_value not exactly the same as predicted"
Issue overview
--------------
I am learning to use the API (Library Mode) to exchange data with EnergyPlus while running.
I am following the example in part 1.4.4 of InputOutputReference.pdf.

The Python Code should have changed the outdoor dew point to the value of (outdoor drybulb temperature - 4).

However, I found that outdoor dew point was always not precisely the same as expected.

For examp

[2021-10-12 14:20] Myoldmopar commented on #9127
I'll have to think about the root cause, but you are doing everything right.  It is definitely something about averaging, or something getting stomped on at the beginning of each timestep/hour, or something.  If I run your file as-is, with the 1 hour timestep, I get this for the calculated dry-bulb minus dew-point, which should be a steady 4.0:

![image](https://user-images.githubusercontent.com/8

[2021-10-12 14:32] bonnema commented on #9127
I have not looked at the files. Typically the EPW weather data is hourly, and I believe that E+ interpolates between the hourly values when sub-hourly timesteps are simulated. I would bet the interpolation is more sophisticated that just linear between two hourly values in the EPW.

[2021-10-12 15:08] mjwitte commented on #9127
The interpolations are linear, but "hourly" output is averaged across the hour, so timestep reporting is needed to match the weather data once per hour. But the user file here is using a 1 hour timestep, so interpolation isn't the issue.

I think the problem is [here](https://github.com/NREL/EnergyPlus/blob/9390173ed70ba249b54a64061dbc47c0894c3829/src/EnergyPlus/WeatherManager.cc#L2219-L2241). `Ou

[2021-10-12 16:04] rraustad commented on #9127
@waynetsu, you might try to calculate and set your dew point temp and then using that Tdp to also actuate the outdoor humidity ratio using the psychrometric function psyWTdpPB(state, Tdp, PB).

[2021-10-12 16:09] bonnema commented on #9127
[with the python plugin](https://nrel.github.io/EnergyPlus/api/python/func.html#func.Psychrometrics.humidity_ratio_b)

[2021-10-12 16:11] Myoldmopar commented on #9127
Great additions @rraustad and @bonnema.  I'd suggest using the ReadTheDocs [live documentation](https://energyplus.readthedocs.io/en/stable/func.html#func.Psychrometrics.humidity_ratio_b) which will be more up to date than that github.io one, which I should just remove.

[2021-10-13 02:17] waynetsu commented on #9127
Wow!! Thanks for your fabulous answer, with such persuasive descriptive figures. Besides the timestep issue, I think something might happen within the flowchart of the EnergyPlus Program. The dewpoint temperature may be changed a little bit after it was actuated. I am trying to figure out the clear picture of how it works.
Plus, thanks for your encouragement^_^

[2021-10-13 02:18] waynetsu commented on #9127
I

[2021-10-13 02:18] #9127 closed, assigned to nobody

[2021-10-13 02:40] waynetsu commented on #9127
Thanks for your advice. I tried but it seems the humidity ratio was not available in the Actuator list.
However, I tried to actuator the relative humidity using [psychrometric library](https://pypi.org/project/PsychroLib/#modal-close). The relative humidity changed only a little bit (e.g.78%-->79.9% or 80%-->79.2% ). And the dew point output was almost the same as before.

[2021-10-13 20:22] jcyuan2020 opened #9131 "ZONEHVAC:BASEBOARD:RADIANTCONVECTIVE:WATER object transition issue from v9.4 to v9.5 (and v9.6)"
Issue overview
--------------

ZONEHVAC:BASEBOARD:RADIANTCONVECTIVE:WATER object may have a problem in transition from v9.4 to v9.5. When the v9.4 idf file is transitioned to v9.5, it will break the ZONEHVAC:BASEBOARD:RADIANTCONVECTIVE:WATER into two objects: ZONEHVAC:BASEBOARD:RADIANTCONVECTIVE:WATER and ZONEHVAC:BASEBOARD:RADIANTCONVECTIVE:WATER:DESIGN. A transition error could occur in some sce

[2021-10-14 20:57] lymereJ opened #9134 "Reference conditions not taken into account in when auto-sizing chiller capacity"
Issue overview
--------------
Currently, when a chiller is autosized by EnergyPlus, its reference capacity which is used throughout the simulation corresponds to the capacity needed to meet the coincident/non-coincident load on the loop during the sizing period, and it is not adjusted based on the reference conditions (temperatures and flows).

### Details
 - Version of EnergyPlus: 9.6

### Checkl

[2021-10-14 21:09] mjwitte commented on #9134
Just to be clear, the CapfT curve is active during the simulation, but it's not being applied for sizing (which is should be).

[2021-10-14 21:15] rraustad commented on #9134
I'd also like to see the impact on chiller PLR and outlet water temp pre- and post-fix at peak cooling load (design day/time).

[2021-10-14 21:46] jmarrec opened #9135 "File with spaces suddenly has zero outside air when DesignSpecification:OutdoorAir is per person"
Issue overview
--------------

File with spaces suddenly has zero outside air when DesignSpecification:OutdoorAir is per person

OpenStudio-resources regression tests are exhibit 0 outside air when we use E+ Spaces and DesignSpecification:OutdoorAir:SpaceList.

I will supply one example test model with two versions:
* No Spaces
* With Spaces

### Details
Some additional details for this issue (if

[2021-10-15 14:49] mjwitte commented on #9135
Among other things, this was completely broken if the spacelist only had one item.

[2021-10-15 16:11] mjwitte opened #9136 "InternalMass Space or SpaceList Name is ignored"
Issue overview
--------------
Like it says in the title. For the defect file, all of the Spaces should be in the same enclosure, but the internal mass is ending up in enclosure "THERMAL ZONE 1-Remainder". When this is fixed, the remainder space should be gone from the Space Summary table.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.6.0

### Checkli

[2021-10-15 20:01] jcyuan2020 opened #9138 "Schedule file row size could be incorrectly determined in some conditions and causing crash"
Issue overview
--------------
It was discovered that when for a CSV input file with many rows of empty items (instead of zeros) but also has sparingly >0 values in some rows, the row size determination could then be incorrect and will later cause a program crash. The root cause seems to point to here (or even earlier than this):
https://github.com/NREL/EnergyPlus/blob/f420c06a69737dddcf4ba740ad855

[2021-10-18 11:10] jmarrec opened #9140 "Output:IlluminanceMap doesn't support Space"
Issue overview
--------------

It wasn't terribly clear since it was part of https://github.com/NREL/EnergyPlus/issues/9119

Trying to use a Space Name will issue a std::bad_alloc too.

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of EnergyPlus (if using an intermediate build, include SHA): 9.6.0

### Checklist
Ad

[2021-10-18 11:13] jmarrec opened #9141 "InternalMass should use a 'Zone or ZoneList or Space or SpaceList' name like loads do"
Issue overview
--------------

Related: https://github.com/NREL/EnergyPlus/issues/9136

InternalMass should use a 'Zone or ZoneList or Space or SpaceList' name like loads do

Shouldn't InternalMass be changed from

[code]

to

[code]

**An IDD Change might not be a good idea at this point though.**

**But**: if you try to write 'Space Or Space List' field, input parser throws because Zone or Zone

[2021-10-18 13:04] mjwitte commented on #9141
@jmarrec I agree this would have been better as a single field. Based on the logic currently in #9132:

1. The note about ZoneList is true, mostly. If a ZoneList name is entered, the Space Name field will not be used, and each surface will ultimately be assigned to the default space for its zone. However, if Space Name is not blank, it currently will throw an error if it is not a valid space name.

[2021-10-18 14:48] mjwitte commented on #9141
To make this more useful with lists, I would suggest adding one or more fields to allow the internal mass area to be scaled by floor area, and possibly by occupancy (since furniture might scale by the number of persons).

[2021-10-18 15:20] jmarrec commented on #9141
I totally misread the IDD comment **when a ZoneList Name** is entered. I read that as "it something is entered in the Zone or ZoneList Name". Got it now!

FYI, this is what OpenStudio uses for InternalMass: it references a definition, a Space or SpaceType class, and a multiplier. The Definition object can be absolute, per floor area, or per person. We handle the conversions in the ForwardTranslato

[2021-10-19 15:53] eringold opened #9143 "Unclear if 'DHW' is valid EndUse key"
"DHW" shows up in the documentation a couple places as a valid end-use type. E.g. in the I/O Ref Table 5.3: End Use Category Types for Output:Meter
![image](https://user-images.githubusercontent.com/10799524/137945886-0965ca6b-151a-481e-97dc-9f47b78c84d3.png)

and https://github.com/NREL/EnergyPlus/blob/2f8b2517baa1e6e553fe766f4587a0926b4f5032/doc/getting-started/src/energy-meters/standard-energy-

[2021-10-19 17:19] mitchute commented on #9111
- [ ] DHW Documentation Issues. See #9143 and resolve any doc-change issues.

[2021-10-20 13:44] jcyuan2020 opened #9144 "Furnace model problem if an underlying variable speed coil is specified for HXAssisted CoilSystem"
Issue overview
--------------
If CoilSystem:Cooling:DX:HeatExchangerAssisted is selected as the cooling coil type for a furnace (e.g. AirLoopHVAC:Unitary:Furnace:HeatCool), with the current logic in the code, the processing of the actual child coil type in the CoilSystem:Cooling:DX:HeatExchangerAssisted will always be directed to a single speed coil type. With this code logic, then if the CoilSyst

[2021-10-20 16:28] msfer86 opened #9145 "HVAC consumption peaks with indoor convection algorithms"
Issue overview
--------------
Assessing the annual HVAC cooling consumption for different building orientations, covering the 360º-span (using the ideal loads air system object), while applying the TARP algorithm for the 'SurfaceConvectionAlgorithm:Inside', results in the expected yearly evolution, although with some spikes in the curve (see TARP image attached). However, applying the AdaptiveConv

[2021-10-20 18:33] mjwitte commented on #9144
@jcyuan2020 More important is how AirloopHVAC:UnitarySystem handles this, since UnitarySystem.cc will eventually be used to model all unitary system types and Furnaces.cc will go away.

[2021-10-20 18:38] mjwitte commented on #9145
See #8785

[2021-10-20 19:21] eugeniorodrigues commented on #9145
@mjwitte This new issue is different from #8785. In this one, the issue is with the SurfaceConvectionAlgorithm:Inside object when using AdaptiveConvectionAlgorithm option (we have tested all options).

In #8785, the issue is related to how the outside heat convection coefficients are calculate in SurfaceConvectionAlgorithm:Outside according to wind direction (no implementation issue here, just rat

[2021-10-22 17:20] eugeniorodrigues commented on #9145
@mjwitte We believe we might have found one of the reasons for the spikes in the 360° rotation of the building (see Figure).

![Figure](https://user-images.githubusercontent.com/16454403/138492266-e0fe58a7-128b-4d58-ba04-70e8d93f2fd1.png)

We added to the IDF the following Outputs:

    ViewFactorInfo;           !- Report Type

    Details;                  !- Report Type

We have used the same ID

[2021-10-24 22:40] #9098 closed, assigned to nobody

[2021-10-24 22:53] xixihaha1995 commented on #6552
@mjwitte I want to change the following **monthly** output to **hourly** output:
What's the correct direction should I look into? Thank you.
[code]
![image](https://user-images.githubusercontent.com/43649779/138616175-6b9c8e6a-67f1-48bc-9b43-21d004929547.png)

[2021-10-25 15:08] mjwitte commented on #6552
@xixihaha1995 Please open a [helpdesk](https://energyplushelp.freshdesk.com/) ticket or an [unmethours](unmethours.com) queston.

[2021-10-26 17:33] mjwitte opened #9150 "Wild card in meter name no longer works for Output:Meter"
Issue overview
--------------
Prior to v9.5, this Output:Meter object would results in five meters being reported for the defect file based on 5ZoneAirCooled.
[code]

Starting with v9.5.0, only the first one is reported. It appears that #8348 introduced the problem. [`findMeterIndexFromMeterName `](https://github.com/NREL/EnergyPlus/blob/9e55c4ccb7c70c5c4b3fb4e1d987023927e97183/src/EnergyPlus/Outp

[2021-10-27 14:00] mjwitte opened #9152 "Miscellaneous Daylighting Code Refactoring"
Issue overview
--------------
While working on changes to daylighting for Spaces, there were several comments suggesting further refactoring. These comment links aren't the greatest (because they don't show the line of code being commented on), but following into the specific commits will show the line of code at the time. These comments were posted during 9.6.0 development (roughly August-Sept 20

[2021-10-27 14:58] JasonGlazer opened #9153 "Update LCC to use 2020 and 2021 NIST supplement"
Issue overview
--------------
Add LCCusePriceEscalationDataSet20xx.idf for the 2020 and 2021 EIA energy price projections using data from:

https://www.energy.gov/eere/femp/building-life-cycle-cost-programs

Please note a script is available to do update this via #7218 created by @MatthewSteen

[2021-10-27 21:26] JasonGlazer opened #9154 "Leverage OpenEI's Utility Rate Database to help modelers"
Issue overview
--------------
Gathering information on utility tariffs and modeling them in EnergyPlus is time consuming and this time could be reduced for users by creating a script that would leverage OpenEI's database of utility tariff information to populate EnergyPlus utility tariff objects.

https://openei.org/wiki/Utility_Rate_Database

[2021-10-27 21:30] mitchute commented on #9154
We're doing this for another tool I'm working on. If someone picks this task up, let me know and we can discuss it.

[2021-10-27 21:49] JasonGlazer commented on #9154
@mitchute are you already translating from the OpenEI API into EnergyPlus objects and using EnergyPlus to calculate the energy costs?

[2021-10-27 21:57] mitchute commented on #9154
No, we're pulling from the API and processing the output for a different tool - not E+. I could at least discuss that piece. Shouldn't be too difficult to get from there to E+ objects, though.

[2021-10-27 22:23] bonnema commented on #9154
@mitchute, assuming you're speaking to EVI-EDGES, I think that uses the SAM-URDB link directly. I think translating into E+ UtilityCost:* objects is a fair bit of work. Maybe some of the PVWatts/SAM stuff @nmerket did could be leveraged.

[2021-10-27 22:25] bonnema commented on #9154
There also may be some annoying details to deal with, like I think the SAM/URDB link fixes a start day (Monday) and does not handle holidays. Probably more, but I am not super SAM knowledgeable.

[2021-10-27 22:26] leijerry888 commented on #9154
@JasonGlazer @mitchute , we have a working script at PNNL that handles OpenEI rates json pulled from their API and calculates electricity costs with EnergyPlus timeseries outputs. It is currently an independent postprocessing tool for EnergyPlus. We'd be interested in collaborating if need be.

[2021-10-27 22:36] mjwitte opened #9155 "UnitarySystem with Setpoint control but no setpoints does not throw errors"
Issue overview
--------------
AirloopHVAC:UnitarySystem with Setpoint control, but no setpoints does not throw errors.
It appears the problem is at UnitarySystem.cc 5411:
[code]
If there is no setpoint `m_SystemCoolControlNodeNum` remains zero.
Then here at UnitarySystem.cc 1285 if the control node is zero, then the check for valid setpoint is skipped.
[code]

Maybe here if `ControlNode ==0` there

[2021-10-27 22:37] bonnema commented on #9154
@leijerry888 pulling rates via the API sounds like a promising start. Does your script return a $/kWh and $/kW number for a given hour? I foresee some issues translating an OpenEI rate into E+ UtilityCost:* objects (its more about capturing the entire rate rather than the cost for any given hour). I could also be way off base. :grin:

[2021-10-27 23:09] eringold commented on #9154
I made a small effort of translating URDB json into EnergyPlus input and ran into some difficulty parsing complex rate structures into EnergyPlus's time of use schedule variables. Part of what made it difficult is there is no consistency between the order of charge structure periods (i.e. values in the "energyratestructure" array) and the numbers used in the 'schedule' ("energyweekdayschedule").

[2021-10-28 03:59] leijerry888 commented on #9154
@bonnema Yes it does, it's mapping the unit price values to each hour of the 8760 hours year and providing those long vectors as part of the intermediate results. Turning the rates structure into EnergyPlus objects in their current forms sounds like a difficult task.

[2021-10-28 04:23] shorowit commented on #9154
We've also used the SAM SDK to do this (inside an OpenStudio measure, at that), but it's not ideal.

Two comments:
1. Rather than a script, it'd be much better to have an E+ object with a field that references an OpenEI JSON file path, with the translation to EnergyPlus rate structures/objects occurring inside EnergyPlus itself. That would make it most convenient for the widest range of users, whe

[2021-10-28 12:08] JasonGlazer commented on #9154
@eringold the inconsistency of labeling the periods is annoying but, I agree, could be figured out.

I would like to see the actual UtilityCost:* input objects populated and available to the user, whether by script or as @shorowit suggested by reference in a new EnergyPlus object (presuming it generates the UtilityCost:* details and saves it to a local file). I think it is important for the modele

[2021-10-28 19:26] shorowit opened #9157 "Confusing ERR log when no weather file provided"
Issue overview
--------------
If you run EnergyPlus without a weather file, you can get output like this in the err file:

[code]

While the root cause of the error message is available (`   ** Warning ** Weather Environment(s) requested, but no weather file found`), it can be hidden amongst many other warning messages and the user assumes that the severe errors (node connections, zone names, etc.

[2021-10-29 00:17] jcyuan2020 opened #9158 "Exhaust Absorption Chiller input processing issue when having more than one input objects"
Issue overview
--------------
It was reported that EnergyPlus will give severe error message about the Exhaust turbine processing problems when there are more than one micro turbines defined in the file for absorption chillers / chillerheaters. The process error will be a fatal error that would terminate the simulation.

The root cause was found to be due to the incorrect override of the current r

[2021-10-29 05:20] xuanluo113 opened #9159 "Set Sizing:Parameters - Timesteps in Averaging Window when using PerformancePrecisionTradeoffs override mode"
Issue overview
--------------
When using the `PerformancePrecisionTradeoffs` object with Override Mode 01-07, the number of timesteps in an hour is set to 1 (as 1-hour time step). However, the `Timesteps in Averaging Window` field in `Sizing:Parameters` is not set to 1 correspondingly.
The `Timesteps in Averaging Window` field sets the timesteps in the averaging window to calculate the final zone

[2021-10-29 06:07] xuanluo113 opened #9160 "Timestep dependent air capacity used to calculate predicted load"
Issue overview
--------------
In [**Carbon Dioxide Predictor-Corrector**](https://bigladdersoftware.com/epx/docs/9-5/engineering-reference/carbon-dioxide-predictor-corrector.html#analyticalsolution) model, **Air Capacity** (carbon dioxide storage term in zone air [kg/s]) is calculated as `ZoneVolume * CpAir * RhoAir / (second in a system time step)`, and is time step duration dependent. The term i

[2021-10-29 17:56] DavidGoldwasser opened #9161 "9.6 introduced invalid weather line to EPW used for BESTEST runs."
Issue overview
--------------
The EPW used for BESTEST runs fails to load with EnergyPlus 9.6. Has energy plus gotten more strict and is an update just needed to this weather file, or should this weather file still load into EnergyPlus. It was not a problem in 9.5 or earlier.

   ** Warning ** Site:GroundTemperature:BuildingSurface: Some values fall outside the range of 15-25C.
   **   ~~~   ** Th

[2021-10-29 17:57] mjwitte commented on #9160
I'm confused. The description talks about air capacity in the CO2 predictor code, but the graphs show "load to cooling setpoint"? Is the zone cooling setpoint being met? If the zone is not holding at setpoint, any deficiency will carry into the next timestep. Any time there's a need to recover, the predicted load will be higher with a shorter timestep, because the thermostat always wants to reach

[2021-10-29 20:45] xuanluo113 commented on #9160
@mjwitte It may be a bit harder to walk through the code together here, so I've requested 15 min of time at the next Technicality call (next Wednesday) and will present more details about it. Hope we can meet and discuss then.

[2021-10-29 22:29] jcyuan2020 commented on #9161
Helpdesk Ticket 16053 reported a similar problem--the following error message is shown:
[code]

[2021-11-01 17:31] mjwitte commented on #5185
And now helpdesk ticket #16048 is stuck on this issue. This needs to get fixed.

[2021-11-01 17:51] mjwitte commented on #5185
Also, if the base transmittance schedule happens to be 1.0, then then `SurfaceTmp(SurfNum).IsTransparent = true` and the surface will be skipped. This needs to cross-check with EMS somehow.

[2021-11-01 20:19] jcyuan2020 commented on #9103
@nealkruis The line mentioned in the top comment is the obvious one that needs to be fixed (actually tried to fix in PR #9104). However, it seems that change alone would not fully fix the problem--the defect file would still encounter problems in later part of the code which seems deeper in the foundation calculations. So there could be more deeper changes needed for the Kiva foundation part that

[2021-11-01 20:23] nealkruis commented on #9103
@jcyuan2020 it's up to you. We can have separate PRs or I can add this to a new one. I will assign this issue to me.

[2021-11-01 21:20] jcyuan2020 commented on #9103
@nealkruis Thanks!

[2021-11-02 15:09] Nigusse opened #9164 "5ZoneTDV example file fatal due to incorrect path to schedule file in Ep-Launch V9.6"
Issue overview
--------------
5ZoneTDV example file fatal out when run using EP-Launch Version 9.6 when trying to access Schedule:File object. EP-Launch is looking at incorrect path to the file. This file and others run fine in EnergyPlus V9.5. But it runs fine in V9.6 if you provide full path to the file in Schedule:File object.

### Details
Some additional details for this issue (if relevant):

[2021-11-02 15:19] matthew-larson opened #9165 "Water heater hot water temperature unable to meet target temperature"
Issue overview
--------------
Warnings are being generated when the target temperature matches the hot water supply temperature because due to losses in the system, the hot water temperature would fall just short of the target temperature by 1-2C. The water heater is not supplying the correct hot water temperature and is underestimating the water heater energy use.

**60C Water Heater Setpoint Tem

[2021-11-02 15:37] mjwitte commented on #9164
@Nigusse Nothing changed with EP-Launch. EnergyPlus does the searching for this. Something must have changed in the search path list in EnergyPlus between 9.5 and 9.6.

[2021-11-02 16:29] #9106 closed, assigned to nobody

[2021-11-02 22:14] mjwitte commented on #9111
- [x] In the I/O Ref, for ZoneHVAC:EquipmentConnections, the overview and the field description for "Zone Return Air Node or NodeList Name" still say that Return Node is required. The idd does not tag this as required. I'm 99% certain it is no longer required. Should probably test this before changing the docs.

[2021-11-02 22:23] shorowit commented on #9111
- [x] "generatros" appears twice instead of "generators" in https://bigladdersoftware.com/epx/docs/9-6/input-output-reference/group-electric-load-center-generator.html

[2021-11-02 22:28] shorowit commented on #9111
- [x] The [zone name](https://bigladdersoftware.com/epx/docs/9-6/input-output-reference/group-electric-load-center-generator.html#liion-zone-name) field for the Li-ion battery only describes how the zone is used with respect to heat gains. It should also include language stating that the zone temperature is used by the battery (or if no zone is provided, outside temperatures are used). See [the co

[2021-11-06 12:21] shorowit commented on #6903
Fan:SystemModel is [now supported in AFN](https://github.com/NREL/EnergyPlus/pull/7330); is now the time to deprecate the old objects?

[2021-11-06 16:37] hongyuanjia opened #9171 "`Hydronic Tubing Length` field in constant flow radiant objects became empty after transition from v9.4 to v9.5"
Issue overview
--------------

In the transition file `CreateNewIDFUsingRulesV9_5_0.f90`, rules for `ZoneHVAC:LowTemperatureRadiant:ConstantFlow` were broken, which makes the value of `Hydronic Tubing Length` field become empty after transition from v9.4 to v9.5.

Taking the file `RadLoTempCFloHeatCool.idf` as an example, one input constant flow radiant object is:

[code]

After transitioning from