[2019-07-16 17:14] yzhou601 commented on #7282
@shorowit This one ended up with minor impact on calculations so it's not of a very high priority for us (so actually it's closed by me without being finished 😝 ). But it still seemed confusing and might have other impact so I remained this issue open to see if everyone else could help with it.

[2019-07-16 17:16] shorowit commented on #7282
Oops. I didn't notice that the PR was closed instead of merged. Sounds good.

[2019-07-16 18:27] lgu1234 opened #7391 "Incorrect calculation of outlet air properties for MultiStageGasHeatingCoil"
Issue overview
--------------
When airflow rate at no load condition is > 0 and not equal to the the airflow rate at heating condition for MultiStageGasHeatingCoil, the node mass flow rate is calculated at

                AverageUnitMassFlow = (PartLoadRatio * CompOnMassFlow) + ((1 - PartLoadRatio) * CompOffMassFlow);

When the air properties at the outlet node are calculated at speed number = 1

[2019-07-16 19:37] YanfeiNREL commented on #7272
![PresentValue](https://user-images.githubusercontent.com/43475933/61324056-be573a80-a7ce-11e9-90ee-8803f60344dc.png)
Here is what i got for PResent-Value

[2019-07-16 19:47] YanfeiNREL commented on #7272
@MatthewSteen Thanks for the clarification. Here is what i got after fixing the bug.
However, I have some uncertainty before closing this: does the "Present-Value" start from base date or service date? Right now it starts from service date.

![Capture](https://user-images.githubusercontent.com/43475933/61324526-e2ffe200-a7cf-11e9-886c-f0ec4dd22ef3.PNG)

[2019-07-16 20:03] MatthewSteen commented on #7272
It looks like you changed the IDF because the table goes from March 2020 to 2069 instead of April 2019 to 2068 like mine.

[2019-07-16 20:28] YanfeiNREL commented on #7272
@MatthewSteen  I didn't make changes to the IDF. I just changed the line of code where this Present-Value table is being produced. (starting from service date year).

[2019-07-16 20:35] MatthewSteen commented on #7272
Ok, then to answer your question above, no I don't think the PV should start from the service date.

* https://bigladdersoftware.com/epx/docs/9-1/input-output-reference/lifecyclecost-parameters.html#field-base-date-month

[2019-07-16 23:51] Myoldmopar commented on #7160
Closecx vcia #7359

[2019-07-16 23:51] #7160 closed, assigned to RKStrand

[2019-07-17 03:08] Myoldmopar commented on #7185
I'd like to bring this back up to see if there is any path forward for getting #7197 changed so that it can be merged in. I feel like assuming a minimum value of zero is a low-risk option, and we can continue to discuss the maximum value.

I think there are some differences in opinions, but we can find a good path forward.

@rraustad @mjwitte @dmey

[2019-07-17 04:31] Myoldmopar commented on #6880
Closed via #7369

[2019-07-17 04:31] #6880 closed, assigned to dareumnam

[2019-07-17 13:11] smldis commented on #4291
@RKStrand
I tried and there is a correlation:
![immagine](https://user-images.githubusercontent.com/682767/61377863-570bba00-a8a4-11e9-9789-2ff718ca822a.png)
There is a 1.35 factor to match the values. What's happening?

[2019-07-17 13:26] mjwitte commented on #4291
@smldis Output from the baseboard should equal boiler heating energy plus Pump Fluid Heat Gain Energy.

[2019-07-17 13:44] jmarrec commented on #7378
@jmaguire1 Could you please send me a file that exhibits this behavior? I want to check that repeated warnings will be handled gracefully in particular.

[2019-07-17 13:48] smldis commented on #4291
@mjwitte It's not, I checked `Pump Fluid Heat Gain Energy`. It is negligible in my case. Could you point me to the relevant source code files?

[2019-07-17 14:00] #7225 closed, assigned to jmarrec

[2019-07-17 14:37] Myoldmopar opened #7396 "Use QtIFW on Windows"
Issue overview
--------------
We recently moved from PackageMaker to QtIFW on Mac.  The CI systems are currently having an issue with building NSIS packages, and after a quick test, it looks like moving to QtIFW on Windows may be a great step forward on there too.  I have already installed QtIFW on our Windows CI box and created a successful test build.  We just need to do some polishing to make t

[2019-07-17 14:44] jmaguire1 commented on #7378
@jmarrec Sure, I've attached a run where the water heater is located outside in a cold US climate (northern Minnesota) with a very small burner size, you should see the tank temp drop below 0 within the first few days

[WH_freezing.zip](https://github.com/NREL/EnergyPlus/files/3402393/WH_freezing.zip)

[2019-07-17 14:53] Myoldmopar commented on #7220
Fixed via #7362

[2019-07-17 14:53] #7220 closed, assigned to RKStrand

[2019-07-17 17:10] #7156 closed, assigned to jmarrec

[2019-07-17 17:52] #7328 closed, assigned to jmarrec

[2019-07-17 21:08] Myoldmopar commented on #7355
Closed via #7387

[2019-07-17 21:08] #7355 closed, assigned to Nigusse

[2019-07-17 22:24] dareumnam commented on #7218
@MatthewSteen Thanks for the links, Matt. I will take a look and fix this issue.

[2019-07-18 15:33] jmarrec commented on #7396
@kbenne you wrote the NSIS stuff (https://github.com/jmarrec/EnergyPlus/blob/develop/cmake/CMakeCPackOptions.cmake.in#L67) . I'd like to make sure I'm understanding something correctly:

if 64bit (`\${If} \${RunningX64}`) you copy DLLs to C:\Windows\SysWOW64, and otherwise to C:\Windows\System32

Despite the names, System32 is full of 64-bit files and SysWOW64 is full of 32-bit files. I assume Sys

[2019-07-18 17:21] Myoldmopar commented on #7048
Closed via #7357

[2019-07-18 17:21] #7048 closed, assigned to Nigusse

[2019-07-18 20:28] EnergyArchmage opened #7400 "Plant Flow Resolver not correctly handling parallel branch pumps"
Issue overview
--------------
This issue could be a repeat of #3522 where parallel branches that do not need to run are getting flow.

Interface developer (TRANE) provided a defect file that has a chiller plant configuration with two chillers in parallel, variable speed branch pumps dedicated to each chiller, chiller flow mode "NotModulated" and operation scheme of sequential loading.  Loading doe

[2019-07-18 20:43] YanfeiNREL commented on #7272
Thanks for the detailed information, which were very helpful to fix this defect. @MatthewSteen
I made improvements and the results are good now. Please see the output file for details. I used your input IDF file. I made a few other service-dates and they are all good.

[eplustbl.zip](https://github.com/NREL/EnergyPlus/files/3408364/eplustbl.zip)

[2019-07-18 20:44] Myoldmopar commented on #7272
@YanfeiNREL the issue will remain open until the pull request is reviewed and merged.  Thanks for offering the fix, we'll get it reviewed soon.

[2019-07-18 20:45] EnergyArchmage commented on #7400
With changes in PR #7402 the plots for defect file look like this now

Chiller Part load ratios
![Case1_Chiller_PLRs_withSolverFix](https://user-images.githubusercontent.com/8754769/61490598-343fdb00-a962-11e9-8792-5587fc9a0470.png)

And comparison of supply side outlet temperatures, before and after
![Case1_SupplyOutletTemp_WithSolverFix](https://user-images.githubusercontent.com/8754769/61490625

[2019-07-18 20:47] YanfeiNREL commented on #7272
okay. Thanks.

[2019-07-19 16:43] jmarrec commented on #7396
To build this PR on Windows:

* Install QtIFW: https://download.qt.io/official_releases/qt-installer-framework/3.1.1/
* Add it to the path (eg: add `C:\Qt\QtIFW-3.1.1\bin` to the env variable system path)
* Change CMake configuration to use CPACK_GENERATOR_IFW=ON for windows

[2019-07-22 14:47] JasonGlazer opened #7406 "Change EP-Launch update checking to use GitHub releases page for EnergyPlus"
Issue overview
--------------
The current approach for EP-Launch to notify users of updates is to check the page:

http://nrel.github.io/EnergyPlus/epupdate.htm

but the approach requires a specially formatted page and it prone to be forgotten about during the process of releasing a new version of EnergyPlus. Instead change EP-Launch to check the normal GitHub releases page that is used by EnergyP

[2019-07-22 16:41] yzhou601 opened #7407 "(Desuperheater heating energy) / (cooling coil cooling energy + cooling coil electric energy) never hit Heat Reclaim Recovery Efficiency"
Issue overview
--------------
In running a model with an desuperheater object, whenever ``WATER HEATER:Water Heater Heating Energy [J](Hourly)`` is not 0, I would expect:

 ``DESUPERHEATER:Water Heater Heating Energy [J]`` / (``ASHP CLG COIL:Cooling Coil Electric Energy [J]`` + ``ASHP CLG COIL:Cooling Coil Total Cooling Energy [J]``) = 0.25,

which is the Rated Heat Reclaim Recovery Efficiency def

[2019-07-22 19:54] RKStrand commented on #4291
@smldis In looking at your file and after hearing that there is a constant factor increase between the zone system load and the boiler load and also seeing that you are using a radiant-convective baseboard, I wonder if the explanation is in the fact that some of the energy from the baseboard is actually radiant energy.  I think that the load you are seeing is the convective output of the baseboard

[2019-07-23 19:51] rraustad opened #7409 "UnitarySystem water cooling coil using CoolReheat shows HumRatMax SPM not found"
Issue overview
--------------
User was confused with message of missing set point manager when the manager was included. The UnitarySystem checks for the SPM at the system outlet node instead of the coil outlet node.

User got this message:

[code]

and then added another SPM to try to resolve it. And then got:

[code]

HumRatMax SPM is obviously present at the cooling coil outlet node (same as he

[2019-07-23 22:08] RKStrand commented on #6402
@mjwitte So, what I am understanding from this is that since .ON is initialized to true upon declaration and never changes we need some other test to see if the following zone equipment are truly "on":

Cooling Panel
All Baseboards (steam, water, electric, water all convective, electric all convective)
High Temperature Radiant

That a good summary of what needs to happen?

[2019-07-24 14:59] mjwitte commented on #6402
@RKStrand Not completely sure if it will work, but it seems that the equipment should be setting `.ON` to true/false and then this logic should do what it's supposed to. First step would be to come up with a defect file that reports the adaptive convection state to prove that it's always using the equipment on correlation.

[2019-07-24 15:47] RKStrand commented on #7384
@mjwitte Any idea on the history or purpose of this input field?  Is it to separate a zone into like an upper and lower area for stratification?  The docs are not very detailed in either the IORef or EngRef.  Also, in the IORef there is only one input--a name.  In the code, there is the possibility of four additional numeric fields.  These are not documented.  So, are those fields "researcher only

[2019-07-24 15:51] mjwitte commented on #7384
@RKStrand Well, we can't ask the original author anymore. The extra field processing should be removed to avoid confusion. Also, I tried doing a 2x on the netLWRad in my AirWall branch, and it went unstable, so not sure if #3 above is just a misunderstanding on my part of if the solution is trickier than it looks.

[2019-07-24 15:55] RKStrand commented on #7384
@mjwitte Ok, I'll remove the extra fields to avoid confusion and just set everything to the defaults.  I'll also see if I can understand the logic behind the 2x and make a decision on what if anything should be done.  My guess is that the whole thing is a bit touchy...

[2019-07-24 16:00] mjwitte commented on #7384
There's some discussion of the intent in the engineering reference under "Infrared Radiation Transfer Material". It's original purpose is somewhat questionable, but I'm planning to use the same method as one of the options for treating radiant exchange in the new Construction:AirBoundary object. Without the 2x it seems stable, but the reported IR exchange doesn't balance. Maybe it's just a reporti

[2019-07-24 16:20] chriswmackey opened #7411 "Processing of FenestrationSurface:Detailed Surfaces with More than 4 Vertices"
Issue overview
--------------
This issue is being opened as a feature request and a logical continuation of a previous issue that was addressed and closed relatively recently: [Processing of non-rectangular window surfaces](https://github.com/NREL/EnergyPlus/issues/5878). The removing of the previous restriction that all quadrilateral fenestration surfaces had to be rectangular has been extremely

[2019-07-24 16:26] jmarrec commented on #7342
Instead of just fixing the method, I propose to use a single enum throughout energyplus to avoid this kind of mistake down the line and make it clearer as to what's happening.

This is going to involve a lot of file changes, but I'm willing to give it a shot.

[2019-07-24 16:52] YanfeiNREL commented on #7109
The issue is related with PurchasedAirManager.cc. It looks like the source code only handles the option: Dehumidification-Control-Type=Humidistat. However, for other options: ConstantSensibleHeatRatio, None, or ConstantSupplyHumidityRatio, the source code doesn't implement the logic.
For Space1-1, the Dehumidification-Control-Type=ConstantSensibleHeatRatio, the same with Space2-1,  and Space4-1 (S

[2019-07-24 18:50] #7346 closed, assigned to jmarrec

[2019-07-24 19:49] mjwitte commented on #7342
Yes, that would be good to do at some point. But given where we are in the release cycle, it seems best to just fix this and plan for an enum pass through the code shortly after the next release when we have fewer open PRs.

[2019-07-24 20:06] rraustad commented on #7409
Change code to allow HumRat set point node to be different from Temperature control node. See #7412.

[2019-07-25 14:02] smldis commented on #4291
@RKStrand What you are saying makes sense now. I tried to search for the variables that would allow to prove this, I obtained this result:
![immagine](https://user-images.githubusercontent.com/682767/61880262-db89b880-aef4-11e9-84e3-da34e76129e5.png)
There is still a small difference ~0.1%. If the result is correct, this should be documented because having energy consumptions by zone or radiator i

[2019-07-25 15:40] RKStrand commented on #4291
@smldis Yes, those are the correct variables.  Code for the various radiant-convective baseboard models can be found in: ElectricBaseboardRadiator.cc, HWBaseboardRadiator.cc, and SteamBaseboardRadiator.cc.  Documentation on the baseboards themselves are in both the Input/Output and the Engineering References.

As for adding to the documentation, I will go ahead and add some text to the three radia

[2019-07-25 15:43] smldis commented on #4291
@RKStrand also, the original title of this thread is nonsense: 'Zone Air System Sensible Heating (or Cooling) Energy' is not about only about the equipments but also about the type of heat transfer, I would propose (maybe naively) to deprecate all the 'Zone Air System Sensible' stuff and introduce a good variable for the zones that is the sum of all the contributions of the radiators of the zone.

[2019-07-25 15:47] RKStrand commented on #4291
@smldis Well, that's a much bigger discussion that perhaps should have a separate issue logged and a lot more discussion.  I understand what you are saying to some extent.  There are a lot of radiant components that are not included in this variable, but there has not been any discussion of wether or now to resolve that.  It's not a trivial task unfortunately.

[2019-07-25 15:50] mjwitte commented on #4291
I don't understand why one would want to eliminate "Zone Air System Sensible ...". It provides a useful summation of all of the convective heat transfer to the zone. Adding a summation of radiant HVAC equipment output would be useful.

[2019-07-25 16:11] RKStrand commented on #4291
@smldis @mjwitte Ok, I have made some changes to the baseboard I/O docs to clarify things here.  This should show up in the latest commit that I just made.

I agree with Mike that the addition of the radiant HVAC equipment output might be useful.  That definitely needs to be a separate issue.  I'm not sure, but that could be a bigger ask than anticipated.  Without looking at the code, I suspect th

[2019-07-25 18:59] mjwitte commented on #4291
@RKStrand It might be good to add some text to the description of this output variable to explain what types of HVAC input get included.

[2019-07-25 19:12] RKStrand commented on #4291
@mjwitte Yup, agreed.  That was the original intent and was the first thing that I added as part of this work.  See the new input-output reference that gets built for this pull request and you should see new text that specifically declares what systems will contribute to this.  The issue that @smldis brought up was a slight tangent perhaps, but I included doc changes for that here as well.  The on

[2019-07-25 19:40] smldis commented on #4291
Good to go, I previously misunderstood the terms in Zone Air System Sensible Heating.
For 'Zone Air System Radiant Heating/Cooling Rate/Energy' I am not sure the naming is ok since the majority of the heat is not going to the Zone Air. Maybe 'Zone System {Radiant} Heating/Cooling ...'?

[2019-07-25 19:49] RKStrand commented on #7384
@mjwitte Ok, here is my take at why NetLWRadToSurf is multiplied by 2 and this appears not to be done in the heat balance.  It's because this type of surface would be a "partition" and the heat balance equation factors this into its unique formulation of the equation for temperature at a particular surface.  So, multiplying the value in the heat balance would be wrong because the equation form has

[2019-07-25 19:52] mjwitte commented on #6530
The WINDOW engine may be able to calculate this, but at this point, EnergyPlus has not been modified to access the calculation and report the values. Is that correct @vidanovic ?

[2019-07-25 19:55] mjwitte commented on #4291
@RKStrand Sorry - I was looking at just today's commit rather than the full pull request. I see it's there now in #7392.

[2019-07-25 20:00] mjwitte commented on #7384
Does it make sense? Sort of, but not completely. These are used on interzone surfaces, so only one side of the surface is interacting with a given zone. Do you see a place in the code that uses the "partition" equation for IRT surfaces?

[2019-07-25 20:19] RKStrand commented on #7384
@mjwitte Hmmm...I was looking at one of the example files that used IRT and I see that I misread that file.  Sorry--my mistake.  Yes, you are correct it needs to be an interzone surface.  Now, why it is including the area twice during InitInteriorRadExahange is a mystery to me.  I don't see any logical reason to do this.  Without any documentation and no access to the original author, all I can do

[2019-07-25 20:26] mjwitte commented on #7384
The 2x area is explained in the engineering reference, with equations. See ""Infrared Radiation Transfer Material".

[2019-07-25 20:45] RKStrand commented on #7384
@mjwitte Wow--I'm really not firing on all cylinders today.  Not sure how I missed that section.  Ok, I think that I have a guess as to why it's doing the multiply by 2 in that one place and not anywhere else.  I think it has to do with the fact that it is a weird case where it's not really there but it is.  So, to satisfy the heat balances, it acts like a surface in the overall heat balances.  Ho

[2019-07-26 13:31] jmarrec commented on #7342
@mjwitte I did see your comment, but when I was already about 70% in adding the enum... Tests results in #7415 seem pretty clean though, so hopefully this won't be too much of a hassle reviewing.
Just fixing this the "easy" way would also pose the same problems of having to modify the existing unit tests etc.

[2019-07-26 14:29] jmarrec commented on #6352
This works fine now, cf #7323

[2019-07-26 14:29] #6352 closed, assigned to nobody

[2019-07-26 15:47] mjwitte commented on #7342
Well, we'll have to see how it looks. @Myoldmopar will make the call whether this can go forward now or wait until after release.

[2019-07-26 16:13] mjwitte commented on #7384
@RKStrand For the air boundary work, I will be adding an option to combine two or more zones for the radiation exchange, but I the plan also includes an IRT surface option for the air boundary. My big concern is that "Surface Inside Face Net Surface Thermal Radiation Heat Gain Rate" does not balance which leads me to think that the current 2x method is not conserving energy, but I haven't proven t

[2019-07-26 17:22] YanfeiNREL commented on #6934
@rmcclung  Your input file (IDF) appears having some issue. I tried to run your IDF file, and it will freeze there. Please check your idf file and send me an updated IDF. Please see the attachment for error details.
[EPTEMP-00000001.zip](https://github.com/NREL/EnergyPlus/files/3436809/EPTEMP-00000001.zip)

[2019-07-26 17:24] YanfeiNREL commented on #7041
@rraustad Hey, is this issue still open? It looks like #6575 fixed it? I am a little bit of confused.

[2019-07-26 19:06] RKStrand commented on #7384
@mjwitte Ok, yesterday I clearly wasn't thinking (might have had a few distractions).  Sorry that this impacted the discussion here.  I see what you are saying and I agree with you that something is not right here.  I did a straight test with one of the example files and produced a net radiation imbalance as a result of the 2x not being carried through to NetLWRadToSurf.  This isn't right.  Now, w

[2019-07-26 19:16] mjwitte opened #7418 "Editor for epJSON"
Issue overview
--------------
To foster greater support for the epJSON file format, develop an editor that can read and write that format and supports all objects that EnergyPlus supports. The editor would have capabilities similar to IDF Editor and would be a high density display of inputs in a spreadsheet-like format. The fields would allow pull down lists for choices, links for names that are r

[2019-07-26 19:51] RKStrand commented on #7385
@Nigusse This must have been an oversight.  The GetMovableInsulationData does not allow GlassEquivalentLayer.  However, the code in HeatBalanceMovableInsulation.cc clearly allows this type of material as does the code in the unit test as you noted.  I will fix this so that the Get routine does not disallow this type of material.  Good catch!

[2019-07-26 20:34] rmcclung commented on #6934
It runs on my computer, it does have the 8.9 bug, where because there is a schedule referencing a file, it looks in the command window like it isn't running when in fact it is.  It takes about 8 minutes to run one day.

[2019-07-26 21:30] YanfeiNREL commented on #6800
@nowox Did you have any luck in solving this issue?  using the FMU/PyFMI approach?  Or figured out your own way by using bare Socket programming?  Please let me know so i can help you for the next step if necessary.

[2019-07-26 22:07] YanfeiNREL commented on #6767
@MatthewSteen Hey, would you please point me where did u find the issue? It is in the code of DXCoils.cc? Or WaterThermalTanks.cc? Or the code to generate the Input/Output References? Or from the EnergyPlus simulation outputs?Thanks.

[2019-07-27 01:40] MatthewSteen commented on #6767
Based on the links I provided, it was a documentation issue.

[2019-07-27 01:56] MatthewSteen commented on #6767
Based on the link, I believe it was a documentation issue. See the last four OutputVariable names.

    HVAC,Average,Cooling Coil Total Cooling Rate [W]

    HVAC,Sum,Cooling Coil Total Cooling Energy [J]

    HVAC,Average,Cooling Coil Sensible Cooling Rate [W]

    HVAC,Sum,Cooling Coil Sensible Cooling Energy [J]

    HVAC,Average,Cooling Coil Latent Cooling Rate [W]

    HVAC,Sum,Cooling Coil L

[2019-07-28 04:53] vidanovic commented on #6530
@mjwitte that is correct. As part of EnergyPlus, WINDOW engine have "no interest" in calculating U-value nor SHGC since that is not used as part of heat transfer and solar radiation distribution calculations. U-value and SHGC are standardized values at certain boundary conditions that are almost never exactly met when using weather file(s). However, when applying certain boundary conditions, WINDO

[2019-07-29 08:17] jmarrec commented on #7277
This is getting stale, and without further input from @faithefeng I cannot reproduce. So I'm going to close this issue, which we can reopen if we get more information to reproduce the bug.

[2019-07-29 08:17] #7277 closed, assigned to nobody

[2019-07-29 12:52] jmarrec commented on #7195
@mhinds2 I can confirm what you're seeing, thanks for reporting it.

I'll fix it shortly.

[2019-07-29 16:39] RKStrand commented on #7174
@Arezaei558 As pointed out in the unmethours discussion, there is a SET variable calculated for the Pierce model.  I will add the ability to output that variable.  To get SET you will have to select the Pierce model, but at least this will give you what you need.  I will add to the documentation so that it is clear you have to select the Pierce model to get SET.  The other models do not calculate

[2019-07-29 19:22] mjwitte opened #7420 "Unit ventilator with cycling fan results in simultaneous heating-cooling and negative cooling coil loads"
Issue overview
--------------
This was noticed while testing #7386. A test file with variable percent outdoor air and cycling fan operation has 1000s of warnings like this:
[code]

Looking at the output reveals times when the heating and cooling coils are both operating and times when the cooling coil output is negative. For example, look at the variables output, columns BJ and BM on 01/01.

### D

[2019-07-29 19:53] TiejunWu opened #7421 "Condenser hot gas reheat model for DX Cooling Coil System"
Issue overview
--------------
Many equipment manufacturers offer dehumidification reheat using condenser hot gas in rooftop, split DX AHU, and DX DOAS products.  In applications where active humidity control is used to control either discharge air or space air relative humidity, dehumidification reheat is required to prevent sensible overcooling.  Dehumidification by conventional means such as ele

[2019-07-29 20:01] TiejunWu opened #7422 "Connecting Air Loop DX coils to VRF refrigerant loops"
Issue overview
--------------
One of the recent developments in the VRF field is the ability to connect terminal devices other than indoor split fan coils to a VRF refrigerant loop.  These new terminal devices include Dedicated Outdoor Air System (DOAS) AHUs and roof top mounted split DX AHUs for space conditioning and ventilation.
    Nearly all VRF applications need ventilation.  Previously vent

[2019-07-29 20:08] TiejunWu opened #7423 "Forced to natural convection transition for "Ceiling Diffuser" convection model"
Issue overview
--------------
EnergyPlus v9.1 fixed a defect in the "Ceiling Diffuse" convection model (https://github.com/NREL/EnergyPlus/issues/7208).  The intended operation of this model was to use forced convection coefficients for air circulation rates of more than 3 ACH, and to use natural convection coefficients for air circulation rates less than 3 ACH.  Previously the model was using for

[2019-07-29 20:23] TiejunWu opened #7424 "Modeling recirculation air in DOAS AHU systems"
Issue overview
--------------
 Traditionally Dedicated Outdoor Air System (DOAS) AHUs provide 100% outdoor air for all system operating hours.  Over recent years DOAS applications have become more varied and systems with less than 100% outdoor air (and therefore recirculation air) are coming into use.
    One example is DOAS AHUs used to drive active chilled beams or induction beams.  The primary

[2019-07-29 22:08] YanfeiNREL commented on #6767
@MatthewSteen Which documentation do you mean for the "documentation"?  I found the issue in simulation output file(csv file), and Input/Output Ref. I want to make sure if there are other types of documentation having this issue if you know.

[2019-07-29 22:10] MatthewSteen commented on #6767
Yes, I/O ref per my links.

[2019-07-29 22:11] YanfeiNREL commented on #6767
@MatthewSteen Okay, Thanks.

[2019-07-30 01:12] lymereJ opened #7425 "Wrong PLR in chiller IPLV calculation"
Issue overview
--------------
The wrong Part Load Ratio (PLR) is used in chiller IPLV calculation.

### Details
In the current implementation of the chiller IPLV calculation it is assumed that the chiller PLR is equal to the different loading percentage prescribed by AHRI 550-590 (% of full load capacity). The PLR at each different loading should be recalculated as the PLR is function of the opera

[2019-07-30 14:51] RKStrand commented on #7420
@mjwitte Hmmm...negative cooling coil rates but also cooling coil loads when there is clearly a heating load.  Would you agree that both of those are a problem?  Should there ever be a cooling coil load in a unit ventilator if it is in heating mode and the heating coil is on?  Or am I forgetting something here?

[2019-07-30 15:19] mjwitte commented on #7420
Actually, to be sure of what's going on, you should re-run the defect file with "detailed" output instead of hourly. But my guess is that the control logic is calling the cooling coil when it shouldn't be.

[2019-07-30 15:36] RKStrand commented on #7420
@mjwitte That would be my guess too.  One additional data point that I just discovered.  Zone1UnitVent is the only one that did not have a Supply Air Fan Operating Mode Schedule Name.  When I added one similar to the other unit ventilators, the problem went away...interesting... Actually, just checked...the output is already detailed on the variables that we are interested in here.

[2019-07-30 15:42] mjwitte commented on #7420
Without the schedule name it's always in cycling mode. If you added a schedule that's always 1 then it's in continuous fan mode. The problem appears to be related only to cycling fan operation - perhaps a mis-step in adjusting for the cycling output vs continuous output?

[2019-07-30 17:10] mjwitte opened #7433 "Debug file gets deleted when it is not empty"
Issue overview
--------------
Tried to dump out user view factor objects using "Output:Surfaces:List, ViewFactorInfo, idf;" but eplusout.dbg disappeared at the end of the simulation.

In the debugger, I could see that the content was being written to `OutputFileDebug` in `InitInteriorRadExchange` but at the end of the simulation in `UtilityRoutines::CloseMiscOpenFiles`, this [check on the debug fi

[2019-07-30 20:17] Nigusse commented on #7381
I just saw that for multispeed DX cooling/heating coils in "Coil Sizing Details" HTML tabular report shows the low speed capacity instead of the high speed for Coil Final Gross Total Capacity [W]. This needs to be corrected. @shorowit Did you see this issue as well.

[2019-07-30 20:33] shorowit commented on #7381
@Nigusse Thanks for working on this!

I haven't looked at the Coil Sizing Details report much, but just took a quick look and agree with you that the "Coil Final Gross Total Capacity [W]" in this report is nowhere close to matching the "Speed X User-Specified Total Cooling Capacity [W]" in the Component Sizing Summary report.

[2019-07-30 20:46] shorowit commented on #7381
Is https://github.com/NREL/EnergyPlus/pull/7435 related to the coil sizing issue? Or just a coincidence?

[2019-07-31 15:24] mjwitte opened #7437 "Remove minimum limits for Heat Pump Heating Minimum Outdoor Dry-Bulb Temperature or equivalent"
Issue overview
--------------
Minimum limits were removed a while back from native idf objects for Minimum Outdoor Drybulb Temperature for Compressor Operation (or similar) fields (e.g. #6190). But there are still limits in the IDD for several HVACTemplate objects. This should be simply and IDD change.
[code]
This field is found in HVACTemplate:Zone:PTHP, HVACTemplate:System:UnitaryHeatPump:AirToA

[2019-07-31 15:27] mjwitte commented on #7437
Update: Apparently the code has hard limits for Coil:Heating:DX:SingleSpeed and for VRF. Need to search all DX heatng coils and HVAC system which support heat pumps to see if there are any other limits lurking in the code.

[2019-07-31 15:30] rraustad commented on #7437
Used when input field is not present:

static Real64 const minOATCompDXCooling = -25.0;      // min OAT for compressor operation for DX cooling coils

Update: min-fields = 21 for Coil:Heating:DX:SingleSpeed so this variable should never get used.

[2019-07-31 18:54] EnergyArchmage commented on #7102
I ran into this issue, which causes 7 fields to be missing in the Weather Statistics File summary table output.

As discussed during a subgroup call on 7/31/2019, I experimented with truncating the search strings to avoid the special characters and it worked well.  The changes have been published in

https://github.com/NREL/EnergyPlus/tree/7102-weather-stat-file-search-strings

[2019-07-31 19:09] mjwitte commented on #7102
Nice that it works.

[2019-08-01 17:24] dareumnam commented on #7372
The geometry of "CmplxGlz_SingleZone_Vacuum.idf" is not fully enclosed because the two edges of the ceiling are not the edges of the East and the North wall. To be fully enclosed, each edge of a surface must also be an edge on one other surface.
As you said, the error file shows the vertices that seem wrong. But these vertices are the same geometry when the original geometry is rotated 180 degrees

[2019-08-01 17:28] mldichter commented on #7372
Yes. Please use the link.
    -Mitchal
________________________________
From: Dareum Nam <notifications@github.com>
Sent: Thursday, August 1, 2019 10:25 AM
To: NREL/EnergyPlus <EnergyPlus@noreply.github.com>
Cc: Mitchal L Dichter <mldichter@ucdavis.edu>; Author <author@noreply.github.com>
Subject: Re: [NREL/EnergyPlus] Invalid vertex pairs for surface edges (#7372)

The geometry of "CmplxGlz_Singl

[2019-08-01 18:24] RKStrand commented on #7384
@mjwitte Just checking back with you about the previous comment.  Which do you think makes more sense for implementation: eliminating the 2x multiplier in the Init routine or modifying NetLWRadToSurf at the end of the Calc routine?

[2019-08-01 18:48] mjwitte commented on #7384
I don't know. That's for you to ponder :-)

[2019-08-01 19:32] RKStrand commented on #7384
@mjwitte Ok, as I don't have a solid explanation as to why one would multiply the IRT surface areas by 2, I am going to eliminate that.  I have done some testing and it shows that the radiation does in fact balance when this change is made.  Without any explanation to the contrary and despite that this was done purposely, I think this makes the most sense.

[2019-08-01 19:34] YanfeiNREL opened #7440 "Heating Coil Calculation uses Cooling-Coil properties"
Issue overview
--------------
The heating coil calculation uses the cooling coil properties in SetupOutputVariable() of the file DXCoils.cc, between the line of 5521-5602. This impacts the Coil:WaterHeating:AirToWaterHeatPump:Pumped, and Coil:WaterHeating:AirToWaterHeatPump:Wrapped.

Mainly, the heating coil has no latent/sensible energy, no latent/sensible energy rate. However the source code ref

[2019-08-01 20:23] EnergyArchmage commented on #5818
I have been comparing 8.9 to 9.1 and found that earlier version was not accurately applying holiday rules, e.g. Memorial day came out on a Wednesday and now on a Monday.  So something did get fixed here with the run period work I think.

[2019-08-01 21:18] dareumnam opened #7442 "An edge collapses into a point when the edge is too short"
Issue overview
--------------

Related to #7372
Link to the idf file (provided by Mitchal):
https://drive.google.com/file/d/1LUbjQIDpn5CM5l-mkz2rSFO4jv-IGleP/view?usp=sharing

It seems like E+ makes an edge of a building model geometry disappear when the edge is too short (according to the last warning message below). The geometry in the IDF file is not fully enclosed and has a very small ceiling

[2019-08-02 13:12] mjwitte commented on #7440
@YanfeiNREL I think this is OK, because Coil:WaterHeating:AirToWaterHeatPump* is a cooling coil from the perspective of the zone. It draws heat from the zone and heats the water in the water heater.

[2019-08-02 13:24] rraustad commented on #7440
I agree, the Cooling Coil report variables refer to the cooling coil on the heat pump. The condenser coil is in the water tank. This issue can be closed once @YanfeiNREL agrees.

[2019-08-02 16:47] dareumnam commented on #7182
I am taking a look at fixing this defect and I think I need to do a regression test after fixing the code. Could I use the epw file you uploaded for my regression test?

[2019-08-02 16:52] RKStrand commented on #7423
@TiejunWu Just out of curiosity, which developers did you talk to regarding the 3 ACH threshold?  I'm trying to avoid asking team members the same question twice and see if there is someone else who might have some insight into this.

As for a transition, I definitely agree with you on that issue.  A step change is never a good idea and there are other things in EnergyPlus that have transitions to

[2019-08-05 14:30] shorowit commented on #7182
@dareumnam Yes, that's fine.

[2019-08-05 18:33] mjwitte commented on #4291
Closed via #7392

[2019-08-05 18:33] #4291 closed

[2019-08-05 21:30] mjwitte commented on #7285
Closed via #7386

[2019-08-05 21:30] #7285 closed, assigned to RKStrand

[2019-08-06 17:08] eringold commented on #5904
May I add a request that the CentralHeatPumpSystem output values of [Ancillary Power](https://bigladdersoftware.com/epx/docs/9-1/input-output-reference/group-plant-equipment.html#field-ancillary-power-000) and Ancillary Energy, similar to the Boiler and IceThermalStorage objects?

[2019-08-07 00:00] rraustad commented on #6727
So with this symptom, the UnitarySystem should be in heating mode with a heating load target of load to heating set point. How to determine this symptom for cooling and heating and including the impact of OA is the key to solving this. If the mixed air temp was accurate when the decision is made it may make things easier. The PLR will change each iteration because a change in PLR will change the m

[2019-08-07 00:34] rraustad commented on #7440
@YanfeiNREL, I am closing this issue. You may reopen it if we have missed something with your description.

[2019-08-07 00:34] #7440 closed, assigned to nobody

[2019-08-07 02:13] rraustad commented on #7089
I searched 2007 ASHRAE HVAC Applications and could not find an adaptive optimum start algorithm. I did find one [here](https://www.govinfo.gov/content/pkg/GOVPUB-C13-c20394cce573e9828b8eabe4a9e4fbec/pdf/GOVPUB-C13-c20394cce573e9828b8eabe4a9e4fbec.pdf) and [here](https://journals.sagepub.com/doi/pdf/10.1177/014362448500600304) that seem reasonably simple, but they are not from the ASHRAE Handbook.

[2019-08-07 13:36] mjwitte commented on #6727
Makes me think of finding a way to let the unitary system control the OA. Options:
1) Add an OA inlet node to the unitarysystem object and bypass the whole OA-system-on-the-branch construct.
2) Add references to an OA mixer and OA controller to unitarysystem so it can call them directly
3) Locate the upstream OA system behind the scenes and call it from unitarysystem as part of the control sequenc

[2019-08-07 14:46] RKStrand commented on #7269
@mjwitte It definitely cannot use a no mass material because of the grid spacing issue as you suggested.  Though on the Mac, it never gets to the NaN problem but crashes on line 3983 of PlantPipingSystemsManager.cc:

            assert(g.Max > g.Min);

where it fails this assert.  Changing the material to a non-no mass material allows it to run.  Two potential solutions include:

1. Flagging this

[2019-08-07 15:19] mjwitte commented on #6767
This is related to #7440, which is actually the same issue.

@YanfeiNREL #7439 - changing the I/O Ref is incomplete. The code is using the "Cooling Coil . . . " names, so the current I/O Ref is consistent with the code. If we change one, we have to change both.

@MatthewSteen From the air-side perspective,  Coil:WaterHeating:AirToWaterHeatPump* objects are a cooling coil, so it was intentional to

[2019-08-07 15:59] YanfeiNREL commented on #6767
@mjwitte Thanks for your clarifying. I was also confused for the Coil:WaterHeating:AirToWaterHeatPump*. I see the input fields for those objects are talking "heating" properties. I will close this issue, if no further suggestions.

[2019-08-07 16:41] rraustad commented on #6767
I would avoid changing the cooling coil report names since those report names should be consistent across the different component types (unless this cooling coil type should be differentiated). For table reporting a single key should aggregate all like components. On the heating side a different name might me more appropriate if the current name causes mass confusion.

[code]

[2019-08-07 16:47] MatthewSteen commented on #6767
@mjwitte thanks for the comments and clarification. For context, the HPWH objects in my model were used to approximate an air-to-water heat pump chiller.

[2019-08-07 17:55] rraustad commented on #7089
I found the ASHRAE optimum start discussion. It's not called optimum start, it's called Recovery from Night Setback or Setup in Ch. 41.27 in 2007 version.

[2019-08-07 18:43] mjwitte commented on #6707
Closed via #7319.

[2019-08-07 18:43] #6707 closed, assigned to Nigusse

[2019-08-07 20:28] RKStrand commented on #7423
@TiejunWu I have an update based on an email conversation with the model author.  The 3 ACH threshold was based on the data under which the correlation was developed.  However, he felt that the results of the model would extrapolate down to 1 ACH fairly well.  I have implemented a fix based on a new threshold of 1 ACH and included a note regarding this in the Engineering Reference documentation.

[2019-08-07 22:04] yzhou601 opened #7445 "Evap cooler in air loop not cycling using RTF of on/off fan built in unitary system"
Issue overview
--------------
If an evaporative cooler is put in AirLoopHVAC system with an on/off fan built inside a dummy unitary system (because cycling on/off fan is not currently supported to be built directly in AirLoopHVAC  [#6613](https://github.com/NREL/EnergyPlus/issues/6613)), evaporative cooler is not able to cycle using RTF of cycling fan.

@Nigusse @rraustad @mjwitte Might have thoug

[2019-08-08 19:45] TiejunWu commented on #7423
@RKStrand Thank you very much for the fix. Last year it was Neal that found the the problem. Glad you have fixed it. Would this be included as part of version 9.2?

[2019-08-08 19:49] RKStrand commented on #7423
@TiejunWu I've made the fix and am waiting on someone to review it before it gets into the official code.  So, it seems very likely that this will make the Fall 2019 (V9.2) release.

[2019-08-08 23:10] mjwitte commented on #7026
Reopening this - it was mistakenly closed via github magic. I think most of these have not been addressed.

[2019-08-08 23:14] mjwitte opened #7451 "Documentation Issue 2019b"
Issue overview
--------------
A collection of minor documentation issues. See comments below for additional items.

- [x] I/O Ref "Zone Equipment Input Syntax Map" figure is missing.
- [x] I/O Ref "Representative Zone Equipment" figure is missing (next the previous one)

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPl

[2019-08-09 14:07] luisclv commented on #7421
This already exists, it is the [Coil:Heating:Desuperheater](https://bigladdersoftware.com/epx/docs/9-1/input-output-reference/group-heating-and-cooling-coils.html#coilheatingdesuperheater). Please correct me if I am wrong.

[2019-08-09 15:12] JasonGlazer commented on #7272
@MatthewSteen after reviewing the issue you reported and @YanfeiNREL fix, I believe that there is no bug at all. Let me explain and see if you concur. The base date that you are using is April 2019 and the Service Date is March 2020. The months are very important. The Present Value by Year table that shows the total present value starting that month and year for that month and the following 11 mon

[2019-08-09 18:36] MatthewSteen commented on #7272
@JasonGlazer thanks for the clarification, that makes sense. I'll close and trust that the code aligns with NIST's methodology. Perhaps some additional detail or an example in the I/O documentation would be helpful for other users. Regarding run time, the model is small and only took 3.5 min on my machine.

[2019-08-09 18:36] #7272 closed, assigned to YanfeiNREL

[2019-08-09 20:33] mjwitte commented on #7218
Closed via #7404

[2019-08-09 20:33] #7218 closed, assigned to dareumnam

[2019-08-12 13:58] #7385 closed, assigned to RKStrand

[2019-08-12 21:46] RKStrand commented on #4432
@mjwitte (A few years later...) So, after looking at another movable insulation issue, I came across this one and thought I'd look at it further.  The code is convoluted to be sure and explaining this can also be confusing.

I'll try to simplify things with a diagram for interior movable insulation:

zone side | movable insulation | remaining construction | other side (exterior, etc.)
............

[2019-08-13 15:02] rraustad opened #7453 "Incorrect variable used in warning when zone air flow is large"
Issue overview
--------------
Cut-n-paste error at:
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ZoneEquipmentManager.cc#L2659

[code]

In ZoneEquipmentManager::UpdateSizingManager when:

} else if (SELECT_CASE_var == EndZoneSizingCalc) {

Code should read:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Versio

[2019-08-13 15:52] #7372 closed, assigned to dareumnam

[2019-08-13 15:59] mjwitte commented on #7372
@dareumnam When closing an issue, please add a comment explaining why.

[2019-08-13 16:10] dareumnam commented on #7372
@mjwitte Thank you for letting me know. I closed this issue because the point that the author of this issue questioned was addressed in the comment above, and a new issue (#7442) that related to this issue was submitted. I will make sure to leave a comment explaining why before closing an issue from next time.

[2019-08-13 16:15] shorowit opened #7454 "Kiva w/ subdivided slabs yields different results"
I took the ZoneCoupledKivaSlab.idf and created a new version of it where the slab is subdivided into two equal slab surfaces. For the subdivided IDF, the total slab area and exposed perimeter are identical to the original file.

The subdivided slab IDF has ~0.5 GJ more heating and ~0.25 GJ more cooling than the original, using E+ 9.1. I would have expected the results to be nearly identical.

IDF

[2019-08-13 19:22] Nigusse commented on #7451
- [x] Fan:SystemModel is missing as a valid fan type in FanPerformance:NightVentilation object in I/O reference documentation [here](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-fans.tex#L711-L713).

[2019-08-13 20:35] mjwitte commented on #7437
Update from the user:

I just used e+ v8.9 and checked that the dx heating coil does in fact stay on below -20 DegC. I used -25 DegC for the test. I think I tested this before with OpenStudio and whenever I set the temperature in OS below -20 it sets back to -20 in the idf file. So the limitation is in OS and not e+. I just checked this again with OS 2.6. I might be different in 2.8.

Note that th

[2019-08-13 20:35] #7437 closed, assigned to nobody

[2019-08-13 21:50] YanfeiNREL commented on #6767
@mjwitte , which approach do i need to adopt to improve this issue with minimum efforts?

[2019-08-13 21:53] YanfeiNREL commented on #7109
i tried to revise the options for Dehumidification-Control-Type. It is still the same issue. looks like my initial speculation is not correct. @mjwitte

[2019-08-13 21:59] MatthewSteen commented on #6767
Seems like the easiest fix would be to update the docs explaining the reasoning for the OutputVariable names, which would (1) keep the naming convention consistent and (2) address this issue rather than potentially needing to open a new one to change the `/src` code.

[2019-08-14 14:16] TiejunWu commented on #7421
@luisclv Thanks for pointing this out. In additional to just use the condenser heat for reheat purpose, the proposal also looks at the different controls related to operating modes the heat is used. We will take a look at this object and evaluate how much it covers the controls features.

[2019-08-14 19:55] shorowit commented on #7454
Here are some IDF files where the difference is even larger (~3 GJ heating):
[1Slab.idf.txt](https://github.com/NREL/EnergyPlus/files/3503085/1Slab.idf.txt)
[2Slab.idf.txt](https://github.com/NREL/EnergyPlus/files/3503086/2Slab.idf.txt)

[2019-08-14 21:00] RKStrand commented on #5000
@mjwitte @Myoldmopar Ok, so the documentation agrees with the code as far as the >100 degrees test, but I have to say that I find no logical reason why 100 is used as the cutoff.  >90 seems more rational as per Yazdanian and Klems.  While someone might argue that we should handle anything related to Walton with the >100 cutoff and DOE-2 and MoWiTT with a cutoff of >90, the reality is that only the

[2019-08-15 14:55] JasonGlazer commented on #6744
@lgu1234 should this issue be closed?

[2019-08-15 15:10] lgu1234 commented on #6744
@JasonGlazer Yes.

[2019-08-15 15:13] #6744 closed, assigned to lgu1234

[2019-08-16 14:36] rraustad commented on #6228
Working on resolving differences in MinOAT. For multispeed HP I see that the parent and both MS coils have an input for Min OAT for compressor op. If there is a discrepancy, who wins? I'm leaning towards the parent, but the input in the parent object is not even needed, just use the inputs in the coil objects.

[code]

MultispeedHeatPump example file:
[code]

[2019-08-16 15:34] rraustad commented on #6228
I guess the best way forward is to use the coil object inputs, so there are 2 inputs for cooling and heating, and deprecate the input in the AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed object. This is the same way UnitarySystem does it, using a MinOATCompressorCooling and MinOATCompressorHeating to control operation and each of these are mined from the coil objects.

[2019-08-16 15:55] #6800 closed, assigned to YanfeiNREL

[2019-08-16 15:55] YanfeiNREL commented on #6800
it appears the user figured out this issue. i am closing it.

[2019-08-17 08:58] jmarrec commented on #7437
It's probably not an "issue" per se.

Typically OS idd will match E+ and sometimes we make some fields required and when they have no default in the IDD (because input is or isn't required based on a choice field usually, but sometimes there should be one instead of harcoding in the code), we usually search through the cpp code to see if there's an harcoded default and use that.

Sometimes os IDD

[2019-08-17 12:30] rraustad commented on #7453
Corrected mistake in #7461.

[2019-08-17 13:57] rraustad commented on #5155
Holiday issue is resolved in V9.2:
![image](https://user-images.githubusercontent.com/5778156/63212626-78470c80-c0d5-11e9-84cb-4e05ba1f01e9.png)

[2019-08-17 15:48] rraustad commented on #5155
Issue with schedule off after 15:00 on Aug 3 is still a problem. Updated 5155 defect file in.idf to run in V9.2.

![image](https://user-images.githubusercontent.com/5778156/63214301-99632980-c0e4-11e9-8ef4-dcf2ec3ff60f.png)

[2019-08-17 17:53] rraustad commented on #5155
Ah, this is a unique schedule where value= 1 prior to hour Aug 3, 15:00 and 0 thereafter.

So at hour 24 during daylight savings time, HourOfDay (24) + DSTIndicator (1) = 25

        WhichHour = HourOfDay + DSTIndicator;

which goes to the elseif and hour of day is now 1 (25-24) so it's looking at hour 1 (which is a schedule value of 1). This assumes that this schedule is used for the next day (i.

[2019-08-19 15:56] mldichter commented on #7451
- [x] Broken link on page 2639
https://www.energy.ca.gov/title24/2005standards/archive/rulemaking/documents/tdv/index.html

[2019-08-20 15:22] #7396 closed, assigned to jmarrec

[2019-08-20 16:44] rraustad commented on #7353
@shorowit this is a good test on UnitarySystem inputs.

Looking at the IDD the minimum inputs for cooling and heating are 0. So these are valid inputs.

[code]

[code]

So with your test, using ShowSevereError in UnitarySystem when flow = 0 and the coil is present does not seem appropriate. The user may want a 0 flow rate for cooling or heating, for example to test a cooling only system without ha

[2019-08-20 16:58] mjwitte opened #7464 "CoolingTower:VariableSpeed control problems"
Issue overview
--------------
User file with CoolingTower:VariableSpeed not delivering setpoint even though the load on the tower is well below capacity. The tower fan is running at full flow, but the outlet temp is well above setpoint. Not sure if it's a design input issue or a control problem in the tower algorithm. Problems shows up on 08/12 and other days.

The tower is also putting out lots o

[2019-08-20 20:24] #7342 closed, assigned to jmarrec

[2019-08-20 21:58] RKStrand commented on #4420
Just verified that this is still a bug.  Will be working to fix it for the upcoming release.

[2019-08-21 13:30] #7182 closed, assigned to dareumnam

[2019-08-21 15:17] YanfeiNREL commented on #6767
The issue is the same with #7460 . I update the DOC to further explain why we use "cooling coil" output variables for this type of Heating-Coil. I am closing it.

[2019-08-21 15:17] #6767 closed, assigned to YanfeiNREL

[2019-08-21 16:49] xuanluo113 opened #7466 "Duplicated count of source energy in the reported meter Source:Facility and in ABUPS Total Source Energy"
Issue overview
--------------
There is some confusion on the reported meter `Source:Facility` for Environmental Impact reporting.

From .mtr file, this meter is calculated by aggregating the four variables, including:

[code]

However, there seems to be some mismatch in the results if this meter is declared in any reference building test file.

For example, for `RefBldgSmallOffice`, first, `Enviro

[2019-08-21 17:17] JasonGlazer commented on #7442
@dareumnam this is as designed.  A tolerance is included when testing if points are equal and currently that tolerance is 1/2 inch (1.27 cm) which appears in:

https://github.com/NREL/EnergyPlus/blob/53b18e4aa9f4c3b539df6fd4d012437b360e6570/src/EnergyPlus/SurfaceGeometry.cc#L10542

So your example file fails. I guess I don't understand the case you are trying to simulate that has a wall height of

[2019-08-21 17:56] JasonGlazer commented on #6102
This issue must have been fixed between 8.7.0 and 9.1.0 because when the file is updated it no longer generates the warning message.

[2019-08-21 17:56] #6102 closed, assigned to JasonGlazer

[2019-08-21 17:58] dareumnam commented on #7442
@JasonGlazer You're right. That makes sense since the example idf file has 1cm of wall heights. The 1/2 inch (1.27 cm) of tolerance sounds reasonable enough to me. I think if the author of the original issue (#7372) confirms this, this issue can be closed. @mldichter

[2019-08-21 18:19] mldichter commented on #7442
@dareumnam @JasonGlazer The walls are 1cm tall in the model, but the strange part is EnergyPlus appears to collapse two points then treat the two collapsed points as an edge still.

Vertex 3 and 4 are very close together, and the error suggests that the Vertex 4 Z-coordinate {m} was changed from 0.01 to 0.0000, which would collapse Vertex 4 to Vertex 3. The error then references an edge from the o

[2019-08-21 18:25] JasonGlazer commented on #7442
@mldichter the warning can be ignored because it is under this 1/2 inch limit and the routine that generates that warning doesn't realize it is two different points anymore. As far as the rest of EnergyPlus, I don't think anywhere else uses that 1/2 inch limit so the rest of the calculations would  be fine. Nothing is really collapsing in the model, the reporting of the vertex start and end is jus

[2019-08-21 18:31] #7066 closed, assigned to Nigusse

[2019-08-21 18:46] mldichter commented on #7442
@JasonGlazer It was a strange simulation. We were trying to validate an EnergyPlus model of a heatpump from field data. In order to prescribe the return air temperature I wanted to test the model against, I kept the volume of the room constant but gave it a huge amount of surface area by flattening the room and setting a boundary temperature on the surfaces. I got this weird error, tried it out in

[2019-08-21 18:56] JasonGlazer commented on #7442
I know that is an issue, see #7383. It is in the same routine but a different issue that many people have come across.

[2019-08-21 18:56] #7442 closed, assigned to JasonGlazer

[2019-08-21 19:03] Myoldmopar commented on #7318
Closed via #7354

[2019-08-21 19:03] #7318 closed, assigned to Nigusse

[2019-08-21 21:36] TiejunWu commented on #7421
I read some of the EnergyPlus documents and looked into the EnergyPlus example 5Zone_Unitary_VSDesuperheater.idf. Looks like this component is a simple model that calculates the regfrigerant-to-air heat recovery, and it does not consider the effect on the refrigerant cycle efficiency. When there is hot gas reheat, depending on the system configuration and the reheat heat transfer rate, some or all

[2019-08-22 23:16] mldichter opened #7470 "Add Support for Negative TDV Generation in EnergyPlus"
Issue overview
--------------
Current Title 24 code compliance using TDV does not take into account PV panels and batteries. I'm pretty sure the California Energy Commission is working to incorporate PV panels and batteries into the TDV calculation for evaluating code compliance. In particular, PV panels producing more energy in an hour than the building consumes, generating negative TDV for the b

[2019-08-23 00:10] mjwitte commented on #7384
Closed via #7441

[2019-08-23 00:11] #7384 closed, assigned to RKStrand

[2019-08-23 15:04] #7367 closed, assigned to Nigusse

[2019-08-23 15:12] Myoldmopar commented on #7345
Fixed with #7363

[2019-08-23 15:12] #7345 closed, assigned to Nigusse

[2019-08-23 16:30] mldichter commented on #7451
- [x] Typo "crwon" in IO Ref 9.1

Typographical errors are common and many of them can be fixed with a simple spellchecker.

![crwon](https://user-images.githubusercontent.com/39242689/63607853-57c0fb80-c588-11e9-9227-af2539866c58.PNG)

[2019-08-23 18:01] #7423 closed, assigned to RKStrand

[2019-08-23 20:50] #7315 closed, assigned to jmarrec

[2019-08-23 21:13] #7365 closed, assigned to Nigusse

[2019-08-24 16:23] blockspacer commented on #6568
It may be good idea to use cling to solve that issue
see https://github.com/godotengine/godot/issues/31630

[2019-08-24 17:49] mjwitte opened #7471 "Sizing:Zone DOAS design temperatures autosize to zero"
Issue overview
--------------
In Sizing:Zone, there are inputs for DOAS sizing, e.g.
[code]
The two temperatures default to autosize, but a user file with `NeutralSupplyAir` (unconditioned DOAS air) and the temperature fields left off (so they should default) results in zeros which undersizes the cooling equipment (and presumably would oversize the heating equipment, but here it's a heat pump, so

[2019-08-24 22:49] rraustad commented on #7308
Closed via #7447.

[2019-08-24 22:49] #7308 closed, assigned to lgu1234

[2019-08-24 23:12] #7195 closed, assigned to jmarrec

[2019-08-25 12:19] mjwitte commented on #5000
Closed via #7458

[2019-08-25 18:39] RKStrand commented on #5000
Thanks, Mike!

On Aug 25, 2019, at 7:19 AM, Michael J. Witte <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed via #7458<https://github.com/NREL/EnergyPlus/pull/7458>

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/NREL/EnergyPlus/issues/5000?email_source=notifications&email_token=ABMJHPO7UUSGRBKPICT7V2DQG

[2019-08-26 12:58] #7375 closed, assigned to nobody

[2019-08-26 19:25] #7039 closed, assigned to Nigusse

[2019-08-26 20:41] #7086 closed, assigned to Nigusse

[2019-08-27 00:56] #7445 closed, assigned to yzhou601

[2019-08-27 15:23] #6738 closed, assigned to jmarrec

[2019-08-27 17:52] Myoldmopar commented on #4420
Closed via #7474

[2019-08-27 17:52] #4420 closed, assigned to RKStrand

[2019-08-27 18:27] rraustad commented on #7145
I just ran into a problem with changeover bypass where the operating mode changed from heating to cooling and the mixed air SPM did not execute again that time step so the mixed air node SP temp did not change and the cooling coil kicked in for one time step until the SPM caught up. So there may be more reasons to execute SPMs other than flow.

[2019-08-27 19:48] Myoldmopar commented on #7269
Closed via #7446

[2019-08-27 19:48] #7269 closed, assigned to RKStrand

[2019-08-27 22:20] shorowit commented on #7451
- [x] There are a bunch of old EnergyPlus links in the Tips & Tricks documentation, perhaps others. Here's an example:

![image](https://user-images.githubusercontent.com/5861765/63812110-976c4800-c8e6-11e9-9148-5f9f9d1d1c5e.png)

[2019-08-28 01:33] #6353 closed, assigned to jmarrec

[2019-08-28 02:25] rraustad commented on #6950
Closed via #7449.

[2019-08-28 02:25] #6950 closed, assigned to Nigusse

[2019-08-28 07:23] jmarrec commented on #7378
Added user defect file after cleaning invalid stuff and transition to 9.2.0 at https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/7000s/7378

[2019-08-28 13:39] Nigusse opened #7476 "Simplify the moist air specific heat capacity psychometric function"
## Issue overview

The equation used to calculate specific heat of moist air can be reduced to simple form and avoid the call for enthalpy of moist air. Currently energyplus uses function PsyCpAirFnWTdb(), which is based on the definition of specific heat = dh/dT, is given by:

            CpAir = ((PsyHFnTdbW(T + 0.1, w) - PsyHFnTdbW(T, w)) * 10.0);

The above expression requires to call enthalpy

[2019-08-28 15:21] Nigusse opened #7477 "MultiSpeed DX Cooling Coil sizing variable names and capacity reporting issues"
## Issue overview
--------------
Multispeed DX cooling coil has the following reporting inconsistencies:

- Coil:Cooling:DX:MultiSpeed lists, e.g., "Speed 2 User-Specified ... Capacity" while  Coil:Heating:DX:MultiSpeed lists, e.g., "User-Specified Speed 2 ... Capacity".
- Coil:Cooling:DX:MultiSpeed lists the capacity at only max speed (e.g., 4) while Coil:Heating:DX:MultiSpeed lists the capacity

[2019-08-28 15:49] Myoldmopar commented on #7425
Closed via #7426

[2019-08-28 15:49] #7425 closed, assigned to nobody

[2019-08-28 16:21] #5155 closed, assigned to rraustad

[2019-08-28 16:24] #4432 closed, assigned to RKStrand

[2019-08-28 19:24] #7151 closed, assigned to jmarrec

[2019-08-28 20:41] #7378 closed, assigned to jmarrec

[2019-08-29 02:19] #7379 closed, assigned to Nigusse

[2019-08-29 09:32] NicolaiMortensenMS opened #7478 "Question regarding Engineering Reference Section 7.8"
Issue overview
--------------
I'm interested in using the EnergyPlus Engineering Reference Section 7.8 (Window Heat Balance Calculation) in order to calculate surface temperatures of glazings. I intend to perform this calculation in MATLAB.

The documentation in section 7.8 is based on a double-glazing, and details a system of 4 linear equations to solve in order to calculate the four surface temp

[2019-08-29 16:36] rraustad opened #7480 "ZoneHVAC:PackagedTerminalAirConditioner with autosized steam coil terminates"
Issue overview
--------------
A user used steam coils in the ZoneHVAC:PackagedTerminalAirConditioner and autosized the Maximum Steam Flow Rate field. The program tried to size a water coil instead of a steam coil and terminated the simulation with a fatal error.

Workaround: Hard size the Maximum Steam Flow Rate prior to V9.2 (e.g., 0.01 m3/s).
Helpdesk ticket: 15260

### Details
Some additional d

[2019-08-29 19:41] shorowit opened #7481 "Difficult to query End Uses By Subcategory tables in SQLite"
It's extremely difficult to query data from the End Uses By Subcategory tables using the SQLite file. This is because you can only query based on RowName (first value in row) and ColumnName; however RowName can be blank for many rows in these tables.

For example, imagine trying to obtain the fridge electricity use from the `TabularDataWithStrings` SQLite table for results like these:

  | Subcate

[2019-08-30 14:15] RKStrand commented on #4397
@mjwitte Looking at this now after finally getting the user IDF to work (some special characters and other issues were causing a crash).  Note that the error is actually only a warning message so I think it actually runs the file properly, just complains about it.  Right now, all it does is check to see if the material names line up.  There is no checking regarding properties.  So, regarding multi

[2019-08-30 15:06] #7162 closed, assigned to lgu1234

[2019-08-31 11:34] Myoldmopar commented on #7400
Closed with #7402

[2019-08-31 11:34] #7400 closed, assigned to nobody

[2019-08-31 11:35] Myoldmopar commented on #3522
This is potentially closed with the merge of #7402, but I don't have time to go through all the defect files related to this and make sure.

[2019-08-31 11:37] #7480 closed, assigned to nobody

[2019-08-31 11:46] #7353 closed, assigned to rraustad

[2019-08-31 21:32] #7409 closed, assigned to rraustad

[2019-09-01 02:16] #7420 closed, assigned to RKStrand

[2019-09-02 02:21] #6228 closed, assigned to rraustad

[2019-09-02 02:21] #7453 closed, assigned to rraustad

[2019-09-02 22:02] jmarrec opened #7484 "ZoneControl:Thermostat should move the extensible fields at the end"
Issue overview
--------------

Here is the current IDD:

[code]

Field N1 should be moved betwen A3 and A4, so we can treat the Control Object Type / Control Object Name as extensible fields (in openstudio in particular, see https://github.com/NREL/OpenStudio/issues/3584#issuecomment-527249170)

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, versio

[2019-09-06 16:17] Lefort-Antoine commented on #5874
The IDD has this:
[code]
should be:
[code]

[2019-09-06 16:19] Lefort-Antoine opened #7490 "Error in IDD for ZoneHVAC:Baseboard:RadiantConvective:Electric"
The IDD has this:
[code]
should be:
[code]

[2019-09-09 17:04] mitchute commented on #7451
- [x] IORef [Figure 1.111](https://github.com/NREL/EnergyPlus/blob/fd07e7599f8b921178db9ced3f96aba53c39d582/doc/input-output-reference/src/overview/group-air-distribution.tex#L723) is missing a caption.

![image](https://user-images.githubusercontent.com/2985979/64551070-81e91c00-d2f1-11e9-84da-72562d64d7dc.png)

Also:
 - [ ] the X in the legend for "X - requires separate refrigeration system" sho

[2019-09-09 17:09] mitchute commented on #7451
- [x] Some figures do not appear in the docs (on mac, at least). For example, [Figure 1.110](https://github.com/NREL/EnergyPlus/blob/fd07e7599f8b921178db9ced3f96aba53c39d582/doc/input-output-reference/src/overview/group-air-distribution.tex#L555).

![image](https://user-images.githubusercontent.com/2985979/64551345-0e93da00-d2f2-11e9-988f-136ef1525f27.png)

This happens for docs downloaded from Gi

[2019-09-09 23:18] mdahlhausen commented on #5626
@asparke2 @mjwitte @EnergyArchmage
I'm running into this issue again in EnergyPlus 9.1 with both an integrated (in series with chiller, HX before pump on chilled water loop) and non-integrated economizer (in parallel with chiller, HX on its own supply branch).

In the integrated case, the chiller will not run if the minimum delta-T is above zero.
In the non-integrated case, the HX will not run if

[2019-09-10 10:56] santle opened #7492 "IDFVersionUpdater Problem"
IDFVersionUpdater  is not working proper

**In EnergyPlusV9-0-1, conversion of working IDF of E+version 8.9 to version 9.0 is not working**

C:\EnergyPlusV9-0-1\PreProcess\IDFVersionUpdater>Transition-V8-9-0-to-V9-0-0.exe
 Transition Starting
 Conversion 8.9 => 9.0
 Processing Old IDD -- V8-9-0-Energy+.idd
 Processing New IDD -- V9-0-0-Energy+.idd
 Enter "diff" for differences only, "full" for ful

[2019-09-10 16:36] #7176 closed, assigned to dareumnam

[2019-09-10 19:48] YanfeiNREL commented on #7466
@XuanLuoLBL I am working on this issue. A question: Which version of EnergyPlus are u using? Or Would you please upload the idf file? I need to repeat your issue as a starting point. Thanks.

[2019-09-10 19:57] YanfeiNREL commented on #6934
@rmcclung . Would you please send me an idf can be open by EP-Launch? I couldn't open your idf file, as i got errors from Line number 338372 to 338380. It looks like there is some issue with the branch or branchlist. I see it has more than 250 lines for the branchlist, which is also the error coming from.
I need to look at your IDF details to understand the issue.

[2019-09-10 20:03] rmcclung commented on #6934
@YanfeiNREL The attached idd file (saved as .txt) with extended fields should help
[Energy+ - Copy.txt](https://github.com/NREL/EnergyPlus/files/3597512/Energy%2B.-.Copy.txt)

[2019-09-10 21:14] ayezioro opened #7496 "IDF parsing error for WindowShadingControl in v9.0 and above"
Hi,
I opened this [discussion ](https://discourse.ladybug.tools/t/e-9-01-and-above-windowproperty-shadingcontrol-not-working/6684/18)in the Ladybug discourse and now i think i should report here ... and ask for advice.
Checked also this request in unmethours [forum](https://unmethours.com/question/36128/idf-parsing-error-for-windowshadingcontrol-in-v90/).
From the later i edited the Energy+.idd fi

[2019-09-10 23:23] xuanluo113 commented on #7466
I'm using 9.1. Any reference model in the testfile folder, such as RefBldgSmallOffice.idf, would produce the issue, if you add Source:Facility to the reported meter.

[2019-09-11 17:20] YanfeiNREL commented on #7466
@XuanLuoLBL . Where does your outputs (below) coming from?
'''
Site:Environmental Impact Electricity Source Energy
Site:Environmental Impact Purchased Electricity Source Energy
Site:Environmental Impact Surplus Sold Electricity Source
Site:Environmental Impact Natural Gas Source Energy
'''

[2019-09-11 17:31] xuanluo113 commented on #7466
@YanfeiNREL Those are also reportable variables that you can add to the output variable list.

[2019-09-11 17:39] YanfeiNREL commented on #6934
@rmcclung I replaced my idd file with yours, and i still can't open your IDF from EP-launch (version V8.9).
The errors i got:
   '''
   Too many fields for object: ElectricLoadCenter:Generators, Line Number 346918.
   Too many fields for object: ElectricLoadCenter:Generators, Line Number 346919.
   Too many fields for object: ElectricLoadCenter:Generators, Line Number 346920.
   Too many fields fo

[2019-09-11 17:51] rmcclung commented on #6934
[Energy+ - Copy.txt](https://github.com/NREL/EnergyPlus/files/3602104/Energy%2B.-.Copy.txt)
@YanfeiNREL Try again, I got a new computer and hadn't gone back to expand the lesser used fields in the old idd

[2019-09-11 19:02] YanfeiNREL commented on #6934
@rmcclung Thanks a lot! I can open the IDF now.

[2019-09-12 09:15] jmarrec opened #7499 "Unusual casing in ZoneProperty:UserViewFactors:bySurfaceName"
Issue overview
--------------

`ZoneProperty:UserViewFactors:bySurfaceName` is the only IDD object that doesn't have an upper case character at the start of each "word" (either start of name, or directly after a `:`).
I would suggest harmonizing and using `ZoneProperty:UserViewFactors:BySurfaceName` instead. I know casing doesn't matter for E+, but it does for OpenStudio.

I checked that quickly b

[2019-09-12 16:53] shorowit commented on #7451
- [x] The [example IDF object for Output:Table:Annual](https://bigladdersoftware.com/epx/docs/9-1/input-output-reference/output-table-annual.html#outputtableannual) has an extra field "Report Group Name" that isn't in the IDD.

Documentation:
[code]
IDD:
[code]

[2019-09-13 13:49] shorowit opened #7500 "USA_MI_Rhinelander-Oneida.County.AP.727415_TMY3 incorrectly named"
As far as I can tell, the EPW file posted on the [EnergyPlus website](https://energyplus.net/weather-location/north_and_central_america_wmo_region_4/USA/MI/USA_MI_Rhinelander-Oneida.County.AP.727415_TMY3) is incorrectly named with MI.

Note that:
- The header line in the EPW says WI
- The [TMY3 site](https://rredc.nrel.gov/solar/old_data/nsrdb/1991-2005/tmy3/by_state_and_city.html#W) lists it as W

[2019-09-13 13:53] shorowit commented on #7500
I quickly checked all the TMY3 EPW files and this was the only file incorrect relative to the TMY3 website.

[2019-09-13 16:51] YanfeiNREL commented on #7466
@XuanLuoLBL Thanks for your helps with the problem clarification.
I ran the RefBuildingSmallOffice and checked the outputs. The sum of Site:Environmental Impact Electricity Source Energy and Site:Environmental Impact Purchased Electricity Source Energy **is not** equal to the Source:Facility value. Please see attachment for details (idf, csv, figure).
Actually the Source:Facility is higher than th

[2019-09-13 22:21] YanfeiNREL commented on #7466
@XuanLuoLBL
Thanks for your clarifications.
(1)`Environmental Impact Electricity Source Energy` and `Environmental Impact Purchased Electricity Source Energy` are identical as reported.
    Based on the 5.1.17.212 of InputOutputRef:  `Environmental Impact Electricity
Source Energy` is for the electricity consumed at the site that was not produced at the site.
`Environmental Impact Purchased Electr

[2019-09-13 23:50] xuanluo113 commented on #7466
@YanfeiNREL
[code]

This is quoted from on the "eplusout.mtd" file in the run time folder. I found this logic wrong and I think it should be corrected to adding up Elec and Gas only.

[2019-09-14 11:32] shorowit opened #7502 "No data in Output:Table:Annual when using Maximum/MinimumDuringHoursShown"
Issue overview
--------------
The `Output:Table:Annual` object is returning no data when using MaximumDuringHoursShown or MinimumDuringHoursShown.

I used the following object in my IDF:
[code]

There are hours from which the maximum value should be pulled, but the report shows no data:

![image](https://user-images.githubusercontent.com/5861765/64907502-8a09d880-d6b0-11e9-8be0-e67cf1c171f9.png)

[2019-09-16 16:03] mjwitte commented on #7492
Start again with the original 8.9 file using the v9.1.0 updater (it will automatically do both steps up to 9.1 and you can ask it to save intermediates). If that works, then please note that here and close the issue. If that fails, then please attach the v8.9 here for further investigation.

[2019-09-16 16:19] mjwitte commented on #7496
@ayezioro Trying to piece all of this together. Some questions:

a. Is the "IDF parsing error" in IDF Editor? The only solution for this is to extend the IDD object in your local copy of the IDD.
b. Does the EnergyPlus simulation complete successfully?
c. What software is writing all of the shading controls into a single WindowShadingControl object?  If the shading controls are linked to daylighti

[2019-09-16 16:41] mjwitte commented on #7466
@YanfeiNREL @XuanLuoLBL Just a quick initial reaction here. There is no "logic" really that triggers this. Every metered output variables is assigned a meter type and resource type in the SetupOutputVariable command that instantiates it. With overlapping items like this, it can be tricky. It's possible that some of these should not be metered at all? Will need to think this through. And if there i

[2019-09-16 16:42] mjwitte commented on #7502
@JasonGlazer

[2019-09-16 16:42] ayezioro commented on #7496
Hi @mjwitte,
In response to your questions:
1. I see the issue in the IDF editor, though the file was not created directly in this editor. I've already extended the IDD but it is not a stable and always reliable solution. It worked when i was working with, say, 3 floor buildings. When i rise the hight (i.e. 9 floors) it was not enough and the simulation crashed. The thing is you can not know how m

[2019-09-16 18:54] mjwitte commented on #7496
@ayezioro It would help to see two example idf files, one good and one bad. Please attach them here in a zip file, or send them to energyplus-support@gard.com

[2019-09-16 18:56] mjwitte commented on #7496
... or provide a link as you suggested above ...

[2019-09-16 21:15] ayezioro commented on #7496
@mjwitte, this is [the link](https://www.dropbox.com/s/95ulrp2tbr1op5m/ThreeFloors_Works.zip?dl=0) with a couple of examples:
3 Floors, which simulates fine
8 Floors, also simulates but can't edit in the idf editor. Complains about the WindowShadingControl. Probably the reason is that the IDD doesn't has enough lines to write the shading controls.

In the 3Floor you'll see that a lot of controls w

[2019-09-16 21:35] dareumnam commented on #6994
@eringold @mjwitte @JasonGlazer I am wondering if this issue has been already fixed or someone is working on this issue. If not, I would like to take a look at fixing this defect. Could I also have the full idf file?

[2019-09-16 21:52] luisclv commented on #6144
Just a friendly note that once that PR #7459 is closed, the part of this issue about meters `Electricity` and `ElectricityPurchased` is still open. Ran into the issue today so I am glad someone else noticed. Thank you for the hard work!

[2019-09-17 12:05] JasonGlazer commented on #6144
@luisclv I think the meter issue was resolved in #6311 which adds a warning and was included in an earlier release of EnergyPlus. What else is still an issue? It might be worth describing in a new issue.

[2019-09-17 12:19] lingqi-su commented on #7010
Have you found the solution for this error? I would like to import the ASHRAE prototype large office building model into openstudio. After updating the idf files, I got the same error as yours.

[code]

Here is the updated file.

[ASHRAE90.1_OfficeLarge_STD2016_NewYork.idf.zip](https://github.com/NREL/EnergyPlus/files/3621210/ASHRAE90.1_OfficeLarge_STD2016_NewYork.idf.zip)

[2019-09-17 12:37] mjwitte commented on #6994
@dareumnam This has not been fixed as far as I know. If the surface details report says the surfaces are both at azimuth of 90 degrees, then that's what they are in the simulation. This may not be an EnergyPlus issue.

@eringold Reading the original post again, both surfaces should have vertices entered in the same order (either both clockwise or both counterclockwise, depending on the SurfaceGeom

[2019-09-17 12:37] #6994 closed, assigned to dareumnam

[2019-09-17 13:59] jasminaburek commented on #7010
I have not found the solution yet.

On Tue, Sep 17, 2019 at 8:19 AM Lingqi Paul Su <notifications@github.com>
wrote:

[2019-09-17 15:57] matthew-larson opened #7505 "ZoneHVAC:HybridUnitaryHVAC Availability Manager List Name"
Issue overview
--------------
The Availability Manager List Name input has no effect on the operation of the hybrid unitary system.  The field input is referenced [here](https://github.com/NREL/EnergyPlus/blob/81001c598a82ad3474a838c24225ec0f5b0e3ed6/src/EnergyPlus/HybridUnitaryAirConditioners.cc#L486).

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v9.

[2019-09-17 16:46] matthew-larson opened #7506 "ZoneHVAC:HybridUnitaryHVAC Requested Outdoor Air Flow Rate"
Issue overview
--------------
The [Zone Hybrid Unitary HVAC Requested Outdoor Air Ventilation Mass Flow Rate](https://bigladdersoftware.com/epx/docs/9-1/input-output-reference/group-zone-forced-air-units.html#zone-hybrid-unitary-hvac-requested-outdoor-air-ventilation-mass-flow-rate-kgs) output and the system node mass flow rate for the outdoor air node show an output of 0 when the model specifies

[2019-09-17 21:08] yzhou601 opened #7507 "Load introduced by ZoneHVAC:EnergyRecoveryVentilator not always met by AirLoop systems"
Issue overview
--------------
When modeling an ERV with AirLoopHVAC:UnitarySystem, Even with zone equipment fraction set to 1.0, in some hours, hvac still didn't meet 100% load.

    ZoneHVAC:EquipmentList,
    living Equipment List,                     !- Name
    SequentialLoad,                            !- Load Distribution Scheme
    ZoneHVAC:AirDistributionUnit,              !- Zone Equipmen

[2019-09-17 21:57] luisclv opened #7508 "Change the LifeCycleCost:UsePriceEscalation datasets to include ElectricityPurchased"
Issue overview
--------------
This is a follow up to issue #6144 per @JasonGlazer comment. Currently, the datasets for the LCCusePriceEscalationDataSet20XX files reference the resource `Electricity`, while OpenStudio simulations and even the Energyplus example file [5ZoneEconomicsTariffAndLifeCycleCosts.idf](https://github.com/NREL/EnergyPlus/blob/81001c598a82ad3474a838c24225ec0f5b0e3ed6/testfiles

[2019-09-18 06:34] santle commented on #7492
I have attached the IDF file here:
[Beeah.zip](https://github.com/NREL/EnergyPlus/files/3624772/Beeah.zip)

[2019-09-18 11:52] mjwitte commented on #7010
The problem with the `GlobalGeometryRules` object is that the prototype files use old synonyms which EnergyPlus accepts but OpenStudio does not allow. These *should* be cleaned up by transition, but are not currently (along with other synonyms, see #6601 ). Here's the object in these files:
[code]
Here is the IDD definition for the first two fields:
[code]
So, replace the geometry object with this

[2019-09-18 11:54] mjwitte commented on #6601
- [x] GlobalGeometryRules: ULC, CCW, etc.
*Addressed in #7523*

[2019-09-18 12:41] mjwitte commented on #7492
Strange, I cannot reproduce the problem here. I ran Transition-V8-9-0-to-V9-0-0.exe both in the v9.0.1 install and v9.1.0. They both completed without error. Here is the v9.0 file.
[Beeah-v901.zip](https://github.com/NREL/EnergyPlus/files/3626403/Beeah-v901.zip)

 I see the place in the transition source code where this says it's failing. But that code should only execute for a "RunPeriod" object.

[2019-09-18 15:40] mjwitte commented on #6601
- [x] Hmmm, transitioned a v810 file that had 0's and 1's for SizingPeriod:DesignDay fields for rain/snow/dst. These should be Yes/No - not sure when that changed and why it didn't transition.  See 4397 defect file.
*Addressed in #7532*

- [x] Same file   Output:Constructions,Construction;  should be   Output:Constructions,Constructions; same for Material/s
*Addressed in #7532*

[2019-09-18 16:30] YanfeiNREL commented on #7041
Here is the issue i recreated:
![Error_Recreate](https://user-images.githubusercontent.com/43475933/65167216-5c4dc800-d9ff-11e9-8c59-a84471b5b680.PNG)

[2019-09-19 01:50] mjwitte commented on #4397
Closed via #7487

[2019-09-19 01:50] #4397 closed

[2019-09-19 05:09] hongyuanjia commented on #7496
@ayezioro I believe this is because IDF Editor did not automatically add extensible fields when current object field number exceeds the total existing field number in IDD. So this is not related to EnergyPlus itself, but indicating that there is a need to improve IDF Editor on handling new extensible fields.

[2019-09-19 08:37] hongyuanjia opened #7511 "EnergyPlus shading control errors - too many controlled shaded windows in zone"
### Overview
The attached defect file generates these types of warnings:
[code]

### Workaround
The first warning is a true warning, review WindowShadingControl objects to be sure that "Zone Name" is consistent with both the "Daylighting Control Object Name" and the listed Fenestration Surfaces.

The second warning is a false warning and may be ignored.

### Details

 - Platform: Windows 8.1, Wind

[2019-09-19 09:11] guyue5 opened #7512 "The SQLite database failed to open."
Issue overview
--------------
when i run it in ray,
**FATAL:The SQLite database failed to open.

### Details
(pid=26824) Processing Input File
(pid=26824) **FATAL:The SQLite database failed to open.
(pid=26824) EnergyPlus Run Time=00hr 00min  0.22sec
(pid=26829) Program terminated: EnergyPlus Terminated--Error(s) Detected.

[2019-09-19 10:44] ayezioro commented on #7496
@hongyuanjia,
There are 2 issues here. One is what you are mentioning. The second is that the WindowShadingControls are assigned, most of them, to one of the windows without regard on the floor, zone or window itself they should be. The later is what makes me more worried becouse the results that can be obtained. The first one is just annoying.
From the original discussion i opened at the [Ladybug

[2019-09-19 10:46] ayezioro commented on #7496
Is @chriswmackey, and not as i wrote above. Sorry.

[2019-09-19 15:49] mjwitte commented on #7377
Turns out this problem existed in other terminal unit types. Full set of test files attached here along with group err file before and after fixes.
[7377-HVACTemplateBaseboard.zip](https://github.com/NREL/EnergyPlus/files/3632153/7377-HVACTemplateBaseboard.zip)

[2019-09-19 18:54] mjwitte commented on #7377
Closed via #7486

[2019-09-19 18:54] #7377 closed, assigned to JasonGlazer, mjwitte

[2019-09-19 21:43] chriswmackey commented on #7496
I am sorry that a good part of this issue @ayezioro  is posting is not an issue with EnergyPlus and is rather my fault with how I tried to handle the change in ShadingControl in honeybee between E+ 8 and 9.

Essentially, I was not grouping the FenestrationSurfaces by Zone in the ShadingControl objects, which was not important in E+ 8 but is now necessary in E+ 9.  I have fixed this in Honeybee and

[2019-09-19 23:24] ayezioro commented on #7496
Thanks @chriswmackey !!
I can report that the solution implemented in Honeybee is working fine. The issue can still be open becouse of what @chriswmackey  is mentioning regarding the amount of fields in the IDF.
I guess i misunderstood the source of the problem, so sorry if i make you @mjwitte to dig into this.

Thanks all,
-A.

[2019-09-20 00:48] mjwitte commented on #7496
Not a problem. This has highlighted a need to extend the idd object (too late for the upcoming v9.2 release, but will slip in for the next one). The existing IDF Editor won't ever autoextend long objects, but there are plans for a new cross-platform version (can't say now when that might be completed).

There's also you question of whether the shading control results are correct when windows from

[2019-09-20 10:33] ayezioro commented on #7496
Hi @mjwitte,
Certainly the first issue you mention is not critical right now.
The second i'm not sure is happenning anymore (though is worth to check what you said). After @chriswmackey the shading controls are now registered the same zone according to the amount of window surfaces n it.
-A.

[2019-09-20 11:28] Myoldmopar commented on #6323
Closed via #7242

[2019-09-20 11:28] #6323 closed, assigned to nobody

[2019-09-20 16:26] LorenzoBottaccioli opened #7514 "Transition from 8.6 to 9.0 not working on ubuntu"
Hi I'm trying to update an idf file from 8.6 to 9.0. I have understood that to do this is have to pass through the various version. I have problem from he first transition from 8.6 to 8.7 here is the error:

[code]

How do I solve it?

[2019-09-20 16:47] Myoldmopar opened #7515 "Prep for 9.2.0 Release"
Issue overview
--------------
A catch-all for tasks to accomplish for the 9.2.0 release.  Add to this list as needed:
- [x] Tag RC1
- [x] Check on Windows 8.1 Installer issues
- [x] Review any other last minute pull requests
- [x] Update README
- [x] Test on all platforms
- [x] Tag RC2
- [ ] Final Testing
- [ ] Tag v9.2.0

[2019-09-20 16:58] Myoldmopar commented on #7512
We would need more information to help with this.  The [issue template](https://github.com/NREL/EnergyPlus/blob/develop/.github/issue_template.md) asked for information regarding your run configuration, platform, version of EnergyPlus, etc.  Please provide more information including whether you are running EnergyPlus remotely, on a network share, etc.

[2019-09-20 17:01] YanfeiNREL commented on #7109
It seems like the issue was caused by time resolution. The issue reporter used the hourly time resolution for outputs.

To recreate the issue (Boulder CO weather file), i got the following figures:
(1.1) Zone Peak Cooling Load (**Hourly timestep**):
        zone-1: 3954.73, 15:00 PM, 7/21
        zone-2: 3875.76, 11:00 AM, 7/21 ==> off 7%
        zone-3: 6255.91, 09:00 AM, 7/21 ==> off 13%

[2019-09-20 17:04] mjwitte commented on #7514
@LorenzoBottaccioli These errors suggest that the V8-6-0-Energy+.idd file is empty. Check the contents.

[2019-09-20 17:09] Myoldmopar commented on #7514
I can confirm that the transition for 8.6-8.7 works for me using the 5ZoneAirCooled.idf example file on both Mac and Linux.  I agree, it seems like something went wrong with your 8.6 IDD file that should've been packaged up with your install.  If you see that the IDD has contents, and it still fails, please zip up the 8.6 IDD, 8.7 IDD, and your defect file and post them here so we can continue to

[2019-09-20 17:22] tijcolem opened #7516 "Alpha9_2 memory consumption"
This could be an issue related to Alpha9_2 release and it's ready being addressed but
@jmarrec discovered a process consuming excessive memory that you may want to take a look at. Here is comments by Julien.

 I don't know what's going on, suddenly airterminal_fourpipebeam_osm (and _rb) are failling. energyplus uses all of my RAM (16GB on this machine) while running a single simulation, I don't th

[2019-09-20 18:06] Myoldmopar commented on #7516
Can you attach an IDF so I can try to reproduce?

And yeah, it looks like maybe the OS forward translator has an issue with the new table structure, that might be causing the input processor to fail?  Just guessing at this point.

FYI @mbadams5  @kbenne

[2019-09-20 18:12] tijcolem commented on #7516
tagging @jmarrec to provide the sample file of his run.

[2019-09-20 18:16] jmarrec commented on #7516
I'll upload it in a few minutes. Mind that the fact the IDF has these weird values is on openstudio's side... Openstudio model has correct numeric value, something weird is going on in the Forward Translation to OSM probably

[2019-09-20 18:19] jmarrec commented on #7516
[in.idf.txt](https://github.com/NREL/EnergyPlus/files/3637231/in.idf.txt)

[in.osm.txt](https://github.com/NREL/EnergyPlus/files/3637232/in.osm.txt)

[2019-09-20 18:26] tijcolem commented on #7516
thanks for providing that, Julien.  Correct me if I'm wrong, but this was an e+ process consuming the excess memory, right?   My mistake if not.

[2019-09-20 18:44] #7109 closed, assigned to YanfeiNREL

[2019-09-20 19:03] jmarrec commented on #7516
Yes, it's definitly energyplus that hogging RAM like crazy. But we are feeding E+ gibberrish (it still shouldn't go crazy though...)

[2019-09-20 19:09] mbadams5 commented on #7516
The input parser is getting into an infinite loop. I'm looking into it right now.
However, that will just make EnergyPlus not get into an infinite loop, finish parsing, and report an error that those are not numbers. So you still need to figure out why the numbers are being output from the forward translator in that fashion.

[2019-09-20 20:04] jmarrec commented on #7516
Good to know you caught the infinite loop. I'm fully aware that the real fix for this specific issue is OS's side yes, looking into it

[2019-09-20 20:21] mjwitte opened #7518 "Crash when the same air loop serves more than one terminal unit in the same zone"
Issue overview
--------------
This issue is a fork from #7511. The crash there is in SystemReports::InitEnergyReports. It's an array bounds error because `AirLoopNum` is zero for one of the air terminal inlet nodes. The problem was traced back to poor logic in SimAirServingZones::InitAirLoops. The defect file has two terminal units in zone 3-1 which are both served by the same airloop. This *shoul

[2019-09-20 20:22] mjwitte commented on #7511
The crash is unrelated to WindowShadingControl. The crash is in a system reporting function (arrays bounds error), because this file has two air terminal units in the same zone served by the same airloop. Posting a new issue for this problem. #7518

After that is fixed, then I'll work on figuring out the daylighting errors here.

[2019-09-20 20:38] jmarrec commented on #7516
ok caught OpenStudio's problem in https://github.com/NREL/OpenStudio/commit/b730bb24c37ef07cd1941e0f5e56f06566eda57a (and the following commit where I caught a typo)

[2019-09-20 23:02] xuanluo113 commented on #7466
@mjwitte I'm a bit confused here with the comments. Originally I thought this 'Source:Facility' is metered as the total source energy use, and aggregating the annual meter should give the same value as in the tabular table summary, Table - **Site and Source Energy**, Row - **Total Source Energy**. However, this value in the html table is the annual sum of two meters:  `Electricity:Facility` and `G

[2019-09-20 23:11] YanfeiNREL commented on #7466
@mjwitte Please advise how do i fix this issue. It looks like we need some systematic change to the  output variable calculation?
@XuanLuoLBL Thanks for pointing out the I/O doc issue. I am working on adding some thing to the `Environmental Impact`.

[2019-09-20 23:29] #7516 closed, assigned to nobody

[2019-09-21 04:41] hongyuanjia commented on #7511
@mjwitte Thanks a lot for investigating this!

[2019-09-21 16:07] mjwitte commented on #7466
@YanfeiNREL @XuanLuoLBL The metering system is quite general which is why there is not specific documentation for specific meters. Perhaps that is a lame excuse . . . The mtd file is there to be the definitive documentation for what components are on each meter. I can look at this and provide some guidance, but not until after the v9.2 release is wrapped up.

[2019-09-21 16:09] #6939 closed, assigned to dareumnam

[2019-09-21 16:21] mjwitte commented on #7466
Until then, perhaps you can outline exactly what the "correct" answer should be, taking into consideration the possibility for on-site power generation. It may be that the meters used in the source energy table should be changed also. Consider nothing to be correct at this point and decide which component meters would be the correct ones to use - what would the user expect to see?

Or maybe the so

[2019-09-22 16:14] xuanluo113 commented on #7466
@mjwitte Sounds good. Thanks!

[2019-09-22 19:14] #7518 closed, assigned to nobody

[2019-09-22 21:24] mjwitte opened #7520 "ZoneHVAC:HybridUnitaryHVAC Second and Third fuel types - consumption is not metered"
Issue overview
--------------
Based on code review while removing fuel type synonyms, it appears that:

1. These energy consumption variables for ZoneHVAC:HybridUnitaryHVAC are not connected to a meter:
Zone Hybrid Unitary HVAC Secondary Fuel Consumption
Zone Hybrid Unitary HVAC Third Fuel Consumption Rate

2. Zone Hybrid Unitary HVAC Supply Fan Electric Energy is metered, that seems ok. But Zone

[2019-09-23 13:08] mjwitte commented on #6601
@mbadams5 @Myoldmopar  I've been working on cleaning out undocumented input synonyms from the EnergyPlus code and adding transition rules to CreateNewIDFUsingRulesV8_9_0.f90, naively thinking the key choices in the IDD were enforced by the input processor as of v8.9.

But now I see that [modify_schema.py](https://github.com/NREL/EnergyPlus/blob/60ed7207c2f3058fe8dc400a1aa741149094bebe/scripts/dev/

[2019-09-23 13:18] mbadams5 commented on #6601
@mjwitte Yes, the goal should be to eliminate schema modifications, where possible, especially the ones linked above. If I remember correctly, those were changes that needed to happen after 8.9 IO freeze, but they needed to be changed after Alpha testing where the autogenerated schema was too strict for existing workflows. Transition rules would be the better approach.

[2019-09-23 14:10] Myoldmopar commented on #6601
This is good stuff.  Thanks for the effort @mjwitte, and I'll just change the milestone to future.

[2019-09-23 14:11] Myoldmopar commented on #7511
Do we need to adjust the title of this now that you have addressed the crash portion of this @mjwitte?  And with the crash gone, is this urgent enough to try to get in for this release?

[2019-09-23 14:35] mjwitte commented on #7511
Title updated. Not sure if the remaining issue is urgent - will investigate now.

[2019-09-23 15:21] mjwitte commented on #7511
@hongyuanjia Regarding these warnings:
[code]
There is one WindowShadingControl object which specifies the wrong Zone Name:
[code]
With that changed to "Zone 1-Pantry" the above warnings are gone.

But the warning for `MapShadeDeploymentOrderToLoopNumber: found empty map for window in zone ZONE 3-3` remains.

This is a false warning which happens because not every window in Zone3-3 is included in

[2019-09-23 15:29] hongyuanjia commented on #7511
@mjwitte Oh, thanks for catching this! I was not able to catch this error. Good to know that I can just ignore the remaining warnings.

[2019-09-23 15:44] #7303 closed, assigned to YanfeiNREL

[2019-09-23 16:43] LorenzoBottaccioli commented on #7514
Hi @Myoldmopar ,

Here you find the requested files. [idf_idd_error.zip](https://github.com/NREL/EnergyPlus/files/3643192/idf_idd_error.zip) I'm currently working with EnergyPlus, Version 9.0.1-bb7ca4f0da installed on Ubuntu 18.04.3 LTS Release 18.04 Codename:	bionic.

[2019-09-23 22:47] dareumnam commented on #7078
@ecoeficiente  I'll be taking a look at fixing this defect. Could you please provide any more information about your issue? (For example, I am wondering which E+ version you used and what "a factor of 3" means.)

[2019-09-24 10:48] santle commented on #7492
Thanks.
I will be closing this thread shortly.
Before this, is there a way in energyplus to change the default weekend from "Saturday & Sunday" to "Friday and Saturday" as applicable to middle east? Your advice would be very helpful to me as I didn't find any related topic in the internet.

[2019-09-24 20:24] shorowit opened #7526 "E+ 9.2 Kiva simulation error: A cell has been assigned to multiple surfaces."
Issue overview
--------------
Tested v9.2.0-Alpha2 and one file hit a Kiva error that causes the simulation to fail. The file ran fine in E+ 9.1.0.
[code]

It's a building with a simple slab-on-grade construction. As far as I can tell, the exposed perimeter of 51.2064 m perfectly matches the perimeter of the floor construction, so I don't know why this error is occurring.

The error is presumably

[2019-09-25 13:39] #7526 closed, assigned to nealkruis

[2019-09-25 13:57] rraustad commented on #7507
The problem here is the CurDeadBandOrSetback flag, and is updated before each zone equipment is simulated (which is why I think this worked for UnitarySytsem used as zone equipment). I removed the CurDeadBandOrSetback flag from this test in function UnitarySys::initLoadBasedControl and the problem looks to be corrected. I am not exactly sure of this but when the loads are intialized, I think prior

[2019-09-25 17:14] rraustad commented on #7507
Furnaces and HVACMultiSpeedHeatPumps both use the CurDeadBandOrSetback flag so I suspect those models have a similar issue.

[2019-09-25 18:50] YanfeiNREL commented on #5904
Thanks for the details of defects. @mjwitte
The example IDF has RunPeriod of a week from 5.1-5.5. I did a whole year simulation (CentralChillerHeaterSystem_Simultaneous_Cooling_Heating), using the Melbourne Australia weather file. Version 9.2.

**Here is phase-1 to recreate the defects, for each item below:**

 1. Negative heat transfer rate for ground heat exchanger for a whole year.
![Q1_HeatTra

[2019-09-26 02:31] Myoldmopar commented on #7406
This should probably be moved over to the new EPLaunch repo.

[2019-09-26 11:53] JasonGlazer commented on #7406
I just added https://github.com/NREL/EP-Launch/issues/122

[2019-09-26 12:11] Myoldmopar commented on #7406
Thanks, I'll close this on here then.

[2019-09-26 12:11] #7406 closed, assigned to JasonGlazer

[2019-09-26 12:12] JasonGlazer commented on #7406
I'm not sure this should be closed yet. We still are distributing EP-Launch 2 with EnergyPlus so maybe it should be fixed also.

[2019-09-26 12:16] Myoldmopar commented on #7406
If we do any updating of the old EP-Launch, I'd think we would just be pointing them to EP-Launch-3 at this point.  I don't think we should update the old EP-Launch to give users more incentive to keep using it, when we've spent a bunch of effort on the new one.  I'm not strongly against fixing this particular thing, but I just don't want to make a habit of adding features to both tools.

[2019-09-26 12:18] JasonGlazer commented on #7406
Ok. I get that. I will go through the other EP-Launch issues.

[2019-09-26 12:19] JasonGlazer commented on #6131
Closing issue to focus effort on EP-Launch 3

[2019-09-26 12:21] #6131 closed, assigned to JasonGlazer

[2019-09-26 12:22] JasonGlazer commented on #5995
Closing issue to focus effort on EP-Launch 3

[2019-09-26 12:22] #5995 closed, assigned to JasonGlazer

[2019-09-26 12:22] JasonGlazer commented on #5605
Closing issue to focus effort on EP-Launch 3

[2019-09-26 12:23] #5605 closed, assigned to JasonGlazer

[2019-09-26 12:23] JasonGlazer commented on #5555
Closing issue to focus effort on EP-Launch 3

[2019-09-26 12:23] #5555 closed, assigned to JasonGlazer

[2019-09-26 12:24] JasonGlazer commented on #6632
See: https://github.com/NREL/EP-Launch

[2019-09-26 12:24] #6632 closed, assigned to nobody

[2019-09-26 13:25] mjwitte commented on #7515
Cleaning up old RC installs by running the maintenance tool and just realized that it's deleting all EP-Launch settings from the registry. Ugh.

[2019-09-26 13:27] mjwitte commented on #7515
And that generates an error during uninstall of the next folder, because the keys are gone.

[2019-09-26 13:29] Myoldmopar commented on #7515
Thanks @mjwitte, @jmarrec any thoughts about this issue?

[2019-09-26 14:42] mjwitte opened #7529 "CLI fails to run ReadvarsESO successfully when rvi or mvi file is present with --output-prefix option"
Issue overview
--------------
Using EP-Launch 3, SI option, the CLI fails to produce csv outputs if an rvi or mvi file exists. The resulting error is:
[code]
EP-Launch 3 is using the --output-prefix option (and others) which may be part of the issue here.

### Details
Some additional details for this issue (if relevant):
 - Platform Windows 10
 - Version of EnergyPlus v9.2.0-RC3

### Checklist
Add

[2019-09-26 14:56] mjwitte commented on #7529
More information - so, actually, this isn't necessarily broken. The problem is if you use the output prefix option, eplusout.eso doesn't exist. But all of the example rvi/mvi files have the filename "eplusout.eso" at the top . . . . so it's not there.

[2019-09-26 15:48] mjwitte commented on #7515
This is the error message that comes up on the second consecutive uninstall:
![image](https://user-images.githubusercontent.com/4991075/65703774-eecb1880-e04a-11e9-8470-a0dd56a7833a.png)
This key deletion is what I hope we can prevent.

[2019-09-26 18:46] jmarrec commented on #7515
Hum, I thought I cornered that case here https://github.com/NREL/EnergyPlus/blob/087671f57a95f899e49500f158090cba8606e1e3/cmake/qtifw/install_registerfiletype.qs#L33:L36

Are you sure you're not uninstalling some older test installers? Can someone try to install both rc2 and rc3 for eg?
Worst case we can just not delete them...

[2019-09-26 18:49] jmarrec commented on #7515
This block of code is actually there just to clean up some previous things done by the NSIS installers and should eventually be removed. Registering filetypes wouldn't work on a machine that had installed a previous E+ version

[2019-09-26 18:50] mjwitte commented on #7515
Earlier today it's certainly possible some of the folders were from older installers. I'm fairly certain I repeated the test with today's installer, but I will redo that to be sure.

[2019-09-26 20:09] mjwitte commented on #7515
@jmarrec Finally retested this (computer decided to have issues . . . ). Using the 9.2-RC3 installer: installed to folder A, installed again to folder B. Opened EP-Launch and changed some settings. Uninstalled folder B. Opened EP-Launch, settings are back to defaults.

[2019-09-26 22:27] mjwitte commented on #7515
@jmarrec Just to be clear, I expected the settings in the registry to remain intact for use by other copies of ep-launch; same as what the old installer did.

[2019-09-27 06:26] jmarrec commented on #7515
@mjwitte Ok there's the section that does that:

https://github.com/NREL/EnergyPlus/blob/e5409c525216085346653a731cbc74eb1ebb46d6/cmake/qtifw/install_operations.qs#L62:L64

I'll remove that then.

[2019-09-27 14:21] #7515 closed, assigned to nobody

[2019-09-27 19:33] mjwitte commented on #7529
A possible fix is to add a path argument to readvarseso to override the filenames in the rvi/mvi.

Another possible fix is to assume these filenames will always be eplusout.... and have cli move the eso and mtr outputs to eplusout.eso/mtr before running readvars, then after to move eplusout.csv to the appropriate path.

Or leave things as-is, but add content to the readvars error message instructi

[2019-09-28 11:11] Myoldmopar commented on #7381
Closed with #7436

[2019-09-28 11:11] #7381 closed, assigned to Nigusse

[2019-09-28 11:21] #7136 closed, assigned to jmarrec

[2019-09-28 11:24] #6144 closed, assigned to JasonGlazer

[2019-09-30 16:28] dareumnam commented on #7241
@mldichter I guess these strange characters are not matters of EnergyPlus, but these come from the IDF file you used for this defect. If you open that IDF file with a text editor, you can see those comments (starting with !) from the IDF. If you confirm this, we can close this issue.

[2019-09-30 16:42] mldichter commented on #7241
You're right. It's an apostrophe that is causing the problem. The IDF is from here
https://www.energycodes.gov/development/commercial/prototype_models
which is a bunch of Commercial Prototype Building Models made by the DOE.

Please close the issue.

![Capture](https://user-images.githubusercontent.com/39242689/65898502-8a6bca00-e366-11e9-80dd-b272b9cdd008.PNG)

[2019-09-30 16:42] #7241 closed, assigned to dareumnam

[2019-09-30 16:51] dareumnam commented on #7078
@nmerket Since you are an expert in this area, it would be very appreciated if you provide any insights or suggestions regarding this defect.

[2019-09-30 17:42] Myoldmopar opened #7533 "Fluid Cooler Crash"
Issue overview
--------------
A user file is crashing in the fluid cooler sizing code because the plant sizing index is zero.  The fluid cooler is not autosized at all, and the file shouldn't need a sizing:plant object.  Adding a dummy sizing:plant object for that loop allows the file to avoid a hard crash (encounters a fatal error which is a different problem...for now).

Should probably address

[2019-10-01 15:19] Lefort-Antoine opened #7537 "Error in IDD for ZoneHvac:CoolingPanel:RadiantConvective:Water"
The IDD has this:
[code]
should be:
[code]

[2019-10-01 21:40] YanfeiNREL commented on #5904
Some updates for above issues:
Q1: After further checking source code in GroundHeatExchangers.cc, the ground heat exchanger heat transfer rate is calculated by:

     `QGLHE = tmpQnSubHourly * totalTubeLength`

where **QGLHE** is impacted by **tmpQnSubHourly**, because **totalTubeLength** is a constant.

**tmpQnSubHourly** is subject to calculations of the following snippet:

[code]
The negative/p

[2019-10-02 06:24] jmarrec commented on #7537
@Lefort-Antoine You are showing the IDD for the Electric kind, which logically shouldn't be a valid branch equipment.
The Water kind is fine:

[code]

[2019-10-02 06:30] jmarrec opened #7538 "IDFVersionUpdater missing library on Ubuntu 18.04/20.04"
Issue overview
--------------

There's a dependency issue with gtk.
[code]
I do have this library at `/usr/lib/x86_64-linux-gnu/libgtk-x11-2.0.so.0`.

If I symlink it to `/usr/lib/libgtk-x11-2.0.so.0`:

[code]

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform: Ubuntu Bionic 18.04
 - Version of EnergyPlus: 9.2.0
 - Unmethours link or helpdesk ticket number

###

[2019-10-02 06:51] Lefort-Antoine commented on #7537
Sorry. As stated the issue title I wanted to refer to

[code]
It should be
[code]

[2019-10-02 08:17] jmarrec commented on #7538
After `sudo apt install libgtk2.0-0:i386` it launches after a while (it takes a while just the first time, subsequent launches are instantaneous) but doesn't look very nice:

Console output:

[code]

[2019-10-02 17:53] YanfeiNREL commented on #5904
By talking to Dr. Matt Mitchell, he is working on completely rewriting the GroundHeatExchangers.cc, using the enhanced/updated models based on his PhD dissertation.
The updated model will fix the related issues. Because the old model assumes steady state calculations, instead of transient calculations. This might the root cause of the issue.
Here I only update the issue related with 5,6,7,8.

[2019-10-02 18:42] YanfeiNREL commented on #5904
It looks like the only change necessary is division by zero in 7.

[2019-10-03 20:26] YanfeiNREL commented on #5808
Since the old (V8.5)version energyplus.exe file is not available to download. I am using an example file: CentralChillerHeaterSystem_Cooling_Heating.idf to recreate the issue (version 9.1).
Weather: Chicago-IntAirPort
 A plot for whole year simulation for ChillerHeater-1 Modes:
![ChillerHeaterModes](https://user-images.githubusercontent.com/43475933/66161507-af23a400-e5e9-11e9-941c-3e87bc4d96f9.PN

[2019-10-03 20:38] Myoldmopar opened #7545 "Use QtIFW on Linux"
Issue overview
--------------
We should wrap up the cross-platform interoperability by using QtIFW to build optional Linux installers.  We will keep the tarball and the shell script installer.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdes

[2019-10-03 20:44] jasondegraw opened #7546 "9.2.0 Installer not getting associations right"
Issue overview
--------------
Installing on a Windows computer that had 8.9 installed ended up leaving the 8.9 associations in place and thereafter had to be forced to associate files properly. Previous installers always overwrote the associations of the previous version.

### Details
Some additional details for this issue (if relevant):
 - Windows 10
 - EnergyPlus 9.2.0
 - EnergyPlus 9.3.0
- Ener

[2019-10-03 21:08] Nigusse opened #7547 "Some key choices for No Load Supply Air Flow Rate Method field in AirLoopHVAC:UnitarySystem are broken"
Of the six choice keys in No Load Supply Air Flow Rate Method field only SupplyAirFlowRate and FlowPerFloorArea work correctly. The other four methods either fatal out or return zero flow rate.

Defects file tested using EnergyPlus V9.10 shows:
(1) If FractionOfAutosizedCoolingValue is selected this field is sized to 0.0 and simulation continuous
(2) FractionOfAutosizedHeatingValue, FlowPerCooling

[2019-10-03 21:11] Nigusse commented on #7547
uploaded defect files.

[2019-10-09 14:14] mjwitte opened #7549 "Controller:WaterCoil Maximum Actuated Flow should default to autosize and warn if zero"
Issue overview
--------------
Simple user file with one chilled water coil showed zero chilled water flow all year. Eventually, tracked down the problem to this object.
[code]

Because Maximum Actuated Flow is blank and has no default in the IDD, it is zero, so the coil never gets any chilled water flow.

This field should default to autosize.
The controller should throw a warning if max flow is z

[2019-10-09 15:06] mjwitte opened #7550 "SizingPeriod:DesignDay Enthalpy at Maximum Dry-Bulb is not applied correctly - off by x1000"
Issue overview
--------------
User noted that SizingPeriod:DesignDay with Humidity Condition Type=Enthalpy does not result in the entered value for Enthalpy at Maximum Dry-Bulb.

The design day in the defect file has an enthalpy input of 90500.0, so the output for Site Outdoor Air Enthalpy should never exceed this value and should match it at the max dry-bulb. Actual output is showing values as hi

[2019-10-10 12:28] jmarrec opened #7552 "Segmentation Fault when AirLoopHVAC doesn't have a single component in the main branch"
Issue overview
--------------

I was doing a dummy test for OpenStudio, I just created an AirLoopHVAC (empty), and assigned an AVM NigthCycle, then launched the simulation, expecting it to crash, but not to segfault.

Crash with file happens here: https://github.com/NREL/EnergyPlus/blob/a39c7dc5238bfa4812562d1ff610bdcf8220fa7b/src/EnergyPlus/BranchInputManager.cc#L3044

InletNode is 0.

### Detail

[2019-10-10 12:47] jmarrec commented on #7546
I had tested this with 9.1 installer previously installed and noticed that cleaning of old NSIS stuff was needed as it was conflicting with the ones the QtIFW were doing.
QtIFW uses RegisterFileType which writes to preset locations in the registry (and these are removed on uninstall... unlike the NSIS), these happen to be different  registry locations than the one that were manually put in the NSI

[2019-10-11 17:31] mjwitte commented on #7477
@Nigusse @shorowit Where can I find a defect test file for this?

[2019-10-11 17:45] shorowit commented on #7477
@mjwitte It's in https://github.com/NREL/EnergyPlus/issues/7381 -- multispeed.idf.txt

[2019-10-11 19:16] Nigusse commented on #7477
Yes, it is the same defect file. I do not think I have changed it. Any way here is the idf used to generate the sql outputs shown in the pull request #7495.

[Issue7381_MultiSpeed.idf.txt](https://github.com/NREL/EnergyPlus/files/3719293/Issue7381_MultiSpeed.idf.txt)

[2019-10-11 19:16] yzhou601 opened #7553 "HeatExchanger:FluidtoFluid not correctly delivering hot water load to boiler, causing energy not balanced"
Issue overview
--------------
*System description:*

I am modeling a combi water heating system which is connected to a boiler serving hot water for both space heating and water heating. I did it in this way:

I modeled a hot water tank (no water heater) in a plant loop demand side + a heat exchanger in supply side, and then I put this heat exchanger to boiler plant loop demand side. The tank sour

[2019-10-12 18:01] mjwitte commented on #7547
@Nigusse @rraustad Ran into this with another user's file. Looks like there are several fields in [UnitarySystem::getUnitarySystemInputData](https://github.com/NREL/EnergyPlus/blob/a39c7dc5238bfa4812562d1ff610bdcf8220fa7b/src/EnergyPlus/UnitarySystem.cc#L2784-L2792) that have incorrect field names in the `fields.find` function, e.g.:
[code]
`_rate` is missing from the end of the field name, so it

[2019-10-14 16:44] shorowit opened #7556 ""Other" heating subcategory appears (incorrectly)"
Issue overview
--------------
See IDF below where >12 GJ of energy appears in an "Other" heating subcategory in the End Uses By Subcategory output table. The subcategory is being automatically created. Across several hundred test IDFs, this is the _only_ file where this subcategory appears. In every other test file, heating energy correctly shows up in the "General" subcategory. (This particular t

[2019-10-14 17:44] mldichter opened #7557 "Feature Request: Modify ZoneVentilation:WindandStackOpenArea object to reference Zonelist objects"
Allow the ZoneVentilation:WindandStackOpenArea object to take a ZoneList object name or Zone object name in the "Zone Name" field.

![53275844-8598b680-36b1-11e9-916a-5f5475ad3153](https://user-images.githubusercontent.com/39242689/66771573-81532080-ee6f-11e9-8a2e-12d108e7554b.png)

[2019-10-14 20:05] rraustad opened #7558 "For some models, zone humidity levels change when zone multipliers are used"
Issue overview
--------------
As a quick test in V9.2 I took example file 5ZoneSwimmingPool and compared that example to a 5x multiplier on the zone with the pool and the result, if everything is working correctly, should be the same zone conditions. Since they are different I suspect the zone multipliers are not applied correctly in a few places. I assume this would happen for any model that use

[2019-10-16 13:12] hongyuanjia opened #7560 ""Normalization Reference" transition error in "Table:MultiVariableLookup" from 9.1 to 9.2"
Issue overview
--------------
### Details
 - Platform (Operating system, version): Windows, OS X and Linux
 - Version of EnergyPlus: v9.2
 - Unmethours link or helpdesk ticket number: N/A

### Checklist
 - [x] Defect file added: https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/7000s/7560
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [x] Pull request creat

[2019-10-16 14:10] rraustad commented on #7558
This also seems odd. For the predicted loads reports, the sensible load to set point heat transfer rate should track one or the other of load to heating or cooling SPs (except when in the deadband?), which appears to happen. Yet for the moisture reports when the zone multipliers are used (10x on East Zone) this does not appear to happen. I had to add the predicted load reports to this example file

[2019-10-16 17:22] xuanluo113 opened #7561 "Insufficient sizing due to large supply approach temperatures in ITE electric equipment"
Issue overview
--------------
When using FlowControlWithApproachTemperatures in`ElectricEquipment:ITE:AirCooled` objects, we found the systems can be undersized due to large supply approach temperatures that the user defines. In the ITE object, the CPU load and IT fan power under design conditions were applied during sizing. However, both the CPU load and the IT fan power could vary considerably w

[2019-10-16 21:29] mldichter opened #7563 "EMS incorrectly reads output variable"
Issue overview
--------------
EMS incorrectly reads the Facility Net Purchased Electric Energy output variable. The value being read from the output variable and rewritten to a meter is not the value of the output variable in the CSV file with errors on the order of 10^7.

### Details
Some additional details for this issue (if relevant):
 - Windows 10
 - EnergyPlus 9.2 (originally found in 9.0)
 -

[2019-10-17 13:48] rraustad opened #7565 "Imperial conversion of coil leaving air humidity ratio in Coil Sizing Summary shows temperature"
Issue overview
--------------
Test of example file 5ZoneWaterCooled_HighRHControl shows incorrect conversion of humidity ratio in Coil Sizing Summary and Coil Sizing Details report in column "Coil Leaving Air Humidity Ratio at Ideal Loads Peak [F]".

Only change to example file is:

  OutputControl:Table:Style,
    HTML,                    !- Column Separator
    InchPound;

![image](https://user-

[2019-10-17 14:26] jmarrec commented on #7565
It's a typo in the SI unit one actually, `Coil Leaving Air Humidity Ratio at Ideal Loads Peak [C]`. I will fix this one and another one I found and will look for more incoherence in the file.
For the missing one, WaterCoils.cc has the units commented out, and it's been this way for at least 6 years. I'll put the units back, I see no reason not to.

While on the subject, it seems two units are used

[2019-10-17 14:37] mjwitte commented on #7565
@jmarrec I thought we cleaned up all the kgAir years ago. It should be `[kgWater/kgDryAir]` to avoid any ambiguity. Searching the I/O Ref, I found a few instances of "kgAir" remaining. These could be cleaned up as well - I check the rdd for one of them and the rdd is kgDryAir.

[2019-10-17 15:17] jmarrec commented on #7565
There are a couple:

[code]

I'll standardize around `[kgWater/kgDryAir]` (case sensitive) then.

[2019-10-19 07:03] daniellosg opened #7569 "EMS built-in variable Year is not constant"
Issue overview
--------------
The built-in variable Year is not working properly, as changes when there is a peak in cooling consumption.

For more information, please see the example where I found this possible bug, in the following link: https://unmethours.com/question/40420/ems-built-in-variable-year-is-not-constant/

Thanks in advance.

### Details
Some additional details for this issue (if re

[2019-10-19 07:08] daniellosg opened #7570 "EMS Heating and Cooling setpoint actuators control Air temperature instead of Operative temperature"
Issue overview
--------------
The problem is that, although the temperature control calculation option is set to Operative Temperature, the EMS Heating and Cooling setpoint actuators control Air temperature instead of Operative temperature.

For more information, please see the following link: https://unmethours.com/question/40540/ems-heating-and-cooling-setpoint-actuators-control-air-temperature-

[2019-10-19 18:16] mjwitte commented on #7570
As a workaround, actuate the thermostat setpoint *schedule* instead.

[2019-10-19 18:23] mjwitte commented on #7570
For operative control, the thermostat determines the required air temperature and controls for that. So the EMS actuators are really air temperature setpoints. To resolve this confusion, either the documentation should be improved to explain this, or this actuator could be made smarter to represent operative temperature when applicable. That *should* be possible.

[2019-10-20 05:52] daniellosg commented on #7570
I previously tried with the schedule actuator and worked. However, in order to work, there should be a schedule with a specific name used in dual setpoints, and therefore the script is not completely portable. As you mention, if this setpoint actuator could be made smarter to control operative temperature, it would be great.

[2019-10-21 16:13] RKStrand commented on #7490
@Lefort-Antoine Is this really an error?  In the baseboard models that connect to a water loop, referencing a baseboard on a branch seems to make sense.  For an electric baseboard, it does not fit on a plant loop.  So, I'm not sure that this is actually an error?

[2019-10-22 07:20] Lefort-Antoine commented on #7490
Yes. You are right. I'm sorry I didn't keep the trace of the work. You can close or delete the issue for when I retrieve it.

[2019-10-24 15:44] dareumnam commented on #7533
[FluidCoolerCrash_9.2.idf.txt](https://github.com/NREL/EnergyPlus/files/3768431/FluidCoolerCrash_9.2.idf.txt)

[2019-10-24 20:51] RKStrand commented on #7490
@Lefort-Antoine I'm going to go ahead and close this issue as I think that the IDD is actually correct in this case.

[2019-10-24 20:51] #7490 closed, assigned to nobody

[2019-10-24 20:59] mjwitte commented on #7490
@RKStrand See similar one #7537.

[2019-10-24 21:06] RKStrand commented on #7490
@mjwitte Yes, I believe #7537 is an issue that needs to be address.  I have gone ahead and assigned that one to myself and will work on it, hopefully sometime in the near future.  Thanks for the heads up!

On Oct 24, 2019, at 3:59 PM, Michael J. Witte <notifications@github.com<mailto:notifications@github.com>> wrote:

@RKStrand<https://github.com/RKStrand> See similar one #7537<https://github.com/

[2019-10-25 09:23] jmarrec opened #7576 "Warning in WaterToAirHeatPumpVariableSpeed when using Table:Lookup with Divisor"
Issue overview
--------------

I'm having trouble following the new Table:Lookup object.

I'm getting this error:
[code]

If I track down the object:
[code]

Here are the revelant Table:Lookup and Table:IndependentVariable objects:

[code]

I don't get why this warning is thrown, based on the I/O ref guide there: https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-performance-t

[2019-10-25 13:25] jmarrec commented on #7560
Thanks for the catch @hongyuanjia ! Indeed, you are right.

This is probably a copy paste error from the Table:TwoIndependentVariable rule that's a few lines above.

[2019-10-25 13:35] hongyuanjia commented on #7560
@jmarrec Glad to help!

[2019-10-25 13:37] jmarrec commented on #7492
@santle this is a completely separate question (and one that would rather belong on UnmetHours.com).

But bottom line: No, you can't, it's harcoded around here: https://github.com/jmarrec/EnergyPlus/blob/0e6e9c08a048eb9bb04387a61384bd842816c52f/src/EnergyPlus/ScheduleManager.cc#L3764:L3778

[2019-10-25 13:37] #7492 closed, assigned to nobody

[2019-10-27 17:46] xuanluo113 opened #7581 "Wrong unit in the calculation of ITE Air Inlet Relative Humidity"
Issue overview
--------------
The declared unit of the reportable variable `ITE Air Inlet Relative Humidity` is percentage.

`Output:Variable,*,ITE Air Inlet Relative Humidity,hourly; !- Zone Average [%]`

In the current implementation, it is calculated as decimal [0, 1]. Need a quick fix to be multiplied by 100%.

### Details
Some additional details for this issue (if relevant):
 - Platform (Oper

[2019-10-28 13:23] jmarrec commented on #7481
Same can be said for the Demand End Use Components Summary -  End Uses By Subcategory

Adding the checklist since missing from OP:

### Details
Some additional details for this issue (if relevant):
 - EnergyPlus 9.2.0

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x] Defect file added: 5ZoneAirCooled.idf + adding `Output:SQLite,

[2019-10-28 14:22] mjwitte commented on #7451
- [x] Input Output Reference for CoolingTower:VariableSpeed:Merkel does not mention these input fields but they are in the idd file:

  N17, \field Design Inlet Air Dry-Bulb Temperature
  N18, \field Design Inlet Air Wet-Bulb Temperature
  N19, \field Design Approach Temperature
  N20, \field Design Range Temperature

[2019-10-28 15:24] energysims commented on #7451
- [x] Input Output Reference is also missing descriptions of these input fields in the single and two speed cooling towers.

CoolingTower:SingleSpeed,
  N13, \field Design Inlet Air Dry-Bulb Temperature
  N14, \field Design Inlet Air Wet-Bulb Temperature
  N15, \field Design Approach Temperature
  N16, \field Design Range Temperature

CoolingTower:TwoSpeed,
  N21, \field Design Inlet Air Dry-Bulb

[2019-10-28 19:15] anchapin commented on #5298
I would suggest including design (not including the economizer mode where OA may equal SA) and minimum (to check that area ventilation requirement is modeled correctly if DCV is included) occupied ventilation by system (both zone level and air handlers) and a total for the building in the Outdoor Air Summary report. Alternatively, if it would make more sense, this information could be included in

[2019-10-29 16:44] jmarrec opened #7585 "Shading:Overhang (and Shading:Overhang:Projection) are ignoring GlobalGeometryRules"
Issue overview
--------------

https://github.com/NREL/EnergyPlus/blob/0e6e9c08a048eb9bb04387a61384bd842816c52f/src/EnergyPlus/SurfaceGeometry.cc#L5353:L5367

It's using Vertex(2), which is fine if you use a GlobalGeometryRules like this:
[code]

Using this one, you end up with bogus:
[code]

Using a debugger, I tracked down the calculated vertices for a Shading:Overhang:Projection with a ratio of

[2019-10-29 16:55] jmarrec commented on #7585
Hum, that's probably not the issue here actually, I just noticed that for the window surface, SurfaceTmp(Found).Vertex(2) doesn't correspond to the one in the IDF... I added a spreadsheet to the EnergyPlusDevSupport

There's still a hiccup in the calculation though, as the results in the end still don't match.

![image](https://user-images.githubusercontent.com/5479063/67789995-3e9b6600-fa75-11e9-

[2019-10-29 17:10] rraustad commented on #7585
Noticed [this](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SurfaceGeometry.cc#L5343-L5347) just above those lines. Not sure if this has anything to do with this issue but it seems to me that --SurfNum should be executed before the continue. Does your file ever hit that code?

[2019-10-29 17:13] jmarrec commented on #7585
Hum I think the user has a discrepancy in their GlobalGeometryRules and the input of the vertices for the window.

![image](https://user-images.githubusercontent.com/5479063/67791511-dac66c80-fa77-11e9-9938-d8ed8bf6e874.png)

**Edit**: Reordering the vertices of the window and the base surface produces a more sensible result. I think I'm still missing 1m in the Y-direction though. cf overhangproje

[2019-10-29 17:14] jmarrec commented on #7585
No it doesn't hit that code. There's a single object, and Length is 3 and Depth is 2 so no problem.

[2019-10-29 17:36] energysims commented on #7451
- [x] Input Output Reference discussion of CoolingTower:VariableSpeed:Merkel is missing value inside quotes in discussion of 1.24.4.1.4 Field: Performance Input Method.  “” should be replaced with “UFactorTimesAreaAndDesignWaterFlowRate” in the second sentence below.

This alpha field contains the method by which the user will specify tower performance:
“UFactorTimesAreaAndDesignWaterFlowRate” or

[2019-10-29 19:58] jmarrec commented on #5298
Thinking about tabular reports (hence forgetting about tables of hour versus month (weekends v weekends too) showing OA numbers), I would say that two metrics would be useful:

* total outdoor air volume (m3) for the run period, per zone and building
* total outdoor air volume when economizer is off*

That would help see whether the deviation in absolute numbers are off because of economizer or no

[2019-10-30 13:55] mjwitte opened #7586 "Any EMS in combination with an exterior window screen throws a severe error - should extend the EMS actuator to include this and other options"
Issue overview
--------------
When EMS is setting up actuators for Window Shading Control, if the file has any WindowShadingControls that apply shading type ExteriorScreen, these severe errors will be thrown:
[code]

1. This happens if the idf has *any* EMS, even if there are no actuators directed at a window with an exterior screen. The error is thrown in `EMSManager::SetupWindowShadingControlAct

[2019-10-30 14:57] JasonGlazer commented on #7502
Updated test file:
[7502-in_v920.idf.txt](https://github.com/NREL/EnergyPlus/files/3789593/7502-in_v920.idf.txt)

[2019-10-30 15:28] chrisbalbach opened #7588 "TEPX / BCL Breaking Changes Associated With (new) EnergyPlus Table:Lookup object"
Issue overview
--------------
New E+ feature associated with [#6749](https://github.com/NREL/EnergyPlus/pull/6749
) causes the following breaking changes, relative to EnergyPlus v9.1.0 and related ecosystems.

**1) TPEX/BCL VRF Indoor and Outdoor Unit Performance Data incompatible with E+ V9.2.0**

 .idf snippet files available from bcl.nrel.gov (performance data originally supplied to BCL via TPE

[2019-10-30 18:34] yzhou601 commented on #7553
@mjwitte @rraustad @Myoldmopar Do you mind taking a look at this issue? [HeatExchanger:FluidtoFluid](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-condenser-equipment.html#heatexchangerfluidtofluid) looks to be the correct one to use for this system (that requires hot water plant loop to be connected with boiler plant loop). But the large energy discrepancy between `Fluid

[2019-10-30 18:42] mjwitte commented on #5941
Prompted by comments from @hongtz68 on today's iteration call, consulted https://bedes.lbl.gov/bedes-online/resource. The list of resources there includes "Natural Gas", "Propane", "Fuel Oil No 1", "Fuel Oil No 2".

1. Looking at table outputs, we're currently using "Natural Gas", "Propane", "Fuel Oil #1", "Fuel Oil #2". So the only question there is for fuel oil: Keep as-is, change to "Fuel Oil 1

[2019-10-30 19:17] mjwitte opened #7589 "Restore silent install option"
Issue overview
--------------
From one corporate and one university admins:
Is there a silent command line install available for the EnergyPlus-9.2.0-921312fa1d-Windows-x86_64.exe installer? For previous versions we were able to deploy silently via SCCM using /S /D=C:\EnergyPlusV9-2-0 but this latest installer does not appear to have the option available.

We've historically distributed this softw

[2019-10-30 19:52] mjwitte opened #7590 "EIR WWHP Electric Input to Output Ratio Modifier Function of Part Load Ratio Curve Name is ignored"
Issue overview
--------------
For both HeatPump:WaterToWater:EIR:Heating (and Cooling)  the"Electric Input to Output Ratio Modifier Function of Part Load Ratio Curve Name" is ignored. The "Electric Input to Output Ratio Modifier Function of Temperature Curve Name" get used for both the EIR fT and EIRfPLR curves.

The offending pasteo in the code is [here](https://github.com/NREL/EnergyPlus/blob/0e

[2019-10-30 23:53] jasondegraw commented on #5941
I'm for using the BEDES terminology as much as possible, so my first preference is to change to "Fuel Oil No 1", etc.

[2019-10-31 02:22] shorowit commented on #5941
@mjwitte Thanks for cleaning all of this up! I have no strong opinion on naming convention.

We use a lot of different fuel types in our residential models, and the one thing that has always bothered me is that the End Uses (and similar) output tables lump a bunch of different fuels (fuel oil, propane, otherfuel1, otherfuel2) into "Additional Fuel". This means I often have to do more work to add a

[2019-10-31 14:51] mjwitte commented on #5941
@shorowit Understood on the "Additional Fuel" column. Please post a new issue for that. And, I probably shouldn't ask this. Are there any resource/fuel types that should be added?

[2019-10-31 15:01] shorowit opened #7591 "Disaggregate "Additional Fuel" in End Uses, etc. output tables"
Issue overview
--------------
We use a lot of different fuel types in our residential models, and the one thing that has always bothered me is that the End Uses (and similar) output tables lump a bunch of different fuels (fuel oil, propane, otherfuel1, otherfuel2) into "Additional Fuel". This means I often have to do more work to add a bunch of output vars to get out the information I want. Is the

[2019-10-31 15:48] Giandobambo opened #7592 "EMS routine doesn't work"
Hi all! I am writing to you to understand why the EMS routine I have implemented in the model doesn’t give output values. I've created all the sensors, then the actuators. In the program section I've added the routine and in the global variable I've put variables coming from the routine. In Output:variable I've created a variable with the schedule of the routine, but after that analysis ends in th

[2019-10-31 16:30] yzhou601 opened #7593 ""Controller:MechanicalVentilation" with blank fields, causing "missing required property" severe error"
Issue overview
--------------
In my model that wasn't edited by IDF editor, the `Controller:MechanicalVentilation` object looked like:

    Controller:MechanicalVentilation,
    evap cooler airloop Vent Controller,    !- Name
    Always On Discrete,                     !- Availability Schedule Name
    No,                                     !- Demand Controlled Ventilation
    ZoneSum,

[2019-10-31 17:14] mjwitte commented on #7593
This happens, because \min-fields is 8 for this object. The short one actually runs ok? I wonder what it's using. I don't find anything in the I/O Ref saying the group of zone fields are optional.

[2019-10-31 17:16] shorowit commented on #5941
Ok, I created a separate issue for the "Additional Fuel" column: https://github.com/NREL/EnergyPlus/issues/7591

Missing fuel types that we've come across are 1) cord wood, 2) wood pellets, and 3) kerosene. It would certainly be nice to allow these, we currently have to resort to OtherFuel1 and OtherFuel2.

[2019-10-31 17:17] mjwitte commented on #7592
Closing this here.

[2019-10-31 17:17] #7592 closed, assigned to nobody

[2019-10-31 19:26] mbadams5 commented on #7593
From a cursory glance, I think I see why the JSON validation AND why the GetOAControllerInputs in EnergyPlus both don't catch this issue. I am curious why this does not fail later in the simulation but this does seem like a bug.

[2019-10-31 19:40] mjwitte commented on #7593
For ZoneSum, this list is clearly necessary, but for other control types, like VRP or IAQP the zone list is not required.
So min-fields should be 5 not 8.
If the zone name is listed without other fields, then it looks for a corresponding Sizing:Zone object, if not found, the it uses defaults (throws a warning and is somewhat mentioned in the I/O Ref).

For the case with no zone list, I'm curious i

[2019-10-31 19:46] mjwitte commented on #7593
InitOAController does a check to see if all the zones listed in the Controller:Mechanical are on the corresponding airloop and throws a warning is any are not. And there is a check in the other direction - is everything on the corresponding airloop listed in the Controller:MechanicalVentilation object.  So, it appears that a run with ZoneSum and no ZoneList will generate warnings and will request

[2019-10-31 20:55] mjwitte commented on #7593
Actually I'm not 100% certain that the other control types do not need a zone list . . . need some test files.

[2019-11-01 17:59] nbt2019 opened #7594 "AHU fault"
Issue overview
--------------
Hi, I want to apply fault to the AHU of a building. The faults that I want are about terminal unit reheat valve, supply air temperature, valve position, supply fan VFD speedterminal unit damper position, etc. could you please help me , because I couldn't find a way to apply fault to these components.

### Details
Some additional details for this issue (if relevant): -

[2019-11-01 19:40] RKStrand commented on #7537
@Lefort-Antoine I just verified in the current version of develop as well as the recently released V9.2 that this fix has already been completed.  So, I think this is already done.  Could you verify that also and "comment and close" if you agree that this is already fixed?  Thanks!

[2019-11-02 21:42] mjwitte opened #7595 "ZoneHVAC:AirDistributionUnit output for Zone Air Terminal Sensible Heating/Cooling Rate is summed - should be averaged"
Issue overview
--------------
While working on #7448 to remove AirTerminal:SingleDuctUncontrolled, notice these rdd diffs:
[code]

The error was in ZoneHVAC:AirDistributionUnit, so these rates have been wrong for all air terminal types (other than AirTerminal:SingleDuctUncontrolled) since these outputs were added five years ago.

This will be fixed in #7448, but noting it here to highlight the pro

[2019-11-02 21:47] mjwitte opened #7596 "Validate variable types against units in SetupOutputVariable"
Issue overview
--------------
Given the error in #7595 where an output variable in [W] was set to Sum instead of average, it seems that `SetupOutputVariable` should be able to validate based on units whether a variable should be Sum or Average. There could be some units that are ambiguous, but for the most part [C] should always be averaged, and [J] should always be summed, and so on.

### Details

[2019-11-03 21:08] RKStrand commented on #7537
@Lefort-Antoine Deleted a previous comment that was a mistake on my part.  Hope to fix this sometime this coming week.

[2019-11-04 13:48] LorenzoBottaccioli opened #7599 "**FATAL:GetAirflowNetworkInput: Errors found getting inputs. Previous error(s) cause program termination."
Dear All,

I'm having problems in simulation after converting this file [test_idf.zip](https://github.com/NREL/EnergyPlus/files/3804218/test_idf.zip)  from 8.6 to 9.0 I get the following error:
**FATAL:GetAirflowNetworkInput: Errors found getting inputs. Previous error(s) cause program termination.

During the conversion from 8.7 to 8.8 I get the following error:

[code]

and the following wraning

[2019-11-04 21:27] mldichter opened #7600 "Remove Feature Request or Update IO Reference"
Issue overview
--------------
The Wall:Detailed, RoofCeiling:Detailed, Floor:Detailed, and many other objects don't seem necessary considering the versatility of the BuildingSurface:Detailed object. The only example file with those objects present is "_SmallOffice_Dulles.idf".

If these objects serve a great purpose, the documentation needs to be updated in the IO Reference. One very obvious typo

[2019-11-04 23:12] RKStrand commented on #7552
@jmarrec I downloaded 7552_crash.idf and ran it using the current develop code.  It crashed with a fatal error.  Here are the warning messages that I got:

   ** Severe  ** GetAirPathData: AirLoopHVAC="AIR LOOP HVAC 1", branch in error.
   **   ~~~   ** Probable missing or misspelled node referenced in the branch(es):
   **   ~~~   ** Possible Error in Branch Object="AIR LOOP HVAC 1 MAIN BRANCH".

[2019-11-04 23:29] RKStrand commented on #7600
@mldichter I'm pretty sure that the additional detailed surface input syntax is just another way to describe something.  In the code, it looks like most of the code for getting the input is very similar.  The only difference is the generic BuildingSurface:Detailed asks the user for a surface type (wall, floor, etc.).  So, it is definitely repetitive--probably the remains of an older input format o

[2019-11-05 03:31] mjwitte commented on #7600
I would just fix the typo in the docs and let these remain. Yes, there are multiple ways to describe surfaces at differing levels of detail. Use the ones you find most convenient. There are plenty of other more important things to address at this point.

[2019-11-05 20:57] shorowit opened #7601 "Unsuccessful simulation using PerformancePrecisionTradeoffs"
Issue overview
--------------
When I add `PerformancePrecisionTradeoffs, Yes;` to my IDF, the simulation just stops after "Initializing Simulation" and the err file is empty. If I change the object to `PerformancePrecisionTradeoffs, No;`, it runs successfully.

File to reproduce:
[in.idf.txt](https://github.com/NREL/EnergyPlus/files/3811168/in.idf.txt)

@XuanLuoLBL

### Details
Some additional det

[2019-11-05 22:19] shorowit commented on #7601
My expectation was that the direct coil solution would be used for PLR calculation for all supported coils in the model (`AirLoopHVAC:UnitarySystem` with `Coil:Heating:Fuel` and `Coil:Cooling:DX:SingleSpeed` in the attached file) and not used for all unsupported coils/systems (perhaps `ZoneHVAC:IdealLoadsAirSystem` in the attached file?).

I can't tell if our file is supposed to run but there's a

[2019-11-05 23:17] yzhou601 commented on #7601
With the same object turned on for another model with `Coil:Cooling:DX:SingleSpeed` and `Coil:Heating:DX:SingleSpeed`, I can run 1 successfully over 5 simulation trials (without changing anything in the model or weather file). [Defect file](https://drive.google.com/file/d/16ffa0KWQuk3lyPr3dmr5xwaaQyR6oyJC/view?usp=sharing)

[2019-11-06 03:08] mjwitte commented on #7599
This is a known issue (#7010) with the transition programs in the v9.0 (and v9.0.1) install packages. Start over using the transitions in v9.1 or later.

[2019-11-06 03:08] #7599 closed, assigned to nobody

[2019-11-06 22:39] cgoodman11 commented on #7256
Does this issue apply to EnergyPlus 9.2.0 for Linux? I am having issues installing EnergyPlus on my Linux virtual machine for use with Volttron. When I run the downloaded executable, when it ends, it says there was an error opening the file due to invalid characters.

[2019-11-07 18:18] EnergyArchmage opened #7604 "HVACSystemRootFindingAlgorithm input option for Bisection algorithm not working."
Issue overview
--------------
Discovered during testing different algorithms with a user file.

Small capitalization typo doesn't allow bisection input to work:
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/HeatBalanceManager.cc#L1365

lowercase "i" should be uppercase "I"

The following error should not occur when entering Bisection into HVACSystemRootFindingAlgorithm object.
[co

[2019-11-08 00:42] mldichter opened #7606 "IDF editor adding extra fields and causing simulation error"
Issue overview
--------------
The IDF editor is adding an extra field to the HeatPump:WaterToWater:EIR:Heating and Cooling objects. The problem can be reproduced with the WaterToWaterHeatPump_EIR.idf example file. Just open the file, add another Version object, Save, delete extra Version object, Save. When you run this time, there will be some errors.

BEGIN BEFORE USING IDF EDITOR
[code]
END BEFO

[2019-11-08 19:33] RKStrand commented on #7600
@mjwitte Thanks for your reply.  I agree with your assessment and will leave this alone for now.  However, the doc error noted above will be tacked on to unrelated work being done elsewhere under #7537.  Should this be "closed" then?

[2019-11-08 19:35] RKStrand commented on #7600
Note: the same doc error was also found in Floor:Detailed and will also be fixed as part of #7537

[2019-11-08 19:47] RKStrand commented on #7537
Also addressing two minor doc errors from #7600 in this work.

[2019-11-08 20:33] mjwitte opened #7608 "Zone component load summary reports zero solar load when used with SizingPeriod:WeatherFileDays"
Issue overview
--------------
User file shows zero for Fenestration Solar in the Zone Component Load Summary report when used with SizingPeriod:WeatherFileDays. Switching to regular design days results in Fenestration Solar loads on the cooling day.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v9.2.0
 - Helpdesk ticket number 15302.

### Workaround
Us

[2019-11-08 21:36] mjwitte opened #7609 "Update example files with DOAS to use current EnergyPlus best practice"
Issue overview
--------------
There are several DOAS example files, but none of them use the best combination of terminal unit and other inputs, as far as I know.

Best practice is to use:
1. AirTerminal:SingleDuct:ConstantVolume:NoReheat (which is a little confusing) with the Design Specification Outdoor Air Object Name.
2. No return path to the DOAS airloop (no OA system, no OA controller, etc.)

[2019-11-10 05:43] YanfeiNREL opened #7610 "EnergyPlus doesn't output: ZoneThermalComfortFangerModelPPD (v9.1, v9.2)"
Issue overview
--------------
The energyplus v9.1 and v9.2 both does not output "Zone Thermal Comfort Fanger Model PPD" for specified zones, in the generated output.csv file.
I requested Fanger model for People module, and specified the AirVelocity Schedules, Clothing Insulation Schedules, Working Efficiency Schedules.
I tried other thermal comfort models, like: Pierce, KSU. They are the same issu

[2019-11-11 16:52] xuanluo113 commented on #7601
@lgu1234 Lixing, it seems it's not anything related to the object input. Do you mind checking the coil implementation? Thanks

[2019-11-11 20:14] mjwitte opened #7611 "PlantLoop:HeatPump:EIR:Cooling/Heating electric energy is not on any meter"
Issue overview
--------------
User requested that the electric energy for HeatPump:WaterToWater:EIR:Heating and Cooling be metered on separate end uses, Cooling:Electricity and Heating:Electricity. This would follow the patter of the other water-to-water heat pumps.

However, checking the mtd output and the [current source code](https://github.com/NREL/EnergyPlus/blob/0e6e9c08a048eb9bb04387a61384b

[2019-11-11 21:34] eringold commented on #7451
- [x] I/O reference groups all 'Outputs' at the bottom of the 'Group - Room Air Models' section, not after the relevant object input fields.

For example, "1.12.10 RoomAirSettings:ThreeNodeDisplacementVentilation" lists the inputs, then is followed immediately by "1.12.11 RoomAirSettings:CrossVentilation". The outputs for the three node object don't appear until 1.12.19.5, fourteen pages later. As

[2019-11-11 22:53] nealkruis commented on #7611
@mjwitte @mitchute Is it okay if I have someone at Big Ladder take a crack at resolving this one?

[2019-11-11 23:22] shorowit commented on #7451
- [ ] The [Field: Solar Distribution](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-simulation-parameters.html#field-solar-distribution) says for FullExterior:
"... transmitted diffuse radiation, which is assumed to be uniformly distributed on all interior surfaces."
However, the [Surface Inside Face Initial Transmitted Diffuse Absorbed Solar Radiation Rate](https://bigla

[2019-11-12 02:05] mjwitte commented on #7611
@nealkruis Since this code is changing in #7489 it's probably best dealt with there.

[2019-11-12 05:10] gtaylor-feduni commented on #7589
I am also attempting to deploy EnergyPlus with SCCM in a University setting and having similar issues to @mjwitte. I did locate some information about scripting QtIFW installs but this wasn't sufficient to successfully create a silent install script for EnergyPlus.

A sample silent install script and documentation of the new QtIFW installer would be greatly appreciated.

[2019-11-12 14:02] jmarrec commented on #7589
@gtaylor-feduni I'm writing an install script, which I am fine testing in regular `cmd.exe` on Windows, but I don't have any knowledge of SCCM so I'd ideally need someone who could try it out for me (a nice side effect would be that perhaps you could start rolling out your deployment in the next couple of days if it works fine).

Could you please reach out to me at julien at effibem dot com if you

[2019-11-12 17:26] xuanluo113 commented on #7561
@mjwitte We've been working on this but met some issues that we spent a lot of time but don't know exactly how to fix. I was wondering if you have time you can review and provide some suggestions to save us. Thanks! Summarized below.

According to what we proposed in this issue, we implemented the logic at PR #7582. This logic overwrites the Convective Internal Heat Gain from the ITE object, and t

[2019-11-12 22:04] gtaylor-feduni commented on #7589
@jmarrec I would be happy to help with testing your install script. SCCM is a software management suite created by Microsoft to manage large numbers of Windows PCs. SCCM is used for Software Updates, Operating System Deployment and Application deployment.

SCCM runs application deployments in the SYSTEM context on each device. You can replicate this using Sysinternals PSEXEC to create a command pr

[2019-11-12 22:49] kbenne opened #7613 "EnergyPlus as cmake sub project"
Issue overview
--------------
EnergyPlus does not lend itself to be used as a cmake sub project, meaning if you try to add_subdirectory(EnergyPlus) from a parent cmake project it will typically fail. This is because the variable CMAKE_SOURCE_DIR is often used, where a better choice would be PROJECT_SOURCE_DIR. The former will resolve to the top level source directory, whereas the latter will alway

[2019-11-13 03:54] arif-hanif opened #7614 "epJSON Simulation Fatal Errors when testing basic example"
Issue overview
--------------
I am testing out using epJSON, to start as an example I converted the Excercise1A.idf in the examples files/basic files which are included with E+ using the CLI command "-c". The IDF file runs just find but when running the epJSON i get the following errors

`Program Version,EnergyPlus, Version 9.2.0-921312fa1d, YMD=2019.11.12 22:46,
   ** Severe  ** Site:GroundTemper

[2019-11-13 14:37] EnergyArchmage commented on #7609
DOAS examples should also show how to set up central air handler controls for cold, neutral, and humidity-controlled DOAS supply air conditions.

[2019-11-13 14:44] mjwitte commented on #7609
@EnergyArchmage Good suggestions. Does "neutral" have a standard definition? That's always been a bit fuzzy to me.

[2019-11-13 15:17] #6835 closed, assigned to nobody

[2019-11-13 18:01] JasonGlazer commented on #7451
- [x] The headings of this table seem messed up in the IOref 9.2

![image](https://user-images.githubusercontent.com/2582150/68790627-3ca4db80-060d-11ea-802b-1419d3dd9bff.png)

[2019-11-13 22:55] mjwitte commented on #7561
@XuanLuoLBL I've puzzled over this, adding many new outputs, trying to shut off various things (EMS, humidifier, etc.) and I do not have an answer. This particular test file uses the CommonPipe option in the chilled water loop. I would try removing that (and the secondary chilled water pump) to see if that alters the result.

When run for design days, this doesn't even make it past the first warmu

[2019-11-14 13:05] #7477 closed, assigned to Nigusse

[2019-11-14 16:16] jmarrec opened #7617 "Inconsistent field name in Curve:DoubleExponentialDecay"
Issue overview
--------------

This is a (very) minor issue about an inconsistent naming of field in a curve:

[code]

I would expect

[code]

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus (if using an intermediate build, include SHA): current develop. 9.2.0

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set

[2019-11-14 16:46] jmarrec opened #7618 "Curve:ExponentialSkewNormal documentation isn't in line with actual equation"
Issue overview
--------------

https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-performance-curves.html#curveexponentialskewnormal

![image](https://user-images.githubusercontent.com/5479063/68877485-73125180-0706-11ea-813c-af0f868e1065.png)

https://github.com/NREL/EnergyPlus/blob/b4404bb76c8f9d0a63f952ff3f6efc0341f671d6/src/EnergyPlus/CurveManager.cc#L2457-L2465

At least

[2019-11-14 17:07] yzhou601 commented on #7553
The energy issue can be mitigated by increasing min plant iterations or system time step. It looks like the issue is related to temperature convergence tolerance, because for each hour, the temperatures are only slightly different looking at HX nodes and tank source nodes. The large mass flow rate magnified the energy issue. I've found another more dynamic solution to this system. I am closing thi

[2019-11-14 17:07] #7553 closed, assigned to nobody

[2019-11-14 23:44] gtaylor-feduni commented on #7589
The script provided by @jmarrec worked perfectly. I ran the script with the following command line:

EnergyPlus-9.2.0-<id>-Windows-x86_64.exe --script install_script.qs AllUsers=true

This installed EnergyPlus in "C:\EnergyPlus-9-2-0" and created start menu shortcuts in the all users profile and an entry in Add/Remove programs under HKLM.

I was also able to successfully uninstall EnergyPlus with

[2019-11-15 08:15] lgu1234 commented on #7601
@XuanLuoLBL I will take a look next week.

[2019-11-15 14:19] jmarrec commented on #7589
@gtaylor-feduni FYI I was going to try to install the `install_scripts.qs` as `uninstall_script.qs` to put it next to the maintenancetool.exe in the user's installation folder.
And I know how to do that without any problem.
But we're trying to keep multiple build systems (like DEB on Unix) and installing some files only for QtIFW and not other cpack generator has proven _very_ difficult, so I gave

[2019-11-16 19:33] mjwitte commented on #6601
- [x] Output:Table:SummaryReport names - synonyms need to be transitioned away to match the IDD choices: ABUPS, BEPS, IVRS, CSS, SHAD, and EIO.
*Addressed in #7523.*

[2019-11-16 20:38] mjwitte opened #7621 "Add new function to validate fuel types and set output strings"
**This is part 3 of 4: Part 1 = #7532, Part 2 = #7523 , and Part 4 is #7622.**

Issue overview
--------------
The goal of this issue to to remove all if blocks for fuel type in the input processing functions and replace them with a standard function call.

This issue should only standardize the fuel type choice input processing and introduce *no output changes* - that can wait for #?????.

### Bac

[2019-11-16 20:59] mjwitte opened #7622 "Standardize Output Variable and Meter Fuel Types"
**This is part 4 of 4: Part 1 = #7532, Part 2 = #7523 , and Part 3 is #7621.**

Issue overview
--------------
This is the final piece of standardizing fuel type on both input and output. Issues #5941 and #7621 dealt with the input side, with the goal of no diffs. This issue takes the plunge and modifies output variable names and meter names to the final standard list:

**Input choice, Meter Resour

[2019-11-18 09:53] jmarrec commented on #7552
@RKStrand I am really unsure what happened there, sorry about this.

I tried to reproduce the initial crash with OpenStudio (on another machine) but couldn't. I'll try to check on the initial machine to see if I can reproduce and will reopen if I can. I don't have this machine handy at the moment, so it might be a few days before I can try.

[2019-11-18 09:53] #7552 closed, assigned to nobody

[2019-11-18 16:52] yzhou601 commented on #7407
@rraustad Do you want to talk about this issue to see if there's any remaining work related to this? Otherwise we can close it.

[2019-11-18 18:10] rraustad commented on #7407
I think we need to identify where the 0.25 is being lost, or missed, or something. Yes, the desuperheater coil can recovery energy proportional to PLR, but still I would think the desuperheater to coil energy ratio should be 0.25. I'm not sure where the 0.1 is coming from in your figure. I first thought it was coil PLR, but the coil reports for energy should already include PLR.

[2019-11-18 18:20] yzhou601 commented on #7407
@rraustad I agreed. Sorry for the confusion caused by the figure and the following table [here](https://github.com/NREL/EnergyPlus/pull/7251#issuecomment-513366445). The table is not something from report, but my assumption. My hypothesis is that the 0.25 is applied more than once in water heater iterations (coil available reclaimed heat is not recalculated in DXcoils.cc), so 0.1+ is actually Avai

[2019-11-18 18:25] yzhou601 commented on #7407
@rraustad sorry I initially thought you're talking about the comment in that PR.

[2019-11-19 15:47] EnergyArchmage commented on #7609
I don't know of a standard definition,  but here are some suggestions.

Neutral: supply air drybulb 18.3C setpoint, maximum humidity ratio 0.0093 setpoint, reheat after cooling coil does any latent control.

Cold: supply air drybulb of 12.7C.

Air-to-Air HX recovery on the OA system would also be good to demonstrate.

Difficult to say but one could argue that for types of zone equipment that suppo

[2019-11-19 18:39] Nigusse opened #7625 "CapFTCurveIndex is always set to speed 1 for multi-speed DX coils design size"
Issue overview
--------------
The function GetDXCoilCapFTCurveIndex() always sets to the speed 1 (lowest speed) capacity function of temperature curve index for MULTI-SPEED DX coils. The correct curve index should have been the maximum speed number. This is a defect, incorrect curve index may slightly change the design size values if the curves are different for different speed. This function is c

[2019-11-19 20:02] xuanluo113 commented on #7561
@mjwitte Mike, we troubleshoot this issue again and found out the problem was with `Coil:Cooling:Water`. In the idf, we had a hard sized `Design Outlet Air Temperature` to be always the same with T_air_inlet, which causes the chiller sizing to be insufficient. Changing it to 'Autosize' fixed it, with the current solution. Thanks so much for your help.

About the zone return node, since the 99% of

[2019-11-19 21:41] yzhou601 commented on #7407
![image](https://user-images.githubusercontent.com/32500275/69187102-27c9bb80-0ad7-11ea-84b1-32e2c76e0765.png)
I recorded a few values with a debugging build as shown above. The breakpoints are this equation in [WaterThermalTanks.cc](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/WaterThermalTanks.cc#L9223) and here in [WaterToAirHeatPumpSimple.cc](https://github.com/NREL/EnergyPlu

[2019-11-20 18:04] rraustad commented on #7407
I agree that it is difficult to maintain a single bucket of energy for multiple components when those components are modeled in specific order with respect to the time that energy is consumed. Some can be modeled before and some after the consumer uses the energy. I believe this is what we saw in the previous situation. For this reason, I agree that the same method should be used here.

From the v

[2019-11-20 19:34] rraustad opened #7628 "VRF model does not correctly calculate COP when cycling below min PLR"
Issue overview
--------------
Recent testing has shown that the COP calculation is incorrect when operating below min PLR.

In function CalcVRFCondenser the total cooling/heating capacity is adjusted by operating PLR. Additionally, if the system is cycling below Min PLR there is a calculation for cycling ratio which is not included here. This means the COP calculation is incorrect below min PLR.

[2019-11-20 20:00] yzhou601 commented on #7407
I instrumented breakpoints at both functions: Desuperheater and Heat Pump Coil calculation. I recorded whenever it called coil functions as `WaterToAirHeatPumpSimple:CalculateHPCoolingSimple()`, so those numbers neighbored with each other means there's no coil side update. Another fact is that the previous AFTER number is taken as next BEFORE number, which seems to be a clue of multiple adjustment

[2019-11-21 17:20] samuelduchesne opened #7631 "App signing of programs for converting older pre-v7.2.0 IDF files to current versions"
Issue overview
--------------
With MacOs Catalina's new mandatory app signing/notarization ([Gatekeeper](https://developer.apple.com/developer-id/)), the [Programs for converting older pre-v7.2.0 IDF files to current (or intermediate) versions](http://energyplus.helpserve.com/Knowledgebase/Article/View/98) cannot be opened because they are not signed (see image below).

<img width="532" alt="Scree

[2019-11-21 19:55] Nigusse commented on #7610
@YanfeiNREL The "Zone Thermal Comfort Fanger Model PPD" report variable is generated by people object not by the zone object. Use people object name, instead of zone object name.

Output:Variable,SPACE1-1 People 1, Zone Thermal Comfort Fanger Model PPD,Hourly;
Output:Variable,SPACE1-1 People 1, People Occupant Count,Hourly;

[2019-11-22 15:14] mjwitte opened #7632 "Add helper functions to validate and get an epJSON object and field value"
Issue overview
--------------
A couple of common patterns for input processing functions that are accessing epJSON data directly are:
[code]
That's a lot of work to repeat just to get an input field value or it's default.

Also, as evidenced by #7624 a simple typo in the field name reference can result in an input field being missed, because there's no validation that the requested field is a vali

[2019-11-22 15:24] rraustad commented on #7632
And for autosized fields returning -99999 would also be helpful in reducing the GetInput code.

    if (fields.find("cooling_supply_air_flow_rate") != fields.end()) { // not required field, autosizable
        auto tempFieldVal = fields.at("cooling_supply_air_flow_rate");
        if (tempFieldVal == "Autosize") {
            loc_m_CoolingSAFMethod_SAFlow = DataSizing::AutoSize;
        } else {

[2019-11-22 18:56] YanfeiNREL commented on #7610
Thanks for your help. It worked based on your suggestion. I suggest we add this note to the InputOutputRef document.
I have another issue: i made a people object for a zonelist, and when i tried to output the zone PPD, i got no output variables relate with PPD.

[in002.zip](https://github.com/NREL/EnergyPlus/files/3880996/in002.zip)

[2019-11-22 20:12] mjwitte commented on #7610
With ZoneList, the output variable key names are a combination of zone name plus people object name. Ask for the variable with * and you'll see the outputs and how the names are built.
Output:Variable, *, Zone Thermal Comfort . . .

[2019-11-22 20:50] ghost commented on #7589
Just want to  throw in my two cents also say that I was able to use the same strings in SCCM.

Install is in a .bat file creates that directory on the root and copies over the .qs file and has this line: %curpath%\EnergyPlus-9.2.0-64.exe --script install_script.qs AllUsers=true
(where %curpath% is the current path for SCCM)

Uninstall string is: "C:\EnergyPlusV9-2-0\maintenancetool.exe" --script i

[2019-11-22 21:12] YanfeiNREL commented on #7610
Thanks. solved!

[2019-11-22 21:12] #7610 closed, assigned to nobody

[2019-11-25 14:48] #7547 closed, assigned to Nigusse

[2019-11-26 15:10] shorowit commented on #7601
https://github.com/NREL/EnergyPlus/pull/7636

[2019-11-27 18:22] MatthewSteen commented on #5360
Wow, 16 👍 for this issue. That's the most I've seen, so seems like it a high priority to users.

[2019-11-27 19:06] MatthewSteen commented on #6742
Thinking about this more, I think that *(re)moving* the `Water` column from the `End Uses` table and putting that information in a reformatted `Water Source Summary` table could make more sense. This would separate *energy* end uses from *water* end uses, avoid mixed energy/water units (i.e. kBtu and gal), and create a nice concise summary of the resources that a building uses by having the follow

[2019-12-02 17:31] jasondegraw commented on #7546
Just verified this on a second machine, this time installing with 9.1 present. With a previously installed version present, the associations are not properly being set. I was previously able to keep multiple versions installed, just with the associations pointing at the most recent install. Looks like I'm going to have to do something with the zip file version of the release to get anything remote

[2019-12-03 19:40] #7614 closed, assigned to nobody

[2019-12-03 21:47] mldichter commented on #7383
I think I have this exact bug. I added ceiling cavities to models to correctly model duct leakage using the ZoneHVAC:AirDistributionUnit object. Here is a [google drive link](https://drive.google.com/file/d/1VMfBH3k6--5Js_fwaQrz6HZRZAbRQe5T/view?usp=sharing) with an example file.

I'm pretty sure all the vertices are specified correctly since the ceiling cavities were made with some ruby code, and

[2019-12-03 22:00] mjwitte commented on #7383
@mldichter These warnings are produced when attempting to auto-calculate the zone volume. You should be able to confirm what the autocalculated zone volume is even when it throws this warning. With an incorrect zone volume, zone capacitance is mildly affected, but any inputs or outputs in ACH will be wrong.

If you specify the volume in the Zone object, then these warnings may still appear, but th

[2019-12-04 14:15] lgu1234 opened #7640 "Remove a wrong error message using PerformancePrecisionTradeoffs"
Issue overview
--------------
@shorowit found a wrong error message when the PerformancePrecisionTradeoffs object is used:

   ** Warning ** The following lines are "Unused Objects".  These objects are in the input
   **   ~~~   **  file but are never obtained by the simulation and therefore are NOT used.
   **   ~~~   **  Only the first unused named object of an object class is shown.  Use Output

[2019-12-05 15:40] #5941 closed, assigned to nobody

[2019-12-05 15:40] #6601 closed, assigned to nobody

[2019-12-05 15:50] samuelduchesne commented on #7631
In the meantime, the transition programs can be removed from the quarantine (similarly to [this](https://github.com/tuxu/ipynb-quicklook/issues/6#issuecomment-562185140)).

The idea is to remove the transition programs from the quarantine. This can be done in one go with `xattr -d com.apple.quarantine [files ...]`. A quick way is to drag and drop the transition programs (unix executables) after th

[2019-12-06 16:07] mjwitte opened #7644 "OA controller high humidity control needs a tolerance"
Issue overview
--------------
While hunting down diffs due to surface reordering, test file UnitarySystem_FurnaceWithDXSystemRHControl.idf was showing big diffs in heating coil energy use for the winter design day. Tracked it down to the OA controller which was randomly activating the high humidity control economizer (which in this file sets the OA fraction to 0.9).

The problem is here in MixedAi

[2019-12-06 22:40] mjwitte opened #7646 "PerformancePrecisionTradeoffs should produce eio output to indicate which options are active"
Issue overview
--------------
PerformancePrecisionTradeoffs options should be echoed to the eio output, similar to other global options such as ShadowCalculation and HeatBalanceAlgorithm.

PerformancePrecisionTradeoffs should probably also throw one warning if any non-default options are selected.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, ver

[2019-12-06 23:53] rraustad opened #7648 "VRF model EIR heat recovery term uses capacity instead of EIR"
Issue overview
--------------
Issue is apparent when reviewing heat recovery cooling and heating code in HVACVariableRefrigerantFlow::CalcVRFCondenser.

    if (CoolingLoad(VRFCond)) {
      HREIRFTConst = VRF(VRFCond).HREIRFTCoolConst;
    } else if (HeatingLoad(VRFCond)) {
      HREIRFTConst = VRF(VRFCond).HRCAPFTHeatConst;

For future reference, the issue is inside this IF block in the heat rec

[2019-12-10 17:29] #7644 closed, assigned to nobody

[2019-12-10 18:36] ecoeficiente opened #7651 "VRF Condenser not simulated when one VRF TU not in Equipment List"
Issue overview
--------------
AirConditionar:VariableRefrigerantFlow with multiple terminal units is not simulated when a ZoneHVAC:TerminalUnit:VariableRefrigerantFlow terminal unit is not listed in the corresponding ZoneHVAC:EquipmentList.

In code, this unit IsSimulated property remains as false and the the condenser is not simulated according to code:
https://github.com/NREL/EnergyPlus/blob/775

[2019-12-10 19:00] #7502 closed, assigned to JasonGlazer

[2019-12-10 19:36] rraustad commented on #7651
I would agree with this assessment. The TU would need to be removed from the TerminalUnitList or as suggested in the comments, code would need revision.

[2019-12-11 14:46] #7550 closed, assigned to jmarrec

[2019-12-11 16:10] Arezaei558 commented on #7174
Any updates on when this output for SET will be added to a next release? Or has it already been added?

[2019-12-11 16:13] Arezaei558 commented on #7174
Never mind, just realized it was released with 9.2 version. Thank you all!

[2019-12-11 16:16] mjwitte commented on #7174
. . . and this issue should have been closed. Addressed in #7431.

[2019-12-11 16:16] #7174 closed, assigned to RKStrand

[2019-12-12 20:04] Myoldmopar commented on #7604
Closed via #7641

[2019-12-12 20:04] #7604 closed, assigned to lgu1234

[2019-12-12 20:33] Myoldmopar commented on #7601
Closed via #7636

[2019-12-12 20:33] #7601 closed, assigned to lgu1234

[2019-12-16 16:30] mjwitte opened #7653 "Convergence problem with Controller:WaterCoil and TemperatureAndHumidity control - need more plant iterations?"
Issue overview
--------------
Work on changing the order of the internal surface data (#7575) has tripped over some surprising diffs. For example, here's the cooling coil load and chiller load for the summer design day in 5ZoneWaterCooled_Baseboard, with develop and with ManageSurfaceHeatBal2. Similar behavior has been observed in 5ZoneCoolingPanelBaseboardAuto (both files have baseboard with a ra

[2019-12-16 19:27] mjwitte commented on #7653
Here's a comparison of versions back to v8.9. The chiller behavior started in v9.1, changed again in v9.2.

![image](https://user-images.githubusercontent.com/4991075/70936320-ad258a80-2007-11ea-9828-41305a8a9281.png)

[2019-12-17 00:58] mjwitte commented on #7653
Lovely. This got broken in https://github.com/NREL/EnergyPlus/pull/7215 which was a fix for chilled water coils with humidity control which potentially affects 20 test files.

[2019-12-17 06:43] wta12 commented on #7609
@EnergyArchmage: Could I know whether your suggestion coming from normal design rule for supply air condition ?
I am not sure if I can determine setpoint supply air conditions  as :
1.  Cold - For completely handling ventilation and zone latent load e.g ensure zone humidity setpoint  using DOAS design flow rate (might be hard in humid (A) climates). reheat should be limited as little as possible
2

[2019-12-17 07:46] wta12 opened #7655 "Meter:Custom Variable Error"
Issue overview
--------------
I tried to add Meter:Custom objects as:

[code]

The first 'Cooling Coil Total Cooling Energy' works well when the second gives error as:

[code]
### Details
 - Platform (Operating system, version): Mac OS 10.14.6
 - Version of EnergyPlus (if using an intermediate build, include SHA): 9.2
 - Unmethours link or helpdesk ticket number: similar to this issue  [(unmethour

[2019-12-17 17:37] EnergyArchmage commented on #7609
yes,  I believe those suggestions are consistent with those design rules.  The Max humidity ratio and/or cold drybulb setpoint values may need to vary though when DOAS serves difficult space types, e.g. conference room.   E+ does not have latent load zone sizing so the supply air humidity condition needs to be determined at input, which is a bit difficult.

DOAS AirLoopHVAC sizing is generally don

[2019-12-17 17:54] wta12 commented on #7609
I think It's viable with EMS approach. Btw, It's absolutely a question about design purpose other than limitation of EP. I did not see a good "autosize" selection for coupling requirements.

[2019-12-17 21:20] mjwitte opened #7656 "AirflowNetwork:MultiZone:ExternalNode interaction with OutdoorAir:Node is confusing when using surface local environments"
Issue overview
--------------
Input Output Reference for AirflowNetwork:MultiZone:ExternalNode needs to explain how it interacts with OutdoorAir:Node when there are any external environments present and maybe the code needs to change?

User was getting errors like this:
[code]
Turns out that there is an undocumented (at least I couldn't find it anywhere in the I/O Ref) interaction between local en

[2019-12-18 15:23] JasonGlazer opened #7657 "Daylight Glare Index output variable not decreasing when OnIfHighGlare is used with shading"
Issue overview
--------------
The output variable "Daylighting Reference Point # Glare Index" should decrease when OnIfHighGlare is used with a shading device and the shading device is deployed. The file does not show this behavior.

The question from the user that reported this problem is here:

https://unmethours.com/question/41577/dgi-does-not-decrease-after-glare-control/

This was with Energy

[2019-12-18 16:27] maxscarpa opened #7658 "Addition of Indexes into SQLite Table ReportData"
Issue Overview
JOIN operations applied to Tables in the SQLite output file may be quite slow, in case of simulations of large buildings. For instance, this could be the case of JOIN operations acting on Tables TimeReport and DataDictionary.

Feature Request
With reference to Table ReportData in the SQLite output file, the addition of indexes to columns TimeIndex and ReportDataDictionaryIndex would

[2019-12-19 16:12] JasonGlazer commented on #7606
I confirmed this issue. The problem is that HeatPump:WaterToWater:EIR:Heating has a \min-fields of 15 in the Energy+.idd file but the object only has 14 fields.

[2019-12-19 21:00] mbadams5 commented on #7658
@maxscarpa
You can always create an index yourself after the SQLite file is generated.

[code]
Only a couple indexes are created during the EnergyPlus simulation since they take time to compute and extra space in the SQLite file. If you feel these two indexes have broad appeal to the community then we can investigate these tradeoffs. Otherwise, you can easily add the indexes yourself in any genera

[2019-12-19 23:42] maxscarpa commented on #7658
Dear Mark, thank you for your kind reply.
This is what I am doing now. However, it could be useful to integrate it into EnergyPlus because the difference in the speed of data acquisition from the SQLite file is significant.

[2019-12-30 20:03] JasonGlazer opened #7661 "Add occupancy threshold for reports "during occupied hours""
Several different tabular reports show values "during occupied hours" including the System Summary, Outdoor Air Summary, and Annual Building Utility Performance Summary. The threshold for these is any hour that is not zero occupancy. In real buildings, that is not often the case of interest and is instead hours above some low threshold, such as 5% occupancy, is more important. This is due to clean

[2019-12-31 16:17] JasonGlazer commented on #7606
I noticed that the issue #7593 is related.

[2020-01-03 18:59] mldichter commented on #7451
- [x] In the Controller:MechanicalVentilation object documentation and ~IDF Editor~ IDD, change field `Zone <x> Name` to `Zone or ZoneList <x> Name` as this field does accept a ZoneList object.

[2020-01-03 19:09] JasonGlazer commented on #7556
@shorowit I'm having trouble tracking down why this file is behaving differently. Would it be possible for you to provide a file that is as close as possible to this one but worked?

[2020-01-03 19:27] mldichter opened #7664 "Feature Request: ZoneControl:ContaminantController capable of accepting ZoneList objects"
Changing the Zone Name field to accept ZoneList names as well would be greatly appreciated.

[code]

[2020-01-03 20:32] shorowit commented on #7556
@JasonGlazer Try these two files.

The good file has a AirLoopHVAC:UnitarySystem serving 100% of the conditioned zone's cooling load and 30% of the heating load, with a **ZoneHVAC:Baseboard:Convective:Electric** meeting the other 70% of the heating load.

The bad file has a AirLoopHVAC:UnitarySystem serving 100% of the conditioned zone's cooling load and 30% of the heating load, with a **ZoneHVAC:

[2020-01-06 20:09] RKStrand commented on #7640
@lgu1234 Are you planning on fixing this or is this open for anyone to pick up?

[2020-01-06 20:18] lgu1234 commented on #7640
@RKStrand Yes. I am almost done, except for a unit test. Thanks.

[2020-01-06 20:36] RKStrand commented on #7640
@lgu1234 Awesome--thanks!

[2020-01-07 08:18] jmarrec commented on #7664
Similar issue to #7557 (`ZoneVentilation:WindandStackOpenArea` to accept ZoneList as well). Probably best addressed in conjunction.

[2020-01-07 08:32] jmarrec commented on #7512
@guyue5 Are you able to provide more information please? Otherwise we'll have to close this issue because we cannot replicate.

[2020-01-07 12:27] jmarrec commented on #7451
@mitchute wrote:

It seems all of these png that do not display correctly in the PDF are RGB Color 16-bit gamma integer, while others that work fine are 8-bit. If I open the 16bit png in GIMP, and change the precision from 16-bit to 8-bit, suddenly it works.

Unix: `file *.png  | /bin/grep "16-bit"`

[2020-01-07 16:14] jmarrec commented on #7451
@shorowit re https://github.com/NREL/EnergyPlus/issues/7451#issuecomment-552662680.

The [Field: Solar Distribution](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-simulation-parameters.html#field-solar-distribution) says for FullExterior:

Now if you look at [Surface Inside Face Initial Transmitted Diffuse Absorbed Solar Radiation Rate](https://bigladdersoftware.com/epx/d

[2020-01-07 17:20] mjwitte commented on #7451
@jmarrec @shorowit There is some confusion here between initial transmitted diffuse and reflected diffuse. The description for Surface Inside Face Initial Transmitted Diffuse Absorbed Solar Radiation Rate properly distinguishes between the two. The descriptions for Solar Distribution don't seem to make that distinction very clear. I did a quick check of the code to confirm how reflected diffuse is

[2020-01-07 17:31] rraustad commented on #7451
"(weighted by area and solar absorptance)"
Since the description is talking about the "portion of diffuse solar that is reflected and redistributed", weighted by surface solar absorptance doesn't sound right, but I didn't check the equations.

[2020-01-07 18:12] mjwitte commented on #7451
@rraustad Yeah, the solar absorptance comes into play twice (or more). It governs how much initial solar (beam and diffuse) gets reflected (all as diffuse) and then it governs how much of the total reflected diffuse it absorbs. So, if there are two surfaces in the same zone with different solar absorptance, the one with higher solar absorptance will keep more of the reflected diffuse.

[2020-01-08 18:01] #7625 closed, assigned to Nigusse

[2020-01-08 18:02] mldichter opened #7670 "IDF Editor Crashes on "Go to" of nonexistant object"
Issue overview
--------------
This bug is entirely due to human error, but can result in much lost work. Greatly appreciated if the user had an opportunity to save their work.

Steps to reproduce error:
1) Object FooBar exists in the IDF
2) Use the Cntl-H Search and Replace window to search for Object FooBar
3) Exit Search and Replace window
4) Delete Object FooBar
5) Press Cntl-H to reopen the Se

[2020-01-08 18:04] #7481 closed, assigned to jmarrec

[2020-01-08 18:15] mldichter commented on #7664
There are other objects, in addition to these two, like this. I'm willing to go through all the objects and their fields in the documentation to make a list, but is there already a list like that? The IDFs become so much more readable using ZoneLists. I would gladly devote some time to this.

[2020-01-08 18:34] JasonGlazer commented on #7556
@shorowit The more I look at the code, the more I think this is exactly as it is intended to work. The Boiler:HotWater using electricity in the "bad" file has "General" as a end-use subcategory which is a little confusing because that is the default name for the first row for each end-use in the "End Uses By Subcategory" table. If that is removed, it shows as "Boiler." The rest of the heating elec

[2020-01-08 23:48] jmarrec commented on #7664
@mldichter the IDD is probably the best way to compile the list easily and programmatically. A python script for eg would be easy to return objects that have fields with \reference ZoneNames but not \reference ZoneAndZoneListNames (references from memory so approximative...).

I can help with that part if you want? then you can go through that list to see which could actually be changed (perhaps s

[2020-01-09 17:03] EnergyArchmage opened #7671 "Latent Degradation not working for Variable Speed DX coil in Coil System"
Issue overview
--------------
From code inspection, found that for VS coils, the DX coil system is setting heat pump time constant to 0.0.  This hard coded value is one of four inputs needed for latent degradation model. Then when it calls into SimVariableSpeedCoils the latent degrade model doesn't execute.

Suggest to hard code at a value such as 45 seconds.  Alternatively new inputs could be add

[2020-01-09 18:27] mldichter commented on #7664
@jmarrec I went through the IDD file. I think most of the stuff would be useful, especially for something like a hotel, apartment complex, or 10 story office building. The HVACTemplate:* objects I found would be nice for the user to specify the equipment that's autosized or for identical zones once and have the object apply to a ZoneList.

The only one that's a little weird is the Refrigeration:Ca

[2020-01-09 18:42] shorowit commented on #7556
@JasonGlazer Thanks for looking into this. I'm not really following. Maybe you can help me understand by answering this question: In the "bad" file, what changes would I need to make to the IDF so that the "other" end use subcategory disappears -- and behaves like the "good" file?

(For what it's worth, apparently OpenStudio is automatically setting the Boiler:HotWater end use subcategory to "Gene

[2020-01-09 19:28] shorowit commented on #7556
@JasonGlazer Just to provide some more information, here are a handful of similar test files we're running. (We have dozens more with different HVAC configurations.)

IDF Heating System | IDF Cooling System | Has "other"? | Notes
-- | -- | -- | --
ZoneHVAC:Baseboard:Convective:Water | None | No |
ZoneHVAC:Baseboard:Convective:Water | AirLoopHVAC:UnitarySystem | No |
None | AirLoopHVAC:UnitarySyste

[2020-01-09 22:46] JasonGlazer commented on #7556
I would say that nothing is really broken or wrong, it is just the combination of electric heating items that is causing a different arrangement of results in that table. I would guess that the boiler may be the only object that does electric heating in your suite that has an End-Use Subcategory field. The other electric heating items probably don't have that field.

Could it be better? Certainly!

[2020-01-09 23:22] mjwitte commented on #7556
Based on a brief review of this, I think that `SetUpOutputVariable` should apply General as the default Subcategory for any metered variable with a main end-use specified. I'm kind of surprised that's not how it is already. "Other" should never really happen - we probably debated this when the Other row was added originally.

In addition we could add some hard-coded subcategories as suggested in #

[2020-01-10 00:14] shorowit commented on #7556
👍 I'm supportive of this.

[2020-01-10 03:50] rraustad commented on #7556
More basic is the overrides that are not consistent. Why isn't indexGroupKey the 8th argument in each of these functions. Couldn't these be reduced to a single function?

[code]

[2020-01-10 13:48] mjwitte commented on #7556
@rraustad Agreed at some point we need a sweep to clean these up and get of the optional argument stuff. And we should probably have two distinct function names, something like `SetupOutputVariable` and `SetupMeteredVariable`.

[2020-01-10 14:28] JasonGlazer commented on #7556
@rraustad Yes, this does need cleaning up.

[2020-01-10 14:31] JasonGlazer commented on #7556
In general, I think the concept of end-use subcategory is good and inputs should be added to objects so that users can define them for all objects that consume electricity or a fuel.

[2020-01-10 14:53] mjwitte commented on #7556
OK, but that could involve many objects. Is there any objection to a first step of defaulting to General?

[2020-01-10 15:04] JasonGlazer commented on #7556
I think it is a good idea. I'm actually surprised it wasn't that way originally. My only concern is that it might change a lot of tabular output files both in the test suite and for users in general but I think we should go ahead with the change (which is probably just a single line of code).

[2020-01-10 15:39] JasonGlazer opened #7673 "Add end-use subcategory fields to all remaining objects that consume electricity or a fuel"
Issue overview
--------------
The use of the end-use subcategories is used extensively to show the disaggregation of energy in building models. Currently the user can define end-use subcategories for internal and external load objects (Lights, ElectricEquipment, Exterior:Lights, etc.) and some zone equipment (ZoneBaseboard:OutdoorTemperatureControlled, Fans:OnOff) and central plant equipment (Pump

[2020-01-10 15:40] JasonGlazer commented on #7556
I just added a new feature request #7673 to not lose track that the end use subcategory field should be added to additional objects.

[2020-01-11 04:35] Ygrapefruit opened #7674 "I use th energyplus meet the compile issue"
I download a project from github and  need download pre-built package of EnergyPlus and install it.
I can't find the pre-built package and just install the energyplus9.1, then I sudo make install, the error is :
[ 99%] Linking CXX executable ../../Products/energyplus
../../Products/libenergyplusapi.so.9.1.0: undefined reference to `EnergyPlus::DXCoils::NumDXCoils'
../../Products/libenergyplusapi.s

[2020-01-12 02:17] hopezh opened #7676 "unable to log in energyplus public website"
Issue overview
--------------
I was **unable to log in EnergyPlus public website** after I created a new user account.

It still didn't work even after I "**requested a new password**".

It always remind me that "Sorry, unrecognized username or password".

May I ask if anyone has experienced similar issue before, and if yes, how to solve it?

[2020-01-12 03:35] Myoldmopar commented on #7676
I'm sorry this has happened, I will see what I can find out.

[2020-01-12 13:28] #7674 closed, assigned to nobody

[2020-01-12 19:17] #7565 closed, assigned to jmarrec

[2020-01-12 19:45] simransinghal opened #7678 "Weather Converter not able to convert custom file to EPW file"
Weather converter is not able to convert custom file to epw file.

This is the def file I am using.

[code]

I first converted the standard epw file 'USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw' present in WeatherData folder to csv using weather converter program and then I am trying to convert it again to epw by using the above def file.

[CSV file](https://drive.google.com/file/d/1YdKoRf6hXG6kX

[2020-01-13 14:42] mjwitte commented on #7678
To convert back from epw-csv, select the csv file, click "Override Default Type" and select "EnergyPlus CSV" data type. No def file is required.

[2020-01-14 03:21] Myoldmopar opened #7680 "Electric Chiller Forgets to Update Sometimes"
Issue overview
--------------
Possible related or duplicates:
 - #7134
 - #6404

While refactoring the electric chiller for PlantComponent in #7637, a bunch of time was ~~spent~~ wasted debugging stray diffs in CompSetPtControl.idf.  As it turns out, even in develop that chiller model is misbehaving.  Primarily due to forgetting to update a number of what used to be module-level shared variables.

[2020-01-14 14:43] rraustad commented on #7680
I'm not positive on this but I think when Chiller:Electric:EIR was developed it was a mimic of Chiller:Electric. So this same symptom should be looked for in EIR chiller example files.

[2020-01-14 15:35] simransinghal commented on #7678
@mjwitte I am trying to go via custom file method as my ulimate aim is to use Energyplus Weather Converter to split global radiation into direct normal and diffuse horizontal values.

[2020-01-14 15:57] simransinghal commented on #7678
@mjwitte If you can help me in figuring out what's the problem with the current file or current method then I'll be able to move to the next step.

My aim is to validate a building model by taking into account the real weather situation. A onsite weather station had been installed.

But for solar radiation data, only global(total) radiation is available. From the auxiliary programs document, weath

[2020-01-14 16:00] simransinghal commented on #7678
@lefticus @mjwitte @rbuffat @axelstudios @Myoldmopar @jasonglazer @mitchute Can anyone of you please re-open this issue.

[2020-01-14 16:52] simransinghal commented on #7678
I took help from following "def" file:-
http://energyplus.helpserve.com/Knowledgebase/Article/View/134/39/weather-converter-def-file-for-energypluscsv-format

[2020-01-14 18:03] Myoldmopar commented on #7676
@hopezh we have someone working on it.  If this issue gets addressed, please close it, otherwise if you don't have it resolved soon please comment on here so we can continue to work on it.

[2020-01-15 06:10] hopezh commented on #7676
Noted with thanks, @Myoldmopar

[2020-01-15 06:10] #7676 closed, assigned to nobody

[2020-01-15 11:27] msfer86 opened #7681 "Severe errors for ZoneHVAC:TerminalUnit:VariableRefrigerantFlow with supplemental heating coil and OutdoorAir:Mixer"
Issue overview
--------------
Adding a supplemental heating coil (new feature) to the ZoneHVAC:TerminalUnit:VariableRefrigerantFlow object while using an Outdoor Air Mixer results in severe errors, in the new EnergyPlus version 9.2.0.

This only occurs when selecting 'Supply Air Fan Placement = BlowThrough' in the ZoneHVAC:TerminalUnit:VariableRefrigerantFlow object. In this case, if an outside ai

[2020-01-15 21:08] rraustad opened #7682 "VRF does not show rated COP when using unity performance curves"
Issue overview
--------------
User questions COP results when performance curves are changed to equal 1. See UnMetHours post https://unmethours.com/question/42281/vrf-with-constant-curves-has-cop-10/?answer=42284#post-id-42284

Results show varying COP while it seems COP should be constant with these inputs.

And with unity part load fraction correlation curves the PLR and RTF should be equal. May

[2020-01-16 14:48] rraustad opened #7686 "Several OA components read incorrect component outlet node index"
Issue overview
--------------
While updating HVAC models for the OA system a code mistake was discovered where the component outlet node is set equal to the OA Sys component inlet node.

The issue occurs in function AirLoopDOAS::getAirLoopDOASInput

Notice for the balanced HX there are:
OutsideAirSys(thisDOAS.m_OASystemNum).InletNodeNum(CompNum) =
OutsideAirSys(thisDOAS.m_OASystemNum).OutletNodeNu

[2020-01-16 17:06] simransinghal commented on #7678
@Myoldmopar @mitchute can you please re-open this issue?

[2020-01-16 17:26] mjwitte commented on #7678
The issue is reopened but it may be some time before someone can sort this out. It seems clear from this error message that there's a problem with the date columns in the incoming data file vs the def file spec:
`** Input Date Error, month=1986, day=1, hour=1`

[2020-01-16 17:45] #7606 closed, assigned to JasonGlazer

[2020-01-16 17:59] simransinghal commented on #7678
@mjwitte after a bit of research I have figured out that it's not a problem with Date time input but with the delimeter.

What I basically did is deleted the date time column from csv file and did the corresponding changes in the def file. After that I realised that between two data input lines "tab" is used as delimeter which weather converter program is not able to detect. While between two colu

[2020-01-16 18:05] simransinghal commented on #7678
Adding an example to support my above mentioned claim.

A part of csv file
[code]

defination file
[code]

Audit file output
[code]

[2020-01-16 18:56] mldichter opened #7687 "Feature Request: Extend Objects to accept ZoneLists in addition to Zone objects"
Changing the Zone Name field of these objects to accept ZoneList names as well would be greatly appreciated, especially for something like a hotel, apartment complex, or 10 story office building. The HVACTemplate:* objects would be nice for the user to specify the equipment that's autosized or for identical zones once and have the object apply to a ZoneList.

RoomAirModelType
RoomAir:TemperaturePa

[2020-01-16 18:57] mldichter commented on #7664
Closed this issue and opened #7687 to include the feature request.

[2020-01-16 18:57] #7664 closed, assigned to nobody

[2020-01-16 18:57] mldichter commented on #7557
Included the feature request in #7687.

[2020-01-16 18:59] #7557 closed, assigned to nobody

[2020-01-16 19:14] EnergyArchmage opened #7688 "Condenser plant load dispatch not working for two-speed evaporative fluid cooler tower"
Issue overview
--------------
From user file and code inspection, the two speed evap fluid cooling tower model is not reporting back its max and optimum capacity for use in condenser load dispatch calculations.

The problems are here
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/EvaporativeFluidCoolers.cc#L982
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/Evaporat

[2020-01-16 20:01] mjwitte commented on #7678
So, correcting the input data file to use a single type of delimiter, does that process successfully?

[2020-01-16 20:55] MatthewSteen opened #7690 "add Efficiency field to DistrictCooling and DistrictHeating"
Feature request to add a simple efficiency field (e.g. COP) to the District* objects, which would be helpful for cases where the user does not need to explicitly model a central plant but wants to account for its efficiency. This is a common scenario for LEED projects.

[2020-01-17 01:07] lklawrie commented on #7678
not sure I'm following you there.  What I changed was to change the "date"
from his mm/dd/yyyy to yyyy/mm/dd - which is the format of the date in the
energyplus csv file.  (in this case at least).

delimiter is still a ,

The converter looks at how the def file specifies the date and uses that.

Linda

On Thu, Jan 16, 2020 at 1:01 PM Michael J. Witte <notifications@github.com>
wrote:

[2020-01-17 12:59] Atmos-lab opened #7691 "Feature Request: View3D- import/export automation or scripts"
Issue overview
--------------
Hi all,

With the increasing importance given to comfort calculations during building design the temperature of any given surface becomes essential to accurately calculate operative temperatures. However, Energyplus limitations with Interior Solar Distributions for convex zones restricts considerably the typologies that can be assessed or, alternatively, requires them

[2020-01-17 14:34] mjwitte commented on #7690
@MatthewSteen The EnvironmentalImpactFactors object can do one form of this. Is this adequate? At a minimum, this object should be mentioned in the DistrictCooling/Heating docs. Or perhaps better to move these fields to the DistrictCooling/Heating objects. Would you need a choice of what fuel type to convert to?

[code]

[2020-01-17 15:00] Nigusse opened #7692 "Zone Air Terminal VAV Damper Position report variable is always zero for AirTerminal:SingleDuct:VAV:Reheat:VariableSpeedFan"
Issue overview
--------------
 Testing revealed the following issues for this air terminal:
 -  report variable *Zone Air Terminal VAV Damper Position* is always zero for **AirTerminal:SingleDuct:VAV:Reheat:VariableSpeedFan** object. It looks like the variable  *Sys.DamperPosition* is never assigned to a value or updated during simulation.
 -  the variable *SysOutlet* variable is not updated every

[2020-01-17 15:44] simransinghal commented on #7678
@mjwitte no this didn't fix the error. And, also we can mention only one delimeter either "," or tab.

[2020-01-17 15:48] simransinghal commented on #7678
@lklawrie @mjwitte problem is with date and time fields only. Because when I removed these fields from my csv file and did corresponding changes in def file. Conversion proceeded sucessfully without any error.

Def file:-

[code]

A part of output of Audit file
[code]

[2020-01-17 16:15] mjwitte commented on #7678
I believe what @lklawrie was saying is that the date format in the original data file was not consistent with the date format specified in the original def file. If these are consistent (e.g. both are yyyy/mm/dd) then it will process with dates.

[chi-github.def.txt](https://github.com/NREL/EnergyPlus/files/4077689/chi-github.def.txt)

[2020-01-17 16:22] #7678 closed, assigned to nobody

[2020-01-17 16:27] simransinghal commented on #7678
@mjwitte thank you for sharing the def file. I'll have a look on it. If this is working for you can you please also share your csv file.

[2020-01-17 16:31] simransinghal commented on #7678
Thanks a lot @mjwitte and @lklawrie this worked for me. Thanks to whole Energyplus community.

[2020-01-17 19:56] #7471 closed, assigned to Nigusse

[2020-01-20 06:34] wta12 commented on #7655
Got similar warnings for **"AIR SYSTEM OUTDOOR AIR MASS FLOW RATE"** and **"AIR SYSTEM OUTDOOR AIR MECHANICAL VENTILATION REQUESTED MASS FLOW RATE"**. Not sure if they will be fixed in current commit
[code]

[2020-01-20 15:25] jmarrec opened #7697 "Fan:SystemModel inconsistencies in IDD"
Issue overview
--------------

I'm working on implementing `Fan:SystemModel` in OpenStudio (cf https://github.com/NREL/OpenStudio/issues/3044). As you know, OpenStudio does strongly enforce IDD conventions: a field with an `\object-list` has to match the `\reference` of the object you're trying to assign to that field or it will reject the assignment.

**I'm seeing  some inconsistencies in the IDD

[2020-01-20 21:41] mjwitte commented on #7697
The \key choice list for Fan Object Type should be reliable.

For the unitary equipment that does not accept Fan:SystemModel, at the time this was added, there was an expectation of the various unitary and heatpump system being deprecated. Other considerations have delayed that.

To resolve the name referencing problem, I would suggest giving Fan:SystemModel it's own reference group (deleting all

[2020-01-21 16:00] MatthewSteen commented on #7690
@mjwitte I wasn't familiar with this object, which could work in some situations. However it's nice in general and needed for LEED to have the central plant's fuel separate from the building's, which the District* objects easily do.

[2020-01-21 17:57] LipingWang opened #7698 "WindowMaterial:ComplexShade- the range of emissivity in the idd"
Issue overview
--------------
When the emissivity (Front and Back ) in the object WindowMaterial:ComplexShade were assigned as zero in an idf, the simulation failed. The minimum value of the emissivity (Front and Back ) is zero in EnergyPlus idd.

### Details
Some additional details for this issue:
 -  reproduced the fatal error with the example file "CmplxGlz_Daylighting_SouthVB45deg_rev" by chan