[2020-12-01 15:06] jmarrec commented on #5505
Still true today with **E+ v9.4.0**: : https://github.com/NREL/EnergyPlus/blob/734af19f9a7fc87715a5078c529a4083d2dff7ce/src/EnergyPlus/FluidCoolers.cc#L971-L977

Engineering Reference:

https://github.com/NREL/EnergyPlus/blob/734af19f9a7fc87715a5078c529a4083d2dff7ce/doc/engineering-reference/src/loop-equipment-sizing-and-other-design-data/component-sizing.tex#L1931-L1958

![image](https://user-ima

[2020-12-01 15:08] jmarrec commented on #5505
I looked into the Thesis by Chandan Sharma "DEVELOPMENT OF DRY AND EVAPORATIVE FLUID COOLER MODELS FOR ENERGYPLUS" but I couldn't find any reference to why it's sized like this as `HighSpeedAirFlowRate = DesFluidCoolerLoad / (this->DesignEnteringWaterTemp - this->DesignEnteringAirTemp) * 4.0;`

[2020-12-01 15:29] jmarrec commented on #5153
Still true in **v9.4.0**. I added a defect file on DevSupport, I took CoolingTowerWetBulbRange, changed the PlantEquipmentOperation:OutdoorWetBulb, added Output:SQLite and set a Runperiod of 1/1 to 12/31.

[code]

Reproducing Andrew's graph shows exactly the same:

![image](https://user-images.githubusercontent.com/5479063/100760754-6389a780-33f2-11eb-9199-f1ecfaef6218.png)

[2020-12-01 15:31] jmarrec commented on #5057
I would reckon this is no longer the case. I can't see any mention of FOR17 anywhere in the codebase (`grep -Ri "FOR17"` returns nada).

[2020-12-01 15:32] jmarrec commented on #5032
Is there a defect file for this?

[2020-12-01 15:34] jmarrec commented on #4905
Today, as of 734af19f9a7fc87715a5078c529a4083d2dff7ce (circa 9.4.0+)

[code]

[2020-12-01 15:39] jmarrec commented on #7089
Here's an exrtract from a draft of the [2015 handbook](http://web.mit.edu/parmstr/Public/TC75/A11_Ch42_I-P_SI-2015%20DRAFT-ncmt4.pdf).

![image](https://user-images.githubusercontent.com/5479063/100761913-b6179380-33f3-11eb-930d-6ca6b46c1514.png)

![image](https://user-images.githubusercontent.com/5479063/100761950-c16abf00-33f3-11eb-935f-c4bb4f8cdfce.png)

I find the equation for cooling weird, I

[2020-12-01 15:45] jmarrec commented on #7478
This type of question is best suited for unmethours.com, where you will draw a larger base that can help you with this. (And sorry about the fact that your question above has been unanswered in more than a year).

[2020-12-01 15:45] #7478 closed, assigned to nobody

[2020-12-01 20:33] mjwitte commented on #5057
Not necessarily, that's an automatic file name when unit 17 is opened. I'll see if I can reproduce with current code.

[2020-12-01 20:35] mjwitte commented on #5057
Cannot reproduce with current develop. Closing.

[2020-12-01 20:35] #5057 closed, assigned to nobody

[2020-12-01 20:45] mjwitte commented on #5032
I found the e-mail thread about this and #5033 . idf files were requested but apparently never received. Closing both.

[2020-12-01 20:45] #5032 closed, assigned to nobody

[2020-12-01 20:45] mjwitte commented on #5033
idf files were requested but apparently never received. Closing.

[2020-12-01 20:45] #5033 closed, assigned to nobody

[2020-12-01 22:21] jasondegraw commented on #7546
None of the logging things worked out, and 9.4 has the same problems. Running the installer as a regular user and then escalating if needed seems to help. As of now, the only reliable approach I have found is:

* Uninstall the old version
* Launch the installer as a regular user, escalate privileges if needed/asked

Keeping more than one version installed does not appear to be possible.

[2020-12-01 22:38] mjwitte commented on #7546
@jasondegraw ~A workaround to make older versions available would be to use the zip file asset for the older versions. There's really nothing in EnergyPlus that needs a formal install except for EP-Launch and IDFEditor and the file associations. So, unzipping an old version should work by itself next to the fully installed current version. When upgrading to the next version, just keep a copy befor

[2020-12-02 06:38] shorowit commented on #8209
May get addressed by https://github.com/NREL/EnergyPlus/pull/8394

[2020-12-02 06:50] shorowit commented on #4839
The new PixelCounting method in E+ 9.3 removes limitations of non-convex surfaces. Seems like this issue has been addressed.

[2020-12-02 06:50] #4839 closed, assigned to nobody

[2020-12-02 06:52] shorowit commented on #6531
#6192 has been merged and is part of E+ v9.1.

[2020-12-02 06:52] #6531 closed, assigned to nobody

[2020-12-02 06:55] shorowit commented on #6621
Addressed by https://github.com/NREL/EnergyPlus/pull/7455 and included as of EnergyPlus 9.2.

[2020-12-02 06:55] #6621 closed, assigned to nobody

[2020-12-02 14:09] jmarrec opened #8406 "Fix 'documentation' github actions"
Issue overview
--------------

The documentation github actions build fails due to an apt error.

### Details

Example of a failing run https://github.com/NREL/EnergyPlus/pull/8401/checks?check_run_id=1486213415, and relevant info from the log below:
[code]

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list

[2020-12-02 14:47] Myoldmopar commented on #7347
@mbadams5 would you take a look at this issue and determine if it is something worth pursuing?  Otherwise it will be closed.  Thanks!

[2020-12-02 15:07] #8406 closed, assigned to jmarrec

[2020-12-02 15:14] #5011 closed, assigned to jmarrec

[2020-12-02 19:59] jcyuan2020 commented on #6964
I checked the attached weather file and the weather data outputs seems fine. The wetbulb temperatures are not included in the original weather data file; but are calculated (and can be reported) based on DBT (dyrbulb), RH, and barometric pressure input from the weather data. There are quite some low humidity data in the weather but EnergyPlus seems to processed them fine to get a reasonable wetbul

[2020-12-03 16:06] mjwitte commented on #7546
@jasondegraw Never mind - that doesn't seem to work. EnergyPlus.exe doesn't seem to find it's dlls/libs if it's just copied in from another please (like a backup).

[2020-12-03 16:24] jasondegraw commented on #7546
@mjwitte The connection between EP-Launch and IDF Editor gets a little interesting as well. At one point the current EP-Launch was firing up an IDF Editor from two versions ago. That's when I gave up and just removed all the older versions. When I have time I will try to work out a way to get the zip version to work. Right now I have 9.4 enough installed that it is at least minimally functional. W

[2020-12-04 15:28] jmarrec commented on #8372
@hongyuanjia Do you have a file please.?

[2020-12-04 16:23] jmarrec commented on #8376
@MaximilianAzendorf Thanks for the issue report.

This the Fortran `OPEN` command that is indeed used to create the file.

https://github.com/NREL/EnergyPlus/blob/4e2af181c66c3a55748df2f7167ae5aae41a7e15/src/ExpandObjects/epfilter.f90#L1935-L1962

The CLI will then move it via `moveFile`: https://github.com/NREL/EnergyPlus/blob/734af19f9a7fc87715a5078c529a4083d2dff7ce/src/EnergyPlus/CommandLineInt

[2020-12-05 14:52] hongyuanjia commented on #8372
@jmarrec, I modified the example file RoomAirflowNetwork.idf to include the case I mentioned.

[RoomAirflowNetwork.idf.txt](https://github.com/NREL/EnergyPlus/files/5647241/RoomAirflowNetwork.idf.txt)

[2020-12-08 08:13] jmarrec commented on #8372
@hongyuanjia Thank you!

I added the details and checklist from the issue template to your original post.

[2020-12-08 10:38] jmarrec commented on #7918
Still true with V9.4.0, I don't get the getcwd in the console, but it cannot transition the files without sudo.

[2020-12-08 10:46] jmarrec opened #8412 "WaterHeater:Stratified with autosized height: Severe error calculated density of air is negative (v8.7) and hard crash in v9.4"
Issue overview
--------------

user reported on unmet hours that he got the following error:

[code]

user supplied the file, which was at E+ 8.7. I updated the file to v9.4 and instead of getting this severe I am getting an actual crash, which isn't something we want to happen, even if it is later found the defect file had problems.

[code]

### Details
Some additional details for this issue (if

[2020-12-08 11:05] jmarrec commented on #7820
I doubt this is a question anyone will pick up since it it seems pretty specific to the BCTVB, and we have no files to reproduce it anyways.

If you aren't satisfied with the answer you got on https://unmethours.com/question/43040/error-while-running-energyplus-from-external-interface/, I suggest emailing https://groups.google.com/group/bcvtb (see https://simulationresearch.lbl.gov/bcvtb/Help)

So

[2020-12-08 11:05] #7820 closed, assigned to nobody

[2020-12-08 14:12] jmarrec commented on #8412
The problem is that `SetupStratifiedNodes` is called before Sizing has occurred (eg: SizeTankForSupplySide / SizeTankForDemandSide)

https://github.com/NREL/EnergyPlus/blob/7f35ab639d5a75b6e090a0db19ec83c3f0199025/src/EnergyPlus/WaterThermalTanks.cc#L3196

so since Tank.Height is autosized, you end up with a -9999  lurking in all calcs, which gives bogus results through, and it never initializes t

[2020-12-08 17:13] matthew-larson commented on #8365
@mjwitte
The problem comes from the fact that even when the cooling capacity is set to zero, there is still a supply mass flow rate.  During the CorrectZoneAirTemp function in [ZoneTempPredictorCorrector.cc](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ZoneTempPredictorCorrector.cc#L5058), the zone air temperature is modified, which is then used to calculate the zone load compari

[2020-12-08 22:05] mjwitte commented on #8365
@matthew-larson Soo many different combinations of constraints. I agree if the cooling capacity is limited to zero, then `SupplyMassFlowRateForCool` , `SupplyMassFlowRateForDehum`, and `SupplyMassFlowRateForHumid` should be set to zero. How about adding that check [here](https://github.com/NREL/EnergyPlus/blob/7f35ab639d5a75b6e090a0db19ec83c3f0199025/src/EnergyPlus/PurchasedAirManager.cc#L2247) af

[2020-12-09 03:04] MatthewSteen commented on #8277
__Input Output Reference - WindowShadingControl__

- [x] [Field: Shading Control Type](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-thermal-zone-description-geometry.tex#L4178) is missing the description for the following control types.

* OnIfHighZoneAirTempAndHighSolarOnWindow
* OnIfHighZoneAirTempAndHighHorizontalSolar

- [x] [Field: Setpoint 2](

[2020-12-10 10:23] sekaina opened #8418 "building project "energyplusapi.vcxproj" -- FAILED"
I'm trying to build EnergyPlus in visual studio. I've followed all the steps in Wiki but building project "energyplusapi.vcxproj" -- FAILED and I get this error :

I'm beginner that's why I don't know how to deal with this issue.
Can anyone help me ?
Thank you !

[2020-12-10 12:12] jmarrec commented on #8418
@sekaina In your Cmake configuration, is `LINK_WITH_PYTHON=OFF`? There was a recent problem on develop, where building with `LINK_WITH_PYTHON=OFF` wasn't working, perhaps that's it.

Note: https://unmethours.com/question/49595/building-project-energyplusapivcxproj-failed/

[2020-12-10 13:56] #8392 closed, assigned to jmarrec

[2020-12-10 19:32] sekaina commented on #8418
Thank you for your help ! That's exactly what I've missed.

[2020-12-10 20:21] #8418 closed, assigned to nobody

[2020-12-11 01:19] #8372 closed, assigned to jmarrec

[2020-12-11 01:26] #8312 closed, assigned to jmarrec

[2020-12-11 01:27] #5248 closed, assigned to jmarrec

[2020-12-11 01:30] mjwitte opened #8419 "RoomAir:Node:AirflowNetwork:HVACEquipment does not work with air terminal units"
Issue overview
--------------
When RoomAir:Node:AirflowNetwork:HVACEquipment is used with an air terminal unit, such as AirTerminal:SingleDuct:ConstantVolume:NoReheat, the simulation fails with a fatal error.
[code]

The room air model is checking if every item on the ZoneHVAC:EquipmentList has a corresponding RoomAir:Node:AirflowNetwork:HVACEquipment object, but air terminal units do not appear d

[2020-12-11 05:57] jmarrec commented on #8418
@sekaina you're welcome. And you didn't "miss" anything, it should have worked with link with python set to off.

Could you tell me which commit you are building please? I think that @mitchute should have fixed that problem in https://github.com/NREL/EnergyPlus/pull/8378

[2020-12-11 08:15] sekaina commented on #8418
I'm not sure I understood your question correctly (I'm new to programming and github). I intend to make modifications in the source code of energyplus so that it can take into account fractions in window shading control (instead of shades being either fully open or fully closed). So, first I build the original code to make sure that all is well and then I will see how to make modifications. Do you

[2020-12-11 15:16] jmarrec commented on #8418
My question is which commit did you check out. I aim to check whether #8378 was already pulled inside develop or not, since it should have fixed the issue you encountered. At the root of the energyplus repo, can you type this?

[code]

If you are using a git GUI client (Github for Desktop, Sourcetree, Gitkraken) you can also find the same information easily.

[2020-12-11 17:10] #6435 closed, assigned to jmarrec

[2020-12-11 18:08] #6050 closed, assigned to jmarrec

[2020-12-11 18:42] sekaina commented on #8418
Sorry but I didn't download it as a repository ( I've downloaded the code in ZIP format). Is there another way to check which commit ?

[2020-12-11 20:16] matthew-larson opened #8420 "Zone Hybrid Unitary HVAC Runtime Fraction doesn't initialize to 0 for operating settings when switching to standby mode"
Issue overview
--------------
When using the ZoneHVAC:HybridUnitaryHVAC object, if the system goes from running in a mode other than standby mode and then switches to standby mode in the next timestep, the Zone Hybrid Unitary HVAC Runtime Fraction output variable for the other settings repeats the last timestep value until the setting is used again.  It appears that the operating settings are init

[2020-12-12 09:51] jmarrec commented on #8418
Where did you get the zip, and did you acquire the code more than 12 days ago?

[2020-12-12 12:55] #8268 closed, assigned to jmarrec

[2020-12-12 13:21] #8344 closed, assigned to rraustad

[2020-12-12 13:23] #8328 closed, assigned to jmarrec

[2020-12-13 14:29] sekaina commented on #8418
I've got the code from github (branch develop) more than a month ago

[2020-12-14 12:17] jmarrec commented on #8418
ok thank you, that explains why you hit the issue that has been fixed since then. (I would recommend you use git to clone the repo and start off the latest code)

[2020-12-14 17:02] sekaina commented on #8418
Ok thank you very much !

[2020-12-15 09:35] jeannieboef opened #8424 "Error Message when an Outdoor Air Reset Manager second reset rule Schedule returns a value other than 1 or 2"
Issue overview
--------------
Please have the program issue a Fatal with message when the Outdoor Air Reset Manager second reset rule Schedule returns a value other than 1 or 2. Only the values 1 or 2 are allowed.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - EnergyPlus 8.9
 - Unmethours link or helpdesk ticket number

### Checklist
A

[2020-12-15 19:00] mjwitte commented on #7808
@Myoldmopar @mitchute So, the changes we discussed this morning were done in https://github.com/NREL/EnergyPlus/commit/8cc27ebbcaaade6c3561550461ab7bd0ebe8062c but somewhere along the way they got stomped on?

[2020-12-15 19:08] mitchute commented on #7808
Oh fun...

https://github.com/NREL/EnergyPlus/blame/f3c53608b34bb46659b7099ce3d6373db597dcbb/src/EnergyPlus/IOFiles.cc

Copy-paste mistake probably...

[2020-12-15 19:10] mitchute commented on #7808
Actually... IDK what happened. It's my fault either way.

[2020-12-17 13:28] souliane opened #8428 "ExpandObjects.exe ignores Energy+.ini and just want the IDD to be copied in the working directory"
Issue overview
--------------
I added Energy+ installation directory to my path environment variable because I want to run ExpandObjects.exe from another directory, where my in.idf file is. ExpandObjects.exe complains about Energy+.ini bad configuration...

`Cannot find Energy+.idd as specified in Energy+.ini.`

... but seems to actually ignore it. I tried several things to configure the Energy+.i

[2020-12-18 13:57] Myoldmopar opened #8430 "FileSystem unit test fails spuriously"
Happens just every once in a while.

https://github.com/NREL/EnergyPlus/pull/8427#commitcomment-45234748

![image](https://user-images.githubusercontent.com/849824/102622438-a0e67880-4106-11eb-9614-f2c6bf1998df.png)

It's not reproducible, and our maintenance of file system operations could be eliminated by moving to the standard C++ file system library.

[2020-12-19 21:42] chelydrae opened #8433 "ERROR: Could not find ExpandObjects executable:"
Issue overview
--------------
Dear all,
Im trying to run the following script in Python:
[code]
python throws an error saying that:

ERROR: Could not find ExpandObjects executable: /Users/muellerp/opt/anaconda3/envs/barbarossa/bin/ExpandObjects.

I looked up in the source code of Energyplus and found out that the function _NSGetExecutablePath is used to get the executable path which is a MacOS-spe

[2020-12-19 22:04] Myoldmopar commented on #8433
I'm so glad you are experimenting with the new API!  Looks like you have a great start.

As you suspected, this is a known limitation where the executable is assumed to be the EnergyPlus install directory, but it resolves to the Python executable.

Easy workaround though, don't rely on EnergyPlus to call ExpandObjects.  Just run ExpandObjects ahead of the call to run EnergyPlus.  Here's a basic sc

[2020-12-24 02:19] #8365 closed, assigned to matthew-larson

[2020-12-29 20:34] paul-caicedo opened #8440 "Outdoor swimming pool object"
Issue overview
--------------
EnergyPlus has the indoor swimming pool object, but does not have an outdoor one. The object is necessary to account for the whole energy consumption in a building (internal plus external loads).

It would be necessary to account some variables like the wind speed, outdoor temperature, solar gain, among others to calculate all the losses.

[2020-12-30 01:15] lymereJ opened #8441 "epJSON input file generated by converting an IDF triggers fatal simulation errors"
Issue overview
--------------
Running simulations for input files in the epJSON format that have been generated by converting IDF files can lead to fatal errors. The reason appears to be that fields that have a default value in EnergyPlus, and that are not explicitly specified in the IDF file used as the basis for the conversion to the epJSON format, are not present in the converted epJSON file.

[2021-01-01 12:16] jeannieboef opened #8444 "Lowtemperatureradiant Autosizing Hydronic Tubing Length issue"
Issue overview
--------------
Hi Team, I'm finding the autosizing routine for the cooling case for LowTemperatureRadiant objects drastically under estimate the total hydronic tubing length.

So for example, I have an active field (subsurface) with the imbedded piping that is 9.6x19.51 m. I defined a circuit length in the input definition of 95.45 m. The pipe diam. is defined with 18 mm at a spacin

[2021-01-03 23:33] jasondegraw opened #8446 "License checking does not check Python code"
Issue overview
--------------
The current license checking script does not check Python code (nothing outside of C/C++ is checked). As more Python is added, we should fix that. Some of the scripts live in the source tree now, so those will get found. What other locations should we add to the search? The entire scripts directory? Is there anything that should be skipped?

### Details
This is a dev/

[2021-01-04 12:11] mjwitte commented on #8444
@jeannieboef Add ".txt" to the filename, and then you can drag it into a comment to upload (or copy/paste). e.g. testfile.idf.txt

[2021-01-04 15:35] Myoldmopar commented on #8446
In the cmake root directory there are a couple Python worker scripts.  They are just used in the build process and not anything we distribute.  Is that something we also want to license?  I only ask because if so, should we also add the license checking to all the CMake rules?

[2021-01-04 21:22] jasondegraw commented on #8446
@Myoldmopar I don't think I've ever seen build files with copyright info in them, which probably doesn't mean all that much as it wouldn't have been why I was looking at the file. I guess I'd say "no" for CMake rules but "yes" for Python, but that's really only a personal preference. Probably needs to be an NREL call.

Most of the `scripts` directory makes sense, I guess `workflows` as well, let m

[2021-01-05 13:00] jeannieboef commented on #8444
[testfiles.zip.txt](https://github.com/NREL/EnergyPlus/files/5770224/testfiles.zip.txt)

Hi Team, I think this zipped testfile package is uploaded, as Mike suggested. I've included my excel table that only I understand, but anyone can roughly work out how much pipe can fit in the active area, so it should illustrate the issue.

I'd love to look at the bit of source code that does the sizing calcul

[2021-01-05 15:38] mjwitte commented on #8444
Sizing calculations for ZoneHVAC:LowTemperatureRadiant:VariableFlow begin [here](https://github.com/NREL/EnergyPlus/blob/d48c555a343108d1db22c4e645e6269a6c0a2672/src/EnergyPlus/LowTempRadiantSystem.cc#L2567) in `LowTemperatureRadiant.cc::SizeLowTempRadiantSystem`. `TubeLengthDes` is set [here](https://github.com/NREL/EnergyPlus/blob/d48c555a343108d1db22c4e645e6269a6c0a2672/src/EnergyPlus/LowTempRa

[2021-01-05 16:52] jeannieboef commented on #8444
Okay, the way I read it, the total tube length is calculated per embedded surface.

So in [sizeRadiantSystemTubeLength](https://github.com/NREL/EnergyPlus/blob/d48c555a343108d1db22c4e645e6269a6c0a2672/src/EnergyPlus/LowTempRadiantSystem.cc#L3155-L3184)

This line (where the spacing is outside of limits) is an okay approximation:
else { // if not in allowable limit, default back to 0.15m (15cm or 6

[2021-01-05 19:44] RKStrand commented on #8444
@jeannieboef I think the biggest issue here is that it is still unclear what specifically the parameter in Construction:InternalSource is measuring.  Is it the actual distance between the adjacent pipes or the "half-distance" which is used for the 2-dimensional solution space?  This needs to be clarified with code comments/changes and documentation updates.  It relates to the factor of 2 that you

[2021-01-05 22:26] jcyuan2020 commented on #8444
@RKStrand I had actually checked the section of area/(2*thisHydrSpacing) thing a few months ago and it was turned out that it is not the root cause here. The value thisHydrSpacing was the tubing distance divided by 2, which was done immediately after taking the Construction:InternalSource tube spacing input. A test unit existed to tested this sizing routing and it got the expected answer. Just FYI

[2021-01-06 06:05] jeannieboef commented on #8444
I just tested with some interesting results. Turns out I was using 1D internal source, so that is what you'll need to check up. With 2D, including the spacing input, the correct length is calculated when I input 0.150 m as the spacing (within limits) and when I input 0.005 m spacing (without limits). So we'll want to check what is happening for the 1D case.

[2021-01-06 06:16] jeannieboef commented on #8444
Okay, I just checked my old idfs for the 1D case. Turns out DesignBuilder was silently entering a value of 0.3 m Tube spacing for that field because it was in a invisible input dialogue before I turned on the 2D method.

However, as per the IOref, that field should be getting ignored. I had assumed a default 0.15 m would be getting used for the calcs but now I can't find where the default value is

[2021-01-06 14:00] jeannieboef opened #8449 "Air-Source Heat Pumps (reqested since 2019) is:NewFeatureRequest"
Issue overview
--------------
So the Fluid Cooler can only cool. Amazing. I assumed it was a heat exchanger that could do both. I was wrong. The  ground source heat exchanger is really the only realistic option for a reversible heat pump? That’s pretty disappointing considering that air to water heat pumps for heating are by far the most popular method of building compliance to the energy code in

[2021-01-06 14:41] Myoldmopar commented on #8449
Have you tried the `HeatPump:PlantLoop:EIR:Heating (and Cooling)`?  They provide air source water [heating](https://github.com/NREL/EnergyPlus/blob/637ea911c08986d9ffe0df06e7140b819888ed02/testfiles/PlantLoopHeatPump_EIR_AirSource.idf#L261-L276) and [cooling](https://github.com/NREL/EnergyPlus/blob/637ea911c08986d9ffe0df06e7140b819888ed02/testfiles/PlantLoopHeatPump_EIR_AirSource.idf#L420-L435).

[2021-01-06 15:52] jeannieboef commented on #8449
No I have not. Thanks.

[2021-01-06 15:52] #8449 closed, assigned to nobody

[2021-01-07 20:02] jcyuan2020 opened #8451 "Stratified water heat autosize options causing program crashes"
Issue overview
--------------
The EnergyPlus program may crash when the stratified water heat tank inputs are set to autosizing some input parameters such as tank size and height. The issue can be demonstrated by the attached .idf file which is slightly modified from the example file 5ZoneWaterSystems.idf: in the file a stratified water heater replaces the original mixed water heat in the example

[2021-01-07 20:51] mitchute opened #8452 "Scheduled TES SetPointManager OpMode flags do not match OpMode flags in PlantCondLoopOperation"
Issue overview
--------------
While working on more global state refactoring, I was moving the OpMode ```int const``` flags to an ```enum class```.

https://github.com/NREL/EnergyPlus/blob/637ea911c08986d9ffe0df06e7140b819888ed02/src/EnergyPlus/PlantCondLoopOperation.cc#L113-L115

In doing so, I discovered that they were being compared against similar ```int const``` flags in SetPointManager.

htt

[2021-01-08 13:20] RKStrand commented on #8444
Interesting.  Thanks for the additional information, @jeannieboef.  It will help diagnose what is going on.  Once I've had a chance to look into this, I will post here again with my recommended solution to this issue.

[2021-01-08 17:37] jcyuan2020 opened #8455 "UtilityCost:Variable type list error and mismatch"
Issue overview
--------------
UtilityCost:Variable have listed type "Power" (among "Energy", "Power", "Dimensionless", and "Currency") in the Energy+.idd file; however, in the source code it accepts "Demand" rather than "Power". The I/O references list the option as "Demand" (among "Energy", "Demand", "Currency", and "Dimensionless").

This mismatch will cause a JSON schema rejection when inputtin

[2021-01-08 20:52] jmythms opened #8458 "Requesting louder error from idd_parser.py for min fields > num_fields"
Issue overview
--------------

I made an IDF with min fields > num_fields, It generated this error:
`RuntimeError: Object with min-fields > num_fields.` that was hidden in the rest of the generated text. But the build continued and it was really hard to figure out what was going wrong.

Suggestion would be to break the build here.

### Details
Some additional details for this issue (if relevant):

[2021-01-10 11:24] JoelStienlet opened #8459 "Build error due to duplicate symbols in BCVTB utilXml"
Hello all,

I've tried to compile EnergyPlus on fedora 33, gcc version: 10.2.1 20201125, and got a linking error at the very end of the process: the linker found some duplicate symbols.
After investigation, I found that these symbols come from global variables declared in utilXml.h. This header file is then included in multiple .c files. Even if the variable is not used in the .c, the compiler sti

[2021-01-11 17:31] jmythms opened #8462 "Check should point to 'Cooling Design Capacity Per Floor Area' instead of 'Heating Control Throttling Range'."
Issue overview
--------------

https://github.com/NREL/EnergyPlus/blob/6163e5b3936402b6de5ab05403cfd1696e85b5f9/src/EnergyPlus/LowTempRadiantSystem.cc#L701

Based on the logic in the lines before and after this line, this line should check if 'Cooling Design Capacity Per Floor Area' (`Numbers(11)`) is not blank instead of 'Heating Control Throttling Range' (`Numbers(9)`).

Therefore, it should be

[2021-01-11 20:43] EnergyArchmage commented on #8313
Perhaps this could be resolved by adding a new user input to control desired behavior.  A modeler doing a simulation of more than one year could very well want the interpolation changed to what is suggested here.  While usual EnergyPlus practice of repeating first day as warm up would be better off with current practice I believe.  Adding an input switch could allow both options.

I forget if the

[2021-01-12 15:49] Myoldmopar commented on #8446
Concur, no for CMake rules and macros, but yes for Python.

[2021-01-13 07:53] DavideLiviero opened #8465 "Solar Collector efficiency"
Issue overview
--------------
Using EnergyPlus 8.4 and Design Builder v4.7 I continuously received warnings about the temperature of the fluid in the solar circuit being too high (more details [here).](https://unmethours.com/question/50598/solar-collector-temperature-out-of-range/)

Workaround
-------------
Change the efficiency equation coefficients in order to have a lower efficiency and a lower

[2021-01-14 14:03] zbb2022hust opened #8467 "problem when add FaultModel:Fouling:EvaporativeCooler"
Issue overview
--------------
I'm adding fault model, the foul in Evaporative Cooler. But when I selected the chiller, the severe reminded me that the Evaporative Cooler Object Name of this chiller can not be found. I checked the InputOutputreference but can't find detailed description of this fault. I wonder know whether the wetted coil evaporative cooler is.

### Details

error:

[code]

![Snipa

[2021-01-14 14:04] zbb2022hust commented on #8467
![Snipaste_2021-01-14_22-04-41](https://user-images.githubusercontent.com/61374634/104600862-83c8a980-56b4-11eb-981a-d7718d6c652e.jpg)

[2021-01-14 21:14] JasonGlazer opened #8468 "IDF Editor Mishandles Unit Conversion of Blank Field with Enthalpy Units"
Issue overview
--------------
The Controller:OutdoorAir field "Economizer Maximum Enthalpy" when made blank from previously holding a number and when the units are in IP, puts a number in that field rather than a blank when the file is saved.

To reproduce in IDF Editor, open a file with Controller:OutdoorAir object (like 5ZoneAirCooled), change to viewing in IP units and enter a number in that fi

[2021-01-14 22:58] shorowit commented on #8277
- [x] EMS actuators are missing from the EMS Application Guide. Specifically I noticed [these four surface actuators](https://github.com/NREL/EnergyPlus/blob/a9778bafea2ee3e92c6671144fa08d1394f11099/src/EnergyPlus/EMSManager.cc#L2166-L2191) missing, though it might be worth auditing all of the EMS actuators, sensors, and internal variables in the source code to make sure they are documented.
The o

[2021-01-14 23:15] shorowit commented on #8277
- [x] The [documentation for Output:EnergyManagementSystem](https://bigladdersoftware.com/epx/docs/9-4/input-output-reference/input-for-output.html#outputenergymanagementsystem) has references to "NotByUniqueNames", but it should be "NotByUniqueKeyNames" according to the IDD.

[2021-01-15 21:28] RKStrand opened #8472 "Missing Step in Conduction Transfer Function Calculation"
Issue overview
--------------
During a review of the EnergyPlus code that uses the state space method to calculate the conduction transfer functions, a user noticed that one of the steps did not match the relevant procedure as outlined in the doctoral dissertation of John Seem upon which the procedure is based.  In Seem's dissertation, on page 128, there is a four step procedure for calculating th

[2021-01-16 15:40] EnergyArchmage opened #8473 "Outside Energy Sources Apply Plant Loop Limits Regardless of Heating or Cooling"
Issue overview
--------------
User file had District Heating and District Cooling in series on a mixed water loop serving WSHP.  Found that whichever object went first, it would do all the controlling, with DistrictCooling doing lots of heating or DistrictHeating doing lots of cooling.  Ran it down to where they share the same code, here:

https://github.com/NREL/EnergyPlus/blob/develop/src/Energy

[2021-01-19 16:09] shorowit commented on #7759
Yahoo Groups officially shut down on December 15.

[2021-01-19 16:18] jcyuan2020 commented on #8277
- [x] Section 1.41.21.1.6, Page 1823 of I/O Reference (v9.4):  for the Coil:Heating:DX:SingleSpeed, the field name ``Rated Evaporator Fan Power Per Volume Flow Rate`` should consider using a better name, as for the heating coil, theoretically it should be referring to the "condenser" fan.
![image](https://user-images.githubusercontent.com/64040111/105060321-dd76fe00-5a3d-11eb-8fe4-848e561d739a.png

[2021-01-19 17:53] mjwitte opened #8475 "Separate Infiltration from Natural Ventilation Flows for AirflowNetwork"
Issue overview
--------------
#7977 requested that AirflowNetwork variables be separated for infiltration and natural ventilation.
#8018 did this for many of the AirflowNetwork output variables, but not for the flow variables:

AFN Zone Infiltration Volume `AirflowNetworkZnRpt(i).InfilVolume`
AFN Zone Infiltration Mass `AirflowNetworkZnRpt(i).InfilMass`
AFN Zone Infiltration Air Change Rate `Airfl

[2021-01-19 18:27] Myoldmopar commented on #8455
Neither the idd nor the schema file are read at runtime.  The schema is embedded into the EnergyPlus binary so a user cannot modify either idd or schema and expect any effect.

But in any case, the fix over in #8456 looks like a suitable fix for the next release.

[2021-01-19 18:44] shorowit commented on #8277
- [x] Remove references in the documentation to updating the IDD. As [stated here](https://github.com/NREL/EnergyPlus/issues/8455#issuecomment-763034918), "Neither the idd nor the schema file are read at runtime. The schema is embedded into the EnergyPlus binary so a user cannot modify either idd or schema and expect any effect.". Here are a couple examples ([one](https://bigladdersoftware.com/epx

[2021-01-19 22:35] shorowit opened #8476 "EMS actuator for View Factor to Ground"
Issue overview
--------------
The [Engineering documentation for the Shading Module states](https://bigladdersoftware.com/epx/docs/9-4/engineering-reference/shading-module.html#solar-gains-000), "Shading of ground diffuse solar radiation is not calculated by the program. It is up to the user to estimate the effect of this shading and modify the input value of Fsg accordingly."

As noted [here](htt

[2021-01-19 22:39] shorowit commented on #8476
@bpark1327 is working on this.

[2021-01-20 05:55] #8082 closed, assigned to nobody

[2021-01-20 13:38] jmarrec opened #8478 "Chiller:Indirect:Absorption appears to ignore capacity available on the Generator loop"
Issue overview
--------------

When the Generator loop isn't capable of meeting the demand of a Chiller:Indirect:Absorption, you would expect the chiller to be aware of that. Yet, in that case I observe a large discrepancy between the `Chiller Source Steam/Hot Water Rate` and what the heat generator is producing;

I've observed this on a real-world model where the generator loop was served by hot

[2021-01-20 21:14] mjwitte commented on #8476
@shorowit Actually, when the Solar Distribution option include "WithReflections", the ground diffuse does include shading effects. See I/O Reference. This is still a useful actuator for other reasons, but I had forgotten about WithReflections. The engineering reference might need an update to note that.

[2021-01-20 22:00] shorowit commented on #8476
Good point, @mjwitte.

[2021-01-26 10:39] antoine-galataud opened #8481 "[pyenergyplus] exception propagation from EnergyPlus to python api"
Issue overview
--------------
EnergyPlus exceptions that occur during simulation aren't propagated to python api, and it's still necessary to look into/parse eplusout.err. This defeats a bit the purpose of inversion of control in library mode. Would it be possible to propagate them?

### Details

 - Platform: Ubuntu 20.04 LTS
 - Version of EnergyPlus: v9.4.0

### Checklist
Add to this list or remo

[2021-01-26 10:39] antoine-galataud opened #8482 "[pyenergyplus] allow running EnergyPlus from arbitrary location"
Issue overview
--------------

When `api.runtime.run_energyplus()` is called, the expected location of the caller script is the EnergyPlus installation directory. If you consider a complex python app with many modules, or a distributed application where more than 1 python process runs EnergyPlus, it would be much easier to either leave everything in its place or copy relevant EnergyPlus binaries a

[2021-01-26 10:39] antoine-galataud opened #8483 "[pyenergyplus] system exit called when energyplus can't run"
Issue overview
--------------

When invalid arguments prevent EnergyPlus binary from running, system exit (1) is called and api caller program is interrupted.

Example:

[code]

Output is:

[code]

then script exists with code 1. Last print statement isn't executed.

In library mode, the caller program should be responsible for calling system exit.

### Details
 - Platform: Ubuntu 20.04 LTS
 - Ver

[2021-01-26 10:40] antoine-galataud opened #8484 "[pyenergyplus] EnergyPlus output not flushed to eplusout.err"
Issue overview
--------------
When error occurs early, eplusout.err doesn't get populated as it would be when called directly from command line.

Example:

[code]

After run, `eplusout.err` is present in `/tmp/output` but is empty.

Now if you run this from command line:

[code]

You get expected output in `eplusout.err`:

[code]

This seems to be a buffer flushing issue, since if simulation runs

[2021-01-26 14:01] Myoldmopar commented on #8482
@antoine-galataud thanks for your usage of the new API!  I don't actually expect the API calling script to have to live in the EnergyPlus install.  My expectation is that the user will simply ensure that the `pyenergyplus` package can be found in Python's search path.  I usually do this by injecting the preferred EnergyPlus install directory into path prior to importing `pyenergyplus`.  This way I

[2021-01-26 15:44] antoine-galataud commented on #8482
@Myoldmopar thanks for your answer. I had found this trick in other issues, I should have mentioned it. This partially solves my problem, however on a more complex app structure with parallel runs of EnergyPlus, I need to run each of them from a separate location. Using `sys.path` to do this will be hard to manage. But I totally understand that it's an edge scenario.

From a general perspective, I

[2021-01-26 22:23] fishbaugher opened #8485 "IDFVersionUpdater for Mac needs to be updated"
<img width="426" alt="Screen Shot 2021-01-26 at 2 20 46 PM" src="https://user-images.githubusercontent.com/479175/105913556-e0479500-5fe1-11eb-8d22-3653712560c0.png">

<img width="271" alt="Screen Shot 2021-01-26 at 2 21 04 PM" src="https://user-images.githubusercontent.com/479175/105913566-e3428580-5fe1-11eb-98ef-9f6b6eaf4fc3.png">

[code]

[2021-01-28 12:32] alessandrogITA opened #8486 "LEED Summary Equivalent Full Load Hour"
EFLH in LEED Summary EnergyPlus report do not take into account for Holidays used in simulation run.
--------------
Therefore data reported in this summary are not useful as they cannot be placed in  Schedules tab in LEED Minimunm Energy Performance Calculator (MEPC)

[2021-01-28 15:05] alessandrogITA opened #8487 "LEED Summary EAp2-17a, Energy Use Intensity - Electricity ---Miscellaneous (All)"
Incorrect value reporting
--------------
In "Miscellaneous (All)" field, it is reported the "Subtotal" value.
Instead "EAp2-18, End Use Percentage" table is correct.
It shoul be provided consistency with table EAp2-18. Please see attached image and post-process XLS file
Ag
![Miscellaneous (All) err](https://user-images.githubusercontent.com/78151633/106157142-afeb2c80-6182-11eb-8dc5-000da1894177.p

[2021-01-28 22:22] jcyuan2020 opened #8488 "Wind speed clarification for HybridVentilation (and AirflowNetwork) model"
Issue overview
--------------
In the AirflowNetwork model, for hybrid ventilation availability manager, there is an input for the max wind velocity. There is some ambiguity here in that normally users would think it is the wind speed in the weather file. However, in the current EnergyPlus implementation, it is actually referring to the “Zone” wind speed, which is calculated at Zone height.

Since

[2021-01-29 05:13] lymereJ opened #8489 "High default value for defrost EIR modifier curve evaluation"
Issue overview
--------------
It appears that for most (if not all) DX heating coils a minimum value of 15.555 deg. C is used for both the coil entering air wet bulb and outdoor air dry bulb temperature when evaluating the user specified curve, see an example [here](https://github.com/NREL/EnergyPlus/blob/40101eaafd1525ee63406264ae9535f25acf4805/src/EnergyPlus/DXCoils.cc#L11345) (link is for Energ

[2021-01-29 08:26] jmarrec opened #8490 "Generator:WindTurbine is missing terms related to C3 and C4 since the C++ conversion"
Issue overview
--------------

We're wrapping the object in the OpenStudio SDK.
I went to look for the equation in the source code, and it seems I discovered a bug...

During the refactor to C++ it seems that the terms of the equation corresponding to `C3` and `C4` have been omitted:

https://github.com/NREL/EnergyPlus/blob/d6cf92a2a7dc8ca3489d39792c4315f6f3bea957/src/EnergyPlus/WindTurbine.cc#L90

[2021-01-29 08:29] jmarrec commented on #8490
Blaming it, it seems it was perhaps done on purpose: https://github.com/NREL/EnergyPlus/commit/39c4f4b442a87415302661c230c6cd2f4d939024#diff-84854260b17a7faf4f2b6412a950cb5835e1dd62145bd7f2d78c2e3f3a00b3f6R855

`Tuned PitchAngle is zero`. Begs the question of why we ask for a `C3` and `C4` coefficient if unused though.

[2021-01-29 15:39] jmarrec commented on #8485
Perhaps time to replace with an alternative, like https://github.com/Myoldmopar/IDFVersionUpdater2

This shares the same root cause as https://github.com/NREL/EnergyPlus/issues/7324

[2021-01-29 17:23] eringold commented on #8277
- [x] Engineering Reference references old 'Fan:Simple' objects in 16.7 Variable Refrigerant Flow Heat Pumps:
 https://github.com/NREL/EnergyPlus/blob/33aabb828e046ed1344b4dc8daee64d27737d888/doc/engineering-reference/src/simulation-models-encyclopedic-reference-002/variable-refrigerant-flow-heat-pumps.tex#L48

[2021-01-29 18:57] mitchute opened #8492 "Unfinished FuelCellElectricGenerator Unit Test"
Issue overview
--------------
The FuelCellElectricGenerator unit test is unfinished.

https://github.com/NREL/EnergyPlus/blob/18f1ce3d49ae10de396d35cb18ceb0735c93e9c8/tst/EnergyPlus/unit/FuelCellElectricGenerator.unit.cc

Someone should flesh this out so that it at least processes the input.

### Details

Some additional details for this issue (if relevant):
 - Platform (Operating system, version)

[2021-01-29 23:09] jcyuan2020 opened #8494 "EMS supply temperature overide bug for Ideal Loads (Purchased Air) Air System"
Issue overview
--------------
In ZoneHVAC:IdealLoadsAirSystem, when the supply air temperature was overridden by EMS inputs, the `SupplyEnthalpy` variable needs to be updated early enough (better immediately after the `SupplyTemp` and `SupplyHumRat` are updated), or at least before the next use of `SupplyEnthalpy`.
https://github.com/NREL/EnergyPlus/blob/ce501834287fc66d760650c5369dcfd0672bf3fd/sr

[2021-02-01 13:31] antoine-galataud opened #8496 "EP-Compare can't start (Linux)"
Issue overview
--------------

Found 2 problems with `EP-Compare` tool bundled in EnergyPlus installation:

1. It is looking for file `GraphHints.csv` at start-up, which isn't packaged for `UNIX` systems (but is with Mac/Win). See:
https://github.com/NREL/EnergyPlus/blob/879a06490110ad93d32b358c08f76658fe2f38d4/cmake/Install.cmake#L543-L554
2. (low severity) `EP-Compare` binary is linked with 32bi

[2021-02-01 14:21] Nigusse opened #8497 "Report variable Zone Air Mass Balance Supply Mass Flow Rate is always zero"
Issue overview
--------------
Testing a user file shows that "Zone Air Mass Balance Supply Mass Flow Rate" report variable is always zero when the zone supply air inlet node has flow. The value of this variable is always expected to match the zone supply air inlet node air mass flow rate.

### Details
Some additional details for this issue (if relevant):
 - Platform: WIN10
 - Version of EnergyPlus

[2021-02-01 17:26] #8420 closed, assigned to matthew-larson

[2021-02-01 23:01] Myoldmopar opened #8500 "Layer Naming Inconsistency"
Issue overview
--------------

Weird IDD naming going on.  Simple to fix.  @lefticus identified it.

[code]

It was actually just called Material Name for each layer in 28543efbadd8c3f3ea213a70c8f16bbe0be61c20 (2/13/13).  By 12/19/13 (d9f60ba4735f7059cdf6e7373eba6bb9e30a8c98) it had the name altered.  It actually looks like it was sometime around the July 2013 timeframe when it broke.  OK, that's

[2021-02-03 13:49] #8476 closed, assigned to bpark1327

[2021-02-03 15:46] tkdogan opened #8502 "Temperature out of range in "PsyTwbFnTdbWPb" routine"
In version EnergyPlusV9-4-0, I am getting the following error for a relatively simple ideal loads simulation that used to run without errors in EnergyPlusV9-0-1. Simulations are run on Win10. Climate is Boston TMY3.

   ** Warning ** Temperature out of range [-100. to 200.] (PsyPsatFnTemp)
   **   ~~~   **  Routine=PsyTwbFnTdbWPb, Environment=CLIMATE STUDIO, at Simulation time=04/08 09:30 - 09:36

[2021-02-03 15:57] mjwitte commented on #8502
@tkdogan Please attach the v9-0-1 file as well. Thanks.

[2021-02-03 18:52] mjwitte commented on #8313
@jcyuan2020 I agree with @EnergyArchmage that the best solution is to add an option. This method has been in place for a long time (since 2012). Looking at the blame history in the archive it was set to hour 1 when the comment was added and then shortly after changed to grab hour 24. Given we don't know the history now, adding an option to use hour 1 should satisfy users who care about this. I hav

[2021-02-03 21:44] tkdogan commented on #8502
@mjwitte - I don't have that handy anymore but if it helps I can recreate it.

[2021-02-04 06:19] lymereJ opened #8503 "Airflow network doesn't allow zonal ERVs and HPWHs connections"
Issue overview
--------------
When modeling an airflow network (AFN), it is currently not possible to connect a zonal ERV (`ZoneHVAC:EnergyRecoveryVentilator`) and/or an HPWH. All HVAC related nodes have to be included in an AFN, however, nodes of these objects cannot be associated to an AFN as they are not part of an air loop.

### Details
Some additional details for this issue (if relevant):
 -

[2021-02-04 06:19] lymereJ opened #8504 "Constant thermal conductivity of dry air below -20 deg. C"
Issue overview
--------------
The thermal conductivity of dry air (used in airflow networks) is currently obtained using a correlation that uses a minimum outdoor air dry bulb temperature of -20 deg. C, below this temperature the conductivity is assumed to be constant. In cold climates, the outdoor air dry bulb is often below -20 deg. C. Sources such as [Kadoya et al.](https://aip.scitation.org/do

[2021-02-04 18:12] mjwitte commented on #8502
The warning occurs during weather data setup when calculating the wet-bulb temperature for dry-bulb=4.1C and humidity ratio = 0.00191... (dewpoint is -9.15)
The wet-bulb function iterates on wet-bulb to find a solution. The -674.16C value shows up during the iterations (not sure why) and the final return for wet-bulb temperature is -0.5416C. This seems like a very dry condition for Boston in April

[2021-02-05 08:40] jmarrec opened #8509 "Duplicate call to InstallRequiredSystemLibraries in Install.cmake"
Issue overview
--------------

https://github.com/NREL/EnergyPlus/blob/18f1ce3d49ae10de396d35cb18ceb0735c93e9c8/cmake/Install.cmake#L240-L246

https://github.com/NREL/EnergyPlus/blob/18f1ce3d49ae10de396d35cb18ceb0735c93e9c8/cmake/Install.cmake#L646-L659

Difference between first and second is that `  SET(CMAKE_INSTALL_UCRT_LIBRARIES TRUE)` is only in the second.

### Details
Some additional detail

[2021-02-05 08:58] jmarrec commented on #8465
@DavideLiviero You mention a "problem with the efficiency equation". it would be helpful to show us what you think is wrong so we're not running around guessing please. A side by side diff of the original equation and the corrected one, with context to back up why your version is correct would go a long way towards fixing any potential bug in a timely fashion. Thanks!

[2021-02-05 15:51] mitchute opened #8512 "Potential bug in CalcDesignSpecificationOutdoorAir related to max OA flow rate"
Issue overview
--------------
 - Issue discovered while refactoring for state. See here: https://github.com/NREL/EnergyPlus/blob/f754bc5c2c5d415789c9b01297c575772833b862/src/EnergyPlus/DataZoneEquipment.cc#L1408-L1414
 - At the very least, this is a duplicated code path that should be eliminated. However, it should be traced back up through the code just to make sure this is not a bug.

### Detail

[2021-02-05 15:51] mitchute commented on #8512
FYI @mjwitte. Posting here so I don't forget about it.

[2021-02-05 15:52] jmarrec opened #8513 "Generator:FuelCell:PowerModule: Constant Skin Loss Rate overriden to zero"
Issue overview
--------------

Found while adding a test in https://github.com/NREL/EnergyPlus/pull/8511

When `Skin Loss Calculation Mode == ConstantRate`, I expect the value of `Constant Skin Loss Rate {W}` to be used, but it's overriden to zero.

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of EnergyPlus (if us

[2021-02-05 16:26] mjwitte commented on #8412
@nmerket FYI. Any insight to offer @jmarrec ?

[2021-02-05 16:26] jmarrec opened #8514 "Generator:FuelCell:PowerModule: Number of Stops at Start of Simulation is ignored"
Issue overview
--------------

Found while adding a test in #8511. NumCycles is zero, even though I entered "10".

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of EnergyPlus (if using an intermediate build, include SHA): 9.4.0+, develop at f754bc5

### Checklist
Add to this list or remove from it as applicable.  T

[2021-02-06 06:26] jcyuan2020 opened #8516 "Fanger thermal comfort calculation misaligned with zone air (and other) temperature values"
Issue overview
--------------
In calculating the Fanger thermal comfort values, such as PMV and PPD in a simulation run, the calculated PMV values look like if it is one time-step behind the corresponding temperature values (such as zone air temperature or zone radiant temperature). This is especially the case when the air temperature in a zone abruptly changes (e.g. when the thermostat setpoint c

[2021-02-08 18:53] JasonGlazer commented on #6694
Also add more than one effective R-value for the heat transfer through the tube given that there will be significantly different temperature profiles when the outdoor temperature is higher or lower than the inside temperature. When higher it will result generally in a stratified tube but when lower, it will result in a well mixed tube due to buoyancy.

[2021-02-09 19:23] #8446 closed, assigned to jasondegraw

[2021-02-09 20:31] #8281 closed, assigned to jmarrec

[2021-02-10 01:11] LipingWang opened #8523 "Issues for idf transition between different EnergyPlus versions"
Issue overview
--------------

After updating an input data file (.idf) from v9.1 to v9.4, the object "AirTerminal:SingleDuct:Uncontrolled" was converted to the object "AirTerminal:SingleDuect:ConstantVolume:NoReheat." However, for the object "EnergyManagementSystem:Actuator" in EMS, the field "Actuated Component Type" AirTerminal:SingleDuct:Uncontrolled" stayed unchanged after updates. It seems t

[2021-02-10 08:24] jmarrec opened #8524 "CPack packages missing the vast majority of files"
Issue overview
--------------

A regression happened somewhere between 9.4.0 and now, and we now have cpack packages missing almost all files. Notice that they are somewhere about 10 MB.

![image](https://user-images.githubusercontent.com/5479063/107483504-77cfea80-6b81-11eb-914b-5afaf5fecf61.png)

If you download a tar.gz package, it contains only this this:

[code]

I can reproduce the problem l

[2021-02-10 13:42] jmarrec commented on #8459
@JoelStienlet did you open a PR with your changes? I missed this issue but bumped into the problem myself after trying to build with gcc 10 (which unlike gcc < 10 defaults to `-fno-common`), so I proposed a fix in #8522

[2021-02-10 13:49] #8459 closed, assigned to jmarrec

[2021-02-10 13:54] JoelStienlet commented on #8459
Hello @jmarrec , no I didn't open a PR. Thank you for the fix!

[2021-02-10 22:06] xuanluo113 opened #8526 "TDD diffuser and dome inside and outside surface heat balance calculations not consistent with EngRef"
Issue overview
--------------
According to the Engineering Reference,

However, in EnergyPlus inside and outside surface heat balance calculations...

First, the surface outside temperature calculation is [bypassed for TDD surface](https://github.com/NREL/EnergyPlus/blob/687fc3951cac3f4fa8b818dd9e7bdd1a86c6eec8/src/EnergyPlus/HeatBalanceSurfaceManager.cc#L6051) as their `HeatTransferAlgorithm` is

[2021-02-11 10:40] jmarrec opened #8527 "ssc shared library missing"
Issue overview
--------------

Following #7524 , ssc shared library appears to be missing in the installer.

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicab

[2021-02-11 16:58] #8376 closed, assigned to jmarrec

[2021-02-11 16:59] #8524 closed, assigned to jmarrec

[2021-02-11 16:59] #8527 closed, assigned to jmarrec

[2021-02-11 17:41] mjwitte opened #8528 "Outdoor air summary multipliers"
Issue overview
--------------
- [ ] In the old Outdoor Air Summary - the AFN infiltration values are being multiplied when the should not be. See [code here](https://github.com/NREL/EnergyPlus/blob/ce2592345bd889eebaed53a32531dbba0e68c661/src/EnergyPlus/AirflowNetworkBalanceManager.cc#L8512-L8518)
The multipliers were added in #5192, so need to test this with and without multipliers, but it looks

[2021-02-12 03:54] #8284 closed, assigned to nobody

[2021-02-12 16:17] #8509 closed, assigned to jmarrec

[2021-02-12 17:15] RKStrand commented on #8277
- [x] Equation 1.14 on page 186 of the IORef for custom window properties appears to be incorrect.  The equation shown is linear, but the coefficients shown after the equation clearly indicate that there should be a second order term.
<img width="609" alt="image" src="https://user-images.githubusercontent.com/5804989/107799817-8eae4280-6d23-11eb-8db6-d97bdd0b68a7.png">

[2021-02-12 18:48] #8462 closed, assigned to jmythms

[2021-02-12 21:05] #6739 closed, assigned to JasonGlazer

[2021-02-12 21:11] eshadd-noresco opened #8533 "VRF with single indoor+outdoor unit using more fan energy than comparable PTHP"
Issue overview
--------------
We are modeling a multisplit system as a single `AirConditioner:VariableRefrigerantFlow `with a single `ZoneHVAC:TerminalUnit:VariableRefrigerantFlow `per zone and comparing it to a `ZoneHVAC:PackagedTerminalHeatPump `in a 5-story multifamily building.

We are surprised that the PTHP is outperforming the VRF, especially on fan power. The VRF has the same fan static, a

[2021-02-12 22:11] eshadd-noresco opened #8536 "Example File Variable Speed PTHP speed limits exceeded"
Issue overview
--------------
I modified the `PackagedTerminalHeatPumpVSAS.idf` to run a full annual simulation with `USA_CO_Denver-Aurora-Buckley.AFB.724695_TMY3.epw` and `USA_CO_Aurora-Buckley.Field.ANGB.724695_TMY3.ddy ` and it crashes with this error:

`   **  Fatal  ** VS WSHP unit compressor speed calculation failed: speed limits exceeded, for unit=ZONE2PTHP`

I'd seen this error with my oth

[2021-02-12 23:49] #8455 closed, assigned to nobody

[2021-02-13 16:29] RKStrand commented on #8277
- [x] Another issue from window stuff in the IORef.  In the image below, notice that the example uses Material:WindowGlass which is not in the IDD.  The example needs to be fixed--the list of input fields does not match the current list for WindowMaterial:Glazing.
<img width="609" alt="image" src="https://user-images.githubusercontent.com/5804989/107855153-5b80b780-6de6-11eb-8fe6-94beb39d76c9.png"

[2021-02-13 22:17] jcyuan2020 commented on #8277
- [x]  I/O Ref document (v9.4.0) Page 1365:

The `Field: Supply Fan Operating Mode Schedule Name` should be in the same level as Section 1.32.5.4. See the following highlighted and italicized part:
![image](https://user-images.githubusercontent.com/64040111/107863078-ea0d2d00-6e16-11eb-917a-9eecb9ee710d.png)

[2021-02-14 23:48] mjwitte opened #8537 "PMV Improvements Follow-up"
Issue overview
--------------
Some follow-up items related to the PMV improvements in #8405

1. Using the new example file 1ZoneUncontrolled_Win_ASH55_Thermal_Comfort with all of the thermal comfort-related schedules blank, This is the err output:
[code]
Nothing in the errors here indicates that these are required for certain thermal comfort models.
[1ZoneUncontrolled_Win_ASH55_Thermal_Comfort-bla

[2021-02-15 10:40] jmarrec opened #8539 "macOS: Issue with shared dylibs and PythonFixUpOnMac"
Issue overview
--------------

It seems that there's a hiccup with the `libenergyplusapi` and ssc shared `dylib` on mac, and the `PythonFixUpOnMac.cmake`

The build log returns some warning, see details.

It might also be a good idea to make the ssc a static lib instead of a shared one (I've tried simply changing it to be STATIC instead of SHARED in CMakeLists.txt, but it refused to built as stati

[2021-02-16 17:56] santoshphilip opened #8542 "Some IDF object names can break the HTML output file"
**Problem**

- The EnergyPlus objects can have legal names in the following format `Special glass <thickness is 3mm>`
-  Energyplus itself has no problems with such names
- This name turns up in the HTML output file.
    - In the HTML file the part name`<thickness is 3mm>` looks like an HTML tag.
    - The browser tries to make sense of it and fix it so that something can be displayed
    - This r

[2021-02-17 00:54] Nigusse opened #8543 "VS DX cooling coil outlet air condition calculation problem when PLR is zero for CV system"
Issue overview
--------------
A variable speed DX cooling coil in a constant volume system calculates outlet air condition when the compressor part-load-ratio is zero. At low supply air flow rates, the calculated coil outlet temperature can be very low (e.g., -46C) that triggers Psych error message. This is a defect.

### Details
Some additional details for this issue (if relevant):
 - WIN10 (Oper

[2021-02-17 01:02] Nigusse commented on #8543
This issue was observed while addressing issue #8497. Investigation led me to be suspicious about a code section in VS DX Cooling Coil. See the code snippet below and a link [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/VariableSpeedCoils.cc#L5470-L5483).

[code]
The above code section is executed regardless of the compressor PartLoadRatio value. Stepping through the code c

[2021-02-17 12:17] jmarrec commented on #8542
Thanks for the report @santoshphilip. I added the checklist to your original post.

[2021-02-17 15:11] JasonGlazer commented on #8542
The fix should also be included for the XML output file (OutputControl:Table:Style, XML) which I don't think is commonly used but would face the same issue with confused tags.

[2021-02-17 15:15] jmarrec commented on #8542
@JasonGlazer XML is fine already: https://github.com/NREL/EnergyPlus/blob/ea7967b30df81996e58ea9ca0bd4c950d074e88b/src/EnergyPlus/OutputReportTabular.cc#L14276

[2021-02-17 15:21] JasonGlazer commented on #8542
Good. To bad the author of ConvertToEscaped() didn't think of applying it to the HTML file :-)

[2021-02-17 15:50] jmarrec commented on #8542
I'm guessing it was you, but it's been there as far as this repo's git history can go (7+ years), so who knows when it was really added and what HTML looked like then :)

[2021-02-17 16:04] jmarrec commented on #8482
@antoine-galataud where would you find the api method in question if you can't load the api to begin with though?

[2021-02-17 21:02] jmarrec commented on #8483
I find this really annoying too. It kills my jupyter notebook whenever it doesn't work, which defeats the purpose of using a notebook.

[2021-02-17 22:58] nmerket commented on #8412
Good sleuthing @jmarrec. Sorry this took so long for me to see. The "obvious" solution is to run `SetupStratifiedNodes` after sizing. As long as you don't need to call `CalcWaterThermalTankStratified` during sizing, that should be fine. Otherwise we'll have to come up with some sort of iteration.

[2021-02-18 08:44] jmarrec commented on #8481
Does the `callback_error` not suffice @antoine-galataud ? Here's an example (I also added `callback_message` while I'm at it so it is different.)

[code]

[code]

[2021-02-18 08:52] jmarrec commented on #8481
As you can see, the callback_error in combination with callback_message produces the same exact output at the eplusout.err, so I think it fulfill the purpose just fine. I'm closing this one, but happy to reopen if you see something else that is problematic.

[2021-02-18 08:52] #8481 closed, assigned to jmarrec

[2021-02-18 09:30] jmarrec commented on #8482
How about we actually make it a pypi package (similar to what I've done for openstudio)?

I've done a quick test for Ubuntu only, you can try `pip install -i https://test.pypi.org/simple/ pyenergyplus==9.5.0a1`
**The wheel is quite small, just 20MB**, and includes all files required to run energyplus (that is the .py files, the libenergypluslib.so and the new ssc.so), so you're not even required t

[2021-02-18 14:53] jmarrec commented on #8482
A test to run to see if it works..

[code]

Note that I had "LINK_WITH_PYTHON=ON" (just learned I could disable it for this purpose), so the wheel I built is linked to libpython3.8.so and will therefore only work on python 3.8...

[2021-02-18 15:20] #8352 closed, assigned to yzhou601

[2021-02-18 16:39] #6602 closed, assigned to Myoldmopar

[2021-02-18 17:42] #8497 closed, assigned to nobody

[2021-02-18 18:05] yzhou601 opened #8547 "Remove unused Var6 in curve function"
Issue overview
--------------
Var6 is never used in any current type of curve. Remove it from functions can improve runtime performance. See [conversations in PR#8464](https://github.com/NREL/EnergyPlus/pull/8464#issuecomment-781529713) for more details.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an

[2021-02-18 20:10] antoine-galataud commented on #8482
@jmarrec really cool, I also did something similar on my side for testing.

I believe having the python api bundled separately will help in several regards: packaging of an app that relies on it (you still need EnergyPlus code installed somewhere but it doesn't need to happen at the same time, which makes a difference in build pipelines), and testing (essentially mocked, when core isn't available)

[2021-02-18 20:31] #8539 closed, assigned to nobody

[2021-02-19 02:55] #8222 closed, assigned to nobody

[2021-02-19 15:00] #5298 closed, assigned to JasonGlazer

[2021-02-19 15:00] #5846 closed, assigned to lgu1234

[2021-02-19 18:30] mjwitte opened #8550 "Outdoor Air Details Followup"
Issue overview
--------------
Unfinished items from #8529. Most of these were addressed in #8596 unless noted otherwise below.

 - [x] Documentation - Output Details and Examples
 - [x] Populate Times for Outdoor Air Limiting Factors During Occupancy subtable
 - [x] Populate Average Outdoor Air For Each Outdoor Air Limiting Factors During Occupancy subtable
 - [ ] Possibly reorganize new variables

[2021-02-19 18:43] lymereJ opened #8551 "Fix errors generated by newly added test files"
Issue overview
--------------
#8549 added two new test files, however, they produce errors that need to be addressed.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull request will have additional tasks related to reviewing changes th

[2021-02-20 03:20] MatthewSteen commented on #8277
- [x] __EnergyPlus Weather File (EPW) Data Dictionary__
    ...The Design Conditions header record encapsulates matching (using WMO# – World Meteorological Organization Station Number) design conditions for a weather file location. Currently only those design conditions contained in the ASHRAE Handbook of Fundamentals 2009 are contained in the weather files. These conditions can be used as desired

[2021-02-20 17:10] sortiz-hub commented on #8516
Do you think this issue will be included in E+ 9.5.0 release?

Thanks!

[2021-02-20 17:22] mjwitte commented on #8158
Noting stale test branch names here before deleting them.
https://github.com/NREL/EnergyPlus/tree/SolarShadingGPUTest
https://github.com/NREL/EnergyPlus/tree/SolarShadingGPUTest2

[2021-02-22 01:05] Myoldmopar opened #8553 "Fixup Python version string in usage"
Issue overview
--------------
When you run `energyplus --help`, it reports which version of Python it was linked against.  It's working fine, but there is a newline character that makes it look a little funny:
[code]

Simply clean out that newline.  At the same time, we could potentially report out some of the other things we link against (sqlite, kiva, other stuff) if those libraries have functio

[2021-02-22 16:44] jcyuan2020 opened #8554 "Exhaust (and gas fired) absorption chillerheater simulation fatal out on zero condenser flow rate"
Issue overview
--------------
For the exhaust fired absorption chillerheater (ChillerHeater:Absorption:DoubleEffect), when a condenser flow is found to be zero during the simulation (or iteration), the program will report severe error and also throw fatal errors to terminate the simulation. The same issue also occurs on the gas fired absorption chillerheater (ChilerHeat:Absorption:DirectFired).

W

[2021-02-22 17:03] jcyuan2020 opened #8555 "Exhaust or gas fired chillerheater plant loop branch check preventing pumps or other elements to be placed in front of the chillerheater"
Issue overview
--------------
For the exhaust absorption chillerheater (ChillerHeater:Absorption:DoubleEffect), there is a "get design capacities" procedure in the chiller branch simulation, where a “hacky” way is used to determine what operation mode (or branch) which loop (chilled water, heating water, or condensing water) is being simulated for the absorption chillerheater. The same checking co

[2021-02-22 20:44] Nigusse opened #8557 "NFP-Zone Air Mass Flow Balance Improvement Followup"
Issue overview
--------------
This is a follow-up issues to zone air mass flow balance improvement new feature. The following issues needs to be addressed or investigated.
 - Correct broken return node flow schedule multiplier
 - A zone with multiple return air nodes
 - More testing when a zone mixing object serves multiple air loops

### Details
Some additional details for this issue (if relevant

[2021-02-26 08:08] jmarrec opened #8563 "Wrong reference on `ZoneHVAC:LowTemperatureRadiant:ConstantFlow:Design`"
Issue overview
--------------

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA): v9.5.0-IOFreeze
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Def

[2021-02-26 09:52] jmarrec opened #8564 "GetLowTempRadiantSystem fails when you have more a LowTempRadVarFlow AND at least one other type"
Issue overview
--------------

GetLowTempRadiantSystem fails when you have more a LowTempRadVarFlow AND at least one other type

https://github.com/NREL/EnergyPlus/blob/e003a916370b9bc68fa60e39e504bd8b2ae52ca9/src/EnergyPlus/LowTempRadiantSystem.cc#L504-L506

Then BaseNum is reset once again.

https://github.com/NREL/EnergyPlus/blob/e003a916370b9bc68fa60e39e504bd8b2ae52ca9/src/EnergyPlus/LowTempRa

[2021-02-26 11:20] jmarrec opened #8566 "Floating point divide by zero exception in calcSZVAVModel with UnitarySys"
Issue overview
--------------

Floating point divide by zero exception in calcSZVAVModel with UnitarySys. This happens (obviously) in the worst possible test on the OpenStudio-resources: the autosizing test. The goal of this test is to add **ALL HVAC objects that might be autosized** to test the autosize / getAutosizeValue methods. This test is now failing with v9.5.0-IOFreeze

[code]

[code]

min

[2021-02-26 14:36] jmarrec opened #8567 "Total site energy doubled between v9.4.0 and v9.5.0-IOFreeze in file with ZoneMixing"
Issue overview
--------------

This seems like a massive deviation that perhaps should be investigated to make sure there isn't something wrong.

An OpenStudio-resources regression test shows an increase of 178.819% of total site energy in v9.5.0-IOFreeze compared to v9.4.0. This test has a FanZoneExhaust and some ZoneMixing objects

https://github.com/NREL/OpenStudio-resources/blob/develop/model/

[2021-02-26 14:37] mjwitte opened #8568 "IORef Table of Contents Missing on Windows Packages"
Issue overview
--------------
- [x] Rules9-4-0-to-9-5-0.md is missing from the install package. Should be in the \PreProcess\IDFVersionUpdater folder.
- [ ] The I/O Ref table of contents is missing on windows. *Building locally on Windows, the TOC is present with develop at https://github.com/NREL/EnergyPlus/commit/ad0249bc3ec63e73513039d0ac0e18e22d31649d (26 Feb 2021). The TOC is also present whe

[2021-02-26 14:52] #8563 closed, assigned to jmarrec

[2021-02-26 14:52] #8564 closed, assigned to jmarrec

[2021-02-26 20:21] rraustad commented on #8566
No load air volume flow rate never got set when the no load air flow rate method is blank or none.

[2021-02-27 21:42] jcyuan2020 commented on #8516
Yes, the fix is in the plan to be included for the v9.5 release.

[2021-02-27 23:11] LipingWang commented on #8550
1.  In the table for “Total Outdoor Air by Zone,”  "Time Above Zero When Unoccupied (hrs)" for total Facility was zero while this value for the thermal zones are non-zero.

2. Please check the value for "Mechanical Ventilation" in the table "Total Outdoor Air by AirLoop." The value of "Mechanical Ventilation" in the table "Total Outdoor Air by AirLoop" is not consistent with the value of "Mechanic

[2021-03-01 11:03] jmarrec commented on #8566
@rraustad I explicitly set all three flow rate methods to "SupplyAirFlowRate" and the file doesn't crash anymore, thanks.

[2021-03-01 11:42] LorenzoBottaccioli commented on #7563
Having the same issue with DistrictHeating:Facilty the EMS sensor reports different values from the one I have in the output variables files.

[2021-03-01 14:35] jmarrec commented on #8412
Thanks @nmerket. I looked into where I could insert that call, but I'm having a hard time finding a right slot.

The Height param is set in `SizeTankForSupplySide`. That's called in `onInitLoopEquip`

https://github.com/NREL/EnergyPlus/blob/ad0249bc3ec63e73513039d0ac0e18e22d31649d/src/EnergyPlus/WaterThermalTanks.cc#L158-L185

The thing is, the `this->initialize` tries to call `CalcStandardRatings

[2021-03-01 15:36] mjwitte commented on #7563
This is a matter of selecting the correct calling point. These are the pertinent parts of the idf file linked to this issue:
[code]
The idf file linked above is using calling point `AfterPredictorAfterHVACManagers`. The "Managers" in this calling point name are the setpoint managers and availability managers, so this is before the HVAC systems and electric power manager have been simulated. Using

[2021-03-01 15:57] LorenzoBottaccioli commented on #7563
@mjwitte I have tried with all the combination none of them is working. MY EMS configuration below with Ideal Loads.

Whene I compare DisrictHeating:Facility with my heat_power I get completely different values. I also attach my idf.
[test_idf_epw.zip](https://github.com/NREL/EnergyPlus/files/6062832/test_idf_epw.zip)

[code]

[2021-03-01 16:06] bonnema commented on #7563
Does this work? You could look at the EDD with this, maybe get more insight.

[code]

[2021-03-01 16:39] LorenzoBottaccioli commented on #7563
@bonnema my problem is with `DistrictHeating:Facility` that if compared with the one in the output:variable file they mismatch. I can read the others without writing down the program.

[2021-03-01 17:52] #8484 closed, assigned to Myoldmopar

[2021-03-01 20:12] #8542 closed, assigned to jmarrec

[2021-03-01 23:00] #8537 closed, assigned to xuanluo113

[2021-03-02 00:04] LipingWang commented on #8550
3. Please check the whether the OA schedule in the object for Design Specification: Outdoor Air was considered when sizing outdoor air airflow. After the value in OA schedule was changed to 0.5 from default 1 (constant throughout the year), Design Zone Outdoor Airflow - Voz [m3/s] and Minimum Dynamic Target Ventilation - Voz-dyn-min [m3/s] stayed unchanged.

*MJW - 12 Mar 2021 - For the sizing cal

[2021-03-02 16:39] #8492 closed, assigned to jmarrec

[2021-03-02 16:39] #8513 closed, assigned to jmarrec

[2021-03-02 16:39] #8514 closed, assigned to jmarrec

[2021-03-02 17:22] #8566 closed, assigned to rraustad

[2021-03-02 17:41] #8483 closed, assigned to Myoldmopar, jmarrec

[2021-03-02 17:56] #8230 closed, assigned to rraustad

[2021-03-02 19:03] bonnema commented on #7563
@LorenzoBottaccioli, in your `heat_power` _EnergyManagementSystem:OutputVariable_ you have set the _Type of Data in Variable_ field to `Averaged`. In order to compare to the `DistrictHeating:Facility` meter, you should set this field to `Summed`.

@mjwitte, I think your calling point comment above still applies and you can *re*close this issue.

[2021-03-02 19:16] LorenzoBottaccioli commented on #7563
@bonnema I tried as you said. Still not working. There is one time step difference now. The one of EMS seems to be reporting the previous one.

[code]

Here part of the IDF
[code]

[2021-03-02 19:28] bonnema commented on #7563
@LorenzoBottaccioli, a one timestep lag is relatively common in EMS programs. You may be able to try different calling points or the new(ish) python plugin system and see if they provide the solution you're looking for. I am not entirely sure of the intent of your program and as such it is hard to comment in more detail.

[2021-03-02 19:51] LorenzoBottaccioli commented on #7563
@bonnema I'm trying to understand the EMS usage to create an std link with the gym environment in order to develop Reinforcement learning algorithms for Model Predictive control. Tnx for your suggestion.

[2021-03-02 20:51] bonnema commented on #7563
Thanks @LorenzoBottaccioli. FWIW, adding the _Output:EnergyManagementSystem_ object to your IDF with the last field set to `Verbose` will give line-by-line execution of the EMS program(s) in the .edd file that will then be generated. That can be helpful for debugging, but can lead to large files if turned on for annual simulations.

[2021-03-02 20:51] mjwitte commented on #7563
I'm keeping this open. I've been doing some experimenting with this file. Output variable sensors align when the appropriate calling point is used, but there is a real lag when using meters as a sensor.

[2021-03-03 12:29] LorenzoBottaccioli opened #8579 "EMS actuator no changing Air temperature in Ideal Loads"
I'm trying to use the EMS actuators to manually set the supply mass flow rate and supply air temperature in an

    `ZoneHVAC:IdealLoadsAirSystem`.

Reading the EMS documentation on actuators I see I can edit the "Air Mass Flow Rate” and “Air Temperature”. I have so set sensors and actuators how you can see below. However, I see changes with respect to no actions only in the mass flow (`mdot_ideal

[2021-03-03 12:48] bonnema commented on #8579
@LorenzoBottaccioli, after a cursory review of the code, I don't think the calling point you're using (`BeginTimestepBeforePredictor`) is appropriate for this type of actuator. Maybe try `InsideHVACIterationLoop` instead? The actuator could very well be set to the value you want at the beginning of the timestep then overwritten during by the HVAC solver. Read [here](https://bigladdersoftware.com/e

[2021-03-03 13:07] LorenzoBottaccioli commented on #8579
@bonnema I'll have a read and give you back. However, I have now tested `InsideHVACIterationLoop` but no changes: I only see the actuation on the mass flow rate (`mdot_ideal `, `mdot_sys `) and not in the system temperature (`tair_sys`).

[2021-03-03 14:21] mjwitte commented on #8579
Also, prior to v9.4, the EMS actuators did not take action if the zone load was zero. This was changed for v9.4, see #8109.

[2021-03-03 14:23] mjwitte commented on #8579
And there are other changes pending for v9.5, see #8302 and #8519.

[2021-03-03 16:58] LorenzoBottaccioli commented on #8579
@mjwitte if you take a look at the csv files you see that the mass flow rate is always set to the 0.1 values when the actuator is used. What is not changing is the air temperature. I have tried to update to the latest E+ version (9.4.0) but I have same issue. I see changes in flow rate but no changes in air temp.

Ciao

[2021-03-03 17:20] LipingWang commented on #8550
4. The "Time Above Voz-sum-dyn (hr)" needs to be checked. The "Time Above Voz-sum-dyn (hr)" is not consistent between the two tables: "Total Outdoor Air by AirLoop" and "Average Outdoor Air During Occupancy by Airloop" when occupancy schedule varies throughout the day.

*MJW - 12 Mar 2021 - This appears to be correct, because every hour that counts as "Time Above Zero When Unoccupied" also counts

[2021-03-03 20:43] lgu1234 opened #8580 "Airflow curve input defect in AirloopHVAC:UnitarySystem when MS DX Heating coils operate at Speed = 1"
Issue overview
--------------
PR #8501 fixed the issue #8335 to pass correct mass flow rate to calculate flow fraction for DX cooling coil performance curves at Speed = 1. However, the same problem occurs for a MS DX heating coil at speed=1, when a UnitarySystem is used as a parent. The input values vary with node mass flow rate as show below.
![Pinture3](https://user-images.githubusercontent.com/

[2021-03-03 23:17] jmarrec opened #8581 "AirLoopHVAC:DedicatedOutoorAirSystem breaks unless AirLoopHVACs are all upper case."
Issue overview
--------------

Take `SmallOffice_CentralDOAS.idf`

[code]

**eplusout.err**

[code]

Issue is here, missing `MakeUPPERCase`:
https://github.com/NREL/EnergyPlus/blob/c9fa4f04b29efaecaa6b9f16a2c7b31a54949b13/src/EnergyPlus/AirLoopHVACDOAS.cc#L757

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of EnergyPlus (i

[2021-03-04 15:49] #8526 closed, assigned to xuanluo113

[2021-03-04 16:29] mjwitte commented on #5788
The new variables here were addressed in #8203.

[2021-03-04 16:29] #5788 closed, assigned to lgu1234

[2021-03-04 22:35] #8335 closed, assigned to lgu1234

[2021-03-05 00:03] mjwitte opened #8586 "Z format fails when requested with zero significant digits"
Issue overview
--------------
If the Z format is requested with zero significant digits, a release build will output an incorrect value such as "1E00" and a debug build will fail (on windows):
![image](https://user-images.githubusercontent.com/4991075/110046901-7faf2480-7d12-11eb-9537-23d9ebb84c28.png)

The offending call is [here in `PreDefTableEntry`](https://github.com/NREL/EnergyPlus/blob/78d2

[2021-03-05 15:29] rafael-a opened #8589 "Make ComfortViewFactorAngles extensible - error extending number of surfaces"
Issue overview
--------------
ComfortViewFactorAngles are used to compute Thermal comfort runs accounting for the specific location of the calculation point in space. Currently, up to 20 surfaces can be specified with a correpsonding view angle which are considered in the Radiant Temperature Calculation.

I have tried to extend the number of surfaces accounted in the calculation, but E+ fails to r

[2021-03-05 15:52] mjwitte commented on #8589
True, that object is not marked "extensible" in the IDD, and the input processing function `GetAngleFactorList` specifies a hard limit of 20 surfaces. This could be changed (but it's too late for v9.5 due to the required IDD change).

[2021-03-05 15:56] rafael-a commented on #8589
that's ok, it can wait for following updates. Thank you.
I managed to amend the IDD myself and have the idf editor recognise the extra fields, but the simulation still limits them.

[2021-03-05 16:03] mjwitte commented on #8589
Correct, you need to build your own version of EnergyPlus and modify both the idd and remove the hard limit in `GetAngleFactorList` to make this work. Build instructions are [here](https://github.com/NREL/EnergyPlus/wiki/BuildingEnergyPlus).

[2021-03-05 19:15] #8581 closed, assigned to jmarrec

[2021-03-05 20:57] #8494 closed, assigned to jcyuan2020

[2021-03-05 21:48] flyingdorothia opened #8590 "install on mac: there is no EP-launch in my folder"
solved

[2021-03-07 21:45] rafael-a commented on #8589
Building my own Energyplus seems a bit beyond my capabilities for now. But that's fine, I'll amend my model for this one.

[2021-03-08 15:56] LorenzoBottaccioli commented on #8579
Okay. I Have solved the issue in the `tair_sys` by changing:
[code]
in
[code]

I confirm that in the 9.4 version the EMS actuators did take action if the zone load was zero. and not in the 9.0 version.

tnx

[2021-03-08 15:56] #8579 closed, assigned to nobody

[2021-03-08 16:14] LorenzoBottaccioli opened #8593 "EMS Actuator no change in mass flow rate."
Hi,

I'm trying to control both the setpoint temperature and the mass flow rate of a 5 zone HVAC system. You find the IDF here https://drive.google.com/file/d/1hjnxdoUBych6X7eQp_3Pkk6Z7VWxAoIs/view?usp=sharing or here [IDF.zip](https://github.com/NREL/EnergyPlus/files/6103497/IDF.zip)

.

I can change and the supply setpoint temperature and the overall supply mass flow rate, but I cannot change th

[2021-03-08 18:53] RKStrand commented on #8277
- [x] GettingStarted.pdf p.45:
At the end of this page, Section 5.2.4 starts and then goes into a list.  The list however is cut-off/runs off the bottom of the page.  Two pages that are completely filled with images follow.  Then, the next text which shows up is Section 5.2.5.1 at the top of p. 48.  Clearly, there are some things that are missing from this document (the rest of Section 5.2.4 and t

[2021-03-08 19:25] RKStrand commented on #8490
@jmarrec Yeah, this looks strange.  It's clear someone has done something intentional in this area but was the change that eliminated C3 and C4 terms intentional?  Looking at the documentation, it still seems like the docs are anticipating that the user will enter those coefficients and the model will use them.
@Myoldmopar How do we find out who made the change mentioned and track down what was ha

[2021-03-08 19:48] Myoldmopar commented on #8490
In Fortran, the PitchAngle was [set to zero](https://github.com/NREL/EnergyPlusArchive/blob/master/SourceCode/WindTurbine.f90#L861):

[code]

As such, those terms in that equation would always be zero.  I am guessing the idea was that if we ever asked for variable pitch angle or something then we would have that capability ready to go.

Daeho (@airguider) added this module [in 2009](https://github

[2021-03-08 20:03] mjwitte commented on #8593
* In general, node mass flow rate setpoints have no effect.
* The only air terminal type that can be controlled by EMS is AirTerminal:SingleDuct:ConstantVolume:NoReheat.
* VAV SYS 1 OUTLET NODE:System Node Mass Flow Rate [kg/s](TimeStep) matches what the fan mass flow rate actuator is setting
* The unmet hours link above does not exist.
* Please test with the latest version of EnergyPlus before po

[2021-03-08 20:03] #8593 closed, assigned to nobody

[2021-03-09 01:44] Greg-Barker opened #8597 "Please allow use of hourly albedo values for ground reflectance"
Unless I am missing something, it appears that Energy Plus does not use the Albedo field in the weather file.  Instead it uses monthly values of ground reflection for calculating ground-reflected solar radiation.  Could you please allow the use of the Albedo field in the weather file as the value for ground reflectance during that time interval?

When performing detailed simulations for comparison

[2021-03-09 07:15] LorenzoBottaccioli commented on #8593
@mjwitte the unmethours link is now active it was waiting for the moderator approval. Is there any other way rather than EMS actuator for controlling the mass flow rate for every single zone?

[2021-03-09 15:07] Myoldmopar opened #8598 "EnergyPlus Build Time Increasing"
Issue overview
--------------
The build time for EnergyPlus has steadily increased as of late.  It's not a crazy amount, but it is becoming annoying, and starting to impact our CI's ability to produce tests in reasonable time.

[2021-03-09 16:44] shorowit opened #8599 "Incorrect psychrometric calculation causes error"
Issue overview
--------------
One of our models generates the following error:
[code]
The zone height and geometry are fine, so the note about checking zone heights is a red herring.

The file generates an error when I use the [Dover EPW](https://energyplus.net/weather-location/north_and_central_america_wmo_region_4/USA/DE/USA_DE_Dover.AFB.724088_TMY3) but A) the IDF works fine if I use the [Wilmi

[2021-03-09 18:46] mjwitte commented on #8599
Looking at this in the debugger, the ATTIC - VENTED wetbulb temperature is the one tripping the error at -496C.
This is coming from `state.dataEnvrn->OutWetBulbTemp` which is what the psych function in WeatherManager is returning for
[code]
This returns `OutHumRat = 0.0031902374172088472`

Then `Psychrometrics::PsyTwbFnTdbWPb(state, state.dataEnvrn->OutDryBulbTemp, state.dataEnvrn->OutHumRat, stat

[2021-03-09 18:55] amirroth commented on #8599
This is one of the cached ones. Does this still happen if you disable caching? Compile with `-DEP_nocache_Psychrometrics`.

[2021-03-09 19:30] mjwitte commented on #8599
Yes, it happens with psychrometric caching disabled or not.

[2021-03-09 19:43] mjwitte commented on #8599
Looks like this trap may not be adequate. This is true at the time of failure, so it breaks out of the iteration loop.
https://github.com/NREL/EnergyPlus/blob/93421b9a9d4eb1656e7fa123ded715504d107051/src/EnergyPlus/Psychrometrics.cc#L639-L640

[2021-03-09 20:24] jcyuan2020 opened #8600 "A minor data type consistency issue"
Issue overview
--------------
In weather data processing, there is a code line:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2975

However, the `PresWeathObs` was a defined integer type here:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2482

The code should b

[2021-03-09 20:24] jcyuan2020 opened #8601 "A minor data type consistency issue"
Issue overview
--------------
In weather data processing, there is a code line:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2975

However, the `PresWeathObs` was a defined integer type here:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2482

The code should b

[2021-03-09 20:24] jcyuan2020 opened #8602 "A minor data type consistency issue"
Issue overview
--------------
In weather data processing, there is a code line:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2975

However, the `PresWeathObs` was a defined integer type here:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2482

The code should b

[2021-03-09 20:25] jcyuan2020 opened #8603 "A minor data type consistency issue"
Issue overview
--------------
In weather data processing, there is a code line:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2975

However, the `PresWeathObs` was a defined integer type here:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2482

The code should b

[2021-03-09 20:25] jcyuan2020 opened #8604 "A minor data type consistency issue"
Issue overview
--------------
In weather data processing, there is a code line:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2975

However, the `PresWeathObs` was a defined integer type here:
https://github.com/NREL/EnergyPlus/blob/998c4b761e86d9e6962e90d6167296d7e94f393d/src/EnergyPlus/WeatherManager.cc#L2482

The code should b

[2021-03-09 20:37] jcyuan2020 commented on #8604
Closed-duplicated due to web connection issues.

[2021-03-09 20:37] #8604 closed, assigned to nobody

[2021-03-09 20:38] jcyuan2020 commented on #8603
Closed-duplicated due to web connection issues.

[2021-03-09 20:38] #8603 closed, assigned to nobody

[2021-03-09 20:38] jcyuan2020 commented on #8602
Closed-duplicated due to web connection issues.

[2021-03-09 20:38] #8602 closed, assigned to nobody

[2021-03-09 20:41] jcyuan2020 commented on #8601
Closed-duplicated due to web connection issues.

[2021-03-09 20:41] #8601 closed, assigned to nobody

[2021-03-09 23:37] lefticus commented on #8598
Research and prototyping of possibilities is commencing on this branch:

https://github.com/NREL/EnergyPlus/tree/prototype_simplified_array1d

A full description of the initial findings is available on this commit:

https://github.com/NREL/EnergyPlus/commit/b036efa83e17461bb076fd3b1a08ee75b95c7983

[2021-03-10 00:41] amirroth commented on #8598
Could this be related to the state transition? I don’t see why it would be, but that is a big change that has been happening recently and incrementally.

[2021-03-10 00:45] lefticus commented on #8598
It is related, yes. It's partly due to increased visibility of `Array1D<>` template instantiations across translation units.

See my analysis on the this commit b036efa83e17461bb076fd3b1a08ee75b95c7983

[2021-03-10 00:59] amirroth commented on #8598
I see. Thanks. I am also a big proponent of thinning out whichever ObjexxFCL array libraries we end up keeping. There are a bunch of classes and operators that need to be in there for FORTRAN coverage purposes, but that we don't actually want to use in EnergyPlus, like array arithmetic, initialization (we use this a lot but should move away from it), and slicing (we use this less, but we need to s

[2021-03-11 03:08] TiejunWu opened #8610 "Opaque Sky Cover is used in Calculation when Horizontal Infrared Radiation Intensity is not missing in Simualtion Weather File"
Issue overview
--------------
Based on EnergyPlus documentation, Opaque Sky Cover is not used unless Horizontal Infrared Radiation Intensity is missing in the simulation weather data. However, from the attached example, it is observed that for the attached example, Opaque sky cover is used regardless of the availability of Horizontal Infrared Radiation Intensity data in the simulation weather data

[2021-03-11 11:54] jmarrec opened #8611 "Floating point exception in CoilSystem:IntegratedHeatPump:AirSource"
Issue overview
--------------

In the process of developping an OpenStudio-resources regression test for this object, in https://github.com/NREL/OpenStudio-resources/pull/136, we are having E+ hang indefinitely with a release build, and a floating point exception in debug.

I'm getting a hard crash here:

https://github.com/NREL/EnergyPlus/blob/93421b9a9d4eb1656e7fa123ded715504d107051/src/EnergyPl

[2021-03-11 11:58] jmarrec commented on #8611
In release, I can get a truncated eplusout.err

[code]

[2021-03-11 22:37] mjwitte opened #8613 "Repeated /D_DEBUG in cmake debug compile options"
Issue overview
--------------
In cmake `/D_DEBUG` is repeated:

`CMAKE_CXX_FLAGS_DEBUG = /MDd /Zi /Ob0 /Od /RTC1 /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG /D_DEBUG`

Similar for `CMAKE_C_FLAGS_DEBUG`.

### Details
Some additional details for this issue (if relevant):
 - Platform Win 10, V

[2021-03-12 15:53] LipingWang opened #8614 "Hybrid Unitary HVAC equipment cannot be found"
Issue overview
--------------
The name for the object ZoneHVAC: HybridUnitaryHVAC can only be correctly recognized if it is written in capital letter from users' inputs. If small letters are part of the name for HybridUnitaryHVAC , the simulation will run into the fatal error as follows. "SimZoneHybridUnitaryAirConditioners: Zone evaporative cooler unit not found."

### Details
Some additional det

[2021-03-12 17:10] mjwitte commented on #8614
So, regardless of the case issue, the error message here is a copy/paste error and should say "ZoneHVAC: HybridUnitaryHVAC" not found.

I think I've found the reason why this is happening. In `InputProcessor::getObjectItem` all [object *names* are made uppercase](https://github.com/NREL/EnergyPlus/blob/83402156ae773d8b87568ffac3f867fe68b1910b/src/EnergyPlus/InputProcessing/InputProcessor.cc#L812-L

[2021-03-12 17:37] flyingdorothia opened #8616 "convert csv to epw"

[2021-03-12 17:40] mjwitte commented on #8616
Issues are for bug reports or new feature requests. User support is available at unmethours.com or energyplus.helpserve.com
See the EnergyPlus Auxiliary Programs document for Weather Converter instructions.

[2021-03-12 17:40] #8616 closed, assigned to nobody

[2021-03-12 21:33] mjwitte commented on #8550
@LipingWang I've pushed some fixes to #8596 which should fix all of the problems 1-4 here. I've also added some explanations above.

[2021-03-12 22:07] shorowit commented on #8599
@JasonGlazer Any chance https://github.com/NREL/EnergyPlus/pull/8380 or https://github.com/NREL/EnergyPlus/pull/8450 would address this?

[2021-03-14 00:50] #7931 closed, assigned to mjwitte

[2021-03-15 01:39] jcyuan2020 commented on #8277
- [x] The phase change material finite difference model has an output named ``CondFD Phase Change State``, with values from -2 to 2. However, the meaning of these numbers are not documented in the documentations. After looking up the source code, the integers are corresponding to the following state:
[code]
Some explanations should be added to this output values in the appropriate PCM sections (e.

[2021-03-15 13:30] JasonGlazer commented on #8599
@shorowit I really don't know.

[2021-03-16 00:11] jcyuan2020 opened #8621 "Incorrect exterior surface convective heat transfer rate reporting during rain under active Present Weather Observation override in Version 8.9"
EnergyPlus 8.9 has shows problematic (unrealistic) exterior surface convective heat transfer rate (W/m2) during a Present Weather Observation override to have rain (1-moderate rain), shown as:

![image](https://user-images.githubusercontent.com/64040111/111236415-ce857580-85c0-11eb-961a-064dcefdda96.png)

The convective heat transfer rate is above 2000--3000 W/m2 for a roof surface during a night

[2021-03-16 02:44] #8543 closed, assigned to nobody

[2021-03-16 09:55] jmarrec commented on #8611
Using a test.py in debug so I can grab the eplusout.err which wouldn't be flushed otherwise (it's on EnergyPlusDevSupport as well)

[code]

I can confirm that this coil, which is the Space Heating Coil, is properly placed downstream of the Space Cooling Coil, like it is in the ASIHPMixedTank.idf that served as a base for this file.

[code]

<details>
<summary>Full E+ output, click to expand</summa

[2021-03-16 13:40] jmarrec commented on #8611
On a side note, the eplusout.err reports `COIL:HEATING:WATERTOAIRHEATPUMP:VARIABLESPEEDEQUATIONFIT "HEAT PUMP DX HEATING COIL 1"` when it truly is actually a `Coil:Heating:DX:VariableSpeed` and that is confusing.

[2021-03-16 16:38] mjwitte commented on #8621
Duplicate of #6939, fixed in #7504 (v9.2).

[2021-03-16 16:38] #8621 closed, assigned to nobody

[2021-03-16 18:53] #8567 closed, assigned to Nigusse

[2021-03-17 12:40] #7819 closed, assigned to nobody

[2021-03-17 14:45] #8557 closed, assigned to nobody

[2021-03-17 17:43] Myoldmopar commented on #8611
@rraustad or @mjwitte is this something you could potentially investigate in the coming days?  If not I'll take a crack at it but I think it's an important one for the release.

[2021-03-17 18:28] mjwitte commented on #8611
@jcyuan2020 Please take a look at this.

[2021-03-17 18:52] jcyuan2020 commented on #8611
@mjwitte Will do.

[2021-03-17 20:59] LipingWang opened #8628 "AirflowNetwork:MultiZone:ReferenceCrackConditions input problems"
Issue overview
--------------
After updating another idf from v8.7 to v9.5, the simulation using the idf (v9.4) failed with the error message: ** Severe ** [json.exception.out_of_range.403] key 'reference_humidity_ratio' not found. The user's idf contains an airflow network model. The field 'reference_humidity_ratio' in the object 'AirflowNetwork:MultiZone:ReferenceCrackConditions' was left blank.

[2021-03-18 18:03] jcyuan2020 commented on #8611
The actual fatal point (div-by-zero floating error) occurred in the SetupSimulation() stage (at the top comment). The variable for the IHP’s DX heating coil `RatedAirVolFlowRate` being divided when its value is 0.0.

However, the zero-value of the variable `RatedAirVolFlowRate` is obtained earlier, in ManageSizing()->SetupZoneSizing() at:
https://github.com/NREL/EnergyPlus/blob/c0f4798a0dabcef5fab

[2021-03-18 19:29] mjwitte commented on #8611
@jcyuan2020 When it gets here, what top-level component has called the coil? If it's the `AirLoopHVAC:UnitaryHeatPump:AirToAir` then `CurSysNum` should be 1. But if it's the `WaterHeater:HeatPump:PumpedCondenser` then it makes sense for both `CurSysNum` and `CurZoneEqNum` to be zero.

It's suspicious in the eio output that the air flow rates are very high and the cooling capacity is zero:
[code]

[2021-03-18 20:16] jcyuan2020 commented on #8611
@mjwitte Thanks! The first floating error (div-by-zero) encounter was for the COIL:HEATING:DX:VARIABLESPEED, named `HEAT PUMP DX HEATING COIL 1`. In sizing the following lines in the eio are related to this one:
[code]

The upper levels of calling functions are like this:
[code]
So it looks like it should be the the second scenario---it is in the water heater sizing rather than in the air loop siz

[2021-03-18 20:33] jcyuan2020 commented on #8611
@mjwitte One more thought is that it seems that this COIL:HEATING:DX:VARIABLESPEED, `HEAT PUMP DX HEATING COIL 1` is a space heating coil. Its sizing actually should not be handled (or altered) here in the water heater sizing section?

If here it if the coil's `RatedAirVolFlowRate' is improperly altered to 0.0 from what supposed to be "Autosize (-99999.0); then later when it should actually be siz

[2021-03-19 15:30] #8305 closed, assigned to matthew-larson, ajscimone

[2021-03-19 16:37] dareumnam opened #8635 "Wrong comparison in an if statement in Photovoltaics.cc"
Issue overview
--------------
In `Photovoltaics.cc,` [line 708 here](CellIntegrationMode),

` if (PVarray(PVnum).PVModelType == iSurfaceOutsideFaceCellIntegration) `

`PVarray(PVnum).PVModelType` has to be `PVarray(PVnum).CellIntegrationMode`

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate

[2021-03-19 18:20] jcyuan2020 commented on #8611
There are definitely some “premature” coil sizing issues here. Two examples are discussed below.

For the first one is the COIL:HEATING:DX:VARIABLESPEED, named `HEAT PUMP DX HEATING COIL 1` shown in the comments above. Further down in the sizing routine for the heating coil is around here:
https://github.com/NREL/EnergyPlus/blob/c0f4798a0dabcef5fab998a03633bbdbdc271651/src/EnergyPlus/VariableSpeed

[2021-03-19 18:28] jcyuan2020 commented on #8611
Another observation is the Mutual sizing dependent on “companion coil” setup, which may also make the situation somewhat worse (the major reason might still be the lack of proper load information in this stage). The two coils above (one DX heating and one DX cooling) are set as mutually “companion” coils. The sizing code would try to set the cooling capacity based on the other’s heating capacity;

[2021-03-19 21:20] #8610 closed, assigned to nealkruis, matthew-larson

[2021-03-20 13:18] #8523 closed, assigned to nobody

[2021-03-20 13:42] #8554 closed, assigned to nobody

[2021-03-20 13:42] #8555 closed, assigned to nobody

[2021-03-20 15:00] #8550 closed, assigned to mjwitte

[2021-03-20 16:35] jcyuan2020 opened #8638 "Use recurring error warnings for condenser related chiller (severe) warnings"
Issue overview
--------------
Following the discussion at the end of PR #8556, this issue is about the change the condenser flow rated (severe) warnings in most of the chiller modules from using plain warnings to recurring ones. The need comes from a recent change that made the particular severe error related to chiller condensers to non-fatal, which makes the message recurring in nature.
Since a

[2021-03-21 01:53] #8635 closed, assigned to dareumnam

[2021-03-21 12:09] #8516 closed, assigned to jcyuan2020

[2021-03-22 00:19] #6998 closed, assigned to nobody

[2021-03-22 00:25] #8600 closed, assigned to nobody

[2021-03-22 15:38] jmarrec opened #8640 "ZoneHVAC:TerminalUnit:VariableRefrigerantFlow: Terminal unit part-load ratio calculation failed: PLR limits of 0 to 1 exceeded"
Issue overview
--------------

I'm running an OpenStudio-resources regression test that has:
* A VRF Terminal (regular) in most zones
* A VRF Terminal on the main branch of an AirLoopHVAC
* A VRF Terminal on the OA Intake of an AirLoopHVAC:OutdoorAirSystem, which is the one given the warning
    * **Note**: this VRF TU has a supply fan assigned... I know the IDD seems to imply that it shouldn't...

[2021-03-23 00:03] jcyuan2020 opened #8644 "Heating report value NaN problem due to exhaust fired absorption chillerheater model floating point errors"
Issue overview
--------------
It was reported in the defect file that the energy usage reporting tables got NaN values all the way.

The root cause is identified for this problem. It is due to the floating point error when the chiller heater does not have sufficient heating capacity, for example, in case of hot summer days when the full cooling capacity is demanded for the chillerheater.

Currentl

[2021-03-23 12:02] jmarrec commented on #8640
Removing the Fan on the VRF TU that is on the AirLoopHVACOutdoorAirSystem, I no longer get this warning about "PLR limits 0 to 1 exceeded" (I get some unusual warnings though, see below).

Anyways, I think E+ could do a better job at handling the case where user provides a fan in a VRF TU that's on the outside air stream.
Also it seems that if placed on the AirLoopHVAC main branch, and when having

[2021-03-23 13:33] #8590 closed, assigned to nobody

[2021-03-23 13:35] jmarrec commented on #8467
@zjx2020 please provide your input file.

[2021-03-23 13:36] jmarrec commented on #8465
I'm closing. happy to reopen if we get enough information to address it though.

[2021-03-23 13:36] #8465 closed, assigned to nobody

[2021-03-23 14:07] #8553 closed, assigned to Myoldmopar

[2021-03-24 18:37] shorowit opened #8654 "epJSON input processing errors - related to minfields and extensible fields"
Issue overview
--------------
I have an IDF that runs successfully in E+ 9.5. If I then call `energyplus --convert-only` to generate the epJSON followed by `energyplus in.epJSON` to run it, I get strange errors in the err file that suggest it might not have been read in correctly at all.

[code]

Interestingly, the epJSON sample file (RefBldgMediumOfficeNew2004_Chicago) that ships with EnergyPlus

[2021-03-24 20:33] shorowit commented on #8654
I''m seeing the same issue w/ E+ 9.4.

[2021-03-25 20:03] mjwitte commented on #8654
The problem is that these objects (Building, Shading:Building:Detailed, Foundation:Kiva, BuildingSurface:Detailed and likely others) do not fill all blank fields with their defaults when the input file format is epJSON. I haven't quite diagnosed what's happening yet, but I can reproduce this with RefBldgMediumOfficeNew2004_Chicago_epJSON by shortening the Building object.
This one fails (** Severe

[2021-03-25 22:09] mjwitte commented on #8654
@mbadams5 I think I have a solution. Will see shortly if it flies.

[2021-03-25 23:11] lefticus commented on #8598
I fully agree that it does not make sense to remove Objexx's multi-dimensional arrays where we use them and their math functions. it would be far too much work to move to something different and pull in a new dependency.

Here is a proposal for decreasing build times while moving the E+ code base to more standard C++ (eg, 0-based indexing) where it makes sense to.

1. Prune all of ObjexxFCL that i

[2021-03-25 23:46] mjwitte commented on #8654
There's also a problem with this returnplenum object, because `NumAlphas` is not incremented to account for unused fields in the middle of the object before the `\extensible` fields begin:
[code]

[2021-03-26 00:06] amirroth commented on #8598
1. Slicing is infrequently used and most of the instances that I've looked at I would characterize as "lazy programming". Eliminating the use of slicing in EnergyPlus is a reasonable goal that should be achievable in a week or so (not an exaggeration).

2. I don't know the extent to which the arithmetic and logical array functions are used as those are harder to grep for. I assume they are used mo

[2021-03-26 04:41] jasondegraw commented on #8598
Since it seems to have been forgotten in this context, I'll remind everyone that there was to be a cooperative effort on the Array1D replacement front that seems to have largely fallen through. Which is a shame, because we even had arrays of bools working. Anyway, PRs #7813 and #7841 cleaned up a lot of the unnecessary uses of the fancier array objects from ObjexxFCL. Some of the remainders are in

[2021-03-26 13:36] lefticus commented on #8598
@jasondegraw agreed re: `std::array` vs `std::vector`, I've observed few cases where the size is known fully at compile time. My understanding is that the sizes are known at IDF parsing time, which is too late, but I am not an expert on the internals of EnergyPlus.

I was not aware of the existing PR's, but they could be very helpful here, I was just tasked with improving build times and found tha

[2021-03-26 14:58] amirroth commented on #8598
Jason. Jason. Should we invite Jason Glazer to this thread?

Sorry, I don't know what I was thinking about `std::array`. I could make 20 excuses. Thankfully my position means that I don't have to take the time.

I guess the current use of slicing in EnergyPlus appears to be minimal because @jasondegraw has gotten rid of many of the original uses. Thanks @jasondegraw! (I didn't mean to discount you

[2021-03-26 16:29] JasonGlazer commented on #7546
Is it worth having NSIS based installers for just EP-Launch and IDF Editor? I had an independent ones years ago that I can try to resurrect?

[2021-03-26 20:57] shorowit commented on #8654
Using the above branch and found some more:

[code]

[in.epJSON.zip](https://github.com/NREL/EnergyPlus/files/6214329/in.zip)

[code]

[in.epJSON.zip](https://github.com/NREL/EnergyPlus/files/6214330/in.zip)

[2021-03-26 21:42] #8644 closed, assigned to nobody

[2021-03-26 21:55] mjwitte commented on #8654
@shorowit For the GHX file, the field name in the input `g_function_lnt_ts_value` does not match the field name in the schema `g_function_ln_t_ts_value`. Was this generated by the idf converter or directly from OpenStudio?

And for the Unitary file, "autosize" needs to be "Autosize".

[2021-03-26 22:00] mjwitte commented on #8654
Well, those fixes get rid of the input processing errors, but the files the proceed to crash. More digging.

[2021-03-26 22:56] shorowit commented on #8654
These models are simulating successfully when converting idf to epJSON using the energyplus converter. So I don’t know if the failures are worth investigating, I’ll let you decide.

Looks like I’ll be filing a bug report for the openstudio epJSON translator.

[2021-03-26 23:42] shorowit commented on #8654
Actually, that autosize thing is weird.  The IDF works fine with “autosize”, so why is the epJSON case sensitive?

[2021-03-28 04:34] mjwitte opened #8666 "ShopWithPVandLiIonBattery nan returned from lifetime_cycle_t::bilinear"
Issue overview
--------------
ShopWithPVandLiIonBattery fails in debug build with `nan` returned from `lifetime_cycle_t::bilinear` because `params->cal_cyc->cycling_matrix` is unitialized.

### Details
Some additional details for this issue (if relevant):
 - Windows
 - Version of EnergyPlus 9.5.0-f56b20e6b1

### Checklist
Add to this list or remove from it as applicable.  This is a simple template

[2021-03-28 18:37] mjwitte commented on #8654
@shorowit My understanding is that **everything** that is specified in the schema is case-sensitive, object class names, field names, choice fields, etc.  This includes "Autosize".
[code]

User-defined names are not, because they are pushed to uppercase on input (unless the field is tagged with `\retaincase` which is mainly/only? used for file paths).
[code]

[2021-03-28 19:20] paul-caicedo commented on #8440
A good reference for an actual software is Enerpool (https://natural-resources.canada.ca/science-data/data-analysis/geospatial-data-tools-services/enerpool-30). The help file contains an explanation of all the losses being considered in the model.
Another reference is Transsolar from TRNSYS (http://trnsys.de/static/26bc4ce41fd74016a4bcfaac54023e10/type344_en.pdf)

[2021-03-29 15:08] mjwitte commented on #8611
@jcyuan2020 Adding this comment here. Perhaps @nmerket may have a suggestion.

I think the key to this is the call to `GetDWHCoilCapacityIHP` in `getHPWaterHeaterInput`:

https://github.com/NREL/EnergyPlus/blob/ad764b967f53c4c2c0697cbf77632e9cb9ba29e3/src/EnergyPlus/WaterThermalTanks.cc#L1664-L1669

For the IHP, this call needs to wait until `state.dataGlobal->DoingSizing = false` (which means all

[2021-03-29 18:43] mjwitte commented on #8277
- [x] Input Output Reference for WindowProperty:FrameAndDivider has "Figure ??" in several places. (v9.5.0 IOFreeze).

_RKS: @mjwitte I didn't find any "Figure ??" in this section and all of the occurrences of "Figure" in this section have a valid figure number and link.  All the links go to the right place.  So, I think this is already fixed._

[2021-03-29 19:28] mjwitte commented on #8666
@nmerket Any chance you can look at this today?

[2021-03-29 22:05] mjwitte commented on #8666
There are 4 places in [lifetime_calendar_cycle](https://github.com/NREL/EnergyPlus/blob/develop/third_party/ssc/shared/lib_battery_lifetime_calendar_cycle.cpp) where `params->cal_cyc->cycling_matrix = batt_lifetime_matrix;` but none of these locations execute prior to the failure in `lifetime_cycle_t::bilinear` called [here](https://github.com/NREL/EnergyPlus/blob/ad764b967f53c4c2c0697cbf77632e9cb

[2021-03-29 23:17] shorowit commented on #8666
According to @rchintala13:

Sounds like it is safe to ignore for now.

[2021-03-30 02:32] jasondegraw commented on #8598
@lefticus In the last PR I referenced we had gotten to the point that we were running up against multidimensional arrays as the major impediment to progress. Our stand-in for Array1D (EPVector in EnergyPlus.hh) had grown to have a few methods we didn't really want, but at least in a few cases we were able to add a method to get things compiling, then go back and do the correct thing, and finally r

[2021-03-30 09:55] fubingting opened #8669 "Is there an aarch64 version of EnergyPlus? Or how to compile the aarch64 version from the source code"

[2021-03-30 10:04] jmarrec opened #8670 "Example IDF File not valid per IDD: UnitaryHybridAC_DedicatedOutsideAir.idf"
Issue overview
--------------

### UnitaryHybridAC_DedicatedOutsideAir.idf

In `ZoneHVAC:HybridUnitaryHVAC` (the only one), Mode 10 has only 24 values entered instead of 25, it's missing the `Supply Air Temperature Lookup Table Name`

[code]

Note: I tracked it down to the origin of the file, it's always been the case (https://raw.githubusercontent.com/NREL/EnergyPlus/387d18b5017dfe39a1be52138a040

[2021-03-30 12:43] #8654 closed, assigned to mjwitte

[2021-03-30 13:59] mjwitte commented on #8441
Fixed in #8661.

[2021-03-30 13:59] #8441 closed, assigned to nobody

[2021-03-30 14:39] #8670 closed, assigned to jmarrec

[2021-03-30 15:17] bonnema commented on #8669
Maybe start here? https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html

[2021-03-30 15:44] eringold commented on #8669
also see: https://github.com/NREL/EnergyPlus/pull/8664

[2021-03-30 17:35] mleachNREL opened #8673 "Possible bug in infiltration reporting"
The output from the following variables doesn't seem to make sense:

Zone Infiltration Current Density Volume Flow Rate
Zone Infiltration Standard Density Volume Flow Rate

In the IDF there are 4 ZoneInfiltration:DesignFlowRate objects.  Each of those is assigned to the same fractional schedule.  If I sum the design flow rates for those 4 objects, multiply by the current schedule value, and then m

[2021-03-30 18:05] mjwitte commented on #8673
@mleachNREL Are you using the outdoor current density? That's what the ZoneInfiltration:* and ZoneVentilation:* objects use to convert from volume flow to mass flow.

[2021-03-30 18:27] mjwitte commented on #8673
But the ACH will be based on the current zone density.

[2021-03-30 21:04] eringold opened #8676 "Issues with VRF Terminal Unit on AirLoopHVAC:DedicatedOutdoorAirSystem"
Issue overview
--------------
@rraustad
I'm testing out placing a VRF Terminal unit on the OutdoorAirSystem of an AirLoopHVAC:DedicatedOutdoorAirSystem. I've created a couple test files that _should_ be set up correctly, and seeing a couple issues:
1. If the terminal unit does not have a fan object (which should be optional when the TU is listed on the OutdoorAirSystem:EquipmentList - the fan is i

[2021-03-30 22:04] Myoldmopar commented on #8568
It builds fine locally, and other CI platforms produce a full IO ref.  Not sure yet, but I realize this is urgent.  I'm pinning this issue.

[2021-03-30 22:05] Myoldmopar commented on #8568
Also, after 9.5 is released, I'll post a copy of the IO ref to the release page assets, and make sure that the documentation on energyplus.net has a proper IO ref.

[2021-03-31 14:04] jcyuan2020 opened #8678 "TOC and bookmarks missing in InputOutputReference documentation"
Issue overview
--------------
In InputOutputReference.pdf, the Table of Content is missing, and the most of the document bookmarks are missing:

![image](https://user-images.githubusercontent.com/64040111/113156635-c99b0580-91ff-11eb-8f92-1e08d97d2158.png)

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version) All
 - Version of EnergyPlus (if usi

[2021-03-31 14:05] Myoldmopar commented on #8678
Duplicate of #8568

[2021-03-31 14:05] #8678 closed, assigned to nobody

[2021-03-31 15:20] jmarrec opened #8680 "Segmentation fault in CalcWinTransDifSolInitialDistribution"
Issue overview
--------------

One of the OpenStudio-resources regression test that has ShadingControl in it is segfaulting with 9.5.0. It was working with 9.4.0 and 9.5.0-IOFreeze.

Crash happens here, Lay = 0:

https://github.com/NREL/EnergyPlus/blob/de239b2e5f504e381ef4f296893ef93ce5410215/src/EnergyPlus/SolarShading.cc#L11949

Doing two runs I see two outcomes:

[code]

### Outcome one: conver

[2021-03-31 15:33] jmarrec commented on #8680
Backtrace and relevant info:

[code]

Construction in question is here: https://github.com/NREL/EnergyPlusDevSupport/blob/3e9a93cb9110859cda81ebfb006e48ab50c8ac55/DefectFiles/8000s/8680/shadingcontrol_singlezone_rb.idf#L1564-L1566

[2021-03-31 18:53] xuanluo113 commented on #8680
Fixed and tested `shadingcontrol_singlezone_rb.idf` running successfully locally.

[2021-03-31 20:21] mjwitte opened #8682 "SystemReports::ReportMaxVentilationLoads needs new code to support missing zone equipment types"
Issue overview
--------------
1. [`SystemReports::ReportMaxVentilationLoads`](https://github.com/NREL/EnergyPlus/blob/de239b2e5f504e381ef4f296893ef93ce5410215/src/EnergyPlus/SystemReports.cc#L4757-L4758) does not support AirloopHVAC:UnitarySystem as zone equipment. Adding this will require some new function in HVACUnitarySystem to get various node numbers. See blocks for other equipment types.
2.

[2021-03-31 21:06] jcyuan2020 commented on #5185
In investigating a recent helpdesk ticket# 15669, same problems show up: 1. ems override on shading surface transmittance does not cause a variation on the receiving surface; 2. A warning message shows up showing that setting `DetailedSkyDiffuseModeling` is not actually activated:
[code]

[2021-04-01 01:38] rraustad opened #8687 "Water-cooled VRF heating mode operation"
Issue overview
--------------
UnmetHours post should be looked into.
https://unmethours.com/question/53520/water-cooled-vrfboiler-do-not-handle-heating-load/

I figured out the cause by comparing my model and HVACTemplate-5ZoneVRF.idf in ExampleFiles.

The cause was Maximum Outdoor Temperature in Heating Mode in HVACTemplate:System:VRF. The default value is 16ºC. However, if a value that is less t

[2021-04-01 09:35] jmarrec commented on #8669
Either checkout #8664 or do this: specificy `CMAKE_OSX_ARCHITECTURES`

[code]

Alternatively, I think this should also prefill the CMAKE_OSX_ARCHITECTURES correctly

[code]

Once the arch is detected correctly, I can assure you that EnergyPlus builds and runs fine.

[2021-04-01 13:08] matthew-larson opened #8688 "HVAC Sizing Summary Thermostat Setpoint Temperature at Peak Load outputs 0C when no peak load"
Issue overview
--------------
The HVAC Sizing Summary Zone Sensible Heating Report shows a value of 32F, or 0C, for the Thermostat Setpoint Temperature at Peak Load column when there is no peak heating load in the zone.  Option to either set this to the normal thermostat temperature during the first (or other) timestep, or have this field blank since there is no actual value since there is no peak

[2021-04-01 13:12] rraustad commented on #8688
There is a place in sizing where data is set if there is no heating load. I'll see if I can find that.

[2021-04-01 13:18] rraustad commented on #8688
Line 2615 of ZoneEquipmentManager in the EndZoneSizingCalc section.

    // initialize sizing conditions if they have not been set (i.e., no corresponding load) to zone condition
    if (state.dataSize->FinalZoneSizing(CtrlZoneNum).ZoneTempAtCoolPeak == 0.0) {
        // issue 6006, heating coils sizing to 0 when no heating load in zone
        if (state.dataSize->ZoneSizing(DDNumF, CtrlZoneNum).D

[2021-04-01 14:41] matthew-larson commented on #8688
Thanks @rraustad, I didn't catch those sections.  I started looking at [Line 681](https://github.com/NREL/EnergyPlus/blob/de239b2e5f504e381ef4f296893ef93ce5410215/src/EnergyPlus/SizingManager.cc#L681) of SizingManager.cc

[code]

When there is no heating peak load but still an OA requirement, `FinalZoneSizing(CtrlZoneNum).DesHeatVolFlow` is greater than 0 and `TimeStepAtPeak` ends up equalling 1,

[2021-04-01 14:58] jmarrec opened #8690 "FMU parser is broken in 9.5.0 on Ubuntu"
Issue overview
--------------

[code]

I rebuilt prior to my changes https://github.com/NREL/EnergyPlus/pull/8391 (at f58632593e specifically) and it failed the same way

**It works on Windows with 9.5.0**

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): Ubuntu
 - Version of EnergyPlus (if using an intermediate build, include SHA): 9.5.0

[2021-04-01 15:19] rraustad commented on #8687
Turns out this is working correctly. The user was confused with an input that refers to outdoor air temperature when the system is water-cooled. I am waiting on feedback from user, or others, before closing this issue.

Answer: I think the confusion might be that when the system is water-cooled, those inputs apply to the plant water temperature. Maybe the report name should be changed to Min/Max C

[2021-04-01 15:30] eringold commented on #8687
@rraustad could the issue be related to this: https://github.com/NREL/EnergyPlus/issues/5163#issuecomment-468734865?

[2021-04-01 15:38] rraustad commented on #8687
I think the issue with dry-bulb vs wet-bulb for water-cooled systems was corrected over a year ago. I am just wondering if there is something else that could be done to avoid confusion in the future. It's hard for a user to figure out why the system isn't running if they don't know where to look. I assume this user didn't notice the warning in the error file so this issue may be a moot point. Chan

[2021-04-01 15:51] rraustad commented on #8688
If FinalZoneSizing(CtrlZoneNum).DesHeatVolFlow > 0, then I would think there would be a zone heating load. I would try to figure out why TStatSetPtAtPk = 0 at this point. A timestep of 1 for winter operation is normal because the design day outdoor temp is usually constant as are internal loads and the heating load doesn't change throughout the day. Still, the Tstat temp should have been known for

[2021-04-01 16:01] eringold commented on #8687
Oh I see - looks like that was fixed here https://github.com/NREL/EnergyPlus/commit/732cc6dbac61b254d1b57a8d3c542653bb48977d

I agree 'condenser inlet temperature' would help avoid confusion over 'outdoor temperature' for water-cooled condensers.

[2021-04-06 01:16] bbrannon4 opened #8694 "Template District Systems - Feature Proposal"
Problem: District systems are very popular, and are becoming more and more common to take advantage of shared storage, generation, and various decarbonization strategies.  Many of this analysis takes place at early project stages and so makes use of template HVAC systems in E+, however non currently have the capability to add these in.

Rationale: Expanded early stage modeling capability, especial

[2021-04-06 01:20] bbrannon4 opened #8695 "Template Heat Pump Plant - Feature Proposal"
Problem: There is no easy way to include a heat pump at the plant level within a Template system, similar to a boiler (aside from workaround with unitary systems).  There is a significant effort for decarbonization, particularly in states like Califorania, New York, and Washington, which are requiring or urging, new buildings to electrify.  This currently requires a detailed HVAC model, which is r

[2021-04-06 14:02] mjwitte commented on #8694
District hot water and chilled water are currently available in the HVACTemplate objects (but somewhat hidden). HVACTemplate:Plant:Boiler has an option for Boiler Type = DistrictHotWater. And HVACTemplate:Plant:Chiller has an option for DistrictChilledWater.

If I'm missing the point of this, please re-open with more details.

[2021-04-06 14:02] #8694 closed, assigned to nobody

[2021-04-06 16:55] bbrannon4 commented on #8694
Thanks, you're right.  I thought I checked there but completely missed it.

[2021-04-06 17:20] lymereJ opened #8698 "Support HPWH in airflow networks"
Issue overview
--------------
Currently, HPWH can be modeled along with airflow networks using the `Allow Unsupported Zone Equipment` field of the `AirflowNetwork:SimulationControl` object. This issue is a request to have HPWH be part of airflow networks. This is a follow up on #8505.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 -

[2021-04-06 17:20] lymereJ opened #8699 "Support standalone ERVs in airflow networks"
Issue overview
--------------
Currently, standalone ERVs can be modeled along with airflow networks using the `Allow Unsupported Zone Equipment` field of the `AirflowNetwork:SimulationControl` object. This issue is a request to have standalone ERVs be part of airflow networks. This is a follow up on #8505.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated

[2021-04-07 11:14] eugeniorodrigues opened #8700 "Internal Mass is affected by the Building North Angle Axis variation"
Issue overview
--------------
Imagine a single thermal zone building (e.g., a cube) and we calculate the total annual energy consumption using a HVAC Template Zone Ideal Load Air System for every angle around 360° of the building north axis. If we plot the graph ([Fig1_Without_Internal_Mass](https://www.dropbox.com/s/m1vke18jvx3a3cw/Fig1_Without_Internal_Mass.png?dl=0)) we will have a smooth curve

[2021-04-07 13:01] mjwitte commented on #8700
The internal mass surface area equals the total area of the other surfaces in the zone. This is causing problems with the radiant view factor calculations which are throwing a warning.
[code]
Splitting the internal mass into two smaller surfaces gets rid of the warning. Please try the simulation series again with 2 internal mass surfaces.

That said, there are a few things to clean up in the code:

[2021-04-07 13:58] mjwitte commented on #8700
A few more things to clean up:
~5. In the Initialization Summary table output the Solar View Factor and View Factor tables are incomplete and don't distinguish the original approximate view factors from the final view factors.~ See [note below](https://github.com/NREL/EnergyPlus/issues/8700#issuecomment-854884367)

6. @RKStrand question: If `OriginalCheckValue = 0` [here](https://github.com/NREL/E

[2021-04-07 17:26] eugeniorodrigues commented on #8700
Following the suggestion from @mjwitte, three series were run:

- Divided into two Internal Mass objects with half the surface area ([Fig3_With_Internal_Mass_splitted](https://www.dropbox.com/s/0qp81hgt3rgwysr/Fig3_With_Internal_Mass_splitted.png?dl=0)). The irregularity in the curve is gone. Nonetheless, **there is still a shift in the lower parts of the curve upward**.
- Using a single Internal

[2021-04-08 15:56] mjwitte commented on #8580
Closed via #8592.

[2021-04-08 15:56] #8580 closed, assigned to lgu1234

[2021-04-08 20:17] #8680 closed, assigned to xuanluo113

[2021-04-08 21:46] LipingWang opened #8705 "A room air model crashed due to different names between internal gain objects and room air objects for internal gains"
Issue overview
--------------
When the names defined by internal gain objects (such as people, light, other equipment) and those referred by the object "RoomAir:Node:AirflowNetwork:InternalGains" are different in an EnergyPlus model, the model crashes without an error message.  The model breaks when it sums all the convective internal heat gains in RoomAirModelAirflowNetwork.cc
SumInternalConvecti

[2021-04-12 12:04] RKStrand commented on #8700
@mjwitte Re: 6. above...it's been a while since I have looked at or worked with this code (20+ years?!).  I think for me the potential concern is that if a user enters their own view factors and those view factors satisfy completeness but not reciprocity that skipping this will potentially cause an issue.  I feel like that is the whole purpose of this routine--to make sure we've done everything we

[2021-04-12 22:37] afridly opened #8710 "PythonPluginConstantVolumePurchasedAir.py has incorrect content"
Issue overview
--------------
I just installed EnergyPlus 9.5 and was looking over example files. It appears that "PythonPluginConstantVolumePurchasedAir.py" has incorrect content. The file installed has two classes: Set_Shade_Control_State and InitializeShadeControlFlags, which don't have anything to do with purchased air.,

### Details
Some additional details for this issue (if relevant):
 - Win

[2021-04-12 23:11] bonnema commented on #8710
This appears correct and exists in 9.4 (the first version with this file). I believe many of the PythonPlugin*.idf/py example files were developed from a corresponding EMS*.idf files. However, this does not mean the **entire** EMS*.idf was ported to the python plugin in all cases. Most of the time that is fine (it must have been a laborious process and I think the intent is to provide an example r

[2021-04-13 00:08] mitchute commented on #8710
@bonnema nailed it.

I'm the one who did the conversion on this file. There are four EMS "Programs" in the original file. It looks like I only converted two of them and I'm sure that was simply due to time constraints. I'd rather keep the names consistent to show provenance. *Someone* should expand the file, but I'm not likely to get to it unless there's a real need other than for the purpose of e

[2021-04-13 00:15] bonnema commented on #8710
\*looks up provenance in dictionary\* Since @mitchute already did half I can do the other half 😀.

[2021-04-13 18:41] rraustad opened #8713 "Heating coil in ConstantVolume:Reheat terminal unit is undersized when air flow rate is set by user"
Issue overview
--------------
Third party testing has shown that heating coils are undersized when the user sets the terminal air flow rate and that user specified air flow rate is higher than the design value for that zone.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SH

[2021-04-13 18:49] rraustad commented on #8713
This is a result of choosing to set ZoneMinAirFracDes = 0 for TU types that do not have a Minimum Air Flow Fraction input field.

        state.dataSingleDuct->sd_airterminal(state.dataSingleDuct->SysNumGSI).ZoneMinAirFracDes = 0.0;
        state.dataSingleDuct->sd_airterminal(state.dataSingleDuct->SysNumGSI).ZoneMinAirFracMethod = MinFlowFraction::MinFracNotUsed;

and then during sizing the TermU

[2021-04-14 12:40] mjwitte opened #8716 "AFN infiltration missing in Outdoor Air Details report"
Issue overview
--------------
Infiltration from AirflowNetwork objects is not included in the Outdoor Air Details report.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.5.0

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x] Defect file AirflowNetwork_MultiAirLoops.idf
 - [ ] Ticket ad

[2021-04-14 16:20] #8598 closed, assigned to lefticus

[2021-04-15 17:29] eringold opened #8718 "VRF TU on AirLoopHVAC supply branch will force loop off if terminal OA mixer not set and OA inputs not autosized"
Issue overview
--------------
@rraustad I'm not sure this is intended or just a misinterpretation of the input requirement.

A ZoneHVAC:TerminalUnitVariableRefrigerantFlow on the supply branch of an AirLoopHVAC will force the loop off if the terminal unit OA mixer is left blank **and** the terminal unit 'Cooling/Heating/No Load Outdoor Air Flow Rate' inputs are not 'autosized'.

The documentation

[2021-04-15 19:17] rraustad commented on #8718
@eringold I can't recall if I tested without the OA Mixer but I should still have the test file I used during development. So if OA Mixer is blank and inputs are 0 the air loop is off. And if OA Mixer is not blank and inputs are autosized the air loop turns on. Is that correct?

[2021-04-15 19:23] eringold commented on #8718
That's correct. I attached a working file "VariableRefrigerantFlow_5Zone_wAirLoop_working.idf" and one in which the air loop remains off for the full run period "VariableRefrigerantFlow_5Zone_wAirLoop_termzeroOA.idf". The only difference between the two files is highlighted in the image above.

Additionally, if the terminal unit does specifies an OutdoorAir:Mixer, then the outdoor air inputs are i

[2021-04-15 19:56] #8475 closed, assigned to lgu1234

[2021-04-15 19:56] #8716 closed, assigned to nobody

[2021-04-16 00:45] rraustad commented on #8718
These are the reduced TU inputs for the problem TU in question. Note the name of the inlet node is Airloop Mixed Air Outlet, which in the NodeID array is 22.

    ZoneHVAC:TerminalUnit:VariableRefrigerantFlow,
        TU5inAirloop,            !- Zone Terminal Unit Name
        Airloop Mixed Air Outlet,!- Terminal Unit Air Inlet Node Name
        0,                       !- Cooling Outdoor Air Flow

[2021-04-16 01:03] rraustad commented on #8718
Can someone help me figure out why this state variable resolves to true when it seems to be false? VRFTUNum == 4 here so I think I am looking at the correct data. OAMixerUsed is false and testBool = true. WTS ! (what the state). HVACVariableRegrigerantFlow.cc

![image](https://user-images.githubusercontent.com/5778156/114957096-4a781500-9e2e-11eb-91a2-b2f79e067643.png)

[2021-04-16 01:27] mitchute commented on #8718
Obviously, "have you tried turning it off and on again???"

This is weird, at least based on the screenshot you posted.

[2021-04-16 01:44] rraustad commented on #8718
Interesting. I jumped into the OA mixer here and see that this is the OA mixer for TU3 (TU5 OA mixer name = "", i.e., VRFTU(4).OAMixerName = ""). I just rebooted this PC so someone should be able to replicate this. Is E+ running multi-threaded now? i.e., are the state vars in sync?

![image](https://user-images.githubusercontent.com/5778156/114959372-ed329280-9e32-11eb-968d-fd7df9fd7883.png)

[2021-04-16 02:10] rraustad commented on #8718
When state gets passed into a function as a reference, can this functions state var change as the function executes? Yes, or no?

    void InitVRF(EnergyPlusData &state, int const VRFTUNum, int const ZoneNum, bool const FirstHVACIteration, Real64 &OnOffAirFlowRatio, Real64 &QZnReq)

[2021-04-16 02:36] mitchute commented on #8718
(not sure if this is the right terminology) the address of ```state``` itself should not change, as far as I know. You could check the state address from when the names are set and at the point when they are coming up blank. I'd expect that to be the same at both places.

Which file are you working with?

[2021-04-16 03:24] rraustad commented on #8718
VariableRefrigerantFlow_5Zone_wAirloop_termzeroOA. The one without "working" in the file name.

[2021-04-16 14:07] jcyuan2020 opened #8720 "v9.4 download link reported missing"
Issue overview
--------------
The official v9.4 version download link was reported missing on the page https://energyplus.net/downloads.

The user realized that he can download from the direct link at: https://github.com/NREL/EnergyPlus/releases/tag/v9.4.0; but would like to have the link listed on the energyplus.net webpage (probably in the "Recent Releases" section).

### Details
Some additional

[2021-04-16 14:30] rraustad commented on #8718
The correct TU index is 5, not 4. Inspecting the state tree is a little more difficult now. The good news is that these data are not changing when simulating each TU.

![image](https://user-images.githubusercontent.com/5778156/115039427-7337f300-9e9e-11eb-960e-824da5b59d11.png)

[2021-04-16 14:43] mitchute commented on #8718
OK, I debugged into VRF at line 7234 (https://github.com/NREL/EnergyPlus/blob/4a4bce01363987d2dada71706a7357e3440f1c8c/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L7234) and it all looks like it's behaving well. I'm not seeing it drop into that block of code when it shouldn't.

I'm also not seeing VRFTUNum == 5. I added a print statement to the IF block beginning on 7234 and only got TUNum 1-4 a

[2021-04-16 14:47] eringold commented on #8718
...so do I win some kind of prize for stumping the developers?

Seriously though, I'm just starting to learn to use the debugger and this conversation has been really informative so far. Hope to be able to report more detailed issues (and maybe contribute solutions) in the future. Thanks!

[2021-04-16 16:15] rraustad commented on #8718
@eringold when you removed the VRF TU OA Mixer you also needed to change the name of the cooling coil inlet node.

    ZoneHVAC:TerminalUnit:VariableRefrigerantFlow,
      TU5inAirloop,            !- Zone Terminal Unit Name
      Airloop Mixed Air Outlet,!- Terminal Unit Air Inlet Node Name
      Airloop Fan Outlet Node, !- Terminal Unit Air Outlet Node Name

    Coil:Cooling:DX:VariableRefrigeran

[2021-04-16 16:23] rraustad commented on #8718
The result above nearly matches the working defect file. I would have expected them to match.

![image](https://user-images.githubusercontent.com/5778156/115054655-7a66fd00-9eae-11eb-9f1b-58142275e405.png)

[2021-04-16 16:28] eringold commented on #8718
well... 🤦

[2021-04-16 16:31] mjwitte commented on #8718
So, this didn't generate any kind of node connection warning?

[2021-04-16 16:32] eringold commented on #8718
@mjwitte it did:
[code]
...double 🤦

[2021-04-16 16:38] rraustad commented on #8718
I did see that warning. That is because you did not delete the VRF TU OA Mixer object.

    OutdoorAir:Mixer,
      TU5 OA Mixer,            !- Name
      TU5 VRF DX CCoil Inlet Node,  !- Mixed Air Node Name
      Outside Air Inlet Node 5,!- Outdoor Air Stream Node Name
      Relief Air Outlet Node 5,!- Relief Air Stream Node Name
      Airloop Mixed Air Outlet;!- Return Air Stream Node Name

When

[2021-04-16 17:49] rraustad commented on #8718
Geez, there is no node connection testing in the VRF model. I'll have to add that, however, there are a lot of things to account for. OA Mixer present or not, cooling coil present or not, AT Mixer present or not, etc. I have added this specific warning. There is a lot more to do.

    ** Severe  ** ZoneHVAC:TerminalUnit:VariableRefrigerantFlow "TU5INAIRLOOP"
    **   ~~~   ** ... For draw thru fan

[2021-04-19 13:09] rraustad commented on #8718
Well, there are node connection tests. I missed this because node connection checks were moved to Init since the VRF TU can now be used as zone and air loop equipment. This check is obviously missing.

[2021-04-19 14:36] rraustad commented on #8718
The problem is here for draw thru fan. There was a check for node connections when an OA mixer was not used. However, additional logic was added that is not correct. The node connections are only tested when the VRF TU is connected to a zone. The VRF TU in question is connected to the air loop. I am trying to unwind this logic.

        } else if (state.dataHVACVarRefFlow->VRFTU(VRFTUNum).isInZone

[2021-04-19 15:02] EnergyArchmage opened #8721 "Duplicate \begin{lstlisting} in idd-conventions.tex"
Issue overview
--------------

Problems building I/O Ref appear to be related to duplicate name --  "1stlisting" is used twice, with second instance here:

https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/idd-conventions.tex#L221

Change to unique name at first appeared to show better results building pdf on windows, but that pattern is everywhere.

When I do

[2021-04-19 18:00] jcyuan2020 opened #8722 "HVAC-Diagram.exe broken in v9.5"
Issue overview
--------------
The HVAC-Diagram.exe that comes with V9.5 installation (official release) does not work properly. In nearly all simulations runs with EP-Launch, the HVAC schematic diagram will not be properly generated.

This was tested to be the case in two PCs with Windows 10 installations. A further check with command line shows that the HVAC-Diagram.exe for v9.5 is somehow broken

[2021-04-21 16:14] mitchute opened #8725 "ComponentCost:LineItem for Coil:DX and Coil:Cooling:DX:SingleSpeed using wrong speeds"
Issue overview
--------------
ComponentCost:LineItem for Coil:DX and Coil:Cooling:DX:SingleSpeed is using the first speed regardless of the nominal coil speed. See here for example:

https://github.com/NREL/EnergyPlus/blob/85c4a5bd65dcaae1bf0c4f5a4253afff6c096c30/src/EnergyPlus/CostEstimateManager.cc#L645

This should be fixed to find the nominal (or highest?) speed.

### Details
Some additional d

[2021-04-22 16:08] #8503 closed, assigned to nobody

[2021-04-26 02:09] Myoldmopar commented on #8720
This was addressed by @kflemin

[2021-04-26 02:09] #8720 closed, assigned to nobody

[2021-04-26 13:08] mjwitte commented on #8503
See #8698 and #8699.

[2021-04-26 13:15] rd2 commented on #6509
_(it's been 4 years since the previous comments were added, yet this New Feature Request remains open - a good sign)._

The [Thermal Bridging & Derating](https://github.com/rd2/tbd) (or TBD) OpenStudio Measure (initially released [late 2020](https://unmethours.com/question/49632/on-major-thermal-bridging-and-derating-of-surface-constructions/), under semi-continuous maintenance) addresses a large

[2021-04-27 13:52] rraustad opened #8730 "Sizing:System Heating Design Capacity Method FractionOfAutosizedHeatingCapacity not working"
Issue overview
--------------
When using FractionOfAutoSizedCooling or HeatingCapacity, the cooling coil size changes in the table report but the heating coil size does not.

![image](https://user-images.githubusercontent.com/5778156/116252505-a18abd80-a73d-11eb-81ea-a88c180ad6bd.png)

The eio file shows the cooling coil size increased. The heating coil size also increased but the U-value decrease

[2021-04-27 14:01] rraustad commented on #8730
Suggested change.

![image](https://user-images.githubusercontent.com/5778156/116254605-7b661d00-a73f-11eb-863b-3684f7df1c90.png)

![image](https://user-images.githubusercontent.com/5778156/116254913-bff1b880-a73f-11eb-804a-e0974c3f042e.png)

[2021-04-27 19:07] lymereJ opened #8731 "Run Slab and Basement pre-processor from the CLI"
Issue overview
--------------
Currently, ExpandObjects can be run from the CLI using the `-x` option and reads the GroundHeatTransfer:* objects and writes new objects in the expidf file and it creates a BasementGHTIn.idf input file but stops there. It would be great if that option would also run the Slab/Basement pre-processors.

The batch file provided with EnergyPlus do the following (informatio

[2021-04-27 21:27] eringold opened #8732 "Issues autosizing flow and controlling temp leaving a HeatExchanger:AirToAir:SensibleAndLatent on AirLoopHVAC:DedicatedOutdoorAirSystem"
Issue overview
--------------
I have identified two potential issues trying to model a HeatExchanger:AirToAir:SensibleAndLatent located on an AirLoopHVAC:DedicatedOutdoorAirSystem.

1. Nominal Supply Air Flow Rate set to 'autosize' will produce warnings that `Heat Exchanger Air Volume Flow Ratio = INF`
2. Supply Air Outlet Temperature Control does not seem to work.

Attached is example file 'Small

[2021-04-28 07:53] DeadParrot opened #8733 "ObjexxFCL copy & paste bug in function not used in E+"
Although maxloc functions are not currently used in E+ this copy & paste bug I just discovered should be fixed for protection against future use.

In this maxloc line the `max()` should be `lowest()`

https://github.com/NREL/EnergyPlus/blob/f9d82c18b7b828893f611b5b4d0f7ec624afedd0/third_party/ObjexxFCL/src/ObjexxFCL/Array.functions.hh#L3759

[2021-04-28 19:10] mitchute commented on #8733
@DeadParrot it looks like this has already been pared away on the [```remove_unused_objexx branch```](https://github.com/NREL/EnergyPlus/blob/0f166f60923c6900073741adf8d104642df6e2aa/third_party/ObjexxFCL/src/ObjexxFCL/Array.functions.hh). I'll tag this issue on that PR once it gets opened.

[2021-04-28 19:12] DeadParrot commented on #8733
Right, I saw that branch, but I don't know how long it will be until that gets merged and for historic tracking it is probably wise to make this fix in develop.

[2021-04-28 22:28] shorowit commented on #8277
- [x] Input Output Reference for Coil:Heating:Gas:MultiStage says "For the time being, this coil model can only be called by the parent object AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed.", but IDD shows that it can be used with AirLoopHVAC:UnitarySystem.

[2021-04-29 13:07] #8733 closed, assigned to nobody

[2021-04-29 19:39] lgu1234 opened #8735 "AFN model generates a severe error with bad allocation"
Issue overview
--------------
@LipingWang sent an input file based on ticket #15660 from helpdesk. The input uses AIrflowNetwork and RoomAir model together. After correcting a mistake in the input file, the program still generated a severe error with bad allocation. The possible cause is to use a wrong index of the MultizoneZoneData array.

### Details
Some additional details for this issue (if re

[2021-04-29 19:51] mitchute opened #8736 "ComponentCost:LineItem Uses Wrong SpeedNum for Coil:DX and Coil:Cooling:DX:SingleSpeed"
Issue overview
--------------
ComponentCost:LineItem is using the wrong speed number for some of the current DX coils. This should be using the highest speed, but it's always using the lowest.

https://github.com/NREL/EnergyPlus/blob/2381b2417047abcaf5cbd43415202fb15cefd4d1/src/EnergyPlus/CostEstimateManager.cc#L645

### Details
Some additional details for this issue (if relevant):
 - Version of E

[2021-04-30 13:20] mjwitte commented on #8568
From @EnergyArchmage:

. . . this error message

`32>[LATEXERROR::doc\input-output-reference\src\overview\idd-conventions.tex:None::TeX capacity exceeded, sorry [main memory size=3000000].<argument> ...shipout:D \box_use:N \l_shipout_box]`

eventually led me to this https://github.com/NREL/EnergyPlus/issues/8721

[2021-04-30 13:22] Myoldmopar commented on #8721
Here's my tab group for debugging this:

![image](https://user-images.githubusercontent.com/849824/116701069-1b64b600-a98d-11eb-8bf1-784f72327f0a.png)

I'll get it.

[2021-04-30 13:45] #8614 closed, assigned to LipingWang

[2021-04-30 14:02] EnergyArchmage commented on #8568
Actually my comment is not helpful. That pattern is everywhere. I am still stuck with IO ref problems, with docs based on 9.4.

[2021-04-30 14:03] mjwitte commented on #8568
Hmm, but maybe the memory error is still a useful clue. I seem to recall some instructions on how to increate the LaTeX memory limits?

[2021-05-01 01:40] #8718 closed, assigned to nobody

[2021-05-03 01:55] john-grando opened #8743 "No Error Message for epJSON files with HVACTemplate, Parametric, or GroundHeatTransfer objects"
Issue overview
--------------
The command line tool appears to accept and simulate epJSON files that contain HVACTemplate objects.  However, from the outputs, it looks like the HVACTemplate objects are ignored during processing, but no error or warning messages are explicitly provided.  The example provided below is using a converted epJSON file from the ExampleFiles directory of the same name.

`

[2021-05-04 17:17] jcyuan2020 opened #8747 "WaterToAir HeatPump coil sizing fan heat portion issue"
Issue overview
--------------
For the WaterToAir coil sizing, e.g. in Coil:Cooling:WaterToAirHeatPump:EquationFit, the Engineering Reference document included two parts in calculating the coil total load or sensible load: one is a factor-adjusted coil inlet-outlet enthalpy difference, and an additional fan heat loss portion that is not factor-adjusted. This was demonstrated in Equation 10.44 and E

[2021-05-04 19:15] jmarrec opened #8748 "Symlink to ParametricPreprocessor is broken on Unix"
Issue overview
--------------

![image](https://user-images.githubusercontent.com/5479063/117057409-b2c76180-ad1d-11eb-9f95-2b5dc149947b.png)

This symlink is broken on 20.04 at least (but it should be the case on all unix systems)
The folder is called `ParametricPreprocessor`  not `ParametricPreProcessor`

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating sy

[2021-05-05 10:46] rraustad opened #8750 "UnitarySystem does not report flow/capacity ratio"
Issue overview
--------------
Testing shows that UnitarySystem does not report the DX Coil Capacity Increase/Decrease Ratio from Too Low/High Flow/Capacity Ratio. This happens when UnitarySystem calls for cooling capacity before the coil is modeled. The flow/capacity is adjusted on this call and the subsequent call to the coil model uses the corrected capacity.

![image](https://user-images.github

[2021-05-05 10:53] rraustad commented on #8750
Line 551 of CoolingCapacitySizing.cc (bottom of CoolingCapacitySizer::size): https://github.com/NREL/EnergyPlus/blob/5358d3eb87d1376b3484e1a38ade8274b01f0027/src/EnergyPlus/Autosizing/CoolingCapacitySizing.cc#L551

    if (this->isCoilReportObject && this->curSysNum <= state.dataHVACGlobal->NumPrimaryAirSys) {
        *** reporting of correct increase/decrease in flow/capacity ratio happens

[2021-05-05 12:54] rraustad opened #8751 "UnitarySystem used in OutdoorAirUnit does not size cooling coil air flow properly"
Issue overview
--------------
Testing shows when UnitarySystem is used as child component in OutdoorAirSystem the cooling coil in the UnitarySystem does not autosize air flow properly.

Difference when CoilSystem (-) is changed to UnitarySystem (+):

    - Component Sizing Information, Coil:Cooling:DX:SingleSpeed, ACDXCOIL 1, Design Size Rated Air Flow Rate [m3/s], 0.42000
    - Component Sizing I

[2021-05-05 16:55] LipingWang commented on #8735
Until this defect is fixed, to run the models with both `Room Air Models` and `Airflow Network` components, one approach would be to 1) use all the `Zone` objects (thermal zones) for geometry models in `AirflowNetwork:MultiZone:Zone` and 2) define the objects of `AirflowNetwork:MultiZone:Zone` in the same sequence as those defined in `Zone`.

[2021-05-05 19:58] jcyuan2020 opened #8752 "Seemly random plant loop solver failure with out-of-range fluid temperatures"
Issue overview
--------------
It was found that in a simulation case, the plant flow convergence is somehow affected by a few other settings which typically should not be sources of problems. Starting from the original file, it was reported that with auto sized plant flow rate, the simulation would encounter a flow solver problem due to out-of-range fluid temperature in April (in an annual simulat

[2021-05-05 20:51] xuanluo113 opened #8753 "Typos in Heat Index calculation"
Issue overview
--------------
There are typos in the Engineering reference for Heat Index calculation. The formula should have several minuses instead of all pluses, and that there should be an additional divide-by-17 in the first adjustment.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate

[2021-05-05 22:51] matthew-larson opened #8755 "Air-Source HeatPump:PlantLoop:EIR:Heating and Cooling not transferring energy if capacity is Autosized"
Issue overview
--------------
This issue was discovered when running a model using HeatPump:PlantLoop:EIR:Heating and HeatPump:PlantLoop:EIR:Cooling objects with the Load Side Design Volume Flow Rate hard-sized but the Source Side Design Volume Flow Rate and Reference Capacity autosized (example object shown below).

[code]

In running the model, the output results show no Heat Pump Load Side Heat

[2021-05-06 16:34] rraustad commented on #8747
@mjwitte I see this same calculation in CoolingCapacitySizing and think I made a mistake when implementing this. The code currently does this:

    PeakCoilLoad = max(0.0, (rhoair * DesVolFlow * (CoilInEnth - CoilOutEnth) + FanCoolLoad));
    NominalCapacityDes = PeakCoilLoad / TotCapTempModFac;

And I feel it should do this:

    PeakCoilLoad = max(0.0, (rhoair * DesVolFlow * (CoilInEnth - CoilOu

[2021-05-06 16:38] rraustad commented on #8747
I would expect diff's on the order of <200 watts.

[2021-05-06 16:53] rraustad opened #8756 "UnitarySystem does not account for Total Capacity as a Function of Temperature for some DX coil types"
Issue overview
--------------
Testing has shown that some DX coils size differently when used in UnitarySystem. This issue can easily be seen in this section of code. The firstt section uses the Total Capacity as a Function of Temperature curve for 4 DX coil types while the last section accounts for only 1 DX coil type.

Also, function GetDXCoilCapFTCurveIndex uses index 1 to retrieve the curve in

[2021-05-07 15:36] jcyuan2020 opened #8758 "Movable insulation bug in official v9.5 and before (fixed already in most recent develop)"
Issue overview
--------------
Movable insulation bug in official v9.5 and before

There is a standing problem in the official v9.5 release (and before) about the movable insulations. In a movable simulation case, if the movable insulation value is set to “0”—absolute zero, not a small number, then the calculation can go wrong.

On official v9.5, the problem is that when setting the movable insulat

[2021-05-07 16:04] #8758 closed, assigned to nobody

[2021-05-07 21:35] jcyuan2020 opened #8760 "Opaque Cloud Cover output problem in v9.5"
Issue overview
--------------
For v9.5, a bug is spotted when outputting the Opaque Cloud Cover value. When selected the "Opaque Cloud Cover" as the output, the actual outputted value is the Total Cloud Cover, which has different physical meanings and also usually has different value (from Opaque Cloud Cover).

The problem only occurs in v9.5. This feature of reporting Total Cloud Cover and Opaque

[2021-05-07 22:21] rraustad opened #8761 "UnitarySystem does not correctly size Coil:Cooling:DX:TwoStageWithHumidityControlMode"
Issue overview
--------------
The UnitarySystem pre-calculates cooling and heating air flow and capacity. These values are set for use by the coil object. However, for multimode coils the low speed modes are sized first and the saved values set by the UnitarySystem, representing the high speed capacity, is then used by the coil object to set the low speed capacity.

A secondary issue for sizing co

[2021-05-08 12:48] #8736 closed, assigned to mitchute

[2021-05-09 12:56] eapuertoc opened #8763 "Python PlugIn doesn't Work Ubuntu"
Issue overview
--------------
When using the same python plugin created for Windows, doesn't work in Ubuntu, throws the following error:
File "/home/user/Documents/Workspace/energyplus/EvapMistCooling.py", line 1, in <module>
    from pyenergyplus.plugin import EnergyPlusPlugin
   **   ~~~   **  >>>   File "/usr/local/EnergyPlus/pyenergyplus/plugin.py", line 3, in <module>
    from pyenergyplus.ap

[2021-05-10 00:55] bonnema commented on #8763
Can you share the .py file?

[2021-05-10 02:59] Myoldmopar commented on #8763
I believe on my 20.04 machine I have run into this exact same message when I accidentally grabbed the 18.04 installer.  Are you sure you got the 20.04 installer package and not the 18.04?  Just wanting to eliminate any easy fixes first...but yes, if you are definitely running the 20.04 installer, then send along your input file, weather file if appropriate, and definitely the python file.

[2021-05-10 19:28] eapuertoc commented on #8763
Hi everybody. Unfortunately I can't upload the exact file because is part of a confidential project in my university, but I share a [simplified model with the same issue](https://github.com/eapuertoc/UbuntuTest). About the version, using #lsb_release -a in my terminal I have the following result:

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
C

[2021-05-10 19:35] bonnema commented on #8763
`lsb_release` is for the Ubuntu operating system version. Can you share the output of the `/usr/local/EnergyPlus-9-5-0/energyplus --help` command? I would bet that @Myoldmopar is (as usual) correct, the default link on energyplus.net is for the 18.04 installer. Try one of the 20.04 installers here: https://github.com/NREL/EnergyPlus/releases/tag/v9.5.0.

[2021-05-10 19:43] mitchute commented on #5742
@EnergyArchmage it looks like you may have addressed this at least partially in a1b944553c97234540603e37740ba87670cc0adf, found in #5740. Can you confirm? If so, maybe we close this issue?

[2021-05-10 19:49] Myoldmopar commented on #8763
New tagline, thanks @bonnema !

@eapuertoc thanks for the updated info, but like @bonnema was saying there, we understand you are using Ubuntu 20.04, I think you just got the installer for 18.04 by mistake.  I'm not actually sure the output of `--help` will help here because it doesn't mention the target build platform.  Please try to download the 20.04 installer from the link that @bonnema provid

[2021-05-10 20:53] bonnema commented on #8763
@Myoldmopar you are correct (again😀) that `--help` won't actually, well, help. My bad.

Would a quick fix be to add the OS version to the buttons on https://energyplus.net/downloads? Then at least the user would be aware of what they're getting? Might apply to Mac as well (10.15 v. 11.2). Or have smaller links below like Windows has for 32-bit for the less-used version for Ubuntu and Mac?

Like:
*

[2021-05-10 20:54] Myoldmopar commented on #8763
Yeah, that's what we should do on the website.  And for future releases, we'll get the `--help` output modified to report the target version, again at least on Ubuntu.

[2021-05-10 20:58] Myoldmopar commented on #6897
This is woefully out of date.  Closing this.  If someone wants to investigate this and confirm the issue still exists and reopen it, go ahead!

[2021-05-10 20:58] #6897 closed, assigned to DeadParrot

[2021-05-10 20:58] #7759 closed, assigned to nobody

[2021-05-10 21:42] DeadParrot commented on #6897
@Myoldmopar Just to add a note that I have modified ObjexxFCL 4.3.0 with an option build-time define to control whether the fast or sanitzer-clean version is built. If/when it becomes important to pursue this further I can provide this version. (There is also an in-development 5.0.0 version with this same option as well as a lot of modernizations.)

[2021-05-10 23:41] eapuertoc commented on #8763
OK, now I understand. I just downloaded the 20.04 version in repository and works. My apologies, I download the version direct in the page and didn't notice the name of the install file said "1804". Thank you for you support.

[2021-05-10 23:41] #8763 closed, assigned to nobody

[2021-05-11 19:08] RKStrand commented on #8472
@mitchute @Myoldmopar I have implemented a potential fix to this issue and am starting to look at the results.  Given that this is a change to the CTF calculations, it is not all that surprising that there are a lot of diffs.  What I can say so far, based on the limited results that I have looked at, is that in general most differences are pretty small.  I have seen one case so far in what I have

[2021-05-11 19:14] mjwitte commented on #8472
@RKStrand suggested "...  or just leave this alone and implement some comments in the code and some additional documentation language?"
That would seem reasonable to me. Perhaps that is exactly why it was programmed as it is rather than truncating by the referenced method.

[2021-05-11 19:15] RKStrand commented on #8472
@mitchute @Myoldmopar I should have explained that the current code, due to an error, does actually include MORE terms than the algorithm that Seem's references from the 1970s.  To change the code to agree with Seem's dissertation, we would very likely be using FEWER terms than are currently used in EnergyPlus.  So, leaving the EnergyPlus code the way it is could be viewed as being more accurate b

[2021-05-11 19:17] RKStrand commented on #8472
@mjwitte My guess is that it was actually an oversight (mistake), rather than intentional.  But it's one of those few times where a mistake was actually preferable to what was supposed to be done.

[2021-05-11 21:05] mitchute commented on #8472
It seems reasonable to me that if this potential fix simply reduces the number of terms, which then in turn negatively affects the accuracy, then we can just proceed with a documentation-only fix. But if there's currently a problem with the method (which also negatively affects accuracy) that this would correct, then we should fix it.

[2021-05-13 01:04] jcyuan2020 opened #8768 "System Nodes outputs setting up too late for the Python Plugin"
Issue overview
--------------
In some simulations with Python Plugins, the system node output variables are set up too late (not till DoOutputReporting is active and after “reporting surfaces”). However, if a Python plugin requests the system node values, the variable handle request could happen as early as the sizing stage. In this scenario, the Python code would not get a proper handle and may r

[2021-05-13 01:44] Myoldmopar commented on #8768
Does the `api_data_fully_ready` API method already cover this?  https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/api/datatransfer.py#L258

It's purpose is a convenient way for users to avoid accessing data until the simulation is fully ready to go, and we already utilize it in our examples.

[2021-05-13 03:17] jcyuan2020 commented on #8768
@Myoldmopar Thanks! That bulk check for all the data worked well on this case. Obviously the user followed an example (looked like PythonPluginUserDefined5ZoneAirCooled.py) that does not use this `api_data_fully_ready' check function. Maybe trivial but  adding this check to this example file as well (or all there others if they are without the check)?

[2021-05-13 11:57] Myoldmopar commented on #8768
We can't change all of them to wait until that is true because there is at least one that needs to interact with the simulation very early -- the DiscreteAirSystemSizing example.  In this file the EMS and Python examples manipulate the autosized flow rate in the air system during the sizing process and if you wait until that flag is true it will be too late.  The others should _probably_ have the

[2021-05-13 13:40] rraustad commented on #8768
Reading this thread makes me think of all the dependencies for Node and other data. You can't have a node unless an object needs one, and you can't have an object until you read one, and you can't have a report variable until you know how many objects there are (and memory finalized), and some report variables are conditional on particular object information (e.g., child is 2-spd coil) etc. Would

[2021-05-13 15:54] RKStrand commented on #8472
There is currently no problems with the current method.  Accuracy is fine as far as I know and we've been using this equation since the beginning of EnergyPlus.  Reducing the number of terms could potentially make things less accurate.  We could increase the number of terms, but I do not have any reason to believe that this would make EnergyPlus more accurate.  I think what we would see is maybe a

[2021-05-14 19:57] paul-caicedo commented on #6581
[DOE-2.2](https://doe2.com/Download/DOE-22/?C=M;O=A) included ice rink object, and is present in the current version of eQUEST. Some information from [DOE-2](https://doe2.com/DOE2/index.html) could be useful.

[2021-05-14 20:49] Myoldmopar commented on #6581
There is already a pull request open to address this https://github.com/NREL/EnergyPlus/pull/8436

[2021-05-15 01:08] chenghaow commented on #8428
Similar issue found in LINUX. Copy IDD to the working directory should work. I guess this is a bug.

[2021-05-17 16:22] jcyuan2020 opened #8770 "Use gross ceiling surface area to calculate average ceiling height"
Issue overview
--------------
In the surface geometry, the ceiling height of a zone is calculated using the averaged ceiling height for all the ceiling (roof surfaces. For the case of multiple surfaces, a weight to each ceiling surface is given by the fraction of the individual ceiling surface area among the summed area of all the ceiling surfaces.

However, the area used for this weighting is the

[2021-05-18 15:36] RKStrand commented on #8472
@mitchute @mjwitte Ok, I've implemented the changes requested as per the comments above, merged in develop, and committed it all.  Should be ready for further inspection whenever you are able to get to it.  Thanks!

[2021-05-18 20:11] #8472 closed, assigned to RKStrand

[2021-05-19 05:38] jcyuan2020 opened #8772 "Missing simulation days when starting with a leap year and end with the next year"
Issue overview
--------------
It was reported that there are missing simulation days when dealing with leap starting year. For a full year simulation (expecting 365 days), one to two days of simulations were found missing at the end of the running period.

After some experiment runs, one common problematic scenario is when the simulation start year is a leap year, but the end year is next year. In

[2021-05-19 08:00] jmarrec commented on #8669
@fubingting I uploaded an aarch64 version on the release page: https://github.com/NREL/EnergyPlus/releases/tag/v9.5.0

EnergyPlus-9.5.0-de239b2e5f-Darwin-macOS11.2-arm64.dmg
EnergyPlus-9.5.0-de239b2e5f-Darwin-macOS11.2-arm64.tar.gz

Could you give it a shot?

[2021-05-19 11:59] jasondegraw commented on #8772
There's not enough information here to know if there is really an issue or not. I have no doubt that there are potentially issues, but whether the simulation has the "correct" number of days depends upon the RunPeriod and the weather file. A couple of basic questions are:

  * Is the RunPeriod "Treat Weather as Actual" field set to yes?
  * Is the start date before, on, or after 2/29?
  * Does the

[2021-05-19 13:37] jmarrec commented on #8721
I just hit it on a clean build of develop on Windows 10.

[code]

[2021-05-19 13:49] shorowit opened #8775 "Allow generic tags/properties for all objects"
Issue overview
--------------
Allow user-defined key/value properties (tags) to be attached to all EnergyPlus objects, similar to OpenStudio's [AdditionalProperties object](https://openstudio-sdk-documentation.s3.amazonaws.com/cpp/OpenStudio-3.2.0-doc/model/html/classopenstudio_1_1model_1_1_additional_properties.html). The OpenStudio object is described as follows:

This would allow EnergyPlus con

[2021-05-19 13:51] jcyuan2020 commented on #8772
@jasondegraw Thanks. Actually it would have problem for case that have everything specified as default without special specifications for weather files or "actual weather treatment". Just specify the simulation period from Oct 1, 2016 to Sep 30, 2021 in any file with default setting with typical default (blank) and typical weather file (default Atlantic weather with `HOLIDAYS/DAYLIGHT SAVINGS,No,0

[2021-05-19 14:18] RKStrand commented on #8732
I verified that this appears to be a problem in V9.5.  However, in current develop, the error messages noted above do not show up in the .err file.  It seems like there has been some work in this area of the code and it seems likely that this is no longer an issue.  As a result, I am closing this issue for now.

[2021-05-19 14:18] #8732 closed, assigned to nobody

[2021-05-19 14:50] #8748 closed, assigned to jmarrec

[2021-05-19 14:53] jasondegraw commented on #8772
@jcyuan2020 Well, 2016 is a leap year. But the simulation is starting after the leap day (so it shouldn't matter) but it looks like it is. The logic associated with this is complex, but it has to be because of the legacy of the way that dates were tracked in the original Fortran. The issue description is now to convoluted to follow, so you're going to need to edit that to make it clearer what the

[2021-05-19 15:19] jmarrec commented on #8722
I launched a clean windows VM and was able to reproduce the issue. I ran 5ZoneAircooled.idf, the BND is properly generated. HVAC-Diagram is called, but nothing is generated (no SVG)

Calling it directly, it cannot find `libgcc_s_seh-1.dll`

![image](https://user-images.githubusercontent.com/5479063/118811447-516ec900-b8ad-11eb-99f1-99d7e5a184e4.png)

`libwinpthread-1.dll `too

![image](https://use

[2021-05-19 19:44] #8753 closed, assigned to xuanluo113

[2021-05-19 21:47] shorowit opened #8776 "Fan:OnOff has zero fan power during cooling"
Issue overview
--------------
The attached IDF has a unitary system with `Coil:Heating:Fuel`, `Coil:Cooling:DX:SingleSpeed`, and `Fan:OnOff`.

During heating operation, the fan has the expected fan power (~189 W) but the fan has zero fan power during cooling operation (expected value is ~374 W).

IDF and timeseries output CSV attached.

[in.idf.txt](https://github.com/NREL/EnergyPlus/files/6511700

[2021-05-20 02:12] fubingting commented on #8669
Thank you very much. I'll try to install it.

[2021-05-20 08:38] jmarrec opened #8778 "LINK_WITH_PYTHON issue on windows"
Issue overview
--------------

I have a build error on windows. I've tried with both python 3.8 and 3.9.

find_package(PythonLibs 3 REQUIRED) outputs this:

[code]

As a result, PythonGetLibAndLinkUp  is called with the

[code]

so in PythonGetLibAndLinkUp it'll try to copy and install the non existing C:/Users/julien/Software/Others/EnergyPlus/src/EnergyPlus/optimized. So the resulting package is

[2021-05-20 09:03] jmarrec commented on #8778
I'm pretty sure that the reason I'm getting problem is because **I explicitly installed the DEBUG libraries when I installed Python**, so cmake finds both.

[2021-05-20 14:59] EnergyArchmage commented on #7999
There are two places to make the code change to use tariff(iTariff).kindGasMtr >= kindMeterGas

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/EconomicTariff.cc#L4099

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/EconomicTariff.cc#L4298

[2021-05-20 17:36] Myoldmopar commented on #8763
OK, I am tackling the `--help` issue now.  In a local branch I now have it able to report out the platform that the package was built on:

[code]

That will help diagnose when something goes wrong.  I have also submitted a request to tweak the Downloads page to indicate the Linux packages are available for **either** 18.04 or 20.04, which should help users get the correct version.

Thanks to those

[2021-05-20 17:55] Myoldmopar commented on #6292
Yeah, given the new API land, I think we should close this.

[2021-05-20 17:55] #6292 closed, assigned to nobody

[2021-05-20 18:02] Myoldmopar commented on #8768
@rraustad I think that is a valid assessment and would love to explore it more in a different context.  Perhaps it is a good fit for a [discussion](https://github.com/NREL/EnergyPlus/discussions)?

@jcyuan2020 it looks like most of the Python example files do utilize the `api_data_fully_ready` check, but the user defined doesn't (because it doesn't need to due to the nature of user-defined objects

[2021-05-20 18:02] #8768 closed, assigned to nobody

[2021-05-20 18:15] Myoldmopar commented on #8194
I think my note about building a custom package still applies as a workaround to avoid the bulk of the Python interpreter and library.  And I feel I should note that has _nothing_ to do with being able to call EnergyPlus via API, so that would be fully available even if the Python "Plugin" system wasn't build into the package.  I think this issue is OK to close now, reopen if it needs more discuss

[2021-05-20 18:15] #8194 closed, assigned to nobody

[2021-05-20 18:16] Myoldmopar commented on #8710
@bonnema do you anticipate addressing this?  I'm not pressuring you to, but if you aren't, maybe we just close it as "wont-fix" unless someone else wants to volunteer their time.

[2021-05-20 18:17] Myoldmopar commented on #7563
@mjwitte any updates on this?  Just tidying up some quiet issues.  Thanks!

[2021-05-20 18:22] mjwitte commented on #7563
No updates from me. It appears to be a real issue for meters. Fair game for anyone who wants to try fixing it.

[2021-05-20 18:30] DavidHollman commented on #8194
Also, I can confirm that running without python using the "9.3-bugfix" release works fine. Sorry I didn't remember to update back here sooner after I tried that out.

[2021-05-20 20:04] cskarupa commented on #8333
I am getting this same error - was anything ever figured out?

[2021-05-20 20:05] mjwitte commented on #8333
Not yet, use the workaround:
Copy the v9.3 basement.exe file over the v9.x basement.exe. It may be found in EnergyPlusV9-3-0\PreProcess\GrndTempCalc\

[2021-05-20 20:07] mjwitte commented on #8333
Well, actually, it depends on which error you are referring to and which platform.

[2021-05-20 20:09] cskarupa commented on #8333
Yeah I think that's what I'm going to do. I'm referring to the same issue as your first post - running 9.4 and 9.5 produces same fatal error on Windows. But runs with 9.3 Basement.exe file. Thanks!

[2021-05-20 20:55] mitchute commented on #8568
I just built the I/O Ref on my Windows VM from b2b28f60b756e9706312c25438883442396a7334. The TOC *is* present.

[2021-05-20 21:04] LipingWang opened #8780 "Incident beam radiation calculation in the green roof model"
Issue overview
--------------
In the current green roof (eco-roof) model, the solar incidence angle was not considered for the calculation of the shortwave radiation, specifically the incident beam radiation term. This shortwave radiation was used in both vegetation and soil energy balance equations in this model for green roofs. This could affect plant evapotranspiration and temperatures for soil

[2021-05-20 21:57] EnergyArchmage commented on #8568
Is the doc full length?

[2021-05-20 22:58] mitchute commented on #8568
It appears to be. 2805 pages that go through the end of Appendix A.

[2021-05-21 15:23] #8760 closed, assigned to nobody

[2021-05-21 17:34] matthew-larson opened #8782 "HeatPump:PlantLoop:EIR:* allows simultaneous heating/cooling with just a warning"
Issue overview
--------------
When using the HeatPump:PlantLoop:EIR:* objects with companion coils, there is nothing to prevent the heating/cooling heat pumps from operating simultaneously, only a warning is produced at the end of the error file.  Since this can cause significant error in the modeling with simultaneous heating/cooling, I propose either a fatal error with more description to assist

[2021-05-21 19:27] LipingWang opened #8783 "Unexpected CO2 and relative humidity results for mixing zones"
Issue overview
--------------
An EnergyPlus model with mixing zone objects generated unexpected CO2 concentrations and relative humidity results. The model has four thermal zones and each zone has the same CO2 generation and infiltration rates. There are two non-mixing zones and two mixing zones. For the two mixing zones, each zone serves as both the "source" and "receiving" zone. With v9.5, CO2 c

[2021-05-22 19:59] eugeniorodrigues opened #8785 "Surface wind exposure is affected inconsistently by the building North axis angle"
Issue overview
--------------
Following the exercise reported in issue #8700, a single thermal zone with a parallelepiped shape has its annual energy consumption for heating and cooling (HVAC Template Zone Ideal Load System) calculated for every angle of the 360° of the building North axis. When the building surfaces have their field for wind exposure with 'NoWind', we have a smooth curve ([Fig. 1

[2021-05-24 17:57] Myoldmopar commented on #8763
Download page updated: https://energyplus.net/downloads:

![image](https://user-images.githubusercontent.com/849824/119388152-843f0580-bc8f-11eb-9462-0c33afcb2901.png)

[2021-05-25 14:49] #8705 closed, assigned to nobody

[2021-05-25 15:56] Myoldmopar commented on #6690
With the advent of the data exchange API, and the ≈π number of years since last activity, I think this can be closed.

[2021-05-25 15:56] #6690 closed, assigned to nobody

[2021-05-26 17:43] mjwitte opened #8788 "err and audit outputs are empty with PixelCounting on Windows"
Issue overview
--------------
SolarShadingTestGPU (or any file with PixelCounting) completes successfully, but the err and audit output files are empty, only on Windows.

### Details
Some additional details for this issue (if relevant):
 - Platform Windows 10 ( (tested on 3 different machines, 2 AMD and 1 Intel)
 - Linux and Mac are fine.
 - And v9.4.0 on windows is fine.
 - EnergyPlus 9.5.0 relea

[2021-05-26 18:08] mjwitte commented on #8412
@nmerket Any advice for @jmarrec

[2021-05-26 19:58] matthew-larson opened #8790 "Component Sizing Summary Report table headers are redundant in using the word "Design""
Issue overview
--------------
The column headers for a number of tables in the Component Sizing Summary Report is redundant in using the word "Design".  Examples of this are shown below:

![image](https://user-images.githubusercontent.com/17144687/119707869-e119f780-be18-11eb-8dfe-1a8a5fb80701.png)

![image](https://user-images.githubusercontent.com/17144687/119708321-47067f00-be19-11eb-81e3-3fa40

[2021-05-26 22:30] mjwitte commented on #8788
Here's where it crashes when run in the debugger.
![image](https://user-images.githubusercontent.com/4991075/119739420-d3c83180-be47-11eb-8a47-7b4d3580e575.png)

[2021-05-27 17:47] RKStrand commented on #8785
@eugeniorodrigues I'm starting to get a clearer picture as to what is going on here.  First, the weather file shows a constant wind speed and direction for the entire year.  That seems a bit odd, but perhaps that is due to the weather file source data?  In any case, the wind direction is always 0 and this plays a role in the phenomenon that you are seeing and I am also seeing on my computer.

The

[2021-05-27 18:06] #5000 closed, assigned to nobody

[2021-05-27 18:10] mjwitte commented on #8785
@RKStrand The current test was part of a change from >100 to >90 in https://github.com/NREL/EnergyPlus/pull/7458. So, I think it's fine. If the wind is coming from the north, for example, then walls facing east and west will see the full wind flow across them, so they are just as windward (if not more) than the north facing wall. So, I think this is fine as-is.

[2021-05-27 18:32] RKStrand commented on #8785
@mjwitte Ok, we can leave it as is then.  I'll close this off when I log this comment.

[2021-05-27 18:32] #8785 closed, assigned to RKStrand

[2021-06-01 17:05] mitchute commented on #8547
@yzhou601 was this fixed by #8464 or is there still work to be done on this?

[2021-06-01 17:11] mitchute commented on #8433
@jmarrec can you confirm that #8574 addresses this?

[2021-06-01 17:16] mitchute commented on #8395
Current status

![Screen Shot 2021-06-01 at 11 13 19 AM](https://user-images.githubusercontent.com/2985979/120364351-60e90b80-c2ca-11eb-812c-3d765b749ece.png)

Do we need to do more here? Any point in noting that Mac OS 11 is also supported?

@Myoldmopar @jmarrec

[2021-06-01 17:33] bonnema commented on #8395
Related to #8763 also.

[2021-06-01 19:10] mitchute commented on #7500
I have a branch locally that addresses this. I will push it up once I get write access to the repo.

[2021-06-01 19:19] mitchute commented on #7168
This was updated about a year ago by @kflemin. Closing, but feel free to open again in another 10 years 😄

[2021-06-01 19:19] #7168 closed, assigned to nobody

[2021-06-01 19:33] mitchute commented on #6568
The issue is addressed by #7776.

[2021-06-01 19:33] #6568 closed, assigned to nobody

[2021-06-01 19:36] mitchute commented on #8277
- [x] Address #7006

[2021-06-01 19:42] mitchute commented on #8277
- [x] Maybe address #6974, but that might be too much for this task.

_RKS: Took some time, but I have now gone through ALL of the EMS actuator calls in the code and have corrected all of their appearances in the EMS docs._

[2021-06-01 20:02] mitchute commented on #8395
I ran a basic test using 9.5 on my OS 11.4 Mac with an Intel chip and it worked just fine. I'm closing this for now since we don't have any way to "officially" support anything above 10.15. The current release page looks great.

[2021-06-01 20:02] #8395 closed, assigned to nobody

[2021-06-01 20:14] mitchute commented on #8721
I don't think having multiple ```lstlisting``` instances in the same file should cause problems. That should just be one of the ways we are able to add non-formatted text to the docs, like code or IDD/IDF snippets.

https://en.wikibooks.org/wiki/LaTeX/Source_Code_Listings

There *may* still be I/O Ref TOC issues on Windows (#8568), but I'd be surprised if it's related to this. I think I'll go ahea

[2021-06-01 20:14] #8721 closed, assigned to Myoldmopar

[2021-06-01 20:32] mitchute commented on #7631
I'm pretty sure this isn't going to get fixed. You've provided a good workaround for anyone that may encounter this issue in the future. Closing.

[2021-06-01 20:32] #7631 closed, assigned to nobody

[2021-06-01 20:43] mitchute commented on #7000
This is now happening, but I'm having trouble tracking down which PR added this feature. Closing this, but the interested code detective can feel free to tag the PR here for reference.

[2021-06-01 20:52] mitchute commented on #6670
Good sentiment, but yeah... I think everyone is doing their best to triage the most important issues. #5892 is still a valid issue, so unless there are other *specific* issues that are not already noted in the issues list, I'm going to close this.

[2021-06-01 20:52] #6670 closed, assigned to nobody

[2021-06-01 21:02] mitchute commented on #5157
This was added in #8779. Closing.

[2021-06-01 21:02] #5157 closed, assigned to nobody

[2021-06-01 21:12] mitchute commented on #8277
- [x] Noting #4306 here. Move it to a new docs PR if it doesn't get addressed in this go-round.

[2021-06-01 21:13] mitchute commented on #4178
Looks like this was completed in #4176. Closing.

[2021-06-01 21:13] #4178 closed

[2021-06-01 21:18] yzhou601 commented on #8547
@mitchute Yes, it is not resolved by #8464 because the issue is not caused by the change proposed there. This issue is opened for https://github.com/NREL/EnergyPlus/pull/8464#issuecomment-781417709. An unused var warning is thrown by function `PerformanceCurveObject` for `Optional<Real64 const> Var6`. Edwin temporarily marked it as `maybe_unused ` to get rid of the warning. He suggested taking a b

[2021-06-01 21:19] mitchute commented on #8725
So... I made a duplicate issue here? (#8736). This was addressed by #8724. Closing.

[2021-06-01 21:19] #8725 closed, assigned to mitchute

[2021-06-01 21:22] mitchute commented on #8547
Thanks for noting that @yzhou601. Are you planning on addressing this or is it available to others?

[2021-06-01 21:26] Myoldmopar commented on #7000
CI actually isn't building it, @jmarrec simply builds it and posts it.  To set this up, I think we need to get all the Github Action packaging workflows into one yaml file so that you can define a post-run job when they are all completed that will grab all the finished package files, download them, md5 them, and then create a hash file and post it to the release.

Honestly it's probably sufficient

[2021-06-01 21:29] mitchute commented on #7000
Ah, thanks for pointing that out. I'll reopen the issue.

[2021-06-01 21:46] RKStrand commented on #8700
7. Also need to fix a typo in DataErrorTracking.hh.  Look for "repciprocity" and correct.

[2021-06-01 22:10] eugeniorodrigues commented on #8785
I have run new series with a different weather file that has wind direction recorded up to 1° resolution. The existence of prevailing wind directions produces the same spikes ([Fig1 - Total Energy](https://www.dropbox.com/s/s56p4xarqp92efd/Figure_example_wind_direction.png?dl=0), [Fig2 - Cooling Energy](https://www.dropbox.com/s/oc5e1nfjceeqyyd/Figure_example_wind_direction_cooling.png?dl=0), [Fig

[2021-06-01 22:38] RKStrand commented on #8785
@eugeniorodrigues Thanks for following through with another weather file and taking it out to such resolution.  I'll admit that it is a little disappointing to see the spikes that you are finding.  I guess the thought that we might be hitting some random times when the wind speed is lining up close enough at various angles that it could be the two vs. three surfaces windward could still be valid.

[2021-06-01 22:42] eugeniorodrigues commented on #8785
@RKStrand Yes, the spikes repeat in a 180° pattern due to the parallelepiped shape of the building. If it is a cube, repeats in a 90° pattern, and so on for every extruded regular shape. In addition, the spikes also increase if the building is elevated in altitude due to the wind boundary layer wind speed adjustment.

[2021-06-01 23:21] eugeniorodrigues commented on #8785
@RKStrand Another information that might be relevant. The spikes are more evident in warm climate weather files than in cold ones (affects mainly cooling energy).

[2021-06-02 08:15] jmarrec commented on #7000
I'm fine if people want to call me "CI bot" and just close this issue.

I don't think computing md5sum is warranting complicated changes to the workflows: we've been over this: putting everything into the same yaml is a bad idea (I know: I tried and changed my mind).

I would however consider adding to each workflow yaml a step that computes and output its (to the GHA console, slack notification t

[2021-06-02 09:58] jmarrec commented on #8433
@mitchute that's a typo, I meant #8483 - pyenergyplus: system exit called when energyplus can't run

[2021-06-02 14:52] shorowit opened #8797 "Spaces in Python path removed"
Issue overview
--------------
A user on Unmet Hours reported the following issue:

Apologies if this has already been reported/addressed, I couldn't find anything in a quick search.

### Details
Some additional details for this issue (if relevant):
 - Windows
 - EnergyPlus 9.5
 - https://unmethours.com/question/50207/python-plugin-for-energyplus-issues/?answer=55171#post-id-55171

### Checklist
Ad

[2021-06-02 15:28] Myoldmopar commented on #8797
I haven't confirmed the defect on Windows, but I was able to get it running fine on Linux using a path with spaces.

I took a PythonPlugin based IDF and Python pair, put the IDF in one folder, then the Python script in a folder with spaces.  In the IDF it has:

[code]

The file runs fine and has this in the error file:

[code]

We are definitely not trying to remove or alter the path prior to aski

[2021-06-02 16:45] mjwitte commented on #8797
Windows may need the path to be enclosed in quotes if is has spaces or other special characters that it thinks are delimiters.

[2021-06-02 18:38] RKStrand commented on #8785
@eugeniorodrigues At the moment, it isn't clear what exactly is causing the blips in the data that you are seeing.  I am not seeing any flaw in the wind direction dependence.  A couple of things to think about: have you tried any other convection model available in EnergyPlus?  Also, have you tried regular construction walls/floors/roofs?  What you have right now is a no-mass material that makes u

[2021-06-02 18:59] yzhou601 commented on #8547
It's available to others.

[2021-06-02 23:13] eugeniorodrigues commented on #8785
@RKStrand Thank you for your time. I have run new five series covering all Outside Surface Convection Algorithms (SimpleCombined, TARP, MoWiTT, DOE-2, and AdaptiveConvectionAlgorithm). Previous runs used DOE-2. The [weather file](https://www.dropbox.com/s/2x5wylazk87wbr2/PRT_LB_Lisboa.Portela.AP.085360_TMYx.2004-2018.epw?dl=0) is the same. Results below.

Note: In this post and in the previous one

[2021-06-03 14:53] RKStrand commented on #8700
Intermediate update: the initial problem where the file was generating a "view factors not complete" is a result of the internal mass area being almost the same but just barely smaller than the area of the remaining surfaces in the zone.  The problem when one surface's area is greater than the area of all the other surfaces is that you do not have an enclosure.  There is a section of the code the

[2021-06-03 15:56] lafrech commented on #7918
I'm also affected.

I just installed EnergyPlus 9.5.0 (Ubuntu 18 version) on Debian Buster and I can't launch `IDFVersionUpdater`.

[code]

Those Q&A shed some light on the error message:

- https://unix.stackexchange.com/questions/49393/command-binary-exists-but-cannot-be-executed
- https://unix.stackexchange.com/questions/13391/getting-not-found-message-when-running-a-32-bit-binary-on-a-64-bit-s

[2021-06-03 16:39] eugeniorodrigues commented on #8700
@RKStrand I have run your suggestion with 2785m2 of internal mass surface area. It is smooth.

[Fig1](https://www.dropbox.com/s/eiewxa2w6g6z58y/Fig6_With_Internal_Mass_2785m2.png?dl=0) - Full graph

It seems to overestimate in 45°, 135°, 225°, and 315° and underestimate in 0°, 90°, 180°, and 270° (or overestimated the intervals 45°-89°, etc.) but probably is something else because shows the same b

[2021-06-03 16:39] jcyuan2020 opened #8800 "Vertical insulation thickness misused as Horizontal Insulation thickness in ground coupled slabs domain partitioning"
Issue overview
--------------
There are a few reports regarding the Site:GroundDomain:Slab object’s horizontal insulation thickness not affecting the energy results (e.g. heating energy) whereas it is actually expected to do so. This problem is observed in both InGrade slabs (see helpdesk ticket 15426, reported in Issue #7881, and helpdesk ticket 15723), and also OnGrade slabs (see helpdesk ticket

[2021-06-03 17:11] jcyuan2020 commented on #8277
- [x] Page 111 in InputOutputReference.pdf (v9.5), Figure 1.8: The figure is actually for ground domain basement. However, the caption of the figure says it is "on-grade" configuration, which is incorrect:

![image](https://user-images.githubusercontent.com/64040111/120684665-96c1f780-c464-11eb-8250-e995f1e567bb.png)

Ref to Issue #7881 and helpdesk ticket 15723.

_RKS--The issue here is that the

[2021-06-03 19:17] mjwitte opened #8802 "Air System Outdoor Air Limiting Factor can be wrong for simple OA controls due to tiny differences"
Issue overview
--------------
Air System Outdoor Air Limiting Factor uses several < or > tests to determine if the OA flow rate has been constrained by a particular limiting factor (e.g. economizer, OA schedule, etc.). For simple OA controllers with no economizer, no min OA schedule, and no other constraints, this should always be zero. But occasional 1s show up due to tiny differences in comparin

[2021-06-04 08:54] jmarrec commented on #7918
This is because this older fortran utility program tries to actually write stuff to the current working directory...

It is not trying to read Energy+.idd, it is trying to **write** `/usr/local/EnergyPlus-9-5-0/PreProcess/IDFVersionUpdater/Energy+.ini` (and will also write Transition.audit and co later).

If I do it in my local build folder (or run as sudo in the installed one):

[code]

[2021-06-04 08:59] jmarrec commented on #7918
If you are looking for another workaround than running via sudo, this is how to do launch the Transition utility manually inside another folder.

[code]

[2021-06-04 09:07] lafrech commented on #7918
Ah, you're right, I got confused, mixed up .idd and .ini.

I confirm your workaround works.

It is not just about "writing in the current dir" but rather "writing in the dir containing the .idd files".

I guess it is fair to call this a bug. Unfortunately I won't be able to help fixing it.

Thanks for the workaround.

[2021-06-04 10:40] jmarrec commented on #7918
This doesn't matter one bit :) , but that's incorrect. It does write the Energy+.ini to the current directory.

[code]

The key point is what the IDFVersionUpdater does. The current directory **is** the exe location.

[2021-06-04 10:44] jmarrec commented on #7918
Oh I forgot about this: https://github.com/Myoldmopar/IDFVersionUpdater2

[2021-06-04 10:53] lafrech commented on #7918
I understand "current directory" as "directory where the command is launched from" not "directory where the binary file is located".

[code]

The current dir here would be `/home/user/tmp`.

Anyway, it doesn't matter. I think we agree about what actually happens.

Thanks for the link.

[2021-06-04 10:58] jmarrec commented on #7918
FYI I don't know how functional the IDFVersionUpdater2 is. Apparently  have a one year old PR specifying that I couldn't actually run the transition https://github.com/Myoldmopar/IDFVersionUpdater2/pull/1

(PS: We have the same definition. Like I said the point is what the IDFVersionUpdater does. It just calls the invididual Transition-VXXX via a system call, and when _these_ run the cwd is the lo

[2021-06-04 12:20] lafrech commented on #7918
Oh, OK. .idd vs. .ini confusion again.

IIUC:

IDFVersionUpdater calls Transition binary with its location a CWD. Transition binary tries to write .ini in this location and fails.

Transition binary can be called from another working directory but it will look for .idd files in CWD, not relative to its own location. This works, as long as it is called from the IDFVersionUpdater directory, but not

[2021-06-04 13:49] RKStrand commented on #8700
@eugeniorodrigues Thank you for running that additional series of runs and sharing the results.  I think that is what I needed to see because it appears to verify that the view factors are the problem.  I am going to implement a modified check to the code to trap cases like this one to avoid the strange variations that you saw in the initial case.  When implemented, your original file should have

[2021-06-04 14:32] shorowit commented on #8797
Looks like there is no bug here after all. The user updated their response:

[2021-06-04 14:32] #8797 closed, assigned to nobody

[2021-06-04 14:34] eugeniorodrigues opened #8804 "Surface Outside Face Outdoor Air Wind Direction equals to Site Wind Direction"
Issue overview
--------------
When asked to output the 'Surface Outside Face Outdoor Air Wind Direction', the output values are equal to the output 'Site Wind Direction'. The same happens for 'Surface Outside Face Outdoor Air Wind Speed' ('Site Wind Speed'). Both happen for all surfaces. Shouldn't the outputs be relative to each individual surface? Thanks.

### Details
 - macOS Big Sur 11.4
 - Ene

[2021-06-04 15:51] RKStrand commented on #8700
@mjwitte Re: my previous post here regarding 6. OriginalCheckValue = 0.  After being in this code now a lot more, I think it solidifies my initial thought that skipping the routine when this is zero is not the right approach for the reason I gave.  It is totally possible for this parameter to be zero (meaning that is satisfies completeness) without satisfying the reciprocity requirement.  So, skip

[2021-06-04 16:43] mjwitte commented on #8804
No. 'Surface Outside Face Outdoor Air Wind Direction' (which apparently is not described in the Input Output Reference) is intended to report the actual wind direction at the surface which may be different from the site wind direction when using OutdoorAir:Node with SurfaceProperty:LocalEnvironment or ZoneProperty:LocalEnvironment. It can also be modified using EMS. Tagging this as a documentation

[2021-06-04 17:15] mjwitte commented on #8700
@RKStrand Regarding comment 5 [above](https://github.com/NREL/EnergyPlus/issues/8700#issuecomment-814937167)

The eio for the original defect file with one internal mass surface shows identical view factors for initial and final. But with 2 internal mass surfaces, the initial and final view factors are different. I don't see now why I thought the view factors were incomplete. So, disregard this co

[2021-06-04 19:06] matthew-larson commented on #5610
Looked into this and the WaterUse:Equipment description for the Peak Flow Rate states that this is for the "The peak demanded hot water flow rate".  So the fact that the hot water system and PlantLoop object are sized based on this input makes sense and is not a bug.  The hot water flow rate is reduced based on the target temperature and the mixing with cold water.

[2021-06-04 19:06] #5610 closed, assigned to matthew-larson

[2021-06-04 20:04] matthew-larson opened #8806 "No error/warning if DHW hot water temp is less than the cold water temp"
Issue overview
--------------
If a user accidentally sets the hot water temperature to a value below the cold water temperature in the WaterUse:Equipment object, WaterUse:Connections object, or PlantLoop outlet temperature, there is no error or warning and if the Target Temperature is above the Hot Water Temperature, the Hot Water Mass Flow Rate will be set to it's peak flow rate.  This results in

[2021-06-04 20:18] mjwitte commented on #8806
See also #7133 and related issues mentioned there.

[2021-06-04 20:20] mjwitte commented on #8806
And somewhat related to this (if I remember correctly but I can't find an open issue) is that there is no warning or way to know if the water heater capacity is inadequate and the supply temperature is below the target, it just delivers cool water and moves on.

[2021-06-07 15:44] matthew-larson commented on #8806
I can create a pull request that addresses this and #7133 and also look into the inadequate water heater capacity.

[2021-06-08 18:33] eringold commented on #8277
- [x] InputOutputReference describes MaterialProperty:PhaseChangeHysteresis inputs 'Peak Melting Temperature', 'Peak Freezing Temperature' as "in Kelvin", but EnergyPlus idd lists the units for these fields as `\units C`.

[2021-06-08 20:29] RKStrand commented on #8277
This issue is now being worked on.  For any further documentation issues, please start a new issue.  Thanks!

[2021-06-09 17:35] RKStrand commented on #8277
@jasondegraw @JasonGlazer @jmythms @mitchute @mjwitte
Any progress on the issue listed here regarding the following?

https://github.com/NREL/EnergyPlus/issues/7760#issuecomment-585356366

[2021-06-09 17:49] mitchute commented on #8277
Nothing from me. I'll defer to @jasondegraw and @mjwitte on the right direction to go.

[2021-06-09 18:10] nmerket commented on #8412
@jmarrec @mjwitte So sorry I dropped this. I'll pull your branch and take a crack at fixing it. Thanks for making the unit test!

[2021-06-10 05:10] matthew-larson opened #8812 "EnergyPlus Hard Crash: Error file cut short when autosizing not set up correctly"
Issue overview
--------------
When a model does not include SizingPeriod:* objects and "Do Zone Sizing" and "Do Plant Sizing" inputs are turned off but HVAC fields are set to "Autosize", the model generates an appropriate warning but continues to run and then experiences a hard crash further along in the simulation, burying the warning associated with the sizing issue.  If the model does not inclu

[2021-06-10 16:45] #8500 closed, assigned to Myoldmopar

[2021-06-10 18:04] matthew-larson commented on #8010
Closed with #8454.

[2021-06-10 18:04] #8010 closed, assigned to matthew-larson

[2021-06-10 21:51] #7999 closed, assigned to nobody

[2021-06-11 12:13] RKStrand opened #8814 "Availability Manager List Name for AirLoopHVAC:OutdoorAirSystem not working"
Issue overview
--------------
During work on #8277 on the following comment:

https://github.com/NREL/EnergyPlus/issues/8277#issuecomment-724148005

it was discovered that the Availability Manager List Name for the AirLoopHVAC:OutdoorAirSystem does not do anything.  Leaving it blank produces the exact same results as scheduling it on or off or using any other availability manager.  While the docum

[2021-06-11 16:18] JasonGlazer commented on #8433
It would be good if when the API is called that you can tell it where the utility programs will be located. Maybe define a new API function that takes a path to them?

In addition, if the suggested path is not set or does not contain the utility programs, it would be good if EnergyPlus generated a more understandable error message than "ERROR: Could not find ExpandObjects executable: /Users/<snip>

[2021-06-11 16:24] JasonGlazer commented on #6562
@nealkruis @Myoldmopar @jasondegraw is this still in progress or would it make more sense to close this one?