[2016-03-31 20:36] JasonGlazer opened #5586 "IDF Editor - when creating new objects once a name is added automatically name referenced nodes"
Would probably need a new slashcode to describe the "suffix" to add to the name of the object for each node that is referenced.

[2016-03-31 20:38] JasonGlazer opened #5587 "IDF Editor - add wizard for assembling branches and loops when objects are selected"
Create a wizard that would allow components that are not connected to any branches yet to create the branches, branch lists, mixers, splitters, etccc

[2016-03-31 23:33] JanRaets opened #5589 "RunMultiDir.bat still refers to version 7-1-0"
## Issue overview

The RunMultiDir.bat file has it's maindir location hardcoded to:
: maindir - change if you did not install in default folder (to be safe, use quotes)
SET maindir="C:\EnergyPlusV7-1-0\"

Which should be updated to the appropriate version number for the release (in case of 8.5):
: maindir - change if you did not install in default folder (to be safe, use quotes)
SET maindir="C:\En

[2016-03-31 23:41] rraustad commented on #5544
see PR #5590

[2016-04-01 20:02] JasonGlazer opened #5591 "Negative Surface Window Total Absorbed Shortwave Radiation Rate"
When working on #5312 noticed that many files were causing diffs when line was added to make sure that the three following output variables were never negative:

Surface Window Total Glazing Layers Absorbed Solar Radiation Rate [W](Hourly)
Surface Window Total Glazing Layers Absorbed Shortwave Radiation Rate [W](Hourly)
Surface Window Total Absorbed Shortwave Radiation Rate Layer 1 [W](Hourly)

Wh

[2016-04-01 20:05] mjwitte commented on #5591
It may not be enough to just clip QRadSWwinAbs at 0.  Is it calculated independently, or is it the remainder of Incident less Reflected and Transmitted?

[2016-04-04 20:20] JasonGlazer commented on #5006
Added defect file:

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5006

[2016-04-05 14:12] EnergyArchmage opened #5592 "AirTerminal:SingleDuct:VAV:Reheat:VariableSpeedFan has heating control problem"
## Issue overview

During work on a separate project (to add new fan) found that AirTerminal:SingleDuct:VAV:Reheat:VariableSpeedFan has control problems during heating.

The example file called 5ZoneSupRetPlenVSATU.idf shows the problem.  During the morining hours of the Jan 14 day, there are some instances where the air flow rate toggles up to the maximum.  The model thinks it needs cooling and r

[2016-04-06 19:17] lymereJ opened #5596 "VRF System ReverseCycle Defrost Strategy - Missing EIR=f(T) curve"
## HVACTemplate:System:VRF doesn't assign a default curve for "Defrost Energy Input Ratio Modifier Function of Temperature Curve" when ReverseCycle is selected

When using the HVACTemplate:System:VRF object and selecting ReverseCycle as "Defrost Strategy", no default curves get assigned to "Defrost Energy Input Ratio Modifier Function of Temperature Curve" of the AirConditioner:VariableRefrigeratn

[2016-04-07 00:03] rraustad opened #5597 "Max iteration warnings from annual simulation using 5ZoneCAV_MaxTemp example file."
## Issue overview

Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating

[2016-04-07 00:04] rraustad commented on #5597
Example file changed to annual simulation causes:

[code]

[2016-04-07 00:40] mjwitte commented on #5592
I've long contended that CurDeadBandOrSetback should not ever be needed
- that all equipment should be able to make a proper control decision
  based  on remaining load to heating setpoint and remaining load to
  cooling setpoint, but I haven't pursued going through every terminal
  unit and system control to see if this is possible.

[2016-04-07 16:39] JasonGlazer commented on #5562
@mjwitte I am planning on adding three new options to display the Output:Table:SummaryReports for the Tariff Report, Economics Results Summary Report, and Life-Cycle Cost Report. I believe those are currently the only three reports that just appear without being specifically requested. They currently appear when tariff or lifecycle cost objects appear. I am making the change requested by a user to

[2016-04-08 14:19] EnergyArchmage commented on #5591
The windows can transmit shortwave from the zone to the outside. Make sure these negatives aren't related to that.

[2016-04-08 17:02] ecoeficiente opened #5599 "EAp2-4/5. Performance Rating Method Compliance Table grouped Receptacle Loads"
## Issue overview

In _Output:Table:SummaryReports_, _EAp2-4/5. Performance Rating Method Compliance_ table, Receptacle Equipment includes unregulated loads (at least this happens with _Fans-Parking Garaje_, have not checked the rest). However, in _LEED Minimum Energy Performance Calculator_ excel (the one to be filled for a submittal), receptacle equipment is separated from other end-uses such as

[2016-04-08 18:50] mjwitte opened #5600 "Remove deprecated Branch Maximum Flow Rate field"
## Issue overview

This is a follow-up to #5582 which deprecated the Branch object Maximum Flow Rate field.  The field is still in the IDD, so _when the time is right_, this issue will
- [ ] Remove the field from the IDD
- [ ] Add the transition rule.
- [ ] Remove the field as needed in expandobjects
- [ ] Update (nearly all) the test files
### Checklist

Add to this list or remove from it as appl

[2016-04-08 19:11] eringold opened #5601 "Inconsistent cooling coil 'heat exchanger configuration' default between documentation and idd"
## Issue overview

For Coil:Cooling:Water, Engineering reference [states](http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-heating-and-cooling-coils.html#field-heat-exchanger-configuration): "Air-conditioning systems generally use cross flow heat exchangers, hence the default is set to cross flow." However, the idd has:

  A8 , \field Heat Exchanger Configuration
       \type

[2016-04-08 19:28] mjwitte commented on #4884
DX coils do not currently report the coil design load (before all the adjustments to rated conditions).  Should also report the outdoor drybulb temperature and humidity ratio at the time of the coil design load.  User also requests that the rated capacity adjustment factor (CapfT@design load conditions) be reported as well.

[2016-04-08 23:13] mjwitte commented on #4580
Close via #5312

[2016-04-08 23:13] #4580 closed

[2016-04-11 12:41] JasonGlazer opened #5602 "LEED EAp2-4/5 Table in JtoKWH not converted properly"
The LEED EAp2-4/5 Table when using OutputControl:Table:Style set to JtoKWH, Electric Energy Use column as well as other columns are shown in GJ instead of kWH. Using EnergyPlus 8.5.0
- [x] Defect file added ([5602](https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5602))
- [x] Ticket added to Pivotal for defect (development team task)
- [x] Pull request created (the pull r

[2016-04-11 21:56] mjwitte commented on #5020
Same issue also raised in helpdesk ticket 11215.

[2016-04-11 22:09] mjwitte opened #5603 "Documentation Issues - April-August 2016"
- [x] In the IDD, WeatherProperty:SkyTemperature, the Schedule Name field can accept either a day schedule or an annual schedule, but the object-list reference only points to day schedules.

[code]

Suggest changing the above to two lines:

[code]

Then delete the three occurences of \reference ScheduleAndDayScheduleNames

_Addressed in #5817_

[2016-04-11 23:32] mjwitte opened #5604 "Sky temperature is always zero when weather file has subhourly data"
## Issue overview

User's initial concern was that WeatherProperty:SkyTemperature had not impact on the simulation results.  It turns out that something about the user's custom weather file was causing the sky temperature to always be zero, with and without the WeatherProperty:SkyTemperature object.
1.  Whatever is in the weather file that results in sky temperatures of zero should generate a warn

[2016-04-11 23:35] mjwitte commented on #5604
Also see first item in #5603

[2016-04-12 00:21] lklawrie commented on #5604
The problem is that the user weather file is a multiple interval file (4 intervals per hour) and the part of the if that includes the setting for scheduled sky temperatures should also be in the "else" of this if.  I can modify the Fortran in v8.1 to test and then include.

[2016-04-12 15:06] JasonGlazer opened #5605 "EP-Launch add option to choose alternative epl-run batch files"
In EP-Launch some advanced users utilize multiple epl-run.bat batch files and it would be good to allow an option to select between them.

[2016-04-12 15:28] JasonGlazer commented on #5587
Moving this suggestion to an issue that lists all IDF Editor suggestions.

[2016-04-12 15:28] #5587 closed, assigned to JasonGlazer

[2016-04-12 15:30] JasonGlazer commented on #5586
Moving this suggestion to an issue that lists all IDF Editor suggestions.

[2016-04-12 15:30] #5586 closed, assigned to JasonGlazer

[2016-04-12 15:30] JasonGlazer commented on #5585
Moving this suggestion to an issue that lists all IDF Editor suggestions.

[2016-04-12 15:30] #5585 closed, assigned to JasonGlazer

[2016-04-12 15:31] JasonGlazer commented on #5230
Moving this suggestion to an issue that lists all IDF Editor suggestions.

[2016-04-12 15:31] #5230 closed, assigned to JasonGlazer

[2016-04-12 15:32] JasonGlazer commented on #5229
Moving this suggestion to an issue that lists all IDF Editor suggestions.

[2016-04-12 15:32] #5229 closed, assigned to JasonGlazer

[2016-04-12 15:33] JasonGlazer commented on #5228
Moving this suggestion to an issue that lists all IDF Editor suggestions.

[2016-04-12 15:33] #5228 closed, assigned to JasonGlazer

[2016-04-12 15:34] JasonGlazer opened #5606 "IDF Editor - New Feature Suggestions"
A number of suggestions for new features for IDF Editor were collected:
- Remember the last viewing setup including full screen vs partial screen, display of all objects or just in-use objects, column widths*
- In existing Search and Replace show the results of the search group by the type of object and allow selecting for everything within a type of object, perhaps show the results in a hierarchi

[2016-04-12 15:51] JasonGlazer opened #5607 "EP-Launch - Resizable window"
Allow the EP-Launch window to be resized so that files with long paths can be seen in drop down lists.

[2016-04-12 16:01] mjwitte commented on #5607
If possible, would help to always show the filename and truncate the middle or beginning of the path.

[2016-04-13 13:32] mjwitte commented on #5603
- [ ] Engineering Reference, section 6.8.15.2 Equivalent Layer Optical Model, in the nomenclature list following figure 6.62, the variables which should be greek letters are not.  These were wrong also in the md version of the docs.  Refer back to v8.2 docs for the correct letters, following Figure 114 in that version.
- ***addressed in #5603***

[2016-04-13 16:05] JasonGlazer commented on #5405
When changing either ChillerHeater:Absorption:DoubleEffect or ChillerHeater:Absorption:DirectFired to use AirCooled condenser type, EnergyPlus crashes. Posted new defect files in:

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5405

[2016-04-13 16:28] mitchute opened #5608 "LaTeX documentation page numbers for objects in TOC do not correspond with document."
This is happening in the I/O ref and Eng. ref. I have not checked other docs.

[2016-04-13 16:34] Myoldmopar commented on #5608
Do the links go to the right spot?

[2016-04-13 16:36] mitchute commented on #5608
Yes, the links are good. The page numbers are not correct, though.

[2016-04-13 16:37] Myoldmopar commented on #5608
Weird.  OK.  And this is in the release versions of 8.5.0?

@nealkruis @michael-okeefe @matthew-larson any thoughts?  I hadn't noticed this.

[2016-04-13 16:38] mitchute commented on #5608
Yes. 8.5.0. I just re-installed it again, just to make sure.

[2016-04-13 16:41] mjwitte commented on #5240
@Myoldmopar Guessing this issue is moot now and can be closed?

[2016-04-13 16:53] mjwitte commented on #5589
Rather than change this for each release, perhaps it should be blank and a check added to throw an error stating it needs to be set, and then quit.  Unless @Myoldmopar has a better suggestion.

[2016-04-13 16:58] JasonGlazer commented on #5589
Another option is to have the installer set an environmental variable that pointed to the install directory. That would solve the issue especially because the installer could do that automatically. What do you think @kbenne

[2016-04-13 17:09] michael-okeefe commented on #5608
@Myoldmopar No, We hadn't noticed this either. @mitchute , Good catch.

We have a simpler build system that we're using in-house (Rake vs CMake). We had been building with 2 repetitions and I didn't see the issue in Engineering Reference but did see it in IO Ref. I just rebuilt with the number of repetitions set to 3 -- that fixes the issue across the board.

Can you set the number of build repeti

[2016-04-13 17:21] mjwitte commented on #5113
Closed via #5545

[2016-04-13 17:21] #5113 closed, assigned to mitchute

[2016-04-13 17:28] mjwitte commented on #4933
@ecoeficiente New DOAS sizing fields were added to Sizing:Zone in #5002 in v8.4.0 (Sept 2015). Closing this issue.

[2016-04-13 17:28] #4933 closed, assigned to nobody

[2016-04-13 17:34] mjwitte commented on #4884
See also #4628

[2016-04-13 17:35] michael-okeefe commented on #5608
Note: it looks like from the CMake documentation that we can add more than one command within a single execute_process call:

https://cmake.org/cmake/help/v3.0/command/execute_process.html

Maybe we should change the BuildDocumentation.cmake to be:

execute_process(
  COMMAND ${XELATEX} -interaction=nonstopmode ${INNAME}.tex
  COMMAND ${XELATEX} -interaction=nonstopmode ${INNAME}.tex
  COMMAND ${X

[2016-04-13 17:40] mjwitte commented on #4188
@rglazer2 Would be nice to address #4126 along with this fix.

[2016-04-13 17:44] mjwitte commented on #3770
The primary goal of this issue was addressed via #5002.  Closing.

[2016-04-13 17:44] #3770 closed

[2016-04-13 17:45] mjwitte commented on #3750
@mitchute @Myoldmopar Not sure if anything in this issue is still relevant.

[2016-04-13 17:48] mjwitte commented on #3423
@EnergyArchmage Is this still relevant?

[2016-04-13 18:06] Myoldmopar commented on #5608
I can add a third run there.

[2016-04-13 18:11] Myoldmopar commented on #5240
Aye. Closing.

[2016-04-13 18:11] #5240 closed, assigned to nobody

[2016-04-13 18:25] Myoldmopar commented on #5608
And don't worry, the execute process command is only doing exactly what we tell it to do, which is to run xelatex in that folder...nothing else.

[2016-04-13 19:48] mjwitte commented on #4878
Knowledgebase [download descriptions](http://energyplus.helpserve.com/Knowledgebase/List/Index/46/converting-older-version-files) were updated.  Closing.

[2016-04-13 19:48] #4878 closed, assigned to Myoldmopar

[2016-04-13 19:50] mjwitte commented on #4907
As discussed in #4878 the transition programs from v7.2.0 forward are now part of the install packages.  Closing.

[2016-04-13 19:50] #4907 closed, assigned to Myoldmopar

[2016-04-13 20:30] JasonGlazer commented on #5405
Overall the second parameter should be getting used (although the title of this issue says it should not) for sensitivity to the air temperature that the air cooled condenser is facing.

[2016-04-14 12:44] matthew-larson opened #5610 "WaterHeater Sizing"
## Issue overview

When modeling domestic hot water using a PlantLoop and WaterHeater:Mixed object, the DHW PlantLoop and DHW Water Heater have Maximum Loop and Use Side Design Flow Rates that are the sum of the flow rates in the WaterUse:Connections objects.  The WaterUse:Connection flow rates are the sum of the WaterUse:Equipment object flow rates, which include hot water AND cold water.  This r

[2016-04-14 16:50] mjwitte opened #5612 "User file trips on new fan coil control warnings "Cold Water control failed in fan coil unit""
## Issue overview

User post:
I've transitioned an IDF from Energyplus V 8.4 to V 8.5 and I now receive a large number of warnings from the 5 fan coil units located on ground floor of the building. The warnings are as below

[code]

The files are identical other than the version. I'd like to understand what's causing the warnings.

MJW Notes:
The overall results for energy use and thermostat setpo

[2016-04-15 18:46] JasonGlazer opened #5613 "LEED Tables service water heating doesn't appear"
Tables EAp2-4/5, EAp2-17a, EAp2-17b

Service Water Heating doesn't show up as an end use in these tables unless a WaterHeater object is providing SHW. If another type of equipment such as a BoilerHotWater or HeatExchangerFluidToFluid is providing SHW to the WaterUseConnection and WaterUseEquipment the energy use will be zero.
- [ ] Defect file added (list location of defect file here)
- [ ] Ticket

[2016-04-15 18:48] JasonGlazer commented on #4588
@MatthewSteen I am going to work on the district heating virtual rate problem. I think the other issue that you mentioned in this issue have been split out. If I missed any please make a new issue for them.

[2016-04-15 19:09] MatthewSteen opened #5614 "LEED Summary report EAp2-3 district energy virtual rates"
At the least district cooling and heating should be reported separately. Once this is done, check that the virtual (blended) rates are correct. @JasonGlazer

[2016-04-15 19:13] JasonGlazer commented on #4588
@MatthewSteen so can this issue be closed now?

[2016-04-15 19:14] #4588 closed

[2016-04-19 17:33] mjwitte opened #5617 "AirTerminal:SingleDuct:ParallelPIU:Reheat Secondary Supply Air Maximum Flow Rate sizes to cooling flow - should it be heating flow?"
## Issue overview

User noted for HVACTemplate:Zone:VAV:FanPowered if a hard value is specified for the Secondary Supply Air Maximum Flow Rate, this value is passed as the Design Heating Flow Rate in Sizing:Zone, but the AirTerminal:SingleDuct:ParallelPIU:Reheat object sizes the secondary flow rate to match the cooling flow, not this heating flow.  This is for a parallel PIU.  So, should this valu

[2016-04-20 13:13] mjwitte commented on #5410
From @tsnouidui with some additional info.
Apple has enabled a new default security oriented featured called System Integrity Protection, often called rootless, in OS X 10.11 onwards.

The consequence is that some files and directories such as /usr/bin are now write-protected even for the root user.
Consequently, programs such as EnergyPlus won't longer be able to create symbolic link to /usr/bin/

[2016-04-20 15:45] tsnouidui commented on #5410
One solution could be to install symlinks to `/usr/local/bin`. Apple seems to want users to write to this location rather than `/usr/bin`.

[2016-04-20 15:57] mbadams5 commented on #5410
@tsnouidui `/usr/local/bin

[2016-04-20 16:06] mbadams5 commented on #5410
@tsnouidui `/usr/local/bin` is not always user writeable either (at least in my experience with Homebrew), however, you can `sudo chown` the folder IF you already have a `/usr/local/` folder. I am unsure if a fresh install has the `/usr/local/` folder already and if not you may need to temporarily disable SIP (involved process) to create the folder and then turn SIP back on.

[2016-04-20 16:28] Myoldmopar commented on #5410
So how are applications like CMake handling this situation.  Previously you would tell CMake to install symlinks over in wherever so they are available from command line.  Do you know if they (as one possible example) have a solution we can learn from?

[2016-04-20 16:40] tsnouidui commented on #5410
Sounds like we need to install Mac OS X 10.11 on a fresh mac and see whether `/usr/local/` exists and whether it can be used for Energyplus. My understanding is that Apple wants users to use this folder instead of `/usr/...`. I haven't tested it with Homebrew though.

[2016-04-20 16:48] mbadams5 commented on #5410
@Myoldmopar [CMake appears to use `/usr/local/bin` in 3.3.0+](https://cmake.org/Bug/view.php?id=15627). As long as `/usr/local/bin` is root writeable, it should be fine to put it there. The downside is that `/usr/local/bin` is not part of the default PATH. At least I don't think so, it has been so long since i've had the default PATH.

[2016-04-20 17:49] JasonGlazer commented on #5603
- [x]  Add to Energy+.idd: AvailabilityManager:OptimumStart and AvailabilityManager:HybridVentilation as \key choices in the  AvailabilityManagerAssignmentList object

_Addressed in #5817. But AvailaiblityManager:HybridVentilation is not valid in the availability manager list, it hangs out there alone.  So only added keys for AvailiabilityManager:OptimumStart"._

[2016-04-20 19:55] aaron-boranian opened #5619 "Typo in No Mass Material name"
In the ASHRAE_2005_HOF_Materials.idf data set, there is a Material:NoMass object named
"Cement Pla**C**ter: Sand aggregate - 20mm", which should be fixed to be
"Cement Pla**S**ter: Sand aggregate - 20mm".

[2016-04-20 21:33] tsnouidui commented on #5410
By the way, Yosemite doesn't seem to have `/usr/local` by default. We might have to conditionally add the link depending on the existence of the folder...

[2016-04-21 15:03] JasonGlazer opened #5620 "Add support for imf files in ParametricPreprocessor"
The ParametricPreprocessor currently presumes that idf files are generated from the input even if an imf is provided. Make a change to create output files that are imf if imf is used as the input file. See helpdesk 10290.
- [X] Defect file [added ](https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5620)
- [ ] Ticket added to Pivotal for defect (development team task)
- [ ]

[2016-04-21 15:20] Myoldmopar opened #5622 "Documentation should have SHA"
I think sometime we'll end up pushing documentation up during a release cycle to capture errata more frequently than an actual release cycle, so it might be nice to put the SHA in the documentation itself.

[2016-04-21 15:24] JasonGlazer opened #5623 "ConvertESOMTR invalid dictionary line/infinite loop"
The defect file when run in EnergyPlus 8.3 with the Convert ESO/MTR to IP Units option checked in EP-Launch stops execution with "invalid dictionary line" message and may be going into an infinite loop with an ESO file that is 400MB with one line being repeated over and over:

2395,9,Carbon Equivalent:Facility [lb] !Monthly [Value,Min,Day,Hour,Minute,Max,Day,Hour,Minute]
- [x] Defect file [added ]

[2016-04-21 22:26] #5520 closed, assigned to JasonGlazer

[2016-04-22 01:05] rraustad commented on #5534
Revised method at line 653 to avoid crash:

[code]

Correction provides appropriate severe warnings.

[code]

[2016-04-22 01:25] rraustad commented on #5534
Example file Minimal.idf runs in 8.4 (same appropriate severe warning as shown above) and crashes in 8.5 when these objects are added. This file, and the defect file, now run in this branch.

[code]

[2016-04-22 01:44] rraustad commented on #5534
See PR [#5624](https://github.com/NREL/EnergyPlus/pull/5624)

[2016-04-22 15:26] mjwitte commented on #4606
Closed via #5588

[2016-04-22 15:26] #4606 closed

[2016-04-22 15:32] nmerket opened #5625 "Equation number references missing in engineering documentation"
## Issue overview

When I build the engineering documentation from the latex sources the equation numbers are missing. [Looking at the source](https://github.com/NREL/EnergyPlus/blob/6b851a070e0bff24c2f1e7c2d261365c13d3101f/doc/engineering-reference/src/integrated-solution-manager/basis-for-the-zone-and-air-system-integration.tex#L62), the references do not exist to the equations. Looking back to

[2016-04-22 16:47] EnergyArchmage commented on #5625
Might be something about your system, I get all kinds of equation numbers when I build the engineering reference.

[2016-04-22 17:08] eringold commented on #5625
+1
![doc](https://cloud.githubusercontent.com/assets/10799524/14749048/75df7aa2-087a-11e6-8382-b56512d87359.png)

[2016-04-22 17:09] nmerket commented on #5625
The title of the issue wasn't entirely clear. I changed it. The problem I'm having is that the _references_ to the equations in the text have all disappeared since the migration from Word. For example:

The numbers on the equations themselves are there when the latex is rendered as a PDF, but the references to them were lost. They were also missing from the Markdown docs.

[2016-04-22 18:21] EnergyArchmage commented on #5625
Oh right, sorry.  Alternatively, the task here is to rewrite these old sections so that they no longer try to make such direct references to equations.  Maintaining those is big effort and I think it might have been intentionally abandoned.

[2016-04-22 20:08] nmerket commented on #5625
I went back and dug up the old word documents from the Build Support repo because I found that I needed the equation references to understand what was going on. We should keep them. Latex is certainly capable of doing that. It's just going to be tedious finding them all.

[2016-04-22 22:33] asparke2 opened #5626 "HeatExchanger:FluidToFluid won't allow Chiller to run if min delta-T is above zero"
## Issue overview

See [this unmet hours post](https://unmethours.com/question/14619/waterside-economizer-integrated-with-chiller-min-temperature-difference-not-zero/).  If you have a non-integrated waterside economizer (in parallel with the chiller), and you set the `Minimum Temperature Difference to Activate Heat Exchanger` in the `HeatExchanger:FluidToFluid` to anything above zero the chiller w

[2016-04-25 14:46] mjwitte commented on #4904
Closed via #5472

[2016-04-25 14:46] #4904 closed, assigned to Nigusse

[2016-04-25 15:02] mjwitte opened #5629 "Chiller:Electric:EIR AirCooled condenser outlet node conditions not correct"
## Issue overview

User file reports condenser outlet node temperatures on the order of 4000C for a Chiller:Electric:EIR with AirCooled condenser.  I expected the chiller to ignore the condenser outlet node name (with a warning) for AirCooled condenser, but it apparently is calculating conditions for this node.  Also, noticed this in the eio output, even though condenser water volume flow rate is

[2016-04-25 20:44] rraustad commented on #5596
This field does not look like it's allowed to be blank for ReverseCycle defrost (i.e., in Calc, not GetInput). I guess ExpandObject will need to provide a performance curve? I also think a blank curve comes back as -1 but would have to check so allowing a blank curve would take some coding in the Calc routine.

[code]

[2016-04-25 20:58] rraustad commented on #5441
Starting a list of verified objects.

Defaults to cycling fan if fan operating mode schedule blank (Tests for CycFan = 0 if schedule exists):
- ZoneHVAC:PackagedTerminalHeatPump (CycFan = 0)
- ZoneHVAC:PackagedTerminalAirConditioner (CycFan = 0)
- ZoneHVAC:WaterToAirHeatPump (CycFan = 0)
- ZoneHVAC:FourPipeFanCoil
   MultiSpeedFan only for Fan:OnOff (CycFan = 0)
- ZoneHVAC:UnitHeater
   Fan:OnOff

[2016-04-26 01:37] rraustad commented on #5441
@Myoldmopar @EnergyArchmage @mjwitte should allow comments before someone moves this forward.
All fan op mode schedules check for ==0 for cycling fan, all other schedule values force constant fan with a few exceptions based on fan type.
Any other equipment types missing in list above?

[2016-04-26 03:26] rraustad commented on #5430
Sizing issue where the fan limits flow when HVAC system exceeds max fan flow:

[code]

[2016-04-26 12:45] EnergyArchmage commented on #5441
This is the same list of equipment types that I have been working with over on the fan project and I don't notice any omissions.

It may make sense to add a built in zero-value schedule, and handle this the same way we handle the blank availability schedule fields with the ScheduleAlwaysOn index.

Makes sense to me that some of the AirloopHVAC unitarys would default to constant fans and those shou

[2016-04-26 14:01] mjwitte commented on #5441
It's confusing that some of the systems default to constant fan or cycling fan dependent upon a different field (or fan type).  This will impact transitions when the day comes that we drop the old fan types and the old unitary system types - transition may need to insert a schedule to match the old default.  Adding warnings to say what will happen for all of these is annoying.  Perhaps we should a

[2016-04-26 14:19] EnergyArchmage opened #5630 "Heat Pump Water Heater DX coil model does not reliably find the evaporator fan"
## Issue overview

When the Coil:WaterHeating:AirToWaterHeatPump:Pumped object sets the Evaporator Fan Power Included in Rated COP to yes, the fan heat should add to the rated capacity.  Noticed that the method for finding the fan for HPWH DX heating coil does not work for heat pump water heaters.  The fan search method in DXCoil.cc is looking on air handler branches and doesn't find the fan dangl

[2016-04-26 15:40] mjwitte opened #5631 "SetpointManager:MixedAir warning Reference Node is the same as the SetPoint Node should be fatal"
## Issue overview

User file reported system node setpoints on the order of -174C, because the SetpoinManager;Mixed air had this error:

[code]

I cannot think of any situation where this would be valid.  In this case there was no other setpoint manager acting on this node, so the setpoint temperature just kept getting colder.  But even if there was another setpoint manager, it does not make sense

[2016-04-26 18:34] mjwitte commented on #5364
Closed via #5580

[2016-04-26 18:34] #5364 closed, assigned to JasonGlazer

[2016-04-27 01:00] rraustad commented on #5430
This is ugly. Moving conversation to https://github.com/NREL/EnergyPlus/pull/5632

[2016-04-27 14:09] #5608 closed, assigned to nobody

[2016-04-27 14:36] Myoldmopar commented on #5534
Closed with #5624

[2016-04-27 14:36] #5534 closed, assigned to rraustad

[2016-04-28 16:12] mjwitte commented on #5006
Close via #5994

[2016-04-28 16:12] #5006 closed, assigned to JasonGlazer

[2016-04-29 17:10] mjwitte opened #5635 "WaterHeater:Stratified with HorizontalCylinder tank shape uses incorrect height to check if heaters are inside the tank"
## Issue overview

User file with this tank input

[code]

throws this fatal error:

[code]

This check needs to use the true tank height (diameter) which is 2*SQRT((0.36/0.4)/Pi)=1.07m not the input value of 0.4 which is the horizontal "height".  Quick look at the code finds two places where the true height is calculated from the input height and neither place saves this into the data structure s

[2016-04-29 17:33] mjwitte commented on #5356
- [x] Example files 5ZoneAirCooledConvCoef and 5ZoneAirCooledConvCoefPIU are functionally equivalent - see #5011

[2016-04-30 16:15] mjwitte commented on #5562
Closed via #5598

[2016-04-30 16:15] #5562 closed, assigned to JasonGlazer

[2016-05-02 17:29] mjwitte commented on #5603
- [ ] Dataset typo, see #5619

- ***addressed in issue #5603 (as suggested).***

[2016-05-02 21:36] mjwitte opened #5636 "Series PIU mixer outlet reports flow when the fan is off"
## Issue overview

From user:  In the attached IDF file, Space 1-1 and Space 3-1 have series PIU terminal unit. During the winter week simulation, even though the PIU fan power is zero and PIU primary, secondary air inlet node reports mass flow of 0, the PIU mixer outlet node (Fan inlet node) reports design air mass flow rate. Looks to me like this is only a reporting issue and would not impact th

[2016-05-02 22:03] mjwitte opened #5637 "ZoneAirMassFlowConservation outputs appear wrong and can crash with no ZoneMixing objects"
## Issue overview

From user:
I was running some tests on the example file '5ZoneAirCooled_ZoneAirMassFlowBalance_Pressurized'.
I noticed that the output 'Zone Air Mass Balance Exhaust Mass Flow Rate' is the same (0.23995 kg/s) for all zones, whereas only 'SPACE5-1' has an exhaust fan.

I would expect that only this zone would have an exhaust mass flow rate and that it would 'Receive' air transfer

[2016-05-02 22:08] mjwitte commented on #5637
Also, suspicious that other zone air balance variables such as Zone Air Mass Balance Mixing Receiving Mass Flow Rate are the same for all five zones.

[2016-05-02 22:23] mjwitte commented on #5105
Helpdesk ticket 11280 another Win10 user, MSOMCTL.OCX not found.

[2016-05-03 13:27] mjwitte commented on #5603
- [ ] Helpdesk ticket 11322, questions about modeling a shade layer in a four pane window.  The v8.5 I/O Ref, on p. 347 under WindowProperty:ShadingControl Shading Type implies that shading only works for up to three panes and that between-glass shades can only be placed between the inner two panes.  Is this still true?
- [ ] The equivalent layer window model supports many layers in any order, but

[2016-05-03 14:14] jmarrec opened #5638 "Autosizing of heating coil UA failed for Coil:Heating:Water for plant loop exit temperature below 45C"
## Issue overview

Autosizing of heating coil UA failed for Coil:Heating:Water for plant loop exit temperature below 45C
See this unmet hour [post](https://unmethours.com/question/17066/plant-sizing-how-to-choose-the-design-loop-exit-temperature-and-temperature-difference/) and the subsequent comments by @EnergyArchmage

### Details
- Platform: All
- Version: EnergyPlus 8.5
### Checklist
- [x] Tic

[2016-05-03 15:30] Nigusse commented on #5603
WindowProperty:ShadingControl is not supported in EquivalentLayer window model. But the WindowMaterial:Blind:EquivalentLayer blind object has its own slat angle control.

[2016-05-03 18:21] mitchute opened #5640 "Add "QuickBuild" Option for Docs to CMake"
Is there any interest in a QuickBuild option for the documentation? XELATEX needs to be run 3-times _initially_ to resolve the references to figures, equations, etc., and I don't think there is any way around that. However, I think it would be nice to be able to build the docs to verify correct formatting/syntax/etc without the extra build time, especially if we are not adding references. Dependin

[2016-05-03 19:26] rraustad commented on #5631
Simple enough. Are you fixing?

[2016-05-03 19:30] mjwitte commented on #5631
No, feel free to take it.

[2016-05-03 19:31] EnergyArchmage opened #5641 "Max iteration warnings in 5ZoneNightVent3 example file"
## Issue overview

Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating

[2016-05-03 20:19] rraustad commented on #5631
Program now fatals out.

[code]

[2016-05-03 21:08] rraustad commented on #5631
See PR https://github.com/NREL/EnergyPlus/pull/5642

[2016-05-04 18:29] Myoldmopar commented on #5602
Closed via #5616

[2016-05-04 18:29] #5602 closed, assigned to JasonGlazer

[2016-05-04 18:29] Myoldmopar commented on #5544
Fixed via #5590

[2016-05-04 18:29] #5544 closed, assigned to rraustad

[2016-05-04 18:36] Myoldmopar commented on #5126
Closed via #5593

[2016-05-04 18:36] #5126 closed, assigned to tsnouidui

[2016-05-04 21:20] mjwitte commented on #5603
- [ ] Helpdesk ticket 1134, Engineering Reference section about "Hot Water Heat Recovery from Chillers" does not discuss chiller heat recovery and condenser water flow rates.  It appears from a quick inspection of the code for Chiller:Electric:EIR that both the heat recovery and condenser sides of the chiller request either zero flow or full flow. Is this true?  Should it always request full flow?

[2016-05-05 00:33] rraustad commented on #5251
See https://github.com/NREL/EnergyPlus/issues/5430 before attempting to correct this.

[2016-05-05 01:18] rraustad commented on #5612
@DeadParrot [This](https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5612) V8.5 defect file asserts in DataSurfaces at line 578. Can you have a look? Why does this file run in V8.5, with surface errors that don't seem horrible, yet stops in the debugger? What does it mean when xb <= xbe + tol fails? Not sorted properly? What is the developer suppose to fix in the code to a

[2016-05-05 06:45] DeadParrot commented on #5612
@rraustad This assertion indicates that a surface with crossing edges is probably present. The simplest example of that would be a rectangle where you twist one end by 180 degrees and end up with an hourglass shape. You could add a debug print statement to find out which surface is to blame if it isn't clear.

This should really be caught upstream of the assertion test with an "always on" runtime

[2016-05-05 13:54] Myoldmopar commented on #5083
Closed via #5572

[2016-05-05 13:54] #5083 closed, assigned to JasonGlazer

[2016-05-06 12:40] FaranQ opened #5648 "EnergyPlus v8.5 idf version updater does not work"
## Issue overview

The idf file version updater in version 8.5 is not working (on MAC OSX10.11.4). I'm trying to update the reference building database idf files (http://energy.gov/eere/buildings/commercial-reference-buildings) to the current version (8.5), but it gives errors and just does not convert the files.

The error message displayed is: Error starting transiotion-Vx-x-x Program: 2

Anyone

[2016-05-06 12:55] JasonGlazer commented on #5423
@mjwitte So I am working on updating the readmes for the parametric spreadsheets, the DOE-2 translator and the BLAST translator. You also had suggested getting rid of the readmes and putting links in the AuxiliaryPrograms doc. Which do you recommend?

[2016-05-06 13:03] mjwitte commented on #5423
I think most users will never find the current readmes, and the extra folders are just clutter.  I would describe them in Auxiliary Programs and make them more visible on the web site than they currently are.  For now, it's find to keep the download files in the helpdesk, but we may want to migrate those at some point. @Myoldmopar Would you agree?

[2016-05-06 13:29] JasonGlazer commented on #5423
On the help desk I also updated the knowledgebase articles on:
- Website expanded for download of prior versions
- How do I download EnergyPlus?
- OpenStudio Plugin for Google SketchUp
- How do I get a password for EnergyPlus?
- Ground Temperatures - Deep
- Site vs Source Energy
- My password doesn't work

In general, many of the knowledgebase articles could be reviewed and updated.

[2016-05-06 13:41] JasonGlazer commented on #5423
Ok, for now I will update the Auxiliary Programs documentation to have links to the help desk locations and remove the readme files and directories from the installer.

[2016-05-06 13:45] mjwitte commented on #5423
Or rather than specific links in Auxiliary Programs, perhaps better to just point to the [Extras](https://energyplus.net/extras) page on the web site.

[2016-05-06 13:48] JasonGlazer commented on #5423
I am not sure, the "Additional Release Components" on the Extras page doesn't even list those items so it might not be clear what link to go to.

[2016-05-06 14:02] mjwitte commented on #5423
That page needs updating to go along with this.  Even if it's just a quick list of these components.  Just give suggested changes to @Myoldmopar

[2016-05-06 15:18] ecoeficiente commented on #5648
I've had the same problem in Windows version.

[2016-05-06 18:22] JasonGlazer commented on #5648
@FaranQ and @ecoeficiente could you please send me the files that cause this problem to me? My email is jglazer at gard dot com.

[2016-05-06 18:23] mjwitte commented on #5648
Just for reference, I successfully transitioned RefBldgLargeOfficeNew2004_v1.4_7.2_1A_USA_FL_MIAMI from v7.2 to v8.5 with the v8.5 IDFVersionUpdater on Windows.

[2016-05-09 15:54] rraustad opened #5650 "Airloop water coils do not respond to EMS On/Off Supervisory control"
## Issue overview

UH [question](https://unmethours.com/question/17142/energyplus-ems-manager-onoff-supervisory-for-heating-and-cooling-coils/) on water coil control using EMS. The air loop water coil does not respond to EMS component control using On/Off Supervisory control.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating system, version)
- Version of Ener

[2016-05-09 16:08] rraustad commented on #5650
Simple addition of test for EMS control makes air loop coils respond to EMS command.
In SetActuatedBranchFlowRate function in PlantUtilities"

[code]

[2016-05-09 16:12] rraustad commented on #5650
See PR https://github.com/NREL/EnergyPlus/pull/5651

[2016-05-09 19:36] JasonGlazer commented on #4605
@mjwitte Could you remind me how "zone window opening area" this is different from the existing column called "Window Glass Area"?

[2016-05-09 19:51] mjwitte commented on #4605
Opening area includes the frame area.

[2016-05-10 14:16] EnergyArchmage commented on #5441
As an example of the confusion, noticed today that the ZoneHVAC:UnitVentilator example files, UnitVent5Zone, UnitVent5ZoneAuto, and UnitVent5ZoneFixedOANoCoilOpt, are confusing because they leave the fan operation schedule blank but then use constant volume fans.  The blank schedule should be for cycling fan, but the fan type used really makes it operate as a constant fan so the input is not consi

[2016-05-10 14:43] mjwitte commented on #5441
Then I would suggest that it's time to make them all consistent and add a transition rule that inserts a schedule in places where it's needed to match the standard rule.  Since the majority of systems go to cycling fan when the schedule is left blank, I would suggest that be the rule and we have transition insert an "always-1" or "always-0" schedule for the few combinations that depend on the fan

[2016-05-10 15:22] mjwitte commented on #5603
- [x] Helpdesk ticket 11345, Searching ExampleFiles.html for "residential" revealed several occurrences of the same typo: "residetial". This means the typo appears in the comments of these five example files:  AirflowNetwork_MultiZone_House.idf, AirflowNetwork_MultiZone_House_OvercoolDehumid.idf, AirflowNetwork_MultiZone_House_TwoSpeed.idf, AirflowNetwork_Simple_House.idf, and SingleFamilyHouse_Tw

[2016-05-10 16:29] Myoldmopar commented on #5631
Fixed via #5642

[2016-05-10 16:29] #5631 closed, assigned to rraustad

[2016-05-10 17:10] rraustad commented on #5319
I am not working on this one, take a crack at it.

[2016-05-10 17:24] JasonGlazer commented on #5319
Thanks. The run time is crazy for this defect file. I started it over an hour ago and it is still warming up.

[2016-05-10 19:02] Myoldmopar commented on #5614
Closed via #5639

[2016-05-10 19:02] #5614 closed, assigned to JasonGlazer

[2016-05-11 16:06] Myoldmopar commented on #5423
OK, so I should leave this open until we update the Extras web page?

[2016-05-11 16:27] Myoldmopar commented on #5119
Closed via #5582

[2016-05-11 16:27] #5119 closed, assigned to nobody

[2016-05-11 16:30] Myoldmopar commented on #5589
@JasonGlazer it could be done by the installer, but I'd have to look up how the installer does configuration; I'm not sure if our installer actually does it now or not.  It would be simpler to add a configure step during compile time and point to the default install for the current version.  Not as fancy as the install configure step, but would probably cover 99% of users.

[2016-05-11 16:32] JasonGlazer commented on #5589
I ended up just putting a clear warning when running the batch file and removing any specific version number.

[2016-05-11 16:33] JasonGlazer commented on #5589
See:
https://github.com/NREL/EnergyPlusBuildSupport/pull/28/files

[2016-05-11 16:37] Myoldmopar commented on #5589
OK, that's a fine solution, and the changes to the script and the documentation look good.  I will merge if nothing remains to be done here.

[2016-05-11 16:38] JasonGlazer commented on #5589
I think we are done.

[2016-05-11 16:39] Myoldmopar commented on #5589
Closed via #5645

[2016-05-11 16:39] #5589 closed, assigned to JasonGlazer

[2016-05-12 17:24] mjwitte commented on #5601
@eringold @kbenne I've been told that CounterFlow is the more common configuration. So, it seems the default is good, but the docs should change.  This [reference](http://www.capitalcoil.com/coilsandcounter-flow5-common-questions-that-people-have-about-coils/) was cited.

Pasting here for perpetuity . . .
HomeCapital Coil & Air: Knowledge LibraryCoils and Counter-flow: 5 Common Questions
COILS AND

[2016-05-12 17:39] mjwitte opened #5655 "Add an input for the design water delatT for coil sizing"
## Issue overview

Coil water side dT is taken from the plant loop Sizing:Plant object. In reality, the plant loop dictates the design of the chiller dT.  It would be nice to have the plant loop dT be the default at the coil, but allow an override.  There are cases where you select some coils with a different design dT, and this should work as long as all the water mixes back on the return side.

[2016-05-12 19:07] eringold commented on #5601
Thanks @mjwitte, I wasn't aware of that.

Up to you whether to revert that PR, @kbenne.

[2016-05-12 21:30] nmerket opened #5656 "FuelEquipment"
## Issue overview

EnergyPlus currently has `ElectricEquipment` and `GasEquipment` objects that use electricity or natural gas and contribute to internal gains. There is also a `OtherEquipment` which uses no fuel and contributes to internal gains. Additionally, there is a `Exterior:FuelEquipment` that uses a fuel specified in a field (Electricity, NaturalGas, PropaneGas, FuelOil, etc) but does not

[2016-05-12 21:53] mjwitte commented on #5656
@nmerket I would be reluctant to get rid of the current ElectricEquipment and GasEquipment because they are nice and clear and heavily used, so I would prefer option 2. But you could let FuelEquipment fuel types include naturalgas and electricity, so you could use it for everything if you want.

[2016-05-13 09:52] jmarrec commented on #5606
Jason, being able to delete all selected cells would be nice. For example I want to reset (leave blank) the "Fan Power Ratio Function of Speed Ratio Curve Name" and the "Fan Efficiency Ration Function of Speed Ratio Curve Name" for all 29 of my Fan:OnOff

Selecting all cells and pressing "delete" would be nice.

![delete in bulk](https://cloud.githubusercontent.com/assets/5479063/15244372/329fa658

[2016-05-13 11:57] Nigusse commented on #5656
@nmerket I prefer option 2.  I second Mike's idea, make it generic such that it includes electric and natural gas well.

[2016-05-13 14:30] nmerket commented on #5656
I am fine with adding a `FuelEquipment` object that allows all the fuel types while keeping `ElectricEquipment` and `GasEquipment`. I just know that there has been an overall effort to reduce redundant objects in EnergyPlus and this would add a redundant object.

[2016-05-13 14:54] mjwitte commented on #5656
One modeler's redundancy is another modeler's flexibility.  If the overlap really bothers people, then I could be persuaded to another option where `FuelEquipment` replaces `GasEquipment` with a fuel type field that defaults to NaturalGas (and, yes, it could exclude electricity).  I've always found `Exterior:FuelEquipment` with Electricity to be a bit odd anyway - most people don't think of electr

[2016-05-13 15:02] nmerket commented on #5656
I'm not sure the overlap does bother anybody. It doesn't bother me. I just want to verify and document that before pressing forward.

[2016-05-13 15:04] EnergyArchmage commented on #4943
HI @shorowit, If you still want to do some testing, I have improved the error reporting to show where in the Erl program code the problem happened, in this commit
https://github.com/NREL/EnergyPlus/commit/f2fa712a08ac7393b898ab6d279e331cae284f36

[2016-05-13 16:23] EnergyArchmage commented on #4404
Building off of code developed for issue #4943, I am able to scan the list of used actuators and check the new initialization flag.  Here is a sample warning message produced by a quick test, from existing example file EMSDemandManager_LargeOffice (which really does have an unused actuator.)

   *\* Warning *\* checkForUnusedActuatorsAtEnd: Unused EMS Actuator detected, suggesting possible uninten

[2016-05-13 16:31] EnergyArchmage commented on #4943
Okay, with this commit, https://github.com/NREL/EnergyPlus/commit/47a50eab056b493bad21074d28001a9a5684a958, I think all the desired changes are done.  Also fixes #4404, now suppresses fatal for CurveValue,
remaining tasks:
- [x] unit tests
- [x] documentation changes

[2016-05-13 17:02] EnergyArchmage commented on #5655
Yes, a coil-level input might be useful; the plant design dT is somewhat overused.

As far as the chiller's dT (from actual operation of a mixed set of coils), this can already be addressed automatically using the coincident plant sizing method.  Similiarly, the measured dTs are planned to be part of future improvements to do coil (re)sizing using HVAC Sizing Simulation.

[2016-05-13 17:07] mjwitte commented on #5603
- People object Fraction Radiant is a required field but it has no default.  Should add a default.  0.3 ok?  idd and I/O Ref.
  - [x] IDD changes _Addressed in #5817_
  - [ ] ***Doc changes(I/O Reference)  addressed in #5603.***

- ***ASHRAE HOF 2017, Chapter 18, Table 1, recommends radiant fraction that range from 0.49 to 0.60 for low air velocity and from 0.19 to 0.35 for high air velocity depen

[2016-05-14 16:18] mjwitte commented on #5405
Closed via #5609

[2016-05-14 16:18] #5405 closed, assigned to JasonGlazer

[2016-05-16 18:41] MatthewSteen commented on #5613
**This also affects the End Uses table.** The energy use of boilers used for SHW will end up in the Heating end use instead of Water Systems.

[2016-05-16 20:25] jonwinkler opened #5659 "Crankcase heater for Coil:Cooling:DX:MultiSpeed"
## Issue overview

I'm trying to simulate a crankcase heater in a Coil:Cooling:DX:MultiSpeed object when using the AirLoopHVAC:UnitarySystem. In this case, I'm using a gas furnace so there aren't crankcase heater inputs associated with a corresponding DX heating coil.
## Details

IDF, schedule, and sleeted output files are attached. 1.idf uses a single stage coil and the crankcase heater is handle

[2016-05-16 20:26] jonwinkler commented on #5659
@nmerket

[2016-05-16 22:36] nealkruis opened #5661 "Equivalent Layer windows do not work with daylighting"
## Issue overview

The visible properties of equivalent layer window materials are read from the IDF, but [not used in the source code](https://github.com/NREL/EnergyPlus/search?utf8=%E2%9C%93&q=TausFrontBeamBeamVis). Therefore, equivalent layer windows have no effect on daylighting calculations. [Many fields](http://bigladdersoftware.com/epx/docs/8-5/input-output-reference/group-surface-construct

[2016-05-16 23:14] shorowit commented on #4943
@EnergyArchmage This is great! Unfortunately, I'm fairly strapped for time at the moment. Would it be useful if I provided test IDFs generated from BEopt that cover a variety of different EMS programs? I could send that over pretty quickly.

[2016-05-17 14:04] mjwitte commented on #5661
@nealkruis Have you looked at the code enough to determine how much effort would be involved in making these work with daylighting?  If you use an equivalent layer window in a zone with daylighting is a warning generated to inform the user?

[2016-05-17 15:14] nealkruis commented on #5661
I've looked a bit and tracked down the areas that need to be modified for EQL constructions (in DaylightingManager.cc, SolarShading.cc, and WindowEquivalentLayer.cc). I estimate it's about a week's level of effort.

There are no warnings or errors (even for the fields that are not currently used).

[2016-05-17 16:26] JasonGlazer opened #5662 "File links for weather files not downloading files"
When trying to download weather data from the energyplus.net web site, when clicking on the links instead of files downloading the files are being rendered as if they are HTML.

https://energyplus.net/weather-location/north_and_central_america_wmo_region_4/USA/MA/USA_MA_Boston-Logan.725090_TMY2

The problem appears to be intermittent. Sometimes the link will work the first time and when canceled a

[2016-05-17 18:17] lgu1234 commented on #5533
@mjwitte @Myoldmopar @EnergyArchmage I found a cause for NAN. It happens to a door surface: 2:Class1_Floor_9_0_8_0_8_0_Subsurface in the flowing code in the HcUCSDDV function of DisplacementVentMgr. The parent surface of the door surface is a floor: 2:Class1_Floor_9_0_8.

[code]

When (ZInfSurf == 0.0 && ZSupSurf == 0.0 && LayH == 0.0), the divide by zero occurs. If I treat this surface as a floor

[2016-05-17 18:59] lgu1234 opened #5664 "Replace a field name of "Controlled Zone Name" in two objects"
## Issue overview

A  field name of "Controlled Zone Name" is used in two objects: ZoneControl:ContaminantController and AvailabilityManager:HybridVentilation. In order to be consistent with other objects, the field name will be replaced by "Zone Name" in ZoneControl:ContaminantController to match pattern of thermostat and "Control Zone Name" in AvailabilityManager:HybridVentilation to match other

[2016-05-17 20:39] EnergyArchmage opened #5665 "Logic problem in coincident plant sizing"
Plant coincident sizing doesn't alwasy work correctly when demand triggers to set a new size but the max flow timestamp is not valid.  The routine ResolveDesignFlowRate should work if there is only a demand-based timestamp but the way it is coded it needs to also have a max flow timestamp.

The || here should be an &&.
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SizingAnalysisOb

[2016-05-18 01:24] mjwitte commented on #5533
@lgu1234 I'm not sure I follow this completely, but treating the same as the base surface seems reasonable.

[2016-05-18 16:21] nmerket commented on #5231
@jonwinkler Is this still a problem?

[2016-05-18 16:37] rraustad commented on #5638
Julien, do you still have the file that fails with the bad UA error?

[2016-05-18 16:40] rraustad commented on #5630
@EnergyArchmage your assigned, will you be correcting this issue?

[2016-05-18 17:21] Alex-Blue opened #5667 "Dual duct outdoor air system economizer"
The dual duct outdoor air system currently does not allow economizer function; is there any way to add this in? We have a project that is considering a dual duct system with one duct supplying ventilation air and the other supplying heating/cooling. In the design, the central system will have the capability to bring in extra OA through the system to supply free cooling. Any chance of adding this f

[2016-05-18 17:40] EnergyArchmage commented on #5630
I did correct it in https://github.com/NREL/EnergyPlus/pull/5653.   Could maybe port that change over as a separate batch of changes for this issue.

[2016-05-18 18:28] JasonGlazer commented on #5234
@jasondegraw I was considering working on this bug soon but I heard today that you were refactoring some related code. Is what you are working on likely to impact the code related to this?

[2016-05-18 18:46] nmerket commented on #5659
@rraustad @lgu1234 @Myoldmopar Any takers?

[2016-05-18 18:50] rraustad commented on #5659
If in UnitarySystem, then it'd be me.

[2016-05-18 18:51] rraustad commented on #5659
Or, since this is a MS DX coil issue, if Gu wants it he could fix.

[2016-05-18 19:55] lgu1234 commented on #5659
I take it.

[2016-05-18 21:17] nealkruis commented on #4215
Several non-ascii characters are still floating around in OutputReportTabular.cc (search for ö and °). In fact, doing a search for � in my source files returns 368 results in 16 files (using Atom with UTF-8 encodings).

[2016-05-18 21:48] nealkruis opened #5668 "EnergyPlus cannot convert unitless variables to IP in tabular output"
## Issue overview

Variables with no units (e.g., ZONE PEOPLE OCCUPANT COUNT[]) get converted to a value of zero when `OutputControl:Table:Style` is set to `InchPound`.

They are set to zero in `GetUnitConversion()` because there are no blank units (e.g. `""`) defined in `UnitConv()`. `LookupSItoIP()` doesn't return a non-zero value for `indexUnitConv` [here](https://github.com/NREL/EnergyPlus/blo

[2016-05-19 11:55] jmarrec commented on #5638
I'm not the OP on unmet hours, it's urado. I'll connect you two via email

[2016-05-19 13:15] lgu1234 commented on #5533
@mjwitte @Myoldmopar @EnergyArchmage I found a way to handle a door surface without base surface information. The window section in the same function treats a window surface with 3 subsections based on tilt: wall, ceiling, and floor. The existing Door section is used to handle wall only. After I mimic the window section in the Door section by adding ceiling and floor subsections, the problem went

[2016-05-19 13:24] EnergyArchmage commented on #5638
A defect file could be constructed from an integration testfile by changing the HW loop to size and operate at 40C.

[2016-05-19 15:43] JasonGlazer commented on #5599
I believe this was addressed already in #5580 which will be part of the next release. @ecoeficiente if you have a test file that shows the problem, you can send it to me at jglazer at gard dot com and I will test it with the fixed version. Otherwise, you could download and compile the latest code and try it yourself it you want. I am closing the issue. If you find that it is not been fixed, please

[2016-05-19 15:43] #5599 closed, assigned to JasonGlazer

[2016-05-19 16:41] jasondegraw commented on #5234
@JasonGlazer I am working on refactoring the curves and tables, but first I am writing unit tests here:

https://github.com/NREL/EnergyPlus/blob/add-curve-unit-tests/tst/EnergyPlus/unit/Curves.unit.cc

and here:

https://github.com/NREL/EnergyPlus/blob/add-curve-unit-tests/tst/EnergyPlus/unit/Tables.unit.cc

It has not gone so well with the tables. If you have bandwidth to help with my unit testin

[2016-05-19 17:27] JasonGlazer commented on #5234
@rraustad I just ran an updated file for this bug and got the exact error message you said should occur when the issue was resolved:

[code]

Is it possible you fixed this bug already?

[2016-05-19 18:10] JasonGlazer commented on #5604
@lklawrie Did you ever make a Fortran change to fix this?

[2016-05-19 18:22] rraustad commented on #5234
No, I haven't done anything with this one. I think I would debug and break at the point where I last saw an infinite loop to see if the table data shows something funky. This could still cause an issue in the future unless something corrects an ill formed table before this loop. I see two places now and can't recall which one was stuck in the infinite loop. It could be that @DeadParrot changed som

[2016-05-19 18:46] asparke2 commented on #5648
I just hit this same issue, Windows 7, E+ 8.5.0.  I ran the IDF Version Updater on all of the Prototype and Reference IDFs (available on [this Github Repo](https://github.com/NREL/OpenStudio-Prototype-Buildings/tree/master/regression%20test/legacy%20prototype%20idf%20files).  Here is a list of all the files that failed conversion:

[failed_conversion_summary.txt](https://github.com/NREL/EnergyPlus

[2016-05-19 19:08] rraustad commented on #5612
The warning is tripped because the load is very small. The non-linearity of the coil model means that RegulaFalsi makes an initial guess that is somewhat far from the solution and takes small steps to get there. The fix is to use tighter bounds to zoom in on the capacity vs flow curve. It took 1 iteration once the limits were tightened.
PT #119934203

[2016-05-19 19:12] rraustad commented on #5612
PR https://github.com/NREL/EnergyPlus/pull/5671

[2016-05-19 23:50] nealkruis commented on #5656
Overlap bothers me! I vote for option 4: `Equipment` that replaces all interior/exterior, gas/electric/other.

Maybe `Load` or `Gain` would be a better generic catch-all name, so as to not confuse with HVAC Equipment.

The more options users have to choose from, the more opportunity there is for confusion. Proliferation of objects is a major source of frustration for many people we've talked to fo

[2016-05-20 05:17] shorowit commented on #5656
I agree with @nealkruis in principle on both accounts (Equipment is a confusing name; overlap is not desired). That said, we have near-term needs for this capability and we don't want to take on a significant refactoring of existing objects, migration, etc., at this time. Maybe for FY17?

I'm fine with the current winning proposal.

That said, I'd personally choose to replace GasEquipment (likely

[2016-05-20 16:02] ecoeficiente opened #5672 "EAp2-4/5. Demand data taken from Design Days instead of from Annual Peak"
## Issue overview

This happens for Interior Lighting (not checked the rest of the rows) in EAp2-4/5 table:
- Electric demand value seems to be taken from Design Day at time of peak. At least it matches the value in _Peak Heating Sensible Heat Gain Components_ table. Depending on the schedule value at that time (if <1) it will not match the required demand value.
- According to LEED (from a review

[2016-05-20 16:35] JasonGlazer commented on #5234
I was able to reproduce the problem in 8.5.0. I updated the defect file. The infinite loop in in the second group. It looks like it may be related to a NaN.

[2016-05-20 17:41] jmarrec opened #5673 "LrgOff_GridStorageEMSSmoothing.idf has no EMS program"
## Issue overview

The example file called `LrgOff_GridStorageEMSSmoothing.idf` has no EMS program defined in it... Seems like it's missing or the file is really badly named.
### Details

Some additional details for this issue (if relevant):
- EnergyPlus V8.5.0
### Checklist

Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
- [x] Defect file: https:/

[2016-05-20 17:53] matthew-larson opened #5675 "Site:WaterMainsTemperature Default"
## Issue overview

Based on the Engineering Reference, 'If there is no Site:WaterMainsTemperature object in the input file, a default constant value of 10 C is assumed.'  I have found that the actual calculated profile for the water mains temperature is significantly higher for the majority of climates, resulting in an overestimate of domestic hot water use if no Site:WaterMainsTemperature object

[2016-05-20 18:35] mjwitte commented on #5656
@nealkruis I've never heard complaints about these particular objects, so it seems there are better places to address concerns about overlap.  I think Load or Gain is too generic - because it doesn't say "I'm consuming energy" the way that Electric, Gas, or Fuel does.
@shorowit I've added options 4 and 5 at the [top](https://github.com/NREL/EnergyPlus/issues/5656#issue-154586167).

[2016-05-20 19:08] nealkruis commented on #5656
@mjwitte Nothing says "I'm not consuming energy" like "Other". : )

[2016-05-20 19:41] shorowit commented on #5675
EnergyPlus implements a good correlation method that provides varying mains temperatures throughout the year. Unfortunately, it requires the user to do some calculations based on the weather file in order to provide the appropriate inputs to EnergyPlus. It'd be nice if there was an "enhanced correlation" method that didn't require any inputs and operated based on the supplied weather file. That wo

[2016-05-20 19:48] nmerket commented on #5656
I'm so glad I haven't wasted time on an NFP for this yet. Carry on.

[2016-05-20 19:48] shorowit commented on #5656
Yes, OtherEquipment is a truly strange choice for a name. When I first saw GasEquipment, ElectricEquipment, and OtherEquipment, I thought E+ might already be able to handle other fuel types. Turns out that OtherEquipment is really not equipment at all. (Or, at least, I struggle to understand the scenario where you'd want to model a piece of equipment's internal gains but not have its energy use me

[2016-05-20 20:14] EnergyArchmage commented on #5673
Ack, somehow the EMS got mistakenly cut out during this commit to change reporting frequency.  https://github.com/NREL/EnergyPlus/commit/882e9e0cc9f66abb5b99f630f1fda3e185ac5fbc#diff-8eccea65797d64604c965dcd5fdb93c9

sorry, about that,

[2016-05-20 20:17] nealkruis commented on #5656
@shorowit BEopt uses OtherEquipment all over the place to approximate duct losses in one of the most masterful EnergyPlus hacks of all time! (credit: J. Winkler et al.)

[2016-05-20 20:22] asparke2 commented on #5648
As a workaround I first ran the E+ 8.4.0 updater on all of the files that failed using 8.5.0.  Then, once the conversion up to 8.4.0 was done, I ran the 8.5.0 updater.  This workflow succeeded for all but 7 of the 1859 models.

[2016-05-20 20:36] EnergyArchmage commented on #5656
OtherEquipment is very important, and very difficult to name.  Load with no energy consumption is very different from the others and cannot be lumped in with other objects to address some vague notion of overlap.

[2016-05-20 21:23] nealkruis commented on #5656
@EnergyArchmage I'm not necessarily suggesting that @nmerket does a deep refactoring of all the equipment objects into a single source. The source code for OtherEquipment can probably stay the way it is and key off of IDF input fields to determine how to map to the existing structures in the source code.

For example:

[code]

This one object could replace 6 others:
- `ElectricEquipment`
- `GasEqu

[2016-05-20 23:41] mcneillj commented on #5656
I agree with @nealkruis about using OtherEquipment.  It has most of the features necessary for applying loads to zones.  Commonly used fuel types that I see in labs and healthcare are: chilled water, hot water, steam, electricity, and natural gas.

Having multiple redundant models is confusing from a user perspective.  The other thing I have noticed is that over time changes occur that make these

[2016-05-21 00:02] JVDirkes2 commented on #5656
Simplicity is good.
If #4 means a single object which can be defined as any of several typical fuels, contributing heat indoors or out, and the reporting keeps track of the fuel used... then that sounds "simple" from my user perspective. One object for all energy uses indoors or out.
If that becomes the new normal, then the other objects should be deprecated (for greater simplicity :)
p.s., I don'

[2016-05-21 22:25] asparke2 commented on #5648
I think there is a difference between running via the .lst file and running individually.  I was able to re-run some of the individual idf files and they worked on their own.

[2016-05-23 12:51] mjwitte commented on #5675
It should be possible to make the default automatically get the values from the weather file.  Site:GroundTemperature:FCfactorMethod already does that.

[2016-05-23 14:10] JasonGlazer commented on #5656
To me, the first rule of user experience/user interface design is "do no harm". It seems like this proposal is going to confuse thousands of existing users because a small group of us do not find it aesthetically pleasing. I think we can all acknowledge that if we were designing this today we would do it differently but we are not. EnergyPlus has thousands of users that use these objects regularly

[2016-05-23 14:27] JasonGlazer commented on #5648
@FaranQ and @ecoeficiente, were you using IDF Version Updater with a single file or with a LST file?

[2016-05-23 14:35] FaranQ commented on #5648
@JasonGlazer  I was using it on a single file.

[2016-05-23 14:37] JasonGlazer commented on #5648
@FaranQ any chance of you sending me (jglazer at gard dot com) the particular file?

[2016-05-23 14:44] JVDirkes2 commented on #5656
Careful....
I understand what you are saying, but maintaining the status quo can become "stagnation", which can be viewed as "harm" when compared to growth and improvement. The thousands of current E+ users are, it seems, clearly aimed toward continuous improvement and the many new users have no bias. This would be quite a small change, regardless.
My opinion: Although complaints do often indicate

[2016-05-23 15:04] Myoldmopar commented on #5656
This conversation is so beautiful it almost brings a tear to my eye.  Developers and Users working closely debating the path forward for changes to EnergyPlus.  Awesome.  (FYI @amirroth)

Now, I see two requirements popping up from this conversation:
1. @shorowit needs a fix to this in the near term, presumably for the Fall release
2. The overall structure needs a longer look, with more of this co

[2016-05-23 15:36] FaranQ commented on #5648
@JasonGlazer: it's the small office model on this page (http://energy.gov/eere/buildings/new-construction-commercial-reference-buildings) - version 1.4_7.2

[2016-05-23 17:16] JasonGlazer commented on #5648
I was able to reproduce the problem and it seems like it is the transition from 8.1.0 to 8.2.0 that is causing a problem. I did find a workaround, just download the ZIP file for doing even older conversions at:

http://energyplus.helpserve.com/Knowledgebase/List/Index/46/converting-older-version-files

Unzip the file in the IDFVersionUpdater directory and it should work, it did for me at least. Le

[2016-05-23 20:26] rraustad opened #5679 "HeatPumpWaterHeater example file shows 0 crankcase heater energy for Chicago weather. Found during PR 5677 (issue 5659) review."
## Issue overview

Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating

[2016-05-23 20:27] JasonGlazer commented on #5648
To reproduce this issue, use a brand new 8.5.0 installed directory and run the IDFVersionUpdater on ASHRAE90.1_HotelSmall_STD2004_Albuquerque.idf from [here](https://github.com/NREL/OpenStudio-Prototype-Buildings/tree/master/regression%20test/legacy%20prototype%20idf%20files). And run with Create Intermediate Version Files checked. The V820 file will not show that it was transitioned and will rema

[2016-05-23 20:38] rraustad commented on #5679
It appeared the crankcase heaters were not operating. Closer inspection showed the outdoor HPWH's do show crankcase heater energy use. Those indoors, show 0 as expected.

[2016-05-23 20:38] #5679 closed, assigned to nobody

[2016-05-24 20:17] mjwitte opened #5682 "Error in interpolation of wind direction data points from weather files"
## Issue overview

From user:
There is an error in the method used to interpolate wind speeds between two data points within a weather file. TMY weather files typically have 1 hour data intervals, so EnergyPlus calculation timesteps have to interpolate the weather data between these large intervals. However, it was found that depending on values of two consecutive wind directions, the interpolatio

[2016-05-24 20:21] mjwitte commented on #5682
Defect files added, including spreadsheet to plot timestep output vs original data.  This plot is adjusted so both values are between -180 to +180.  Orange dots are the hourly weather data.
![image](https://cloud.githubusercontent.com/assets/4991075/15518549/0ccfb2d6-21c3-11e6-988a-078ad9551970.png)

[2016-05-25 00:16] rraustad commented on #5659
Closed via https://github.com/NREL/EnergyPlus/pull/5677

[2016-05-25 00:16] #5659 closed, assigned to lgu1234

[2016-05-25 01:39] mjwitte commented on #5490
Closed via #5658

[2016-05-25 01:39] #5490 closed, assigned to lgu1234

[2016-05-25 01:59] macumber commented on #5656
On the OpenStudio side I don't have a strong preference either way.  OpenStudio tends to resist changes in the API so we would probably wrap the new objects and deprecate the old objects but keep them in the API for some time.  @kbenne might have additional thoughts

One additional note is that I have the dream of one day supporting electric lighting simulations in OpenStudio.  This is why OpenStu

[2016-05-25 12:17] nilexan commented on #5460
The above mentioned issue concers me also. I' am using two different dry coolers (FluidCooler:TwoSpeed) with an approach (water outlet - dry bulb air inlet) of 5 and 7 °C. Are there some new informations or recommendations to set the "Offset Temperature Difference (deltaC)" for the applications?

[2016-05-25 15:21] mjwitte commented on #4187
Helpdesk ticket 11375, same problem.  If nothing else, we should change the default to zero and have the controller throw a warning about non-zero values and/or ignore this input, and add info to the "Root finder failed" error (above) that directs the user to check Controller:WaterCoil min flow rate.

[2016-05-25 15:57] EnergyArchmage commented on #5460
The background on this is that there used to be a field in the CondenserLoop object that told it to follow an outdoor air temperature (with no option for an offset).  When that got removed from the loop object and replaced by new  FollowOutdoor\* setpoint managers the option for an offset was added to the setpoint managers. The offset was set to zero in the test files so that legacy files would ru

[2016-05-25 17:56] JVDirkes2 commented on #5656
Someone probably has a vision for the development of E+ and can comment on the desirability of adding more guts to the kitchen objects (or others). At the moment, the "...Equipment" objects are working for me. I split kitchen equipment which is underneath an exhaust hood roughly 90/10 into interior and exterior loads; refining these objects to allow the interior / exterior split in a single object

[2016-05-25 17:58] rraustad commented on #5262
Can this be transitioned? Find the coil control node name in a SPM or node list and change that name to the coil outlet node name? Or fix this and let the error message guide them when they are not using the coil outlet node for control?

[2016-05-25 19:15] nealkruis commented on #5656
We should rein in the scope of this discussion. I agree with @Myoldmopar about tabling this discussion and allowing @nmerket and @shorowit decide what is reasonable for them to handle to meet their short term need. To put some of the discussion points in context, here are all of the options compared with the current objects:

(table moved to [issue description](https://github.com/NREL/EnergyPlus/i

[2016-05-25 19:19] jonwinkler opened #5683 "Airflow Network Distribution System Conduction in Crawlspaces"
## Issue overview

I'm using AFN to model duct conduction losses (no leakage) in the crawlspace of a residential building. The results align with my expectations when using a heat pump; however when modeling a gas furnace the results are quite puzzling:
  (1) ducts with lower U values leads to higher energy use compared to ducts with higher U values (better ducts = more energy)
  (2) when the duct

[2016-05-25 20:21] macumber commented on #5656
Nice table Neal.  I only mentioned the additional modeling because I want to avoid merging all these model objects only to separate them out again later when we want to model more detailed features.

[2016-05-25 20:53] JasonGlazer commented on #5613
@MatthewSteen or @mjwitte  I don't see any example files that are configured this way. Do you have any files that use BoilerHotWater and HeatExchangerFluidToFluid to provide SHW that you can provide as defect files?

[2016-05-25 20:57] mjwitte commented on #5613
5ZoneWaterSystems has a boiler serving a water heater.

[2016-05-25 20:59] JasonGlazer commented on #5613
Any without a water heater?

[2016-05-25 21:03] mjwitte commented on #5613
No, can't think of any without a waterheater object.  You could take WaterHeaterDHWPlantLoop and replace the waterheater:mixed with a boiler.

[2016-05-26 14:46] shorowit commented on #5656
We have an additional option suggested by a user who wishes to remain anonymous. Add a fuel type field to the OtherEquipment object; if the field is left blank (or set as "None"?), then the object behaves like it always did. Otherwise the fuel use is metered.

Personally, this is my new favorite option since it addresses my previous concern: "When I first saw GasEquipment, ElectricEquipment, and O

[2016-05-26 16:41] nealkruis commented on #5656
@shorowit I added option 6. Shouldn't it also add the "Carbon Dioxide Generation Rate" field?

[2016-05-26 16:49] JasonGlazer commented on #5613
This issue is going to require allocating boiler energy use between two or more end uses if the demands on the hot water loop come from multiple end uses. It will be tricky to perform that allocation.

[2016-05-26 16:54] mjwitte commented on #5656
And an End-Use Subcategory.

[2016-05-26 17:09] EnergyArchmage commented on #5656
This is probably out of scope and for the future, but this could also allow for user-definable fuel types using the models in Generator:FuelSupply.  Then there would be a way to run hydrogen, biogas, etc.  -- virtually anything if given the molar concentrations.

[2016-05-26 17:40] Myoldmopar opened #5684 "Path Problem in Engineering Reference CMake Rules"
[This path](https://github.com/NREL/EnergyPlus/blob/008f48be5ac7433841f73b595561bca42ff63687/doc/engineering-reference/CMakeLists.txt#L39) doesn't exist.  It was moved to the [Advanced Surface Concepts](https://github.com/NREL/EnergyPlus/blob/008f48be5ac7433841f73b595561bca42ff63687/doc/engineering-reference/src/advanced-surface-concepts/exterior-naturally-vented-cavity.tex) subdirectory.  Docs wo

[2016-05-26 18:48] rraustad commented on #4964
I see a defect folder 4963 and 4967. This was a long time ago so maybe just go with the example file? I think the water side delta T needs to be that at full flow since water flow is adjust by PLR. When using cycling mode, the output is average fluid flow rate (full flow \* PLR) and full load outlet temperature, at least that's how we do it on the air-side to conserve energy. I'll check to see how

[2016-05-26 23:09] JasonGlazer commented on #5272
@macumber I am starting to review the differences

## Material Details

| Field | In both | In EIO only | In SQLite only |
| --- | --- | --- | --- |
| Material Name | x |  |  |
| ThermalResistance {m2-K/w} | x |  |  |
| Roughness | x |  |  |
| Thickness {m} | x |  |  |
| Conductivity {w/m-K} | x |  |  |
| Density {kg/m3} | x |  |  |
| Specific Heat {J/kg-K} | x |  |  |
| Absorptance:Thermal |  | x

[2016-05-27 12:11] JasonGlazer commented on #5272
## Construction CTF

| Field | In both | In EIO only | In SQL only |
| --- | --- | --- | --- |
| Construction Name | x |  |  |
| Index |  | x |  |
| Number Layers | x |  |  |
| Number CTFs |  | x |  |
| Time Step {hours} |  | x |  |
| ThermalConductance(UValue in SQL) {w/m2-K} | x |  |  |
| OuterThermalAbsorptance | x |  |  |
| InnerThermalAbsorptance | x |  |  |
| OuterSolarAbsorptance | x |  |

[2016-05-27 12:13] JasonGlazer commented on #5272
@macumber If we changed both the EIO and SQLite file so that all fields shown above appeared in both, would that resolve this issue? Did I miss anything?

[2016-05-27 12:21] mjwitte commented on #5319
@rraustad @JasonGlazer #5654 addresses the problem with tank source side effectiveness.  Is there still an issue with SolarShading::Clippoly?

[2016-05-27 12:31] JasonGlazer commented on #5319
@mjwitte If I remember correctly, the NaN was just percolating through the code and showed up in Clippoly.

[2016-05-27 14:08] Myoldmopar opened #5686 "Some confusion with CMake Documentation Build Options"
It seems like there is some funny-business going on with the `BUILD_DOCS`, `BUILD_FORTRAN`, and `BUILD_VALIDATION_REPORTS` CMake options.  Some thoughts:
- If you are attempting to `BUILD_VALIDATION_REPORTS`, you _need_ to have `BUILD_FORTRAN` on because it needs ReadVars, etc.
- I think `BUILD_DOCS` is where the wkhtmltopdf finder is, but really, it should be in place for `BUILD_VALIDATION_REPORT

[2016-05-27 14:26] JasonGlazer commented on #5272
@macumber @mjwitte @Myoldmopar @EnergyArchmage @rraustad @hongtz68 I am planning on making the SQLite and EIO file more consistent.

Are there other **additional** pieces of the MaterialProperties structure:

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DataHeatBalance.hh#L620

or the ConstructionData structure

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DataH

[2016-05-27 14:50] Myoldmopar commented on #5686
I'll start with a raw build directory, running ccmake, and document my process, which should reveal the issues and approaches to fix them.

### Testing
- Test: Turn on `BUILD_VALIDATION_REPORTS`
  - Result: Fail because it can't find Fortran targets
  - Action Item: Add more detailed diagnostic message to the CMake rules to inform the developer that they need to turn on `BUILD_FORTRAN`
- Test: Add

[2016-05-27 14:59] EnergyArchmage commented on #5272
Hummm,  these are the old original SQLite data tables from what Greg did in the beginning right?  I always thought that whole group should be removed and replaced with predefined tabular reports that also show in SQLite.  There is no requirement that everything that appers in the EIO also appears in the SQLite.

Check out this discussion.
https://unmethours.com/question/15081/sql-file-why-are-some

[2016-05-27 15:44] mjwitte commented on #5533
Addressed via #5670

[2016-05-27 15:44] #5533 closed, assigned to lgu1234

[2016-05-27 15:47] mjwitte commented on #5319
Addressed via #5654

[2016-05-27 15:47] #5319 closed, assigned to JasonGlazer

[2016-05-27 15:53] RKStrand commented on #5261
@mjwitte @EnergyArchmage Ok, so I am looking at this now and see three potential approaches.  One would be to just delete the check and not worry about it.  Another would be to simply reduce the number to 4 as Mike points out that a four surface zone is possible in theory. A final approach would be to simply check to make sure that there is at least ONE surface in the zone and severe out if that i

[2016-05-27 16:06] mjwitte commented on #5261
@RKStrand Since the zone air mass is really the "zone", one could argue that a zone with no surfaces could also be valid, but it would be useful to have a warning if a zone has zero surfaces.

[2016-05-27 16:06] mjwitte commented on #5261
@RKStrand But I haven't tried a zone like that - there may be other places that quit with zero surfaces.

[2016-05-27 16:16] RKStrand commented on #5261
@mjwitte @EnergyArchmage Mike, you are absolutely right.  The zone is actually the air and not the surfaces (pardon me while I work out a few cobwebs in my brain...).  In fact, not too much removed from the error message in question, there is a condition that checks for a zero surface zone--it accepts it as valid and moves on.  So, yes, a zero surface zone is ok by design.  What's your vote for mo

[2016-05-27 16:18] EnergyArchmage commented on #5261
I am fine with deleting the check and not worrying about it.  The check is too crude for its purpose, you could have 6 surfaces all in the same plane and have a lousy IR setup.

I think the deeper reason for the <6 check is that the simplistic method for determining IR view factors becomes less and less like to do an okay job as the zone becomes less enclosed.  Maybe there could be some more sophi

[2016-05-27 16:22] mjwitte opened #5687 "AirflowNetwork:Distribution outputs for node pressure and flow report values from the previous timestep when the distribution system is off"
## Issue overview

Noticed this while testing #5634 the new Airflownetwork pressure control.  Example file AirflowNetwork_PressureControl.idf has times during the summer design day where the fan is off, but there are non-zero values for linkage flows and pressures.

Per @lgu1234, when a fan is off, the flow rate should be zero. The values reported here are the values at previous time steps. Howeve

[2016-05-27 16:26] JasonGlazer commented on #5261
I don't think the purpose of the warning is to imply that zones with fewer surfaces are not allowed but instead to tell people that have put together an IDF file in haste that they missed attaching the surfaces to the proper zone. I guess I see it as more of a way to remind the 99% of people that were intending to have a zone with six surfaces that something is wrong rather than tell the 1% of peo

[2016-05-27 16:30] RKStrand commented on #5261
@JasonGlazer That seems like a pretty reasonable approach to me.  It could also be reworded to give the user some idea of what the consequences might be beyond the "inaccuracies".  It's really not known what the exact implication will be, but telling the user via a warning that their zone has a potential "hole" in it isn't all that bad of an idea.
@mjwitte @EnergyArchmage What do you think?

[2016-05-27 16:43] macumber commented on #5272
From our side, we don't parse the EIO so it is just important that everything in the EIO also be in SQL.  It doesn't matter to me if these are in special tables or the tabular reports.

[2016-05-27 16:46] macumber commented on #5272
What is WindowConstruction::index?

[2016-05-27 16:46] mjwitte commented on #5272
So, we just need a general way to echo everything that's going to eio to sql?

[2016-05-27 16:48] mjwitte commented on #5261
I would only be open to that if it's active with displayextrawarnings, otherwise it should be silent.

[2016-05-27 16:49] macumber commented on #5272
Adding an "EIO" table to SQL would meet the most basic needs but it would be pretty gross.  Then there would be three potential places for each piece of data (the custom tables, tabular reports, and EIO table).  I guess it makes most sense to me to add these as tabular reports.  Is there any reason to not just add all the EIO content to the tabular reports?

[2016-05-27 16:54] mjwitte commented on #5272
No, not really, except the inputs to generate table outputs are different from the ones that generate eio outputs, and some of the eio output is automatic, and some things, like sizing, already go to both eio and table (but only to table if the output is allsummary or asks for that table specifically, but you don't have to request it to show in the eio.)  So, just needs some thought.

[2016-05-27 16:55] EnergyArchmage commented on #5261
sounds like lipstick on yet-another-superflous warning. The orginal ticket here did have a valid enclosure with 5 surfaces and it should be silent. A peaked attic if I recall and is totally expected.

I think the view factor matrix could be analyzed to determine if there is a hole that is so bad the IR scene is suspect and that could/should trigger a warning (but still continue).  I realize that w

[2016-05-27 17:04] RKStrand commented on #3625
@mjwitte @axelstudios I am currently looking at this issue.  Based on the the Version 8.5.0 documentation, I feel that this issue has already been resolved?  In the current documentation (page 955, Section 15.4 Baseboard Heaters), I do not see the "current equation" of:
Ta, out = q/(2 mdotwater \* Cp,a)+Ta,in
Rather, I see the docs matching the code.  See three lines after Equation (15.654) for an

[2016-05-27 17:09] Myoldmopar opened #5689 "Validation Report Build Problems"
- I couldn't get the validation reports to find Python3 on my Mac.  I use Python 2 by default, so my /usr/local/bin/python is 2.  I have brewed 3, so I do have a binary at /usr/local/bin/python3.  But find_package doesn't seem to want to find it.  I was able to fake it out, by letting the build process pull down the ValidationReports repo, and attempt a configure, then I went into the CMake cache

[2016-05-27 17:09] Myoldmopar commented on #5689
@lefticus I don't want to assign this to you, but would love your thoughts on both matters.

[2016-05-27 17:22] mjwitte commented on #3625
@RKStrand FYI, all of the issues originated by @axelstudios are imports from StarTeam, so they've been around a while.  Here is what it was in the v7.1 docs when this issues was first posted.
![image](https://cloud.githubusercontent.com/assets/4991075/15615622/1104426a-2405-11e6-9ce0-34fa3d19e964.png)

So, looks like this was fixed, probably when some other changes were made to the baseboard model

[2016-05-27 17:22] mjwitte commented on #3625
Unless you want to reopen this and clean up the formatting in the current section.

[2016-05-27 17:27] lefticus commented on #5689
@Myoldmopar

So, first comment: the validation system was only ever tested and deployed on Linux. I believe we determined that only automatically executing on one platform was necessary IIRC.
- Your best bet to be able to better control the version of python used would be to find it and pass it down to the external project here: https://github.com/NREL/EnergyPlus/blob/develop/CMakeLists.txt#L224-L

[2016-05-27 18:30] lgu1234 commented on #5007
@mjwitte I am handling this issue to remove overlapping restriction. Here are a couple of issues I need your advice.
1. Do we allow multiple objects to have the same source and receiving zones? The current code does not allow. I prefer not allow too.
2. If not allowed, do we allow two objects by switching source and receiving zones? The current code allows when Delta Temperature > 0, because both

[2016-05-27 19:17] mjwitte commented on #5007
I would say, yes, allow this.  Users may have reasons to connect the same two zones in different ways, representing different connections or different schedules. @lgu1234 Why do you prefer not to allow it?

[2016-05-27 19:54] lgu1234 commented on #5007
@mjwitte OK to allow multiple objects for the same zones. This process is consistent with other simple airflow objects, such as infiltration, ventilation and mixing. The reason for me not to prefer is that it may have possible abuse, since no error check will be performed.

[2016-05-27 20:09] mjwitte commented on #5007
I don't think the potential problems will be any greater than already exist for ZoneMixing.

[2016-05-28 00:53] RKStrand commented on #3625
@mjwitte Well, I'm up for it if there is clean up that needs to be done.  I need to package together a variety of doc mods to make an equivalent low complexity bug.  So, if you want to reopen this and give me a task, that sounds good to me.

[2016-05-30 17:33] rraustad commented on #5251
PR #5632 fixes this issue. Ran defect file using priority 1 and 2 for zone wshp wrt the air loop TU. No imbalance throughout the entire year.

[2016-05-31 18:06] RKStrand commented on #5261
@EnergyArchmage @mjwitte @JasonGlazer I agree with Brent.  The real issue is whether a "hole" in the definition is going to cause a problem with IR calculations and the <6 check is not sufficient for this.  Any serious engineering/algorithm would be beyond the scope of a bug fix (especially a low complexity bug fix as this is currently labeled).  I will do some looking at the code to see what I ca

[2016-05-31 18:16] mjwitte opened #5695 "Hot water preheat coil not running but electric preheat works as expected"
## Issue overview

From user:
I have constructed two VAV air systems. The difference between the two systems is the preheat coil in the outdoor air system, one is a hot water preheat coil, the other is a electric resistance heating coil. After the heating coil I have a setpoint manager with a constant temperature setpoint of 11.67 C. When I look at the heating design day simulation results, I see

[2016-05-31 18:23] mjwitte opened #5696 "OA equipment list in wrong order should be severe/fatal error or automatically re-sort the list"
## Issue overview

User file with electric preheat coil, the OA mixing box calculation appears to be incorrect.  The real problem is that the equipment is not in flow order in the AirLoopHVAC:OutdoorAirSystem:EquipmentList.  This can be confusing for heat recovery and if there is a relief fan, but the primary OA flow needs to start with the outermost component and flow towards the OA mixing box.
#

[2016-05-31 18:27] mjwitte commented on #5696
@kbenne FYI.

[2016-05-31 18:33] kbenne commented on #5696
@mjwitte yep thanks. I already took care of it. https://github.com/NREL/OpenStudio/commit/226404d6ff286ea2904cdbcea386f7fc6018f9d4

Most of the components were already in flow order, but then we stupidly tacked the oa mixer itself to the end. The wrong end! Can't believe this lurked so long.

[2016-05-31 19:22] nilexan commented on #5460
But using the "Offset Temperature Difference (deltaC)"(SetpointManager:FollowOutdorAirTemperature) has also an influence of the system, when a heat exchanger (HeatExchanger:FluidToFluid) is used for integrated waterside economizer. In the example file "WaterSideEconomizer_Integrated" the "Minimum Temperature Difference to Activate Heat Exchanger" have a value of 2. Assuming a "Offset Temperature D

[2016-05-31 19:23] mjwitte opened #5697 "Economizer with preheat is bringing in excess outdoor air on the winter design day"
## Issue overview

On the winter design day, the OA temperature is -17.3C, the mixed air setpoint is 17.4C, and the return air temp is 20.5C.  Why is the economizer opening beyond minimum causing a mixed air temp of 12.5C?
### Details

Some additional details for this issue (if relevant):
- Platform (Win64)
- Version of EnergyPlus (v8.5.0)
- Helpdesk ticket 11367
### Checklist

Add to this list or

[2016-05-31 21:03] RKStrand commented on #5261
@mjwitte @EnergyArchmage @JasonGlazer Ok, so here is what I found out with a quick review of the code.  There is already a check in the internal radiation routines for a minimum number of surface enclosures.  Here is the warning for the check that is made:

ShowWarningError( "Surfaces in Zone=\"" + Zone( ZoneNum ).Name + "\" do not define an enclosure." );
ShowContinueError( "Number of surfaces <=

[2016-05-31 21:05] RKStrand commented on #5261
@EnergyArchmage I'm not sure there is much to do beyond what the current IR code does.  It does its best to apply reciprocity and completeness and then moves on.  I guess the only other possible things would be to perhaps have a special case for 3 or fewer surfaces to manually do something different in an attempt to enforce reciprocity and completeness.  However, I'm not sure how much value there

[2016-05-31 21:16] mjwitte commented on #5261
:+1:

[2016-06-01 02:19] rraustad commented on #4262
Looks like only the first tower operates to meet the load in V8.5.

![4262](https://cloud.githubusercontent.com/assets/5778156/15696372/c197c8a6-277d-11e6-840a-eca6f4a6b6e5.png)

[2016-06-01 02:34] rraustad commented on #4262
The 10 tower file fails on sizing in V8.5.

[code]

[2016-06-01 12:27] JasonGlazer commented on #5272
Looking at the code, there are over 700 lines that are related to output using the OutputFileInits file number  which is the EIO file. Some of the lines put the "header" lines that describe the contents of each line, some output all the values for a particular type of line and some output just one value at a time. Many still reference old Fortran based "format" lines. One approach would be to repl

[2016-06-01 14:19] mjwitte opened #5699 "MaterialProperty:VariableThermalConductivity and MaterialProperty:PhaseChange should be extensible"
## Issue overview

MaterialProperty:PhaseChange allows up to 16 temperature-enthalpy pairs, and MaterialProperty:VariableThermalConductivity allows up to 10 temperature-conductivity pairs.  These should both be extensible.
### Details

Some additional details for this issue (if relevant):
- Version of EnergyPlus v8.5.0
- Helpdesk ticket 11390
### Checklist

Add to this list or remove from it as ap

[2016-06-01 14:34] mjwitte commented on #5699
This _should_ be a fairly simple change - edit the IDD to mark the extensible fields, and change this declaration in HeatBalanceFiniteDiffManager::GetCondFDInput
        Array1D< Real64 > MaterialProps( 40 ); // Temporary array to transfer material properties

This should declared after checking the max numer of numerics for these two object types, then is can be right-sized.  The rest of the inpu

[2016-06-01 15:01] mjwitte opened #5700 "Coil:Heating:DX:SingleSpeed input processing does not catch blank defrost EIRfT curve"
## Issue overview

This object

[code]

Fails with this error:
`**  Fatal  ** CurveValue: Invalid curve passed.`

The blank "Defrost Strategy" defaults to ReverseCycle, which requires a valid Defrost Energy Input Ratio Function of Temperature Curve Name, but the input processing does not catch that this is blank and sends a zero curve index to CurveValue.
### Details

Some additional details for t

[2016-06-01 16:41] rraustad commented on #4262
OK, all towers were grossly oversized (1E+25) leading to NAN issue and fatal on tower UA calculation.
When changing the tower capacity to be 1E+6 for each tower, only the first tower operated. When changing all towers to 1E+5, it appears the towers come on as needed to meet the load. In this figure, the first 3 towers are operating to meet the load, with other coming on line to meet additional loa

[2016-06-01 17:19] ecoeficiente commented on #5648
Sorry Jason, I missed your request. I've just sent you my file, which is a  v8.3. idf file.

[2016-06-01 20:15] rraustad commented on #5700
Well I thought this was correct. It turns out that the defrost EIR curve is needed for ReverseCycle whether Defrost control is set to Timed or OnDemand. In addition, the default defrost strategy is ReverseCycle, so if a user leaves this input blank, the defrost EIR curve is required. Seems a little odd to require a curve object when an input field is blank.

Coil:Heating:DX:SingleSpeed,
    ,

[2016-06-02 00:31] rraustad commented on #5650
@EnergyArchmage @Myoldmopar This issue is closed via #5651.

[2016-06-02 00:31] #5650 closed, assigned to rraustad

[2016-06-02 02:40] rraustad commented on #5412
Changed to test if > SensedNodeFlagValue yet OA still at max? even when OAT < SPT towards end of this run period.

![5412](https://cloud.githubusercontent.com/assets/5778156/15732262/bf62035e-2849-11e6-9671-e2d0714c6f61.png)

[2016-06-02 02:45] rraustad commented on #5412
Wait,that's not OA, it's mixed air flow rate. Here's OA flow rate where OA < max when OAT < mixed air SP

![5412_oa](https://cloud.githubusercontent.com/assets/5778156/15732360/7f722458-284a-11e6-965c-66de8552e1fa.png)

[2016-06-02 16:46] nmerket commented on #5656
Option 6 it is!

[2016-06-02 20:25] Nigusse commented on #5479
AirLoopHVAC:OutdoorAirSystem:EquipmentList object valid choice keys can be extracted from the source code. This is not the case for plant and condenser equipment lists.

The only option I can think is to extract the valid choice keys from the test files. If I remember correctly the plant loop and condenser loop implementation has been unified during plant upgrade, so the CondenserEquipmentList and

[2016-06-02 21:08] jasondegraw opened #5704 "Table:OneIndependentVariable documentation doesn't agree with behavior"
## Issue overview

The documentation for Table:OneIndependentVariable has this for the minimum value independent variable field:

There documentation for the maximum value is similar. If the documentation is correct, then neither value should be required. But that doesn't seem to be the case. Here's a unit test that fails (as long as I cut-and-pasted correctly):

[code]

All of the value checks fa

[2016-06-02 21:17] mjwitte commented on #5704
@jasondegraw Interesting - the (confusing) docs above and the idd notes say the max/min x limits don't even apply for interpolation method LinearInterpolationOfTable.

[2016-06-02 21:32] jasondegraw commented on #5704
@mjwitte I think there's some logic in the value calculation that goes bonkers without the min/max values there. All of the "examples" I was able to find have both min and max given, and it seems like the easy fix would be to do as the docs say and set the min/max from the data. But I wasn't too sure of the original intent.

[2016-06-02 22:03] mjwitte commented on #5704
@jasondegraw The docs seem to imply that the default limits should be based on the input data.  Looking at the test snippet, seems like the last line should expect 1, not 2?

[2016-06-02 22:48] jasondegraw commented on #5704
@mjwitte Yes, that should be a 1 and not a 2. The logic happens around [line 3818 in PerformanceTableObject](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CurveManager.cc#L3818), and probably the block of code that sets Var1Min and Var1Max, currently [on line 1888 in GetCurveInputData](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CurveManager.cc#L1888), needs to

[2016-06-03 14:27] mjwitte commented on #5479
@Nigusse @JasonGlazer I've always thought these hard lists of object types were unnecessary when we've already got \references that identify the legal objects (in some cases).  On the one hand, the current approach of a list of key choices is very straightforward, e.g.:

[code]

This is fine for a single field that has a limited set of valid object types.  But for things like `ZoneHVAC:EquipmentLi

[2016-06-03 14:53] JasonGlazer commented on #5160
@mjwitte: so the Nan is first being triggered in the pow_4() function when a surface temperature of -1.3e206 is overloading the range of the variable. That Nan winds its way through the code until it is getting caught in the Severe message about DualSetPointWithDeadBand. Clearly a surface temperature that low is meaningless and normally would have been caught where it was being generated in CalcHe

[2016-06-03 15:08] mjwitte commented on #5160
Fascinating.  I don't recall why there would be a need to skip the error during warmup.  @EnergyArchmage ?
Is the -250 to +250 hard coded here?  How does that relate to this input?

[code]

And curious that `HeatBalanceAlgorithm` doesn't have a input for Surface Temperature Lower Limit?

[2016-06-03 15:14] JasonGlazer commented on #5160
I think that 2.5 times the "Surface Temperature Upper Limit" field overrides the +250 if it is supplied see [this code](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/HeatBalanceManager.cc#L1018).

[2016-06-03 15:22] EnergyArchmage commented on #5160
If I remember correctly, the reason to let it run during warmup is in order to get some results to investigate to see what the underlying reason for the problem is.  If you turn on report during warmup you can get some output to see what is going on; were it to fatal right away, nobody could debug the reason for the out of range surface temperature result.  Of course now that it doesn't always qui

[2016-06-03 15:25] JasonGlazer commented on #5479
@mjwitte In the past, I added \reference-class-name to help solve the long list of \keys referencing the type of objects in the past but it doesn't seem be getting used anywhere. It is documented at the top of the IDD. Would that help solve part of this issue?

[2016-06-03 15:29] mjwitte commented on #5160
So, perhaps the check should produce a non-fatal severe error during warmup?  And the error message could include a suggestion to reportduringwarmup to see what is happening.  It would probably need to have a limit on how many times it reports out.  On the other hand, we really shouldn't let the surface get that cold.  What are these limits used for if it only fatals out for 2.5xtheLimit?

[2016-06-03 15:34] JasonGlazer commented on #5160
I think it should be fatal to avoid propagation of Nan's maybe the limit for that should be -10,000C and 10,000C but somehow we need to guard against Nans showing up.

[2016-06-03 15:37] mjwitte commented on #5479
@JasonGlazer Yes, that would work.  So, if I understand it correctly, the above proposal would then be:

[code]

Might be better to rename this to reference-class-type to avoid confusion?  I realize that would mean a corresponding change to IDF Editor.

[2016-06-03 15:38] mjwitte commented on #5479
Note I edited the last comment.  \type object-list-type ..> \type object-list

[2016-06-03 15:41] JasonGlazer commented on #5479
Yes, just a regular \type object list would work then. And I don't mind changing the exact slash code name in  IDF Editor if you think that would be clearer. I am pretty sure that when I put in \reference-class-name it was being used in the IDD but at some point they must have been removed. It is a nice feature to collect up the types of objects.

[2016-06-03 15:44] mjwitte commented on #5105
Until this is fixed, the workaround is to install [EnergyPlus v8.2.0](https://github.com/NREL/EnergyPlus/releases/tag/v8.2.0-Update-1.2) on the target machine and this will add the necessary files.  v8.2.0 may be uninstalled immediately if desired. The files should remain in place and later versions of EP-Launch and IDF Editor should work on that machine.

[2016-06-03 15:44] macumber commented on #5479
For what it's worth openstudio does not handle reference class names, don't think we knew they existed.  Don't let that stop you just saying interface developers might not know about those things

[2016-06-03 15:49] mjwitte commented on #5479
@macumber Understood.  What is OpenStudio currently doing to validate what can go, say, in a PlantEquipmentList?  Would declaring these references in the IDD be helpful?

[2016-06-03 15:50] EnergyArchmage commented on #5160
Attempts to trap this are trickier than might be assumed.  The 4th power of temperature in the IR distribution is terribly non-linear and results can get really wild.  Sometimes it will produce some crazy numbers early and then settle back down and work out okay in the end.  That is why the 2.5 \* limit ( I think).  This is about the best example of why letting NaNs run is huge problem (insert ran

[2016-06-03 15:51] rraustad commented on #4110
Found a few water to air related variables that needed resetting on begin environment. Compared the example file with one that had the design days in reverse order.

---

heatpumpwatertoairwithrhcontrol_new.csv
vs
heatpumpwatertoairwithrhcontrol_switched_new.csv

All Records are Equal.    576 records compared

[2016-06-03 15:54] mjwitte commented on #4110
@Myoldmopar When's the last time we ran a full reverse design day suite to see if there are more?

[2016-06-03 15:59] mjwitte commented on #5160
@EnergyArchmage Understood, but if NANs were trapped, then execution would halt early anyway.  So, the compromise is to throw a non-fatal error during warmup and let the NANs propagate, but at least there's information to work from.  Or to use a reasonable value that won't overflow the 4th power like -10,000 that's fatal during warmup.  But we don't want to add too much extra logic that's getting

[2016-06-03 16:02] JasonGlazer commented on #5160
Here is the new err file with the proposed error message:

[code]

I think that gives the user plenty to understand that they have a messed up zone.

[2016-06-03 16:07] Nigusse commented on #5479
@mjwitte @JasonGlazer if I understand correctly, the "validPlantEquipmentTypes" and "validPlantEquipmentNames" are tagged to each of valid objects in the PlantEquipmentList. How is each individual object validated? Is it the IDF editor that validates them?  In that case, do we need to list the choice Keys in the "Equipment 1 Object Type" field?

[2016-06-03 16:14] mjwitte commented on #5479
@Nigusse IDF editor will generate the lists automatically based on the objects that have the same \reference or \reference-class-name tag.  Ultimately, determining which objects belong in "validPlantEquipment*" goes back to your initial question - and that's by looking at the case statements (or equivalent) in the code.  A missing link here is that we don't currently have a way to test this other

[2016-06-03 16:19] macumber commented on #5479
@kbenne and @mbadams5 would know about references in plantloops, im not sure we use the idd markup for plantloops, maybe it is because it doesn't exist?

[2016-06-03 16:24] mjwitte commented on #5160
That works.  Add "routinename:" at the beginning, and "Zone" before the zone name, and units on the temperature.  And the value doesn't need to be in brackets.

[2016-06-03 16:25] mjwitte commented on #5479
@macumber Correct - it doesn't exist.  That's what this issue intends to add.

[2016-06-03 17:05] EnergyArchmage commented on #5160
Fine with me. But I think it should show a Severe first, then ShowContinueErrorTimeStamp, before  Fatal

[2016-06-03 18:17] rraustad commented on #4110
PR #5707

[2016-06-03 22:11] mjwitte opened #5710 "EMS actuator states not initialized soon enough for sizing"
## Issue overview

User noticed that sizing results changed dramatically (e.g. zone design heating load changed from 27,000 to zero in one zone) between runs.  The only difference was that this program had been added which just sets a global variable to be used as a custom output:

[code]

Other EMS programs in the same file are called at InsideHVACSystemIterationLoop and set actuators like zone t

[2016-06-03 23:12] mjwitte opened #5711 "HVAC Sizing Simulation crash with bad subscript"
## Issue overview

User file crashes [here](https://github.com/NREL/EnergyPlus/blob/d5db2e7f81c9d462bc85583ed347623e3384bcdf/src/EnergyPlus/SizingAnalysisObjects.cc#L254) in SizingAnalysisObjects.cc SizingLog::FillSysStep with a bad subscript.  `tmpSysStepStamp.stStepsIntoZoneStep = -1`.

Workaround is to turn off Do HVAC Sizing Simulation.
### Details

Some additional details for this issue (if r

[2016-06-03 23:25] tsnouidui opened #5712 "Fix a bug in the FMU import library"
The current FMI library could not handle a large number of obFMUs because of a a bug in memory allocation. This  issue should address this limitation.

[2016-06-04 16:05] jasondegraw commented on #5704
The documentation of minimum output value is this:

The maximum output documentation is similar. What actually happens with EvaluateCurveToLimits is that both all of the limits (independent variable and output) are potentially overwritten by the regression solver routine. Here's a unit test that demonstrates the issue:

[code]

So for this case the data set determines the limits for EvaluateCurveT

[2016-06-06 17:36] tsnouidui opened #5714 "Improve FMUParser to support FMUs with co-simulation tool coupling"
The FMUParser does not support the parsing of FMUs which implement the tool coupling API. This issue is to improve the parser to support both StandAlone and Tool Coupling API.

[2016-06-06 19:05] rraustad commented on #5524
All zone OA units now show agreement with specific fan power reports. Here's one example that's not a constant (e.g., Zone 5 shows 63 W + 63 W all day long).

![outdoorairunit](https://cloud.githubusercontent.com/assets/5778156/15834172/1b17c682-2bf8-11e6-9910-5d0a1d6d5d9e.png)

[2016-06-06 19:51] rraustad commented on #5524
PR #5715

[2016-06-06 20:14] rraustad commented on #5524
Defect file 5524-OutdoorAirUnit added to DevSupport.

[2016-06-06 22:24] mjwitte commented on #5603
- [ ] The HAMT model should state somewhere that the outside surface relative humidity (RH) is always forces for 100% for surfaces with the Ground boundary condition. (From helpdesk ticket 11395).

- [x] ***addressed in issue #5603 added "Surfaces with Ground exterior boundary condition assumes saturated air ( 100% relative humidity) condition to calculate the exterior mass transfer coefficient, w

[2016-06-07 15:15] rraustad commented on #5704
Well, maybe this was never tested with a blank input field?

[code]

Since these inputs are blank, the Var1Min and Var1Max values are 9999999 and -9999999, respectively. This yields 9999999 for V1 at line 3818 and always returns the top end of the table.

[code]

If the sign of the default inputs when blank are reversed, the first unit test above passes. I just can't recall why I chose those value

[2016-06-07 16:49] rraustad commented on #5704
Also pointing out that GetInput doesn't do the 9999999/-99999999 initialization for the TwoIndependentVariable table (which means they may wind up as 0).

[code]

[2016-06-07 17:26] mjwitte commented on #5013
Closed via #5666

[2016-06-07 17:27] #5013 closed, assigned to JasonGlazer

[2016-06-07 17:28] mjwitte commented on #5524
Closed via #5715

[2016-06-07 17:28] #5524 closed, assigned to nobody

[2016-06-07 17:35] mjwitte commented on #5234
Closed via #5674

[2016-06-07 17:35] #5234 closed, assigned to JasonGlazer

[2016-06-07 17:40] mjwitte commented on #5648
Closed via #5678

[2016-06-07 17:40] #5648 closed, assigned to JasonGlazer

[2016-06-07 22:05] jasondegraw commented on #5704
@rraustad That does appear to be the case. I was going to make a separate issue for the two independent variable table, but I can add info here if that is preferred.

Also, using EvaluateCurveToLimits with the Exponent curve type doesn't produce a curve fit, it just falls through and all the coefficients are zero.

[2016-06-08 00:21] rraustad commented on #5704
Group everything here so all this gets fixed in the same issue. I'll see if I can create coefficients for the odd ball exponent curve type. I think I'll push up a fix tonight to see if any example files choke so I know if changing these defaults affects something else, which would then need to be fixed because these defaults need to be changed.

[2016-06-08 00:58] rraustad commented on #5704
@mjwitte @jasondegraw I can make EvaluateCurveToLimits use the user inputs for Minimum Value of X, Maximum Value of X, Minimum Table Output and Maximum Table Output, just not sure if I should. I guess if the user were allowed to enter the limits it would save time in data entry (if they knew what they were doing). On the other hand, it could result in some wacky results due to extrapolation (if th

[2016-06-08 01:04] mjwitte commented on #5704
@rraustad Rather than have these limits behave differently for different types of curve/interpolation, why not have the Min/Max X/Y default to the range of the data set, and accept any user inputs for these limits (even if they extrapolate).  We don't protect users from wacky extrapolation with the regular curve objects.

[2016-06-08 01:05] rraustad commented on #5704
I'll give it a go.

[2016-06-08 01:07] jasondegraw commented on #5704
@rraustad I agree 100% with @mjwitte

[2016-06-08 14:38] Myoldmopar commented on #5603
@mjwitte Is this a place you _want_ small doc issues thrown in by other people?  Or is this your personal punchlist that you don't expect outside people to add onto?

[2016-06-08 14:45] mjwitte commented on #5603
@Myoldmopar Anyone is welcome to add to the list here.  When it starts to get long, then it's time to make a new one.  The concept here is to reduce effort in tracking and implementing a bunch of little doc changes - batch processing.

[2016-06-08 14:47] Myoldmopar commented on #5603
Great!
- [ ] This from @ebonnema, appears to be the IORef.

[2016-06-08 14:48] #5673 closed, assigned to nobody

[2016-06-08 15:04] eringold commented on #5603
- [ ]  Update Coil:Cooling:Water default heat exchanger configuration per https://github.com/NREL/EnergyPlus/issues/5601
- [ ] Typo: https://github.com/NREL/EnergyPlus/blob/dacc4aba65b7b43bf253551b9028e55ded1445a8/doc/engineering-reference/src/on-site-generation/generators.tex#L3

- ***addressed in issue #5603 (changed the I/O reference to match the Idd.)***

[2016-06-08 15:05] jasondegraw commented on #5704
Here's what I've got for Table:TwoIndependentVariable so far:
- For at least LinearInterpolationOfTable, there is a similar min/max issue. See failing unit test below.
- The documentation and the IDD list two acceptable curve types (BiQuadratic and QuadraticLinear) but the code accepts two more (BiCubic and TriQuadratic [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CurveMan

[2016-06-08 15:07] Nigusse commented on #5479
@mjwitte @JasonGlazer I made code change in the InputProcessor that checks for plant and condenser equipment list.  But I have run into issues when I tried for Branch (air Loop Branch). The issue is the validation routine (ValidateObjectandParse) treats or identifies all branch the same (Air and water loop branches). This beyond the effort for bug issue. I am limiting this issue to plant and conde

[2016-06-08 15:15] mjwitte commented on #5479
@Nigusse I wasn't expecting you to go that far - adding input processor validation.  Is that on a branch that I can look at?  In theory, the input processor function should be generic and once it's in place it should work for any set of reference lists.  The fact that branches are generic shouldn't be a problem.  It just means lots of objects would get a \reference validBranchComponentType.

[2016-06-08 15:46] Nigusse commented on #5479
@mjwitte Yes, it is on a branch and I have to clean it before pushing it. The input processor is sort of generic but it is classified for each category (plant, condenser, and Branch).  When I was testing I run into issue  with \reference-class-name validBranchComponentType. The idf parser recognizes all branches (air or water loop) the same, and it throws error files.  The plant and condenser equi

[2016-06-08 16:28] jasondegraw commented on #5603
- [ ] The equations in the input/output reference for Curve:ExponentialDecay and Curve:ExponentialSkewNormal aren't rendering quite right. Both have problems with `exp`.

- ***addressed in issue #5603 (corrected equations)***

[2016-06-08 19:27] RKStrand commented on #3551
@mjwitte Ok, so I ran this with the latest code having updated the input file to V8.4.  What I am seeing is the file runs but it does produce a severe error.  Basically, the user is trying to use movable insulation on a surface that has a radiant system.  That option is not allowed and throws a severe error in the current code.  I'm not sure what the original "doesn't work" symptom was, but it's c

[2016-06-08 19:35] mjwitte commented on #3551
@RKStrand I just ran the original defect file with v7.1 and it fatals out

[code]

Given what you found, you can either just close this and move on, or do as you suggest above and change the current error to be fatal.

[2016-06-08 19:49] RKStrand commented on #3551
@mjwitte Oh yeah, I forgot that I had to fix the input file to get passed that error.  It was extra junk that the user didn't need in the input file.  Basically, I deleted a couple of lines in the input file that weren't needed (four lines with zero values for parameters) and the file then ran.

I think I am going to go ahead with the plan and implement my proposed fix above.  It really should not

[2016-06-08 21:01] RKStrand opened #5720 "Errors for Movable Insulation Found in ComputeIntThermalAbsorpFactors"
In the current version of EnergyPlus (V8.5) while fixing a bug in another related to movable insulation, some bugs were found in the subroutine ComputeIntThermalAbsorpFactors.  This subroutine calculates interior side thermal absorption factors.  However, in looking through the code, it checks for EXTERIOR movable insulation rather than INTERIOR.  The call and all of the variables referring to ext

[2016-06-09 02:12] rraustad commented on #5704
PR https://github.com/NREL/EnergyPlus/pull/5719

[2016-06-09 14:03] Myoldmopar commented on #5604
Closed via #5680

[2016-06-09 14:03] #5604 closed, assigned to JasonGlazer

[2016-06-09 15:00] Nigusse commented on #5479
@mjwitte Fixed initialization issue that led to several unit tests to fail, now branch object lists are also auto verified/validated. I pushed the updated branch to remote and expect the CI machine to come all green.

[2016-06-09 21:25] rraustad commented on #5251
I was thinking after the call that this could be fixed simply by fixing the 2 lines in Init to get the flows right:

[code]

[2016-06-10 15:31] jburek opened #5722 "EIO and Bill of Materials"
## Issue overview

I'm having difficulties with the EIO file about material and construction. Do you perhaps know if it's compatible with any of the CAD programs? Or if there is a way to get Bill of Materials. If not I would recommend to add function that would show  Bill of Materials that is often used in CAD programs. I was able to get my building into a CAD program, but it doesn't translate all

[2016-06-13 02:32] rraustad commented on #5516
See PR https://github.com/NREL/EnergyPlus/pull/5724

[2016-06-13 16:17] RKStrand commented on #3551
Also implementing the new error messages in the combination of exterior movable insulation and embedded source/sink so that it produces a very similar error message sequence as interior movable insulation with embedded source/sink surfaces.  Exterior combo was already a fatal so now both are identical in what they say and do.  Making it possible to have movable insulation with a radiant system is

[2016-06-13 16:46] wfbuhl opened #5726 "Untranslated LaTex equations in Component Sizing section of Engineering Reference"
Generally, the Component Sizing section of of EnergyPlus 8.5.0 as published in PDF looks like crap. Plus, we've got untranslated LaTex equations on pages 505, 523, 544, and 548. These should definitely get fixed.

[2016-06-13 17:01] nealkruis commented on #5726
@michael-okeefe can you look into this?

[2016-06-13 17:18] michael-okeefe commented on #5726
Sure, looking into it now. I can do a quick pass through. It's going to require manual correction of the LaTeX source at this point.

[2016-06-13 20:22] mjwitte commented on #5603
- [ ] The equation for Sky emissivity in the Auxiliary Programs doc has the incorrect sign (+/-) before the 0.0035.  This is how it should look (from v8.1 docs).

![image](https://cloud.githubusercontent.com/assets/4991075/16021838/6304c2c4-317a-11e6-85fb-1edc6914f9ac.png)

And this is the current (v8.5) incorrect equation:

![image](https://cloud.githubusercontent.com/assets/4991075/16021864/84de

[2016-06-14 19:45] #5686 closed, assigned to Myoldmopar

[2016-06-14 19:45] #5684 closed, assigned to Myoldmopar

[2016-06-14 19:59] mjwitte opened #5728 "High temp radiant with scalable sizing causes crash for DX coil sizing later"
## Issue overview

User file crashes [here](https://github.com/NREL/EnergyPlus/blob/09819874170d77a0257048ab77f435d89bcbc38e/src/EnergyPlus/ReportSizingManager.cc#L2023-L2024) in ReportSizingManager::RequestSizing because DataScalableCapSizingON = true but CurZoneEqNum = 0.

The ZoneHVAC:HighTemperatureRadiant apparently is setting DataScalableCapSizingON to true but not resetting it to false.  Se

[2016-06-14 22:08] nmerket commented on #5656
I added the NFP [here](https://github.com/NREL/EnergyPlus/blob/other_equipment/design/FY2016/OtherEquipment.md).

[2016-06-15 02:09] mjwitte opened #5729 "Order of setpoint managers can cause fatal missing setpoint error for Controller:WaterCoil controlling for HumidityRatio"
## Issue overview

User file failed after the SetpointManager:Scheduled objects were re-arranged.  The Controller:WaterCoil objects have Control Variable = `HumidityRatio`.  There are SetpointManager:Scheduled objects with Control Variable = MaximumHumidityRatio.  Normally this is OK, because the controller checks the all of the setpoint managers to find out if the node has either a MaximumHumidit

[2016-06-15 03:11] rraustad commented on #5385
Sure enough, autosize is not handled for the HeatExchanger:Desiccant:BalancedFlow:PerformanceDataType1 object.

[2016-06-15 08:38] jmarrec opened #5730 "Suggested IDD change for ElectricLoadCenter:Storage:Simple"
## Issue overview

In the current form, the idd for ELC:Storage:Simple has absolutely no required fields and no defaults whatsoever. The documentation isn't helping either in this case (for eg it does not specify what it would default to). This makes it a little bit obscure for the user and hard to gauge what values are really needed and what are typical ones.
### Details

I would propose the foll

[2016-06-15 18:39] mjwitte commented on #5516
@rraustad As we discussed on the call, perhaps this is impacted by #4188?

[2016-06-15 23:56] ncardwel commented on #5415
Posted an [issue](https://unmethours.com/question/18301/install-problem-with-energyplus-840-update-1/) on Unmethours and was led here.  I'm still seeing this issue with v8.5 with OSX.

[2016-06-17 02:38] rraustad commented on #5696
Thinking out loud what to do after OA equipment list is read in.

[code]

[2016-06-17 03:13] mjwitte commented on #5696
`CheckOASysFirstCompInletIsOANode` - not necessarily.  It should be fine to draw air from somewhere else.
One hitch to this is that a relief fan won't meet these rules, and for that component, it doesn't really matter where it lands in the list, so need to be able to skip that and go to the next component?  Or ignore it if it's last in the list.

[2016-06-17 03:30] rraustad commented on #5696
So the OA system can draw from non-OA nodes, OK, like DOAS feeding air loop mixers.
Relief fan in OA system equip list? I guess you mean a fan in the OA equip list that's in the OA inlet stream to account for fan pressure ? Why would an exhaust/relief  fan be in the OA equipment list? The OA equip list only has equipment that's in the "OA Inlet" air stream, not exhaust right? HX, mixer, OA fan, co

[2016-06-17 14:33] mjwitte commented on #5696
OA system can have a relief fan that only acts on the exhaust (relief) air stream.  See example file 5ZoneAirCooledConvCoefPIU.

[code]

One could also have a fan in the OA inlet stream, but that, of course would need to be in flow order, so that's consistent with the other components.  If one had a relief fan and heat recovery so that there's more than one component in the exhaust stream, then I'

[2016-06-17 14:38] rraustad commented on #5696
Got it. Nothing like a good puzzle. Yes, the OA comps re-sim backwards if there is a HX present.

[code]

[2016-06-17 16:11] mjwitte commented on #5700
Closed via #5702.

[2016-06-17 16:11] #5700 closed, assigned to rraustad

[2016-06-17 16:18] EnergyArchmage commented on #3551
fixed by https://github.com/NREL/EnergyPlus/pull/5731

[2016-06-17 16:18] #3551 closed

[2016-06-17 18:37] RKStrand commented on #3551
@EnergyArchmage Thanks for reviewing this, Brent!

[2016-06-17 19:17] mjwitte commented on #5603
- [ ] In the Engineering Reference, the equation for EIRfplr for Chiller:Electric:EIR is incorrect in v8.5 docs.  CapFT and EIRFT should be in the denominator.  Helpdesk ticket 11429.

**Note that this equation appears twice.**  Even in the earlier versions it was somewhat ambiguous.  Would be better as a stacked fraction.

v8.5
![erdoc1](https://cloud.githubusercontent.com/assets/4991075/16161931

[2016-06-18 16:46] eringold commented on #5603
- [x] I/O Ref HAMT object outputs appearing where they should not. They have replaced the missing outputs section (and possibly some inputs) for Construction:InternalSource [here](https://github.com/NREL/EnergyPlus/blob/080219f60449af4e66e559831a17688986f2a5fa/doc/input-output-reference/src/overview/group-surface-construction-elements.tex#L3813-L3896). They also show up in the 'Constructions' sect

[2016-06-20 13:10] mjwitte commented on #3469
Also note that the I/O Reference describes MRT in words

And in the Engineering Ref section referenced above, the equations for the surface-weighted and angle factor MRTs do not include emissivity.  The source code should be checked to be sure.

[2016-06-20 13:19] rraustad opened #5737 "Multistage heating coil doesn't honor flow ratios specific in UnitarySystemPerformance:Multispeed object and reports warning "Speed 1 Supply Air Flow Ratio During Heating Operation will be set = 1.0"."
## Issue overview

Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating

[2016-06-20 13:23] mjwitte commented on #3469
Relevant functions are [HeatBalanceSurfaceManager::CalculateZoneMRT](https://github.com/NREL/EnergyPlus/blob/7e24f8abc0c396da442795ecae964d3981c5e2fd/src/EnergyPlus/HeatBalanceSurfaceManager.cc#L4166-L4242), [ThermalComfort::CalcRadTemp](https://github.com/NREL/EnergyPlus/blob/4506b3995e2a0b2ec020310b9ab10285da81c25d/src/EnergyPlus/ThermalComfort.cc#L2140-L2162), and [ThermalComfort::CalcAngleFact

[2016-06-20 13:57] rraustad commented on #5737
The heating coil is overshooting the cooling set point.

![5737-v85](https://cloud.githubusercontent.com/assets/5778156/16196651/c4ab031a-36cc-11e6-995a-96e528cd93a6.png)

System outlet temperature is sporatic.

![5737-outlettemp](https://cloud.githubusercontent.com/assets/5778156/16196786/6e53221c-36cd-11e6-89b1-3370ccf7c008.png)

[2016-06-20 14:08] #5704 closed, assigned to rraustad

[2016-06-20 14:50] rraustad commented on #5737
See https://github.com/NREL/EnergyPlus/pull/5738

[2016-06-20 15:04] jasondegraw opened #5739 "Exponent interpolation for Table:OneIndependentVariable isn't computed"
## Issue overview

Selecting Exponent interpolation for Table:OneIndependentVariable with the EvaluateCurveToLimits curve type results in a curve with all zero coefficients. It looks like selecting that option causes a fall-through and no fit is computed. I suggest removing this curve as an option.
### Details

Some additional details for this issue (if relevant):
- Version of EnergyPlus: 8.5
###

[2016-06-20 16:06] RKStrand commented on #3469
@mjwitte It's on my hit list to take care of this in the near future (at least before the next release).  I have several other bugs (code and documentation) that I will be working on.  For some reason, it is not yet in PivotalTracker so I will add that as soon as possible and assign myself as the responsible party.  Thanks for reminding me about this documentation bug.  I will also look into wheth

[2016-06-21 19:15] mjwitte commented on #4989
Also, allow Maximum Secondary Air Flow Rate to be specified as a fraction of the primary flow rate.

[2016-06-21 22:35] asparke2 opened #5742 "Heat Recovery with Chiller:Electric:EIR"
## Issue overview

Trying to make heat recovery work with `Chiller:Electric:EIR`.  I took the `HeatRecoveryElectricChiller.idf` example file and replaced the `Chiller:Electric` with a `Chiller:Electric:EIR` and I got the errors below.  @Myoldmopar thinks these 'Undefined' node types indicate a bug since the topology of the loops did not change at all and the example file runs fine.

[code]

The mo

[2016-06-22 13:09] mjwitte commented on #5742
@asparke2 This is a case of a bad default in the chiller object, and/or some bad logic in the chiller input processing.  The first error in the output gives a clue:

[code]

In the defect file, the Design Heat Recovery Water Flow Rate is blank, and the default is zero.  This field is used by the chiller to decide if heat recovery is active or not.  Since it's zero, the chiller throws the above war

[2016-06-22 13:33] Myoldmopar commented on #5742
Ah, I just got there too.  What about just having the chiller check whether the user entered heat recovery nodes yet a zero/blank flow.

[code]

[2016-06-22 13:42] Myoldmopar commented on #5742
Of course, that's already there.  Gya.  I'm off this morning.  Nevermind.  If I had read through the error file slower, or through your message......

OK, I suggest we don't make a change here.  The error file was already fine.

[2016-06-22 13:47] Myoldmopar commented on #5742
Per @asparke2, a similar change to (a) would be to change the warning to a severe.  If the condition is going to cause a severe/fatal downstream when the branch/node manager tries to validate the compsets, then it would be more informative to just do it in the chiller model itself when it is validating its inputs.  What do you think @mjwitte ?

[2016-06-22 14:03] mjwitte commented on #5742
@Myoldmopar That's reasonable, or, change the rule to be IF(heatrecovery nodes are present) then heat recovery is active, regardless of what the flow rate is.  At a minimum, if the same logic remains, yes a severe here is fine, but the warning should also use the current field name for "Design Heat Recovery Water Flow Rate".

[2016-06-22 14:03] EnergyArchmage commented on #5742
If I understand brand/node/compsets stuff (which is not assured), it won't always lead to a fatal.  Only if there is also a Branch objects with these nodes and this device.  If the user left the flow blank and had a couple dangling nodes in there but no branch associated, it would still run with HR ignored.

So then you'd have a severe but no fatal, which folks also don't like.

[2016-06-22 14:07] mjwitte commented on #5742
@EnergyArchmage correct on the node/compsets understanding above.  I think @Myoldmopar was suggesting that the errorsfound flag would also be set which would lead to a fatal.  You're right that the warning was originally intended for the case where these node names are dangling but never used on a branch, so it's fine.  The compsets error message from this case could also be improved.

[2016-06-22 14:12] Myoldmopar commented on #5742
Yeah, if I change it to a severe, I would trigger the fatal at the end of the GetInput.  I don't really like the idea of letting it run with dangling nodes, it seems like that should also be a fatal, but that may be a story for a different day.

[2016-06-22 14:17] EnergyArchmage commented on #5742
EH? this fatal is from dangling nodes and it is not running.  The branch object created the danglers here, not the chiller.  I meant dangling in the input -- if the nodes don't ever get setup they aren't in memory.

[2016-06-22 14:23] mjwitte commented on #5742
So, this would never have come up if the Design Heat Recovery Water Flow Rate = 0.00055 had been copied from the original Chiller:Electric object to the new Chiller:Electric:EIR object.  Let's do the minimal thing and change the warning text to something like this:

[code]

I presume that a similar warning happens in other chiller models that support heat recovery, so they should all be updated.

[2016-06-22 14:24] Myoldmopar commented on #5742
I just think this is something the chiller should be validating with certainty instead of letting it run where it _may_ fatal or _maybe_ not.  If the user wants heat recovery, they need a non-zero heat recovery design flow.  If the user doesn't want heat recovery, they shouldn't enter node names that won't ever be used.

Something like 1e82db2 should be very clear to the user:

[code]

[2016-06-22 14:29] mjwitte commented on #5742
@Myoldmopar I'm fine with that, too, but then we'll need to make a transition rule to delete the excess node names if present so that a transtioned file that used to run with warning does not fail.

[2016-06-22 14:38] Myoldmopar commented on #5742
I'm fine adding that rule, and spreading these across the other chillers, but I'm not going to push hard on the matter.  It certainly is less left to just refine the warning message per your [comment](https://github.com/NREL/EnergyPlus/issues/5742#issuecomment-227760262).

It feels like leaving it as a warning message leaves it a little spongy, whereas the severe is a cinder block.  If you trip on

[2016-06-22 14:52] EnergyArchmage commented on #5742
I think there a lot places where input fields are ignored based on the values in other input fields.  Throwing lots of fatals for such input is not going to improve usability in IMHO.

[2016-06-22 15:30] Myoldmopar commented on #5742
OK, like I said, I'm not going to push on this.  Both @EnergyArchmage and @mjwitte appear satisfied with the warning message approach, so I'll do the [above](https://github.com/NREL/EnergyPlus/issues/5742#issuecomment-227760262) in the chillers.

[2016-06-22 18:54] Myoldmopar commented on #4633
@mjwitte So #5627 is merged, but it said it only partially addresses this bug.  I should leave this open, yes?

[2016-06-22 18:56] mjwitte commented on #4633
@Myoldmopar Correct, #5627 is groundwork.  A new PR will actually address the issues here.

[2016-06-23 14:50] mjwitte opened #5744 "Add a variable electric power input to the HeatExchanger:AirToAir:* objects"
## Issue overview

HeatExchanger:AirToAir:FlatPlate and HeatExchanger:AirToAir:SensibleAndLatent currently have a fixed power consumption input "Nominal Electric Power".  It would be useful to add a variable power input as a function of airflow with an optional curve.  Possibly even two inputs, one as a function of primary airflow and the other for secondary airflow.
### Checklist

Add to this lis

[2016-06-23 17:47] mjwitte opened #5745 "Some sizing info messages cause mixed line endings in the err output"
## Issue overview

@Myoldmopar While testing #5694 , noticed that the text editor was prompting to convert mixed line endings to DOS when opening the err output file.  Several of the error messages in this object have a newline embedded in the middle of the string, like [here](https://github.com/NREL/EnergyPlus/blob/b0dfcd9d271c8b2c1b60f8e7ca7ae973e74031e4/src/EnergyPlus/LowTempRadiantSystem.cc#L2

[2016-06-23 17:50] mjwitte commented on #4318
Closed via #5694

[2016-06-23 17:50] #4318 closed

[2016-06-23 18:10] EnergyArchmage commented on #5711
Okay, I see it now, the defect file has also turned on report during warmup and the value for DataGlobals::DayOfSim is not as expected during warmup days.

[2016-06-23 21:31] mjwitte opened #5747 "WaterHeater:HeatPump:PumpedCondenser can crash when Outdoor Air Node name is required but is blank"
## Issue overview

This user file crashes because the outdoor air node number is zero in InitWaterThermalTank.  Since the inlet configuration is OutdoorAirOnly, the outdoor air node is required and this should be caught during input.  Should probably check other configurations (for both PumpedCondenser and WrappedCondenser) to be sure the required nodes are enforced as needed.

Note that the relea

[2016-06-27 16:45] mjwitte opened #5749 "Subhourly interpolation of solar data near sunrise/sunset does not ensure that the integrated total matches the hourly weather data"
## Issue overview

For the hour in which sunset occurs, some of the total incident solar can get lost due to the interpolation method.  A quick check of total horizontal solar shows that 0.3% of solar is lost with Chicago weather.  And comparing back to the epw, the loss is closer to 0.5%

![image](https://cloud.githubusercontent.com/assets/4991075/16387938/9b1b1af4-3c5c-11e6-86fc-b49e13064a27.png

[2016-06-28 00:05] rglazer2 commented on #4126
@mjwitte Any more advice on exactly what needs to be done for this fix, and what would be the best way to accomplish it?

[2016-06-28 13:35] mjwitte commented on #4126
@EnergyArchmage Any suggestions here?  Or would you rather take this one?

[2016-06-28 13:38] EnergyArchmage commented on #4126
Hi @rglazer2, here is my $0.02

note that issue #5516 is also related to this and has some discussion
1. change up how the autocalculate sizes plant volume, if they come out smaller this problem gets less. #4188
2.  add some output variables so time series reporting can more easily diagnose. I suggest adding some calculations and data storage to the routine called UpdateHalfLoopInletTemp.

I would

[2016-06-30 00:10] rglazer2 commented on #4126
Thanks for the suggestions @EnergyArchmage. I added the those variables you suggested, and their calculations in the UpdateHalfLoopInletTemp function.

I was thinking that after LoopSideInlet_MdotCpDeltaT and LoopSideInlet_McpDTdt are calculated I could check if LoopSideInlet_MdotCpDeltaT < LoopSideInlet_McpDTdt, and then add a new variable which would be incremented each time that is the case. Th

[2016-06-30 09:08] chandangsharma commented on #5626
My two cents while running into same issue with water side economizer. In _PlantCondLoopOperation.cc_, EnergyPlus only looks for (`Tsensor < TinLowLimit`) to decide whether chiller should be off for free cooling. It doesn't take into account temperature tolerance input in "HeatExchanger:FluidToFluid" object. While in _PlantHeatExchangerFluidToFluid.cc_, `TempControlTol` is also taken in to account

[2016-06-30 13:58] Myoldmopar commented on #5160
Addressed via #5709

[2016-06-30 13:58] #5160 closed, assigned to JasonGlazer

[2016-06-30 15:30] EnergyArchmage commented on #4126
Yeah, I was think another output variable with units of hours.  It would be a sum-type variable that holds the current fractional hours value for times when LoopSideInlet_MdotCpDeltaT < LoopSideInlet_McpDTdt.  I am not sure what to call them, but here is a suggestion

Plant Supply Side Lumped Capacitance Excessive Storage Time [ hr ]
Plant Demand Side Lumped Capacitance Excessive Storage Time [ hr

[2016-06-30 15:35] EnergyArchmage commented on #4126
Oh and you may need to use the same sort of code as is used in the annual tabular reporting to aggregate values over the simulation.  It may make sense to add this to some predefined annual summary table, maybe @JasonGlazer  has an idea.

[2016-06-30 16:42] mjwitte commented on #5430
Closed via #5632

[2016-06-30 16:42] #5430 closed, assigned to rraustad

[2016-06-30 16:43] mjwitte commented on #5251
Closed via #5632

[2016-06-30 16:43] #5251 closed, assigned to nobody

[2016-06-30 18:23] mjwitte opened #5750 "WindowMaterial:Blind:EquivalentLayer Slat Angle Control not working and slat angle output always zero"
## Issue overview

WindowMaterial:Blind:EquivalentLayer slat angle control appears to always be Fixed.  Also, output for Surface Window Blind Slat Angle is always zero.

Should also check the MaximizeSolar option to see if it's working.
### Details

Some additional details for this issue (if relevant):
- Platform (Win64)
- Version of EnergyPlus (v8.5.0)
- Helpdesk ticket 11449
- Run with Chicago w

[2016-06-30 18:33] mjwitte commented on #4852
Helpdesk ticket 11450, user says that the pool cover schedule is not working.

[5ZoneSwimmingPool test.idf.txt](https://github.com/NREL/EnergyPlus/files/342116/5ZoneSwimmingPool.test.idf.txt)

[2016-06-30 19:13] RKStrand commented on #4852
@mjwitte Thanks for the extra info and the input file, Mike.  I will add it to my list of bugs to look at and also put it in Pivotal Tracker.

[2016-06-30 20:12] mjwitte commented on #5664
Closed via #5732

[2016-06-30 20:12] #5664 closed, assigned to lgu1234

[2016-07-01 16:45] mjwitte opened #5752 "Additional fuel type options for furnace heating coils"
## Issue overview

Similar to #5746 , furnaces currently only support gas or electric heating coils.  Propane and fuel oil are commonly used fuel types, especially for residential models.  This is similar to #5656 / #5746  which added a fuel type field to OtherEquipment.  In this case, I would suggest adding a fuel type field to Coil:Heating:Gas, and possibly change it's name to Coil:Heating:FuelF

[2016-07-01 16:50] mjwitte commented on #5752
@nmerket FYI, this request comes from PNNL for the residential prototype models.  I assume this is useful for your work as well.

[2016-07-01 16:59] rraustad commented on #5747
Refactoring somehow eliminated checks for node names. Added back in but am checking on correct implementation.

[code]

[2016-07-01 17:30] nmerket commented on #5752
Thanks for alerting me to this. I think this will be useful. I think a lot of the same arguments could be made here about how and where to add the different fuel types.

@shorowit @jonwinkler

[2016-07-01 17:34] rraustad commented on #5747
I don't see any other issues in the defect file err log related to fan or coil placement? I'll check if a node check is needed to confirm correct placement of components.

[code]

[2016-07-01 17:35] mjwitte opened #5753 "Meter:Custom with Zone Packaged Terminal Air Conditioner Electric Energy causes a fatal error"
## Issue overview

Using "Zone Packaged Terminal Air Conditioner Electric Energy" in a Meter:Custom object results in some ambiguous warnings and then ultimately a fatal error:

[code]

The warnings come from `OutputProcessor::GetMeteredVariables` which is called from the infamous `SystemReports::CreateEnergyReportStructure`.  This leaves zeroes in the system reports data structure which then trip

[2016-07-01 17:36] shorowit commented on #5752
This is next on our list to tackle. See https://github.com/NREL/OpenStudio-Beopt/issues/64 for reference as well.

I think we will also want to make enhancements to the EnergyPlus output to more easily get oil, propane, etc. fuel consumption. For example, the end use table in the EnergyPlus html output only has electricity, natural gas, and "additional fuel".

[2016-07-01 17:38] #4605 closed

[2016-07-01 17:51] rraustad commented on #5747
Not sure if a specific test for node connections is required since the node checks should catch the problem later. Of course, this should probably be a fatal error if the components are not connected correctly.

Changing defect file to this:

[code]

Yields:

[code]

[2016-07-01 18:34] rraustad commented on #5747
To catch the above input node name problem with the fan, I added a warning for the fan outlet node as:

[code]

This still leaves the fan inlet node and coil nodes to test. I guess those tests are also needed since the input error could be anywhere.

[2016-07-02 22:46] rraustad commented on #5747
See PR #5754

[2016-07-05 13:23] Myoldmopar commented on #5745
Yes, those should be separate calls.  We shouldn't have new lines in the error messages.  I can scan the code and find all instances of `\n` and filter it down to the instances within error messages if you'd like me to take this one.

[2016-07-05 13:33] Myoldmopar commented on #5745
https://github.com/NREL/EnergyPlus/commit/beef9b78022e348240c6572065c5b34bbb2912b8#diff-dd82b723e516edcdf293286ac3a49185R2407

[2016-07-05 13:38] mjwitte commented on #5745
@Myoldmopar OK for you to take this one.  When you search you'll find some other uses, like this in OutputProcessor::ProduceRDDMDD:

`rdd_stream << "Program Version," << VerString << ',' << IDDVerString << '\n';`
`rdd_stream << "Var Type (reported time step),Var Report Type,Variable Name [Units]" << '\n';`

These seem to work fine as-is.  And then there's also a platform-specific newline character

[2016-07-05 13:52] RKStrand opened #5755 "Movable Insulation Not Affecting LW Radiation Exchange Between Surfaces"
## Issue overview

In working with another issue in movable insulation, it was discovered that the current code affects the interior thermal absorption correctly for radiation from internal gains after a recent fix.  However, upon testing, it was discovered that when using the test suite test case for interior movable insulation that the results did not change when the movable insulation absorptiv

[2016-07-05 14:15] Myoldmopar commented on #5745
With some fanciful grepping, I count 8 valid hits:
- [ ] https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/EvaporativeCoolers.cc#L1275
- [ ] https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/EvaporativeCoolers.cc#L1310
- [ ] https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/EvaporativeCoolers.cc#L1393
- [ ] https://github.com/NREL/EnergyPlus/blob/develop/src/

[2016-07-05 18:23] rraustad commented on #5400
Interesting. The defect file uses EMS to adjust the tank SP. This in turn confuses the model to believe the HP increased the water temperature and needed to find a PLR below 1.

[code]

Looks like missing logic for HPWH.

[2016-07-05 21:34] RKStrand opened #5757 "Outside Movable Insulation Does Not Differentiate Between Solar and Thermal Absorptivity"
## Issue overview

While working on a bug in the inside movable insulation, it was noticed that the inside movable insulation always grabs the solar absorptivity internally in the subroutine that evaluates inside movable insulation.  That actually is ok because code in the one place where thermal absorptivity is needed does not use the solar absorptivity returned by the subroutine call but actuall

[2016-07-06 14:48] EnergyArchmage opened #5759 "Chiller:CombustionTurbine autosizing not working"
## Issue overview

While working on adding autosizing heat recovery flow rate to Chiller:CombustionTurbine model, noticed that the other autosizing is broken for capacity and evaporator and condenser flow rates.  There is missing logic in the get input routine to set the *WasAutoSized boolean flags.  This was a mistake during rewrite for plant coincident sizing.  There is no integration testfile w

[2016-07-06 15:59] rraustad commented on #5400
See PR #5761

[2016-07-06 19:48] rraustad commented on #5284
Just move the latter up above so it's checked first ?

[code]

[2016-07-06 19:49] rraustad commented on #5284
I assume there is a similar issue here ?

[code]

[2016-07-06 19:54] EnergyArchmage commented on #5284
Probably, yes. good catch.

[2016-07-07 16:06] rraustad commented on #5284
See PR #5763

[2016-07-07 16:27] RKStrand commented on #4324
@BobHenninger @mjwitte So, what are your thoughts on what should be fixed here?  I could clarify this in the documentation making this a purely documentation bug fix.  EnergyPlus does throw a warning to let the user know what is going on, but I am open to modifying this and making code changes if you all think something else should happen.

[2016-07-07 16:58] mjwitte commented on #4324
@RKStrand Is the energy truly lost?  Or is any non-distributed radiant fraction added to convective instead?  If this is as stated above, then it should be a severe, and the error message should report the fractions "distributed to surfaces sums up to 0.0 and . . . to People is 0.0.  100% of the radiant energy . . . will be lost."  _OR_ change the code to throw any undistributed radiant onto all t

[2016-07-07 18:12] asparke2 opened #5764 "Autosizing Heat Recovery Water Flow Rate with Chiller:Electric:EIR"
The IDD for  `Chiller:Electric:EIR` shows `Design Heat Recovery Water Flow Rate` as autosizable.

[code]

However, as Chandan Sharma pointed out in response to [this UnmetHours question](https://unmethours.com/question/18569/heat-recovery-chiller-autosizing/), the autosizing code appears to be missing.  @Myoldmopar pointed out that in place of the autosizing code there is [a very helpful comment](

[2016-07-07 18:46] EnergyArchmage commented on #5764
Planning on addressing this as part of a separate project to fill various autosizing gaps in plant equipment including HR sizing for two other chillers.

[2016-07-07 20:04] RKStrand commented on #4324
@mjwitte Yes, it is truly a loss.  I feel like this situation is clearly a user error/oversight and needs to be fixed.  I think that it was a warning initially to be a little less strict and still give the user some indication that something was up.  I think now that isn't good enough if we are talking about a loss of energy.  I think the most appropriate thing now is to up this to a severe error

[2016-07-07 23:10] mjwitte opened #5765 "Fix for ZoneHVAC:WaterToAirHeatPump flow rates vs coil flow rates slowed HospitalLowEnergy"
## Issue overview

@rraustad PR #5632 (fix for #5430) has caused the HospitalLowEnergy test file to run very slowly.  v8.5.0 runs in 1:34 vs current develop (release build) in 32:35.

Noticed this because recent branches are showing a failure for HospitalLowEnergy in the integration coverage tests, and I'm guessing that the failure is a timeout. This was there in #5632 but I missed it.  So now it'

[2016-07-08 00:06] rraustad commented on #5765
Yes, I didn't notice that earlier. I fixed that in PR #5754 on [this](https://github.com/NREL/EnergyPlus/pull/5754/commits/3440fb9db92513be89502f53a698cfd1a5475183) commit.

[2016-07-08 00:12] mjwitte commented on #5765
@rraustad Thanks, will review #5754 next and get it in to clean that up.

[2016-07-08 13:21] #5745 closed, assigned to nobody

[2016-07-09 14:56] mjwitte commented on #5747
Closed via #5754

[2016-07-09 14:56] #5747 closed, assigned to rraustad

[2016-07-09 14:56] mjwitte commented on #5765
Closed via #5754

[2016-07-09 14:56] #5765 closed, assigned to nobody

[2016-07-11 13:20] rraustad opened #5768 "Example files which show discontinutity in air or water flow rate through fans and pumps"
## Issue overview

New flow conservation warnings show flow mismatch between component inlet and outlet nodes. See PR #5723 for discussion.

New flow conservation warnings shown in 10 example files (9 fan and 1 pump):
- [x] 5ZoneSupRetPlenRAB.idf (VAV w/ water coils) (assumes pass through mode allows fan to be off when air flow > 0)
- [x] 5ZoneSupRetPlenVSATU.idf (VAV w/ water coils) (assumes pass

[2016-07-11 16:06] rraustad commented on #5768
WaterHeaterHeatPumpWrappedCondenser before and after fix:

![wrappedcondenser_fanflowwarning](https://cloud.githubusercontent.com/assets/5778156/16737545/e1b1da9e-475f-11e6-9e14-eacd2bb9540d.png)
![wrappedcondenserfixed](https://cloud.githubusercontent.com/assets/5778156/16737550/e612bd88-475f-11e6-8a14-5a8660117dbb.png)

[2016-07-11 16:08] rraustad commented on #5768
FanCoil_HybridVent_VentSch before fix (fan outlet showed fan off, fan inlet showed fan on):

![fancoil_hybridventsch](https://cloud.githubusercontent.com/assets/5778156/16737605/27f49c4e-4760-11e6-9045-cc896e819c05.png)

After fixes:

![fancoil_hybridvent_fixed](https://cloud.githubusercontent.com/assets/5778156/16746225/60d8412e-4787-11e6-929f-6db4fcf79029.png)

[2016-07-11 18:46] rustymyers commented on #5415
Found this issue in testing our 8-5-0 deployments today. It was closed as duplicate: https://github.com/NREL/EnergyPlusBuildSupport/issues/30

[2016-07-11 19:56] rraustad commented on #5768
StripMallZoneEvapCooler has hard sized fan smaller than evap cooler (2 places fan 6 and 7):

  ZoneHVAC:EvaporativeCoolerUnit,
    SMstore6 Zone Evap Unit, !- Name
    Fan:ConstantVolume,      !- Supply Air Fan Object Type
    SMstore6 Supply Fan,     !- Supply Air Fan Name
    0.65,                    !- Design Supply Air Flow Rate {m3/s}

  Fan:ConstantVolume,
    SMstore6 Supply Fan,     !- Nam

[2016-07-11 20:28] lgu1234 opened #5769 "Use StdRhoAir to calculate OA mass flow rate in DualDuct for consistency"
## Issue overview
#5366 requested to use StdRhoAir to calculate OA mass flow rate in SingleDuct::CalcOAMassFlow. The DualDuct::CalcOAOnlyMassFlow and DualDuct::CalcOAOnlyMassFlow also use the current inlet node density instead of standard density. The StdRhoAir should be used to calculate OA mass flow rate.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating sy

[2016-07-11 20:31] mjwitte commented on #5612
Close via #5671

[2016-07-11 20:31] #5612 closed, assigned to rraustad

[2016-07-11 20:39] mjwitte opened #5770 "User file generating many fancoil max iteration warnings"
## Issue overview

Three files with increasing levels of electric equipment in the data hall zones.  The -P33 file has no fancoil iteration errors, -P66 has a few, and -P100 has a bunch more.  Runtime tripled between -P33 and -P100.  These files may have other issues, but there should be some way for the fancoil to come to a solution quickly even if it can't meet the load or is thrashing around to

[2016-07-12 12:53] rraustad commented on #5768
UPDATE: The warnings are Fan().InletAirMassFlow vs inlet node flow and Fan().OutletAirMassFlow vs outlet node flow, not Node out vs Node in.

The results from 5ZoneSupRetPlenRAB look like false warnings since the csv shows no differences yet the err file shows the warnings.

![5zonesupretplenrab](https://cloud.githubusercontent.com/assets/5778156/16767564/1011fc58-480e-11e6-89bf-6df6a7fdc4ec.png)

[2016-07-12 16:46] #5668 closed, assigned to nealkruis

[2016-07-13 16:21] rraustad commented on #5768
I believe DirectIndirectEvapCoolersVSAS flow warnings will be eliminated when the VS coil branch (issue #5251, PR #5723) is merged here.

[2016-07-13 16:56] RKStrand opened #5772 "Warmup Convergence Issue in File with Only 3 Surfaces"
## Issue overview

During the review of a fix for GitHub Issue #5261, it was discovered that there was a warmup convergence issue with a file that was testing a new error message.  It seems that there was problems converging during the warmup phase.  This needs to be further investigated to determine the cause of the convergence issue.
### Details

Some additional details for this issue (if releva

[2016-07-13 17:39] rraustad commented on #5768
For HVACTemplate-5ZoneVAVFanPowered, the fan schedule is more restrictive than the TU availability schedule. The PIU sets flow if the TU is available, then the fan shuts down the flow. For this reason the node inlet and outlet flow rates do not match. The question is, if the fan is scheduled off, can there possibly be flow through a PIU? My guess is no. I can fix this (and will) but would like con

[2016-07-14 01:22] mjwitte commented on #5261
Close via #5716

[2016-07-14 13:36] rraustad commented on #5465
Closed via #5743.

[2016-07-14 13:36] #5465 closed, assigned to Nigusse

[2016-07-14 15:40] Nigusse opened #5773 "Heat recovery heat exchanger is sized to two different design supply air flow rates when used Zone ERV object"
Heat recovery heat exchanger in ZoneHVAC:EnergyRecoveryVentilator object is auto sized in the parent object and as a child object in heat recovery module.

The heat exchanger design supply air flow rate in ZoneHVAC ERV is sized to a design outdoor air or ventilation air flow requirement while in heat recovery model it is sized to the zone design flow rate. And both autosized values are reported to

[2016-07-14 15:48] mjwitte commented on #5773
@Nigusse Hmm, I thought this was all straightened out here in #4668.

[2016-07-14 15:56] Nigusse commented on #5773
@mjwitte It must have been missed. I have added EIO file as part of the defect file for quick look.

[2016-07-14 16:09] EnergyArchmage opened #5775 "Nominal Capacity Reporting for Plant Heat Exchanger is Suspect"
## Issue overview

The nominal capacity reported for the fluid to fluid HX appears to be too low.  In the defect file, the predefined tablular report shows 600kW, yet during the simulation the device routinely runs at around 1,800kW.  Need to check that the capacity calculation method is using the correct node inlet temperatures before calling calc routine.
### Details

Some additional details for

[2016-07-14 16:40] mjwitte commented on #5773
@Nigusse It's not sizing to the design supply flow, but it's initially sizing to the ventilation rate specified in the zone sizing object which isn't consistent with the ventilation rate specified in the ERV object.  So, what it's currently reporting for design size is correct - it's the sizing ventilation rate.  But it shouldn't be reporting HX size three times.  And we should consider changing t

[2016-07-14 16:51] mjwitte commented on #5773
@Nigusse Strike that last comment.  (deleted above).  But I went back to the test file from the earlier fix which was implemented in v8.3.  It differs from this defect file in two ways - it didn't have sizing:zone object and the simulation control sizing flags were set to No.  So, I made it equivalent to this one and ran it with v8.3 and v8.4.  Something changed in v8.4 to add the extra sizing out

[2016-07-14 16:59] Nigusse commented on #5773
@mjwitte Looking at the results for v8.4 above, the HX is sized again in the HeatRecovery module, I think.

[2016-07-15 00:01] mjwitte commented on #4964
Closed via #5691

[2016-07-15 00:01] #4964 closed, assigned to Myoldmopar

[2016-07-15 11:01] mjwitte commented on #5687
Closed via #5721

[2016-07-15 11:01] #5687 closed, assigned to lgu1234

[2016-07-15 23:32] mjwitte commented on #5563
This was completed in March, closing.

[2016-07-15 23:32] #5563 closed, assigned to Myoldmopar

[2016-07-16 01:47] mjwitte opened #5778 "Design day temperature and other schedules do not interpolate to timestep"
## Issue overview

_From user:_
In the attached IDF file, I am using Schedule:Day:Interval objects to define summer designday drybulb, wetbulb, beam and diffuse solar radiation profiles.

In the Schedule:Day:Interval objects, I have set the "Interpolate to Timestep" to "Yes". However, from the simulation result, I can see that the output values were not interpolated to each simulation time step (1

[2016-07-16 01:53] mjwitte commented on #5778
Comments from a developer emeritus:
I think there are two sort of problems here. (not sure I have the time to track them down). The schedule:interval is not designed to do what he wants. I tried putting in the Untils on the 1/2 hour but that didn't really help. I used schedule:hourly for some and that wasn't a solution either -- so basically, either the fill of the schedule values is not set up to

[2016-07-16 13:25] mjwitte commented on #5412
Closed via #5703

[2016-07-16 13:25] #5412 closed, assigned to rraustad

[2016-07-17 12:08] Myoldmopar commented on #5726
Closed via #5736

[2016-07-17 12:08] #5726 closed, assigned to Myoldmopar

[2016-07-18 13:39] lgu1234 commented on #5737
Closed.

[2016-07-18 13:39] #5737 closed, assigned to rraustad

[2016-07-18 18:25] Myoldmopar commented on #5682
Closed via #5701

[2016-07-18 18:25] #5682 closed, assigned to JasonGlazer

[2016-07-18 18:26] Myoldmopar commented on #4110
Closed via #5707   right?

[2016-07-18 18:26] #4110 closed

[2016-07-18 19:54] rraustad commented on #4110
Correct, PR #5707 is the fix for #4110.

[2016-07-19 03:03] Myoldmopar commented on #5442
Closed via #5774

[2016-07-19 03:03] #5442 closed, assigned to Nigusse

[2016-07-19 12:51] nxtruong opened #5780 "Remove jsoncpp from thirdparty"
## Issue overview

It seems to me that thirdparty/jsoncpp is not used anywhere in the code, and the current code in jsoncpp looks pretty outdated compared to the current jsoncpp I found on github. I would suggest removing jsoncpp from the code tree, unless there is a plan to use it in the future. In the latter case, forgive me for creating this unnecessary issue.

[2016-07-19 12:59] Myoldmopar commented on #5780
We had a [discussion](https://github.com/NREL/EnergyPlus/pull/4955) last year and decided jsoncpp was the right tool for the job.  Moving forward, we're going to be adding JSON input to EnergyPlus, so the library has undergone further scrutiny.  At the point that is pushed forward, we will either update jsoncpp to a good version, or change to a different library, removing jsoncpp so that we don't

[2016-07-19 12:59] #5780 closed, assigned to nobody

[2016-07-19 15:27] nxtruong commented on #5648
I was hit with the same error (Error starting Transition-Vx-x-x Program: 2), on Mac with EnergyPlus v8.5.0, while converting an IDF file in v8.4 to v8.5. I followed the fix by @JasonGlazer (comment on May 23rd) but the error persisted.

The IDF file is from an example included in BCVTB (attached).
[SmOffPSZ.idf.zip](https://github.com/NREL/EnergyPlus/files/371821/SmOffPSZ.idf.zip)

[2016-07-19 15:31] JasonGlazer commented on #5648
@nxtruong I hope the fix that will be included in 8.6 resolves the issue you found. See [5678](https://github.com/NREL/EnergyPlus/pull/5678)

[2016-07-19 15:41] nxtruong commented on #5648
@JasonGlazer It seems the fix you mentioned is for a problem transitioning from v8.1 to v8.2. But my IDF file is currently in v8.4, so my transition is from 8.4 to 8.5, not involving the step from 8.1 to 8.2.

[2016-07-19 16:08] rraustad commented on #5629
Verified defect as shown:

![5629-1](https://cloud.githubusercontent.com/assets/5778156/16957180/65de0514-4da9-11e6-9cc0-8deb8db716d3.png)

And corrected version:

![5629-2](https://cloud.githubusercontent.com/assets/5778156/16957194/6f2b124c-4da9-11e6-96c2-11f30d83bb13.png)

[2016-07-19 16:45] JasonGlazer commented on #5648
@nxtruong Thanks, I will take a look at it and if it is a new bug, I will open a new issue.

[2016-07-19 17:39] rraustad commented on #5629
Included report variables for water use rate. Haven't connected to a storage tank since that would require a new input (Supply Water Storage Tank Name). Also need to add new inputs for Evaporative Condenser Effectiveness and Evaporative Condenser Pump Rated Power Consumption. This seems beyond the scope of this issue.

![5629_3](https://cloud.githubusercontent.com/assets/5778156/16960132/2d6ef0dc-

[2016-07-19 18:07] mjwitte commented on #5629
@rraustad You say "Included report variables for water use rate".  Does that mean current code does not consume any water if the condenser is evap cooled?

[2016-07-19 18:34] mjwitte commented on #5711
Closed via #5751

[2016-07-19 18:34] #5711 closed, assigned to EnergyArchmage

[2016-07-19 19:02] rraustad commented on #5629
See PR #5782

[2016-07-19 19:04] rraustad commented on #5629
I believe so since the report variables were not set up to count the water use. I added:

[code]

[2016-07-19 20:52] mjwitte commented on #5629
OK.  Then please make sure the addition of water consumption is highlighted in the change description.

[2016-07-20 02:21] mjwitte opened #5783 "AvailabilityManager:OptimumStart not working as expected - appears to be crosstalk between systems"
## Issue overview

_From user:_
I'm using AvailabilityManager:OptimumStart to start VAV system 'AHU.SP' up to 1 hour early in the attached IDF. The results show the AHU starting at the earliest possible time (5 AM) on all operating days of the year in 'OptStart.idf', regardless of zone temperature conditions. The normal start time is 6 AM which can be seen working normally in 'NoOptStart.idf'

I t

[2016-07-20 10:47] jmarrec commented on #4560
+1 I came on github to report this issue, I see it's been flagged before.

I have entered Autosize and AUtocalculate for High/Low fan speed U-factor times area value.

[2016-07-20 11:24] mjwitte commented on #5773
Closed via #5779

[2016-07-20 11:24] #5773 closed, assigned to nobody

[2016-07-20 13:46] rraustad commented on #5629
Water use summary for V8.5 and develop in tab report.

V8.5 (values are [m3] [%]):

Water Source Summary
    Water Supplied by Utility   0.00    -

Develop:

Water Source Summary
    Water Supplied by Utility   4594.70 100.00

Similar for html report (V8.5 showed 0), building area = 19.5 m2 x 235.66 m3/m2 = 4595.37 m3

![5629-html](https://cloud.githubusercontent.com/assets/5778156/16988514/a4c237

[2016-07-20 20:47] rraustad commented on #5739
A mathematician shows the method used for solving the exponent case.

[LMRegressionAlgorithm.pdf](https://github.com/NREL/EnergyPlus/files/374620/LMRegressionAlgorithm.pdf)

[2016-07-21 14:46] EnergyArchmage commented on #5284
closed via PR #5763

[2016-07-21 14:46] #5284 closed, assigned to rraustad

[2016-07-22 15:31] rraustad commented on #5783
Only works with single air loop, and even then there are deficiencies.

[2016-07-22 19:44] rraustad commented on #5783
See PR https://github.com/NREL/EnergyPlus/pull/5787

[2016-07-25 19:05] mjwitte opened #5788 "ZoneHVAC:IdeaLoadsAirSystem EMS mass flow rate and supply temperature actuators not working correctly"
## Issue overview

User noticed that the actual zone sensible cooling reported by ZoneHVAC:IdealLoadsAirSystem was not consistent with the EMS actuated values for supply temperature and mass flow rate.  Detailed reporting revealed that the ideal loads system was off (zero supply flow) at times when the EMS actuated mass flow rate was > 0.  It appears that ideal loads system can shut itself off whe

[2016-07-25 19:38] mjwitte commented on #5788
Also, it would be nice to add two more output variables
Zone Ideal Loads Supply Air Temperature
Zone Ideal Loads Supply Air Humidity Ratio

[2016-07-25 21:38] mjwitte opened #5789 "Hard limit of 60C on max return air temperature causing problems with hot zone"
## Issue overview

Zone is an engine-room with very high internal gains which exceeds 60C for a few days of the year.  User noticed that the temperature spiked more than expected on three afternoons in July.  Turns out the zone return air node temperature is limited to 60C and any excess heat is dumped back in the zone, so this snowballs and jacks up the zone air temperature.

Return air temperatu

[2016-07-26 21:54] EnergyArchmage commented on #5710
Somehow the thermostat setpoint is coming out to be 0.0 during zone sizing.

   *\* Severe  *\* UpdateZoneSizing: Cooling supply air temperature (calculated) within 2C of zone temperature
   *\*   ~~~   *\* ...check zone thermostat set point and design supply air temperatures
   *\*   ~~~   *\* ...zone name = BACK_SPACE
   *\*   ~~~   *\* ...design sensible cooling load = 852423.67 W
   *\*   ~~~

[2016-07-26 22:32] EnergyArchmage commented on #5710
The addition of a new and different calling point changes when the EMS input is gotten.
 Calling point InsideHVACSystemIterationLoop  does not ever get called during sizing but EndOfSystemTimestepBeforeHVACReporting does.

What was happening is that the EMS actuators are created and the new Erl variables associated with them start out as a value type number.

[code]

But the Erl variables for actu

[2016-07-27 19:11] Myoldmopar commented on #4404
Closed via #5660

[2016-07-27 19:11] #4404 closed

[2016-07-27 19:11] Myoldmopar commented on #4943
Closed via #5660

[2016-07-27 19:11] #4943 closed, assigned to EnergyArchmage

[2016-07-27 19:13] Myoldmopar commented on #4126
Addressed via #5791

[2016-07-27 19:13] #4126 closed

[2016-07-27 19:41] Myoldmopar commented on #4944
Closed via #5741

[2016-07-27 19:41] #4944 closed, assigned to JasonGlazer

[2016-07-28 15:13] MatthewSteen opened #5793 "Load Profile Schedule documentation for LoadProfile:Plant"
The IO documentation for the [Load Schedule Name](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-non-zone-equipment.tex#L29) should include additional information about the sign of the load - negative for cooling, positive for heating (related #2533). If a cooling load is entered as positive, a `Runaway Plant Temperatures` error can occur.

[2016-07-28 20:50] Myoldmopar opened #5795 "Tank Node Temperature Discrepancy"
## Issue overview

We are seeing a tank temperature reporting problem.  We added output variables:

Output:Variable,_,Chilled Water Thermal Storage Source Side Inlet Temperature,timestep;
Output:Variable,_,Chilled Water Thermal Storage Source Side Outlet Temperature,timestep;
Output:Variable,Node 27,System Node Temperature,timestep;
Output:Variable,Node 68,System Node Temperature,timestep;

Where

[2016-07-28 20:56] Myoldmopar opened #5796 "IOReference Order Problem"
Below describes what appears to be just an order problem.  The first entry header is the init program, but the text description appears as the simulate program.  And vice-versa on the second.

---

For your reference, this is the section that we just discussed where the descriptions appear to be switched. It’s on page 1979:
### 1.46.4.9 Field: Plant Connection X Initialization Program Calling Mana

[2016-07-29 13:43] Myoldmopar commented on #5516
Closed via #5724

[2016-07-29 13:43] #5516 closed, assigned to rraustad

[2016-07-29 14:51] Myoldmopar commented on #5720
Closed via #5760

[2016-07-29 14:51] #5720 closed, assigned to RKStrand

[2016-07-30 03:00] Myoldmopar commented on #5007
Closed via #5698

[2016-07-30 03:00] #5007 closed, assigned to lgu1234

[2016-08-02 15:34] Myoldmopar commented on #5757
Closed via #5762

[2016-08-02 15:34] #5757 closed, assigned to RKStrand

[2016-08-02 16:40] Myoldmopar commented on #5710
Closed via #5792

[2016-08-02 16:40] #5710 closed, assigned to EnergyArchmage

[2016-08-02 17:27] Myoldmopar commented on #5629
Closed via #5782

[2016-08-02 17:27] #5629 closed, assigned to rraustad

[2016-08-03 16:02] rraustad commented on #5770
Moved to RegulaFalsi and warnings are now gone in P66 version after I moved water coil sensor node to coil outlet node. Testing original P66 and P100 versions now.

[2016-08-03 17:18] rraustad commented on #5770
Original P66 runs with no fan coil or SimHVAC warnings. P100 runs with no fan coil warnings yet does have SimHVAC max iteration warnings. I wonder if the P100 SimHVAC warnings are due to air loop operation and not fan coil operation? There are so many HVAC systems in these files it's hard to tell what's causing the SimHVAC warnings.

[2016-08-03 19:45] rraustad commented on #5770
See PR #5800

[2016-08-04 13:23] RKStrand commented on #5772
@mjwitte @Myoldmopar

Investigation of problem:
1. As this was noted in a file with three surfaces that previously was not causing a problem in its six surface variety, the investigation started with looking at the radiation balance and the calculation of various information related to interior radiant exchange.  It was thought that perhaps there was a problem with the calculation of radiation exc

[2016-08-04 14:51] mjwitte commented on #5772
@RKStrand I think I follow all of this, and the solution sounds reasonable.

[2016-08-04 14:54] RKStrand commented on #5772
@mjwitte Great--thanks, Mike!  I'll proceed on that basis and hope to have this wrapped up relatively soon.  I'll let you and Edwin know when it is ready for review.

[2016-08-04 21:27] mjwitte commented on #5603
- [x] In IDD, Sizing:System, field A7, \field Heating Supply Air Flow Rate Method, key choice "FlowPerCoolingCapacity" should be "FlowPerHeatingCapacity".  From helpdesk ticket 11502.

_Addressed in #5817_

[2016-08-04 22:46] mjwitte opened #5803 "Heating coil capacity specified in Sizing:System does not flow into Coil:Heating:Water capacity correctly"
## Issue overview

_From user_
using Sizing:System to assign heating and cooling capacities to VAV system 'AHU.WP' in my IDF. The cooling coil size reported in the output table matches my sizing input in 'cooling design capacity input' (139,000 W). The reported heating coil sizing (67,574.1 W) however, does not match my 'heating design capacity input' of 46,000 W. I tried a number of different cap

[2016-08-05 14:50] EnergyArchmage commented on #5795
Check if there is zero mass flow during these times, this might be expected behavior.

[2016-08-05 17:05] mjwitte opened #5805 "Several testfiles have old version numbers"
## Issue overview

Happened to notice version warnings while testing all of the new (and old) DOATo\* testfiles.  Searching current develop finds files listed below with old version numbers.  Maybe some need to be transitioned up?  Most probably just need the version number changed to 8.6, but should test them all.

Also, would be good to run all the testfiles through transition with the MakingPre

[2016-08-05 20:33] mjwitte commented on #5603
- [ ] I/O Ref, the figures for AirTerminal:SingleDuct:Mixer are missing lines.  [image275.png](https://github.com/NREL/EnergyPlus/blob/c87e61b44bce627bc0fac6f0574d9b018015a3be/doc/input-output-reference/media/image275.png) and  [image276.png](https://github.com/NREL/EnergyPlus/blob/c87e61b44bce627bc0fac6f0574d9b018015a3be/doc/input-output-reference/media/image276.png)

- ***addressed in issue #560

[2016-08-05 20:40] Nigusse commented on #5603
-  [ ] I see figures position floating in IORef for "GroundHeatExchanger:Surface" object as well. image205.png and image206.png Here, and above, arrowheads show, but the lines to the arrowheads are missing.

- ***addressed in issue #5603 (replaced with modified images).***

[2016-08-05 21:43] mjwitte commented on #5603
- [ ] Fix #5793

[2016-08-05 22:15] kburova opened #5806 ""integration.5ZoneElectricBaseboard" test fails when swap "SizingPeriod:DesignDay" objects' positions in 5ZoneElectricBaseboard.idf"
## Issue overview

If I swap positions of two _SizingPeriod:DesignDay_ objects in [5ZoneElectricBaseboard.idf ](https://github.com/NREL/EnergyPlus/blob/fef0a0afbedd89d4d1ae22ea6d8262d9082108a2/testfiles/5ZoneElectricBaseboard.idf#L163) file it causes EnergyPlus simulation to fail.
At some point of simulation, [at the line of code](https://github.com/NREL/EnergyPlus/blob/fef0a0afbedd89d4d1ae22ea6d8

[2016-08-08 23:04] nmerket commented on #5752
Right now I'm looking at the `Coil:Heating:Gas` and `Coil:Heating:Electric` objects. I'm thinking the best option would be to add a `Coil:Heating:OtherFuel` with appropriate fuel types. Any objections?

[2016-08-09 03:33] shorowit commented on #5752
Works for me. This is pretty consistent with `ElectricEquipment`, `GasEquipment`, and `OtherEquipment`.

[2016-08-09 13:22] Myoldmopar commented on #5313
Closed via #5801

[2016-08-09 13:22] #5313 closed, assigned to nobody

[2016-08-09 13:22] Myoldmopar commented on #5421
Closed via #5801

[2016-08-09 13:22] #5421 closed, assigned to nobody

[2016-08-09 17:29] rmcclung opened #5808 "ChillerHeaterPerformance:Electric:EIR Heating Electricity, Curves, and Cooling Setpoint"
I'm using the ChillerHeaterPerformance:Electric:EIR as a central air-source heat pump that operates in either cooling-only or heating-only, serving two-pipe fan coils.  The air source is a condenser water loop with a plant temperature source.

There are two problems.  First (and really only a minor annoyance), is that the chilled water set point seems to be hard coded at 12.2C.  So when I want a l

[2016-08-09 19:44] nmerket commented on #5752
Here is the [New Feature Proposal](https://github.com/NREL/EnergyPlus/blob/coil_heating_otherfuel/design/FY2016/CoilHeatingOtherFuel.md)

[2016-08-10 03:07] Myoldmopar commented on #5755
Closed via #5798

[2016-08-10 03:07] #5755 closed, assigned to RKStrand

[2016-08-10 03:10] #5656 closed, assigned to nmerket

[2016-08-11 00:33] mbadams5 commented on #5806
Do either of you two (@Myoldmopar or @EnergyArchmage) have any idea on this? This fails with an assertion error in debug build. Defect file uploaded to DevSupport. We are hitting this on the InputProcessor refactor.

[2016-08-11 14:42] EnergyArchmage commented on #5806
Bummer, these can be difficult find.  We used to run "reverse DD" tests fairly often to catch this sort of thing (and I shudder thinking about all the time spent tracking such things down).

Running both IDFs in the debugger, I see what is going wrong.  When the system first runs on a cooling day, the heating calculation routine doesn't execute the first time the baseboard gets called.  But when t

[2016-08-11 15:15] EnergyArchmage commented on #5806
okay, quick fix in pr #5811  that you can incorporate to get past this for your integration testing.  It still needs a unit test.

[2016-08-11 17:09] EnergyArchmage commented on #5806
looks like ZoneHVAC:Baseboard:RadiantConvective:Water, ZoneHVAC:Baseboard:RadiantConvective:Steam,  will have the same problem because they have the same code pattern.

Adding a better fix for all three radiant baseboards to the pull request

[2016-08-12 15:55] #5806 closed, assigned to EnergyArchmage

[2016-08-12 17:36] poltv opened #5814 "Ecoroof: Moisture Diffusion Calculation Method"
## Issue overview

The advanced Moisture Diffusion Calculation Method is showing unrealistic results: water content of the substrate goes from almost saturated to almost dry in few timesteps and viceversa, while in reality  drying process take days. Wetting process can be fast, but not that fast. The "Simple" method tends to give results close to actual substrate moisture content data.

Problem se

[2016-08-15 15:13] Nigusse commented on #5603
- [ ] I/O Ref, in section 1.47.12 AvailabilityManager:OptimumStart the description for the input field "Control Algorithm" says, "The AdaptiveASHRAE algorithm has not been implemented yet." But the IDD for this input field says, "default value for Input field "Control Algorithm" is AdaptiveASHRAE. The I/O Ref is out of date.  The develop version of latex document has the same issue.

- ***addresse

[2016-08-15 17:48] mjwitte commented on #5366
Closed via #5758

[2016-08-15 17:48] #5366 closed, assigned to lgu1234

[2016-08-15 18:20] mjwitte commented on #5769
Closed via #5781

[2016-08-15 18:20] #5769 closed, assigned to lgu1234

[2016-08-15 18:23] mjwitte commented on #5772
Closed via #5804

[2016-08-15 18:23] #5772 closed, assigned to RKStrand

[2016-08-16 13:12] Myoldmopar commented on #5400
Closed via #5761

[2016-08-16 13:12] #5400 closed, assigned to rraustad

[2016-08-16 13:33] Myoldmopar commented on #5783
Closed via #5787

[2016-08-16 13:33] #5783 closed, assigned to rraustad

[2016-08-16 15:28] mjwitte commented on #5730
@EnergyArchmage Would you agree with these proposed changes?

[2016-08-16 15:35] mjwitte commented on #5344
@Myoldmopar Is this something we can still push in this week?  Is there code laying around somewhere to slip in for this autosizing?

[2016-08-16 15:51] mjwitte commented on #5385
Closed via #5743

[2016-08-16 15:51] #5385 closed, assigned to rraustad

[2016-08-16 15:56] mjwitte commented on #5441
@rraustad @EnergyArchmage @Myoldmopar Do we want to try to tackle this before IDD freeze?

[2016-08-16 15:59] mitchute opened #5816 "Remove multithreading option from EP-Launch"
EP-Launch has an option for "Disable Multi-Threading" and some related lines in [Epl-run.bat](https://github.com/NREL/EnergyPlus/blob/79c5313d90a1d2e256d21793c9be7f33bf3b59b7/scripts/Epl-run.bat#L324-L328) that need to be cleaned up following the removal of the OpenMP code remnants that were removed in PR #5812
### Checklist

Add to this list or remove from it as applicable.  This is a simple temp

[2016-08-16 16:05] mjwitte commented on #5060
Closed via #5136 and #5393

[2016-08-16 16:05] #5060 closed, assigned to Nigusse

[2016-08-16 16:10] rraustad commented on #5441
Not sure what the end result would look like. There are 5 cases where constant fan is the default. Cycling fan doesn't work with SP based control so default was chosen accordingly (I could force a constant fan schedule here). I could change VRF and changeover bypass to default to cycling fan. That leaves Unit\* with Fan:ConstantVolume to figure out. Worst case is adding fan operating mode schedule

[2016-08-16 16:11] mjwitte commented on #5441
@rraustad Sounds like this needs to wait for v8.7.

[2016-08-16 16:12] EnergyArchmage commented on #5441
I am out of hours and can't be part of "we".

[2016-08-16 19:57] wfbuhl commented on #5803
There's something more (or different) going on here. Here's the results for the 5 reheat coils in 5ZoneWarmest:

Water Heating Coil Capacity Information,Coil:Heating:Water,SPACE1-1 ZONE COIL,9996.61
Water Heating Coil Capacity Information,Coil:Heating:Water,SPACE2-1 ZONE COIL,9996.61
Water Heating Coil Capacity Information,Coil:Heating:Water,SPACE3-1 ZONE COIL,9996.61
Water Heating Coil Capacity I

[2016-08-16 20:05] wfbuhl commented on #5696
So what's going on with this issue? No longer an issue? sOME BODY WORKING ON IT?

[2016-08-16 21:16] rraustad commented on #5696
No one actively working on this as far as I know.

[2016-08-17 19:24] Lefort-Antoine opened #5818 "RunPeriod - Day of Week for Start Day -and RunPeriodControl:SpecialDays"
## Issue overview

The 'Start Date' of 'RunPeriodControl:SpecialDays' is not respected when:
- the 'Start Date' form type is : '3rd Monday in January'
- and the 'UseWeatherFile' is specified for "Day of Week for Start Day" of the 'Run Period'
  while schedule weekdays are correct.

Comparaison have been done specifying the 'Sunday' for "Day of Week for Start Day" of the 'Run Period' (similar to th

[2016-08-17 21:19] mjwitte commented on #4613
@rbuffat Comments regarding \required-field and \default have been added in #5817.  Other issues (duplicate field names, special characters, spaces before < and >) have been previously corrected.

[2016-08-17 21:29] mjwitte commented on #5502
@macumber The issue of fields with both \required-field and \default has been fixed in #5817 based on the list you provided [above](https://github.com/NREL/EnergyPlus/issues/5502#issuecomment-187774318).  It would be great if you could run the revised IDD through the same script and let me know any of these were missed or if other errors pop up.

[2016-08-17 21:43] rbuffat commented on #4613
@mjwitte thanks for the update

[2016-08-17 21:43] #4613 closed

[2016-08-18 12:03] #5752 closed, assigned to nmerket

[2016-08-18 13:59] shenb opened #5819 "Bug fix for variable speed heat pump water heater coil, COP calculation"
## Issue overview

when developing a new module, we found a bug in VariableSpeedCoils.cc. CalcVarSpeedHPWH(), the HPWH coil COP was calculated in a reversed way, and thus, leading to wrong power calculations. All versions before 8.5 had wrong power calculations related to variable-speed heat pump water heater module.

for a single line for codes:
previous error:
        COP = 1.0/VarSpeedCoil( DXC

[2016-08-18 14:47] dstuder opened #5820 "IOReference Errors for HeatExchanger:AirToAir:SensibleAndLatent"
There are several errors in the documentation for object 1.51.2 HeatExchanger:AirToAir:SensibleAndLatent:
1. Figure 1.164 has no caption. However, it appears that a legacy caption is misplaced lower on the page: "Figure 150. Schematic of the Sensible and Latent Air-to-Air Heat Exchanger"
2. Two headers are included for Table 1.48. The first one (at the bottom of page 2086) is correct, although the

[2016-08-18 15:25] EnergyArchmage opened #5821 "Heating water coil sizing mixing up hot and cold initialization temps"
from code inspection, specific heat is calculated using DataGlobals::HWInitConvTemp but density is calculated using DataGlobals::CWInitConvTemp, here:

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ReportSizingManager.cc#L1421
## Issue overview

Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions

[2016-08-19 15:30] macumber commented on #5502
Also commented on the pull request, here are the current errors:

[code]

[2016-08-19 17:57] mjwitte opened #5823 "Followup for new cooling panel ZoneHVAC:CoolingPanel:RadiantConvective:Water"
## Issue overview

ZoneHVAC:CoolingPanel:RadiantConvective:Water was added in #5027.  Some outstanding issues remain:
- [x] Fix sizing - scalable sizing input fields were added to IDD and input processing in https://github.com/NREL/EnergyPlus/pull/5027/commits/7eb88d9c799aa3c640f81b1d006e781bf62e92ab but it doesn't appear that they are implemented in the sizing function for this component.  *The s

[2016-08-21 21:50] mjwitte opened #5825 "Daylighting followup"
## Issue overview

Followups from DElight integration #5725
- [x] Restore delight stream and unit test or remove commented code in simulationmanager.
- [x] Question about eio diffs - DElight reporting is now for two zones instead of one.  Is this correct?
- [x] Complete or remove TEST_F(EnergyPlusFixture, DElightManagerF_InputGenerator_Test)
- [x] Add transition of daylighting reference point outp

[2016-08-22 15:14] Myoldmopar commented on #5502
Closed via #5817

[2016-08-22 15:14] #5502 closed, assigned to nobody

[2016-08-22 15:18] Myoldmopar commented on #4664
Closed via #5575

[2016-08-22 15:18] #4664 closed

[2016-08-22 15:18] Myoldmopar commented on #5600
Closed via #5575

[2016-08-22 15:18] #5600 closed, assigned to nobody

[2016-08-22 16:59] JasonGlazer commented on #5825
The EIO changes were incorrect, added code to detect condition.

[2016-08-22 19:10] Myoldmopar commented on #4335
Closed via #5812

[2016-08-22 19:10] #4335 closed

[2016-08-23 12:26] Myoldmopar commented on #4262
@rraustad So is there anything that needs to be done to close this issue?  Protect against insane (NaN-instigating) sized towers?

[2016-08-23 12:31] Myoldmopar commented on #4187
I concur, it would be good to:
- Change the default to zero
- Maybe only throw the non-zero warning _if_ we end up in the condition above?  Tell the controller not to throw the fatal and instead throw the fatal in the component itself so we can be a little more informative?

[2016-08-23 12:35] rraustad commented on #4262
I saw that the towers operated correctly when appropriately sized and moved on. I guess something is still needed here. I'll have to circle back to this when I get some time.

[2016-08-23 12:38] Myoldmopar commented on #4262
OK, if you don't anticipate getting back to this during the next few weeks I'll take it.

[2016-08-23 14:48] rraustad commented on #4262
There was a problem with sizing and is now corrected. There were two variables used to set up the RegulaFalsi routines (Par array variables) that were not set correctly and still showed -99999 or other negative number (i.e., AutoSize \* something). I ran the 10 tower defect file and see only 1 tower operating, which makes sense since all towers are grossly oversized. At least now there is no fatal

[2016-08-23 15:28] rraustad commented on #4262
@EnergyArchmage while creating a unit test for single speed tower, copied the existing Merkel unit test and converted to single speed. With MyLoad = 0, the tower outlet is equal to the set point temp while the inlet is a little higher. Should all towers be off if MyLoad = 0 ... with outlet = inlet? See issue #4927 and existing unit test = CondenserLoopTowers_MerkelNoCooling.

[2016-08-23 15:36] EnergyArchmage commented on #4262
If I recall the old single speed tower controls off leaving setpoint and doesn't really respond to MyLoad, like it should.  Long standing "design" feature.

[2016-08-23 15:48] rraustad commented on #4262
See PR https://github.com/NREL/EnergyPlus/pull/5831

[2016-08-23 15:49] JasonGlazer opened #5832 "Remove sin() and cos() from loop in SkyDifSolarShading()"
In the SkyDifSolarShading() routine within SolarShading.cc, the sin() and cos() of angles are calculated within a loop even though they are based on constants NPhi and NTheta. Precalculating these might improve overall performance.
### Checklist

Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
- [ ] Defect file added (list location of defect file he

[2016-08-23 16:52] RKStrand commented on #4393
@mjwitte @BobHenninger So, I am looking at this defect and I clearly see the problem, but I don't think that the problem is actually in the code itself.  I think the problem is more in the input files and a need for additional documentation in the IO Reference to give some guidance for using autosizing with a radiant system.  Inside the code, based on what I saw during debugging runs, it is pickin

[2016-08-23 17:01] EnergyArchmage commented on #5626
I agree with Chandan here, code changes pushed to this branch

https://github.com/NREL/EnergyPlus/tree/5626-Plant-HX-min-DT

[2016-08-23 17:09] mjwitte commented on #4393
@RKStrand Sounds like a good plan.  You might consider putting the longer discussion in Tips and Tricks instead of Engineering Ref.  As long as it's referenced in the I/O Ref, either one should work.

[2016-08-23 17:31] mjwitte opened #5833 "Coil:Heating:Gas transition is missing from develop"
## Issue overview

Somehow the transition for Coil:Heating:Gas got lost from the transition source during the flurry of merges.  Need to double check rules file and transition source for anything else that may have been stomped on.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating system, version)
- Version of EnergyPlus (if using an intermediate build, inclu

[2016-08-23 18:07] RKStrand commented on #4393
@mjwitte Putting that longer discussion in Tips and Tricks sounds like a much better idea than putting it in the Engineering Reference--I will do that instead.  Thanks for the suggestions.

[2016-08-23 18:08] EnergyArchmage commented on #5626
see pull request #5834

[2016-08-23 18:40] RKStrand commented on #4852
@ZhukovGreen I hope to be looking at this issue very soon.  I am interested to see what the actual zone air temperature is for the data that you posted.  You said that the dew-point temperature is changing, but in order to see just how that is changing we need to know how humidity ratio not relative humidity is varying. Have you posted your input file already (or is it the same file that @mjwitte

[2016-08-23 19:56] mjwitte commented on #4852
@RKStrand 5ZoneSwimmingPool test.idf (attached to this issue [above](https://github.com/NREL/EnergyPlus/issues/4852#issuecomment-229748983) is from a different user.

There is a different file in \EnergyPlusDevSupport\DefectFiles\4000s\4852\ #ESS0712_SwPoolApp.idf which I believe is the file from @ZhukovGreen

[2016-08-23 19:58] mitchute commented on #5833
@mjwitte I can roll this into my work over on #5805, so I'll handle this unless you say otherwise.

[2016-08-23 20:09] mitchute commented on #4262
Possibly related to #5153 ?

[2016-08-23 20:20] rraustad commented on #4262
I think #5153 might be caused by the towers not looking at MyLoad and always meeting the set point. #4927 clued me in on that subtle operation. MyLoad is not even passed into CalcSingleSpeedTower, nor to Init but a RunFlag variable is passed to Init but not used. If the tower mass flow rate is set to 0 in Init (based on RunFlag?) then the tower won't run.

[2016-08-23 20:31] rraustad commented on #5153
I think this might do the trick.

at line 2290 of CondenserLoopTowers.cc in Init.

[code]

[2016-08-23 20:44] EnergyArchmage commented on #5153
I agree with @mjwitte  here, the single speed tower code doesn't really use the load dispatch singles, only temperature setpoints.  The chillers and boilers are better at responding to myload.

I agree with @mitchute that #4262 and this #5153 could be the same thing, more than one tower behaving poorly because of how the original tower algorithms are implemented for temperature setpoint.

[2016-08-23 21:04] mjwitte opened #5835 "Sizing:System with FlowPerCoolingCapacity and CoolingDesignCapacity not working as expected"
## Issue overview

User file Sizing:System object has these inputs for system airflow and coil capacities:

[code]

Expected airflow rate for this system is 0.00006041_14400=0.8699 for heating and 0.00006041_12500=0.755124 for cooling, but the eio reports:

[code]

Appears the the FlowPer...Capacity is not checking if the user also specified a hard value for heating/cooling capacity.
### Details

[2016-08-24 12:20] rraustad opened #5837 "Airloop heating coils size using minimum air flow rate when VAV terminal units are used"
## Issue overview

User file shows main air loop heating coil using the minimum air flow rate to size the coil. In ReportSizingManager::RequestSizing, when an air loop coil is sized, this code is executed:

[code]

This does not make sense when sizing a main air loop heating coil. Why would the FinalSysSizing.SysAirMinFlowRat ever be used to size the air loop heating coil? When the desiccant sizin

[2016-08-24 12:49] rraustad commented on #5837
@mjwitte @wfbuhl is there ever a reason to use FinalSysSizing( CurSysNum ).SysAirMinFlowRat to size a main air loop heating coil?

[2016-08-24 13:08] mjwitte commented on #5837
If the dampers are normal action, then the heating coil should never operate above min flow. Sizing:System "Central Heating Maximum System Air Flow Ratio" is the field that must be set to the appropriate ratio for the type of terminal units used.  Would be nice if this could be autosized, but at present it's still a hard input that defaults to 0.5.

[2016-08-24 13:37] rraustad commented on #5837
In this file reverse action is used, what should happen then?

[code]

[2016-08-24 13:40] mjwitte commented on #5837
Central Heating Maximum System Air Flow Ratio should be 1.0

[2016-08-24 14:28] rraustad commented on #5837
OK, so all TUs on this air loop are reverse action. I looked at the Sizing:System object and the max heating ratio was set to 0.3. Is there something we need to do here to check, or warn, or something?

Sizing:System,
  Lab RTU,                                !- AirLoop Name
  Sensible,                               !- Type of Load to Size On
  Autosize,                               !- Design Out

[2016-08-24 14:49] mjwitte commented on #5837
If we add logic to check or warn (which we probably should), then it woudn't be a big step beyond that to autosize it.  Or just wait for the new HVAC Simulation for Sizing feature to expand to the point where it adjusts the heating coil size automatically.  @wfbuhl comments?

[2016-08-24 16:08] wfbuhl commented on #5837
At one point the sizing and regular simulations were separate calculations
with their own separate inputs. As time has gone on we are allowing more
and more cross talk between the inputs. This one would require scanning all
the terminal units in the system and calculating a flow ratio. Then feeding
it "back" to the sizing calculation. Or we could warn the user downstream
of the sizing calculation

[2016-08-24 17:32] mjwitte commented on #5637
Closed via #5708

[2016-08-24 17:32] #5637 closed, assigned to lgu1234

[2016-08-24 17:39] mjwitte commented on #5261
Closed via #5716

[2016-08-24 17:39] #5261 closed, assigned to RKStrand

[2016-08-24 17:49] mjwitte commented on #5805
@mitchute If you're willing, it would be good to test transition on all of the v8.5 testfiles (of course they all need to be version 8.5 first) to see if they all run after transition?

[2016-08-24 17:51] mjwitte commented on #5833
Closed via #5836

[2016-08-24 17:51] #5833 closed, assigned to mitchute

[2016-08-24 17:56] mitchute commented on #5805
@mjwitte I'm planning on it. Thanks!

[2016-08-25 12:56] rraustad commented on #5603
- [ ] EnergyPlus_Support question:

  The input output reference for WindowMaterial:Glazing under 'Field: Visible Transmittance at Normal Incidence' states:

Reference to equations should be: "Glass Optical Properties Conversion" (change 2 places in IO Ref). Equations shown In Eng. Ref. pg 273.

- ***addressed in issue #5603 (edited as suggested)***

[2016-08-25 13:26] EnergyArchmage commented on #5603
In the Engineering Reference, section "Loop, Equipment Sizing and Other Design Data", "Compent Sizing"
- The Boiler Sizing heading level is suppressed and its content lies under Electric Chiller Sizing
- The chiller and boiler sizing calculations are missing a term for the component level sizing factor.  Plant sizing factors were added to many components but the sizing calculation documentation do

[2016-08-25 14:29] shorowit commented on #5603
This is observed in the E+ 8.5 Input/Output Reference documentation:
- [ ] **Field: Stack Coefficient** for the **ZoneInfiltration:EffectiveLeakageArea** object references a table of stack coefficient values but the table is missing. Only the table with shelter classes is available. Field: Wind Coefficient correctly has both tables.
- [ ] **Field: Stack Coefficient** for the **ZoneInfiltration:Flo

[2016-08-25 17:57] EnergyArchmage commented on #5603
in OutputDetailsAndExamples, section "Output Files", "eplustbl.<ext>"  There a great many sample tables where content is completely messed up and just keeps repeating a sample that is supposed to be from the Construction Cost Estimate Summary. This garbage goes from page 195 to page 291

[2016-08-25 18:25] mjwitte commented on #5603
@EnergyArchmage Is that in the latest docs on Develop? [current ones here](http://energyplus.s3-website-us-east-1.amazonaws.com/assets/2016-08-24-EnergyPlus-a17aa64355-x86_64-gcc-4.8/).

[2016-08-25 21:05] EnergyArchmage commented on #5603
oh, no I was looking at 8.5 release docs, I guess the table output details already got fixed.

[2016-08-26 16:32] wfbuhl commented on #5803
There are a couple of minor things, and one big fix. First the minor stuff.
1. Error in IORef doc: NominalCapacity is not the default for Coil:Heating:Water. It is UFactorTimesAreaAndDesignWaterFlowRate. This is in "Field: Performance Input Method".
2. There's an error in 1.17.8.1.26 (in Sizing:System): it says FlowPerCoolingCapacity instead of FlowPerHeatingCapacity.
3. Here is the user's input f

[2016-08-26 18:38] JasonGlazer commented on #5648
@nxtruong when I tried transitioning your file on Windows using IDFVersionUpdater, it worked without a problem. Although the only thing changed was the version line.