[2017-05-22 18:38] mjwitte commented on #6086
Closed via #6125

[2017-05-22 18:38] #6086 closed, assigned to lgu1234

[2017-05-22 18:39] mjwitte commented on #6118
Closed via #6121

[2017-05-22 18:39] #6118 closed, assigned to rraustad

[2017-05-22 19:19] nealkruis commented on #6115
@mjwitte

- 605 cmf/ton is now the highest bidder for the non-ridiculous upper limit. Any other contenders? I still don't know if there needs to be an upper limit. Do we have ranges on other equipment (e.g., water coils)?
- Agreed.
- Agreed.
- Agreed.
- Agreed. I think a new column in the DX coil output tables would be good.
- EnergyPlus defines the RatedVolFlowPerRatedTotCap using the gross capac

[2017-05-23 12:20] Nigusse commented on #6050
@mjwitte There is no defect file to confirm the defect and looking at the source code the value of _Fan Power Minimum Flow Fraction_ is used for fan power calculation only. I labeled the issue to unconfirmed defect.

[2017-05-23 12:35] EnergyArchmage opened #6146 "ElectricEquipment:ITE:AirCooled not showing in Component Loads table"
Issue overview
--------------
IT equipment does not appear in the component loads summary table report.  Existing testfile 2ZoneDataCenterHVAC_wEconomizer.idf shows the problem when ZoneComponentLoadSummary is requested.  It seems that IT equipment should appear as load in the equipment row but it is empty.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating s

[2017-05-23 18:39] mjwitte commented on #6115
@nealkruis There are some warnings/fatals in the [detailed chilled water coil](https://github.com/NREL/EnergyPlus/blame/b3a925464be7ee3d3290ffaf3847822a3e4c3d84/src/EnergyPlus/WaterCoils.cc#L2541-L2560) when the air velocity across the coil is very high.  Kind of similar, and they were added because the calculations blew up and the cause traced back to this (if I remember correctly).

[2017-05-24 13:29] mjwitte commented on #5185
While answering helpdesk ticket 12076, noticed that diffuse shading option "DetailedSkyDiffuseModeling" is not honored is the base schedule is constant.  Initial search of source code shows that if's with `DetailedSkyDiffuseAlgorithm` are always && `ShadingTransmittanceVaries`.  So, if none of the shading surface transmittance schedules vary, but EMS actuates them, `ShadingTransmittanceVaries` wil

[2017-05-24 13:53] mjwitte commented on #5997
- [x] par. 5.3.2 in the Engineering Reference, after equation 5.23 where it says
"Rhorizon and Rdome are calculated once for each surface since they are independent of sun position."

This is out of date, and should read:
If the Sky Diffuse Modeling Algorithm (ShadowCalculation object) is set to SimpleSkyDiffuseModeling, then Rhorizon and Rdome are calculated once for each surface since they are i

[2017-05-24 14:17] mjwitte commented on #5997
- [x] Engineering Ref (v8.7.0) pdf p. 1086, text is running off the bottom of the page.  Not sure how much is missing before the next page starts.

- This issue does not exist in V8.9 pdf (see pages 1047-1048) no need to address.

[2017-05-24 17:00] mjwitte opened #6148 "Problems with control of water coils in outdoor air stream"
Issue overview
--------------
This is related to #5695 which was addressed by #5973.

1. User file has hot water preheat coil in the outdoor air stream with economizer active.  Sometimes the coil controls well and at other times it does not.  If the economizer is turned off, then the coil controls exactly as it should.  I suspect these is a problem with the way that timing of the call to the coil

[2017-05-24 17:31] nealkruis commented on #6115
@mjwitte It [appears](https://github.com/NREL/EnergyPlusArchive/commit/42c946a25fb182527635e6a2adb1d46b1a6c31ac) the warning was added to inform an excess of design guidelines (with a safety factor of 2.0) and the error was added due to numerical limitations (at ~20x typical velocities).

Maybe we need a warning when the rated flow per capacity causes a freezing ADP or greater than, say,  650 cfm/

[2017-05-24 18:14] mjwitte opened #6149 "Add low temperature shut off to air-cooled DX cooling coils"
Issue overview
--------------
DX heating coils (Coil:Heating:DX:SingleSpeed, Coil:Heating:DX:MultiSpeed, Coil:Heating:DX:VariableSpeed) have a field for Minimum Outdoor Dry-Bulb Temperature for Compressor Operation.

Request that a similar field be added to Coil:Cooling:DX:*.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v8.7.0
 - helpdesk ticket 12022

[2017-05-24 20:14] mjwitte opened #6151 "Add option to AvailabilityManager:NightCycle to run just until the zone temperature recovers"
Issue overview
--------------
Currently, AvailabilityManager:NightCycle activates an airloop or zone equipment for a fixed amount of time when the zone temperature is one half the Thermostat Tolerance above the thermostat setpoint for cooling (or below for heating).  It would be useful to have an option for the system to run just until the zone temperature recovers to the thermostat setpoint.

Pos

[2017-05-24 20:52] mjwitte commented on #6151
One vote at this point for Option B.

[2017-05-24 21:23] mjwitte opened #6152 "Add thermostatic fan control to series fan-powered induction unit"
Issue overview
--------------
#5918 and #5879 added thermostatic fan control to parallel fan-powered induction units (AirTerminal:SingleDuct:ParallelPIU:Reheat).

*Addressed in #6285* - This suggestion is to add the same for series fan-powered inductions units (AirTerminal:SingleDuct:SeriesPIU:Reheat.

*Addressed in #6285* - For parallel PIUs, the thermostatic fan control is selected by entering z

[2017-05-24 22:28] mjwitte opened #6153 "For DOAS systems add an option to force the system supply flow rate to match the OA flow rate set by Controller:OutdoorAir"
Issue overview
--------------
For DOAS systems with demand-controlled ventilation (DCV), currently the OA controller can vary the OA flow rate request, but the system supply flow is set by the terminal units.

Currently, DCV controls are limited to the capabilities of certain terminal units to set their flow rates in unison with the central OA controller.  But the OA controller has more DCV option

[2017-05-25 12:24] EnergyArchmage commented on #6115
@nealkruis @mjwitte,  Back to the idea of making the range values an input,  I was also thinking of new inputs for the range to use for clipping during autosizing.  So there would be two ranges, a wider one for model validity and a narrower one for what to use as normal for sizing.  But it should be general for DX coils used in AirLoopHVAC as well as ZoneHVAC, so I am not sure DesignSpecification:

[2017-05-25 14:04] nealkruis commented on #6115
I like that idea. Do we need a DesignSpecification:Coil:Cooling:DX object that allows you to apply limits to specific coils (or maybe a list of coils)?

[2017-05-25 15:17] mjwitte commented on #6115
If possible, I'd rather fit it into existing objects, Sizing:System, and DesignSpecification:ZoneHVAC:Sizing which both already have inputs related to flow/capacity and other related sizing inputs.

[2017-05-31 01:27] XiwangLi opened #6155 "Surface Construction Index Output Variable not found and other DisplayAdvancedReportVariables issues"
Issue overview
--------------
Running the example file "EMSThermochromicWindow.idf" in V8.6.

The output variable "VarName=SURFACE CONSTRUCTION INDEX" is not find. The ".rdd" file does not contain this "SURFACE CONSTRUCTION INDEX". So How can I output this variable?

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)  Windows 7
 - Version of E

[2017-05-31 03:58] mjwitte commented on #6037
Closed via #6116

[2017-05-31 03:58] #6037 closed, assigned to lgu1234

[2017-05-31 15:32] mjwitte commented on #6155
@xiwanglienergy This output requires "Output:Diagnostics, DisplayAdvancedReportVariables;" in the idf.

Several things need to be fixed here.

- [ ] Example file EMSThermochromicWindow.idf needs "Output:Diagnostics, DisplayAdvancedReportVariables;"
- [ ] SURFACE CONSTRUCTION INDEX is not described in the Input Output Reference.
- [ ] The following warning should be modified:
[code]
Suggested chang

[2017-05-31 17:24] mjwitte commented on #6069
Closed via #6142

[2017-05-31 17:24] #6069 closed, assigned to Nigusse

[2017-05-31 20:41] jmarrec commented on #6069
Thank you guys.

[2017-06-02 20:19] rraustad commented on #6109
Easier said than done. Simply increasing the fan speed would not change the return path flow rate during these iteration's. Is it possible to "set" the mixer return node flow rate during this iteration procedure? Probably. Are there some restrictions to setting the return node flow rate due to exhaust fan operation, TU max flow limits, etc.? Also probably.

Is there a clear path to implement somet

[2017-06-02 21:10] rraustad commented on #6149
TBD:

- [x] All DX cooling coils will have new field for low temp cutout
- [x] IDD change for new field with default of -25C ??
- [x] Update EPFilter for HVACTemplate objects
- [x] GetInput and code change similar to that used for DX heating coil
- [x] documentation updates
- [x] unit test
- [x] example file mods (blank field)
- [x] transition rules
- see PR #6158

[2017-06-02 22:13] rraustad commented on #6149
@Myoldmopar @EnergyArchmage @mjwitte Any comments on placement of this new field are welcome. Inserted at the end of the min field limit so it's available before other more innocuous input fields. Easier to move now before moving on to other coil types. Wrestling with default of -25C or just set to -999C if blank.

Coil:Cooling:DX:SingleSpeed,
  \min-fields 14
  A1 , \field Name
  A2 , \field Avai

[2017-06-02 22:47] rraustad commented on #6149
I think I like the default method since users or GUIs can change the IDD as needed.

     N6 , \field Minimum Outdoor Dry-Bulb Temperature for Compressor Operation
       \type real
       \default -25.0
       \units C

[2017-06-05 15:58] mjwitte commented on #6149
@rraustad Field placement and default work for me.

[2017-06-05 16:28] Nigusse commented on #6151
I am thinking to implement option B and add the new input field _"Cycling Run Time Control Type"_ right after input field "A4" as shown below. @mjwitte @Myoldmopar Please let me know what your thoughts are?

AvailabilityManager:NightCycle,
       \min-fields 6
  A1 , \field Name
  A2 , \field Applicability Schedule Name
  A3 , \field Fan Schedule Name
  A4 , \field Control Type

 new input filed:

[2017-06-05 16:41] mjwitte commented on #6151
Yes on Option B.  I would put the new field right before the existing Cycling Run Time field.

[2017-06-05 17:06] mjwitte commented on #6109
*If* the economizer is at 100% OA, then return flow rate doesn't matter.  And I'm guessing that the proposed control sequence is assuming 100% OA during step 2.  @energysims Is that correct?

@energysims replied:
Generally yes but where there was a year round cooling needed the dampers should modulate to keep the supply air temperature at the specified temperature.

[2017-06-06 16:07] mjwitte opened #6159 "Plant loop overheating with minimum plant iterations set to 1"
Issue overview
--------------
User file fails with overheated chilled water loop.  Output (with reportduringwarmup in v8.7) showed that the loop never had flow, but at some point the supply inlet temp started to rise.  More output revealed that HVACCHILLEDWATER:Plant Supply Side Lumped Capacitance Heat Storage Rate [W](Hourly) was non-zero every hour right from the start, even though the pump powe

[2017-06-06 16:31] mjwitte opened #6160 "convertESOMTR default conversion for enthalpy of air is incorrect"
Issue overview
--------------
From e-mail with user (12/19/2016):

From the IDF Editor Source Code

convUnits(19).siName = "J/kg"

convUnits(19).ipName = "Btu/lb"

convUnits(19).mult = 0.00042986

convUnits(19).offset = 7.686

So, IDF Editor is using the 7.686 offset described in issue #2144

Looking at the comments at the top of the IDD file:

!      J/kg                   =>   Btu/lb

[2017-06-06 16:45] mjwitte commented on #6160
Ack - duplicate of #6129

[2017-06-06 16:45] #6160 closed, assigned to nobody

[2017-06-06 17:13] JasonGlazer opened #6161 "Fix example file geometry issues uncovered while fixing zone volume calculations"
While fixing zone volume calculations as part of the issue:

https://github.com/NREL/EnergyPlus/issues/5501

A number of files tested by the CI showed differences, see pull request:

https://github.com/NREL/EnergyPlus/pull/6056

But many of these differences in files were due to geometry descriptions that were incorrect for the building surfaces. Of the 60 files, 6 have been examined so far and th

[2017-06-06 18:13] JasonGlazer commented on #5997
- [x] Output:IlluminanceMap should indicate that it is only valid when used with SplitFlux daylighting method.

Addressed in Pull Request [160251551_Issue#5997](https://github.com/NREL/EnergyPlus/pull/6946)

[2017-06-07 15:06] brianlball opened #6163 "BCVTB documentation on XML file is wrong"
http://bigladdersoftware.com/epx/docs/8-7/external-interfaces-application-guide/bcvtb-examples.html#xml-syntax

incorrectly states that:

The read an Output:Variable, use
<variable source = “EnergyPlus”>
<EnergyPlus name = “NAME” type = “TYPE”/>
</variable>
where NAME needs to be the EnergyPlus “Variable Name” (such as ZONE/SYS AIR TEMP) and TYPE needs to be the EnergyPlus “Key Value” (such as ZON

[2017-06-07 15:49] mjwitte commented on #6082
@rmcclung Do you have a test file that shows a problem here?  There is a pending change to the code, #6139, that sets the leaving air temperature from the collector to the average ambient instead of zero when the collector is off.  But this isn't changing any surface temperatures, because the passive baffle code was already using the ambient conditions.  I just want to be sure the fix is covering

[2017-06-07 16:56] rmcclung commented on #6082
Hi Micheal,

Unfortunately, I’ve made a lot of changes to that file since, I can’t seem to reproduce the problem anymore.

Ruth

From: Michael J. Witte [mailto:notifications@github.com]
Sent: Wednesday, June 07, 2017 8:50 AM
To: NREL/EnergyPlus <EnergyPlus@noreply.github.com>
Cc: Ruth McClung <RMcClung@morrisonhershfield.com>; Mention <mention@noreply.github.com>
Subject: Re: [NREL/EnergyPlus] Sol

[2017-06-07 19:52] mjwitte opened #6164 "User file hot water heating loop not running - bad boiler and pump inputs - need error messages"
Issue overview
--------------
User file with hot water baseboard and boiler was not producing any heating.

An input problem was found in the boiler object.  The Design Water Flow Rate field was blank.  This field has no default, so it resulted in zero.  This should at least produce a warning if the flow rate is zero.  And this field should either be required or default to autosize.

With that fix

[2017-06-07 19:58] aaron-boranian opened #6165 "Documentation: VRF condenser inlet node seems to always be OA dry-bulb"
Issue overview
--------------
In both the Input-Output Reference and Engineering Reference, discussion of the condenser entering node conditions only refers to outdoor air dry-bulb temperature. This may confuse users who want to model water- or evaporatively-cooled VRF systems.

### Details
 - Version 8.7
 - Input-Output Reference for [Cooling Capacity Ratio Modifier Function of Low Temperature Cu

[2017-06-07 20:00] mjwitte commented on #5997
- [x] p. 97 of the Engineering Reference the equation numbers are missing in the description of the DOE-2 convection algorithm
"hn is calculated using Equation or Equation ." (helpdesk ticket 12090)
Based on the v8.2 engineering rerefence, the equation numbers here should be references to the current equations 3.74 and 3.75.

Addressed in Pull Request [160251551_Issue#5997](https://github.com/NREL

[2017-06-07 20:20] aaron-boranian commented on #5997
- [x] In both the Input-Output Reference and Engineering Reference documentation for the AirConditioner:VariableRefrigerantFlow object, discussion of the condenser entering node conditions only refers to outdoor air dry-bulb temperature. This may confuse users who want to model water- or evaporatively-cooled VRF systems.

 - Input-Output Reference for [Cooling Capacity Ratio Modifier Function of L

[2017-06-07 20:35] aaron-boranian commented on #6165
Have moved this issue over to #5997 where consolidated documentation issues are tracked.

[2017-06-07 20:35] #6165 closed, assigned to nobody

[2017-06-08 08:36] jmarrec opened #6166 "Refactor 'Errors' SQL output and make it consistent"
Issue overview
--------------

This is really a feature request, but I'm posting it here rather than uservoice because I'd like to discuss it, and maybe even help implementing it.

First, when throwing an error (either in the SQL or eplusout.err) the ErrorMessage is not consistent accross the board, more often than not it includes the Procedure (function) that threw the warning, other times it doe

[2017-06-08 13:52] lgu1234 commented on #6155
@mjwitte I assign this issue to me. I would like to fix first 3 items for this issue. The last two items may need consideration and discussion. I would like to make two separate issues for last two items. What do you think?

[2017-06-08 14:01] mjwitte commented on #6155
@lgu1234 Yes, they should probably be split out to separate issues.

[2017-06-08 15:34] mjwitte commented on #5904
Also, the IDD is missing the "autosizable" tag for ChillerHeaterPerformance:Electric:EIR field "Design Hot Water Flow Rate".

[2017-06-08 15:53] mjwitte commented on #5904
And the curve types are wrong for the ChillerHeaterPerformance:Electric:EIR  fPLR curves - the code assumes a single variable curve.  IDD and I/O ref talk about bi-cubic curves.  This needs review, but it appears these should just accept any univariate curve or table.

[2017-06-08 18:00] tsnouidui opened #6167 "Increase number of external interface variables for EnergyPlusToFMU"
This issue is to increase the possible number of variables to be exchanged when EnergyPlus is exported as an FMU.

[2017-06-08 19:26] mjwitte commented on #6112
@shorowit @macumber Actually, there are lots of missing entries in the sql component sizing table.  This particular file only has one missing value, but most files that have user-specified sizes will have dual reporting for nearly every autosized value (design size and user-specified).  For example, 5ZoneAutoDXVAV, the first part of the component sizing table looks like this:
![image](https://user

[2017-06-08 19:47] macumber commented on #6112
@DavidGoldwasser @asparke2

[2017-06-08 20:42] mjwitte commented on #6119
@lgu1234 As mentioned previously, I have two other defect files which may or may not be related to this issue.
In both of these files, there is a central VAV system with zone hvac equipment added to represent a perimeter air handler serving the same zones.  I tried both ideal loads, and ZoneHVAC:OutdoorAirUnit.  These should have changed the zone load resulting in a change in VAV airflow rates, bu

[2017-06-08 21:12] shorowit commented on #6112
I can't speak for others but it won't be a problem for me.

[2017-06-09 06:01] DavidGoldwasser commented on #6112
Shouldn't cause an issue for me unless the names of existing columns change, if that happens and I know it, I can update the reporting measure if needed.

[2017-06-09 12:25] jmarrec opened #6168 "Improve UtilityCost:Tariff handling of water meters"
Issue overview
--------------

The [UtilityCost:Tariff](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/utilitycost-tariff.html#utilitycosttariff) is awkward to work with for water meters, and in particular doesn't default to m^3.

### Details

I was assuming that this would work, as m^3 is the default unit used for water meters.

[code]

Turns out, leaving it blank will default t

[2017-06-09 12:44] mjwitte commented on #6112
@DavidGoldwasser OK, will merge this then.  Just to be clear, all existing rows in this table will still be there, but the additional user-defined values that will now appear in the table are the ones to grab if you're trying to report the sizing that was actually used in the simulation.  I will add an explanation of this to the output changes doc.

[2017-06-09 13:50] jmarrec commented on #6168
I'm giving it a shot here: https://github.com/jmarrec/EnergyPlus/tree/HandleWaterUtilityCostTariffs

Will make sure it works before I think about opening a PR.

[2017-06-09 14:55] lgu1234 commented on #6119
@mjwitte I ran 3 new test files with and without my fix and no differences were found. Then I checked input files and found no exhaust fans are used. Since my fix is related to exhaust mass flow rate handling, the problems from the 3 new test files are not related to this issue. I suggest to make a new issue to address the problems.

I also ran the VAVplusIdealLoads.idf and checked results to see

[2017-06-09 15:00] mjwitte commented on #6119
@lgu1234 I haven't looked closely at your fix, so it is acting exclusively on exhaust fan nodes, not exhaust nodes in general.  For this ideal loads case, the intent is for ideal loads to run first to model a perimeter system that runs during occupied hours without any connection to the zone thermostat.  The VAV system is connected to the thermostat and provides additional cooling as needed.  So,

[2017-06-09 15:37] lgu1234 commented on #6119
@mjwitte Here is my thinking about logic. EnergyPlus calls AirLoop first, then zone equipment. Zone load is predicted by Predictor. My quess is that an AirLoop see all loads first to determine mass flow rate at full, not remaining rate after an ideal system. However, the ideal system has Priority 1 and is forced to turn on. In this way, both AirLoop and ideal system turn on, so that that is why th

[2017-06-09 15:45] asparke2 commented on #6112
As long as the existing column headings in the sql file don't change I won't have any issue.  If they do change, it would be nice to have it documented so I can preemptively correct any code that uses those names.

[2017-06-09 15:46] jmarrec commented on #6168
I have a working version on my branch, I had to move the check on meter type (is it water) into UpdateUtilityBills() instead of SelectTariff(). I wonder whether the Electric type check should be there too.
Left TODOs in there, can someone do a code review as this is my first time please?

[2017-06-09 15:55] mjwitte commented on #6119
Either way, the VAV dampers should not be wide open - the zone is cold.  What happens with the VAV dampers is the zone equipment order is reversed?

[2017-06-09 16:01] mjwitte commented on #6112
@asparke2 This table is organized differently in the sql file than it appears in the table file.  The sql file has a separate record for every value in the table, so the generic sql column headings won't change, but there will be additional records that were previously omitted.
![image](https://user-images.githubusercontent.com/4991075/26983820-b10182a6-4d02-11e7-9b60-812c4e91d090.png)
![image](ht

[2017-06-09 16:49] mjwitte commented on #5997
- [x] In the I/O Ref, ZoneHVAC:IdealLoadsAirSystem outputs, the Ideal Loads Output Variable Overview should include the caveats that the outdoor air load is only calculated when there is active heating or cooling (or humidification/dehumidification).  This is stated later on in the individual output descriptions, but it should be stated here as well, probably several places here, including before

[2017-06-09 17:54] mjwitte opened #6170 "Swimming pool init only calls ScanPlantLoopsForObject for the first pool resulting in errors"
Issue overview
--------------
User file with two swimming pools generates this error:
[code]
The call to ScanPlantLoopsForObject in [SwimmingPool::InitSwimmingPool](https://github.com/NREL/EnergyPlus/blob/fa73d590331fc1852c4c9ad1b9502035dbff99a5/src/EnergyPlus/SwimmingPool.cc#L646-L657) is misplaced.  It should be after the MyOneTimeFlag block.

### Details
Some additional details for this issue (

[2017-06-09 18:15] lgu1234 commented on #6119
Mike:

I changed priority of both VAV Terminal and IdealSystem. Results do not change (may be slightly):

ZoneHVAC:EquipmentList,

    S Perimeter 6 Equipment, !- Name

    ZoneHVAC:IdealLoadsAirSystem,  !- Zone Equipment 1 Object Type

    S Perimeter 6 Ideal Loads Air System,  !- Zone Equipment 1 Name

    2,                       !- Zone Equipment 1 Cooling Sequence

    2,

[2017-06-09 19:40] mjwitte commented on #6119
The same thing happens with the zone oa system. I still think it's a mass balance or exhaust node accounting error.  To eliminate load interactions we could change the oa systems to provide neutral air.

-------- Original message --------
From: Lixing Gu <notifications@github.com>
Date: 6/9/17  1:15 PM  (GMT-06:00)
To: NREL/EnergyPlus <EnergyPlus@noreply.github.com>
Cc: "Michael J. Witte" <mjwitte

[2017-06-09 20:38] JasonGlazer opened #6171 "Add command line option to force output:diagnostics"
Add a new option or options to support forcing output:diagnostics options like DisplayExtraWarnings, DisplayUnusedSchedules, DisplayUnusedObjects, etc... Maybe this is a single option or maybe multiple options. This would help when debugging energyplus but may be useful when just using energyplus and wanting to sometimes see these extra messages and sometimes not.

[2017-06-09 20:53] lgu1234 commented on #6119
@mjwitte  It may be from exhaust nodes, but not from exhaust fans. That is why I suggested to make a new issue.

[2017-06-10 03:33] mjwitte commented on #6112
Closed via #6147

[2017-06-10 03:33] #6112 closed, assigned to Nigusse

[2017-06-12 15:18] Nigusse commented on #6151
@mjwitte for the ThermostatWithMinimumRunTime cycling run time control option the thermostat tolerance for during the minimum Run Time Period will be user specified value in input field Thermostat Tolerance, right?

[2017-06-12 15:32] Myoldmopar commented on #6088
Closed via #6089

[2017-06-12 15:32] #6088 closed, assigned to rraustad

[2017-06-12 15:37] mjwitte commented on #6151
Thermostat Tolerance will determine when it should come on.  But it should run until the thermostat setpoint is met.  I didn't think about a tolerance for that - but we probably need another input.  Depending on the system type, it may not hit the setpoint exactly, but should be very close.  Or we could just say it will shut off when it's within 10% (or ??%) of the tolerance.

[2017-06-12 16:25] mjwitte commented on #6082
Closed via #6139

[2017-06-12 16:25] #6082 closed, assigned to Nigusse

[2017-06-12 18:33] rraustad opened #6172 "Sizing Consolidation - Next Steps"
Sizing issues highlight several facts on coil sizing:

 - [ ] HW and CW coils use different initialization temperatures for Cp and Rho. Use HWInitConvTemp and CWInitConvTemp consistently for each coil type.
 - [ ] sizing for rated air flow and capacity need to be synchronized.
 - [ ] Recent issues highlight a flaw in sizing where FinalZoneSizing.DesHeatCoilInTemp is not always correct. ReportSizin

[2017-06-13 12:54] Myoldmopar commented on #6046
Closed via #6048

[2017-06-13 12:54] #6046 closed, assigned to rraustad

[2017-06-13 13:08] lgu1234 commented on #6155
@mjwitte The output variable of Surface Construction Index reports construction index, which is constant and independent of time. We may not report the output variable with respect to time. Instead, we may report this variable under Detailed Surface Data Report with construction name only and no index in eio, because it is not easy to recognize the index. Please let me know what you think.

[2017-06-13 14:13] Nigusse commented on #6151
Now with two new input fields added below is what I am proposing for the idd change. The "Thermostat Tolerance Fraction" new input field will be placed next to "Thermostat Tolerance" input field. @mjwitte what do you think?

AvailabilityManager:NightCycle,
\min-fields 6
A1 , \field Name
A2 , \field Applicability Schedule Name
A3 , \field Fan Schedule Name
A4 , \field Control Type

N1 , \field Ther

[2017-06-13 15:19] mjwitte commented on #6155
@lgu1234 It can change with time via EMS, so it should stay as an output variable.

[2017-06-13 15:36] mjwitte commented on #6151
@Nigusse As I look at this now, "Thermostat Tolerance Fraction" seems more complicated than it needs to be.  How about this:
new field name N1, \field Cycle On Thermostat Tolerance (or System On . . . or ???)
new input filed: N2 , \field Cycle Off Thermostat Tolerance
And the new field should have a minimum of at least 0.01 deltaC, maybe 0.1.
And the get input should probably warn and reset if the

[2017-06-13 15:40] XiwangLi commented on #6155
The construction index may change with respect to time, which is not a
constant when we do thermochromic control. I did output the index through
EMS as a global variable.

On Tue, Jun 13, 2017 at 8:19 AM, Michael J. Witte <notifications@github.com>
wrote:

[2017-06-13 15:44] Myoldmopar commented on #5863
Closed via #6124

[2017-06-13 15:44] #5863 closed, assigned to Nigusse

[2017-06-13 16:06] Nigusse commented on #6151
For me the concept of Cycle On and Cycle Off are also confusing? Why do we introduce the Off cycle concept? The tolerance simply provides the cut point for turning the equipment On or Off?  In both cases the " Thermostat Tolerance" input field is used in a similar way. We can allow/advise user to specify a different range of values for "Thermostat Tolerance" input field depending on the Cycling Ru

[2017-06-13 16:16] mjwitte commented on #6151
The dual tolerances prevent short-cycling but in an automated way to avoid choosing a minimum run-time.  If we had perfect control, we could skip the second tolerance and just shut off when the setpoint is reached.  But some systems don't peg the setpoint so it may never shut off.  I'm ok with not adding a new tolerance field and use a hard-wired off tolerance of, say 0.05C.

[2017-06-13 17:03] Myoldmopar commented on #6040
Closed via #6145

[2017-06-13 17:03] #6040 closed, assigned to Nigusse

[2017-06-13 17:13] lgu1234 commented on #6155
Thanks for your quick reply. OK. Keep it as is.

[2017-06-13 19:33] mjwitte opened #6173 "VAV airflow problems with other zone HVAC equipment"
Issue overview
--------------
Office building with two VAV systems serving 5 and 6 zones has ZoneHVAC:OutdoorAirUnit (or ideal loads) in several zones to represent a perimeter AHU.  Without the additional zone equipment, the VAV dampers modulate as expected, often at minimum during the heating season.  With the added zone equipment, the VAV dampers run wide open almost all of the time.  The zone e

[2017-06-13 20:14] rraustad commented on #6148
This looks promising. Basically what I did was figure out what the water flow rate needed to be at the same time the water coil is simulated. I also bypassed ControlCompOutput and found the answer using RegulaFalsi. This may be the start of a method to replace ControlCompOutput.

    SimOAComponent(
    ..
    } else if ( SELECT_CASE_var == WaterCoil_SimpleHeat ) { // 'Coil:Heating:Water')

[2017-06-13 20:27] mjwitte commented on #5997
- [ ] I/O Ref section for HybridModel:Zone is not in the pdf.  The source files were added in #5882 but there's no line in overview.tex to input the new file into the document?

- This object/model was first introduced in V8.7

Posted new issue [#6947](https://github.com/NREL/EnergyPlus/issues/6947) for this.

[2017-06-13 20:38] mjwitte commented on #5997
- [x] Typo in Engineering Reference section for Ground Heat Transfer Calculations using Site:GroundDomain:Slab, subsection heading "Boudary Conditions".

Addressed in Pull Request [160251551_Issue#5997](https://github.com/NREL/EnergyPlus/pull/6946)

[2017-06-14 00:53] mjwitte opened #6175 "VAV system with high flow rates and fan pressure hits max iterations with draw-thru fan"
Issue overview
--------------
User file is a data center with high internal gains, relatively warm supply temperature, high fan pressure and thus large fan power.  With the draw-thru fan, fixed supply temperature setpoint, and setpointmanager:mixedair to adjust the setpoint to the cooling coil, the system runs fine some of the time, but other time steps the cooling coil is way over or under the se

[2017-06-14 01:22] rraustad commented on #5913
@ejhw, your reasoning is based on a real need. My thought is to allow a new sizing method to be generally used for all systems. Since there is both zone and air loop equipment, and that VRF is modeled as zone equipment, I think the best place to consider is the DesignSpecification:ZoneHVAC:Sizing object. It's not set up to allow the described sizing however this might be a simple add. For example,

[2017-06-14 02:59] Fan-Feng commented on #5360
+1 for fixing the 24:000 representation,hahaha

[2017-06-14 13:23] ejhw commented on #5913
Thanks @rraustad. I'll let @shorowit and Jon Winkler comment.

[2017-06-14 17:27] rraustad commented on #6148
I'm not even sure what this flag (CanBeLockedOutByEcono) was meant to do. It's set up now to be false for air loop water coils and true for OA Sys water coils. Also, user has no control over this flag, it's just set to true or false based on where the coil is located. So if economizer is active, the OA system water coils are off, period. There is no check to see of the OA Controller economizer loc

[2017-06-14 17:29] rraustad commented on #6148
See PR #6197. PT #147216271 - #6148 Problems with control of water coils in outdoor air stream

[2017-06-14 17:31] mjwitte commented on #6148
Certainly seems like the user should have some control over this.  Is there a reason OA coils and central branch coils should be treated differently for lockout?  If so, then maybe the lockout input needs more choices?

[2017-06-14 19:31] rraustad commented on #6148
I can't think of a good reason to lock out the coils (except on OAT), regardless of location. On the other hand, the economizer can be locked out if heating is active, and this is already done. So why the CanBeLockedOutByEcono flag was added in the first place needs to be answered. Someone may have simply thought that if economizer is active, then it's free cooling and no coils should be operating

[2017-06-15 16:37] jasondegraw opened #6180 "There is no advanced single-sided natural ventilation example file"
Issue overview
--------------
The advanced single-sided natural ventilation feature was added in 8.1 or 8.2, but the original example file was not added to the set of example files used for CI testing. The original file needs to be updated to current example file standards, or perhaps a new example file needs to be created.

### Checklist
 - [ ] Ticket added to Pivotal for defect (development team

[2017-06-16 17:02] JasonGlazer commented on #5897
I stumbled across another instance of this problem related to using the -x expandobjects option. Ran a file (LBuilding-G090.idf) on Windows within Visual Studio using command line options.

--output-prefix LBuilding-G090 --readvars -D -x --idd Energy+.idd --weather USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw LBuilding-G090.idf

The file contained HVACTemplates so the expidf file was created. Edit

[2017-06-16 20:42] tsnouidui commented on #5897
This affects all BCVTB users and should ideally be part of the next release.

[2017-06-16 21:50] EnergyArchmage commented on #6148
Economizer logic gets far more complex than OAT.  Recirc conditions, enthalpy, various difference.  And yes it isn't free cooling if the coils are still running.  When economizing, the OA flow rates can lift far above minimum so it gets more expensive to run an OA coil with the larger flows.  I agree it is complicated but all that complexity can't also be in the coils, they need to get signal(s) f

[2017-06-20 14:51] RKStrand commented on #6098
@mjwitte I'll start looking at this, hope to get to this over the next several days.  I have added a ticket to Pivotal (ID #147520311).  From an initial look at this, it seems that the equation used for the UA calculation assumes that the scaled capacity is the rated capacity which is not correct. I suggest that a check be put into the UA calculation to avoid an improper log calculation but will t

[2017-06-20 15:41] RKStrand commented on #6098
@mjwitte Ok, this is what I propose to resolve this issue:

1. Institute a check on the calculation and throw appropriate error messages when the log part of the calculation would cause a crash.
2. Modify the documentation in the I/O Ref to clearly define the connection between the rated temps and flow rate and the capacity of the unit (can't have a more than 100% efficient device).
3. The usual t

[2017-06-20 19:50] aaron-boranian commented on #5997
- [x]  Typo in EMS Application Guide for [Hydronic Low Temp Radiant Design Water Mass Flow Rate for **Cooling**](http://bigladdersoftware.com/epx/docs/8-7/ems-application-guide/hvac-systems.html#hydronic-low-temp-radiant-design-water-mass-flow-rate-for-cooling) internal variable: 'The internal variable called “Hydronic Low Temp Radiant Design Water Mass Flow Rate for **Heating**” provides ... '

A

[2017-06-21 00:56] RKStrand commented on #6013
@mjwitte I have assigned this to myself andwill take a look at this one as this is something I have worked on in the past and should be able to figure out what @EnergyArchmage is saying in the overview.

[2017-06-21 01:21] RKStrand commented on #6098
@mjwitte Implemented the above...pull request made...ready for review.

[2017-06-21 01:44] RKStrand commented on #5823
@mjwitte Could you elaborate on the "fix sizing" and "minor OO restructuring" comments above?  Maybe this was already discussed and I just need to refresh my memory?

[2017-06-21 16:43] RKStrand commented on #4671
@mjwitte I agree with your comments and assessment above.  It looks like the humidity ratio is calculated and not saved...which is only a problem when there is condensation inside the earth tube.  Of course, that would be a helpful thing to know as well (condensation, when, how much, etc.), but that is a potential enhancement to try to track the condensation, etc.
To resolve this bug, I will add h

[2017-06-21 17:11] RKStrand opened #6182 "Earth Tube One Per Zone Limit Check has Errors"
Issue overview
--------------
There is a limit of only one earth tube per zone in EnergyPlus.  (While this could be changed to allow multiple earth tubes per zone, that is not the subject of this issue and should be considered as a future minor enhancement.)  The code to check that there is only one earth tube per zone has several errors in it:

Code:
		// Check to make sure there is only on venti

[2017-06-22 17:42] fourdayforecast opened #6183 "Antivirus hits"
Issue overview
--------------
Looks like 8.7 is detected by some antivirus, similar to [issue 4871](https://github.com/NREL/EnergyPlus/issues/4871).

### Details
EnergyPlus-8.7.0-78a111df4a-Windows-x86_64.exe had a detection in Virustotal by Rising as Malware.Heuristic!ET#88% (cloud:I4mEy9r8dpV)

File Hashes:
MD5 3fcbfb566738c0c25ab6f6f5c3b44843
SHA1 1e5d9ba065b34c1dd43243929fa88fb78854533c
SHA256

[2017-06-24 01:50] RKStrand commented on #6182
I have checked defect file added above, but in reality there is not a need for a separate defect file.  You can show that this is a problem by taking the EarthTubeSimpleTest.idf file in the test suite and doing two separate tests.  In the first test, copy the first earth tube for zone 1 and paste it AFTER the earth tube for zone 3.  This makes this fourth earth tube the LAST one in the file.  This

[2017-06-26 03:30] RKStrand commented on #5884
@mjwitte Just ran this using release version 8.7...and I'm not seeing these error messages.  Did they magically disappear or am I missing something here?

[2017-06-26 14:33] RKStrand commented on #5884
@mjwitte Nevermind...forgot that it was something that happened during an annual run.  I'm seeing the issue now.  On another note, I see that this is part of GitHub Issue #5823.  I think that is my mistake since based on the number the one you entered would have gone in first.  Could we maybe keep this as a separate issue and eliminate if from 5823? What do you think?

[2017-06-26 15:06] RKStrand opened #6186 "EP-Launch-Lite Closing Issue"
Issue overview
--------------
On the Mac, the EP-Launch-Lite tool is very useful and some of the issues from the past have been fixed (THANK YOU!!!).  In the version that came with Version 8.7, a minor problem was noted.  When closing the program, quitting from the EP-Launch-Lite menu (or pressing command Q) does not do anything.  The workaround is to click on the red close dot in the upper left c

[2017-06-26 15:07] Myoldmopar commented on #6186
Thanks @RKStrand, glad to know it's being used and tested!  This should be an easy fix.

[2017-06-26 15:12] RKStrand commented on #6186
@Myoldmopar No problem--EP-Launch-Lite keeps getting better and that is good news for Mac users.  I really like the button that takes me directly to the results folder for a run.  And it seems to be pretty good now about running input files anywhere.

[2017-06-26 15:42] RKStrand commented on #5823
@mjwitte Handling baseboard issues under GitHub Issue #5884 as this really has nothing to do with the new cooling panel model.  It affects all input files with baseboards.  Other test suite input files show the same behavior when an annual run is launched.

[2017-06-26 15:49] RKStrand commented on #5884
@mjwitte Two things going on here.  First, the tolerance is set somewhat low and there are some cases when the flow rate is fairly low that are just barely missing the cut-off.  Second, the rest of the cases where max iterations is encountered, the flow rate is incredibly low--just above 10-9 kg/s which translates to roughly 1mg/hour.  That is really low and is a result of a choice in the code to

[2017-06-26 16:11] RKStrand commented on #5884
@mjwitte I do realize that messing with the flow rate tolerance is dangerous and might result in a huge number of input files with changes in them.  So, I will test that and see what happens.  The solution presented by the 4 Pipe Fan Coil seems to be to bring all of the control logic into the routine and then customize it.  That seems like a bad idea in general because that would mean control code

[2017-06-26 16:52] RKStrand commented on #5884
@mjwitte After more thought and wanting to avoid major code rewrites and also a testing nightmare from the standpoint of a unit test and diffs in a lot of files, I came up with an alternative that limits the potential changes to the baseboard files only and still takes care of the max iteration errors (I think).

[2017-06-27 15:12] jmarrec commented on #6144
Might as well tackle this as well: https://unmethours.com/question/25171/life-cycle-costs-escalation-for-electricity/

I noticed that the LifeCycleCost:UsePriceEscalation isn't taken into account for my electricity usage in the table "Present Value for Recurring, Nonrecurring and Energy Costs (Before Tax)", while it is correctly taken into account for gas.

[2017-06-28 03:28] Myoldmopar commented on #5803
Closed via #5851

[2017-06-28 03:28] #5803 closed, assigned to nobody

[2017-06-28 03:43] Myoldmopar opened #6187 "G++ 6.3.0 Warnings"
Linux g++ 6.3.0 is complaining about some indentation issues in WeatherManager, lines 7462, 7544, and 7547.  Nothing technically wrong, but the indentation is misleading.

[2017-06-28 03:59] #6187 closed, assigned to Myoldmopar

[2017-06-28 03:59] Myoldmopar commented on #6044
Closed via #6049

[2017-06-28 03:59] #6044 closed, assigned to rraustad

[2017-06-28 04:23] Myoldmopar commented on #6095
Closed via #6120

[2017-06-28 04:23] #6095 closed, assigned to Nigusse

[2017-06-28 04:33] #6143 closed, assigned to jasondegraw

[2017-06-28 05:25] Myoldmopar commented on #5890
Closed via #6123

[2017-06-28 05:25] #5890 closed, assigned to Nigusse

[2017-06-28 05:28] Myoldmopar commented on #6136
Closed via #6137

[2017-06-28 05:28] #6136 closed, assigned to mitchute

[2017-06-28 05:31] Myoldmopar commented on #6092
Closed via #6126

[2017-06-28 05:31] #6092 closed, assigned to nobody

[2017-06-28 05:50] Myoldmopar commented on #6182
Closed via #6185

[2017-06-28 05:50] #6182 closed, assigned to RKStrand

[2017-06-28 14:01] mjwitte commented on #5884
@RKStrand Seems like changing inputs just covers up an underlying problem with the solution algorithm.  Unless the \minimum is also changed, a user could put in the 0.001 and the problem could reappear.  @rraustad did the fancoil changes to deal with this, and @lgu1234 did some other changes related to the regulafalsi searches, and @rraustad has another pending PR #6176 that attempts to move away

[2017-06-28 14:45] rraustad commented on #5884
ControlCompOutput (half step solution method) is no longer used in the fan coil model (except in a comment that I just found).

    // METHODOLOGY EMPLOYED:
    // If unit is on, calls ControlCompOutput to obtain the desired unit output

Regarding very low flow rates, I have also seen max iteration warnings with RegulaFalsi. This is hard to avoid if the residual is based on a fraction of the magni

[2017-06-28 15:48] mjwitte commented on #5823
@RKStrand Expanded descriptions at the top of this issue.  Will forward prior e-mail thread regarding OO changes and will cc @Myoldmopar

[2017-06-29 22:16] mjwitte opened #6189 "Unit heater operation suspect in combination with VAV reheat system in the same zone"
Issue overview
--------------
 Central AHU only has a chilled water coil and a VFD fan. Each zone has a VAV reheat terminal and a unit heater, both with electric resistance heater. The VAV terminal serves as the first stage heating. I re-ran the simulation and the problem still exists.

See these two plots of North space for designday 2/21.
![image](https://user-images.githubusercontent.com/499107

[2017-06-29 22:45] mjwitte opened #6190 "Remove limits for "Minimum Outdoor Drybulb Temperature for Compressor Operation" field in DX Heating Coil objects"
Issue overview
--------------
All DX heating coil objects (space heating and water-heating) have an input field for "Minimum Outdoor Drybulb Temperature for Compressor Operation".  Most of them have a minimum specified in the IDD, while some do not.  Specifically, the limit was removed for multi-speed heat pumps in #4383.

The minimum limit should be removed from the other DX heating coils, space

[2017-07-03 12:26] mjwitte commented on #5997
- [x] In the Auxiliary Programs document, the example def files for the Weather Converter show backslashes and underscores in many places.  These should not be in the final pdf.

The underscore appears everywhere in the documentation where "\begin{lstlisting} ... \end{lstlisting}" is used as designed. It is OK as is.

[2017-07-03 14:10] rraustad commented on #6148
@myoldmopar, I've rearranged calls to controllers so that they are called when the coil is simulated (as opposed to calling all controllers first then calling air loop and OA sys water coils). I have the same results as with my other method using RegulaFalsi (see figure above and PR #6176). How should I push this new method? Create a new branch? I want to see how the performance tests speed is imp

[2017-07-03 15:42] mjwitte commented on #6148
@rraustad This is a major structural change for the controllers.  There was a reason for that architecture way back when, but @wfbuhl is probably the only one who can explain it.  Sounds like we need two separate branches, one for this controller restructure and one for the regula-falsi approach, which don't change anything else.  Then we can evaluate speed and diffs without any other changes clou

[2017-07-03 20:03] EnergyArchmage commented on #6148
I think the original design intent went hand in hand with allowing the controlling node to be somewhere farther downstream than the coil outlet,  to account for fan operation and maybe other devices in between.  This is a big change because it would force the control to always be based on coil outlet.  Note that there is lag in the mixed air setpoint controller's fan temperature rise (which would

[2017-07-04 18:04] aaron-boranian commented on #5997
- [x] In both the Input-Output Reference and Engineering Reference documentation for the SetpointManager:OutdoorAirReset object, discussion of the supply temperature being controlled is only for air systems. However, there are example files that use this object to reset plant systems as well (5ZoneBoilerOutsideAirReset.idf, 5ZoneWaterSystems.idf). This option to reset plant systems using the outdo

[2017-07-04 18:07] aaron-boranian commented on #5997
- [x] IDF example in Input-Output Reference section for the [Exterior:WaterEquipment](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-exterior-energy-use-equipment.html#exteriorwaterequipment) object isn't displaying as code blocks like other IDF examples.

- [x] Description of last output variable "Exterior Equipment Mains Water Volume" in Input-Output Reference section for

[2017-07-05 12:29] RKStrand commented on #5884
@rraustad @mjwitte Some food for thought regarding the on-going conversation...

ControlCompOutput already does the "Residuum" calculation outlined above as part of its standard calculation.  This doesn't necessarily fix the problem of low flow in the radiant/convective baseboard.  That is why I tried some additional logic that figures out when it is actually a very low flow situation and it basic

[2017-07-05 13:36] mjwitte commented on #5884
@RKStrand For this particular component, is the tolerance applied as a fraction of the current load or as a fraction of the design load or flow rate?  I would be ok with removing the tolerance as a user input altogether (not sure why these were exposed as inputs way back when).  But, either way, we have precedent in other parts of the code for setting a flow to zero if it is less than VerySmallMas

[2017-07-05 15:30] RKStrand commented on #5884
@mjwitte @rraustad  From my understanding of the code, the radiant/convective baseboard (along with everything else that uses ControlCompOutput), uses tolerance in the following way:

First, it calculates Denom (with slight mods for Action of component):
		Denom = sign( max( std::abs( QZnReq ), 100.0 ), QZnReq );

Then, it calculates the "tolerance" using the following:
			ZoneController.SensedVal

[2017-07-05 16:04] mjwitte commented on #5884
a)  I don't see 0.001 (which I interpret as 0.1%) to be extremely tight.
b) If the algorithm can't handle 0.001, then it shouldn't be the default.
c) Users shouldn't need to mess with these to get rid of convergence problems.
d) What order of magnitude are you seeing for `SensedValue` here?
e) Perhaps we need to establish a parameter for "VerySmallLoad = 1.0 [W] and call it converged if ( LoadMet

[2017-07-05 21:06] rraustad commented on #6148
Trying now to leave main air loops coils to simulate as before. OA sys coils will now iterate on ManageControllers with the coil model (rather sloppy implementation). Hopefully no user files exist where OA sys water coils don't use the coil air outlet node as the sensed node for the controller.

[2017-07-05 22:10] mjwitte opened #6199 "IDF Editor cleanup for v8.8 release"
Issue overview
--------------
- [x] Changes in #6114 result in a new input unit type
![image](https://user-images.githubusercontent.com/4991075/27887165-d57dc99e-61a4-11e7-95c2-e17c39bb5218.png)

### Details
Some additional details for this issue (if relevant):
 - Platform Windows
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

#

[2017-07-06 15:23] rraustad commented on #6148
Just came across this. It appears we are now requiring set point nodes to be at the air outlet node of the water coil. I am testing HX assisted water coils with the new methodology and failed to move the SP.

    ** Warning ** HVACControllers: GetControllerInput: Controller:WaterCoil="CENTRAL COOLING COIL CONTROLLER 1".
    **   ~~~   **  ..Sensor node not found on water coil air outlet node.

[2017-07-06 15:26] aaron-boranian commented on #5997
- [x] Typo in Table 2.3: Operators for Erl: "*" multiplication symbol doesn't appear in **Operator Symbol** column at left of table (see below). Maybe it's being interpreted as a bad symbol (missing a \ to escape)?

![screen shot 2017-07-06 at 9 25 03 am](https://user-images.githubusercontent.com/15160917/27918726-0c8ec6d0-622d-11e7-953f-bf6fa7172088.png)

- [x] Typo in code block for compound exp

[2017-07-06 15:35] rraustad commented on #6148
Brent, I also question this logic:

    CheckIfNodeSetPointManagedByEMS(
        //       AUTHOR         Brent Griffith

    for ( Loop = 1; Loop <= numActuatorsUsed + NumExternalInterfaceActuatorsUsed; ++Loop ) {
        if ( ( SameString( EMSActuatorUsed( Loop ).ComponentTypeName, cComponentTypeName ) ) && ( SameString( EMSActuatorUsed( Loop ).UniqueIDName, cNodeName ) ) && ( SameString( EMSActu

[2017-07-06 15:58] EnergyArchmage commented on #6148
Well the check is for missing setpoints, so if it finds one then that is not and error.  I think ErrorFlag is in/out, it may be changed by the routine.

[2017-07-06 16:18] rraustad commented on #6148
OK, that makes sense since it's been around since 2009. I was having trouble with HX assisted water coils (1 air loop, 1 OA system). Not sure where to put the SP. If I put it at the outlet of the HX (coil system), where I think most users would put the SP, I get an error. It's running now with SP's at outlet of water coil.

[2017-07-06 16:23] mjwitte commented on #6148
Hmm, seems like that SP should be at the outlet of the HX coil system.  For that, we can't really control the water coil independently of the HX.

[2017-07-06 16:54] EnergyArchmage commented on #6148
The two error message are separate issues above.  The first is just a warning that the coil works better if the outlet node is the control node (but still allowed and runs).  the second error is severe if whatever the control node is doesn't have any setpoint on it.

[2017-07-06 17:52] rraustad commented on #6148
I ran with SP's at coil outlet node without any errors. Then moved both SP's to the HX outlet node. I only got the first warnings of sensor node not at water coil outlet, and no severe errors. So I must have done something wrong the first time.

Control with SP at water coil outlet node is good in both air loop and OA system (first pair of figures)
Control with SP at HX outlet is good in air loop

[2017-07-06 20:45] shorowit opened #6200 "UnitarySystem unexpected fan operation"
[E+ 8.7 in.idf](https://github.com/NREL/EnergyPlus/files/1129202/in.idf.txt)

The `UnitarySystem`'s fan is operating at full speed whenever there is a cooling load despite the fact that there is no cooling coil specified. I'd expect there to be zero fan energy when there is a cooling load.

![image](https://user-images.githubusercontent.com/5861765/27931308-01278d84-6257-11e7-9318-2a12087e3b78.png

[2017-07-09 16:16] rraustad opened #6201 "Report variables in UnitarySystem model require proper updating"
Issue overview
--------------
When testing VS DX coils, the unitary fan part-load ratio always = 0. This is because CompOnMassFlowRate = 0 for set point based systems (i.e., SetOnOffMassFlowRate never called). This was an over sight during model development. Also, at the beginning of ReportUnitarySystem, many variables are reset to 0 (e.g., PLR, FanPLR, CycRatio, SpeedRatio). These should always b

[2017-07-10 18:20] MatthewSteen commented on #5997
- [x] Typo in IO Ref for [ZoneHVACFourPipeFanCoil](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-zone-forced-air-units.html#zonehvacfourpipefancoil) 2nd paragraph, 1st sentence looks like it should read...

---

https://github.com/NREL/EnergyPlus/issues/5997#ref-commit-7724958

  Included Matthew's fix here [160251551_Issue#5997](https://github.com/NREL/EnergyPlus/pull/694

[2017-07-10 19:52] RKStrand opened #6202 "Low Temperature Radiant Systems Autosize Tube Length Using Fixed Parameter"
Issue overview
--------------
When a user asks EnergyPlus to autosize the tube length for either the hydronic (variable flow) or constant flow low temperature radiant systems, the program is currently using a default tube spacing of 0.15m (6 inches) rather than what the user has entered for tube spacing in the construction information.  This should be fixed to use what the user has entered for tub

[2017-07-11 03:27] rraustad opened #6204 "Coil:Cooling:DX:VariableSpeed air-to-air coil autosizes cooling capacity using CapFT curve results based on RatedInletWaterTemp = 84.2"
Issue overview
--------------
line 3357 of VariableSpeedCoil:
TotCapTempModFac = CurveValue( VarSpeedCoil( DXCoilNum ).MSCCapFTemp( VarSpeedCoil( DXCoilNum ).NormSpedLevel ), MixWetBulb, RatedInletWaterTemp );

Found during development of unit test = UnitarySystem_MultispeedPerformance

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Ver

[2017-07-11 04:23] Myoldmopar commented on #5501
Closed via #6056

[2017-07-11 04:23] #5501 closed, assigned to JasonGlazer

[2017-07-11 04:23] Myoldmopar commented on #6161
Closed via #6056

[2017-07-11 04:23] #6161 closed, assigned to JasonGlazer

[2017-07-11 12:31] mjwitte commented on #6105
Closed via #6107

[2017-07-11 12:31] #6105 closed, assigned to rraustad

[2017-07-11 16:18] aaron-boranian commented on #5997
- [x] There are multiple differences between what the EMS Application Guide claims that actuators contain as control types and what the EDD file shows as available actuator info. EMS Application Guide should be consistent with EDD file.
  - Update "[Mass Flow Rate Minimum Setpoint](http://bigladdersoftware.com/epx/docs/8-7/ems-application-guide/hvac-systems-001.html#system-node-setpoints)" to "Mas

[2017-07-11 19:10] lgu1234 opened #6205 "Add DesignSpecification:OutdoorAir field and control to AirTerminal:SingleDuct:Uncontrolled and AirTerminal:SingleDuct:Mixer"
Issue overview
--------------
In order to make terminal units to determine the AirLoop flow rate as DOAS system, DesignSpecification:OutdoorAir field and control to AirTerminal:SingleDuct:Uncontrolled and AirTerminal:SingleDuct:Mixer is needed.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermedia

[2017-07-11 22:58] gokmartian opened #6206 "Design Inlet Air Wet Bulb Temperature default in CoolingTower:VariableSpeed too low"
Issue overview
--------------
In modeling a CoolingTowerVariableSpeed using OpenStudio for a model in Colorado,USA, the DesignInletAirWetBulbTemperature was intended to be set at 15C, owing to Colorado's dryer weather and lower WBT. The model does not allow this, and the DesignInletAirWetBulbTemperature reverts back to 20C.   On checking the EnergyPlus I/O reference for the object, it was found th

[2017-07-12 11:23] JasonGlazer commented on #6144
To address @jmarrec concern, add a warning message when the resource referenced in LifeCycleCost:UsePriceEscalation does not match any of the resources that have non-zero costs. Also consider changing LCCusePriceEscalationDataSet2016.idf files to use the resource ElectricityPurchased instead of Electricity.

[2017-07-13 18:31] eugeniorodrigues opened #6207 "Error -1073741819"
Issue overview
--------------
When running an house with plant loops with solar collectors, water use equipment and water heater mixed, sometimes EnergyPlus 8.7.0 for Windows 10 crashes with the output Error -1073741819. This can happen at any moment of the simulation. The output file err is empty.

### Details
Some additional details for this issue (if relevant):
 - MS Windows 10 (64 bits)
 - Ene

[2017-07-13 20:21] zara1363 opened #6208 "FanCoil Capacity Control Issues"
EnergyPlus is run for small office in Houston Climate zone. HVAC system used is Fancoil unit coupled with DOAS.  Two Types of DOAS is tested: 1- DOAS with Chilled and Hot water for cooling and heating, 2- DOAS with DX cooling coil and Electric Heating.  When Testing different capacity control of fancoil units following errors will occurs many times.
1- Full load outlet air dry-bulb temperature < 2

[2017-07-13 20:28] rraustad opened #6209 "Ideal Loads Air System does not connect to zone plenum"
Issue overview
--------------
Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.

### Details
Some additional details for this issue (if relevant):
 - Platform

[2017-07-14 22:36] mjwitte opened #6211 "EvaporativeCooler:Indirect:ResearchSpecial does not always set the secondary air outlet node conditions"
Issue overview
--------------
EvaporativeCooler:Indirect:ResearchSpecial only sets the secondary air outlet node conditions when these four fields have inputs:

[code]
If any one of these fields is blank, then `EvapCoolerOperationControlFlag` is set to false [here](https://github.com/NREL/EnergyPlus/blob/9a786ca0a17b0eb97c4641f31663b44367a3d54f/src/EnergyPlus/EvaporativeCoolers.cc#L645-L652)

And

[2017-07-19 17:59] Nigusse commented on #6211
@mjwitte Before the evaporator cooler operation control (advanced control features) was added, the outlet conditions of the secondary air stream were not calculated (and not reported). Evap cooler operation control needs all the three variables specified by the user.  The advanced evaporator cooler operation control feature was intended for Data Center HVAC application.

[2017-07-19 18:25] mjwitte commented on #6211
@Nigusse Do we have an example file that shows it working?  I tried adding the above fields to the DirectIndirectEvapCoolers example file and then that cooler never came on.
[DirectIndirectEvapCoolers-ActivateOperatingMode.idf.txt](https://github.com/NREL/EnergyPlus/files/1160065/DirectIndirectEvapCoolers-ActivateOperatingMode.idf.txt)

[2017-07-19 18:50] Nigusse commented on #6211
@mjwitte When that feature was added it worked and I expect it to work now. Let me check if I have those example files and I will also test the attached idf.

[2017-07-19 21:11] aaron-boranian opened #6214 "@CpCW and @CpHW Erl functions both result in same value"
Issue overview
--------------
There are two built-in psychrometric Erl functions named @CpCW and @CpHW. These both accept water temperature as an argument, but both functions always return 4180 J/kg-K regardless of temperature value input. It is confusing and misleading to have two functions that both return the same result.

As a solution, I would suggest removing these two Erl functions and repl

[2017-07-19 22:17] aaron-boranian commented on #5997
- [x] The "Zone Component Load Summary" output table report contains information for individual heat transfer components contributing to design day sizing calculations for heating and cooling. However, there aren't definitions or equations in the [Input/Output Reference](http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/output-table-summaryreports.html#zone-component-load-summary) o

[2017-07-20 11:24] RKStrand commented on #5823
@jasondegraw @mjwitte Adding another OO type task requested by Jason during the review of another defect to this defect:

change the SizeCoolingPanelUA so rather than returning the error status via the reference it returns true on success and false on failure? It's a more "C++" way of doing this. (See above issue overview where this has been added.) (Ended up doing this as part of Issue #6098, Pul

[2017-07-20 14:29] JasonGlazer commented on #5997
@aaron-boranian the Engineering Reference includes a section on the Zone Component Loads Summary report already [here](http://bigladdersoftware.com/epx/docs/8-7/engineering-reference/zone-component-loads-summary.html#zone-component-loads-summary). What further clarification is needed in that section?

[2017-07-20 15:33] aaron-boranian commented on #5997
@JasonGlazer that section essentially just lists all the load components, but doesn't define them. For example, new users or energy modelers may not be familiar with the difference between infiltration, ventilation, and zone mixing load components. It would be nice to include equations that explicitly show how each load component is calculated.

[2017-07-20 19:12] Nigusse opened #6215 "Failing EnergyPlus unit test on develop"
We’ve been seeing some issues with the AirTerminalSingleDuctMixer_SimPTAC_HeatingCoilTest unit test that is [here](https://github.com/NREL/EnergyPlus/blob/develop/tst/EnergyPlus/unit/PackagedTerminalHeatPump.unit.cc#L530):

It fails in some cases, passes in others:
1) The test passes when built in Debug mode
2) The test passes when built in Release mode and run by itself
3) The test fails when bui

[2017-07-20 20:28] mjwitte commented on #6119
Closed via #6133

[2017-07-20 20:28] #6119 closed, assigned to lgu1234

[2017-07-21 20:47] mjwitte opened #6218 "VRF:FluidTemperatureControl crashes with Fan:SystemModel"
Issue overview
--------------
User file crashes with VariableRefrigerantFlow:FluidTemperatureControl and Fan:SystemModel.

Crash occurs [here](https://github.com/NREL/EnergyPlus/blob/9ff1a0bf8d1c66ced5d5aa23aaed80891e6b8d96/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L3323) trying to access fan data without checking fan type.  There are some other similar places that need fixing as well - search

[2017-07-24 14:40] Nigusse opened #6219 "Zone air flow mass balance is broken"
Issue overview
--------------
Zone air flow mass balance is broken. Testing 5ZoneAirCooled_ZoneAirMassFlowBalance.idf example file in develop and in EnergyPlus version 8.7 shows that zone air flow mass conservation is broken.

### Details
Some additional details for this issue (if relevant):
 -Version of EnergyPlus v8.7
 - defect was notices while fixing #6119

### Checklist
Add to this list or re

[2017-07-24 18:08] Nigusse opened #6220 "System output provided and single duct zone HVAC equipment load calculation use different cp air values"
Issue overview
--------------
System output provided variable "SysOutputProvided" calculated [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SingleDuct.cc#L2902-L2907) and
the load passed to reheat heating coil calculated [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ZoneAirLoopEquipmentManager.cc#L769-L772) use different cp value of supply air that re

[2017-07-25 18:03] Nigusse commented on #6211
@mjwitte If the secondary air node is specified and EvapCooler type is "iEvapCoolerInDirectRDDSpecial", then the secondary air node properties should be available for reporting whether there is secondary air flow or not.  I am investigating this issue.

However, some Evap Cooler inlet conditions and user specified operating temperature limits combination (such as in the attached idf) may cause the

[2017-07-25 18:37] Nigusse commented on #6211
@mjwitte No secondary air outlet condition are calculated and reported unless the "*.EvapCoolerOperationControlFlag" is TRUE. This flag is turned on only when the operating range temperature limits fields (the last three input fields ) are not blank. It was made so, to allow the previous research special Evap Cooler model to run without this requirement and the previous model doesn't do any second

[2017-07-25 19:11] mjwitte commented on #6211
Well, that's fine as long as it's documented in the I/O Ref.  But I added these inputs to the example file (which is now the defect file) and my inputs caused the evap cooler to shut off.  Why?  I thought I was giving it unlimited room to operate with -99/+99.  Without the extra inputs (the base example file) the evap cooler runs.

[2017-07-25 20:43] Nigusse commented on #6211
The example file you provided was turned off for two reasons. First a logic needs to be fixed [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/EvaporativeCoolers.cc#L2335). The "TEDB <= InletDryBulbTempSec" should have been "TEDB < InletDryBulbTempSec" per the design document. Second, the advanced Evap cooler control feature works based on secondary air flow modulation and tha

[2017-07-26 15:09] JasonGlazer opened #6221 "Enhance CI to make diagnosing easier with stack trace , copies of files, or VM images"
Issue overview
--------------

It seems to becoming more common that the CI shows a failure which cannot be reproduced locally. This is a real problem for a developer who's only response is to make some educated guesses on what might be causing the problem and use trial and error with the CI to attempt to resolve the failures. Often the failures are unrelated to code changes the developer has adde

[2017-07-26 16:14] rraustad commented on #6221
I had a few suggestions a while back:

- [ ] saving location from which the regression results were reviewed so that when hitting the back button the developer does not have to remember where they were or even scroll back down to resume review. Workaround: right-click and select open in new window.
- [ ] creating master err and eio files. A tedious effort is to review all err and eio files to see

[2017-07-26 17:08] Myoldmopar opened #6222 "Include Surface PV in Multiplier"
Issue overview
--------------
A user was experiencing an issue with surface connected PV.

As per the norm, they created a building model with a top/middle/bottom floor.  Then they planned to use a multiplier to multiply the middle floor to match a certain building size.

They connected PV panels to building surfaces.  They then noticed that when multipliers were in place, the PV production was no

[2017-07-26 17:15] lgentile commented on #6222
I believe this is an issue that is blocking deliverables work on an NREL FY17 SBV project. Should be worked at with priority if at all possible.

[2017-07-26 17:36] lgu1234 commented on #6205
In order to make terminal units to determine the AirLoop flow rate as DOAS system,  DesignSpecification:OutdoorAir field and control to AirTerminal:SingleDuct:Uncontrolled and AirTerminal:SingleDuct:Mixer is needed. Trane developed the code. This new feature will integrate the code in EnergyPlus.

[2017-07-26 19:12] rraustad commented on #5917
Is this resolved?

[2017-07-26 19:16] Nigusse commented on #5917
I looked at it but did not find an issue.

[2017-07-26 22:55] jmarrec opened #6224 "ChillerHeaterPerformance:Electric:EIR doesn't check the curve types"
Issue overview
--------------
There is no check done to verify the type of curve assigned to a `ChillerHeaterPerformance:Electric:EIR`.

Here's where it's retrieved: https://github.com/NREL/EnergyPlus/blob/a5b04d73ecfef706cda7d0543ccad31e7c27087a/src/EnergyPlus/PlantCentralGSHP.cc#L988

Specifically, the E+ example itself (sic!) `CentralChillerHeaterSystem_Cooling_Heating.idf`  does use Cubic curv

[2017-07-27 03:04] Myoldmopar commented on #6209
Closed via #6210

[2017-07-27 03:04] #6209 closed, assigned to nobody

[2017-07-27 03:19] Myoldmopar commented on #6170
Closed via #6217

[2017-07-27 03:19] #6170 closed, assigned to RKStrand

[2017-07-27 15:19] lgu1234 opened #6225 "Add more choices of Outdoor Air Method in DesignSpecification:OutdoorAir"
Issue overview
--------------
OA methods specified in the Controller:MechanicalVentilation can not be applied to terminal units directly. This can be achieved by using DesignSpecification:OutdoorAir object. However, the OA methods are limited in DesignSpecification:OutdoorAir. Several choices will be added.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating s

[2017-07-27 15:32] mjwitte commented on #6224
In this case, the IDD and the documentation are inconsistent with the model.  The I/O ref and list of curve types say that a bi-variate curve can be used to make EIRfPLRT.  But a quick inspection of the code shows that this curve is always evaluated with a single independent variable of PLR.  So, either the code needs to be changed to support the bi-cubic (or really any bi-variate form) or mention

[2017-07-29 02:45] mjwitte commented on #6097
Closed via #6134

[2017-07-29 02:45] #6097 closed, assigned to Nigusse

[2017-07-29 02:48] Myoldmopar commented on #5750
Closed via #6191

[2017-07-29 02:48] #5750 closed, assigned to Nigusse

[2017-07-30 02:40] Myoldmopar opened #6228 "Followup to #6158"
- unify use of CondenserInletAirTemp between parent and child (both use same information)
- change function call to use int's
- revise input field name? to Minimum Condenser Inlet Air Temperature for Compressor Operation
- VS DX coil example files all use a unity performance curve for Total Cooling Capacity Function of Air Flow Fraction Curve Name. This can lead to RH > 100% issues. A valid curve

[2017-07-30 02:41] Myoldmopar commented on #6149
Closed via #6158

[2017-07-30 02:41] #6149 closed, assigned to rraustad

[2017-07-30 17:30] rraustad commented on #6228
Not sure I trust these but some Capacity as a Function of Air Flow curves found here:
http://simulationresearch.lbl.gov/modelica/releases/latest/help/Buildings_Fluid_HeatExchangers_DXCoils_AirCooled_Data_SingleSpeed.html#Buildings.Fluid.HeatExchangers.DXCoils.AirCooled.Data.SingleSpeed.Generic

![capfairflow](https://user-images.githubusercontent.com/5778156/28755530-29063314-752b-11e7-8ac9-2bbfde

[2017-07-31 11:50] jmarrec commented on #6224
I'm pretty sure the intended behavior originally was to have support for BiVariateCurves. I shouldn't have truncated the extract from the IDD file, but here it is in full with the notes:

[code]

[2017-07-31 12:44] Myoldmopar opened #6229 "Documentation Margins"
It's 2017.  And almost no one is printing the docs.  Could we consider shrinking the page margins down to fit more content per page and longer equations, etc.?

[2017-07-31 13:42] mjwitte commented on #6229
Printed or not, the left/right/bottom margins do seem a bit wide.  Could probably cut them in half and still maintain the aesthetics of the page.

[2017-07-31 13:55] JasonGlazer commented on #5997
- [x] Remove references to FORTRAN in the Engineering Reference

[2017-07-31 14:03] Myoldmopar commented on #6229
I was able to get the bottom and sides down to 0.5" and it looked good.  The top didn't benefit from the margin change because the header got smushed up against the page border.  This still made a nice change.  PR opened and sent to @michael-okeefe for a quick review, but if you happen to build docs with this change and they look good to you, feel free to merge the PR.

[2017-07-31 14:28] Myoldmopar commented on #6151
Closed via #6179

[2017-07-31 14:28] #6151 closed, assigned to Nigusse

[2017-08-02 18:39] md-kennedy opened #6231 "DesignDayWithLimit with Coincident system sizing ignores zone level Limit"
With system autosize and zone autosized with cooling method set to DesignDayWithLimit, the limit is ignored when system sizing is coincident and honored when it is non-coincident.  This behavior is found in both multizone air loop and a single zone unitarysystem,

In single zone one can just specify non-coincident to work around ( should be a note on design day with limit if that is required) but

[2017-08-02 20:43] ejhw commented on #5917
I ran the original defect file in v8.7 and see identical results to v8.6, so it still looks like an issue to me.

@Nigusse, the original defect file is a modified version of the example file `RefBldgStripMallNew2004_Chicago.idf`, so I would not expect to see the issue there.

[2017-08-04 14:49] ejhw commented on #5917
@Nigusse, regarding your comment:

My understanding that when the system outlet mass flow rate is scaled with the fan runtime fraction (dashed red line in your plots), then it should match the flow rates specified in the `AirLoopHVAC:UnitaryHeatCool` object in the idf:
[code]
...as opposed to the "maximum flow rate of the system and fan". It looks like the behavior I would expect is seen in `AirLo

[2017-08-04 17:13] MatthewSteen commented on #5672
@JasonGlazer I'm seeing this in the `Receptacle Equipment` row too.

[2017-08-07 16:22] Myoldmopar commented on #6190
Closed via #6213

[2017-08-07 16:22] #6190 closed, assigned to Nigusse

[2017-08-07 16:53] Myoldmopar commented on #6215
Closed via #6216

[2017-08-07 16:53] #6215 closed, assigned to nobody

[2017-08-08 00:14] rraustad commented on #6228
@mjwitte  do you feel strongly about changing the input field name for Minimum Outdoor Temperature for Compressor Operation to Minimum Inlet Air Temperature for Compressor Operation? If so, I'd like to get this in before release.

[2017-08-08 01:25] rraustad commented on #6218
Issue with GetInput. Correction is fairly straight-forward.

![image](https://user-images.githubusercontent.com/5778156/29052266-e5ca6b50-7bb6-11e7-9943-5c1b36959b02.png)

[2017-08-08 06:48] mjwitte commented on #6228
No.

-------- Original message --------
From: Richard Raustad <notifications@github.com>
Date: 8/7/17  5:14 PM  (GMT-08:00)
To: NREL/EnergyPlus <EnergyPlus@noreply.github.com>
Cc: "Michael J. Witte" <mjwitte@gard.com>, Mention <mention@noreply.github.com>
Subject: Re: [NREL/EnergyPlus] Followup to #6158 (#6228)

@mjwitte  do you feel strongly about changing the input field name for Minimum Outdoor

[2017-08-08 14:00] #6229 closed, assigned to nobody

[2017-08-09 01:27] rraustad commented on #6218
See PR #6232

[2017-08-09 02:01] rraustad commented on #5441
Ran into this again with VRF TUs requiring a fan operating mode schedule. It's been a year and I haven't even thought of this since then. With the recent discussion of deprecating old style fan objects this is more important now and should be elevated to a high priority status.

[2017-08-09 02:14] rraustad commented on #5441
It seems like a good place to start is with the 5 objects that default to constant fan operating mode.

    Defaults to constant fan if fan operating mode schedule is blank:

    AirloopHVAC:UnitarySystem (SetpointBased) (CycFan = 0)
    ZoneHVAC:UnitHeater - Fan:ConstantVolume (don't care, constant fan operation)
    ZoneHVAC:UnitVentilator - Fan:ConstantVolume (don't care, constant fan operation

[2017-08-09 13:52] lgu1234 opened #6233 "Remove a section with ZoneMassFlowRate <= 0.0 in moisture balance equation"
Issue overview
--------------
#6119 corrected items related to exhaust mass flow rate with ZoneMassFlowRate > 0.0 in moisture balance equation. The section with ZoneMassFlowRate <= 0.0 is not needed and should be removed in order to be consistent with energy balance equation.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of En

[2017-08-09 18:14] md-kennedy commented on #6109
One issue with the above sequence is is that high speed economizer is likely to only be needed when the ambient is pretty warm and in that case going to high speed fan likely is an energy waster.  Which is why it would be nice to somehow specify whether there is a high speed economizer step or not.

Another issue that a more general solution might address is some units are coming with a very low s

[2017-08-09 18:43] rraustad commented on #6109
@md-kennedy is there a sequence of operations provided with those units that we can use as a template?

[2017-08-11 15:42] mitchute commented on #6081
@Myoldmopar I'm going to go ahead and make this change. Any objections @mjwitte , or anyone else?

[2017-08-11 15:54] mjwitte commented on #6081
@mitchute I suppose it's ok.  Will be interesting to see if any of the fd example files fail with it.  The fatal error needs to inform what the threshold is.

[2017-08-12 01:04] rraustad commented on #6189
Comparison of defect file results with original (above) after correction in #6203

![6189](https://user-images.githubusercontent.com/5778156/29236663-adde9450-7edb-11e7-80ba-2c0e19778adb.png)

[2017-08-12 03:03] rraustad commented on #6189
closed via #6203

[2017-08-12 03:03] #6189 closed, assigned to Nigusse

[2017-08-12 16:49] mitchute commented on #5977
@Myoldmopar can you elaborate on the idf issues referenced above?

[2017-08-12 19:25] rraustad commented on #5870
Closed via #6162

[2017-08-12 19:25] #5870 closed, assigned to lgu1234

[2017-08-12 21:13] Myoldmopar commented on #5977
Hmm.  Well, in [this comment](https://github.com/NREL/EnergyPlus/issues/5977#issuecomment-274996653), there were several files that were version 8.4 in the repo.

Then as I commented [here](https://github.com/NREL/EnergyPlus/issues/5977#issuecomment-275014060) there were some files that failed to transition properly in my custom little tool, so just verify they run/transition properly.

Do you wan

[2017-08-13 03:03] rraustad commented on #6200
This is an interesting dilemma. The UnitarySystem might not have a cooling or heating coil. And if that is the case then what is the design air flow rate for the mode where the coil does not exist? There is also nothing stopping a user from putting 2 UnitarySystems on the same branch. So if a downstream system needs a specific flow rate, how does the upstream system know what to do? If I assume on

[2017-08-13 03:52] rraustad commented on #6200
Step 1: stop setting an arbitrary air flow rate for the mode where a coil does not exist.

		// not sure what to do if UnitarySystem has only 1 coil type and flow needs to occur when present coil is off
		// how does constant fan operating mode pertain here?
    //		if ( UnitarySystem( UnitarySysNum ).HeatCoilExists && ! UnitarySystem( UnitarySysNum ).CoolCoilExists ) {
    //			UnitarySystem( Uni

[2017-08-13 04:18] rraustad commented on #6200
https://github.com/NREL/EnergyPlus/pull/6240

[2017-08-14 00:36] mitchute commented on #5977
I'm not seeing any out-of-date versions, so I'm guessing that was resolved elsewhere. Regarding the transition issues, do we need to need to verify the transition 87-88 works, or somehow go back and figure out what might be any 85-86 transition issues?

[2017-08-14 13:31] Myoldmopar commented on #5977
I think verifying those files can be transitioned all the way from 8.5 up to now would be sufficient for putting that issue to bed.

[2017-08-14 13:34] Myoldmopar commented on #6081
Closed via #6235

[2017-08-14 13:34] #6081 closed, assigned to mitchute

[2017-08-14 13:48] mjwitte commented on #6200
@rraustad We may need to rethink the flexibility here.  Somebody has to be king in setting the airflow on the branch, and that would be the supply fan.  Presumably only one unitary system should have a fan in it, or the fan is loose on the branch.  So, in my simple view, any unitary system object that doesn't have a fan should take whatever flow rate is present at it's inlet node and not mess with

[2017-08-14 14:06] rraustad commented on #6200
My first thought is that any UnitarySystem with a fan will set the air flow rate according to the air flow logic of cycling vs constant fan systems. Then any UnitarySystem without a fan will simply use the inlet air flow rate.

My second thought is that this won't work with existing control logic for cycling fan systems that iterates on a range of air flow rates to find the operating PLR.

My thir

[2017-08-14 15:39] mitchute commented on #5977
@Myoldmopar ```IceStorage_Parellel``` and ```OutdoorAirUnitwithAirloopHVAC``` transition from 85 to 88 just fine. ```PlantLoadProfile_Updated``` doesn't exist in the 85 source.

[2017-08-14 18:15] lgu1234 opened #6241 "Add a new field of Per Person Ventilation Rate Mode to AirTerminal:SingleDuct:Uncontrolled and AirTerminal:SingleDuct:Mixer"
Issue overview
--------------
The new field will give users a choice to calculate ventilation rate based on either design occupancy and current occupancy.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to

[2017-08-14 19:28] Myoldmopar commented on #5977
Closed via #6238

[2017-08-14 19:28] #5977 closed, assigned to Myoldmopar, mitchute

[2017-08-14 21:06] mjwitte opened #6242 "DOAS with AirTerminal:SingleDuct:Mixer cannot supply outdoor air when the ZoneHVAC unit is not operating"
Issue overview
--------------
This is a followup to PR #6223.  The test files for this issue have an outdoor air schedule that is shifted from the fancoil operating schedule.  In the morning from 8-11, the fan coil is on while the OA is scheduled off - this works OK, the fan coil simply recirculates 100%.

At night from 21-24, the fan coil is schedule off, but the DOAS and OA schedule is still on.

[2017-08-15 01:10] rraustad commented on #6200
Easing into this without a major change, the revised code above gives the same result.

![image](https://user-images.githubusercontent.com/5778156/29298321-e746ee94-8134-11e7-975e-5226ff8412e0.png)

[2017-08-15 02:41] mjwitte opened #6243 "Suspect zone hvac heating coil sizing with DOAS mixer"
Issue overview
--------------
While testing changes for #6223, I tried changing the OA spec to be 10% of the original and then compared the eio outputs expecting the DOAS components to all be 10% of the original  That much works as expected.  I also expected no change in the zone HVAC system sizing.

1. For the fan coil test file, the fan coil components were all the same size in zones 1-4, as exp

[2017-08-15 02:51] mjwitte commented on #6153
The need for this has been resolved with other changes.  See #6223.

[2017-08-15 02:51] #6153 closed, assigned to lgu1234

[2017-08-15 15:21] jmarrec opened #6244 "Node temperature constant when plant loop is off even with embedded pipes"
Issue overview
--------------

I'm not sure I'll be able to phrase this issue correctly the first time around but I'll try. I'm using a `ZoneHVAC:LowTemperatureRadiant:VariableFlow` object that is embedded in the wall of a **large** trombe wall zone (around 1000 meter of embedded piping!). I'm actually trying to use this as a heat source to heat up a water tank connected to the supply side of a co

[2017-08-15 15:38] mjwitte commented on #6244
Interesting use of the `ZoneHVAC:LowTemperatureRadiant:VariableFlow` object. Another limitation to consider here - I am not sure if the thermal mass of the water in the embedded pipes is accounted for.  For your immediate need, would it work to use `ZoneHVAC:LowTemperatureRadiant:ConstantFlow` with a zero pump power just to force the water temperature in the slab to update?  @RKStrand any thoughts

[2017-08-15 21:15] jmarrec commented on #6244
I would be fine using a low temp constant flow, I'm actually not using the variable capacity at the moment.
I'd be fine running a pump constantly but can I make sure I bypass the waterheater:mixed (no heating element, just a tank) unless I have a big enough delta T? I wouldn't want to make the tank colder, that would defeat the purpose.

(In the meantime I've set up an EMS program that senses for

[2017-08-15 23:51] rraustad commented on #4671
Closed via #6184.

[2017-08-15 23:51] #4671 closed

[2017-08-16 01:37] Myoldmopar commented on #5985
Closed via #6236

[2017-08-16 01:37] #5985 closed, assigned to mitchute

[2017-08-16 16:06] JasonGlazer commented on #5997
- [x] In the IORef, for Refrigeration:Compressor, the following fields are not documented
- Mode of Operation
- Transcritical Compressor Power Curve Name
- Transcritical Compressor Capacity Curve Name

Addressed in Pull Request [160251551_Issue#5997](https://github.com/NREL/EnergyPlus/pull/6946)

[2017-08-16 17:06] Myoldmopar commented on #6055
Fixed via #6140

[2017-08-16 17:06] #6055 closed, assigned to nobody

[2017-08-16 18:46] mjwitte commented on #6241
@Myoldmopar This is one more item with IDD changes that@lgu1234 was planning to get into v8.8.  I had asked for this to be a separate PR after #6223 drops in.

[2017-08-16 18:52] Myoldmopar commented on #6241
@lgu1234 if you want to go ahead and get started on this, just create a new branch based on the #6223 branch and work on from that point.  I suspect #6223 will be merged into develop today, so once that gets merged in you'll be good to go.

[2017-08-16 19:16] lgu1234 commented on #6241
@Myoldmopar I can work on my local computer first.

[2017-08-16 20:35] rraustad commented on #6205
closed via #6223

[2017-08-16 20:35] #6205 closed, assigned to lgu1234

[2017-08-16 20:39] rraustad commented on #6225
Closed via #6223

[2017-08-16 20:39] #6225 closed, assigned to lgu1234

[2017-08-16 20:40] rraustad commented on #6020
closed via #6223

[2017-08-16 20:40] #6020 closed, assigned to Nigusse

[2017-08-16 21:36] RKStrand commented on #6244
Kudos on giving this a try and I agree with @mjwitte that this is an interesting use of the variable flow radiant system.  What you really have is a radiant "cooling" system in that you are cooling your Trombe wall zone by heating up your water.  Are you treating this as a cooling system and using cooling controls?  I don't have experience with the EMS in EnergyPlus so I can't comment on that.  Ba

[2017-08-17 00:38] rraustad commented on #6220
Closed via #6226.

[2017-08-17 00:38] #6220 closed, assigned to Nigusse

[2017-08-17 18:45] JasonGlazer commented on #5895
As part of the #6150 we have removed the special meaning that some end-use subcategory labels carried that would cause certain rows of the EAp2-4/5 table to be calculated in a special way. Instead, the EAp2-4/5 table now includes all subcategories which allow users to add things up however they wish.

[2017-08-17 18:45] #5895 closed, assigned to JasonGlazer

[2017-08-17 19:27] lgu1234 commented on #6241
@mjwitte @Myoldmopar I will check in within an hour.

[2017-08-18 13:45] mjwitte commented on #6199
![image](https://user-images.githubusercontent.com/4991075/29461454-5f9804a0-83f1-11e7-9828-3bdf34b12dd0.png)

More units conflicts.
@Myoldmopar The W/mK in the phase change PR should be W/m-K - need to fix the IDD for that.

[2017-08-18 14:19] Myoldmopar commented on #6199
Easy enough, I'll push that fix shortly.

[2017-08-18 15:41] Myoldmopar commented on #6199
Alright I pushed up my fix, as well as the start of a script that would do this validation for us in CI.  I guess it doesn't catch the "Unit Type for ... " types of fields, but it would be straightforward to add that in.

[2017-08-18 15:41] Myoldmopar commented on #6199
Feel free to address the other unit issues on that same branch if you like.

[2017-08-18 15:57] mjwitte commented on #6199
Nice

[2017-08-18 20:52] Myoldmopar opened #6257 "Followup for Moving, Rotating, Moisturizing PR"
PR #6188 brought in several new modeling capabilities, and was merged before the IDD freeze.  The engineering reference could do with some added description and content.  Unit tests were added, but they could do with some additional testing if possible, too.

[2017-08-21 13:47] jmarrec commented on #6244
Correct, I'm using treating it as a cooling loop, using a `PlantEquipmentOperation:CoolingLoad`,
 with the `WaterHeater:Mixed `listed there, a SPM placed on the plant supply outlet of 5C, and the Low Temp Radiant is also controlled to MRT=5°C.

[2017-08-21 15:48] jmarrec commented on #6244
I've sent a request to the helpdesk with the file, the EMS program I implemented doesn't work, in the sense that the EMS program does work (the actuators - Low Temp flowrate and Loop pump flow rates - are set correctly), but I get cases where the supply side of the plant loop has a given mass flow rate, the demand side has no flow (none through the lowtemp neither the bypass branch). There's no co

[2017-08-21 18:09] rraustad commented on #6241
closed via #6252.

[2017-08-21 18:09] #6241 closed, assigned to lgu1234

[2017-08-22 17:42] RKStrand commented on #6013
@EnergyArchmage @Myoldmopar @mjwitte Fixed as per Brent's suggestion and added unit tests.  Pull request coming to your inbox soon...

[2017-08-23 17:36] mjwitte opened #6264 "Followup from Multiple Airloops"
Issue overview
--------------
Problems noted after merge of #6248.
- [x] 5ZoneAirCooledWithDOASAirLoop - OA table output shows zero mechanical ventilation - that's wrong.
- [x] Unit tests
- [x] DOATToUnitVentilator node connection warnings #6273
- [x] Deal with furnaces searching for any ADU/DirectAir to find out the ZoneSequenceCoolingNum etc. - happens in Furnaces and HVACMultiSpeedHeatPump
- [x

[2017-08-23 21:54] mjwitte commented on #6218
Closed via #6232

[2017-08-23 21:54] #6218 closed, assigned to rraustad

[2017-08-23 22:29] mjwitte opened #6266 "Zone Volume < 0 fatal error is harsh - seems it should throw error but set it to some value like 10m3 and continue"
Issue overview
--------------
While testing a defect file, it now fails due to a fatal error.
[code]
There is the potential that many files that have less-than-perfect geometry will now fail where they ran before.  Seems the error should be severe or warning, but not fatal.  The zone volume could be set to something reasonable and let the simulation proceed.

This same file trips on this `assert(

[2017-08-23 23:16] rraustad commented on #6013
Closed via #6262.

[2017-08-23 23:16] #6013 closed, assigned to RKStrand

[2017-08-23 23:46] mjwitte opened #6267 "HVACSystemRootFindingAlgorithm not writing correctly to eio output"
Issue overview
--------------
The eio output for `HVACSystemRootFindingAlgorithm` comes out like this:
[code]
It's written from [here](https://github.com/NREL/EnergyPlus/blob/fabf0a4f65edf6e4605030f83e77746f3bcca8a3/src/EnergyPlus/HeatBalanceManager.cc#L1265-L1267).  Two problems:
1.  If the object isn't present, Alphanames( 1 ) is not set to the default string, so it still holds whatever the prio

[2017-08-24 11:24] Myoldmopar commented on #6264
- [ ] The crash noted here as well: https://github.com/NREL/EnergyPlus/pull/6265#issuecomment-324601306

[2017-08-24 12:02] #5832 closed, assigned to mitchute

[2017-08-24 12:56] Myoldmopar commented on #6155
Closed via #6174

[2017-08-24 12:56] #6155 closed, assigned to lgu1234

[2017-08-24 19:30] mitchute opened #6271 "Fix Severe Errors and Warnings in Test Suite IDF Files"
I ran the test suite files to get an idea how many severe errors or warnings are occurring currently in the test suite. The results can be found here: https://gist.github.com/mitchute/c4b16cc0807f8c291dddd09e7378181c

Summary:
40 Severe Errors
1487 Warnings

Disclaimer: I didn't run expand objects or any of the other preprocessors, so those files are likely not included in this list, although we m

[2017-08-25 03:08] rraustad commented on #6172
@mjwitte @Myoldmopar @EnergyArchmage tagging you all on this given it's importance.

[2017-08-25 05:01] rraustad commented on #6172
Please update these as needed,

[2017-08-25 14:17] mjwitte opened #6273 "DOATToUnitVentilator node connection errors"
Issue overview
--------------
Not sure when this slipped in, but DOATToUnitVentilator is now throwing node connection errors.  Checked all of the DOATo* files and the others are OK.
[code]

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus Version 8.8.0-ddaa5689de

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated s

[2017-08-25 15:43] mjwitte commented on #6273
The only commit since v8.7 that touched UnitVentilators.cc is #6248 but I can't see the diffs from that anymore 'cause the pages have been deleted already <sigh>.  Will try a build just before that merge and see if that's where it came in.

[2017-08-25 15:58] mjwitte commented on #6273
Found the problem (moved GetATMixer *after* a block that's checking if ATMixerExists), will fix along with other changes to multiple airloop stuff.

[2017-08-25 21:57] mjwitte opened #6274 "User file fails with CalcMultiSpeedDXCoilCooling developer error"
Issue overview
--------------
   ** Severe  ** CalcMultiSpeedDXCoilCooling: Coil:Cooling:DX:MultiSpeed "ZONE RETAIL BACK_SPACE A  - STORY GROUND PSZ-VAV VAR SPD DX AC CLG COIL Developer error - inconsistent airflow rates.
   **   ~~~   ** When AirMassFlow > 0.0 and CycRatio > 0.0, then MSHPMassFlowRateHigh must also be > 0.0
   **   ~~~   **  During Warmup, Environment=DENVER INTL AP ANN CLG .4% C

[2017-08-26 02:17] rraustad commented on #6172
Here's just one example of things that will need correction.

A fan coil (from FanCoilAutoSizeScalableSizing) has a cooling and heating coil. The user enters a scalable sizing object and enters a flow rate for both coils. Given it's a fan coil. one would expect that the flow rate would be the max of these inputs.  Instead, the first input is used and the second input for heating flow rate is ignor

[2017-08-26 04:19] rraustad commented on #6172
Can someone help me with the last bullet where redundant lines of code could be consolidated into something? Not sure what that might be, a function call, move to top of routine and always calculate, do during sizing if possible?, etc. Asking for suggestions.

[2017-08-26 14:54] RKStrand commented on #6222
@Myoldmopar So, I ran both of the input files and looked at the code.  I'm actually getting similar results (differences in facility electric are 0.4%) and the code seems to indicate that the zone multiplier is being used.  Here is the code out of ReportPV subroutine:

[code]

So, a multiplier is being applied as per this code and in this input file it seems to be doing what it is supposed to do.

[2017-08-26 16:07] RKStrand opened #6276 "Electric Baseboard Providing Negative Heating"
A problem was noted with electric radiant/convective baseboard units where there were strange occasional occurrences of negative heating rates being provided by the baseboard unit.  This should never happen.  While simply zeroing out negative loads would be one short-term solution, it is possible that the calculation of ZeroSourceSumHAT is not being updated properly.  If this is the source of the

[2017-08-26 16:12] RKStrand commented on #6276
This is ID#150572819 in PivotalTracker

[2017-08-28 13:38] mjwitte commented on #6172
@rraustad Brainstorming here . . .
As you suggested, some small functions for specific calculations like OAfrac, coil inlet temp, etc. are one possibility.  Ultimately these may be quite simple and self-contained - calc OA frac, calc coil inlet temp, or calc scalable airflow.  A lot of the duplicate-looking code comes from the same basic equation grabbing different temperatures, for example, depen

[2017-08-28 19:57] Myoldmopar commented on #6222
@RKStrand I'm actually able to reproduce the diffs, but it's not super straightforward.  First, I had to add relevant output variables (these idfs were part of a workflow that had the variables added later):

[code]

Once adding them, I ran the files, and when running `ReadVarsESO`, on the "actual" geometry file, I noticed it quietly limited the output variables to 255.  So I had to run it with no

[2017-08-28 20:27] RKStrand commented on #6222
@Myoldmopar Hmmm, ok I can see that is perhaps a problem.  Interesting since the code seems to be dealing with the multiplier in the manner that one would expect.  I'll look at it.  By the way, I found looking at this and running into the 255 limit that you can avoid doing the no limit by moving the output variables around in the header of the eso file once you know which one you really need.  Jus

[2017-08-29 11:04] RKStrand commented on #6276
@rraustad @Myoldmopar @mjwitte This is now fixed and a pull request will be created shortly.  The defect file attached above does not report any negative baseboard heating after the fix.  While in the code, I also cleaned up the variable assignments for when the device is on and off (new routines) and eliminated extra comment lines there were basically blank holdovers from F90 days.

[2017-08-29 16:36] mjwitte opened #6278 "Eliminate ActualZoneNum and move checks for controlled zone and plenum out of ZoneTempPredictorCorrector::CalcZoneSums"
Issue overview
--------------
- [x] In [ZoneTempPredictorCorrector::CalcZoneSums](https://github.com/NREL/EnergyPlus/blob/8856cdfd47cbc142b22bdea4dbc074029650e4de/src/EnergyPlus/ZoneTempPredictorCorrector.cc#L5072-L5097), every time step there are loops through all zones to set ControlledZoneAirFlag and ZoneEquipConfigNum and loops through all return and supply plenums to set ZoneRetPlenumAirFlag

[2017-08-29 20:44] rraustad commented on #6276
Closed via #6277.

[2017-08-29 20:44] #6276 closed, assigned to RKStrand

[2017-08-30 14:34] EnergyArchmage commented on #6172
I think that a thorough refactor of RequestSizing is high priority.  Although it is extremely challenging, my view is that working on a clever new overall design would be more productive than making incremental improvements to current code.   I would be happy to help work on a new design but it would be a sizable project and need funding.

Here are some of the characteristics I would imagine the n

[2017-08-30 14:52] rraustad commented on #6172
I don't disagree and this would be well past my ability.

I do think that there have been several changes to sizing methodology where we need to understand what those changes represent. For example, calculating a coil inlet temp based on OAFrac and ZoneTempAtHeatPeak instead of using the FinalZoneSizing.DesHeatCoilInTemp. This is important when a parent operates at a flow rate different than the z

[2017-08-30 20:08] rraustad commented on #6267
Close via #6279.

[2017-08-30 20:08] #6267 closed, assigned to lgu1234

[2017-08-31 13:37] mjwitte commented on #6274
Closed via #6280

[2017-08-31 13:37] #6274 closed, assigned to nobody

[2017-08-31 14:47] jmarrec commented on #5111
And I ended up here again today (having forgotten I came here in January).

[2017-08-31 15:01] jasondegraw commented on #5111
@jmarrec #6042 changes the CMake warning to better explain what happens with the missing GITHUB_TOKEN. It should hopefully go in by the end of September.

[2017-08-31 15:38] rraustad opened #6282 "SimHVAC max iteration warnings caused by Coil:Heating:Gas:MultiStage"
Issue overview
--------------
User file has a simple system with unitarysystem, fan:systemodel, single speed DX, and multistage gas heat, all set to 1 speed.   It runs fine most of the time, but it's throwing seemingly random max iteration warnings.  First one happens at 01/06 02:15.  There's a small heating load, but for some reason, the system is showing that it's running at full flow.  The max

[2017-08-31 17:05] RKStrand commented on #6222
@Myoldmopar @lgentile Fix works, results between the two input files are now in line.  About to create a pull request and then this can be tested.

[2017-08-31 19:11] mjwitte commented on #6152
Actually, as I re-read the issue description, it's only a problem during unoccupied times - we just need the PIU fans to be smarter about who turns on during night-cycle operation.  I base this on these two documents

p. 44 of
http://www.trane.com/download/equipmentpdfs/series_vavprc008en.pdf

and

p. 7 of
https://www.titus-hvac.com/docs/2014%20catalog/fanpowered_2013.pdf

![image](https://user-im

[2017-09-01 21:50] mjwitte opened #6287 "Transition fails on very long Schedule:Compact object with 26000+ fields"
Issue overview
--------------
Transition from v8.7 to v8.8 crashes with an array bounds error on this file.
[code]
That section of the code looks like this (lines 3109:3112)
[code]
After some trial and error and searching the code, found these line at 411:414
[code]
Removing the "+20" from these lines fixes the problem for this file.  Question is whether that's a general solution.

### Details
Som

[2017-09-02 01:33] rraustad opened #6289 "Followup to #6152, PIU units controlled via availability managers"
Issue overview
--------------
There is no IDD choice for thermostatic control of PIU. PIU fans are always tstat controlled. This type of control can disobey availability manager signals, but it's never been clear that a signal to cycle on zone fans should turn on every zone fan en masse. A proposed change to night cycle manager with Cycling Run Time Control Type = Thermostat or ThermostatWithMinim

[2017-09-04 14:45] JasonGlazer commented on #6199
@Myoldmopar what branch?

[2017-09-04 18:56] JasonGlazer commented on #5606
As part of #6291 addressed:

- When name is changed update names of nodes that are similar. Since often the node names referenced in an object are closely related to the name of the object, if the name of a object is changed offer to update the names of nodes based on the revised name. This would be especially useful when an object is copied and the name and node names are the primary editing that

[2017-09-05 12:50] Myoldmopar commented on #6199
It's already in develop, at `scripts/dev/validate_idd_units.py`

[2017-09-05 13:48] Myoldmopar commented on #6222
Closed via #6283

[2017-09-05 13:48] #6222 closed, assigned to RKStrand

[2017-09-05 14:13] JasonGlazer commented on #6199
Ok, thanks

[2017-09-05 18:45] mjwitte opened #6292 "Add documentation for calling EnergyPlus as a library to the Interface Developers Guide (or where appropriate)"
Issue overview
--------------
per @Myoldmopar
I don't think there's any proper documentation for calling it as a library, but it's really rather easy:

  *   Compile against the EnergyPlusPgm.hh file at src/EnergyPlus/public/EnergyPlusPgm.hh
  *   Dynamic link with the EnergyPlusAPI.dll library
  *   Have your C++ (or whatever) set up a run directory with in.idf, in.epw, etc.
  *   Optionally have

[2017-09-05 18:49] JasonGlazer opened #6293 "File stops with Assertion failed: n == 4u"
Issue overview
--------------
A users file fails with message:

Assertion failed: n == 4u, file I:\epRepo\EnergyPlus-Develop\src\EnergyPlus\DataSurfaces.cc, line 517

Please ask Glazer for copy of file provided by user when working on issue #5672

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list location o

[2017-09-05 18:51] Myoldmopar commented on #6292
[This file](https://github.com/NREL/EnergyPlus/blob/3ef1eaf299a4db7fb70d10ade1c7b993d5c694ff/src/EnergyPlus/test_ep_as_library.cc) demonstrates the above code steps. And [these CMake lines](https://github.com/NREL/EnergyPlus/blob/dc34fec00d3e11fd9a49f3a5e1f65cd17bd2fdef/src/EnergyPlus/CMakeLists.txt#L630-L631) show how to compile it into a useful program.

Yeah, interface developers guide should b

[2017-09-05 22:05] mjwitte opened #6294 "Displacement ventilation and UFAD room air models appear to be missing possible internal gains in subzone and room totals"
Issue overview
--------------
While working on #6286 it appears that some of the room air models are not including all possible internal convective gains in the subzone and whole room mixed calculations.  For example [DisplacementVentMgr::CalcUCSDDV](https://github.com/NREL/EnergyPlus/blob/3ef1eaf299a4db7fb70d10ade1c7b993d5c694ff/src/EnergyPlus/DisplacementVentMgr.cc#L695-L697) list only a few pos

[2017-09-06 18:20] nmerket commented on #6200
@shorowit this was fixed in #6240 and has been merged.

[2017-09-06 18:20] #6200 closed, assigned to nobody

[2017-09-06 18:38] RKStrand commented on #4247
This is now Figure 9.1, page 470 of the V8.7 PDF

[2017-09-06 18:40] RKStrand commented on #4247
Image that needs to be updated is image1957.svg.png

[2017-09-07 13:33] Myoldmopar commented on #6287
Closed via #6288

[2017-09-07 13:33] #6287 closed, assigned to nobody

[2017-09-07 13:57] Myoldmopar commented on #6282
Closed via #6284

[2017-09-07 13:57] #6282 closed, assigned to nobody

[2017-09-07 15:27] mjwitte commented on #6199
Closed via #6291

[2017-09-07 15:27] #6199 closed, assigned to JasonGlazer

[2017-09-08 12:10] JasonGlazer commented on #5672
This should also be resolved by #6295

[2017-09-08 12:11] JasonGlazer commented on #6293
This may be related to #5508

[2017-09-08 12:36] JasonGlazer commented on #6266
@mjwitte please send me the file that causes this problem.

[2017-09-08 14:05] mjwitte commented on #6293
I though there was an existing issue about this, but I couldn't find it.

[2017-09-08 19:59] RKStrand commented on #4247
Image was recreated from scratch as older versions with the individual pieces separated out were not found.  New diagram updates the connections and gives the overall diagram a fresher, more colorful look.

[2017-09-08 20:58] RKStrand commented on #4246
This is still a problem and needs to be fixed.

[2017-09-08 21:24] mjwitte opened #6301 "VRF Terminal unit flow balance problems"
Issue overview
--------------
1. Found this while investigating error diffs from #6272 VariableRefrigerantFlow_FluidTCtrl_HR_5Zone because it tripped new zone unbalanced flow warnings. Reporting the node flow rates shows that TUn Outlet Node flow is always significantly less than TUn Inlet Node flow.  Also made a version of VariableRefrigerantFlow_5Zone with cycling fan and the inlet outlet node f

[2017-09-09 15:53] RKStrand commented on #4246
Issues with the documentation for both the variable and constant flow low temperature radiant systems for the fields for condensation control type and condensation offset temperature have been corrected and enhanced with new language for the VariableOff strategy which was not documented at all before this defect was logged.  A pull request is forthcoming.

[2017-09-10 12:42] RKStrand commented on #3469
@mjwitte Ok, now I have looked at this a bit more and can comment on this.  I believe that based on the code and the documentation (which does show equations for all three) there they line up with each other.  I don't know about a typo in the ISO reference as I have not tracked down that yet.  So, I don't know if there is much of a defect there.  All three MRT calculations are possible ways to fin

[2017-09-10 12:44] Myoldmopar commented on #6266
Closed via #6299

[2017-09-10 12:44] #6266 closed, assigned to JasonGlazer

[2017-09-11 13:38] Myoldmopar commented on #4247
Closed via #6300

[2017-09-11 13:38] #4247 closed

[2017-09-11 14:41] Myoldmopar opened #6304 "Some Node Reporting Issues"
Issue overview
--------------
Some things were noted during the review of #6157.

- Only report these for outdoor air nodes:
  - System Node Wind Direction
  - System Node WInd Speed
  - Surface Outside Normal Azimuth Angle   -- I think this can stay in actually even for static surfaces.
- Fix units on Surface Outside Normal Azimuth Angle
- Wind Speed doesn't vary with height -- did you verify thi

[2017-09-11 14:47] Myoldmopar commented on #6304
@mjwitte Outside Air looks to be a node connection type attribute, not a single node attribute.  That will make it a little more difficult to trim down to only report the wind direction/speed for outdoor air nodes.  I can easily trim it down to just air nodes so we don't get water nodes showing wind speed, because fluid type is an attribute on a single node.  What do you think?

[2017-09-11 14:52] Myoldmopar commented on #6304
But really, once I pull wind speed and direction out for just air nodes, I should also pull dew point and wet bulb too.  This is feeling more like a "I shouldn't try to touch these at the last minute sort of thing."

[2017-09-11 16:24] mjwitte commented on #6304
@Myoldmopar Perhaps you could move the SetUpOutput calls for wind speed and direction from the general node section to the getinputs for OutdoorAir:Node and OutdoorAir:NodeList and set them up there?  I agree - don't mess with the wet bulb etc.  That's been that way for a long time.

Here's a test file.  It has 3 new outdoor air node objects and a new surface that's at about 100m names "ZN001:WALL

[2017-09-11 20:20] mjwitte opened #6306 "ZoneHVAC Availability Managers only shut off fan - parent unit needs to make sure all flows and coil loads are set to zero when unit is forced off"
Issue overview
--------------
While investigating error diffs from #6272, found zone unbalanced flow warnings in FanCoil_HybridVent_VentSch. The north zone fan coil is controlled by a hybrid ventilation manager. Add system node mass flow rates shows that the Zone3FanCoilAirInletNode (zone exhaust node) is always 0.563, even when the Zone3FanCoilAirOutletNode (zone supply node) flow is reduced by t

[2017-09-11 21:31] mjwitte commented on #6306
Just noticed that a fix is in place for the fan coil over in #5771

[2017-09-12 21:32] mjwitte opened #6307 "Airloop with zero design heating load crashes in AirLoopComponentLoadSummary"
Issue overview
--------------
Stumbled onto this while testing defect files for #6173.  Both VAV airloops in this file have zero design heating load, and they crash [here](https://github.com/NREL/EnergyPlus/blob/91933e29e35a5e085d8e9ddfe8a7d9ba21939623/src/EnergyPlus/OutputReportTabular.cc#L11812) because `heatDesSelected` is zero.  Looks like the same problem would occur a few lines above if a lo

[2017-09-13 01:42] mjwitte opened #6309 "OA control type crash"
Issue overview
--------------
Testing new features from #6223 and #6252.  Running the defect file using Chicago weather with debug version, the program was crashed on line 2908 in MixedAir.cc.
The index of cOAFlowMethodTypes is 9, while the cOAFlowMethodTypes is sized to 6.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of Ener

[2017-09-13 15:36] mjwitte commented on #6304
Closed via #6305

[2017-09-13 15:36] #6304 closed, assigned to Myoldmopar

[2017-09-13 16:24] mjwitte commented on #4246
Closed via #6302

[2017-09-13 16:24] #4246 closed

[2017-09-14 20:13] mjwitte opened #6313 "Fault model coil fouling for hot water heating coil does not appear to be working"
Issue overview
--------------
User file has a FaultModel:Fouling:Coil attached to a Coil:Heating:Water.  The coil output, water flow and all other results are identical with and without the fault model.  User reports that it also has no impact on cooling coils.

Another ticket complains about the cooling coil, with test file.

### Details
Some additional details for this issue (if relevant):
 - Pl

[2017-09-14 21:15] mjwitte commented on #5603
- [ ] I/O Ref descriptions for VRF Heat Pump Heating Electric Power (and Consumption) incorrectly state that crankcase heater and/or defrost are included in these amounts.  The power for those are reported separately.  VRF Heat Pump Heating Electric Power only includes the compressor and outdoor fan energy.  From helpdesk ticket 12275.

- ***addressed in issue #5603 (modified as suggested and also

[2017-09-15 19:08] mjwitte opened #6315 "Improper use of Construct.TransDiff in SolarShading can cause some windows to use wall heat transfer"
Issue overview
--------------
As noted in the [SolarShading::CalcInteriorSolarDistribution](https://github.com/NREL/EnergyPlus/blob/65ad8b6d9df6c59139aa11587620bb34ade58871/src/EnergyPlus/SolarShading.cc#L5819-L5824)

[code]

This was fixed for BSDF windows in #6245 but not for other window types yet, per @vidanovic [comment](https://github.com/NREL/EnergyPlus/pull/6245/files#r138999798).

### Det

[2017-09-16 06:00] RKStrand commented on #2996
Lots of changes made to this section to correct the issues. There were a lot of problems here--equations that were not correct, typos, bad formatting, etc.  Documentation looks a lot better and the errors have now been corrected.  All of the equations are now identical to the source code.

[2017-09-18 17:30] mjwitte opened #6320 "Some _ExternalInterface-* test files not transitioned properly for new field in ZoneHVAC:IdealLoadAirSystem"
Issue overview
--------------
While looking for an example file that uses the new ideal loads "System Inlet Air Node Name", found this in `_ExternalInterface-actuator.idf` and ` _ExternalInterface-variable.idf`
[code]
Apparently this file doesn't get run on CI.  All these field values starting with 50 need to shift down. There are three ideal loads objects like this.  Not sure if this file has any

[2017-09-18 17:37] rraustad commented on #6320
I have my test file(s) that I can add to the example files.
5ZoneAirCooled_IdealLoadsAirSystems_2ReturnPlenums

[2017-09-18 18:20] mjwitte opened #6321 "RoomAirModelManager::CheckEquipName function possible issues"
Issue overview
--------------
For #6272, need to eliminate use of ZoneEquipConfig.ReturnAirNode and search through all possible return nodes.  Posting this issue now, but I will be working in this code, so any changes here should wait at least until #6272 is complete and merged.

Looking at [this function](https://github.com/NREL/EnergyPlus/blob/404d30d66fdb6101627578132a274c648a2ffeee/src/EnergyP

[2017-09-18 18:48] mjwitte commented on #6321
@lgu1234 Hmm, all the supply nodes for air terminals use Alphas( 1 ) which looks incorrect.

[2017-09-18 21:36] mjwitte opened #6322 "Consolidate ZoneEquipmentManager::CalcZoneLeavingConditions and RoomAirModelUserTempPattern::SetSurfHBDataForTempDistModel"
Issue overview
--------------
After #6272 drops in (and likely after v8.8 release) consolidate `ZoneEquipmentManager::CalcZoneLeavingConditions` and `RoomAirModelUserTempPattern::SetSurfHBDataForTempDistModel` to use a common function for calculating the return node temp(s) for a given zone.  Currently RoomAirModelUserTempPattern::SetSurfHBDataForTempDistModel has a [block of code taken originally

[2017-09-19 00:13] mjwitte commented on #5672
Closed via #6295

[2017-09-19 00:13] #5672 closed, assigned to JasonGlazer

[2017-09-19 00:13] mjwitte commented on #5559
Closed via #5672

[2017-09-19 00:13] #5559 closed, assigned to JasonGlazer

[2017-09-19 12:37] Myoldmopar commented on #3625
Closed via #6318

[2017-09-19 12:37] #3625 closed

[2017-09-19 12:41] Myoldmopar commented on #6144
This is only partially addressed via the merge of #6311 right?

[2017-09-19 12:46] JasonGlazer commented on #6144
Correct. The rest will be addressed after the 8.8 release. Please don't close this issue.

[2017-09-19 14:01] Myoldmopar commented on #6106
Closed via #6303

[2017-09-19 14:01] #6106 closed, assigned to JasonGlazer

[2017-09-19 14:02] lgu1234 commented on #6321
@mjwitte You are right. Most supply node names of air terminal objects are Alphas( 3 ). Some use 4, 5 and 9. I will wait until #6272 is merged.

[2017-09-19 14:27] mjwitte commented on #6321
@lgu1234 For the zone equipment, I noticed that there are already a set of functions to get the various nodes, e.g. `FanCoilUnits::GetFanCoilZoneInletAirNode`.  They're used by SystemReports::ReportMaxVentilationLoad, so there's a full list of them [here](https://github.com/NREL/EnergyPlus/blob/8dc1d02c8854097f8fe255435560a98d76365b2d/src/EnergyPlus/SystemReports.cc#L3941-L3971).  Of course, this

[2017-09-19 14:34] Myoldmopar commented on #2996
Closed via #6317

[2017-09-19 14:34] #2996 closed

[2017-09-19 16:47] Myoldmopar commented on #6146
Closed via #6286

[2017-09-19 16:47] #6146 closed, assigned to nobody

[2017-09-19 17:50] Myoldmopar commented on #6148
Closed via #6197

[2017-09-19 17:50] #6148 closed, assigned to rraustad

[2017-09-19 17:57] mitchute opened #6323 "Cooling and Heating Simultaneous Operation in VSHeatPumpWaterToAirWithRHControl.idf Causes Severe Error"
From issue #6316

Heating loads don't converge after 40 days due to the VS coils operating at the same time when dehumidification is needed.

### Details
Some additional details for this issue (if relevant):
 - Platform: Windows 7 SP2
 - Version of EnergyPlus: Pre 8.8. 0c736af1ca11d92f9d639de67236f3c6051eecfb

### Checklist
Add to this list or remove from it as applicable.  This is a simple templa

[2017-09-19 17:59] mitchute opened #6324 "Autosized Coil in OutdoorAirUnit.idf Fails to Converge on UA"
From issue #6316

This file has two Coil:Cooling:Water objects; one fully autosized, the other with user defined numerical inputs. The autosized coil fails to converge on a UA value. I copied the numerical inputs over to the autosized coil and the severe error went away. This looks like there may need to be some investigation into what could be going wrong with autosizing.

### Details
Some additi

[2017-09-19 18:24] mitchute opened #6325 "Create CI test to report a failure on any example file with a severe in the error file"
See issue #6316

Some IDF files on develop have severe errors. Suggest adding a CI test to catch any other severe errors.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as ap

[2017-09-19 18:25] Myoldmopar commented on #6271
Closed via #6316

[2017-09-19 18:25] #6271 closed, assigned to mitchute

[2017-09-20 03:40] mjwitte opened #6327 "VAV design minimum cooling air flow fraction > 1.0 when system adjusts zone flows"
Issue overview
--------------
- [x] Defect file for #6218 shows new warnings.  Not sure if this is the result of #6248 or #6140 .  Should this warning even be happening.  And if so, do fractions >1.0 make any sense?  And in any case, the units are wrong.
[code]
Pretty sure this came is as a result of #6140.

Preliminary look at this says it's because system sizing is using ventilation requirement

[2017-09-20 13:11] JasonGlazer opened #6328 "Replace strings in SetupOutputVariable with enumerations when possible"
Refactor the SetUpOutputVariable calls, to replace the strings that are acting as enumerations with actual C++ enumerations.

[code]

Which includes the IndexTypeKey and VariableTypeKey and possibly ReportFreq, ResourceTypeKey, EndUseKey, GroupKey.

See #6157 for related refactoring effort that replaced the string used for units in SetupOutputVariable

### Checklist
Add to this list or remove from

[2017-09-20 14:31] mjwitte commented on #6320
@rraustad Will you be able to address at least the broken  files in the next day or so?

[2017-09-20 14:32] mjwitte commented on #6307
@JasonGlazer Would you be able to look at this in the next day or so?

[2017-09-20 14:36] Myoldmopar commented on #5768
Should this be closed at some point?  #5771 fixes it for some components.

[2017-09-20 14:37] rraustad commented on #6320
I'll have this ready for a review tomorrow or today if I can get to it.

[2017-09-20 14:44] rraustad commented on #5768
I think we should repeat the test for inlet/outlet flow rate again and see which files fail. Then create a new issue for the remaining equipment types. @nealkruis which branch had the fan/pump inlet/outlet flow mismatch code? I can't recall where that went. I guess that branch could be updated and go from there?

[2017-09-20 15:12] JasonGlazer commented on #6307
Sure

[2017-09-20 15:20] rraustad commented on #6320
How are the ExamplefFiles and ExampleFiles-ObjectsLink html generated? or where are they?

[2017-09-20 15:25] Myoldmopar commented on #6320
They are automatically generated.

[2017-09-20 15:26] Myoldmopar commented on #6320
https://github.com/NREL/EnergyPlus/blob/develop/doc/tools/example_file_summary.py

[2017-09-20 16:53] mjwitte opened #6332 "AirTerminal:SingleDuct:Mixer leaving air conditions invalid when zone equip flow < primary flow for InletSide"
Issue overview
--------------
DOAToWaterToAirHPInlet test file fails in branch #6272 with a negative density during warmup because the Space2-1 mixer outlet node temperature is -279C.  This is happening because the primary air mass flow rate is greater than the mixed air mass flow rate (entering the heat pump), so the mixed outlet enthalpy and humidity calculations are bogus here (more mass flow i

[2017-09-20 16:55] mjwitte commented on #6173
Closed via #6177

[2017-09-20 16:55] #6173 closed, assigned to lgu1234

[2017-09-20 17:10] mjwitte commented on #6320
@tsnouidui Would you be able to test the external interface files on this branch, please?

[2017-09-20 17:41] tsnouidui commented on #6320
Sure I can do that. Would the test be to compile E+ on that branch and run the BCVTB examples with the transitioned ExternalInterface-actuator.idf, and _ExternalInterface-variable.idf located in https://github.com/NREL/EnergyPlus/tree/%236320-Some-_ExternalInterface--test-files-not-transitioned-properly-for-new-field-in-ZoneHVACIdealLoadAirSystem/testfiles?

[2017-09-20 17:47] mjwitte commented on #6320
Yes. Thanks.

[2017-09-20 20:46] tsnouidui commented on #6320
I can't for whatever reason not switch to that branch on Ubuntu (Linux). I tested it on Windows with `Git for Windows`.

When I do

`git checkout #6320-Some-_ExternalInterface--test-files-not-transitioned-properly-for-new-field-in-ZoneHVACIdealLoadAirSystem`

and then

`git branch` to check the branch I am on, I get that I am still on `develop`.

If I try to switch to another branch such as `updat

[2017-09-20 20:53] Myoldmopar commented on #6320
Put quotes around the entire branch name.  The octothorpe # is a comment symbol in bash.

[2017-09-20 20:59] tsnouidui commented on #6320
Thanks. That works.
Maybe it was discussed but why don't we let name of branches start with issueXXX where XXX is the number of the issue associated with the branch?

[2017-09-20 21:03] Myoldmopar commented on #6320
- Some branches aren't associated with issues.
- We give the developers creative license to name their branches in interesting ways.

:laughing:

[2017-09-20 22:11] tsnouidui commented on #6320
I see
:laughing:

[2017-09-21 00:28] energysims opened #6336 "VRF with Fan:systemModel Runs When Fan:OnOff Wouldn't have run"
I have a ZoneHVAC:TerminalUnit:VariableRefrigerantFlow object with 24/7 availability and fan mode specified as 0 so the fan should cycle on as need and otherwise be on.  The terminal fans behave the same with Fan:systemmodel and Fan:onoff except during hours where there is no load in which case Fan:onoff turns off and fan:systemmodel turns full on and runs that way until there is an hour with load

[2017-09-21 03:06] mjwitte opened #6337 "Suspect numbers in Airloop and Facility component loads reports"
Issue overview
--------------
Using RefBldgFullServiceRestaurantNew2004_Chicago with     ZoneComponentLoadSummary, AirLoopComponentLoadSummary, and FacilityComponentLoadSummary.  Comparing the zone, system and facility peak load components, something doesn't add up.

For example, both zones, both airloops, and the facility all report the same time of cooling peak as 07/21 06:00 but the reported ou

[2017-09-21 13:28] mjwitte commented on #6309
Closed via #6329

[2017-09-21 13:28] #6309 closed, assigned to lgu1234

[2017-09-21 14:29] rraustad commented on #6301
Apparent adjustment to outlet air flow after inlet node air flow is set.

![vrf_fluidtctrl_flowimbalance](https://user-images.githubusercontent.com/5778156/30701173-9c6499d0-9eb7-11e7-9b4c-cdd625a0945f.png)

[2017-09-21 17:14] rraustad commented on #6301
It looks like it happens here where the next Te/Tc is calculated for the next time step. This routine sets
the air flow rate again for some reason. I don't know enough about the model to make an educated guess. @rongpengzhang can you take a look at this?

![vrf_fluidtctrl_flowimbalancecode](https://user-images.githubusercontent.com/5778156/30709038-db70e022-9ece-11e7-86f1-084ed7853e56.png)

[2017-09-21 17:29] rraustad commented on #6301
@rongpengzhang do you only need to calculate Te/Tc on the first pass through for each time step? Would calling CalcVRFIUTeTc_FluidTCtrl only when FirstHVACIteration = true be OK? The next time through the TUs would respond differently and cause Te/Tc to change again, but I see nothing in code that forces model iterations until Te/Tc converges? So I don't know what to do here.

[2017-09-21 22:36] mjwitte commented on #6175
@EnergyArchmage @rraustad Looked at this a little today.  Tried moving `ManageSetPoints` inside the iteration loop in SimHVAC.  That helped a little to bring the airloop outlet temperature closer to setpoint, but things still bounced around and the iteration counts went way up.  Then I took the defect file and moved the coil controller sensor node from the coil outlet to the airloop outlet (simply

[2017-09-22 02:32] Myoldmopar commented on #6307
Closed via #6334

[2017-09-22 02:32] #6307 closed, assigned to nobody

[2017-09-22 02:34] Myoldmopar commented on #6320
Addressed via #6331

[2017-09-22 02:34] #6320 closed, assigned to nobody

[2017-09-22 17:06] rraustad commented on #6336
@EnergyArchmage this user file highlights a problem with the system fan. When the VRF model determines that the system is off, and sets inlet air mass flow rate = 0 and PLR = 0, when the system fan is called it doesn't result in 0 power.

Basically one of these returns where PLR = 0 and VRF TU inlet mass flow = 0.

Function ControlVRF at line 6063:

    // do nothing else if TU is scheduled off

[2017-09-22 18:05] mjwitte opened #6340 "Questions about DesCoolOAFlowFrac calculation in SizeFanCoilUnit"
Issue overview
--------------
@rraustad Noticed this line in FanCoilUnits::SizeFanCoilUnit while working on other sizing changes:

	FinalZoneSizing( CurZoneEqNum ).DesCoolOAFlowFrac = min( FanCoil( FanCoilNum ).OutAirVolFlow / FinalZoneSizing( CurZoneEqNum ).DesCoolMassFlow, 1.0 );

1.  Dividing a volume flow by a mass flow.
2.  Should this really be touching FinalZoneSizing? It could alter things

[2017-09-22 19:58] Myoldmopar commented on #6332
Closed via #6333

[2017-09-22 19:58] #6332 closed, assigned to nobody

[2017-09-22 20:33] nealkruis commented on #5768
@rraustad Here is my [initial commit](https://github.com/NREL/EnergyPlus/commit/3d49396181277ccbf3c407f9a48526c7da34548b). It looks like you took over that branch and turned it into PR #5723.

[2017-09-22 23:04] rraustad commented on #6336
I changed this line in CalcVRF and the results look good. It's just that I'm not sure if this is the correct fix or not.

From this:

    HVACFan::fanObjs[ VRFTU( VRFTUNum ).FanIndex ]->simulate( 1.0, ZoneCompTurnFansOn, ZoneCompTurnFansOff,_ );

to this:

    HVACFan::fanObjs[ VRFTU( VRFTUNum ).FanIndex ]->simulate( PartLoadRatio, ZoneCompTurnFansOn, ZoneCompTurnFansOff,_ );

Before and after res

[2017-09-23 03:40] Myoldmopar commented on #6336
Closed via #6342

[2017-09-23 03:40] #6336 closed, assigned to nobody

[2017-09-23 03:52] #6167 closed, assigned to tsnouidui

[2017-09-23 17:37] EnergyArchmage commented on #6175
Yeah, the lag in the mixed air  SPM is probably a bigger deal for this case (high fan heat, draw though, no heating coil to fight with).  The coil  controller is more integrated into the calculations and can handle it better than mixed air SPM.
 Maybe the warning should be reworded to have a exception for draw-thru, high-pressure fans, cooling only AHU.

[2017-09-24 09:54] sriraj-gokarakonda opened #6344 "AirflowNetwork model error while Wind Pressure Coefficient Type is set to "SurfaceAverageCalculation""
I am encountering the following warning message while modelling AirflowNetwork in EnergyPlus:

** Warning ** GetAirflowNetworkInput: SurfaceAverageCalculation is entered for field = Wind Pressure Coefficient Type, but no roof surface is defined using an AirflowNetwork:MultiZone:Surface object.
** ~~~ ** Reconsider if this is your modeling intent. Simulation continues.
** Warning ** GetAirflowNetwo

[2017-09-25 14:35] mjwitte opened #6345 "HVACDiagram fails when there is more than one airloop serving the same zone"
Issue overview
--------------
See example file 5ZoneAirCooledWithDOASAirLoop.idf, and House-2FurnaceAC-UniformLoad.idf for a different type of failure.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v8.8.0
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guid

[2017-09-26 14:24] mjwitte opened #6347 "Generator:FuelCell:ExhaustGasToWaterHeatExchanger on plant equipment list without load center inputs will crash without error"
Issue overview
--------------
User file has Generator:FuelCell:ExhaustGasToWaterHeatExchanger in a plant equipment list, but does not have any objects for ElectricLoadCenter:Generators or ElectricLoadCenter:Distribution.  Without these, the generator hasn't been initialized when `SimFuelCellPlantHeatRecovery` is called and CWLoopNum is still zero, because InitFuelCellGenerators didn't execute.

##

[2017-09-26 14:31] lgu1234 commented on #6344
@sriraj-gokarakonda I tested your input file using Ver. 8.8. The warning message shows the correct number of exterior surfaces shown below:

Program Version,EnergyPlus, Version 8.8.0-9148e5cf10, YMD=2017.09.26 10:27,IDD_Version 8.8.0
   ** Warning ** Version: in IDF="8.7" not the same as expected="8.8"
   ** Warning ** GetAirflowNetworkInput: SurfaceAverageCalculation is entered for field = Wind P

[2017-09-27 13:09] EnergyArchmage commented on #5298
Another improvement here is that the Controller:OutdoorAir component sizing summary only shows values if the min/mas were autosized.  If the user enters a hard value the table is empty.   The hard value should be reported as well when not autosized

[2017-09-27 19:14] sriraj-gokarakonda commented on #6344
Thank you very much for your reply Dr. Gu. I tried to read the subroutine code, but I could not decipher the process.
There were only two surfaces in the idf file attached under AirflowNetwork:MultiZone:Surface and so the error message shows 2 exterior surface orientations. This leaves me with few more questions:
1. Since AirflowNetwork:MultiZone:Surface required at least 2 surfaces to model air f

[2017-09-27 19:32] jasondegraw commented on #6344
The answers to your questions are: maybe, probably, no, and no.

Two surfaces is "enough" in the sense that your model has more than the minimum number of connections to be a network, but whether it is sufficient is an entirely different matter. If only two surfaces are subject to wind pressure etc. then it might be enough, but as the message says this is a question of modeling intent. Generated e

[2017-09-28 14:47] mjwitte opened #6348 "Furnaces and unitary equipment may not find correct sequenced load when another airloop also serves the control zone"
Issue overview
--------------
Furnaces and unitary equipment are controlled using the sequenced zone loads assigned to the furnace terminal unit in the control zone.  If there is another airloop terminal unit also serving the control zone (v8.8.0 or later) then the furnace will be controlled based on the first air terminal in the zone equipment list.  This could be the wrong one and will cause the

[2017-09-28 14:49] mjwitte commented on #6348
@rraustad @EnergyArchmage This is why the test file I mentioned yesterday with two furnaces serving a single zone appeared to be sharing the load.  @shorowit  FYI.

[2017-09-29 16:35] mjwitte commented on #5997
- [x] From helpdesk ticket 12319, I/O Ref, WaterUse:Equipment, incorrectly references inlet/outlet nodes. This should say if the WaterUse:Equipment is included in a WaterUse:Connections object, blah blah blah.

The heating energy accumulated by the heating rate above, in units of Joules (J). This output
is also added to a meter with End Use Key = WaterSystems, Group Key = Plant. If both of the
nod

[2017-09-29 17:18] mjwitte commented on #6264
Closed via #6272

[2017-09-29 17:18] #6264 closed, assigned to nobody

[2017-09-29 17:18] mjwitte commented on #6273
Closed via #6272

[2017-09-29 17:18] #6273 closed, assigned to nobody

[2017-09-29 17:19] mjwitte commented on #6219
Close via #6272

[2017-09-29 17:19] #6219 closed, assigned to nobody

[2017-09-30 18:12] sriraj-gokarakonda commented on #6344
Thank you very much for further clarifications Jason. Now that the calculation protocol is clear to me, I can verify the model validity and results accordingly.

[2017-10-02 14:12] jasondegraw commented on #6344
Looks like this can be closed.

[2017-10-02 14:12] #6344 closed, assigned to nobody

[2017-10-02 20:10] mjwitte opened #6349 "DesignSpecification:AirTerminalSizing not found with AirTerminal:SingleDuct:Uncontrolled"
Issue overview
--------------
AirTerminal:SingleDuct:Uncontrolled does not find Design Specification Air Terminal Sizing Object Name.

###Workaround
Use a different air terminal type, such as AirTerminal:SingleDuct:VAV:NoReheat with a constant minimum fraction of 1.0.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus

[2017-10-03 18:27] MatthewSteen opened #6350 "Zone Summary does not report Lighting, People, and Plug and Process loads if zone is not part of floor area"
Issue overview
--------------
I use the `Zone Summary` table for QAQC to ensure that baseline and proposed models are the same/different where expected.

During QAQC of LEED models I noticed that an unconditioned zone incorrectly had a Lights object assigned to it in the baseline model, which the proposed model did not have. In this case the Zone Summary tables showed blanks for the Lighting, Peop

[2017-10-03 20:22] rraustad commented on #5155
Not sure if what I see in another file is the same issue as this or not so am including here. If I find a different solution I'll split these out.
Added defect file 5515-PTACvsAIRLOOP-Pri.idf.

I find that the special days are not accounted for correctly. For example, if New Years day, MLK, and presidents day are included in the input and the simulation starts on a Sunday, then all these should fa

[2017-10-04 02:16] jessecambon opened #6351 "Corrupted Weather Data? - Carrol, Iowa"
Issue overview
--------------
TLDR: The EnergyPlus (.EPW) weather file for Carrol, Iowa has a maximum temperature of 138 F. This is obviously not correct, but it is actually backed up by weather underground data (in other words they are using the same source). I'm curious to know what organization(s) maintain the weather files and what data quality checks are typically performed.
-----------------

[2017-10-05 12:07] jmarrec opened #6352 "IDFVersionUpdater app is missing in 8.8.0 on macOS"
Issue overview
--------------
On macOS, in the 8.8.0 installed (dmg) there is no `IDFVersionUpdater.app`.

In 8.7.0, I have `/Applications/EnergyPlus-8-7-0/PreProcess/IDFVersionUpdater/IDFVersionUpdater.app`

In 8.8.0, I **don't** have `/Applications/EnergyPlus-8-8-0/PreProcess/IDFVersionUpdater/IDFVersionUpdater.app`

I know how to run it by command line, so not a massive problem for me, but it's

[2017-10-05 18:41] asparke2 opened #6353 "Evap. condenser sizing output for Coil:Cooling:DX:SingleSpeed and TwoSpeed wrong labels"
Issue overview
--------------
The evaporative condenser outputs for Coil:Cooling:DX:SingleSpeed and Coil:Cooling:DX:TwoSpeed in the Initialization Summary -> Component Sizing Information have the wrong labels.

For the single speed coil below, per the I/O ref:
[code]

However, in the report:
[code]

![coilcoolingdxsinglespeedoutputerror](https://user-images.githubusercontent.com/2009290/31245760-9

[2017-10-05 21:03] brianlball commented on #4815
@Myoldmopar any updates on this issue?

[2017-10-06 15:00] Myoldmopar commented on #6352
Typo in your description: In **8.8.0** I **don't** have ...

Anyway, I can't figure out why this wouldn't have been included.  We haven't changed the [line of code](https://github.com/NREL/EnergyPlus/blame/7c3bbe48305fc421887df2fd5fb75cfb72e4075b/cmake/Install.cmake#L238) that installs that package in over a year.  I'll have to investigate.  In the meantime, a (slightly annoying) workaround could

[2017-10-07 04:09] jfirrantello opened #6357 "Equation typo in documentation for "Chilled-Water-Based Air Cooling Coil""
Issue overview
--------------
The equation is _16.2.4_ in _Engineering Reference_ v8.8.0, under _16.2.1.4 Design Block Calculations_. The denominator in log mean enthalpy difference appears to be incorrect. It is listed as:

log((hair,in − hw,sat,out) - (hair,out − hw,sat,in))

where I believe it is supposed to be:

log((hair,in − hw,sat,out) / (hair,out − hw,sat,in))

### Details
 - EnergyPlus v8

[2017-10-09 14:11] jmarrec commented on #5160
I've just ran into this issue today with v8.8.0.

[code]

I am getting also warnings about   `CalculateZoneVolume: The Zone=XXX is not fully enclosed. To be fully enclosed, each edge of a surface must also be an edge on one other surface.` and a view other geometric errors. Not sure what I can do here.

[2017-10-09 14:25] JasonGlazer commented on #5160
The CalculateZoneVolume warning you are getting is new and is probably unrelated. All it is saying is that some gaps exist in the model for the surfaces used to define that zone. There are some fallback methods of calculating the zone volume which usually work fine. The warning message should tell you which one it is using and you can decide if that is sufficient.

[2017-10-09 14:36] jmarrec commented on #5160
There's still a NaN propagation that is getting my model to fatal at the `DualSetpointWithDeadBand` step though.

[2017-10-09 14:43] JasonGlazer commented on #5160
Could you email me your file and I will run it in the debugger and try to see what is going on.

[2017-10-12 22:56] aaron-boranian opened #6361 "Zone multiplier doesn't impact Output:Variable value for lights and equipment"
Issue overview
--------------
In a test, I modified the *5ZoneAirCooled.idf* example file to apply a multiplier of 5 to the **SPACE1-1** `Zone` object, then renamed the model to *5ZoneAirCooled-test.idf*. After running a simulation and comparing results across the generated ESOs for both IDFs, **InteriorLights:Electricity** and **InteriorEquipment:Electricity** output meters change as expected but

[2017-10-13 02:41] mjwitte commented on #6361
@aaron-boranian This is the way it's designed to be.  Zone-level outputs should be unmultiplied - they are per instance of the zone.

[2017-10-13 02:41] #6361 closed, assigned to nobody

[2017-10-13 12:55] JasonGlazer commented on #5997
- [x] In the AuxiliaryPrograms.pdf documentation, the section on HVAC Diagram is 7.8, which is a continuation of the section on Input Macros (EP-Macro). It should really be its own chapter just like all the other utility programs. It should probably be Chapter 8 and the rest of the chapters renumbered.

Addressed in Pull Request [160251551_Issue#5997](https://github.com/NREL/EnergyPlus/pull/6946)

[2017-10-13 18:01] JasonGlazer commented on #5160
I had to add some checks to the code and file still had fatal errors, see

https://github.com/NREL/EnergyPlus/tree/FixNaNrelatedTo5160

Not sure if they really should stay in the code or not.

[2017-10-13 20:48] mjwitte commented on #5997
- [x] Documentation should be clarified regarding the ecoroof model.  Both the I/O Ref and Engineering Ref mention using the eco model with conduction finite difference is "under development".  But that isn't true.  Running econroof with CondFD produces this warning:
   ** Warning ** CalcEcoRoof: EcoRoof simulation but HeatBalanceAlgorithm is not ConductionTransferFunction(CTF). Has not been teste

[2017-10-16 13:05] JasonGlazer opened #6362 "Update LCC to use 2017 NIST supplement"
Add life-cycle data set file for 2016 NIST 135 supplement

https://energy.gov/eere/femp/building-life-cycle-cost-programs

[2017-10-16 15:03] nealkruis commented on #5160
@jmarrec are you using Kiva in this model? I recently came across a similar problem for a small subset of basement cases.

[2017-10-17 07:39] jmarrec commented on #5160
@nealkruis I am not using Kiva. (But I have a GroundHX:Surface object and Site:GroundTemp:Shallow)

[2017-10-17 07:49] FarhangTahmasebi commented on #5949
It seemed to me this is a small bug that can be solved easily. I hope it won't be postponed from one version to another. Getting incident solar radiation on a (shading) surface is a very basic query that the users expect from a reliable simulation tool like EnergyPlus.

[2017-10-17 14:52] nealkruis commented on #5160
@jmarrec Ok. Those objects shouldn't cause the same problem I was seeing. In my cases, the NAN loads came from surface temperatures that were not calculated properly.

@JasonGlazer have you made any progress on this? Do you have the IDF/EPW files to re-create the problem? I'd be interested to see if there is a more meaningful place where we can raise an error for these cases.

[2017-10-17 15:02] JasonGlazer commented on #5160
No new progress since the fixes I provided a few days ago. The first NAN is showing up in WeatherManager.

[2017-10-19 18:56] ghost opened #6364 "Precompiled binaries are not digitally signed"
Issue overview
--------------
Please consider incorporating digitally signing precompiled binaries to your build/release process. This will allow validation of the integrity of the binaries. (That code has not been altered or corrupted since it was compiled and signed. ) It will also simplify/facilitate automated application whitelisting in restricted environments.

### Details
Some additional det

[2017-10-20 19:03] mjwitte opened #6365 "Curve:ExponentialSkewNormal Maximum Curve Output is always ignored"
Issue overview
--------------
The Maximum Curve Output field in Curve:ExponentialSkewNormal is always ignored - treated as if the field is blank.

The problem is [here in CurveManager::GetCurveInputData](https://github.com/NREL/EnergyPlus/blob/7c3bbe48305fc421887df2fd5fb75cfb72e4075b/src/EnergyPlus/CurveManager.cc#L1505-L1507).  The 9s should be 8s.  Because this object does not have a field 9, In

[2017-10-20 19:22] mjwitte opened #6366 "Environment variable FullAnnualRun should ignore extra RunPeriod objects"
Issue overview
--------------
When environment variable FullAnnualRun = yes, the first RunPeriod object is forced to be a full year from Jan 1 to Dec 31, or if there is no RunPeriod object, one is created.

But if the incoming file has more than one RunPeriod object, the additional run periods are simulated.  These should be ignored so that FullAnnualRun always produces a single year simulation.

[2017-10-21 12:24] avicarmeli opened #6367 "Water Source Summary incorrect values"
Issue overview
--------------
When implementing rain collection in the model, reported value of **Water Supplied by Utility** appears to be greater than the total end use water although no overflow occurred.

example output:

![image](https://user-images.githubusercontent.com/32562196/31842452-df6517c2-b5f6-11e7-8aef-f8df9301149f.png)

I think that in OutputReportTabular.cc  variable gatherMains s

[2017-10-21 16:40] lymereJ commented on #5846
@mjwitte, I am working on a model where I ran into the issue you describe in 2., I have been trying to follow the comments in the pull request to see if it has been fixed in EnergyPlus 8.8.0. It appears that it hasn't, is that correct?

In my model, if I leave the "Minimum Outdoor Air Flow Rate" of the Controller:OutdoorAir to autosize, the system is always providing the OA flow sized using the VR

[2017-10-23 03:07] MatthewSteen opened #6368 "Annual Cost table from the Economics Results Summary Report does not report the total utility cost"
Issue overview
--------------
The Annual Cost table from the Economics Results Summary Report does not report the total utility cost if the model contains more than one UtilityCost:Tariff for a single meter.

![image](https://user-images.githubusercontent.com/8397034/31870666-6262ff6a-b76c-11e7-9314-279ef335204c.png)

---

### Details
Some additional details for this issue (if relevant):
 - Platfo

[2017-10-23 14:36] mjwitte opened #6369 "Add new fields to fan-powered induction units to specify secondary and primary air flow as a fraction of max air flow"
Issue overview
--------------
From [#4989](https://github.com/NREL/EnergyPlus/issues/4989#issuecomment-227542451)

Both types of PIU terminal units have two fields for air flow rate in [m3/s], plus a field for minimum primary fraction:
[code]

Some users would rather specify Maximum Secondary Air Flow Rate as a fraction of the primary flow rate for Parallel PIUs and Maximum Primary Air Flow Rate v

[2017-10-23 14:37] mjwitte commented on #6152
Closed via #6285

[2017-10-23 14:37] #6152 closed, assigned to nobody

[2017-10-23 16:53] mjwitte opened #6370 "Crash in AvailabilityManager:NightCycle when used with zone equipment and there is no primary air system"
Issue overview
--------------
This change has a problem when there is no primary air system and only ZoneHVAC equipment with night cycle manager. Need to add " && allocated( DataAirLoop::PriAirSysAvailMgr ) to the logic here to avoid hard crash (or some other test).

Also, this should probably be expanded to reset the ZoneComp....Start/Stop times as well during warmup.

### Details
Some additional

[2017-10-23 18:09] mjwitte opened #6371 "User file fatals out in SolveForWindowTemperatures with NANs showing in the error message"
Issue overview
--------------
[code]
The NANs probably originate somewhere else but cause the window calc to trip.  ReportDuringWarmup output doesn't reveal the source of the problem.

### Details
Some additional details for this issue (if relevant):
 - Platform Win64
 - Version of EnergyPlus v8.8.0
 - Helpdesk ticket number 11194.

### Checklist
Add to this list or remove from it as applicable.

[2017-10-24 05:27] avicarmeli commented on #6367
See further discussion on that issue at [unmethours ](https://unmethours.com/question/27232/water-source-summary-anomaly/?answer=27358#post-id-27358).

[2017-10-24 18:47] RKStrand commented on #3469
@mjwitte Now that the 8.8 release is behind us, do you have any thoughts on the above post?  Do we need to convert this into a code and documentation change?  I'm looking for things to knock out in the short term and this is a good candidate.  Thanks!

[2017-10-25 01:27] mjwitte opened #6373 "Invalid error messages with EMS @CurveValue when used with Table:TwoIndependentVariables"
Issue overview
--------------
User file has EMS program using the `@CurveValue` function with a Table:TwoIndependentVariables object.
[code]
This results in error messages.
[code]

The EMS Application Guide says that `@CurveValue` should always be called with six arguments, using a dummy variable for the excess arguments.  Doing this resulted in the same error messages.

Example file EMSUserDefine

[2017-10-25 16:33] mjwitte commented on #3469
@RKStrand Not sure if emissivity should be included in the SurfaceWeighted and AngleFactor methods.  My first inclination would be yes for AngleFactor because the view factors are geometry-based and they are independent of materials.  but the I/O Ref description for ComfortViewFactorAngles is clear that the "Angle Factor" inputs are the weighting that is used and they must add up to 1.0.  So, that

[2017-10-25 16:51] mjwitte commented on #6202
This was closed via #6239

[2017-10-25 16:51] #6202 closed, assigned to RKStrand

[2017-10-25 22:15] mjwitte opened #6375 "Improve error message when SetpointManager:SingleZone:Reheat does not find matching zone inlet node"
Issue overview
--------------
User file which ran fine in v8.7 fails in v8.8 with this error:
[code]
This error check is done in [SetpointManager::InitSetpointManagers](https://github.com/NREL/EnergyPlus/blob/7c3bbe48305fc421887df2fd5fb75cfb72e4075b/src/EnergyPlus/SetPointManager.cc#L3396-L3406).  It was changed in v8.8 as part of #6272 allowing for multiple airloops in a zone.

The problem with t

[2017-10-26 13:35] rraustad opened #6376 "Coil:Cooling:DX:VariableSpeed (and heating) shows plant heat rejection for air-cooled equipment"
Issue overview
--------------
The DX variable speed cooling and heating coils report heat rejection to the plant when air-cooled equipment is used.

    // CurrentModuleObject = "Coil:Cooling:DX:VariableSpeed"
    SetupOutputVariable( "Cooling Coil Source Side Heat Transfer Energy", OutputProcessor::Unit::J, VarSpeedCoil( DXCoilNum ).EnergySource, "System", "Summed", VarSpeedCoil( DXCoilNum ).Name

[2017-10-26 16:19] MatthewSteen commented on #5997
- [x] Typo in the [Life-Cycle Cost Computations](https://github.com/NREL/EnergyPlus/blob/develop/doc/engineering-reference/src/economics-calculations/life-cycle-cost-computations.tex#L34) section of the ER.

should be:

---

https://github.com/NREL/EnergyPlus/issues/5997#ref-commit-7724958
  Included Matthew's fix here [160251551_Issue#5997](https://github.com/NREL/EnergyPlus/pull/6946).

[2017-10-26 18:35] MatthewSteen opened #6377 "update Sandia PV dataset"
Issue overview
--------------
The `SandiaPVdata.idf` has not been updated since 2004 as far as I can tell, but could be annually similar to the `LCCusePriceEscalationDataSetYYYY.idf`.

The current EnergyPlus dataset includes 128 modules, whereas there are 500+ included in [SAM's Sandia Modules.csv](https://github.com/NREL/SAM/tree/develop/deploy/libraries).

### Details
Some additional details for

[2017-10-26 18:53] JasonGlazer commented on #6337
@larryscheier pointed out some problems using the 5ZoneWarmestVFD.idf file which has five zones and one airloop.

1) In Engineering Checks for both cooling and heating, the values for "Airflow per Total Capacity [m3/s-W]" and "Airflow per Floor Area [m3/s-m2]" can be tiny and the number of digits insufficient to convert to IP units. I suggest increasing the number of significant digits to 8.
   Ai

[2017-10-26 18:56] MatthewSteen opened #6378 "update Solar Collectors dataset"
Issue overview
--------------
The `SolarCollectors.idf` has not been updated since 2007 as far as I can tell, but could be annually similar to the `LCCusePriceEscalationDataSetYYYY.idf`.

The current EnergyPlus dataset includes 169 collectors, which is significantly less than the current database.

* [Solar Rating and Certification Corporation's directory](https://secure.solar-rating.org/Certifica

[2017-10-27 14:20] mitchute opened #6379 "Update EP-Launch and IDF Editor links to acknowledgments doc"
#6359 corrects inconsistencies in the spelling of the acknowledgments doc. EP-Launch and IDF Editor links need to be updated.

Issue overview
--------------
Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to

[2017-10-30 17:16] mjwitte opened #6381 "Bad initial tank temperature in WaterHeater:Mixed"
Issue overview
--------------
User file is using a WaterHeater:Mixed as a chilled water storage tank and the initial file fails with a psychrometric error:
[code]
With some extra output, the source of the problem is the WaterHeater:Mixed, ChilledWaterTank object which reports initial values for Water Heater Tank Temperature of 308570C.  Disconnecting the tank from the basement zone (for heat loss)

[2017-10-31 15:55] lgu1234 opened #6382 "VAV airflow problems with Ideal Loads Zone Equipment"
Issue overview
--------------
#6173 provided warnings when exhaust air fields are not set up correctly for ZoneHVAC:OutdoorAirUnit objects. It does not address exhaust air flow rate of ZoneAirExhaust node for ZoneHVAC:IdealLoadsAirSystem objects.

5952  ### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an in

[2017-11-02 00:19] KaiyuSun opened #6383 "ElectricLoadCenter:Storage:Battery has wrong Surplus Electricity and Net Electricity results in EnergyPlus versions before 8.4 (including 8.4)"
Issue overview
--------------
In EnergyPlus versions before 8.4 (including 8.4), surplus electricity and net electricity has wrong output when ElectricLoadCenter:Storage:Battery is applied. Taking the example file "ShopWithPVandBattery" in version 8.4 as an example, I compared two scenarios: PVandBattery and PVOnly (remove battery part from original model), and found that the surplus electricity o

[2017-11-02 00:44] #6383 closed, assigned to nobody

[2017-11-03 16:40] JasonGlazer opened #6384 "SVG text locations wrong in Chrome and Safari"
The SVG file that is created by HVAC-Diagram includes spaces between the double quote and the coordinate. These do not seem to be parsed correctly with the Chrome browser or the Safari browser and the text ends up in the upper left corner instead of within the boxes.

`
  <text x="   802" y="   313">HEATING SUPPLY SIDE BYPASS</text>
`
When the extra spaces are removed this is fixed.

`
  <text x="

[2017-11-03 17:36] mjwitte commented on #6384
Internet Explorer and Edge both do a good job of rendering the svg diagrams.

[2017-11-09 20:35] RKStrand commented on #3469
@mjwitte Ok, so I went back to the ASHRAE Handbook of Fundamentals, to see what the industry standard says on this.  The angle factor calculation is a simplification of a simplification.  First, the linear version of the equation is a simplification of the equation that is based on fourth order temperatures.  Basically, replace the linear temperature terms with temperature to the fourth.  However,

[2017-11-10 22:49] mjwitte commented on #3469
That's a tough call.  As long as the documentation is clear as to what the angle factors mean, I don't think it matters much if the factors include the emissivity effect or if that's added from the materials.  From a purist perspective, if we want this to be responsive to a material change, then we should modify the function to add the material emissivity to the angle factor. But I'm ok with that

[2017-11-11 13:53] Myoldmopar commented on #6348
Closed via #5952

[2017-11-11 13:53] #6348 closed, assigned to nobody

[2017-11-11 13:53] Myoldmopar commented on #6349
Closed via #5952

[2017-11-11 13:53] #6349 closed, assigned to nobody

[2017-11-13 22:38] mjwitte opened #6391 "Adaptive convection with lights and baseboard heat or high-temp radiant will crash in v8.8"
Issue overview
--------------
User file which ran fine in v8.7 now crashes in v8.8 due to accessing an unallocated array [here in DynamicIntConvSurfaceClassification](https://github.com/NREL/EnergyPlus/blob/1f84213a71d31a2094a639730a04cec4f1eae841/src/EnergyPlus/ConvectionCoefficients.cc#L6520-L6521). `DynamicIntConvSurfaceClassification` gets called when there's a surface using AdaptiveConvection

[2017-11-14 20:05] JasonGlazer opened #6392 "Add to warning of negative zone volume the azimuths and tilts for all surfaces in zone"
When a negative zone volume is detected but the zone is fully enclosed, it is likely that the remaining issue is that not all the surfaces coordinates are in the correct order. To help users diagnose this issue, when a negative zone volume is detected the azimuths, tilts and areas for all the surfaces of the zone should be reported. Perhaps the report should only occur when DisplayExtraWarnings is

[2017-11-17 17:21] mjwitte opened #6394 "Engineering Reference for Operational Faults Modeling for Economizers does not explain how the faults are applied in the OA controller"
Issue overview
--------------
The source code for faults in the OA controller applies only certain fault types to certain economizer types.  This is not explained in the I/O Reference or in the Engineering Reference (which has zero information about exactly how the faults are applied in the OA controller).

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus

[2017-11-20 03:53] RKStrand commented on #5823
@Myoldmopar @mjwitte Creating a pull request for this shortly.  Please check and see if all of your concerns were addressed.  Thanks!

[2017-11-20 15:06] Myoldmopar commented on #4303
OK, since this was completed with the merged #5958, I'll close this and the Pivotal ticket.

[2017-11-20 15:06] #4303 closed

[2017-11-20 16:35] mjwitte opened #6396 "User file with PTHP has negative heating electricity"
Issue overview
--------------
User file with PTHP shows a negative value for heating electricity.  Further investigation shows that DX heating coil ratings show a negative value for low temperature heating capacity:
[code]
This points to the Heating Capacity Function of Temperature Curve as the problem.
[code]
The DX heating coil object (or any coil for that matter) should reject a negative heatin

[2017-11-20 22:26] Myoldmopar commented on #5823
Closed via #6395

[2017-11-20 22:26] #5823 closed, assigned to RKStrand

[2017-11-21 21:21] mitchute opened #6398 "Resolve plant loop temperature warnings caused by recent GLHE enhancements"
PR #6234 is nearly ready to merge, but has caused a few plant loop temperature range warnings on a few files. This is in addition to the loop temperature warnings that already existed on those files. Opening an issue separately here so the issue isn't dropped.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if usi

[2017-11-21 22:29] mjwitte opened #6399 "Crash if OA spec is blank in AirTerminal:SingleDuct:Mixer and there are more Sizing:Zone objects than DesignSpecification:OutdoorAir objects"
Issue overview
--------------
User file which ran in v8.7 crashes now in v8.8.  AirTerminal:SingleDuct:Mixer got a new field in v8.8 for Design Specification Outdoor Air Object Name. If this field is blank, the mixer searches for a matching Sizing:Zone object and uses the OA spec referenced there (if any).  This user file has a single DesignSpecification:OutdoorAir object which is referenced by ma

[2017-11-23 13:16] Myoldmopar opened #6400 "Eigen Warnings"
Issue overview
--------------
Building this morning on Ubuntu 17.10 (GCC 7.2.0), I noticed lots of warnings.  A bunch are directly E+ concerns, but then there are a bunch coming from Eigen.  I found this [bug](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1402) on the Eigen defect tracker where they noted the issue and addressed it.  It shows the fixes will be available in 3.3.5, but the latest re

[2017-11-27 02:22] RKStrand commented on #3706
@mjwitte Well, this is still crashing, but there are no think metal layers in this file.  There are a lot of other errors that will take some time to sort out.  At this point, I'm not sure what specifically is causing the crash.

[2017-11-27 22:31] RKStrand commented on #3469
@mjwitte Proceeding with the changes to both the surface weighted option and the angle factor option.  If we really want the best calculation procedures in EnergyPlus and we know this isn't fully correct, then we should fix it.  Working on this now and will also update docs to reflect these changes.

[2017-11-28 12:14] mjwitte opened #6402 "Zone equipment ON status flag is used by adaptive convection to classifiy zones but the flag is always true"
Issue overview
--------------
This was noticed while diagnosing #6391, adaptive convection crash.  In [ConvectionCoefficients::DynamicIntConvSurfaceClassification](https://github.com/NREL/EnergyPlus/blob/1f84213a71d31a2094a639730a04cec4f1eae841/src/EnergyPlus/ConvectionCoefficients.cc#L6442-L6449) EquipCount is being incremented based on this test for baseboard heat and hi-temp radiant:
[code]
Pro

[2017-11-28 12:28] JasonGlazer commented on #5997
- [x] The CurrencyType object is not shown in the table of contents and is just shown as a subsection to the LifeCycleCost:UseAdjustment object. It should be promoted to show in the table of contents to make it easier for people to find.

- [x] The link to the iso.org page in the CurrencyType documentation is broken and should be replaced.

Addressed in Pull Request [160251551_Issue#5997](https://

[2017-11-28 22:16] Myoldmopar commented on #5884
Addressed via #6397

[2017-11-28 22:16] #5884 closed, assigned to RKStrand

[2017-11-28 23:47] rmcclung opened #6404 "Chiller Evaporator Inlet Temperature not the same as the Chilled Water Inlet Node Temperature"
I have two chilled water loops, one serving the other via a heat exchanger.  One of the loop contains a single branch with the following equipment in series: A EMS plant object, the heat exchanger, a chiller, and I'm using the PlantEquipmentOperation:ComponentSetpoint to control them

The supply side outlet node of the heat exchanger (ChWL 2 HX) is the chilled water inlet node of the chiller (CH2A

[2017-11-29 00:51] mjwitte opened #6405 "Unitary system as both zone equipment and airloop equipment in the same file fails in v8.8"
Issue overview
--------------
Multiple airloop changes in #6248 required some rearranging of HVACUnitarySystem::GetUnitarySystemInputData to separate the input processing for unitary system as zone equipment and air loop equipment.  This solved some issues with internal test files, but some files fail.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system

[2017-12-01 01:00] Myoldmopar commented on #3469
Closed via #6407

[2017-12-01 01:00] #3469 closed

[2017-12-01 01:44] Myoldmopar commented on #6391
Closed via #6401

[2017-12-01 01:44] #6391 closed, assigned to nobody

[2017-12-01 03:11] rraustad commented on #6405
Closed via #6406.

[2017-12-01 03:11] #6405 closed, assigned to nobody

[2017-12-01 15:48] Myoldmopar commented on #6370
Closed via #6410

[2017-12-01 15:48] #6370 closed, assigned to nobody

[2017-12-01 16:53] Myoldmopar opened #6412 "Sometimes Uninitialized Variable"
[code]

[2017-12-01 19:14] Myoldmopar commented on #5778
Addressed via #6330

[2017-12-01 19:14] #5778 closed, assigned to JasonGlazer

[2017-12-02 23:18] mjwitte opened #6413 "Bad primary air system controller index in SolveWaterCoilController"
Issue overview
--------------
Stumbled across this while addressing #6358. In [SimAirServingZone::SolveWaterCoilcontroller](https://github.com/NREL/EnergyPlus/blame/682bda2e1b9b62fa41965ddd84b23eb5b168035f/src/EnergyPlus/SimAirServingZones.cc#L2944) this line trips an array bounds crash,:
[code]
The problem is that `ControllerIndex` is for the entire array of controllers, but `ControlConverged` is

[2017-12-02 23:28] mjwitte commented on #6413
@rraustad This code was added as part of #6197

[2017-12-03 00:22] rraustad commented on #6413
That's what I get for testing with only a single air loop. We should require any changes be tested using multiple "whatever we are changing".

[2017-12-11 16:44] mjwitte commented on #6399
Closed via #6403

[2017-12-11 16:44] #6399 closed, assigned to nobody

[2017-12-11 19:54] mjwitte commented on #5160
@JasonGlazer @jmarrec Since this issue is closed, please open a new issue for the problems seen in v8.8 and comment here or reference this issue there.

[2017-12-15 14:13] Myoldmopar opened #6416 "Wiki Suggestions"
Issue overview
--------------
From a user on the Helpdesk:

- There should be more detail in describing what “source tree” refers to. The instructions, best I can tell, assume source tree means “my clone of the repository.” That’s confusing because the top level of the cloned repository has lots of subdirectories, one of which is “src”, which sure sounds like it would be the source tree. It’s a bi

[2017-12-15 15:05] jasondegraw commented on #6416
I think we need to be careful here, some amount of familiarity with CMake , etc. needs to be assumed. I'm all for clear build instructions, but we shouldn't produce a CMake tutorial.

[2017-12-15 15:07] Myoldmopar commented on #6416
Agreed.  I haven't actually gone back to look at the what all the wiki shows, just saving this as a placeholder.  Putting a tiny example up there with actual directory names that we label the source and build trees is within reason.

[2017-12-18 15:15] jmarrec opened #6418 "Crash when running sim with DualDuct terminals in Debug mode"
Issue overview
--------------

I'm trying to fix an OpenStudio-resources test. I realized that for `AirTerminal:DualDuct:VAV` and `AirTerminal:DualDuct:VAV:OutdoorAir` I don't have the autosized value for "Maximum Air Flow Rate" while I was clearly expecting it given [DualDuct.cc::SizeDualDuct](https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/DualDuct.cc#L1086).

I started running

[2017-12-18 15:37] jmarrec commented on #6418
Fixed in #6419

[2017-12-19 18:15] mjwitte opened #6420 "Solar through multiple partially transmitting shading surfaces is not correct at the receiving surface"
Issue overview
--------------
User file compares the incident solar on the ground floor roof surface for two shading surface configurations - the first hassix surfaces forming a cube above the active zone, and the other has just a single shading surface.
![image](https://user-images.githubusercontent.com/4991075/34165726-ad71a8e0-e4a2-11e7-986d-8565046a9eec.png)
![image](https://user-images.github

[2017-12-28 16:41] mjwitte opened #6422 "Economizer faults do not work because fault objects are processed too late - other fault types may have a similar issue"
Issue overview
--------------
User complained that FaultModel:TemperatureSensorOffset:OutdoorAir has no impact on results.  As explained below, economizer faults stopped working in v8.7.

Tracing this in the debugger reveals that `NumFaultyEconomizer` is zero [here](https://github.com/NREL/EnergyPlus/blob/017868e84f0eb0de7711a942c72aebc273bafcc8/src/EnergyPlus/MixedAir.cc#L1442-L1449) in `MixedAir

[2017-12-28 19:36] md-kennedy opened #6423 "DCV Ignores Distribution Efficiency"

[2017-12-29 16:17] JasonGlazer commented on #5997
- [x] the "Web Resources" section of the Weather Converter Program in Auxiliary Programs should have updated links.

Addressed in Pull Request [160251551_Issue#5997](https://github.com/NREL/EnergyPlus/pull/6946)

[2017-12-29 20:36] #6423 closed, assigned to nobody

[2018-01-03 03:36] MatthewSteen commented on #5997
**Pump:VariableSpeed IO documentation**

- [x] [Field: Design Pump Head](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-pumps.tex#L27)

- [x]  [Field: Motor Efficiency](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-pumps.tex#L35)

**Pump:ConstantSpeed IO documentation**

- [x] [Field: Design Power Consum

[2018-01-03 22:19] macumber opened #6424 "Cannot actuate all ElectricEquipment in a ZoneList with EMS"
Issue overview
--------------
When an ElectricEquipment references a ZoneList object, the object is replicated to each Zone in the ZoneList.  EMS actuators are created for each instance of the ElectricEquipment, each with modified names.  It is not possible to actuate all replicated ElectricEquipment objects corresponding to the original ElectricEquipment in the ZoneList.

https://github.com/NREL/

[2018-01-03 22:19] macumber commented on #6424
@brianlball FYI

[2018-01-03 22:21] macumber commented on #6424
To me, it seems ideal to add an actuator for the original object that would actuate all of the replicated objects.  I have no idea how hard that is.

[2018-01-03 22:46] mjwitte commented on #6424
@macumber That's how ZoneList operates - it creates multiple instances of the load, ElectricEquipment in this case, each with a unique name of <Zone Name> <Equipment Name>.  After that the ZoneList connection is lost.  So, anything that references loads that were initially assigned using a ZoneList needs to reference the new unique names.  This includes, EMS actuators and sensors, output variable

[2018-01-03 22:50] macumber commented on #6424
Thanks @mjwitte it's just a bit goofy for us because when you are working on the input file you don't have these final objects to reference, so you have to have special logic in all of the controllers to auto expand the names based on the naming algorithm, plus the final names might change.  I don't know the right solution, I think that will be up to @brianlball and @kbenne to figure out with you

[2018-01-04 17:50] rraustad commented on #6413
See PR #6414.

[2018-01-05 00:54] md-kennedy opened #6426 "Controller:MechanicalVentilation DCV does not account for Zone Distribution Efficiency"
Issue overview
--------------
Single zone HVAC modeled with unitarysystem with a mechanical ventilation controller set to:
 DCV = Yes
 OA Method = Zone Sum or VentilationRateProcedure

Outdoor air flow does change with zone ventilation efficiency specified with DesignSpecification:ZoneAirDistribution is changed.

### Details
Some additional details for this issue (if relevant):
 - Windows 7
 - Ver

[2018-01-05 00:55] lymereJ opened #6427 "PIU doesn't set the ADU inlet node num"
Issue overview
--------------
The air distribution inlet node num is initialized [here](https://github.com/NREL/EnergyPlus/blob/973b46637653ab47301b7c9e8d29de06b8e406ad/src/EnergyPlus/ZoneAirLoopEquipmentManager.cc#L323) but is never updated. This affects the calculations done by the mechanical ventilation controller. The supply mass flow rate passed to the mechanical ventilation controller is nev

[2018-01-05 00:58] #6426 closed, assigned to nobody

[2018-01-05 01:00] md-kennedy opened #6428 "Controller:MechanicalVentilation DCV does not account for Zone Distribution Efficiency"
Issue overview

Single zone HVAC modeled with unitarysystem with a mechanical ventilation controller set to:
DCV = Yes
OA Method = Zone Sum or VentilationRateProcedure

Outdoor air flow does change with zone ventilation efficiency specified with DesignSpecification:ZoneAirDistribution is changed.
Details

Some additional details for this issue (if relevant):

    Windows 7
    Version 8.8.0-7c3bbe

[2018-01-05 02:28] #6428 closed, assigned to nobody

[2018-01-08 21:26] mjwitte commented on #6028
This should have been closed a while ago, addressed via #6079

[2018-01-08 21:26] #6028 closed, assigned to rraustad

[2018-01-08 23:25] mjwitte commented on #6382
Closed via #6386

[2018-01-08 23:25] #6382 closed, assigned to lgu1234

[2018-01-08 23:27] mjwitte commented on #5788
Added another defect file that uses EMS to actuate both the ideal loads mass flow rate and supply temperature.  Symptoms include warnings about supply humidity ratio exceeding saturation (which should not happen) and times where the supply temp is colder than the mixed air temp but there is no ideal loads coil load shown.  For example, see 5am to 7am on July 3.

[2018-01-12 08:19] drewyh commented on #5775
Hi @EnergyArchmage I can't see the defect file, but this may be caused by `DualDeadbandSetpoints` on one or both of the loops connected to the HX. If this is the case and there are no `Sizing:Plant` objects for the loops it uses the average of the hi/lo setpoints to determine capacity, which may explain it?

[2018-01-12 13:31] Myoldmopar commented on #6373
Closed via #6429

[2018-01-12 13:31] #6373 closed, assigned to lgu1234

[2018-01-14 04:21] tombeckerling opened #6435 "WaterUse:Storage Design Inflow Rate not respected"
Issue overview
--------------
The WaterUse:Storage object seems to assume that the requested refill rate is supplied - even where it is limited.

### Details
Some additional details for this issue (if relevant):
 - Windows 10
 - EnergyPlus 8.8
 - Unmethours link https://unmethours.com/question/29064/how-to-model-pump-energy-to-refill-waterusestorage-tank/?answer=29085#post-id-29085

Defect files a

[2018-01-14 15:45] rraustad commented on #5913
There is some new discussion on coil sizing and I would like some input from others. @shorowit @ejhw please add others to this discussion if needed.

We currently use:

CoilCapacity_cooling = cooling_load / CapFTemp_cooling
CoilCapacity_heating = CoilCapacity_cooling

For heating dominated climates would you use:
CoilCapacity_heating = heating_load / CapFTemp_heating
CoilCapacity_cooling = CoilCap

[2018-01-15 16:54] ejhw commented on #5913
@rraustad I think my comment above still stands—there are multiple methods in practice for sizing HPs in residential applications. If we're not allowing a choice, then I guess I'd choose what you describe above (`max(htg_load, clg_load)`) over `cooling load priority` since it is more intuitive and not based on the specific ACCA industry organization manual which may not apply everywhere. Users can

[2018-01-15 21:00] MatthewSteen commented on #6368
I assume this is a result of the `Selected` column set to No (I'm not sure how to set this to Yes).

Also affects the `LEED Summary > EAp2-3. Energy Type Summary` table, which will show the incorrect (lower) Virtual Rate. FYI @JasonGlazer.

[2018-01-15 21:21] JasonGlazer commented on #6368
@MatthewSteen what you may see as a bug was intended to be a feature. The lowest cost tariff for a particular meter is the one that is automatically "selected" if it qualifies. Thus if you have modeled all the tariffs for a utility, one is selected for you automatically.

So what is the use case where you want multiple tariffs added up? If it is just dergulated, I assumed that a block would be for

[2018-01-15 21:26] MatthewSteen commented on #6368
I've typically used one for energy and one for demand (along with one for gas), which adds some transparency, but perhaps that's not the best way to do it.

[2018-01-15 21:34] JasonGlazer commented on #6368
It is probably best to include all the components of a tariff such as energy and demand charges, within a single tariff object, That way if you want to add tax or surcharges, they get applied to the total just like you would expect.

[2018-01-16 12:50] #6168 closed, assigned to nobody

[2018-01-17 18:03] rraustad opened #6436 "Chiller maximum part load ratio = 1 is limiting chiller capacity to rated capacity"
Issue overview
--------------
The long standing issue regarding plant equipment where the min/max/opt PLR is used to pass information back to the plant results in the plant sending a load request that never exceeds these values.

    MinCap = ElectricEIRChiller( EIRChillNum ).RefCap * ElectricEIRChiller( EIRChillNum ).MinPartLoadRat;
    MaxCap = ElectricEIRChiller( EIRChillNum ).RefCap * Electric

[2018-01-18 18:53] nealkruis opened #6437 "Only calculate system output once"
Issue overview
--------------
The sensible (and latent) heat added/removed from the zone by zone-level equipment is calculated several times in separate areas of the code:

- Independently for for each piece of zone-level equipment when sequencing the equipment to meet the load (set by passing in a reference of *SysOutputProvided* into each Sim* call and updated [here](https://github.com/NREL/Ener

[2018-01-19 20:57] mjwitte commented on #6233
Closed via #6415

[2018-01-19 20:57] #6233 closed, assigned to lgu1234

[2018-01-19 21:08] rraustad opened #6438 "ZoneHVAC:Baseboard:Convective:Water UA sizing fails if Plant water temp is too low"
Issue overview
--------------
ZoneHVAC:Baseboard:Convective:Water fails to size UA if plant water temps are set too low. Using 5ZoneCooledBeam example file with Sizing:Plant temp set to 40C.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk

[2018-01-19 23:11] bbrannon4 opened #6439 "Clarify Ideal Air Loads Energy Outputs"
Issue overview
--------------
Currently the district energy outputs for ideal air loads systems are inaccurate and confusing.  There is no 'energy' that really relates to the real world.  Instead this just shows the 'load' required to maintain a setpoint.  There are some unmethours posts that confirm confusion in the community.

I sugest removing the 'district' outputs, as well as any others that

[2018-01-19 23:37] mjwitte commented on #6439
Please provide links here to the referenced unmethours posts.

[2018-01-20 10:15] bbrannon4 commented on #6439
This was the one that prompted the issue: https://unmethours.com/question/29242/how-close-can-hvac-system-get-to-ideal-load-air-system/

And this was a recent one where the outputs caused confusion: https://unmethours.com/question/28580/get-district-cooling-consumption-even-though-i-didnt-use-district-cooling-component/

And another relevant one recently: https://unmethours.com/question/27774/my-q

[2018-01-21 21:29] rraustad commented on #6438
See PR #6440.

[2018-01-22 14:25] Nigusse commented on #6396
@mjwitte Adding "Output:Diagnostics, DisplayExtraWarnings;" shows most of the curves have problem including those which are positive values. I suspect the curves are not correctly generated.

   ** Warning ** GetDXCoils: Coil:Heating:DX:SingleSpeed="THERMAL ZONE: SPACE 101_WEST PTHP DX HEATING COIL" curve values
   **   ~~~   ** ... Heating Capacity Function of Temperature Curve Name = THERMAL ZON

[2018-01-22 21:25] mjwitte commented on #6413
Closed via #6414

[2018-01-22 21:25] #6413 closed, assigned to rraustad

[2018-01-24 13:59] belbert commented on #5888
Any progress on this matter?

I'm getting the same error in EnergyPlus 8.7. My system has 11 zones (2levels)  and a Single Duct VAV system with reheat terminals. The system works fine for most combinations of hydraulic diameters/crossections and flowrates, but for some combinations I am getting the mentioned L-U error.

I was also wondering if there is a testversion of the AirflowNetworkSolver tha

[2018-01-24 16:52] pflaumingo opened #6442 "Equipment Summary has incorrect conversions from SI to IP"
Issue overview
--------------

On the Equipment Summary report, when the standard HTML output report is reported in IP units the values on DX Cooling Coils and VAV DX Cooling Standard Rating Details are incorrect. The header suggests tons, but the magnitude is too large for it to be tons - the Cooling Coils section reports as btuh so I'm guessing it should be that.

I'm guessing the DX Cooling Coi

[2018-01-24 21:19] Nigusse commented on #6427
I tried two things for this issue:

(1) First I attempted to set node number to the air distribution inlet node. This is not straightforward because, unlike other air terminal units, PIUs have two inlet nodes and the air distribution code structure is not setup to handle two inlet nodes. Any ways I managed to connect to the PIU's mixed mixed air outlet node but that did not make any difference on

[2018-01-25 17:16] rraustad opened #6443 "Coil:Cooling:DX:VariableSpeed shows max iteration warnings when supply air is very close to saturation curve"
Issue overview
--------------
When users specify a capacity, airflow, and/or SHR that results in an outlet condition close to the saturation curve, the VS coil model may limit SHR to 1 when the bypass factor is < 0.001. So if the rated CBF (a model variable not a user input) is close to 0.001, as the model iterates on PLR, the coil bypass factor changes just enough to oscillate around 0.001. This

[2018-01-25 17:51] lymereJ commented on #6427
@Nigusse -

Thank you for following up on this issue! I should have probably provided a little bit more background. I noticed that when using PIUs the ventilation rates based on the VRP method calculated by the Controller Mechanical Ventilation did not align with manual calculations I put together (in the spreadsheet I sent to the helpdesk) whereas the manual calculations did align with the same m

[2018-01-25 20:01] Nigusse commented on #6427
@lymereJ I was able to set inlet node number to the to ADU but that did not resolve the problem. There are other issues that I am tracking down now. I will update you the progress.

[2018-01-25 20:05] lymereJ commented on #6427
Great! Thank you.

[2018-01-25 21:04] rraustad commented on #6443
See PR #6444.

[2018-01-26 11:55] jmarrec opened #6445 "Implement autosizing of ChillerPerformance:Electric:EIR 'Reference Cooling Mode Evaporator Capacity'"
Issue overview
--------------

I'm testing a new object in OpenStudio, the `CentralHeatPumpSystem`. I have implemented a model with a central heat pump system and three plant loops. The simulation completes correctly. But the results are weird, I have never ran into this issue: I have NaNs all over the SQL / HTML output.

![image](https://user-images.githubusercontent.com/5479063/35438670-b857a472

[2018-01-26 12:11] jmarrec commented on #6445
I requested "Pump Electric Power" and "Pump Mass Flow Rate" at Detailed frequency for all pumps in my model. I have 3 identical Pump:VariableSpeed:

* CHW LOOP VSD PUMP
* CNDW LOOP VSD PUMP
* HW LOOP VSD PUMP

Looking at the sql file, CHW and CNDW are fine, I have values for both variables.
HW LOOP VSD PUMP on the other hand has values for pump mass flow rate, but "NULL" for the Pump Electric Powe

[2018-01-26 13:37] jmarrec commented on #6445
Running it after transition to V8.9 with current develop built in debug mode produces a hard crash due to division by zero on this line: https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/PlantCentralGSHP.cc#L2355

On this line: https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/PlantCentralGSHP.cc#L1085

(lldb) p ChillerHeater( ChillerHeaterNum ).RefCapClgHtg
(Real64

[2018-01-26 14:18] jmarrec commented on #6445
Confirmed that if I hardside the ChillerPerformance:Electric:EIR [Reference Cooling Mode Evaporator Capacity](https://bigladdersoftware.com/epx/docs/8-8/input-output-reference/group-plant-equipment.html#field-reference-cooling-mode-evaporator-capacity), I no longer get the crash.

And if I run it in 8.8.0, I no longer have NaNs either

[2018-01-26 16:33] larryscheier commented on #6337
For what it's worth: Here is the associated spreadsheet for the above comparisons: [5ZoneWarmestVFDTable.xlsx](https://github.com/NREL/EnergyPlus/files/1668414/5ZoneWarmestVFDTable.xlsx)

It includes a sheet for the original summary table, another sheet for comparing the Airloop to Facility and a third sheet comparing Sum-of-Zone Components to Airloop Components.

[2018-01-29 14:02] rraustad opened #6448 "UnitarySystem with Coil:Cooling:DX:VariableSpeed does not cycle the fan with compressor when cycling fan mode is used"
Issue overview
--------------
Test of the VS DX cooling coil shows the fan operating at max speed when the coil is cycling and fan operating mode is cycling fan. Comparison of Fan Runtime Fraction and Unitary System Part Load Ratio shows the issue. A plot of the Unitary System Part Load Ratio and Cooling Coil Part Load Ratio shows that the coil and unitary system have the same part load ratio.

##

[2018-01-29 14:04] rraustad commented on #6448
The defect file shows the issue where the fan is operating at max speed instead of cycling with the coil/compressor. File set up shown as:

    Schedule:Constant,
      SYS0SZUHC-1FanOpSchedule_0,             !- Name
      AnyValue,                               !- Schedule Type Limits Name
      0.0000;                                 !- Hourly Value

    AirLoopHVAC:UnitarySystem,
      SYS0SZUH

[2018-01-29 15:18] rraustad commented on #6448
See PR #6449.

[2018-01-30 16:32] lgu1234 opened #6453 "Consolidate code in CorrectZoneContaminants"
Issue overview
--------------
#6233 consolidated code in CorrectZoneHumRat to be consistent with energy balance equation by removing a surplus section of code for ZoneMassFlowRate <= 0.0 in moisture balance equation. The surplus section also exists in CorrectZoneContaminants and needs to be removed.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, v

[2018-01-31 15:50] EnergyArchmage commented on #6337
I have been looking into time of day reporting in the airloop component loads summary table and I think I have found a problem.  It appears that the airloop summary table is filling the text for date and time with values that originally come from the variables CoolPeakDateHrMin and HeatPeakDateHrMin. But these are filled with peaks that are based on zone sensible peak time.  It appears that the va

[2018-01-31 18:55] rraustad commented on #5917
So maybe the confusion here is that the fan runtime fraction is < 1 for heating mode. In the fan model, fan PLR is calculated as:

    FlowFrac = MassFlow / MaxAirMassFlowRate;

The heating flow rate is 0.22, the fan max flow rate is 0.55 so fan PLR in heating mode = 0.4. If you divide the heating flow rate in m3/s by fan PLR, you'll get 0.55. So then, the heating flow rate must be 0.22 m3/s. If i

[2018-01-31 19:06] Nigusse commented on #5603
Any one working on this issue?

[2018-02-01 15:43] tidecoder opened #6457 "FaultModel is not working as expected."
[faultNotworking.zip](https://github.com/NREL/EnergyPlus/files/1686131/faultNotworking.zip)
Issue overview
--------------
I am doing fault simulation by FaultModels in EnergyPlus. I found two fault models are not working correctly: FaultModel:TemperatureSensorOffset:OutdoorAir, FaultModel:TemperatureSensorOffset:ReturnAir.
My baseline model is from the reference building library(fault-free, ASHRAE

[2018-02-01 16:20] lgu1234 opened #6458 "Add MDotOA as a part of CO2 and contaminant balance equations"
Issue overview
--------------
MDotOA is a variable to store outdoor air mass flow rate calculated from combined outdoor air flows based on the ZoneAirBalance:OutdoorAir object. The variable is used in energy and moisture balance equations in both predictor and corrector of ZoneTempPredictorCorrector. However, the variable is not used in CO2 and generic contaminant balance equations. The variable s

[2018-02-01 16:46] larryscheier commented on #6337
FYI: I created a simple one-zone airloop and forced the ventilation to zero so the airloop coil would peak at the same time as the zone sensible peak. The "AirLoop Component Load Summary" should exactly match the "Zone Component Load Summary" report but does not for either cooling or heating. See these files:
[AirloopChecksum_OneZone.zip](https://github.com/NREL/EnergyPlus/files/1686348/AirloopChe

[2018-02-01 17:52] rraustad opened #6459 "Comparison of single speed DX coil with variable speed DX coil shows differences in performance"
Issue overview
--------------
Using the same input file with only difference being the coil types (DX:SingleSpeed vs DX:VariableSpeed) the results are markedly different.

Weather file: USA_IA_Des.Moines.Intl.AP.725460_TMY3

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA

[2018-02-01 18:00] Myoldmopar commented on #6459
If only there was some intensive coding session on the horizon that could potentially eliminate this type of discrepancy :rofl: :rofl:

[2018-02-01 18:10] mjwitte commented on #6457
Probably a duplicate of #6422.

[2018-02-01 18:14] rraustad commented on #6459
Comparison of differences found when comparing SS vs VS DX coils.

![6459-ssvsvscompare-before](https://user-images.githubusercontent.com/5778156/35743287-117c20e4-0835-11e8-9f9b-43f8b7384ba2.jpg)

[2018-02-01 19:14] rraustad commented on #6459
Testing with changes described in PR #6449 account for some of these differences.

[2018-02-01 20:36] rraustad commented on #6459
Adding in 6449 corrects most of the differences except for the difference in electric power:

![6459-ssvsvscompare-before_w6449](https://user-images.githubusercontent.com/5778156/35743333-3966044e-0835-11e8-8bf9-3ba20fc8e095.jpg)

With the change made to use adjusted inlet air WB temp in the EIR calculation, plus the changes in #6449, the results now match.

![6459-fixed](https://user-images.githu

[2018-02-07 16:38] EnergyArchmage opened #6464 "Fuel Cell solver minimum product gas temperature is too high"
Issue overview
--------------

User file has set the fuel and air inlet temperatures to use an outdoor air inlet node.  This results in very low inlet enthalpy values during winter design days.  The FC model solves for exit product gas temperatures that provide an energy balance.  With the low inlet enthalpy, the product gas temperatures are also fairly cool.  However the solver minimum temperatur

[2018-02-08 12:03] lincolnharmer opened #6465 "Unexpected behavior with SetpointManager:WarmestTemperatureFlow"
Issue overview
--------------
when using the SetpointManager:WarmestTemperatureFlow with the Control Variable set to "Temperature" and the strategy set to "TemperatureFirst", heating energy is being significantly over estimated because the airloop using the SetpointManager:WarmestTemperatureFlow are requesting heat when the fan turns on and also right before the fan turns off regardless of zone te

[2018-02-09 20:32] lgu1234 commented on #5381
I test file. "Zone Thermal Comfort ASHRAE 55 Adaptive Model Running Average Outdoor Air Temperature" is not calculated correctly. Here is my observation.

There are several bugs in initialization in the CalcThermalComfortAdaptiveASH55 function of the ThermalComfort module.
1. Skip 9 lines when reading a weather file
Each epw file has 8 lines of headers. The code reads 9 lines. This needs to be cor

[2018-02-11 21:08] andrego7 opened #6468 "EnergyPlus"
Issue overview
--------------
Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.

### Details
Some additional details for this issue (if relevant):
 - Platform

[2018-02-11 21:09] #6468 closed, assigned to nobody

[2018-02-12 16:22] JasonGlazer opened #6469 "Not Part of Total in IVRS report showing wrong total"
Issue overview
--------------
The Zone Summary table in the Input Verification and Results Summary report on the Not Part of Total line at the bottom is showing the total of all zone areas and volumes instead of just the zones where the Zone object field Part Of Total Floor Area is set to No. The user reported this with 8.6.0 but it is still a bug in 8.8.0.

See:

https://unmethours.com/question/2

[2018-02-12 18:48] mjwitte opened #6470 "ThermalStorage:ChilledWater:Stratified is reporting the same value for Source Side Inlet and Outlet Temperatures"
Issue overview
--------------
User noted that ThermalStorage:ChilledWater:Stratified always reports the same value for both the Source Side Inlet Temperature and the Source Side Outlet Temperature. Comparing against the System Node Temperature outputs, it appears that the Souce Side Inlet Temperature output is incorrect.

### Workaround
Use the System Node Temperature for the corresponding node.

[2018-02-13 18:11] rraustad opened #6471 "Heating Coil energy transfer report variables use different names and should be unified"
Issue overview
--------------
Setting up reporting is difficult for heating coils since the heating coils currently use different naming conventions. Previous work to unify report variable names missed the heating coils.

Water heating coils:
Heating Coil Heating Rate
Heating Coil Heating Energy

DX heating coils (includes VRF):
Heating Coil Total Heating Rate
Heating Coil Total Heating Energy

no

[2018-02-13 18:51] Myoldmopar commented on #6412
This appears to be gone on the dashboard, closing...

[2018-02-13 18:51] #6412 closed, assigned to nobody

[2018-02-13 19:34] rraustad commented on #6471
See PR #6473.

[2018-02-13 19:54] rraustad commented on #6459
See PR #6460.

[2018-02-14 02:04] #6400 closed, assigned to nobody

[2018-02-14 10:23] #2813 closed

[2018-02-14 10:59] #5603 closed, assigned to Nigusse

[2018-02-14 10:59] Myoldmopar commented on #5603
Closed via #6463

[2018-02-14 19:13] eringold opened #6475 "Engineering Checks in Component Load Summary Reports need more precision"
@JasonGlazer

Issue overview
--------------
'Airflow per total capacity' values often report to 0.0001 or 0.000 for zones. This is not enough precision and gives bad values when converting to IP.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or help

[2018-02-14 19:51] Myoldmopar opened #6476 "Tiny equation fix"
A pull request cleaned up a ton of documentation, IDD, and files. When @myoldmopar was trying to minimize the code and find a LaTeX compile problem, he messed up an equation.  To avoid burdening CI further right before IO freeze, he decided to make an issue out of it.

The problem is here: https://github.com/NREL/EnergyPlus/pull/6463#issuecomment-365701167

[2018-02-15 21:09] JasonGlazer commented on #6337
Thanks @larryscheier it is even more perplexing that is is having problems with a one-zone airloop case.

[2018-02-15 22:24] dconantgilles opened #6479 "AirTerminal:singleDuct:ConstantVolume:FourPipeBeam not responding correctly to minimum ventilation limit when autosize design primary airflow"
Issue overview
--------------
AirTerminal:singleDuct:ConstantVolume:FourPipeBeam not responding correctly to minimum ventilation limit when user selects autosize design primary airflow and autosize chilled water flow, hot water flow, and total beam length.

When attempting to demonstrate lack of effectiveness of fourpipe beams in a ventilation driven lab, it was discovered that the primary airflow

[2018-02-16 22:27] mjwitte opened #6480 "Followup issues for Enhancements to Data Center Model"
Issue overview
--------------
Followup items from #6154.

- [x] I/O Ref needs a definition for the new output variable "Zone ITE Adjusted Return Air Temperature".
- [x] While in the I/O Ref, it would be nice to break up the description of Air Flow Calculation Method into separate paragraphs for the two methods with the choices in bold.
- [ ] Need to finalize transition rules and add transition cod

[2018-02-18 20:40] mjwitte opened #6481 "Additional Terminal Unit Sizing Issues"
Issue overview
--------------
Followup terminal unit sizing issue from #6338.
- [x] In `SimAirServingZones::UpdateSysSizing, DesHeatCoilInTempTU` is set for heating zones only using `GetHeatingSATempForSizing` (similar for humrat) [here](https://github.com/NREL/EnergyPlus/blob/c0223f6ed62d7242a3a84cd568a402706033ba6a/src/EnergyPlus/SimAirServingZones.cc#L6617-L6634). In #6338, for consistency with

[2018-02-19 21:46] mjwitte opened #6482 "Revise file handling for imported and exported shading calcs"
Issue overview
--------------
- [ ] Per @Myoldmopar [here](https://github.com/NREL/EnergyPlus/pull/6388/files#r167880308) c++ file streams should be used to import the shading fractions.

- [ ] Also, fix nan problem with shading file that has only 8760 data rows. SolarShadingTest_Shading_Data.csv was lengthened to 8784 rows to avoid test failures, but things *should* work with an 8760 file. More e

[2018-02-20 20:16] asparke2 opened #6484 "Missing sizing outputs for DualDuct terminals"
Issue overview
--------------
The fields in two of the dual duct VAV terminals are autosizable, but the values are not available in the componentsizes table of the SQL file:

`AirTerminal:DualDuct:VAV:OutdoorAir !- Maximum Terminal Air Flow Rate {m3/s}`
`AirTerminal:DualDuct:VAV,  !- Maximum Damper Air Flow Rate {m3/s}`

OpenStudio's API now supports (and tests) the retrieval of autosized values f

[2018-02-21 13:24] rraustad opened #6485 "VRF power in heat recovery using ThermostatOffsetPriority is 0 when coils are active"
Issue overview
--------------
Testing of the VariableRefrigerantFlow_5Zone example file and changing the master thermostat priority control type to ThermostatOffsetPriority shows that power sometimes goes to 0 when the coils are actively cooling or heating. The figure below exemplifies the problem.

    AirConditioner:VariableRefrigerantFlow,
      ThermostatOffsetPriority,            !- Master Th