[2016-08-26 18:44] mjwitte commented on #5803
@wfbuhl a) and b) sound like the right thing to do.

c) Has been a source of confusion.  Also see #4223.  There it's also suggested that the rated temps be "autosizable", i.e. grabbing the entering and leaving temps from the sizing data.

I see that now in the I/O Ref, but why?  Seems it should use whatever capacity comes out of Heating Design Capacity Method.  This explains what is happening in #

[2016-08-26 19:16] wfbuhl commented on #5803
"I see that now in the I/O Ref, but why? Seems it should use whatever capacity comes out of Heating Design Capacity Method. This explains what is happening in #5835 ."

There's a coding issue if I remember right. The flow is calculated first and it doesn't know about the "Heating Design Capacity" yet. Tho I suppose we could check that first. Maybe has to do with the code development sequence. It i

[2016-08-26 19:21] wfbuhl commented on #5803
Oh yes. In SizeWaterCoil, the max water flow autosize does use the Heating Design Capacity. But the UA autosize DOES NOT. For pete's sake. Well, we'll fix this too.

[2016-08-26 19:31] mjwitte commented on #5819
Closed via #5584.

[2016-08-26 19:31] #5819 closed, assigned to nobody

[2016-08-26 19:46] mjwitte commented on #5722
@jburek The CAD import _should_ be getting the information directly from the idf file if I'm following this correctly.   There  is no current report for a bill of materials.  The closest current output would be from  ComponentCost:LineItem which can be defined for each construction type and then would report the total area for each, but no materials detail.

[2016-08-26 19:46] #5722 closed, assigned to nobody

[2016-08-26 19:49] mjwitte commented on #5714
Closed via #5717.

[2016-08-26 19:49] #5714 closed, assigned to tsnouidui

[2016-08-26 19:56] mjwitte commented on #5667
@Alex-Blue Economizer should work with dual-duct systems.  If you have a test file that demonstrates the problem, please attach to this issue (rename to xys.idf.txt to attach in github).

[2016-08-26 20:01] cdcorbin commented on #5410
Any update on this? I just switched to El Capitan, not realizing that EP and El Capitan don't play together. Maybe a patch?

[2016-08-26 20:02] mjwitte commented on #5803
@wfbuhl Can you address #5821 as part of this fix?

[2016-08-26 20:54] mjwitte commented on #5387
@chrisbalbach This had been added for the v8.6.0 release in September.  See #5633.

[2016-08-26 20:54] #5387 closed, assigned to rongpengzhang

[2016-08-26 20:59] mjwitte commented on #5362
@Myoldmopar Is there an update on this?

[2016-08-26 21:14] mjwitte commented on #5242
@Myoldmopar Anything more to do here?  Looks like it can be closed.

[2016-08-26 21:32] #5115 closed, assigned to nobody

[2016-08-26 21:41] #4871 closed, assigned to Myoldmopar

[2016-08-26 22:12] wfbuhl commented on #5803
Yes

On Friday, August 26, 2016, Michael J. Witte notifications@github.com
wrote:

[2016-08-29 06:47] zhukovgreen commented on #4852
Hello @RKStrand,

yes it is correct. The file #ESS0712_SwPoolApp.idf  is those one which was used in my test

[2016-08-29 12:21] JasonGlazer opened #5842 "IDF Editor update for new units conversions"
Many unit conversion errors are showing in the IDF Editor for the new IDD changes
![capture](https://cloud.githubusercontent.com/assets/2582150/18051287/1eb280ae-6db9-11e6-9c7f-491e3f5db530.PNG)

[2016-08-29 12:22] JasonGlazer commented on #5842
@mjwitte and @Myoldmopar we should take care of this before building the final installer

[2016-08-29 13:00] mjwitte commented on #5842
@JasonGlazer I do not see any errors with the v8.5 IDF Editor and current develop IDD.  I think those were addressed [here](https://github.com/NREL/EnergyPlusBuildSupport/pull/25) and in #5509.

[2016-08-29 13:10] JasonGlazer commented on #5105
I just tried to reproduce the problem by creating a new WIndows 10 computer (1511 OS Build 10586.164. 64-bit) as a virtual machine and installing the release version of 8.5.0 and running EP-Launch and IDF Editor and did not see any message related to the MSOMCTL.OCX. I tried this also with a new Windows 8.1 64-bit virtual machine and it also did not reproduce the problem. @bachc and @mitchute and

[2016-08-29 13:12] JasonGlazer commented on #5842
That's weird, I have a repo that I do install builds on and that is what was happening when I testing for #5105.

[2016-08-29 13:16] JasonGlazer commented on #5842
Sorry, not so weird #5841 hasn't been merged yet.

[2016-08-29 13:19] mitchute commented on #5105
Been awhile and I think the person who had the issue is long gone, so I don't think I have more to add. I have a Windows tablet with a relatively fresh install of Windows 10. I'll give it a try this evening and let you know.

[2016-08-29 13:30] kylezoa commented on #5105
@JasonGlazer I have nothing to add either, it may have been a configuration error caused by another program.

[2016-08-29 13:46] #5842 closed, assigned to JasonGlazer

[2016-08-29 14:15] bachc commented on #5105
I'd guess the next time I use E+ I'll be either running Windows 10 or use the same machine. Windows 8 is probably on its way out. Seems to me that leaving it with the workaround suggested by mwitte on June 3 is the best use of everyone's resources.

[2016-08-29 17:19] JasonGlazer commented on #5497
Here is the input file updated to the prerelease version of 8.6.0 [5497-idfinput-V860.zip](https://github.com/NREL/EnergyPlus/files/442989/5497-idfinput-V860.zip)

[2016-08-30 13:22] mitchute commented on #5105
I successfully installed and ran 8.3 on Windows 10.

[2016-08-30 19:11] JasonGlazer commented on #5105
Thanks @bachc @mitchute and @kylezoa. I decided to just try to add some logging to the installer for now.

[2016-08-31 00:33] mjwitte opened #5845 "ASIHPMixedTank test file fails on linux"
## Issue overview

ASIHPMixedTank is failing in the linux integration tests, runs to completion on other platforms.  @rraustad identified some questionable input [here](https://github.com/NREL/EnergyPlus/pull/5831#issuecomment-242728106) but that doesn't explain the test failure.

CI output:

[code]
### Details

Some additional details for this issue (if relevant):
- Platform (linux CI)
- Version

[2016-08-31 02:28] mjwitte commented on #4324
Closed via #5830

[2016-08-31 02:28] #4324 closed

[2016-08-31 17:21] EnergyArchmage commented on #5626
There seems to be some confusion over of "Integrated" vs "Non-integrated."  This issue's description describes a non-integrated economizer while using CoolingSetpointOnOffWithComponentOverride.  The control mode CoolingSetpointOnOffWithComponentOverride is intended for "Integrated." ( This is replicating old HeatExchanger:Hydronic.)  The "ComponentOverride" means able to shut down the chiller and

[2016-08-31 17:28] mjwitte opened #5846 "OA controller economizer schedule and min OA flow autosizing"
## Issue overview
1. In Controller:OutdoorAir, in PR #5794, it was originally proposed that the "Time of Day Economizer Control Schedule Name" be changed to allow any economizer type to be schedule off.  Currently, this schedule only adds TOD economizer operation on top of any other specified economizer type.  Given that several example files have a base economizer plus TOD operation, it is now pr

[2016-08-31 18:12] mjwitte opened #5847 "Transition for VAV terminal damper heating action"
## Issue overview
#5646 added a new choice for VAV terminal "Damper Heating Action" and changes the default.  Transition rules and code need to be added.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating system, version)
- Version of EnergyPlus (if using an intermediate build, include SHA)
- Unmethours link or helpdesk ticket number
### Checklist

Add to this

[2016-08-31 20:00] mjwitte commented on #5816
Closed via #5840

[2016-08-31 20:00] #5816 closed, assigned to JasonGlazer

[2016-08-31 20:36] mjwitte commented on #5603
- [ ] Change all energyplus.gov references to energyplus.net and check other link descriptions.  Quick search finds 20 occurrences across all the doc source files, some with longer links that will need updating, and some with textual references to further links that probably need updating.

[2016-09-01 22:51] kburova opened #5848 "EnergyPlusFixture.PlantHXModulatedDualDefectFileLo unit test fails because of the order of "PlantLoop" objects"
## Issue overview

[Unit test](https://github.com/NREL/EnergyPlus/blob/input_processor_refactor/tst/EnergyPlus/unit/PlantHeatExchangerFluidToFluid.unit.cc#L1162) fails in [this build](https://nrel.github.io/EnergyPlusBuildResults/EnergyPlus-1b73d8d6c909e7f69071c85a0d03f0e9988748ed-x86_64-MacOS-10.9-clang.html). It says:

Note: Google Test filter = EnergyPlusFixture.PlantHXModulatedDualDeadDefectFi

[2016-09-01 22:51] kburova commented on #5848
@mbadams5 take a look at this please

[2016-09-02 11:28] EnergyArchmage commented on #5848
Is "lexicographical order" going to be predictable on all platforms?  If not it seems that all unit tests that use IDF input would need to be rewritten to detect indexes rather than hard code them.

[2016-09-02 14:07] JasonGlazer opened #5849 "GeometryTransform Not Impacting IVRS Zone Summary or Envelope Summary"
## Issue overview

If you take the 5ZoneGeometryTransform.idf file and comment out the GeometryTransform object, the ZoneInformation portion (as well as others parts) of the EIO file changes but in the HTML file, the Input Verification and Results Summary as well as the Envelope Summary do not change. These should have corresponding changes.

In addition, code inspection of the SurfaceGeometry.cc

[2016-09-02 14:45] mbadams5 commented on #5848
@EnergyArchmage Yes it should be consistent. It is how `std::map` sorts keys so it can have log(n) find operations.

Yes the unit tests should be written without hard code indexes but we have already changed many of these and they all pass now. This is more of a case where EnergyPlus depends on the order of input objects. Similar to the other defect you fixed a little bit ago.

I can create a defe

[2016-09-02 15:01] mjwitte commented on #5845
@Myoldmopar @mbadams5 @shenb Can one of you reproduce this failure on linux so we can get more details on why it's failing?

[2016-09-02 15:02] shenb commented on #5845
I don’t have a linux system on my computer.

From: Michael J. Witte [mailto:notifications@github.com]
Sent: Friday, September 02, 2016 11:01 AM
To: NREL/EnergyPlus
Cc: Shen, Bo; Mention
Subject: Re: [NREL/EnergyPlus] ASIHPMixedTank test file fails on linux (#5845)

@Myoldmoparhttps://github.com/Myoldmopar @mbadams5https://github.com/mbadams5 @shenbhttps://github.com/shenb Can one of you reproduce

[2016-09-02 19:31] MatthewSteen commented on #4991
This object is useful for certain LEED modeling scenarios with central plants serving multiple buildings (http://www.usgbc.org/sites/default/files/DES%20Guidance.pdf). As a workaround the capacity and flow rates can be hard-sized to artificially high values.

[2016-09-05 17:11] RKStrand commented on #4393
@mjwitte Well, I did actually uncover a bug in the code that relates to this stuff but is not really causing any problems here.  The user noted issue is really still an input problem and I have fixed all of the autosize low temperature radiant input files that use autosizing.  I noticed an error message that did not make any sense.  There was a problem both with the actual error message as well as

[2016-09-08 20:42] MatthewSteen commented on #5603
- [ ] Daylighting:Controls [Number of Stepped Control Steps](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-daylighting.tex#L78) field is missing a note about the default.

N17, \field Number of Stepped Control Steps
      \note for Lighting Control Type=2, this field cannot be zero.
      \type integer
      \default 1

- ***addressed in issue #5603

[2016-09-09 17:16] mjwitte opened #5853 "Fancoil cold/hot water control failed warnings"
## Issue overview

While testing DOA to ZoneHVAC for #5676 I ran the existing DOAToFanCoilSupply and DOAToFanCoilInlet test files as annual simulations.  They both generate errors like this

[code]
### Details

Some additional details for this issue (if relevant):
- Platform (Win64)
- Version of EnergyPlus (v8.6.0 5b5301a77f )
- These errors still show after the changes in #5800.
### Checklist

Ad

[2016-09-10 01:07] mjwitte commented on #5770
Closed via #5800.

[2016-09-10 01:07] #5770 closed, assigned to rraustad

[2016-09-10 05:53] macumber opened #5854 "Can't build EnergyPlus on Centos 6.6"
@Myoldmopar @lefticus

I've tried building EnergyPlus 8.6 on Centos 6.6.  The default compiler is gcc 4.4 which doesn't seem to support c++11.  I get compiler crashes using gcc 4.7 and 4.8.  When I tried to install clang 3.4 I get GLIBCXX_3.4.15, GLIBC_2.15 and GLIBC_2.14 not found.  What compiler should I use?

[2016-09-10 05:55] Myoldmopar commented on #5854
Energyplus won't build after 1145pm local time.

[2016-09-10 05:59] macumber commented on #5854
Resets at midnight?  Can I feed it after midnight?

[2016-09-10 16:52] rraustad commented on #5853
Why these new warnings? Seems related to chilled water temp and not zone load control.

[code]

OK, this is a result of CW temp setpoint control:

![doatofansupply](https://cloud.githubusercontent.com/assets/5778156/18412586/20d498a8-7760-11e6-8375-341491f6fb5c.png)

[2016-09-10 16:55] mbadams5 commented on #5854
@macumber which point release of GCC 4.8 was it? You need to use 4.8.2+. You should download and use [DevTool set 2.1 or greater](https://linux.web.cern.ch/linux/devtoolset/) Or you can use the newer [Software Collections](https://linux.web.cern.ch/linux/scientific6/docs/softwarecollections.shtml) to get even newer versions of GCC. You can also download clang from [EPEL packages](https://fedorapro

[2016-09-10 18:41] rraustad commented on #5853
See PR https://github.com/NREL/EnergyPlus/pull/5855

[2016-09-10 19:30] macumber commented on #5854
I am on CentOS 6.6, I tried installing devtoolset 2.1 with [these](http://linuxtoolkit.blogspot.com/2014/11/install-gcc-481-and-other-scientitic.html) instructions:

[code]

gcc -v gives `gcc version 4.8.2 20140120 (Red Hat 4.8.2-15) (GCC)` (which seems right for devtoolset 2.1)

When I compile E+ I get:

[code]

[2016-09-10 19:33] macumber commented on #5854
I'm also starting to feel weird after working on E+ after midnight last night...

![gremlins-2-wallpaper_53441_7176](https://cloud.githubusercontent.com/assets/1327850/18413059/1feb01ca-775b-11e6-9ec5-56600364a837.jpg)

[2016-09-10 23:01] mbadams5 commented on #5854
@macumber It may require 4.8.4+ then, I can't remember exactly. If so then you'll need devtoolset 3.0+

[2016-09-11 16:02] macumber commented on #5854
Thanks @mbadams5 that worked for me!  I was not able to install devtoolset 3 on CentOS 6.6, so getting this to work with 2.1 was great.  Watch out for any signs of gremlinification!

[2016-09-12 13:11] JasonGlazer opened #5857 "Add Missing Curves Referenced in RefrigerationCasesDataSet.idf"
Curves referenced in the RefrigerationCasesDataSet.idf file are not included in that file or anywhere in the EnergyPlus distribution. The curves are:

[code]

and

[code]

This was reported in [this question on UnmetHours](https://unmethours.com/question/16290/curves-for-dataset-refrigerationcasesdatasetidf/)

Other curves referenced in the file should be checked to ensure that they are in the fil

[2016-09-12 14:05] Myoldmopar commented on #5845
It's because of [this line](https://github.com/NREL/EnergyPlus/blob/11c622443d7563d1dcd1c867263093809b94fa2a/src/EnergyPlus/WaterThermalTanks.cc#L5639-L5641).  When it gets to that point in the code for `VSCoilID==2`, the array of `MSRatedWaterVolFlowRate` values are all zero, leading to a divide by zero.  Any thoughts @rraustad @shenb or anyone else?  I'll try to keep looking...

[2016-09-12 14:21] rraustad commented on #5845
Check to see what happens when [this](https://github.com/NREL/EnergyPlus/blob/11c622443d7563d1dcd1c867263093809b94fa2a/src/EnergyPlus/IntegratedHeatPump.cc#L668) line is hit.

[2016-09-12 14:29] rraustad commented on #5845
May have linked the wrong line in code, I think it's [this](https://github.com/NREL/EnergyPlus/blob/11c622443d7563d1dcd1c867263093809b94fa2a/src/EnergyPlus/IntegratedHeatPump.cc#L689) one.

[2016-09-12 15:42] macumber commented on #5854
@mbadams5 I spoke too soon, when I tried to make a package with the fortran components I am getting this error.  Do you see this as well?

[code]

[2016-09-12 15:51] shenb commented on #5845
Edwin and Rich,

Thanks for help identifying the bug in Linux. I will make the fix today.

Bo

From: Edwin Lee [mailto:notifications@github.com]
Sent: Monday, September 12, 2016 10:06 AM
To: NREL/EnergyPlus
Cc: Shen, Bo; Mention
Subject: Re: [NREL/EnergyPlus] ASIHPMixedTank test file fails on linux (#5845)

It's because of this linehttps://github.com/NREL/EnergyPlus/blob/11c622443d7563d1dcd1c86726

[2016-09-12 16:12] mbadams5 commented on #5854
@macumber I didn't try to package, but just from looking you may not be using the correct ldd.

[2016-09-12 16:19] macumber commented on #5854
Thanks Mark, I am just using the ldd that comes with CentOS 6.6, which ldd should I be using?  devtoolset does not seem to come with ldd

[code]

[2016-09-12 17:44] JasonGlazer commented on #5143
@mjwitte should this be escalated to a higher priority?

[2016-09-12 19:05] JasonGlazer commented on #5143
See helpdesk #11544

[2016-09-13 15:09] shenb commented on #5845
Edwin,

I made the bug fix and started a pull request as below,

https://github.com/NREL/EnergyPlus/pull/5858

thanks,

Bo

From: Edwin Lee [mailto:notifications@github.com]
Sent: Monday, September 12, 2016 10:06 AM
To: NREL/EnergyPlus
Cc: Shen, Bo; Mention
Subject: Re: [NREL/EnergyPlus] ASIHPMixedTank test file fails on linux (#5845)

It's because of this linehttps://github.com/NREL/EnergyPlus/bl

[2016-09-13 20:42] mjwitte commented on #4262
Closed via #5831

[2016-09-13 20:42] #4262 closed

[2016-09-14 03:11] RKStrand commented on #4852
@ZhukovGreen Just wanted to let you know that I did identify a bug in the code that was causing problems with the calculation.  There is a fix and this will hopefully be corrected in the next version of EnergyPlus.

@mjwitte I have looked at the issue for Helpdesk ticket 11450 that was noted above.  I do not see a problem with the cover being on/off for partial days in the test suite file.  I have

[2016-09-14 04:09] zhukovgreen commented on #4852
@RKstrand great, thank you.

[2016-09-14 11:31] RKStrand commented on #4852
@mjwitte Looking at this again, trying to figure out if there was anything in the docs that might be confusing and perhaps causing a user to not understand how evaporation rate might vary or not since I am not seeing what the issue the helpdesk question user is.  Having done that, I am seeing some mistakes in the engineering reference that must have been introduced with the various changes in docu

[2016-09-14 11:57] zhukovgreen commented on #4852
@RKStrand Hello Rick,
Am I understand the problem correctly if we have inside the room +30C, RH70 then we some evaporation rate A. if the partial water pressure is rising (for instance +30C, RH75), then the evaporation rate B should be smaller than A. Infact my screen shot shows opposite behaviour

[2016-09-14 12:18] RKStrand commented on #4852
@ZhukovGreen Yes, you are understanding the problem correctly.  As the partial water pressure rises, then the evaporation rate should be dropping based on what the model is supposed to be doing.  In looking at your file, the hourly data didn't really reveal a distinct pattern.  It wasn't until running your file through the debugger, increasing the frequency of the output to "detailed", and adding

[2016-09-14 12:40] zhukovgreen commented on #4852
@mjwitte It is clear now. Great!

[2016-09-15 03:50] mjwitte commented on #5626
Closed via #5834

[2016-09-15 03:50] #5626 closed, assigned to EnergyArchmage

[2016-09-15 14:36] JasonGlazer opened #5862 "RunPeriodControl:DaylightSavingTime not respected with UseWeatherFile in Day of Week for Start Day"
When UseWeatherFile is set for the Day of Week for Start Day in RunPeriod, the daylight savings time start and end date do not seem to correspond to the RunPeriodControl:DaylightSavingTime specifications.

Reported on helpdesk ticket #11549

Defect files in 5862 folder.
- [ ] Ticket added to Pivotal for defect (development team task)
- [ ] Pull request created (the pull request will have additiona

[2016-09-15 15:23] JasonGlazer opened #5863 "Invalid Severe with CoolingTower:TwoSpeed when low speed autocalculated"
For the CoolingTower:TwoSpeed, the error message:

   *\* Severe  *\* CoolingTower:TwoSpeed "COOLING TOWER". Free convection nominal capacity must be less than the low-speed nominal capacity.

Generated when

[code]

The calculated value for the low speed should be 50,000 which is greater than the free convection capacity entered of 10,000.

Defect file provided in DevSupport repo under 5863

This

[2016-09-15 18:30] mjwitte commented on #5805
Closed via #5859

[2016-09-15 18:30] #5805 closed, assigned to mitchute

[2016-09-15 21:23] shorowit commented on #4943
FYI, I'm finally getting around to testing this with our BEopt IDFs and it is super useful. Thanks again for implementing it, @EnergyArchmage.

[2016-09-16 13:03] mjwitte commented on #5497
Closed via #5852

[2016-09-16 13:03] #5497 closed, assigned to JasonGlazer

[2016-09-16 16:43] mjwitte commented on #5857
While looking at Refrigeration dataset files, the repo has two extra files which are not included in the install package.  Can these be deleted?
`RefrigerationCompressorCurvesNeedFix.idf` and `RefrigerationCompressorCurvesOK.idf`

[2016-09-16 17:34] JasonGlazer commented on #5857
Sorry, I don't know anything about those files.

[2016-09-16 22:29] mjwitte commented on #4393
Closed via #5850

[2016-09-16 22:29] #4393 closed

[2016-09-19 12:35] mjwitte commented on #5665
@EnergyArchmage Is there a defect file for this?

[2016-09-19 14:22] EnergyArchmage commented on #5665
No, sorry there isn't a defect file, just a unit test.  The large set of fixes that went in with https://github.com/NREL/EnergyPlus/pull/5751 corrected the problem that was generating null timestamps in the first place, now that they are gone this logic problem is hard to reproduce in a running file.  I considered rolling this small change into that PR but there was already a separate issue.

[2016-09-19 14:24] mjwitte commented on #5665
Got it

[2016-09-20 02:47] mjwitte commented on #5845
Closed via #5858

[2016-09-20 02:47] #5845 closed, assigned to nobody

[2016-09-20 02:48] mjwitte commented on #5665
Closed via #5829

[2016-09-20 02:48] #5665 closed, assigned to EnergyArchmage

[2016-09-20 13:39] mjwitte commented on #3478
Closed via #5810

[2016-09-20 13:39] #3478 closed

[2016-09-21 14:31] EnergyArchmage opened #5870 "EMS actuators for Zone Temperature Control not working"
## Issue overview

From code inspection, it appears that the implementation of EMS overrides for zone thermostat values is not correct.  The EMS overrides are currently in ZoneTempPredictorCorrector.cc routine InitZoneAirSetPoints, however it appears that they need to be in CalcZoneAirTempSetPoints because it will get called after int and will revert back to using the scheduled values.  Suggest EM

[2016-09-21 16:52] Myoldmopar opened #5871 "EP-Launch-Lite Followup after v8.6"
## Issue overview

Some things need to be followed up with on the new EP-Launch-Lite after 8.6 is out the door.
- [ ] Change Makefile or setup.py to output into the actual bin/EP-Launch-Lite folder so you don't have to manually move it
- [ ] Change translations, maybe entire project, to allow utf-8 for accented translations, and revise the translations
- [ ] Figure out install path issue

[2016-09-21 16:56] Myoldmopar commented on #5415
Closed via #5867

[2016-09-21 16:56] #5415 closed, assigned to nobody

[2016-09-21 16:57] Myoldmopar commented on #5427
Closed via #5867

[2016-09-21 16:57] #5427 closed, assigned to nobody

[2016-09-21 16:57] Myoldmopar commented on #5578
Closed via #5867

[2016-09-21 16:57] #5578 closed, assigned to nobody

[2016-09-21 17:56] #5039 closed, assigned to nmerket

[2016-09-21 19:28] Myoldmopar commented on #5753
Closed via #5869

[2016-09-21 19:28] #5753 closed, assigned to nobody

[2016-09-22 01:33] Myoldmopar commented on #5847
Fixed via #5864

[2016-09-22 01:33] #5847 closed, assigned to nobody

[2016-09-22 14:49] JasonGlazer opened #5873 "Update LCC to use 2016 NIST supplement"
Add life-cycle data set file for 2016 NIST 135 supplement

https://www.nist.gov/node/1099981

The supplement and the ENCOST16.TXT file are in DevSupport...\5873
### Checklist

Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
- [x] Defect file added (list location of defect file here)
- [ ] Ticket added to Pivotal for defect (development team task)
-

[2016-09-22 15:42] mjwitte commented on #4852
Closed via #5861

[2016-09-22 15:42] #4852 closed, assigned to RKStrand

[2016-09-22 15:44] Myoldmopar commented on #4633
Closed via #5794

[2016-09-22 15:44] #4633 closed

[2016-09-22 15:49] macumber opened #5874 "Error in IDD for ZoneHVAC:CoolingPanel:RadiantConvective:Water"
The IDD has this:

[code]

should be:

[code]

@Myoldmopar can we make this change for the release?

@kbenne FYI

[2016-09-22 15:51] mjwitte commented on #5874
This can get tacked onto #5872

[2016-09-22 15:58] Myoldmopar commented on #5874
OK, @macumber has **seemingly** confirmed this would be OK to drop in, since otherwise they'll have to implement a workaround.  So I concur, this should just drop in with a different PR.

[2016-09-22 17:00] macumber commented on #5874
Just tried this fix out in OpenStudio and it works, thanks!

[2016-09-22 17:00] macumber commented on #5874
OpenStudio commit, https://github.com/NREL/OpenStudio/commit/7c4e7cb6c1f4fe075d37b318bcf582d17811da84

[2016-09-22 17:06] Myoldmopar commented on #5242
Closed.

[2016-09-22 17:06] #5242 closed, assigned to Myoldmopar

[2016-09-22 17:15] #5793 closed, assigned to Myoldmopar

[2016-09-22 17:15] #5796 closed, assigned to Myoldmopar

[2016-09-22 17:16] Myoldmopar commented on #5820
Closed via #5875

[2016-09-22 17:16] #5820 closed, assigned to Myoldmopar

[2016-09-22 18:50] #5874 closed, assigned to nobody

[2016-09-22 19:57] mjwitte commented on #5728
Closed via #5866

[2016-09-22 19:58] #5728 closed, assigned to nobody

[2016-09-22 22:26] rongpengzhang opened #5878 "Processing of non-rectangular window surfaces"
## Issue overview

Current EnergyPlus prohibits building models with 4-sided but non-rectangular window or glassdoor surfaces. Such surfaces lead to severe errors in the surface pre-processing and the termination of the simulation.

[code]

This strict restriction is related with the calculation of Nusselt number  at window air gaps. We find that this restriction can be released by transforming th

[2016-09-23 14:39] Myoldmopar commented on #5635
@mjwitte So do you know if the rest of the calculations are performed appropriately?  If it's just the height out-of-range checks that are failing, I'll simply create a small temporary variable to hold this radial height.

If you know for sure that the other calculations are using the wrong height then I'd rather spend a little extra time to:
- Change the field name to `Axial Height`, which jives

[2016-09-23 15:21] mjwitte commented on #5635
@Myoldmopar I don't know for sure.  I didn't look any further than the offending error message and the usage of actual height.

[2016-09-23 15:44] JasonGlazer opened #5880 "Further align output variables for SplitFlux and DElight daylighting"
As part of the 8.6.0 enhancement to add more reference points to the daylighting:controls object, the DElight and SplitFlux input description was combined into a single set of objects. To try to make it as seamless as possible for current SplitFlux and DElight users:
- For SplitFlux the name of the Daylighting:Controls object is used as the key for all of "reference point" related output variables

[2016-09-23 17:04] Myoldmopar commented on #5825
Closed via #5826

[2016-09-23 17:04] #5825 closed, assigned to JasonGlazer

[2016-09-24 13:20] #5635 closed, assigned to Myoldmopar

[2016-09-24 13:23] Myoldmopar opened #5883 "Issues found during 8.6.0 Installer Testing"
A place to keep a checklist of things to do before callling 8.6.0 done
- [x] Update README
- [ ] Update EP-Launch trigger file
- [ ] Update energyplus.net
- [x] 1ZoneDataCenterCRAC_wPumpedDXCoolingCoil in San Fran results in a severe on fresh Win 8.1 VM
- [x] Documentation still says 8.5 and March 31, 2016

[2016-09-25 13:10] Myoldmopar commented on #5883
## Mac

# Installation
- Typical 'have to right click to open' approach
- Otherwise successful

# First tests - command line
- Verify version:

[code]
- Run a simulation with HVACTemplate:

[code]

# Other Tests
- Open EP-Launch-Lite
  - Shows version 0.0.0 in Spotlight -- may be a cache issue on my local machine
  - Changed to Spanish, ran different HVACTemplate file, success
- Documentation inst

[2016-09-25 14:30] Myoldmopar commented on #5883
## Linux

EnergyPlus itself worked well.  I tried to run IDFVersionUpdater, but ran into issues.  Went back to Mac install and had trouble there as well.  I may try to fix the issues, but then again, I may just spend another 2 or 3 days making my own IDFVersionUpdater tool like with EP-Launch-Lite, and release it separately after the release.  That's my current plan.  So this won't hold up the rel

[2016-09-26 12:24] JasonGlazer commented on #5883
Can you post an issue related to IDFVersionUpdater?

[2016-09-26 14:32] EnergyArchmage commented on #5883
I have been checking out the windows x64 version, on a polluted Win10 OS.  IDFVersionUpdater worked.
- [ ] minor, but is it too late to add an update of LCCusePriceEscalationDataSet2016.idf?   if this issue https://github.com/NREL/EnergyPlus/issues/5873 was ready.

[2016-09-26 14:48] JasonGlazer commented on #5883
@EnergyArchmage #5873 is not ready but could be if it is important for this release

[2016-09-26 14:50] mjwitte commented on #5883
Tested on Win10 with lots of other EnergyPlus version installed. Ran various example files (including params, HVACTemplate, basement, delight, ep-macro), ran transition, opened outputs, opened IDF Editor, IDF Version Updater (transitioned v8.2 5ZoneAirCooled to v8.6) - no problems found.
- [ ] One minor detail (which has been happening since v8.3) Under ExampleFiles, there is an empty "performance

[2016-09-26 15:31] JasonGlazer commented on #5883
I just ran IDFVersionUpdater on a Mac OS X Yosemite (10.10.5) and it transitioned files from 8.3, 8.4 and 8.5 just fine. @Myoldmopar could you describe what was failing?

Also EP-Launch-Lite does not seem to be launching. Could it be the PreProcess directory?

[2016-09-27 12:53] RKStrand opened #5884 "Repeated ControlCompOutput Max Iterations Exceeded for Rad/Conv HW Baseboard"
## Issue overview

When checking in the new simple chilled ceiling model, it was noted that the input files were resulting in over 30 ControlCompOutput errors for max iterations were exceeded for the annual run of the main simple chilled ceiling model.  The problem appears, however, to be completely unrelated to the chilled panel model though because when the panel is turned off the error messages

[2016-09-27 13:17] Myoldmopar commented on #5883
OK, I anticipate pushing the button today, hopefully this morning.
- @JasonGlazer do you want to push forward with the LCC 2016 data?
- @mjwitte I'll remove the performance folder
- @JasonGlazer  IDFVersionUpdater: It couldn't launch the app for some reason; I presume my machine configuration
- @JasonGlazer Does it show anything when your EP-Launch-Lite won't launch?  Launching **so** lite-ly you

[2016-09-27 13:26] mjwitte commented on #5883
@RKStrand Has a Mac, yes?

[2016-09-27 14:02] JasonGlazer commented on #5883
@Myoldmopar what is weird about EP-Launch-Lite is that the version I tested just the other day is working fine. But when I try the version with the installer, it shows up for a moment in the dock and then disappears. No window opens or anything. Did you change anything when you integrated it with EnergyPlus 8.6.0 installer?

[2016-09-27 14:04] Myoldmopar commented on #5883
I don't believe so, @JasonGlazer.  And directly launching the one from my 8.6 installer works fine.  Gremlins...

[2016-09-27 15:08] Myoldmopar commented on #5883
OK, I was able to reproduce the EP-Launch-Lite problem on a coworker machine.  I think I know the problem.  I'm updating that now.  I also have the performance folder removed, and the README updated.  Do you plan on doing the LCC 2016 change @JasonGlazer?  I hope to wrap this up before lunch.

[2016-09-27 15:21] JasonGlazer commented on #5883
I think I will wait until the next release on the LCC update.

[2016-09-27 15:38] Myoldmopar commented on #5883
Dumb.  OK, I found the EP-Launch-Lite problem.  The py2app application bundles up some blobs deep inside the .app/ folder, and some of those were being ignored by our .gitignore file, and so they weren't getting committed to the repo, and thus the program wouldn't run.  I was able to reproduce it locally, fixed it and it runs now.  I think we are done.  I am tagging develop right now as v8.6.0.

[2016-09-27 15:40] Myoldmopar commented on #5883
Hmm, just noticed the comments above about DataCenter failing and the documentation version numbers.  OK, almost there...

[2016-09-27 15:46] Myoldmopar commented on #5883
As for the data center file, it runs in Denver, and fails elsewhere due to the coil design conditions.  Error file is clear about this.  It won't hold the release.  File a ticket if necessary.

As for the documentation, I updated the date and version number and merged it in.  **NOW** I'm tagging develop as v8.6.0

[2016-09-27 15:46] #5883 closed, assigned to Myoldmopar

[2016-09-27 16:17] Myoldmopar opened #5887 "Trigger CI to build more package types"
It would be awesome if CI could go ahead and post the following package types:
- Windows 32-bit zip
- Windows 64-bit zip
- Darwin 64-bit bz2
- Linux 64-bit bz2

I think it's just a matter of CMake flags, need to test and see.

[2016-09-28 13:58] lgu1234 opened #5888 "AirflowNetworkSolver: L-U factorization error"
## Issue overview

[EnergyPlus !11564]: AFN Network LU Factorization Error

I have been trying to implement a detailed AFN with the VAV HVAC system. My system has two zones (in two levels), it is a Single Duct VAV system with reheat. The plan is to model the airflow network and the duct work in the distribution system on these zones as a starting point to creating a double skin façade model. I nee

[2016-09-28 13:58] Myoldmopar opened #5889 "IDFVersionUpdater issues"
IDFVersionUpdater has intermittent problems, and is written in a language that is difficult to maintain/improve for the broad team.  It should probably be rewritten in something else.

[2016-09-28 14:07] JasonGlazer commented on #5889
@Myoldmopar could you describe the problem more specifically? In the past, most of the issues have actually been from the various Transition programs being called.

[2016-09-28 14:07] Myoldmopar commented on #5889
It won't launch on my machine.

[2016-09-28 14:16] JasonGlazer commented on #5889
What OS?

[2016-09-28 14:21] Myoldmopar commented on #5889
Mac

[2016-09-28 14:24] JasonGlazer commented on #5889
What version? Is this the case with the 8.6.0 install?

[2016-09-28 14:28] Myoldmopar commented on #5889
I didn't test with the very final install candidate, but yeah during the initial testing of 8.6 I couldn't open it.  And since I don't have a RealBasic compiler, I wasn't going to spend my time investigating any fixes to that codebase.

[2016-09-28 17:32] mjwitte opened #5890 "ZoneHVAC:Baseboard:RadiantConvective:Electric user-specified and design sizes are reporting the same value"
## Issue overview

Sizing logic is broken in ZoneHVAC:Baseboard:RadiantConvective:Electric.  For sizing method = HeatingDesignCapacity (have not checked other methods), the reported values for Design Size and User-Specified capacity are the same.  In this test file, one baseboard is hard-sized at 1000W and the other is autosized.  Quick inspection of ElectricBaseboardRadiator::SizeElectricBaseboar

[2016-09-28 18:13] mjwitte opened #5891 "OA system controller list apparently requires the OA controller to come first followed by water coil controllers"
## Issue overview

This input

[code]

results in this error

[code]

Reversing the order of the controller list eliminates the error.  This needs to be trapped with a better error message during input processing for AirLoopHVAC:ControllerList, or automatically fix the order.
### Details

Some additional details for this issue (if relevant):
- Version of EnergyPlus 8.6.0
- helpdesk ticket 11515
##

[2016-09-29 16:26] mjwitte opened #5892 "Variable speed pump shuts off with non-zero minimum flow rate and continuous pump control"
## Issue overview

User noted that Pump:VariableSpeed does not run all the time even with a non-zero min flow rate and pump control type set to Continuous.  User defect file is based on 5ZoneWLHPPlantLoopTower.  Also reproduced the problem using the HW pump in 5ZoneAirCooled.
### Details

Some additional details for this issue (if relevant):
- Version of EnergyPlus 8.6.0 and 9.1.0
- helpdesk ticke

[2016-09-30 20:43] aaron-boranian opened #5894 "Lights object references discontinued Daylighting:DElight:Controls object in v8.6 IDD"
## Issue overview

In the IDD file for v8.6, the **Fraction Replaceable** input field of the **Lights** object has a note that references the **Daylighting:DElight:Controls** object, which is no longer available. Since this error is in a note, it's only a documentation error and doesn't affect usability.

[2016-10-03 12:08] JasonGlazer commented on #5894
@aaron-boranian good catch!

[2016-10-04 14:22] JasonGlazer opened #5895 "LEED Summary EAp2-4/5 Report Problems"
The tabular report table LEED Summary EAp2-4/5 has a number of issues that need to be resolved based on the test file:
- When both a normal Lights object and a ElectricEquipment with End-Use Subcategory set to Interior Lighting - process are in the same file, the calculation of the interior lighting is computed as the difference but this results in an incorrect negative value.
- When Industrial pr

[2016-10-04 17:07] mjwitte opened #5896 "Documentation Issues - October-December 2016"
- [x] For AirTerminal:SingleDuct:VAV:NoReheat. There is an inconsistency between v8.6 I/O ref (5 choices) and the IDD (3 choices) per the Zone Minimum Air Flow Input Method.  The IDD is correct and consistent with the source code.  This field description (and related fields that follow) should be identical to the same fields in AirTerminal:SingleDuct:VAV:Reheat - review both for accuracy.

[2016-10-04 17:13] tsnouidui opened #5897 "Command line interface does not update RunPeriods between runs."
@Myoldmopar @nealkruis

I found the following issue (?) when trying to use the command line interface of E+.
I am using EnergyPlus version 8.5 on Windows 10 64 bit.

I have an  IDF named `SmOffPSZ.idf` which I ran using the command line below:

`energyplus -w C:/EnergyPlusV8-5-0/WeatherData/USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw -p SmOffPSZ -s C -x -m -r SmOffPSZ.idf`

The run was successful

[2016-10-04 19:01] RKStrand opened #5898 "EP-Launch Lite not running ReadVarsESO for standard .ESO file"
## Issue overview

@nealkruis Edwin asked me to "ping" you on this, so that is why I am listing you here.  Is this a bug or a problem with my machine or something else?

In the V8.6 release for the Mac, I tried to run a simple input file from the test suite (1ZoneUncontrolled.idf) just to test out the new EP-Launch Lite app for the Mac.  E+ runs and produces a lot of output files include two .csv

[2016-10-04 20:25] RKStrand opened #5899 "EP-Launch Lite app does not close via the menu option"
## Issue overview

In EP-Launch Lite, when trying to quit the app via the menu, nothing happens.  The app will close when you click on the "red light" at the top left of the main window.
### Details

Some additional details for this issue (if relevant):
- Platform: Mac running OS X 10.11.6
- Version of EnergyPlus: V8.6
- Unmethours link or helpdesk ticket number: none
### Checklist

Add to this li

[2016-10-05 14:39] JasonGlazer opened #5900 "Add support for common directed graph outputs from HVAC Diagram"
The HVAC-Diagram program produces [directed graphs ](https://en.wikipedia.org/wiki/Directed_graph) but in a SVG format. Add the ability to output in a common directed graph output format such as:
- [DOT](https://en.wikipedia.org/wiki/DOT_%28graph_description_language%29)
- [Graph ML](https://en.wikipedia.org/wiki/GraphML)
- [DGML](https://en.wikipedia.org/wiki/DGML)
- [GXL](https://en.wikipedia.or

[2016-10-05 15:14] nealkruis commented on #5897
@tsnouidui are you sure you're editing the correct file? both ExpandObjects (`-x`) and EPMacro (`-m`) will create temporary IDFs that will be overwritten on subsequent runs.

[2016-10-05 15:18] tsnouidui commented on #5897
@nealkruis Did you try on Windows 10 to see if you can reproduce?

[2016-10-05 15:38] nealkruis commented on #5898
@RKStrand Is this related to the command line interface? Otherwise I have very little knowledge of EP-Launch Lite. @Myoldmopar?

[2016-10-05 15:45] Myoldmopar commented on #5898
EP Launch Lite is just calling EnergyPlus with `-r` and [other arguments](https://github.com/NREL/EnergyPlus/blob/198c6a3cffe4df717545e75a97f01510aa6a1875/third_party/EP-Launch-Lite/EPLaunchLite/EnergyPlusThread.py#L31-L40), so this felt isolated from anything EP-Launch-Lite related.

[2016-10-05 15:55] RKStrand commented on #5898
I wish I knew more about the command line, EP Launch Lite, and Mac app development in general but I basically ran the input file using the EP Launch Lite app and didn't get the standard output as a csv file.  I did get other csv files (meter and table).

[2016-10-05 16:57] nealkruis commented on #5898
ReadVars is running, it's just not finding the ESO file defined by the RVI file. The RVI files included in the example files directory are not compatible with the command line arguments used by EP Launch Lite. EnergyPlus sees the "1ZoneUncontrolled.rvi" file and so it doesn't attempt to create an RVI file automatically. The RVI file tells ReadVars to look for a file called "eplusout.eso", but Ener

[2016-10-05 19:37] #5712 closed, assigned to tsnouidui

[2016-10-05 20:39] mjwitte commented on #5623
@JasonGlazer Another user ran into this same issue, so I've upped the priority.  The defect file fails in EnergyPlus with a fatal error which then leads ConvertESOMTR to go into an infinite loop with the same message as indicated above.  This defect file has been added to the 5623 folder.

[2016-10-05 23:17] nealkruis commented on #5897
The [rename function](https://github.com/NREL/EnergyPlus/blob/198c6a3cffe4df717545e75a97f01510aa6a1875/src/EnergyPlus/FileSystem.cc#L273) on Windows does not allow files to be overwritten like it does for other operating systems. There is a bit on how to better handle this [here](http://stackoverflow.com/questions/11021639/overwriting-files-in-windows-by-renaming-randomly-fails).

We should also d

[2016-10-07 12:28] mjwitte commented on #5896
- [x] In the EMS Application Guide, the description for the "Window Shading Control" actuator does not state the actuator name directly in the text as the other actuator descriptions do.
- [x] In the EMS example "Example 6. Window Shade Control" idf listing, the actuator control type is "Window Shade Control" which should be "Window Shading Control".

[2016-10-07 14:26] mjwitte commented on #5896
- [x] Some of the advanced plant loop capacitance outputs are not documented in the I/O Ref.  The first two are there, but not the rest.

[code]

[2016-10-07 17:21] mjwitte commented on #5896
- [x] Add guidance about schedules in various places, including tips and tricks.  Something that makes the same point as this response regarding HVAC component schedules.

[2016-10-07 17:21] mjwitte commented on #5896
- [x] Add guidance in availability managers section(s) and tips and tricks like this.

[2016-10-07 19:37] JasonGlazer commented on #5672
@ecoeficiente do have a specific file that demonstrates this difference that I can use as a test file?

[2016-10-10 12:19] ecoeficiente commented on #5672
Sorry for the delay, I've missed this among all Github emails I get... I got that in different LEED models which are quite big and not adequate for your tests.
I've randomly picked a file from the examples: _5ZoneBoilerOutsideAirReset.idf_, changing it to annual simulation and I get 9389.21W for space cooling electric demand in EAp2-4/5. That value matches _Demand End Use Components Summary_ Repor

[2016-10-10 17:17] JasonGlazer commented on #5672
@ecoeficiente I am not getting those numbers, what weather file are you using?

[2016-10-10 20:22] JasonGlazer commented on #5896
- [x]  Add some guidance on how the ASHWAT (EquivalentLayers) can be used with the Daylighting:Controls objects (or explicitly state that it cannot).

[2016-10-11 05:18] ecoeficiente commented on #5672
Yes, sorry. https://energyplus.net/weather-location/europe_wmo_region_6/ESP//ESP_Barcelona.081810_IWEC

[2016-10-11 13:48] JasonGlazer commented on #5672
@ecoeficiente I cannot reproduce your numbers exactly with that file but I get in the EAp2-4/5. Performance Rating Method Compliance table for Space Cooling electric demand of 9319.11 and in the Energy Meters report in the Annual and Peak Values - Cooling a value of 31257.40 for all three "PlantLoop" numbers. I am not sure how these are inconsistent. I think you might be talking about the value in

[2016-10-11 15:00] MatthewSteen commented on #5672
I'm actually seeing table EAp2-4/5 report the _minimum_ demand (relative to the building as in #5559) from the BUILDING ENERGY PERFORMANCE - ELECTRICITY PEAK DEMAND table. This appears to just be affecting the Interior Lighting end use.

[2016-10-11 15:53] JasonGlazer commented on #5672
@MatthewSteen I have not heard that the EAp2-4/5 is reporting minimum demands before. I don't see a specific building associated with #5559. What input file is showing that?

[2016-10-11 16:30] MatthewSteen commented on #5672
@JasonGlazer I have two 8.5 models that show this. The issue in #5559 and [#4588](https://github.com/NREL/EnergyPlus/issues/4588#issuecomment-72663433) is that the LEED table reports the peak demand for each end use at the building peak from the `BUILDING ENERGY PERFORMANCE - ELECTRICITY PEAK DEMAND` table not the peak for that end use from the `Energy Meters` report, which is what USGBC is loolin

[2016-10-11 16:36] JasonGlazer commented on #5672
That is weird. Would you please email me the files?

[2016-10-12 09:26] xwanguk commented on #4643
The frame's U-value of 11 W/m2K will give total thermal resistance of 0.091 m2K/W. Back to EnergyArchmage's concerns, all standard total surface resistance (interior plus exterior) would normally be around 0.15, such as ASHRAE 90.1 0.12+0.03=0.15 and CIBESE 0.13+0.04=0.17. This may defer in different  countries, however 0.091 would still be very hard to achieve. In other words, it is difficult for

[2016-10-12 09:59] xwanguk commented on #4643
Oh, yes, metal frame, aluminium for example, with 3D fins can have enhanced thermal coefficient, which leads to a much smaller exterior surface resistance, therefore 11 W/m2K could be possible.

[2016-10-12 13:42] mjwitte opened #5903 "EMS Actuator for Window Shading Control can cause crash if status set to "blind on" but there are no blinds"
## Issue overview

User file crashes becaseu EMS actuator for Window Shading Control is setting the control status to 6 "Interior blind on" but there are no blinds in the file.  The crash occurs [here](https://github.com/NREL/EnergyPlus/blob/198c6a3cffe4df717545e75a97f01510aa6a1875/src/EnergyPlus/HeatBalanceSurfaceManager.cc#L3198), because it's trying to pass Blind(0).IRBackTrans.  Need some prot

[2016-10-12 15:02] mjwitte opened #5904 "CentralHeatPumpSystem problems"
## Issue overview

User notes that example file CentralChillerHeaterSystem_Simultaneous_Cooling_Heating does not seem to be working.  Reviewing this file, and the companion CentralChillerHeaterSystem_Cooling_Heating, there are some problems:
1. The heat transfer from the ground heat exchanger is always negative.
2. The ground heat exchanger is only operating when the central heat pump system is in

[2016-10-12 16:12] mjwitte opened #5905 "ZoneHVAC:LowTemperatureRadiant:VariableFlow array bounds error"
## Issue overview

While debugging for a different issue, this use file tripped on an array bounds error in the ZoneHVAC:LowTemperatureRadiant:VariableFlow model.  The first radiant system is heating-only, and `HydrRadSys( RadSysNum ).CoolingSystem=false` as it should, but it's getting to [this block](https://github.com/NREL/EnergyPlus/blob/198c6a3cffe4df717545e75a97f01510aa6a1875/src/EnergyPlus/L

[2016-10-12 19:50] mjwitte opened #5906 "Adaptive convection resulting in extremely low zone temperature which causes fatal error"
## Issue overview

This user file fails due to a very cold zone air temperature.

[code]

Running this in the debugger shows that the error is in  in zone 10 (ZoneWest) and the cold temperature is calculated in ZoneTempPredictorCorrector::CorrectZoneAirTemp

[code]

At the time of the error:
TempDepCoef = 0
TempIndCoef = -395
SumHATsurf = 6481
SumHATref = 6876
and all the other terms above are zer

[2016-10-13 15:49] EnergyArchmage opened #5907 "Hard crash in output processor"
## Issue overview

User file crashes in version 8.6.  Variable RepFreq is being used without being initialized in line 5301 of OutputProcessor.cc.

The if statement at line 5172 needs an else statement to set RepFreq, similiar to as is done at line 5437 in overloaded function.

Work around is to request output variable reporting of Fan Electric Energy, so that the else conditionals run at line 530

[2016-10-17 15:48] mjwitte commented on #5906
_Additional information from the user:_

the following observation might help to identify the deeper root(s) of
the problem:

If the simulation is still run with

SurfaceConvectionAlgorithm:Inside=AdaptiveConvectionAlgorithm,

but with the ZoneCrossMixing Shutoff-options deactivated, i.e.

DeltaTemperature=0
optional (shutoff condition) schedules deleted,

then the simulation also runs without fat

[2016-10-17 16:09] mjwitte opened #5908 "ZoneHVAC:IdeaLoadsAirSystem zone load outputs not consistent with more general system outputs"
## Issue overview

These outputs should always be the same, but they are not:
Ideal Loads Zone Sensible Cooling Rate
Zone Air Heat Balance System Air Transfer Rate
Zone Air System Sensible Cooling Rate

Example results from the defect file.
![image](https://cloud.githubusercontent.com/assets/4991075/19445499/2073031a-945a-11e6-95c9-b86f2692f768.png)
### Details

Some additional details for this is

[2016-10-17 21:36] mjwitte opened #5910 "Chiller:Absorption hot water flow problems"
## Issue overview

User notes that Chiller:Absorption hot water source flow is always at max, even though the HW loop has variable flow pumps and the chiller flow mode is NotModulated.  This results in the source HW loop overheating late in the cooling season as the pump heat exceeds the heat requirement from the absorption chiller.

I tried a test of with the chiller flow mode changed to LeavingS

[2016-10-18 13:57] JasonGlazer opened #5911 "Add error message when "hoursshown" aggregation is used in first column of Output:Table:Annual and Output:Table:Monthly"
When the advanced aggregation types are used in Output:Table:Monthly or Output:Table:Annual as the first column, an error message should be generated saying that the table results are invalid. The advanced aggregation types depend on a previous column being either Maximum, Minimum, or Hours---. The advanced aggregation types are ValueWhenMaximumOrMinimum, SumOrAverageDuringHoursShown, MaximumDurin

[2016-10-18 14:14] JasonGlazer opened #5912 "Output:Table:Annual using schedule not showing name of schedule in column heading"
When a variable of an Output:Table:Annual is set to a schedule name the column shows "Site Outdoor Air Humidity Ratio" (at least for the test file) instead of the name of the schedule in the column header.

[code]

results in:

![capture3](https://cloud.githubusercontent.com/assets/2582150/19481535/e4f51ebc-9513-11e6-8351-1433e4550a8d.PNG)
### Checklist

Add to this list or remove from it as appli

[2016-10-19 01:03] rraustad commented on #5896
- [x] In Engineering Reference V8.5 the Fan Coil Sizing section on pg 553 is poorly written. For example, cold water volume flow rate is notated at Vmax,hw. Also, equation variables are not well defined.

[2016-10-19 13:52] mjwitte commented on #4989
User reports that the changes in #5879 still have some issues:

Made the following changes to use the new Night Cycle Availability Manager.
1.      Using the “CycleOnAnyCoolingOrHeatingZone” control type option.
2.      Put all zones in to the zone list “CoolingZones”.
3.      Put VAV reheat terminal zones to the zone list “Heating Zones”
4.      Put all PIU zones into the “Heating Fan Only Zones”

[2016-10-19 14:21] mjwitte commented on #5896
- [x] I/O Ref AvailabilityManager:NightCycle, inputs section, the formatting on Field subheadings is wrong for all of the fields.

[2016-10-19 14:37] mjwitte commented on #4989
Issue 2 above can be seen in the defect file output for time  01/06  04:40:00, Space 2-1 falls below setpoint and then in the next timestep all of the zone fans turn on.  The other zones have baseboard heat which keeps them at setpoint.  Space 2-1 has undersized baseboard.  For this to work, however, the baseboard needs to run first for heating, otherwise the PIU will think it should be serving th

[2016-10-19 18:49] rongpengzhang opened #5913 "VRF heating coil sizing improvement"
## Issue overview

In the VRF sizing, the heating coil capacity is determined using the cooling load. Although the cooling coil and heating coil are actually one coil in the real VRF system, the current approach should be improved given that 1) heating capacity may be slightly larger than cooling capacity, and 2) heating capacity will be undersized for heating-dominated climates. Solution can be s

[2016-10-21 15:51] mjwitte opened #5914 "EP-Launch Help menu does not work for all of the docs"
## Issue overview

EP-Launch Help does not work for:
Application Guide for EMS
Using EnergyPlus for Compliance
External Interface Application Guide
Tips and Tricks Using Energyplus
### Details

Some additional details for this issue (if relevant):
- Platform Win64, Windows 10 Home, Version 1607, OS Build 14393.321
- Version of EnergyPlus 8.6.0
### Checklist

Add to this list or remove from it as a

[2016-10-21 16:21] mjwitte commented on #5903
And it can also cause NAN errors if the shading control is set up as exterior blind and the actuator tries to deploy an interior blind.  Seems like the shading control needs to validate any EMS signals to be sure they are compatible with the specified shading material/type/construction.

New defect file added from helpdesk ticket 11605.

[2016-10-24 16:32] vsotofrances opened #5915 "Add an Air-To-Water Heat Pump"
## Issue overview

In Spain a common facility is made up of: fan-coils (two-pipes) connected to an AirToWater heat pump (AWHP).
In the templates there are chillers and boilers but there are no AWHP and it would be very interesting to have this type plant available.
### Answer
- Is it possible to develop such template with the existing atomic elements of EnergyPlus?
- Or, is it already available? (

[2016-10-24 17:06] mjwitte commented on #5915
@vsotofrances There is no model (yet) in EnergyPlus for an air-to-water central heat pump.  There is a [new feature request](https://energyplus.uservoice.com/forums/258860-energyplus/suggestions/13658316-air-source-central-plant-electric-or-gas-engine-dr) for this type of equipment.

[2016-10-24 23:36] nealkruis opened #5916 "EnergyPlus should use "AnalyticalSolution" as the default ZoneAirHeatBalanceAlgorithm"
## Issue overview

The analytical solution has no truncation error (i.e. heat imbalance), and is a better general solution. I don't imagine it has a noticable impact on runtime, but that remains to be tested at various scales.
### Details

Some additional details for this issue (if relevant):
- All OSs
- EnergyPlus 8.6 (and previous)
### Checklist

Add to this list or remove from it as applicable.

[2016-10-25 10:31] jmarrec commented on #5285
This just popped up again today ([here](https://unmethours.com/question/20771/which-model-simulates-better-the-performance-of-photovoltaic-panels-the-sandia-or-one-diode-model/?answer=20792#post-id-20792)): can we get this clarified?

[2016-10-25 13:43] EnergyArchmage commented on #5916
I support making this change.  I recall investigating this issue when developing the orginal DOE reference building models and we do use AnalyticalSolution in those models.

I believe the initial reluctance to change the default came from worry about EXP() overflow/underflow crashes (which has happened in other places).  But the method has been robust and I have never seen an EXP problem come up t

[2016-10-25 14:20] mjwitte commented on #5285
@EnergyArchmage ?

[2016-10-25 14:49] EnergyArchmage commented on #5285
I don't know what CEC is doing, need a CA person who is up to speed on that program.  I suspect it is all the same trnsys model but I cannot confirm.  Need a trnsys person to figure thisout.

IMHO the one-diode implementation in E+ needs to be completely redone, but that has never been funded.

[2016-10-26 14:52] nealkruis commented on #5285
CEC is now using a modified version of the PV Watts algorithms. They have since moved on from the Beckman approach used in the original model. The Beckman approach is a variation of the 4-parameter model which is used in the one-diode implementation.

[2016-10-26 17:08] ejhw opened #5917 "AirLoopHVAC:UnitaryHeatCool: "Heating Supply Air Flow Rate {m3/s}" not used correctly"
## Issue overview

In the `AirLoopHVAC:UnitaryHeatCool` object, it appears that the `Heating Supply Air Flow Rate {m3/s}` field is not being used; the simulation air flow rate in heating mode is ~2.5x too large (and is larger than the cooling flow rate). Seen in a BEopt-generated idf and reproduced in the RefBldgStripMallNew2004_Chicago.idf example file after switching from autosized to user input

[2016-10-27 18:48] rraustad opened #5919 "Coil:Heating:WaterToAirHeatPump:EquationFit shows very low/high outlet temperature"
## Issue overview

User file shows very low and high outlet water temperature for WAHP.
Help desk ticket 1633.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating system, version)
- Version of EnergyPlus (if using an intermediate build, include SHA)
- Unmethours link or helpdesk ticket number
### Checklist

Add to this list or remove from it as applicable.  Thi

[2016-10-27 18:57] rraustad commented on #5919
Things look to be calculated correctly inside the cooling and heating functions. The water temperature and enthalpy difference are used to calculate the outlet conditions. In this case, the water temp is calculated correctly yet the enthalpy is negative. Interestingly, the inlet water temperature is 25C and enthalpy is 19,700 J/kg. At 25C, the water enthalpy should be 104,860 J/kg.

Here Qsource_f

[2016-10-31 13:20] rraustad opened #5922 "Output:Variable,*,Facility Total HVAC Electric Demand Power does not show in the rdd"
Issue overview
--------------
User file does not provide a report variable for HVAC electric demand even though an Output:Meter,Electricity:Facility exists in the input file. Adding ElectricLoadCenter:Distribution and associated objects allows the report variable to show in the rdd.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Versio

[2016-10-31 13:33] rraustad commented on #5922
Thread from help desk:

This file does run in V8.6. Still no output report for "Facility Total HVAC Electric Demand Power".

 The code gets here:

 int anyElectricityPresent = GetMeterIndex( "ELECTRICITY:FACILITY" );
 if ( anyElectricityPresent > 0 ) {
 elecLoadCenterObjs.emplace_back( new ElectPowerLoadCenter ( 0 ) );
 numLoadCenters_ = 1;
 }

 and returns 0 for anyElectricyPresent, so no report

[2016-10-31 14:45] eringold commented on #5922
Thanks @rraustad!

I'll add that the confusion stemmed from the [Whole Facility Electric Service](http://bigladdersoftware.com/epx/docs/8-5/engineering-reference/whole-facility-electric-service.html) documentation page which states

 The model in question represents a central utility plant with chillers, pumps and cooling towers and LoadProfile:Plant objects, but no zones or other electric load eq

[2016-10-31 14:49] EnergyArchmage commented on #5922
I suspect it is a calling order problem, not all the equipment that might use electricity has been setup yet.  The electric load center gets called before plant.

[2016-11-01 13:24] lklawrie commented on #5922
Did you get my message that this variable shows up in the .rdd until
V8.1 with the given idf?

Linda

On 10/31/2016 7:33 AM, Richard Raustad wrote:

[2016-11-01 18:25] ejhw commented on #5913
From a residential equipment perspective, it would be nice to have some flexibility in the sizing approach. I agree that being able to size VRFs based on heating load would be a good option to have. However, it would be nice to retain the current approach because ACCA Manual S specifies that heat pumps are sized based on cooling load (with up to 30% oversizing allowed for variable speed heat pumps

[2016-11-01 20:19] rraustad opened #5925 "VRF terminal unit shows max iterations exceeded when no cooling/heating flow rate = 0 and constant fan mode is used"
Issue overview
--------------
User file shows PLR calculation fails with bad PLR limits. This is a result of using 0 for the no cooling/heating supply air flow rate when using constant fan operating mode. When the model calculates the coil off capacity it was using 0 as the supply air flow rate when in fact, a non-zero value should have been used.

### Details
Some additional details for this issu

[2016-11-02 15:00] EnergyArchmage opened #5926 "Transition problem with AirTerminal:SingleDuct:ParallelPIU:Reheat, 8.4 to 8.5"
Issue overview
--------------
Transitioning defect file from 8.3 to 8.6 fails.  The AirTerminal:SingleDuct:ParallelPIU:Reheat objects get stripped out.  May only affect electric reheat coils, there are only HW coils in test suite.

The field called Reheat Coil Name in gets quietly lost from 8.4 to 8.5.

then from 8.5 to 8.6 transition flags missing require field and removes the objects with messag

[2016-11-02 15:23] mjwitte commented on #5926
Probably doesn't have anything to do with min-fields or required-fields.  Many of these terminal units had a transition rule for 8.4 to 8.5 to remove excess node name fields.  [Transition rule](https://github.com/NREL/EnergyPlus/blob/198c6a3cffe4df717545e75a97f01510aa6a1875/src/Transition/CreateNewIDFUsingRulesV8_5_0.f90#L820-L825) looks OK, odd.

[2016-11-02 15:57] asparke2 opened #5927 "EMS errors not reported in sql file"
Issue overview
--------------
Updated the DOE Prototype Buildings from 8.0 to 8.6 and ran them.  Queried the .sql file to determine the status of the simulation along with any errors.  Noticed that some simulations failed with no errors.  Looked in the .err file and saw errors.  They appear to be newly trapped EMS errors.

### Details
Some additional details for this issue (if relevant):
 - Window

[2016-11-02 22:04] EnergyArchmage commented on #5926
This object, with electric reheat coil, starts out with only 14 arguments in 8.4, nothing changes.  So why decrement CurArgs, here
https://github.com/NREL/EnergyPlus/blob/198c6a3cffe4df717545e75a97f01510aa6a1875/src/Transition/CreateNewIDFUsingRulesV8_5_0.f90#L825

[2016-11-07 17:56] mjwitte opened #5932 "Ecoroof Material:RoofVegetation fails with NANs if the input value for initial moisture is greater than max moisture"
Issue overview
--------------
User file fails with this error.
[code]

This was one of a series of parametric runs looking at varying inputs for `Material:RoofVegetation`.  Comparing other cases that ran successfully revealed that the problem case had these inputs:
[code]

Notice how the initial moisture content has been set greater than the max moisure content.  The init routine should catch this

[2016-11-09 16:10] EnergyArchmage opened #5934 "DX Coil Rated Inlet Air Humidity Ratio value is not consistent"
Issue overview
--------------

DX cooling coil performance curve input definitions are based on coil inlet wet bulb of 67F/19.44C wetbulb.  Inside the code, the DX model uses RatedInletAirHumRat instead of RatedInletWetBulbTemp.  However from inspection it does not appear that a value of w = 0.01125 is consistent with the two temperatures of drybulb = 26.6667C and wetbulb = 19.44C

	Real64 const R

[2016-11-09 16:22] asparke2 opened #5935 "Incorrect Zone column content in Lighting Summary - Daylighting HTML table"
Issue overview
--------------
In the HTML file of models with daylighting controls, the Lighting Summary - Daylighting table has a column labeled `Zone`, but this column contains the name of the `Daylighting:Controls` object instead.  Rather than changing the heading, it would be preferable to change the contents to actually be the `Zone` names.

Here's an example from the HTML file:

![image](htt

[2016-11-09 16:25] JasonGlazer commented on #5935
Thanks for catching this @asparke2

[2016-11-11 16:42] mjwitte commented on #5896
- [x] I/O Ref, WindowMaterial:Shade, numeric fields 5 and 6 in the IDD are:

  N5 , \field Infrared Hemispherical Emissivity
  N6 , \field Infrared Transmittance

In the I/O Ref, the names are _Thermal_ Hemispherical Emissivity and _Thermal_ Transmittance.  Not sure which name is batter (check other similar fields) but they should be the same, of course.

Nigusse added:
Changed "Infrared" to "Ther

[2016-11-11 18:01] mjwitte opened #5936 "Fatal plant loop temperature error appears to originate in some water to air heat pumps in the very first warmup timestep"
Issue overview
--------------
User file which ran to completion in v8.5, fails in v8.6 with a fatal error right at the first timestep during warmup:
[code]

Running this in the debugger shows that these two nodes are also >3000C, so these heat pumps are likely the source of the problem:
[code]

### Workaround
Set the "Maximum Loop Temperature" to say 3000C for "Condenser Water Loop", then the fata

[2016-11-11 18:39] mjwitte commented on #5133
Also, reference helpdesk ticket 11693 trying to implement SZVAV in an airloop.  Need this and a new SetpointManager:Coldest:TemperatureFlow object.  Interesting to note that apparently there used to be one of these but it was removed in 2007 per comments in #1621.

[2016-11-12 12:45] KWSL commented on #5936
I understand that changes were made to the variable water flow algorithm for water to air heat pumps for version 8.6. As the person who originally wrote the variable water flow algorithm, I remember having similar issues with my original code. The current variable flow algorithm is probably allowing very, very low water flow rates, which in turn result in high temperatures.

What is the maximum te

[2016-11-14 13:41] mjwitte commented on #5896
- [x] Per JH bldg-sim post on 11/11/2016 - As the co-author of the Zhang-Huang Model, I can say that the information in your first sentence is garbled.  The ZHM calculates the global horizontal radiation based on various climatic parameters, i.e., cloud cover, temperature change over 3 hours, wind speed, etc.  It is NOT used to derive the direct/diffuse split, so I don't understand how that has go

[2016-11-15 13:14] JasonGlazer commented on #5423
@Myoldmopar this one was still assigned to me but since I cannot update the Extras web page so I just removed my name from the assignment. The link on the [Extras](https://energyplus.net/extras) web page to the help desk from "Additional Release Components" does have links to the DOE2Translator, the BLAST translator and if you click the link on "release pieces" you get to the ParametricSpreadsheet

[2016-11-15 17:28] mjwitte opened #5939 "Refrigeration:AirChiller output and connection issues"
Issue overview
--------------
User was puzzled by lack of output for some Refrigeration:AirChiller objects.  There are several problems here that need to be fixed:

- [ ] There are two sets of similar but different output variables with the same name "Refrigeration Zone Air Chiller Total Cooling Rate" (and other related variables.

Under "Additional Refrigeration Outputs Available for Each Zone" s

[2016-11-15 17:45] mjwitte commented on #4714
Related to #4153.  Also, Site:Preciptation feed the ecoroof, rainfall in the epw file does not.  Ref. helpdesk ticket 11702.

[2016-11-16 15:05] mjwitte opened #5941 "Standardize fuel types and remove hidden synonyms"
Issue overview
--------------
Prompted by the discussion of Propane vs PropaneGas as a fuel type in #5940, searches of the code and IDD show that there are some variations in the list of valid fuel types/resource types in the IDD, input processing functions and the documentation.  This should be cleaned up to a single standard list.

*The following are adressed in #7523.*
1. Standardize on a singl

[2016-11-16 15:28] macumber commented on #5941
If this is a standardization effort should we get rid of '#' characters?

[2016-11-16 15:35] mjwitte commented on #5941
@macumber We could.  I think it started that way because fuel oils are commonly referred to as No. 1 Fuel Oil and No. 2 Fuel Oil.  But I don't have a strong opinion on this.  Does look a bit strange to have # in those keys and not in OtherFuel1/2.

[2016-11-16 15:41] nmerket commented on #5941
I'd prefer using just "Propane" instead of "PropaneGas".

[2016-11-21 13:42] FarhangTahmasebi opened #5944 "Daylighting:Control not working with default values for extra reference points"
In EnergyPlus 8.6 there are 10 reference points available in Daylighting:Control object. But if one enters 1 or 2 of them and leave the rest set to default values (implying that the modeler is not interested in using them), the simulation runs faces severe errors due to the invalid name of the rest of reference points.

I could solve this problem by removing all values of the remaining fields in t

[2016-11-21 14:23] JasonGlazer commented on #5944
@FarhangTahmasebi I think I know what you are describing but a test file that shows the problem would be great. Could you send me one at jglazer at gard dot com

[2016-11-21 14:43] JasonGlazer commented on #5944
The test file is located in the devsupport repo [here](https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5944).

[2016-11-23 01:48] mjwitte commented on #5878
Closed via #5920

[2016-11-23 01:48] #5878 closed, assigned to rongpengzhang

[2016-11-28 10:01] FarhangTahmasebi opened #5948 "Adaptive comfort model fatal for irrelevant blank fields"
Adaptive comfort models in the People class do not use mean radiant temperature, work efficiency, clothing, and air velocity as input. Therefore, if a modeler wants to only use this type of comfort models (ASHRAE55, CEN15251), there is no need in principle to fill the aforementioned fields. But EnergyPlus crashes because of these blank fields. In my view, checking the blank fields in the People ob

[2016-11-28 10:24] FarhangTahmasebi opened #5949 "Not possible to get incident solar radiation on shading:building surface"
In EnergyPlus 8.6.0 the output:variable 'Surface Outside Face Incident Solar Radiation Rate per Area' does not work for building shading surfaces (while it was working for example in EP 8.1.0).

It is quite important to obtain this output because it is common to use shading surfaces to model PV panels and solar collectors, and one needs to evaluate the potential in terms of incident solar radiatio

[2016-11-28 15:39] JasonGlazer opened #5950 "Update energyplus.net/downloads to reference Windows 10"
Update the web page to reference Windows 10 as well as Windows 7 and 8:

https://energyplus.net/downloads

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list location of defect file here)
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull request will have

[2016-12-01 03:16] mjwitte commented on #5623
Closed via #5902

[2016-12-01 03:16] #5623 closed, assigned to JasonGlazer

[2016-12-01 03:21] mjwitte commented on #5118
Closed via #5942

[2016-12-01 03:21] #5118 closed, assigned to JasonGlazer

[2016-12-02 00:11] chriswmackey commented on #4839
I don't have too much to offer in terms of a solution but I just wanted to say how incredibly lovely it would be to have this capability.  This has been at the top of my E+ wish list for a few years now and even an option that exported the E+ solar calc to Radiance would be immensely helpful.  Perhaps a Radiance export is more of a possibility now that most E+ interfaces (including OpenStudio) ins

[2016-12-02 15:30] mjwitte commented on #5914
Closed via #5937

[2016-12-02 15:30] #5914 closed, assigned to JasonGlazer

[2016-12-03 21:08] rraustad commented on #5697
This code increases OA fraction a little:

line 4104 of MixedAir.cc on first non-warmup day iteration using Chicago weather.

	if ( std::abs( this->RetTemp - this->InletTemp ) > SmallTempDiff ) {
		OutAirSignal = ( this->RetTemp - this->MixSetTemp ) / ( this->RetTemp - this->InletTemp );

RetTemp = 20.51
InletTemp = -6.77 (heating coil is obviously on since OA = -17C)
MixSetTemp = 17.42
IF test is

[2016-12-03 21:44] rraustad commented on #5697
In this file there is a heating coil sitting at the inlet to the OA mixer.

    AirLoopHVAC:OutdoorAirSystem:EquipmentList,
      AirLoopHVACOutdoorAirSystem_{00100} Equipment List,  !- Name
      Coil:Heating:Electric,   !- Component 2 Object Type
      ALT6 - Floor 1_ElecCoil_Preheat_{00119},  !- Component 2 Name
      OutdoorAir:Mixer,        !- Component 1 Object Type
      AirLoopHVACOutdoorA

[2016-12-06 02:52] rraustad commented on #5697
Revising the iteration method to simulate the OA components corrects the problem. Here are the results of the defect file including the OA heating coil upstream of the OA mixer. I've got to clean this up before uploading the revised code.

![5697-fixed](https://cloud.githubusercontent.com/assets/5778156/20911286/fa8159ca-bb34-11e6-8e2b-0738b7a0ccd0.png)

[2016-12-06 14:57] JasonGlazer commented on #5896
- [x] Add all the native variables related to time of use to the list under UtilityCost:Tariff under the Time Of Use Period Schedule Name. See the list of all native variables in any Tariff report in the tabular output. For example "PeakAndShoulderEnergy" is missing along with many others.

[2016-12-06 17:49] mjwitte commented on #5896
- [x] In the IDD, for AirTerminal:SingleDuct:VAV:NoReheat and AirTerminal:SingleDuct:VAV:Reheat, the min flow fraction and min flow rate fields became autosizeable in #5646 but there are no IDD notes to explain how it will be sized.  A condensed version of this would be useful  (from the I/O Ref):
This field is autosizable and defaulted to autosize. The values for autosizing are picked up from
the

[2016-12-06 21:31] JasonGlazer opened #5956 "Report VAV minimum volume setpoint"
In ASHRAE 90.1-2007, Section G3.1.3.13 VAV Minimum Flow Setpoints states that "Minimum volume setpoint for VAV reheat boxes shall be 0.4 cfm/ft2 of floor area served the minimum ventilation rate, whichever is larger." Add a table to the LEED Summary that shows the actual minimum flow setpoint in volume per floor area served.

### Checklist
Add to this list or remove from it as applicable.  This is

[2016-12-06 21:34] mjwitte commented on #5956
And the min ventilation requirement in the same table?

[2016-12-07 11:28] xwanguk commented on #5895
I just found that using Lights object instead of ElectricEquipment object for "Interior Lighting - process" the interior lighting offset problem will not exist. This has been tested and confirmed by using both E+ 8.5.0 and 8.6.0.

[2016-12-08 00:13] rraustad opened #5958 "Crash when ZoneHVAC:LowTemperatureRadiant:Electric and ZoneHVAC:LowTemperatureRadiant:SurfaceGroup are not listed 1-N in input file"
Issue overview
--------------
User file crashes with zone surface not corresponding to electric radiant system when surface group objects do not correspond to the radiant system object in the same order.
Workaround: list electric radiant system 1-N in input file and also list corresponding SurfaceGroup objects also 1 - N.

Issue #4303 discusses documentation issues with electric rad heater.

### D

[2016-12-08 00:25] rraustad commented on #5958
Incorrect indexing of elec rad heater and surface group list.

should be: for ( SurfNum = 1; SurfNum <= SurfList( SurfListNum ).NumOfSurfaces; ++SurfNum ) {

![ticket11795](https://cloud.githubusercontent.com/assets/5778156/20992552/bfdd87ce-bcb2-11e6-8602-89740c9ac78d.jpg)

[2016-12-08 01:06] abdelaha opened #5959 "Issue with veiwing dxf file using EPDrawGUI"
Issue overview
--------------
I just installed EnergyPlus V8-6-0 on windows 7 64x. I started to follow the simple example (Example 1A) in gettingstarting PDF (Tutorial Example for running EnergyPlus). The simulation run successfully with no warning, errors, or fatal errors; However, I get an Error when I try to open the drawing DXF file. This error is ("File not found Example1A.dxf).
The simulatio

[2016-12-08 04:14] rraustad commented on #4303
Documentation updated with #5958.

[2016-12-09 00:53] mjwitte commented on #5959
EPDrawGUI opens idf files and generates a dxf.  You need to install software which can open dxf files.  There are several free dxf viewers available, just search for them.  Once installed, you will need to tell EP-Launch what program to use to open dxf files.  In EP-Launch go to View --> Options --> Drawing Viewer and press the "autofind" button.

[2016-12-09 00:53] #5959 closed, assigned to nobody

[2016-12-10 03:00] rraustad commented on #5936
The model expects to see design water flow rate and requests that value in Init. The plant chokes the flow from 0.9 kg/s to 0.001 kg/s and causes a very high outlet water temp.

    SimpleWatertoAirHP( HPNum ).WaterMassFlowRate = SimpleWatertoAirHP( HPNum ).DesignWaterMassFlowRate;
    SetComponentFlowRate( SimpleWatertoAirHP( HPNum ).WaterMassFlowRate, ....;

So the model expects to be using desi

[2016-12-12 02:48] borismbravo opened #5961 "AirTerminal: SingleDuct:VAV:Reheat air flow varying during heating operation"
Issue overview

[LargeOffice.txt](https://github.com/NREL/EnergyPlus/files/645031/LargeOffice.txt)

--------------
The AirTerminal: SingleDuct:VAV:Reheat (normal control)  air flow is varying during heating operation.
Upon eplus documentation: "For the case of AirTerminal:SingleDuct:VAV:NoReheat and AirTerminal:
SingleDuct:VAV:Reheat, **air flow only varies during cooling operation and the air flo

[2016-12-12 14:57] Nigusse commented on #5908
Investigated the defect by creating different test cases:
(1) created two test files (1 zone and 3 zone test cases)
(2) code review shows that the three variables expected use a slightly different forms of equation that can cause a small difference in the values. I think a small diffs of less than 1.0W should be tolerable for now. So I focused on the large differences ( up to 5000.0 W)
(3) investi

[2016-12-12 16:10] Nigusse commented on #5020
Reviewed the idd and sizing code of existing cooling towers. Only single and two speed simple cooling towers and variable speed MerkelTower need change.

Proposed new input fields to be added:
- Design Inlet Air Dry-Bulb Temperature (TAirInletDB), default 35.0 C (95 F)
- Design Inlet Air Wet-Bulb Temperature (TAirInletWB), default 25.6 C (78 F)
- Design Approach Temperature (dTAppr), default 3.9 C

[2016-12-12 16:56] mjwitte commented on #5020
@Nigusse We have a similar issue with coil design inputs.  The user will expect the Sizing:Plant inputs (PlantSizingData.ExitTemp and .DeltaT) to flow into the sizing calcs unless they are overridden by user inputs in the component object.  One option is to have the Sizing:Plant inputs set the defaults for water temps in the tower.  The range and the deltaT are easy, but do you mess with the defau

[2016-12-12 18:22] Nigusse commented on #5020
OK. If there is no plant sizing object, then use the inputs in the tower object. On the other hand, if there is plant sizing object, the plant sizing object inputs will have precedence. And inputs inconsistencies between plant sizing object and tower inputs will be checked and warning will be provided as needed. I will report the actual approach value used for sizing (calculated from plant exit an

[2016-12-12 18:38] mjwitte commented on #5020
@Nigusse I was suggesting that the inputs in the tower object take precedence if present, but if they are omitted or defaulted, then the plant sizing inputs would take over.  I think that's what happens in Coil:Cooling:Water with some of the autosizable inputs:
[code]
So, you could make the two inputs related to water temp be autosizable.  But maybe this is too confusing and we should just have th

[2016-12-13 11:11] xwanguk commented on #5364
Sorry but I have a question regarding the report after these End-Use Subcategory settings and simulation. For example, if I input "Fans - parking garage" for ElectricEquipment for multiple zones, can I access each zone output such as "Fans - parking garage:InteriorEquipment:Electricy" (I mean from the eso file) in addition to the figure that comes from the total building (summation of all zones th

[2016-12-13 16:52] xwanguk commented on #5895
One more point added: version 8.6.0 fixed most of "Receptacle" double counted issue leaving only one category that from LEED still double counted - "Fans - parking garage". Glad to say, regarding LEED EAp2-4/5 table outputs, v8.6.0 behaves much better than v8.5.

[2016-12-15 12:32] Myoldmopar opened #5965 "Improve documentation for invalid EMS variable name characters"
Per a user, the documentation on EMS variables should be improved to better call out invalid characters.  EnergyPlus properly reports the invalid variable name, and the documentation says underscores are the only special characters allowed, but it's reasonable to call out a few more examples of invalid characters.

[2016-12-15 12:36] #5965 closed, assigned to Myoldmopar

[2016-12-19 15:18] #5873 closed, assigned to JasonGlazer

[2016-12-19 19:49] Myoldmopar commented on #5479
Closed with #5727

[2016-12-19 19:49] #5479 closed, assigned to Nigusse

[2016-12-19 20:15] mjwitte commented on #5925
Closed via #5946

[2016-12-19 20:15] #5925 closed, assigned to rraustad

[2016-12-21 10:00] JuliaTorrubia opened #5969 "Airflow network change from input to av. surface calculation in the simulation control produces a crash"
Hello everybody,

## I'm running some tests in grasshopper about cross ventilation to see if it is worthy to use Airflow network.
I am comparing the results of AFN with simple openings against the simple calculation of room air and IES.

 I am testing a shoebox of 15x5m, 3m height, 2 windows of 1sqm, only 1 person of internal gains, no heating, no cooling, basically nothing.
--------------
The tes

[2016-12-21 15:50] mjwitte commented on #5969
@JuliaTorrubia The NANs in the error message indicate a numeric problem (divide-by-zero, exp overflow, etc.) has occurred.  We need the idf file to diagnose.  Please attach to this issue or send to energyplus-support@gard.com

[2016-12-21 16:22] JuliaTorrubia commented on #5969
I have already solved the problem with the heating point, it was not taking the number by some reason. However the problem with the surface calculation persist.
This is the original idf
[IDF.zip](https://github.com/NREL/EnergyPlus/files/666836/IDF.zip)

Thanks for your help

[2016-12-22 16:52] jasondegraw commented on #5969
@JuliaTorrubia Please include the schedule files that are referenced in the IDF, without them it is not especially easy to run your model.

[2016-12-22 16:56] JuliaTorrubia commented on #5969
[schedules.zip](https://github.com/NREL/EnergyPlus/files/669309/schedules.zip)
 Sorry, I forgot them

[2017-01-04 22:47] mjwitte commented on #5935
Closed via #5945

[2017-01-04 22:47] #5935 closed, assigned to JasonGlazer

[2017-01-04 22:48] mjwitte commented on #5894
Closed via #5945

[2017-01-04 22:48] #5894 closed, assigned to JasonGlazer

[2017-01-05 16:08] Myoldmopar commented on #5958
Closed via #5960

[2017-01-05 16:08] #5958 closed, assigned to rraustad

[2017-01-05 23:27] mjwitte opened #5974 "Dual-fan dual-duct systems have mass balance problems leading to max iteration warnings"
Issue overview
--------------
User noted that the output for mass flow rate before and after the hot deck fan did not match.  Also getting max iteration warnings that indicate a mismatch between supply side and demand side mass flow rates:

   **   ~~~   ** Supply-to-demand interface deck 1 mass flow rate check value iteration history trace: 0.176640,0.176640,0.176640,0.176640,0.176640,0.176640,0.

[2017-01-05 23:43] mjwitte opened #5975 "Transition v8.5 to v8.6 (and maybe others) chokes on autosize instead of autocalculate in Tower:TwoSpeed"
Issue overview
--------------
Transition of user file from v8.5 to v8.6 threw this error:

[code]
The incoming tower object is:

[code]
Changing the Low Fan Speed Power from autosize to autocalculate gets rid of the error.  Even with the error, the object transitioned OK (untouched) but the error shouldn't be there.

### Details
Some additional details for this issue (if relevant):
 - Platform (Op

[2017-01-06 15:14] rraustad commented on #5896
- [x] The EIR chiller equation for ChillerEIRfPLR has been slightly corrupted in V8.5 and V8.6 leading to a question on UnmetHours at https://unmethours.com/question/21101/eir-chiller-performance-factors/?answer=21912#post-id-21912.

Also need to clarify this sentence describing the equation in text. We should change this sentence to read:

"The output of this curve is multiplied by the reference

[2017-01-06 22:59] Myoldmopar commented on #5272
Closed via #5928

[2017-01-06 22:59] #5272 closed, assigned to JasonGlazer

[2017-01-10 00:57] Nigusse commented on #5908
I did further investigation. Below is the summary:
(1) if the is no thermostat setpoint setback or setup (i.e., fixed temperature), then the difference between the three variables is negligible.
(2) if there is thermostat setpoint setback or setup, then there will be a significant difference at or around the time of setpoint temperature change, between "ZONE1AIR:Zone Ideal Loads Supply Air Sensibl

[2017-01-10 01:52] mjwitte commented on #5908
@Nigusse Good explanation.  Other zone equipment likely has similar differences.  Ran a test with UnitHeaterAuto.idf with detailed output, and it shows similar patterns for Zone Unit Heater Heating Rate vs Zone Air System Sensible Heating Rate.

It does raise the question, however of whether using ZT or MAT is valid for the zone component outputs.  I see a couple of places in [CalcZoneComponentLoa

[2017-01-10 14:16] Nigusse commented on #5908
@mjwitte I agree, the logic will have similar effect to other zone equipment as well.

Let us see a particular time step case:
The "ZONE1AIR:Zone Ideal Loads Supply Air Sensible Cooling Rate [W](Each Call)" was 21078.9 W, and the "Zone Predicted Sensible Load to Cooling Setpoint Heat Transfer Rate [W](Each Call)" was -21078.9 W. So the zone equipment is delivering exactly what is required. For the

[2017-01-10 14:41] EnergyArchmage commented on #5908
I always thought the explanation was using a different definition for what conditions to use when evaluating cp -- the inlet, the zone, or an average of inlet and zone.  E+ equipment models don't really know the zone temp yet and so use the inlet conditions.  Nowadays I think cp for an average is the most accurate (that is drybulb and hum ratio are from an average of the inlet node and the zone no

[2017-01-12 15:15] Myoldmopar opened #5977 "Potential IDD/IDF Issues"
- [x] Several instances of `\Maximum`  (capital M)
- [x] `\memo` in Field A4 on `SurfaceProperty:SolarIncidentInside`
- [x] `\memo` on several fields in `ComplexFenestrationProperty:SolarAbsorbedLayers`
- [x] `\memo` on several fields in `DemandManager:Ventilation`
- [x] `SizingPeriod:DesignDay` field N7 has a stray `!` comment
- [x] The IDF issues [below](https://github.com/NREL/EnergyPlus/issues

[2017-01-12 16:44] Nigusse commented on #5908
The difference between these variables is expected per the design, hence only explanation was added to the following three output variables description:
-Zone Air Heat Balance System Air Transfer Rate
-Zone Air System Sensible Cooling Rate
-Zone Air System Sensible Heating Rate

[2017-01-13 14:53] Nigusse commented on #5655
Any one working on this issue?

[2017-01-13 15:03] mjwitte commented on #5655
I'm not.

[2017-01-13 15:21] JasonGlazer opened #5982 "Add "Hypertext" Linking for Object Names in Documentation"
Issue overview
--------------
Allow clicking on any object name in the documentation to go to the InputOutputReference description of the object. PDF supports this kind of "hypertext" style of linking of terms to documentation sections.

[2017-01-13 16:23] Nigusse commented on #5655
@mjwitte There are design water inlet and water outlet temperatures (Coil:Heating:Water and Coil:Cooling:Water) objects. We are not going to use those values to get deltaT, instead we add a input field for deltaT user input, right?

[2017-01-13 17:27] mjwitte commented on #5655
Possibly, but I don't think that they currently get used for the water side sizing (if I remember correctly), so the sizing function may need some changes to use those temperatures.  Feel free to query the user to see if that would meet their requirements.  And also check the detailed chilled water coil inputs.

[2017-01-13 17:28] mjwitte commented on #5655
I meant to say "Possibly, the existing input could be enough, . . . "

[2017-01-13 18:02] Nigusse commented on #5655
I see the "Coil:Cooling:Water:DetailedGeometry" does not have those inputs. You may be right, those input fields are not used. I will check that and contact the user as well. Thanks.

[2017-01-13 18:56] Nigusse commented on #5655
Coil:Heating:Water and Coil:Cooling:Water objects require those design water and air temperatures for sizing calculation in several places. For Coil:Cooling:Water [here](https://github.com/NREL/EnergyPlus/blob/137612401_Issue5655/src/EnergyPlus/WaterCoils.cc#L1148-L1158). For  Coil:Heating:Water [here](https://github.com/NREL/EnergyPlus/blob/137612401_Issue5655/src/EnergyPlus/WaterCoils.cc#L1030).

[2017-01-13 20:39] Nigusse commented on #5655
Sorry Coil:Cooling:Water object has design inlet water temperature but not the outlet water temperature. So, the option is to add new input field for deltaT for both cooling water coils.

[2017-01-13 21:46] EnergyArchmage commented on #5655
I prefer a separate delta-T-for-sizing input, in all three water coils.  The catalog coil conditions for coil performance might not match a particular plant application.

I see a bit of confusion here between autosizing versus the one time inits.  For example hot water coil is really sized [here](https://github.com/NREL/EnergyPlus/blob/137612401_Issue5655/src/EnergyPlus/ReportSizingManager.cc#L732

[2017-01-13 21:52] EnergyArchmage commented on #5655
I prefer a separate delta-T-for-sizing input.  The catalog coil conditions for coil performance might not match a particular plant application.

I see a bit of confusion here over sizing versus UA calcs when hardsized.  For example hot water coil is sized here and it used the plant sizing delta T, not the coil performance inputs

[2017-01-17 16:29] lgu1234 commented on #5969
@JuliaTorrubia I tried to run your input file and found two more schedule files are missing with severe errors:

   ** Severe  ** ProcessScheduleInput: Schedule:File="SCHTEMP19", File Name="C:\Data\EnergyPlus_StarTeam\DefectFiles\SCHTemp19.csv" not found.
   **   ~~~   ** Certain run environments require a full path to be included with the file name in the input field.
   **   ~~~   ** Try again w

[2017-01-17 23:46] jmarrec commented on #4954
+1

[2017-01-18 19:34] EnergyArchmage opened #5984 "Performance decrease from 8.5 to 8.6"
Issue overview
--------------
User reports that execution time increased by factor of 9 between version 8.5 and version 8.6.  Preliminary testing confirmed performance decrease.  From monitoring stdout, appears to be in zone heat balance model because slow execution happens during zone sizing calculations as well as full HVAC simulation.

One thing to investigate is  use ofDetailedSkyDiffuseModeli

[2017-01-18 19:44] mbadams5 commented on #5984
@EnergyArchmage I profiled the code and this is the call stack down the functions that are causing the performance regression.

[code]

Now, what I haven't figured out yet is why the shadow calculations are running many more iterations in 8.6 vs 8.5. I tried to look back through old PRs for 8.6 but nothing jumped out at me.

[2017-01-18 19:47] EnergyArchmage commented on #5984
Thanks https://github.com/mbadams5 ! I think it likely to be this one https://github.com/NREL/EnergyPlus/pull/5741

[2017-01-18 19:54] mbadams5 commented on #5984
Considering the call stack and glancing at the code, I agree.

[2017-01-18 20:08] EnergyArchmage commented on #5984
Note that user had ShadowCalculation's Calculation Method key set to AverageOverDaysInFrequency , but it may need key TimestepFrequency instead, when used with DetailedSkyDiffuseModeling.

[2017-01-19 18:00] EnergyArchmage opened #5985 "IDD for Boiler:Steam lists incorrect units for Maximum Operating Pressure"
Issue overview
--------------
IDD description of the input field called Maximum Operating Pressure in Boiler:Steam lists units as kPa, however units should be Pa.  It also appears this should be a required-field.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmeth

[2017-01-19 18:07] JasonGlazer commented on #5984
There is no doubt that fixing #5741 has some performance impacts on specific files.

[2017-01-24 18:17] EnergyArchmage opened #5991 "GroundHeatExchanger:Slinky not getting branch control type set."
Issue overview
--------------
Implementation (or merge conflict resolution) of GroundHeatExchanger:Slinky did not included modifications needed in PlantManager::SetupBranchControlTypes.  Need to extend else if statement to handle TypeOf_GrndHtExchgSlinky

Example file GSHP-Slinky.idf shows severe error which needs to be cleaned up

** Severe  ** SetBranchControlTypes: Caught unexpected equipment t

[2017-01-24 22:12] jmarrec commented on #5111
FYI, I ran into this "No GITHUB_TOKEN found" issue today with v8.6.0.

[2017-01-25 01:49] Myoldmopar commented on #5977
And IDF Issues...

These files are all 8.4 in the repo as I see it:
 - 5ZoneFanCoilDOAS_HumidifierOnOASystem
 - CoolingCoilFreezingPrevention
 - DOAToWaterToAirHPInlet
 - DOAToWaterToAirHPSupply
 - ZoneCoupledGroundHTBasement
 - ZoneCoupledGroundHTSlabInGrade
 - ZoneCoupledGroundHTSlabOnGrade

[2017-01-25 02:42] Myoldmopar commented on #5977
Multiple files (CustomSolar...idf included) have AutoSize as the plant/condenser volume when it should be autocalculate.  I think this may be acceptable to the E+ IP, but should still be fixed.

[2017-01-25 02:57] Myoldmopar commented on #5977
Several files appearing 8.4.0...

[2017-01-25 04:08] Myoldmopar commented on #5977
These failed my custom transition from 85-86 so investigate why:

- IceStorage-Parallel.idf
- OutdoorAirUnitwithAirloopHVAC.idf
- PlantLoadProfile_updated.idf

[2017-01-25 21:50] Nigusse commented on #5638
At such low heating coil water inlet temperature (< 45C), the coil water air outlet temperature can easily approach the heating coil water inlet temperature.  In this situation, effectiveness approaches almost 1.0 ( 0.9999 my test case), which means that the UA-value needed is very very huge (the theoretical limit being infinity when effectiveness is 1.0). This implies that the UA-value is not bou

[2017-01-26 00:25] EnergyArchmage commented on #5638
Seems like the warning should be for high leaving air temperature.  The lowish HW temps are reasonable, but users can't have it both ways.

[2017-01-26 13:30] Nigusse commented on #5638
During the coil sizing both inlet temperatures (air and water) are fixed and the design load is already predetermined. The only variable that can change is the coil air leaving temperature but the maximum it can reach is coil water inlet temperature ( 40 C or 45 C in this case). You cannot heat coil air leaving temperature above the coil water inlet temperature and that is why we are having effect

[2017-01-26 13:52] rraustad commented on #5638
The only question here is how to protect RegulaFalsi so it doesn't fail. If the user want's to size the coil using 40C then we have to figure out what needs to be done to find a UA for that coil. Do we use a higher inlet water temp (min = 45C?) to size the coil and then let it operate at 40C inlet? What would a manufacturer do if someone called in with those operating conditions? They will certain

[2017-01-26 18:41] rraustad commented on #5638
Comment from Larry:

    As far as Trace goes, the heating coils only follow the Btuh's around and don't care about HX
    water temperature limits. If a htg coil is designed for 10000 Btuh, then the hourly htg load is
    met up to 10,000 Btuh during the HVAC simulation. If the hourly load exceeds design htg
    capacity, then the supply air leaving the hw coil is reduced proportionately and this

[2017-01-27 18:25] Nigusse commented on #5896
- [x] The total power at rated conditions on page 807, equation 16.167 (E+ V8.6) in Engineering Reference is incorrect. In the EER calculation, Total Cooling Cooling Capacity Function of Temperature curve is evaluated with 'Test B' conditions but it should have been rated conditions (19.44 WB/35 DB). The source code shows that it is correctly implemented. The "(TotCapTempModFac_TestB)" term should

[2017-01-27 19:36] EnergyArchmage commented on #5638
Perhaps better values for the design water delta T will help here, see issue #5655

[2017-01-27 21:31] Nigusse commented on #5638
This fix traps low coil design inlet hot water temperature (< 46.0 C) and resets the coil design inlet hot water temperature to a minimum of 46.0 C for UA value sizing only. This fix sizes the UA to a reasonable value and eliminated UA-value auto-sizing calc failure due to low coil design inlet water temperature. I have also added a function that estimates design inlet water temperature for this p

[2017-01-28 13:45] Myoldmopar commented on #5977
Non-ascii characters in IDD:
- [x] AirTerminal:SingleDuct:VAV:Reheat:VariableSpeedFan air inlet and outlet node names have goofy apostrophes

[2017-02-01 13:02] JasonGlazer opened #5995 "EP-Launch change default to allow for more than 250 columns"
Modern spreadsheets allow for more than 256 columns so the default in EP-Launch should be changed to allow this. See

https://unmethours.com/question/22417/energyplus-number-of-output-variables-limitation/

[2017-02-01 13:59] Nigusse commented on #5896
@mjwitte
The "Zhang-Huang Solar Model" in Section 5.1.4.3 of the Eng. Ref (V8.6) or develop version does not mention direct/diffuse split. But the following paragraph in Section 5.1.5 "Perez Direct/Diffuse Splitting Model" discusses splitting global horizontal radiation. However, this two section are not related. My be the confusion is caused because the two sections are next to each other. I also

[2017-02-01 14:05] Nigusse commented on #5896
@JasonGlazer I am looking at "Add all the native variables related to time of use to the list under UtilityCost:Tariff under the Time Of Use Period Schedule Name" documentation issue.

Looking at the I/O Ref, some of the native variables such as: IsWinter, IsNotWinter, IsSpring, IsNotSpring, IsSummer, IsNotSummer, IsAutumn, IsNotAutumn, may need to go into  "Season Schedule Name" field, I think. I

[2017-02-01 14:21] mjwitte commented on #5896
@Nigusse Looking further down in the original bldg-sim message, there is a link to this section of the Auxiliary Programs Doc:

was undertaken to find an appropriate solar model to fill in missing solar data for weather
files. The goal was to determine one or more possible solar models to use in the weather
conversion/creation process. One model seemed better overall with the usual given data
from

[2017-02-01 14:41] JasonGlazer commented on #5896
@Nigusse I just want to make sure all the native variables that show up in the Tariff Report are documented. If they are listed in two places, some language that leads the user that is reading either field description that other variables are described in the other field would be needed.

[2017-02-01 15:48] Nigusse commented on #5896
@mjwitte Ok. updated the  Auxiliary Programs text. Thanks.

[2017-02-01 15:49] Nigusse commented on #5896
@JasonGlazer Will follow the IO Ref document and the Tariff Report to make determination where to document the variables. Thanks.

[2017-02-01 19:22] Nigusse commented on #5896
Addressed all items listed in this issue. Waiting for the CI machine run for verification.

[2017-02-02 21:21] lgu1234 commented on #5906
@mjwitte After preliminary testing, I found that the cause is to incorrectly calculate surface convection load when Surface( SurfNum ).TAirRef == ZoneSupplyAirTemp. Your observation shows this:

SumHA = 0 in TempDepCoef
SumHATsurf = hc*A*Tsurf
SumHARef = hc*A*RefAirTemp

SumHATsurf - SumHARef (used in TempIndCoef)

I think it has two mistakes. The first mistake is no SumHA calculation. SumHA shoul

[2017-02-02 21:41] mjwitte opened #5997 "Documentation Issues - 2017"
- [x] E+ I/O document V8.6 pages 769-770 describes "1.21.8.1.10 Field: Electric Input to Cooling Output Ratio Function of Temperature Curve Name" where at the early part of the paragraph it says "For the type of LeavingCondenserWaterTemperature, the curve object type should be Curve:Bicubic or Table:TwoIndependentVariables that parameterizes the variation of the energy input to cooling output rati

[2017-02-03 22:32] mjwitte opened #5998 "AirLoopHVAC:UnitaryHeatPump:AirToAir Maximum Supply Air Temperature Not Working"
Issue overview
--------------
User file has AirLoopHVAC:UnitaryHeatPump:AirToAir with Maximum Supply Air Temperature from Supplemental Heater = 50C, but the supply outlet node is showing temperatures as high as 80+C.

### Details
Some additional details for this issue (if relevant):
 - Platform Win64
 - Version of EnergyPlus 8.6
 - Helpdesk ticket 11842

### Checklist
Add to this list or remove fr

[2017-02-07 16:26] mjwitte opened #6001 "Construction name missing from surface details report and other eio output problems"
Issue overview
--------------
1. The surface details report (`Output:Surfaces:List,Details or DetailsWithVertices;`) is not reporting the surface construction name (since v8.2).

2. The new table output InitializationSummary which echoes the eio output has some formatting/heading issues:

- The Zone Surfaces and Shading Surfaces reports contain the string "\#" which trips up the TableDiff comparis

[2017-02-08 21:20] mjwitte commented on #5997
- [x] I/O Reference, v8.6 p 1110, Table 1.40 "Value of opening factor multiplier for different venting conditions.", table alignment is messed up. Table should be like this (from v8.2 docs):
![image](https://cloud.githubusercontent.com/assets/4991075/22757836/fc7a45c4-ee11-11e6-942f-c59583eed578.png)

Addressed in Pull Request [160251551_Issue#5997](https://github.com/NREL/EnergyPlus/pull/6946)

[2017-02-09 14:57] Myoldmopar commented on #5912
Fixed via #5951

[2017-02-09 14:57] #5912 closed, assigned to JasonGlazer

[2017-02-09 15:16] Myoldmopar commented on #5853
Closed via #5855

[2017-02-09 15:16] #5853 closed, assigned to nobody

[2017-02-09 21:00] rraustad commented on #5638
Closed via 5992

[2017-02-09 21:00] #5638 closed, assigned to Nigusse

[2017-02-10 14:22] Myoldmopar commented on #5941
Does #5986 complete this then @mjwitte ?

[2017-02-10 14:30] Myoldmopar commented on #5896
Closed via #5996

[2017-02-10 14:30] #5896 closed, assigned to Nigusse

[2017-02-10 14:37] mjwitte commented on #5941
No, just a start.  This one addresses #4851 (which I just added to the description at the top).

[2017-02-10 14:38] mjwitte commented on #4851
Closed via #5986

[2017-02-10 14:38] #4851 closed, assigned to lgu1234

[2017-02-10 20:09] jasondegraw opened #6004 "Advanced Single-Sided Natural Ventilation Docs Missing"
Issue overview
--------------
The documentation of the advanced single-sided natural ventilation feature is missing from the Engineering Reference and the I/O Reference. Looks like it has gotten lost somehow, as there is documentation in Word document form.

### Details
Some additional details for this issue:
 - All Platforms
 - Version 8.6

### Checklist
 - [ ] Ticket added to Pivotal for defect

[2017-02-10 20:27] lgu1234 opened #6005 "Report incorrect output of AFN Surface Venting Window or Door Opening Modulation Multiplier"
Issue overview
--------------
When hybrid ventilation request no natural ventilation, the AFN model set OpenFactor =0. However, the output variable of AFN Surface Venting Window or Door Opening Modulation Multiplier is not set correctly.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate buil

[2017-02-10 22:27] Myoldmopar commented on #5020
Closed via #5970

[2017-02-10 22:27] #5020 closed, assigned to Nigusse

[2017-02-10 22:28] Myoldmopar commented on #4188
Closed via #6000

[2017-02-10 22:28] #4188 closed

[2017-02-10 23:42] mjwitte opened #6006 "Reheat coils size to zero when zone has no design heating load - because ZoneTempAtHeatPeak is zero"
Issue overview
--------------
User complained that files moved up from v8.0 to v8.6 have much smaller reheat coil sizes and many unmet heating hours.  Running the file in the debugger reveals that ZoneDesTemp = CalcFinalZoneSizing( CurZoneEqNum ).ZoneTempAtHeatPeak = 0.0 for a zone which doesn't log a design heating load.  This breaks the reheat load adjustement in SingleDuct::SizeSys resulting in

[2017-02-13 14:04] Myoldmopar commented on #5655
Closed via #5983

[2017-02-13 14:04] #5655 closed, assigned to Nigusse

[2017-02-13 14:39] Myoldmopar commented on #5697
Closed via #5955

[2017-02-13 14:39] #5697 closed, assigned to rraustad

[2017-02-13 21:28] Nigusse opened #6010 "Constant COP chiller sizing is broken and leads to zero chiller energy consumption"
Issue overview
--------------
Constant COP chiller reports zero chiller energy consumption. Testing the defect file in develop shows that the chiller capacity sizing is broken. User also report the defect in EnergyPlus versions 8.3 and 8.5.

Details:
 - Platform Win64
 - Version of EnergyPlus 8.6
 - Helpdesk ticket 11873

### Checklist
Add to this list or remove from it as applicable.  This is a s

[2017-02-13 21:39] mjwitte commented on #6010
Also see #4991

[2017-02-14 14:55] Myoldmopar commented on #5729
Closed via #5978

[2017-02-14 14:55] #5729 closed, assigned to Nigusse

[2017-02-14 19:17] EnergyArchmage opened #6013 "Zone warmup load convergence check errors for small loads"
Issue overview
--------------
The calculations used to check for zone warmup load convergence, for both heating and cooling, have a flaw when loads are less than MinLoad.

For heating there is:

MaxHeatLoadZone( ZoneNum ) = std::abs( max( MaxHeatLoadZone( ZoneNum ), MinLoad ) );
WarmupConvergenceValues( ZoneNum ).TestMaxHeatLoadValue = std::abs( ( MaxHeatLoadZone( ZoneNum ) - MaxHeatLoadPrevDay( Z

[2017-02-15 14:07] Nigusse commented on #4991
This bug issue is addressed in bug issue #6010.

[2017-02-15 14:35] EnergyArchmage commented on #5695
closed via PR #5973

[2017-02-15 14:35] #5695 closed, assigned to Nigusse

[2017-02-15 19:50] lgu1234 commented on #5906
@mjwitte @EnergyArchmage I though of this issue and did some testing. Here is what I think.

After adding an output variable of "Surface Inside Face Convection Heat Transfer Coefficient", I ran the test again to see what values of film coefficients are in the problem zone: ZoneWest. The zone has six surfaces. The following figure show min and max values of inside surface convective coefficients in

[2017-02-16 21:06] wqp89324 commented on #5360
+1 for fixing the 24:00 representation of midnight.

[2017-02-17 22:00] Nigusse opened #6020 "Incorrect distribution of DOA to primary air inlet nodes of terminal air mixers"
Issue overview

DOA primary air from terminal air mixer is evenly distributed among all the zones, regardless of the amount of design outdoor air specified for each zone. This was reported for FanCoil unit example file DOAToFanCoilInlet.idf.

### Details
Some additional details for this issue (if relevant):
- Platform Win64
- Version of EnergyPlus 8.6, 8.5

Further testing showed the same issue in

[2017-02-20 15:55] rraustad opened #6023 "HVACTemplate-5ZoneUnitarySystem shows RH>100% for annual simulation"
Issue overview
--------------
Example file shows 309 warnings for RH>100%.

    ** Warning ** Calculated Relative Humidity out of range (PsyRhFnTdbWPb)
    **   ~~~   **  Routine=CalcMultiSpeedDXCoilCooling:highspeed, Environment=Chicago Ohare Intl Ap IL USA TMY3 WMO#=725300, at Simulation time=05/17 14:00 - 14:15
    **   ~~~   **  Dry-Bulb= 5.93 Humidity Ratio= 5.983E-003 Calculated Relative Hum

[2017-02-20 15:58] rraustad commented on #6023
Warning shows for Coil:Cooling:DX:Multispeed when inlet condition is near saturation curve. Model calculates RH, which reports when > 100%, then adjusts the outlet air properties to correct. So why not just correct the problem and not call the PsyRH function?

[2017-02-20 16:27] rraustad commented on #6023
See PR #6024.

[2017-02-22 17:04] mjwitte opened #6028 "PTAC heating coil undersized for ventilation load when zone design heating load is zero"
Issue overview
--------------
User file has PTACs with hot water heating coils.  PTACs provide ventilation air.  For zones with a zero design zone heating load, the PTAC heating coil is undersized and cannot temper the ventilation load.  Adding a small negative other equipment load to those zones in order to force a non-zero design heating load fixes the coil sizing.  Unit 116 and Unit 206 show th

[2017-02-22 17:20] rraustad commented on #6028
Same as #6006 ?? At least similar.

[2017-02-22 17:24] mjwitte commented on #6028
True, probably the same issue with `CalcFinalZoneSizing( CurZoneEqNum ).ZoneTempAtHeatPeak`

[2017-02-22 17:43] mjwitte opened #6029 "DetermineShadowingCombinations non-convex surface errors the same with both Polygon Clipping Algorithm choices"
Issue overview
--------------
User file is a single zone with two non-convex walls and a rectangular shading surface.  Based on the documentation for Polygon Clipping Algorithm, one would expect more errors when using ConvexWeilerAtherton than SutherlandHodgman, but the error files are the same.  Also, the errors seem icomplete, because there are errors only for Surface 11, while Surface 9 is also

[2017-02-23 03:31] mjwitte opened #6032 "New units conversion for IDF editor"
Issue overview
--------------
Need to add support for a new units conversion in IDF Editor
![image](https://cloud.githubusercontent.com/assets/4991075/23243682/0e251f4e-f946-11e6-9116-08b22bea32e4.png)

[code]

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v8.7

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated

[2017-02-23 21:24] jasondegraw commented on #5854
Reopening because the second issue that @macumber had is still a thing on Linux, at least on Ubuntu 16.04. CMake is running ldd on a static executable and then bombing out. This may be a CMake version issue, I am not certain.

[2017-02-24 02:01] jasondegraw commented on #5854
I believe it is a CMake issue. The 14.04 version of CMake is 2.8.12, and that implementation of get_prerequisites doesn't check the ldd return value. Later versions (not sure when the change happened) do check the return value:

https://gitlab.kitware.com/cmake/cmake/blob/master/Modules/GetPrerequisites.cmake#L856

So looks like we shouldn't call get_prerequisites on static executables.

[2017-02-24 06:27] mbadams5 commented on #5854
@jasondegraw You are correct. I have a working solution for 16.04 and I assume this will (properly) fix the issue Dan was having on CentOS with CMake 3.6.

[2017-02-24 14:40] jasondegraw commented on #5854
@mbadams5 I believe he was using very recent CMake, so I think so. I fixed it by reworking the Fortran CMakeLists.txt files to only call get_prerequisites if the build was not static. We should coordinate.

[2017-02-24 18:02] rraustad opened #6033 "Example file 1ZoneDataCenterCRAC_wPumpedDXCoolingCoil fails to size coil bypass factor in varous climates"
Issue overview
--------------
Example file fails to find CBF in cities other than those similar to Denver since DX coil is hard sized and other weather conditions can cause coil outlet condition to be past the psyc saturation curve and yield RH>100%. The result is a fatal error requiring the user to adjust the DX coil capacity, SHR and/or air flow rate. Nothing stops the user from entering data to

[2017-02-24 21:40] mjwitte commented on #6001
Closed via #6002

[2017-02-24 21:40] #6001 closed, assigned to nobody

[2017-02-24 21:48] mjwitte commented on #5985
Too bad we missed this one before IDD freeze.

[2017-02-24 21:52] mjwitte commented on #5977
@Myoldmopar Does this have to wait until after release?

[2017-02-24 22:00] mjwitte commented on #5948
Closed via #5990

[2017-02-24 22:00] #5948 closed, assigned to lgu1234

[2017-02-24 22:12] mjwitte commented on #5936
Is this related to #5919?

[2017-02-24 22:23] Myoldmopar commented on #5977
Unnnnnnhhhhhh yeah, we probably shouldn't do this right now in order to stay official.

[2017-02-24 22:28] mjwitte commented on #5898
@nealkruis Referencing discussion from October:

Remove the RVI files from the example files directory.
Change the way EP Launch calls EnergyPlus to output files in the "Legacy" file naming convention.

The RVI files are there to maintain column order, so I would be reluctant to remove them.  Perhaps there's a third alternative where we can make ReadVars a little smarter in this case to find the e

[2017-02-24 22:46] mjwitte commented on #5818
Looks like this is similar to #5862

[2017-02-25 05:33] rraustad commented on #6033
See #6034

[2017-02-27 17:56] rraustad commented on #5919
Here's where the 19700 water node enthalpy came from in Init. Not sure if this is some form of ReverseDD thing or what:

	// Do the Begin Environment initializations
	if ( BeginEnvrnFlag && MyEnvrnFlag( HPNum ) && ! MyPlantScanFlag( HPNum ) ) {
		// SNIP //
                Node( WaterInletNode ).Temp = 5.0;
		Node( WaterInletNode ).Enthalpy = Cp * Node( WaterInletNode ).Temp;
		Node( WaterInletNod

[2017-02-27 18:11] mjwitte commented on #5905
Closed via #5993.

[2017-02-27 18:11] #5905 closed, assigned to lgu1234

[2017-02-27 20:09] rraustad commented on #5919
Well this is interesting. I don't recall seeing this on any other equipment type. For example, what if there are 2 chillers in series, does the pump get oversized since water flows through each in series? In this case, what if these 2 coils (cooling and heating) are on different plant loops? If all coils operate, won't the pump starve flow since it's sized to 1/2 the flow request?
At end of functi

[2017-02-27 20:12] mjwitte commented on #5919
It's kind of kludgy but it's ok here for the heat pump.  As for 2 chillers in series, I'm not sure.

[2017-02-27 20:16] mjwitte commented on #5919
Just to expand on this for the heat pump, the two coils represent the same physical coil, just different operating modes, so they can't (shouldn't) be on different loops.

[2017-02-28 16:39] mjwitte commented on #5906
@lgu1234 Some intial comments about the proposed fix.  Sorry this is long - documenting the train of thought here.

1. I think the original code is correct to *not* increment SumHA for surfaces that use RefAirTemp (i.e. the convection is not dependent on zone air temperature), because SumHA is part of TempDepCoef which is dependent on zone temperature:
`TempDepCoef = SumHA + SumMCp`,

2. I do not

[2017-02-28 18:28] lgu1234 commented on #5906
@mjwitte Here are my thought related to your comments.

Everything what you mention is correct in the code as designed. Let me use a simplest equation to show you what I think:

ZT( ZoneNum ) = ZoneT1( ZoneNum ) + TempIndCoef / AirCap
TempIndCoef = SumHATsurf - SumHATref

Let me assume a heating case, the supply air temperature is greater than a surface temperature and greater than zone air temper

[2017-02-28 19:45] mjwitte commented on #5906
@lgu1234 But if the supply air temperature is warmer than the surface temperature, that will cause the convective heat flow at the surface to be away from the zone air mass and to the surface.  So, it *is* removing heat from the zone air mass.  I think the equation is OK as-is.

So, I go back to this code (which appears in multiple places):
[code]
If there is no system airflow, then the NodeTemp i

[2017-02-28 19:55] lgu1234 commented on #5906
@mjwitte I think this is a solution, so that the code may become:

			} else if ( SELECT_CASE_var == ZoneSupplyAirTemp ) {
				// check whether this zone is a controlled zone or not
				if ( ! ControlledZoneAirFlag ) {
					ShowFatalError( "Zones must be controlled for Ceiling-Diffuser Convection model. No system serves zone " + Zone( ZoneNum ).Name );
					return;
				}
				// determine supply ai

[2017-02-28 20:01] mjwitte commented on #5906
@lgu1234 Yes, that looks like a better solution.  But there may still need to be changes to other similar code when SumSysMCp is zero?

[2017-02-28 20:15] rraustad commented on #5936
This defect file runs with the correction to #5919. See pull request #6035.

[2017-02-28 20:46] lgu1234 commented on #5906
@mjwitte I ran the test file to completion without crash. The zone air temperatures of the interest vary between 14 and 61C, similar to other zones. It is a better solution.

I also check cases with SumSysMCp and find following modules use 			if ( SumSysMCp > 0.0 ) { // protect div by zero
HeatBalanceSurfaceManager
WindowManager
RoomAirModelAirflowNetwork
and
CalcZoneComponentLoadSums in ZoneTempP

[2017-03-01 14:17] rraustad commented on #6033
The underlying issue here is that a valid coil with standard ratings should run cleanly in any climate. What I find is that the rated CBF is calculated wrt the operating mass flow rate (barometric pressure adjusted) instead of the mass flow rate at standard conditions. From AHRI/ANSI 210-240 2008:

    3.13 Standard Air. Air weighing 0.075 lb/ft3 [1.2 kg/m3] which approximates dry air at 70°F [21°

[2017-03-01 14:34] rraustad commented on #6033
The BaroPressure used in the common sizing routines would also need changing in 2 places.

    } else if ( SizingType == CoolingSHRSizing ) {
        DesMassFlow = DataFlowUsedForSizing * PsyRhoAirFnPbTdbW( StdBaroPress, RatedInletAirTemp, RatedInletAirHumRat, CallingRoutine );

[2017-03-01 14:42] rraustad commented on #5934
From ANSI/AHRI Standard 210/240 2008 the guidance for conversion from volume to mass is:
3.13 Standard Air. Air weighing 0.075 lb/ft3 [1.2 kg/m3] which approximates dry air at 70°F [21°C] and at a barometric pressure of 29.92 in Hg [101.3 kPa].

At 29.92 pressure, 80/67 equates to 0.01122 lb h2o/ lb da and specific humidity 0.0111 lb h2o /lb where specific volume is 13.75 [here](http://www.daytona

[2017-03-01 14:59] lgu1234 opened #6036 "Correct surface convection calculation with AirRef = ZoneSupplyAirTemp and zero supply air flow in HeatBalanceSurfaceManager"
Issue overview
--------------
#5906 fixed surface convection calculation with AirRef = ZoneSupplyAirTemp and zero supply air flow in ZoneTempPredictorCorrector by replacing inlet node temperature by zone air temperature to avoid extreme low zone air temperature. The same calculation procedure also occurs in HeatBalanceSurfaceManager and needs to be fixed.

### Details
Some additional details for t

[2017-03-01 15:07] lgu1234 opened #6037 "Correct surface convection calculation with AirRef = ZoneSupplyAirTemp and zero supply air flow in Window modules"
Issue overview
--------------
#5906 fixed surface convection calculation with AirRef = ZoneSupplyAirTemp and zero supply air flow in ZoneTempPredictorCorrector by replacing inlet node temperature by zone air temperature to avoid extreme low zone air temperature. The same calculation procedure also occurs in WindowComplexManager, WindowEquivalentLayer, and WindowManager, and needs to be fixed.

###

[2017-03-01 15:18] rraustad commented on #5919
See PR #6035.

[2017-03-01 17:23] rraustad commented on #5922
@EnergyArchmage I am considering passing up this first call to manageElectricPowerService on the first pass only. Is there any reason why this shouldn't be done. For example, in the call to ManagePlantLoops the power services need to be known, etc.

    facilityElectricServiceObj->manageElectricPowerService( FirstHVACIteration, SimElecCircuitsFlag, false );
    ManagePlantLoops( FirstHVACIteration

[2017-03-01 17:25] rraustad commented on #5922
I should have mentioned that the defect file only has a plant using LoadProfile:Plant with no building, zone or air loop equipment, etc. so no electricity meters are read in until the plant is called.

[2017-03-01 17:33] rraustad commented on #5922
With the suggested change above, these report variables no show in the rdd.

    Output:Variable,*,Facility Total Purchased Electric Power,hourly; !- HVAC Average [W]
    Output:Variable,*,Facility Total Purchased Electric Energy,hourly; !- HVAC Sum [J]
    Output:Variable,*,Facility Total Surplus Electric Power,hourly; !- HVAC Average [W]
    Output:Variable,*,Facility Total Surplus Electric Ener

[2017-03-01 19:47] mjwitte commented on #6006
From sizing call, options to solve:
1. Initialize ZoneTempAtHeatPeak (and Cool) to max thermostat heating setpoint during design days, but then what to do for ZoneHumRatAtHeatPeak.
2. Store peak load data for largest load, even if it's a negative load - but not clear how to follow this if relying on SysOutput instead of load to setpoints.
3. Add small load to force non-zero peak load.
4. Use desig

[2017-03-01 20:35] rraustad commented on #5922
Sizing call determined that all report variables should show up in rdd so users can see that load center specific variables are 0. See #6038.

[2017-03-02 14:14] rraustad commented on #6006
To start I used existing code that set ZoneTempAtHeatPeak (and Cool) and ZoneHumRatAtHeatPeak (and Cool) if ZoneTempAtHeatPeak = 0 which we reviewed on the sizing call. Note here that ZoneSizing( DDNumF, CtrlZoneNum ).DesHeatSetPtSeq( TimeStepAtPeakF ) is the thermostat SP at this time step so I don't need to access Tstat schedules.

    // initialize sizing conditions if they have not been set (i

[2017-03-02 14:40] rraustad commented on #6006
@EnergyArchmage @nealkruis @kbenne in E+ how do I get the max/min for an array?

ZoneSizing( DDNumF, CtrlZoneNum ).DesCoolSetPtSeq( TimeStepAtPeakF )
ZoneSizing( DDNumF, CtrlZoneNum ).DesHeatSetPtSeq( TimeStepAtPeakF )

#include \<algorithm\>
std::min_element( ZoneSizing( DDNumF, CtrlZoneNum ).DesCoolSetPtSeq, ZoneSizing( DDNumF, CtrlZoneNum ).DesCoolSetPtSeq.size() );
std::max_element( ZoneSizing

[2017-03-02 16:55] mbadams5 commented on #6006
The following is untested code, but seems right [from the api documentation](http://www.cplusplus.com/reference/algorithm/max_element/)
[code]

[2017-03-02 18:53] rraustad commented on #6006
Thanks Mark, here's the results.

this line compiles and shows the correct result (21.1) when I hover the cursor:

    auto const maxVal = std::max_element( ZoneSizing( DDNumF, CtrlZoneNum ).DesHeatSetPtSeq.begin(), ZoneSizing( DDNumF, CtrlZoneNum ).DesHeatSetPtSeq.end() );

This line also works (21.1) but the * scares me:

    FinalZoneSizing( CtrlZoneNum ).ZoneTempAtHeatPeak = *std::max_element(

[2017-03-02 19:18] rraustad commented on #6006
I wonder if I should add in the FinalZoneSizing( CurZoneEqNum ).HeatSizingFactor (= 1 in this file) to THIS coil so it will also scale with this input (i.e., it's included with DesZoneHeatLoad but not for the adder to DesCoilLoad).

    DesZoneHeatLoad = FinalZoneSizing( CurZoneEqNum ).DesHeatLoad * FinalZoneSizing( CurZoneEqNum ).HeatSizingFactor;
    ZoneDesTemp = FinalZoneSizing( CurZoneEqNum )

[2017-03-02 19:50] mbadams5 commented on #6006
@rraustad You really only need to check to make sure the array is not empty. If the array is empty then dereferencing the max_element iterator will cause an error.

[code]

Or you can do the following:
[code]

[2017-03-02 20:11] rraustad commented on #6006
We are professionals, our arrays are never empty.

I'd think we'd have crashes all over the place if accessed arrays were empty. So what does empty mean ... allocated and never initialized, never allocated, etc. These arrays are allocated then initialized to 0 before anything else happens.

    ZoneSizing( DesDayNum, CtrlZoneNum ).DesHeatSetPtSeq.allocate( NumOfTimeStepInDay );
        for ( TimeS

[2017-03-03 15:57] EnergyArchmage opened #6040 "DX coil system and unitary system with 100% OA coil mode and variable speed DX coils throws severe errors"
Issue overview
--------------
Parent objects for DX cooling coils, CoilSystem and Unitary System throw severe errors when used with both VS coils and 100% OA mode.  Calls to SetDXCoilTypeData are made to set the value of DXCoil( ).ISHundredPercentDOASDXCoil, however this only applies to coil models in DXCoils.cc.  Both of these parent objects allow for variable speed coil models but the coil model

[2017-03-04 20:23] mjwitte commented on #5906
Closed via #6026

[2017-03-04 20:23] #5906 closed, assigned to lgu1234

[2017-03-06 15:42] mjwitte commented on #6010
Closed via #6012

[2017-03-06 15:42] #6010 closed, assigned to Nigusse

[2017-03-06 15:42] mjwitte commented on #4991
Closed via #6012

[2017-03-06 15:42] #4991 closed, assigned to Myoldmopar

[2017-03-06 18:29] rraustad opened #6043 "Components should all use the final zone sizing array"
Issue overview
--------------
Searching the code for CalcFinalZoneSizing shows multiple occurrences in equipment model sizing routines. This is an intermediate array which is copied to FinalZoneSizing at the end of the sizing calcs. Further updates to this array occurs after these arrays are set equal. So any component model using CalcFinalZoneSizing is not using the most updated data.

### Detail

[2017-03-06 18:54] rraustad opened #6044 "Reheat coils using main air loop air flow rate to size coil UA"
Issue overview
--------------
Ran into this with #6006 where reheat coils are sizing heating coil water flow rate using TermUnitSizing( CurZoneEqNum ).AirVolFlow and then using the main air loop air flow rate to calculate UA. This leads to a higher UA value than it should.

Use example file ElectricEIRChillerHeatRecoveryAuto. See PR #6041 for discussion.

### Details
Some additional details for th

[2017-03-06 19:56] JasonGlazer commented on #5606
As part of #5128 addressed:

- Provide option to disable validation checks for input fields when parametrics such as jeplus are used
- Allow multiple objects to be deleted at once when more than one is selected the Del Obj is pressed
- Allow multiple objects to be duplicated at once

[2017-03-06 19:58] rraustad opened #6046 "DX Coil rating for bypass factor should use volume converted to standard mass"
Issue overview
--------------
Rated performance of HVAC coils should not change with geography. Performance of these coils will change with changes in altitude/pressure, but the rated performance of a coil should be standardized so that a specific coil can be autosized regardless of the location.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, vers

[2017-03-07 10:19] nealkruis commented on #4859
This issue just came up in a training workshop. Some tools make heavy use of Schedule:File objects and are just now realizing that their design days might not be correct. What is EnergyPlus doing on design days for these situations?

[2017-03-07 13:25] mjwitte commented on #4859
Regardless of day type, Schedule:File uses the values for the current date.

[2017-03-07 19:09] #5667 closed, assigned to nobody

[2017-03-07 19:47] mjwitte commented on #5592
Closed via #6014

[2017-03-07 19:47] #5592 closed, assigned to EnergyArchmage

[2017-03-07 19:47] mjwitte commented on #5630
Closed via #6014

[2017-03-07 19:47] #5630 closed, assigned to nobody

[2017-03-07 20:33] rraustad commented on #6044
Using the example file ElectricEIRChillerHeatRecoveryAuto, the resulting differences in reheat coil sizing is (only diffs in eio other than warmup convergence):

develop:

    Component Sizing Information, Coil:Heating:Water, REHEAT COIL ZONE 1, Design Size U-Factor Times Area Value [W/K], 1770.49067
    Water Heating Coil Capacity Information,Coil:Heating:Water,REHEAT COIL ZONE 1,16970.61
    Com

[2017-03-07 20:57] rraustad commented on #6044
I spoke with Kannan Rengarajan at Cape Design Engineering. I asked about reheat coil sizing with respect to a simulation and actual installation where air flow rate through that coil could be higher than that needed for reheat purposes. He said he uses the simulation results to spec the coil. Then to avoid call-backs, they upsize the coil 25% and make sure the leaving air temperature can achieve a

[2017-03-08 13:22] ecoeficiente opened #6050 "Return Fan:VariableVolume Fan Power Minimum Flow Fraction imposes air loop flow"
Issue overview
--------------
Return Fan:VariableVolume imposes air loop flow to _Fan Power Minimum Flow Fraction_ despite E+I/O states the opposite:

### Details
It seems to happen with return fan but not with supply fan.

[2017-03-08 16:55] JasonGlazer commented on #5501
Updated defect file to EnergyPlus 8.6 in DevSupport repo, defect still present.

[2017-03-08 18:03] rraustad commented on #6043
The question here is which sizing array to use for equipment models.

The eio reports the design load and user specified loads:

    ! <Zone Sizing Information>, Zone Name, Load Type, Calc Des Load {W}, User Des Load {W}, Calc Des Air Flow Rate {m3/s}, User Des Air Flow Rate {m3/s}, Design Day Name, Date/Time of Peak, Temperature at Peak {C}, Humidity Ratio at Peak {kgWater/kgDryAir}, Floor Area {

[2017-03-08 18:07] rraustad commented on #6043
Also, there is no use of CalcFinalZoneSizing in SimAirServingZones or ReportSizingManager (only FinalZoneSizing) which also supports using the FinalZoneSizing array for zone equipment model sizing.

[2017-03-08 18:35] mjwitte commented on #6043
@rraustad Given that the uses of CalcFinalZoneSizing appear to all be related to zone heating devices, I'd say there's something more subtle going on here.  There is the question of what happens to these arrays when, say, a system is given a hard flow rate, or it is sized to ventilation requirements, and some adjustments are made back to the zone sizing calcs to align the terminal units.  Some (al

[2017-03-08 19:45] EnergyArchmage commented on #6043
I don't have much to add but I agree that moving to all FinalZoneSizing seems to make sense.

[2017-03-08 20:38] rraustad commented on #6043
This part of the code overwrites FinalZoneSizing.DesHeatLoad when a user specifies Flow/Zone or DesignDayWithLimit as the air flow input method. Note the example above for SingleDuct does not use this updated value so not being consistent bit us on this one. So all other heating types are radiant systems, which probably should not use the Flow/Zone input criteria? Unless of course the documentatio

[2017-03-08 20:51] mjwitte commented on #6043
If I'm following this correctly, that's why the non-forced-air heating systems are working off of CalcFinalZoneSizing so they get the "pure" design heating load.  In some ways it's wrong to be changing DesHeatLoad by TotHeatSizMult when airflow adjustments are part of it.  One fix it to carry two separate values along - one for forced air "desheatload" and one for non-forced air.

[2017-03-08 20:52] rraustad commented on #6043
Great minds!

    Real64 DesHeatLoad; // zone design heating load [W]
    Real64 NonAirSysDesHeatLoad; // same as zone design heating load without special multipliers from Sizing:Zone object [W]

    z.DesHeatLoad = c.DesHeatLoad;
    z.NonAirsysDesHeatLoad = c.DesHeatLoad;

Baseboards:

    ZoneEqSizing( CurZoneEqNum ).DesHeatingLoad = FinalZoneSizing( CurZoneEqNum ).NonAirSysDesHeatLoad;

[2017-03-08 20:55] mjwitte commented on #6043
But it should still get the HeatingSizingFactor, no?

[2017-03-08 20:56] rraustad commented on #6043
It's already in there. I've checked, but I'll check again.

[2017-03-08 21:04] brianlball opened #6051 "FuelCell Plant connection in ElectricPowerServiceManager"
Issue overview
--------------
Fuel Cell plant connection in ElectricPowerServiceManager may not be correct.  Fuel Cell has 2 possible plant connections. StackCooler is included but is an optional connection.  ExhaustGasHeatExchanger is NOT an optional component but is not included.

### Details
Should this line also handle the ExhaustGasHeatExchanger:

https://github.com/NREL/EnergyPlus/blob/devel

[2017-03-08 21:20] rraustad commented on #6043
OK, it needed to be accounted for.

[2017-03-08 21:23] mjwitte commented on #6043
But not in the baseboard, it should be put in FinalZoneSizing.NonAirSysDesHeatLoad, like it is already being added to FinalZoneSizing.DesHeatLoad.

[2017-03-08 21:28] rraustad commented on #6043
Correct. It's  done in ZoneEquipmentManager like everything else. I'm going to do this step wise so I know which change causes diff's.

[2017-03-09 14:32] Nigusse opened #6053 "Autosized Nominal capacity and design water flow rate values are set to hard sized values for Hot Water Boilers"
Issue overview
--------------

In Boiler:HotWater the "Nominal Capacity" and "Design Water Flow Rate" are hard sized and "Do Plant Sizing Calculation" is set to yes, then the autosized design values are set to the corresponding hard sized values.  The correct autosized values are reported if the input fields are auto-sized.

Defect file results:
 Component Sizing Information, Boiler:HotWater, CENT

[2017-03-09 16:42] mjwitte commented on #5133
Closed via #5976

[2017-03-09 16:42] #5133 closed, assigned to Nigusse

[2017-03-09 16:55] mjwitte opened #6055 "Ventilation rate procedure (VRP) sizing problems"
Issue overview
--------------
I tried the autosize feature on the reheat box min fraction and it does work but I’m still not getting enough OA out of the system. Here is the problem: when the system OA is upsized based on 62.1, i.e., the system OA is greater than the zone sum, the minimum damper positions required to support the higher OA are the ones that should be used. Further, the max supply f

[2017-03-09 17:18] Myoldmopar commented on #4989
Closed via #5918

[2017-03-09 17:18] #4989 closed, assigned to mjwitte

[2017-03-09 17:33] Myoldmopar commented on #5932
Closed via #5981

[2017-03-09 17:33] #5932 closed, assigned to Nigusse

[2017-03-10 22:24] Myoldmopar commented on #6005
Closed via #6008

[2017-03-10 22:24] #6005 closed, assigned to lgu1234

[2017-03-10 23:13] Myoldmopar commented on #6033
Closed via #6034

[2017-03-10 23:13] #6033 closed, assigned to rraustad

[2017-03-11 05:58] Nigusse commented on #6053
Added more defect files. The same problem was observed in Boiler:Steam, Chiller:Electric:ReformulatedEIR, and Chiller:Electric:EIR. The fix will address the same problem in all the four objects.

[2017-03-13 16:25] rraustad opened #6059 "Crash in UnitarySystem when heating only DX multispeed coil is used"
Issue overview
--------------
Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.

Wrokaround: Include Coil:Cooling:DX:Multispeed and schedule this coil off.

#

[2017-03-13 18:51] mjwitte commented on #5998
Closed via #6003

[2017-03-13 18:51] #5998 closed, assigned to Nigusse

[2017-03-13 20:34] mjwitte commented on #5908
Closed via #5979

[2017-03-13 20:34] #5908 closed, assigned to Nigusse

[2017-03-13 20:46] rraustad commented on #6059
User file crases when DX coil model tries to access DXCoil(DXCoil(DXCoilNum).CompanionUpstreamDXCoil).NumOfSpeeds since this model expects both cooling and heating coils. Safeguards added to DXCoils.cc and minor edits to HVACUnitarySystem.cc.

See PR #6060.

[2017-03-14 01:47] rraustad opened #6061 "Several example files do not report multi-speed heating coil airflow and capacity"
Issue overview
--------------
V8.6 for MSHeatPump_StagedThermostat shows missing sizing data for capacity and airflow stages.
 - AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed should report more data for capacity and air flow?
 - heating coil air flow sizing for lower stages is missing
 - cooling and heating coil capacity data is missing

     ! <Component Sizing Information>, Component Type, Com

[2017-03-14 16:17] mjwitte commented on #6032
Closed via #6045

[2017-03-14 16:17] #6032 closed, assigned to nobody

[2017-03-14 16:17] mjwitte commented on #5128
Closed via #6045

[2017-03-14 16:17] #5128 closed, assigned to JasonGlazer

[2017-03-14 19:21] macumber opened #6063 "Transition error in CoolingTower:SingleSpeed"
We found an error in the 8.7 prerelease version translation for one of our test files.

[2017-03-14 19:22] macumber commented on #6063
This is the error we got when running the updated file:

[code]

Here is the object in E+ 8.6:
[code]

Here is the object after transition to E+ 8.7:
[code]

[2017-03-14 19:23] macumber commented on #6063
@kbenne FYI

[2017-03-14 19:24] macumber commented on #6063
E+ 8.6 file for reference

[old.idf.txt](https://github.com/NREL/EnergyPlus/files/842461/old.idf.txt)

[2017-03-14 19:29] mjwitte commented on #6063
This has been fixed in current develop.

[2017-03-14 19:30] #6063 closed, assigned to Myoldmopar, mjwitte

[2017-03-14 20:11] mjwitte commented on #6063
Fix went in with #6012

[2017-03-15 12:12] #6023 closed, assigned to rraustad

[2017-03-15 12:49] EnergyArchmage opened #6064 "Plant Heat Exchanger Demand Side Sizing Improvement"
Issue overview
--------------
When autosizing the fluid to fluid heat exchanger, the flow rate for the demand side is currently set to equal the flow rate determined for the supply side.  However, the two sides may have different design delta temperature values.  Helpdesk user suggests to use the temperature differences to better scale the relative flow rates.  Also want specific heat to handle th

[2017-03-15 13:29] mjwitte commented on #5922
Closed via #6038

[2017-03-15 13:29] #5922 closed, assigned to rraustad

[2017-03-16 14:05] jmarrec opened #6069 "IsNodeOnSetPtManager only checks SPM:Scheduled"
Issue overview
--------------
In [SetPointManager::IsNodeOnSetPtManager](https://github.com/NREL/EnergyPlus/blob/a5b04d73ecfef706cda7d0543ccad31e7c27087a/src/EnergyPlus/SetPointManager.cc#L7877)

It only checks for `SchSetPtMgr`, which if you track down, is actually only `SetpointManager:Scheduled`. I find that strange since the docstring of the routine doesn't mention it, and the capacity to chec

[2017-03-16 14:10] mbadams5 commented on #5764
@EnergyArchmage Was this addressed by #5740? If so, can this be closed?

[2017-03-16 14:20] mjwitte commented on #5759
@EnergyArchmage Was this addressed by #5740? If so, can this be closed?

[2017-03-16 16:03] Nigusse commented on #5759
@mjwitte I have addressed autosizing problems of Engine Driven and Gas Turbine chillers along  with constant COP chiller in issues #6010 and #4991. Defect files for Gas Turbine and Engine Driven Chillers were added to issue #4991 defect folder.

[2017-03-16 16:45] EnergyArchmage commented on #5764
@mbadams5 , yes it was.

code is here
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ChillerElectricEIR.cc#L1381

[2017-03-16 16:45] #5764 closed, assigned to EnergyArchmage

[2017-03-16 16:59] EnergyArchmage commented on #5759
I lost track of what all got fixed when.  (BTW I think these changes got lost a few years ago as by a merge mistake between my last project at NREL and PNNLs sizing message stuff...)

But yes, this particular issue was fixed by #5740 and the code is here
https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/PlantChillers.cc#L1497

[2017-03-16 16:59] #5759 closed, assigned to EnergyArchmage

[2017-03-16 18:02] #5991 closed, assigned to nobody

[2017-03-16 18:27] #5907 closed, assigned to nobody

[2017-03-16 21:10] #5318 closed, assigned to Myoldmopar

[2017-03-17 17:44] #5927 closed, assigned to nobody

[2017-03-20 15:39] Myoldmopar opened #6072 "Displacement Ventilation Manager Coefficients"
Issue overview
--------------
A contributor is noting there are improved coefficients for the displacement ventilation manger.  I'll put up the suggested changes and we can decide if they are valid and easy enough to drop right in now.

[2017-03-20 18:17] Myoldmopar commented on #6059
Closes via #6060

[2017-03-20 18:17] #6059 closed, assigned to rraustad

[2017-03-20 19:08] Myoldmopar commented on #6053
Closed via #6057

[2017-03-20 19:08] #6053 closed, assigned to Nigusse

[2017-03-21 14:26] EnergyArchmage commented on #6020
Currently the whole-air-system OA flow rate comes from the sum of the OA design rates for each of the zones attached.  Then that whole-air-system flow is evenly divided between the zones attached, which will nearly always be incorrect.

I suggest that the best solution to this issue is to add a new input field for the name of a DesignSpecification:OutdoorAir to the AirTerminal:SingleDuct:Mixer obj

[2017-03-21 17:40] rraustad commented on #6028
This is the reason for low heating coil capacity. Results are in paren for Unit 116. The air flow rate used to size the coil is the DesHeatMassFlow while the PTAC is sized to the greater of cooling and heating volume or 0.251 m3/s. So the question is, should the coil be sized at the higher air flow rate? BTW, ZoneEqSizing(84).AirVolFlow = 0.251 (set in the PTAC) and is not used in sizing the water

[2017-03-21 18:07] rraustad commented on #6028
Zone Unit 116 = 106.49 m2 with about 1.8 people so total OA = 0.0373 m3/s which is about equivalent to the zone design heating mass flow rate. So it was 22.2C outside during the peak heating load? All sizing knows is a zone load and a heating SAT to calculate mass flow rate. The heating coil SAT at the higher flow rate and 22.2C inlet would be much lower than 32.2C and might even be lower than the

[2017-03-21 18:11] mjwitte commented on #6028
Sizing may need to get smarter about ventilation loads.  In discussions about the reheat coil fix, I recall that we tossed around the possibility of tracking ventilation loads during sizing.  If I'm following your analysis correctly, the zone peak heating load has no relation to when the coil with outdoor air will see it's peak load.

[2017-03-21 18:56] rraustad commented on #6028
Peak zone heating load vs peak coil load. The coil should size to the greater of these. Not sure what to do here?

So at line 750 of ZoneEquipmentManager we set the load equal to the zone load without concern for ventilation if any. And then we calculate the zone heating/cooling mass flow rate. Yep, not enough info to size the coil. That's why there's backflips in the sizing routines to include OA

[2017-03-21 22:26] Myoldmopar commented on #6072
Closed via #6073

[2017-03-21 22:26] #6072 closed, assigned to nobody

[2017-03-22 00:08] rraustad commented on #6028
After some thought, the method used now is sound. The zone load is met by the calculation of zone mass flow rate at ( SAT - Tzone ). This is the same as the coil load with no OA ( Tzone = Tmix ). With OA, the coil load is zone mass flow rate * ( SAT - Tmix ). The coil must meet the SAT requirement at the ultimate coil flow rate so changing the sizing routine to use the correct flow rate is the mos

[2017-03-22 12:55] mjwitte commented on #6006
Closed via #6041

[2017-03-22 12:55] #6006 closed, assigned to rraustad

[2017-03-22 16:06] #5911 closed, assigned to JasonGlazer

[2017-03-23 14:39] Myoldmopar commented on #5919
Closed via #6035

[2017-03-23 14:39] #5919 closed, assigned to rraustad

[2017-03-23 14:39] Myoldmopar commented on #5936
Closed via #6035

[2017-03-23 14:39] #5936 closed, assigned to nobody

[2017-03-23 14:43] Myoldmopar commented on #6004
Closed via #6071

[2017-03-23 14:43] #6004 closed, assigned to nobody

[2017-03-23 19:53] Myoldmopar opened #6081 "Highly conductive finite difference material severe should cause fatal"
Error message:

[code]

It's a severe, and per the user, it should go ahead and fatal.

[2017-03-23 20:31] mjwitte commented on #6043
Closed via #6052

[2017-03-23 20:31] #6043 closed, assigned to nobody

[2017-03-24 16:08] rmcclung opened #6082 "SolarCollector:UnglazedTranspired setting exterior temp to 0 when no flow"
When using SolarCollectro:UnglazedTranspired to preheat out door air for an air handler, and that air handler has no OA flow (at night, for example), the Solar Collector Air temperatures are set to zero, which sets the temperature of the associated wall surface to zero instead of the outdoor air temp, which increases/decreases heat loss through the assembly.

*See #6139 for more details. The heat

[2017-03-24 16:12] EnergyArchmage commented on #6082
The surface heat transfer should be switching to use the passive model when flow is zero.

[2017-03-26 12:01] Myoldmopar commented on #5926
Yeah, I think that decrement assumes that the object is fully filled out.  We just need to make sure it only decrements down to the minimum number of fields.

[2017-03-26 12:16] Myoldmopar commented on #5926
And I assume the series PIU needs the same thing...

[2017-03-26 12:22] Myoldmopar commented on #5975
I don't understand.  I mean, maybe E+ has been lenient on the intermix of autosize and autocalculate being allowed, but this seems like a philosophical issue.  The IDD calls that field `\autocalculatable` so users or GUIs should be putting `autocalculate` there.  I assume this happens in all autocalculatable fields, not just towers, and probably every version of transition.  But then again, it's v

[2017-03-26 12:32] EnergyArchmage commented on #5975
The error message itself seems strange, reporting value = 0.0.  The value of autocalculate should be the same as autosize at -99999.0.

[2017-03-26 12:58] Myoldmopar commented on #5975
I'm guessing it's from [this line](https://github.com/NREL/EnergyPlus/blob/PrepFor87/src/Transition/InputProcessor.f90#L80) in the transition input processor.  The transition input processor really shouldn't have a concept of numeric representations for autosize and autocalculate, as, imo, those numeric values are subject to change within the guts of E+ without having to consult outside entities.

[2017-03-28 16:26] #5926 closed, assigned to nobody

[2017-03-30 15:23] EnergyArchmage commented on #5105
I recently started getting this error on Windows 10.  Appeared after installing version 8.7 (or maybe also reinstalling version 8.6). EPLaunch no longer runs on my machine for all different installed version of e+.

[2017-03-30 18:27] macumber opened #6084 "File ran in E+ 8.6, 8.7 pre-release, but not 8.7 rc"
Issue overview
--------------
This file ran in previous versions of E+ but not in current RC.  Just want to make sure this is a known regression.  Error is:

   ** Severe  ** The Output:Table:Monthly report named="OCCUPANT COMFORT DATA SUMMARY" has a --DuringHoursShown aggregation type for a column without a previous field that uses one of the Hour-- aggregation types. The report will not be gener

[2017-03-30 18:27] macumber commented on #6084
Defect file [in.idf](https://github.com/NREL/EnergyPlus/files/883421/in.idf.txt)

[2017-03-30 18:28] macumber commented on #6084
Problem object:

  Output:Table:Monthly,
    Occupant Comfort Data Summary,  !- Name
    3,                       !- Digits After Decimal
    Zone People Number of Occupants,  !- Variable or Meter 1 Name
    HoursNonZero,            !- Aggregation Type for Variable or Meter 1
    Zone/Sys Air Temperature,!- Variable or Meter 2 Name
    SumOrAverageDuringHoursShown,  !- Aggregation Type for Variabl

[2017-03-30 18:32] macumber commented on #6084
@Myoldmopar @mjwitte any thoughts?

[2017-03-30 18:37] macumber commented on #6084
@JasonGlazer looks like this came in on https://github.com/NREL/EnergyPlus/pull/6039

[2017-03-30 18:51] Myoldmopar commented on #6084
Yeah, that was a bug fix, but as I understand it, it should've passed because the aggregation for variable 1 is not one of the "advanced" aggregation types...  @mjwitte @JasonGlazer did #6039 have a leak in it?  Or am I missing something?

[2017-03-30 18:54] JasonGlazer commented on #6084
That error message should not be getting generated. Looks like something is broken with the new error message. I will take a look.

[2017-03-30 21:27] JasonGlazer commented on #6084
@macumber Edwin just pulled this bug fix out of the 8.7 code for the release. https://github.com/NREL/EnergyPlus/pull/6085

[2017-03-31 20:01] mjwitte opened #6086 "User file with RoomAirSettings:AirflowNetwork is failing with fatal error"
Issue overview
--------------
User file has two zones with RoomAirSettings:AirflowNetwork.  Has fatal errors:
[code]
The first objects start with:
[code]

The calls to ValidateComponent are looking for the zone name instead of the object name.  Tried a workaround on this by setting the object name equal to the zone name but then it crashes with an array bounds error.

### Details
Some additional d

[2017-04-04 17:36] rraustad opened #6088 "User file showing fatal error when sizing hot water coil UA"
Issue overview
--------------
Very low zone loads cause the hot water coil air flow rate used to size the coil UA to be lower than SmallAirVolFlow (0.001) which results in the sizing routine setting the air flow rate to 0.

    if ( IsAutoSize || SizingDesRunThisAirSys || SizingDesRunThisZone ) {
        if ( AutosizeDes < SmallAirVolFlow && bCheckForZero) {
            AutosizeDes = 0.0;

[2017-04-04 17:44] rraustad commented on #6088
Made suggested correction above and user file runs to completion. However, coils sizes are very small (30W) and air flow used during sizing is also very small (0.0009 m3/s or 2 CFM). Coil UA sizes out to 1W/K, seems very unreasonable.

    ! <Zone Sizing Information>, Zone Name, Load Type, Calc Des Load {W}, User Des Load {W}, Calc Des Air Flow Rate {m3/s}, User Des Air Flow Rate {m3/s}, Design Da

[2017-04-04 17:53] rraustad commented on #6088
See PR #6089.

[2017-04-05 23:34] spencerdutton opened #6091 "Add Hybrid Unitary Air Conditioner model"
Issue overview
--------------
Working with Jonathan Wooley, and to a limited extent NREL I aim to add a new model. Im creating an issue so I can give my branch an identifier.

[2017-04-06 21:00] mjwitte opened #6092 "Same idf file can produce different result - related to Fan:SystemModel"
Issue overview
--------------
User complained that two identical files were producing a different sizing result.  At first, could not reproduce this, but after repeated attempts, saw two different results show up for the same idf file.  Diffing the err file shows one additional error:
[code]
Diffing the eio files, show differences in component sizing for
[code]

There are also diffs in the DX Heat

[2017-04-07 16:57] Myoldmopar commented on #6091
The 6 independent variable addition to the lookup table is ready for testing: #6093

[2017-04-07 21:45] mjwitte opened #6095 "PTAC heating coil is off when there is no zone heating load and supply fan is continuous mode"
Issue overview
--------------
User has two files which both use baseboard as the primary heat source with a PTAC running second for heating.  One simulation uses hot water baseboard and a hot water heating coil in the PTAC, and it controls fairly well (not perfect, but no unmet heating hours).  The second one has electric baseboard and a gas heating coil in the PTAC.  The PTAC heating coil rarely

[2017-04-07 22:14] mjwitte commented on #6088
The original error that the user saw is rather frustrating:
[code]
@rraustad Is there any way this can be changed to do something reasonable instead of a fatal?

[2017-04-08 01:26] rraustad commented on #6088
Yes, we need to be smarter on this one.  The problem is the coil capacity is 0 while the load is > 0. Whether that's due to air flow sizing or delta conditions capacity sizing doesn't matter, it's an issue with the choice to size the UA.

** ~~~ ** Design Coil Capacity = 0.000 W
** ~~~ ** Design Coil Load = 26.630 W

[2017-04-08 01:30] rraustad commented on #6088
This is probably the issue where water coil air flow is set to 0 if < 0.001 when attempting to calc UA. My fix corrects but we still need to discuss.

[2017-04-12 17:46] mjwitte commented on #6055
Relevant inputs:
[code]

1.17.3.1.6 Field: Minimum Zone Ventilation Efficiency
This optional input sets a minimum on the ventilation efficiency for the zone. It is only used with the Ventilation Rate Procedure (VRP), single-path method. VRP should be chosen in Sizing System, System Outdoor Air Method = VentilationRateProcedure. Single-path method is indicated by leaving the previous input (Zone Se

[2017-04-12 17:56] EnergyArchmage commented on #6055
I think that coincident vs noncoincident is also an important distinction for these VRP sizing problems.

[2017-04-12 18:08] mjwitte commented on #6055
Comparison of results for defect file with Minimum Zone Ventilation Efficiency = 0.6 vs 0.7 for VAV_POD_1 (note that there is also a corridor zone on POD1 - not shown here)

![image](https://cloud.githubusercontent.com/assets/4991075/24972189/1fb43fdc-1f80-11e7-8945-e5a60eb83616.png)
![image](https://cloud.githubusercontent.com/assets/4991075/24972206/2cb0172e-1f80-11e7-8bb1-eb6168d9ad22.png)

![i

[2017-04-17 18:40] mjwitte opened #6097 "SetpointManager:OutdoorAirReset and others should support dual setpoint loops"
Issue overview
--------------
For PlantLoops with DualSetpointDeadband control, the hi and low setpoints must be set using SetpointManager:Scheduled:DualSetpoint, or with another type of SetpointManager:* with control variable = "MaximumTemperature" for the hi setpoint and "MinimumTemperature" for the lo setpoint.

These control variable types are allowed for:
SetpointManager:Scheduled
SetpointMan

[2017-04-17 22:45] mjwitte opened #6098 "User file with large ZoneHVAC:CoolingPanel:RadiantConvective:Water crashes in UA calculation"
Issue overview
--------------
User file crashes with log of a negative number [here]() when calculating the UA for the radiant cooling panel.
[code]
Qrated is 6498W and the denominator is only 3115.  This results in log(1.0 - 2.2) which fails.

The calculation needs to be protected from a bad log argument in general.
But this raises questions about the usefulness of the three Rated inputs in this

[2017-04-18 13:35] lgu1234 opened #6099 "Reset Ventilation Control Mode in AirflowNetwork:MultiZone:Surface from AdjacentTemperature to Temperature"
Issue overview
--------------
Ticket 11897

The normal connection defined in an object of AirflowNetwork:MultiZone:Surface is between the zone and outdoor, if this surface is an exterior surface, or between two zones if this surface is an interior partition. When this surface connection is redefined in an object of AirflowNetwork:IntraZone:Linkage, the AdjacentTemperature as Ventilation Control Mo

[2017-04-18 13:54] lgu1234 opened #6100 "Disallow all objects of AirflowNetwork:MultiZone:Surface redefined in AirflowNetwork:IntraZone:Linkage"
Issue overview
--------------
The connections of zone node defined in an object of AirflowNetwork:MultiZone:Zone is based on objects of AirflowNetwork:MultiZone:Surface. These connections should not be reconnected by objects of AirflowNetwork:IntraZone:Linkage totally, because the zone node connection may be lost with possible severe errors.

### Details
Some additional details for this issue (if

[2017-04-18 16:18] JasonGlazer opened #6102 "Unable to find IP unit conversions for cm and Yes/No"
When running the test file, the following warning messages are shown:

[code]

These should be corrected.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x] Defect file added (see EnergyPlusDevSupport\DefectFiles\6000s\6102)
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull req

[2017-04-18 16:24] mjwitte commented on #6102
These are all in the Surface Convection Parameters table of the Initialization Summary (eio) report.

![image](https://cloud.githubusercontent.com/assets/4991075/25141484/4ddaf894-2429-11e7-91d3-7a476dac1628.png)

[2017-04-19 13:48] rraustad opened #6105 "HW supplemental heating coil in AirloopHVAC UnitarySystem not controlling to set point"
Issue overview
--------------
User file uses HW supplemental heating coil in AirloopHVAC:UnitarySystem with Setpoint control. HW coil outlet temperature overshoots set point at times and undershoots other times. The Coil:Heating:WaterToAirHeatPump:VariableSpeedEquationFit also appears to have control issues.

Found that CW and HW coils also exhibit poor set point based control. Added new defect fi

[2017-04-19 14:05] rraustad commented on #6105
Results show poor control of HW supplemental coil.

Supp coil inlet air node = Unitary HC Air Outlet
Supp coil outlet air node = Unitary Air Outlet Node

See x-axis 400 - 600. HW coil inlet node air temp (dark blue dash line) is at the SP (grey line) yet coil is fully on providing a high outlet temperature (orange). Also appears that HW supp coil water outlet node mass flow rate (yellow) does not

[2017-04-19 15:34] rraustad commented on #6105
A few changes and this looks much better but the water side flow rate still does not match the heating coil heating rate. Still looking and suspect that the SetComponentFlowRate is not called when needed.

![6105-hwsuppcontrol_nearlyfixed](https://cloud.githubusercontent.com/assets/5778156/25188505/49971eea-24f4-11e7-936e-30df28f878cb.png)

[2017-04-20 16:58] jonwinkler opened #6106 "Extra Output Variables in v8.7"
Despite including a Key Value in certain Output:Variable objects, all corresponding output variables are being written (as if an * was included for the key value). This does not occur in v8.6.

This only occurs for certain outputs. See attached IDF and CSV files. For example, the Zone Mean Air Temperature is being written for all zones when it should only be writing it for 'living_1'. This is not

[2017-04-20 16:59] mjwitte commented on #6106
@mbadams5

[2017-04-20 20:44] mbadams5 commented on #6106
At first glance, it seems like it is adding a * key value for certain output variables and the culprit is [here](https://github.com/NREL/EnergyPlus/blob/78a111df4adc0ac10b929e2abd28ac9391d46bfa/src/EnergyPlus/InputProcessor.cc#L5480). These are added due to the following in your input file which then causes all those keys to be added internally.
[code]

What I haven't figured out yet, is why E+ 8.

[2017-04-20 22:35] mjwitte commented on #6106
@JasonGlazer ?

[2017-04-20 23:28] mjwitte commented on #6106
@mbadams5 I can't help thinking the problem is that the re2 matching is being applied at the wrong place and it's expanding in the wrong direction when it sees the "*" in `OutputVariablesForSimulation` rather than expanding based on `ReqRepVars`.

[2017-04-21 02:05] mbadams5 commented on #6106
@mjwitte I don't fully understand what you mean when you say `it's expanding in the wrong direction when it sees the "*" in OutputVariablesForSimulation rather than expanding based on ReqRepVars.`
The regex matching is being done in the same exact place as the previous linked list search and as far as I am aware is doing the exact same matching, but obviously something is different.

[2017-04-21 15:01] mjwitte commented on #6106
@mbadams5 Neither do I - just fishing for an explanation.  I don't fully understand all the output setup functions, but what I see at this point are essentially three passes (figuring this out as I go):

1. To activate accumulation of all the required values (and avoid accumulating variables that are never used for anything).  This pass goes through idf output variable requests in [InputProcessor:

[2017-04-21 17:49] rraustad commented on #6105
So changing thinking in that I wanted to see if the UnitarySystem was doing what I see in code (i.e., I can't find any reason why the water flow rate is non-zero when heating coil heating rate = 0). This is what I get now that I think I've fixed the problem. With a snapshot showing that the HW coil water flow rate is not 0 at times when it should be.

![6105_results1](https://cloud.githubuserconte

[2017-04-21 18:02] rraustad commented on #6105
Also, this HW coil is included on a loop with these components which I'm sure are well behaved.

    Connector:Mixer,
     HW Loop Demand Mixer,    !- Name
     HW Loop Demand Outlet Branch,  !- Outlet Branch Name
     HW Loop Backup Heat HX Branch,  !- Inlet Branch 1 Name
     Water Heater Branch,     !- Inlet Branch 2 Name
     Unitary Supp Heat Branch;!- Inlet Branch 3 Name

    Branch,
     HW

[2017-04-21 18:25] rraustad commented on #6105
Might as well include the water side temps so we can see the HW coil is actually off and acting as a pass through pipe.

![6105_results3](https://cloud.githubusercontent.com/assets/5778156/25291016/586b4c38-269e-11e7-857d-b1b06aa131c2.png)

[2017-04-21 18:33] rraustad commented on #6105
Saving my debug code in case I need it again.

    static Real64 CurrentEndTime( 0.0 ); // end time of time step for current simulation time step
    bool FileExist( false ); // initialize to false, then override to true if present
    int write_stat;
    static int MyUnitNum( 0 );
    static int SaveMonth;
    static int SaveDay;
    static Real64 SaveTime;
    static Real64 SaveTimeStepSys;

[2017-04-21 18:47] rraustad commented on #6105
See PR #6107.

[2017-04-25 21:00] rraustad commented on #6088
Regarding the frustrating message, I could check to see if air and water flow rate > 0 and if not set UA = 1 ? In this run I also reverted back to checking for the 2 cfm limit (really, that's our limit). I should tell the user something if RegulaFalsi fails, no? The only thing missing in that message is air flow rate. That message should report much less now (i.e., RegulaFalsi shouldn't fail with

[2017-04-25 22:17] eringold commented on #5672
@JasonGlazer I'm seeing this happen with ExteriorLights: .

![leeddemandextlight](https://cloud.githubusercontent.com/assets/10799524/25410118/36316620-29d2-11e7-84e7-4f8e35e525ea.png)
![annualandpeakextlight](https://cloud.githubusercontent.com/assets/10799524/25410195/9317ad04-29d2-11e7-8348-adf94accc814.png)

Would you like that file?

[2017-04-26 16:27] larryscheier commented on #6055
In SimAirServingZones.cc, the Minimum Zone Ventilation Efficiency field is applied in LimitZoneVentEff. It looks like the VRP table "Zone Ventilation Calculations for Cooling Design" is not getting updated for the columns: "Minimum Zone Primary Airflow - Vpz-min [m3/s]" and "Primary Outdoor Air Fraction - Zpz" though somehow the "Zone Ventilation Efficiency - Evz" column is updated. Perhaps we sho

[2017-04-26 20:06] anchapin commented on #5298
Any updates on this issue? This would be very helpful for LEED Reviewers. The total minimum OA for the building needs to be compared between the Baseline and Proposed Case models.

[2017-04-27 07:25] MikeBarcl commented on #4547
I also had this issue when installing 8.5 and 8.6 recently. The work around of installing 8.2 first worked for me though.
workaround mentioned here ... https://github.com/NREL/EnergyPlus/issues/5105

[2017-04-27 19:09] energysims opened #6109 "2 speed operation with Air Economizer in UnitarySystem"
Issue overview
--------------
Current economizer operation in unitary system with multispeed fan does not impact fan speed.  Economizer only operation is limited to low speed operation and economizer plus compressor operation is limited to low speed unless both compressors operate. Current energy codes require unitary equipment over 5 tons to have economizers with two stages of economizer only ope

[2017-04-28 12:38] Nigusse commented on #6020
The AirTerminal:SingleDuct:Mixer object implementation use all the calculations in each zoneHVAc equipment.  We can use the OA amount from ZoneHVAC equipment determined from DesignSpecification:OutdoorAir object.

[2017-05-01 13:15] rraustad commented on #6105
The reason for the water-side discrepancy in the defect file was due to the user setting plant minimum flow rate = max without using a bypass branch on the chilled water plant demand side. The HW loop does have a bypass branch so was not affected. Plantloop min was set to 0 and a bypass branch added to the CW loop.

    PlantLoop,
     HW Loop,                 !- Name
     0.020000,

[2017-05-01 15:58] shorowit opened #6111 "Documentation bug"
In the `AirLoopHVAC:UnitarySystem` section of the IO Ref, there is an example that includes:

[code]

Instead of, e.g., `Heating Speed 1 Supply Air Flow Rate {m3/s}`, the field should be labeled as `Heating Speed 1 Supply Air Flow Ratio`. Same is true for the rest of these fields.

[2017-05-02 15:00] shorowit opened #6112 "Missing output row in SQL database"
E+ 8.7 on Windows

The E+ html file includes 21 rows in the Component Sizing Information table, where row 20 is:
`20 	Boiler:HotWater 	RESIDENTIAL BOILER ELECTRIC 	User-Specified Nominal Capacity [W] 	26352.97405`
whereas the SQL file only has 20 rows and is missing this output.

IDF file attached.

[in.idf.txt](https://github.com/NREL/EnergyPlus/files/970829/in.idf.txt)

[2017-05-02 15:04] mjwitte commented on #5997
- [x] Reference discussion on [unmethours](https://unmethours.com/question/24056/tracking-energyplus-runtime-progress/?answer=24065#post-id-24065), the section about energyplus.log should be removed.  At least on Windows, that file has not been saved for quite some time now.  Check the full set of docs for other references to a .log output.

Addressed in Pull Request [160251551_Issue#5997](https:/

[2017-05-02 16:04] nealkruis opened #6113 "SHR autosizing can produce bad results"
### Problem

Two related issues:

1. The [documentation](https://github.com/NREL/EnergyPlus/blob/cecaea1295fd603c9ae24d89a63339bd45fb454e/doc/engineering-reference/src/loop-equipment-sizing-and-other-design-data/component-sizing.tex#L1079) on SHR sizing does not describe the actual [routine used](https://github.com/NREL/EnergyPlus/blob/cecaea1295fd603c9ae24d89a63339bd45fb454e/src/EnergyPlus/Report

[2017-05-04 16:14] nealkruis opened #6115 "Remove severe error for DX coil flow rate per capacity limits"
The errors for "Rated air volume flow rate per watt of rated total cooling capacity is out of range" (e.g., [here](https://github.com/NREL/EnergyPlus/blob/cecaea1295fd603c9ae24d89a63339bd45fb454e/src/EnergyPlus/DXCoils.cc#L5579)), appear frequently in projects.

As far as I can tell, this has [always](https://github.com/NREL/EnergyPlusArchive/commit/32125a1cf9e9c28c69da1829a0bde9e30bc3bce3#diff-8a

[2017-05-04 17:03] rraustad commented on #6113
1. true, looks like that did not get updated when the empirical SHR model was added
2. Bereket added this, based on a review of manufacturers data. The regression actually does take into consideration the limitations given the limits on RatedVolFlowPerRatedTotCap, you go outside those limits and you MIGHT get into trouble. 0.00005 is about the middle of the RatedVolFlowPerRatedTotCap range. If you

[2017-05-04 17:10] rraustad commented on #6115
The limits are there to protect the user from operating a DX system out of range on flow rate and is based on review of manufacturers data. Without warnings the user could operate a coil at air flow so low it freezes the coil (which there is also a warning for). Since this is a simulation, we could allow operation at very low or high flow rate ratios, but then how would you warn the typical user t

[2017-05-04 17:11] nealkruis commented on #6113
@rraustad The current limits on RatedVolFlowPerRatedTotCap are somewhat arbitrary based on a sampling of units. They are not actual physical limits (see #6115). I added a diagram to help explain. The problem is that the SHR calculated is sometimes greater than the physical maximum shown in the plot--thus leading to RH > 1.0.

[2017-05-04 17:21] nealkruis commented on #6115
@rraustad, good point. We should have a warning (maybe an error?) when the ADP is below freezing instead.

The limits we currently impose are based on a sampling of units, and not the potential range of DX coil designs. In reality there is no real upper limit (just higher than normal supply temperatures), and the lower limit can be handled with the warning on the ADP temperature.

[2017-05-04 17:31] rraustad commented on #6113
Physical limits .. I guess the only limit is frost formation. Function ValidateADP won't allow the SHR to fall below Min SHR in your figure. Or Max SHR if that concept was included when that function was written. Both cases should be trapped in the ValidateADP routine.

[2017-05-04 17:52] nealkruis commented on #6113
[ValidateADP](https://github.com/NREL/EnergyPlus/blob/cecaea1295fd603c9ae24d89a63339bd45fb454e/src/EnergyPlus/DXCoils.cc#L10123) only bounds Min SHR. There is nothing keeping the SHR below the maximum. It should be easy enough to add.

[2017-05-04 18:02] nealkruis commented on #6113
@rraustad is there a reason we're not using a [standard root solver](https://github.com/NREL/EnergyPlus/blob/cecaea1295fd603c9ae24d89a63339bd45fb454e/src/EnergyPlus/General.cc#L122) to find the [Min SHR](https://github.com/NREL/EnergyPlus/blob/cecaea1295fd603c9ae24d89a63339bd45fb454e/src/EnergyPlus/DXCoils.cc#L10203)?

[2017-05-04 18:26] rraustad commented on #6113
Only reason being the function required in the RegulaFalsi call. I thought it would probably be easier to hard code instead of trying to figure out what the function would look like.

[2017-05-05 15:08] mjwitte commented on #6020
Also check CO2 concentration at mixer outlet (and other contaminants and OA mass flow).  Ref:  Helpdesk ticket 12014.

[2017-05-05 16:10] EnergyArchmage commented on #6020
But the ZoneHVAC equipment do not all have a reference to a DesignSpecification:OutdoorAir object, so how can it be used.  Are you proposing to take it from the zone sizing object?

The I/O reference specifically says to set the outdoor air flow rates to zero in the ZoneHVAC when using the mixer.

[2017-05-05 16:46] mjwitte commented on #6020
I think the ZoneHVAC equipment should have a non-zero OA flow rate (set either directly or autosized) and that should be the flow request on the mixer terminal unit.  That should flow upstream to the DOAS just like it would from any other standard terminal unit.

[2017-05-05 18:13] Nigusse commented on #6020
@EnergyArchmage Those statements were added to reflect the original implementation assumption, which was incorrect. The I/O reference will be corrected as part of this fix.

[2017-05-08 14:35] nealkruis commented on #6113
@rraustad do you agree that we should use ValidateADP to bound the SHR between the min and max illustrated above?

[2017-05-08 14:38] nealkruis commented on #6115
@rraustad do you agree that we can replace these errors with a warning when the ADP is below freezing?

[2017-05-08 15:29] rraustad commented on #6113
It seems reasonable to me and has a physical justification. The ValidateADP function already does half of the necessary limit so might as well do it all in that function.

[2017-05-08 15:40] rraustad commented on #6115
There is already a warning for SA temperature below 2C [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DXCoils.cc#L8775-L8783). I don't think ADP < 0C is much different and would probably be redundant. One could argue what the limit should be (i.e., 2C or 0C). Also, the only reason for the warning is that the DX cooling coil does not have a defrost model.

[2017-05-08 16:31] nealkruis commented on #6115
It seems ADP is a better indicator of freezing, but I don't have a strong preference. So we either leave the SA warning or move it to ADP? Either way, we can remove the flow per capacity severe error, right?

[2017-05-08 16:44] rraustad commented on #6115
ValidateADP is only used during sizing. A warning for ADP < 0 is OK by me since it would make the user think about their inputs if and when they saw that message. During the simulation, the SA<2C would show up as necessary. I'm unsure about removing the flow per capacity severe error. If the flow ratio was way out of bounds how would users know? I would accept a >20% out of bounds or something lik

[2017-05-08 17:48] rraustad commented on #6111
This object is being expanded to 10 speed fields. The documentation will be corrected during the upgrade.

[2017-05-08 17:48] #6111 closed, assigned to nobody

[2017-05-08 17:57] Nigusse commented on #6020
Added update equations for CO2 and general contaminant propagation at the air terminal mixer.

[2017-05-08 20:50] rraustad commented on #6111
See PR #6108

[2017-05-08 21:06] Nigusse commented on #6095
@mjwitte Testing shows that the HW baseboard mostly does not have enough capacity to meet the heating load, hence the PTAC kicks in to deliver the remaining heating load. On the otherhand the electric bb has enough capacity (always) to meet the heating load, hence the PTAC gas heating coils is off. Since the PTAC in both cases have a constant volume fan with continuous operating schedule, then the

[2017-05-08 21:08] mjwitte opened #6118 "VRF Sizing Problem and PLR error"
Issue overview
--------------
User file with VRF has some problems:

1.  Hard flow rates specified in the VRF terminal unit do not get used in sizing the VRF coils - seems that they should.
2.  ~~With the terminal unit flow rates autosized, the simulation throws errors like this:~~ (in v8.6, not in v8.7)
[code]
3. And then it fails with a fatal error:
[code]

### Details
Some additional details fo

[2017-05-08 21:18] mjwitte commented on #6095
@Nigusse But the PTAC gas heating coil should have run to offset the cold ventilation air with continuous fan.  So, the alternate case is to swap the electric bb into the case with the HW PTAC coil and see if the HW coil runs as expected.  If not, then it's a more general problem with the heating coil control in the PTAC (not specific to the gas coil).

[2017-05-08 21:50] mjwitte opened #6119 "Zone exhaust fan impacts zone air balance incorrectly"
Issue overview
--------------
Fan:ZoneExhaust should have no impact on the conditions or load in a zone that is served only by zone equipment (unless used with AirflowNetwork or ZoneAirMassFlowConservation).  The exhaust fan should simply consume electricity, and it is assumed that the user has specified infiltration or interzone mixing to offset the exhaust flow.

A user reports that a single zon

[2017-05-09 12:22] Nigusse commented on #6095
@mjwitte Ok. will test the electric bb with HW PTAC coil.

[2017-05-09 13:59] Nigusse commented on #6095
@mjwitte The electric bb with HW PTAC coil showed the same problem. Looking at the code for the PTUnit the zone load control doesn't correct for the impact of cold ventilation with continuous fan. I will make changes to the code to account for that.

[2017-05-09 14:32] rraustad commented on #6118
So what should we do here? Limit OA flow to max of cooling/heating? Raise max cooling/heating to allow user specified OA? Let sizing run as is and limit OA flow in calc routine? I guess it makes most sense to figure this out in the sizing routine so user can be warned of the change. I am leaning towards limiting OA flow to max of cooling/heating and if not autosized, warn user.

    ZoneHVAC:Termi

[2017-05-09 14:55] mjwitte commented on #6118
That's really a side issue.  I should have changed those to autosize.  But I would agree that there should be a warning (once) that the user-specified OA flow is greater than supply flow and will be limited to supply flow.  On the other hand, if these were autosized and the autosized OA flow came out greater, then the supplies would be increased to match.  So, maybe that's what should happen here.

[2017-05-09 15:42] rraustad commented on #6118
New warnings based on previous discussion:

New warning:

    ************* SizeVRF: Potential issue with equipment sizing for ZoneHVAC:TerminalUnit:VariableRefrigerantFlow THERMAL ZONE 1-3|VTU-1
    **   ~~~   ** User-Specified Outdoor Air Flow Rate During Cooling Operation of 0.15526 [m3/s]
    **   ~~~   ** is greater than maximum Air Flow Rate During Cooling Operation of 0.10443 [m3/s]
    **

[2017-05-09 15:47] rraustad commented on #6118
Comparing err file from V8.7 to develop:

V8.7:

    ************* SizeVRF: Potential issue with equipment sizing for ZoneHVAC:TerminalUnit:VariableRefrigerantFlow THERMAL ZONE 1-3|VTU-1
    **   ~~~   ** User-Specified Outdoor Air Flow Rate During Cooling Operation of 0.15526 [m3/s]
    **   ~~~   ** differs from Design Size Outdoor Air Flow Rate During Cooling Operation of 4.70000E-002 [m3/s]

[2017-05-09 15:52] mjwitte commented on #6118
So, with the OA reduced, do the bad PLR and fatal psych errors still happen?

[2017-05-09 16:00] rraustad commented on #6118
I ran in V8.7 with no PLR warnings (using SanDiegoMont weather). The psyc warnings did show in V8.7. The only thing I changed was reducing the max number of warm up days from 100 to 15. I did see the issue above and tried a fix. I'll try again to get the PLR warnings to report. I'll run your defect file2 directly in V8.7.

[2017-05-09 16:25] rraustad commented on #6118
Note limits on performance curve min/max output below. At the inlet air mass flow rate, a 23 multiplier on capacity will push SAT to sub-zero temperatures (-272 C first time warning is tripped).

TotCapTempModFac = 23  = CurveValue( DXCoil( DXCoilNum ).CCapFTemp( Mode ), InletAirWetBulbC, CondInletTemp );

    Coil:Cooling:DX:VariableRefrigerantFlow,
     Thermal Zone 1-3|VTU-1|VRF Cooling Coil,

[2017-05-09 16:27] rraustad commented on #6118
There is another curve for CapFT in the input so the user simply chose the wrong curve for the VRF TU.

  Curve:Biquadratic,
    VRFCoolCapFT,            !- Name
    0.576856477,             !- Coefficient1 Constant
    0.017450222,             !- Coefficient2 x
    0.00058326,              !- Coefficient3 x**2
    1.15563E-07,             !- Coefficient4 y
    7.61504E-09,             !- Coeffici

[2017-05-09 16:37] rraustad commented on #6118
I'm running a corrected file now. Also, I see these existing warnings so the OA vs SA issue has been addressed in the VRF model in Init.

     ** Warning ** InitVRF: VRF Terminal Unit = [ZoneHVAC:TerminalUnit:VariableRefrigerantFlow, "THERMAL ZONE 1-3|VTU-1"]
     **   ~~~   ** ...The Outdoor Air Flow Rate During Cooling Operation exceeds the Supply Air Flow Rate During Cooling Operation.
     **

[2017-05-09 16:55] rraustad commented on #6118
Just sent a reply to HelpDesk Ticket 11995 to correct the users problems.

[2017-05-09 16:57] rraustad commented on #6118
Also, I don't see the word failed in the error file running in-Fixed2.idf.

[2017-05-09 17:02] mjwitte commented on #6118
Oh - that was happening in v8.6, but I see it's not in v8.7.

[2017-05-09 19:44] rraustad commented on #6118
See PR #6121

[2017-05-09 19:51] #6084 closed, assigned to nobody

[2017-05-09 20:08] Myoldmopar commented on #5622
Closed via #6090

[2017-05-09 20:08] #5622 closed, assigned to nobody

[2017-05-09 20:25] mjwitte commented on #6118
Ok, but what about item 1 above, the coil sizing when there's a hard flow rate in the terminal unit?

[2017-05-09 20:31] rraustad commented on #6118
I'll look at this. It's supposed to work given this is set:

    if ( CurZoneEqNum > 0 ) {
        ZoneEqSizing( CurZoneEqNum ).AirVolFlow = max( VRFTU( VRFTUNum ).MaxCoolAirVolFlow, VRFTU( VRFTUNum ).MaxHeatAirVolFlow );
    }

but only if the coil sizing is using this value correctly.

[2017-05-10 10:23] EnergyArchmage commented on #6113
Regarding the empirical SHR curves that got added, I found problems with that approach when doing the same for the TES DX coil.  The issue is that the coil sometimes runs dry because of a combination of dry inlet conditions and low load the air doesn't get to saturation curve.  Trying enforce a SHR lower than 1.0 when it would run dry is problem.  For the TES coil I first used the ADP method to pr

[2017-05-10 10:31] EnergyArchmage commented on #6115
I think the underlying ADP bypass factor modeling method from HVAC toolkit just hasn't been proved to be okay outside the range.  Maybe it is but the academic investigation needs to happen.

A severe without a fatal is not policy these days so changing to a warning is fine with me.

[2017-05-10 11:43] EnergyArchmage opened #6122 "Relative humidity > 100% fatal in Variable Speed DX coil model"
Issue overview
--------------
The variable speed coil model has the same problem as the multi speed model did in https://github.com/NREL/EnergyPlus/issues/6023,  which was fixed with https://github.com/NREL/EnergyPlus/pull/6024.  It looks like the same code was carried over from DXCoil.cc.  Problem is here https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/VariableSpeedCoils.cc#L6588

[2017-05-10 13:20] rraustad commented on #6118
Getting closer, the only thing I see now is that the heating coil did not pick up the user specified air flow rate. This could be a can of worms trying to fix this!

    ZoneHVAC:TerminalUnit:VariableRefrigerantFlow,
     Thermal Zone 1-3|VTU-1,  !- Zone Terminal Unit Name
     VRFCondAvailSched_2014,  !- Terminal Unit Availability Schedule
     Thermal Zone 1-3|VTU-1 ZoneExhaustAirDemandOutletNod

[2017-05-10 13:30] mjwitte commented on #6118
Maybe I'm asking for too much - I guess I don't know if other ZoneHVAC honors the parent flow rate when sizing coils.  Hope you can fix it with a minimum number of nightcrawlers.

[2017-05-10 13:41] rraustad commented on #6118
Thinking about what should or shouldn't be done and using one input file for all geographies.

Autosize parent and child - sized the same, can be used in any geography
Hard size parent, autosize child - sized the same, values passed to child, can be used in any geography
Autosize parent, hard size child - sized differently, could run into problems in different geography
Hard size parent and child

[2017-05-11 22:10] nealkruis commented on #6115
I asked Mike Brandemuehl (author of the HVAC toolkit) about this. Here is his response:

[2017-05-12 13:27] Nigusse commented on #5934
I think for consistency let the function PsyWFnTdbTwbPb initialize the "RatedInletAirHumRat" using the "RatedInletAirTemp", "RatedInletWetBulbTemp", and "StdPressureSeaLevel" any where in the code. This way we have a state point defined based on three variable values that match.

[2017-05-12 14:39] JasonGlazer opened #6128 "AppGPostProcess not installed in PostProcess directory"
Issue overview
--------------
The AppGPostProcess utility was not part of the 8.6.0 or 8.7.0 installation. In 8.5.0 and before it was located in the PostProcess directory. On Windows.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list location of defect file here)
 - [ ] Ticket added to Pivotal for defect (

[2017-05-12 15:08] Nigusse commented on #5917
I run example file RefBldgStripMallNew2004_Chicago.idf (V8.7) for chicago weather and checked the supply air mass flow rates and fan run time fraction.  All mass flow rates look correct to me.  The mass flow rates are scaled proportionally when the OnOff fan is not running full flow. I checked this for the "PSZ-AC_1:1_UNITARY_PACKAGE" system only.

[2017-05-12 15:18] JasonGlazer opened #6129 "Enthalpy conversion on ConvertESOMTR convert.txt should include offset"
The enthalpy conversion in the convert.txt file that ConvertESOMTR does not include an offset.

conv,J/kg,kBtu/lb,4.302105E-07,0

Should be changed to:

conv,J/kg,kBtu/lb,4.2986E-07,~7.686~ 0.007686

This should also be fixed in the IDD.

(see email thread on Dec 19, 2016)

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect

[2017-05-12 15:56] Nigusse commented on #5917
I also run the original defect file from the user in V8.6 and I see similar results. When the system outlet mass flow rate scaled with the Fan runtime fraction it matches the maximum flow rate of the system and fan. My conclusion is I do not see any issue here. @rraustad @mjwitte ?

![fanmassflowrateandruntimefraction](https://cloud.githubusercontent.com/assets/5805126/26006248/c21ce2e2-3709-11e7-

[2017-05-12 16:17] Nigusse commented on #5821
I have seen such use in more than one place. See some of the discussion in bug issue #5442 and PR #5774 are relevant for this bug issue.

[2017-05-12 18:22] Nigusse commented on #5034
I agree with Mike. This has been addressed in #5020.

[2017-05-15 17:38] nealkruis commented on #6115
@rraustad @EnergyArchmage How do we feel about changing these severe errors when cfm/ton is outside of (300-450) to warnings when outside of (200-550)?

[2017-05-15 17:42] lgu1234 commented on #6119
@mjwitte I tested two files with an exhaust: one with exhaust fan and balanced flow=0, and another with exhaust fan and balanced flow = 1. When the schedule value > 0, the fan module calculates:

				if ( Fan( FanNum ).BalancedFractSchedNum > 0 ) {
					BalancedExhMassFlow = UnbalExhMassFlow * GetCurrentScheduleValue( Fan( FanNum ).BalancedFractSchedNum );
					UnbalExhMassFlow = UnbalExhMassFlow

[2017-05-15 17:48] lgu1234 commented on #6119
@mjwitte I forgot to report my test runs. When I commented the line:

//			ExhMassFlowRate -= ZoneEquipConfig( ZoneEquipConfigNum ).ZoneExhBalanced; // Balanced exhaust flow assumes there are other flows providing makeup air such as mixing or infiltration, so subtract it here

I ran both cased with an exhaust fan and different balanced flow schedules, the differences only occur in an output variab

[2017-05-15 17:54] mjwitte commented on #6119
@lgu1234 It does not assume that balanced exhaust will "introduce additional infiltration".  It assumes that the additional infiltration has been specified by the user and as such doesn't require the OA damper to provide that makeup air (in the case of an airloop).  The differences are not as designed.  Remember this is all with ZoneAirMassFlowConservation off.

[2017-05-15 17:58] rraustad commented on #6115
The numbers Mike used are very close to what EnergyPlus uses now. The question here is if users have available the data needed to create the performance curves for the rated DX coil. Meaning, there is a rated air flow rate range, and an operating air flow rate range. The curves need to be created for a coil within the rated range of air flow. The CapfFlow and EIRfFlow account for operation outside

[2017-05-15 18:01] Nigusse commented on #5910
Chiller:Absorption with flow type specified as "NoModulated" results maximum flow through the generator hot water loop by design, and when there is a cooling load on the chiller, the generator hot water loop pump adds heat to the loop fluid depending on the water flow rate and pump pressure rise. There are two issues that I noted when investigating this bug issue:

(1) The generator hot water loop

[2017-05-15 18:04] lgu1234 commented on #6119
@mjwitte If the difference is not designed, the input in the last field in the Fan:Fan:ZoneExhaust is not meaningful:

    FlowUnBalancedSched;       !- Balanced Exhaust Fraction Schedule Name

If I comments two lines in the Update function in the Fan model, the same results were obtained:
				if ( Fan( FanNum ).BalancedFractSchedNum > 0 ) {
//					BalancedExhMassFlow = UnbalExhMassFlow * GetCurre

[2017-05-15 18:24] mjwitte commented on #6119
My understanding is that it is supposed to be meaningful *only* for airloop systems.  For a zone with only zone HVAC equipment, it should have no impact.  With an airloop system it will alter the return flow and also chance the amount of OA expected from the central air loop.  For this defect file, you said deleting that line change the return air flow.  The line *should* be changing return flow i

[2017-05-15 18:34] mjwitte commented on #6115
@rraustad The CapfFlow and EIRfFlow curves are a separate issue.  Most users are running rubber-band coils where the rated inputs are meant to represent the coil with the assumption that once a real coil is selected the airflow will match the coil.  If I am following this thread correctly, the proposal here is only to expand the range for the rated performance (either user-input or autosized).  Op

[2017-05-15 18:46] EnergyArchmage commented on #6115
@nealkruis I used to fight this same battle, to try and widen the range, so I am sympathetic.  If I recall correctly what finally caused me to retreat was that the HVAC Toolkit document has the 300 - 450 cfm/ton range in the model description (I no longer have that reference though so I can't verify now).  It is hard to go beyond what the model's reference has in it, and I am not sure a casual ema

[2017-05-15 18:46] lgu1234 commented on #6119
@mjwitte The ZoneEquipConfig has a variable: AirLoopNum. I have a thought to deal with the zone equipment only. If ZoneEquipConfig(x).AirLooNum = 0, no exhaust mass flow from exhaust fan will be added in the function of CorrectZoneHumRat. What do you think?

[2017-05-15 18:51] mjwitte commented on #6119
Maybe, but I'm not sure.  But remember that should not be the case when the exhaust fan is included in the Airflownetwork or ZoneAirMassConservation is active.

[2017-05-16 01:21] mjwitte opened #6130 "Fan heat not included in system cooling coil sizing for unitary systems other than AirloopHVAC:UnitarySystem"
Issue overview
--------------
Based on code review while fixing #6126 it appears that fan heat is only included in the cooling coil sizing when the fan is directly on the branch or is within an AirloopHVAC:UnitarySystem object.  All other unitary system types need code similar to [this](https://github.com/NREL/EnergyPlus/blob/00b8a87c1460a0ad2df3a735435da81ee9513d49/src/EnergyPlus/HVACUnitarySyste

[2017-05-16 17:03] nealkruis commented on #6115
@rraustad I agree with @mjwitte regarding the curves being a separate issue.

@mjwitte Great point regarding the clipping. There will certainly be some expected diffs if we remove the limits.

@EnergyArchmage I don't believe the original HVAC Toolkit reference ([Thermal Environmental Engineering, 3rd Edition](https://www.amazon.com/Thermal-Environmental-Engineering-Thomas-Kuehn/dp/0139172203)) imp

[2017-05-16 18:01] mjwitte commented on #6115
@nealkruis I don't think we can remove the limits completely, especially on sizing.  The way that airflow and coil load sizing are somewhat independent could lead to ridiculous system with very high or very low cfm/ton.  Perhaps the best solution would be to make these limits be user inputs so the defaults can be overridden.

[2017-05-16 19:39] nealkruis commented on #6115
@mjwitte Are you referring to sizing differences between ventilation and cooling airflow requirements?

[2017-05-16 20:11] mjwitte commented on #6115
That's part of it, but there are so many things that can result in a big discrepancy between the supply airflow and the coil capacity.  Other cases are high ventilation loads, heating-dominated climate, inconsistent supply temps for sizing, etc.  Many of the problems arise because the default sizing method relies specifying the supply temp which may be relevant for a built-up DXVAV system serving

[2017-05-16 20:54] Nigusse commented on #5910
Flow Mode specified as "LeavingSetpointModulated" failed even with reduced pump pressure rise. There is more issue to this Flow Mode. The chiller Flow Mode is applied to the Generator flow rate calculation. I think, we should not apply the chiller Flow Mode to the generator as well. The heat generator source is a boiler that has s separate loop and in this case the Boiler Flow Mode is set to "NoMo

[2017-05-17 14:04] JasonGlazer opened #6131 "Revise epupdate URL EP-Launch uses with hard reset"
In EP-Launch a hard reset (VIEW .. OPTIONS .. RESET .. Reset All Options and Exit) erases the registry entries for EP-Launch including the epupdate page. When EP-Launch starts up again after that it gets set to the old url:

http://energyplus.net/epupdate.htm

and it should point to the new url:

http://nrel.github.io/EnergyPlus/epupdate.htm

### Checklist
Add to this list or remove from it as app

[2017-05-17 14:09] mjwitte opened #6132 "Simplify the Input Output Reference Heading Levels"
Issue overview
--------------
The whole outline for the I/O Ref is kind of messed up with
"Chapter 1 Input Output Reference" and then way later "Chapter 2 HVAC Template Objects" where each object is under Group-HVAC Templates.
And then Chapter 3 EnergyPlus Economics has a Group-Economics heading, but then each object is at the same level at the Group heading.

The whole structure is too deep anywa

[2017-05-18 15:19] JasonGlazer opened #6135 "Add Kiva to Acknowledgements"
The origin of the Kiva algorithm is currently not shown in the Acknowledgements document. It should be added attributing Big Ladder and Neal Kruis.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x] Ticket added to Pivotal for defect (development team task)
 - [x] Pull request created (the pull request will have additional tasks r

[2017-05-18 18:18] mitchute opened #6136 "FourPipeBeamLargeOffice crashes when system sizing is turned off"
I found this while working on #5120.

Four pipe beam relies on system sizing being run before it is initialized. Error messages need to be added so it fails gracefully.

### Checklist
 - [x] Defect file added (FourPipeBeamLargeOffice.idf)
 - [x] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull request will have additional tasks related to reviewing c

[2017-05-18 19:08] Myoldmopar opened #6138 "Potential Docs Issue"
@mjwitte noticed that CI docs don't seem to be building.  ~~Gumshoes, your job is to investigate where Carmen Sandie~~.     I mean, find out why.

[2017-05-18 23:17] mjwitte commented on #6055
What I learned today.
1.  It's not clear that the suggestion to add PreDefTableEntry calls in LimitZoneVentEff will work to change the table values (for one thing VpcMinClgByZone array is already gone by this point).  We may still want the table to change, but it won't change anything in the VAV terminal unit min flow rate.
2.  Part of the problem lies [here in SingleDuct::SizeSys](https://github.

[2017-05-19 19:43] mjwitte commented on #6055
What I did today.

  1. Yes, the suggested PreDefTableEntry calls in LImitZoneVentEff are good.  And two more were also added.
  2. The VAV min flow sizing dependency on whether SizingZone "Cooling Minimum Air Flow Fraction" is blank has been removed.
  3. These changes along with some doc updates are now in #6140.

[2017-05-19 20:17] eringold commented on #6115
I'll just throw in here that LG has provided input data for their VRF units to NREL's TPEX (and BCL) which include terminals with flow/capacity ranges outside the EnergyPlus limits. In their accompanying [guide](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwi9n5fl4fzTAhUW8GMKHYLQDcMQFggsMAE&url=http%3A%2F%2Fwww.lg-vrf.com%2Fproduct-literature.aspx%2FDown

[2017-05-20 13:10] Myoldmopar opened #6141 "Fix package builds on Linux"
It was a known issue that later versions of CMake had trouble with packages.  The problem appears to be that we are calling `GetPrerequisites` on the static Fortran binaries, which calls `ldd`, which fails.  I guess we need to add an option to our `fixup_executable` command to allow it to skip trying to find dependencies.

@kbenne What do you think about this approach?

[2017-05-20 13:22] jasondegraw commented on #6141
@Myoldmopar You sure we need another issue for this?

[2017-05-20 13:25] Myoldmopar commented on #6141
I'm not. But it's early on Saturday so I didn't peruse the other issues. :). If I made a dup feel free to close this or I'll do it later.

[2017-05-20 13:45] jasondegraw commented on #6141
Closing as a duplicate of #5854 with PR #6042

[2017-05-20 13:45] #6141 closed, assigned to nobody

[2017-05-22 12:32] mjwitte commented on #6115
@eringold What are the highest/lowest values you see in that data?

[2017-05-22 13:47] eringold commented on #6115
@mjwitte the linked guide has a table of each unit and corresponding input parameters. Looks like the highest is ceiling cassette model ARNU053TRC2 with 605 CFM/ton (0.00008125 m3/s/W).

[2017-05-22 14:06] lgu1234 opened #6143 "Index mismatch in two arrays causes crash in an example input file with single side window ventilation"
Issue overview
--------------
CPValue array of MultizoneCPValueDataTemp is allocated from 1 to numWindDir. However, CPValue array of valsByFacade is allocated from 0 to numWindDir. If no adjustment of both arrays, index mismatch occurs to cause the program crash.

line8920 in AirflowNetworkBalanceManager
		for ( int i = 1; i <= numWindDir; ++i ) {
				MultizoneCPValueDataTemp( FacadeNum ).CPValue(

[2017-05-22 14:58] Nigusse commented on #6050
Looking at the source code confirms that the input field _Fan Power Minimum Flow Fraction_ value is used for fan power calculation only. @ecoeficiente Do you have idf file that shows the defect?

[2017-05-22 18:35] JasonGlazer opened #6144 "LifeCycleCost:UsePriceEscalation should impact the Total Cost column of the Present Value by Year table"
The LifeCycleCost:UsePriceEscalation should impact the Total Cost column of the Present Value by Year table. The LifeCycleCost:UsePriceEscalation does seem to impacting numbers but its impact is not directly shown in any of the existing tables.

 - Version of EnergyPlus 8.6.0

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x] Defe