[2015-12-02 15:53] rraustad commented on #5257
Even if I correct the math in my previous post this doesn't work.

Remember that Pos holds the - and I want to insert before the -

String = String[ 0, Pos -1 ] + "0" + String[ Pos, LastPos ];

What is needed to change this string? Do I need to redimension the String to include an extra character?

[2015-12-02 16:15] rraustad commented on #5257
One more documenting item. The Token counter is always incremented each time through the while loop [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/RuntimeLanguageProcessor.cc#L1162). So for code like [this](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/RuntimeLanguageProcessor.cc#L1225-L1226), either the Token counter NumTokens needs to be decremented, the T

[2015-12-02 16:55] rraustad commented on #5344
Is the example file autosized? I think not. There is no mention of the word AutoSize in this module and ZoneBBHeat is only found in this module. Unless I'm totally off the mark here (like my struggle with a simple string last night), I agree, these objects cannot be autosized (without adding a sizing routine). This is not a surprise since you can't autosize the lights and equipment in the same way

[2015-12-02 16:58] mjwitte commented on #5344
@rraustad I found the autosizing code for this in #4236.  It got left behind.

[2015-12-02 17:13] rraustad commented on #5344
std::string const String = "totally off the mark"

How did it get in the pull request and not in develop??? Merge conflict most likely.

[2015-12-02 17:15] mjwitte commented on #5344
@rraustad That pull request was closed without merging.  It was part of the PNNL sizing changes that were cherry-picked in groups.

[2015-12-02 17:16] Myoldmopar commented on #5344
@rraustad don't forget the semicolon.  And yeah, as @mjwitte noted, that was an old pull request.  One of many that I was trying to pull changes in from.  That apparently slipped through.  I'll have an update later, and update this issue with a more appropriate name.

[2015-12-02 17:57] mjwitte opened #5346 "Followup questions for subsurface angle checks"
Questions raised from work on #5345
- [ ] A flat subsurface on a flat roof can show differences if the subsurface uses a different starting corner than the base surface. Defect files added to show this.
- [ ] Not clear what the purpose of this block of code is.

[code]

it's [here in new code](https://github.com/NREL/EnergyPlus/blob/2336959a3f6f7e32001acd1e97d0f01f62e1eaea/src/EnergyPlus/SurfaceGe

[2015-12-02 19:39] Myoldmopar commented on #4281
Closed via #5342

[2015-12-02 22:20] mjwitte commented on #5313
- [x] Engineering Reference, v8.4.0 pdf p. 396, section 10.3.3, in the bullet for "DOAS Control Strategy = ColdSupplyAir" the last sentence says "If it is above T_l, it is heated to T_l."  Should this say cooled to T_l?

_See Engineering Ref p. 500 for corrections._

[2015-12-03 16:20] mjwitte commented on #4633
@kbenne I would like to address this for the bugfix release.  Any opinion on this?  Do 1, 2, both, neither, something else?
@rraustad @Myoldmopar Any comments?

It's been a while since @kbenne originally posted this, and I'm trying to sort through the best way forward.  Is it correct to say that one or both of these two changes would address the problem?
1. Use the schedule in DesignSpecification:

[2015-12-03 16:39] kbenne commented on #4633
Hmmm tough call.

Ideally I'd go for long term option 3. Combine Controller:OutdoorAir with ControllerMechanicalVentilation. But I think that is horrifically painful to the point that I don't even think I could get behind it. Plus that alone doesn't really solve the exact issue, although I do feel like it would clear up tension between the two.

So back in reality I think both of your options fit

[2015-12-03 17:16] JasonGlazer opened #5349 "DecayCurvesfromZoneComponentLoads puts binary garbage into EIO file"
If the decay curves for the zone component loads are requested by using:

 Output:Surfaces:List, DecayCurvesfromZoneComponentLoads;

The EIO file ends up with:

[code]

Test using the 5ZoneAIrCooled.idf and adding

Output:Surfaces:List, DecayCurvesfromZoneComponentLoads;

[2015-12-03 17:29] mjwitte commented on #5349
I see this report is not requested in any of the test files - it should be added to 5ZoneAirCooled (or some other file) so that it gets exercised.

[2015-12-03 17:31] mjwitte commented on #4633
Regarding Option 2 - the current check of Maximum Fraction of Outdoor Air Schedule is too early for it to be king.  The current order of final max/min checks in MixedAir::CalcOAController is:
1.  Apply Minimum Fraction of Outdoor Air Schedule
2.  Apply Maximum Fraction of Outdoor Air Schedule (and warn if Minimum Fraction schedule is > Maximum Fraction schedule)
3.  Apply Ventilation:Mechanical fl

[2015-12-03 22:34] mjwitte commented on #4425
Closed via #5196 (which was merged on Sep 15, 2016)

[2015-12-03 22:34] #4425 closed

[2015-12-03 22:41] mjwitte commented on #4417
Closed per comment from @mmatts on Sep 9, 2015.

[2015-12-03 22:41] #4417 closed

[2015-12-03 23:34] mjwitte commented on #4293
Reviewing the comments in the helpdesk ticket, the warning is being triggered by a tiny negative value for AirLoopFlow(AirLoopNum).SupFlow in ZoneEquipmentManager::CalcZoneMassBalance.

[2015-12-04 03:57] mjwitte commented on #4293
The small imbalance is coming from the fan coil units - the fancoil inlet (zone exhaust node) mas flow rate is slightly greater than the fan coil outlet flow rate (zone inlet node).  The defect file uses CyclingFan control for the fan coil units, changing this to ConstantFanVariableFlow eliminates the error.  Next step - look at the cycling fan flows in the fan coil unit.

[2015-12-04 15:35] mjwitte commented on #4647
Closed via #5292

[2015-12-04 15:35] #4647 closed

[2015-12-05 11:33] mjwitte commented on #4972
Cannot reproduce, closing.

[2015-12-05 11:33] #4972 closed, assigned to Myoldmopar

[2015-12-06 19:34] pachi commented on #4633
I find option 1 more predictable, in the "do what I mean" sense, as the DesignSpecification:OutdoorAir restraints are generally higher level from the designer point of view. In contrast, option 2 looks too clever, as it implies a compound rule (in case of inconsistency between schedules, choose the most restrictive flow) in a situation that just may be an oversight from the designer.

As this kind

[2015-12-07 15:35] mjwitte commented on #4254
Here are the related initializations in source code:

[code]

[2015-12-07 15:56] mjwitte commented on #3517
This was addressed at some point already.  I/O Ref field description includes "The values in this schedule are multipliers on the previous field – Rated Flow Rate." and IDD has

[code]

Closing.

[2015-12-07 15:56] #3517 closed

[2015-12-07 16:10] mjwitte commented on #4929
For now, fixing the keys in the IDD to match current source in #5352 .  Will leave this issue open to possibly remove the field altogether in a future release.

[2015-12-07 16:18] mjwitte commented on #4398
This was previously addressed.  Current I/O Ref field description says "This field is the name of a surface in the zone being conditioned by the radiant system. Base surfaces (e.g., BuildingSurface:Detailed), door surfaces and internal mass are valid. Window surfaces are not valid surface types for embedded radiant systems."  And the IDD object-list reference RadiantSurfaceNames is assigned to the

[2015-12-07 16:18] #4398 closed

[2015-12-07 17:01] mjwitte commented on #5241
@wfbuhl Sometime during v8.3.0, in Sizing:System, field Type of Load to Size On, the key choice "Total" was uncommented and added to the I/O ref as a valid choice, but no explanation was added (in IDD or I/O Ref).  Looking at the code, the getinput takes it but I don't see Sensible or Total making any difference in the actual sizing code.  Is this a real choice or not?

[2015-12-07 18:43] mjwitte commented on #5087
@hongtz68 For the ASHRAE 55 adaptive comfort model, the (corrected) output definitions say
"This field reports the ideal indoor operative temperature, or comfort temperature, as determined by the ASHRAE-55 adaptive comfort model. The 80% acceptability limits for indoor operative temperature are defined as no greater than 3.5 degrees C from the adaptive comfort temperature. The 90% acceptability li

[2015-12-07 19:00] wfbuhl commented on #5241
1.17.10.2 Field: Type of Load to Size On
The user specified type of load on which to size the central system. The choices are  Sensible, Total and VentilationRequirement. Sensible means that the central
system supply air flow rate will be determined by combining the zone design air flow rates, which have been calculated to meet the zone sensible loads from the
design days. VentilationRequirement m

[2015-12-07 19:07] mjwitte commented on #5241
@wfbuhl Duh - I guess I missed the last sentence because it's not italicized.  I'll fix that.  And now I see it gets transferred to .CoolingPeakLoadType which then gets used in GetCoilDesFlow.  Thanks for pointing me in the right direction.

[2015-12-07 19:11] mjwitte commented on #5241
@wfbuhl And just to clarify - the system supply air flow rate will be the same with Sensible and Total?  Just the coil sizing will change between these two?

[2015-12-07 19:30] Nigusse commented on #5061
@mjwitte @Myoldmopar I run the example file "DirectIndirectEvapCoolers.idf " using the latest develop code.  Below is sample sizing results from the EIO file. I see the "Primary Air Design Flow Rate" value reported. I am not sure what is missing here.

 Component Sizing Information, EvaporativeCooler:Indirect:ResearchSpecial, FURNACE_PACU_CAV:1_OAINDRDD EVAP COOLER, Design Size Secondary Fan Flow

[2015-12-07 19:46] mjwitte commented on #5061
@Nigusse As noted a while back, I think #5136 addressed both this and #5060.  Thanks for confirming this one.  Would you please confirm #5060 as well?

[2015-12-07 19:46] #5061 closed, assigned to Nigusse

[2015-12-07 19:51] wfbuhl commented on #5241
Yes

On Mon, Dec 7, 2015 at 11:11 AM, Michael J. Witte notifications@github.com
wrote:

[2015-12-07 20:50] Nigusse commented on #5060
@mjwitte @Myoldmopar I checked the IDD, all lacking required-field and default tags have been fixed/added. Also a primary air flow rate field has been added to EvaporativeCooler:Direct:ResearchSpecial object and the autosizing calculation runs ok.

What is missing for "Primary Air Design Flow Rate" input field of this object is that if the field is is left blank, it will never throw any error mess

[2015-12-07 21:07] mjwitte commented on #5060
@Nigusse For both EvaporativeCooler:Direct:ResearchSpecial and EvaporativeCooler:Inirect:ResearchSpecial the Primary/Secondary Air Design Flow Rate fields are autosizeable, not required, and have no default.  That says to me if they are left blank, then they are zero.  If they don't enforce that and take the flow that's sent to them, then I suppose it's OK, but it is a bit odd for that to zero - w

[2015-12-07 21:31] Nigusse commented on #5060
@mjwitte Yes, if the Primary Air Design Flow Rate fields left blank, then both flow rate and pump power are sized to zero.  This is for EvaporativeCooler:Direct:ResearchSpecial.  The indirect Evap cooler pump power is scaled using the secondary air flow rate.  But the logic is the same.

[2015-12-07 21:33] mjwitte commented on #5060
Then it seems we should default those to \default autosize unless that breaks something.

[2015-12-07 21:45] Myoldmopar commented on #5016
Fixed via #5345

[2015-12-07 21:46] #5016 closed, assigned to mjwitte

[2015-12-07 21:55] Nigusse commented on #5060
I will default the secondary fan and pump power input fields to autosize. I also see the  for direct special evap cooler the field "Water Pump Power Sizing Factor" is set to zero if left blank in get input even if it has a default value. This also has to fixed.  I will make these changes.

[2015-12-07 21:55] Myoldmopar opened #5353 "Improve test coverage of fluid cooler sizing"
Looking at the coverage results, it appears that the test suite doesn't do a good job of covering different sizing input configurations.  Go through and improve the example files so that they provide more coverage.  A follow-on from the fix of #5305.

To see the coverage results, look at any integration coverage test result, and browse to: `/EnergyPlus/FluidCoolers.cc.gcov.html`.

[2015-12-07 21:55] Myoldmopar commented on #5269
Fixed via #5305

[2015-12-07 21:55] #5269 closed, assigned to JasonGlazer

[2015-12-07 22:13] #4281 closed

[2015-12-08 16:08] Myoldmopar opened #5354 "Investigate/Remove statistics file"
https://github.com/NREL/EnergyPlus/blob/74c0c9990aa231931c449c70a46a4bc5fbaa2acb/src/EnergyPlus/HVACControllers.cc#L2513

I don't know if it is useful, but if it is, it probably needs some refinement.  Or just get rid of it.

[2015-12-08 16:54] Myoldmopar commented on #5276
OK, @mjwitte, this appears to have gone through @EnergyArchmage and @wfbuhl without much promise of a fix yet.  If we want this included in the bug fix release, I guess we need to have a call and figure out a team effort way to fix it??  Or we push it off until after the bug fix release.  What do you think?

[2015-12-08 16:58] mjwitte commented on #5276
The best thing would be to try to reproduce it with a smaller file.  Is this happening with a particular fan coil control type?

[2015-12-08 17:32] Myoldmopar opened #5355 "Wrap-up for Bug Fix Release"
## To-Do list for 8.4.0+BugFix release:
### [Issues](https://github.com/nrel/EnergyPlus/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22EnergyPlus+8.4.0%2BBugFix%22+label%3APriority+label%3A%22S1+-+High%22) (8.4.0+BugFix + S1 + Priority)

| Issue | Pivotal | Assignee | Status | Pull Request |
| --- | --- | --- | --- | --- |
| #5314 | [#109727440](https://www.pivotaltracker.com/story/show/109727440) |

[2015-12-08 18:05] rongpengzhang commented on #5355
Hi Edwin,

#5252 <https://github.com/NREL/EnergyPlus/issues/5252>#105155432
<https://www.pivotaltracker.com/story/show/105155432>is almost there. I
have found a solution to fix the issue and the implementation is almost
done. I need 1-2 days to clean it up and update the unit test.

I think you can change its status to "Will fix".

Thanks,
Rongpeng

On Tue, Dec 8, 2015 at 9:32 AM, Edwin Lee <notif

[2015-12-08 18:10] shorowit commented on #4943
Brent, let me know when you want some testing of this. We use quite a bit of EMS in our BEopt input files (though we will hopefully reduce the amount of EMS we need over time!). It seems like we should wait for your first outstanding task to be implemented, otherwise we'll have no context for tracking down errors reported.

[2015-12-08 18:53] Myoldmopar commented on #5257
Closed via #5348

[2015-12-08 18:53] #5257 closed, assigned to nobody

[2015-12-08 19:10] mjwitte commented on #5313
- [x] I/O Ref description for AirflowNetwork:MultiZone:Component:DetailedOpening still says
  "The AirflowNetwork model does not have a model for bi-directional flow through large horizontal openings. For this reason,
  AirflowNetwork:MultiZone:Component:DetailedOpening should not be used for horizontal openings. The best modeling technique in this case is to put an AirflowNetwork:MultiZone:Surfac

[2015-12-08 19:16] wfbuhl commented on #5276
I'm still working on it. This is a complicated bug, involving interaction
between Plant and the solver used in the fan coil. I'm trying something
right now that might work (different solver - RegulaFalsi) and messing with
FlowLock, but I'm not real happy with this even if it works.

The good news is that if you tell the user to switch to "    CyclingFan,
           !- Capacity Control Method" the

[2015-12-08 19:20] Myoldmopar commented on #5276
Thanks @wfbuhl for the update.  Given that there _is_ a workaround for the users to at least get them (and the solver) unstuck, I don't think this will hold up the bug fix release.  But we'll still hope.

[2015-12-08 19:31] lgu1234 commented on #5313
@mjwitte It is partially true, because the AirflowNetwork:MultiZone:Component:HorizontalOpening is restricted to be used as an indoor partition, not exposed to outdoors right now. When a large horizontal opening is exposed outdoors, the above method is still valid.

[2015-12-08 19:31] wfbuhl commented on #5276
Whoa! The fix works! But you are going to have to look at the code (Brent
also) because it is funky. Also the solution method is changed, which will
affect all fan coils with constant fan. In other words, it might crap out
in some other example file. Still, this might be the fix. I'm going to have
to clean up the code then I will upload a new branch to GitHub.

On Tue, Dec 8, 2015 at 11:20 AM, Edw

[2015-12-08 19:41] mjwitte opened #5356 "Various example file issues"
- [ ] Example files 5ZoneEconomicsTariffAndLifeCycleCosts.idf and 5ZoneTDV.idf have the following monthly report object, but the Fanger thermal comfort model is not requested in the People object, so the report shows undefined for the thermal comfort outputs.

[code]

I would probably delete this report object since it's also in 5ZoneVAV-ChilledWaterStorage-Stratified.idf with Fanger comfort activ

[2015-12-08 19:43] mjwitte commented on #5356
- [ ] There are many example files that request the Fanger thermal comfort model in the People objects, but don't request any output for it.  There are plenty of examples files that request both, so why keep it active in the files that don't output the PMV result?

[2015-12-08 19:44] wfbuhl commented on #5276
Also I don't have any unit tests.

On Tue, Dec 8, 2015 at 11:31 AM, Walter Buhl wfbuhl@gmail.com wrote:

[2015-12-08 20:11] mjwitte opened #5357 "User file crashes in ZoneComponentLoadSummary output report"
Helpdesk ticket 10966
Original file has two SizingPeriod:DesignDays and one annual SizingPeriod:WeatherFileDays.  Tried removing the SizingPeriod:WeatherFileDays but it still crashes.  Removing AllSummaryMonthlyAndSizingPeriod eliminates the crash.

[2015-12-08 20:30] jasondegraw commented on #5356
- [x] @mjwitte This is super minor, but I noticed that the AFN simulation control object name is misspelled in a number of the example files:

  $ grep Ariflow *.idf
  AirflowNetwork_MultiZone_House.idf:    House AriflowNetwork,    !- Name
  AirflowNetwork_MultiZone_House_OvercoolDehumid.idf:    House AriflowNetwork,    !- Name
  AirflowNetwork_MultiZone_House_TwoSpeed.idf:    House AriflowNetwork

[2015-12-08 22:15] Myoldmopar commented on #5314
Sooooooo, I can't reproduce this.

On my build as of today, I ran the `PipingSystem_Underground_TwoPipe_FD_GroundTemps.idf` file with a debug build.  One thing I did notice is that you _definitely_ need a weather file specified, even if doing design day runs, since this model requires annual weather data to generate ground temps.  But I digress.

The output in sqlite in the ReportData table looks

[2015-12-08 23:18] Myoldmopar commented on #4931
So, when I run the defect file, and report out the water coil heat transfer rate, pump mass flow rate, chiller mass flow rate, and cooling coil node mass flow rates, I see:

![image](https://cloud.githubusercontent.com/assets/849824/11671623/e17a57d8-9dc6-11e5-9c4a-de94b107794f.png)

which shows that during the design day (which is 7/21), that:
- the cooling coil is providing cooling to the space

[2015-12-09 03:18] Myoldmopar commented on #4931
Hmm, still investigating.  Against my initial thought, it would appear there _isn't_ a secondary cooling component on the chilled water loop.  And after some additional reporting, the loop temperature isn't going up.  I'll go through and look at many more temperatures and flow rates through the system of loops to figure out what is going on.

[2015-12-09 05:13] DavidGoldwasser commented on #5314
@Myoldmopar I thought you were able to reproduce this? (See November 11th email).

Here is a link to the IDF
https://www.dropbox.com/s/p63nsm0721r3moj/in.idf?dl=0

I ran it with USA_ID_Boise.Air.Terminal.726810_TMY3.epw

[2015-12-09 14:24] JasonGlazer commented on #4406
The test file "easy-compression.idf"  in EnergyPlusDevSupport was not the correct file, since it did not use an absorption chiller. I found the original help desk ticket and added the file that did have the absorption chiller called "easy-4.idf". Even after upgrading the file, it still had multiple problems so instead created a new test file called "IndirectAbsorptionChiller_wBlankWaterFlowRate.id

[2015-12-09 14:47] Myoldmopar commented on #5314
Yeah, I thought I had @DavidGoldwasser.  I found the email, but I'm wondering if I hit the weather file issue and it made me think I had reproduced it.  I'm re-running right now with your idf to see what's up.  But as I showed above, I don't think it _could_ really be anything related to the finite difference ground temp model, since it did report results properly above.  I'll let you know.

[2015-12-09 14:49] lgu1234 commented on #4931
@Myoldmopar My observation is that demand side nodes are not updated, when supply side nodes are updated with no cooling available due to zero flow at the condenser.

[2015-12-09 14:50] Myoldmopar commented on #4931
OK thanks @lgu1234.  I'll let you know what I find.

[2015-12-09 15:12] Myoldmopar commented on #5314
Welp.  I just ran your idf again, and it works.  The SQLite output is fully populated in the ReportData table:

![image](https://cloud.githubusercontent.com/assets/849824/11688899/7150864a-9e4c-11e5-901b-a3688a28c9dd.png)

The eso output matches:

![image](https://cloud.githubusercontent.com/assets/849824/11688911/88289614-9e4c-11e5-84d3-3a5c489673ee.png)

We can chat about it later, but for now I

[2015-12-09 15:47] mitchute commented on #5314
@Myoldmopar I will add the error handling so the weather file issue is handled.

[2015-12-09 15:55] Myoldmopar commented on #4931
OK, I am able to reproduce a problem.  I ran the defect with Raleigh TMY3 as specified in the idf. I am looking specifically at the `7/21 12:00` design day data point.
- As you mentioned, there is no condenser flow.  The chiller has zero flow on both the condenser and chilled water sides.
- The chilled water plant does still have flow.  The supply side flow goes through the bypass, avoiding the "u

[2015-12-09 16:15] mjwitte opened #5360 "Add Date and Time Format Options"
EnergyPlus currently outputs the time at the end of a day as mm/dd 24:00 which is not a valid time format for many tools, including python diffing utilities.  Suggest adding an option (accessible through an environment variable for regression testing) that allows midnight to be output as mm/dd 24:00 or mm/dd+1 00:00.

[2015-12-09 16:25] Myoldmopar commented on #4931
To add some misc notes:
- the code never hits the _splitter/mixer continuity resimulation block_ [here](https://github.com/NREL/EnergyPlus/blob/9da112c653f018f8484435fada1ff1cf68aa6593/src/EnergyPlus/HVACManager.cc#L796)
- the loops seem to converge _very_ quickly, with only two HVAC iterations every time I stepped through

More notes to come...

[2015-12-09 17:06] DavidGoldwasser commented on #5314
@Myoldmopar ok, I'm fine with it closing as long as it runs in develop. I was using 8.4 on Linux, and windows. You did try to look at time series sql data vs just tabular?

[2015-12-09 17:15] Myoldmopar commented on #5314
So I don't deal much with the sql data, but as far as I could tell, that _was_ the time series data, not the data that goes out to the tabular results.  Of course it is _in an sql table_ within the sql file, but that's a different story...

I'll try to remember to let you know when we create a Windows test package of 8.4.0+BugFix so that we can re-test it.

I'll close this for now.......

[2015-12-09 17:15] #5314 closed, assigned to Myoldmopar

[2015-12-09 17:16] vidanovic opened #5362 "Nusselt number for windows inclined at 180 deg"
Nusselt number calculations (window angle between 179 and 180) for interior film coefficient is calculated incorrectly. Instead of Gnui = 0.58 \* std::pow( RaL, 1 / 3.0 ); it should be Gnui = 0.58 \* std::pow( RaL, 1 / 5.0 );

[2015-12-09 17:17] Myoldmopar commented on #5362
@vidanovic Don't merge anything just yet, I'm sending you a message.

[2015-12-09 19:19] Myoldmopar commented on #4931
Of course, when I take a random example file to check for an energy balance on another Coil:Cooling:Water object instance, I find 2ZoneDataCenterHVAC_wEconomizer.idf, and an annual run shows the water coil (at least the one I picked first) not running, ever, through the annual run.  On to try another...

[2015-12-09 19:22] rraustad commented on #4853
PR #5358

SHR is autosized using an empirical model. This works most times but can lead to an SHR that does not cross the saturation curve and cause CalcCBF to fail.

The fix for this runs CalcCBF silently to iterate on a valid SHR. Usually, the SHR is increased until the ADP temperatures (calculated individually based on T and W using RatedCBF) but there can be times where RH > 1 and SHR is decre

[2015-12-09 19:52] Myoldmopar commented on #4931
So `5ZoneAirCooled`.  Checking the energy balance on the`Coil:Cooling:Water` named `Main Cooling Coil 1`.  I reported the temperature/flow rate on the air and water nodes of the coil.  Then calculated the difference in heat transfer.  Scroll to the right to see all the columns (or use a browser extension to coerce GitHub to full screen width).

| Date/Time | MIXED AIR NODE 1:System Node Temperatur

[2015-12-09 19:53] Myoldmopar commented on #4931
Ha, the output in the csv header like:

[code]

is interpreting the `[C](Hourly)` as a hyperlink.

[2015-12-09 19:59] mjwitte commented on #4931
As another check, what is the coil reporting for Cooling Coil Total Cooling Rate?

[2015-12-09 20:11] Myoldmopar commented on #4931
No point in beating around the bush, that was dumb.  I should probably have included latent when comparing it against the waterside heat transfer rate.  Gah.  OK, something is still up with the defect, but at least I will be able to breath...

[2015-12-09 22:38] mjwitte opened #5363 "HeatPump:WaterToWater:ParameterEstimation:Cooling/Heating requires R22 objects in idf - clarify docs and error message"
Helpdesk Ticket 10981
Hidden in an introductory paragraph for the HeatPump:WaterToWater:ParameterEstimation:\* objects (v8.4 Input Output Reference, p. 548) is this statement "Note that this model is currently “hardwired” to fluid property R22."

It also should say "FluidProperties:\* objects for R-22 must be included in the idf file. These may be copied from DataSets\FluidPropertiesRefData.idf"

[2015-12-09 23:30] mjwitte opened #5364 "LEED Summary Report special end-use subcategory tags are not documented and some problems with the EAp2-4/5 report"
Helpdesk Ticket 10982
User asked how to get a value in the LEED Summary Report EAp2-4/5 subreport row labeled "Fans-Parking Garage".  I didn't see anything mentioned in the Input Output Reference or in the  Using EnergyPlus for Compliance doc.  Found [this section](https://github.com/NREL/EnergyPlus/blob/9da112c653f018f8484435fada1ff1cf68aa6593/src/EnergyPlus/OutputReportTabular.cc#L7476-L7508) in

[2015-12-10 15:05] JasonGlazer opened #5365 "Should show progress in output window even when using TimestepFrequency"
When ShadowCalculation field Calculation Method is set to TimestepFrequency the output window does not show progress of the simulation. It shows when the simulation begins but no other dates. When this is set to AverageOverDaysInFrequency the shadowing calculations are updated regularly which shows the user the progress. It is good to show progression of time of the simulation to the user. Suggest

[2015-12-10 15:12] mjwitte opened #5366 "Review use of current density in SingleDuct::CalcOAMassFlow"
While trying to answer a user question about OA controls (specifically what a VAV terminal unit does with a DesignSpecification:OutdoorAir object), noticed that [SingleDuct::CalcOAMassFlow](https://github.com/NREL/EnergyPlus/blob/9da112c653f018f8484435fada1ff1cf68aa6593/src/EnergyPlus/SingleDuct.cc#L2636-L2711) calls DataZoneEquipment::CalcDesignSpecificationOutdoorAir to get the current OA volume

[2015-12-10 16:06] JasonGlazer commented on #5313
- [x] Came across a small documentation issue related to ShadowCalculation. The CalculationMethod field is shown to have an option "DetailedTimestepIntegration" in the IOref but the IDD shows that option as "TimestepFrequency".

_See I/O Ref p. 54 for corrections._

[2015-12-10 17:57] Myoldmopar commented on #4853
Closed via #5358

[2015-12-10 17:57] #4853 closed, assigned to mjwitte

[2015-12-11 02:22] mjwitte commented on #4592
Closed via #5337

[2015-12-11 02:22] #4592 closed

[2015-12-11 16:00] Myoldmopar opened #5368 "Reunify EnergyPlus Static Libraries"
Because of some issues during LTO/PGO investigation, we ended up pulling the E+ source into two separate static libraries, [`energypluslib`](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CMakeLists.txt#L571) and [`energypluslib2`](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CMakeLists.txt#L580), which are based on two separate chunks of source, [`SRC`](https://g

[2015-12-11 17:27] JasonGlazer opened #5370 "feneSolarDelaySeq allocate incorrect"
During code review for ResortedSurfaces branch, found an allocate related to the Zone Component Loads summary report that was incorrect. Line:

feneSolarDelaySeq.allocate( TotDesDays + TotRunDesPersDays, NumOfTimeStepInHour \* 24, TotSurfaces );

Should be allocated using NumZones instead.

[2015-12-11 19:09] mjwitte commented on #5174
Closed via #5339

[2015-12-11 19:09] #5174 closed, assigned to rraustad

[2015-12-11 20:26] mjwitte commented on #5360
@amirroth @JasonGlazer @Myoldmopar Per today's discussion, should unify date formats across all output.  This option could offer a user-defined date format or we could standardize on a single format.  Currently, the following formats are used:

%m/%d (12/21) in eio

%m/%d %H:%M - %H:%M (12/21 00:00 - 00:10) in err output ShowContinueErrorTimeStamp()

%y-%m-%d %H:%M:%S (2015-12-11 13:00:24) simulat

[2015-12-11 20:31] amirroth commented on #5360
So years are printed out in some simulation output? I guess those are
needed in some situations, e.g., if you are using actual weather data
rather than TMY. In that case it would be good to use 1900 as a year if an
actual year is not given.

Do any outputs print times below a second? Other than runtimes?

On Fri, Dec 11, 2015 at 3:26 PM, Michael J. Witte notifications@github.com
wrote:

[2015-12-11 20:40] mjwitte commented on #5360
Currently, year is only printed in the timestamp of when the run was executed.  But as better support for multi-year simulations is added, then year will be needed in actual output as well.

[2015-12-11 21:13] lefticus commented on #5368
My only comment is that I recall that the split lib compiled / linked
faster. But who knows if that's so true, or by how much.
On Dec 11, 2015 11:00, "Edwin Lee" notifications@github.com wrote:

[2015-12-11 21:15] JasonGlazer commented on #4944
@mjwitte @EnergyArchmage @Myoldmopar The Surface Outside Face Incident Sky Diffuse Solar Radiation output variable corresponds with QRadSWOutIncidentSkyDiffuse(). The differences seem to trace to a line that computes this based on AnisoSkyMult() which is calculated in two different routines if shading transmittance varies or not. The equation is identical and the values are different at a specific

[2015-12-11 21:39] amirroth commented on #5368
It wouldn't compile faster. I can't see anything fundamental about the
linking process that would make it link faster, but maybe.

On Fri, Dec 11, 2015 at 4:13 PM, Jason Turner notifications@github.com
wrote:

[2015-12-13 12:52] lefticus commented on #5368
IIRC, splitting it up allowed for more parallelization during the build process, not that individual files were compiled faster.

I think it was the MSVC linker specifically that got bogged down with linking that many .o files at once

[2015-12-14 17:10] kbenne commented on #5368
:+1:

[2015-12-14 17:24] Myoldmopar commented on #5368
@kbenne Could you provide a link to what you are plus one ing?

Like: [:+1:](https://github.com/NREL/EnergyPlus/issues/5368#issue-121736667) or [:+1:](https://github.com/NREL/EnergyPlus/issues/5368#issuecomment-164255244)

[2015-12-14 17:30] kbenne commented on #5368
hehe. I liked that there was a little ambiguity, but I figured you might ask. I'm voting for the title of the issue. reunification.

[2015-12-15 17:08] mjwitte opened #5372 "ASHRAE 55 adaptive comfort model acceptability limits check"
For the ASHRAE 55 adaptive comfort model, the (corrected) output definitions say
"This field reports the ideal indoor operative temperature, or comfort temperature, as determined by the ASHRAE-55 adaptive comfort model. The 80% acceptability limits for indoor operative temperature are defined as no greater than 3.5 degrees C from the adaptive comfort temperature. The 90% acceptability limits are d

[2015-12-15 18:59] JasonGlazer commented on #4208
@Myoldmopar are you working on this one? If not I will take a shot at fixing it.

[2015-12-15 19:14] Myoldmopar commented on #4208
I am not.

[2015-12-15 20:05] JasonGlazer commented on #4208
Updated test file to 8.4.0

[2015-12-15 20:12] mjwitte commented on #5087
Closed via #5352

[2015-12-15 20:12] #5087 closed, assigned to nobody

[2015-12-15 20:13] mjwitte commented on #5241
Closed via #5352

[2015-12-15 20:13] #5241 closed, assigned to nobody

[2015-12-15 20:13] mjwitte commented on #4254
Closed via #5352

[2015-12-15 20:13] #4254 closed

[2015-12-15 20:13] mjwitte commented on #4256
Closed via #5352

[2015-12-15 20:13] #4256 closed

[2015-12-15 20:14] mjwitte commented on #3681
Closed via #5352

[2015-12-15 20:14] #3681 closed

[2015-12-15 22:57] Myoldmopar commented on #4994
Closed via #5336

[2015-12-15 22:57] #4994 closed, assigned to rraustad

[2015-12-15 22:57] Myoldmopar commented on #5252
Closed via #5367

[2015-12-15 22:57] #5252 closed, assigned to rongpengzhang

[2015-12-16 00:26] DeadParrot opened #5374 "HVACVariableRefrigerantFlow divide by zero in CalcVRFCondenser_FluidTCtrl"
Test case VariableRefrigerantFlow_FluidTCtrl_5Zone run with a GCC debug build gives a core dump due to an arithmetic exception that is almost certainly a divide by zero in CalcVRFCondenser_FluidTCtrl at [this line](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L7922) (last line in this block):

[code]

Note that there is a second occurrence of the sa

[2015-12-16 14:01] mjwitte commented on #5374
And this didn't fail in CI?  Did you force design days only (as CI does) or run the file as-is (both design days and short weather file runperiods)?

[2015-12-16 14:11] mjwitte commented on #5374
Oh - it _is_ failing on CI [here](https://nrel.github.io/EnergyPlusBuildResults/EnergyPlus-9ff9bbb09e88e79f373beb6a1e852aafe19c857d-x86_64-Linux-Ubuntu-14.04-gcc-4.8-IntegrationCoverage-Debug.html#test)

[2015-12-16 14:28] JasonGlazer commented on #4208
I ran the test file with test weather file with the release version of 8.4.0 as well as the current "develop" version of the code and neither one crashed. The code that was indicated as a problem still does not have any specific local protection for divide by zero but perhaps logic that prevents that case from occurring has been added somewhere else.

@mjwitte, @rraustad  and @Myoldmopar Is it wor

[2015-12-16 14:41] mjwitte commented on #4208
Are you able to reproduce the error with the original defect file and version?  Not sure about the proposed protection.  Would like to understand the section of code better.

[2015-12-16 15:07] JasonGlazer commented on #4208
Yes I just tried it, it crashes with 8.1.0.008.

[2015-12-16 15:11] JasonGlazer commented on #4208
The code is at:

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SolarShading.cc#L8970-L8992

[2015-12-16 15:12] mjwitte commented on #4208
And how about 8.2 and 8.3?

[2015-12-16 15:33] amirroth commented on #5374
Stuart,

Is it possible that you are accidentally making these changes in the
HBIRE_vector_take2 branch?

-Amir

On Tue, Dec 15, 2015 at 7:30 PM, Stuart Mentzer notifications@github.com
wrote:

[2015-12-16 15:39] DeadParrot commented on #5374
@amirroth No, this is running straight develop code and it is not related to anything I'm changing. I just hit this and wanted to report it.

@mjwitte I'm running all the example files as is as a baseline for comparing develop with revisions I'm working on (in this case the next ObjexxFCL release). So it is running whatever period the idf specifies.

[2015-12-16 15:45] JasonGlazer commented on #4208
It does not crash in 8.2 or 8.3

[2015-12-16 15:50] Myoldmopar commented on #5374
Well.  Sh....enanigans.  OK.  @rongpengzhang @rraustad Can one of you offer a fix to this this morning so we can put out the bug fix release without this issue?  If not, I'll start reverting things back out.......

[2015-12-16 15:51] amirroth commented on #5374
@deadparrot, @mjwitte, @myoldmopar. That is very strange, because someone
is doing some VRF related work in this branch, and for everyone's sake it
better not be me.

Macintosh-2:EnergyPlusTeam amir$ git status
On branch HBIRE_vector_take2
Your branch is up-to-date with 'origin/HBIRE_vector_take2'.
You have unmerged paths.
  (fix conflicts and run "git commit")

Changes to be committed:

[code]

U

[2015-12-16 15:55] mbadams5 commented on #4208
8.2+ is C++ and I know from a previous bug I had fixed that it seems to be suppressing divide by 0 errors. I fixed a bug that caused a divide by 0 in 8.1 and lower but didn't anymore in 8.2+ although the code didn't change at all.

[2015-12-16 15:56] JasonGlazer commented on #4208
A quick inspection of the entire SolarShading.cc file shows about 20 times that a variable or variable expression is used as a divisor (after the / sign) that did not have any obvious protection for protecting for the zero case. That probably means that other logic prevents from divide-by-zero situations but it could also mean that crashes occur and are not reported or crashes could occur for edge

[2015-12-16 15:58] kbenne commented on #5374
`git diff --staged` to see what you are about to commit. `git reset .` to unstage. I bet those files diff only by line endings.

[2015-12-16 16:00] DeadParrot commented on #5374
@amirroth GitHub "Blame" attributes the code to @rongpengzhang and it is from Jul 19.

Minor aside: the use of a low precision Pi literal instead of the value from DataGlobals should have been caught on review.

[2015-12-16 16:03] #4406 closed

[2015-12-16 16:06] mjwitte commented on #4208
You ran this with current develop in a debug build?  Before closing this, I would want to observe what kind of values are showing up here for TanGamma with this file.

[2015-12-16 16:12] kbenne commented on #5374
Also I didn't notice when I originally commented that you are in the middle of conflict resolution. Maybe you should do `git merge --abort` until you figure out what is going on.

[2015-12-16 17:12] rraustad commented on #5374
Pipe_m_ref = 0 at the beginning of this function and might also be 0 during the calculation of Pipe_Num_Re. Not sure I have sufficient knowledge of the model to make a change. There is a SafeDiv function that might benefit multiple equations in the module. @rongpengzhang should review this issue.

[2015-12-16 17:15] Myoldmopar commented on #5374
@rongpengzhang I need you to comment back on whether you can provide a fix for this very soon or I'll revert out #5367.

[2015-12-16 17:29] rraustad commented on #5374
Why are any of these calculations being performed if refrigerant mass flow = 0?

[2015-12-16 17:31] rongpengzhang commented on #5374
@Myoldmopar  This should be a minor problem. I will fix it this morning.

[2015-12-16 17:32] JasonGlazer commented on #4208
I just ran it and looked at the values for TanGamma. The test file computes this over 40,000 times. The values are all positive with the smallest being  8.62E-05 and the largest is 32809. 99% of the values are between .001 and 1000.

[2015-12-16 17:41] rongpengzhang commented on #5374
@Myoldmopar @mjwitte @DeadParrot I cannot reproduce the problem on my machine (Windows). Any ideas on how to reproduce it?

Here is the build message, without any warnings:
![image](https://cloud.githubusercontent.com/assets/7785946/11848754/08e988c6-a3d9-11e5-9e10-f832db7b115d.png)

Here is the message running the example files (VariableRefrigerantFlow_FluidTCtrl_5Zone.idf):
![image](https://clou

[2015-12-16 17:49] Myoldmopar commented on #5374
@rongpengzhang I guess I wouldn't be surprised if the divide-by-zero was being muffled by the MSVC compiler settings.  I don't have that set up right in front of me or I would verify it for you.  @mjwitte or @rraustad Can you confirm the behavior on your machines?  We'll chat about this on the iteration call.

[2015-12-16 18:09] mjwitte commented on #5374
Win64 debug build does not fail for me.  Divide by zeros _used_ to throw an exception in debug builds.  But @DeadParrot said "almost certainly a divide by zero".

[2015-12-16 18:22] rraustad commented on #5374
@rongpengzhang also check the headings in the html report. Design Size Rated Sensible Heat Ratio [m3/s] and Design Size Indoor Unit Reference Subcooling [m3/s] should be Design Size Maximum Flow Rate [m3/s].

![vrf_newmodelhtml](https://cloud.githubusercontent.com/assets/5778156/11849823/da5ddb14-a3f7-11e5-85bd-507c7157bd48.png)

[2015-12-16 18:42] rongpengzhang commented on #5374
Thanks @rraustad for the suggestion.

[2015-12-16 18:52] mjwitte commented on #4208
That's quite a range - but that's what tangent does. Looking around the shading code, I'm not seeing any limits to jump out if the profile angle is exactly zero or 90degrees.  With the age of this issue and the many changes to the code since then, I agree that we should leave it alone for now.  @Myoldmopar Any thoughts?

[2015-12-16 18:59] rongpengzhang commented on #5374
@Myoldmopar @mjwitte @DeadParrot I just finish the modification. I cannot reproduce the problem, so I'm not sure whether this is really the solution or not. Let's see.

[2015-12-16 19:00] Myoldmopar commented on #4208
![image](https://cloud.githubusercontent.com/assets/849824/11850781/9fcbb3d2-a3ec-11e5-8b9c-2e2069d06685.png)

[2015-12-16 19:00] #4208 closed

[2015-12-16 19:15] rongpengzhang commented on #5374
The new commit goes in #5378

[2015-12-16 20:39] DeadParrot commented on #5374
@rongpengzhang this is a floating point divide by zero and to get those caught with VC builds I think we'd need to add floating point handler setup code like we did for Linux.

[2015-12-17 02:30] kylezoa commented on #5105
Issue also occurs on Windows 10 64-bit. msinet.ocx was not found on startup of EP-Launch. However the file was found in windows\syswow64 after installation.

Had to use this command for Windows to recognize the file is in windows\syswow64:

[code]

[2015-12-17 02:43] asparke2 opened #5379 "ChillerHeater:Absorption:DirectFired IDD Mistakes"
Found in version 8.4:

The documentation for several of the curve fields for the ChillerHeater:Absorption:DirectFired say that they accept Biquadratic curves.  The example file `gasAbsorptionChillerHeater.idf` shows Biquadratic curves in these fields, and the `Temperature Curve Input Variable` field defines what to use for the second independent variable.  However, the IDD does not allow Biquadrat

[2015-12-17 02:44] asparke2 commented on #5379
@kbenne FYI This mistake is also present in the OS version of the E+ IDD.

[2015-12-17 13:57] JasonGlazer commented on #4580
@vidanovic @hongtz68 I looked at this issue again and have not been able to make any progress with the problem with the remaining variable. Any chance of either of you looking at it soon?

[2015-12-17 13:59] JasonGlazer commented on #4944
@EnergyArchmage I think you are the person who added the code for the varying shading over time. I would really appreciate it if you could take a look at my previous comment and see if you have any advice. Thanks.

[2015-12-17 14:20] JasonGlazer commented on #4197
Crash can be reproduced in 8.1.0 with original test file.

[2015-12-17 14:23] JasonGlazer commented on #4197
No crash occurs when the test file is updated to 8.4.0 and run with release version.

[2015-12-17 14:52] JasonGlazer commented on #4197
@mjwitte No crash occurs with the updated test file with develop.

This is no longer an issue. The routine in LowTempRadiant.cc that had referenced an array to report an error has been replaced by a general call to report a sizing error in ReportSizingManager.cc. The general call does still get called but no longer crashes.

[2015-12-17 14:52] #4197 closed

[2015-12-17 14:58] mjwitte commented on #5379
Those snuck in way back in v7.2.  ChillerHeater:Absorption:DoubleEffect also has the same issue.

[2015-12-17 16:08] mjwitte commented on #5379
@Myoldmopar Would you like a quick PR to fix these?

[2015-12-17 16:19] Myoldmopar commented on #5379
Door is still open due to the VRF issue and some abrupt dentistry... go ahead and open a PR and if it is easily reviewed by @JasonGlazer or someone, merge it in.

[2015-12-17 23:44] mjwitte opened #5381 "Zone Thermal Comfort ASHRAE 55 Adaptive Model Running Average Outdoor Air Temperature Error at beginning of year"
Helpdesk ticket 10614
From user (have not verified, user files in dev support defect files folder):
The People objects provide for the calculation of the ASHRAE 55 Adaptive comfort temp for use in output, and which can also be used as a window control option if using AFN. The Standard provides for calculation of a prevailing mean outdoor air temp, called by E+ the "Zone Thermal Comfort ASHRAE 55 A

[2015-12-18 00:02] mjwitte opened #5382 "Swimming pool - unrealistic volume of makeup water"
Helpdesk ticket 10943
From user: (have not verified this, defect files added to devsupport)
The makeup water per month is around 37635677 m3 (KL) per month and i'm simulating only one 25m pool.
I have attached the excel sheet. I have audited several aquatic centres (most of them have at least three pools) and they have an average water usage of 2000 -4000 KL (m3) per month.I think that there might

[2015-12-18 21:05] mjwitte commented on #5349
Closed via #5350

[2015-12-18 21:05] #5349 closed, assigned to JasonGlazer

[2015-12-18 21:12] mjwitte commented on #5374
Closed via #5378

[2015-12-18 21:12] #5374 closed, assigned to nobody

[2015-12-18 21:24] mjwitte commented on #3398
This could be done as a recurring warning.  Throw a warning on the first one and then count up and report at the end.

[2015-12-18 21:25] mjwitte commented on #3451
@mmatts Is this something you could address?

[2015-12-18 21:32] mjwitte commented on #3650
Perhaps a better source is available now?

[2015-12-18 21:33] mitchute commented on #3451
@mjwitte yes, I can take care of it.

[2015-12-18 21:55] mjwitte commented on #4046
This needs a few test cases to confirm if exterior shading is ignored - both self-shading from the building and from shading surfaces.  A warning could be added to check if there are any shading surfaces and there is DElight daylighting then throw a severe to caution the user.

[2015-12-18 21:58] mjwitte commented on #4113
This raises the question of whether we want to continue including the rdd fragments?  @Myoldmopar ?

[2015-12-18 22:08] mjwitte commented on #4114
Referenced attachment and defect files are in devsupport

[2015-12-21 12:51] JasonGlazer opened #5383 "Update "Check File Version" message when finding newer version"
When a newer file (say 8.4.0) is run in an old version of EP-Launch (say 8.3.0) the same error message comes up that says "Check File Version" saying that it is an "old" version even though it is actually a newer version. Either update the wording of the message or make the algorithm more sensitive to if the version is newer or older than the current version.

See help desk 11006. It can be reprod

[2015-12-21 15:59] lgu1234 opened #5384 "Provide a better warning message for a triangular window in the AirflowNetwork model"
When a triangular window is used in the AirflowNetwork model, a warning message is not clear enough:

*\* ~~~ *\* The opening is a Triangular subsurface. A rectangular subsurface should be used

Ticket 10863 provides such suggestions:

How does EnergyPlus treat such openings? Does it ignore them in the AFN? Or does it make some assumptions about opening areas etc? It would be nice if the message s

[2015-12-21 22:46] aaron-boranian opened #5385 "Input fields for HeatExchanger:Desiccant:BalancedFlow:PerformanceDataType1 object claim to be "Autosizable", but aren't"
When the IDD file describes input fields for the HeatExchanger:Desiccant:BalancedFlow:PerformanceDataType1 object, it claims that 'Nominal Air Flow Rate' and 'Nominal Air Face Velocity' are autosizable.

[code]

However, if "Autosize" is entered for either input field in an IDF file, EnergyPlus crashes with the following severe error message:

[code]

Even though this is how the input fields are e

[2015-12-22 17:11] chrisbalbach opened #5386 "Improve thermostatic controls available with AirConditioner:VariableRefrigerantFlow:FluidTemperatureControl object"
The AirConditioner:VariableRefrigerantFlow:FluidTemperatureControl object appears to offer far more limited thermostatic control options when compared to the options available for the AirConditioner:VariableRefrigerantFlow objects.

The multiple thermostatic control options available for the AirConditioner:VariableRefrigerantFlow object represent more realistic control options available in real wo

[2015-12-22 17:35] chrisbalbach opened #5387 "Include VRF Heat Pump modeling capabilities with AirConditioner:VariableRefrigerantFlow:FluidTemperatureControl object"
After reading the engineering reference documentation for this object, it is my understanding that the AirConditioner:VariableRefrigerantFlow:FluidTemperatureControl object can only be used to model VRF systems operating in Heat Pump models and cannot be configured to model VRF systems capable of operating in a heat recovery mode.

If it is possible to extend the AirConditioner:VariableRefrigerant

[2015-12-22 21:09] kbenne commented on #5386
@rongpengzhang I believe you are the correct person to receive this, but if I am wrong then please pass it off to the correct person. I am under the understanding that you are currently working in this area.

[2015-12-22 21:26] rongpengzhang commented on #5386
@chrisbalbach @kbenne Yes, the current AirConditioner:VariableRefrigerantFlow:FluidTemperatureControl object only offers limited thermostatic control options, and only support HP operations. We have been working on the physics based VRF-HR model, in which the thermostatic control options will also be expanded.

[2015-12-22 21:29] rongpengzhang commented on #5387
@chrisbalbach  A new physics based VRF-HR model is a new feature we have been working on. Hopefully it will be ready for the next EPlus release.

[2015-12-25 20:43] jburek opened #5390 "Invalid Number in Numeric Field"
I'm using Reference Supermarket model: RefBldgSuperMarketPost1980_v1.4_7.2_5A_USA_IL_CHICAGO-OHARE.idf

During simulation I get these errors - most point to Invalid Number in Numeric Field (I copied all below). I would appreciate your help in fixing those issues. Thank you.
Jasmina

Program Version,EnergyPlus, Version 8.4.0-832e4bb9cb, YMD=2015.12.25 14:25,IDD_Version 8.4.0
   ************\* IDF C

[2015-12-26 22:31] rglazer2 commented on #2640
Reran defect file in v8.4 with Vienna weather and it no longer crashes. Fatal Error is created instead saying that ground heat exchanger did not converge.

[2015-12-29 19:22] rraustad commented on #5276
I'll have to merge this in with the SZVAV feature being developed now. Please address this ASAP as I also want to switch to a RegulaFalsi approach. This might be difficult to merge although I am trying to steer clear of existing code.

[2016-01-04 16:40] mjwitte commented on #5390
Did you use the IDFVersionUpdater to transition the file up to v8.4.0?

[2016-01-04 16:47] Nigusse commented on #5156
@mjwitte @rraustad I added "HEATEXCHANGER:AIRTOAIR:SENSIBLEANDLATENT" as a valid component.  The defect file run completed successfully.  However, I see a large number of "unbalanced air volume flow ratio through the heat exchanger is greater than 2:1" error message.

[2016-01-04 16:55] mjwitte commented on #5156
@Nigusse Is the HX flow rate autosized?  The sizing routine may need to be sensitive to the location of the HX?

[2016-01-04 17:14] #2640 closed

[2016-01-04 17:25] Nigusse commented on #5156
@mjwitte It was hardsized. I re-run with autosized HX flow rate.  The number of recurring error messages did not change much.

[2016-01-04 17:35] mjwitte commented on #5156
@Nigusse Looking at the file now - since the HX is being added to a VAV system, the warnings are to be expected.  Adding some more logic and/or inputs to the heat exchanger model to cover a wider range of flow rates would be useful, but that's a different issue.  For this one, the key would be to check that the heat exchanger is actually being simulated and producing leaving conditions that make s

[2016-01-04 19:13] mjwitte commented on #4587
Also helpdesk ticket 11008 - second defect file added.

[2016-01-05 02:11] jburek commented on #5390
Yes I did. I went back to check again and I get a message the file does not need to be updated.
![image](https://cloud.githubusercontent.com/assets/8441346/12105817/1d47af2e-b31e-11e5-8312-f81bf9eb505f.png)

THen I run transition and I get info that no translation will be performed.
![image](https://cloud.githubusercontent.com/assets/8441346/12105849/57058b8c-b31e-11e5-8c85-1e6788397c45.png)

And

[2016-01-05 02:13] jburek commented on #5390
Also I was able to run the original model in version 8.2 of Energy plus

[2016-01-05 13:37] Nigusse commented on #5156
@mjwitte The heat exchanger on the main branch is simulated, the air outlet conditions are as expected.  The CI machine also came clean, I will add a unit test to complete this fix.

[2016-01-05 14:50] #5355 closed, assigned to Myoldmopar

[2016-01-05 14:52] mjwitte commented on #5390
Looking at the sizing:system objects, it appears that the transition from 8.2 to 8.3 was never done completely (possibly used an iteration release, or ?).  You'll need to go back to the v8.2 file an transition up to v8.4.

[2016-01-05 14:52] #5390 closed, assigned to nobody

[2016-01-05 18:31] JasonGlazer commented on #2652
Updated the test files to EnergyPlus. 8.4.0. The 7872ShadesCut_V840.idf in Stuttgart still shows 709:Zone Windows Total Transmitted Solar Radiation Rate [W](TimeStep) for timestep 6:30 with a value of 14.9 W. So some "leaking" may still be occurring. The code has changed some since the issue was discussed in 2010.

[2016-01-05 21:46] DeadParrot opened #5394 "PierceSurface is broken for nonconvex surfaces"
Despite source comments to the contrary, the PierceSurface algorithm for non-rectangular surfaces is only valid for convex surfaces.

I am developing a faster PierceSurface and I could fix this as part of that effort.

[2016-01-06 15:59] Nigusse commented on #4976
@mjwitte The cause for this defect is initialization of report variables of the parent object only. Instead of initializing the report variables of current multi-speed heat pump only, it initializes the entire heat pump array, hence report variables of simulated heat pumps are also reset to zero.  As the result only the last simulated heat pump only retains results of these report variables. Below

[2016-01-06 21:16] EnergyArchmage opened #5398 "Hard crash writing out Component Loads Summary table."
Defect file crashes at line 12147 in OutputReportTabular.cc while writing out the component loads table.

[code]

Test file from interface developer has cooling termostat setpoint set very high which seems to cause CoolDesSelected to be zero, leading to crash.   Component Loads summary needs to finish gracefully when design loads are zero and no design day was selected.

[2016-01-07 17:56] mjwitte commented on #4420
Came up again in helpdesk ticket 11027.  Adding priority to get this fixed.

[2016-01-07 18:18] mitchute commented on #3451
![file000](https://cloud.githubusercontent.com/assets/2985979/12176804/cdde8986-b52e-11e5-9e44-7b0cac29b897.jpeg)
Table 4, pg. 11.4 ASHRAE Applications Handbook (SI). 1991.

![file001](https://cloud.githubusercontent.com/assets/2985979/12176920/784d505a-b52f-11e5-98ed-68f41a93840f.jpeg)

|  |  | 5% | 5% | 10% | 10% | 15% | 15% | 20% | 20% |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | -

[2016-01-07 18:21] mjwitte commented on #3451
Sounds reasonable.

[2016-01-07 18:25] Myoldmopar commented on #3451
Yeah, that would be great.

[2016-01-07 18:28] mjwitte opened #5400 "WaterHeater:HeatPump:PumpedCondenser part-load ratio calculation failed warning"
Helpdesk ticket 11029
User file generates these warnings:

[code]

Run with Los Angeles, CA weather.

[2016-01-07 22:22] Nigusse commented on #4976
In Unitary System (example file HVACTemplate-5ZoneUnitarySystem), the problem is caused by a logic that does not capture all conditions. This problem is different from the multi-speed heat pump defect.

[2016-01-08 12:44] Myoldmopar commented on #4407
Closed via #5338

[2016-01-08 12:44] #4407 closed

[2016-01-08 12:46] Myoldmopar commented on #3980
Closed via #5281

[2016-01-08 12:46] #3980 closed

[2016-01-08 15:28] Myoldmopar commented on #3451
Closed via #5401

[2016-01-08 15:28] #3451 closed

[2016-01-08 16:33] mjwitte commented on #5398
This may be a duplicate of #5357 .  Looks like the fix is here #5388 Or this may be a different case.

[2016-01-08 17:05] Nigusse commented on #4902
I am addressing this issue. Do we need to to remove the deprecated fields from these objects ? @Myoldmopar @mjwitte  or just keep it as is for now.  If removed I need to prepare transition rules.

[2016-01-08 17:15] mjwitte commented on #4902
Remove, please.  These fields have been \deprecated as far back as v4.0 (didn't look further).

[2016-01-08 17:19] mjwitte commented on #4902
And while you're at it (either in this issue or a separate one), we should remove similar deprecated fields from:
AirTerminal:SingleDuct:ConstantVolume:FourPipeInduction
AirTerminal:SingleDuct:ConstantVolume:Reheat
AirTerminal:SingleDuct:VAV:Reheat:VariableSpeedFan
AirTerminal:SingleDuct:VAV:HeatAndCool:Reheat

[2016-01-08 17:24] Nigusse commented on #4902
I will issue a separate bug item to remove deprecated fields from these four objects.

[2016-01-08 18:03] Nigusse opened #5404 "Remove deprecated input fields from four Air Terminal Single Duct Objects"
Refer to bug issue:
https://github.com/NREL/EnergyPlus/issues/4902

And while you're at it (either in this issue or a separate one), we should remove similar deprecated fields from:
AirTerminal:SingleDuct:ConstantVolume:FourPipeInduction
AirTerminal:SingleDuct:ConstantVolume:Reheat
AirTerminal:SingleDuct:VAV:Reheat:VariableSpeedFan
AirTerminal:SingleDuct:VAV:HeatAndCool:Reheat

[2016-01-08 18:13] JasonGlazer opened #5405 "Aircooled ChillerHeater:Absorption:DirectFired and ChillerHeater:Absorption:DoubleEffect should use curve coef for second parameter for outdoor air temp"
Upon code inspection noticed that the ChillerHeater:Absorption:DirectFired (function ChillerGasAbsorption) and ChillerHeater:Absorption:DoubleEffect (function ChillerExhaustAbsorption) chillers use the same calculation for aircooled and watercooled cases even though the aircooled should only be using single variable curves which the watercooled uses double variable curves. This affects the capacit

[2016-01-08 18:13] JasonGlazer commented on #5405
@Myoldmopar Feel free to add comments.

[2016-01-08 18:44] Alex-Blue opened #5406 "High Humidity Control = Yes in Controller:OutdoorAir"
When the "high humidity control" = yes in the Controller:OutdoorAir object, it causes the file to crash.

[5ZoneCAVtoVAVWarmestTempFlowErrors.txt](https://github.com/NREL/EnergyPlus/files/83118/5ZoneCAVtoVAVWarmestTempFlowErrors.txt)
[5ZoneCAVtoVAVWarmestTempFlow.txt](https://github.com/NREL/EnergyPlus/files/83119/5ZoneCAVtoVAVWarmestTempFlow.txt)

[2016-01-08 20:28] Nigusse commented on #4976
In the CI machine run only one example file "UnitarySystem_WaterCoils_wMultiSpeedFan.idf" showed diffs in some of the following unitary system report variables. Diffs are expected in the following report variables of Unitary Systems and Multi Speed Air To Air Heat Pumps:

Unitary System Total Cooling Rate
Unitary System Sensible Cooling Rate
Unitary System Latent Cooling Rate
Unitary System Total

[2016-01-08 20:53] Nigusse commented on #4902
@Myoldmopar I have transition rule prepared for this bug fix.  Where should this transition Rules Spreadsheets (Rules8-4-0-to-8-5-0.xls) go?  I see last release in the build remote branch.

[2016-01-08 21:49] mjwitte commented on #4902
@Nigusse the rules file is already in develop, so it should be in your branch in
src/Transition/InputRulesFiles//Rules8-4-0-to-8-5-0.xls

[2016-01-08 22:16] Nigusse commented on #4902
Ok. @mjwitte Thanks.

[2016-01-08 22:57] Nigusse commented on #4902
Updated the transition rules spreadsheet file for the series and parallel PIU objects and added the transition rule to the Fortran file "CreateNewIDFUsingRulesV8_5_0". I think this are the only changes I need to make.  Let see what the CI machine does. The 11 example files failed are due to transition only and the other failure is the unit test.  @mjwitte @Myoldmopar Do I need to make any other ch

[2016-01-08 23:00] mjwitte commented on #4902
The HVACTemplate processor will need to be modified (epfilter.f90).  I can do that if you want.  Shouldn't be hard - just find the lines that produce the deleted fields and delete them.

[2016-01-09 13:33] Myoldmopar commented on #5398
I'll close this as a duplicate of #5357, but either way, I am merging in #5388.

[2016-01-09 13:33] #5398 closed, assigned to nobody

[2016-01-09 13:33] #5357 closed, assigned to JasonGlazer

[2016-01-11 13:14] mbadams5 opened #5410 "El Capitan (Mac OSX) breaks EnergyPlus"
Due to new System Integrity Protection, various locations are no longer user writable, even as root. This breaks the runenergyplus script and potentially the installation script since it installs symlinks to `/usr/bin`.

See [UnmetHours post regarding this](https://unmethours.com/question/13844/el-capitan-breaking-energyplus/).

[2016-01-11 15:13] JasonGlazer commented on #3329
Upon examination, every single tabular report follows the same format and does not have a header (or title) for the first column shown in first row. The upper left box for every table is blank. Given that it is the general format, I am reluctant to make any kind of change. They could be added in each case such as "Utility", "End Use", "Zone", "Month", or sometimes something more generic like "Para

[2016-01-11 15:17] JasonGlazer commented on #3329
@nealkruis @macumber @lgentile I think you were all involved in the old "output schema" discussions so thought you might want to weigh in on this issue.

[2016-01-11 15:21] jburek commented on #5390
That solved the problem. Thank you.

[2016-01-11 15:49] kbenne commented on #5410
Boot the runenergyplus script in favor CLI? Trying to write outside of user home seems like a bad idea from the get go.

One wrinkle is that I think the runenergyplus script is a dependency of EP-Launch Lite.

[2016-01-11 16:00] mbadams5 commented on #5410
I am curious what happens during install. I haven't tried since I installed El Capitan. I don't think the installer can create the symlinks in `/usr/bin`.

[2016-01-11 16:10] kbenne commented on #5410
Along those lines... What happens when you do an upgrade where there are already links in place?

[2016-01-11 16:38] macumber commented on #3329
This is a change that could potentially break existing queries, other than that I don't have strong feelings.

[2016-01-11 23:31] mjwitte opened #5412 "Mixed air setpoint <0 causes 100% OA operation"
Helpdesk ticket 11038
User file with very low mixed air setpoint for economizer control, results in 100% OA, even when the outdoor air temperature is below the setpoint.
The problem is [here](https://github.com/NREL/EnergyPlus/blob/f3d31288af93cfb2dce7ca7a0aa46e6295eef0c5/src/EnergyPlus/MixedAir.cc#L3270-L3278), where the controller assumes any setpoint <= 0 is ignored.  Should be able to change t

[2016-01-12 13:25] EnergyArchmage commented on #3329
As I recall the original complaint had to do with how having the first cell in table be blank makes it bit more awkward when reading/parsing the tables into secondary post processing tools.  It trips up automated routines and/or makes queries a bit awkward.  Maybe could repeat the table's subtitle for old tables but make it a policy moving forward to fill out the first column with some useful titl

[2016-01-12 14:37] JasonGlazer commented on #3650
The ASHRAE 1282-RP report has a final table that is what is used in the HOF:

![1282-table12](https://cloud.githubusercontent.com/assets/2582150/12266009/316305b0-b906-11e5-8db0-6a6f605b160c.png)

Which does not break out to return air fraction and fraction convected. But the detailed tables from the same report do include it. Here is one for recessed fluorescent.

![1282-table4](https://cloud.git

[2016-01-12 15:00] mjwitte commented on #3650
That's fine, but these values don't translate directly into EnergyPlus inputs.

[2016-01-12 16:03] macumber commented on #3329
@DavidGoldwasser  @asparke2 are the ones most affected by this

[2016-01-12 17:05] asparke2 commented on #3329
I haven't had any trouble parsing any of the tables yet, so to me it isn't something that needs fixing.

[2016-01-12 18:57] JasonGlazer commented on #3329
It seems like the known problems of making this change outweigh the unknown possible benefits. Given that I am going to close this issue without making any code changes. It is "As Designed".

[2016-01-12 18:57] #3329 closed

[2016-01-12 20:56] JasonGlazer commented on #3650
Here is what I am proposing:

and replace the existing table with the following table:

![newlightingtable](https://cloud.githubusercontent.com/assets/2582150/12276644/83445308-b93c-11e5-9dc9-58592eeba2ef.png)

And delete Figure 51 titled "Overhead luminaire configurations" since they no longer correspond with table.

[2016-01-13 16:02] JasonGlazer opened #5415 "EP-Launch Lite on MacOS for 8.4.0 references 8.3.0 for weather and fails"
EP-Launch Lite that was distributed with EnergyPlus 8.4.0 Update 1 when run generates an error shown below:

![eplaunchliteerror1](https://cloud.githubusercontent.com/assets/2582150/12299395/27d599a0-b9dc-11e5-932f-ed744fec4f4b.PNG)

Then the main screen shows the version being 8.3 and does not populate the weather file pull down list

![eplaunchliteerror2](https://cloud.githubusercontent.com/asse

[2016-01-13 16:04] JasonGlazer commented on #5415
@kbenne @mbadams5 @Myoldmopar I thought you would want to see this.

[2016-01-13 17:00] JasonGlazer commented on #4154
This is probably complicated enough that it should go through the NFP process rather than just being a bug fix.

[2016-01-13 19:25] JasonGlazer commented on #4580
@vidanovic @hongtz68 I know it has been a while since you looked at this. Any chance now that the holidays are over that one of you could take a look at the issue and provide some advice?

[2016-01-13 20:12] JasonGlazer commented on #3964
@Myoldmopar @kbenne @mjwitte @mbadams5

I have been looking into this some and realize that I will probably need an updated version of the EPDraw library for the latest version of EnergyPlus on MacOS. The library is called libepdraw.dylib and the one I have is five years old. I guess it is possible that nothing has changed related to drawing DXF files in the last five years but if a newer one was

[2016-01-13 20:51] Nigusse commented on #4962
@mjwitte CalcHWBaseboard() routine does not set the branch inlet node water mass flow rate to zero when the baseboard is off for any reason.  This would be the first round of fix, or this may resolve defect fully.

[2016-01-13 22:03] mitchute opened #5417 "Site:GroundDomain results to not match BESTEST"
@BobHenninger and others have noted offline that they have had issues with the Site:GroundDomain slab and basement object's results not matching BESTEST.

Work was started by @sushobhit previously to correct this issue. Reference PR #5076 for progress on this issue.

[2016-01-14 23:16] Myoldmopar commented on #5335
How's [this](https://github.com/nrel/energyplus)?

![image](https://cloud.githubusercontent.com/assets/849824/12340757/18f9f530-bada-11e5-865d-508724f79eca.png)

[2016-01-14 23:16] #5335 closed, assigned to nobody

[2016-01-15 01:04] aaron-boranian opened #5420 "v8.4 Documentation Missing "GroundCoupledSurface" option for Other Side Conditions Model"
The [Ground Domain Slab](http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-location-climate-weather-file-access.html#sitegrounddomainslab) and [Ground Domain Basement](http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-location-climate-weather-file-access.html#sitegrounddomainbasement) are new capabilities of v8.4. Both of these objects reference a [Surface

[2016-01-15 15:25] mjwitte opened #5421 "Documentation Issues - January-March 2016"
\PreProcess\ParametricSpreadsheets\ParametricSpreadsheets.txt refers to a broken url
http://apps1.eere.energy.gov/buildings/energyplus/energyplus_addons.cfm

should be either
https://energyplus.net/extras

or directly to the helpdesk download section
http://energyplus.helpserve.com/Knowledgebase/List/Index/39/release_pieces

_Moved this item to #5423._

[2016-01-15 16:05] mjwitte commented on #3909
Not really clear what this was going for.  A sample line has been added to OutputDetailsAndExamples.

[2016-01-15 20:40] Myoldmopar commented on #3650
Closed via #5413

[2016-01-15 20:40] #3650 closed

[2016-01-16 09:13] DeadParrot commented on #5394
Support for nonconvex surfaces has been added to the Octree branch (#5399) so I consider this issue closed.

[2016-01-16 09:13] #5394 closed, assigned to nobody

[2016-01-16 17:17] anselmbradford commented on #5335
:+1:

[2016-01-16 21:35] mitchute opened #5423 "Update web links in EnergyPlus-PreProcess directory"
After installing E+, under the PreProcess directory, the ParametricSpreadsheets, BLASTTranslator, and DOE2Translator folders have text files which reference old web links. The tools are also not found on EnergyPlus.net. Update as necessary.

[2016-01-18 16:07] #5370 closed, assigned to JasonGlazer

[2016-01-18 17:10] JasonGlazer commented on #5415
See:

https://unmethours.com/question/2392/energyplus-simulation-on-mac-os/

[2016-01-18 17:24] mjwitte commented on #5423
Moved from #5421 -

eProcess\ParametricSpreadsheets\ParametricSpreadsheets.txt refers to a broken url http://apps1.eere.energy.gov/buildings/energyplus/energyplus_addons.cfm
should be either
https://energyplus.net/extras

or directly to the helpdesk download section
http://energyplus.helpserve.com/Knowledgebase/List/Index/39/release_pieces

BLASTTranslator and DOE2Translator are also in the helpde

[2016-01-18 17:51] mjwitte commented on #5423
DOE2Translator is here
http://energyplus.helpserve.com/Knowledgebase/Article/View/88/0/doe2-translator

Not finding BLAST translator there - odd - need to add it.

Given the age of these utilities, we may want to consider removing these two folders/readme files from the install tree and just add the download urls to the respective sections of the Auxiliary Programs doc.

[2016-01-18 18:42] JasonGlazer commented on #4046
Ran tests by adding exterior shading to one of the DElighting example files and saw no difference in energy consumption for that zone or change in daylighting multiplier.

Files put in:

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/4000s/4046

[2016-01-19 16:24] Nigusse commented on #4996
@mjwitte @rraustad Current code doesn't set No Load OA flow correctly for fan type Fan:ConstantVolume. Average air mass flow rate calculation depending fan operating modes is modified as follows:

[code]

Also I see in several places OA mass flow rate when compressor off was set to OA volume flow rate
OACompOffMassFlow = VRFTU( VRFTUNum ).NoCoolHeatOutAirVolFlow;

This will be corrected as follows

[2016-01-19 17:55] RKStrand opened #5427 "EP-Launch Lite for E+ V8.4.0 not showing proper E+ version"
When opening EP-Launch Lite for the Mac after installing EnergyPlus Version 8.4.0, the main window that allows you to select an input file, choose a weather file, and click on simulate still says that it is running EnergyPlus Version 8.3.0.  The computer this was noted on is a MacBook Pro (Retina, Mid 2012) running OS X 10.11.2 (El Capitan).

[2016-01-20 15:13] Nigusse commented on #4996
The initial fix resulted diffs in the new VRF Model because the CompOnMassFlow variable is reset to  "OACompOnMassFlow" variable when the compressor PLR is zero. This logic in not used in the original VRF model.  For now the fix will only reset to AverageOAMassFlow as follows.

 // set the average OA air flow to off compressor values if the compressor PartLoadRatio is zero
      if ( PartLoadRatio

[2016-01-20 17:25] rraustad commented on #4996
This change looks on the right track. The CompOff flow rates for supply air and outdoor air need to be included when setting flow rates. Care should be taken to allow the new VRF model to do whatever it was programmed to do until we determine the new model should be revised.

[2016-01-20 18:40] Nigusse commented on #5172
Closed #5172

[2016-01-20 18:40] #5172 closed, assigned to nobody

[2016-01-20 19:04] aaron-boranian opened #5428 "Order of input fields for Table:MultiVariableLookup in I/O doc doesn't match IDD and example files"
Order of input fields in [I/O Reference for v8.4](http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-performance-tables.html#tablemultivariablelookup):
Name
Curve Type
Interpolation Method
Table Data Format
Number of Interpolation Points
...

Order of input fields in v8.4 IDD and LookupTables.idf example file:
Name
Interpolation Method
Number of Interpolation Points
Curve Type

[2016-01-20 20:02] Nigusse commented on #4720
Replacing "Item" by "RadNum" index variable solves the problem.  I Just tested it using an example file.  As Mike suggested above this variable (VentSlab( ).TotalSurfaceArea) is not used at all in the model.  However, I suggest to leave it there because, a similar variable is used to Autosize length of Low Temperature Radiant Panel.  I am open for either option. What is your thought @mjwitte @ @My

[2016-01-20 20:05] mjwitte commented on #4720
@Nigusse I'm fine with leaving it as you suggest.

[2016-01-20 20:39] sebastienbrideau opened #5429 "Construction:InternalSource Tube Spacing should be half of distance between tubes in 2D model"
I had found this a while back and discussed with Rick Strand.  He said that he'd let the development team know but I think that it may have fallen through the cracks.

The 2D LowTemperatureRadiant model uses symmetry around the tube axis and halfway between the tubes (so that only half of the distance between the tubes is modelled).

I discuss this in a paper here
http://www.tandfonline.com/doi/ab

[2016-01-20 21:52] mjwitte opened #5430 "ZoneHVAC:WaterToAirHeatPump inlet/outlet flow mismatch during supplemental heat operation"
Followup from #5422
Example file ZoneVSWSHP_wDOAS has unbalanced exhaust flow warning. If you change to detailed output and report the mass flow rate at all nodes, there are two timesteps (running with Chicago weather) where the supplemental heat kicks on at 7am and the ZoneHVAC:WaterToAirHeatPump zone inlet mass flow rate is 1.42 while the outlet flow rate (into the WSHP) is 2.10. The WSHP mixed

[2016-01-20 22:43] aaron-boranian commented on #5428
Also, I/O Ref says that [options for independent variable sort order](http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-performance-tables.html#field-x1-sort-order) are "Increasing" or "Decreasing", while IDD and LookupTables.idf example file show "Ascending" or "Descending".

[2016-01-21 17:10] jamiebull1 commented on #5360
+1 for fixing the 24:00 representation of midnight. I've just been bitten by it once again (in Python).

[2016-01-21 18:22] Nigusse commented on #4921
correcting get input index problem eliminated the fatal error ( the defect file runs successfully).  I need to check the output variables though.  The two storage charge variables are not reported unless there is an EMS defined in the idf.  Why do we have this restriction?

if ( AnyEnergyManagementSystemInModel ) {
    if ( ElecStorage( StorNum ).StorageModelMode == SimpleBucketStorage ) {

[2016-01-21 18:37] Nigusse commented on #4921
For consistency with other report variable of the electric storage models, I propose the following alternative variable names:

Output:Variable,,Electric Storage Simple Charge State,hourly; !- HVAC Average [J]
Output:Variable,,Electric Storage Battery Charge State,hourly; !- HVAC Average [Ah]

[2016-01-21 18:45] mjwitte commented on #4921
@Nigusse The EMS requirement is correct for SetupEMSInternalVariable.  The code pasted in the above comment looks correct.

[2016-01-21 19:00] Nigusse commented on #4921
@mjwitte OK.  I see now.  They should remain as is. Should we modify the variables name as suggested above?

[2016-01-21 19:12] mjwitte commented on #4921
@Nigusse I don't have a strong opinion either way on the output variables.  If they are changed, I prefer the second proposal Electric Storage Simple/Battery Charge State.  But you should wait to hear from @EnergyArchmage to avoid conflicts with the larger PV/storage work that is ongoing.

[2016-01-21 19:23] EnergyArchmage commented on #4921
I do have this issue in my list to include in the larger project.  But I have been struggling with what to do about the units here.  Amp hours is so basic to the real world battery that it seems hard to make it change to be Joules.  I think the slight change in output variable text slight is a good approach.  I also thought of eventually making both Joules and Amp-Hours flavors of reports availabl

[2016-01-21 19:59] Nigusse commented on #4921
The Simple/Battery is an indicator of the Storage Type, that is why I suggested. Either way I am fine.

[2016-01-21 20:21] mjwitte commented on #4921
I like having both Ah and J outputs for both types of storage.

[2016-01-22 22:27] mjwitte opened #5433 "Max iteration errors for WaterToAirHeatPump:VariableSpeedEquationFit and WaterToAirHeatPump:EquationFit"
The following example files which contain all show max iteration errors when run as an annual simulation (some also with just design days but not all).  For VSHeatPumpWaterToAirWithRHControl these first appears in v8.2 (did not check history on other files).

UnitarySystem_VSHeatPumpWaterToAirEquationFit
VSHeatPumpWaterToAirEquationFit
VSHeatPumpWaterToAirWithRHControl
ZoneVSWSHP_wDOAS (only one t

[2016-01-23 00:42] rraustad opened #5434 "Surface height out of range warning lacks sufficient information to correct problem."
User file shows a surface at 42,000 m, yet the offending surface does not have a Z vertex at this height. HelpDesk ticket 11080.

*\* Severe *\* SetOutBulbTempAt: Surface Outdoor Temperatures < -100 C
*\* ~~~ *\* ...check Surface Heights - Maximum Surface Height=[42729].
*\* ~~~ *\* ...according to your maximum Z height, your building is somewhere in the Stratosphere.

Warning message is not descr

[2016-01-25 01:48] macumber opened #5435 "Dual unit reporting in html"
OpenStudio would benefit from having dual unit output in E+, https://github.com/NREL/OpenStudio/issues/2039#issuecomment-174350980

Is it possible to have E+ write html files in both SI and IP units and have the SQL file output in SI units?  One option is to allow the user to specify separate units for the html and SQL reports.  Another option is to always write the html in SI and in IP.  How hard

[2016-01-25 01:48] macumber commented on #5435
@mbadams5 @kbenne

[2016-01-25 02:02] macumber commented on #5435
Also, I know there are a bunch of other output files, I think users are mainly interested in getting the html file in IP units, OpenStudio only really cares that the SQL file is in SI units.

[2016-01-25 18:45] DamonWoods opened #5436 "Hailey Weather File Blank"
The ddy for the Hailey-Sun Valley AP 725785 is blank. It downloads only as 1 kB and includes the longitude and lattitude but does not include any other weather information so I cannot use it to properly size the equipment for the design project in that location.

[2016-01-26 16:41] jmarrec commented on #3591
I've used the chiller "ElectricEIRChiller York YT 1758kW/6.28COP/Vanes" from the `chillers.idf` DataSet.

I'm getting this warning :

[code]

[2016-01-27 15:17] JasonGlazer opened #5439 "In IDF Editor when save file order options are changed, resave file"
In IDF Editor the File..Save Options allows the order of objects to be changed between "sorted" or "original" when changing between these options currently, the file is not immediately saved with the new option and instead the user needs to make sure some field value has been edited so that the file has been altered before the change in object order is changed. Basically the file is not able to be

[2016-01-27 15:20] mjwitte commented on #5435
@JasonGlazer Would it be straightforward to decouple the html and SQL output units?  e.g.  html in IP with SQL in SI.

[2016-01-27 16:04] JasonGlazer commented on #5435
It would not be easy because the SQL output is a call near the end of each routine that generates the tables and at that point the unit conversions have all be done. I think the cleanest approach might be to call all the routines that generate the tables twice once with IP and once with SI and we would need to add some logic to each one to write out only the HTML (and other text formats) or the SQ

[2016-01-27 16:11] mjwitte commented on #3591
@jmarrec Do your chiller reference temperatures match what is in the dataset file?  The reference temperatures vary quite a bit in the dataset.

[code]

[2016-01-27 17:08] jmarrec commented on #3591
I've literally just used the Chiller:Electric:EIR and its three curves from the dataset (except that I filled the nodes connections)

[2016-01-27 17:46] JasonGlazer commented on #4007
Update to confirm if lines of code still show same variation in C++ codebase:

682:    RelHum = PsyRhFnTdbWPb( MAT( ZoneNum ), ZoneAirHumRat( ZoneNum ), OutBaroPress );
684: RelHum = PsyRhFnTdbWPb( ZTAVComf( ZoneNum ), ZoneAirHumRatAvgComf( ZoneNum ), OutBaroPress );
967: RelHum = PsyRhFnTdbWPb( ZTAV( ZoneNum ), ZoneAirHumRat( ZoneNum ), OutBaroPress );
1399: RelHum = PsyRhFnTdbWPb( ZTAV( ZoneNum

[2016-01-27 18:00] mjwitte commented on #5436
This (typically) means that location is not included in the ASHRAE handbook design data.  You either need to select a nearby location for design data or generate your own.  Stats based on the TMY3 data will not be equivalent to ASHRAE design data.

[2016-01-27 18:00] #5436 closed, assigned to nobody

[2016-01-27 19:32] Nigusse commented on #4980
The problem is due to the use of different Design Coil Capacity/Load for auto-sizing water flow rate and the UA-Value of the hot water heating coil in ZoneHVAC:UnitHeater object. The Design Coil Capacity for zone equipment such FanCoil and Terminal Single Duct Objects is recalculated using the design water flow rate and the hot water loop design deltaT. Thus the hot water heating coil UA-value is

[2016-01-27 20:26] JasonGlazer commented on #4007
Using ZoneAirHumRatAvgComf across all instances of the RelHum equation looks reasonable and was changed. Prior to each of these, a variable called AirTemp is set that appears to be more aligned with the intent and is used in other equations later related to the air temperature in the zone. Given that AirTemp was used in each instance except for the first because in that case MAT() was not part of

[2016-01-27 21:42] JasonGlazer commented on #3658
Produces same problem with most recent version of AppGPostProcessor

[2016-01-28 04:05] MatthewSteen opened #5441 "PTAC Supply Air Fan Operating Mode Schedule"
This optional field defaults to 0 (cycling) but does not display a value or mention this in the IO reference. A value of 0 is inconsistent with other similar, ~although required~, fields such as Availability Schedules. Suggest updating the documentation and/or displaying the default value. Fan Electric Power output below.

**Supply Air Fan Operating Mode Schedule = blank**

![energyplus5441-1](htt

[2016-01-28 14:00] RKStrand commented on #4007
@JasonGlazer Based on what you wrote and what I am seeing in the code, I think your proposed fixes sound reasonable and would be what I would have done.  Based on my recollection of the origins of this module, variables like AirTemp were used locally so that things like MAT or ZTAV or whatever did not proliferate through the code and to make the algorithm more clear.  Some stuff has been added sin

[2016-01-28 14:13] JasonGlazer commented on #4007
Thanks @RKStrand

[2016-01-28 15:28] mjwitte commented on #5441
This same field appears 24 times under two different names "Supply Fan Operating Mode Schedule Name" (HVACTemplate:*) and "Supply Air Fan Operating Mode Schedule Name" (all others).  From a quick scan of the IDD and the I/O Reference, many instances include a note stating that the default is cycling fan when this field is left blank, but not all. The description of this schedule name varies a bit,

[2016-01-28 20:55] RKStrand commented on #5427
Also discovered a couple of related issues making it seem as if EP-Launch Lite for the Mac was not updated at all for Version 8.4.  In addition to the problem initially noted above, it was also noticed that when clicking on the Input File button, that it goes to the EnergyPlus-8-3-0 folder.  A similar thing happens when trying to select the weather file.  The drop down list is based on the Weather

[2016-01-28 20:57] RKStrand commented on #5415
Similar issues noted in Issue #5427 except a crash did not happen but bad references are made

[2016-01-29 13:38] Nigusse opened #5442 "Inconsistent reference hot water temperature are used to calculate density in water flow autosize"
While working adding unit test for #4980 , I came across a difference in water reference temperature used to calculated hot water density. In the Unit Heater parent object, the design hot water vol flow rate is calculated at 60.0C, just like the hot water Cp, but ReportSizingOutput uses, 5.05 C as the reference water temperature. And this difference in temperature leads to slight change of water m

[2016-01-29 14:11] mjwitte opened #5443 "IDF Editor add support for new units conversions"
Two new units conversions were added as part of the pump sizing changes in #5281

[code]

[2016-01-29 14:33] Nigusse commented on #5442
@mjwitte @rraustad @Myoldmopar There are three issues that I see here before I proceed forward:
- Correct the inconsistent use of 60.0C and 5.05C for hot water density calculation in autosizing hot water Volume Flow Rate.  What value should be used? should we take the value from the Sizing:Plant object or Coil:Heating:Water objects? Keep in mind that the values in these two objects can be differen

[2016-01-29 15:16] EnergyArchmage commented on #5442
I agree that we need a clear policy as to what temperature to use during sizing and initial setup.  I thought that was InitConvTemp, but it probably isn't used everywhere it should be.  I think it should be kept simple and not change with input and types of loops.

[2016-01-29 15:37] rraustad commented on #5442
InitConvTemp scares me a little for 2 reasons. One is that there should have been 2, CWInitConvTemp and HWInitConvTemp. And the other is that the use of a constant like this may get us into trouble when the simulation deviates from those temperatures. If autosized there are inputs for CW and HW temps, if not only a few objects have a temp input. Does that put us back to a global HW and CW initiali

[2016-01-29 19:09] Nigusse commented on #5442
This issue was brought by observation that Hot Water Volume Flow Rate calculated at 60.0C in the parent objects is multiplied by Water Density at 5.05C (InitConvTemp) to get the Hto Water Mass Flow Rate in another place.  This in effect slightly changes the Coil Capacity used for UA-Sizing.  The simplest change than can be made is to make them consistent.

We use a standard dry air density to chan

[2016-01-29 21:39] mjwitte opened #5446 "Max iteration problem with HVAC sizing simulation in 5ZoneCoolBeam"
Observed this when looking at diffs in #5278 . . .

There are definite differences in the 5ZoneCoolBeam annual simulation, left side is develop, right side is HBIRE_vector_take2 branch in #5278 :
![image](https://cloud.githubusercontent.com/assets/4991075/12657572/a4d7effe-c5c9-11e5-8e20-dd443dede9ce.png)
![image](https://cloud.githubusercontent.com/assets/4991075/12657553/873531f0-c5c9-11e5-8d34-

[2016-01-29 21:44] EnergyArchmage commented on #5442
I also prefer a single constant reference.  I would be all in favor of changing the value of InitConvTemp from 5.05 to 20.0C, or some other number if there is a good argument.    If memory serves it matches the old 4180 specific heat.

Remember this temperature sensitivity is a side effect of getting glycols to work everywhere, it isn't always water.

[2016-01-29 21:49] mitchute commented on #5429
@mjwitte @Myoldmopar I reviewed the CTF and LowTempRadiant source and did not find anything to account for the `ThicknessPerpend` variable needing to be half of the tube spacing. 538e5e73219ac809f07b610a91487c95fec54b37 corrects this. Let me know if you have other ideas or want to discuss it further.

[2016-01-29 21:53] mjwitte commented on #5429
@RKStrand ?

[2016-01-29 21:56] RKStrand commented on #5429
Looks like a reasonable fix to me.  It's basically what I would have done had I gotten to it first.

[2016-01-29 22:27] mjwitte opened #5447 "Max iteration and mass flow problems with WaterToAirHeatPump:VariableSpeedEquationFit"
- [x] Example file VSHeatPumpWaterToAirEquationFit has max iteration warnings, not converging on mass flow:
*MJW 2019-02-07 - these warnings are no longer there in v9.0.1, not sure when that got fixed.*

[code]

Output mass flow rate at the detailed timing reveals that the zone return node reports a different mass flow rate from the rest of the loop at certain times.  For example at  07/04  15:30:

[2016-01-30 04:28] DeadParrot opened #5448 "CheckConvexity flags convex but slightly non-planar surfaces as non-convex"
Slightly non-planar but otherwise convex surfaces are not flagged as non-planar due to the planarity tolerance but are marked non-convex by `CheckConvexity`. Here's an example from GroundTempOSCCompactSched.idf:

[code]

The non-zero Vertex 3 x coordinate, 3.153951E-05, makes this non-planar but it is otherwise a well-formed rectangle, yet in the shd file it is marked non-convex.

[2016-01-30 04:36] DeadParrot opened #5449 "Non-convex surfaces with edge crossings should be detected and disallowed"
Currently non-convex surfaces with edge crossings are not detected by any of the surface checks in `SurfaceGeometry`. Such surfaces are probably not useful for EnergyPlus and they are not handled by the `PierceSurface` update in #5399 that added support for non-convex surfaces. Edge crossings could be detected by computing the intersection of all edge lines in a surface and see if any fall along t

[2016-01-30 04:49] DeadParrot opened #5450 "PierceSurface behavior for rays originating on the test surface should be clarified"
Daylighting was found to test for ray-surface intersections with rays originating on the surface. `PierceSurface` treats such rays as not "hitting" the surface if the ray origin is computed as exactly on the surface but due to roundoff such points are generally computed as being slightly off the surface so they will be hits or misses depending on which side of the surface the roundoff puts them on

[2016-01-30 05:05] DeadParrot opened #5451 "Evaluate allowing "fast math" compiler options to enable auto-vectorization"
Auto-vectorization can improve performance for some loops. Because auto-vectorization reorders operations it violates strict IEEE floating point compliance so compilers require "fast math" options be specified to enable auto-vectorization of floating point loops. Recently, effort has been going into making EnergyPlus more "vectorization-friendly". Auto-vectorization makes it practical to get a lar

[2016-01-30 14:03] mjwitte commented on #5449
Edge crossing should be a severe error leading to a fatal after all surfaces are checked.

[2016-01-30 19:52] Nigusse commented on #5442
I was not aware that this temperature selection considered the side effect of getting glycols to work everywhere. May be more discussion is warranted before we make any changes.

[2016-02-01 20:30] Nigusse commented on #4904
@mjwitte I started investigating his defect using the defect file DesiccantDehumidifierWithCompanionCoil with high humidity load.  It appears to me it is working correctly.  I also looked at the the inlet conditions of the regeneration air stream of the Desiccant System on the main branch. The REGEN COIL INLET NODE:System Node Temperature [C] is behaving per the design.  When there is de-humidific

[2016-02-01 20:37] mjwitte commented on #4904
OK.  Is autosizing of the regen fan working ok?

[2016-02-01 22:08] Nigusse commented on #4904
The reg fans are autosized to the system sizing flow rates of the Airloop branch. This is OK if the desiccant dehumidifier is on the main airloop branch but not when the desiccant in on outdoor air system. I will look into this more deep.

Reg heating coils sizing looks incorrect. The reason appears to be that the design input temperatures are based on information from the system sizing parameters

[2016-02-02 17:05] Nigusse commented on #4904
The regeneration fan are autosized to the maximum air loop flow rates for both in the primary and the outdoor air systems.  I think this is OK.

There are a few issues for adding regeneration heating coil sizing that needs to be agreed on:
(1) Design Inlet air temperature ( this depends on the desiccant system entering regeneration air node or where the desiccant system is placed)
(2) Design outle

[2016-02-02 17:45] jmarrec opened #5452 "Wrong IP units for controllerWaterCoil min/max flow and other water flow rate fields"
`Controller:WaterCoil` takes a Minimum Actuated Flow and a Maximum Actuated Flow. As seen in the [docs](http://bigladdersoftware.com/epx/docs/8-4/input-output-reference/group-controllers.html#field-maximum-actuated-flow),

But the IDF editor will show ft^3/min.

originally posted here before I knew it was an E+ rather an OS issue.
https://github.com/NREL/OpenStudio/issues/2057#issuecomment-1786080

[2016-02-02 22:18] DeadParrot commented on #5449
@mjwitte Thanks for the input. The `Surface2D` objects I create for fast `PierceSurface` calls should be useful/faster for edge crossing checks. If you'd like me to take a crack at this let me know. It might be best handled along with #5448 since all aspects of surface checking should probably be integrated to get the best detection/categorization of degenerate surfaces.

[2016-02-02 23:18] jamiebull1 opened #5453 "Allow opening IDF files with unix line endings in IDFEditor on Windows"
This has come about as an issue raised for Eppy which I think makes more sense to be dealt with in the IDFEditor code. The issue is that when an IDF is created in Eppy or in a text editor on Mac or Linux, then by default the IDF is created with that system's line endings. If we then try to open the file in IDFEditor on Windows it fails with an error message to convert the line endings to CR LF. Mo

[2016-02-03 17:53] mitchute commented on #5429
@RKStrand @mjwitte  do you have any suggestion on testing, or do we just accept the diffs for something like this?
@Myoldmopar what sort of unit test do you want on this?

[2016-02-03 18:29] Nigusse commented on #4904
@mjwitte I created a defect IDF for desiccant regeneration heating coils using a hot water coil.  I see the same coil auto-sizing problem as in the gas and electric heating coil.  The same proposed fix can be extended to the hot water and steam heating coils as well.

[2016-02-03 18:46] RKStrand commented on #5429
@mitchute @mjwitte What I would suggest is to run whatever tests you are doing by comparing what the old version did with the new version.  So, in the corrected version, you are taking the width and dividing by 2 to correct the fact that its half the distance between the pipes not the pipe separation that is used for the calculation.  Run any cases with the old version using twice the width and th

[2016-02-03 22:07] JasonGlazer commented on #4944
@EnergyArchmage this is the issue we talked briefly about at lunch. If you could look at my Dec 11 note maybe I could get going on this again.

[2016-02-04 12:05] jmarrec opened #5460 "SetpointManager:FollowOutdoorAirTemperature Offset Temperature Difference should not be zero in example files"
More of a proposal than a bug.

I've looked at all the E+ examples files, and whenever `SetpointManager:FollowOutdorAirTemperature` is used to do condenser water reset, the `Offset Temperature Difference (deltaC)` is set to 0.

I think this is potentially a misleading choice, because then the CT is basically controlled to deliver an unachievable approach of 0°F, and therefore you get high fan ener

[2016-02-04 17:36] mitchute commented on #5429
@RKStrand adjusting the width to account for the previous pipe spacing error yields identical results, as expected. Testing the changes locally, from the meter files I am seeing about an 8% decrease in plant electricity use `Electricity:Plant [J]` for design day runs. Over an annual simulation it averages out to around a 6% decrease. This is for `RadLoTempHydrHeatCool2D.idf`

[2016-02-04 18:17] RKStrand commented on #5429
@mitchute If the results are identical after accounting for the spacing error, then that's probably a pretty good indication that the fix is fine.  One other thing you could potentially test if you wanted to take it a step further.  Look at three cases: 1-D, 2-D with the error, 2-D after the correction.  Look at the temperature internal to the source (or the water loop temperature out of the slab)

[2016-02-04 20:07] mitchute commented on #5429
@RKStrand it looks like the design day differences are in heating only. Heating shows about an 8% decrease, while cooling shows less that a 1% increase.

A few comparison plots for `RadLoTempHydrHeatCool2D.idf`` for 1D and 2D w/wo the error.

![east_jan](https://cloud.githubusercontent.com/assets/2985979/12827695/82b737d6-cb46-11e5-9d51-5016b58cf245.png)

![east_july](https://cloud.githubuserconte

[2016-02-04 20:48] RKStrand commented on #5429
@mitchute The trend that the heating design day is displaying matches the trend that I would expect to see.  Unfortunately, the cooling design day trend is difficult to determine because of the condensation controls which appear to be shutting the system off.  As a result, the outlet temperature and flow rates are bouncing around in a manner that is difficult to decipher.  The way to get around th

[2016-02-04 21:14] mjwitte commented on #5452
The default ip units for m3/sec is ft3/min  Will add  \ip-units gal/min for these fields.  Searching the IDD for "water flow rate" reveals many other fields that should also be  \ip-units gal/min

[2016-02-04 21:20] mjwitte commented on #5449
@DeadParrot Yes, please proceed.

[2016-02-04 21:29] mjwitte commented on #4904
@Nigusse I'm ok with just about any approach that can be documented clearly _and_ gives the user some control  We may need to add a new field for "Regeneration Air Heater Design Inlet Air Temperature"?  While this is typically drawing from the outdoor air, it could be taking air from anywhere.

[2016-02-04 22:02] Nigusse commented on #4904
I have almost finalized the fix but we can still modify it if needed.  Here is the approach I have taken in fixing the problem:
(1) "Design Inlet Air Temperature" is outdoor air temperature if the desiccant is on the primary air loop, or else if on outdoor air system the it takes the return air temperature. By the way the water coil sizing calculation also requires design inlet humidity ratio.
(2)

[2016-02-04 22:04] mjwitte commented on #4904
@Nigusse I'm OK with the proposed approach without any new fields.  @Myoldmopar @rraustad would you agree?

[2016-02-05 14:50] Nigusse commented on #4904
While working on Idd update, I see two input fields "Nominal Air Flow Rate" and "Nominal Air Face Velocity" in the "HeatExchanger:Desiccant:BalancedFlow:PerformanceDataType1" object as autosizable.  But the code does not support and it fatal out.  So I am removing them.

[2016-02-05 16:14] JasonGlazer opened #5464 "IDF Editor - add support for non-DOS file editing"
IDF Editor does not support editing IDF files that are unix or MacOS line endings. Those should be added.

https://github.com/santoshphilip/eppy/issues/68#issuecomment-180415810

[2016-02-05 16:43] mjwitte commented on #5464
This is a duplicate of #5453

[2016-02-05 16:46] mjwitte commented on #4904
@Nigusse Our goal is for everything to be autosizable, so please post a new issue for the broken autosizable fields, or expand the scope of this issue.

[2016-02-05 17:06] Nigusse commented on #4904
@mjwitte OK. I will post a new issue. By the way, there is no autosizing calculation method for this object in the first place.

[2016-02-05 18:00] santoshphilip commented on #5464
I have been messing with line endings for a while.
here are some thoughts on it:

There are three line endings (apart from obscure ones I don't know about :-)

[code]

`mac_sep` is used on the classic Macs
Modern Macs with OS X use `unix_sep`
You are rarely going to run into `mac_sep`, but the possibility exists

Often files move between Unix and Windows machines
So you may wind up with files havi

[2016-02-05 18:15] JasonGlazer commented on #5464
I agree, being able read DOS, Unix and MacOS line endings but write just DOS line endings would probably be sufficient.

[2016-02-05 19:00] EnergyArchmage commented on #5450
The one thought I have here is to point out that the this just might be related to a feature of the model here where the shading models are only working on the front face of the surface.  For surface's interacton with light to be modeled in both directions, there needs to be two surfaces that are co-located but mirrored and flipped so the outward normals point in opposite directions.  Each one has

[2016-02-05 19:21] Nigusse opened #5465 "Add auto-sizing capability for Nominal Air Flow Rate and Nominal Air Face Velocity in Desiccant BalancedFlow Performance DataType1 object"
#4904

Nigusse:
While working on Idd update, I see two input fields "Nominal Air Flow Rate" and "Nominal Air Face Velocity" in the "HeatExchanger:Desiccant:BalancedFlow:PerformanceDataType1" object as autosizable. But the code does not support and it fatal out. So I am removing them.

MJW:
@Nigusse Our goal is for everything to be autosizable, so please post a new issue for the broken autosizable

[2016-02-05 20:33] DeadParrot commented on #5450
@EnergyArchmage Thanks for the background. Despite the intent, checking for hits for rays originating on the surface itself is a problem because roundoff can lead to `PierceSurface` giving "hit" or "not hit" for such rays, causing solution differences across builds/platforms/compilers.

[2016-02-05 20:37] DeadParrot commented on #5449
@mjwitte OK, I'll confer with @lgentile on making this into a task.

[2016-02-05 20:40] mitchute commented on #5429
@RKStrand Here is the first week in July with condensation set to OFF.
![east_july](https://cloud.githubusercontent.com/assets/2985979/12858521/3c5045be-cc16-11e5-89d8-d620fc9b113c.png)

[2016-02-05 20:47] RKStrand commented on #5429
@mitchute Thanks for running that case and posting the data for the first week of July.  I think in general the trends are pretty believable and in line with what might be expected when correcting this error.  It's not perfect in part because the system is not turning on at the same time across the three different cases.  However, I think there is enough evidence here to say that the correction ma

[2016-02-05 20:55] mitchute commented on #5429
@RKStrand thanks for taking the time to review this!

@Myoldmopar let me know if you want a unit test.

[2016-02-05 21:31] mjwitte commented on #4902
Closed via #5408

[2016-02-05 21:31] #4902 closed, assigned to Nigusse

[2016-02-05 21:33] mjwitte commented on #5156
Closed via #5392

[2016-02-05 21:33] #5156 closed, assigned to Nigusse

[2016-02-08 03:46] MatthewSteen commented on #5452
@mjwitte didn't see your comment. Will finish this up.

[2016-02-08 18:49] mitchute commented on #5382
@mjwitte It looks like the bug is here: https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SwimmingPool.cc#L1318-L1332

Should be dividing by `Density` to get kg and kg/s. Correcting that gets the numbers down in a range consistent with user expectations.

Fix here: 9894facadb9e1ca03ab1fe8df3fe531e33f03427

[2016-02-08 20:42] mjwitte commented on #5382
@mitchute Of course.  Two of us reviewed those functions at the time they went in and didn't see the inversion.

[2016-02-09 22:51] mjwitte opened #5476 "User file with zone and system ERV crashes"
Helpdesk ticket 11114
I had this issue running Open Studio: when adding a ERV HX at system level, I didn't delete the ERV at the zone level, and that running failed, with the energyplus.err file doesn't even show error message. So I check the IDF and see the energyplus crashed, with screenshot and IDF attached.

[2016-02-09 23:04] AryaInTheAir commented on #5476
Thanks for posting it!

[2016-02-10 14:44] mjwitte commented on #5404
Closed via #5414

[2016-02-10 14:44] #5404 closed, assigned to Nigusse

[2016-02-10 15:39] mjwitte commented on #4046
Tested with existing DElight example files - no warning.  Added various types of shading surfaces (one type only, in separate files) and warning appeared.

[2016-02-10 19:09] #5249 closed, assigned to wfbuhl

[2016-02-10 19:10] Myoldmopar commented on #5379
Fixed via #5380

[2016-02-10 19:10] #5379 closed, assigned to nobody

[2016-02-10 19:26] Myoldmopar commented on #4062
Closed via #5402

[2016-02-10 19:26] #4062 closed

[2016-02-10 19:26] Myoldmopar commented on #3381
Closed via #5402

[2016-02-10 19:26] #3381 closed

[2016-02-10 19:26] Myoldmopar commented on #3909
Closed via #5402

[2016-02-10 19:26] #3909 closed

[2016-02-10 19:26] Myoldmopar commented on #4257
Closed via #5402

[2016-02-10 19:26] #4257 closed

[2016-02-10 19:36] Myoldmopar commented on #5382
Closed via #5474

[2016-02-10 19:36] #5382 closed, assigned to mitchute

[2016-02-10 20:49] mjwitte commented on #4046
Closed via #5425 and #5444

[2016-02-10 20:49] #4046 closed

[2016-02-10 21:18] mjwitte commented on #4177
Closed via #5411

[2016-02-10 21:18] #4177 closed

[2016-02-10 21:56] Myoldmopar commented on #5429
Closed by #5470

[2016-02-10 21:56] #5429 closed, assigned to mitchute

[2016-02-10 22:52] mjwitte commented on #5298
@JasonGlazer It may be too late to tackle this one before the feature freeze, but even a partial addition of OA volume flow rates at standard density with a total row might be helpful at this point.  Or perhaps we build a custom monthly table as a starting point.

[2016-02-11 03:40] mjwitte commented on #5384
Closed via #5462

[2016-02-11 03:40] #5384 closed, assigned to lgu1234

[2016-02-11 16:35] Nigusse opened #5479 "Add missing list of choices/keys and auto validate object types in PlantEquipmentList, CondenserEquipmentList and Branch objects"
Parent objects with missing valid (supported) components type choices:

(1) AirLoopHVAC:OutdoorAirSystem:EquipmentList
(2) Branch
(3) PlantEquipmentList
(4) CondenserEquipmentList
(5) Identify other objects with missing choices or object keys.

On 11/13/2015 10:08 AM, Bereket Nigusse wrote:

Mike's response:
Technically yes.  There are also other places that need a list of choices, namely, the Bra

[2016-02-11 16:41] mjwitte commented on #5479
I'm ok with this for most places except maybe the Branch object.  There the list would be very long, which begs for a different approach.

[2016-02-11 18:25] Myoldmopar commented on #4720
Closed via #5432

[2016-02-11 18:25] #4720 closed

[2016-02-11 19:43] lgu1234 opened #5480 "Provide addition explanation to input contaminant generation rate in IO Ref"
Helpdesk ticket 11110: Zone contaminant generation rate
One of our users is asking about how to enter contaminant flow rate into a zone. The data is ZoneContaminantSourceAndSink:Generic:Constant > Design Generation Rate {m3/s}. He isn't clear how to convert from µg/s to m3/s.

 In his words:

 "The contaminant is tetrachlorethylene coming from the soil (a contaminant used in the drycleaning indust

[2016-02-11 20:31] JasonGlazer commented on #5139
@ejhw when I try to rerun the test IDF file provided on the gist I get an error. It looks like the file is truncated at line 35701. Could you please just email the files to jglazer@gard.com? I will put the test files in the repo that we put files related to individual issues.

[2016-02-11 21:41] asparke2 opened #5481 "Coil:Cooling:DX:MultiSpeed reporting incorrect fuel type inside AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed"
@khaddad from Natural Resources Canada reported this:

When there is a `Coil:Cooling:DX:MultiSpeed` inside of an`AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed`, the cooling fuel consumption is being reported as NaturalGas rather than Electricity.

![coolingfuel](https://cloud.githubusercontent.com/assets/2009290/12991620/27ee825a-d0cd-11e5-8726-e2e998914486.PNG)

The example IDF is attached belo

[2016-02-11 21:45] ejhw commented on #5139
@JasonGlazer – okay sent. Not sure how it got truncated, but I was able to find the original in the gist revision history (luckily).

[2016-02-11 21:53] mjwitte commented on #5481
The coil has an input for fuel type, which defaults to NaturalGas (long story, but this was originally developed to model gas engine-driven heat pumps).  The field says NaturalGas in the attached idf.

[code]

[2016-02-11 21:57] asparke2 commented on #5481
@mjwitte sorry to waste your time, I should have noticed that.  Good to know about the natural gas heat pumps though!  I was trying to model those recently.

[2016-02-11 21:57] #5481 closed, assigned to nobody

[2016-02-11 22:00] mjwitte commented on #5481
@asparke2 No problem.  There's actually an open issue #4851 related to this, because the NaturalGas default is especially confusing is the field is left blank.

[2016-02-11 22:27] nmerket commented on #5039
@DeadParrot I wanted to pick your brain again on this issue. I removed the array operations a while ago and we did see a pretty good speed up. I have some ideas around increasing the internal time step for this function (the `dt` constant) to speed things up but was wondering if there are any other low hanging fruit I'm missing that could make this run faster before I start changing things that wi

[2016-02-11 22:49] DeadParrot commented on #5039
@nmerket Sure, I will fire the lastest code up in the profiler and have a look.

[2016-02-11 22:50] nmerket commented on #5039
Terrific, thank you.

[2016-02-12 15:07] lgu1234 commented on #4776
I looked at #4776 again. Here are my findings.

1 Eng. Reference

I looked at the reference cited in Eng. Ref. User’s observation is correct. The equation in Eng. Ref. is not correct, compared to the Winkelmann's paper. It should be without COS(B):

Lw = Lsun \* Trans_win

2 E+ outputs

A figure provided by the user presents direct beam and south luminance. The luminance results are strange with s

[2016-02-12 15:54] mjwitte commented on #5421
- [x] I/O Ref for SwimmingPool:Indoor, field Pool Miscellaneous Equipment Power
  says "The units for this input are in power consumption per flow rate of water through the pool from the heater or W/(kg/s)"

should be W/(m3/s)

_Changes are on p. 494._

[2016-02-12 16:04] Myoldmopar commented on #4293
Closed via #5422

[2016-02-12 16:04] #4293 closed

[2016-02-12 16:38] mjwitte commented on #5421
- [x] IDD and I/O Ref for Generator:FuelCell:StackCooler, field Stack Coolant Flow Rate
  The IDD says the units for this field are kg/s, and the I/O Ref is silent on units.  Is kg/s correct, or should it be m3/s (with gal/min for ip-units)?
  @EnergyArchmage If it's really kg/s, then the field name should be changed to . . . mass flow rate.

_Update - Checked source code, variable name is MdotSta

[2016-02-12 16:43] mjwitte commented on #5421
- [x] I/O Ref, the heading for object Generator:FuelCell:ExhaustGasToWaterHeatExchanger is not marked as a heading

_Change is on p. 2228._

[2016-02-12 16:49] JasonGlazer commented on #5139
@ejhw Thanks I was able to reproduce this issue.

[2016-02-12 16:55] xwanguk commented on #3522
It looks like the use of fluid-to-fluid heat exchanger to connect two chilled water plants (one being primary loop with another being secondary) would solve the problem.

However, tests on multi-chillers with branch pumps of suggested system above raise following issues:
(1) In order for system to work, primary loop pumps should use variable speed. This incurs a conflict with ASHRAE 90.1 appendix

[2016-02-12 16:56] JasonGlazer commented on #5139
The same issue occurs in the release version of 8.4.0

[2016-02-12 19:06] EnergyArchmage commented on #5039
I agree that increasing the inside integeration timestep is worth investigating.   It would be a potent accuracy vs. speed knob if made an input.

[2016-02-12 19:22] mjwitte commented on #5443
More new units will come in with #5468

[2016-02-12 19:35] JasonGlazer commented on #5139
Looks like it is not an issue with the output routines but with some calculation:

http://stackoverflow.com/questions/7476177/why-the-return-value-of-double-is-1-ind

[2016-02-14 08:01] mastercodekw commented on #5415
Did anyone find a solution for this problem ?

[2016-02-15 16:27] mjwitte commented on #5421
- [ ] Example files 5ZoneFanCoilDOASCool.idf and 5ZoneFanCoilDOASCool_ERVOnAirLoopMainBranch.idf, the following field names in Sizing:Zone say "Outside" of "Outdoor".
[code]

[2016-02-15 16:37] mjwitte commented on #5452
Closed via #5468

[2016-02-15 16:37] #5452 closed, assigned to nobody

[2016-02-15 16:58] mjwitte commented on #4776
@lgu1234 Just for completeness, can you point to a line in the source code that shows this equation?

[2016-02-15 19:23] Nigusse commented on #4318
Is anybody working on this bug?

[2016-02-15 20:06] lgu1234 commented on #4776
@mjwitte Although WLUMSK, WLUMSU are used to represent L_w in Eng. Ref, these two variables with break points are not stopped in debug. But statements do not include COSB..
Line 7162 in DayltgInterReflectedIllum of DaylightingManager:
                        WLUMSK( IHR, 1, ISky ) += ZSK( ISky ) \* TVISBR / Pi;
Line 7171in DayltgInterReflectedIllum of DaylightingManager:

[2016-02-15 21:20] mjwitte commented on #4776
Closed via #5487

[2016-02-15 21:20] #4776 closed

[2016-02-15 21:23] mjwitte commented on #4318
I think @RKStrand may be planning to tackle this one, but I'm not sure.

[2016-02-15 21:47] RKStrand commented on #4318
Yes, I am…soon.

[2016-02-16 13:14] JasonGlazer commented on #5415
@alsarraf I do not believe this has been addressed yet.

[2016-02-16 15:22] Nigusse commented on #5251
I investigated this bug and the finding is as follows:

The mass balance issue is caused by flow mismatch between the PTHP parent autosized flow rate and the hard-sized rated flow rates in the variable Speed DX cooling/heating coils. In the defect file specified the DX coils lowest speed rated air flow rate is higher than the parent (PTHP) autosized air flow rate. The supply fan flow rate is also

[2016-02-16 19:31] EnergyArchmage commented on #4921
Am finding it difficult to get both types of output for both types of storage.  There is no voltage defined for the simple storage.  And for the kinetic model it isn't clear what voltage should be used to convert.  I am starting to like @Nigusse suggestion of just splitting the output names.

[2016-02-16 20:02] Nigusse commented on #4921
I agree. There are a number of factors that affect the operating voltage of the battery, for instance the voltage you draw depends on the balance between charging cycle per year and the life of battery selected. I think for now I second to keep a separate variable name.

[2016-02-16 20:13] Myoldmopar commented on #5420
Closed via #5424

[2016-02-16 20:13] #5420 closed, assigned to mitchute

[2016-02-16 20:13] Myoldmopar commented on #5363
Closed via #5424

[2016-02-16 20:13] #5363 closed, assigned to mitchute

[2016-02-16 20:13] Myoldmopar commented on #5341
Closed via #5424

[2016-02-16 20:13] #5341 closed, assigned to mitchute

[2016-02-16 20:13] Myoldmopar commented on #5247
Closed via #5424

[2016-02-16 20:13] #5247 closed, assigned to mitchute

[2016-02-16 20:13] Myoldmopar commented on #5122
Closed via #5424

[2016-02-16 20:13] #5122 closed, assigned to nobody

[2016-02-16 20:14] Myoldmopar commented on #4924
Closed via #5424

[2016-02-16 20:14] #4924 closed, assigned to nobody

[2016-02-16 20:54] Myoldmopar commented on #5434
Closed via #5438

[2016-02-16 20:54] #5434 closed, assigned to Nigusse

[2016-02-16 22:57] mjwitte commented on #5421
- [x] User asked what wavelengths define solar, visible, and thermal properties (Private e-mail 2016-02-16).  After some searching of docs and code, Solar is 0.3 to 2.537 microns, visible is 0.37 to 0.78 microns (weighted by photopic response) and thermal (or long-wave) appears to >2.5 microns based on this

Suggest adding this information to the I/O Ref section titled "Solar and Visible Spectrum

[2016-02-17 05:22] mjwitte opened #5489 "DCV Flag for terminal unit OA control can be wrong for certain combinations"
While addressing #5476 , uncovered a deeper problem with AirLoopControlInfo( OutAirNum ).AirLoopDCVFlag which is used when a terminal unit is controlling outdoor air flow to a zone.  When this flag is true, the required OA is calculated using the current number of occupants (DCV).  When this flag is false, the OA is calculated using the maximum number of occupants (not DCV).
1.  This flag is set w

[2016-02-17 10:44] jmarrec commented on #4980
+1, still running into autosizing issues with this unit heater

[2016-02-17 13:03] rraustad commented on #5489
Why not make it AirLoopControlInfo( OutAirNum ).AirLoopDCVFlag(MechVentNum)

5) It depends on what is done when no MechVent object exists. I guess
you wanted me to look.

On 2/17/2016 12:22 AM, Michael J. Witte wrote:

##

Richard Raustad
Florida Solar Energy Center
1679 Clearlake Road
Cocoa, FL 32922
Ph: (321)638-1454
http://www.fsec.ucf.edu/en/

Program Director
Electric Vehicle Transportation C

[2016-02-17 13:31] Nigusse commented on #4980
@jmarrec the defect file did run OK after the fix. Is this issue in the defect file or another file?

[2016-02-17 13:52] jmarrec commented on #4980
Another file (actually anytime I try to use unit heater I end up having to hardsize the UnitHeater maximum water flow rate at the risk of picking a wrong value).

I was just showing my interest for this issue, opened 6 months ago, that hasn't to my knowledge made its way into a public release.

Btw, where is the branch on which you made the fix? It's not referenced here

[2016-02-17 14:12] mjwitte commented on #5489
@rraustad Basically, if one specifies a DesignSpecification:OutdoorAir object in a VAV terminal unit, and there is not a Controller:MechanicalVentilation, do we want the terminal unit OA calcs to vary based on current occupancy or not?

The I/O Ref for VAV terminal unit says it will always be based on current occupancy (with no mention of checking the Controllcer:MechanicalVentilation DCV input):

[2016-02-17 14:16] Nigusse commented on #4980
No it has not been released.  This bug was just fixed a three weeks ago.  Here is the link to the PR:
https://github.com/NREL/EnergyPlus/pull/5445

[2016-02-17 14:29] jmarrec commented on #4980
thank you!

[2016-02-17 15:36] mjwitte commented on #5489
@rraustad Haven't traced all the way back, but the default for the DCVFlag was flipped to true as part of this [OA/DCV Cleanup commit](https://github.com/NREL/EnergyPlusArchive/commit/7717fb4f67b5a8d58625cce4bb88fb5bff5220d2) back in v7.0.  I guess it makes sense for the terminal unit OA control to follow occupancy by default.  It would be much cleaner if that were a field directly in the DesignSp

[2016-02-17 15:50] rraustad commented on #5489
Sorry, I'm working on something else right now. I was going to suggest
that the TU should follow occupancy, otherwise it's just a minimum stop.
I also think a switch to follow occupancy or not wouldn't hurt
(default=follow). If the MechVent/TU object _must_ read a design spec
object then it might make sense to move it there.

On 2/17/2016 10:36 AM, Michael J. Witte wrote:

##

Richard Raustad
Flor

[2016-02-17 16:32] lgu1234 opened #5490 "Expand Venting Availability to cover venting controls of ASHRAE55Adaptive and CEN15251Adaptive"
Ticket 11125
User: I realized that, if in AirflowNetwork:MultiZone:Zone object the Ventilation Control Mode is set to CEN15251Adaptive, the Venting Availability Schedule has no impact on window openings, as opposed to I/O reference explanation.

Action:
The Venting Availability Schedule only works with 3 choices of Ventilation Control Mode: Temperature, Enthalpy, and Constant. The other two choice

[2016-02-17 17:58] wfbuhl opened #5491 "DOAS inputs not autosizable"
The Sizing:Zone DOAS inputs "Dedicated Outdoor Air Low Setpoint Temperature for Design" and "Dedicated Outdoor Air High Setpoint Temperature for Design" are denoted \autosizable in the IDD but are not autosized in the code. The intent was to auto-default them according to the DOAS strategy. Also the example inputs 5ZoneFanCoilDOASCool and 5ZoneFanCoilDOASCool_ERVOnAirLoopMainBranch have incorrect

[2016-02-18 17:29] Nigusse commented on #5251
@shenb Can you look into this?

[2016-02-18 17:56] shenb commented on #5251
Sure, I will look into it. It may take some time.

Thanks,

Bo

From: Bereket Nigusse [mailto:notifications@github.com]
Sent: Thursday, February 18, 2016 12:29 PM
To: NREL/EnergyPlus
Cc: Shen, Bo
Subject: Re: [EnergyPlus] Flow mismatch between autosized PTHP and hard value in variable speed DX coils child object results incorrect operation (#5251)

@shenbhttps://github.com/shenb Can you look into

[2016-02-18 20:22] Myoldmopar opened #5494 "Image problem in IORef"
Trying to build the latest docs from develop today and it issued an error that it couldn't find `image7466.png`.  Not sure what happened along the way.

[2016-02-18 20:32] Myoldmopar commented on #5494
Welp, I saw [this](https://github.com/NREL/EnergyPlus/commit/93ec19777214586fb519d27d89ab231d0e72a683#diff-1d2e3d718cfd7cf9635d3d02efce004eR8391) back in the PR, but assumed it was intentional.  I'm guessing it wasn't..... @rglazer2 ?

Looks like it just needs to be put back to `image282.png`.

[2016-02-19 16:39] dmac000 opened #5497 "Incorrect centroid calculated for non-convex quads"
When creating a small non-convex building surface, then I get the error:

[code]

with the vertices:

[code]

It looks like the high z-value is coming from `CalcSurfaceCentroid` in `SurfaceGeometry.cc` where 4-sided polygons are split into 3-sided polygons. This split is not correct for non-convex surfaces. The value is calculated as:

[code]

[2016-02-19 17:16] mjwitte commented on #5497
If I'm following the vertices correctly, this is not a well-formed polygon, the sides cross over each other.  Seems that vertices 3 and 4 are reversed?  Also, vertex 3 is nearly on top of vertex1 and the x and y differences between these two are less than the tolerance for geometry.  From the I/O Ref section titled "Surface Vertices":

Were there any other warning messages about this surface in th

[2016-02-19 18:05] dmac000 commented on #5497
The surface is a v-shape which should be well-formed. The extreme example produces a user-visible error because of the 'stratosphere' check. This is the only error that is shown. More moderate examples produce the wrong values but are not enough to produce an error.

Another example is something like (10, 10, 0), (20, 50, 0), (30, 10, 0), (20, 60, 0). As points 2 and 4 get closer together, the err

[2016-02-19 18:44] mjwitte commented on #5497
My hand-plot of the original points was flawed.  Yes, it's a v-shape but very severe.
![image](https://cloud.githubusercontent.com/assets/4991075/13185278/dce1cb20-d705-11e5-9bd1-a9747abd143f.png)
![image](https://cloud.githubusercontent.com/assets/4991075/13185311/05c57226-d706-11e5-95b3-b8520304c99a.png)

The second set of points are more reasonable.
![image](https://cloud.githubusercontent.com/

[2016-02-19 19:31] #5494 closed, assigned to Myoldmopar

[2016-02-19 19:47] rglazer2 commented on #5494
@Myoldmopar Yes, I believe that was a mistake. Sorry about that.

[2016-02-19 20:36] mjwitte commented on #4329
Closed via #5477

[2016-02-19 20:36] #4329 closed

[2016-02-22 12:00] dmac000 commented on #5497
I can't distribute the original files but I've uploaded a similar idf showing the same error:
[idfinput.zip](https://github.com/NREL/EnergyPlus/files/140517/idfinput.zip)

[2016-02-22 13:12] nilexan commented on #4959
What is the current situation?

[2016-02-22 14:14] EnergyArchmage commented on #4959
A fix was drafted out in this branch, https://github.com/NREL/EnergyPlus/tree/4959-plant-HX-CoolDifferential-stuck-Off      Unfortunately I cannot think of way to devise a unit test.

[2016-02-22 14:49] nilexan commented on #4959
Ok, thanks for your answer. What does that mean exactly? What happens now and when do you think will the fix available?

[2016-02-22 16:22] Myoldmopar opened #5499 "Follow-up for Electric Service Refactor Merge"
We merged in the electric service refactor branch (#5437) somewhat abruptly because of the IO freeze and the many defects that the branch fixed.  @DeadParrot had some concerns about the source code changes that we didn't have a chance to address because of the freeze, but I don't want to disregard them.

@EnergyArchmage, can you make a list of your known final issues (eng ref fixups) and @DeadParr

[2016-02-22 16:27] EnergyArchmage commented on #5499
Things left to do
- [x] Eng Reference, explain storage dispatch, etc
- [x] Another integration testfile with complex set of load centers, increase code coverage

[2016-02-22 16:58] JasonGlazer commented on #5489
@mjwitte @rraustad The AirLoopDCVFlag is not even used much and is only referenced in DualDuct.cc and SingleDuct.cc in calling CalcDesignSpecificationOutdoorAir() . I am thinking that the code to set that flag should be moved out of GetOAControllerInputs() in MixedAir.cc and into somewhere else. What do you think?

[2016-02-22 17:08] mjwitte commented on #5489
I agree that it seems misplaced here.

[2016-02-22 17:38] JasonGlazer commented on #5489
@mjwitte Thinking about the general issue that the ordering of objects is impacting the results, maybe we should consider having a "shuffle objects" test. Like reversing design day in steroids, it would take an input file and randomly reorder objects and run it again. Or maybe the test looks specifically at each particular objects that appears more than once in a file and reorders them randomly.

[2016-02-22 17:40] mjwitte commented on #5489
@JasonGlazer I'm assuming this is an isolated case of that.  It's not a general problem.

[2016-02-22 17:49] JasonGlazer commented on #5489
@mjwitte How do you know?

[2016-02-22 17:49] mbadams5 commented on #5489
It could be a general problem. Just think about how all objects are stored in Arrays and then those arrays are traversed in order. That might subtlety affect load calculations, sizing calculations, etc. due to slight numerical instability or bugs in code. If the objects are in a different order in the IDF then they are in a different order in the Arrays as well.

It would be interesting to see how

[2016-02-22 18:09] JasonGlazer commented on #5489
@mjwitte Getting back to the specific issue, do you have any suggestion as to where it would make more sense to locate the code that does this check for the AirLoopDCVFlag?

[2016-02-22 18:22] mjwitte commented on #5489
Looks like it should fit in well in [this block of InitOAControllers](https://github.com/NREL/EnergyPlus/blob/c9755cea9f63a0b515ea12331e3b7f0b91ed2796/src/EnergyPlus/MixedAir.cc#L3187)

[2016-02-22 18:26] mjwitte commented on #5489
This section is already walking through each OA controller and matching it with an airloop in order to set up output variables.  At this point, you could check if the controller has a Controller:MechanicalVentilation object associated with it (OAController.VentMechObjectNum) and if so, check the dcv flag and if it's false, then set the airloop dcvflag to false.

[2016-02-22 18:33] JasonGlazer commented on #5489
Thanks that looks like a good spot.

[2016-02-22 19:49] DeadParrot commented on #5499
I don't have the overview for this code that I would need to review the higher-level design so I can only comment on some code issues/questions that arise as I look it over. Here are a few things I observed in a quick pass:
- [ ] Making constructors private is not necessary even if normal instantiation is via a factory: I wouldn't bother with private unless non-factory instantiation is somehow int

[2016-02-22 19:53] EnergyArchmage commented on #3211
Closed via #5437

[2016-02-22 19:53] #3211 closed

[2016-02-22 19:53] EnergyArchmage commented on #5004
Closed via #5437

[2016-02-22 19:53] #5004 closed, assigned to EnergyArchmage

[2016-02-22 19:53] EnergyArchmage commented on #4273
Closed via #5437

Added more inputs for storage control and discuss them in I/O ref

[2016-02-22 19:53] #4273 closed

[2016-02-22 19:54] EnergyArchmage commented on #5299
Closed via #5437

[2016-02-22 19:54] #5299 closed, assigned to EnergyArchmage

[2016-02-22 19:54] EnergyArchmage commented on #5302
Closed via #5437

[2016-02-22 19:54] EnergyArchmage commented on #5301
Closed via #5437

[2016-02-22 19:54] #5301 closed, assigned to EnergyArchmage

[2016-02-22 19:55] EnergyArchmage commented on #4921
Closed via #5437

[2016-02-22 19:55] #4921 closed, assigned to Nigusse

[2016-02-22 19:55] EnergyArchmage commented on #4639
Closed via #5437

[2016-02-22 19:55] #4639 closed

[2016-02-22 19:56] EnergyArchmage commented on #5303
Closed via #5437

[2016-02-22 19:56] #5303 closed, assigned to EnergyArchmage

[2016-02-22 19:56] EnergyArchmage commented on #4113
Closed via #5437

[2016-02-22 19:56] #4113 closed

[2016-02-22 23:20] mjwitte opened #5501 "User file not calculating zone volumes correctly"
Helpdesk ticket 11140
User expected similar loads from four similar zones, but they varied signficantly.  The four zones have similar floor area and the same ceiling height but greatly different zone volumes:

![image](https://cloud.githubusercontent.com/assets/4991075/13236166/5aa0737a-d988-11e5-8d5e-975485bdd074.png)

The difference in volumes cause the infiltration and ventilation flows to be d

[2016-02-23 14:52] JasonGlazer commented on #4795
See Catching a NaN on:

https://github.com/NREL/EnergyPlus/wiki/Debugging-Tips

[2016-02-23 15:39] mjwitte opened #5502 "IDD Cleanup post v8.5"
- [x] In SurfaceContaminantSourceAndSink:Generic:BoundaryLayerDiffusion, this field name should be title case:

N2 ; \field Henry adsorption constant or partition coefficient

_Note that I/O Ref already has proper case._

[2016-02-23 15:46] mjwitte commented on #5502
- [x] @macumber commented [here](https://github.com/NREL/EnergyPlus/pull/5361#issuecomment-187269973) that it does not make sense for a field which has a \default to also be \required-field  The OpenStudio parser warns about these, would be useful to attach a list of those warnings here to help find all of these and remove the \required-field designation.

_Addressed in #5817. In nearly all instan

[2016-02-23 15:53] mjwitte commented on #5502
- [ ] The issue of required fields which have defaults was part of [broader question](https://github.com/NREL/EnergyPlus/pull/5361#issuecomment-164565257) about standardizing autosized fields, related to #5361

Looking for examples of other autosized fields in the IDD, there are several flavors:

some are not required, no default
some are required, but no default
some are required and have default

[2016-02-23 15:54] mjwitte commented on #5502
- [x] Add `\units Pa` to field N3 of Coil:Heating:WaterToAirHeatPump:ParameterEstimation (this was part of #5159 but will be removed from that PR so it can be merged for v8.5 without impacting the IDD).

[2016-02-23 16:28] macumber commented on #5502
Here is code that generates OpenStudio warnings:

[code]

[2016-02-23 16:29] macumber commented on #5502
Here is output when running on the 8.3 IDD

[out.txt](https://github.com/NREL/EnergyPlus/files/142971/out.txt)

[2016-02-23 16:36] lgu1234 opened #5503 "Make title case for the Henry adsorption constant or partition coefficient field"
Make title case for the Henry adsorption constant or partition coefficient field of the SurfaceContaminantSourceAndSink:Generic:BoundaryLayerDiffusion object.

[2016-02-23 16:38] macumber commented on #5502
- [x] _Addressed in #5504_ Our parser can't load the 8.4 IDD because of this object:

ZoneAirMassFlowConservation,
       \memo Enforces the zone air mass flow balance by adjusting zone mixing object and/or
       \memo infiltration object mass flow rates.
       \memo If either mixing or infiltration is active, then the zone air mass flow
       \memo balance calculation will attempt to enforce c

[2016-02-23 16:41] mjwitte commented on #5502
@Myoldmopar Should we do a quick fix on the develop IDD to fix the mis-tagged note/memo issue?

[2016-02-23 16:43] lgu1234 commented on #5503
Mike made it as #5502. This issue needs to be closed.

[2016-02-23 16:43] #5503 closed, assigned to lgu1234

[2016-02-23 16:47] jasondegraw commented on #5502
@mjwitte @Myoldmopar Would it be worth it to talk about a custom CI check of the IDD to catch these things automatically?

[2016-02-23 16:48] mjwitte commented on #5502
@jasondegraw Yes, please, go for it.

[2016-02-23 16:52] Myoldmopar commented on #5502
We can do a quick fix on the IDD for 8.5.0, yes, but that won't fix the 8.4.0 release IDD...

[2016-02-23 17:13] rraustad opened #5505 "Fluid Cooler air flow rate autosizes to very large value"
HelpDesk Ticket 11158

Engineering reference has the following equation for calculating autosized
 air flow rate for dry fluid cooler

 For Performance Input Method = NominalCapacity

 _V_\* fluidcooler air des =\* _Q_\* fluidcooler nom \* / (_T_\* in water*\* -T**
 in air*) *4

 The above equation produces incorrect autosized air flow rate (object below
 is from FluidCooler.idf example file). Run

[2016-02-23 17:22] RKStrand commented on #4341
@rraustad @mjwitte Just to clarify this...are you saying that the Engineering Reference and the code match but that the equation E+ is using is not the same as the Fanger model as updated by the latest ASHRAE Standard 55?  If so, this is no longer a "documentation sources" issue but rather an actual code "bug".  Just checking as I want to make sure this is classified correctly before I get too far

[2016-02-23 17:28] mjwitte commented on #5480
Closed via #5492

[2016-02-23 17:28] #5480 closed, assigned to lgu1234

[2016-02-23 17:42] mjwitte commented on #4341
@RKStrand Don't know for sure.  Have you looked at the original helpdesk ticket?

[2016-02-23 17:57] rraustad commented on #4341
I believe it was just that the Eng Ref didn't get updated with new equations. I didn't go through everything, but here is one example. The commented line is in the 8.4 Eng. Ref on Pg 1160 (9 lines up from the bottom of page), the new equation should have replaced this one.

line 788 ThermalComfort.cc
// RadHeatLoss = RadSurfEff_CloBodyRat_SkinEmiss_StefanBoltz_ &   !original
//

[2016-02-23 19:18] RKStrand commented on #4341
@rraustad Ok, I see and understand what you are saying now.  It does look like simply a documentation issue.  I will check the other equations in the Eng Ref for Fanger also to make sure there aren't any other issues like this one.  Thanks for clarifying this.

[2016-02-24 10:29] jmarrec commented on #3591
Have you made any progress on this? Any tips on how to correct it quickly?
Thanks

[2016-02-24 11:25] dmac000 opened #5507 "Polygonal and TriangularDoor have the same value"
This seems to affect the mapping from `Shape` to `ShapeCat`. Surfaces with more than 4 sides are being mapped to `ShapeCat::Triangular`. From DataSurfaces.cc:

[code]

[2016-02-24 13:50] mjwitte commented on #3591
One option would be to plot the curve and find the correct reference temperatures that results in a curve value of 1.0.

[2016-02-24 14:24] mjwitte commented on #5507
@DeadParrot It appears that this could be causing [SurfaceData::computed_shapeCat](https://github.com/NREL/EnergyPlus/blame/b37f69d17bfd8e2075b7125d0448f336ad0200c9/src/EnergyPlus/DataSurfaces.cc#L689-L714) to return the wrong value for polygons.

[2016-02-24 14:41] DeadParrot commented on #5507
@mjwitte OK, so it looks like fixing the number for Polygonal will give correct results from `computed_shapeCat`. Is there more to it?

How about a changing to an enum (with no specific numbers assigned) while fixing this?

[2016-02-24 14:46] mjwitte commented on #5507
@DeadParrot That seems reasonable, but I'm puzzled why this didn't introduce diffs when computed_shapeCat was added.

[2016-02-24 15:06] dmac000 opened #5508 "Assertion failure with coincident points"
With 1ZoneEvapCooler.idf, replace Zn001:Roof001 with:

[code]

Assertion failed: n == 4u DataSurfaces.cc, line 535

At this point, vertices.size() is 5, but surface.Sides is 4.

[2016-02-24 16:17] dmac000 commented on #5508
This seems to be because vertices are being dropped in `GetVertices` and `CheckConvexity` in `SurfaceGeometry.cc` by updating `SurfaceTmp( SurfNum ).Sides` but is leaving `SurfaceTmp( SurfNum ).Vertex.size()` as it was.

[2016-02-24 17:28] JasonGlazer commented on #5443
@mjwitte and @Myoldmopar Are we expecting any more new features for 8.5.0 that are likely to have new unit conversions at this point?

[2016-02-24 17:30] Myoldmopar commented on #5443
I am not aware of any additional items.  Given that the IDD is essentially frozen, I think you are clear to move forward without any more coming.

[2016-02-24 19:44] Myoldmopar commented on #4962
Closed via #5416

[2016-02-24 19:44] #4962 closed, assigned to Nigusse

[2016-02-24 20:03] DeadParrot commented on #5507
@mjwitte Maybe no daylighting or solar reflection test cases have 5+-gons? ShapeCat is only used in PierceSurface.

[2016-02-24 20:23] mjwitte commented on #5507
That may be true - based on a spot check of existing test files with daylighting they generally have rectangular or 4-sided polygons.  Flr_Rf_8Sides.idf would be a simple candidate with polygon roof/floor to add daylighting to it.

[2016-02-24 20:24] mjwitte commented on #5507
Never mind - Quadrilateral, duh.

[2016-02-24 20:50] EnergyArchmage commented on #5499
I am certainly open to a proper review and such to improve the C++.  I’ll need some more specific information as to how exactly to alter code to address these comments.  I believe @lgentile will support this work.
The overview here is that I was tasked to add some features and fixes for a number of issues related to this section of code.  I knew I would have to recode a lot of it so decided to do

[2016-02-24 21:10] DeadParrot commented on #5499
@EnergyArchmage OK, I'll try to get the OK to work with you on this since no one else is jumping in. While we wait to get started maybe look at my items, esp. the bug?, and make any relevant changes or note your questions. We'll probably want to do a call to give me the background for this after I read the relevant md files.

[2016-02-24 21:15] mjwitte commented on #5507
@DeadParrot It took test file Flr_Rf_8Sides and added daylighting.  Ran with v8.4.0 and with v8.5 develop as of yesterday and got exactly the same daylighting outputs.  Here's a picture of this building.
![image](https://cloud.githubusercontent.com/assets/4991075/13300837/8e9f2876-db07-11e5-943e-92ba2295e390.png)

[2016-02-24 21:40] DeadParrot commented on #5507
@mjwitte So comparing the different impacts of the `Polygonal( 9 )` bug on `PierceSurface` between v8.4 and v8.5 is complicated (and maybe not worth the effort?):
- In 8.4 there was no special case for triangles so the floor and roof would be treated in the general polygon case, but that case was broken for nonconvex surfaces like these.
- In 8.5 the incorrect `Triangular` `ShapeCat` would make th

[2016-02-24 21:58] mjwitte commented on #5507
Sounds reasonable.

[2016-02-24 22:28] Myoldmopar commented on #4996
Closed via #5431

[2016-02-24 22:28] #4996 closed, assigned to Nigusse

[2016-02-24 22:57] mjwitte commented on #4188
@EnergyArchmage The autocalculation of plant loop volume is still timestep dependent as noted in this issue.  Changing this will cause broad diffs, because nearly every file autocalculates the plantloop volume.  Current code is:

`PlantLoop(LoopNum)%Volume = PlantLoop(LoopNum)%MaxVolFlowRate*TimeStepZone*SecInHour/0.8d0`

With the default timestep of 6, TimeStepZone=1/6, so suggest changing to

`P

[2016-02-25 15:03] Myoldmopar commented on #4976
Closed via #5407

[2016-02-25 15:03] #4976 closed, assigned to Nigusse

[2016-02-25 15:16] Myoldmopar commented on #5201
Closed via #5473

[2016-02-25 15:16] #5201 closed, assigned to Nigusse

[2016-02-25 17:46] JasonGlazer commented on #5439
I just tried changing the "Saved Order of Objects" under the "Save Options.." menu in IDF Editor 1.47a (the version that comes with EnergyPlus 8.4.0) and it already shows that the file has changed (shown as an asterisk after the file name). So it looks like I already put this feature in sometime in the past.

[2016-02-25 17:46] #5439 closed, assigned to JasonGlazer

[2016-02-26 14:35] DeadParrot commented on #5508
@lgentile It probably makes sense to add this to the surface geometry tasks I proposed.

[2016-02-26 14:46] Myoldmopar commented on #5139
Closed via #5486

[2016-02-26 14:46] #5139 closed, assigned to nobody

[2016-02-26 19:01] EnergyArchmage commented on #4959
Unit test completed and pull request is ready for this.
https://github.com/NREL/EnergyPlus/pull/5511

[2016-02-27 20:27] EnergyArchmage commented on #5499
these items have been address in PR https://github.com/NREL/EnergyPlus/pull/5512

Ready for review ( @DeadParrot )

[2016-02-29 06:00] rglazer2 commented on #4188
@mjwitte I could be wrong about this, but doesn't it make sense to completely remove the "TimeStepZone" part of the PlantLoop.Volume calculation, as it seems to imply that the loop volume is different depending on the timestep.

I did some searching and it seems like the only place using PlantLoop.Volume is the PlantLoop.Mass calculation just below in the same file.

PlantLoop.Mass is apparently o

[2016-02-29 14:35] mjwitte commented on #4188
@rglazer2 The improvement in what I proposed is that we would use the same constant regardless of the value of TimeStepZone.  The suggestion to use SecInHour/4.8 was just to keep most simulations having the same result.

I would like input from @EnergyArchmage - if you were to start from scratch to come up with a default ratio for plant volume to plant max flow rate, what would you choose?

[2016-02-29 19:38] #3658 closed

[2016-02-29 19:39] #2880 closed

[2016-03-01 10:36] ecoeficiente opened #5514 "E+ does not comply with Ashrae App G G.3.1.14: Shading by adjacent structures without self-shading is not possible"
## Issue overview

As E+ being one of the main simulation programs for LEED, it is an issue that it does not comply with Ashrae 90.1-2010 App G G.3.1.14. That provision states that proposed and baseline building have to include shading by adjacent structures. However, baseline also requires that self-shading or attached shading must be removed.

There should be a shadowing mode that allows detache

[2016-03-01 14:19] MatthewSteen commented on #5514
I don't personally see this as an issue. Automating the PRM for LEED or other programs is not a focus of EP, which currently only does baseline orientations. Instead this task should be left to the software that uses EP.

For example, this can be done easily in OpenStudio. Attached shading is translated to `Shading:Zone:Detailed` objects and detached shading is translated to `Shading:Building:Deta

[2016-03-01 22:09] ecoeficiente commented on #5514
Matthew, I'm afraid it is not a matter of automating, it is a matter of imposibility.

For the baseline building, LEED requires that the building does not shade itself but it has to be shaded by adjacent structures. **You cannot achieve that by any GUI or Openstudio measure**.

It is in the core of EnergyPlus code. If you want to remove self-shading (only possible with Solar Distribution: MinimalS

[2016-03-01 22:59] amirroth commented on #5514
I agree with @ecoeficiente. This has come up before and the determination then was that this had to be done by shutting off certain parts of the calculations from within. There were not available resources to do this, and the stance I adopted was that there are other things that LEED could implicitly incentivize that would be more impactful and easier to model. I maintain that stance, although the

[2016-03-01 23:08] mattdoiron commented on #5514
I've wondered about this situation as well and the best approximation that I have used for a reference building is to delete shading objects and set "Solar Distribution" to "MinimalShadowing" in the "Building" object. Then in the proposed building there are shading objects while the "SolarDistribution" is set to something more detailed like "FullInteriorAndExterior". Overall, I feel that this issu

[2016-03-01 23:18] mattdoiron opened #5515 "Incorrectly Documented VRF "Minimum/Maximum OAT in Heating/Cooling Mode""
## Issue overview

The AirConditioner:VariableRefrigerantFlow object has a set of fields called “Minimum/Maximum Outdoor Temperature in Heating/Cooling Mode” which act as expected when the “Condenser Type” is set to AirCooled. However, from our testing, when the “Condenser Type” is WaterCooled, these fields appear to actually reference the water loop temperatures, not outdoor air temperatures. Thi

[2016-03-02 00:04] ecoeficiente commented on #5514
The safest bet is to remove adjacent external shading from both Proposed and Baseline.
@amirroth, as an energy modeller I try to follow LEED requirements as close as I can to avoid problems, even though I totally agree with your view about LEED priorities.

I hope you can get the resources to solve this in a near future.

[2016-03-02 13:15] EnergyArchmage commented on #4188
I agree that the current method of autosizing plant loop volume is suspect and in the past I have also wanted to change it.  The problem is that I don't know what to change it to.  There would need to be some kind of study of a sample of real buildings to find a correlation as a function of max flow rate ( and get some pump head data at the same time).

Besides this issue, I think it produces too

[2016-03-02 13:40] mjwitte opened #5516 "Heat recovery from multi-speed dx coil does not appear to balance with water heater source energy"
## Issue overview

Noticed while reviewing #5471 that DXAC HEAT PUMP 1:Unitary System Heat Recovery Rate [W] is significantly higher than BIG WATER HEATER:Water Heater Source Side Heat Transfer Rate [W].  Expected these to be the same (plus pump heat) since these are the only two components on the heat recovery loop in this test file.
### Checklist
- [x] [Defect file](https://github.com/NREL/Energ

[2016-03-02 13:45] mjwitte commented on #5222
Closed via #5471

[2016-03-02 13:45] #5222 closed, assigned to lgu1234

[2016-03-02 17:19] JasonGlazer commented on #5514
In my opinion the intention of not allowing self-shading of the building surfaces in Table G3.1 part 5 under "a. orientation" is to incentivize building shapes that provide some self shading. This can be a significant incentive for some buildings that have L or U floorplates but will have no affect on many more commonly rectangular shaped buildings. It would be good if EnergyPlus could accomplish

[2016-03-02 18:47] mjwitte commented on #4188
I contacted a designer for a rule of thumb:

If we start with 4 gal/ton \* (ton/2 gpm) = 4/2 gal/gpm = 2 gal/gpm  which means the loop turns over every 2 minutes, give or take.

Volume = 2 min \* flow rate

In SI Volume [m3] = Flow [ m3/s] \* 2 min \* 60 s/min = Flow \* 120 compared to the 3600/4.8=750 that I suggested, or the 450 that Brent suggested.

[2016-03-02 18:58] mjwitte commented on #4188
Found this document online which support the 2 minute factor.

On p. 2 of [Chilled Water System Design Issues](https://www.trane.com/content/dam/Trane/Commercial/global/products-systems/education-training/engineers-newsletters/waterside-design/ADM-APN051-EN.pdf)

[2016-03-02 19:58] JasonGlazer commented on #5320
@mjwitte and @Myoldmopar It seems like the SurfaceClass_Overhang and SurfaceClass_Fin never actually get assigned to any surface().class anywhere even though it is referenced in a bunch of if()'s. Do you know if they were removed for some reason in the past or where they never fully implemented?

[2016-03-02 20:03] mjwitte commented on #4188
@rglazer2 Let's try this with a 2 minute factor and see what kind of diffs we get.  We'll need to find where (if it's there at all) this is dicsussed in the Engineering Reference.  And we could also add a line in the I/O Reference Plantloop Volume field description indicating what the autocalculate will do.

[code]

It would also be good to check user input values for Volume and throw a warning if

[2016-03-02 20:39] mjwitte commented on #5320
Nothing that I recall.  You might check the archive to see if they were ever used.  Shading:Overhang and Shading:Fin were added in v3.1.0 (April 2009) but the integer parameters were added [here](https://github.com/NREL/EnergyPlusArchive/commit/24b4c54d85d079212a83025eb5881edf63f06e38) in 2006.

Looking at the source back in v3.1 and prior, it doesn't appear that SurfaceClass_Overhang was ever ass

[2016-03-02 21:15] JasonGlazer commented on #5320
No, SurfaceClass_Overhang is only used a few times including once that SurfaceClass_Shading is not used in DXFEarClipping.cc(307)

[2016-03-02 21:20] mitchute commented on #5501
@Myoldmopar I had a minute to look at this.

The volume is being calculated incorrectly by [CalcPolyhedronVolume](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SurfaceGeometry.cc#L8110).

The building from the user's file is shown here.
![capture](https://cloud.githubusercontent.com/assets/2985979/13475340/df1fec06-e087-11e5-8490-ea984c3b50cb.PNG)

I'm not seeing anything that is

[2016-03-03 14:57] Myoldmopar commented on #5193
Fixed via https://github.com/NREL/EnergyPlusBuildSupport/issues/26

[2016-03-03 14:57] #5193 closed, assigned to JasonGlazer

[2016-03-03 14:57] Myoldmopar commented on #5383
Fixed via https://github.com/NREL/EnergyPlusBuildSupport/issues/26

[2016-03-03 14:57] #5383 closed, assigned to JasonGlazer

[2016-03-03 15:49] rraustad opened #5518 "Multispeed Coils used with AirloopHVAC:UnitarySystem do not control air flow properly at Speed = 1"
## Issue overview

Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating

[2016-03-03 17:51] JasonGlazer opened #5520 "NaN causing assertion failure in PsyRhovFnTdbWPb_fast"
The user file stops at an assertion failure when running in develop because a NaN (shown in Windows as a -1.#IND000000000000) was passed to PsyRhovFnTdbWPb_fast. The file was provided by a user as an 8.1 file that crashed. Tested on Windows.
- [X] Defect file added see: EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5520
- [x] Ticket added to Pivotal for defect (development team task)
- [X] Pu

[2016-03-03 18:37] EnergyArchmage opened #5521 "EMS calling point InsideHVACSystemIterationLoop is not effective for AirLoopHVAC"
Originally From helpdesk ticket no. 11011.

User noticed that EMS program was not behaving as expected.  Checking EDD output shows that sensor is being filled with a value that does not match the values of the output variable that the sensor is associated with.

In EDD  files, this line shows the mistake.
`RTU_4_BYPASS_FLOW_CONTROL,Line 10,SET RETURN_FLOW = RTU_4_RA_MASS_FLOW,16.614991, Occurrence

[2016-03-03 20:09] Myoldmopar commented on #4980
Closed via #5445

[2016-03-03 20:09] #4980 closed, assigned to Nigusse

[2016-03-03 20:33] JasonGlazer commented on #5227
Added the NIST supplement and the ENCOST15.TXT file to the DevSupport/DefectFiles/5000s/5227

[2016-03-03 21:08] Myoldmopar commented on #4959
Closed via #5511

[2016-03-03 21:08] #4959 closed, assigned to EnergyArchmage

[2016-03-03 21:28] mjwitte commented on #5433
#5447 is a duplicate of this - but that one has more info, so closing this one.

[2016-03-03 21:28] #5433 closed, assigned to nobody

[2016-03-03 21:43] mjwitte commented on #5447
@rraustad Not sure if this is related or not, but just recently another user working on his own custom version ran into max iteration issues with a multispeed dx coil and states that the problem appears to be in [ResolveAirLoopFlowLimits](https://github.com/NREL/EnergyPlus/blob/25aa84cae64103f392c383f01eb46724952b1d77/src/EnergyPlus/HVACManager.cc#L1786-L1820) if the main system starts with a lowe

[2016-03-03 21:48] jfirrantello opened #5523 "Operational Fault model for Coil Fouling appears to do nothing (v8.4)"
## Issue overview

I've been experimenting with the coil fouling operational fault model in EnergyPlus v8.4, and have been having problems getting any difference in results from it.

Currently, I am trying to get the coil fouling module working with the 5ZoneAirCooled.idf example building that is included with EnergyPlus v8.4. I add the elements, select both of the cooling coils, and have put in w

[2016-03-03 23:57] EnergyArchmage opened #5524 "ZoneHVAC:OutdoorAirUnit reported fan power and energy includes only one fan"
The ZoneHVAC:OutdoorAirUnit has its own reports for fan power and energy.  From code inspection (while working on new fan model) it was noticed that the fan power is not correct when there is both a supply and an exhaust fan.  The problem is the global DataHVACGlobals::FanElecPower is only going to hold the power for the last fan simulated.  But if there are two fans the this line cannot be correc

[2016-03-04 01:23] rraustad commented on #5447
The disconnect between the supply and demand side air flow rate is easily explained, yet not so easy to correct. If the final iteration is one that changes flow, the air loop supply and demand side will not be equal (at least in my mind,not sure if the code will or even tries to resolve all the way around the loop). These max iterations are starting to grate on me so I think I'll be paying a littl

[2016-03-04 09:14] mjwitte commented on #3522
@Myoldmopar @EnergyArchmage Tested with current develop, problem is still there, v8.5 defect files added to devsupport.

[2016-03-04 17:27] mjwitte opened #5527 "Enable VentilationRateProcedure sizing adjusted for Zone Air Distribution Effectiveness for systems sized to VentilationRequirement"
## Issue overview
#5216 addressed issue #4399 where the combination of VentilationRateProcedure with VentilationRequirement in Sizing:System could result in incorrect flow rates for the entire system.  This combination of inputs now results in a warning and "System Outdoor Air Method" is changed to ZoneSum.  This issue would allow VRP sizing to work in this case including adjustments for Zone Air

[2016-03-04 21:43] mjwitte commented on #4399
Closed via #5216

[2016-03-04 21:43] #4399 closed

[2016-03-05 02:57] mjwitte opened #5528 "Sandia PV model blows up with solar zenith angle >= 89.9"
## Issue overview

Simple single zone model has PV and an inverter that is located in the zone fails with these errors:

[code]

Deleting the zone name from the inverter object (placing it outdoors) fixes the zone problem but PV generation is very large and very negative.

The real problem is the function Photovoltaics::AbsoluteAirMass is getting called with a zenith angle of
89.989 degrees.   Bec

[2016-03-05 13:52] EnergyArchmage commented on #5528
Note that load center internal gains issues have been addressed in PR 5512, which is not yet merged into develop.
- [x] Find value better than 999 for air mass to return when zenith angle >= 89.9
- [x] Trap to protect against negative electric production results in load center and in PV generators

[2016-03-05 17:38] EnergyArchmage commented on #5528
https://github.com/NREL/EnergyPlus/pull/5529

[2016-03-06 06:49] RehanKhalid opened #5530 "EnergyPlus taking too long to compile in release mode"
Hi,
I am using Visual Studio 2015 to make changes to EP source code. Basically I want to add two actuators  to modify the behavior of the object ITEquipment:AirCooled.
However, after adding the code, EP is not compiling in release mode. It does not produce any errors or warnings but takes forever to compile. It compiles in 25 minutes in debug mode but I ran it for more than 2 hours in release mode

[2016-03-07 13:59] mjwitte commented on #5530
I will answer briefly here - but help questions like this belong in unmethours.com or energyplus.helpserve.com VS2015 is very slow for release builds, takes about 2.5 hrs on my machine, with the vast majority of the time spent in linking so it looks like nothing is happening, but it will eventually complete.  The exe requires energyplusapi.dll and energyplusapi.lib.

[2016-03-07 13:59] #5530 closed, assigned to nobody

[2016-03-07 14:20] rraustad opened #5531 "HVACTemplate-5ZoneUnitarySystem shows max iteration warnings on design days."
## Issue overview

Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating

[2016-03-07 14:23] mjwitte commented on #5531
Possible overlap with #5447

[2016-03-07 15:29] mjwitte commented on #5443
Closed via https://github.com/NREL/EnergyPlusBuildSupport/pull/25

[2016-03-07 15:29] #5443 closed, assigned to JasonGlazer

[2016-03-07 15:29] mjwitte commented on #5253
Closed via https://github.com/NREL/EnergyPlusBuildSupport/pull/25

[2016-03-07 15:29] #5253 closed, assigned to JasonGlazer

[2016-03-07 15:29] mjwitte commented on #5464
Closed via https://github.com/NREL/EnergyPlusBuildSupport/pull/25

[2016-03-07 15:29] #5464 closed, assigned to nobody

[2016-03-07 15:30] mjwitte commented on #5453
Closed via https://github.com/NREL/EnergyPlusBuildSupport/pull/25

[2016-03-07 15:30] #5453 closed, assigned to nobody

[2016-03-07 22:31] santoshphilip commented on #5464
thanks @JasonGlazer @mjwitte
eppy now now no longer needs that functionality (the toggle for line endings)
But I think I'll just leave it there.

[2016-03-07 23:53] mjwitte opened #5533 "User file fails with NAN in thermostat error message - may be due to room air model"
## Issue overview

User file fails with this fatal error:

[code]

There are warnings about the room air model inputs which may be a contributing factor, here's one example, but these appear for many zones:

[code]
### Details

Some additional details for this issue (if relevant):
- Win64 on Windows 10
- 8.5.0 ffaabe11cd (develop as of 07 Mar 2016) and earlier versions
- Helpdesk ticket 11131
###

[2016-03-08 13:13] rraustad opened #5534 "User file crashes with addition of SetpointManager when no actual node exists - Ticket 11155"
## Issue overview

Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating

[2016-03-08 13:16] rraustad commented on #5534
File crashes within this loop in function CheckNodeConnections in BranchNodeConnections.cc

 // Check 10 -- fluid streams cannot have multiple inlet/outlet nodes on same component
 // can have multiple inlets with one outlet or vice versa but cannot have multiple both inlet and outlet
 if ( NumOfNodeConnections > 0 ) {

Added last line here and program exited cleanly. There may be a better way to

[2016-03-08 17:29] JasonGlazer commented on #5320
@mjwitte For counting of overhangs I assume that we just want the count of Shading:Overhang and Shading:Overhang:Projection and for counting fins I assume that we just want to count Shading:Fin and Shading:Fin:Projection correct? I know that other shading surfaces can act as overhangs and fins such as Shading:Zone:Detailed, Shading:Building, and Shading:Building:Detailed  but unless I examine the

[2016-03-08 17:36] mjwitte commented on #5320
@JasonGlazer Given current inputs, the best you can do is count those specific Overhang and Fin objects and put all the rest of the general shading objects into Shading.  But the reality is that most interfaces probably don't generate the Overhang and Fin objects (I may be wrong) but rather use the more general shading surface types.

So, are these counts of overhangs and fins required for LEED?

[2016-03-08 18:11] mjwitte opened #5535 "Suspect controller type in MixedAir::UpdateOAController when contaminant simulation is active"
## Issue overview

Noticed these lines of code in MixedAir::UpdateOAController while working on #5483:

[code]

These block only execute if `OAController( OAControllerNum ).ControllerType_Num == ControllerSimple`, but there are no OA controllers of that type.  The only valid types are ControllerOutsideAir and ControllerStandAloneERV.

@lgu1234 Looks like these should be checking for `OAController(

[2016-03-08 18:48] lgu1234 commented on #5535
@mjwitte You are right. Let me fix it and run a local test.

[2016-03-08 18:54] mjwitte commented on #5535
@lgu1234 Thanks.  I would also suggest deleting the ControllerSimple declaration in this module.

[2016-03-08 19:05] mjwitte commented on #5421
Equation for people sensible heat gain in Engineering Reference did not translate well at all from old format to new.  Helpdesk ticket 11187

v8.1
![image](https://cloud.githubusercontent.com/assets/4991075/13612644/1c45b08e-e52e-11e5-8d77-0c9522bd6332.png)

Current
![image](https://cloud.githubusercontent.com/assets/4991075/13612663/3d90bf4a-e52e-11e5-9a98-78e4e8072732.png)

Should probably check

[2016-03-08 19:09] lgu1234 commented on #5535
@mjwitte In addition, I also found two sections in SizeOAController. For example as a section:

[code]

Therefore, I will delete additional two lines with ControllerSimple.

[2016-03-08 21:06] mjwitte opened #5536 "AirConditioner:VariableRefrigerantFlow with ThermostatOffsetPriority crashes with blank Zone Name for Master Thermostat Location"
## Issue overview

User file crashes [here](https://github.com/NREL/EnergyPlus/blob/ffaabe11cd573fa5493636d9926a177878396c3d/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L6474-L6476) with these inputs for thermostat control:

[code]

It is expecting a zone name for the master thermostat location.  So, either the code needs to change here, or the getinput and docs needs to be changed.
### Details

[2016-03-08 21:07] mjwitte commented on #5536
@rraustad This should be straightforward to fix?

[2016-03-08 21:17] rraustad commented on #5536
That should be easily fixed [here](https://github.com/NREL/EnergyPlus/blob/ffaabe11cd573fa5493636d9926a177878396c3d/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L2460-L2470) which is used [here](https://github.com/NREL/EnergyPlus/blob/ffaabe11cd573fa5493636d9926a177878396c3d/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L3589) to set the MasterZoneTUIndex pointer.

[2016-03-08 21:19] mjwitte commented on #5536
@rraustad Looks like the error message for MasterThermostatPriority also needs some work.

[2016-03-08 22:00] rraustad commented on #5536
OK, just noticed that this code is in 2 places . Once for the old VRF model ((line 1823), and once for the new VRF model (line 2460). The new VRF model does not have an input field for Zone Name for Master Thermostat Location or Master Thermostat Priority Control Type and assumes a TStat in every zone and LoadPriority is the control so I won't touch the code there (maybe I'll just add the correct

[2016-03-08 22:05] rraustad commented on #5536
New warnings for old VRF model from defect file:

[code]

[2016-03-08 23:40] rraustad commented on #5536
This isn't the correct fix. All zones are required to have a thermostat and there is no master zone.

[2016-03-09 14:59] lgu1234 commented on #5535
@mjwitte After careful debug, I found the suspected sections are not needed. Actually, they are wrong actions. Here is why.

The suspected sections determine CO2 levels at relief node and return node. The return node CO2 level is determined by a AirLoopHVAC:ZoneMixer. No need to make any modifications. The relief node CO2 level is determined in UpdateOAMixer:
            Node( RelNode ).CO2 = Node

[2016-03-09 15:03] mjwitte commented on #5535
@lgu1234 Sounds good.

[2016-03-09 15:50] lgu1234 commented on #5535
@mjwitte Created a pull request and added a test file in EnergyPlusDevSupport

[2016-03-09 16:48] mjwitte commented on #4878
Now that the installers include all transition from Transition-V7-2-0-to-V8-0-0 forward, I will update the notes on the helpdesk download and close this issue.  @Myoldmopar The Linux and Mac installers include the same set of transitions from v7.2 forward, correct?

[2016-03-09 17:05] mjwitte commented on #5410
@mbadams5 @kbenne Any progress on this?

[2016-03-09 17:11] mjwitte commented on #5073
@mitchute Can the initial problem here be fixed for v8.5.0 (without any changes to the OSC stuff that's discussed in here)?

[2016-03-09 17:18] mjwitte commented on #5491
@wfbuhl Are you able to address this for v8.5.0?

[2016-03-09 17:31] mjwitte commented on #5109
@kbenne It appears that the EnergyPlus side of things have been addressed here. If you want to cross-reference any changes to the OpenStuiod installer here, please do so.  I'm closing this issue.

[2016-03-09 17:31] #5109 closed, assigned to kbenne

[2016-03-09 17:37] mjwitte commented on #4702
Closed via #5209

[2016-03-09 17:37] #4702 closed

[2016-03-09 17:43] mjwitte commented on #4188
@rglazer2 is working on this.

[2016-03-09 17:59] mitchute commented on #5073
@mjwitte @Myoldmopar
Aside from the OSM stuff, it looks like there are two other tasks.
- update error message
- improve checks to validate input

I should be able to do that in the next day or two.

[2016-03-09 18:04] mjwitte commented on #5515
@rraustad Perhaps you can add this doc fix to #5537

[2016-03-09 18:07] rraustad commented on #5515
Will do.

[2016-03-09 18:19] rraustad commented on #5515
Sitting on my local #5536 branch. 4 places similar to:

#### Field: Minimum Outdoor Temperature in Cooling Mode

This numeric field defines the minimum source temperature allowed for cooling operation. For air-cooled equipment outdoor dry-bulb temperature is used. For water-cooled equipment inlet water temperature is used. Below this temperature, cooling is disabled. If this field is left blank, t

[2016-03-09 18:27] mjwitte commented on #5368
Closed via #5396

[2016-03-09 18:27] #5368 closed, assigned to nobody

[2016-03-09 18:34] wfbuhl commented on #5491
No problem

[2016-03-09 18:34] #5302 closed, assigned to EnergyArchmage

[2016-03-09 18:40] wfbuhl commented on #5276
Well Richard since I was dilatory I got to do the code merge. It was messier than I thought it would be but it looks like the merge is OK

[2016-03-09 18:44] mjwitte commented on #5239
@Myoldmopar I think this is a duplicate of #5368 - closing.

[2016-03-09 18:44] #5239 closed, assigned to nobody

[2016-03-09 18:49] mjwitte commented on #5169
Addressed via #5154

[2016-03-09 18:49] #5169 closed, assigned to nobody

[2016-03-09 18:51] #5158 closed, assigned to nobody

[2016-03-09 18:54] mjwitte commented on #5138
Looking at this again - maybe this is OK if it's only used to report to bnd, then that saves translating it later.

[2016-03-09 18:56] mjwitte commented on #5113
@mitchute Is this still an open issue or was it addressed?

[2016-03-09 18:58] mitchute commented on #5113
@mjwitte I think it may have been addressed. I will check on it and confirm.

[2016-03-10 01:02] rraustad commented on #5520
It would be nice to be able so set a compiler switch to break on this error.

[2016-03-10 02:28] mjwitte commented on #5520
@JasonGlazer posted this recently https://github.com/NREL/EnergyPlus/wiki/Debugging-Tips

[2016-03-10 04:34] rraustad commented on #5521
@DeadParrot what would a user do when an input file does not conform to this assert? Should the code have allowed this input file to ever get here?

line 595 DataSurfaces:
assert( ( shapeCat == ShapeCat::Nonconvex ) || ( crossEdges.size() == 2 ) );

here crossEdges.size = 4.

[2016-03-10 05:03] DeadParrot commented on #5521
@rraustad the assert is saying that either a surface should be flagged as nonconvex or else it should have exactly 2 edges that cross a y=constant line between the bottom and top vertex y positions. If you show me the surface in question or the idf file in question and the revision(s) where the problem appears I can take a look and see what is wrong.

[2016-03-10 05:18] rraustad commented on #5521
I'm running the defect file for this issue.

[2016-03-10 05:20] rraustad commented on #5521
I think the first surface that failed is Surface 784.

[2016-03-10 06:12] DeadParrot commented on #5521
@rraustad how do I get the defect file? I'm not registered on the HelpDesk at this point.

[2016-03-10 10:55] EnergyArchmage commented on #5521
File is here

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5521

[2016-03-10 14:55] mjwitte opened #5540 "Investigate why DXCoils.cc requires significantly higher compiler optimization time with O2 Ob2"
## Issue overview

Noted by @mbadams5 while investigating 2.5+ hr build times for VS2015 Release configuration (/O2 /Ob2):

### Details

Some additional details for this issue (if relevant):
- Win64
- 8.5.0 develop ffaabe11cd (ish)
### Checklist
- [ ] @mbadams5 Please add other HOGS to this issue.
- [ ] Defect file n/a
- [ ] Ticket added to Pivotal for defect (development team task)
- [ ] Pull req

[2016-03-10 15:28] mitchute commented on #5113
@mjwitte @Myoldmopar this issue has been corrected. See this [PR 27](https://github.com/NREL/EnergyPlusBuildSupport/pull/27) over on BuildSupport.

[2016-03-10 16:19] kbenne opened #5541 "Latex is a security risk"
## Issue overview

The introduction of https://github.com/NREL/EnergyPlus/tree/LaTeXDummy poses a grave security threat to our faithful CI Robots. Marvin in particular is concerned. You see Latex is a programming language and therefore susceptible to code injections that may execute arbitrary files.

Recommend going back to the Microsoft Word safe zone before it's too late.
### Details

https://0d

[2016-03-10 16:23] Myoldmopar commented on #5541
Word safe zone...lol!

So what would you suggest?  Disabling outside pull requests for now?

Personally, I wish this issue would have come from Marvin himself...

[2016-03-10 16:25] kbenne commented on #5541
Marvin is busy dodging bullets and fending off evil doers. He'll chime in as time allows.

[2016-03-10 17:29] rraustad commented on #5521
This file has max iteration warnings and I wonder if these don't line up when max iter occurs? I saw a lot of times when max iter was occurring and only see a few times when data doesn't line up so not sure there is a correlation there or not.

EMS data is from NotePad++ where I searched for:
RTU_4_BYPASS_FLOW_CONTROL,Line 10,SET RETURN_FLOW = RTU_4_RA_MASS_FLOW
and then copied the data out of the

[2016-03-10 18:05] Myoldmopar commented on #4878
https://github.com/NREL/EnergyPlus/blob/develop/src/Transition/CMakeLists.txt#L119-L121

7.2.0 to current, yes.

[2016-03-10 18:35] rraustad commented on #5520
line 3922 of ConvectionCoefficients:
HcIn( SurfNum ) = std::pow( std::pow( HcIn( SurfNum ), 3.2 ) + std::pow( Hf, 3.2 ), 1.0 / 3.2 );
SurfNum = 5 and HcIn is allocated to 12
HcIn(5) = 0.72122
Hf = -7.337

line 331 of CrossVentMgr:
CalcDetailedHcInForDVModel( SurfNum, TempSurfIn, CVHcIn, Urec );

[code]

Hf = 4.3 \* Vhc()( Surface( SurfNum ).Zone );
Vhc is -1.706 which was passed in from Urec in th

[2016-03-10 20:01] DeadParrot commented on #5521
@rraustad The idf has at least 2 nonconvex surfaces: 355 and 784. They are not being marked as nonconvex due to the bug in #5507 so the assert triggers.

To fix #5507 it should suffice to move Polygonal to the end of the list and give it a value of 10 (although making it an enum would be nicer). It may be that @mjwitte is going to do this fix soon.

[2016-03-10 20:03] mjwitte commented on #5521
@rraustad I was hoping to work on this fix soon, but feel free to do that fix - should probably be a separate PR but we can expedite getting it merged.

[2016-03-10 20:23] rraustad commented on #5521
Polygonal(10) did the trick, this file now runs in the debugger.

[2016-03-10 21:56] EnergyArchmage commented on #5521
Back to the original issue, I just want to note that there are no instance in the testfiles suite where file has both InsideHVACSystemIterationLoop and a sensor that is placed on a variable that is system HVAC timestep.  Smells like a clue to me.

[2016-03-10 23:01] mjwitte commented on #5139
A workaround has been found for this.  The file uses a custom glycol:
[code]
Based on the IDD reference/object-list tags, this needs an additional object.
[code]
Not sure why this does not report an error.  And not sure why this is necessary, but it avoids the bug.

[2016-03-10 23:03] mjwitte commented on #5139
Never mind - that does not get past the bug.

[2016-03-11 02:28] mjwitte opened #5544 "Fully autosized version of 5ZoneWLHPPlantLoopTower hangs"
## Issue overview

Followup from #5159 5ZoneWLHPPlantLoopTower and 5ZoneWaterLoopHeatPump were exhibiting max iteration problems due to a mix of inconsistent hard sizes and autosizing.  Initial attempt to fix this was to fully autosize the simulation, but it hangs during the first warmup day of the primary simulation.
### Details

Some additional details for this issue (if relevant):
- Platform (O

[2016-03-11 16:13] mjwitte commented on #5535
Addressed via #5538

[2016-03-11 16:13] #5535 closed, assigned to mjwitte

[2016-03-11 19:35] Myoldmopar opened #5546 "Fix a few CMake Dependency things"
## Issue overview

I know of 2 things that should be cleaned up to avoid excessive rebuilding, etc.:
1. During configure, with `BUILD_DOCS=ON`, it copies over the entire LaTeX doc folder without checking if it needs to.  This should at a minimum be moved to a PRE_BUILD rule instead of happening during configure, and then dependencies could be used to avoid copying when not necessary.
2. During pac

[2016-03-11 23:00] mjwitte opened #5547 "Review updating and use of node pressures"
## Issue overview

User noted inconsistencies in node pressures vs outdoor baromtric pressure.  Air node pressures are initialized to to the outdoor barometric pressure at the beginning of each new environment.  Looking at timestep output reveals that some nodes remain fixed at this intial value (e.g. Zone Air Nodes and the return path nodes), the outdoor air nodes track the current barometric pre

[2016-03-12 20:16] mjwitte commented on #5536
Closed via #5537

[2016-03-12 20:16] #5536 closed, assigned to nobody

[2016-03-14 13:24] EnergyArchmage commented on #5521
Developed a more reasonable defect file based on reference building large office and uploaded to defect files area.   Testing and running in debugger shows no real problem with EMS or sensor filling, the Node.MassFlowRate values really do have the erroneous values inside the system iterations.  So it looks like an air system mass flow rate modeling problem.  For calling point InsideHVACSystemItera

[2016-03-14 13:27] rraustad commented on #5521
What was the flow rate on the previous iteration?

[2016-03-14 13:28] EnergyArchmage commented on #5521
It ended with the 5.460051 kg/s value.  The 18.2 looks like the max.

[2016-03-14 13:31] mjwitte commented on #5521
A couple of thoughts.  On FirstHVACIteration, the maxavails are set to full flow and it takes a couple of iterations up and back down the zonesplitter (or plenum) to communicate that back to the branch with the fan.  Also, the OA mixer can alter the mixed flow rate.

[2016-03-14 13:31] EnergyArchmage commented on #5521
A few other findings:
- same behavior in V8.1
- did not find issue occuring for plant nodes.

[2016-03-14 13:44] mjwitte commented on #5521
And if you're using current develop, it's got the extra reset on airflows back to max, every five iterations.  #5159 and #5532 both remove [this line](https://github.com/NREL/EnergyPlus/pull/5159/files#diff-cd290070b0d136de4179479f221302dbR1622) and should be merged in soon.

[2016-03-14 17:52] rraustad commented on #4285
Closed via #5159

[2016-03-14 17:52] #4285 closed

[2016-03-15 16:20] rraustad opened #5550 "Shading:Fin:Projection and Shading:Fin left and right fins produce the same azimuth angle"
## Issue overview

The left and right fin shading surfaces have the same azimuth and can lead to inaccurate solar to the space if DoNotMirrorAttachedShade is used. DXF drawing shows the fin location and can be used to validate any corrective action. A simulation of DoNotMirrorAttachedShade compared to the original file should show similar results for Zone Exterior Windows Total Transmitted Beam/Di

[2016-03-15 16:32] rraustad commented on #5550
A few issues were discovered while correcting the surface shape type for #5507. Pull request #5543 has the initial discussion.

Issue 1 - the surface shape type is set incorrectly for shape type = RectangularOverhang, RectangularLeftFin, and RectangularRightFin. This is due to the BaseSurfNum = 0 when ProcessSurfaceVertices is called. This can be corrected by looping through the surfaces and findi

[2016-03-15 17:28] rraustad commented on #5550
Note also that the IDD does not include DoNotMirrorAttachedShading although it is allowed in the simulation. See line 983 of SimulationManager.cc

[code]

_DoNotMirrorAttachedShading added to IDD and I/O Ref in #5817._

[2016-03-15 18:25] EnergyArchmage commented on #5521
Okay, changing how the air loop solver works is not in scope for this issue.  It seems that all that is needed to get EMS to work for this calling point is to make sure there is a second iteration with FirstHVACIteration set false.  This way the EMS controls can have accurate sensors and be effective for the second iteration.  Testing a fix on this branch.

https://github.com/NREL/EnergyPlus/tree/

[2016-03-15 18:49] DavidGoldwasser opened #5551 "Change in "Date/Time Of Peak" column in Zone Sensible Cooling and Heating Tables"
## Issue overview

Previously the column header was "Date/Time Of Peak".
Now it is "Date/Time Of Peak {TIMESTAMP}"
### Details

This affects the query for tabular data for that column. If it were done as a unit [TIMESAMP] other columns then it wouldn't impact the query. But as it is, the query fails to find any results.

@Myoldmopar here is an example query that now fails to return anything.
SELEC

[2016-03-15 19:00] DavidGoldwasser commented on #5551
@evanweaver and @macumber, it looks like this was by design in this pull request
https://github.com/NREL/EnergyPlus/pull/5295

@asparke2 and @rHorsey this link shows affected tables
https://github.com/NREL/EnergyPlus/blob/develop/src/Transition/OutputRulesFiles/OutputChanges8-4-0-to-8-5-0.md#timestamp-tag-added-to-tabular-headers

Since this includes Energy Meter Tables, wasn't sure if it would im

[2016-03-15 19:15] Myoldmopar commented on #5551
Yeah.

[2016-03-15 19:26] mjwitte commented on #5518
Closed via #5519

[2016-03-15 19:28] #5518 closed, assigned to nobody

[2016-03-15 19:31] macumber commented on #5551
In that case, can we modify the measure so it will work?

[2016-03-15 19:52] mjwitte commented on #5507
Closed via #5543

[2016-03-15 19:52] #5507 closed, assigned to rraustad

[2016-03-15 19:59] rraustad commented on #5406
Know of anyone working on this?

[2016-03-15 20:02] mjwitte commented on #5406
None that I know of.

[2016-03-15 20:04] rraustad commented on #5406
Entering Yes for the High Humidity Control field when the field Control High Indoor Humidity Based on Outdoor Humidity Ratio is not included causes a crash.

[code]

Workaround, enter a Yes or No for Control High Indoor Humidity Based on Outdoor Humidity Ratio

[code]

[2016-03-15 20:23] DavidGoldwasser commented on #5551
@macumber I confirmed that just adding the tag the query works, so I'll fix that in OS tomorrow.

[2016-03-15 20:23] #5551 closed, assigned to nobody

[2016-03-15 21:07] brianlball commented on #5551
does this effect the Calibration report?

[2016-03-15 21:23] mjwitte commented on #5447
@rraustad The two VSHeatPumpWaterToAir\* files for this issue use AirLoopHVAC:UnitaryHeatPump:WaterToAir.  Wondering if that system has the same excess maxavail code that was removed from AirloopHVAC:UnitarySystem in #5532

[2016-03-15 22:15] mjwitte commented on #5421
From helpdesk ticket 9253
- [x] I/O ref section for ShadowCalculation, Calculation Method has the incorrrect keyword. "DetailedTimestepIntegration" should be "TimestepFrequency".
  _Change is on p. 54._
- [x] Check Engineering Ref also.
  _Changes are on pp. 185-186._
- [x] In the EMS Application Guide, the discussion for actuator Surface Construction State should mention that daylighting calculat

[2016-03-16 01:06] rraustad commented on #5406
Initial changes complete. See #5552

[2016-03-16 16:28] JasonGlazer commented on #5121
@ejhw  I ran your example file in 8.3 and it reproduced the issue you described but when I transitioned it to 8.4 it no longer showed the two variables as Invalid/Undefined but with the units of [J] and values in the columns. I assume this is fixed and I am closing the issue.

[2016-03-16 16:28] #5121 closed, assigned to JasonGlazer

[2016-03-16 17:00] JasonGlazer commented on #5365
EMSThermochromicWindow.idf when made an annual simulation demonstrates this issue. The output window shows no progress.

[2016-03-17 02:06] rraustad commented on #5447
Furnaces.cc in SetAverageAirFlow:

[code]

[2016-03-17 02:13] rraustad commented on #5447
VSHeatPumpWaterToAirEquationFit - Identical warnings with and without the MaxAvail line above.

[code]

[2016-03-17 02:15] rraustad commented on #5447
Remove that line also in this branch? I guess it can't hurt, and probably masks the underlying cause.
("that line" = Node( InletNode ).MassFlowRateMaxAvail = AverageUnitMassFlow; in Furnaces::SetAverageAirFlow)

[2016-03-17 13:13] EnergyArchmage commented on #5276
defect file uploaded to

https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/5000s/5276

uses ITA_Bolzano.160200_IGDG.epw

here is a plot of the original problem in water mass flow rates
![plot of problem](https://cloud.githubusercontent.com/assets/8754769/13846867/1947d434-ec18-11e5-8522-11ca98197577.png)

[2016-03-17 17:14] JasonGlazer opened #5555 "EP-Launch to use EnergyPlus command line options"
Now that the EnergyPlus command line has options, EP-Launch users should have an option to use the command line instead of any form of batch file.

[2016-03-17 20:30] JasonGlazer opened #5558 "Add test file for ConvexWeilerAtherton polygon clipping algorithm"
The ShadowCalculation object field called Polygon Clipping Algorithm defaults to the SutherlandHodgman option and no test file exercises the other option called ConvexWeilerAtherton. A test file should be added that uses ConvexWeilerAtherton. This was discovered when looking at code coverage results for the SolarShading.cc file while creating a unit test for a different issue.

[2016-03-18 02:34] mjwitte commented on #4341
Closed via #5506

[2016-03-18 02:34] #4341 closed

[2016-03-18 13:21] rraustad commented on #5276
Closed via #5539.

[2016-03-18 13:21] #5276 closed, assigned to wfbuhl

[2016-03-18 16:04] JasonGlazer commented on #5520
@rraustad I believe that the line

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ConvectionCoefficients.cc#L3906

Hf = 4.3 \* Vhc()( Surface( SurfNum ).Zone );

Is converting from a velocity to a convection coefficient but since Vhc is coming from the room air models it seems like it can be both positive and negative values (I guess am not familiar with that stuff). The convection

[2016-03-18 16:13] mjwitte commented on #5520
Vhc is an array?  How does that work here?

[2016-03-18 16:13] rraustad commented on #5520
I agree that line is where this NaN issue started, although I don't know if a negative number for Vhc is valid.
I'd first suggest not wrapping the Surface.Zone inside the abs().
I'd then like to know if the example file(s) changes.
I'd then like to know when/why Vhc is negative.

Maybe @EnergyArchmage could help with answers?

[2016-03-18 16:40] JasonGlazer commented on #5520
Optional< Array1S< Real64 > const > Vhc // Velocity array for forced convection coeff calculation.

The Vhc()(index) syntax seem weird by it seems to just be accessing that item in the array.

[2016-03-18 18:10] JasonGlazer opened #5559 "Add LEED reporting of peak end use and EFLH"
Add to the LEED report, the peak demand for each end use. It already reports it at the building peak but not individual peak. Also add the equivalent full load hours (EFLH) for each end use and the total peak by dividing the energy consumption by the individual peak.

See helpdesk #9676

[2016-03-18 18:26] mjwitte opened #5560 "Waterheater:HeatPump:PumpedCondenser fan sizing error with more than one HPWH"
## Issue overview

User file fails to autosize the HPWH fan.

[code]

There are two HPWH in this file.  From the eio output, it appears that the fan for the first HPWH is sized to match the flow of the second HPWH, and then the second fan gets left with no size.

[code]
### Workaround

Hard size the fan flow rates, using the HPWH evaporator flow rates reported in the eio output.
### Details

Some

[2016-03-18 19:54] MatthewSteen commented on #5559
#4588

[2016-03-18 20:38] JasonGlazer commented on #5520
@rraustad and @EnergyArchmage It looks like the first negative value is being calculated at:

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/CrossVentMgr.cc#L763

CVJetRecFlows( Ctd, ZoneNum ).Vjet = CVJetRecFlows( Ctd, ZoneNum ).Uin \* std::sqrt( CVJetRecFlows( Ctd, ZoneNum ).Area ) \* 6.3 \* std::log( Dstar( ZoneNum ) / ( 6.0 \* std::sqrt( CVJetRecFlows( Ctd, ZoneNum ).Area ) ) )

[2016-03-18 21:19] rraustad commented on #5520
Vjet shouldn't be negative. Not sure what to do here when that happens.

[2016-03-19 19:09] EnergyArchmage commented on #5520
Lets see.

I liked the original suggestion to do abs(Vhc).

I doesn't necessarily suprise me that a room air flow velecity could be negative to indicate a backflow directions,  but I'd have to dig into this model (from G.) to be sure if that is okay,

That does seem a likely candidate for an numerical problem.  I would do an if trap for " Dstar( ZoneNum ) / ( 6.0 \* std::sqrt( CVJetRecFlows( Ctd,

[2016-03-19 19:34] rraustad commented on #5520
So then 6*sqrt(Area)=Dstar is a limit. Geometrically this seems like a limit on the width of a space given the depth. I did ask myself which space this was that had a depth = 14m while area = 31m, thought it might be a hallway with a 2m width.

[2016-03-21 12:25] JasonGlazer commented on #5520
Thank you @rraustad and @EnergyArchmage I have added a check to the routine that does this and it no longer crashes.

[2016-03-21 13:41] JasonGlazer opened #5562 "Add specific option for showing Tariff reports"
Add a specific option to show or hide the Tariff reports. Currently The Economics Results Summary Report and the Tariff report appear if one or more UtilityCost:Tariff objects are in the file. Add specific control to show the Tariff report or not. See

https://unmethours.com/question/15790/tariff-report-in-e/

[2016-03-21 13:56] Myoldmopar commented on #4007
Closed via #5440

[2016-03-21 13:56] #4007 closed

[2016-03-21 14:19] Myoldmopar commented on #5320
Closed via #5517

[2016-03-21 14:19] #5320 closed, assigned to JasonGlazer

[2016-03-21 14:24] Myoldmopar commented on #5227
Closed via #5522

[2016-03-21 14:24] #5227 closed, assigned to JasonGlazer

[2016-03-21 14:41] Myoldmopar opened #5563 "Prep for 8.5.0 Release"
Things to do for 8.5.0 release:
- [x] Merge remaining 8.5 PRs or change them to 8.6.0
- [x] Update README
- [x] Release notes need to include the IO changes, or pointers to the files
- [x] Check PR titles

[2016-03-21 14:54] Myoldmopar commented on #5365
Closed via #5553

[2016-03-21 14:54] #5365 closed, assigned to JasonGlazer

[2016-03-21 19:10] wfbuhl commented on #5491
This is addressed in branch issue5491. The Sizing:Zone DOAS inputs are now autosized, and the inputs are echoed on the eio file.

But then there is the issue - what about SQL and tabular reports. The thing is, Sizing:Zone inputs are not reported on eio, SQL, or tabular. So this DOAS echo is new thing (occurring only when "account for DOAS" is yes.) I am not competent to add this to SQL. If it is t

[2016-03-22 01:39] rraustad commented on #5560
PR #5565 addresses this issue.

[2016-03-22 12:55] Myoldmopar commented on #5073
Closed via #5548

[2016-03-22 12:55] #5073 closed, assigned to mitchute

[2016-03-22 14:30] Myoldmopar commented on #5489
Closed via #5554

[2016-03-22 14:30] #5489 closed, assigned to JasonGlazer

[2016-03-22 14:30] Myoldmopar commented on #5476
Closed via #5554

[2016-03-22 14:30] #5476 closed, assigned to JasonGlazer

[2016-03-22 15:07] Myoldmopar commented on #5521
Closed via #5564

[2016-03-22 15:07] #5521 closed, assigned to nobody

[2016-03-22 20:11] Myoldmopar commented on #5491
Closed via #5557

[2016-03-22 20:11] #5491 closed, assigned to wfbuhl

[2016-03-22 20:11] Myoldmopar commented on #5406
Closed via #5552

[2016-03-22 20:11] #5406 closed, assigned to rraustad

[2016-03-22 20:42] wfbuhl opened #5566 "Add Sizing:Zone and Sizing:System input echo to eio file and to SQL database"
## Issue overview

This is an offshoot of Issue 5491, which made the DOAS specific Sizing:Zone input autosizable. It is our policy to write out autosized inputs onto the eio file. It is also our policy to have everything on the eio file appear on the SQL database. Issue 5491 dealt with the eio file, but not SQL.

The eio file also does quite a bit of input echoing in addition to autosized data. In

[2016-03-23 02:55] rraustad commented on #5273
So is 0 floor area valid?

[code]

[2016-03-23 02:57] rraustad commented on #5273
Zone.HasFloor used here:

[code]

[2016-03-23 03:00] rraustad commented on #5273
So this implies to catch this in the SingleDuct model:

[code]

...here:

[code]

[2016-03-23 03:21] rraustad commented on #5273
This:

[code]

yields this:

[code]

[2016-03-24 12:38] #5095 closed, assigned to nealkruis

[2016-03-24 13:16] Myoldmopar commented on #5499
Closed via #5512

[2016-03-24 13:16] #5499 closed, assigned to EnergyArchmage

[2016-03-24 13:34] Myoldmopar commented on #5560
Closed via #5565

[2016-03-24 13:34] #5560 closed, assigned to rraustad

[2016-03-24 13:39] Myoldmopar commented on #5528
Closed via #5529

[2016-03-24 13:39] #5528 closed, assigned to EnergyArchmage

[2016-03-24 13:56] Myoldmopar commented on #5531
Closed via #5532 ; some followup issues will be posted for addressing after the release.

[2016-03-24 13:56] #5531 closed, assigned to nobody

[2016-03-24 14:00] Myoldmopar commented on #5273
Closed via #5568

[2016-03-24 14:01] #5273 closed, assigned to rraustad

[2016-03-24 15:00] JasonGlazer opened #5571 "Add Water and GroundHeatExchanger:* and HeatPump:WaterToWater:* to Equipment Summary table"
In the tabular reports, add additional plant equipment items to the Equipment Summary table including GroundHeatExchanger:\* and HeatPump:WaterToWater:\*

[2016-03-24 20:25] mitchute commented on #5421
@mjwitte I corrected a few doc fixes [over here](https://github.com/NREL/EnergyPlus/issues/5428). Do you care if I work on these and lump them in the same PR?

[2016-03-24 20:47] Myoldmopar commented on #5428
Closed via #5574

[2016-03-24 20:47] #5428 closed, assigned to mitchute

[2016-03-25 02:29] rraustad commented on #5515
Closed via #5536 by incorporating this fix within #5537. See commit [here](https://github.com/NREL/EnergyPlus/commit/1131b7830b60ed1b8bac5ff3b966d7411bea4086)

[2016-03-25 02:29] #5515 closed, assigned to rraustad

[2016-03-25 13:29] Myoldmopar opened #5578 "EP Launch Lite"
EP-Launch Lite tries to startup with the 8.3 weather folder, and when it doesn't find it, it's not possible to populate the weather file to use during the simulation.

[2016-03-25 15:16] JasonGlazer commented on #5578
Also see #5415 and #5427

[2016-03-25 15:54] rraustad commented on #5544
InitialQLoad is jumping from 25262 to 25474 and never converges. Why is the initial load changing in an iteration loop?

![wlhpiterationloop](https://cloud.githubusercontent.com/assets/5778156/14047783/4731c44a-f280-11e5-969b-dd1742102a91.png)

[2016-03-25 16:15] rraustad commented on #5544
I see now, this did the trick. Needs to be done in 2 places I see so far. Runs much faster than usual now.

![wlhpiterationloop2](https://cloud.githubusercontent.com/assets/5778156/14048221/400ed2e0-f283-11e5-892a-964d6eb8c8a6.png)

[2016-03-25 16:20] rraustad commented on #5544
@EnergyArchmage this loop was bouncing back and forth and never converging. This fix corrected the problem but I am wondering if there is a better numerical method.

[2016-03-25 16:23] JasonGlazer commented on #5111
@mjwitte @Myoldmopar Even more out of date now regarding documenation

[2016-03-25 16:27] JasonGlazer commented on #4901
@Myoldmopar I am closing this one since we aren't using markdown anymore.

[2016-03-25 16:27] #4901 closed, assigned to Myoldmopar

[2016-03-25 16:29] JasonGlazer commented on #4899
@Myoldmopar I am not sure if this one is still supposed to be open now that we have switched to LaTex.

[2016-03-25 16:58] EnergyArchmage commented on #5544
I don't have any better idea than this changing of the relaxation.  This routine is challenging.

It might be good to add report variables for the different iteration loops to start to get a feel for how many iterations are usual.  Those stops at 100,000 are scary and why this model goes into almost-infinite loop.

[2016-03-25 17:08] rraustad commented on #5544
Reminder for changes.
1) add iteration reporting to see what this model typically needs
2) inside loop should remain as Relax=0.5 since QLoadTotal doesn't change there. This makes this a half-step loop. I wish I could change this to RegulaFalsi but can't think of how.
3) outside loop should use decrementing relaxation factor in increasing iterations. Try to get as low as possible >2 (i.e., half-st

[2016-03-25 17:42] lgu1234 commented on #5544
@EnergyArchmage I think RelaxParam may be an output of a linear curve object with NumIteration3 as an independent variable, so that a user may have a chance to make any changes from inputs.

[2016-03-25 18:55] Myoldmopar commented on #4899
We'll get errors now if an equation won't render.  And we'll be going through the docs over time to clean up all visual issues.  So this can be closed.

[2016-03-25 18:55] #4899 closed, assigned to Myoldmopar

[2016-03-25 19:03] Myoldmopar opened #5579 "Update Packaging"
Need to consider alternatives to PackageMaker, and maybe NSIS?

This looks promising on Mac: http://s.sudre.free.fr/Software/Packages/about.html

Not sure on Windows.  Maybe NSIS is still fine, but worth a look.

On Linux, I don't see why the shell script installer should be replaced.  I like it.

[2016-03-28 14:27] Myoldmopar commented on #5111
Thanks.  I am strongly considering wiping out EnergyPlus Build Support this week, bringing the few remaining (mostly stagnant) binary blobs into EnergyPlus proper.  The only thing holding me from doing it right now is in case we have to do a quick fix of something for the 8.5.0 release.  Though I haven't heard of any issues yet.....

[2016-03-29 02:28] mjwitte opened #5581 "Interior adaptive convection results diverging for test case"
## Issue overview

Test files compare results for a three zone building with interior convection algorithm TARP vs AdaptiveConvection, for both CTF and ConductionFiniteDifference.  Looking at the CTF results, columns BY:CF, starting at  08/25  19:00:00, EAST WALL HFT:Surface Inside Face Conduction Heat Transfer Rate per Area [W/m2](Hourly) flips from positive to negative and the inside face temper

[2016-03-30 20:11] rraustad opened #5583 "Max iteration warnings for example file DirectIndirectEvapCoolersVSAS"
## Issue overview

V8.5 shows max iterations for the design days.
### Details

Some additional details for this issue (if relevant):
- Platform (Operating system, version)
- Version of EnergyPlus (if using an intermediate build, include SHA)
### Checklist

Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
- [ ] Defect file added (list location of defe

[2016-03-31 00:06] rraustad commented on #5583
See discussion about corrections for max iteration problems [here](https://github.com/NREL/EnergyPlus/pull/5532) originating for #5531

[2016-03-31 00:16] rraustad commented on #5544
branch 5544 started to address this issue

[2016-03-31 20:33] JasonGlazer opened #5585 "IDF Editor - when name is changed update names of nodes that are similar"
Since often the node names referenced in an object are closely related to the name of the object, if the name of a object is changed offer to update the names of nodes based on the revised name. This would be especially useful when an object is copied and the name and node names are the primary editing that is needed.