[2020-06-23 13:22] #7233 closed, assigned to jasondegraw, lgu1234

[2020-06-23 13:25] lgu1234 commented on #6787
Closed via #7438

[2020-06-23 13:25] #6787 closed, assigned to lgu1234

[2020-06-23 20:35] shorowit opened #8102 "Modeling skylights w/ the SimpleGlazingSystem"
Issue overview
--------------
As of 2004, NFRC U-factor ratings for skylights [are calculated for a 20-degree slope instead of vertical position](http://www.domwebx.com/cms_docs/genericPages/skylightPerformance.pdf). The E+ documentation for the `SimpleGlazingSystem` object says: "The U-factor is assumed to be for vertically mounted products." Thus, NFRC ratings for skylights newer than 2004 need

[2020-06-23 22:45] shorowit commented on #4643
With regard to the original question of modeling a **skylight** with a U-factor of 6.64 W/m2K, it may be that it should be entered as 6.64/1.2 = 5.53 W/m2K, which is below the upper limit of the SimpleGlazingSystem model. See https://github.com/NREL/EnergyPlus/issues/8102.

[2020-06-23 22:59] xcosmos6 opened #8103 "compiling energyplus with c++14"
Issue overview
--------------
I am trying to add HELICS as an external interface into energyplus.

### Details
I added helics header files in the externalinterface.cc file and tried to build energyplus with HELICS. The helics header file would reference some third party library where single quotes are used as number separators thus require c++14 to compile. However, when I use c++14, there would b

[2020-06-24 13:07] #8059 closed, assigned to ajscimone

[2020-06-24 18:11] #7814 closed, assigned to jmarrec

[2020-06-24 19:07] Nigusse commented on #7974
This is a problem in the defect file not an issue in the code. The defect file was an example file, which did not have an OA system to begin with. Modified one of the example file by adding OA system and tested it. Now the modified defect file reports *Zone Air Terminal Outdoor Air Volume Flow Rate* with correct value.

See this report variable and the verification plots. The verification compares

[2020-06-24 19:13] Nigusse commented on #7974
This is no more an issue and can be closed. However, in related note we do not have example file for DualDuct VAV system with outdoor air system in it. @mjwitte @Myoldmopar Do you recommend adding an example for such system as part of this issue or should I simply close this issue?

[2020-06-24 20:32] rraustad opened #8107 "Inlet AT Mixer used with Fan Coil does not respond to fan availability schedule"
Issue overview
--------------
User file shows AT Mixer operating when fan coil is off. The reason is that the fan coil is not considering the fan availability schedule before simulating the AT mixer. The left figure shows the fan coil and AT Mixer flow rates at night when the night cycle manager is turning the system on and off. The right (and left) figure shows the AT Mixer flow rate is non-zero

[2020-06-24 20:40] rraustad commented on #8107
The solution is to include the fan availability schedule in the logic used to turn on the fan coil.

In GetInput:

    if (!UtilityRoutines::SameString(FanCoil(FanCoilNum).FanType, "Fan:SystemModel")) {
        GetFanType(FanCoil(FanCoilNum).FanName, FanCoil(FanCoilNum).FanType_Num, errFlag, CurrentModuleObject, FanCoil(FanCoilNum).Name);
        FanCoil(FanCoilNum).fanAvailSchIndex = Fans::GetFan

[2020-06-25 13:16] Myoldmopar commented on #7977
Closed via #8018

[2020-06-25 13:16] #7977 closed, assigned to lgu1234

[2020-06-25 13:41] jmarrec commented on #7949
* [x] I/O ref for "Schedule Output" mentions a specific report [here](https://bigladdersoftware.com/epx/docs/9-3/input-output-reference/group-schedules.html#outputs-031), but E+ throws with `Output:Reports is a not a valid object type`

![image](https://user-images.githubusercontent.com/5479063/85731071-7c32ba80-b6fa-11ea-9171-2a88f3f91adf.png)

https://github.com/NREL/EnergyPlus/blob/243d26133276

[2020-06-25 14:30] #8021 closed, assigned to RKStrand

[2020-06-25 14:55] #8025 closed, assigned to Nigusse

[2020-06-25 16:44] Myoldmopar commented on #6954
Closed via #7981

[2020-06-25 16:44] #6954 closed, assigned to lgu1234

[2020-06-25 19:56] yzhou601 opened #8110 "Coal fuel type not available in Coil:Heating:Fuel"
Issue overview
--------------
E+’s `Coil:Heating:Fuel` object doesn’t support `Coal` fuel type for some reason. But some other objects with fuel type options do. From the Energy+.idd:

OtherEquipment | Coil:Heating:Fuel | Boiler:HotWater | WaterHeater:Tank
-- | -- | -- | --
\key NaturalGas | \key NaturalGas | \key NaturalGas | \key NaturalGas
\key Propane | \key Propane | \key Propane | \key Propa

[2020-06-25 20:56] mjwitte commented on #8110
At the time this was converted from Coil:Heating:Gas to Coil:Heating:Fuel, coal was probably excluded, because it's hard to envision an actual piece of equipment like this. But I don't see a problem allowing it here, even though it may never be used that way.

[2020-06-25 21:35] shorowit opened #8111 "E+ Crash w/ RunPeriodControl:DaylightSavingTime that wraps around year"
Issue overview
--------------
Using a `RunPeriodControl:DaylightSavingTime` object is sometimes causing an EnergyPlus crash.

It appears to work fine if the end date is after the start date (representative of the northern hemisphere) like so:

[code]

But EnergyPlus crashes if the end date is before the start date (representative of the southern hemisphere) like so:

[code]

Note that the document

[2020-06-26 17:38] Sramac10 opened #8114 "Utilities Folder Blank in V9.3"
Issue overview
--------------
Utilities tab is blank in E+ v9.3 that i had installed recently. Is there a way to fix it?

![image](https://user-images.githubusercontent.com/67479269/85885393-1a755d80-b799-11ea-9f1f-c92452b95248.png)

[2020-06-26 22:58] #8022 closed, assigned to jmarrec

[2020-06-28 00:52] #8071 closed, assigned to mitchute

[2020-06-28 19:58] mjwitte commented on #8114
This is a duplicate of #7910. It is fixed in the [v9.3.0 bug fix release.](https://github.com/NREL/EnergyPlus/releases/tag/v9.3.0-BugFix)

[2020-06-28 19:58] #8114 closed, assigned to nobody

[2020-06-29 07:36] TiejunWu opened #8117 "Consider Fan Temperature Rise In Calculating Outlet Setpoint Temperature for VAVChangeoverbypass Unitary System"
Issue overview
--------------
User file shows that when an economizer is used together with a VAVChangeoverBypass Unitary system, during cooling operation when the outdoor air temperature is suitable for economizing. The unitary system outlet node setpoint temperature is lowered to be same as the cooling coil inlet node temperature. For draw-through configuration, the fan heat will force the cooli

[2020-06-29 14:54] TiejunWu opened #8119 "SetpointManager:MixedAir is one timestep behind its reference node when reference node setpoint is calculated within VAVChangeoverBypass Unitary System"
Issue overview
--------------
In the attached user file, there is a SetpointManager:MixedAir placed at the OA Mixer 1 outlet node to control the economizer.  In the setpoint manager, the reference node is at the VAVChangeoverBypass Unitary System outlet node. From the simulation result, it is noted that the OA Mixer 1 outlet node is one timestep behind the Unitary System outlet node. This causes t

[2020-06-29 15:31] mjwitte commented on #8119
Related to #7145, see [this comment](https://github.com/NREL/EnergyPlus/issues/7145#issuecomment-525426050). There *are* potential instability problems with updating these things too often. I found that out in an attempt to remove controllers and move toward local component control. For this system type, it may be safer than in general.

[2020-06-29 16:17] TiejunWu opened #8122 "New Features for VAVChangeoverBypass unitary system"
Issue overview
--------------
Here is a list of new feature requests for the AirLoopHVAC:UnitaryHeatCool:VAVChangeoverBypass object.

1. Constant setpoint control option. Since this changeover bypass is usually for small packaged rooftop units. Manufactures may not offer supply -air temperature reset control, rather they would use constant temperature control. For example, in the [Trane catalog](h

[2020-06-29 19:59] mitchute commented on #8047
@bonnema E+ fluid property routines aren't too fancy, so I don't believe we can consider pressure at this point. Regardless, this seems like it should be straightforward to implement.

Of course, there's also this problem:

https://github.com/NREL/EnergyPlus/blob/14e6c4e417aac46197739e6a26df07599230338c/src/EnergyPlus/api/func.py#L15-L19

@Myoldmopar will have suggestions on how we could (eventual

[2020-06-29 20:03] bonnema commented on #8047
@mitchute, this may be exactly what you're proposing, but could this be handled in two parts?

1. Add the methods just for water
2. Extend the methods for other fluids if/when they're added?

I am currently using water.

[2020-06-29 20:15] mitchute commented on #8047
Yeah, that's what I'm proposing. Adding the methods for computing enthalpy and temperature within E+, and then exposing those methods to the API will be simple enough. Expanding the API to handle other fluids is going to take more work which could potentially affect the API design.

[2020-06-30 16:25] #8107 closed, assigned to Nigusse

[2020-06-30 17:33] #7974 closed, assigned to nobody

[2020-06-30 21:29] chrisbalbach opened #8124 "Unexpected behavior related to HVAC Sizing Summary: Zone Sensible Cooling table"
Issue overview
--------------
**Observed Behavior**:  When simulating the attached file "**in-fails.idf**", the E+ "**HVAC Sizing Summary**" **Zone Sensible Cooling** table in the HTML output **fails to populate with ANY data**, which is causing issues with downstream SQL queries that retrieve data from this view , and which is post-processed by external tools.

![image](https://user-images.github

[2020-07-01 07:14] nvskumar-m opened #8125 "**ModuleNotFoundError: No module named 'pyenergyplus'**"
Issue overview
--------------
I have seen the EnergyPlus API and tried to use it. But on run, the runtime API is requesting for "**pyenergyplus**" library that is not available with pip or conda.

### Details
I have installed EnergyPlus v9.3 after reading the documentation about the EnergyPlus Python API from https://nrel.github.io/EnergyPlus/api/python/api.html

I tried to run a sample IDF file f

[2020-07-01 10:32] jmarrec commented on #7949
* [x] I/O ref for SwimmingPool:Indoor has wrong output variables, at least these two:

HVAC, Average, Indoor Pool Heating Rate [W]
HVAC, Sum, Indoor Pool Heating Energy [J]

Instead should be https://github.com/NREL/EnergyPlus/blob/6c588048d43afb2dacf480174013e050ae104d1a/src/EnergyPlus/SwimmingPool.cc#L661-L662

[2020-07-01 13:04] bonnema commented on #8125
@nvskumar-m, can you try the following?

1. Copy PythonPluginUserDefined5ZoneAirCooled.idf and PythonPluginUserDefined5ZoneAirCooled.py from the EnergyPlus example files to a temporary directory
2. Execute the following (adapt for your operating system):

`C:\Users\ebonnema\tmp>C:\EnergyPlusV9-3-0\energyplus.exe -w C:\EnergyPlusV9-3-0\WeatherData\USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw Python

[2020-07-01 13:39] Myoldmopar commented on #8125
@nvskumar-m it sounds like you just need to put the E+ install directory on your PATH.  In your Python script just:

[code]

Then when you run the script it will be able to find `pyenergyplus` inside that directory that was just added to PATH.  I guess theoretically you could also just add the E+ install to your system PATH but that seems excessive.

[2020-07-01 14:27] #8095 closed, assigned to jmarrec

[2020-07-01 15:13] nvskumar-m commented on #8125
Still error occurs
![image](https://user-images.githubusercontent.com/54622340/86260805-6716c980-bbdb-11ea-802b-66cb0c531f77.png)

[2020-07-01 15:19] Myoldmopar commented on #8125
There are two ways to utilize Python with EnergyPlus:
- Running an EnergyPlus input file (IDF) and declaring a Python Plugin instance in that IDF, which will pair it with an existing Python Plugin class file (Normal mode)
- Calling EnergyPlus from an external python script (Library mode)

The PythonPlugin*.py files that exist in the EnergyPlus ExampleFiles directory are not to be run standalone.

[2020-07-01 15:25] nvskumar-m commented on #8125
Thanks @Myoldmopar, there has been no error raised when  **sys.path.insert(0, '/path/to/eplus/install')** has been scripted in code.

[2020-07-01 15:27] Myoldmopar commented on #8125
1. Do you understand that I don't actually mean use the path `'/path/to/eplus/install'`?  That's just a placeholder for wherever you installed EnergyPlus.
2. That code alone won't do anything, you need to exercise it by then trying to find the `pyenergyplus` package: `from pyenergyplus import api`

[2020-07-01 15:31] nvskumar-m commented on #8125
1. Ya I replaced the string **/path/to/eplus/install** with the EnergyPlus installation folder **'C:\EnergyPlusV9-3-0'**
2. When you have suggested the solution, I understood that pyenergyplus is the directory but not the library

[2020-07-01 15:35] Myoldmopar commented on #8125
OK, good.  Yes, `pyenergyplus` is both a directory in the E+ install, but also includes a `__init__.py` file, making it also a Python package, or library.  As long as your Python interpreter can find it then it should be able to import it.  Can you confirm that the `from pyenergyplus import api` works once you add the install directory to the `sys.path`?

[2020-07-01 15:41] nvskumar-m commented on #8125
Following is the result on loading pyenergyplus api
**runfile('C:/Users/naga/Desktop/CESS/_testing_PythonPlugin/sourceCode/EPpythonPlugIn/01__runV1.py', wdir='C:/Users/naga/Desktop/CESS/_testing_PythonPlugin/sourceCode/EPpythonPlugIn')
Reloaded modules: pyenergyplus, pyenergyplus.api, pyenergyplus.func, pyenergyplus.common, pyenergyplus.datatransfer, pyenergyplus.runtime**

yes, added path to envi

[2020-07-01 15:49] Myoldmopar commented on #8125
OK, let's back up again.  Your directory structure implies you are trying to test the PythonPlugin system out.  In that case you shouldn't be executing a Python file, you should be executing EnergyPlus and letting it do all the hard work for you.

Running as python plugin:
- Create an IDF file with building information and a PythonPlugin:Instance IDF object
- Create a paired Python plugin class th

[2020-07-01 15:56] #7499 closed, assigned to nobody

[2020-07-01 15:56] #7740 closed, assigned to nobody

[2020-07-01 15:56] #7742 closed, assigned to nobody

[2020-07-01 15:56] #7617 closed, assigned to jmarrec

[2020-07-01 16:05] nvskumar-m commented on #8125
Thank you soo much @Myoldmopar.
Although its a bit tricky to me at this stage, I will learn by resolving the errors I commit at each step of self-learning and help from you and others in this community.
I have learned EMS of EP through examples stated in application guide. It would be great to have such knowledge product even for Python Plugin.

[2020-07-01 16:32] Myoldmopar commented on #8125
You are welcome @nvskumar-m, this is a brand new feature of EnergyPlus, and there could be corner cases to resolve, but I am hopeful you will be good to go.  If you have learned EMS then I think you are better suited for the Python Plugin method of running, where everything still centers around the EnergyPlus.exe and the IDF file, and then the Python plugin is simply a python file that tags along

[2020-07-01 16:32] RKStrand opened #8126 "Upper Limit on Flow Fraction for Variable Flow Low Temperature Radiant Systems Not Implemented"
Issue overview
--------------
While implementing on-off control for some of the radiant systems in #8044, it was noticed that for variable flow systems the flow fraction was not capped at 1.0 like in the electric system.  This seems to be an error.  If the user sets the maximum flow for this component, the system should not be able to get more than that flow.  By not capping the flow fraction at 1

[2020-07-01 17:23] cgoodman11 commented on #7888
I am trying to get the Python plugin working on my mac and running into this issue when I try running an example file.
`$ PATH=/Applications/EnergyPlus-9-3-0/ energyplus /Applications/EnergyPlus-9-3-0/ExampleFiles/1ZoneEvapCooler.idf
EnergyPlus Starting
EnergyPlus, Version 9.3.0-baff08990c, YMD=2020.07.01 09:03
Could not find platform independent libraries <prefix>
Could not find platform dependen

[2020-07-01 18:37] Myoldmopar commented on #8044
Closed via #8113

[2020-07-01 18:37] #8044 closed, assigned to RKStrand

[2020-07-02 13:38] #7976 closed, assigned to Nigusse

[2020-07-02 17:11] #8045 closed, assigned to RKStrand

[2020-07-02 17:27] #8087 closed, assigned to Nigusse

[2020-07-02 19:47] JasonGlazer commented on #6672
I think most of this was addressed in EnergyPlus Essentials

[2020-07-02 19:47] #6672 closed, assigned to nobody

[2020-07-02 19:50] JasonGlazer opened #8131 "Transition truncating long field values"
When transitioning a test file that had long field values, the text was truncated.

Using IDFVersionUpdater.

This occurred with EnergyManagementSystem:Program field lines which when using long variable names in the EMS program, is not too surprising that they were longer than transition was built for.

### Details
Some additional details for this issue (if relevant):
 - Win10
 - 9.3.0 bug fix

##

[2020-07-02 19:59] Nigusse opened #8132 "Mismatch between fuel type enumeration in the code and idd for fuel type "FuelOilNo*""
Issue overview
--------------
There is mismatch between fuel type enumeration in the code and idd for fuel type  *FuelOilNo1* and *FuelOilNo2* that lead to fatal out. In the idd fuel type key words are defined as *FuelOilNo1* and *FuelOilNo2* where as the code expects "FUELOIL#1" and "FUELOIL#2" [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DataGlobalConstants.cc#L126-L130)

[2020-07-02 20:01] mjwitte commented on #8131
Hmm, are they being truncated in EnergyPlus as well?

[2020-07-02 20:03] mjwitte commented on #8132
That's all been fixed (well, should be) if you use the transitions that are packaged with v9.3.0. The original old transitions missed this.

[2020-07-02 20:04] mjwitte commented on #8132
@Nigusse Please confirm here if it works is you use IDFVersionUpdater in v9.3.0 to manage the full transition from 8.6 to 9.3.

[2020-07-02 20:05] JasonGlazer commented on #8131
I don't see any warning messages about that.

[2020-07-02 20:08] Nigusse commented on #8132
@mjwitte I just created defect file using latest example file from develop and I see the same problem.

[2020-07-02 20:18] Nigusse commented on #8132
@mjwitte It is not a direct transition problem. The problem I am having is that if I use FuelOilNo1 or FuelOilNo2 as required by the idd the defect file fatal out because the code (as I see it in the code [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DataGlobalConstants.cc#L126-L130)) anticipates *FuelOil#1* or *FuelOil#2*. I do not see any problem with other fuel types.

[2020-07-02 20:23] mjwitte commented on #8132
What object and field are we talking about?

[2020-07-02 20:25] mjwitte commented on #8132
Oh, right, meters still expect the old names. If the IDD keys were changed, that's wrong it's too early for that.

[2020-07-02 20:40] mjwitte commented on #8132
Never mind, looks like I broke that in #7523. Rats! The inputs and idd keys *should* all use the new names. It's time to bite the bullet and move all of the meters and output variables to use the "new" fuel type names. https://github.com/NREL/EnergyPlus/issues/7622

[2020-07-02 21:06] Nigusse commented on #8132
@mjwitte Sorry I was away from my desk. You have already figured it out. But here is the offending object:

[code]

[2020-07-02 21:37] mitchute commented on #8047
OK, so what I thought would be a simple addition has sent me down the rabbit hole of validating E+ properties. Since we're interested in computing enthalpy, I'll start with specific heat for propylene glycol.

**EnergyPlus Cp Error - Compared to CoolProp [[1]](https://pubs.acs.org/doi/pdf/10.1021/ie4033999) [[2]](http://www.coolprop.org/)**

*Concentration from 0.1-0.6; Temperature from 0-100 C*

[2020-07-02 23:47] bonnema commented on #8047
@mitchute here are results from EES if you want another data comparison point: [cp.xlsx](https://github.com/NREL/EnergyPlus/files/4867083/cp.xlsx)

[2020-07-03 05:42] minkkkk opened #8133 "ReadVarsESO does not work in the folder that I set and the name"
Issue overview
--------------

I am having an issue with ReadVarsESO when running the EnergyPlus in parallel.

 ReadVarsESO
 processing:/storage/home/mzy57/work/test/ep/5ZONE_Multi.rvi
 reached end of rvi file while looking for input file name
 Requested ESO file=eplusout.eso
 does not exist.  ReadVarsESO program terminated.
 ReadVarsESO program terminated.

Here, the ReadVarsESO has two problems

[2020-07-05 04:27] nvskumar-m commented on #8125
@Myoldmopar Thank you for motivational words. Last week I understood how to develop Python functions for IDF from example files provided.

This week I want to script and test on a sample five-zone model.

But the road block I am facing is to get actuator control type details for component types of EnergyPlus. On web search, I found the details are listed in EDD file similar to RDD file for variabl

[2020-07-06 14:10] #8088 closed, assigned to nobody

[2020-07-06 14:27] #8111 closed, assigned to jmarrec

[2020-07-06 15:22] bonnema commented on #8125
@nvskumar-m, Section 2.6 in https://energyplus.net/sites/all/modules/custom/nrel_custom/pdfs/pdfs_v9.3.0/OutputDetailsAndExamples.pdf is a good reference. The general mapping would be:

EDD:
`EnergyManagementSystem:Actuator Available, Actuated Component Unique Name,Actuated Component Type,Actuated Component Control Type,[units]`

_Traditional EMS:_
`EnergyManagementSystem:Actuator,`
`Name,`
`Actua

[2020-07-06 17:29] shorowit commented on #8007
@mjwitte @Myoldmopar Any objection to us making these changes? Seems like a small enough change that a NFP is not required?

[2020-07-06 17:31] Myoldmopar commented on #8007
I don't have any problem with you doing it, and I guess it's small enough to skip a major NFP process, but I would still open a discussion on Slack at least so that you can get feedback and identify any gotchas that could bite you while doing it.

[2020-07-06 17:43] mjwitte commented on #8007
I don't see any problem with this. @JasonGlazer

[2020-07-07 05:12] nvskumar-m commented on #8125
@bonnema Thank you, You made my life easy by providing me the method to extract EDD file.
Now I will be able to create custom EP Python Plugin.

Once again, Thank you soo much :)

[2020-07-07 12:28] nvskumar-m commented on #8125
@Myoldmopar @bonnema
I have scripted custom Python Module. At first although it denied the file existence even when it is placed in the same folder of idf, the python file could be recognised after declaring the search path.

However, severe error erupted denying the class name provided in idf for the module created. At first I though its my coding issue. But when I checked with example file 'Pyth

[2020-07-07 13:11] Myoldmopar commented on #8125
As for finding the python file, you can control where the IDF is found by either declaring a custom search path, or by switching on and off the other settings in the PythonPlugin:SearchPaths object, including whether the engine should search in the current working directory, or the directory of the IDF.

Can you clarify how you are running EnergyPlus?  Some engines may move files around when setti

[2020-07-07 13:14] nvskumar-m commented on #8125
@Myoldmopar  I am running simulation using EP Launch.

[2020-07-07 13:18] Myoldmopar commented on #8125
Can you try running it from the command line?  The very easiest way would be to copy the IDF and Python file right in the same folder as the EnergyPlus.exe file.  The PythonPlugin:SearchPaths object should not be needed for this quick test so you could delete the object from this copied IDF.  Then just open a command prompt and `cd` into that directory, then run `energyplus.exe yourIDFName.idf`.

[2020-07-07 13:25] nvskumar-m commented on #8125
The example file worked by my file got error in EnergyPlus.exe comprising folder

![image](https://user-images.githubusercontent.com/54622340/86788046-5ce54700-c083-11ea-940a-264755b0ab9a.png)

[2020-07-07 13:26] bonnema commented on #8125
@nvskumar-m what does the error file (eplusout.err) say?

[2020-07-07 13:28] nvskumar-m commented on #8125
No it is some internal issue. The Python plugin was taken

![image](https://user-images.githubusercontent.com/54622340/86788417-c5342880-c083-11ea-941c-c1686005103d.png)

[2020-07-07 13:29] Myoldmopar commented on #8125
Oh, you have HVACTemplate objects in your IDF.  So to run it manually, you'd need to run ExpandObjects first, then run EnergyPlus on the resulting expanded.idf file.  It never got to the PythonPlugin processing part.

[2020-07-07 13:30] jmarrec commented on #8125
`energyplus.exe -x PythonPluginWindowShadeControl.idf` should run the ExpandObjects for you.

[code]

[2020-07-07 13:34] nvskumar-m commented on #8125
Even the example file has also not ran outside C:\EnergyPlusV9-3-0 folder.
For my file I understood the expanded IDF objects issue and @Julien Marrec thank you for the tip. Im trying to re-execute now

[2020-07-07 13:45] nvskumar-m commented on #8125
@Myoldmopar even my file ran when i placed in C:\EnergyPlusV9-3-0 folder and after adding -x in the cmd line.

It throwed error related to weather file which I have not provided in cmd line
![image](https://user-images.githubusercontent.com/54622340/86790547-2fe66380-c086-11ea-87c7-571591250313.png)

![image](https://user-images.githubusercontent.com/54622340/86790594-3b398f00-c086-11ea-8a04-89f45

[2020-07-07 13:50] jmarrec commented on #8125
provide the weather file... I suggest you read the command line help by typing `energyplus --help` (or read my message above).

`energyplus.exe -x -w /path/to/weatherfile.epw PythonPluginWindowShadeControl.idf`

[2020-07-07 13:54] nvskumar-m commented on #8125
yes, it worked. I ran my file in C:\EnergyPlusV9-3-0 by using cmd  "energyplus.exe -w SRINAGAR_2014.epw -x testCase1_V930_EMS.idf"

![image](https://user-images.githubusercontent.com/54622340/86791692-6cff2580-c087-11ea-803f-9b3260e585f6.png)

[2020-07-07 14:00] nvskumar-m commented on #8125
@Myoldmopar We got the solution. To run the Python Plugin outside the source folder **C:\EnergyPlusV9-3-0**, we need to add **C:\EnergyPlusV9-3-0** in the PythonPlugin:SearchPaths like I tested below and ran successfully
![image](https://user-images.githubusercontent.com/54622340/86792685-586f5d00-c088-11ea-8c40-a1c8c5d10874.png)

[2020-07-07 17:53] Myoldmopar commented on #8125
Did you end up copying any of your Python files into the `C:\EnergyPlusV9-3-0` folder?  If so then it could be working just _by chance_.  That root folder should **always** be added to the search path automatically.  I'm going to leave this issue open for now and please keep up posted if you run into any further issues.

[2020-07-07 19:22] mitchute commented on #8047
@bonnema just confirming -- the data was for Propylene Glycol?

[2020-07-07 19:45] bonnema commented on #8047
@mitchute yes. The EES call was: `cp=specheat(PG,T=T,C=C)`

[2020-07-08 01:08] mitchute commented on #8047
@bonnema can you upload the Ethylene Glycol results from EES sometime?

[2020-07-08 01:17] bonnema commented on #8047
@mitchute please find them [here](https://github.com/NREL/EnergyPlus/files/4887843/cp_eg.xlsx). The EES equation this time was: `cp=specheat(EG,T=T,C=C)`. I'm sure you figured this out, but I should have mentioned that the units are kJ/kg-K.

[2020-07-08 01:17] mdahlhausen commented on #8124
@chrisbalbach I'm getting this error to in openstudio-standards builds.  For me, the chiller and pump sizing fields are empty except for 'None'.  So this is more than just zone sizing.  I would suggest renaming the issue "eplus html output fields set to 'None'" or something like this.

Developers - this is a major bug and a blocker for openstudio-standards.

[2020-07-08 01:28] mdahlhausen commented on #8124
Here is an example .idf that just runs the sizing run, so use any weather file.  The output html is missing sizing information for the pumps and chillers in the model. [example.zip](https://github.com/NREL/EnergyPlus/files/4887866/example.zip)

[2020-07-08 02:54] mitchute commented on #8047
Well, this has been an interesting adventure. Even after integrating the EnergyPlus cp values wrt temperature using the ```scipy``` interpolate and integration functions, the Delta h values computed are pretty terrible when compare to CoolProp.

## EnergyPlus Propylene Glycol
|   C [-]    | Max Abs Error [%] | Ave Abs Error [%] |
|-------|---------------|---------------|
| 0.1   | 0.35          |

[2020-07-08 03:59] bonnema commented on #8047
@mitchute I was surprised that EES was so far off. I double-checked, and I had the units wrong. EES is expecting a percent for concentration. I re-ran, and new values are [here](https://github.com/NREL/EnergyPlus/files/4888336/cp_both.xlsx). Does this look any better? I included the EES table headers this time, the units are there. Sorry...

[2020-07-08 04:29] mitchute commented on #8047
Yes, that's much better. Both are less than 0.01% error. Now we have a consensus between EES, ASHRAE, and CoolProp. I'll update the cp values for EG and PG. I'll check the water values, but I expect they'll need to be updated too. I'll add the hardcoded Delta h values in the new ```CalcEnthalpyGlycol``` function.

[2020-07-08 05:46] nvskumar-m commented on #8125
@Myoldmopar, I have searched my  **C:\EnergyPlusV9-3-0** directory for custom python plugin files remained which might be helping IDF run outside the EP source directory. But they aren't any.

One more thing that I could observe is that after I adding  **C:\EnergyPlusV9-3-0** directory in IDF PythonPlugin:SearchPaths, the need for command line **sys.path.insert(0, '/path/to/eplus/install')** disap

[2020-07-08 13:04] Myoldmopar commented on #8125
That is really great to hear it is all working!

The `sys.path.insert` stuff was really only needed back when I thought you were running this as a library.  Once you were running it as a plugin, it was not necessary.  However, I'm still not sure why you needed to add the install directory to the search path.  It's a minor workaround, of course, but that is already added to the python search path w

[2020-07-08 13:04] Myoldmopar commented on #8125
And if you feel like everything is satisfied, you are welcome to close this issue.

[2020-07-08 13:40] #8125 closed, assigned to nobody

[2020-07-08 16:39] Myoldmopar opened #8138 "Python `clear_all_states` function missing"
`cClearAllStates` is implemented in the C API, but it isn't exposed through the Python bindings.

Add these lines to the Runtime constructor in runtime.py:
[code]

Then add a member function to call it:
[code]

[2020-07-08 20:18] lgu1234 commented on #8124
@chrisbalbach I am working on this issue and ran in-fails.idf with Chicago weather file. Here is what I got:

![Capture](https://user-images.githubusercontent.com/5970656/86966095-890dd000-c136-11ea-9ddb-3711dfe33d38.PNG)

Could you let me know which weather file you used, so that I can repeat what you got?

[2020-07-08 21:18] lgu1234 commented on #8124
@chrisbalbach When Albany TMY3 weather file is used, I repeat what you got.

@Myoldmopar @mjwitte The empty results are caused by zero cooling sizing. Here is line extracted from err:

   ** Warning ** Calculated design cooling load for zone=LIVING SPACE is zero.

I also checked epluszsz.csv and find zero cooling load. When I use Chicago weather, there are cooling loads in the same sizing file, an

[2020-07-08 21:59] mdahlhausen commented on #8124
@lgu1234 the error in my file is related, but impacts the chiller and pump sizing - even though those objects are present in the model and are sized in early versions of EnergyPlus.

[2020-07-09 13:15] lgu1234 commented on #8124
@mdahlhausen @chrisbalbach @Myoldmopar @mjwitte The existing outputs are intended to generate output with non-zero cooling loads. In order to generate non - empty values, I intend to report zero values as shown below. Are you OK with the changes?

![Revised](https://user-images.githubusercontent.com/5970656/87044447-85288f00-c1c4-11ea-81b6-3ac8babd5544.PNG)

[2020-07-09 13:28] mjwitte commented on #8124
@mdahlhausen You said

What version? Can you provide an idf that shows values in an older version but not now?

[2020-07-09 13:45] mjwitte commented on #8124
@mdahlhausen To be clear, I'm asking for the old version file. If the behavior has changed, we need to track down when. In the example attached above with v9.3, the chiller sizing shows in the Component Sizing Summary.

![image](https://user-images.githubusercontent.com/4991075/87047247-dc783080-c1bf-11ea-8706-dc7ea5e2f609.png)

Every autosized component value should be reported in the Component S

[2020-07-09 16:55] MatthewSteen commented on #8132
This affects OpenStudio users for EDA utility incentive programs. FYI @asparke2 PAT fails with the `XcelEDATariffSelectionAndModelSetup` measure in v3.0.0+. Workaround is to comment out all LCC code in the measure. Related to...
- https://github.com/NREL/OpenStudio-measures/issues/252
- https://github.com/NREL/OpenStudio-measures/issues/315

![image](https://user-images.githubusercontent.com/83970

[2020-07-09 18:24] Nigusse commented on #8132
@MatthewSteen This issue has been addressed at PR #8134. If you have EnergyPlus defect file please drop it here and I will use to test the fix.

[2020-07-09 19:33] mdahlhausen commented on #8124
@mjwitte here is the comparison between the .idf in [E+9.2 vs. E+9.3](https://github.com/NREL/EnergyPlus/files/4899117/E9_2_vs_E9_3.zip).  The difference is in the EquipmentSummary section - the E+9.3 version is missing the chiller and pump sizing information.
The main issue I'm facing is that with E+9.3 and OpenStudio 3.0, the OS API rated flow rate method for the pumps and rated capacity method

[2020-07-09 20:14] MatthewSteen commented on #8132
@Nigusse here you go...

[in.idf.txt](https://github.com/NREL/EnergyPlus/files/4899286/in.idf.txt)

[2020-07-09 20:43] mjwitte commented on #8124
@mdahlhausen Hmm, if I take your E9_2.idf and transition it to v9.3, the chiller, pumps, etc. do appear in the EquipmentSummary report. But for the E9_3.idf which has similar (same?) equipment, the chiller, pumps, etc. are *not* showing in the EquipmentSummary report.
@lgu1234 lobbing the ball back into your court!

[2020-07-10 13:03] lgu1234 commented on #8124
I think this issue deals with Zone Sensible Cooling table. I am going to output zero values for the scenario of zero cooling load. It may need a new issue to deal with EquipmentSummary, so that each issue deals with a specific case.
@mdahlhausen Although I can post a new issue to deal with EquipmentSummary, it would be better for you to post it due to better understanding.

[2020-07-10 15:27] mdahlhausen opened #8146 "Sizing information not appearing in the EquipmentSummary table"
Issue overview
--------------
In E+9.3 during a sizing run simulation, sizing fields for some objects are left blank in the EquipmentSummary section.  Attached is an example .idf in E+9.2 and E+9.3 with the html output tables for both. The main issue I'm facing is that with E+9.3 and OpenStudio 3.0, the OS API rated flow rate method for the pumps and rated capacity method for the chiller do no wor

[2020-07-10 15:29] mdahlhausen commented on #8146
@lgu1234 and @mjwitte new issue created for specifically the EquipmentSummary table

As part of the testing, it would be great if someone could test this with the OpenStudio API to confirm that the rated flow rate and rated capacity methods return values after a sizing run.

[2020-07-10 15:48] #8138 closed, assigned to nobody

[2020-07-10 16:24] rmcclung opened #8147 "HeatPump:PlantLoop:EIR:Heating adding heat to source loop instead of removing"
The HeatPump:PlantLoo:EIR:Heating adds heat to the source loop instead of removing it.  The output variable "Heat Pump Source Side Outlet Temperature" is reporting the correct temperature, being lower than the inlet temperature.  But the "System Node Temperature" for the same node is source heat pump inlet temperature plus the temp difference, not minus the temp difference.  And the source loop is

[2020-07-10 17:38] #8131 closed, assigned to mjwitte

[2020-07-10 19:59] mjwitte commented on #8146
@lgu1234 Note that the E9_2.idf file above when transitioned to v9.3 *does* populate the EquipmentSummary report. But the E9_3.idf above does not.
[E9_2to9_3.idf.txt](https://github.com/NREL/EnergyPlus/files/4905116/E9_2to9_3.idf.txt)

[2020-07-10 21:03] #8110 closed, assigned to nobody

[2020-07-11 20:14] lgu1234 commented on #8146
@mjwitte Thanks for letting me know.

[2020-07-14 02:41] mldichter opened #8154 "autocalculate fails in the View Factor to Ground field of the FenestrationSurface:Detailed with lightshelf"
Issue overview
--------------
Specifying autocalculate in the View Factor to Ground field of the FenestrationSurface:Detailed objects fails with an outdoor lightshelf. This behavior can be reproduced in the DaylightingDeviceShelf.idf example file by simply changing object
[code]
to
[code]
Which produces this error.
[code]
This looks like an easy fix since the outside shelf view factor is calculate

[2020-07-14 02:45] mldichter commented on #8154
There is an old issue about unenclosed zone warning from the inside shelf as well. #7080

[2020-07-14 13:23] lgu1234 commented on #8146
@mdahlhausen @mjwitte I found the problem. Here is the input of SimlationControl object in E9_3.idf:

SimulationControl,
  Yes,                                    !- Do Zone Sizing Calculation
  Yes,                                    !- Do System Sizing Calculation
  Yes,                                    !- Do Plant Sizing Calculation
  Yes,                                    !- Run Simulation

[2020-07-14 14:45] mitchute opened #8155 "Enhanced Python API get_variable_value Error Handling"
Issue overview
--------------
If the method ```get_variable_value``` somehow gets passed a ```None``` value, the resulting error message is as follows:

[code]

This is a bit too cryptic. Maybe we could enhance the error message on this and similar methods?

To replicate, take any of the PythonPlugin example files and make sure ```None``` is passed to ```get_variable_value```.

### Details
Some ad

[2020-07-14 18:42] mjwitte commented on #7496
@JasonGlazer Please add more fields to the end of WindowShadingControl as part of the work on multiple scheduled shades. Maybe go up to 100 surfaces, no need for full idd entries with \note.

[2020-07-14 18:48] mjwitte commented on #7056
@rraustad Has this been addressed?

[2020-07-14 18:53] mjwitte commented on #6998
@jcyuan2020 Please confirm if this is still an issue.

[2020-07-14 18:57] mjwitte commented on #6964
@jcyuan2020 Please review this and #4644 and suggest a plan to address.

[2020-07-14 19:03] rraustad commented on #7056
Not sure, but I don't think so. I'll keep this in mind while converting the Autosizing Library and see if I think something is needed here. Of course I can't correct it there but can make comments along the way as to what is needed.

[2020-07-14 19:25] mjwitte commented on #6919
Just retested this, behavior is still the same as noted [here](https://github.com/NREL/EnergyPlus/issues/6919#issuecomment-440311664). Forgot to deal with the blank field case in #6601, so will make a new pull request to address this in Transition-V8-8-0-to-V8-9-0.

[2020-07-14 19:27] mdahlhausen commented on #8146
@lgu1234 thank you for clarifying the issue.  I think the issue I encountered may have resulted from a change in OpenStudio, not EnergyPlus.

[2020-07-14 20:29] lgu1234 commented on #8146
@mdahlhausen This issue may be done from your side. We still think to make a report even though Do HVAC Sizing Simulation is true. I reopen it for further discussion.

[2020-07-15 10:33] EnergyArchmage commented on #8146
The HVAC sizing simulation failed for some reason.  This table is empty as well.

  | Previous Design Volume Flow Rate [m3/s] | Algorithm Volume Flow Rate [m3/s] | Coincident Design Volume Flow Rate [m3/s] | Coincident Size Adjusted | Peak Sizing Period Name | Peak Day into Period {TIMESTAMP}[day] | Peak Hour Of Day {TIMESTAMP}[hr] | Peak Step Start Minute {TIMESTAMP}[min]
-- | -- | -- | -- | -- |

[2020-07-15 18:23] mjwitte commented on #7933
Just a thought, perhaps the sql table entries could be written with TextValue and RealValue in each row?

[2020-07-15 18:57] EnergyArchmage commented on #7933
I like that idea. Downside might be to swell the file size of the db.  Then there would be two views to choose from, the existing tabulardatawithstrings and add tabulardatawithnumerics.

SQLite can automatically convert E+'s table body string values when binding into a NUMERIC data type.  Having both a TEXT and NUMERIC might be useful to track down bad translations.   Like what can happen if a use

[2020-07-15 19:06] mjwitte commented on #7933
My suggestion wouldn't duplicate the entire table, rather just add a second value field in the same table, so I don't think that would increase the size tremendously.
[code]
Question is whether the numeric binding would choke on a true string like a name or if those need to be trapped in the sql function before writing.

[2020-07-15 19:18] mldichter commented on #7949
* [x] Duplicate paragraph IO Ref 9.3
![Capture](https://user-images.githubusercontent.com/39242689/87586327-3b90e600-c695-11ea-9f1f-c7943bad4f15.PNG)

[2020-07-15 20:29] mbadams5 commented on #7933
That will increase the database size for sure. How much, I don't know without actual testing. You might have to convert the string to a numeric before using the prepared statement insert, but I'm not 100% sure on that.

[2020-07-15 21:33] mjwitte opened #8158 "Spurious diffs in SolarShadingTestGPU"
Issue overview
--------------
Several branches have recently shown spurious diffs in SolarShadingTestGPU, even branches like https://github.com/NREL/EnergyPlus/pull/8156 which only change transition.
These diffs only show on linux CI and they are repeatable (the diff summary is identical each time). One notable difference in the eio diffs are in the surface IR view factors, ViewFactorToGround-IR a

[2020-07-15 21:35] mjwitte commented on #8158
~Test branch here (mixed up with some transition changes for now). https://github.com/NREL/EnergyPlus/commit/33ed2c84f2b597be3a40b6ec5f11ee26ef48a48e~

[2020-07-16 00:25] mbadams5 commented on #8158
@mjwitte, why do you think doing an if statement on a pointer is iffy (no pun intended I'm sure)?
It is a very common thing to perform a `NULL` or `nullptr` check.
Additionally, when `EP_NO_OPENGL` is defined it is already using a boolean:
[code]
and if it is not defined then it is using:
[code]
Both are valid to use in an if statement.

That said, it is weird there are (new???) differences in the

[2020-07-16 03:19] mjwitte commented on #8158
That other commit was wrong. Here's the latest commit (without any change to the idf file). https://github.com/NREL/EnergyPlus/commit/326ea5da94fc5e483b57a85ce289416d8f128c35

I was fishing for something that might somehow be uninitialized or have a leftover value in the second regression run. These changes do get rid of the diffs. Not sure why.

I guess one question would be - does CI build with

[2020-07-16 03:35] mbadams5 commented on #8158
That is set [here](https://github.com/NREL/EnergyPlus/blob/8876db28a5f5e80e8844c65271789fbe86ff802b/cmake/CompilerFlags.cmake#L6-L8).
I am curious why your changes make a difference though. I wonder if this is related to resetting the `std::unique_ptr` or NOT resetting it in clear_state.

[2020-07-16 16:36] crossingchen opened #8191 "chiller heater heat mode (mode 2) does not have part load"
Issue overview
--------------

The central heat pump chiller heater during heating mode (mode 2) always have a part-load ratio of 1. (**Chiller Heater Part Load Ratio Unit 1**).
As a result, the heating energy (**Chiller Heater Heating Electric Power Unit 1**) is always at its peak value under mode 2, even when the HHW loop is only at part load (**Plant Supply Side Heating Demand Rate**).
For deta

[2020-07-16 19:18] mjwitte commented on #8158
Made another [branch](https://github.com/NREL/EnergyPlus/tree/SolarShadingGPUTest2) with some debug warnings to confirm what's happening on CI. So, linux and Mac CI *are* doing PixelCounting. Here's the err diff from SolarShadingTestGPU:
[code]
And for whatever reason, this branch doesn't produce any eso or eio diffs on that file the way that #8156 does. What's odd is that only one surface is show

[2020-07-16 22:08] mdahlhausen commented on #8146
@EnergyArchmage and @lgu1234 I just confirmed that the issue is the field `Maximum Number of HVAC Sizing Simulation Passes` is not being defaulted in EnergyPlus.  When I include this field in the .idf set to the default of 1, the sizing values show up in the table.  When the field is excluded (the object is closed at the `Do HVAC Sizing Simulation for Sizing Periods`), the sizing values are missin

[2020-07-17 00:47] lgu1234 commented on #8146
@mdahlhausen Thanks for letting us know. @mjwitte provided a good solution yesterday to make "      \min-fields 7", so that the default value as 1 of Maximum Number of HVAC Sizing Simulation Passes is automatically assigned. You don't need to do anything at your side. I am going to commit the change tomorrow.

[2020-07-17 13:17] EnergyArchmage commented on #8146
I'm not sure you want to extend min fields to include the HVAC sizing sim fields. They aren't used often.

[2020-07-17 14:41] lgu1234 commented on #8146
@EnergyArchmage If min field is not extended to 7, The default value will not be assigned to the HVAC sizing sim field, so that some reporting values will be missed.

[2020-07-17 21:53] mjwitte opened #8161 "SingleDuctAirTerminal Heat/Cool Rate/Energy variables are no longer used"
Issue overview
--------------
[`struct SingleDuctAirTerminal`](https://github.com/NREL/EnergyPlus/blob/8876db28a5f5e80e8844c65271789fbe86ff802b/src/EnergyPlus/SingleDuct.hh#L226-L229) has four variables that are never really used for anything: `HeatRate, CoolRate, HeatEnergy, and CoolEnergy`.

[`SingleDuctAirTerminal::SimConstVolNoReheat`](https://github.com/NREL/EnergyPlus/blob/8876db28a5f5e80e88

[2020-07-17 21:54] mjwitte commented on #8161
@Nigusse Let's make a simple PR for this one - should be no diffs - and it will simplify #7861 slightly.

[2020-07-18 15:17] shorowit opened #8163 "Unable to avoid WaterHeater:Stratified warning"
Issue overview
--------------
The WaterHeater:Stratified object gives the following warning whenever you have less than 12 nodes but have fields for all 12 loss coefficients:
[code]

The problem is that if you have a stratified tank with < 12 nodes and want to access the fields that occur after the loss coefficient fields, it is impossible to avoid the warnings. Perhaps the warning made sense back

[2020-07-20 13:12] Nigusse commented on #8161
@mjwitte do you want me to create this simple PR or you have already done this?

If I understand correctly your plan is to merge this simple PR to develop and then pull develop into #7861?

[2020-07-20 13:33] mjwitte commented on #8161
@Nigusse Please proceed with this. Let's get this in first. I'll have some more comments on #7861 as well.

[2020-07-20 15:59] lymereJ opened #8164 "Unused EMS impacts simulation results"
Issue overview
--------------
We observe differences in results produced by two IDFs that are virtually identical. The only difference being that one of them includes two EMS programs. Only one of these EMS program uses an actuator. The actuator changes the output of a curve but the curve isn’t used by any objects in the IDF file. For that reason, we would expect the results to be identical, howev

[2020-07-20 16:34] mjwitte opened #8165 "Allow FullInteriorAndExterior solar distribution to be selected by zone (or enclosure)"
Issue overview
--------------
Since the interior solar distribution is calculated independently for each zone (or solar enclosure), the option for FullInterior solar distribution could be a zone (or space, future) option. For zones that are combined into a common solar enclosure, this could be handled by setting the enclosure to Fullinterior if any of the connected zones request that.

This would

[2020-07-20 20:09] mjwitte commented on #7949
- [x] EMS actuators `BeginZoneTimestepBeforeInitHeatBalance` and `BeginZoneTimestepAfterInitHeatBalance` were added in #7177

They are documented in the EMS Application Guide text, but they were never added to the calling point figures. That would be useful.

Also, in the text description for BeginZoneTimestepBeforeInitHeatBalance it would be good to add: "This calling point would be an appropriat

[2020-07-20 22:09] jcyuan2020 opened #8169 "Non-convex surfaces may cause erroneous false alarm and severe error messages on back surface and receiving surface relation check (for shading/shadow calculations)"
Issue overview
--------------
EnergyPlus will check the relation between a receiving surface and the back surface when doing shading calculations, especially when using FullInteriorExterior solar distribution method. For a non-convex receiving surface is check with its relation ship with a back surface, errors message and false alarm about the relationship between the back surface and the receivin

[2020-07-21 18:31] #8124 closed, assigned to lgu1234

[2020-07-22 00:16] Myoldmopar opened #8171 "GLFW Build Warning on Mac 10.15"
Issue overview
--------------
With the new Mac 10.15 CI builds, there is a build [warning](http://nrel.github.io/EnergyPlusBuildResults/EnergyPlus-addb610fe79e32bc8112a10aca64c469a13326b8-x86_64-MacOS-10.15-clang-11.0.0.html#build) in the GLFW code.  It looks like GLFW has already fixed it [last year](https://github.com/glfw/glfw/commit/bac15f94493938eded7161a7a0ab8827584e3db1), it just needs to b

[2020-07-22 13:28] #8161 closed, assigned to Nigusse

[2020-07-22 13:46] mjwitte commented on #7930
@xuanluo113 Turns out this really was a valid issue. It was reported again in #8132 and will be addressed in #8134. Sorry for the confusion.

[2020-07-22 14:25] jasondegraw commented on #7622
A couple of related terminology resources are:

  * Building Energy Data Exchange Specification, [bedes.lbl.gov](https://bedes.lbl.gov)
  * BuildingSynch, [buildingsync.net](https://buildingsync.net) and [github.com/BuildingSync/schema](https://github.com/BuildingSync/schema)

There's some overlap and circular references, but between the two a lot of terminology is covered.

Here's a list of resou

[2020-07-22 14:27] mjwitte commented on #7622
@shorowit In [this comment](https://github.com/NREL/EnergyPlus/pull/8134#issuecomment-656907855) you said:

Please elaborate. It's relevant here and to #8134.

[2020-07-22 15:19] jmarrec commented on #8164
Could you share the file (or better, a MCVE - minimal, complete, verifiable example) please? privately if need be.

[2020-07-22 15:21] jmarrec commented on #8163
I'm in favor of "Reorder the object fields so that the coefficient fields are at the end; then the fields can be excluded in the IDF". Then these could become actual \extensible fields with a \max-fields later down the road.

[2020-07-22 15:47] mjwitte commented on #8164
Defect files added to EnergyPlusDevSupport\DefectFiles

[2020-07-22 16:19] jmarrec commented on #8163
Well, looking at your example file, I suppose the quick fix is to just check for non-blank values after the number of nodes to compare with the number of nodes specified.

I don't know what others think. I'm ok with the quick fix, but I'm also willing to make an IDDChange with a fortran translation.

----

example:

[code]

[2020-07-22 16:40] shorowit commented on #8163
I don't have a strong opinion, but I tend to feel that reordering the elements is the cleanest solution even though it's a breaking change. Skipping non-blank fields feels nuanced since, in the above IDF snippet, a blank field could also be used for nodes 1-6 in order to use the default value.

[2020-07-22 16:50] jmarrec commented on #8163
I propose to skip blank fields After NumNodes only to determine the actual number of nodes. I'll open a PR with unit tests and that'll clear out doubt.

I ask other devs on slack about which way to go (quick fix or reordering) and the advice I got what to go for the quick fix here (bearing epJSON in mind)

[2020-07-22 16:53] shorowit commented on #8163
Okay, that's fine. I don't object. 😉

[2020-07-22 16:56] shorowit commented on #8163
Any chance you can also update the OS forward translator for this logic? The FT writes a 0 for all nodes regardless of how many nodes were specified for the tank and thus would still produce a false alarm warning.

[2020-07-22 18:58] jmarrec commented on #8163
MJWitte made the same comment about the IDF editor filling these with 0. I'll address the zero case here in E+

[2020-07-22 22:12] #8146 closed, assigned to lgu1234

[2020-07-23 11:49] shorowit commented on #7622
It looks like this ticket already covers my concerns -- primarily that some input/output fuel names are different, and secondarily that Electricity specifically uses a different term (Power) compared to all other fuels (Rate).

That said, am I seeing that the proposal here is to change output variable names to include spaces (e.g., "Natural Gas" instead of "NaturalGas") but meters and inputs would

[2020-07-23 15:47] mjwitte commented on #7622
@shorowit For output variable names, I think I agree that we should use the input string, e.g. "Boiler NaturalGas Energy".

What's your preference on table output headers? Spaces or not? The table outputs currently use spaced names everywhere (or nearly so?). Here's a current ABPUS report:
![image](https://user-images.githubusercontent.com/4991075/88306482-67811c80-ccd0-11ea-88b8-2dfa5d613ba6.png)

[2020-07-23 15:56] shorowit commented on #7622
I would prefer no spaces there either to make it easier to query outputs from, e.g., the SQL output.

[2020-07-23 16:26] mjwitte commented on #7622
I'll put this out on Slack to see if we have any consensus.
(Just thinking out loud here, if we do change table headers, that should be a separate PR so we can manage evaluating diffs. )

[2020-07-24 12:44] mjwitte commented on #8091
@RKStrand Are you able to look into this?

[2020-07-24 14:37] mjwitte commented on #7808
This was addressed in #7997 commit https://github.com/NREL/EnergyPlus/commit/8cc27ebbcaaade6c3561550461ab7bd0ebe8062c. Closing

[2020-07-24 14:38] jmarrec commented on #8155
I'd be happy to take this one on. But I'm allowed to work on Defects, not NewFeature. So which one is it? :)

[2020-07-24 14:48] mjwitte commented on #6945
#8146 happens to be a duplicate of this issue. This was addressed in #8159.

[2020-07-24 14:48] #6945 closed, assigned to nobody

[2020-07-24 15:05] #7096 closed, assigned to nobody

[2020-07-24 15:36] jmarrec commented on #8164
![image](https://user-images.githubusercontent.com/5479063/88408702-3853d380-cdd4-11ea-9a37-818762e1fcc7.png)

[2020-07-24 15:52] jmarrec commented on #8164
I've narrowed it down to a MCVE (EMS-wise) and removed everything (the Test Curve, and all EMS objects) But this:

[code]

This only suffices to produce the difference.

[2020-07-24 15:56] jmarrec commented on #8164
Changing the calling point to `AfterPredictorAfterHVACManagers` removes the difference

[2020-07-24 16:05] jmarrec commented on #8164
Will need to check what happens around 2005-01-07 06:00:00

[2020-07-24 21:55] mjwitte commented on #8091
Confirmed that the load was constant after #7300 was merged. Core Sensible Heating=4011.465W (sizing peak load changed from 5308 to 4125W).

Confirmed it was still constant just before #7444 was merged.

The oscillation on the sizing day simulation started with #7444 but the eio sizing output did not change (4125W). Core Sensible Heating varies from 3805W to 4441W with an average of 4124W.

[2020-07-26 18:41] airallergy opened #8174 "Zone Thermal Comfort CEN 15251 Adaptive Model Running Average Outdoor Air Temperature Error"
Issue overview
--------------
This issue is related to a previous one concerning ASHRAE 55 Adaptive Model (#5381), some similar and different bugs are observed as follows.

Similarity:
1. One more line skipped when reading the weather file;
2. One earlier day used as the starting date;
3. lack of consideration of leap years.

Difference:
1. Wrong equation used for the rest of the days. The current

[2020-07-27 16:32] mitchute commented on #7838
This appears to be a legitimate issue, but I'm not sure how we should proceed.

The condenser load is being set properly here:

https://github.com/NREL/EnergyPlus/blob/2b65de010cfe6ad6d80957f92b616b0032cffb04/src/EnergyPlus/PlantCentralGSHP.cc#L2509

But then a few lines later is being adjusted based on the heating load.

https://github.com/NREL/EnergyPlus/blob/2b65de010cfe6ad6d80957f92b616b0032cf

[2020-07-27 16:46] Helarga commented on #7838
Hi Matt, Thanks a lot!

[2020-07-27 17:07] mjwitte commented on #7111
Certainly looks like this should be an option. How to control it is another question. Here's one article about that:
https://www.csemag.com/articles/control-sequences-for-chilled-water-systems/

[2020-07-28 04:08] rraustad opened #8176 "Multiple air loops are using the wrong fan to calculate fan heat during sizing"
Issue overview
--------------
Testing of example files show that the wrong fan index is used to calculate fan heat during sizing. An example of the problem code shows the issue. Once the DataFanIndex is set by the first air loop, it is not reset to the correct value for the next air loop.

    if (DataFanIndex == -1) {
        if (PrimaryAirSystem(CurSysNum).supFanModelTypeEnum == DataAirSystems::

[2020-07-28 17:32] Myoldmopar commented on #7838
This does look legitimately wrong.  The component shouldn't be just overwriting the condenser energy.  My guess is that the whole section where it alters the value of condenser energy needs to be rearranged so that it acts as a passive device rather than actively trying to meet a condenser "load".  It should just calculate the delta temp based on flow and Q or calculate the flow based on delta tem

[2020-07-28 21:22] mjwitte commented on #7838
I have no experience with these.

[2020-07-29 15:09] mjwitte commented on #8091
@RKStrand The oscillation occurs if the ACH required to meet the load falls into the 0.1-0.5 range where the model currently transitions from Hforced to Hnatural. Here's a plot of Hin vs ACH for a floor. This test file just happens to fall in the transitional range.

Change the walls to increase the load, and it settles in on a constant load. I tried some adjustments (transition starting at 3.0 AC

[2020-07-29 20:46] RKStrand commented on #8091
@mjwitte Hmmm.  Well, that is weird and definitely unanticipated.  What do the "stable" and "unstable" labels refer to in your graph above?

[2020-07-30 11:18] mjwitte commented on #8091
Stable/unstable is the direction of heat flow which triggers either `CalcWaltonUnstableHorizontalOrTilt` or `CalcWaltonStableHorizontalOrTilt` for the natural convection component.  [CeilingDiffuserConvection1.xlsx](https://github.com/NREL/EnergyPlus/files/5000875/CeilingDiffuserConvection1.xlsx)

[2020-07-30 13:47] RKStrand commented on #8091
Oh yeah...wasn't familiar with the stable/unstable naming.  I get it though I'm not sure I like the way these are worded.  Since this looks like it might be 10 year old code, I just accept it and carry on.
As for how to solve the problem, I'm not 100% sure what will fix things.  My one idea at the moment is to allow the convection coefficient to vary for a bit and then simply freeze it at some val

[2020-07-31 13:53] mjwitte opened #8180 "Empty error file with input processor errors"
Issue overview
--------------
While testing another PR, noticed that an idf with an invalid key choice produces an empty error file. Not sure when this started. Sometime after v9.3.0 bugfix release which works fine.

### Details
Some additional details for this issue (if relevant):
 - Platform Windows 10
 - Version of EnergyPlus v9.4.0-https://github.com/NREL/EnergyPlus/commit/e884660c04f1cc6f14ff

[2020-07-31 14:01] mjwitte commented on #8132
@MatthewSteen I'm reviewing #8134 and used the file attached [above](https://github.com/NREL/EnergyPlus/issues/8132#issuecomment-656329175). That file is using old inputs. If all of the FuelOil#1/2 in the idf are replaced with FuelOilNo1/2 it runs fine with v9.3.0. So, for this case, the problem appears to be with the measures, not with EnergyPlus.

[2020-07-31 15:59] mjwitte commented on #8132
@MatthewSteen Never mind that last comment, it's half right.
1. The LifeCycleCost resource type *should* be FuelOilNo1/2 now in v9.3 and will stay that way for v9.4.
2. But the meter names in the Output:Table:Monthly object should still be FuelOil#1/2 in v9.3. Those will be FuelOilNo1/2 in v9.4.
3. But I also noticed some other meter names in the Output:Table:Monthly object that are not correct (u

[2020-07-31 16:34] tijcolem commented on #8191
@tanushree04 Maybe we can generate chart of timeseries data to show peak. Check output variables for heater and mode. If mode 2 is always at peak we should see this in timeseries data.  Checkout rdd file.

[2020-07-31 17:08] mjwitte commented on #7952
Meter:Custom and Meter:CustomDecrement are also missing many valid resource types that should be possible to use. Certainly the main fuel types should be doable (like DistrictHeating and DistrictCooling, etc.) as wall as all other valid resource types as validated in [`OutputProcessor::GetStandardMeterResourceType`](https://github.com/NREL/EnergyPlus/blob/e884660c04f1cc6f14ff32f105ee650637069b7f/s

[2020-07-31 18:42] jasondegraw commented on #7546
Same situation with 9.3, the installer continues to be broken on some machines while working on others.

[2020-07-31 19:16] mjwitte commented on #7546
@jasondegraw Here's the [InstallationLog.txt](https://github.com/NREL/EnergyPlus/files/5008674/InstallationLog.txt) from a successful install with association to ep-launch. Perhaps comparing this with the log from an install that failed to associate will give some clues?

[2020-08-01 02:20] #8176 closed, assigned to nobody

[2020-08-01 13:36] #8055 closed, assigned to RKStrand

[2020-08-03 12:32] jmarrec commented on #8180
Works fine on **Ubuntu 18.04** with current develop 922f888aef

[code]

[2020-08-03 13:20] jmarrec commented on #8180
Confirmed on Windows.

[code]

[2020-08-03 13:34] jmarrec commented on #8180
[code]

[2020-08-03 14:46] jmarrec commented on #8180
`Exception thrown at 0x00007FFC1B1CA799 in energyplus.exe: Microsoft C++ exception: EnergyPlus::FatalError at memory location 0x0000008C381698D0. occurred`

![image](https://user-images.githubusercontent.com/5479063/89194941-55dd2600-d5a8-11ea-8594-e66dd7d1018d.png)

[2020-08-03 21:08] tanushree04 commented on #8191
![image](https://user-images.githubusercontent.com/47833030/89227949-d8abb400-d59b-11ea-968a-0eed901b9062.png)
![image](https://user-images.githubusercontent.com/47833030/89227466-f9bfd500-d59a-11ea-9b37-f57752ccf57e.png)

Graphs for the Chiller Heater Operation Mode and Chiller Heater Heating Electric Power show that when the mode is 2, the heating energy is always at its peak at 624884 Btu/h.

[2020-08-03 21:53] dareumnam commented on #7622
@mjwitte Thank you for the update. I just return to work from my leave. I'll try to wrap this up asap.

[2020-08-03 21:54] mjwitte commented on #4954
Superceded by #7133.

[2020-08-03 21:54] #4954 closed, assigned to nobody

[2020-08-03 21:55] mjwitte commented on #7133
See also #4954 which is very similar (closing that one, but worth referencing for additional discussion).
Related to #6435 - WaterUse:Storage Design Inflow Rate not respected.

[2020-08-03 22:25] mjwitte commented on #4999
Closed via https://github.com/NREL/EnergyPlus/pull/7562

[2020-08-03 22:25] #4999 closed, assigned to nobody

[2020-08-03 22:27] mjwitte commented on #4884
@EnergyArchmage Can this be closed? Or is there more to do?

[2020-08-03 22:30] mjwitte commented on #7673
Closely related to https://github.com/NREL/EnergyPlus/issues/4951

[2020-08-04 07:46] jmarrec commented on #8191
Unless you can demonstrate a problem in the way OpenStudio prepares the IDF, this issue was probably opened on the wrong repo and should be opened (after checking it doesn't already exists) on the https://github.com/NREL/EnergyPlus repo instead.

**Edit**: perhaps related: https://github.com/NREL/EnergyPlus/issues/5808

[2020-08-04 09:17] AndyTindale opened #8184 "Allow weather actuators to work with EMS"
Issue overview
--------------
In E+ v9.3 and earlier the weather data actuators such as "Direct Solar" do not work for EMS as there is no appropriate calling point available.

AT: I’ve tried replacing BeginTimestepBeforePredictor with BeginZoneTimestepBeforeInitHeatBalance in the program calling manager, but the results are still the same. Very high spikes of direct normal solar are reported with

[2020-08-04 14:45] mjwitte commented on #6865
Ultimately, we should replace expandobjects with a new Python-based equivalent which provides more flexibility while maintaining the original features.

[2020-08-04 20:42] mbadams5 commented on #6865
@JasonGlazer, it might be possible but the order of code would definitely have to change. Normally, expandobjects happens before InputProcessor is called.

[2020-08-04 20:49] mjwitte commented on #8180
@jmarrec @lefticus git bisect says this commit is the culprit: cbe25e98a90f75b827d5019f38b4ec293e595605 Move err_stream from gio in https://github.com/NREL/EnergyPlus/pull/8162.

[2020-08-05 12:11] #8050 closed, assigned to RKStrand

[2020-08-05 14:30] JasonGlazer opened #8185 "Reduced/Abbreviated Weather Year for Faster Simulation Time"
In most workflows, EnergyPlus is run iteratively while the input building model is being refined. In order to reduce the time that it takes during these iterations users can exercise the options in the PerformancePrecisionTradeoffs input options. A new option could be added to run a simulation using only a subset of the full weather year. While only a subset of weather will be simulated the result

[2020-08-05 14:53] larryscheier commented on #8185
So here's a scheme I came up with which could be used to  model a seasonal or monthly reduced year approach or other custom method.

This first one implements one 7-day week for each of the four seasons (from weather weeks 4, 17, 30 and 43) as suggested by Jason's PNNL study

FastWeatherMapping,
  Winter,           !Month or Season Description 1
    Dec 1,          !Simulation Period First Day (1

[2020-08-05 15:13] lefticus commented on #8180
OK, you can assign this to me, I'll pick it up hopefully this afternoon along with the other ERL trace assertion error that @JasonGlazer brought up in email

[2020-08-05 15:22] JasonGlazer opened #8186 "ERL trace assertion error"
Issue overview
--------------
An assertion error is shown when running debug:

Assertion failed: outputFile.os, file
C:\repos\EnergyPlus01\src\EnergyPlus\IOFiles.hh, line 360

with the defect file.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or he

[2020-08-05 15:31] JasonGlazer commented on #6865
Maybe TestIfHVACTemplateInEpJSON -> ConvertInputFormat -> ExpandObjects -> EnergyPlus would make more sense.

With TestIfHVACTemplateInEpJSON being a really simple app testing if HVACTemplate objects exist in the epJSON file.

[2020-08-05 15:35] JasonGlazer commented on #6865
Presuming we are using the current ExpandObjects and not a new better integrated Python equivalent.

[2020-08-05 22:57] #8062 closed, assigned to matthew-larson

[2020-08-05 23:57] lefticus commented on #8186
Fixed in #8187

[2020-08-05 23:58] lefticus commented on #8180
Fixed in #8188

[2020-08-06 15:33] #8186 closed, assigned to lefticus

[2020-08-06 19:10] TiejunWu opened #8189 "Allow electric heating coil to be used in AirTerminal:SingleDuct:VAV:Reheat for Dual-Max control"
Issue overview
--------------
Currently EnergyPlus only allows Dual Max control to be used with terminals usinig hot water reheat. (Ref: EnergyPlus I/O reference 1.30.3.1.16).
Dual Max control is effectively required by Standard 90.1 to minimize use of reheat energy.  Many applications of VAV systems use electric rather than hot wter reheat coils.  By extending Dual Max control to include terminal

[2020-08-06 19:27] mjwitte commented on #8184
@AndyTindale Looking more carefully at the EMS snippet (from the helpdesk ticket), I'm not sure a new calling point will be adequate:
[code]
As it is currently programmed, the weather actuators need to be set before entering `SetCurrentWeather`, so the current value for `Direct_Solar_Check` will be from the prior timestep if a new calling point is placed before `ManageWeather`. I'll have to re-thi

[2020-08-06 20:09] TiejunWu opened #8190 "Allow Zone HVAC Terminal Units to draw return air from return air plenum or an air branch off the return air duct"
Issue overview
--------------
Currently EnergyPlus only allows a zone HVAC terminal unit to draw recriculation air from the zone air node - i.e. air at zone conditions. See the following diagrams for reference:
![Ducted Return - Current State](https://user-images.githubusercontent.com/7797674/89577555-da28e680-d7fe-11ea-8615-b0bf4f06bd05.jpg)
![Plenum Return - Current State](https://user-images.gi

[2020-08-07 09:41] AndyTindale commented on #8184
Mike,

  *   As it is currently programmed, the weather actuators need to be set before entering SetCurrentWeather, so the current value for Direct_Solar_Check will be from the prior timestep if a new calling point is placed before ManageWeather.

We are not constrained in any way with the code structure. Can you suggest an alternative way to program this in EMS that could work?

Andy

From: Micha

[2020-08-07 09:54] AndyTindale commented on #8184
[8184.zip](https://github.com/NREL/EnergyPlus/files/5040663/8184.zip)
Test zip file attached

[2020-08-07 12:48] #8132 closed, assigned to Nigusse

[2020-08-07 13:52] mjwitte commented on #8184
@AndyTindale My current thought is to add some new EMS functions that can query the internal arrays that hold 24 hrs of weather data for Today and Tomorrow. These are the base values from the epw (or design day creation) that are used in `SetCurrentWeather` to set the values for a given timestep. This would provide access to the original solar values in your case. It would also provide a look into

[2020-08-07 15:08] tijcolem commented on #8191
@tanushree04 Thanks for plotting the chart!  It looks like this issue can be moved over to EnergyPlus.  I'll get it transferred.

[2020-08-07 15:11] AndyTindale commented on #8184
@mjwitte Your suggested approach sounds really powerful especially if the base values could also be accessible from the Python scripts as well as EMS

[2020-08-07 15:59] jcyuan2020 commented on #7949
- [x] The equations are incorrect for the RectangularHyperbola1 (Sec 1.58.17, Page 2368, InputOutputReference.pdf, Version 9.3.0) and RectangularHyperbola2 (Sec 1.58.18, Page 2370) curves. There are redundant mistyped minus signs in these two equations.

![image](https://user-images.githubusercontent.com/64040111/89664505-e1063680-d89c-11ea-822c-6e486069c361.png)
![image](https://user-images.githu

[2020-08-07 19:48] lymereJ opened #8192 "Correct the IPLV to account for rated capacity modifier"
Issue overview
--------------

1. The AHRI Std 550/590 defines the percent load(ing) as “_The ratio of the part-load net capacity to the full-load rated net capacity at the full-load rating conditions_”. The percent load(ing) is currently used in the PLR calculation but is assumed to be the percentage of the reference capacity, not of the capacity at rated conditions.
Proposed changes for line [38

[2020-08-07 20:16] lymereJ commented on #8192
I'll upload an IDF and indicate what the expected reported IPLV should be.

[2020-08-10 04:02] jcyuan2020 commented on #7949
- [x] Weather related outputs section has wrong headings in the InputOutputReference.pdf. Section 1.7.29.2 (Named `Outputs` should never belong to Section 1.7.29 (which is about `Site:SpectrumData`). Rather, it should be bumped at least one level up, as the new Section 1.7.30. In Version 9.3.0, it is on Page 122. This problem also caused the headings for the subsequent section headings in the next

[2020-08-10 04:43] jcyuan2020 commented on #7949
- [x] Still, for the above mentioned affected section headings in Page 122-129 (Version 9.3.0, InputOutputReference.pdf) about weather outputs, it seems that the structure need to be adjusted. It seems that the current Sec 1.7.29.2 should be bumped up one level as new Sec 1.7.30; the current Sec 1.7.29.3 should become new Sec 1.7.30.1; and a few pages down in Page 128, the current Sec 1.7.30 shoul

[2020-08-10 13:20] mjwitte commented on #7949
@jcyuan2020 Referring back to the v8.2 I/O Reference the two "Outputs" headings above are missing words, and they belong at the same level as Site:SpectrumData.
![image](https://user-images.githubusercontent.com/4991075/89786856-367f5500-dae2-11ea-85c7-d2d6c6100a5d.png)

[2020-08-10 15:30] lefticus commented on #8180
Closing, #8188 has been merged.

[2020-08-10 15:30] #8180 closed, assigned to lefticus

[2020-08-10 17:40] DavidHollman opened #8194 "EnergyPlus distribution size with added Python-related files (9.3) - even when Python is not really needed"
It looks as though Python dependencies are now required to be distributed with EnergyPlus, even in cases when they are not actually needed for runtime execution of the inputs.

This was actually previously mentioned in https://github.com/NREL/EnergyPlus/issues/7877#issuecomment-606047739:

(I don't think there is another open issue already covering the same ground, and that comment seemed to be co

[2020-08-10 18:29] Myoldmopar commented on #8194
Thanks for this issue.

As for the initial comment there, indeed that comment was considered addressed when @bonnema replied with an understanding that he didn't need to copy things around anymore.  Thanks to the command line interface on EnergyPlus, you can pretty freely put IDF and EPW files in your desired directories, no need to copy a build of EnergyPlus around anywhere.

There are a couple t

[2020-08-10 20:57] RKStrand commented on #8091
@mjwitte Ok, so I'm looking at this now while waiting reviews on my two outstanding PRs (thanks for your initial comments on one of them!).  Here are some thoughts that I had after looking at this again.
]
First, after looking at this a bit more closely, what we currently have is not strictly a linear interpolation between forced and natural convection.  The reason why is subtle and unfortunately

[2020-08-11 14:37] jcyuan2020 commented on #7949
@mjwitte Thank you! This issue about weather/climate output headings has been corrected as part of the revisions in PR #8143.

[2020-08-11 14:43] jcyuan2020 commented on #7949
- [x] Page 45 of Engineering Document (V9.3.0):  the coefficient `1.0^6` should be `10^6` in Equation (2.65).

![image](https://user-images.githubusercontent.com/64040111/89911485-1a99b300-dbb7-11ea-83b3-e5c7660a243d.png)

[2020-08-11 23:50] jasondegraw commented on #7546
@mjwitte Thanks, but that doesn't help. The log you send looks different, but it appears to be mainly due to different selections in the setup process. I'm not seeing anything that really looks like an explanation. Can share via email if you'd like, but still no associations and no shortcuts.

[2020-08-12 13:35] DavidHollman opened #8197 "Warning "Windows has protected your PC"
When I ran the 9.3 installer on Windows 10, it gave me a malware warning. This is the full 9.3 installer (not the later bug fix installer) which I downloaded from here.

![image](https://user-images.githubusercontent.com/18285074/90020932-8d219600-dc7e-11ea-955f-ff0d20040465.png)

Possibly related - later on once actual installation has started, a yellow UAC prompt comes up with the wording "unkno

[2020-08-12 13:36] DavidHollman opened #8198 "Warning "Windows has protected your PC" when running 9.3 installer"
When I ran the 9.3 installer on Windows 10, it gave me a malware warning. This is the full 9.3 installer (not the later bug fix installer) which I downloaded from here.

![image](https://user-images.githubusercontent.com/18285074/90020932-8d219600-dc7e-11ea-955f-ff0d20040465.png)

Possibly related - later on once actual installation has started, a yellow UAC prompt comes up with the wording "unkno

[2020-08-12 13:38] DavidHollman opened #8199 "Minor cosmetic issues in 9.3 installer screens"
I thought I should mention these minor issues.

I'm on Windows 10 and running at 125% text scaling.

The title bar is blank. Also, the black-on-blue text is hard to read:
![image](https://user-images.githubusercontent.com/18285074/90020988-a296c000-dc7e-11ea-9874-38e20ffa416f.png)

The blue color of the EnergyPlus logo is also hard to make out.

The text at the right looks like it might be cut off

[2020-08-12 13:51] Myoldmopar commented on #8197
Thanks for posting this, we don't need two issues open so I am closing this one.  #8198 will stay open.

[2020-08-12 13:51] #8197 closed, assigned to nobody

[2020-08-12 13:53] DavidHollman commented on #8197
@Myoldmopar  sorry about that, I have no idea how it posted twice! Thanks for cleaning it up.

[2020-08-12 13:54] Myoldmopar commented on #8197
No problem at all.

[2020-08-12 13:57] #7896 closed, assigned to jmarrec

[2020-08-12 14:01] DavidHollman commented on #8194
I appreciate the quick reply. You've given us a couple of possible workarounds which we'll look into in the short term. Eventually if Python is more cleanly separated for cases like ours, so much the better.

I'm curious - what's the reason for the difference between the 32 and 64 bit packages?

[2020-08-12 14:12] Myoldmopar commented on #8194
Our CI build system only had Python 64 bit installed, and the bitness must match the bitness of EnergyPlus which will link to it.  I spent a few minutes trying to get it set up with both versions of Python, and then realized maybe there was some benefit to just building without linking to Python.  The 32-bit download is **not** heavily downloaded, and I would imagine we will stop producing it at s

[2020-08-12 16:50] Myoldmopar commented on #8068
Closed via #8075

[2020-08-12 16:50] #8068 closed, assigned to lgu1234

[2020-08-12 16:58] ajscimone opened #8200 "NaN value for new window surface temperature due to overflow in AirflowNetworkBalanceManager"
Issue overview
--------------
The attached EnergyPlus idf file results in a series of EnergyPlus error outputs indicating NaN values occuring during new window surface temperature calculations. The observed output observed is as follows:
`  ** Warning ** Saturation Temperature not converged after 51 iterations (PsyTsatFnPb)
  **  ~~~  ** Routine=Unknown, Environment=RUNPERIOD 1, at Simulation time

[2020-08-12 19:16] lgu1234 opened #8201 "Bypass interior solar distribution calculation at night"
Issue overview
--------------
LBL identified 20 hotspots for speed improvement. InitIntSolarDistribution is one of hotspots. The interior solar distribution calculation is performed every time step. The present check-in bypasses the calculation at night, because no solar is available at night.

This issue is a task for 10x project to speed up calculation.

### Details
Some additional details for t

[2020-08-12 19:56] Myoldmopar commented on #8201
Addressed by #8182

[2020-08-12 19:56] #8201 closed, assigned to nobody

[2020-08-12 20:00] Myoldmopar commented on #8200
@ajscimone or @nealkruis can you make a Pivotal ticket out of this so that we can get it discussed on the iteration call and assigned to someone...looks like an important fix.

[2020-08-12 20:07] ajscimone commented on #8200
@Myoldmopar Created a Pivotal just now (#174305347). I have started getting a fix and unit testing together.

[2020-08-12 21:38] #8155 closed, assigned to jmarrec

[2020-08-13 07:00] jmarrec commented on #8198
@DaveInCaz Did you get the warning when you tried the 64 bit version prior to trying the 32 bit one?

code signing / download counts is likely the problem yes. Without an extended EV Authenticode (with is problematic because of 1) cost, and 2) automation since you historically needed a physical device though that seems to have changed with cloud HSMs...), you need a bunch of downloads & install be

[2020-08-13 07:08] jmarrec commented on #8199
Thanks for the feedback!

Tweaking the UI is inherently tedious and long as you need to do changes, build the entire installer, then manually try to install it to see if it's better. Also customizing the QtIFW UI is a massive pain. Setting up the E+ logo and stuff took me a while already when we moved from NSIS to QtIFW (NSIS didn't have any fancy features), but the clear benefit was that we could

[2020-08-13 11:14] DavidHollman commented on #8199
@jmarrec personally, I'm sure your prioritization is correct :)  Especially because it didn't look like anything important was not visible.

Maybe if over time you accumulate a series of minor installer issues someday it will be worth trying to hammer them all out at once, that's probably what I would do.

[2020-08-13 11:19] DavidHollman commented on #8198
Yes that was the 32-bit installer (I added the installer filename to the issue).

I just downloaded and tried the 64-bit installer (`EnergyPlus-9.3.0-baff08990c-Windows-x86_64.exe`) and it did NOT show the warning.

However, I also tried the 32-bit installer again, and today - _no warning_. I don't know what that means, its literally the same file I had downloaded yesterday.  Maybe its the reputat

[2020-08-13 11:51] jmarrec commented on #8199
Yeah I was definitely planning on trying to lump it in another installer work, next time we have to do iterative testing on it. It's good to have this issue to serve as a reference for improvements

[2020-08-13 11:54] jmarrec commented on #8198
I'm not sure how windows work but I would reckon when you clicked on "run anyways" the first time, it added it to some kind of exclusion list, similar to how a browser would do if you encounter an invalid certificate. That's probably why you didn't see it the second time

[2020-08-13 11:57] DavidHollman commented on #8198
@jmarrec I guess that could be the case with Defender issues like this, I'm not sure either.

If that is the case then I don't think it really solves the problem, because the issue for some users will be that the first time they see this, they won't run it. Also, some IT organizations simply won't allow it, not really giving users the choice.

[2020-08-13 13:16] lgu1234 opened #8203 "Speedup CalcZoneSums"
Issue overview
--------------
LBL identified 20 hotspots for speed improvement. CalcZoneSums is one of hotspots. The function is called by Predictor and Corrector every time step. A section of supply system calculation is not needed.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, i

[2020-08-13 13:38] #8056 closed, assigned to RKStrand

[2020-08-14 14:07] #8171 closed, assigned to nealkruis

[2020-08-14 16:42] mjwitte opened #8208 "--convert-only option does not exit properly - continues with setup and sizing simulation"
Issue overview
--------------
Using the `--convert-only` command-line option should convert between idf and epJSON and exit without doing any simulations. Current develop shows that it is continuing with initialization and sizing simulations. 9.3.0 was also doing this silently (output files contained sizing results).

The problem is [here in EnergyPlusPgm.cc](https://github.com/NREL/EnergyPlus/blo

[2020-08-14 17:42] Nigusse commented on #8007
While reviewing the changes for this new feature (#8152) I saw the output summary tables headings for exterior and interior Fenestration are different. But the headings for opaque surfaces and doors interior and exterior headings are identical. See the sample fenestration summary table headings for exterior and interior. The red color highlighted headings in the exterior fenestration don't exist i

[2020-08-14 18:30] shorowit opened #8209 "Add object-specific Output Variables for ZoneInfiltration objects"
Issue overview
--------------
The current Output Variables for ZoneInfiltration objects are **zone-specific**, not **object-specific**. So if a thermal zone has multiple ZoneInfiltration objects, there is no way to obtain, e.g., Sensible Heat Gain Energy specific to each object, rather you can only obtain the total across all of these objects via Zone Infiltration Sensible Heat Gain Energy.

It'd

[2020-08-14 19:31] JasonGlazer commented on #8007
@Nigusse I think the two tables could be made the same. For "area of multiplied openings" vs "area of openings", I kind of like "area of openings" better. It might make sense to add "multiplier" as another column either way.

[2020-08-17 21:06] mitchute opened #8214 "Special Days Failures"
Issue overview
--------------
Special days are causing simulation failures. To test, run ```5ZoneVAV-ChilledWaterStorage-Stratified.idf``` with ```USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw```. This fails on current develop but runs with the 9.3.0 bugfix version. Confirmed by myself and *the* @mjwitte .

### Details
Some additional details for this issue (if relevant):
 - Platform (Mac 10.15.4)

[2020-08-18 11:50] JasonGlazer commented on #7418
Below is the summary of the July 14 design meeting attended by 23 users of IDF Editor:

[epJSON Editor Design Meeting Summary Report 2020-08-05-withAppendices.pdf](https://github.com/NREL/EnergyPlus/files/5090126/epJSON.Editor.Design.Meeting.Summary.Report.2020-08-05-withAppendices.pdf)

The summary includes feedback on existing and possible new features based on the design meeting including a ran

[2020-08-18 16:26] #8007 closed, assigned to yzhou601

[2020-08-18 20:41] lgu1234 opened #8216 "Apply Direct solution in new dx coil"
Issue overview
--------------
This issue requests to apply Direction solution into Coil:Cooling:DX model
### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is

[2020-08-18 20:53] mjwitte commented on #8208
@Myoldmopar I added this to the 9.4.0 IOFreeze milestone, because I'm not sure if a new status code would be considered an API change.

[2020-08-19 05:14] jcyuan2020 opened #8218 "Missing System Outdoor Air Method in outdoor air design specification inputs"
Issue overview
--------------
The mechanical ventilation controller (Object Controller:MechanicalVentilation) has a few System Outdoor Air Method that are currently not included in the Object DesignSpecification:OutdoorAir as option:
   A4,  \field System Outdoor Air Method
        \key `IndoorAirQualityProcedureGenericContaminant`
        \key `IndoorAirQualityProcedureCombined`
        \key `Pro

[2020-08-19 13:42] #8057 closed, assigned to RKStrand

[2020-08-19 14:19] #8214 closed, assigned to nobody

[2020-08-19 14:57] jcyuan2020 opened #8219 "Add EMS actuators for CO2 and GC setpoints"
Issue overview
--------------

For CO2 and Generic Contaminant based outdoor air methods that uses override setpoint values shown in `ZoneContaminantPerdictorCorrector::PredictZoneContaminants`, currently there are no `SetupEMSActuator` calls that use these override variables.

Also, there seems to be a couple of copy/paste coding errors, where the CO2 override  flag incorrectly used for writing t

[2020-08-19 22:16] #8093 closed, assigned to kbenne

[2020-08-20 13:15] #8184 closed, assigned to nobody

[2020-08-20 13:38] Myoldmopar opened #8220 "Follow-up to Resilience Metrics PR"
Issue overview
--------------
A couple cleanups following the merge of #8100 for IO freeze. More detail [here](https://github.com/NREL/EnergyPlus/pull/8100#issuecomment-676754636)
 - Variables declared as `double` in multiple locations need to be `Real64`
 - New documentation TeX file is not included in the main table of contents, so it does not appear inside the final PDF.

[2020-08-20 16:25] xuanluo113 opened #8221 "Improving infiltration model for tall buildings"
Issue overview
--------------
Tall/supertall/megatall buildings have unique characteristics and energy use. Infiltration significantly influences indoor air quality and energy use in tall buildings due to significant differences in indoor and outdoor temperature as well as air pressure. Current EnergyPlus infiltration calculations (not airflow network) over-simplify the physics for stack effect an

[2020-08-20 16:26] xuanluo113 opened #8222 "Improving PMV model"
Issue overview
--------------
Current PMV models in EnergyPlus do not reflect the latest ASHRAE Standard 55-2017 which provides cooling credit for elevated air velocity. The new PMV is crucial to support passive cooling technologies such as natural ventilation, ceiling fan , and portable fan.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidel

[2020-08-20 17:35] Myoldmopar opened #8223 "Infinite loop in IDD->Schema parser"
Issue overview
--------------
Helping diagnose a problem with an infinitely long running schema generation step, I found that the culprit was a field with `\type object-lis` instead of `\type object-list`.  I debugged and found the parser continually trying to parse a token that started with `o` over and over infinitely.  I verified by taking our own IDD and just replacing one of the type declarat

[2020-08-20 19:09] #7622 closed, assigned to dareumnam

[2020-08-21 17:32] #6552 closed, assigned to nobody

[2020-08-21 17:57] Myoldmopar opened #8224 "Packages Need OS Version Number"
We are going to be producing packages for Mac OSX 13.Something and 15 this release.  CI will be producing both of them.  We need to give them unique names so that CI doesn't fail to upload a duplicate name and also so that users will know which one to download.  The package built on 13 will likely work on 15, but not the other way around.  And we don't have an option to downgrade the CI machine ru

[2020-08-21 19:51] jmarrec commented on #8224
@Myoldmopar I'll happily take this one on, thanks for the suggestion. I'll try to get a PR going early next week

[2020-08-24 13:25] hongyuanjia opened #8227 "Inconsistency timestep types in SQL ReportDataDictionary table and actual outputs"
Issue overview
--------------

### Details
 - Platform: Windows 10
 - Version of EnergyPlus: 9.1

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x] Defect file added ([5Zone_Transformer_Detailed.idf.txt](https://github.com/NREL/EnergyPlus/files/5118015/5Zone_Transformer_Detailed.idf.txt))

The `TimestepType` column in SQL `ReportD

[2020-08-24 14:35] jmarrec opened #8228 "Mac installer incorrectly points to homebrew python"
Issue overview
--------------

[code]

The installed libs are looking for a homebrew python3.8 (which I do not have): `/usr/local/opt/python@3.8/Frameworks/Python.framework/Versions/3.8/Python (compatibility version 3.8.0, current version 3.8.0)`

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): macOS
 - Version of EnergyPlus (if using an i

[2020-08-24 14:37] jmarrec commented on #8228
Rebuilding manually on the machine, as you can see it found my homebrew python which is 3.7:
[code]

[2020-08-24 22:07] mitchute opened #8229 "Output Files Not Being Overwritten"
Issue overview
--------------
The output files are not being overwritten by subsequent runs. I've dropped the terminal output from my testing here: https://gist.github.com/mitchute/fbebfdfbb092ea3a64c58e0d6d5f0702.

To test, I took ```1ZoneUncontrolled.idf``` and ran it as a design-day only run. After tailing the CSV file, I forced an annual run and tailed the file again but am seeing the previous

[2020-08-24 22:15] shorowit opened #8230 "Unitary System Ancillary Electric Power inputs have no effect on results"
Issue overview
--------------
I have two IDFs where the only difference between them is that I've set the `Ancillary On-Cycle Electric Power` and `Ancillary Off-Cycle Electric Power` fields to non-zero values for the Unitary System. I expect to see increased energy use but the simulation results are unchanged. The "Unitary System Ancillary Electric Power" output variable also reports zeroes, where

[2020-08-25 08:18] jmarrec opened #8232 "Transition needed for some objects following the fuel type standardization"
Issue overview
--------------

I've just updated a bunch of IDF files we have on the OpenStudio repo. Seems like the Output:Variable fuel name conversion (Following #8134) works fine thanks to the CSV Report Variables. But some stuff isn't correctly handled by VT, such as `UtilityCost:Tariff`'s "Output Meter Name" field.

I found it by first running the TransitionV9-3-0-to-V-9-4-0 on all files. Th

[2020-08-25 08:47] jmarrec commented on #8232
Additionally, PythonPlugin:OutputVariable, still lists FuelOil#1 in the IDD

[code]

[2020-08-25 16:11] mjwitte commented on #8227
I believe this was fixed for v9.2 in https://github.com/NREL/EnergyPlus/pull/7415.

[2020-08-25 16:11] #8227 closed, assigned to nobody

[2020-08-25 16:28] mjwitte commented on #6515
Cannot reproduce this with v9.4.0-I/O Freeze 908c5cedf5. Apparently fixed by https://github.com/NREL/EnergyPlus/pull/6779.

[2020-08-25 16:28] #6515 closed, assigned to lgu1234

[2020-08-25 16:29] mjwitte commented on #6516
Confirmed this issue can be closed (cannot reproduce with v9.4.0 I/O Freeze 908c5cedf5.

[2020-08-25 16:29] #6516 closed, assigned to lgu1234

[2020-08-25 16:38] mjwitte opened #8233 "Underflow due to tiny solar values"
Issue overview
--------------
5ZoneCoolBeam (with San Francisco weather) fails in a Windows debug build with an underflow error [here](https://github.com/NREL/EnergyPlus/blob/908c5cedf506343fd08ab3ff5cb7974707d70f68/src/EnergyPlus/WeatherManager.cc#L7499).

`SDIFH, SDIRH, and SDIFH` are all on the order of 1e-258 or smaller.

### Details
Some additional details for this issue (if relevant):
 - Pla

[2020-08-25 16:44] mjwitte commented on #8232
`UtilityCost:Tariff` meter name should get converted [here](https://github.com/NREL/EnergyPlus/blob/908c5cedf506343fd08ab3ff5cb7974707d70f68/src/Transition/CreateNewIDFUsingRulesV9_4_0.f90#L992-L994) Likely problem is that the object type needs to be upper case there.

[2020-08-25 20:33] mldichter opened #8234 "Surface Heat Flux Accumulating Imbalance with HeatBalanceAlgorithm = ConductionFiniteDifference"
Issue overview
--------------
An IDF with HeatBalanceAlgorithm = ConductionFiniteDifference has an imbalance in heat flux going into and out of the wall that accumulates over time.

![sum flux with bug](https://user-images.githubusercontent.com/39242689/91224219-a0991c00-e6d6-11ea-8318-587ec83698ee.PNG)

This does not occur when HeatBalanceAlgorithm = ConductionTransferFunction, which is the defau

[2020-08-25 21:21] mitchute commented on #8229
Upon further inspection, it appears that it's just the CSV and SHD files that are not updating. CSV should be coming from ReadVars, and that looks like it's being called...

[2020-08-25 22:47] mitchute commented on #8229
Getting closer. The ESO file is being appended to, not overwritten. To test, run any file multiple times then search for "End of Data". That's what ReadVars is looking for to find the end of the file.

https://github.com/NREL/EnergyPlus/blob/908c5cedf506343fd08ab3ff5cb7974707d70f68/src/ReadVars/ReadVarsESO.f90#L1022

[2020-08-26 06:01] hongyuanjia commented on #8227
@mjwitte Thanks. Yes, this has been fixed in v9.2.

[2020-08-26 14:14] #8203 closed, assigned to nobody

[2020-08-26 14:49] TiejunWu commented on #8091
@RKStrand   @mjwitte
We did some investigation around the issue and now we have a workaround to this issue for our application. Given this and the complicated nature of the problem, our recommendation is to not make changes to the cutoff ACHs values of 0.5 to 1 ACH for now. However, we would still like to get your insights in understanding the cause of this oscillatory behavior, both qualitatively

[2020-08-26 15:37] RKStrand commented on #8091
Thanks for looking into this further, @TiejunWu.  I think my concerns after all of this are still why are the extreme fluctuations happening for the case where the heat source/sink is 0W and how do we prevent this in other cases.  I'm glad to hear that you have found a workaround for your application--but how do we prevent this from happening?  I agree with you that someone (likely me) needs to st

[2020-08-26 15:44] RKStrand commented on #8091
@TiejunWu I failed to comment on your Point 3 above--sorry.  Yes, there will potentially still be some very slight oscillatory behavior in EnergyPlus because numerical imprecision will filter in and cause that behavior.  EnergyPlus will never get to perfect steady state because of numerics.  However, as you saw, those oscillations are incredibly small and acceptable.  It's when those oscillations

[2020-08-26 20:02] RKStrand commented on #8091
@mjwitte @TiejunWu Ok, here's what I can tell you after looking into this a bit further.  The biggest issue in the core space is the convection from the ceiling and the floor.  While the walls also show some variation, the variation in the convection from the floor and the ceiling are the biggest issues.  If you look at the correlations for forced convection from the ceiling and floor, you will al

[2020-08-27 08:43] jmarrec commented on #8066
Additionally, the other three don't have any units in the SQL output.

![image](https://user-images.githubusercontent.com/5479063/91417876-b54def00-e851-11ea-85a9-e628a0a23062.png)

That's an easy fix.

[2020-08-27 08:59] jmarrec opened #8238 "IO File issues: segfaults or hanging"
Issue overview
--------------

Running OpenStudio regression tests, I have two problems that seem related to IO:

* `refrigeration_system.rb.idf` segfaults after throwing a fatal (and therefore eplusout.err ends up empty.... not helpful)
* `utility_bill02.rb.idf` seems to hang indefinitely at the end of the simulation. By hang I mean after 15 minutes it's still stuck in the same rough location, ei

[2020-08-27 14:20] mjwitte commented on #8066
@jmarrec There are some pending changes to Coil:Cooling:DX in #8204 but I don't see the evap condenser pump power sizing there.

[2020-08-27 14:38] mjwitte commented on #8091
@RKStrand Your proposed approach sounds reasonable. The proof would be in seeing stable results across all of the loads tested above. As an alternative, could you keep the same transition zone and alter the interpolation method to be "truly linear"?

[2020-08-27 15:14] mjwitte commented on #6794
Confirmed that HVACTemplate-5ZoneFanCoil-DOAS.idf with v9.4.0-I/O Freeze (908c5cedf5) still shows a positive value for "HVAC Zone Eq & Other Sensible Air Cooling" for Space5-1.

[2020-08-27 15:48] RKStrand commented on #8091
@mjwitte I will try the truly linear interpolation for the existing boundaries (0.5-1.0).  I don't think it will be as effective, but I will give that a try before I do anything else.  I will also test the various conditions that @TiejunWu outlined in the work around above.  I'll post results here as they become available.

[2020-08-27 18:44] RKStrand commented on #8091
@mjwitte Ok, the truly linear interpolation from ACH=0.5-1 shows even more fluctuations.  The reason is that Hforced continues to drop from ACH=1 to ACH=0.5 which helps a bit.  With a straight linear interpolation, the slope is constant throughout the range but ends up being higher near ACH=0.5 which seems to be where the trouble is happening in this particular file.  I'll try the straight linear

[2020-08-27 20:51] RKStrand commented on #8091
@mjwitte @TiejunWu I implemented the straight linear interpolation and it seems to fix the problem for this file.  I added in a varying load as above between +400 and -600--all cases have a constant heating load for the core zone (the one that was causing issues).  I am hopeful that this will fully resolve this issue and we won't run into any more oscillation problems with other files.  I look at

[2020-08-28 01:12] TiejunWu commented on #8091
@RKStrand Thank you very much for looking into this. With this fix, the assumption is that the fluctuation was caused by the steeper slope of the transition line. So by stretching the transition zone, the fluctuation will be fixed by the flatter transition line. I am attaching a plot for the ceiling surface heat transfer coefficient here ( for the natural convection I am using 2.6 K as the tempera

[2020-08-28 07:58] ajscimone opened #8241 "CSV files with carriage return line endings throw a sever error when read from."
When specifying a csv file as Table:Lookup idf object, using a csv file with carriage return line endings results in the following sever error being thrown:
`Table:Lookup "TableNameHere": Input value table does not match the grid size: 0 != <number of csv lines>`.

For reference, carriage returns are typically referred to as CRLF lines ending and are commonly associated with windows files. Carriag

[2020-08-28 14:44] #8229 closed, assigned to nobody

[2020-08-28 16:13] RKStrand commented on #8091
@TiejunWu From what I am seeing inside the debugger, the solution is simply not stable and overshoots the correct solution in both directions.  Once it gets far enough away from the solution, it reverses course and tries to get back to where it should be.  In this particular case (the case with zero additional heat source/sink), I am seeing the ACH vary from 0.5 to 0.56.  That's a 12% difference b

[2020-08-28 19:30] shorowit commented on #6529
Completed in https://github.com/NREL/EnergyPlus/pull/7230.

[2020-08-28 19:30] #6529 closed, assigned to nobody

[2020-08-28 19:33] shorowit commented on #6567
There was some work done in this area in https://github.com/NREL/EnergyPlus/pull/6385.

[2020-08-30 23:13] JimDirkes opened #8243 "Erratic humidity control when >1 piece of HVAC equipment in a zone"
One air loop w/ DX coil + VRF fan coil = poor humidity control
--------------
I've defined a system with one zone, one air loop, one VRF system, all supposed to control to a specified temperature and relative humidity. Temp control is good. Humidity control is not even close

### Details
Some additional details for this issue (if relevant):
- E+ v9.3
- indoor growing facility with equal values for

[2020-08-31 12:54] mjwitte commented on #8243
Initial review of the code for [SetpointManager:SingleZone:Humidity:Maximum](https://github.com/NREL/EnergyPlus/blob/6729dbe590f6808441d17b9ac36ba9085de91c06/src/EnergyPlus/SetPointManager.cc#L5811-L5874) shows that the zone node mass flow rate is being used to determine the humidity ratio setpoint, which would include flow from all HVAC inlets serving that zone. It should be the system node mass

[2020-08-31 13:25] mjwitte commented on #8232
@dareumnam Would you be able to add these fixes to #8240 ?

[2020-08-31 13:44] JimDirkes commented on #8243
I tried the SetpointManager:MultiZone:MaximumHumidity:Average at Mike's suggestion, but it does not appear to help....

[cid:978f7059-4a16-400a-bd22-6287ffd7e7a0]
James V Dirkes II, PE, BEMP, BCxP
Team Lead - Building Performance
616 450 8653
Foresight Management
https://fsmgmt.co/
LinkedIn <https://www.linkedin.com/in/jim-dirkes-4134447/>

Coffee Conversation:

Are we mistaking an increase of com

[2020-08-31 14:49] dareumnam commented on #8232
@mjwitte I got it. I'll update current PR.

[2020-08-31 16:40] dareumnam commented on #8232
@mjwitte Should the IDD change of FuelOil# be done separately? (since I/O freeze for this release was already done)

[2020-08-31 16:42] mjwitte commented on #8232
The IDD is clearly in error as noted above, so I think it needs to go in. But @Myoldmopar may want it done as a separate PR to give it more visibility?

[2020-08-31 20:42] dareumnam commented on #8232
@mjwitte I checked with Edwin that this needs to go in. I'll add this fix.

[2020-09-01 23:52] jcyuan2020 opened #8245 "Linux version IDFVersionUpdater converting problems"
Issue overview
--------------
The Linux version IDFVersionUpdater was reported to have problems issue with when up-converting from V7.2 to V8.0. The parameters in the object  ``Sizing:Zone`` were reported to be in wrong orders, so that the ``DesignDay`` took the place of the value of ``Cooling Minimum Air Flow Fraction``, where ``Heating Design Air Flow Method`` had been expected in stead. Some ot

[2020-09-02 18:44] #8065 closed, assigned to matthew-larson

[2020-09-03 08:38] jmarrec opened #8249 "OutputControl:Files isn't processed correctly."
Issue overview
--------------

Given the following IDF:

[code]

In epJSON you get
[code]

While the Cpp code is looking for `Output:Control`

https://github.com/NREL/EnergyPlus/blob/c3fbac0a78cc1f13110035e495678114a14b6206/src/EnergyPlus/IOFiles.cc#L287-L323

Refer to @Myoldmopar 's comment here https://github.com/NREL/EnergyPlus/pull/7904#issuecomment-678405079 for more info and original PR by @

[2020-09-03 09:06] jmarrec commented on #8249
https://github.com/NREL/EnergyPlus/commit/6bb7aa267a45774ebaf172372a0d083c9defdccc makes it run fine. the eplusout.end is always issued it seems though.

[2020-09-03 14:53] mjwitte commented on #7632
As highlighted here in [8250](https://github.com/NREL/EnergyPlus/pull/8250/files#diff-53d469ea3b6a205e26a9c8f8229c3998R290), it seems that a function to validate that an object type exists within the epJSON schema would be useful and should be a standard piece of every getinput function.

[2020-09-03 18:02] mjwitte opened #8251 "Modify EP-Launch crash handling when eplusout.end is turned off"
Issue overview
--------------
The new v9.4.0 OutputControl:Files object allows the user to disable the eplusout.end file. Both EP-Launch and EP-Launch3 assume that the simulation has crashed if there is no eplusout.end file and issues a message to that effect. So, EP-Launch needs to either mention this possibility in the warning message, or read the last line of the err output file to determine is

[2020-09-03 18:18] mjwitte opened #8252 "csv output problems"
Issue overview
--------------
There are some problems with eplusout.csv and eplusmtr.csv when generated directly from EnergyPlus using OutputControl:Files "Output CSV" = Yes:

* On windows - The header line has an extra CR character (OD OD OA on windows). Don't know if there's an extra character on other platforms.
* Monthly output for eplusmtr.csv is broken. The values are misaligned and some val

[2020-09-03 18:21] #8228 closed, assigned to nobody

[2020-09-03 18:56] mjwitte opened #8253 "Input errors cause segfault with empty err output"
Issue overview
--------------
As noted by @Myoldmopar in https://github.com/NREL/EnergyPlus/pull/7904#issuecomment-678405079 , using an invalid object type in the idf will cause a crash with an empty err output file.

There is a message to the console:
[code]
But then it crashes [here](https://github.com/NREL/EnergyPlus/blob/ff4b91794ae3dc5b6c17b9015d93d84122596e26/src/EnergyPlus/IOFiles.cc#L242)

[2020-09-04 02:31] #8220 closed, assigned to xuanluo113

[2020-09-04 14:00] #8241 closed, assigned to ajscimone

[2020-09-04 16:49] #8216 closed, assigned to nobody

[2020-09-04 19:04] chriswmackey opened #8254 "AirFlowNetwork:Surface fails when assigned to a Surface with Construction:AirBoundary with GroupedZones"
Issue overview
--------------
I am 99% sure that this is a bug in EnergyPlus that results from a missing check for [the new `Construction:AirBoundary` object](https://bigladdersoftware.com/epx/docs/9-3/input-output-reference/group-surface-construction-elements.html#constructionairboundary).  Specifically, if I create a `Construction:AirBoundary` that uses the `GroupedZones` option for `Radiant Exc

[2020-09-04 20:26] nealkruis commented on #8253
@mjwitte @Myoldmopar are you looking for a champion on this one? Happy to help with it if so.

[2020-09-04 21:39] TiejunWu commented on #8091
@RKStrand Thank you very much for looking into the details. Looks like the conclusion is that the slope of the transition line and the circumstance around the ceiling surface of the core zone likely caused the oscillation. So by extending the transition zone from 0.5-1.0ACH to 0.5-3.0 ACH, the slope of the transition line is reduced and can eliminate the oscillation. Given that 3.0 ACH is the lowe

[2020-09-05 20:17] nvskumar-m opened #8256 "module 'numpy' has no attribute 'ndarray'"
Issue overview
--------------
I have created EP Python Plugin which uses third party libraries like numpy for computation. On testing, I understood that EP python requires library folders added to the current working directory or Python standard library directory located in C:\EnergyPlusV9-3-0.

I have added all the python libraries specified in the error. But after installing numpy, EP is asking

[2020-09-06 16:36] chriswmackey commented on #8254
@mjwitte  and @Myoldmopar ,
I know that you two were the ones who added the `Construction:AirBoundary` and I thank you immensely for this feature.  We've made it a standard part of the Ladybug Tools package such that there will now be thousands of people making use of it.
Is there any chance that either of you could confirm that this interaction of the `Construction:AirBoundary` with the AirflowNe

[2020-09-07 13:39] #8084 closed, assigned to jmarrec

[2020-09-07 13:53] Myoldmopar commented on #8256
Not exactly, but we are working on it.  The plugin system has had some important improvements that will be released with 9.4 in a few weeks, and we look forward to formalizing the way third-party libraries are added to the packaged up Python library for the next version after that.

There is a bit of a hacky workaround, which has been proven by other users, but let's just call it unofficial guidan

[2020-09-07 14:18] nvskumar-m commented on #8256
Thank you for reply @Myoldmopar.
After the post, I tried an approach that involves invoking the virtual environment from __init__.py in **venv** directory.
firstly I created a **ENV_DIR** directory and later used the python.exe from **script** subfolder .
But the installed libraries are in **Lib** folder of **venv** directory and are being required to be pasted in **python_standard_lib** directory

[2020-09-07 15:53] Myoldmopar commented on #8256
@nvskumar-m I don't think you want to be moving files around.  I would suggest some trying to point EnergyPlus to the venv's library directory.  In the Python search paths object, just list "path\to\my\venv\Lib", or whatever path has the `numpy` folder in it.  Again, you'll want it to be the same version of Python as packaged up with EnergyPlus.

Umm, yes.  It will certainly be slower than running

[2020-09-07 18:21] #8233 closed, assigned to nealkruis

[2020-09-08 05:20] nvskumar-m commented on #8256
Thank you @Myoldmopar. I think path should be provided even in EnergyPlus IDF other than in system Python Library Search Path. This is because earlier I tried adding "path\to\my\venv\Lib" in Python Library Search Path but it didn't worked. However, I will try once again and let you know. Regarding EP version, while trying the Python virtual environment I downgraded my Python version from 3.8 to 3.

[2020-09-08 05:46] #8256 closed, assigned to nobody

[2020-09-08 13:18] bonnema commented on #8256
@nvskumar-m @Myoldmopar: just FYI, I've used the following in my `PythonPlugin:SearchPaths` objects for various operating systems:
- Debian GNU/Linux: `/usr/local/lib/python3.7/dist-packages`
- MacOS: `/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages`
- Windows 10: `%USERPROFILE%\AppData\Local\Programs\Python\Python37\Lib\site-packages`

These all used python downloade

[2020-09-08 13:45] mjwitte commented on #8254
@chriswmackey Hmm, the way `Construction:AirBoundary` is implemented, when using the grouped option for both solar and radiant exchange, the surface is not tagged as a heat transfer surface and is essentially removed from the simulation. So there is no surface to attach AFN objects to. When using the `IRTSurface` or `InteriorWindow` options, the surface remains in the model with modified heat tran

[2020-09-08 13:56] mjwitte commented on #8253
@nealkruis I'm not planning to work on this at the moment. I haven't tracked down when it broke. Sometime after #8188 was merged.

[2020-09-08 14:00] Myoldmopar commented on #8253
I don't mind if you tackle it, but of course any change in the input processor should get blessed by @mbadams5.  Any thoughts/tips @mbadams5?

[2020-09-08 15:47] mbadams5 commented on #8253
I don't have any thoughts at the moment. I was going to poke around at it today since I am curious how this is happening. If I do find any leads, I'll let @nealkruis know.

[2020-09-08 18:10] saeranv opened #8259 "Tips and Tricks Document Air Wall section is outdated - should refer to Construction:AirBoundary"
Issue overview
--------------
This issue stems from my difficulties attempting to model interzone airflow through Air walls with the AirflowNetwork (AFN), originally detailed in this unmethours post[1]. In his response to my post @jasondegraw suggested that the lack of support for SimpleOpening objects in Air walls could be considered a bug, given the purpose of the Air wall to model interzone hea

[2020-09-08 18:30] mjwitte commented on #8259
@saeranv The referenced tips and tricks section was written before `Construction:AirBoundary` was added. It needs a major rewrite - noted.

Regarding AFN with `Construction:AirBoundary` see #8254.

[2020-09-08 19:02] DavidHollman opened #8260 "Output file eplusout.bnd is not being created in the specified output directory"
Instead, the `bnd` file is being created in the location that `energyplus.exe` is in.

In my case energyplus.exe is run from under the Program Files directory; as a result it is (rightly) not allowed to write to disk in that location. But this causes an error in my application.

We are using the `-d` option and can see that all the other output files are using it, such as `eplusout.mtr`, `eplusout

[2020-09-08 19:03] DaveInCaz commented on #8260
In addition to reporting the issue, I also need to find at least a workaround. In my case `energyplus.exe` is run from under the `Program Files` directory; as a result it is (rightly) not allowed to write to disk in that location. But this causes an error in my application.

[2020-09-08 19:06] mitchute commented on #8260
This may be corrected by #8250. @jmarrec any thoughts?

[2020-09-08 19:10] DavidHollman commented on #8260
In addition to reporting the issue, I also need to find at least a workaround while using 9.3, if anyone has a suggestion.

For my purposes, it would be fine if I can entirely suppress creation of this file.

[2020-09-08 21:13] DavidHollman commented on #8260
Small update - testing EnergyPlus running in a different (writable) location, the bnd file is then created OK, and also I see no other errant output files in that location. So this does seem isolated to that one file.

[2020-09-09 02:35] chriswmackey commented on #8254
Thanks, @mjwitte .  Your explanation confirms what I thought was going on.

Having the AirflowNetwork ignore the Surface with the `Construction:AirBoundary` is definitely a solution that allows the simulation to continue since I have been able to run the IDF I attached after removing the `AirflowNewtwork:MultiZone:Surface` that is tied to the `BuildingSurface:Detailed` that is using the `Construct

[2020-09-09 14:18] nealkruis opened #8262 "Severe "non-convex" errors appear when using PixelCounting"
Issue overview
--------------
The PixelCounting method tessellates all surfaces into many triangles (which are by definition convex), removing any limitations of non-convex (i.e., concave) surfaces from the shading algorithm. These errors should not appear.

See this post on [Unmet Hours](https://unmethours.com/question/47154/can-i-ignore-the-severe-non-convex-determineshadowingcombinations-warnin

[2020-09-09 14:39] mjwitte commented on #8254
@chriswmackey This raises the question of how flexible we should allow this to be. I have a working version that allows AirflowNetwork:MultiZone:Surface to reference an air boundary surface. It also allows any type of opening or crack to be attached to an air boundary surface (even if the air boundary surface is not a fenestration surface). It runs and produces AFN Zone Mixing Volume values. I'll

[2020-09-09 18:24] matthew-larson opened #8265 "Site-source conversion factor for steam is wrong"
Issue overview
--------------
The default site-source conversion factor for steam in the ABUPS report might be wrong. With all defaults, the value is 0.300 for steam. This seems more like the conversion efficiency of steam. Other sources put the site-source factor at 1.20-1.35.

![image](https://user-images.githubusercontent.com/17144687/92638201-2ac8af00-f297-11ea-9f0c-72316bf74715.png)

### Deta

[2020-09-10 08:47] hongyuanjia opened #8268 "EnvironmentPeriods table in SQL output did not contain all environment data"
Issue overview
--------------
The `EnvironmentPeriods` table in SQL output did not contain data of all environment period index mentioned in the `Time` table.

### Details
Some additional details for this issue (if relevant):
 - Platform: Windows 10
 - Version of EnergyPlus: v9.2

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x]

[2020-09-10 18:27] mitchute commented on #7877
It looks like this isn't relevant anymore due to #8235, #8181, #8173, #8139, #8105, #8093, #8086, #7927, #7836, #7835, AND #7776. Whew!

Feel free to reopen or start a new issue if needed.

[2020-09-10 18:27] #7877 closed, assigned to Myoldmopar

[2020-09-10 18:36] Myoldmopar commented on #7877
OMG.  Thanks for itemizing those @mitchute !

[2020-09-10 18:51] mitchute commented on #7877
There were more 😆

[2020-09-11 14:29] #8232 closed, assigned to dareumnam

[2020-09-11 14:30] mitchute opened #8271 "Followup Transitions for End-Use Subcategory Names"
Issue overview
--------------
Follow up to #8240.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect f

[2020-09-11 18:32] chriswmackey commented on #8254
Thank you, @mjwitte !  That's wonderful to hear that you have a fix ready that allows the assignment of AFN Opening objects to the surface.  I am definitely happy to do some QAQC of the results once there's a build available.

I know that my philosophy isn't always the most appropriate but I am a big fan of allowing the simulation proceed but adding Severe warnings if the user input is fishy.  Thi

[2020-09-11 19:11] mjwitte commented on #8254
@chriswmackey Thanks for the feedback. As it stands right now, the code in #8263
1. Allows cracks to be applied to air boundary surfaces without warning.
2. Warns and turns off any venting controls on an air boundary surface (sets to Constant with no schedule).
3. It appears that the EMS actuator for Airflow Network Openings should work for air boundary surfaces - but I need to test to be sure. Th

[2020-09-11 19:26] mjwitte commented on #8254
@chriswmackey For a test build - Mac, Linux, or Windows?

[2020-09-11 20:25] #8126 closed, assigned to RKStrand

[2020-09-11 20:26] chriswmackey commented on #8254
Hi @mjwitte ,
All great to hear and thanks again!  For testing on my end, Windows would be ideal.  By "contact you directly" do you mean via email?

[2020-09-11 21:42] mjwitte commented on #8254
@chriswmackey Never mind that. I've tagged a [pre-release](https://github.com/NREL/EnergyPlus/releases/tag/pre-v9.4.0-TestAFN) for you (or anyone) to test. Installers for all platforms should appear within a few hours. Really appreciate your willingness to test. FYI, v9.4.0 code freeze is next week on 9/17 or so. So, this is timely. I can make any needed changes up to about 9/16.

[2020-09-12 00:09] chriswmackey commented on #8254
@mjwitte , Wonderful!  Thanks for putting together the pre-release and, if I didn't say it earlier, I really appreciate the quick fix here and all that you have done to make the AirBoundary constructions a reality.  I'll try to test everything later tonight or tomorrow morning depending on when the Windows installer gets built.  And I'll post the results here once I have them.  Thanks again!

[2020-09-12 20:36] chriswmackey commented on #8254
@mjwitte ,

I tested a bunch of scenarios on my end and some things seem to be working as intended while others not so much.

First, I verified that the previous file with the fatal error could simulate without warnings, which it could, though it was using an AFN Crack for the air boundary and we know that is not the best way to model it. For what it's worth, the air flows across the AirBoundary S

[2020-09-12 21:04] chriswmackey commented on #8254
I verified that the same thing seems to be happening when I have a vertical Air Boundary surface that is using a `SimpleOpening` object.  Here is the air flow that I get when the `Air Mass Flow Coefficient When Opening is Closed` is very low:

![image](https://user-images.githubusercontent.com/5567574/93004879-4b07a080-f519-11ea-9152-822a61160a20.png)
![image](https://user-images.githubusercontent

[2020-09-12 21:19] chriswmackey commented on #8254
I have one last check that I did: I set the OpenFactor of the `SimpleOpening` on the AirBoundary surface to be always open using the EMS but this still did not have any effect.  It's always the `Air Mass Flow Coefficient When Opening is Closed` that determines the flow across the air boundary.

This is still a huge improvement from before but it would be really nice if there's some way to have the

[2020-09-13 07:34] saeranv commented on #8259
Thanks for the response @mjwitte, I can see that you've made a lot of progress towards fixing this in the other git issue with Chris. I'll follow up there if I have any further questions.

[2020-09-13 14:36] jmythms commented on #7949
I was correcting this issue and noticed some inconsistent capitalization. Does the capitalization of "y" and "n" mean anything specific in the last column of this table? Else, I can correct it to look the same way.

[2020-09-14 01:43] mjwitte commented on #8254
@chriswmackey Thanks for testing. I'll work on figuring out why the openings are always closed.

[2020-09-14 16:40] mitchute commented on #7949
Feel free to correct them to be all upper case.

[2020-09-14 17:56] mjwitte commented on #8254
@chriswmackey I think it's fixed now. The openings should be fully open now (at the specified Window/Door Opening Factor) and controllable with EMS.
Here's another [test release](https://github.com/NREL/EnergyPlus/releases/tag/pre-v9.4.0-Test2AFN).

[2020-09-14 18:07] mjwitte commented on #8253
Looks like @mitchute has a fix in #8273.

[2020-09-14 19:54] lgu1234 opened #8274 "Replace a double check for a Coil:Cooling:DX with subcool reheat coil type by a single one"
Issue overview
--------------
There are a few if statements with following checks for a Coil:CoolingDX with subcool reheat coil:

coilCoolingDXs[this->m_CoolingCoilIndex].SubcoolReheatFlag &&  this->m_CoolingCoilType_Num == DataHVACGlobals::CoilDX_Cooling

Since SubcoolReheatFlag is a subset of DataHVACGlobals::CoilDX_Cooling, the check of this->m_CoolingCoilType_Num == DataHVACGlobals::CoilDX_Coo

[2020-09-14 21:20] mitchute commented on #8238
Part 2 - regarding utility_bill02.rb.idf hanging up.

E+ is getting stuck here after reading the last line in the weather file. The run period runs from April to April, so we have to rollback to the beginning of the weather file from this point forward.
https://github.com/NREL/EnergyPlus/blob/7badc378a280879046ae72d47b0b12e90e5ea128/src/EnergyPlus/WeatherManager.cc#L8344

The weather file input st

[2020-09-15 01:10] chriswmackey commented on #8254
Thanks @mjwitte .  I will check it out now.

[2020-09-15 02:38] chriswmackey commented on #8254
Woohoo! It all seems to be working as intended.  I re-ran my initial model with a horizontal AirBoundary and got the following results regardless of what value was set for the `Air Mass Flow Coefficient When Opening is Closed`.

![image](https://user-images.githubusercontent.com/5567574/93157914-278b5400-f6d9-11ea-934d-d49bc5fa70a3.png)
![image](https://user-images.githubusercontent.com/5567574/93

[2020-09-15 15:30] #8249 closed, assigned to nobody

[2020-09-15 15:32] jmythms commented on #7949
These outputs seem to be on a layer by layer basis as seen [here](https://github.com/NREL/EnergyPlus/blob/7badc378a280879046ae72d47b0b12e90e5ea128/src/EnergyPlus/HeatBalFiniteDiffManager.cc#L951-L994). Should the variable names be changed to add "layer" or similar help clarify this point? @mjwitte @Myoldmopar  Do you have any other suggestions on this suggested change?

[2020-09-15 16:01] #8091 closed, assigned to RKStrand

[2020-09-15 16:53] MatthewSteen commented on #6944
One important reporting capability will be _load shifting_ from both the building's perspective and the utility's perspective. Currently, EnergyPlus reports the building's _time_ of peak (from Output:Meter and Energy Meters report) but does not report the utility's time of peak (Tariff Report), which can be and often is different.

https://unmethours.com/question/46442/can-energyplus-report-the-ti

[2020-09-15 17:14] mldichter opened #8276 "New Feature Request: Allow Water Heater objects to accept UEF rather than Heater Thermal Efficiency"
Issue overview
--------------
EnergyPlus uses Heater Thermal Efficiency for the WaterHeater:Mixed object, but the federally mandated Universal Energy Factor (UEF) is now the standard efficiency rating on water heaters. There are tools to convert from UEF to the Heater Thermal Efficiency field value, like in the UnmetHours post linked below, but wouldn't it be nice to use the new metric directly?

[2020-09-16 14:55] jmythms commented on #7926
I will attempt to correct the issue. Thanks.

[2020-09-16 15:41] mjwitte commented on #5835
Closed via #6127.

[2020-09-16 15:41] #5835 closed, assigned to Nigusse

[2020-09-16 16:58] mitchute opened #8277 "Documentation Issues 2021a"
Issue overview
--------------
A place to collect documentation issues.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidel

[2020-09-16 17:00] mitchute commented on #8277
- [x] See here: https://github.com/NREL/EnergyPlus/issues/7949#issuecomment-692795398
This may require output changes.

[2020-09-16 17:24] Myoldmopar opened #8278 "Running regressions tries to upload Amazon every time"
Even if you are just wanting to run regressions locally.  The sequence is essentially:

1. If you turn on BUILD_TESTING in your CMake configuration, you will get integration tests which run EnergyPlus and check to make sure it succeeds.  These tests are named `integration.IDFName`.
2. If you have ENABLE_REGRESSIONS or whatever turned on in your CMake configuration, then it will add another test fo

[2020-09-16 18:41] #8253 closed, assigned to nealkruis, ajscimone

[2020-09-16 18:50] #8265 closed, assigned to matthew-larson

[2020-09-16 18:56] mitchute opened #8279 "WeatherManager Hangs on RunPeriods that Run Past the End of Year"
Issue overview
--------------
Need to address the second part of #8238. ```utility_bill02.rb.idf``` has a RunPeriod that runs April to April. WeatherManager drops into an infinite loop after reading the last line of the weather file. This comment can provide some additional context.
https://github.com/NREL/EnergyPlus/issues/8238#issuecomment-692320703

### Details
Some additional details for this

[2020-09-16 19:31] #8224 closed, assigned to jmarrec

[2020-09-16 19:38] #8169 closed, assigned to nobody

[2020-09-16 21:50] #8066 closed, assigned to jmarrec

[2020-09-16 22:50] jcyuan2020 opened #8281 "Transition program from V9.1 to V9.2 processes Table:TwoIndependentVariables incorrectly"
Issue overview
--------------
When a Table:TwoIndepenentVariables object exist in the idf file, the transition program will not recognize and convert it correctly. The transition program will try to use two Table:IndependentVariable objects, a Table:IndependentVariableList, and a Table:Lookup object to replace the original Table:TwoIndependentVariables obeject, but reporting some values that do no

[2020-09-16 23:53] ajscimone opened #8282 "EnergyPlus does not report a clear message about where it attempted to find files which were not found."
Issue overview
--------------
When given an idf which contains references to an external file, EnergyPlus does not report a clear message when it is unable to find that file. For example given an idf snippet such as:

     Constant,                !- Extrapolation Method
     -25,                !- Minimum Value
     45,                !- Maximum Value
     35,                !- Normalization Refe

[2020-09-17 15:01] #7949 closed, assigned to nobody

[2020-09-17 15:01] #7926 closed, assigned to nobody

[2020-09-17 15:04] mitchute commented on #8277
- [x] "Useh by EnergyPlus"

https://github.com/NREL/EnergyPlus/blob/develop/doc/auxiliary-programs/src/weather-converter-program/definitions-file-custom-file-processing.tex#L312

https://github.com/NREL/EnergyPlus/blob/develop/doc/auxiliary-programs/src/weather-converter-program/definitions-file-custom-file-processing.tex#L318

[2020-09-17 18:40] mitchute opened #8284 "Add New Zone Ideal Loads Output Variables"
Issue overview
--------------
#8109 partially fixes #5788, but this comment should still be considered: https://github.com/NREL/EnergyPlus/issues/5788#issuecomment-235060715

TL;DR: add the following output vars:
- [x] Zone Ideal Loads Supply Air Temperature
- [x] Zone Ideal Loads Supply Air Humidity Ratio

### Details
Some additional details for this issue (if relevant):
 - Platform (All)
 - Vers

[2020-09-17 20:02] matthew-larson opened #8285 "Near zero single speed cooling coil electric power for unitary system with cycling supply fan"
Issue overview
--------------
I have a model that has a Unitary System set up as a DOAS with gas heating, DX cooling, and cycling fan operation. The cycling fan operation is set by the Supply Air Fan Operating Mode Schedule Name input field of the unitary system object with the schedule set to always zero.

![image](https://user-images.githubusercontent.com/17144687/93522092-3860e300-f8ee-11ea-9d0

[2020-09-17 22:05] #8271 closed, assigned to dareumnam

[2020-09-18 13:18] #8254 closed, assigned to nobody

[2020-09-18 13:18] #8259 closed, assigned to nobody

[2020-09-18 13:36] mjwitte commented on #8254
@chriswmackey This has been merged for the v9.4 release at the end of September.

[2020-09-18 17:50] #6794 closed, assigned to mjwitte

[2020-09-19 15:58] #8000 closed, assigned to nealkruis

[2020-09-20 01:30] #8200 closed, assigned to ajscimone

[2020-09-21 01:28] #7914 closed, assigned to matthew-larson

[2020-09-21 01:28] #7998 closed, assigned to matthew-larson

[2020-09-21 10:31] jmarrec opened #8289 "New Segfault in SolarShading.cc in v940-RC1 (regression from v940-IOFreeze)"
Issue overview
--------------

Probably related to #8269

OpenStudio has an IDF file that's simulated early in the build, called Daylighting_Scool.idf. This was working fine at v9.4.0-IOFreeze and now segfaults. See https://github.com/NREL/OpenStudio/blob/develop/resources/energyplus/Daylighting_School/in.idf

I built E+ v9.4.0-RC1 in Debug mode:

[code]

[code]

Found this in  https://github.com/

[2020-09-21 12:20] mitchute commented on #8289
The segfault happens here

https://github.com/NREL/EnergyPlus/blob/1f94ff5167d902b3d5303981d1d0dff3d11f4823/src/EnergyPlus/SolarShading.cc#L11800

with ```ConstrNumSh``` having a value of ```0```.

[2020-09-21 12:23] Myoldmopar commented on #8289
If there is an obvious fix that can be implemented quickly that's great, if not we can revert out the shaded construction stuff, at least temporarily.  (I'm guessing there is a quick appropriate fix though...)

[2020-09-21 12:23] jmarrec commented on #8289
Yep the backtrace I produced with lldb shows that. here's the object in IDF:

[code]

AS you can see this WindowShadingControl uses the "Shading Device Material Name", not the "Construction with Shading Name"

[2020-09-21 13:02] jmarrec commented on #8289
Git bisect output:

first bad commit: [14be9f447d369cfad77531deae5cfc3d1a641dd0] All changes from previous branch AllowMultipleScheduleShades updated to latest develop

[2020-09-21 13:25] mjwitte opened #8290 "Humidity control anomalies"
Issue overview
--------------
Documenting some interesting results noted in the research of diffs for #7861 which need further investigation.

- [ ] Changes in "CheckWarmupConvergence: Loads Initialization" severe errors. These errors went away for Supermarket, New errors appeared for Fault_HumidistatOffset_Supermarket, Fault_HumidistatOffset_Supermarket, Fault_HumidistatOffset_ThermostatOffset_Su

[2020-09-21 13:35] mjwitte commented on #8289
@jmarrec We'll work on fixing this. Even when Shading Device Material Name is used, a `ConstrNumSh` should be created and assigned.

[2020-09-21 13:50] #7855 closed, assigned to Nigusse

[2020-09-21 13:59] mjwitte commented on #7728
Closed via #7861.

[2020-09-21 13:59] #7728 closed, assigned to Nigusse

[2020-09-21 16:48] jmythms commented on #8277
- [x] Posting this issue from #7760 here, requesting comments on how to handle it.

https://github.com/NREL/EnergyPlus/issues/7760#issuecomment-585356366
@jasondegraw @jasondegraw

[2020-09-21 16:51] mitchute commented on #8277
@JasonGlazer FYI the above comment: https://github.com/NREL/EnergyPlus/issues/8277#issuecomment-696236954

[2020-09-21 19:54] #8289 closed, assigned to JasonGlazer

[2020-09-21 21:04] #7957 closed, assigned to jcyuan2020

[2020-09-21 21:04] #8030 closed, assigned to nobody

[2020-09-21 22:20] mjwitte commented on #7511
@JasonGlazer Do you know if this issue is resolved by the shading control changes in #8269 ?

[2020-09-22 07:49] jeannieboef commented on #6530
EnergyPlus used to report other ratings such as SEER for dx-units, etc. Should the same not be doable for windows? It makes reporting the input verification far easier and clearer, especially for less experienced users who have no experience creating glazing systems with WINDOW.

[2020-09-22 13:41] #7254 closed, assigned to Myoldmopar

[2020-09-22 13:45] #8262 closed, assigned to nealkruis

[2020-09-22 15:36] jmythms commented on #6895
@rraustad @mjwitte @mitchute
Output variables for Unitary system: Cycling ratio and compressor ratio are only available for two speed coils.
But 5Zone_Unitary_HXAssistedCoil only has a variable speed coil.  Shall we convert these to two speed coils or ignore these unitary output variables?

[2020-09-22 16:03] JasonGlazer commented on #7511
I did not address this issue specifically

[2020-09-22 17:01] #8208 closed, assigned to nobody

[2020-09-22 17:01] #8223 closed, assigned to nobody

[2020-09-22 17:01] #8252 closed, assigned to nobody

[2020-09-22 17:01] #8279 closed, assigned to nobody

[2020-09-22 19:26] rraustad commented on #6895
These output variables were probably carried over when this file was copied to create this example. I suggest ignoring or deleting these variables.

[2020-09-22 19:32] mjwitte commented on #6895
For the DX coil baseline branch, I changed it so that unitary uses the multi-speed outputs for two-speed. It helps with comparisons to Coil:Cooling:DX, but maybe we want to make that change long-term?

[2020-09-22 19:46] mjwitte commented on #6895
See changes to UnitarySystem.cc [here](https://github.com/energy-plus/EnergyPlus/tree/CoilBaselineFeb2020Sep2020)

[2020-09-22 23:03] mitchute commented on #6895
@mjwitte @rraustad @jmythms

FYI, those outputs aren't available on the baseline branch but they are on the DX refactor branch.

It looks like the struct variable ```m_CycRatio``` is shared here, but called different by the different coils. Two-speed calls it "Unitary System Cycling Ratio, while in another place like [here](https://github.com/energy-plus/EnergyPlus/blob/CoilRefactorFeb2020Sep2020/

[2020-09-23 00:23] mjwitte commented on #6895
Or just wait until after 9.4 and do all of the above. Either way.

[2020-09-23 00:43] mitchute commented on #6895
Fine by me. @jmythms let's put a pin in this part until after the release.

[2020-09-23 00:47] jmythms commented on #6895
Ok. Thanks everyone for the suggestions!

[2020-09-23 01:24] mjwitte commented on #7511
Confirmed that these warnings are still present in v9.4.0-575a350ad4 (almost release).

[2020-09-23 10:38] jmarrec commented on #8238
#8273 fixed part 1. I still have `utility_bill02.rb.idf` hanging with v940-RC2

@Myoldmopar

[2020-09-23 11:46] mitchute commented on #8238
I just checked mine again. This fix did correct it. I'll do some more testing here.

[2020-09-23 11:52] mitchute commented on #8238
Ah, this PR isn't in RC2: https://github.com/NREL/EnergyPlus/commits/develop

I'm gonna close this but feel free to open it again if it still fails with RC3.

[2020-09-23 11:52] #8238 closed, assigned to nobody

[2020-09-23 15:03] mjwitte commented on #6573
Also, the context string was not initialized, so the console output dumped a bunch of garbage when run from a command window if there was an error.
And the index for writing the err file was incorrect, so the last error message was repeated in the err output. See attached:
[ParametricPreProcessor.zip](https://github.com/NREL/EnergyPlus/files/5269034/ParametricPreProcessor.zip)

[2020-09-23 15:52] mitchute commented on #8147
It looks like the energy is flowing in the right direction for both heating and cooling. The first plot is for the example file from Jan 1-7 using the Chicago EPW; the second is for July 1-7.

![Screen Shot 2020-09-23 at 9 48 43 AM](https://user-images.githubusercontent.com/2985979/94036920-0cc47980-fd82-11ea-9279-d8c0a7d509cf.png)
![Screen Shot 2020-09-23 at 9 48 54 AM](https://user-images.github

[2020-09-23 15:55] rmcclung commented on #8147
The heating reported was not the problem, it’s the temperature coming out of the condenser, one variable is reporting the correct number, but the other variable is not.  And the condesnor loop is behaving as though the wrong temperature is coming out.  The heat pump is effectively heating both the building and the ground source.

From: Matt Mitchell <notifications@github.com>
Sent: Wednesday, Sept

[2020-09-23 16:09] mitchute commented on #8147
OK, I see it now. Sorry about that. I'll reopen while we investigate this.

![Screen Shot 2020-09-23 at 10 08 55 AM](https://user-images.githubusercontent.com/2985979/94039357-ddfbd280-fd84-11ea-8a3d-a6053ba9e785.png)

[2020-09-23 17:03] mitchute commented on #8147
Is it Friday yet...? This previous plot is for the load side, which is not what you asked about. That does look OK.

From the HP Source Side report variables, the temps look OK.

![Screen Shot 2020-09-23 at 10 15 13 AM](https://user-images.githubusercontent.com/2985979/94040166-d983e980-fd85-11ea-9dc4-c5ecb051d3e0.png)

System node temps for the condenser nodes on the heating side also look OK. Th

[2020-09-23 18:48] matthew-larson opened #8299 "Zero heating rate in DOAS Unitary System with Temperature Setpoint Node Name"
Issue overview
--------------
I have a model that has a Unitary System set up as a DOAS with fuel heating, DX cooling, and cycling fan operation. The fuel heating coil has it's setpoint node name specified as the heating coil's outlet node (see below).

       Coil:Heating:Fuel,
         DOAS Unitary Heating Coil, !- Name
         ...
         DOAS Unitary Heating Coil Outlet Node, !- Air Outlet N

[2020-09-23 20:53] nmerket opened #8300 "Schedule:File option to ignore daylight savings time"
Issue overview
--------------
When a `Schedule:File` is used and daylight savings is turned on for a simulation, daylight savings is applied to the schedule file values by [removing an hour in the spring and duplicating an hour in the fall](https://github.com/NREL/OpenStudio-BuildStock/issues/469#issuecomment-697849076). This behavior is not documented although there is a warning issued (#4071). W

[2020-09-24 01:29] shorowit commented on #8163
@jmarrec I'm still getting this warning using an IDF produced by OpenStudio-3.1.0-alpha+a754624776-Windows.exe. As far as I can tell, the IDF looks to be correctly written so I'm not sure why E+ is giving a warning.

[in.idf.txt](https://github.com/NREL/EnergyPlus/files/5272883/in.idf.txt)

[2020-09-24 07:59] jmarrec commented on #8163
@shorowit HEAD commit of PR #8172 https://github.com/NREL/EnergyPlus/pull/8172/commits/41869bc7a5df4bb251fa66f04d8a2f28c6dba7e9 is only in v9.4.0-RC1 not in v9.4.0-IOFreeze which is what your OS installer is using. I confirmed that the warning isn't issued with current E+ develop.

![image](https://user-images.githubusercontent.com/5479063/94117547-a0627c80-fe4c-11ea-9c6d-76044cc66ac4.png)

[2020-09-24 07:59] #8163 closed, assigned to jmarrec

[2020-09-24 13:05] shorowit commented on #8163
Oops! Sorry about that. Thanks @jmarrec.

[2020-09-24 14:42] shorowit opened #8301 "E+ 9.4 fuel types for EMS actuators"
Issue overview
--------------
While most every object in EnergyPlus 9.4 got its fuel types updated (e.g., Electric -> Electricity, Gas -> NaturalGas, etc.), it looks like EMS actuators were not updated. For example, some of the equipment actuators still use "Electric Power Level" and "Gas Power Level".

[2020-09-24 15:08] rmcclung commented on #8147
Strange that the cooling side is misbehaving for you, when I run it with the Vancouver (Canada) weather file, the heating condenser side is what's showing the wrong behavior and the chiller condenser is fine. (although when there is no flow the inlet does keep updating temp while the outlet stays on the last reported temp when there was flow...which I see a lot for plant temps anyway and is pretty

[2020-09-24 15:19] mitchute commented on #8147
Thanks, @rmcclung. I'll test with Vancouver.

[2020-09-24 17:33] mitchute commented on #8147
@rmcclung which version of E+ are you using? I fixed the issue you mention regarding the outlet temp not tracking the inlet temp in #8072. That will be available in the upcoming release due at the end of the month. I don't think that explains your original question, but it does make me wonder why the chiller condenser temps aren't tracking.

[2020-09-24 17:38] rmcclung commented on #8147
9.3.0

[2020-09-24 18:11] mjwitte commented on #8299
@matthew-larson That IO Ref should read more like this:
Temperature Setpoint Node Name - If the coil is used in the air loop simulation *directly on a branch* and is temperature controlled using a Set Point Manager, then the node that is the control node needs to be specified here. If the coil is used in an air terminal unit *or other parent object (ZoneHVAC:* or AirloopHVAC:*)*, the coil is contr

[2020-09-24 18:16] rraustad commented on #8299
I'll add that the UntarySystem can be specified as Load, SetPoint or SZVAV controlled, and in the case of SetPoint control, control nodes are required.

    A2,  \field Control Type
       \type choice
       \key Load
       \key SetPoint
       \key SingleZoneVAV
       \default Load
       \note Load control requires a Controlling Zone name.
       \note SetPoint control requires set points at

[2020-09-24 18:19] mjwitte commented on #8299
@rraustad A setpoint is required at the coil outlet node node, yes, But what about the Coil:Heating:Fuel field for "Temperature Setpoint Node Name"? I think that needs to be blank for this use case.

[2020-09-24 18:20] rraustad commented on #8299
Good point, I think your correct but would have to test to be sure.

[2020-09-24 19:09] rraustad commented on #8299
I think I'd end that description above as:

... the coil is controlled by the parent object and the temperature set point node name is not required.

It may be possible for the UnitarySystem to zero out the heating coil's temperature control node for this use case.

[2020-09-24 20:01] matthew-larson commented on #8299
Thanks for the feedback.  I agree that the IO Ref needs to be modified to make it more clear when this node should be specified.  What also concerned me was even though you do get the following warning if the node is not required, it doesn't state the magnitude of the error that it could result in zero heating energy.  I was going to see if there is a bug that is zeroing out the heating energy in

[2020-09-24 20:57] jmarrec opened #8303 "Fuel Type renames: update the StandardsReports"
Issue overview
--------------

https://github.com/NREL/EnergyPlus/blob/b1c7a5b4634ed662ef93c23b195ba084a09df3c6/datasets/StandardReports.idf#L273-L287
`InteriorEquipment:Gas` should be `InteriorEquipment:NaturalGas` for eg

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): all
 - Version of EnergyPlus (if using an intermediate build, include

[2020-09-24 21:01] mjwitte commented on #8303
It may be possible to address this by simply taking the v9.3 dataset file and running it through transition to 9.4. Wonder if any other dataset files have meter or output variable names lurking in them?

[2020-09-24 21:04] jmarrec commented on #8303
https://github.com/NREL/EnergyPlus/blob/b1c7a5b4634ed662ef93c23b195ba084a09df3c6/doc/input-output-reference/src/standard-output-reports/output-table-summaryreports.tex#L681

Plenty in performance_tests too, eg:

https://github.com/NREL/EnergyPlus/blob/b1c7a5b4634ed662ef93c23b195ba084a09df3c6/performance_tests/15zonePTAC.idf#L9889-L9903

[code]

[2020-09-24 22:26] ajscimone opened #8305 "Inlet and Outlet Node idf errors with AirLoopHVAC:UnitarySystem objects cause are not caught, resulting in faulty data members."
Issue overview
--------------
When using an *AirLoopHVAC:UnitarySystem*, the error detection for inlet and outlet nodes do not seem to catch mismatched nodes, and instead result in the following error far downstream in the simulation:

`** Severe  ** Duplicate internal variable was sent to SetupEMSInternalVariable.`

For example, in the attached idf, there is a typo in one of the *NodeList* items

[2020-09-24 22:33] mjwitte commented on #8305
Hmmm, I don't see how the EMS variable error could be related. Does this file run without that error if you correct the node name?

[2020-09-24 22:34] mjwitte commented on #8305
Noting here that the AirloopHVAC:UnitarySystem is used a zone equipment in this file.

[2020-09-24 22:36] shorowit commented on #8277
- [x] https://bigladdersoftware.com/epx/docs/9-3/input-output-reference/group-surface-construction-elements.html#field-shade-to-glass-distance "Note used for between-glass shades." should presumably be "**Not** used for between-glass shades."

[2020-09-24 22:37] ajscimone commented on #8305
No, I don't think this is related to the EMS variable error. I think this is some sort of parsing failure for Unitary System. Yes, the file will run correctly if you correct the name of the node. However, Unitary System is supposed to check its input and exhaust nodes and make sure they are hooked up correctly. This is somehow taking a decision path in that code that is not hitting the throw error

[2020-09-25 10:22] jmarrec commented on #8164
Ok, so after a deep investigation, this happens if you have any EMS program (whether it does something or not) that has the calling point `InsideHVACSystemIterationLoop` because it will increase the number of iterations significantly, because AirLoopHVACs will simulate more often.

Here is the difference with the 5ZoneAirCooled MCVE I created, for a simulation from 1/16 and 1/19:

![image](https:/

[2020-09-25 13:56] mjwitte commented on #8164
I agree that it would be too difficult to determine whether the EMS program actuated anything that is actually being used.
But a couple of extra iterations should not be moving the answer significantly.

[2020-09-25 14:31] jmarrec commented on #8164
The 5ZoneAirCooled.idf has a lot of unmet demand rate, increasing the number of iterations reduces it significantly.

df_noems[('HOT WATER LOOP', 'Plant Supply Side Unmet Demand Rate', 'W')].sum()

401526.3302085112

df_ems[('HOT WATER LOOP', 'Plant Supply Side Unmet Demand Rate', 'W')].sum()

15935.358127248337

[2020-09-25 14:36] jmarrec commented on #8164
Blue is the NO EMS

![image](https://user-images.githubusercontent.com/5479063/94280650-ece1b100-ff4d-11ea-994a-4b14ab5f6a4a.png)

It's happening at very low PLR. The boiler has a min PLR of 0 though:

[code]

[2020-09-25 14:59] jmarrec commented on #8164
Something in happening the bypass. Here is a diff (multiply by 100 to get percents) of all variables I requested.

![image](https://user-images.githubusercontent.com/5479063/94282181-cfade200-ff4f-11ea-8ce3-4ff0efbe9e69.png)

Here are the bypass flowrates:

![image](https://user-images.githubusercontent.com/5479063/94283293-1f40dd80-ff51-11ea-9b65-9bfbfcb3ec71.png)

![image](https://user-images.gi

[2020-09-25 14:59] jmythms commented on #7760
It's not very obvious, but the water-to-air heat pump cooling and heating coil equations and coefficients are explained in the engineering reference [here](https://bigladdersoftware.com/epx/docs/9-3/engineering-reference/air-system-compound-component-groups.html#single-speed-equation-fit-model). Updating the IO Reference with these references. Thanks @mjwitte

[2020-09-25 15:19] jmarrec commented on #8164
# Switching the `Boiler:HotWater` from `LeavingSetpointModulated` to `Modulated` makes the difference go away.

## LeavingSetpointModulated

![image](https://user-images.githubusercontent.com/5479063/94284864-439db980-ff53-11ea-96a4-fa76ae6b4cd7.png)

## NotModulated

![image](https://user-images.githubusercontent.com/5479063/94284621-ee61a800-ff52-11ea-837e-39bf80cd4c5c.png)

[2020-09-25 18:00] nealkruis opened #8309 "GitHub Actions don't perform documentation tests and show submodule error"
Issue overview
--------------
Two issues need to be resolved when using GitHub actions:

1. They were not set up to test the documentation (or create annotations from the LaTeX warnings/issues)
2. There was a submodule error issued post-checkout that was triggered by submodules in Penumbra

[2020-09-26 03:55] #7760 closed, assigned to nobody

[2020-09-27 05:49] mldichter opened #8311 "Surface Placement Documentation Request"
Issue overview
--------------
The algorithm for surface placement is opaque to EnergyPlus users. Some of the objects explicitly specify the vertex coordinates with possible Relative positioning from the Zone origin. Other surface objects are severely lacking in documentation, such as the Shading:Building object.
[code]
The Length {m} and Height {m} fields work counterintuitively in that the Length

[2020-09-27 11:08] Myoldmopar opened #8312 "EnergyPlus Build Warnings"
There are some build warnings showing up on a GCC 9.3.0 build (Ubuntu 20.04)

# String length warning
[code]
The warning is about the use of `strncpy`.  When using this function, the third argument is supposed to indicate the **maximum** number of characters to copy.  In these usages, the warning is emitted because we are simply copying the entire string anyway -- the "maximum" length we are passi

[2020-09-27 23:58] jcyuan2020 opened #8313 "Incorrect interpolations for weather data outputs at the first few sub-hour time step stamps"
Issue overview
--------------
In calculating the sub-hour time step values for the weather data, for the few time stamps prior to Hour 1, the code uses the values spot for Hour 1 and Hour 24 in the weather file for interpolation. Therefore, for the sub-hour time step interpretation, the few first hour values are actually interpolated using the first hour weather data and the 24th hour weather data

[2020-09-28 02:17] #8303 closed, assigned to dareumnam

[2020-09-28 02:22] #6573 closed, assigned to JasonGlazer

[2020-09-28 02:22] #8251 closed, assigned to JasonGlazer

[2020-09-28 04:05] mldichter opened #8316 "ZoneHVAC:HybridUnitaryHVAC ERR output malfunctioning"
Issue overview
--------------
The ZoneHVAC:HybridUnitaryHVAC appears to be causing this severe error in the ERR file, which is not properly filled out and references an object in the IDF that has nothing to to do with the ZoneHVAC:HybridUnitaryHVAC object.
[code]
The behavior can be reproduced by taking the UnitaryHybridAC_DedicatedOutsideAir.idf Example File, changing the SimulationControl object

[2020-09-28 21:00] mjwitte opened #8317 "Output:Table:Monthly does not warn about invalid variable or meter name"
Issue overview
--------------
Ran this poorly transitioned test file and saw now warning about this invalid meter name, just got zeros in the output table for "PEAK GAS DEMAND".
The offending meter name is "Water Heater:WaterSystems:Gas".

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.4-RC10

### Checklist
Add to this list or remove from it as applica

[2020-09-28 23:14] #8301 closed, assigned to nobody

[2020-09-29 01:42] macumber commented on #8311
Thanks @mldichter I am not sure if the bug is in OpenStudio or EnergyPlus. I agree that improved test set or documentation with pictures would be very helpful.  If there is a bug in OpenStudio then I think it is in the translation from IDF to OSM rather than in the OpenStudio Application.

[2020-09-29 17:17] mdahlhausen opened #8319 "Feature Request: AirTerminal:SingleDuct:VariableVolume:CooledBeam"
Issue overview
--------------
EnergyPlus has a AirTerminal:SingleDuct:ConstantVolume:CooledBeam object, but not a AirTerminal:SingleDuct:VariableVolume:CooledBeam object.  Users have requested this to be able to connect it to VAV air loops.

### Details
N/A

### Checklist
N/A

[2020-09-29 20:54] rraustad commented on #8243
I think the bigger issue here is the 2 zone inlet nodes. Both will impose a sensible and latent load on the zone such that the predicted load is no longer accurate.

[2020-09-29 21:04] rraustad commented on #8230
Ancillary is only applied to multispeed and the new coil models. This should be expanded to allow ancillary power to be applied regardless of coil type.

[2020-09-30 05:58] jcyuan2020 opened #8325 "Add additional inputs for chilled and hot water tank auto-sizing"
Issue overview
--------------
The current chilled water storage tank sizing limits the cold water temperature to be lower than 8C ( or around 46 F). If the chilled water plant exit temperature is greater than 8C, a severe error warning will be thrown—"Autosizing of Source side chilled water tank design flow rate requires Sizing:Plant object to have an exit temperature <= 8C".
That limit seems to b

[2020-09-30 12:11] #8309 closed, assigned to nealkruis

[2020-09-30 13:04] mjwitte commented on #8325
This limit (and a similar one for hot water storage) is driven by these stated sizing assumptions that are used for autosizing the Source Side Design Flow Rate
[code]

The sizing method takes the design supply temperature from the plan sizing object and applies it to the above temperatures to determine the required flow rate. So, to provide more flexibility, it seems that the storage objects need

[2020-09-30 15:41] mjwitte commented on #8313
I'm not convinced this is an error. I'll have to look at the source code (and history) more closely. My memory (from many years ago) is that we want to use the hour 24 data, because the first day is repeated for warmup, so this gives the same pattern for hour 1 for warmup days 1 and 2 and so on.

[2020-09-30 16:38] mitchute commented on #8260
Local testing shows that this has been corrected.

[code]

I'll close this, but feel free to reopen if you still have troubles.

[2020-09-30 16:38] #8260 closed, assigned to nobody

[2020-09-30 16:40] DavidHollman commented on #8260
@mitchute  thanks for the update. Do you know what release this will go into?

[2020-09-30 16:41] mitchute commented on #8260
v9.4 was released yesterday: https://github.com/NREL/EnergyPlus/releases/tag/v9.4.0

It should work there.

[2020-09-30 18:46] rraustad commented on #8230
As a follow up to my previous comment regarding reporting of acilllary power.

    } else if (SELECT_CASE_var == CoilDX_MultiSpeedCooling || (SELECT_CASE_var == CoilDX_Cooling)) {
        SetupOutputVariable("Unitary System Cooling Ancillary Electricity Energy",

My plan here is to add the ancillary electric power report to all other coil types. This seems reasonable since all system types have an

[2020-09-30 18:55] rraustad commented on #8230
I just checked that version 9.3.0-RC2 did have Unitary System Ancillary Electric Power and this report was removed for some reason. And it was always reported but would have shown 0 for the coil types uses in the input file.

Update: Nope, it wasn't removed, the name was changed to: Unitary System Ancillary Electricity Rate

![image](https://user-images.githubusercontent.com/5778156/94728552-6868a

[2020-10-01 02:09] rraustad commented on #8230
Here's a plot of calculated Ancillary Power with OffPower = 50 and OnPower = 100 versus PLR.

![image](https://user-images.githubusercontent.com/5778156/94757536-85ba6700-0368-11eb-8f02-a470bc786710.png)

And here is the defect file (with off power = 50) for Jan 1 - Jan 31 with a time series plot and then scatter plot of power vs PLR.

![image](https://user-images.githubusercontent.com/5778156/947

[2020-10-01 16:11] TiejunWu opened #8328 "Fan Power is 0 when Fan:OnOff is used to simulate a constant volume fan"
Issue overview
--------------
In the EnergyPlus example file ([DOAToVRF.IDF](https://github.com/TiejunWu/EnergyPlus-IDF-Files/blob/master/DOAToVRF.idf)), all VRF terminal units uses Fan:ConstantVolume object for terminal unit fan. When I changed TU1 terminal fan to Fan:Onoff type([DOAToVRF_FanOnOff.IDF](https://github.com/TiejunWu/EnergyPlus-IDF-Files/blob/master/DOAToVRF_FanOnOff.idf)), I used th

[2020-10-02 16:13] nealkruis opened #8329 "getAbsolutePath strips characters from the file name"
Issue overview
--------------
getAbsolutePath can strip the first two characters from the file name if 1) the file is in the current working directory, and 2) the path isn't defined with the preceding `"./"`.

Discovered when working on #8324.

### Details
Some additional details for this issue (if relevant):
 - Platform: macOS (likely others, but will test)
 - Version of EnergyPlus: 9.4

### Chec

[2020-10-04 18:37] mldichter commented on #5606
**IDF Editor greys out currently ignored fields**

Many fields in objects are ignored depending on the contents of other fields in the current object. Having ignored fields greyed out based on other field contents would make editing IDFs more straight forward for the user. A simple example is the Fan:SystemModel object, which has a Motor Efficiency field and a Fan Total Efficiency field. For the u

[2020-10-06 13:56] JasonGlazer commented on #5606
@mldichter this is an great idea that I think would help all users of the IDF Editor but it does require expressing the inter-field dependency relationships in the Energy+.idd/Energy+.schema.epJSON files which they currently do not contain. It would be a significant effort just to figure out all the dependencies for all of the input objects. I think most of these dependencies are probably describe

[2020-10-06 15:34] mldichter commented on #5606
@JasonGlazer There's also inter-object dependencies. The Building object North degrees being used is dependent on the GlobalGeometryRules having a Relative coordinate system.

Yes. This would be quite an effort, but this could be a net saving of time for developers, and users, simply from less unmet hours posts.

[2020-10-06 21:46] TiejunWu opened #8332 "Modeling Demand Controlled Ventilation with System Outdoor Air Method as "ProportionalControlBasedOnDesignOARate""
Issue overview
--------------
With the EnergyPlus example [DOAToVRF.idf](https://github.com/TiejunWu/EnergyPlus-IDF-Files/blob/master/DOAToVRF_Original.idf), I tried to modify this file to model demand controlled ventilation with System Outdoor Air Method set to "ProportionalControlBasedOnDesignOARate". However, I see the following problems:

1.  For the "DesignSpecification:OutdoorAir" objects. I

[2020-10-08 15:23] rraustad commented on #7422
Addressed by #7605. Closing this issue.

[2020-10-08 15:23] #7422 closed, assigned to nobody

[2020-10-08 19:28] mjwitte opened #8333 "v9.4 Basement preprocessor fails with fatal error"
Issue overview
--------------
Example file LgOffVAVusingBasement.idf fails with a fatal error when run the the basement.exe packaged with v9.4.0 (on Windows, maybe others?).
[code]
The same file runs to completion using the v9.3.0 basement.exe  Did something change with the Fortran build options for v9.4?

### Workaround
Copy the v9.3 basement.exe file over the v9.4 basement.exe.  It may be found

[2020-10-09 14:50] jcyuan2020 commented on #8277
- [x] For the PCM peak freezing temperature description in Sec 1.9.9.1.13 (page 163, InputOutput Reference.pdf, v9.4), it was reported that the description says that it will be higher than the peak melting temperature while it was believed to be the opposite. After turning up a couple of literature resources, it seems that the the empirical data and plots found in the literature show a higher peak

[2020-10-09 17:53] yzhou601 opened #8335 "Airflow curve input defect in AirloopHVAC:UnitarySystem when MS coils operate at Speed = 1"
Issue overview
--------------
Multispeed coil with a cycling fan should have a constant air flow curve input value per speed, while in the current simulation, the  input values varies in a linear relationship to node air flow rate for speed #1, but kept constant for speed #2. This happens when multispeed coil is modeled with an AirloopHVAC:UnitarySystem as a parent.

![mscoil_defect](https://user-

[2020-10-09 18:05] TiejunWu commented on #8332
@lgu1234 After our discussion and some further investigation, I have the following proposals and explanation.
1. Instead of adding a new System Outdoor Air Method option in "Controller:MechanicalVentilation", can we do the following?

    - In figuring out the ZoneMaxCO2, can we add another condition in [this if statement](https://github.com/NREL/EnergyPlus/blob/75fcd72b36440e1aaddf98e4b2fcd834156

[2020-10-09 18:06] yzhou601 opened #8336 "ZoneControl:Thermostat:StagedDualSetpoint doesn't behave correctly with UnitarySystem"
Issue overview
--------------
Using UnitarySystem along with StagedDualSetpoint requires another thermostat object (even though ZoneControl:Thermostat:StagedDualSetpoint was documented that it could be used alone) to pass E+ input validation. In addition to that, the most odd behavior is that heating was operating at the start of each cooling cycle. (See below a plot for 200 mins in summer and tho

[2020-10-12 21:47] jcyuan2020 opened #8337 "Slow stratified water thermal tank calculations when the number of nodes is large"
Issue overview
--------------
It is reported that the EnergyPlus simulations (including both Warmup days and the annual simulations) can become very slow when a high number of water tank nodes (1<=# of Nodes <=12) is specified for the water tank, especially when there are many such stratified tanks in the simulation case. It might be a good idea to investigate possible ways to speed up the stratif

[2020-10-13 15:07] lgu1234 commented on #8332
@TiejunWu Thanks for providing possible solutions. Here is my personal thought related to your approach to address item 1.

We have very complicated OA calculation procedures with lot of "if then" statements. From coding point of view, it is easy to implement. However, it is very complicated for users to remember what you expect, even though it is documented clearly in References, I would like to

[2020-10-13 17:55] TiejunWu commented on #8332
@lgu1234 Thanks for the feedback.
I would suggest that we add a new Outdoor Air Method named "ProportionalControlBasedOnSpecifiedCO2andOAFlowRange". Its a rather long name, but that should be clear about what input expected (minCO2, maxCO2, DesignOAFlow, MinOAFlowRatio). Then we can add that linear relationship between CO2 concentration and zone ventilation air flow rate in the reference document.

[2020-10-14 14:12] lgu1234 commented on #8332
@TiejunWu You mentioned:
On the other hand, I was a little curious about those two fields that are not currently used in the code:

    the "Maximum Carbon Dioxide Concentration Schedule Name" of the "ZoneControl:ContaminantController" object,

    "Proportional Control Minimum Outdoor Air Flow Rate Schedule Name" field of the "DesignSpecification:OutdoorAir" object.

Here is what I found:

1. Max

[2020-10-15 22:25] jmythms commented on #8277
- [x] Edit for clarity: (pg 1503, IORef 9.4, [source link](https://github.com/NREL/EnergyPlus/blob/111e8bd920fddbf4969ec4c43ed931a02bdbb31c/doc/input-output-reference/src/overview/group-radiative-convective-units.tex#L1288))The constant flow system differs from the **variable flow system described** above in what it controls. The **variable flow system** varies the flow...

[2020-10-16 09:30] jmarrec commented on #8333
I can't run that file but I'm not getting the same error on Unbut 18.04 with 9.4.0 official.

[code]

[2020-10-16 15:48] mjwitte commented on #8333
It looks like the basement preprocessor didn't run at all. There should be messages from the preprocessor to std out.

[2020-10-16 16:10] rraustad opened #8344 "Night Cycle Availability Manager in VRF model was inadvertently disabled."
Issue overview
--------------
Some clean up work accidentally disabled availability manager operation in the VRF model beginning in V9.3. This was discovered through testing from a manufacturer. There are more places where correction is needed other than shown in the figure.

![image](https://user-images.githubusercontent.com/5778156/96282074-37cc7280-0fa8-11eb-9c66-cc78e0635312.png)

### Details

[2020-10-16 18:08] rraustad commented on #8344
Test of defect file VariableRefrigerantFlow_5Zone_NightCycle. The fan availability schedule for TU1 in Space1-1 was changed to be available from 7AM - 5PM instead of available all the time. A night cycle availability manager was added to TU1. TU2 in Space2-1 and all other TUs do not have an availability manager and are available all the time.

![image](https://user-images.githubusercontent.com/577

[2020-10-19 10:18] jmarrec commented on #8333
Seems like there is no option to run basement / slab from the CLI. https://unmethours.com/question/29916/issues-running-energy-plus-through-windows-command-prompt-with-groundheattransfer-objects/

Should we open an enhancement request to add that capability or something? runenergyplus/ RunEPlus.bat is marked deprecated as of August 2015. Or rather than opening an issue, re-title https://github.com

[2020-10-19 10:34] jmarrec commented on #7514
I'm confused by the files in the zip. The IDF file is already at Version 9.0?! Also, the comment lines from Design Builder are interesting...

[code]

@LorenzoBottaccioli I know we're late to the party here, but do you still have this problem? can you provide your 8.6 file?

I'm going to close this issue for now, but if you can supply more information to be able to reproduce I'll gladly reopen it.

[2020-10-19 10:34] #7514 closed, assigned to nobody

[2020-10-19 12:39] jmarrec commented on #8333
## TL;DR

**I ran it successfully on both Ubuntu 18.04 and Windows 10, with E+ 9.4.0 official.**

## Ubuntu Testing

So, I've used `runenergyplus` on Ubuntu and it works

[code]

basement ran fine, took 10 years to converge
[code]

Then energyplus worked as well:

[code]

## Windows testing

I used EP-launch with 9.4.0 official, LgOffVAVusingBasement.idf, weather `USA_IL_Chicago-OHare.Intl.AP.7253

[2020-10-19 12:49] jmarrec commented on #8281
@jcyuan2020 I'm not seeing the defect files on https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/8000s

[2020-10-19 13:39] mjwitte commented on #8281
@jmarrec The defect files are there now.

[2020-10-19 13:48] mjwitte commented on #8333
@jmarrec Interesting. Here's what I see with 9.4.0 (64-bit) on Windows 10.
[code]

[2020-10-19 13:58] jmarrec commented on #8268
Using a debugger to print the values, this is what the numbers in the "Time" table mean:

| DataEnvironment::CurEnvirNum | DataEnvironment::EnvironmentName                      |
|------------------------------|-------------------------------------------------------|
| 1                            | CHICAGO ANN HTG 99.6% CONDNS DB                       |
| 2                            | CHICAGO AN

[2020-10-19 14:17] hongyuanjia commented on #8268
@jmarrec Thanks for the information. I did not know that enabling "Do HVAC Sizing Simulation for Sizing Periods" will introduce extra run periods.

It would be good if the EnvironmentPeriods could contain all run periods. Otherwise, the foreign key `EnvironmentPeriodIndex` in Time table will have values that do not exist in the original primary key in EnvironmentPeriods table.

[2020-10-20 21:04] shorowit opened #8352 "Change EquationFit coils to reference curve objects"
Issue overview
--------------
The EquationFit coil objects (like `Coil:Cooling:WaterToAirHeatPump:EquationFit` and `Coil:Heating:WaterToAirHeatPump:EquationFit`) have curve coefficients embedded in them as opposed to referencing standalone curve objects like all other coils. It would be nice if curves could be referenced instead, as this would provide additional flexibility to use EMS if needed.

[2020-10-20 22:49] jcyuan2020 opened #8353 "(Rare) Thermal Comfort thermostat controls failure due to Kiva slab foundation object interference"
Issue overview
--------------
The original problem was reported as a severe error showing up when using ZoneControl:Thermostat:ThermalComfort in EnergyPlus. The severe error complained missing people object and then terminated the simulation prematurely. However, it seemed that there were nothing particularly wrong with the thermal comfort thermostat controls or People objects specifications. Ref

[2020-10-26 21:53] jmarrec commented on #8103
Closed by #8355 which enables C++17

[2020-10-26 21:53] #8103 closed, assigned to nobody

[2020-10-27 00:25] xuanluo113 opened #8356 "Bug in TDD related calculations in CalcInteriorSolarDistribution"
Issue overview
--------------
Three potential bugs in TDD related calculations in `CalcInteriorSolarDistribution`.

1. The reporting at the end of the function starts a new surface loop, but the CosInc [here](https://github.com/NREL/EnergyPlus/blob/f37f9762f1d98546443addfdbd0afd539b5ac8b9/src/EnergyPlus/SolarShading.cc#L8195) is not re-calculated. The value, CosInc(Surfnum), used here is always th

[2020-10-27 01:30] Myoldmopar opened #8357 "Suggest a few tweaks on Github Actions"
Now that we are using Github Actions, there are many possibilities.  There are also already a few things I'd like to fix up.

- [x] Need to tweak the add-path stuff to properly set the path to the miktex and qtifw binaries
- [x] Something still goes wrong sometimes while trying to install miktex.  It's nothing we are doing, just a communication error.  I think we may need to investigate an alterna

[2020-10-27 22:19] mjwitte commented on #8356
@xuanluo113 All true.
1. This has been broken since these calculations were first added in 2003.
2. This has been broken since 2010. Would it work to set `ExtSolar = true` for TDD_Diffuser? But that could have unwanted side effects. It can't be set on input, because that would be an error (Sunlit = Yes on an interior surface), but maybe it could be set internally.
3. This has been broken since 201

[2020-10-28 00:12] xuanluo113 commented on #8356
@mjwitte Thanks.

2. `ExtSolar` is fixed by adding an `&&` clause, the previous check of `if (((Surface(SurfNum).ExtBoundCond != ExternalEnvironment) && (Surface(SurfNum).ExtBoundCond != OtherSideCondModeledExt)) &&
                    SurfWinOriginalClass(SurfNum) != SurfaceClass_TDD_Diffuser)` is deleted since duplicated.

3. The branch is reordered. Regular windows and EQL windows are merged as

[2020-10-28 13:21] mjwitte opened #8359 "PsyRhFnTdbWPb divide by zero when called for an uninitialized node"
Issue overview
--------------
While testing errors in #8326 , tried setting the outdoor air node name to a invalid name, expecting to get warnings about adding the node to an OutdoorAir:Node object. Instead, in a debug build, it crashed with divide by zero in `PsyRhFnTdbWPb`, because the node pressure is zero.

Seems that all nodes should be initialized to the outdoor barometric pressure?

Oh, but

[2020-10-28 14:23] rraustad commented on #8359
The logic in UnitarySystem could be changed to check for an outdoor air node instead of looking at pressure.

    IF (OANode) {
      initialize to weather data
    ELSE
      read node data
    }

I also thought that OA nodes were already initialized to weather so not sure now why this logic was needed in the first place. Maybe user forgot to add the node to the OA node list?

[2020-10-28 14:49] mjwitte commented on #8285
@matthew-larson @rraustad I'm confused. How does setpoint control with cycling fan decide how long to run the fan? It seems this combination should not be valid.

[2020-10-28 15:08] rraustad commented on #8285
I agree, set point control only works with constant fan mode.

                thisSys.m_FanOpModeSchedPtr = ScheduleManager::GetScheduleIndex(loc_supFanOpMode);
                if (loc_supFanOpMode != "" && thisSys.m_FanOpModeSchedPtr == 0) {
                    ShowSevereError(cCurrentModuleObject + " = " + thisObjectName);
                    ShowContinueError("Illegal Fan Operating Mode Schedu

[2020-10-28 15:45] mjwitte commented on #8299
@matthew-larson I can't find the defect file.

[2020-10-28 15:58] matthew-larson commented on #8285
@mjwitte @rraustad You guys are correct, what I just realized is that with the Setpoint Control Type and the Supply Air Fan Operating Mode Schedule being set to 0, there are no severe errors or warnings in the output file along with the 0 electric power.  The above error only gets triggered if it can't find the schedule name in the file.  So maybe the issue isn't the 0 electric power but the lack

[2020-10-28 16:10] matthew-larson commented on #8285
Below is a zip file with the IDF which has the DOAS Unitary AirLoopHVAC with the Setpoint Control Type and Supply Air Fan Operating Mode Schedule being set to 0 as shown in the description screenshots.  Also included is the corresponding error file showing no warnings or errors and weather file.
[CyclingFan_SetpointControl.zip](https://github.com/NREL/EnergyPlus/files/5453252/CyclingFan_SetpointCo

[2020-10-28 16:25] matthew-larson commented on #8285
I think the error should be caught here but `thisSys.m_FanOpMode` has not been set over the default of 0, so the error isn't caught.

[code]

[2020-10-28 16:32] mjwitte commented on #8285
Seems like `&& thisSys.m_FanOpMode > 0` should not be part of this `if` statement.

[2020-10-28 16:38] matthew-larson commented on #8285
I'll go ahead and update this pull request to revert my previous changes and implement this new fix/unit test so it can be reviewed.  Thanks @mjwitte

[2020-10-28 17:28] rraustad commented on #8285
It should be `&& thisSys.m_FanOpModeSchedPtr > 0`

[2020-10-28 17:31] rraustad commented on #8285
I'm not looking at the code right now but you'll have to think about what the first part of the IF represents, the `loc_supFanOpMode != ""` part.

[2020-10-28 17:39] rraustad commented on #8285
I see, `loc_supFanOpMode` is the schedule name. I think you could remove that first part and just rely on `m_FanOpModeSchedPtr > 0` .

[2020-10-28 21:23] jmythms commented on #8277
- [x]  (pg 1487, IORef 9.4, [source link](https://github.com/NREL/EnergyPlus/blob/111e8bd920fddbf4969ec4c43ed931a02bdbb31c/doc/input-output-reference/src/overview/group-radiative-convective-units.tex#L699)): A missing headline that the text that follows belongs to outputs. (Outputs for ZoneHVAC:CoolingPanel:RadiantConvective:Water. )

[2020-10-28 21:33] jmythms commented on #8277
- [x] (pg 1476 & 1479, IORef 9.4, source links: [Link 1](https://github.com/NREL/EnergyPlus/blob/111e8bd920fddbf4969ec4c43ed931a02bdbb31c/doc/input-output-reference/src/overview/group-radiative-convective-units.tex#L294), [Link 2](https://github.com/NREL/EnergyPlus/blob/111e8bd920fddbf4969ec4c43ed931a02bdbb31c/doc/input-output-reference/src/overview/group-radiative-convective-units.tex#L451)): The

[2020-10-29 19:08] TiejunWu commented on #8332
@lgu1234  I ran some test with the example file, just modified the two schedules, and the result came out exactly same as the original model.
Here are the 3 models.

1.  [Original model with DCV.](https://github.com/TiejunWu/EnergyPlus-IDF-Files/blob/master/DOAToVRF_WithDCV_9.4.idf)
2.  [Changed  Maximum Carbon Dioxide Concentration Schedule value from 1000 ppm to 1200 ppm.](https://github.com/Tie

[2020-10-30 18:20] jmarrec commented on #8357
Seems like it's always a specific mirror repo `mirror.koddos.net` that's unreliable. I'm going to pin the repo we use, that should avoid this kind of problems. There's a problem with the chocolatey miktex recipe, I fixed it in https://github.com/teknowledgist/Chocolatey-packages/pull/40 but that doesn't update the released recipe though...

[2020-10-30 18:51] bonnema opened #8362 "9.4 Transition Issue"
Issue overview
--------------
_Output Variable or Meter Name_ field in `Meter:CustomDecrement` object is not properly transitioned and causes a fatal error if it requires the new **Electric Energy** -> **Electricity Energy** change.

### 9.3 Object
[code]
### What 9.4 Object _SHOULD_ Look Like
[code]

[2020-10-30 19:06] mjwitte commented on #8362
@bonnema Electric *Energy* should transition to Electricity *Energy*, not rate.

[2020-10-30 19:25] bonnema commented on #8362
Correct. Sorry. I'll edit the issue to reflect this.

[2020-10-30 19:35] mjwitte commented on #8362
That said, we fixed some things at the last minute. Are you using the final release version of transition? (Not the IDD Freeze version.)

[2020-10-30 19:50] bonnema commented on #8362
I am using the release (https://github.com/NREL/EnergyPlus/releases/download/v9.4.0/EnergyPlus-9.4.0-998c4b761e-Windows-x86_64.exe). FWIW, I rarely use a non-release transition because I am too lazy to build it unless I have to :grinning:. Here is the error post-transition and prior to my manual fix.
[code]
This can be replicated using the DOE Prototype Medium Office (https://www.energycodes.gov/d

[2020-10-30 20:01] mitchute commented on #8362
Merry (early) Christmas, @mjwitte. This issue is the gift that keeps on giving.

[2020-10-30 20:04] bonnema commented on #8362
😆 If it makes you feel any better I think this is a fringe case that slipped though the cracks...

[2020-10-30 20:19] mjwitte commented on #8362
Bah humbug! @mitchute

[2020-10-31 17:22] LorenzoBottaccioli commented on #7514
Here the 8.6 idf file that I have sued for test
[test.zip](https://github.com/NREL/EnergyPlus/files/5469484/test.zip)

[2020-11-01 14:31] nvskumar-m opened #8363 "on_begin_timestep_before_predictor() takes 1 positional argument but 2 were given"
Issue overview
--------------
Hi @Myoldmopar

AN EP PythonPlugin script that worked in EP version9.3 version is throwing error "on_begin_timestep_before_predictor() takes 1 positional argument but 2 were given" in EP version 9.4.

### Details
As you can see in the image attached here, only "self" has been declared.
![Screenshot 2020-11-01 195637](https://user-images.githubusercontent.com/54622340/

[2020-11-01 14:35] Myoldmopar commented on #8363
There are some breaking API changes that are listed in the README, release notes, and documentation for 9.4.0.  The API function callbacks now need to accept a `state` argument which then needs to be passed into any other function calls made to the API.  For this plugin, just add `state` as a second argument to this overridden function, and then if you make any calls to get sensor data, read API d

[2020-11-01 14:35] #8363 closed, assigned to nobody

[2020-11-02 14:41] jmarrec commented on #7569
I've tried to reproduce this issue with 9.4.0 and couldn't. @daniellosg the files you added on unmethours.com point to a google drive link that no longers exists, so I haven't had a chance to test with yours. Would you happen to still have these files?

[2020-11-02 15:32] jmarrec commented on #7514
I took your file, and ran the IDFVersionUpdater from EnergyPlus 9.4.0 on Ubuntu 18.04.

[code]

The file transitionned properly. The audit is clean.

[code]

here is the resulting IDF file from 9.4

[test.idf.txt](https://github.com/NREL/EnergyPlus/files/5476099/test.idf.txt)

[2020-11-02 16:56] #8329 closed, assigned to nealkruis

[2020-11-02 18:20] LorenzoBottaccioli commented on #7514
the problem it is related to the IDFversionupdaters of the 9.0 version

[2020-11-02 18:43] #8285 closed, assigned to matthew-larson

[2020-11-02 19:03] jmarrec commented on #7514
Yes, and that's already filed (and closed) as https://github.com/NREL/EnergyPlus/issues/7010 most likely.

Use the transition utilities from ep940 for eg. You can copy them and the IDDs in your existing 9.0 install if you insist on only having that version installed.

[2020-11-03 17:59] daniellosg commented on #7569
Hi Julien,
Yes, I still have the files. I just updated the idf to 9.4 and reproduced the issue, and it's still there. Please find attached all simulation output files in both versions.

See screenshot below for the simulation in E+9.1:
![image](https://user-images.githubusercontent.com/56752735/98022337-c5f88380-1e05-11eb-8fbd-e553caad1fe6.png)
And E+9.4:
![image](https://user-images.githubusercon

[2020-11-03 19:10] matthew-larson commented on #8299
@mjwitte Oops, I just added the defect file to the Description.

[2020-11-03 21:55] mjwitte opened #8365 "Ideal Loads with zero cooling capacity is reporting values for Zone Air System Sensible Cooling Rate"
Issue overview
--------------
The defect file ideal loads system has cooling capacity set to zero, yet there are significant amounts of "Zone Air System Sensible Cooling Rate" being reported. These should be zero or very close to it.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v9.4.0 release
 - @shorowit e-mail 23 Oct 2020

### Checklist
Add to this

[2020-11-04 17:09] #8316 closed, assigned to matthew-larson

[2020-11-04 18:23] #7729 closed, assigned to nobody

[2020-11-05 10:14] hongyuanjia opened #8367 "Incorrect Interval value in SQLite Time table for multiple reporting frequencies exist"
Issue overview
--------------
### Details
Some additional details for this issue:
 - Platform (Operating system, version): Windows 10
 - Version of EnergyPlus (if using an intermediate build, include SHA): V9.4

Using the example file `1ZoneEvapCooler.idf` without any changes. There are two meters `Facility:Electricity` and `HVAC:Electricity` reported in both `Monthly` and `Run Period`. However, i

[2020-11-05 13:15] JasonGlazer commented on #7496
The changes in #8196 did not fix this since it was prior to a release and this would have changed the IDD

[2020-11-05 20:33] xuanluo113 opened #8369 "Incorrect local variable scope in CalcInteriorSolarDistribution"
A potential bug in solar calculations in CalcInteriorSolarDistribution.

The reporting at the end of the function starts a new surface loop, but the [WinTransBmBmSolar](https://github.com/NREL/EnergyPlus/blob/649ab487ef39cf44c2a8703beaeb750d25e687bd/src/EnergyPlus/SolarShading.cc#L6206), WinTransBmDifSolar, [TBmBm + TBmDif](https://github.com/NREL/EnergyPlus/blob/649ab487ef39cf44c2a8703beaeb750d25

[2020-11-06 15:56] mjwitte commented on #8369
@xuanluo113 If I am following this correctly, this only impacts the following output variables. It does not affect the actual heat balance of the zone.
[code]
And these variables have been wrong since they were first added in 2009/2010.

[2020-11-07 00:39] xuanluo113 commented on #8369
@mjwitte I agree.
1. The only reportable variables affected are:
- Surface Window Transmitted Beam To Beam Solar Radiation Rate
- Surface Window Transmitted Beam To Diffuse Solar Radiation Rate
- Surface Window Transmitted Beam To Beam Solar Radiation Energy
- Surface Window Transmitted Beam To Diffuse Solar Radiation Energy

This may only affect the result of `PurchAirWindowBlind_BlockBeamSolar.i

[2020-11-07 01:52] #8299 closed, assigned to matthew-larson

[2020-11-07 15:21] #8317 closed, assigned to jmarrec

[2020-11-08 17:10] hongyuanjia opened #8372 "Incorrect transition of RoomAir:Node:AirflowNetwork:HVACEquipment from v9.2 to v9.3"
In EnergyPlus v9.3, class `AirTerminal:SingleDuct:Uncontrolled` has been converted to new class `AirTerminal:SingleDuct:ConstantVolume:NoReheat`. Looking through the corresponding transition code, I found that class `RoomAir:Node:AirflowNetwork:HVACEquipment` may not be treated correctly:

https://github.com/NREL/EnergyPlus/blob/74959091b81f488c791470fd5773fd24745aa2b4/src/Transition/CreateNewIDFU

[2020-11-09 09:24] nvskumar-m opened #8373 "Building Material Properties for HAMT calculations"
Issue overview
--------------
I have been searching for hygrothermal properties of building materials for Heat and Moisture Transfer calculations in EnergyPlus. Although I found few sources, the properties detailed are not similar to the inputs requested by EP MaterialProperty:HeatAndMoistureTransfer objects. Can someone suggest the appropriate sources for data?

[2020-11-09 15:28] mjwitte commented on #8372
@hongyuanjia If you have a file with this combination of objects that can be used for testing, that would be appreciated.

[2020-11-09 16:23] shorowit commented on #8352
Alternatively, could add actuators directly to the Coil:Foo:WaterToAirHeatPump:EquationFit objects to allow the coefficients (curve outputs) to be actuated.

[2020-11-09 16:56] mjwitte commented on #8352
Changing this to reference curve objects also allows the user to use different equation forms and to use lookup tables. So that would be the preferred path. Are there any other objects that still have coefficients in the object rather than using curves? Fan:VariableVolume still has coefficients, but that object is planned to be removed (transitioned to Fan:SystemModel) so that's not worth updating

[2020-11-09 17:09] mitchaldichter commented on #8277
- [x] The IO Ref description for the "Availability Manager List Name" of the AirLoopHVAC:OutdoorAirSystem object is ambiguous and the IDD does not mention if the field is optional or not in use.

![inconsisteent](https://user-images.githubusercontent.com/73209151/98572950-13904880-226b-11eb-9b16-d479db059ee8.PNG)

![ignosed](https://user-images.githubusercontent.com/73209151/98573028-2f93ea00-226b

[2020-11-12 14:29] MaximilianAzendorf opened #8376 "EnergyPlus with option --expandobjects set fails when working directory is not on the same device as the output directory (on Linux)"
Issue overview
--------------
ExpandObjects writes two files named expanded.idf and expandedidf.err into the working directory and then moves them (via rename() unix syscall) into the output directory. This does not work if the working directory is not on the same device as the output directory (e.g. a working directory in /tmp while the output directory is under an externally mounted /home).

###

[2020-11-12 17:32] #8282 closed, assigned to ajscimone

[2020-11-12 20:20] JasonGlazer opened #8377 "Add CI tests to ensure each CPP macro condition works"
Issue overview
--------------
It might be good to add some CI tests to compile with other than the default set of switches for the CPP macros to ensure that code change continue to work. I recently tried compiling with EP_cache_PsyTsatFnPb not defined and EnergyPlus does not compile. This may also exist for other of the CPP macros.

### Checklist
Add to this list or remove from it as applicable.

[2020-11-13 13:36] #8356 closed, assigned to xuanluo113

[2020-11-13 13:36] #8369 closed, assigned to xuanluo113

[2020-11-13 15:52] mjwitte opened #8381 "Daylighting output variable naming inconsistencies"
Issue overview
--------------
1. Currently, the key name and output variable name are different for the following output variables depending on the presence of an air boundary.
[code]
2. The documentation for these output variables is consistent with the no air boundary case - does not mention the other form.
3. Looking ahead to the future where Spaces become the building blocks for enclosures, it

[2020-11-16 18:51] #8357 closed, assigned to jmarrec

[2020-11-17 15:54] jmarrec commented on #8268
Looking more into it, I think the fix is different actually.

These HVAC Sizing Simulation passes should NOT end up in the Time table or anywhere else in the SQL at all. Unless you have set either the `REPORTDURINGHVACSIZINGSIMULATION=Yes` environment variable  or the equivalent `ReportDuringHVACSizingSimulation` option in `Output:Diagnostics`

[code]

https://bigladdersoftware.com/epx/docs/9-4/mo

[2020-11-18 02:56] hongyuanjia commented on #8268
@jmarrec Thanks for looking into this.

[2020-11-18 15:23] jmarrec commented on #8367
related https://github.com/NREL/EnergyPlus/issues/7939 and https://github.com/NREL/EnergyPlus/issues/7922

[2020-11-20 02:47] MatthewSteen commented on #8277
__Input Output Reference - Coil:Cooling:DX:SingleSpeed:ThermalStorage__

- [x] [Field: Operation _Mode_ Control Schedule Name](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-heating-and-cooling-coils.tex#L8281) model should be _mode_ in the description.

[2020-11-20 17:03] jmarrec commented on #8281
I see absolutely no problems with the transition of the Defect file. All the values in the 9.2 IDF are perfectly in line with the 9.1 IDF. It's not extremely friendly to match the before and after, but I have taken the time to do it and it appears fine.

Perhaps I am misunderstanding this statement @jcyuan2020 ?

Do you mean in the IDF, or do you mean values you get **after** simulation by asking

[2020-11-20 17:42] jcyuan2020 commented on #8281
@jmarrec Thanks for looking at this. Back then it was a helpdesk ticket complaining a mismatch on the original and converted fields, and I tried the conversion and saw a few severe errors and a message particularly about this table. Since it was not a full idf that can be tested out if the new conversion would be working in a simulation case, I tried to identify a few values before and after and h

[2020-11-24 14:10] mjwitte commented on #8362
@dareumnam The code changes look ok, but I would feel better about this if the test file actually ran without errors in 9.3, failed with release 9.4 transition, and run without errors in 9.4 with this transition.

[2020-11-24 18:13] mjwitte opened #8392 "Duplicate name error needs more context"
Issue overview
--------------
If two input objects of the same type have the same name, the error message does not identify the object type.
[code]
Suggested error message:
[code]
This error is produced [here](https://github.com/NREL/EnergyPlus/blob/f58632593e64be06ff18c98ad135464038aab5fb/src/EnergyPlus/InputProcessing/IdfParser.cc#L278-L280).
Maybe also add the line number to this one like some

[2020-11-24 20:06] dareumnam commented on #8362
@mjwitte I got it. I'll test using the DOE Prototype Medium Office idf file mentioned above.

[2020-11-24 21:07] mjwitte commented on #8362
The file you were using is fine, it just needs some tweaks to use valid meter names and to avoid duplicate object names (in the demand manager objects if I remember correctly).

[2020-11-25 11:52] jmarrec commented on #8373
This type of question is more suited to be asked on https://unmethours.com where you will find help and support from the community, thank you!

[2020-11-25 11:52] #8373 closed, assigned to nobody

[2020-11-25 16:29] dareumnam commented on #8362
@mjwitte I modified the file to use valid meter names and to avoid duplicate object names so that it runs without errors on 9.3 release. I confirmed that the test file ran without errors in 9.3, failed with release 9.4 transition (the exact same error message that Eric mentioned above, like below), and ran without errors in 9.4 with #8366 transition. Please take a look and let me know what you thi

[2020-11-25 17:25] mjwitte commented on #8362
@dareumnam Excellent - thanks!

[2020-11-25 17:27] #8362 closed, assigned to dareumnam

[2020-11-26 14:08] jmarrec commented on #7063
This is an interesting question, but one better suited for unmethours.com. Thank you.

[2020-11-26 14:08] #7063 closed, assigned to nobody

[2020-11-26 14:21] jmarrec commented on #6998
I've reproduced the defect file with 9.4, it's EnergyPlusDevSupport. Now it **always** fatals out but doesn't crash.

[code]

[2020-11-26 14:59] jmarrec commented on #6866
This is oudated, the file doesn't exist anymore

[2020-11-26 14:59] #6866 closed, assigned to nobody

[2020-11-26 15:03] jmarrec commented on #6851
I upgraded the defect file to v9.4, and it now runs succesfully.

[2020-11-26 15:03] #6851 closed, assigned to nobody

[2020-11-26 15:13] jmarrec commented on #6884
I tried to see if this was still the case, and I don't think it is. But there is no permalink so I am not sure. Having trouble finding the actual discussion too, there seem to be none in HVACVariableRefrigerantFlow.cc at least.

Does this all ring a bell @nealkruis ?

[2020-11-27 08:13] jmarrec commented on #6436
It's called from here, only when InitLoopEquip: https://github.com/NREL/EnergyPlus/blob/7a650ed251d6fa927d61df916e81504ab3a55f9d/src/EnergyPlus/Plant/Component.cc#L120

How do you think this should happen? Check the value of CapFT once at rated conditions, or should it do that at each timestep (with the calculation cost associated)?

[2020-11-27 08:15] #6379 closed, assigned to nobody

[2020-11-27 08:17] jmarrec commented on #6292
Should we close this issue?

[2020-11-27 08:18] #6224 closed, assigned to nobody

[2020-11-27 08:20] jmarrec commented on #6207
This issue is stale (sorry about that) and is lacking files to reproduce the defect. If by (a lot of) chance you happen to still have these files handy, please share them and I will reopen.

[2020-11-27 08:20] #6207 closed, assigned to nobody

[2020-11-27 08:22] jmarrec commented on #6208
This type of question is best suited to unmethours.com, as it is likely this results from a user error in the IDF file. (sorry for the delay in treating your issue though)

[2020-11-27 08:22] #6208 closed, assigned to nobody

[2020-11-27 08:23] jmarrec commented on #6214
I cannot find any trace of the lower case `cpcw` function nowadays (circa 9.4.0)

[2020-11-27 08:23] #6214 closed, assigned to nobody

[2020-11-27 08:25] jmarrec commented on #6186
Could a mac user check if this issue is still happening with 9.4.0 please?

[2020-11-27 08:29] jmarrec commented on #5950
This has been done.

![image](https://user-images.githubusercontent.com/5479063/100427675-15437400-3093-11eb-9581-a58af722be18.png)

[2020-11-27 08:29] #5950 closed, assigned to nobody

[2020-11-27 08:31] jmarrec opened #8395 "Update energyplus.net/downloads to reference correct supported platforms"
Issue overview
--------------

Linux at least is outdated. Found while closing https://github.com/NREL/EnergyPlus/issues/5950

![image](https://user-images.githubusercontent.com/5479063/100427769-3dcb6e00-3093-11eb-808b-cb083dabf595.png)

[2020-11-27 08:31] jmarrec commented on #5950
And now I realize the Linux at least needs to be updated. I opened https://github.com/NREL/EnergyPlus/issues/8395

[2020-11-27 09:51] jmarrec commented on #6050
I took the files from @ecoeficiente , updated them to E+ 9.4 and I can reproduce the issue : Here I am plotting the `('CIRCUITO DE AIRE SUPPLY SIDE OUTLET 1', 'System Node Mass Flow Rate', 'kg/s')` variable

![image](https://user-images.githubusercontent.com/5479063/100435516-51c89d00-309e-11eb-8961-bface2163c69.png)

Interestingly I created a MCVE test case using OpenStudio with a simple AirLoopH

[2020-11-27 10:20] jmarrec commented on #6050
Ok, I found it, it's becasue my VAV:NoReheat terminal had a Constant Minimum Air Flow Fraction = 0.3... Switching it to 0 like in the defect files exhibits the defect.

![image](https://user-images.githubusercontent.com/5479063/100438518-89d1df00-30a2-11eb-94ab-1e579fc39504.png)

[2020-11-30 09:47] jmarrec commented on #8245
I took the defect file, upgraded it incrementally up to 9.4. I See no problem whatsoever with the Sizing:Zone object. The upgraded files as on `EnergyPlusDevSupport`.

Here it is at 9.4:

[code]

[2020-11-30 09:47] #8245 closed, assigned to jmarrec

[2020-11-30 09:49] jmarrec commented on #7613
Fixed via https://github.com/NREL/EnergyPlus/pull/7616

[2020-11-30 09:49] #7613 closed, assigned to kbenne

[2020-11-30 10:04] jmarrec commented on #5111
@Myoldmopar With the move to Github Actions for release packages, perhaps it's time tor revisit the wiki page? https://github.com/NREL/EnergyPlus/wiki/Preparing-a-Release-Package

[2020-11-30 10:15] jmarrec commented on #5248
Still true today:

https://github.com/NREL/EnergyPlus/blob/7a650ed251d6fa927d61df916e81504ab3a55f9d/src/EnergyPlus/WaterCoils.cc#L3106-L3129

[2020-11-30 14:35] jmarrec commented on #5508
I recreated the defect file (it's on EnergyPlusDevSupport). File now runs fine with E+ 9.4 eplusout.err throws a warning:

[code]

[2020-11-30 14:35] #5508 closed, assigned to nobody

[2020-11-30 14:42] jmarrec commented on #5583
Still true as of E+ 9.4

[2020-11-30 16:19] nealkruis commented on #6884
I'm pretty sure it's still an issue. The coefficients are set [here](https://github.com/NREL/EnergyPlus/blob/c1905e6232f1581b0a7723901511822c4298c55f/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L3131) and used [here](https://github.com/NREL/EnergyPlus/blob/c1905e6232f1581b0a7723901511822c4298c55f/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L12618) (among other places).

[2020-12-01 12:49] jmarrec commented on #7097
I'm closing this one as I don't see any proper action item.

[2020-12-01 12:49] #7097 closed, assigned to nobody

[2020-12-01 13:10] jmarrec commented on #6884
Thanks for the permalink, and indeed there's still some hardcoding in there!