[2020-01-21 18:24] Atmos-lab commented on #7691
To keep everyone informed and avoid duplicated efforts, I´ll leave below two links that overlap with this thread.

Radiance developers have recently updated eplus_adduvf.exe tool, which is meant to automatically solve the solar distribution limitation by adding view factors to the idf. It hasn´t been rolled out yet, but hopefully it will be the solution to this issue.

https://discourse.radiance-o

[2020-01-21 20:26] lgu1234 commented on #7686
@rraustad If you don't take this issue, I will take it. Thanks.

[2020-01-21 20:40] rraustad commented on #7686
OK, go ahead.

[2020-01-21 21:09] rraustad commented on #7682
Updating performance curves as specified in the UH post shows a constant COP. Still looking to see if there are any other changes required. Defect file also updated.

![VRFCOP_New2](https://user-images.githubusercontent.com/5778156/72843358-5cd5c400-3c68-11ea-98fb-768b61cae685.JPG)

[2020-01-22 00:45] KWSL commented on #7682
I just discovered this as well.  Thought I was taking crazy pills when I saw that the COP's were dropping at low PLR.  I'm attaching a modified example file that sets all curves for the AirConditioner:VariableRefrigerantFlow equal to 1.  What I discovered is that the COP calculated by the program equals the rated COP * PLR, so at low PLR's, the COP is very low.  (see columns EC & ED in the attache

[2020-01-22 00:58] KWSL commented on #7682
the defect file link isn't working for me

[2020-01-22 04:31] KWSL commented on #7682
Looks like the following needs to be changed in "HVACVariableRefrigerantFlow.cc":

Line 1153:
`VRF(VRFCond).ElecCoolingPower =
                (VRF(VRFCond).RatedCoolingPower * TotCoolCapTempModFac) * TotCoolEIRTempModFac * EIRFPLRModFac * HREIRAdjustment * VRFRTF*CoolingPLR;`

& Line 1171:

`            VRF(VRFCond).ElecHeatingPower = (VRF(VRFCond).RatedHeatingPower * TotHeatCapTempModFac) * TotH

[2020-01-22 12:24] rraustad commented on #7682
@kwsl see my discussion and results in the UH post.

[2020-01-22 12:56] JasonGlazer opened #7699 "Make the multiple SetupOutputVariable function signatures more consistant"
SetupOutputVariable is multiple functions with multiple function signatures (the types of arguments) because it can be used for setting up the output of real or integer values. But the indexGroupKey is not the 8th argument in each of these functions. Couldn't these be reduced to a single function?

We need a sweep to clean these up and get of the optional argument stuff. And we should probably hav

[2020-01-22 13:02] KWSL commented on #7682
@rraustad - so is it an issue with the curves or an issue with the source code?  The Engineering Reference documentation has the EIRPLR equation as (16.489):

EIRFPLR = a + b (PLR)+ c (PLR)^2 + d (PLR)^3

& the curves in the example file also result in very low COPs at low PLRs

[2020-01-22 13:19] rraustad commented on #7682
If setting the curves to 1 (those that are appropriate) give the rated COP then I have to think that the model is working as expected. If you plot the EIRfPLR curve then you should see a near 45 degree line, which is how the power would change as PLR changes. So as of yet I haven't seen anything that makes me think the VRF model is broken. When using the provided EnergyPlus curves, and setting the

[2020-01-22 13:20] rraustad commented on #7682
I still have to check the report variables used for capacity and power to see if those match with the reported COP.

[2020-01-22 13:29] KWSL commented on #7682
@rraustad - in the example file "DOASDXCOIL_wADPBFMethod.idf" the PLR curves do change somewhat linearly with PLR (@ PLR = 0.5, EIRPLR = 0.59).  However, the minimum PLR input for this curve is 0.5, and the minimum part-load ratio in the AirConditioner:VariableRefrigerantFlow is 0.25, so when the VRF unit is operating at a PLR below 0.5, there is no energy reduction below that point.

[2020-01-22 13:30] rraustad commented on #7682
I would agree that seems wrong and would cause low COP at low PLRs.

[2020-01-22 13:30] KWSL commented on #7682
seems like how the PLR would be integrated into the model was not well thought-out & not documented particularly well.

[2020-01-22 13:33] rraustad commented on #7682
I'm still trying to see if any model calculations looks suspect.

[2020-01-22 13:41] KWSL commented on #7682
yep, this makes sense - min PLR in the unit needs to match min PLR in the curve & then I think things are right, my corrections are not.  I misunderstood the EIRPLR curve

[2020-01-22 13:51] rraustad commented on #7682
I agree that those 2 inputs should match, or at least min PLR input in the EIRfPLR curve should be <= min PLR in the VRF object.

[2020-01-22 14:24] KWSL commented on #7682
It would be useful to throw an error if that's not the case.  Or remove the minimum PLR field from the AirConditioner:VariableRefrigerantFlow object & just use the curve minimum.

[2020-01-22 15:58] rraustad commented on #7682
I agree with the error idea, it would help users get correct answers. I ran one of the VRF example files and compared the reported COP with hand calculated values (reported cooling and heating capacity / cooling and heating power from 2nd figure). They match and also appear reasonable. VRF condenser PLR and RTF are included.

![image](https://user-images.githubusercontent.com/5778156/72916580-497e

[2020-01-22 15:59] rraustad commented on #7682
Wait, look at time 890 on the graph above, the yellow dotted and green solid lines do not match.

[2020-01-22 16:10] KWSL commented on #7682
in that file, there is no minimum curve output for the EIRPLR curves & the minimum value of X is 0.  Can you plot the PLR and run-time fractions on the graph as well?  & how are you doing the hand calculations for the COP?

Do you know the source data for this VRV?  the VRV can go down to 0.25 PLR, did the source data go that low?

[2020-01-22 17:06] nealkruis opened #7700 "Cannot build EnergyPlus docs without also building the EnergyPlus executable"
Issue overview
--------------
Contributors working on documentation changes should be able to build and test the documentation without having to generate the rest of the EnergyPlus project and install the required dependencies (e.g., C++ compiler, python).

### Checklist
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull request will have additi

[2020-01-22 17:10] mjwitte commented on #7700
@nealkruis On what platform?

[2020-01-22 17:14] rraustad commented on #7682
Updated figure above. VRF data was from Mitsubishi manufacturers data and created as described in [this report](http://publications.energyresearch.ucf.edu/wp-content/uploads/2018/06/FSEC-CR-1910-12.pdf).

! Variable Refrigerant Flow (VRF) Heat Pump
! Mitsubishi PURY-P108TGMU
! Nominal Cooling Capacity = 31.7 kW
! Nominal Cooling Power Input = 9.63 (Cooling COP = 3.2917)
! Nominal Heating Capacity

[2020-01-22 17:14] nealkruis commented on #7700
@mjwitte I re-worded the description. The main idea is not requiring all of the EnergyPlus compilation tools. I am going to make an optional CMake option to not generate all the EnergyPlus targets.

[2020-01-22 17:53] #7560 closed, assigned to jmarrec

[2020-01-22 18:07] mitchute commented on #7680
@myoldmopar I'm leaving one module-level variable on the reformulated EIR chiller refactor to be addressed here. See #7683. This looks to be related.

[2020-01-22 18:12] rraustad commented on #7682
I added a warning for the min value of x issue in the DOASDXCOIL_wADPBFMethod.idf example file.

    ** Warning ** GetVRFInput: AirConditioner:VariableRefrigerantFlow="VRF HEAT PUMP", invalid
    **   ~~~   ** ...Cooling Energy Input Ratio Modifier Function of Low Part-Load Ratio Curve Name = COOLINGEIRLOWPLR has out of range value.
    **   ~~~   ** ...Curve minimum value of X = 0.500 must be <=

[2020-01-22 18:42] rraustad commented on #7682
Defrost Electric Power was the reason for the difference at x = 890 in the plot above. When that is included in the hand calculation the values match.

![image](https://user-images.githubusercontent.com/5778156/72923440-12fae580-3d1d-11ea-851b-da8f8b6bfecf.png)

[2020-01-22 18:54] KWSL commented on #7682
great!  That's super helpful.  Documentation for the min PLR field could be updated too.

So many curves for these it's tough to keep them all straight.  Is it possible to also create an output variable for the combination ratio?

[2020-01-22 19:05] KWSL commented on #7682
@rraustad - I found another issue that should require an error - with a water-source VRV, if the if the "Heating Performance Curve Outdoor Temperature Type" is Wetbulb, then the wetbulb calculation is used inlet temperature calculations.  Somehow ,the actual source water temperature is reported.

Seems like if the two "else if" statements on lines 577 and 571 were switched, the issue would go away

[2020-01-22 19:11] KWSL commented on #7682
perfect it makes sense now & is coming together.

[2020-01-22 19:52] Myoldmopar commented on #7537
Closed via #7607

[2020-01-22 19:52] #7537 closed, assigned to RKStrand

[2020-01-22 20:06] #7692 closed, assigned to Nigusse

[2020-01-22 20:45] rraustad commented on #7682
I thought we had a check in there for not allowing WetBulbTemperature indicating type for water-cooled. Either way this also needs fixing.

[2020-01-22 20:50] KWSL commented on #7682
Thanks!!

[2020-01-23 04:26] mitchute commented on #6516
@lgu1234 should this issue be closed due to the work completed in #6779?

[2020-01-23 04:45] mitchute commented on #5417
@Myoldmopar wow. This takes me back to days of yore... Looks like it was addressed in #5076. Also, there's KIVA now. Closing.

[2020-01-23 04:45] #5417 closed, assigned to mitchute

[2020-01-23 04:48] mitchute commented on #5075
@Myoldmopar another one addressed with the GroundDomain stuff from way back? Closing, but feel free to reopen if needed.

[2020-01-23 04:48] #5075 closed, assigned to mitchute

[2020-01-23 17:46] wta12 opened #7705 "HybridZoneModel.idf example output"
Issue overview
--------------
I ran the HybridZoneModel.idf and could not find the output for **Zone 3** and **Zone 4** where "Calculate Zone Internal Thermal Mass" used ? How to get output from **HybridModel:Zone** for " Zone Internal Thermal Mass" option ?
### Details
Some additional details for this issue (if relevant):
 - Platform (Mac OS 10.14.6)
 - Version of EnergyPlus (9.2)
 - Unmethours l

[2020-01-23 18:17] matthew-larson opened #7706 "Horizontal Infrared Radiation variable outputs 9999"
Issue overview
--------------
Setting the Infrared Sky Radiation column in the weather file to zero results in value of 9999 being written out the Site Horizontal Infrared Radiation Rate per Area output variable.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v9.2.0

### Checklist
Add to this list or remove from it as applicable.  This is a simple templ

[2020-01-24 11:07] jmarrec commented on #7700
I'd suggest doing it differently: Make the doc/ folder standalone instead, so one could just do `cmake ../EnergyPlus/doc` instead of `cmake ../EnergyPlus`.

refrain from using CMAKE_SOURCE_DIR / CMAKE_BINARY_DIR, but use variables PROJECT_SOURCE_DIR/PROJECT_BINARY_DIR. You can check if you have a parent if you need logic to set variables differently (such as finding EnergyPlus/cmake/BuildDocumenta

[2020-01-24 11:17] jmarrec commented on #7697
How about the `FaultModel:Fouling:AirFilter`?

[code]

Edit: Yeah it should be added too.

https://github.com/jmarrec/EnergyPlus/blob/6d979341f3d85973fca8f1e7afc02a6484be4bb4/src/EnergyPlus/HVACFan.cc#L732
Looking at FaultsManager, seems like it doesn't specifically restrict itself.

[2020-01-24 12:07] jmarrec commented on #7697
[code]

SimplComponentModelFan seems to take this object into account though.

https://github.com/NREL/EnergyPlus/blob/cc65a0fb840ab7948e4d1c363bb9915f935c6fa3/src/EnergyPlus/Fans.cc#L2297:L2303

FanSystemModel and FanOnOff seem like they don't.

[2020-01-24 15:15] nealkruis commented on #7700
@jmarrec Good idea. I think it will work if we can get the EnergyPlus build information for the "title.tex.in" configuration file, too.

I'll take care of it.

[2020-01-24 15:23] EnergyArchmage opened #7709 "Indexing problem in AirLoop Component Loads Summary table summary reports"
Issue overview
--------------
User files showed strange values in Report: AirLoop Component Load Summary at System Sizing Peak Load when the order of input objects was altered.

Zones and airloops often have different time of peak.  In component loads report for AirLoop Component Loads Summary there is bad code that leads to indexing problems causing zone peak times to be used for some of the airl

[2020-01-24 15:45] EnergyArchmage commented on #7709
On second look this isn't a real problem in DOE code base.

[2020-01-24 15:45] #7709 closed, assigned to nobody

[2020-01-24 15:51] RKStrand commented on #7608
@mjwitte Actually, the problem is not just with the Fenestration Solar.  It is several of the other "delayed" values as well.  When I change the fraction radiant in people, lights, and equipment to something other than zero, the file with actual design days shows non-zero values in the delayed values for these items in the table while the file with the weather file period derived design days still

[2020-01-24 15:56] mjwitte commented on #7697
@jmarrec Confirmed that FaultModel:Fouling:AirFilter code does not support Fan:SystemModel.
Regarding FanPerformance:NightVentilation, Fan:SystemModel has the night ventilation options built-in, so the two are never used together. See #6903.

Please post a new issue to add support for Fan:SystemModel where missing so then we can proceed with #6903.

[2020-01-24 16:49] jmarrec opened #7711 "Crash in InputProcessor due to bug in WaterThermalTanks.cc"
Issue overview
--------------

I have a file that's crashing on this line.

https://github.com/NREL/EnergyPlus/blob/bae88904b5bac1f9f7fe6795242dbfc51cbba842/src/EnergyPlus/InputProcessing/InputProcessor.cc#L967

I think it should be `int targetIdfObjNum = idfObjNums[Number - 1];`

I end up with

[code]

I have a file with one WaterHeater:HeatPump:PumpedCondenser (works for this one) and also a Wat

[2020-01-24 17:00] jmarrec opened #7712 "Crash with FanSystemModel: getFanObjectVectorIndex returns -1 when not found and used for indexing a vector"
Issue overview
--------------

I've got a file that's crashing here:

https://github.com/NREL/EnergyPlus/blob/bae88904b5bac1f9f7fe6795242dbfc51cbba842/src/EnergyPlus/WaterThermalTanks.cc#L1501:L1505

It's not finding the Fan (for a reason I fail to understand yet), so it returns -1.
Then it crashes on the last line since trying to index a vector at -1.

I did have to make a code change due to #771

[2020-01-24 17:09] jmarrec opened #7713 "Add support for Fan:SystemModel where missing"
Issue overview
--------------

* Confirm that FaultModel:Fouling:AirFilter supports it.

Or deprecate these unitary stuff:

* AirLoopHVAC:Unitary:Furnace:HeatOnly
* AirLoopHVAC:Unitary:Furnace:HeatCool
* AirLoopHVAC:UnitaryHeatOnly
* AirLoopHVAC:UnitaryHeatCool
* AirLoopHVAC:UnitaryHeatPump:AirToAir
* AirLoopHVAC:UnitaryHeatPump:AirToAir:MultiSpeed
* AirLoopHVAC:UnitaryHeatPump:WaterToAir

ref htt

[2020-01-24 17:10] jmarrec commented on #7697
FaultModel:Fouling:AirFilter is called from HVACFan, so that's good no?

Added https://github.com/NREL/EnergyPlus/issues/7713

[2020-01-24 17:21] mjwitte commented on #7697
Interesting, but no. `m_faultyFilterFlag` is initialized to false and I don't see anywhere that it's ever changed.

And this code in `FaultsManager.cc::CheckAndReadFaults` (line 1510) only checks the old fans, so I'm fairly certain it will error out if you try to reference a Fan:SystemModel in the fault object.
[code]

[2020-01-24 19:05] #5904 closed, assigned to YanfeiNREL

[2020-01-24 19:06] Myoldmopar commented on #5904
I couldn't verify the crash, but I'll leave this closed via the PR.  If anyone still encounters this, just reopen.

[2020-01-24 20:33] mitchute commented on #7588
@chrisbalbach it looks to me like "Table:TwoIndependentVariable" is an error. The original object was "Table:TwoIndependentVariable***s***" (note the trailing "s"), and there is transition support for this object. I believe correcting that will address your issue, but feel free to send an input file if there's something else going on.

[2020-01-24 20:59] mitchute commented on #7611
@nealkruis Unless I hear otherwise, I'm gonna take this one.

[2020-01-24 21:13] mjwitte commented on #7588
Also, be aware of a problem with the normalization input with the transition packaged with v9.2 for Table:MultiVariableLookup, #7560

[2020-01-27 08:21] jmarrec commented on #7711
Actually this has nothing to do with InputProcessor. The problem is in WAterThermalTanks.cc. I'll address it

[2020-01-27 12:35] jmarrec commented on #7712
This is a false positive, it's because of the inappropriate code change I had done to overcome 7711. With the right fix, I no longer get this crash.

[2020-01-27 12:35] #7712 closed, assigned to nobody

[2020-01-27 15:21] Nigusse opened #7718 "Variable speed cooling tower model needs a bypass control option"
Issue overview
--------------
Please change this line to a description of the defect, with useful supporting information including how the issue was found, conditions that trigger this defect, workarounds for users of the current version, and a clear description of how to validate that a fix is complete for this defect.

### Details
Some additional details for this issue (if relevant):
 - Platform

[2020-01-27 21:15] jmarrec opened #7720 "Crash when using a WaterHeater:HeatPump and also a simple (standalone) WaterHeaterMixed"
Issue overview
--------------

I get a hard crash, in calcStandardRatings. Will start by creating a proper unit test to isolate the bug, then fix it.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this

[2020-01-28 15:30] jmarrec commented on #7594
@nbt2019 Check out the existing FaultModel:* objects in the I/O reference guide.
If you do not find a specific faultmodel for a feature you want to test, you can look into EnergyManagementSystem objects to try to implement it yourself.

If you need more help after doing your research, then narrow down your problem and post a question on https://unmethours.com. I suggest making a single question fo

[2020-01-28 15:30] #7594 closed, assigned to nobody

[2020-01-28 16:04] jmarrec commented on #6719
Works fine on my machine: http://energyplus.helpserve.com/Knowledgebase/Article/View/86

[2020-01-28 16:04] #6719 closed, assigned to nobody

[2020-01-28 16:09] jmarrec commented on #6457
Will close this one since it's getting stale and no one responded that it wasn't a duplicate of #6422 (which was fixed)

[2020-01-28 16:09] #6457 closed, assigned to nobody

[2020-01-28 16:14] jmarrec commented on #6436
Nowadays I think it's probably happening here. Adding a permalink so it's always available for reference:

https://github.com/NREL/EnergyPlus/blob/588fe91ef15aedef7c68a25117c1e27ec8293a43/src/EnergyPlus/ChillerElectricEIR.cc#L208-L219

[2020-01-28 16:25] jmarrec commented on #6183
If you keep experiencing this with newer installed (9.2.0 or forthcoming 9.3.0) please let us know so we can reopen this issue (or open a brand new one). Thanks!

[2020-01-28 16:25] #6183 closed, assigned to nobody

[2020-01-28 20:09] #7648 closed, assigned to jmarrec

[2020-01-29 00:54] mjwitte opened #7725 "Construction:AirBoundary solar not working correctly for all cases"
Issue overview
--------------
 - [x] Construction:AirBoundary "Solar and Daylighting Method" = GroupedZones works as expected with Solar Distribution = Full Exterior, but not with FullInteriorAndExterior. User comments:

Using InteriorAndExterior Surface Inside Face Beam Solar Radiation Heat Gain Rate reports reasonable values for appropriate surfaces in exterior zones, but no surfaces in the inte

[2020-01-29 13:28] jmarrec commented on #7651
Hum, so I started investigating by creating a defect file  (https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/7000s/7651), only to realize it's already been taken care of:

https://github.com/NREL/EnergyPlus/blob/9ce5c3eda4dd9333e1dfa7ffa3690274e022584c/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L5249-L5279

eplusout.err extract:

[code]

That portion of code is pretty redund

[2020-01-29 13:56] jmarrec commented on #6204
Adding a permalink for future reference. Notice the comment:

https://github.com/NREL/EnergyPlus/blob/9ce5c3eda4dd9333e1dfa7ffa3690274e022584c/src/EnergyPlus/VariableSpeedCoils.cc#L4082-L4084

[2020-01-29 17:09] mjwitte opened #7728 "Resolve terminal unit sensible output calculation method differences"
Issue overview
--------------
The old direct air terminal unit used a slightly different method to calculate `SysOutputProvided `. Special if block added for `SingleDuctConstVolNoReheat` to minimize diffs in #7448. See code here in [ZoneAirLoopEquipmentManager](https://github.com/NREL/EnergyPlus/blob/af62e24d8e77a64dd3fbd652b80819e6154696a1/src/EnergyPlus/ZoneAirLoopEquipmentManager.cc#L819-L832).

[2020-01-29 19:31] mjwitte opened #7729 "Refactor VRF static timing variables"
Issue overview
--------------
The VRF models have several troublesome static local variables in `InitVRF`,  `CalcVRFCondenser` and `CalcVRFCondenser_FluidTCtrl` which can cause problems with serial unit tests.  Seems they should either be part of the component structs or should be module level variables. Also, at first glance, if there's more than one VRF condenser these variables will be wrong, b

[2020-01-30 00:19] rraustad commented on #7729
CurrentEndTime and CurrentEndTimeLast are only used to determine the progression of time and when down-shifting of the HVAC time step occurs. These variables are the same for all VRF systems (i.e., this time step has a time and last time step has a time). Yes these should probably be moved to the module level for unit testing. And if there is a better way to track time then that is preferred. Rega

[2020-01-30 15:34] Nigusse commented on #7718
Looking at the cooling tower objects IDD, of the three cooling tower models in EnergyPlus listed below only *CoolingTower:SingleSpeed* has ***Capacity Control*** input field.
- CoolingTower:SingleSpeed
- CoolingTower:TwoSpeed
- CoolingTower:VariableSpeed

The single speed cooling tower *Capacity Control* input field has two choice key shown below:
     A11, \field Capacity Control
         \type c

[2020-01-30 15:42] mjwitte commented on #7718
@Nigusse The TwoSpeed and VariableSpeed towers inherently have some capacity control with fan speeds and fan off. The goal here is to add FluidBypass as an option for low loads when the fan is off. So, it doesn't seem that the same choices would apply. It's worth investigating how these towers are typically controlled in the field. It may be that bypass is standard and we don't even need an input

[2020-01-30 17:07] JasonGlazer commented on #7646
Related to: https://github.com/energy-plus/EnergyPlus/blob/PerfOverrideAndReporting/design/FY2020/NFP-PerformanceOverRidesAndReporting.md

[2020-01-30 17:44] Nigusse commented on #7718
I agree it is not a capacity control. I was looking at the single speed cooling tower input field, the capacity control is not as such a capacity control, may be it is during FanCycling mode but even then it is used at low load only, I think. You are right we do not need input field to implement the bypass operating mode. We can always trigger bypass whenever tower leaving water temperature at fan

[2020-01-30 17:49] rraustad commented on #7718
That's a form of free cooling, as long as the tower is on. I agree with @mjwitte. We need to know what manufacturers do with tower water flow when no cooling is needed when series configuration is used. Do manufacturers have special considerations when equipment is in series with towers? Sounds like you need to make a phone call.

[2020-01-30 20:25] JasonGlazer commented on #7646
@lgu1234 have you started working on this?

[2020-01-31 18:27] lgu1234 commented on #7646
@JasonGlazer I am going to work on it.

[2020-01-31 19:08] mjwitte opened #7733 "Water to Water Heat Pump output variable name conflict"
Issue overview
--------------
In v9.2, all of the HeatPump:WaterToWater:* objects had output variables which began with "Water to Water Heat Pump . . . ".

In #7489, HeatPump:WaterToWater:EIR:Cooling became HeatPump:PlantLoop:EIR:Cooling and was extended to include an air-source option, so it's output variables were all changed to "~Water to Water~ Heat Pump . . . ". The transition Report Variable

[2020-01-31 19:10] mjwitte commented on #6875
Closed via #7730

[2020-01-31 19:10] #6875 closed, assigned to nobody

[2020-01-31 19:19] mitchute commented on #7733
Of course they do... I'll submit another PR to fix this up.

[2020-02-03 04:09] mitchute commented on #7170
@jmarrec Do you want to add this to #7666, or should I create a separate PR for this?

[2020-02-03 04:15] mitchute commented on #5105
It's been almost 3 yrs since any activity on this issue. Closing, but we can reopen it if necessary if this shows up again.

[2020-02-03 04:15] #5105 closed, assigned to JasonGlazer

[2020-02-03 05:09] mitchute commented on #7618
It looks to me that the source code is OK, just the docs need updating. See the following from plotting the ```FanEff120CPLANormal``` curve from the ```StripMallZoneEvapCooler.idf``` file.

![image](https://user-images.githubusercontent.com/2985979/73627106-5573ca80-4619-11ea-9a58-a52cf1c40127.png)

Is this right? I'm not finding any references regarding how the curve should be formed.

[2020-02-03 11:26] jmarrec commented on #7170
@mitchute I started addressing it, only to realize that it's been fixed by @RKStrand already in https://github.com/NREL/EnergyPlus/commit/c3840d1583a2880f5bf631e8315de7098a99b427#diff-bd925b30348217846c62bf3e16382616

[2020-02-03 11:26] #7170 closed, assigned to mitchute

[2020-02-03 11:29] jmarrec commented on #7618
Addressed in #7666 as well, cf screenshot https://github.com/NREL/EnergyPlus/pull/7666#issuecomment-581361460

[2020-02-03 11:53] jmarrec opened #7735 "Clarify options for placement of solar collectors on PlantLoops: demand side? Supply side? Both"
Issue overview
--------------

This came up again in https://github.com/NREL/EnergyPlus/pull/7721#discussion_r373707353:

Lots of confusion on what the placement of solar collectors should / must be.
Generally speaking the documentation and example files in E+ seem to imply demand side placement (with control of the loop via availability managers).

OpenStudio forces you to put the Flat Plate ones

[2020-02-03 13:24] jmarrec commented on #7538
The murine theme engine warning is fixed via ` sudo apt install gtk2-engines-murrine:i386`

The canberra warning: `sudo apt install libcanberra-gtk-module:i386`

The atk-bridge one: `sudo apt install libatk-adaptor:i386`

[2020-02-03 15:23] jmarrec commented on #6313
I see a difference in patterns being used and wouldn't mind guidance.

**Should the Fault object reference the object it's fouling, or the other way around?**

It seems that Boilers, Chillers, etc are the ones including an Index to the Fault object: eg ElectricEIRChillerSpecs' FaultyChillerFoulingIndex https://github.com/NREL/EnergyPlus/blob/588fe91ef15aedef7c68a25117c1e27ec8293a43/src/EnergyPlus/

[2020-02-03 15:28] jmarrec commented on #6313
I don't think it's needing both directions, and I'd say that having the object reference its fault model is better because it avoids having to loop on all fault objects everytime, but that means modifying `WaterCoils::WaterCoilEquipConditions` to add an int that isn't going to be used that often.

[2020-02-03 15:43] rraustad commented on #6313
The UnitarySystem uses a call to the fault manager instead of a call from fault manager to UnitarySystem. I had the same epiphany as you when connecting this to UnitarySystem. The only issue is if name/type in the fault manager does not match a valid UnitarySystem object (e.g., misspelling) and how to warn the user. I don't recall if I addressed that or not.

FaultsManager.cc line 1035

    } else

[2020-02-03 19:26] mitchute commented on #7590
Addressed by #7714. Closing.

[2020-02-03 19:26] #7590 closed, assigned to mitchute

[2020-02-04 04:57] mitchute commented on #7026
@mjwitte @Myoldmopar The Yahoo! user's group is dead, right? We should get it removed from [https://energyplus.net/support](https://energyplus.net/support)

[2020-02-04 19:27] mitchute opened #7739 "Parametric Spreadsheet References Present in Docs but not in Repo or Install"
Issue #7026 notes several ParametricSpreadsheet references in the docs, however, these spreadsheets are not present in the repo, which means that they also don't get shipped in the installer. We need to decide whether to find (and update) and include the spreadsheets or delete the documentation and associated references.

See also #5423

### Details
Some additional details for this issue (if relev

[2020-02-04 21:29] mitchute commented on #5984
Closing in lieu of the ongoing 10X work. We should open a new issue if there's a specific issue to address.

[2020-02-04 21:29] #5984 closed, assigned to nobody

[2020-02-05 12:45] jmarrec opened #7740 "Output:DebuggingData IDD should use a choice field for boolean and not a numeric"
Issue overview
--------------

Minor thing, but I realized this:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guid

[2020-02-05 16:00] aaron-boranian commented on #6595
This new feature request was mentioned in Unmet Hours posts [here](https://unmethours.com/question/30911/plant-loop-with-steam-equipment-definitions-possible/) and [here](https://unmethours.com/question/25448/any-heat-exchanger-can-transfer-heat-from-steam-to-water/).

[2020-02-06 05:52] gopal86 commented on #7256
Hi, I am facing the same issue after installing [EnergyPlus 9.1.0](https://github.com/NREL/EnergyPlus/releases/tag/v9.1.0) from the sh file . Can someone help me with it?

[2020-02-06 09:47] jmarrec opened #7742 "Output:Diagnostics should be \unique-object and \extensible"
Issue overview
--------------

https://github.com/NREL/EnergyPlus/blob/ce80ec5008dab9fe404249011757b97e115f7733/idd/Energy+.idd.in#L107565-L107594

Proposed IDD, similar to Output:Table:SummaryReports

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours

[2020-02-06 20:35] mjwitte commented on #7026
@mitchute Not yet, the yahoo group is still there at the moment.

[2020-02-06 20:53] mjwitte commented on #7742
How about extensible, but not \unique-object ?

[2020-02-07 12:18] jmarrec commented on #7256
Just use E+ 9.2 if you can.

For 9.1, Just use the tar.gz file and place it in `/usr/local/EnergyPlus-9-1-0` then recreate the symlinks by hand...

[2020-02-07 17:16] eringold opened #7744 "AirTerminal:SingleDuct:ConstantVolume:NoReheat not respecting Maximum Air Flow Rate input"
Issue overview
--------------
`SimConstVolNoReheat` appears to have no checks for user input Maximum Air Flow Rate:

https://github.com/NREL/EnergyPlus/blob/588fe91ef15aedef7c68a25117c1e27ec8293a43/src/EnergyPlus/SingleDuct.cc#L4721-L4783

![image](https://user-images.githubusercontent.com/10799524/74049901-58144e00-4992-11ea-98ff-b3beb2ee5145.png)

![image](https://user-images.githubusercontent.c

[2020-02-07 17:25] mjwitte commented on #7744
@eringold Those checks are supposed to be happening here in [`SingleDuct::InitSys`](https://github.com/NREL/EnergyPlus/blob/588fe91ef15aedef7c68a25117c1e27ec8293a43/src/EnergyPlus/SingleDuct.cc#L2256-L2288). Please provide the idf file.

[2020-02-07 17:59] eringold commented on #7744
@mjwitte I emailed you the files, and thanks for correcting me on the relevant code section.

For the record, I did some additional investigation: In the initial defect file (7744_initial.idf), a DOAS system serves a number off zones directly through AirTerminal:SingleDuct:ConstantVolume:NoReheats, as well as one zone with an AirTerminal:SingleDuct:Mixer supplying to a fan coil unit. In that file,

[2020-02-07 18:12] RKStrand commented on #7558
@rraustad Ok, so this is not exactly what it seems.  I'm not sure that the equation you mentioned above is where the problem is for two reasons.  1) When I modify that equation to include the zone multipliers, the results aren't better--they are worse.  In fact, if you look at an annual run, the numbers in the summer are nearly identical between 1x and 5x for non-modified code.  But, if you look a

[2020-02-07 21:03] RKStrand commented on #7558
@rraustad But it is weird though because for the loads to setpoint, it reports the value that has not been multiplied by the zone multipliers (the opposite of what the humidity is doing).

[2020-02-07 21:08] #7476 closed, assigned to Nigusse

[2020-02-07 21:21] rraustad commented on #7558
I imagine that this has never been seen before since sensible loads are typically used for sizing. I think the sensible and moisture reports should work identically. This came to my attention when I started thinking about sizing on latent loads. When I saw this I wondered how latent sizing would differ from sensible sizing or if there was some issue with how multipliers are applied to each.

If th

[2020-02-08 23:38] #7698 closed, assigned to nobody

[2020-02-10 18:07] matthew-larson opened #7748 "ZoneHVAC:HybridUnitaryHVAC unit shuts off when there is no load but ventilation is requested"
Issue overview
--------------
When there is no heating or cooling load but the ZoneHVAC:HybridUnitaryHVAC unit has to operate to meet the minimum ventilation requirements, the unit is going into Standby mode instead of providing the required minimum ventilation.  The section in the code to set the [CurrentOperatingSettings](https://github.com/NREL/EnergyPlus/blob/b1c11ff5a75e8e34a6e667b25b8d350f4f

[2020-02-10 18:49] matthew-larson opened #7749 "ZoneHVAC:HybridUnitaryHVAC load not being accounted for in additional HVAC equipment"
Issue overview
--------------
The ZoneHVAC:HybridUnitaryHVAC object is not included in the list of
[NumZoneHVACTerminalTypes](https://github.com/NREL/EnergyPlus/blob/b1c11ff5a75e8e34a6e667b25b8d350f4f1cddae/src/EnergyPlus/DataHVACGlobals.cc#L508) and its corresponding array.  It is also missing from the [ReportMaxVentilationLoads](https://github.com/NREL/EnergyPlus/blob/b1c11ff5a75e8e34a6e667b25b8

[2020-02-10 19:10] matthew-larson opened #7750 "ZoneHVAC:HybridUnitaryHVAC - Change lookup tables to use Watts instead of kW"
Issue overview
--------------
The lookup tables for all fuel power and consumption rates in the ZoneHVAC:HybridUnitaryHVAC object currently expect table values to be in kW, instead of the EnergyPlus typical standard of Watts.  This is also not explained anywhere in the documentation or IDD file.  The calculation from the output value from the table to the EnergyPlus output can be seen [here](https

[2020-02-10 19:37] matthew-larson opened #7751 "ZoneHVAC:HybridUnitaryHVAC - Missing output variables for return air and relief air values"
Issue overview
--------------
The ZoneHVAC:HybridUnitaryHVAC object doesn't output the flow rate for the return air stream to the unit or the temperature, flow rate, or humidity for the relief air stream.  The output variables for the ZoneHVAC:HybridUnitaryHVAC object can be found [here](https://github.com/NREL/EnergyPlus/blob/b1c11ff5a75e8e34a6e667b25b8d350f4f1cddae/src/EnergyPlus/HybridUnitaryAi

[2020-02-10 20:00] matthew-larson opened #7752 "ZoneHVAC:HybridUnitaryHVAC - Output variable for outdoor air node is reporting no flow rate during 100% OA operation"
Issue overview
--------------
When the ZoneHVAC:HybridUnitaryHVAC unit is running, the output shows supply air flow and cooling operation but the outdoor air node has an output of 0 for the flow rate at 100% outdoor air operation.  Seems to be using the wrong parameter to grab the minimum outside air in the [DetermineCoolingVentilationOrHumidificationNeeds](https://github.com/NREL/EnergyPlus/blob/

[2020-02-10 20:06] RKStrand commented on #7558
@rraustad Getting the moisture report to print out the same results as the sensible load (as far as whether or not they are using the zone multiplier or not) should be relatively straightforward.  But, yeah, figuring out why exactly the results are off for winter dew point may not be all that simple.  I suspect that diagnosing the problem will be most of the battle here.

[2020-02-10 20:22] matthew-larson opened #7753 "ZoneHVAC:HybridUnitaryHVAC is not included in any reporting summary tables for output"
Issue overview
--------------
The ZoneHVAC:HybridUnitaryHVAC object is not included in any output summary tables showing information regarding the object parameters.  Should at least include maximum supply air flow to show the resulting size of the unit based on the System Maximum Supply Air Volume Flow Rate input and Scaling Factor Input for the object.  Everything else is dependent on the lookup

[2020-02-10 20:29] matthew-larson opened #7754 "ZoneHVAC:HybridUnitaryHVAC is not metering its water use"
Issue overview
--------------
ZoneHVAC:HybridUnitaryHVAC is not metering its water use.  The output variable for the water consumption is [here](https://github.com/NREL/EnergyPlus/blob/b1c11ff5a75e8e34a6e667b25b8d350f4f1cddae/src/EnergyPlus/HybridUnitaryAirConditioners.cc#L1043).  The water consumption is an important aspect of this system.

### Details
Some additional details for this issue (if r

[2020-02-10 20:43] mjwitte commented on #7754
See related issue #7520

[2020-02-10 22:01] mldichter opened #7756 "EnergyPlus not catching improper AirFlowNetwork Linkages, Duplicate Ducts, Duplicate Nodes, Etc"
Issue overview
--------------
In the AirflowNetwork_Attic_Duct.idf example file, the AirFlowNetwork is very poorly formed. Some of the flaws are detailed in the UnmetHours post, such as Duct objects used more than once. The IDF simulates flawlessly, which it should definitely not.

### Details
Some additional details for this issue (if relevant):
 - EnergyPlus 9.2
 - https://unmethours.com/questio

[2020-02-10 23:37] mldichter commented on #7451
The IO Ref and IDD disagree on the inputs to a AirflowNetwork:Distribution:Linkage object.

![Capture3](https://user-images.githubusercontent.com/39242689/74200153-003c4800-4c1b-11ea-8e52-93463ca1c6b0.PNG)
![Capture4](https://user-images.githubusercontent.com/39242689/74200160-03cfcf00-4c1b-11ea-8c34-e3e9fe6bbbd3.PNG)

The IDD appears to be the correct one. The Node 1 Name and Node 2 Name fields c

[2020-02-11 01:36] rraustad commented on #7422
See PR #7605.

[2020-02-11 02:09] jasondegraw commented on #7756
@mldichter As I pointed out on UnmetHours, there are some forms of reuse that are OK. Reuse of ducts should be OK as long as it makes modeling sense. Other potential problems, like node duplication, are potentially more of an issue and should get fixed. With those two things in mind, could you list out the things you're seeing? If you'd prefer an offline conversation, we can probably arrange that

[2020-02-11 16:30] mldichter commented on #7756
@jasondegraw Could you update the documentation instead of an offline conversation? I pointed out a discrepancy in #7451 between the IO Ref and the IDD file, but the documentation could use a once over. For instance, your comment in the UnmetHours post,

It's not in the IO Ref as far as I can tell. I assumed that nodes and ducts had to be unique, but I have no intuition for how to correctly use du

[2020-02-11 17:57] mitchute commented on #7026
@mjwitte I'm going to open a separate issue to track the Yahoo! user group.

@JasonGlazer I'm moving these remaining open issues to a new doc-fix issue so this can wrap up soon. I think there's a chance we may need to reorder objects in the IDD to resolve these, but since we're so close to the IDD freeze I'd rather not take a chance in this not getting in.

[2020-02-11 17:59] JasonGlazer commented on #7026
@mitchute ok, I understand that the issues that I raised were complicated. It is probably worth a thorough review of the IDD and IOref.

[2020-02-11 18:02] mitchute opened #7759 "Evaluate Yahoo! Users Group on Website"
From the Yahoo! users group website:

Evaluate usage and remove from the website as needed.

[2020-02-11 18:07] mitchute opened #7760 "Documentation Issues - 2020a"
Issue overview
--------------
A collection of small documentation issues. See checkboxed comments below.

[2020-02-11 18:07] mitchute commented on #7760
Moved from #7026

- [ ] The organization of groups in the IOref does not always match the arrangement in the IDD! - *Probably won't fix, ever. MJW*
- [ ] The IDD group Natural Ventilation and Duct Leakage is shown in the IOref as AirflowNetwork - *Will do the opposite at some point, rename the IDD group. MJW*
- [x] The IDD has Water Heaters and Thermal Storage group that includes thermal storage o

[2020-02-11 18:56] jasondegraw commented on #7756
@mldichter Please don't take quotes like that out of context. It's muddling things together when what we need here is a concrete information for an assignee to work from. #7451 already has someone assigned and is being worked on. I'm sure he'll address your items when he can, so I'd call that "in progress". I don't necessarily agree that the documentation is lacking on this, but feel free to add t

[2020-02-11 19:50] mldichter commented on #7756
@jasondegraw I agree the duplication of nodes is not ideal, but that's not my greatest concern. Let's say that a non EnergyPlus developer is trying to understand what the AFN in the AirflowNetwork_Attic_Duct.idf example is modeling, More specifically, trying to understand the physical significance of multiple AFN nodes referring to the same AirLoop node.

What document and page number should the n

[2020-02-11 20:43] jasondegraw opened #7762 "Node duplication in some of the AirflowNetwork example files"
Issue overview
--------------
Some of the the AirflowNetwork example files have duplicate nodes: multiple AFN nodes are pointing toward the same feature/component. See, for example, AirflowNetwork_Attic_Duct.idf, where MainInletNode and FanInletNode both reference Air Loop Inlet Node. The example files still run successfully, but the networks are possibly more complex than necessary. One possible

[2020-02-11 20:44] jasondegraw commented on #7756
@mldichter At this point, I think the best thing to do is to close this issue. I'll open a separate issue on the node duplication issue. Please submit documentation items to the current pre-existing issues or as a new feature request for additional documentation.

[2020-02-11 20:44] #7756 closed, assigned to nobody

[2020-02-11 21:15] mldichter commented on #7756
@jasondegraw You've essentially brushed this problem under the rug. The issue you opened, #7762, implies the example files are working but might be more complicated than necessary. It doesn't address lack of documentation, and your statement of zero errors implies a correct simulation when multiple AFN nodes reference the same AirLoop node is not sound.

I'll be going through the IO Ref to find in

[2020-02-11 21:32] aaron-boranian commented on #7077
To give more context, I have also seen this for the Flagstaff, AZ weather files. The reason for this seems to be that the WMO# assigned to the EPW file does not match the WMO# assigned to design day information used by the [WeatherConverter](https://bigladdersoftware.com/epx/docs/9-2/auxiliary-programs/weather-converter-program.html#weather-converter-program) tool. Both EPW files (TMY3 & TMY2) ava

[2020-02-11 21:33] mjwitte commented on #7756
@mldichter EnergyPlus is open source. Feel free to contribute documentation changes. The EnergyPlus contribution policy may be found [here](https://energyplus.net/contributing).

[2020-02-11 21:42] mldichter commented on #7756
@mjwitte Some of the documentation I can update, It's a bunch of LaTeX, so not too bad. However, there's a few things missing in the documentation of the AirflowNetwork objects that just doesn't exist. In this thread for instance, What is the physical significance of multiple AFN nodes referring to the same AirLoop node? I have no idea, but it must represent physical connection of ducts since the

[2020-02-11 21:45] mldichter commented on #7762
I discovered the difficult AirflowNetwork layout to interpret in the AirflowNetwork_Attic_Duct.idf example file which is discussed in this UnmetHours post.
https://unmethours.com/question/42733/example-airflownetwork-drawing-for-idf/

[code]

[2020-02-11 21:46] mjwitte commented on #7756
Contribute what you can.

[2020-02-12 02:18] #7711 closed, assigned to jmarrec

[2020-02-12 02:18] #7720 closed, assigned to jmarrec

[2020-02-12 09:11] jmarrec opened #7763 "FaultModel:Fouling:Coil does not work for Coil:Cooling:Water"
Issue overview
--------------

Adding a new testfile in #7738 to address #6313, I realized `FaultModel:Fouling:Coil` applied to a `Coil:Cooling:Water` does not work, while it now seems ok for `Coil:Heating:Water`

Here the gist of the faults I used:

[code]

I am running the model twice:
* NoFault case: I set the `Fouling Availability Schedule` to a value of 0.0 (so I still have the conditional ou

[2020-02-12 18:01] #7451 closed, assigned to jmarrec

[2020-02-12 18:01] #7618 closed, assigned to jmarrec

[2020-02-12 18:41] jasondegraw commented on #7760
- [x] @mitchute I'd personally prefer that the IDD group "Natural Ventilation and Duct Leakage" be changed to "AirflowNetwork" rather than the other way around. Also, are IDD groups going to be around in the epJSON future?

2021.06.09 (RKS) This seems to be taken care of already.

[2020-02-12 23:38] RKStrand commented on #7558
@rraustad Oh...I think I have an explanation as to why the difference is being seen and now I actually think the difference should be there.  When you use a zone multiplier of 5 on just Space1-1 with the swimming pool, that means five times the return air from that zone that gets mixed with the other spaces that have a zone multiplier of 1.  When that hits the plenum, because the pool is in Space1

[2020-02-13 04:06] #7697 closed, assigned to jmarrec

[2020-02-13 15:30] jmarrec opened #7764 "AirLoopHVAC:UnitarySystem crashes if "Minimum Supply Air Temperature" is autosized"
Issue overview
--------------

Problem is that here it doesn't check if "Autosize" first:

https://github.com/NREL/EnergyPlus/blob/c6e3c11494dc001bcbff430d26f135925f52b802/src/EnergyPlus/UnitarySystem.cc#L2762-L2765

throws

[code]

Extract from IDD:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using

[2020-02-13 15:31] jmarrec opened #7765 "AirLoopHVAC:UnitarySystem crashes if 'Minimum Supply Air Temperature' is 'Autosize'"
Issue overview
--------------

Problem is that here it doesn't check if "Autosize" first:

https://github.com/NREL/EnergyPlus/blob/c6e3c11494dc001bcbff430d26f135925f52b802/src/EnergyPlus/UnitarySystem.cc#L2762-L2765

throws

[code]

Extract from IDD:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using

[2020-02-13 15:34] jmarrec opened #7766 "AirLoopHVAC:UnitarySystem crashes when 'Minimum Supply Air Temperature' is 'Autosize'"
Issue overview
--------------

Problem is that here it doesn't check if "Autosize" first:

https://github.com/NREL/EnergyPlus/blob/c6e3c11494dc001bcbff430d26f135925f52b802/src/EnergyPlus/UnitarySystem.cc#L2762-L2765

throws

[code]

Extract from IDD:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using

[2020-02-13 15:35] jmarrec opened #7767 "AirLoopHVAC:UnitarySystem crashes when 'Minimum Supply Air Temperature' is 'Autosize'"
Issue overview
--------------

Problem is that here it doesn't check if "Autosize" first:

https://github.com/NREL/EnergyPlus/blob/c6e3c11494dc001bcbff430d26f135925f52b802/src/EnergyPlus/UnitarySystem.cc#L2762-L2765

throws

[code]

Extract from IDD:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using

[2020-02-13 15:35] jmarrec opened #7768 "AirLoopHVAC:UnitarySystem crashes when 'Minimum Supply Air Temperature' is 'Autosize'"
Issue overview
--------------

Problem is that here it doesn't check if "Autosize" first:

https://github.com/NREL/EnergyPlus/blob/c6e3c11494dc001bcbff430d26f135925f52b802/src/EnergyPlus/UnitarySystem.cc#L2762-L2765

throws

[code]

Extract from IDD:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using

[2020-02-13 15:36] jmarrec opened #7769 "AirLoopHVAC:UnitarySystem crashes when 'Minimum Supply Air Temperature' is 'Autosize'"
Issue overview
--------------

Problem is that here it doesn't check if "Autosize" first:

https://github.com/NREL/EnergyPlus/blob/c6e3c11494dc001bcbff430d26f135925f52b802/src/EnergyPlus/UnitarySystem.cc#L2762-L2765

throws

[code]

Extract from IDD:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using

[2020-02-13 15:37] jmarrec opened #7770 "AirLoopHVAC:UnitarySystem crashes in getting input when 'Minimum Supply Air Temperature' is 'Autosize'"
Issue overview
--------------

Problem is that here it doesn't check if "Autosize" first:

https://github.com/NREL/EnergyPlus/blob/c6e3c11494dc001bcbff430d26f135925f52b802/src/EnergyPlus/UnitarySystem.cc#L2762-L2765

throws

[code]

Extract from IDD:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using

[2020-02-13 15:40] jmarrec opened #7771 "AirLoopHVAC:UnitarySystem crashes in getting input when 'Minimum Supply Air Temperature' is 'Autosize'"
Issue overview
--------------

throws

[code]

Extract from IDD:

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guid

[2020-02-13 15:43] #7764 closed, assigned to nobody

[2020-02-13 15:43] #7765 closed, assigned to jmarrec

[2020-02-13 15:44] #7766 closed, assigned to nobody

[2020-02-13 15:44] #7767 closed, assigned to nobody

[2020-02-13 15:44] #7768 closed, assigned to nobody

[2020-02-13 15:44] #7769 closed, assigned to nobody

[2020-02-13 15:44] #7770 closed, assigned to nobody

[2020-02-13 16:47] rraustad opened #7773 "Followup to #7605 - VRF in airloop/OASys"
Issue overview
--------------
Several minor details remain for #7605
 - [x] clang-format code after freeze date (or release if that helps reduce conflicts)

 - [ ] address issue with Availability Managers used with VRF and UnitarySystem. Zone equipment uses DataHVACGlobals::ZoneCompTurnFansOn/Off and air loop equipment uses DataHVACGlobals::TurnFansOn/Off. These 2 equipment types can be used as zo

[2020-02-13 19:34] #7655 closed, assigned to mjwitte

[2020-02-13 19:39] #7595 closed, assigned to mjwitte

[2020-02-14 15:18] lgu1234 opened #7777 "Need an error message with availability schedule index = 0 in UnitarySystem"
Issue overview
--------------
When availability schedule name exists and schedule index = 0, an error message is needed to warm users in UnitarySystem.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to thi

[2020-02-14 18:25] mldichter opened #7779 "Warnings displayed in ERR file, but total number of errors is zero"
Issue overview
--------------
The AirflowNetwork_MultiZone_SmallOffice_VAV.idf example file reports warnings in the ERR file, but the total number of warnings during any part of the simulation is zero.

[code]

### Details
Some additional details for this issue (if relevant):
 - Windows 10
 - EnergyPlus 9.2
 - Using C:\EnergyPlusV9-2-0\WeatherData\USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw

###

[2020-02-14 22:10] mldichter commented on #7762
AirflowNetwork_MultiZone_House_OvercoolDehumid.idf
"Air Loop Inlet Node" referenced twice and used on the same linkage.

[code]

[2020-02-14 22:14] mldichter commented on #7762
AirflowNetwork_MultiZone_House_FanModel.idf
AirflowNetwork_MultiZone_House.idf
AirflowNetwork_Simple_House.idf
AirflowNetwork_MultiZone_LocalNode.idf
AirflowNetwork_MultiZone_House_TwoSpeed.idf
"Air Loop Inlet Node" referenced twice and used on the same linkage.

[code]

[2020-02-14 22:18] mldichter commented on #7762
AirflowNetwork_MultiZone_House.idf
"Air Loop Inlet Node" referenced twice and used on the same linkage.

[code]

[2020-02-14 22:28] mldichter commented on #7762
AirflowNetwork_Simple_House.idf
"Air Loop Inlet Node" referenced twice and used on the same linkage.

[code]

[2020-02-14 22:32] mldichter commented on #7762
AirflowNetwork_MultiZone_LocalNode.idf
"Air Loop Inlet Node" referenced twice and used on the same linkage.

[code]

[2020-02-14 23:03] mldichter commented on #7762
I went through all the energyplus example files with AirflowNetwork:Distribution:Node objects,

AirflowNetwork_Attic_Duct.idf
AirflowNetwork_MultiAirLoops.idf
AirflowNetwork_MultiZone_House.idf
AirflowNetwork_MultiZone_House_FanModel.idf
AirflowNetwork_MultiZone_House_OvercoolDehumid.idf
AirflowNetwork_MultiZone_House_TwoSpeed.idf
AirflowNetwork_MultiZone_LocalNode.idf
AirflowNetwork_MultiZone_Sma

[2020-02-17 15:36] mitchute commented on #7733
Closed by #7734

[2020-02-17 15:36] #7733 closed, assigned to mitchute

[2020-02-18 00:17] #7646 closed, assigned to lgu1234

[2020-02-18 03:31] rraustad opened #7782 "AirloopHVAC:UnitarySystem RH control broken with V9.2"
Issue overview
--------------
Previous code refactoring broke RH control by converting a global MoistureLoad variable to an unused local variable. In other words the global MoisureLoad variable is always 0.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours l

[2020-02-18 20:20] rraustad opened #7788 "Convert Coil:Cooling:DX:Multispeed to use centralized sizing routine"
Issue overview
--------------
Code maintenance requires a change to the multispeed DX coil to use a centralized sizing routine. Main changes will be in autosized coil SHR where a test is used to make sure the SHR is valid and results in a valid rated outlet condition (i.e., results fall on the psyc chart).

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating sy

[2020-02-18 21:09] JasonGlazer opened #7790 "No Initialization Summary in Tabular file"
Issue overview
--------------
The current develop creates an EIO file when using HeatPumpProportionalControl_DCV.idf (or several other files with tabular reports that I tried) but the Initialization Summary content does not be generated. The link the table of contents is created as well as the header for the report but it has not tables. The Initialization Summary depends on reading the EIO file.

[2020-02-18 21:09] JasonGlazer commented on #7790
@lefticus could you take a look?

[2020-02-18 21:41] lefticus commented on #7790
@JasonGlazer It's probably related to some change I made, but can you give me a specific example of what is missing?

Which specific file is missing data?
What does this data look like?

[2020-02-18 21:49] JasonGlazer commented on #7790
Run HeatPumpProportionalControl_DCV.idf , open the HTML file, look for the Initialization Summary. For me, no table show up for that report.

[2020-02-18 21:50] JasonGlazer commented on #7790
![image](https://user-images.githubusercontent.com/2582150/74780998-4ec69380-5266-11ea-86ad-c32de63ec046.png)

[2020-02-18 21:51] JasonGlazer commented on #7790
It should look like:

![image](https://user-images.githubusercontent.com/2582150/74781057-6bfb6200-5266-11ea-9cf5-56d2cc5633ab.png)

and it goes on and on covering everything in the EIO file.

[2020-02-18 21:59] lefticus commented on #7790
OK, I'll look into it.

[2020-02-18 23:01] lefticus commented on #7790
It might be tomorrow afternoon before I get this figured out, but have confirmed that it was that last large change from me that broke things. d822fa7d7

[2020-02-18 23:01] mjwitte commented on #4187
@Myoldmopar @jmarrec Tested the #4187 defect file with the #7578 branch. It still fatals out with a rootfinder error. It runs to completion if you edit the file and set the min-flows to zero. So, while changing the min-flow default to zero is a step in the right direction, it doesn't completely resolve this defect.

[2020-02-18 23:07] JasonGlazer commented on #7790
I would guess the file isn't written by the time it is needed by the tabular reports or maybe it just isn't closed, something like that.

[2020-02-18 23:10] JasonGlazer commented on #7790
WriteEioTables() actually reads the EIO file to produce the tables in the initialization summary.

[2020-02-19 02:23] #7788 closed, assigned to nobody

[2020-02-19 02:39] #7790 closed, assigned to nobody

[2020-02-19 18:15] mitchute opened #7793 "Errors in Convection Coefficients from CalcBeausoleilMorrisonMixedStableFloor"
The IF statement conditions on [this line](https://github.com/NREL/EnergyPlus/blob/93a9c3609392c8dbe8e8a7e323428d1928fc4e8e/src/EnergyPlus/ConvectionCoefficients.cc#L8817) in ```CalcBeausoleilMorrisonMixedStableFloor``` are not correct. They should mimic what is shown in the other similar functions, such as [here](https://github.com/NREL/EnergyPlus/blob/93a9c3609392c8dbe8e8a7e323428d1928fc4e8e/src

[2020-02-19 20:11] lgu1234 commented on #7762
@mldichter @jasondegraw I changed an object from

AirflowNetwork:Distribution:Node,
    MainInletNode,           !- Name
    Air Loop Inlet Node,     !- Component Name or Node Name
    Other,                   !- Component Object Type or Node Type
    3.0;                     !- Node Height {m}

To:

AirflowNetwork:Distribution:Node,
    MainInletNode,           !- Name
    ,     !- Component Name

[2020-02-19 21:28] #6475 closed, assigned to jmarrec

[2020-02-19 21:39] jasondegraw commented on #7762
@lgu1234 That's sort of what I had expected. The information that the pressure network is passing back to the rest of the code isn't really changing the computations that EnergyPlus does. Your plan sounds good to me.

[2020-02-20 17:07] #7556 closed, assigned to JasonGlazer

[2020-02-20 17:23] shorowit commented on #7556
Thanks @JasonGlazer!

[2020-02-20 21:22] RKStrand commented on #7725
@mjwitte Reading through this defect, it looks like item 3 in the description is something different.  Has this been broken out into a separate defect yet?  Also, what is being requested for item 2 above--correction of documentation or reimplementation of what was disabled?

[2020-02-20 21:28] mjwitte commented on #7725
@RKStrand Items 1 and 2 are my work to finish up from the original development. Item 3 I noticed while trying to fix item 2. So, I just noted it here, and haven't circled back to test some other files and post a new defect.

[2020-02-20 21:30] RKStrand commented on #7725
@mjwitte No problem.  If you don't want to work on the new defect that contains item 3, let me know when you establish that new defect and I could potentially work on it.  If you would rather work on that yourself, don't bother telling me and I'll assume that you took care of it.  Thanks!

[2020-02-20 22:07] RKStrand commented on #7688
@EnergyArchmage I've taken a look at this in the code and I think I understand what is needed here.  However, I don't want to fix something that someone else is already working to correct.  Are you working on this (now or in the future) or is anyone else that you know of working/planning to work on this?

[2020-02-20 23:17] EnergyArchmage commented on #7688
Hi @RKStrand, I am not working on it and don't know of anyone else.  I figured my changes would conflict with plant refactor.  It is a simple fix.

[2020-02-21 14:56] RKStrand commented on #7688
Thanks, @EnergyArchmage, I will go ahead and assign it to myself and take care of it.

[2020-02-21 19:19] RKStrand opened #7799 "Addition of Sensible and Moisture Load Values at System Level (after Zone Multipliers are added)"
With Defect #7558, there were some changes to moisture load output to bring it in line with sensible load output.  So, now there is consistency in that all of these loads are on a per zone basis without the application of any zone multipliers.  However, there are some circumstances where the loads with the multipliers might be useful for looking at what is happening at the system level.  So, this

[2020-02-21 20:04] matthew-larson opened #7800 "ZoneHVAC:HybridUnitaryHVAC - Unit is providing max ventilation instead of minimum ventilation in ventilation mode"
Issue overview
--------------
This issue was found when setting the maximum supply air available above the minimum ventilation requirement.  When the unit goes into ventilation mode, it is supplying the maximum supply air flow instead of the minimum required ventilation air flow that is desired.  Need to modify the code to use the minimum required ventilation instead of the maximum supply air flow

[2020-02-21 22:28] mjwitte opened #7802 "OPENGL_REQUIRED changes target folders in Visual Studio solution explorer"
Issue overview
--------------
On the `transition_ems_func` branch with latest develop merged in, I configured without OpenGL and the fortran projects (ExpandObjects_build, and Transition_build) are present in the solution.

Check OPENGL_REQUIRED (BUILD_FORTRAN is still checked), reconfigure, and those project are now missing from the solution.

![image](https://user-images.githubusercontent.com/49

[2020-02-21 22:44] mjwitte commented on #7802
And if it matters, also checked are build docs, testing, and package.

[2020-02-22 02:55] rraustad opened #7803 "Follow up to API effort"
Issue overview
--------------
Followup to #7776. See PR discussion for more information.

 - [x] Find all TODOs in src/EnergyPlus/api
 - [x] Fix actuators and sensors for all real/bool/int types
 - [x] Documentation
 - [x] API documentation -- not sure of location yet
 - [x] Gracefully handle running a python case in a dev build without python linked
 - [x] Set PYTHONHOME in the plugin manager: [d

[2020-02-22 03:11] Myoldmopar commented on #7803
On the documentation, there will be a couple things:
 - Documentation of the Python Plugin (EMS) System embedded heavily in the EMSApplicationGuide.
 - The API Application Guide could be a separate document, not sure.

[2020-02-23 15:54] Myoldmopar commented on #7803
Running the CI-built Mac package leads to this in the E+ output:

[code]

But setting PYTHONHOME cleans this up.  The plugin manager needs to set PYTHONHOME when setting PYTHONPATH as well, it seems, on Mac.

[2020-02-23 16:07] Myoldmopar commented on #7803
But huge news though, I had CI build package from the latest develop.  I then pulled all three platforms onto totally separate machines and ran them, completely successfully.  The plugin system worked.  The only issue at all is the little message to clean up I mentioned a few minutes ago.

[2020-02-24 04:01] mbadams5 opened #7806 "ExpandObjects generates bad file and InputProcessor fails to parse"
Issue overview
--------------
https://unmethours.com/question/42355/energyplus-jsonexceptiontype_error305/
The file is in Helpline Ticket 15382.

The real issue is that ExpandObjects is creating bad IDF files as shown in the expanded snippet below:
[code]

ExpandObjects should not output poorly formed IDFs. However, the input processor should still handle these poor IDFs with a more meaningful err

[2020-02-24 12:28] JasonGlazer commented on #7806
Added the defect file to DevSupport repo.

[2020-02-24 19:47] Myoldmopar opened #7808 "New Formatting Fatal Error Confusion"
Issue overview
--------------
With the new formatting library, invalid format calls are handled nicely in a try catch block, and a severe error is issued, but no fatal is thrown.  We just need to issue the severe and then call a fatal, or just call the fatal directly with the error message:

[code]

[2020-02-25 11:43] zach-b opened #7809 "Floating-point error when summing Daylighting Zone Fractions"
We are running into floating-point rounding errors when setting the fraction of a zone controlled by the daylighting reference.

Although the decimal representation of these fractions given in the IDF sums to exactly 1, it seems that the floating point representation in EnergyPlus is > 1, which causes a Fatal Error.

Would it be possible to tolerate values slightly larger than 1 to accomodate for

[2020-02-25 15:48] lgu1234 commented on #7656
@xuanluo113 I am unable to figure out the relationship between local environments and OutdoorAir:Node and AirflowNetwork:MultiZone:ExternalNode. Could you take a look at it?

[2020-02-25 20:56] lgu1234 opened #7811 "Investigate water coil energy use with and without Controller:WaterCoil"
Issue overview
--------------
Water cooling and heating coils are used to provide space cooling and heating. The water coils can be placed in an AirLoop branch as components directly. The Controller:WaterCoil object has to be used to control coil performance. The current legacy water coil controller does have a fancy solver but it is designed to only update a prediction once for each entire HVAC A

[2020-02-26 09:06] jmarrec commented on #7742
My opinion is that if we make a change, might as well go ahead and make it `\unique-object` like `Output:JSON`, `Output:SQLite`, `Output:Table:SummaryReports`, etc.

[2020-02-26 13:29] JasonGlazer opened #7814 "Daylight savings time adding incorrect month calculation in time of use tariff"
Issue overview
--------------
The UtilityCost:Tariff object with a time of use period schedule and a season schedule that both start the summer on June 1 are showing summer tariff calculations starting in May. This file has a RunPeriodControl:DaylightSavingTime which starts daylight savings saving in March. When the RunPeriodControl:DaylightSavingTime is removed, the summer calculations are starte

[2020-02-26 14:11] Nigusse opened #7815 "Example file for VAV Box Minimum Air Flow turndown schedule use"
Issue overview
--------------
Add example file for VAV Box Minimum Air Flow turndown schedule use demonstration. This is not defect.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove fr

[2020-02-26 15:14] Nigusse opened #7817 "Report SEER calculated using the user specified PLF curve and default AHRI curve and C_D"
Issue overview
--------------
PNNL requested SEER value calculation and reporting using both the user specified PLF curve and using the AHRI Std 210/240 default PLF curve and cooling coefficient of degradation (C_D). This is not a defect but gives users alternative SEER value calculation and reporting. Currently single speed DX cooling coil uses PLF curve specified for the DX coil energy performan

[2020-02-26 21:32] mjwitte opened #7818 "Unitary system multispeed coils with OA can fall into max HVAC iteration land"
Issue overview
--------------
From the coil refactor work. Example file UnitarySystem_MultiSpeedDX with non-zero outdoor air flow shows max iteration warnings.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.3.0-IDD Freeze or later

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Def

[2020-02-26 22:19] mjwitte commented on #7742
Whichever. Change to \unique-object will require a transition rule. (either way, it's too late for v9.3 now).

[2020-02-26 23:48] dareumnam commented on #7621
I am wondering if someone already started working on this issue. If not, I would like to take a look at this.

[2020-02-26 23:48] dareumnam commented on #7622
I am wondering if someone already started working on this issue. If not, I would like to take a look at this.

[2020-02-27 01:37] mjwitte commented on #7621
@dareumnam I have not done anything on this yet.

[2020-02-27 01:38] mjwitte commented on #7622
@dareumnam I have not done anything on this yet. It should wait until #7621 is complete. And, because this will cause significant output changes, it must wait until after v9.3 release.

[2020-02-27 03:55] LipingWang opened #7819 "Conduction finite difference failed when thin or highly conductive constructions not in use or air boundary are in the model"
Issue overview
--------------
There is an issued related to the current conduction finite difference.  EnergyPlus models crashed when there are air boundaries in the model or thin or highly conductive constructions created in constructions (not being used by building surfaces). This modification excluded air boundaries and non-used constructions in the initialization and calculation using the cond

[2020-02-27 04:40] gopal86 opened #7820 "Error while running energyplus from external interface"
Issue overview
--------------
While running energy plus from an external interface, I get the following severe error:

I am running the IDF for 5 days i.e. 120 hours. Can anyone help me solve it?
Also, If I do simulation without external interface, in the output I get 4 CSV files, but while I run from the external interface, I get only 2 CSV files as output. Is it also because I am getting a sever

[2020-02-27 15:59] dareumnam commented on #7621
@mjwitte Thanks for letting me know. I'll take a look at this.

[2020-02-27 16:00] dareumnam commented on #7622
@mjwitte Thank you for letting me know. Then I'll wait until after v9.3 release & #7621 is done.

[2020-02-28 17:43] amine-lazrak opened #7824 "Documentation Issues 2020-02"
Issue overview
--------------
A collection of small documentation issues. See checkboxed comments below.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull request will have additional tasks related to reviewing changes that fix this d

[2020-03-02 17:56] xuanluo113 commented on #7656
@lgu1234 Based on the documentation, if local `OutdoorAir:Node` is declared, the surface node uses the local environment variables. In code implementation, they are extended after the `AirflowNetwork:MultiZone:ExternalNode` to the same array.

[code]
Please refer to:
https://github.com/NREL/EnergyPlus/pull/6263#pullrequestreview-58372842

[2020-03-02 18:22] lgu1234 commented on #7656
@xuanluo113 Let me understand. The test file inputs 3 OutdoorAir:Node object, so that 3 additional AirflowNetwork:MultiZone:ExternalNode are created. I am not clear which surface nodes are applied, existing surface nodes or new surfaces.

[2020-03-02 18:23] mitchute commented on #7760
- [x] Minor typo [here](https://github.com/NREL/EnergyPlus/blob/ca68d4566b28f69da0aa1ee90933d034a8e0fe0d/doc/engineering-reference/src/climate-sky-and-solar-shading-calculations/climate-calculations.tex#L47).

![Screen Shot 2020-03-02 at 11 22 41 AM](https://user-images.githubusercontent.com/2985979/75705217-2e400580-5c78-11ea-8225-a02b89e144ca.png)

```Wh/m2``` should be ```W/m2```.

[2020-03-02 19:22] xuanluo113 commented on #7656
@lgu1234 Should be existing surfaces.

[2020-03-02 19:53] lgu1234 commented on #7656
@xuanluo113 Thanks for clarification. There are 2 test files for this issue at https://github.com/NREL/EnergyPlusDevSupport/tree/master/DefectFiles/7000s/7656. Could you take a look at them and let me know what is wrong?

In addition, do you have a test file for this feature and send it to me, so that I can understand more?

[2020-03-02 22:24] ajscimone opened #7828 "Remove PerfCurve Normalization in HybridEvapCoolingModel"
Issue overview
--------------
While fixing issue #7576 which involves fixing a bug for min/max table normalization inside of the btwxt library, and then correctly normalizing Lookup Table curves inside CurveManager.cc, I realized that the HybridEvapCoolingModel is unnecessarily using the returned Normalization Reference to un-normalize curve values which are being normalized on input. Instead of d

[2020-03-03 07:25] Fan-Feng opened #7831 "Error with PCM hysteresis model"
Issue overview
--------------
I am using the PhaseChangeHysteresis model, while there are some problems with my result.
I am running the example file--**1ZoneUncontrolledWithHysteresisPCM.idf.** , where the PCM is supposed to melt from 22C to 24C and to freeze from 21C to 19C.
My outputs are shown below. It could be observed that this PCM starts to melt when Node temperature goes from 18 to 19C. H

[2020-03-03 07:41] Fan-Feng commented on #7831
I found this error is ascribed to the input for object--MaterialProperties: PhaseChangeHysteresis in that Example file--*1ZoneUncontrolledWithHysteresisPCM.idf*. The following picture is the DEMO picture in EngineeringReference. Clearly, the melting temperature and freezing temperature in the first figure are 23C and 20C, respectively. However, this example takes the melting temperature as the fre

[2020-03-03 08:31] tumagonx opened #7832 "[question] Pre EnergyPlus 8.0 links?"
I search the releases and can't find release of older version for SketchUp 7.x?
I've found the correct Openstudio 0.5 here http://openstudio-builds.s3.amazonaws.com/0.5.5/OpenStudio-0.5.5.7285-Windows.exe but the required SetEPlusV600023-win.exe is missing as according to https://web.archive.org/web/20111005180843/http://openstudio.nrel.gov/installation-instructions

I will be grateful if you post

[2020-03-03 09:56] tumagonx commented on #7832
sorry for the noise, just checked legacy plugin 1.0.14's startup.rb, turnout any sketcup with ruby 1.8 is fine and changing sketchup min version limiter to 7.0 make it load. this way it can use E+ 8 from here

[2020-03-03 09:56] #7832 closed, assigned to nobody

[2020-03-03 14:56] nealkruis commented on #7802
@mjwitte Looking into this today.

[2020-03-03 15:28] xuanluo113 commented on #7656
@lgu1234 I'll take a look later this week. And this is the test file.
[AirflowNetwork_MultiZone_LocalNode.idf.txt](https://github.com/NREL/EnergyPlus/files/4282052/AirflowNetwork_MultiZone_LocalNode.idf.txt)

[2020-03-03 16:35] #7771 closed, assigned to jmarrec

[2020-03-03 16:40] ajscimone commented on #7802
@mjwitte Hi Mike. I currently don't see a branch named `transition_ems_func` on the NREL Github repo. Have you pushed this branch?

[2020-03-03 16:41] mjwitte commented on #7802
@ajscimone That's been merged into develop. You should see this same problem with develop now.

[2020-03-03 16:43] ajscimone commented on #7802
@mjwitte Ah, now I understand. Got it, thank you for clarifying.

[2020-03-03 18:56] lgu1234 commented on #7656
@xuanluo113 After looking at the example file, I think I understand your configuration. If an OutdoorAir:Node object is listed in the External Node Name field of the AirflowNetwork:MultiZone:Surface, the OutdoorAir:Node is treated as an AirflowNetwork External node. Otherwise, the other OutdoorAir:Node should be ignored. If my understanding is correct, I will take care of this issue.

Thanks.

[2020-03-03 19:02] #7558 closed, assigned to RKStrand

[2020-03-03 19:44] amirroth opened #7833 "Scrub references to Example File Generator from documentation"
Issue overview
EnergyPlus Example File Generator has not been available for some time. Yet, the documentation continues to reference it, creating confusion.

[2020-03-03 23:00] mitchute commented on #7760
- [x] I/O Ref. in ```CentralHeatPumpSystem```. Field: Control Method should be taken out of the ```\paragraph{}``` See source [here](https://github.com/NREL/EnergyPlus/blob/415a34b98116cbefa62e3c88a93c2a3c12c59515/doc/input-output-reference/src/overview/group-plant-equipment.tex#L5637).

![Screen Shot 2020-03-03 at 3 58 07 PM](https://user-images.githubusercontent.com/2985979/75827891-d4b70400-5d6

[2020-03-03 23:05] mitchute commented on #5915
This was addressed in #7489. Closing.

[2020-03-03 23:05] #5915 closed, assigned to nobody

[2020-03-04 09:38] jmarrec opened #7837 "IDD inconsistency in HeatPump:PlantLoop:EIR:XXX"
Issue overview
--------------

I think there are inconsistencies in field `A7` of the `HeatPump:PlantLoop:EIR:Cooling` and `HeatPump:PlantLoop:EIR:Heating`

----

### Existing IDD

[code]

[code]

-----

### Potential issues:

* `HeatPump:PlantLoop:EIR:Heating` has a wrong `\object-list WWHPCoolingNames`?

* `HeatPump:PlantLoop:EIR:Cooling` is missing in `A7`:
[code]

----

### Additionally

Each

[2020-03-04 12:43] Helarga opened #7838 "CentralHeatPumpSystem-CentralChillerHeaterSystem_Cooling_Heating.idf"
For the CentralChillerHeaterSystem_Cooling_Heating.idf,  the simulation time period is set for two days ( heating and cooling), during the heating day, the evaporator heat flow rate is higher than the condenser heat flow rate.  While results during the cooling day are reasonable.

I have highlighted the results at the attached excel sheet., ( from row:423)
[CentralChillerHeaterSystem_Cooling_Heati

[2020-03-04 20:07] #7576 closed, assigned to nealkruis

[2020-03-05 15:44] mjwitte commented on #7581
This also impacts these related output variables which check ranges declared as [%].
[code]

[2020-03-05 16:22] nealkruis commented on #7802
We are going to use CMAKE to explicitly define target organization in the solution explorer view.

[2020-03-05 16:26] mitchute commented on #7760
- [x] minor typo in units. [See here](https://github.com/NREL/EnergyPlus/blob/3eccb7f17bf19358ba2603d424beb877e25e5a4f/doc/input-output-reference/src/overview/group-electric-load-center-generator.tex#L4373)

<img width="497" alt="Screen Shot 2020-03-05 at 9 21 55 AM" src="https://user-images.githubusercontent.com/2985979/76002010-3475f200-5ec3-11ea-894f-35fe3fbb9577.png">

[2020-03-05 22:15] mjwitte commented on #7466
@YanfeiNREL @xuanluo113 Regarding possible overlap of source components mentioned above:
[code]
[This code her in `PollutionModule.cc::ReadEnergyMeters`](https://github.com/NREL/EnergyPlus/blob/3eccb7f17bf19358ba2603d424beb877e25e5a4f/src/EnergyPlus/PollutionModule.cc#L5760-L5767) is attempting to prevent overlap by subtracting ElecProducedFacility from ElecFacility and using the difference to cal

[2020-03-05 22:18] RKStrand commented on #7833
@amirroth I did a search on various PDFs for EnergyPlus (V9.2 docs).  The only PDF I found references to this were in the Tips and Tricks document.  Is that also what you found or are there more references to EEFG that you noticed elsewhere?  If so, I will go back through and do more searches.

[2020-03-05 22:28] mjwitte commented on #7466
For the user in ticket 15400 (noted at the top), the issue is similar but a different place in the code. In the following subtable, the Total Source Energy and Net Source Energy rows should be the same, but they are not when FuelFactors are used.
![image](https://user-images.githubusercontent.com/4991075/76031193-d7972d80-5efc-11ea-9cf4-7f83f937b43c.png)

The code for this table is [here in Output

[2020-03-05 22:29] RKStrand commented on #7833
@amirroth I've been looking at this document and it probably needs some updating.  A lot of the web site links in this document are not current (I click the link and get error messages).  So, if the answer to my previous comment is that the references are only in Tips and Tricks, do you want to convert this into a general clean-up of Tips and Tricks in addition to getting rid of the EEFG reference

[2020-03-05 23:24] mjwitte opened #7843 "Construction:AirBoundary enclosure grouping algorithm is not general enough"
Issue overview
--------------
User file fails with
[code]

This file has 23 zones and many air boundary surfaces.

Some initial debugging reveals that the grouping logic is not general enough in `SurfaceGeometry::SetupRadiantEnclosuresAndAirBoundaries`. Let's say zones 1-5 are all connected with air boundaries. If a surface between zones 1 and 2 has an air boundary , then Zones 1 and 2 will be ass

[2020-03-05 23:41] mjwitte commented on #7833
@RKStrand I would say do as much as is reasonable without a lot of effort. At a minimum, fix or remove dead links.

[2020-03-06 14:41] lgu1234 opened #7844 "Use hg instead of hfg to report latent load in Airflow Network"
Issue overview
--------------
hfg is used to calculate latent load in ReportAirflowNetwork of the AirflowNetwork module
                    hfg = Psychrometrics::PsyHfgAirFnWTdb(ZoneAirHumRat(ZN1), (MAT(ZN1) + Tamb) / 2.0);
                        AirflowNetworkReportData(ZN1).MultiZoneInfiLatGainW +=
                            (AirflowNetworkLinkSimu(i).FLOW2 * (OutHumRat - ZoneAirHumRat(ZN1)))

[2020-03-06 21:21] mjwitte commented on #7806
The source of the problem can be found in the expanded idf, which explains why the idf generation stopped short:
[code]

[2020-03-06 21:27] mbadams5 commented on #7806
Interesting. I guess I would expect ExpandObjects to fail to generate the expanded idf in that instance, not generate a partially complete IDF. One option is for E+ to check for preprocessing messages and throw a fatal error if it encounters a fatal preprocessing message.

[2020-03-06 21:32] mjwitte commented on #7806
It builds the idf file as it goes. Prior to the input processor rewrite, the idf file would process and post the preprocessor errors to the EnergyPlus err file, so the user would see them. So, in some cases, the errors will need to be trapped earlier before starting to write an object, or the size of various component lists may need to be checked earlier before terminating the idf write.

[2020-03-06 21:33] mjwitte commented on #7806
For this particular file, it can be fixed by adding a cooling tower, or by changing the chiller to aircooled.
But with that fixed, it still won't run, because a hot water loop is specified, but there are no hot water coils to be serve in the air handler or terminal units.

[2020-03-06 21:38] mjwitte commented on #7806
But yeah, if it's possible to scan the incoming file for Output:PreprocessorMessage and write those to the err output even if it finds a bad object, that would be helpful.

[2020-03-06 21:55] mbadams5 commented on #7806
That might be possible, but let me check in the code.

[2020-03-07 21:40] rafael-a commented on #7691
Another update here, as the implementation of eplus_adduvf.exe is already working thanks to the efforts of Radiance developers here:

https://discourse.radiance-online.org/t/how-to-use-adduvf-exe/5054/6

However, this does not solve the limitation of EnergyPlus with interior solar distributions for non-convex zones. Is there something I'm missing?

[2020-03-09 17:45] ajscimone opened #7846 "HybridEvapCoolingModel Curve Value Calculations are inconsistent and inaccurate"
Issue overview
--------------
The calculation of the unscaled supply air mass flow rate (UnscaledMsa) inside of HybridEvapCoolingModel.cc is inconsistent. In some areas, the UnscaledMsa is simply a ratio, or fraction of the mass mass flow rate (which would be unitless), and in others it appears to be an actual measurement of  mass flow rate. This mass flow rate is fed into the `CalculateCurveVal`

[2020-03-09 19:13] #7681 closed, assigned to Nigusse

[2020-03-10 11:19] #7611 closed, assigned to nealkruis

[2020-03-10 12:56] #7700 closed, assigned to nealkruis

[2020-03-10 18:19] #7533 closed, assigned to dareumnam

[2020-03-10 22:21] #7762 closed, assigned to lgu1234

[2020-03-11 17:27] JasonGlazer commented on #6379
The acknowledgments document seems to open ok with EP-Launch when testing during updates for #7822

[2020-03-11 17:27] mldichter commented on #7760
- [x] The documentation for the Coil:Cooling:WaterToAirHeatPump:EquationFit in the 9.2 IO Ref is lacking for the performance coefficient fields. Looks like the Engineering Reference has an explanation of the Total Cooling Capacity Coefficients and Sensible Cooling Capacity Coefficients, but not the Cooling Power Consumption Coefficients.

![Capture](https://user-images.githubusercontent.com/392426

[2020-03-11 20:43] #7507 closed, assigned to nobody

[2020-03-11 20:59] mjwitte commented on #7291
This was closed long ago via #7434.

[2020-03-11 20:59] #7291 closed, assigned to nealkruis

[2020-03-11 22:39] mjwitte opened #7853 "Generator:MicroCHP bug results in only the last one being operable"
Issue overview
--------------
User file with 2 Generator:MicroCHP objects with FollowThermal only ran one generator, the other never ran.
Some debugging revealed the problem [here](https://github.com/NREL/EnergyPlus/blob/7e32c807a764b2b6f55fc573e75f97ad8b132997/src/EnergyPlus/GeneratorDynamicsManager.cc#L165-L167), the deallocate obliterates any prior generators, so only the last one remains in th

[2020-03-12 02:32] #7166 closed, assigned to Nigusse

[2020-03-12 21:28] Nigusse opened #7855 "Address total/sensible/latent calculations issues for DX cooling coils and others"
Issue overview
--------------
The total/sensible/latent calculations in DX cooling coils needs to be revised to use most appropriate equation in calculating sensible and latent cooling rates. Currently, the DX cooling coils sensible cooling rate calculation is based on minimum humidity ratio of coils inlet and outlet node, when it should have been average of them. Using minimum humidity ratio some

[2020-03-12 21:54] mjwitte commented on #7628
@rraustad @Nigusse When I run this defect file with develop and with the #7701 branch, I get identical results. How do I see the impact of the fix?

[2020-03-12 22:14] rraustad commented on #7628
I think because it was a Trane defect file and I must not have found the correct file. The symptom was that when power and capacity were added up that calculation did not match the reported COP. I worked weeks to figure that out.

From that issue description:

*VRF heating COPs found to be unusually low during TRANE study. Was found that the cycling ratio term was not being properly handled in COP

[2020-03-13 14:19] #7853 closed, assigned to mjwitte

[2020-03-13 15:01] #7815 closed, assigned to Nigusse

[2020-03-13 15:04] #7026 closed, assigned to mitchute

[2020-03-13 16:52] #7744 closed, assigned to Nigusse

[2020-03-13 18:27] RKStrand commented on #7833
@amirroth @mjwitte Looks like someone has already done some of this?  I'm creating a new Tips and Tricks from what's in develop and someone has clearly edited things here since V9.2.  I'm double checking on the various links to make sure they go to a live page.  I'll summarize when I finish the entire document.  One thing that I did notice: the following web page has not been updated since Version

[2020-03-13 19:51] RKStrand commented on #7833
@amirroth @mjwitte There were quite a lot of things in Tips and Tricks that were still off.  I have fixed all of the bad hyperlinks and done some other edits in the process (glaring formatting issues, addition of language like where there was a totally blank chapter).  While not a full overhaul of the document, this is now up-to-date and looks better.

[2020-03-13 21:31] #7779 closed, assigned to nobody

[2020-03-13 21:31] #7793 closed, assigned to mitchute

[2020-03-13 23:52] #7608 closed, assigned to RKStrand

[2020-03-14 15:07] #7505 closed, assigned to matthew-larson

[2020-03-14 15:07] #7506 closed, assigned to matthew-larson

[2020-03-14 15:07] #7520 closed, assigned to nealkruis

[2020-03-14 15:07] #7749 closed, assigned to nealkruis, matthew-larson

[2020-03-14 15:07] #7750 closed, assigned to nealkruis, matthew-larson

[2020-03-14 15:07] #7751 closed, assigned to nealkruis, matthew-larson

[2020-03-14 15:07] #7752 closed, assigned to nealkruis, matthew-larson

[2020-03-14 15:07] #7753 closed, assigned to nealkruis, matthew-larson

[2020-03-14 21:25] #7682 closed, assigned to nobody

[2020-03-14 21:25] #7628 closed, assigned to Nigusse

[2020-03-16 09:31] xwanguk commented on #7118
I have checked the same models in E+ V9.2, it seems the reported problem is still there.

[2020-03-16 12:14] #7833 closed, assigned to RKStrand

[2020-03-16 12:59] matthew-larson commented on #7800
Closed via #7827.

[2020-03-16 12:59] #7800 closed, assigned to nealkruis, matthew-larson

[2020-03-16 13:00] matthew-larson commented on #7754
Closed via #7827.

[2020-03-16 13:00] #7754 closed, assigned to nealkruis, matthew-larson

[2020-03-16 13:00] matthew-larson commented on #7748
Closed via #7827.

[2020-03-16 13:00] #7748 closed, assigned to nealkruis, matthew-larson

[2020-03-16 15:33] #7407 closed, assigned to nobody

[2020-03-16 22:38] #7102 closed, assigned to nobody

[2020-03-17 14:06] #7828 closed, assigned to nealkruis, ajscimone

[2020-03-17 14:06] #7846 closed, assigned to nealkruis

[2020-03-17 14:32] #5523 closed, assigned to nobody

[2020-03-17 14:32] #6313 closed, assigned to jmarrec

[2020-03-17 14:32] #7763 closed, assigned to nobody

[2020-03-17 15:42] rraustad opened #7862 "Modify idle air flow rate for variable/multi speed coils"
Issue overview
--------------
In AirloopHVAC:UnitarySystem the idle air flow rate for variable-speed and multi-speed coils is currently autosized to the max air flow rate. The idle air flow rate represents the fan flow when the coil is off and should be changed to be less than or equal to the minimum speed air flow rate. The original implementation was for Furnaces.  See discussion in #7783.

Furn

[2020-03-17 19:03] mjwitte opened #7864 "Schedule surface gains logic could be improved"
Issue overview
--------------
There are several places within the timestep loops in HeatBalanceSurfaceManager and SolarShading where this type of check is made:
[code]
Not sure why `SurfaceScheduledSolarInc` needs to be a 2-d array since construction number won't change unless there's an EMS actuator. And even then, it seems a surface would have imposed solar gains or not, regardless if the constr

[2020-03-17 21:10] mjwitte opened #7865 "Interior zones reporting nighttime solar gains in simulation with interior windows"
Issue overview
--------------
With interior windows, there are significant non-zero values of Surface Inside Face Solar Radiation Heat Gain Energy at night when they should all be zero for interior zones.. (This is not related to the airwall work, similar numbers show in v9.1, probably need a new issue for this).

Happens with both FullExterior and FullInteriorExterior solar distribution.

Test fi

[2020-03-17 21:18] matthew-larson opened #7866 "Optimum start overriding unoccupied thermostat setpoints to occupied setpoints post-occupancy"
Issue overview
--------------
This issue occurs when using the AvailabilityManager:OptimumStart object with a 24/7 applicability schedule.  When the optimum start is enabled pre-occupancy and overrides the thermostat setpoint to the occupied setpoint during the optimum start period, the setpoint remains at the occupied setpoint for the remainder of the day, when it should be resetting back to the

[2020-03-17 22:40] #7581 closed, assigned to xuanluo113

[2020-03-17 22:40] mjwitte commented on #7561
Closed via #7582

[2020-03-17 22:40] #7561 closed, assigned to xuanluo113

[2020-03-18 00:11] pflaumingo opened #7868 "EnergyPlus fails when HVAC equipment has zero capacity/air flow rate"
EnergyPlus issues a severe error and crashes when a piece of HVAC equipment experiences no load during sizing with an output similar to the below:

`
   ** Severe  ** Standard Ratings: Coil:Cooling:DX:SingleSpeed PTHP-1 + COOLING COIL has zero rated total cooling capacity. Standard ratings cannot be calculated.
   ** Severe  ** Sizing: Coil:Cooling:DX:SingleSpeed PTHP-1 + COOLING COIL has zero rat

[2020-03-18 02:08] #7187 closed, assigned to dareumnam

[2020-03-18 12:30] #7824 closed, assigned to nealkruis, amine-lazrak

[2020-03-18 13:35] Myoldmopar commented on #7803
Many things are being addressed in #7836.  However, some things are almost certainly going to be pushed to a future release.  These should be tracked in #7877.

[2020-03-18 14:48] Myoldmopar commented on #7868
@pflaumingo do you have an example file you can provide here so I can test this out a bit?

[2020-03-18 15:49] pflaumingo commented on #7868
Thanks for the prompt response @Myoldmopar. I'm dealing with larger models, but I've recreated the conditions with a single zone OS model - the inputs are intentionally bad to cause the condition to occur.

[run.zip](https://github.com/NREL/EnergyPlus/files/4349880/run.zip)

[2020-03-18 16:12] pflaumingo commented on #7868
@Myoldmopar sorry, I said crash initially when I meant the simulation fails and just want to clarify that. But the rest of the issue remains intact.

[2020-03-18 17:23] #7782 closed, assigned to rraustad

[2020-03-18 18:56] amine-lazrak opened #7870 "Documentation Issues 2020-03"
### **Issue overview**

### **Checklist**

Add to this list or remove from it as applicable. This is a simple templated set of guidelines.

- [ ] Ticket added to Pivotal for defect (development team task)

- [ ] Pull request created (the pull request will have additional tasks related to reviewing changes that fix this defect)

[2020-03-18 19:32] #7688 closed, assigned to RKStrand

[2020-03-19 15:06] matthew-larson opened #7871 "AirflowNetwork model terminates in Debug Mode when setting up report outputs"
Issue overview
--------------
This issue was discovered when running an AirflowNetwork model in Debug mode.  The simulation terminates [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/AirflowNetworkBalanceManager.cc#L8456) due to FanNum going out of range (equaling 2 when there is only 1 fan).  It appears that DisSysCompCVFData(FanNum).AirLoopNum is not being set prior to the

[2020-03-23 16:40] #7725 closed, assigned to mjwitte

[2020-03-23 16:40] #7843 closed, assigned to nobody

[2020-03-23 20:16] Myoldmopar opened #7877 "Continued API/Plugin Issues"
Issue overview
--------------
The API/Plugin work will be released with 9.3.  As such, I expect to see issues trickling in as users kick the tires on it.  I already have a starter list of tasks that persisted through the 9.3 release (from [here](https://github.com/NREL/EnergyPlus/issues/7803)) that I will start with on this issue.  More can be added in this issue so they aren't spread out everywhe

[2020-03-23 20:19] Myoldmopar opened #7878 "Final Prep for 9.3 Release"
Any last minute items found during testing, or just general todo items.
- [ ] Generate and post API documentation on the release page or somewhere.
- [x] Four example files still have a v9.2 version object:
PythonPluginLrgOff_GridStorageSmoothing.idf
PythonPluginWindowShadeControl.idf
SolarShadingTestGPU.idf
~_ExternalInterface-functionalmockupunit-to-schedule.idf~
- [ ] ~Add PythonPlugin:SearchPa

[2020-03-23 20:21] Myoldmopar commented on #7806
There are a couple things going on here, right?  And part of it will persist past 9.3 if I understand it right.  I'm going to change the milestone, but if I am wrong, please correct it.

[2020-03-23 20:24] Myoldmopar commented on #5897
Tempted to close this....

In other words, I'll mark this for the next release, and then in approximately 6 months when I am scanning the final list for 9.4 I'll see this note and probably just say the same thing.

[2020-03-23 20:56] nealkruis commented on #5897
@Myoldmopar I'll take this on for the next release.

[2020-03-24 02:20] #7803 closed, assigned to nobody

[2020-03-25 02:12] #7545 closed, assigned to jmarrec

[2020-03-25 13:49] lgu1234 opened #7880 "SubcoolReaheat DX coil follow up"
Issue overview
--------------
- I would have preferred to just pass in these values to the performance simulate function, instead of assigning them prior to calling. This is something that should be addressed as we move forward with the coil work.
this->performance.simulate(evapInletNode, evapOutletNode, useAlternateMode, PLR, speedNum, speedRatio, fanOpMode, condInletNode, condOutletNode);

- Thi

[2020-03-25 14:17] Nigusse commented on #7855
added modified test files as defect file.

[2020-03-25 19:01] #7589 closed, assigned to jmarrec

[2020-03-25 21:17] mjwitte opened #7881 "Site:GroundDomain:Slab is not using the material thickness of the horizontal insulation material"
Issue overview
--------------
User notes:
1. If I add horizontal insulation to an in-grade slab using the Site:GroundDomain:Slab inputs then changing its thickness appears to have no effect on the results. 25mm of insulation results in exactly the same heating energy as 250mm of insulation. Adding insulation, or changing the material completely to one with different conductivity does change the re

[2020-03-26 15:11] Myoldmopar commented on #7878
@mjwitte I didn't see the version 9.3 in the ExternalInterface file.  Can you confirm?  I've fixed the version in the other 3 files.

As for the search paths, that's tricky.  The best solution is for EPLaunch to grab the Python file and move it into the run folder.  I'm not sure what we would put in the search paths.  There are four possible places to put the Python code:
 - In the same folder as

[2020-03-26 16:14] mjwitte commented on #7878
My search on `9.2;` probably picked up this line in the external interface file `    259.2;                   !- Volume {m3}` and I wasn't paying close attention. Crossed that file off the list.

Regarding the python search paths, this object would solve the problem for classic ep-launch. It shouldn't cause any other problems on other systems?
[code]
But, yeah, since classic EP-Launch still makes

[2020-03-26 18:16] rraustad opened #7885 "UnitarySystem with water coils sizes differently than water coils on main branch"
Issue overview
--------------
Efforts to wrap water coil in UnitarySystem to eliminate water coil controllers revealed issues with heating coil sizing.
The water heating coil sizes significantly different between coil-on-branch versus wrapped in UnitarySystem

Test file is 5ZoneAirCooled.idf. A new file was created where water coils on main branch and OA system were wrapped in UnitarySystem and wa

[2020-03-26 19:32] #7878 closed, assigned to nobody

[2020-03-27 17:08] Myoldmopar opened #7888 "Problems linking to API"
Issue overview
--------------
While developing some automated package testing code, I encountered a problem while exercising the workflow of linking to the API.  Note: Python Plugins workflows work just fine, and properly exercise the APIs.  However, when trying to link to the API from Python is causing a problem.

As a bit of a backstory, when I build the EnergyPlusAPI target, I dynamically link

[2020-03-27 18:53] ajscimone opened #7889 "Fix ASHRAE Simple Convection Coefficient Initialization"
Issue overview
--------------
The function for the setting the convection coefficient (HConvIn) on surfaces using the ASHRAE Simple algorithm currently does not attempt to calculate coefficient if the tilt of the surface is above 67.5 degrees (up to 90 degrees).  This results in surfaces falling within this range of tilt having a convection coefficient relying on the global initialization of HConv

[2020-03-30 13:15] lgu1234 opened #7891 "Use correct argument to calculate hg to report latent load in AirflowNetwork"
Issue overview
--------------
Issue #7844 requires hg to report latent load in AirflowNetwork, instead of hfg. In order to ensure a sum of sensible and latent loads is equal to enthalpy difference between two points, it is important to select correct argument. When inlet W is used to calculate Cp (PsyCpAirFnW), the outlet W should be used in hg (PsyHgAirFnWTdb) calculation.
If the average temperat

[2020-03-30 14:51] bonnema commented on #7877
@Myoldmopar to run E+ 9.3 from the command line on Windows, you now need to have the python37.dll and the python_standard_lib directory in the same directory as your in.idf and in.epw (and the IDD, energyplus.exe, and energyplusapi.dll; but that was the same as before). I',m not totally sure if the IDD is required anymore, but I do it out of habit.

However, it'd be nice to see for the next releas

[2020-03-30 14:55] Myoldmopar commented on #7877
@bonnema thanks.  Are you copying around the energyplus.exe file everytime you run an IDF?  If so, I wouldn't.  Just copy the IDF to a folder and then run the exe from where it was:

[code]

I know that's Linux but still, you shouldn't need to copy anything around, just use the command line args and it should be fine.

[2020-03-30 15:01] bonnema commented on #7877
@Myoldmopar sweet! That is much better. Thank you - I think my initial comment is not applicable anymore...

[2020-03-30 15:02] Myoldmopar commented on #7877
Great!  Glad to hear it!

[2020-03-30 15:03] bonnema commented on #7877
[code]

[2020-03-30 15:07] bonnema commented on #7877
@Myoldmopar must be a feature I missed - I don't think you were able to do that in the past. Now I won't have a bunch of exes all over my computer...

[2020-03-30 20:03] jasondegraw opened #7892 "Python File in EnergyPlus src Directory"
Issue overview
--------------
There's a Python file mixed in with the EnergyPlus source, potentially a mistaken commit:

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/Untitled.ipynb

If it is intentional, then it should probably be elsewhere.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (li

[2020-03-30 20:06] Myoldmopar commented on #7892
Easy to swipe right by that intermingled with the [other files](https://github.com/NREL/EnergyPlus/pull/7415/files#diff-8028699caaeafe405dfa4951dee41245) in a moderate sized PR.  Good find.

[2020-03-31 20:13] bonnema commented on #7877
This does not seem to work on Mac.

[2020-03-31 20:14] Myoldmopar commented on #7877
What doesn't?  I'm aware of some issues: https://github.com/NREL/EnergyPlus/issues/7888

[2020-03-31 20:16] bonnema commented on #7877
running with command line arguments

[2020-03-31 20:21] bonnema commented on #7877
Never mind

[2020-03-31 20:23] Myoldmopar commented on #7877
OK whew :+1:

[2020-04-01 12:25] AgneseSalvati commented on #7656
Hello,
is there any update re this issue?
Thanks a lot for your help,
Agnese

[2020-04-01 13:23] lgu1234 commented on #7656
@AgneseSalvati This issue has been fixed with PR at https://github.com/NREL/EnergyPlus/pull/7845. The Version 9.3 (release soon) will include the fix.

[2020-04-01 13:40] rraustad commented on #7656
Closed via #7845.

[2020-04-01 13:40] #7656 closed, assigned to lgu1234

[2020-04-01 13:57] AgneseSalvati commented on #7656
Thanks!

[2020-04-01 19:06] RKStrand commented on #7617
@jmarrec Since this is a fairly minor issue, I suggest that this be lumped together with #7760

[2020-04-02 01:54] Myoldmopar commented on #7888
@mbadams5 had noted that running energyplus from the symlink on Mac was not working.  A simple workaround is to just add the E+ install directory to PATH temporarily while running EnergyPlus, then the embedded Python interpreter can locate the packaged up Python stdlib.  Not great, but there is a simple workaround at least until this can be tidied up for the bug fix release.

Before:

[code]

[cod

[2020-04-02 09:51] jmarrec opened #7896 "FaultPropertiesAirFilter::CheckFaultyAirFilterFanCurve is called before sizing occurs"
Issue overview
--------------

https://github.com/NREL/EnergyPlus/blob/baff08990c9c4d12d8bbde0378073018a3ea6acf/src/EnergyPlus/FaultsManager.cc#L2145-L2190

On https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/FaultsManager.cc#L2176, `FanMaxAirFlowRate == -99999` when the referenced fan has an autosized flow rate.

### Details
Some additional details for this issue (if relevant):
 - P

[2020-04-02 13:24] Nigusse opened #7897 "CpAir calculation using average humidity ratio instead of averaging the specific heats"
Issue overview
--------------
I run into this while working on something else. Average specific heat of moist air between two state points can be calculated directly using average humidity ratio instead of calculating the specific heats at the two state points and averaging them like this [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/UnitarySystem.cc#L10149-L10151),  [here]

[2020-04-02 22:39] #7897 closed, assigned to Nigusse

[2020-04-03 13:06] mjwitte opened #7901 "HeatExchanger:AirToAir:SensibleAndLatent negative effectiveness and sizing"
Issue overview
--------------
1. HeatExchanger:AirToAir:SensibleAndLatent is allowing a negative latent effectiveness to produce very cold (<-100C) outlet node temperatures. At a minimum, effectiveness should be clipped at zero, and maybe with a one-time warning that there's a problem.

2. HeatExchanger:AirToAir:SensibleAndLatent "Nominal Supply Air Flow Rate" (for "Air-to-Air HX 15") is autosizin

[2020-04-03 18:51] bbrannon4 opened #7902 "Error: Heater Control Type for WaterHeater:Stratified must be CYCLE?"
Issue overview
--------------
I've got this error:

   ** Severe  ** WaterHeater:HeatPump:WrappedCondenser = PLANTHEATPUMPWATERHEATER:
   **   ~~~   ** Heater Control Type for WaterHeater:Stratified = WATER HEATER TANK must be CYCLE.

on a fairly simple model, where I have I think completely copied the heat pump water heater components from the WaterHeaterHeatPumpWrappedCondensor example file (whi

[2020-04-06 12:34] mjwitte commented on #7706
@matthew-larson @ajscimone 9999 is the "missing value" for Horizontal Infrared Radiation Intensity, see Auxiliary Programs document, p. 64 (v9.3). So it's not clear if this is incorrect. Also, this behavior may have changed due to new options for WeatherProperty:SkyTemperature added in v9.3 https://github.com/NREL/EnergyPlus/pull/7562.

[2020-04-06 13:39] Myoldmopar commented on #7888
Another oddity is if you are calling the API and try to run an EnergyPlus command with the `-r` arg (or presumably a few others) it doesn't find the ReadVars binary.  It tries to find it relative to the current running binary, which is no longer EnergyPlus in that dir.  This will require a little more work as we'll need to actually find the running E+, not the currently running binary image.

[2020-04-06 15:50] nealkruis commented on #7706
@mjwitte This was indeed fixed independently through the WeatherProperty:SkyTemperature PR. We still have some unit tests that we might as well contribute.

[2020-04-06 17:36] #7591 closed, assigned to dareumnam

[2020-04-06 18:27] lgu1234 commented on #7421
Closed via #7707

[2020-04-06 18:27] #7421 closed, assigned to nobody

[2020-04-07 16:35] mjwitte opened #7905 "Zone Contaminant Source or Sink CO2 Gain Volume Flow Rate does not reset to zero each timestep"
Issue overview
--------------
From user:

Sure enough, `ZnRpt(NZ).CO2Rate` is not getting zeroed [here](https://github.com/NREL/EnergyPlus/blob/be5b67255957ed53c59d16306878482e3b8634ad/src/EnergyPlus/InternalHeatGains.cc#L5261-L5268) every time step before is accumulates across a CO2 sources in the zone. Will push a fix shortly.

### Details
Some additional details for this issue (if relevant):
 -

[2020-04-07 16:47] rraustad opened #7906 "Missing zone sizing arrays in RezeroZoneSizingArrays"
Issue overview
--------------
When predefined reports are requested the zone sizing arrays need to be reset to allow a comparison of sizing information with and without pulse loads. This should occur when any of these predefined reports are selected (see OutputReportTabular::isCompLoadRepReq):

 - ZoneComponentLoadSummary
 - AirLoopComponentLoadSummary
 - FacilityComponentLoadSummary
 - AllSummary

[2020-04-07 17:26] mbadams5 opened #7907 "ResultsFramework exception when Output:Variable is scheduled"
Issue overview
--------------
When an Output:Variable uses a Schedule, it causes an exception in the ResultsFramework. The framework currently expects all variables to have the same number of timeseries values, however, when there is a schedule on an Output:Variable it has fewer timeseries values. [This assumption causes the exception here](https://github.com/NREL/EnergyPlus/blob/be5b67255957ed53c

[2020-04-07 18:42] matthew-larson opened #7908 "Chilled water cooling coil has water deltaT with no airflow or air deltaT across coil"
Issue overview
--------------
The screenshot below shows the inlet and outlet flow rates and temperatures of the air and water across a chilled water cooling coil.  From 24:00 to 5:00, there is no air flow across the coil and no change in air temperature from the inlet and outlet, yet there is chilled water flow through the coil with a temperature increase of 3-4C.  Even with water flow through th

[2020-04-07 19:14] mjwitte commented on #7908
@matthew-larson Just curious, if you increase the minimum number of plant iterations (ConvergenceLimits), do you see the same result?

[2020-04-07 19:36] matthew-larson commented on #7908
I increased the minimum number of plant iterations to 4 from the default of 2 and still got the same result.

[2020-04-07 20:26] mldichter opened #7910 "Utilities Tab is Blank after EnergyPlus 9.3 Installation"
Issue overview
--------------
The Utilities Tab is blank in EP-Launch after installing EnergyPlus 9.3.
![Capture](https://user-images.githubusercontent.com/39242689/78716127-42a89b00-78d3-11ea-9b1c-ce43ba7004b0.PNG)

### Details
Some additional details for this issue (if relevant):
 - Windows 10, Windows Server 2016
 - Version of EnergyPlus 9.3
 - https://unmethours.com/question/43648/utilities-ta

[2020-04-07 20:38] mldichter opened #7911 "EP-Launch being marked as Trojan by Windows Defender"
Issue overview
--------------
After installing EnergyPlus 9.3, the EP-Launch application was deleted by Windows Defender during the next scan for viruses.
    Threat quarantined
    Threat detected: Trojan:Win32/Woreflint.A!cl
    Alert level: Severe
    Category: Trojan
    Details: This program is dangerous and executes commands from an attacker.
    Affected items: file: C:\EnergyPlusV9-3-0\EP-

[2020-04-08 12:33] JasonGlazer commented on #7911
I just submitted it to Microsoft [here](https://www.microsoft.com/en-us/wdsi/submission/a817783e-ce48-4fe5-af89-e7cec21a49a6)

[2020-04-08 15:11] JasonGlazer commented on #7911
Here are the results from Microsoft. It looks like this will not occur in the future. Assuming that the Windows Defender database is updated

![image](https://user-images.githubusercontent.com/2582150/78800524-295e2800-7981-11ea-87fb-2acb190f95af.png)

[2020-04-08 16:03] mjwitte opened #7913 "Multiple rewinds on EPW error"
Issue overview
--------------
1. User file with two design days and one RunPeriod, but with Run Weather Simulation = No, fails with this error:
[code]

2. Same file with Run Weather Simulation = Yes, fails with a more meaningful error:
[code]

This reveals that the RunPeriod has Treat Weather as Actual = Yes, changing it to No lets both files run.

3. So, case 2 is ok as-is. But case 1 should run

[2020-04-08 16:06] #7911 closed, assigned to JasonGlazer

[2020-04-08 16:18] matthew-larson opened #7914 "Coil:Cooling:Water in Component Sizing Summary has incorrect Design Size and User-Specified Air Flow Rates"
Issue overview
--------------
I ran a model using ZoneHVAC:FourPipeFanCoil objects where I hard-sized the "Maximum Supply Air Flow Rate" to 449.15 CFM and I left the Coil:Cooling:Water "Design Air Flow Rate" input set to 'Autosize'.  In the Component Sizing Summary, the ZoneHVAC:FourPipeFanCoil table shows a Design Size Maximum Supply Air Flow Rate of 1097.17 CFM and a User-Specified Maximum Suppl

[2020-04-08 16:27] #7905 closed, assigned to mjwitte

[2020-04-08 17:02] jasondegraw commented on #7913
@mjwitte I agree that case 1 should run as-is. There's quite a bit of logic surrounding the environment setup, so I suspect there's a path through that doesn't make much sense and somehow the actual weather flag is set to true when it shouldn't matter. You can assign me if you don't wish to kick this particular unwell equine animal.

[2020-04-08 21:02] ajscimone opened #7917 "Surface Convection Algorithm AdaptiveModelSelections is not truncatable."
Issue overview
--------------
The SurfaceConvectionAlgorithm:(Inside/Outside):AdaptiveModelSelections algorithm selection cannot be truncated even though all the inputs have a default defined in the idd. The expected behavior here would be that the user can input:
"    SurfaceConvectionAlgorithm:Inside:AdaptiveModelSelections,
    Default Algorithm;       !- Name"
into their idf and expect to get

[2020-04-08 21:08] mjwitte commented on #7917
I'm fairly certain that `\min-fields` in the IDD should fix that. 91 for Inside, 13 for Outside.

[2020-04-09 08:46] jmarrec opened #7918 "IDFVersionUpdater failing on Ubuntu"
Issue overview
--------------

Launched via terminal:

[code]

This does the same error too:
[code]

Console says:

[code]

![image](https://user-images.githubusercontent.com/5479063/78876042-10bc4380-7a4f-11ea-9935-4dad537ccd8b.png)

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): Ubuntu 18.04
 - Version of EnergyPlus (if using an interme

[2020-04-09 08:53] jmarrec commented on #7918
[code]

If I sudo this command, it works.

**If I sudo IDFVersionUpdater it works too**. I don't recall having to run it with sudo.

[2020-04-09 09:38] jmarrec commented on #7902
File provided was at version 9.0. Added that to DevSupport, transitioned to 9.3.0, removed a ScheduleFile. File will fatal out for another reason (wrong branchlist objects), but it still does exhibit the severe mentioned above.

[code]

[2020-04-09 12:52] Nigusse commented on #7862
Added four defect files.

[2020-04-09 14:01] jmarrec commented on #7617
@RKStrand The I/O ref is actually just fine (cf [here](https://bigladdersoftware.com/epx/docs/9-2/input-output-reference/group-performance-curves.html#field-coefficient4-c4-2)), so if you don't mind I'll lump this one into something else where I do IDD changes instead.

[2020-04-09 14:08] #7549 closed, assigned to jmarrec

[2020-04-09 16:08] RKStrand commented on #7617
@jmarrec Sounds good to me--thanks!

[2020-04-09 21:07] ajscimone commented on #7917
@mjwitte Would this actually allow for the fields to be truncated? I am under the impression that putting `\min-fields` would require the user to have a line for each field. It is relatively easy to have EnergyPlus default each field even if its not input if that's the case.

[2020-04-09 21:11] mjwitte commented on #7917
No. \min-fields serves two functions - the input processor fills the defaults for all fields up to that point (there was some question in my mind if that's still the case after the epJSON input processor change, but apparently it's still necessary to force defaults to be filled). Also, IDF Editor (and other tools?) uses min-field when writing the idf, it will write at least that many fields no mat

[2020-04-13 11:57] jmarrec opened #7922 "Requesting the same Meter Key Name at several reporting frequencies reports wrong "Interval" in "Time""
Issue overview
--------------

If I add this meter:

[code]

Then in the `Time`  SQL table,  I can find the `TimeIndex`es corresponding to the meter, and they all have an `Interval`  value of 1440 (24 hr * 60 minute), as expected.

Now if I **ALSO** add the same Meter with a Reporting Frequency of "Timestep" (and assuming my Timestep is 1"), suddenly the Interval becomes 60 minutes (Timestep of 1

[2020-04-13 14:27] jmarrec commented on #7922
This can be better seen querying the ReportVariableWithTime for eg:

[code]

![image](https://user-images.githubusercontent.com/5479063/79128259-80119a80-7da3-11ea-847d-27ea77689ebe.png)

See line 25, the Daily one is correct for everything, except it uses the same TimeIndex as the Timestep one that reports for 24:00, and therefore 'Interval' is 60

[2020-04-13 14:29] jmarrec commented on #7922
Output:Variable do it correctly:

I added these two:

[code]

[code]
![image](https://user-images.githubusercontent.com/5479063/79128509-ed253000-7da3-11ea-83a1-2253ad833e01.png)

[2020-04-13 14:40] jmarrec commented on #7922
Interestingly, adding the Output:Variables makes the Output:Meter ones use the added TimeIndex so they report correctly too.

In my file with runs for an annual run (non leap) + 2 design days:

* Just the meters: `SELECT COUNT(TimeIndex) FROM Time` : 8808 = (365+2) * 24
* With the Output Variables: `SELECT COUNT(TimeIndex) FROM Time`: 9175 = (365+2) * 25

[2020-04-13 14:51] jmarrec commented on #7922
Found the reason I think:

 https://github.com/NREL/EnergyPlus/blob/185e20e71c38982ae12f355ab950587cc20caa7f/src/EnergyPlus/OutputProcessor.cc#L7248

https://github.com/NREL/EnergyPlus/blob/185e20e71c38982ae12f355ab950587cc20caa7f/src/EnergyPlus/OutputProcessor.cc#L6528-L6549

[2020-04-14 12:43] Nigusse opened #7925 "Add new field for specifying the DOAS supply humidity ratio to Sizing:Zone object"
Issue overview
--------------
DOAS design supply air condition is used to adjust zones design loads to account for impacts of the DOAS supply on zone air terminal equipment sizing. EnergyPlus’s Sizing:Zone object allows users to specify the DOAS design supply air temperature but not the humidity ratio. Currently, the DOAS supply air humidity ratio is calculated from user-input DOAS supply air temp

[2020-04-14 13:51] Nigusse opened #7926 "Eng Ref documenation issue for ground heat transfer using C and F Factor methods"
Issue overview
--------------
 - Equation 3.197 [here](https://github.com/NREL/EnergyPlus/blob/develop/doc/engineering-reference/src/surface-heat-balance-manager-processes/ground-heat-transfer-calculations-using-c.tex#L73) for fictitious thermal resistance has incorrect sign. The double negative sign appears in equations 3.198 and 3.99 [here](https://github.com/NREL/EnergyPlus/blob/develop/doc/eng

[2020-04-14 20:59] Nigusse opened #7929 "Should we use monthly average outside temperature instead of monthly average ground temperature for FC-Factor method"
Issue overview
--------------
ASHRAE Standard 90.1 baseline buildings uses F-factor method to present slab-on-grade floor construction. This makes EnergyPlus's FC-Factor Method still relevant despite we have more 	 robust ground heat transfer models. However, I have a concern that monthly average ground temperature is used when approximating F-factor when using Ueff method. The Engineering referen

[2020-04-14 21:05] Nigusse commented on #7929
Ground Floor Inside and outside face temperature comparison plot is shown below. The monthly average air temperature use with F-Factor method matches better with the detailed ground heat transfer model. Note that the F-factor were developed to represent the heating season, but not the cooling season. So, the large deviation during the cooling season is not surprising.

![GroundFloorFacesTemperatur

[2020-04-14 21:13] Nigusse commented on #7929
Zone mean Air temperature plot for this example file using three methods. This example file has uncontrolled zone. See also the monthly average ground temperature and monthly average outside air temperature plots used for F-factor method. The monthly average ground temperature
are the monthly specified values in Site:GroundTemperature:FCfactorMethod for this example file while the monthly monthly

[2020-04-15 00:05] #6906 closed, assigned to nobody

[2020-04-15 01:24] xuanluo113 opened #7930 "User input meter type FUELOIL#1 instead of FUELOILNO1"
Issue overview
--------------
In `Meter:Custom` object, the available choices of fuel oil are `FUELOIL#1` and `FUELOIL#2`. These types have already been renamed to `FUELOILNO1` and `FUELOILNO2` in EnergyPlus 9.3. However, declaring `FUELOILNO1` and `FUELOILNO2` in this object causes fatal error.

Referring [this line](https://github.com/NREL/EnergyPlus/blob/185e20e71c38982ae12f355ab950587cc20caa7f

[2020-04-15 11:38] mjwitte opened #7931 "Plant excessive heat storage tracking issues"
Issue overview
--------------
There are a few problems with the tracking for these warnings:
[code]
1. The supply side and demand side warnings are both testing the demand side data [here](https://github.com/NREL/EnergyPlus/blob/185e20e71c38982ae12f355ab950587cc20caa7f/src/EnergyPlus/Plant/PlantManager.cc#L4344-L4354).

2. `LoopSideInlet_CapExcessStorageTime` and `LoopSideInlet_TotalTime` accumula

[2020-04-15 11:59] mjwitte commented on #7931
5ZoneBoilerOutsideAirReset-ddays - The chilled water loop is well-controlled, yet it is reporting excessive storage time on both the demand side (occasionally) and supply side (always).
![image](https://user-images.githubusercontent.com/4991075/79334740-7cd2f780-7ee6-11ea-8ee5-c3d65ab6e6da.png)

[2020-04-15 12:07] mjwitte commented on #7931
PlantComponentTemperatureSource - similar results, but note how the Plant Supply Side Lumped Capacitance Excessive Storage Time is reporting values even when Plant Supply Side Lumped Capacitance Heat Storage Rate is zero:
![image](https://user-images.githubusercontent.com/4991075/79335455-ab9d9d80-7ee7-11ea-8264-2ec161e13fb8.png)

And this file throws warnings:
[code]

[2020-04-15 13:44] mjwitte commented on #7930
Only the component fuel type inputs were changed for v9.3. All outputs, including meter names remained unchanged. See #7622 and #7621. Hopefully the output side will be done for v9.4.

[2020-04-15 13:56] EnergyArchmage opened #7933 "Request to change SQL data type for Tabular Data from text to value"
Issue overview
--------------
Interface developer notes performance problems accessing SQLite database because the data type for tabular data are strings instead of a value.  Heavy use of custom and predefined tabular data makes for large database files.  Interface developer feels that they can improve performance during post processing if the data types were changed to "value."

I recall that thi

[2020-04-15 14:23] lgu1234 commented on #7777
Closed via #7784

[2020-04-15 14:23] #7777 closed, assigned to lgu1234

[2020-04-15 14:26] lgu1234 commented on #7686
Closed via #7774

[2020-04-15 14:26] #7686 closed, assigned to lgu1234

[2020-04-15 15:50] lgu1234 commented on #7640
Closed via #7724

[2020-04-15 15:50] #7640 closed, assigned to lgu1234

[2020-04-15 16:19] xuanluo113 commented on #7930
@mjwitte Thanks for the clarification. I'll close this then.

[2020-04-15 16:19] #7930 closed, assigned to nobody

[2020-04-16 14:58] Nigusse commented on #7929
uploaded the test files

[2020-04-16 17:48] JasonGlazer commented on #7910
@mldichter could you please see if the new EP-Launch.exe fixes the issue you saw.

https://github.com/NREL/EnergyPlus/tree/7910-FixUtilityTabOnEPlaunch/bin/EP-Launch

[2020-04-16 17:59] mldichter commented on #7910
@JasonGlazer I'm having some trouble with permissions on windows 10. I was able to force the file to download, but windows won't let me copy the file into the EnergyPlusV9-3-0 directory and windows won't let me run the file saying,

![Capture](https://user-images.githubusercontent.com/39242689/79489984-fba45f00-7fd0-11ea-801d-1772bb9c7570.PNG)

You could try the other people from the unmet hours p

[2020-04-16 18:03] JasonGlazer commented on #7910
@mldichter looks like some kind of permission issue.

@aaron-boranian Could you try this and see if the utility tab shows?

[2020-04-16 18:54] JasonGlazer commented on #7910
@mjwitte had luck by using the ep-launch.exe after pulled that branch on his local EnergyPlus repo. Not sure why the link I provided above would not work but clearly that messed up.

[2020-04-17 07:40] dshen109 opened #7937 "energyplus command line removing first two characters of idf filename"
Issue overview
--------------
EnergyPlus 9.2 was working fine on my computer, then over the weekend after I autoremoved some packages in Linux while installing some other unrelated software, the first two characters of every `idf` file I pass in as a command gets removed:

[code]
(this does not work, even when the file `test.idf` exists in the directory)

Uninstalling EnergyPlus and updating to 9.

[2020-04-17 13:51] Myoldmopar commented on #7937
Do you know which packages got autoremoved?  That is a very strange problem!  I would try to run EnergyPlus in different ways to help isolate the problem, as at this point, it's unclear whether the autoremoved packages interfered with EnergyPlus itself, or the shell that is parsing the arguments to pass into EnergyPlus.
 - Rename the input file to in.idf, and just run EnergyPlus without any argume

[2020-04-17 13:56] rraustad commented on #7937
You might also try copying test.idf to st.idf and then run your original script and see if it does run st.idf.

[2020-04-17 18:44] rraustad commented on #7586
Option 2a - it seems if this option is used, then shading controls will not work for windows with exterior screens. What if a shade or blind is applied to between-glass or interior of the window? Will the EMS shading control actuator work for this case? If not, then Option 2b is preferred.

[2020-04-17 18:55] mjwitte commented on #7586
@rraustad The shading model can't handle both exterior screen plus another shading layer at the same time, so not sure if that's a big loss.

[2020-04-17 20:16] lgu1234 commented on #7586
@rraustad I tried to build a test file with Option2b, not successful. If windows with exterior screens are used, "Window Shading Control" can not be applied. Therefore, Option 2a may be applicable way to eliminate these warnings.

[2020-04-17 22:06] mjwitte commented on #7586
@lgu1234 But ExteriorScreen is a valid choice for Shading Type in WindowShadingControl. If that doesn't work, we should be fixing that. It's used that way in example file WindowTests.idf.

[2020-04-20 12:44] lgu1234 commented on #7586
@mjwitte Yes. The ExteriorScreen is a valid choice of Shading Type in WindowShadingControl. It should work when I looked at the code. However, it is not a valid choice for EMS Window Shading Control. I am going to investigate a possibility to add this capability in response to Option 2b.

Anyway, Option 2a fix is always valid to remove unnecessary warnings.

[2020-04-20 15:28] jmarrec opened #7939 "SQL 'Time' table: 'Interval' is empty when reporting frequency is 'Annual'"
Issue overview
--------------

Time: "Interval" is empty when reporting frequency is "Annual"

This is 1ZoneUncontrolled, with slight modifications to add the sqlite output and a bunch of output variables (cf https://github.com/NREL/OpenStudio/tree/develop/resources/utilities/SqlFile)

[code]

![image](https://user-images.githubusercontent.com/5479063/79769231-202f6c80-832c-11ea-9d86-34ffe2a00a07.

[2020-04-21 08:42] jmarrec commented on #7937
Are other commands affected? eg `cat test.idf` ?

Can you try with `energyplus -- test.idf` to see if that solves it?

[2020-04-21 08:53] jmarrec commented on #7937
Also, please check what readline libraries you have. Can you paste the output of this please?

[code]

eg on mine:

[code]

[2020-04-21 12:47] mjwitte commented on #7931
@Myoldmopar @EnergyArchmage With the supply side warnings active (actually checking supply side data), normal operating conditions can tally excessive storage time. For example when the load on the loop is increasing, then the storage node leaving the demand side will rise. Or when the loop setpoint is not fixed, and it rises, then the storage node leaving the supply side will rise. Both of these

[2020-04-21 14:01] lgu1234 commented on #7586
@rraustad @mjwitte I created another PR to address Option 2b at Allow ExteriorScreen used in EMS Window Shading Control #7941. ExteriorScreen is allowed as EMS actuator for Window Shading Control. A test file was uploaded. Could you take a look to decide which is better for this issue: Option 2a or Option 2b.

[2020-04-21 16:39] #7799 closed, assigned to RKStrand

[2020-04-21 16:49] #7907 closed, assigned to mbadams5

[2020-04-21 17:13] dareumnam commented on #7621
As Michael said in the last iteration call, fuel-types in each component were input by key-type choices, so users barely input wrong fuel types. So one of the issues about standardizing a function for fuel types is when users leave a fuel type input black.
 - Components can be classified by how they treat the blank fuel type input in input processing.
1. Components that have code lines designating

[2020-04-21 18:04] JasonGlazer opened #7942 "Include EP-Launch 3 as part of EnergyPlus installer"
EP-Launch 3 which is cross-platform, Python based, and easily extendable, is now available at:

https://github.com/NREL/EP-Launch

with installers created automatically with each new release at:

https://github.com/NREL/EP-Launch/releases

To increase the number of people aware of EP-Launch 3, the EnergyPlus installer could either fully integrate the components that are needed for an EP-Launch 3 i

[2020-04-21 18:08] mjwitte commented on #7621
My preference would be that blank is never sent to the new function.
1. If the fuel type field is tagged \required-field in the IDD, then the input processor will reject a blank with a fatal error.
2. If the fuel type field has a \default in the IDD, then the input processor should fill in the default, so again, blank should not make it to the new function. However, this requires that \min-fields

[2020-04-21 18:09] JasonGlazer opened #7943 "Provide some example files in epJSON format"
As examples of the new file format, please include some files in epJSON format in the Examples directory.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list location of defect file here)
 - [ ] Ticket added to Pivotal for defect (development team task)
 - [ ] Pull request created (the pull request will have

[2020-04-21 18:12] mjwitte commented on #7943
There is one, RefBldgMediumOfficeNew2004_Chicago_epJSON.epJSON

[2020-04-21 18:17] #7943 closed, assigned to nobody

[2020-04-21 18:17] JasonGlazer commented on #7943
RefBldgMediumOfficeNew2004_Chicago_epJSON.epJSON is already distributed

[2020-04-22 12:45] EnergyArchmage commented on #7931
This reminds me of the plant loop unmet hours reporting I recently added for parallel branch study. Just add up the time that setpoint is not met.

Main goal was to identify when loop thermal storage was serving loads.  maybe loads are very low and the supply equipment is not running, maybe the loop volume is very high relative to the flow.  Excessive loop temperatures are flagged separately.

[2020-04-22 17:50] #7910 closed, assigned to JasonGlazer

[2020-04-22 21:30] vsotofrances opened #7945 "ZoneHVAC:IdealLoadsAirSystem dehumification control type HUMIDISTAT"
Issue overview
--------------
While preparing some examples to students and analyzing the results.
ZoneHVAC:IdealLoadsAirSystem
When Dehumidification control type is HUMIDISTAT, during cooling it seems that it is using the Minimum Cooling Supply Air HUmidity Ratio and keeps its value constant as if the option selected was ConstantSupplyHumidityRatio.

Enclosed find the example file.
Minimum Coolin

[2020-04-23 18:13] #7906 closed, assigned to rraustad

[2020-04-23 18:26] mjwitte commented on #7855
@Nigusse I follow the derivation in the attached pdf from [this comment in PR7861](https://github.com/NREL/EnergyPlus/pull/7861#issuecomment-616895307), but I feel like we're going in circles on this.

Looking back at the EnergyPlus Archive, the use of the minimum humidity ratio was intentional per comments in CR6772 ( #1561). The code changes are here in https://github.com/NREL/EnergyPlusArchive/

[2020-04-23 20:18] Nigusse commented on #7855
Below are three issues that need to be addressed here:
- *How to treat the sensible cooling component of the moisture removed.* The current method (minimum humidity ratio) assumes de-humidification occurs at constant temperature but real cooling de-humidification process is variable temperature due to change in dew-point as the humidity ratio in the moist air decreases. The proposed change implies

[2020-04-23 20:24] mjwitte commented on #7855
Where does this separate latent calculation occur? Every place I've looked at (just spot checking) just sets Latent = Total - Sensible.

[2020-04-23 21:18] Nigusse commented on #7855
I agree in most places I see Latent = Total - Sensible. But there are places where the latent is calculated in kgH20/s ( = m_dot * detlaW) like [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ZoneAirLoopEquipmentManager.cc#L837-L838) and later it is multiplied by h_fg somewhere else to get the latent rate in W. Or in some places h_fg is used to back out HumRat from Q_latent a

[2020-04-24 12:31] lgu1234 commented on #7855
There are many ways to split sensible and latent from the total. The way Bereket used with average value is a choice from a text book I have. Unfortunately, the book is in my office and I am at home. The existing method using min W is a way also. One is not better than the other theoretically. I prefer to use the existing one, so that no more changes are needed, as long as a sum of sensible and la

[2020-04-25 14:15] mjwitte opened #7949 "Documentation Issues - 2020b"
Issue overview
--------------
A collection of small documentation issues. See checkboxed comments below.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This i

[2020-04-25 14:24] mjwitte commented on #7949
- [x] In the Auxiliary Programs Document, searching for "Sky Cover" (p. numbers for v9.3.0 docs):
p. 26, in the table opaque sky cover should be "y" for Used by EnergyPlus, with a footnote "Opaque sky cover is used when horizontal infrared radiation intensity from sky is missing or when specified by user input."
p. 27, in the table opaque sky cover should be "Y" for Used by EnergyPlus, referring t

[2020-04-27 22:19] mldichter opened #7950 "AirTerminal:SingleDuct:ConstantVolume:NoReheat Zone Air Terminal Outdoor Air Volume Flow Rate always zero"
Issue overview
--------------
The AirTerminal:SingleDuct:ConstantVolume:NoReheat object, which explicitly has no outputs in the IO Reference, is being associated with the Zone Air Terminal Outdoor Air Volume Flow Rate output variable having value zero during the simulation. The error can be reproduced in an IDF with an AirTerminal:SingleDuct:ConstantVolume:NoReheat object and the following object.

[2020-04-27 22:48] mjwitte commented on #7950
@mldichter Actually, it's the reverse. This output variable *should* work for any type of terminal unit. This one isn't setting the value, so that needs to be fixed. (I've edited the issue name.)

Developer note: need to check all terminal unit types and perhaps centralize setting this variable. And check the documentation for this an other related output variables - if they are documentated at th

[2020-04-27 22:52] mldichter commented on #7950
@mjwitte The IO Ref needs to be changed as well for at least two object then.

1.30.1 AirTerminal:SingleDuct:ConstantVolume:Reheat

1.30.2 AirTerminal:SingleDuct:ConstantVolume:NoReheat

[2020-04-28 14:11] Nigusse commented on #7855
Okay. I hear Mike and Gu prefer to keep the existing sensible heat rate calculation. The only thing that can be salvaged from this branch is common function for calculating total/sensible/latent rates albeit the sensible heat rate calculation should roll back to use the minimum *Hum Rat*. Please let me know what your thoughts are before me making any changes. @mjwitte @lgu1234

[2020-04-28 15:26] Nigusse commented on #7901
added defect file

[2020-04-28 20:09] jawysocki opened #7951 "Error in water consumption calculation in evaporatively cooled Chiller:Electric:EIR"
Issue overview
--------------
Model of evaporatively cooled Chiller:Electric:EIR incorrectly uses air density to calculate volumetric water consumption rate, which results in 1000-fold errors in calculated chiller water use (line 2189):

[code]
Water density should rather be used instead.

### Details
Some additional details for this issue (if relevant):
 - Windows 10
 - EnergyPlus 8.9

### Checkl

[2020-04-28 20:37] Nigusse commented on #7951
Confirmed the defect in develop [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ChillerElectricEIR.cc#L2188-L2189).

[2020-04-28 21:31] Nigusse commented on #7950
Reviewed develop code and I see the report variable *Zone Air Terminal Outdoor Air Volume Flow Rate* is available (set-up) only for the following four air terminal units:
 - AirTerminal:DualDuct:VAV
 - AirTerminal:SingleDuct:VAV:Reheat
 - AirTerminal:SingleDuct:VAV:NoReheat
 - AirTerminal:SingleDuct:ConstantVolume:NoReheat

While the dual duct air terminal unit type AirTerminal:DualDuct:VAV:Outdoo

[2020-04-28 23:33] dshen109 commented on #7937
Other commands such as `cat` were not affected. The problem has somehow resolved itself, though.

For the record, commands such as `energyplus ./test.idf` did work.

[code]

[2020-04-29 11:40] JimDirkes opened #7952 "Meter:Custom and Meter:CustomDecrement claim to allow more output:variables than they actually can"
Meter:Custom doesn't allow non-energy Output:Variables
--------------
The I/O Reference says, however:
_Field: Output Variable or Meter Name # This field must be a valid output variable name or a valid meter name._

### Details
I tried metering airflow for an outdoor air node on multiple air loops. It balks at the m3/s units

[2020-04-29 13:09] mjwitte opened #7953 "Documentation index.html is not installed on Windows"
Issue overview
--------------
The documentation index.html file isn't getting installed in the Documentation folder on Windows. So, the start menu link which points to it fails. Looks like this has been missing starting with v8.5.0.

### Details
Some additional details for this issue (if relevant):
 - Platform Windows
 - Version of EnergyPlus 9.3.0
 - Helpdesk ticket number 15454

### Checklist
Ad

[2020-04-29 14:21] mjwitte commented on #7952
@JimDirkes It does work for non-energy variables, but the variable does have to be a Summed variable, not an averaged variable. For example, this works:
[code]

For your purpose, there isn't any such variable, so the only solution would be to use EMS (or the new Python EMS) to generate a new output variable which sums the desired values.

[2020-04-29 14:21] mjwitte commented on #7952
Will update the docs to clarify this.

[2020-04-29 21:01] mitchute opened #7954 "Pond Ground Heat Exchanger Updating Temperature History Based on Plant FlowLock Status"
The pond ground heat exchanger updates its temperature history term based partly on the plant's FlowLock status. See here: https://github.com/NREL/EnergyPlus/blob/9e88f630aeacbd4d030305988ac2d6d071005d80/src/EnergyPlus/PondGroundHeatExchanger.cc#L447-L451

The current conditions could be met multiple times per timestep, regardless of whether or not time has advanced. This should be updated to chec

[2020-04-30 02:37] #7888 closed, assigned to Myoldmopar

[2020-04-30 13:00] jcyuan2020 opened #7957 "Add more options to Site weather variable outputs"
Issue overview

Please provide options to allow more fields in the Weather file to be listed as output options in the .rdd file, such as the “Total Cloud Cover” and the “Opaque Cloud Cover”. If successfully implemented, there should be something that looks like the following in the .rdd file after a successful run:
Output:Variable,*,Site Total Cloud Cover,hourly; !- Zone Average [tenths of sky]
Ou

[2020-04-30 18:34] lgu1234 commented on #7391
Closed via #7398

[2020-04-30 18:34] #7391 closed, assigned to lgu1234

[2020-04-30 21:50] mjwitte opened #7958 "Zone Component Loads Report delayed component calculation problem"
Issue overview
--------------
In `OutputReportTabular::GetDelaySequences` the [loop on mStepBack](https://github.com/NREL/EnergyPlus/blob/274e7df1216d33e62ac53c4e2d75e20600bb83fb/src/EnergyPlus/OutputReportTabular.cc#L13273-L13282) to accumulate the delay components ends up using the values for whatever is the last surface in the zone for all steps back except the first one.

e.g. `equipRadIntoSur

[2020-04-30 23:14] xuanluo113 opened #7960 "Removed IgnoreInteriorWindowTransmission tag in Output:Diagnostics"
Issue overview
--------------
Seems the `IgnoreInteriorWindowTransmission` tag no longer exists in the object `Output:Diagnostics`, but the logic of checking this condition still remains in the [code](https://github.com/NREL/EnergyPlus/blob/274e7df1216d33e62ac53c4e2d75e20600bb83fb/src/EnergyPlus/SimulationManager.cc#L1079
).

Wonder if this logic is meant to be removed as well.

### Checklist
Add

[2020-04-30 23:24] mjwitte commented on #7960
There are several other choices in [GetProjectData](https://github.com/NREL/EnergyPlus/blob/274e7df1216d33e62ac53c4e2d75e20600bb83fb/src/EnergyPlus/SimulationManager.cc#L1055-L1100) which are not listed as \keys in the IDD, e.g. IgnoreSolarRadiation, IgnoreBeamRadiation, etc. Some of these are accessible as environment variables in [DataSystemVariables::processEnviornmentVariables](https://github.

[2020-05-01 00:33] xuanluo113 commented on #7960
@mjwitte Thanks, Mike. Now I got confused about when `DataSystemVariables::processEnviornmentVariables` is required. It seems to me that by calling [get_environment_variable](https://github.com/NREL/EnergyPlus/blob/274e7df1216d33e62ac53c4e2d75e20600bb83fb/src/EnergyPlus/DataSystemVariables.cc#L426) and `env_var_on`, it's only trying to get the env list by calling [std::getenv](https://github.com/N

[2020-05-01 01:33] xuanluo113 commented on #7960
Under `Output:Diagnostics` It looks to me:
1. `IgnoreInteriorWindowTransmission` is somewhat useful, but can go under `PerformanceAccuracyTradeoff`.
2. Maybe `DoNotMirrorDetachedShading` and `DoNotMirrorAttachedShading` should go under `ShadowCalculation` or simulation control instead of `Output:Diagnostics`? They are not reporting flags.
3. Checking of `IgnoreSolarRadiation`, `IgnoreBeamRadiation

[2020-05-01 14:31] #7680 closed, assigned to Myoldmopar

[2020-05-01 14:36] lgu1234 opened #7961 "Place rated latent capacity calculation in a right location for variable speed coolig coil"
Issue overview
--------------
#7671 corrected calculation of rated latent capacity (QLatRated) based on inputs of rated total capacity and SHR for variable speed cooling coil. Since the value is a constant, its calculation may be out of iteration loop. The right location may be needed to avoid multiple calculations in the loop,

### Details
Some additional details for this issue (if relevant):
 -

[2020-05-06 17:02] Nigusse commented on #6870
Run the defect file and found the output variable *Lights Return Air Heating Rate* for each of the five zones match the the corresponding *Zone Air System Sensible Heating Rate* variable when the supply air flow rate is zero. This, confirms that the non-zero values for the later variable when the supply air flow rates are 0.0 is correct.

Also stepping through the code shows that the variable *SNL

[2020-05-06 22:38] mjwitte opened #7973 "OCX file not registered errors - again"
Issue overview
--------------
Several users have recently run into missing ocx or dll errors again (like we did back in v8.3, ref #5105). The files are there in the operating system, but are either not registered or broken somehow.

If I'm following this portion of the current [installer scripts](https://github.com/NREL/EnergyPlus/blob/develop/cmake/qtifw/install_win_copydll.qs), it appears that t

[2020-05-07 12:33] Nigusse opened #7974 "AirTerminal:DualDuct:VAV Zone Air Terminal Outdoor Air Volume Flow Rate is always zero"
Issue overview
--------------
The report variable *Zone Air Terminal Outdoor Air Volume Flow Rate* is available for AirTerminal:DualDuct:VAV. But running one of the test suite file with DualDuctVAV air terminals (DualDuctVarVolDamper.idf) shows always zero value. Stepping through the code shows that the airloop outdoor air fraction variable (*AirLoopOAFrac*) used in this calculation has always zer

[2020-05-07 13:58] rraustad opened #7975 "Zone Component Loads report results accuracy"
Issue overview
--------------

Followup to #7958 / #7964. See discussion in PR for more information.

These items were documented (with possible descriptive errors) so that they may be resolved if found credible via this new issue. Remaining items regarding pulse sizing model that might be further investigated:

 - delayed convective terms are summed from midnight at beginning of design day to mid

[2020-05-07 14:07] Nigusse commented on #7950
Posted new issue for DualDuct VAV air terminal report variable issue #7974. Testing example files with the following *eight* single duct air terminal types revealed that all of them do not have the report variable *Zone Air Terminal Outdoor Air Volume Flow Rate* set-up.

[code]
@mjwitte Do we need to add the same report variable for all these eight singe duct air terminal types? If that is the cas

[2020-05-07 14:08] #7958 closed, assigned to nobody

[2020-05-07 14:44] mjwitte commented on #7950
I would like to see consistency across all terminal units, as appropriate. Clearly all terminal units can deliver some fraction of out door air, so, yes. But this should happen in a common place (or at most one place for single duct and one for dual duct). Instead of adding multiple `SetUpOutputVariable` statements in the various terminal type loops, it seems you could add a single loop over all t

[2020-05-07 14:53] Nigusse commented on #7950
OK. @mjwitte Thanks. I will consolidate the calc function in single place and common member function, also set-up the report variable for all single air terminal units in one place as suggested.

[2020-05-07 15:21] mjwitte commented on #7973
@jmarrec Any concerns with always registering all of the ocx/dlls in the windows install?

[2020-05-07 15:43] Nigusse opened #7976 "Add report variable *Zone Air Terminal Outdoor Air Volume Flow Rate* to AirTerminal:SingleDuct:*"
Issue overview
--------------
Testing showed that the report variable *Zone Air Terminal Outdoor Air Volume Flow Rate* is not set-up or missing from the following single duct air terminal types:

[code]
Developer: add the report variable to the seven single duct air terminal units, test and verify that the report variable is calculated and reported correctly.

### Details
Some additional details f

[2020-05-07 17:01] jmarrec commented on #7973
@mjwitte just need to make sure we catch any exit codes different than 0 that indicate the thing is already registered

[2020-05-07 19:44] JasonGlazer opened #7977 "Separate Infiltration from Natural Ventilation for AirflowNetwork"
Issue overview
--------------
Currently AirflowNetwork does not seem to distinguish between infiltration (through cracks) and ventilation (through openings), it's all tracked as infiltration. They should be separated so that the natural ventilation component is clearly identified.

The fix should include new output variables and also updating the enhanced outdoor air tabular reports.

Found this w

[2020-05-08 14:56] #7973 closed, assigned to nobody

[2020-05-08 16:57] JasonGlazer commented on #7949
- [x] In all fields were air flows are entered such as Outdoor Air Flow per Person in DesignSpecification:OutdoorAir, include that the air flow is standard density.

[2020-05-08 21:25] #6647 closed, assigned to nobody

[2020-05-11 16:44] jmarrec commented on #7953
oops, didn't mean to close it, clicked on the wrong button.

This is what happens in V920 (same in V930). The startup menu link is broken because index.html isn't installed indeed.

![image](https://user-images.githubusercontent.com/5479063/81586520-eb0bbc80-93b5-11ea-8b1c-194479fb6574.png)

![image](https://user-images.githubusercontent.com/5479063/81586570-f828ab80-93b5-11ea-80fb-d6712416e7ee.pn

[2020-05-11 17:59] Nigusse commented on #7950
@mjwitte Three of the eight single duct air terminals are contained in SingleDuct.cc module but the other five single duct air terminals contained in four different modules:

[code]

So, the fix is done in five different places/modules by adding a member function to each module.

[2020-05-12 12:34] rraustad opened #7986 "SwimmingPool:Indoor crashes with incorrect surface name"
Issue overview
--------------
HelpDesk ticket 15470. User file crashes with no evidence in error file.

Line 301 of SwimmingPool.cc

    Pool(Item).ZonePtr = DataSurfaces::Surface(Pool(Item).SurfacePtr).Zone;

crashes with no indication of problem. This line of code should be moved up into the else above.

As a test this line was changed to:

    if (Pool(Item).SurfacePtr > 0) Pool(Item).ZonePtr =

[2020-05-12 15:11] RKStrand commented on #7986
@rraustad Thanks, Rich.  I will put that at the top of my bug fixing list.

[2020-05-13 13:01] #7862 closed, assigned to Nigusse

[2020-05-13 14:29] #7901 closed, assigned to Nigusse

[2020-05-13 15:38] RKStrand commented on #7986
@rraustad Yup, definitely this is an error in the logic since it should not crash.  I will fix that.  There is also an error in the user input file which can be fixed by referencing the correct pool floor surface (Pool01 Surface 0 or Pool02 Surface 0 or Pool03 Surface 0).  So, what you saw in your modified version as far as error messages is "correct" as far as what EnergyPlus should have done wit

[2020-05-14 15:04] Myoldmopar commented on #7586
Soooo it looks like 2b is the right path.  2a would be fine to eliminate the warning, but the better solution is to just fix the missing behavior with 2b.  I'm going to close the 2a PR and review the fix with 2b.  If someone feels different then please speak up directly.

[2020-05-14 16:22] #7809 closed, assigned to jmarrec

[2020-05-15 11:59] #7817 closed, assigned to Nigusse

[2020-05-15 19:44] lgu1234 commented on #7977
@JasonGlazer I am going to take this issue. The AFN model provides output variables as AFN Zone Infiltration *. Are you OK with the new output variables as AFN Zone Ventilation * applied to opening components?

[2020-05-15 20:05] JasonGlazer commented on #7977
Sounds good to me. I have not used AFN so I may not have captured the nuances in the Issue Overview but in general when people are modeling infiltration effects (I guess I would say usually unplanned outdoor air) versus natural ventilation effects (planned for outdoor air) it would be good to organize it that way. I'm not sure that openings are always used for natural ventilation or not or cracks

[2020-05-15 20:05] JasonGlazer commented on #7977
And thanks for jumping on this so fast!

[2020-05-15 23:34] #7986 closed, assigned to RKStrand

[2020-05-16 15:21] #7951 closed, assigned to Nigusse

[2020-05-16 19:41] Myoldmopar commented on #7586
Fixed with #7941

[2020-05-16 19:41] #7586 closed, assigned to lgu1234

[2020-05-17 13:43] #7889 closed, assigned to ajscimone

[2020-05-17 17:06] #7892 closed, assigned to jmarrec

[2020-05-17 17:06] #7902 closed, assigned to jmarrec

[2020-05-18 21:06] matthew-larson opened #7998 "Incorrect Coil:Cooling:Water sizing when hard-sizing ZoneHVAC:FourPipeFanCoil air flow rate"
Issue overview
--------------
I ran a model using ZoneHVAC:FourPipeFanCoil objects where I hard-sized the "Maximum Supply Air Flow Rate" to 449.15 CFM and I left the Coil:Cooling:Water "Design Air Flow Rate" input set to 'Autosize'. When running this model through the debugger, I found that the Coil:Cooling:Water was being sized based on the autosized coil design air flow rate of 1097.27 CFM inste

[2020-05-18 21:14] rraustad opened #7999 "Natural gas meter reporting as Other in Energy Cost Summary tariff report"
Issue overview
--------------
User was confused with reporting tariffs for natural gas equipment.

![image](https://user-images.githubusercontent.com/5778156/82258677-41ce4480-9928-11ea-91d2-a0d24b923ac2.png)

The use of custom meters confused the tariff cost model.

    Meter:Custom,
      Building Natural Gas,                   !- Name
      NaturalGas,                             !- Fuel Type

[2020-05-18 21:40] nealkruis opened #8000 "Simple Glazing system produces negative absorptance at some angles of incidence"
Issue overview
--------------
Discovered when running ASHRAE 140 Section 7 tests for both layer-by-layer and simple glazing methods. The simple glazing method under-underestimates the heating benefit of moving to an efficient double-pane lowE window from a single pane window.

This plot shows the hourly solar absorptance for the layer-by-layer "Detailed" model and the "Simple" model.
![Screen Shot

[2020-05-19 02:58] #7706 closed, assigned to matthew-larson

[2020-05-19 09:37] jmarrec commented on #7808
https://github.com/NREL/EnergyPlus/blob/3d2145e57854707476a667f73c514417625964aa/src/EnergyPlus/OutputFiles.cc#L428-L451

[2020-05-19 09:47] jmarrec commented on #7512
Considering the lack of information needed to reproduce, I'm closing this one. It's likely user had the SQL file open somewhere else. Happy to reopen if more information comes along though.

[2020-05-19 09:47] #7512 closed, assigned to nobody

[2020-05-19 13:34] JasonGlazer commented on #7999
Thanks @rraustad.

[2020-05-19 13:38] rraustad commented on #7999
@JasonGlazer did you get a notification when I assigned you yesterday?

[2020-05-19 13:38] rraustad commented on #7999
OK, I guess you did.

[2020-05-19 13:42] rraustad commented on #7999
The other thing that is bothering me while looking at this. If I create multiple tariff objects for multiple electric meters, and some of those electric meters are included in others on this report, will that cause double counting of energy/cost? I didn't see anything in this function to avoid that but there may be other checks elsewhere that check for duplication?

[2020-05-19 13:45] JasonGlazer commented on #7999
It has been a while since I looked at the logic but I remember that a lot of it had to do with working with good default assumptions.

[2020-05-19 15:26] mjwitte commented on #7808
@Myoldmopar Hmmm, that seems dangerous. Users could trip error messages that aren't intended to be fatal but have format errors lurking in them. Seems this should write a "report this as an issue" message and continue.

[2020-05-20 11:33] shorowit opened #8007 "Envelope Summary report should include additional Interior sections"
Issue overview
--------------
The Envelope Summary output report currently includes the following sections:
- Opaque Exterior
- Exterior Fenestration
- Interior Fenestration
- Exterior Door

In residential buildings, it's common to have interior opaque surfaces (e.g., attic floors, basement ceilings, walls between conditioned space and garage) through which the heat transfer is just as important a

[2020-05-20 14:22] Myoldmopar commented on #7808
I agree.  We shouldn't let this cause a simulation to fatal.  The `fmt::format_error` should be caught, as it currently is, but then instead of raising another format error, we should issue a warning as you suggested @mjwitte and continue.

@lefticus can you address this in your next IO change?  Basically just change the nested `throw` into a ShowWarning with the same content being passed in.

[2020-05-20 15:39] ajscimone opened #8009 "HNatUnstableHorizEqNum is never changed from default values, HNatStableHorizEqNum incorrectly overriden"
Issue overview
--------------
When using a `SurfaceConvectionAlgorithm:Outside:AdaptiveModelSelections,` object to defin the convection algorithms for outside surfaces, EnergyPlus currently does not change the Natural Convection Unstable Horizontal Equation Source from its default, and instead, the Stable Horizontal Equation is overridden. This results in the values for both the HNatUnstableHorizE

[2020-05-20 17:16] matthew-larson commented on #7276
@rraustad @mjwitte In fixing an issue regarding the outputs for the cooling coils referenced in fan coil units, I realized the sizing discrepancy and created issue #7998 only to find out this issue also exists.  My issue came about when I was hard-sizing the air flow rate in the ZoneHVAC:FourPipeFanCoil object and letting the associated water coil autosize the air flow rate.  The sizing of the wat

[2020-05-20 18:21] mjwitte commented on #7276
@matthew-larson I thought we fixed that long long ago - forcing the parent flow rate onto the child coils and fan. The discussion on this issue implies that was working at some point. Or maybe it only worked in the fan coil flow was autosized? @rraustad ?

[2020-05-20 20:06] jmarrec commented on #5579
QtIFW is implement for all 3 plaftorms now.

[2020-05-20 20:06] #5579 closed, assigned to nobody

[2020-05-20 20:11] jmarrec commented on #7937
closing as this seemed unrelated to E+ specifically and is resolved on user machine too.

[2020-05-20 20:11] #7937 closed, assigned to nobody

[2020-05-20 20:12] matthew-larson opened #8010 "AirflowNetwork objects not used without AFN:SimControl object and no error/warning message"
Issue overview
--------------
Any model with AFN objects but no AirflowNetwork:SimulationControl object simulates successfully without using any of the AFN objects (no AFN-related output variables shown in RDD) and EnergyPlus doesn't add any warning or error messages to the error file. This is the intended behavior, but should have at least a warning generated that lets the user know their AFN obj

[2020-05-20 20:27] jasondegraw commented on #8010
I don't entirely agree that this is necessarily needed, I thought the documentation was clear on needing the simulation control object. I'll go double check. I don't agree that this is a defect since it is the intended behavior.

[2020-05-20 21:28] nealkruis commented on #8010
@jasondegraw I think you're right that this is covered in the documentation. I would argue that the intended behavior is defective and confusing for users. Why not add a warning to point a user in the right direction if they are confused?

[2020-05-20 21:58] jmarrec commented on #7433
Tested on Ubuntu with current develop, eplusout.dbg is available. I think it was fixed by the IO refactor. New routine is here:

https://github.com/NREL/EnergyPlus/blob/3d2145e57854707476a667f73c514417625964aa/src/EnergyPlus/UtilityRoutines.cc#L696-L703

@mjwitte I'll close this one. If you can reproduce on windows with current develop, we can always reopen.

[2020-05-20 21:58] #7433 closed, assigned to jmarrec

[2020-05-20 22:39] jasondegraw commented on #8010
@nealkruis I'm not entirely opposed to the idea. It'll need to be compatible with the way that unused objects are handled elsewhere, so without looking at that I'm not sure I can judge complexity. If it can be done in a good way that's helpful, sure, let's do it. But it is not a defect. It's fine to make that argument if you want to (I wouldn't), but:
* it is the current behavior, and
* it is the

[2020-05-21 04:15] lefticus commented on #7808
@Myoldmopar can do. I have a PR in the works right now I can push it to.

[2020-05-21 11:36] #7866 closed, assigned to matthew-larson

[2020-05-21 13:04] lgu1234 commented on #8010
@jasondegraw @nealkruis I agree with Jason's concern. This issue is a new feature request. We should treat the AFN objects as unused objects.

[2020-05-21 13:53] mjwitte commented on #8010
With all due respect, this can be quite frustrating for users (and those answering user support questions). There is precedent for generating a specific error message for this type of situation:
[code]

That said, unused AFN (and any other) objects do generate a subtle message at the end of the error file:
[code]
I don't recall why this is just a message and not a warning, probably due to warning

[2020-05-21 14:42] mjwitte commented on #7433
@jmarrec Tested with develop on Windows, Version 9.4.0-fa9c482c78 and confirmed the debug file remains. Fixed.

[2020-05-21 15:34] jasondegraw commented on #8010
@mjwitte Either solution would be fine with me, though I have wondered whether we should just default a simulation control object. If we're going with a message/warning, it would be worth it to include that the input has not been validated. I recall (perhaps incorrectly) that the warning count is no longer a thing. If that's the case, then perhaps it matters less whether it's a message or a warnin

[2020-05-21 16:08] ajscimone opened #8011 "OutsideFaceAdpativeConvAlgoStruct does not default construct member values to correct idd default values."
Issue overview
--------------
The OutsideFaceAdpativeConvAlgoStruct inside of COnvectionCoefficients.hh default constructs `HWindWallWindwardEqNum` and `HWindWallLeewardEqNum` members to the incorrect values. They are currently constructed to BlockenWindward and EmmelVertical integer values respectively instead of the defaults defined in the idd which are the SparrowWindward SparrowLeeward respect

[2020-05-21 20:42] jmarrec commented on #7433
@mjwitte thanks for taking the time to confirm!

[2020-05-21 21:54] #6896 closed, assigned to nobody

[2020-05-22 10:58] EnergyArchmage commented on #8000
can you post a defect idf that shows the negative absorptance.

[2020-05-24 13:59] #7954 closed, assigned to mitchute

[2020-05-24 14:44] Myoldmopar opened #8012 "Windows CI Warnings/Messages"
I recently made a modification to CI's parser of msvc messages, and a chunk of new messages started appearing.  I thought about going back in and revising the parser to eliminate these but I think they may be valid.  It is possible that some of these are being parsed incorrectly, but I'll just lay them out as CI is reporting them.  The messages include:

A few C4267 warnings, that appear to be iso

[2020-05-25 16:32] matthew-larson opened #8013 "Optimum start starting too early when fan start time is not on the hour"
Issue overview
--------------
When the fan schedule is scheduled to begin on the half hour, the optimum start allows the fans to begin running a half hour earlier than expected. For example, if the optimum start is set for 1.5 hours early allowable operation and the fan schedule starts at 5:30am, the optimum start will actually allow the fans to start at 3:30am rather than the expected 4:00am. The

[2020-05-26 11:54] jmarrec commented on #7076
I'm not sure if the error message was truncated too much, or if 9.0.1 didn't have the first warning which is more explicit about what's going on. **Edit**: Actually, a git blame shows that @mbadams5 in https://github.com/NREL/EnergyPlus/pull/7807 added this line (see specifically https://github.com/NREL/EnergyPlus/commit/dbe1883b71a88e8026adfa2cfc248c8d46214be9)

[code]

 Here's with current devel

[2020-05-26 11:56] jmarrec commented on #7076
@mjwitte given the new severe which gives you a very hard clue about what the problem is, is this worth addressing or can we close?

[2020-05-26 12:56] mjwitte commented on #7076
Yes, that's better.

[2020-05-26 12:56] #7076 closed, assigned to nobody

[2020-05-26 17:53] matthew-larson opened #8015 "Not able to account for fan heat in ZoneHVAC:HybridUnitaryHVAC if not in lookup tables"
Issue overview
--------------
There is no way to add fan heat to the model unless it is already taken into account in the lookup tables for supply air temperature.  I propose adding an input for whether the lookup tables include the effect of fan heat or not and if not, what fraction of fan heat goes into the air stream and have EnergyPlus do the calculation.

### Details
Some additional details f

[2020-05-27 15:22] jmarrec commented on #7814
After fighting with my debugger, I think I've pinpointed something: it seems that `ScheduleManager::GetCurrentScheduleValue` returns something different than `ScheduleManager::LookUpScheduleValues`

To better illustrate my point, I've taken this block:

https://github.com/NREL/EnergyPlus/blob/36db22b9af45b33371b30b85de916659c091c7c8/src/EnergyPlus/EconomicTariff.cc#L2775-L2777

And replaced it wit

[2020-05-27 17:05] rraustad commented on #7814
This does ring a bell. Just gotta remember where.

[2020-05-27 17:07] rraustad commented on #7814
I was thinking of #7462. Doesn't seem the same as your simple schedule.

[2020-05-27 22:13] matthew-larson commented on #7276
@mjwitte @rraustad The SetCoilDesFlow function is still present in the code contrary to the suggestion.  I think my changes are basically doing what @rraustad suggested in terms of using the ZoneEqSizing to pass the airflow to the child components.

[2020-05-28 12:17] RKStrand opened #8020 "Addition of Surface Temperature Controls for Variable Flow Low Temperature Radiant Systems"
Requests from the OpenStudio team and researchers at the Center for the Built Environment (CBE) at the University of California Berkeley have included several enhancement to the low temperature radiant system models.  This is the first of a series of issues that address some of those concerns.

The work here includes adding two types of surface control to variable flow low temperature radiant syst

[2020-05-28 12:58] RKStrand opened #8021 "Addition of New Controls for Constant Flow and Electric Radiant Systems and 2-D Control Enhancement"
New surface temperature controls were added to the variable flow low temperature radiant systems model in EnergyPlus under a previous issue:

https://github.com/NREL/EnergyPlus/issues/8020

These new controls now need to be implemented and tested for the other two low temperature radiant systems: constant flow and electric.

In addition, the new control for controlling on the temperature on the in

[2020-05-28 13:29] mjwitte commented on #7814
@rraustad It looks like the changes applied in #7462 were only made in `UpdateScheduleValues` (which feeds into `GetCurrentScheduleValue`) but not in `LookupScheduleValue`?

@jmarrec It would be helpful to know the day/hour/timestep when the fatal test trips.

[2020-05-28 15:05] jmarrec commented on #7814
@rraustad @mjwitte I isolated it in a unit test, cf https://github.com/NREL/EnergyPlus/commit/347707d58df48f225cd78c8278bd60b54bbd52a1

[2020-05-28 15:19] mjwitte commented on #7814
So, the question is which one is correct? #7462 would say that `GetCurrentScheduleValue` is the right answer. Clearly, both functions should return the same schedule value, but perhaps the economics calcs need to careful about when to select a monthly value? @JasonGlazer

[2020-05-28 16:02] jmarrec commented on #7814
ScheduleManager.cc has three routines with similar blocks of code.
These two are **exactly** the same (minus whitespace changes)

* [ScheduleManager::ReportScheduleValues](https://github.com/NREL/EnergyPlus/blob/36db22b9af45b33371b30b85de916659c091c7c8/src/EnergyPlus/ScheduleManager.cc#L4952-L4985) (called from `HeatBalanceManager::ReportHeatBalance`)
* [ScheduleManager::UpdateScheduleValues](http

[2020-05-28 16:08] jmarrec commented on #7814
This block appears to produce no meaningful actions as it's all overwritten later no matter the branches taken.

https://github.com/NREL/EnergyPlus/blob/36db22b9af45b33371b30b85de916659c091c7c8/src/EnergyPlus/ScheduleManager.cc#L2910-L2927

[2020-05-28 16:50] mjwitte commented on #7814
@jmarrec FYI, I wouldn't get too carried away with any refactoring here beyond fixing the issue. There's a major schedule manager refactor in progress #7352. Wonder how that branch handles this case?

[2020-05-28 16:50] JasonGlazer commented on #7814
@mjwitte the tariff stuff ought to add up the values for a time period with daylight savings time account for. Nothing special about that.

@jmarrec there does seem to be some redundancy in the code but be careful, there are a lot of edge cases.

[2020-05-28 16:52] mjwitte commented on #7814
@JasonGlazer What isn't clear here, is when in May the summer calcs are starting - is it just for that last hour on May 31?

[2020-05-28 17:09] JasonGlazer commented on #7814
I don't remember for sure but I assume it was just an hour off in May.

[2020-05-28 18:44] mjwitte commented on #7814
Then perhaps it's correct as-is. If the utility is collecting meter data hourly (or more often), then the last day of standard time will only have 23 hours of data, and the last day of DST would have 25. If I'm following this correctly, that seems to be what's happening here. There's still the issue of the two different functions returning different results, but that seems to be unrelated to tarif

[2020-05-28 21:18] Myoldmopar commented on #8020
This was addressed by #8016

[2020-05-28 21:18] #8020 closed, assigned to RKStrand

[2020-05-28 21:42] jmarrec commented on #7814
The entire month of may ends up billed at the summer rate, so the error isn't just one hour off.

IIUC Tariff(n).seasonForMonth(CurMonth) is constantly overriden and only the last one to get in is used to compute the cost.

I'll try the ScheduleManager refactor branch tomorrow.

I do think GetScheduleValue and LookUpScheduleValue should return the same though. The different is the determination of

[2020-05-29 09:15] jmarrec opened #8022 "ScheduleManager::GetCurrentScheduleValue and LookUpScheduleValue return different results"
Issue overview
--------------

In the course of investigating #7814, I found out that there could be some potential problems in the way `ScheduleManager` does its stuff. #7814 contains a discussion on the subject, but the key point is that `GetCurrentScheduleValue` appears to return different value than `LookUpScheduleValue` which is perhaps surprising, so we should ensure that everything is corre

[2020-05-29 15:49] #7041 closed, assigned to Myoldmopar, rraustad, YanfeiNREL

[2020-05-29 22:53] mjwitte opened #8025 "ZoneHVAC:FourPipeFanCoil with electric heating coil and multispeed fan fatals out"
Issue overview
--------------
ZoneHVAC:FourPipeFanCoil with electric heating coil and multispeed fan fatals out
[code]

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.3.0-64d91887f6
 - Unmethours [44028](https://unmethours.com/question/44028/e-doas-night-cycle-control-and-fourpipefancoil-multispeedfan-control-questions/)

### Checklist
Add to this list

[2020-06-01 15:35] michael-okeefe opened #8026 "Misc. LaTeX Errors Not Caught in Normal Workflow"
Issue overview
--------------
There are quite a few LaTeX errors in the LaTeX build logs that have not yet been fixed. Several are a bit cryptic to find and pull out of the build logs. Even though LaTeX calls these errors, the docs build anyway: sometimes the LaTeX processor is able to muddle through and do the right thing and at other times, there are actual glitches in the final PDF. These issue

[2020-06-01 19:06] nealkruis commented on #7802
@mjwitte I took a stab at an explicit target organization for VS solution explorer. This is all done through settings in CMake. I can move stuff around if needed. The general idea is to leave the EnergyPlus executable target at the top level and organize all the other targets into other folders.

I tried to think of all the possible targets, but there may be a few that I missed that appear with sp

[2020-06-01 19:32] Myoldmopar commented on #7802
:+1: :+1: :+1: :+1:

And I don't even use VS.

The only thing I'd suggest is putting the energyplusapi at the top level as well, since it isn't just an internal thing.  But it doesn't affect me so others can decide whether that would be valid.

[2020-06-01 19:44] nealkruis commented on #7802
It also removes the "CTestDashboardTargets" ("Continuous", "Experimental", "Nightly", "NightlyMemoryCheck"). I don't think anyone is using those.

@Myoldmopar I can move energyplusapi back up. My only hesitancy is that outside of holding a majority of the source files for EnergyPlus, it isn't used much in the context of the development environment (e.g., debugging--since that is done through the e

[2020-06-01 19:47] Myoldmopar commented on #7802
@nealkruis I think energyplusapi should only contain the files needed for building out the DLL.  The energypluslib target is the one that contains the bulk of the source files, and I don't think there's any need to include that at the top level.  As we progress further down the API path, it may be more common to interact with that target.

Are you putting these changes purely in the VS side of thi

[2020-06-01 19:52] nealkruis commented on #7802
True.

As far as I can tell this only impacts the folder structure in VS, though maybe other IDEs use it as well? Here's the [CMake documentation](https://cmake.org/cmake/help/latest/prop_tgt/FOLDER.html#prop_tgt:FOLDER).

[2020-06-01 19:53] jasondegraw commented on #7802
90% of my interactions via the solution explorer are with the energypluslib target, so I'd vote for that one to be at the top level.

[2020-06-01 20:43] nealkruis commented on #7802
Here's an updated proposal (all collapsed):

![Screen Shot 2020-06-01 at 2 42 35 PM](https://user-images.githubusercontent.com/1964570/83452604-401b7b00-a416-11ea-86d5-b00c6e25a35f.png)

[2020-06-01 20:45] Myoldmopar commented on #7802
Looks fantastic to me!

[2020-06-02 02:43] #7621 closed, assigned to dareumnam

[2020-06-02 13:07] lgu1234 commented on #7844
Closed with PR #7860

[2020-06-02 13:07] #7844 closed, assigned to lgu1234

[2020-06-02 18:40] #7953 closed, assigned to jmarrec

[2020-06-02 19:38] #7950 closed, assigned to Nigusse

[2020-06-02 20:18] jcyuan2020 opened #8030 "Sky emissivity and sky temperature calculation should use timestep-wise inputs instead of hourly ones"
Issue overview
--------------
In current calculation, the sky emissivity (and thus sky temperature) takes in a few input parameters such as opaque sky cover, dry bulb temperature, dewpoint temperature, and relative humidity. The calculation was done at hourly level and uses hourly values for input parameters. The sky emissivity and sky temperature are then interpolated after an hourly calculated v

[2020-06-02 20:24] Nigusse commented on #8025
I stepped through the code using the defect file provided. I think, the MultiSpeedFan capacity control method in 4PipeFanCoil units was designed to work with hot-water heating coil type only. Since the current code does not have a check for heating coil type for this capacity control and does not anticipate electric heating coil, the simulation fatal out when the 4PipeFanCoil unit tries to simulat

[2020-06-02 20:47] mjwitte commented on #8025
I would prefer (2) Support electric heating with multispeedfan. It may be worth checking the other capacity control types as well to see if they all work with electric heat. @rraustad would you agree?

[2020-06-02 20:58] rraustad commented on #8025
I think option 2 is the only way forward. If users want multi-speed fan and choose electric heating coil, and electric heating coils are allowed in 4PFC, it should work without a fatal error.

[2020-06-02 21:16] Nigusse commented on #8025
OK. will go with option 2. @mjwitte @rraustad Thanks.

[2020-06-03 00:17] rraustad commented on #7632
Anyone up for tackling this one?

[2020-06-03 13:40] jmarrec opened #8033 "Coil:Cooling:DX:CurveFit:Speed minor adjustment to allow blank PLR curve"
Issue overview
--------------

Taking an example file from E+ (UnitarySystem_FurnaceWithDXSystemRHcontrol.idf) and removing curves one by one, E+ will fatal out if Part Load Fraction Correlation Curve isn't set.

https://github.com/NREL/EnergyPlus/blob/7b66d496956677a2c942a80bfb9668a4447ad1a4/src/EnergyPlus/CurveManager.cc#L320-L322

This line triggers the fatal error when PLR Correlation Curve is

[2020-06-03 13:49] rraustad commented on #8033
Change this first line:

    if (!errorsFound) {
        //     Test PLF curve minimum and maximum. Cap if less than 0.7 or greater than 1.0.
        Real64 MinCurveVal = 999.0;
        Real64 MaxCurveVal = -999.0;
        Real64 CurveInput = 0.0;
        Real64 MinCurvePLR = 0.0, MaxCurvePLR = 0.0;
        while (CurveInput <= 1.0) {
            Real64 CurveVal = CurveManager::CurveValue(this->in

[2020-06-03 14:17] #8013 closed, assigned to matthew-larson

[2020-06-03 14:51] #6204 closed, assigned to jmarrec

[2020-06-03 14:56] #7651 closed, assigned to jmarrec

[2020-06-03 16:15] Myoldmopar commented on #7632
This would be really great to get fixed.  I'd say @mbadams5 is the most suitable person for handling all the corner cases, but I'm not sure about availability.  I can try to hack something up if no one else can.

[2020-06-03 16:20] nealkruis opened #8034 "Simple Glazing system produces fatal error when using maximum U-factor for CZ1 in 90.1-2004"
Issue overview
--------------
ASHRAE 90.1-2004 defines a maximum U-factor of 1.22 U-IP. This is a physically impossible U-factor given the limiting case of air-film resistances (~1.03 U-IP) but, regardless, it is the stated basis for the Appendix G baseline.

The proposed fix would remove the maximum value from the IDD and instead throw a (loud?) warning that the U-factor will be automatically red

[2020-06-03 16:34] mjwitte commented on #8034
There's an existing issue somewhere related to this. https://github.com/NREL/EnergyPlus/issues/4643 was closed in a cleanup pass and marked as `WontFix`.

[2020-06-03 16:36] nealkruis opened #8035 "Ceiling diffuser convection algorithm has unrealistic discontinuity at 3.0 ACH"
Issue overview
--------------
In the discussion of PR #7239, we identified that there is an unrealistic discontinuity in convection occurring at 3.0 ACH. This fix will apply some sort of superposition of forced and natural convection so that there isn't a discontinuity at 3.0 ACH.

[2020-06-03 16:42] nealkruis opened #8036 "ACH used in ceiling diffuser convection algorithm is zero during design day sizing"
Issue overview
--------------
In the discussion of PR #7239, we identified that the ACH used in the ceiling diffuser convection algorithm is assumed to be zero during design day sizing.

### Context from PR #7239 discussion:

@nealkruis:

@mjwitte:

@nealkruis:

@mjwitte:

[2020-06-03 16:52] JasonGlazer commented on #8034
The highest is 1.22 according to the standard. Are you using the air-film resistances from NFRC?

[2020-06-03 17:07] nealkruis commented on #8034
Thanks, @JasonGlazer. I updated the description to match. I also added the maximum U-IP value in the algorithm.

The air-film resistances for the simple glazing model are defined [here](https://bigladdersoftware.com/epx/docs/9-3/engineering-reference/window-calculation-module.html#step-1.-determine-glass-to-glass-resistance.) and are based on an approximated fit to NFRC calculations.

Here's the o

[2020-06-03 17:12] nealkruis commented on #8034
Adding @EnergyArchmage, too, in case he has input on this.

I will point out that higher U-factors are technically possible, but would effectively require fin-like structures on the frame to enhance the conductance of the frame beyond an infinitely thin sheet of aluminum (probably not a case we need to accommodate).

[2020-06-03 17:37] nealkruis opened #8037 "Running EnergyPlus v9.3 through symlink produces DLL error"
Issue overview
--------------
There are PATH related issues on unix systems when using a symlink to execute EnergyPlus:

[code]

This is related to needing to find the executable directory for the new API.

### Details
Some additional details for this issue (if relevant):
 - MacOS (symlink installed only through DMG installer)
 - EnergyPlus v9.3

[2020-06-03 17:44] Myoldmopar commented on #8037
Specifically it's for the Python Plugins, not the API, but that's a bit down in the weeds.  In any case, it's just due to the code that lazily loads the Python DLL wrapper, which it expects to find in the same directory as the currently running binary image.  This error is produced because the current file system implementation does not walk the symlink to find the target binary.  Instead it just

[2020-06-03 17:58] ajscimone opened #8038 "Zero Site:Precipitation input results in very large outputs"
Issue overview
--------------
When using a Site:Precipitation object in the idf, if the average total annual precipitation is set to zero, the output reported (using `Output:Variable,*,Site Precipitation Rate,hourly; !- HVAC Average [m/s]`) is a very large integer on EnergyPlus 9.3, and causes previous versions to crash. The idf snippet below demonstrates the idf input.
[code]
### Details
Some add

[2020-06-03 18:09] nealkruis commented on #8035
Turns out this was already addressed in #7444.

[2020-06-03 18:09] #8035 closed, assigned to nealkruis

[2020-06-03 18:11] nealkruis commented on #8036
This, too, was fixed in #7444.

[2020-06-03 18:11] #8036 closed, assigned to nealkruis

[2020-06-03 21:30] matthew-larson opened #8041 "Remove explicit definition of number of Hybrid Unitary modes in IDD"
Issue overview
--------------
Currently the object has an input for the number of modes for the system and also requests each mode's name and inputs up to 25 modes.  We recommend removing the input for 'Number of Operating Modes' and base the number of modes on the number of 'Mode # Name' non-blank inputs to prevent any conflicts between the 'Number of Operating Modes' input and the number of mode

[2020-06-03 22:41] #7388 closed, assigned to jmarrec

[2020-06-04 12:30] RKStrand opened #8044 "Implementation of On-Off Control for Variable Flow and Electric Radiant Systems"
Issue overview
--------------
In the variable flow and electric low temperature radiant systems, the throttling range that impacts when the systems turn on and at what fraction they run is not allowed to be less than 0.5C.  However, some systems in practice actually operate in an on-off manner with no throttling range.  If the system is required for heating in the electric system or heating or coo

[2020-06-04 12:41] RKStrand opened #8045 "Enhancement of Setpoint Interpretation for Variable Flow and Electric Radiant Systems"
Issue overview
--------------
In the models for variable flow and electric low temperature radiant systems, there is a built-in assumption that the setpoint temperatures defined by the user schedules establish when these systems operate at "half power".  The assumption when the models were created was that this would allow the system to get closer to the goal of reaching that temperature since the

[2020-06-04 14:42] bonnema opened #8047 "Expand Functional API Capabilties"
Issue overview
--------------
Expand the capabilities of the glycol class in the functional API.
1. Add capability to calculate enthalpy based on temperature and pressure
2. Add capability to calculate temperature based on enthalpy and pressure,

### Details
https://nrel.github.io/EnergyPlus/api/python/func.html

### Checklist
 - [ ] Add capability to calculate enthalpy of the fluid based on tempe

[2020-06-04 14:49] mjwitte opened #8048 "An air loop serving more terminal units than the number of zones will exceed array bounds"
Issue overview
--------------
User file includes a DOAS system serving two terminal units in each zone. This results in an array bounds error in [`SimAirServingZones`](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/SimAirServingZones.cc#L1785) because the various scratch arrays here have only been allocated to `NumOfZones`.

Workaround
---------------
Break up the air loop(s) so th

[2020-06-04 19:16] RKStrand opened #8050 "Implement/Control Multi-Zone Radiant Systems"
Issue overview
--------------
This is a new feature based on a request from researchers at the Center for the Built Environment at the University of California Berkeley.  Their specific request is:

“In practice, it is common to configure radiant systems such that 'controlled zones' are much larger than the 'controlled zones' for a typical air system. These 'controlled zones' are often larger than

[2020-06-04 19:49] #7802 closed, assigned to nealkruis

[2020-06-04 20:59] #5897 closed, assigned to nealkruis

[2020-06-05 12:26] #7917 closed, assigned to ajscimone

[2020-06-05 12:26] #8009 closed, assigned to ajscimone

[2020-06-05 12:26] #8011 closed, assigned to nealkruis

[2020-06-05 17:21] nealkruis opened #8053 "Windows CI issues size_t to unsigned int conversion warning in libtess2"
Issue overview
--------------
Windows CI gives this warning:

`C4267 'function': conversion from 'size_t' to 'unsigned int', possible loss of data [C:\ci\runs\clone_branch\build\third_party\penumbra\vendor\tess2.vcxproj]`

[2020-06-05 17:27] Myoldmopar commented on #8053
It's also listed in here: https://github.com/NREL/EnergyPlus/issues/8012, but pulling this into a standalone issue makes sense.

[2020-06-05 17:48] nealkruis commented on #8012
@Myoldmopar do you want me to tackle all of these in the same PR? or did you want to take a crack at the CMake and compiler flag warnings?

[2020-06-05 20:58] #6976 closed, assigned to nobody

[2020-06-05 21:47] RKStrand opened #8055 "Constant Flow Radiant System Control Temperature Setpoint Reset on Running Mean Outside Air Temperature"
Issue overview
--------------
This is a new feature based on a request from researchers at the Center for the Built Environment at the University of California Berkeley.  Their specific request is: "Add an option in each LowTempRadiant object class that resets [the] control temperature setpoint and/or supply water temperature setpoint (for ConstantFlow) [so that it is] calculated as a function of

[2020-06-05 21:58] RKStrand opened #8056 "Addition of Pipe and Pipe to Slab Contact Resistance to Low Temperature Radiant Models"
Issue overview
--------------
The low temperature radiant system model in EnergyPlus ignores any thermal resistance due to the presence of the pipe material for the tubing that runs through the system with a heat transfer fluid being circulated to provide heating and cooling.  It also ignores any contact resistance between the pipe and the slab.  The thought of the initial implementation was that

[2020-06-05 22:05] RKStrand opened #8057 "Implement Optional Time Delay Between Mode Changeover for Low Temperature Radiant Systems"
Issue overview
--------------
This issue is based on a request from the Center for the Built Environment (CBE) at the University of California Berkeley.  Their request is:

“One of the most common problems with high thermal mass radiant systems is excessively frequently changeovers between heating and cooling operation due to poor controls. One the common solutions is to implement a minimum time d

[2020-06-05 23:23] ajscimone opened #8059 "HybridEvapCoolingModel does not generate the entire solution space for all mass flow ratio and outdoor air fraction CandidateSettings."
Issue overview
--------------
The HybridEvapCoolingModel does not currently loop through the entire solution space for generating CandidateSettings. Instead, it currently checks to make sure that the solutions MassFlowRatio vector lookup and OutdoorAirFraction vector are the same size, and uses a single index to pull a value from each. This results in the operating settings only creating candidate

[2020-06-08 15:00] #8038 closed, assigned to ajscimone

[2020-06-08 17:18] matthew-larson opened #8062 "Not able to simulate TDDs without the Daylighting:Controls object"
Issue overview
--------------
You should be able to run a model with DaylightingDevice:Tubular objects as a thermal simulation only--without Daylighting:Controls.

### Details
Some additional details for this issue (if relevant):
 - EnergyPlus v9.3

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list location

[2020-06-08 20:01] matthew-larson opened #8064 "Boiler objects are missing an output variable for efficiency"
Issue overview
--------------
Boiler objects are missing an output variable for efficiency. Specifically the Boiler:HotWater object does not have the variable. From the RDD, and consistent with the docs, here are the output variables:

HVAC,Average,Boiler Heating Rate [W]
HVAC,Sum,Boiler Heating Energy [J]
HVAC,Average,Boiler Gas Rate [W]
HVAC,Sum,Boiler Gas Energy [J]
HVAC,Average,Boiler Inlet Te

[2020-06-08 20:05] matthew-larson opened #8065 "Missing damper position output for AirTerminal:SingleDuct:ParallelPIU:Reheat"
Issue overview
--------------
It would be helpful if damper position was added to the list of outputs for AirTerminal:SingleDuct:ParallelPIU:Reheat as it is for AirTerminal:SingleDuct:VAV:Reheat. Currently you have to compare the actual airflow rate to the max air flow rate to determine the damper % open.

### Details
Some additional details for this issue (if relevant):
 - EnergyPlus V9.3

### Ch

[2020-06-09 13:46] #8037 closed, assigned to Myoldmopar, nealkruis

[2020-06-09 19:54] mjwitte commented on #7949
- [ ] Several new output variables were added  in [#6087](https://github.com/NREL/EnergyPlus/pull/6087/files?file-filters%5B%5D=.cc&file-filters%5B%5D=.hh&file-filters%5B%5D=.idf&file-filters%5B%5D=.png&file-filters%5B%5D=.txt#diff-5c8ae68e0c1957e13e46b597f3cfd5ffR917-R919) related to `MaterialProperty:PhaseChangeHysteresis`, but these is no documentation for them in the Input Output Reference:
[c

[2020-06-09 20:45] jmarrec opened #8066 "Coil:Cooling:DX:CurveFit:OperatingMode: Nominal Evaporative Condenser Pump Power is marked autosizabled, but not autosized"
Issue overview
--------------

Implementing this object in OpenStudio, I was checking the SQL file to find the entry for `Nominal Evaporative Condenser Pump Power` but couldn't find it.

From the IDD:

[code]

Yet, `CoilCoolingDXCurveFitOperatingMode::size` does not autosize this one, but correctly autosizes the other 3 autosizable fields this object has:

https://github.com/NREL/EnergyPlus/blob/4

[2020-06-10 02:30] nealkruis commented on #8012
Relevant discussion related to D9025 for future versions of CMake: https://gitlab.kitware.com/cmake/cmake/-/issues/19084

In the end, I decided just to remove the override and resolve the previously silenced warnings.

[2020-06-10 13:25] lgu1234 opened #8068 "Report correct total heat gain or loss to ensure energy conservation for Zone Infiltration objects"
Issue overview
--------------
The total heat gain or loss reported from Zone Infiltration objects is a sum of sensible and latent heat gain or loss. The sensible heat is calculated using CpAir, and the latent heat is calculated using hg. Due to incorrect argument to calculate CpAir or hg, the total heat is not equal to the enthalpy difference between indoor and outdoor conditions.

"Use correct ar

[2020-06-10 19:35] mitchute opened #8071 "HeatPump:PlantLoop:EIR:* Inlet Temperatures Don't Update When Unit Off"
HeatPump:PlantLoop:EIR* inlet temperatures don't update unless the unit is running. The following lines need to be moved out of the ```doPhysics``` method, which is only called when the unit runs.

https://github.com/NREL/EnergyPlus/blob/431d52730f3c519476342ed7f5c9f9c7c35818d5/src/EnergyPlus/PlantLoopHeatPumpEIR.cc#L297-L298

A fix will be pushed shortly.

### Details
Some additional details for

[2020-06-11 04:25] mldichter commented on #7949
- [x] Having the ZoneAirMassFlowConservation object referenced as a solution to unbalanced air flows in the IO Ref text for the Fan:ZoneExhaust object would be immensely helpful to users. (I wish I had known about this years ago!) Trying to balance exhaust fan airflow with outdoor air system flow and infiltration, ventilation, or zone mixing schedules is tedious and seems to have trouble on the ti

[2020-06-12 15:14] lgu1234 commented on #7044
Closed at #8004

[2020-06-12 15:14] #7044 closed, assigned to lgu1234

[2020-06-13 01:19] #7960 closed, assigned to xuanluo113

[2020-06-14 14:21] mibrahim7 opened #8078 "driving rain with HAMT simulations (hygrothermal)"
Issue overview
--------------
To my knowledge , EnergyPlus still does not include driving rain with HAMT simulations (hygrothermal) I would like to ask if it is possible to add driving rain (and eventually facades rain water absorption factor) in hygrothermal simulations in EnergyPlus v9.3 ?

[2020-06-15 15:56] #7653 closed, assigned to nobody

[2020-06-15 15:58] Myoldmopar opened #8079 "Check on airloop controller warnings"
Issue overview
--------------
PR #7980 fixes warnings in a bunch of files and smooths control, but did introduce new warnings in one file: HeatPumpWaterHeaterStratified.  The test suite should be checked for any other instances and those inspected to see if they can be cleaned up.

[2020-06-15 16:52] #6752 closed, assigned to nobody

[2020-06-15 17:50] #8026 closed, assigned to michael-okeefe

[2020-06-15 17:52] #8012 closed, assigned to nealkruis

[2020-06-15 17:52] #8053 closed, assigned to nealkruis

[2020-06-16 06:23] nehzgnahs opened #8082 "heat exchanger issue with PlantApplicationsGuide_Example3.idf file"
Plant Applications Guide suggests using heat exchanger component for primary/secondary loop instead of common pipe.
The results of related example file shows that supply side inlet and outlet temperature of heat exchanger is much higher than demand side.
Cooling plant provides 6.67 degree C chilled water to demand side of heat-exchanger, but supply side outlet temperature of heat-exchanger is 24~2

[2020-06-16 16:35] mitchute opened #8084 "EMS Actuators Override Python Actuators Silently"
If a Python plugin actuator is defined and the same actuator is defined in the IDF file using regular EMS, the Python actuator is overridden silently and the simulation continues with no warning or error messages. EnergyPlus should detect this duplication and raise a warning to the user.

### Details
Some additional details for this issue (if relevant):
 - Platform (Mac 10.14.5)
 - Version of Ener

[2020-06-17 13:53] Nigusse commented on #8025
@mjwitte @rraustad I tested *FanCoilUnits's* capacity control methods: *ConstantFanVariableFlow*, *CyclingFan*,   *VariableFanVariableFlow*, *VariableFanConstantFlow*, *MultiSpeedFan*, and *ASHRAE90VariableFan*. All methods run successfully using electric heating coil. However, the zone temperature are well controlled for all methods but *ASHRAE90VariableFan*.  I will post new issue for *ASHRAE90V

[2020-06-17 14:49] Nigusse opened #8087 "ZoneHVAC:FourPipeFanCoil with electric heating coil and ASHRAE90VariableFan is not working"
Issue overview
--------------
ZoneHVAC:FourPipeFanCoil with electric heating coil and ASHRAE90VariableFan capacity control method is not working during heating operation. The electric heating coil is running at full capacity and the zone air temperature overshoots the thermostat heating set-point.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.4.0 (de

[2020-06-17 15:26] Nigusse commented on #8087
Below is the plot showing the defect. The zone air temperature was supposed to be maintained at 20C from 7:0am to 5:0pm with setback to 15C during heating. As you can see the zone air temperature is as high as 50C while the FancoilUnit electric heating coil continue firing at full capacity all the time during heating.

![Issue8087_defectplot](https://user-images.githubusercontent.com/5805126/84917

[2020-06-17 19:35] mjwitte opened #8088 "For BSDF complex fenestration the reset of AWinCFOverlap should not be inside the surface loop"
Issue overview
--------------
This came to light due to large diffs in the CmplxGlz_MeasuredDeflectionAndShading testfile during development of #7847 which changes the order of surfaces.
In current code, `AWinCFOverlap` is reset to zero [here](https://github.com/NREL/EnergyPlus/blob/6acc81a650dcd6df2b1d273c6f557312dc6f97dc/src/EnergyPlus/SolarShading.cc#L8349)  buried deep within the [` for (int c

[2020-06-18 14:10] shorowit commented on #7949
- [x] The `GroundHeatExchanger:Vertical:Properties` object is missing a description for the "Borehole Diameter" field in the I/O Reference.

[2020-06-18 15:19] #7871 closed, assigned to matthew-larson

[2020-06-18 15:49] #8015 closed, assigned to matthew-larson

[2020-06-18 15:49] #8041 closed, assigned to matthew-larson

[2020-06-18 15:56] #7870 closed, assigned to amine-lazrak

[2020-06-18 16:19] TiejunWu opened #8091 "Oscillating Winter Designday Zone Load with Ceiling Diffuser Model"
Issue overview
--------------
User file specifies Ceiling Diffuser model as interior convection algorithm. Zone Ideal load for winter designday shows oscillating behavior rather than the expected steady state. This is checked with multiple versions of EnergyPlus and the behavior started in Version 9.2. The following two changes are suspected to be related:
[https://github.com/NREL/EnergyPlus/pull/

[2020-06-19 01:39] kbenne opened #8093 "Error Callback"
The error function callback provided by EnergyPlus https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/DataGlobals.hh#L296 does not inform the severity of the error. Consider adding an argument to indicate error level.

[2020-06-19 03:46] Fan-Feng commented on #5332
Yes, I also found this is questionable, and I add two output variables: Phase Change Node Enthalpy and  Phase Change Node Previous Enthalpy. Then I found the initialization of EnthOld is also questionable..

[2020-06-19 14:54] rraustad opened #8095 "Object Count Summary sub-table Input Fields no longer applicable, remove table"
Issue overview
--------------
Tested with example file 5ZoneAirCooled. Input processing no longer reads IDD objects and therefore this table always reports 0's. This table is no longer needed.

![image](https://user-images.githubusercontent.com/5778156/85145915-45046b00-b21b-11ea-87d0-ef3b56d23095.png)

![image](https://user-images.githubusercontent.com/5778156/85145854-31590480-b21b-11ea-9fa8-fc4

[2020-06-19 15:00] mjwitte commented on #8095
One could argue that it should remain, but be fixed and revised. Anyways, this is a duplicate of https://github.com/NREL/EnergyPlus/issues/6917 If I remember correctly there is (or was?) a compliance reporting requirement for information like this? @JasonGlazer ?

[2020-06-19 15:14] JasonGlazer commented on #8095
Yes, I believe that some (LEED?) compliance forms ask for information that is based on this. That should be verified before we remove the table.

[2020-06-19 16:52] #8064 closed, assigned to matthew-larson

[2020-06-19 18:11] #6917 closed, assigned to nobody

[2020-06-19 18:11] rraustad commented on #8095
I forgot I opened that long ago. Refer to closed issue #6917 as needed.

[2020-06-23 00:57] cgoodman11 commented on #5857
Is there an update on this issue?

[2020-06-23 11:16] JasonGlazer commented on #5857
No updates that I'm aware of.

[2020-06-23 13:22] lgu1234 commented on #7233
Closed via #7414