[2022-07-19 15:33] rraustad commented on #9546
@ChristopherCaradonna can you please attach your *.idf.txt in your comment so I can investigate?

[2022-07-19 15:42] ChristopherCaradonna commented on #9546
@rraustad all set, my comment has been updated with the attachment.

[2022-07-19 16:43] jmarrec opened #9550 "HospitalBaseline.idf sometimes times out due to expensive calls inside BuildKeyVarList"
Issue overview
--------------

HospitalBaseline.idf sometimes times out on CI.

I noticed it appears to spent too much time in BuildKeyVarList

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): All
 - Version of EnergyPlus (if using an intermediate build, include SHA): develop, 0c9b8c4944b5f06edb000bf0d766f067830af0ae

### Checklist
Add to t

[2022-07-19 21:11] #5163 closed, assigned to nobody

[2022-07-19 21:12] jmarrec commented on #5163
Closing as it appears fixed
 We can reopen if someone identifies the same issue with 22.1.0.
Thanks @rraustad

[2022-07-20 11:49] JasonGlazer opened #9551 "Update LCC using NIST 135"
Issue overview
--------------
The last update for the energy cost price escalation was LCCusePriceEscalationDataSet2019.idf. The 2020, 2021, and 2022 updates should be added based on NIST 135 annual supplements. See #7218 for the last update

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate

[2022-07-21 13:03] #8528 closed, assigned to mjwitte

[2022-07-21 13:03] #9398 closed, assigned to rraustad

[2022-07-21 18:14] #9532 closed, assigned to jcyuan2020

[2022-07-21 21:28] germolinal opened #9554 "Branch never used in in `CalcASHRAETARPNatural ` — Vertical Surfaces or No delta T"
Issue overview
--------------

I was checking [THIS LINE](https://github.com/NREL/EnergyPlus/blob/6e02a12bb76472532821e6eab4f22eee748afbc6/src/EnergyPlus/ConvectionCoefficients.cc#L3153) of code, in `src/EnergyPlus/ConvectionCoefficients.cc`, and I realised that we are comparing Floating point numbers through equality.

[code]

Considering the nature of IEEE Floating Point numbers, I suspect that

[2022-07-21 21:34] Myoldmopar commented on #9554
According to our test [coverage](http://energyplus.s3-website-us-east-1.amazonaws.com/coverage/2022-07-18-EnergyPlus-0c9b8c4944-x86_64-gcc-7.5ICD/EnergyPlus/ConvectionCoefficients.cc.gcov.html), our own test suite causes that line to be hit 8909686 times.

[2022-07-21 21:50] germolinal commented on #9554
Interesting.... However, it was hit 8909686 times OUT OF 193404477 (4.6%, including unit tests?). I would expect it to be hit WAY more often. Wouldn't you? At least once for each vertical surface

[2022-07-21 22:34] Myoldmopar commented on #9554
Maybe?  I'm not opposed to doing the comparison with a tolerance as you suggested, I really just wanted to check for myself and found it does get hit.

[2022-07-21 22:35] germolinal commented on #9554
All righty then, I'll just leave this here. Feel free to do as you wish!

[2022-07-22 14:18] #9451 closed, assigned to lgu1234

[2022-07-22 14:22] #9100 closed, assigned to Nigusse

[2022-07-23 12:46] mjwitte opened #9558 "Incorrect zone volume for Controller:MechanicalVentilation ACH"
Issue overview
--------------
While reviewing code changes for #9553 noticed [this line in `MixedAir::CalcMechVentController`](https://github.com/NREL/EnergyPlus/blob/5f56911f1857b1d794f61d9ba4e085f3bd33c346/src/EnergyPlus/MixedAir.cc#L4122-L4123):
[code]
`state.dataHeatBal->Zone(ZoneIndex).Volume` should be `curZone.Volume`
Controller:MechanicalVentilation has data for a list of zones, and `ZoneI

[2022-07-23 19:17] HYDesmondLiu opened #9559 "How to install without sudo ?"
Issue overview
--------------
How do we install without sudo ?

[2022-07-23 19:19] Myoldmopar commented on #9559
Just install it to a folder that has write access without sudo.

[2022-07-23 19:19] #9559 closed, assigned to nobody

[2022-07-23 23:32] rraustad opened #9560 "Test for surface heat balance algorithm should be moved to some other place?"
Issue overview
--------------
In ZoneTempPredictorCorrector::CalcPredictedHumidityRatio this loop is executed every time step. If this is in fact the same result each time (i.e., the surface heat balance algorithm cannot change during the simulation) then this slows program exectution. This could be moved to an init routine where an array variable is set as no_ht_EMPD_or_HAMT(ZoneNum).

UPDATE: fu

[2022-07-24 01:00] amirroth commented on #9560
While we’re at it, declaring htAlgo as auto const & unnecessarily introduces a pointer (a reference is a pointer in disguise) and disables some compiler optimizations as a result. For scalars, just use the type name, it’s right there in the line below, HeatTransferModel.

[2022-07-24 02:09] HYDesmondLiu commented on #9559
Hi,
   I am sorry I did not clearly explain my problem.

   I got this error trying to run the .run file downloaded from the website.

[code]

However, I don't have access to install "xcb" as a sudo.
Is there any workaround for this?

[2022-07-24 16:56] shorowit commented on #9524
@lgu1234 Looks like this was fixed and the issue can be closed?

[2022-07-24 18:10] lgu1234 commented on #9524
@shorowit Yes. I am going to close it.

[2022-07-24 18:10] #9524 closed, assigned to lgu1234

[2022-07-25 17:34] HYDesmondLiu opened #9563 "Installation without Qt?"
Issue overview
--------------
Do we have to install with Qt?
I have no sudo access, how could we install without Qt ?

### Details
[code]

[2022-07-25 18:06] #9060 closed, assigned to jmarrec

[2022-07-26 12:54] jmarrec commented on #9563
1. use the tar.gz or .sh installer instead
2. Use the install_script.qs for a headless install, cf https://github.com/NREL/EnergyPlus/blob/96711f4b83e10ca7f8fab1129ef41572725d85ca/cmake/qtifw/install_script.qs#L18

[2022-07-26 12:54] #9563 closed, assigned to nobody

[2022-07-26 13:07] jmarrec commented on #9551
Duplicate of #9153 (I'll close the older one).

[2022-07-26 13:08] jmarrec commented on #9153
Duplicate of #9551

[2022-07-26 13:08] #9153 closed, assigned to JasonGlazer

[2022-07-26 13:19] AGeissler commented on #9560
Hi there. I just stumbled on a further possible issue here. I am trying to use the "selected construction algorithm change", however, simulation exits with the fatal error "InitialInitHeatBalFiniteDiff: Found Material that is too thin ..." and gives a material, that is *not* part of the switched construction (version 22.1, macOS).

[2022-07-26 15:59] rraustad opened #9566 "Wrong argument order on some DownInterpolate4HistoryValues function calls"
Issue overview
--------------
The function DownInterpolate4HistoryValues is used to update/revert thermal history values when the simulation reduces the system time step. This will revert thermal histories to what they were before the system time step was reduced so that new calculations can be performed as if a fresh new time step were simulated. The function arguments should be in a specific ord

[2022-07-26 17:18] TiejunWu opened #9568 "Simulation Fatal Error in Psychrometrics Function Due to Negative Air Density"
Issue overview
--------------
In design day simulation of a VAV System with dehumidification control,  EnergyPlus reported the following fatal error:

![image](https://user-images.githubusercontent.com/7797674/181072171-8dc59847-e2cb-4144-9d58-ec033a741fa3.png)

I did some investigation and found that the error was happening in unoccupied hour at the VAV central cooling coil outlet node. Looks lik

[2022-07-26 17:43] HYDesmondLiu commented on #9563
Hi @jmarrec ,
    Could I do it as a non-sudo user?

[2022-07-26 17:55] jmarrec commented on #9563
In all cases (tar.gz, sh or .run installers), yes. But you can't extract/install to /usr/ or any write protected folder. And you can't do the symlinks (sh/run only). I suggest using the tar.gz one, it's probably simpler, just extract to a folder in your /home/ and it should work fine

[2022-07-26 18:08] HYDesmondLiu commented on #9563
Do you know where I could find a tar.gz installation file?
The only one I could find on the internet is the official one .run file for Ubuntu.

[2022-07-26 18:46] shorowit commented on #9563
It's at the bottom of any given release on GitHub.

For example, EnergyPlus 22.1: https://github.com/NREL/EnergyPlus/releases/tag/v22.1.0

[2022-07-26 19:05] HYDesmondLiu commented on #9563
Hi @shorowit ,
    Thanks a lot for the pointer. I originally thought the official website is the only place to download.

[2022-07-26 21:22] rraustad opened #9570 "Follow up to #9553"
Issue overview
--------------
Several clean up tasks are identified while removing ActualZoneNum.

 - Move all baseboards ZonePtr initialization in init to getInput
 - condense multiple Tstat loops in Furnace (and HVACMultiSpeedHeatPump could use same code if it were a function, and HVACVariableRefrigerantFlow?)
 - several class references were noted. Could reduce a lot more code with reference to

[2022-07-26 22:13] #6278 closed, assigned to lgu1234

[2022-07-27 16:54] jcyuan2020 opened #9572 "VRF central condenser EIR curves not checked and bounded causing negative cooling electricity"
Issue overview
--------------
It was discovered that in the curved based AirConditioner:VariableRefrigerantFlow simulation code, the EIR (as a function of PLR) curve bounds were not checked to ensure a >0 value. In this case, when a bad curve is entered, negative cooling electricity will be calculated without any warnings.

It is suggested to catch this exception by:
1.	giving with recurring warni

[2022-07-27 17:28] #9560 closed, assigned to rraustad

[2022-07-28 14:33] RKStrand commented on #9554
@Myoldmopar So, do you think this is worth fixing?  I would agree with its probably better to have some sort of range that establishes a surface being vertical.

[2022-07-28 16:34] Myoldmopar commented on #9554
A range does seem reasonable here, but I don't want to add calculations unnecessarily.  This is getting hit many times during a simulation, and, as minimal as an `abs` might be, we still shouldn't just do it without thinking about other options.  It would be really amazing if the curves just lined up so that we could just evaluate the curve and let them hit the correct regime automatically, so tha

[2022-07-28 16:42] mjwitte commented on #9554
Are we really checking CostTilt==0.0 repeatedly? Seems we could tag surfaces that are vertical or horizontal once up front. (As long as the model isn't moving via Site:VariableLocation but I think that only moves the north axis, won't change tilts).

[2022-07-28 16:45] Myoldmopar commented on #9554
Fantastic point, and yes, even if the orientation is changing while the building is floating around the ocean, the tilt doesn't change.  (Unless someone has data for real time wave patterns at like 5-10 m2 resolution and an algorithm to determine ship tilt that should be added to that code... :laughing: )

[2022-07-28 16:46] Myoldmopar commented on #9554
Probably worth a check everywhere in the code that we are checking `CosTilt == ` or `== CosTilt` and similar variables related to tilt.

[2022-07-28 16:57] amirroth commented on #9554
This entire thread is on tilt.

[2022-07-28 17:01] amirroth commented on #9554
Also, @mitchute had previously implemented `thisSurf.ConvOrientation` during a local ConvectionCoefficient.cc refactor. Maybe that can be used here.

[2022-07-28 17:12] jcyuan2020 commented on #9554
From an engineering point of view, how to define a "vertical" wall? 0 degree tilt, 0.001 degree, 1degree, or 5, 10, 15 degrees? Probably some engineer will say a 5-10 degree tilted wall should be well considered "vertical".
Actually, there might be similar example on what kind of roof is pretty much considered a "horizontal" roof--it seems that engineers sometimes think with 15 degrees of tilting

[2022-07-28 17:14] jcyuan2020 commented on #9554
Also, for double precision numbers, it seems that `cosTilt == 0.0` has the accuracy about 1e-16 to 1e^-15 accuracy (or tolerance) at least.

[2022-07-28 17:17] mitchute commented on #9554
`ConvectionCoefficients.cc` is ripe for lots of refactoring 👀

[2022-07-28 17:24] #9528 closed, assigned to Nigusse

[2022-07-28 17:53] #9538 closed, assigned to jcyuan2020

[2022-07-28 18:04] #9123 closed, assigned to jmarrec

[2022-07-28 19:39] #9432 closed, assigned to jmarrec

[2022-07-28 20:31] rraustad opened #9574 "Remove function RevertZoneTimestepHistories"
Issue overview
--------------
The function RevertZoneTimestepHistories is found in both ZoneTempPredictorCorrector and ZoneContaminantPredictorCorrector and is never called (based on coverage review). These functions are intended to revert the thermal history terms, however, ZoneTempPredictorCorrector::DownInterpolate4HistoryValues handels that task. Both functions can be removed (RevertZoneTimest

[2022-07-28 23:11] #9118 closed, assigned to jmarrec

[2022-07-28 23:38] #9551 closed, assigned to jmarrec

[2022-07-29 13:50] #9572 closed, assigned to jcyuan2020

[2022-07-29 14:15] #9566 closed, assigned to nobody

[2022-07-29 15:43] RKStrand commented on #9493
@jmarrec @Nigusse Are either one of you planning to work on this?  If not, I will take this on and follow all of your recommendations.  That includes: getting rid of the unused inputs in the two objects, fixing the typo in line 249 of the PollutionModule.cc file, and adding the table which @Nigusse recommended from the EPA to the IO Ref.  However, if one of you is already or planning on working on

[2022-07-29 18:26] jmarrec commented on #9493
I (as rigorously as I can) assign myself on issues I plan to work on so the intent is clear, which I didn't here, so all yours @RKStrand !

[2022-07-29 19:02] Nigusse commented on #9493
@RKStrand I have no plan to work on this issue.

[2022-07-29 19:34] RKStrand commented on #9493
@jmarrec @Nigusse Thanks to both of you for getting back to me here.  I know that most of us tend to be very clear with assigning ourselves to items--I just wanted to make sure I didn't swoop in and take something someone was planning on work on.  I will assign this to myself and proceed with what I outlined and may ask one of you to review that the work is what you anticipated.  Thanks again!

[2022-07-29 20:01] RKStrand commented on #9554
Ok, with all that discussion, I'll bite and assign this to myself.  I'll definitely take a look at the rest of ConvectionCoefficients.cc, search for more CosTilt comparisons, and follow @mjwitte suggestion about tagging surfaces.  If anyone else has more suggestions, feel free to drop them in here.  Sounds like there will be plenty of potential reviewers. 😂

[2022-07-30 00:36] rraustad opened #9576 "The Coil:Cooling:DX:VariableSpeed model sets the heating coil capacity the same regardless if it is a DX coil."
Issue overview
--------------
A heat pump has only 1 coil and, given the model uses 2 seperate coils, the capacity of those coils should match, save differences in compressor heat for heating mode. Of course the output of that coil will change from cooling to heating based on the operating conditions (outdoor air temp) but it is still one coil. The variable speed coil model assumes the companion h

[2022-07-30 16:48] simonsays1980 opened #9578 "Can't find IDFVersionUpdater in installation"
Installed EnergyPlus appears to have no IDFVersionUpdater
--------------

### Details
Some additional details for this issue (if relevant):
 - Fedora Linux 35
 - EnergyPlus 22.1.0
 - Build Command:

I built EnergyPlus-22-1-0 by running the following command:
[code]
Everything installed fine and I can call EnergyPlus. Now I need to convert a V8.8.0 IDF file into a V22.1.0 IDF file and tried to use

[2022-07-31 20:53] RKStrand commented on #9558
A defect file was added to EnergyPlusDevSupport.  This file demonstrates a difference before and after the fix which shows that it was affecting results in these cases.  The fix is a correction to an obvious though hard to spot typo in the code.

[2022-08-01 08:56] jmarrec commented on #9578
This is a Fortran utility. So you need to compile with fortran tools enabled by passing `-DBUILD_FORTRAN:BOOL=ON`. You may need to install gnu fortran if you haven't, via something like `sudo dnf install gcc-gfortran`.

[2022-08-01 08:56] #9578 closed, assigned to nobody

[2022-08-01 09:45] jmarrec commented on #9489
It actually often segfaults for the door scenario (about 50% of the time). Here are 4 subsequent runs:

[code]

Seems like AbortEnergyPlus tries to keep reporting the surfaces

[code]

https://github.com/NREL/EnergyPlus/blob/2a26c7b350e59c5500b1d33dcebcf032815566a6/src/EnergyPlus/OutputReports.cc#L1499-L1501

surf is `-45` here... Probably from here: https://github.com/NREL/EnergyPlus/blob/2a26c7b

[2022-08-01 16:36] rraustad opened #9579 "Coil:Heating:Gas:MultiStage calls the electric multi stage model when using UnitarySystem set point control"
Issue overview
--------------
Code inspection revealed a copy-paste error that impacts multi stage gas heating coils. The wrong coil model is called during iteration on part-load ratio required to meet the set point temperature.

The offending code is in function heatingCoilVarSpeedResidual:

        case DataHVACGlobals::Coil_HeatingGas_MultiStage: {
            CycRatio = Par[4];
            Spe

[2022-08-01 18:20] #9576 closed, assigned to nobody

[2022-08-01 18:47] #9579 closed, assigned to nobody

[2022-08-01 18:58] mjwitte commented on #9578
To clarify, IDFVersionUpdater is distributed as an executable (pre-built from a cross-platform version of real Basic?). But it requires the transition executables to be built which are in Fortran, Transition-V9-6-0-to-V22-1-0.exe, Transition-V9-6-0-to-V22-1-0.exe, etc.

[2022-08-01 19:40] #9332 closed, assigned to nobody

[2022-08-01 20:02] #9191 closed, assigned to jmarrec

[2022-08-02 18:15] #9157 closed, assigned to jmarrec

[2022-08-02 18:31] #9550 closed, assigned to jmarrec

[2022-08-02 20:32] #9357 closed, assigned to yzhou601

[2022-08-02 21:38] #9558 closed, assigned to RKStrand

[2022-08-03 07:03] simonsays1980 commented on #9578
Thank you @jmarrec and @mjwitte for your replies. It starts now the compilation of the Transition executables, but fails when doing this due to linking with libgfortran:

[code]
I know, this is not an EnergyPlus issue, but maybe someone of you has a hint or a link of what I could do, as you have way more exprience with this than I do.

### More information
Calling `sudo ldconfig -v | grep libgfort

[2022-08-03 07:52] jmarrec commented on #9578
@simonsays1980 Yeah it's outside the scope, but I'll help anyways.

You're missing the static versions of the glibc and libgfortran probably: `dnf -y install glibc-static libgfortran-static`

I was able to use the following Dockerfile to compile one of the fortran utilities (initially I did get the same "missing -lc" etc)

[code]

Edit: saved as https://github.com/jmarrec/docker-EnergyPlus-Fedora/

[2022-08-03 10:17] jmarrec commented on #9443
@MatthewSteen if Revit exports using LowerLeftCorner, why don't they change the GlobalGeometryRules to match then?

[2022-08-03 13:22] jmarrec commented on #9372
Just an FYI: RoofGeo was largely simplified and this array1D removed as part of #9446 : https://github.com/NREL/EnergyPlus/blob/477cb77c08dae9ef0eb969e5ba5290fa9944d143/src/EnergyPlus/ConvectionCoefficients.hh#L220-L230

While I'm here...

`std::array<float, 3>`, or rather a `Vertex` if the functions provided by Vertex are useful?

[2022-08-03 13:27] jmarrec commented on #9331
@ykabusalah still interested in fixing it? otherwise I may take a crack at it.

[2022-08-03 20:35] simonsays1980 commented on #9578
@jmarrec Many thanks! That really solved my problem. I was able to compile all Fortran programs and to convert my IDF file sequentially towards 22.1.0.

One thing I noted was: The `V22-1-0-Energy-+.idd` was not in the `PreProcess/IDFUpdater/` directory installed via `sudo make install` but in the `EnergyPlus_build/Products` directory. Copying this to my working folder solved the last step.

Do you

[2022-08-03 20:36] jmarrec commented on #9578
@simonsays1980 I don't but thanks, and dont worrt my about it. Glad to help and that you're up and running!

[2022-08-04 01:57] keigo-nomura commented on #3146
Was this really resolved?
Some users face this issue with EnergyPlus v8.9.0 and v9.4.0.
[https://unmethours.com/question/68023/minimum-indoor-temperature-in-zoneventilationwindandstackopenarea-does-not-work/?comment=77966#post-id-77966](url)

[2022-08-04 02:20] rraustad opened #9583 "Eliminate redundant code in zone sizing"
Issue overview
--------------
Review of sizing code in ZoneEquipmentManager finds several areas where improvement is possible.

 - [ ] eliminate all FindItemInList to locate Sizing:Zone relationship with sizing arrays except for the first one in SetUpZoneSizingArrays (save it there and use it later, it's either 1 or the index to a zone sizing input object)
 - [x] wash through new references in exi

[2022-08-04 14:50] #9493 closed, assigned to RKStrand

[2022-08-04 19:04] Myoldmopar commented on #9583
I would like to add cleaning up the sizing factor mode integers and usages.

[2022-08-04 19:53] Nigusse opened #9585 "Making "Performance Input Method" Input Field for EvaporativeFluidCooler:SingleSpeed a required-field"
Issue overview
--------------
The "Performance Input Method" input field for EvaporativeFluidCooler:SingleSpeed is a required-field per the source code but the idd does not label it as a required field. See comments in issue #9262.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, inc

[2022-08-04 22:30] mjwitte opened #9587 "Space for Infiltration Ventilation and Mixing followup comments"
Issue overview
--------------
 - [x] SpaceData and ZoneData each have 3 floor areas, UserEnteredFloorArea, FloorArea, and CalcFloorArea. Can you imagine having UserEnteredCoilCapacity, CoilCapacity and CalcCoilCapacity. Could probably get rid of at least one of these in the future. https://github.com/NREL/EnergyPlus/pull/9564#pullrequestreview-1060760727 (Fixed in #10669 )
 - [ ] Eliminate `Zone.O

[2022-08-05 13:20] #9072 closed, assigned to nobody

[2022-08-05 13:20] #9291 closed, assigned to nobody

[2022-08-05 13:20] #9549 closed, assigned to rraustad

[2022-08-05 13:20] #9421 closed, assigned to nobody

[2022-08-05 13:20] #9422 closed, assigned to nobody

[2022-08-05 13:20] #9512 closed, assigned to nobody

[2022-08-05 16:51] simonsays1980 opened #9588 "`undefined symbol: cClearAllStates` when using Python API"
Issue overview
--------------
Using the Python API I get a `undefined symbol: cClearAllStates` error

I use the Python API to run EnergyPlus and when executing the following lines I get an error from the shared library:
[code]
The error is:
[code]
### Details
Some additional details for this issue (if relevant):
 - Fedora 35
 - EnergyPlus 22.1.0
 - Python 3.9.0
 - Pyenv 2.0.3-171-g423de9ae

### Ch

[2022-08-05 16:58] Myoldmopar commented on #9588
Yeah I wouldn't try to access the C API methods through a Python client.  Ideally those would be underscored to hint that they are private, but anyway, I don't think any of our examples do anything like that.  State is a standalone thing and there is a reset_state method on it: https://github.com/NREL/EnergyPlus/blob/develop/tst/EnergyPlus/api/TestRuntimeResetState.py#L75.  Or you can just create

[2022-08-05 17:10] #8419 closed, assigned to lgu1234

[2022-08-05 20:15] mjwitte opened #9589 "Energy Meters table output annual values do not agree with ABUPS with multiple RunPeriods"
Issue overview
--------------
If there is more than one RunPeriod in the simulation, it appears that the Energy Meters table report resets and reports only the results for the final RunPeriod. See attached defect file, 5ZoneAirCooled-2RunPeriods (Jan 1-Jun 30, Jul1-Dec 31).
ABUPS, Electricity 156.4 GJ, NaturalGas 69.11 GJ
Energy Meters, Annual, Electricity:Facility 81.70 GJ, NaturalGas:Facility 28

[2022-08-05 20:17] simonsays1980 commented on #9588
@Myoldmopar Thanks for the quick reply! That clarifies it.

Have there ever been considerations to allow in the `api.runtime.callback_end_zone_timestep_after_zone_reporting()` the callback function to have other arguments than only the `State` argument? I ask because I was using this API method inside of a custom class and needed the instance inside of the callback function to access the class' at

[2022-08-06 16:13] Myoldmopar commented on #9588
There hasn't been much consideration about it, because I think you can achieve the same thing with a lambda.
 You can still access the `self` instance variable as in this example: https://github.com/NREL/EnergyPlus/blob/develop/tst/EnergyPlus/api/test_SysExit.py

[2022-08-06 16:15] #9448 closed, assigned to nobody

[2022-08-08 21:04] JasonGlazer opened #9590 "Weird extra comments in IDF related to schedules and FenestrationSurface:Detailed"
Issue overview
--------------
Some input objects with extensible fields in testfiles seem to be getting generated incorrectly. Found this in ASHRAE901_OfficeSmall_STD2019_Denver.idf but if it is the result of Transition it might be widespread:

https://github.com/NREL/EnergyPlus/blob/569967daa27e071d16be2d0aeacd549e4e025bc1/testfiles/ASHRAE901_OfficeSmall_STD2019_Denver.idf#L294

![image](https://

[2022-08-08 21:07] JasonGlazer commented on #9590
@Myoldmopar and @mjwitte I wasn't sure if this should be labeled with a higher priority but if it is widespread, it would be nice to clean it up before release.

[2022-08-08 21:17] mjwitte commented on #9590
For those files, it looks like it was introduced in https://github.com/NREL/EnergyPlus/pull/8686

[2022-08-08 21:19] JasonGlazer commented on #9590
I spot checked several files and only found one other with the issue (ASHRAE901_OutPatientHealthCare_STD2019_Denver.idf). Maybe is be related to files with field names that have changed that have been edited with the IDF Editor.

[2022-08-08 21:24] mjwitte commented on #9590
I just searched the develop testfiles for "                          !- Field" and found 158 infected files.
e.g. [this line](https://github.com/NREL/EnergyPlus/blame/569967daa27e071d16be2d0aeacd549e4e025bc1/testfiles/5ZoneAirCooled.idf#L535) has been in 5ZoneAirCooled since the first github commit.

[2022-08-08 21:26] JasonGlazer commented on #9590
I guess it really isn't that urgent.

[2022-08-09 18:07] MatthewSteen commented on #9443
They're also using OpenStudio measures on their cloud product. The WWR measure adds windows using ULC convention per the OpenStudio API. I've added a workaround for this issue in their copy of that measure, but I still think this is an EnergyPlus issue because there are no warnings to a user about a mismatch and potential for erroneous results. Do you disagree?

As another more general example, I

[2022-08-09 18:57] #9585 closed, assigned to nobody

[2022-08-10 03:33] xixihaha1995 opened #9592 "** Severe ** [json.exception.type_error.302] type must be number, but is string"
Issue overview
--------------
I updated one v9.2.0 (With EMS, Airflow Network Model, where the venting window opening are controlled by schedule file (.csv))
into v22.1.0.
The idf file can be successfully running in v9.2.0, while the **v22.1.0** keep telling me the followinng error:
[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): w

[2022-08-11 09:18] antoine-galataud opened #9596 "[pyenergyplus] memory allocation for multiple runs"
Issue overview
--------------

In the scope of an application that needs to run multiple EnergyPlus simulations (multiple processes, each process running simulations sequentially), I'm trying to find the best way to implement simulations via pyenergyplus.
I found that if I create a new instance of `EnergyPlusAPI` for each run, memory allocation gets very high very quickly (see details).

Note that

[2022-08-11 09:44] antoine-galataud commented on #9596
Ok, that was actually easy: a call to `energyplus_api.state_manager.delete_state` frees up all the memory allocated by one instance.

Here is how process RSS looks like after fix:
![pyenergyplus_mem_2](https://user-images.githubusercontent.com/5330926/184106861-192caa7c-5210-4522-b13a-960011898b74.png)

[2022-08-11 09:44] #9596 closed, assigned to nobody

[2022-08-11 12:18] AGeissler opened #9597 "SurfaceProperty:HeatTransferAlgorithm:Construction leads to erroneous fatal error InitialInitHeatBalFiniteDiff"
Issue overview
--------------
Using SurfaceProperty:HeatTransferAlgorithm:Construction leads to erroneous fatal error InitialInitHeatBalFiniteDiff reporting problems with a material not part of the construction which is addressed in the SurfaceProperty block.

### Details
Some additional details for this issue (if relevant):
 - MacOS, 12.4
 - EnergyPlus, Version 22.2.0-30ad94ee2a, YMD=2022.08.11 1

[2022-08-11 15:29] #9592 closed, assigned to nobody

[2022-08-11 16:22] xixihaha1995 opened #9598 "python API get_actuator_handle"
Issue overview
--------------
I‘'m wondering which actuator variables are available for the following API call:
Do we have a reference manual to look up? For example, including "Weather Data", what other component_type do we have?
[code]

[2022-08-11 16:27] Myoldmopar commented on #9598
@xixihaha1995 Thanks for using the API, but this isn't an issue.  Issues on this repo should represent defects or feature requests.  Questions like this are better suited for peer-to-peer support sites like unmethours.com.

That said, you can find the actuators available for a given simulation by calling the `list_available_api_data_csv` function which will return a csv string that you can conveni

[2022-08-11 16:27] #9598 closed, assigned to nobody

[2022-08-12 05:44] AltoTechGithub opened #9599 "Connecting Energyplus simulation with OpenAI Gym Environment through Python API"
Issue overview
--------------
I'm trying to implement  OpenAI Gym environment (for reinforcement learning training) with EnergyPlus building environment. I recently made an effort to achieve this by connecting Python with EnergyPlus through Python API. Currently, my understanding is that E+ simulation is run with a single line of code as below

[code]

and the only way I can interact with each tim

[2022-08-12 14:15] Myoldmopar commented on #9599
This sounds like a very cool project.  You are probably going to want to run EnergyPlus in its own thread, and track the simulation time of EnergyPlus separately.  When EnergyPlus calls back, in that separate thread, you can decide whether to hold the simulation and wait, get data from the simulation, or actuate conditions in the simulation, all before releasing the loop and letting EnergyPlus con

[2022-08-12 14:15] #9599 closed, assigned to nobody

[2022-08-12 15:04] #9489 closed, assigned to nobody

[2022-08-12 15:23] AltoTechGithub commented on #9599
Thank you very much for your response!!

[2022-08-12 17:25] jcyuan2020 commented on #9458
- [x] Coil:WaterHeating:AirToWaterHeatPump:VariableSpeed section missing a level of heading for "Inputs":

![image](https://user-images.githubusercontent.com/64040111/184411439-b7f526e5-09a7-4aa7-82b7-f65715e287eb.png)

- [x] A few more similar occurrences like the above ones across a few different tex files are also to be fixed. In general, fixing these heading levels would help reduce the number

[2022-08-12 17:33] jcyuan2020 commented on #9458
- [x] Infiltration mass flow rate output variables should be of type "average" instead of "sum":
![image](https://user-images.githubusercontent.com/64040111/184412651-c2f3e3a0-68c5-450e-a398-95a036bb5dbe.png)

[2022-08-15 15:17] jcyuan2020 opened #9601 "EnergyPlus v22.1 failed on writing output reports when the weather file folder contains some other files"
Issue overview
--------------
It was reported by a user that EnergyPlus will not finish reporting correctly for some unknown reason. This will happen to any idf file it runs (e.g. the simple example file 1ZoneUncontrolled3SurfaceZone.idf). The error message will contain a severe warning that seems to belong to the lower level std library:
[code]

The html or csv report file will then just have a f

[2022-08-15 15:21] Myoldmopar commented on #9601
So...what's the point of this ticket?  We aren't going to re-release 22.1 with 22.2 a few weeks away.  If it's just to document the problem, then that's fine, just go ahead and close the ticket.  Then users of 22.1 can find this and get the workaround and status update.  If there's still work to be done in 22.2, then by all means leave it open.

[2022-08-15 15:24] mjwitte commented on #9601
@jcyuan2020 This looks like a duplicate of #9420, fixed in #9444

[2022-08-15 15:24] #9601 closed, assigned to nobody

[2022-08-15 15:39] jcyuan2020 commented on #9601
Thanks @mjwitte @Myoldmopar ! It's nice to see this problem has been purposely fixed and the root cause has been fully understood. And yes, anther reason for posting is to keep a record for the users of v22.1 since now it is still the latest official release version.

[2022-08-15 15:48] RKStrand commented on #9597
@AGeissler I'm looking at this file and I see what the problem is.  The CondFD (conduction finite difference) algorithm goes through all of the material layers in the input file and does not skip the constructions that are not used in the CondFD.  I'll look at a solution that skips constructions that do not use CondFD as the solution and this should fix the problem.  However, in the meantime, ther

[2022-08-17 15:56] RKStrand opened #9603 "Clean Up GetPollutionFactorInput Code"
Issue overview
--------------
During work on another defect (#9493), it was discovered that the code in GetPollutionFactorInput is highly repetitive and needs to be improved/shortened.  While this does not cause any problems with EnergyPlus, it makes any change in this area incredibly tedious.  So, a rework of this code is important for clarity and any future work that takes place.

### Details
So

[2022-08-17 19:39] lgu1234 commented on #9066
Based on user request, this issue is divided into 3 phases. Phase 1 is to allow a supply fan in any placement order: draw through, blow through, or in the middle. Phase 2 is to add fan heat for cooling coil capacity sizing with any fan placement. Phase 3 is to allow multiple fans in the system.
https://github.com/NREL/EnergyPlus/pull/9536 completed the first two phases.
Phase 3 will be for future

[2022-08-18 14:14] AGeissler commented on #9597
@Rick,

thanks! I’ll try the workaround and keep my eyes open on the development branch.

Best
Achim

***@***.***

[2022-08-19 22:17] jcyuan2020 opened #9605 "5Zone_Unitary_HXAssistedCoil new DX Coil case issues: freezing coil temperature and failed in full-year simulation"
Issue overview
--------------
While working on Coil refactoring (PR #9149) that allows the CoilSystem:CoolingDX:HeatExchangerAssisted to use the new Coil:Cooling:DX object as the child coil, a problem was found in running the revised 5Zone_Unitary_HXAssistedCoil.idf file for a full-year simulation. The fatal error message is:
[code]

This could be a result that the Coil:Cooling:DX results a differ

[2022-08-19 23:09] jcyuan2020 opened #9606 "Follow-up issues for #9149: move companion coil checks for some DX coils; optional parameters etc"
Issue overview
--------------
A couple of follow-up issues for PR #9149:
1. There could be multiple places in the code (e.g. in UnitarySystem.cc) where the companion coil index gets checked, such as:
[code]

According to  the reviewer's comment in PR #9419 [here](https://github.com/NREL/EnergyPlus/pull/9149/files/9af7c33aca49aadbd5ec5dad089375b62558fd0a#r950568280), these checks should not be need

[2022-08-20 17:18] #8468 closed, assigned to JasonGlazer

[2022-08-20 17:18] #7670 closed, assigned to nobody

[2022-08-21 20:07] #7081 closed, assigned to nobody

[2022-08-22 12:57] michael-okeefe opened #9609 "EnergyPlus stops with error when SC-Center is 0 in Window5Data.dat file"
Issue overview
--------------
There is a subtle EnergyPlus issue related to interpreting the parsed values from LBNL WINDOW data files.

The issue is occurring in src/EnergyPlus/HeatBalanceManager.cc around line 6980. Both Shading Coefficient Center (SCCenter) and SHGC Center (SHGCCenter) are in the Window5Data.dat file but, in some cases, SC-Center is being set to zero (by LBNL WINDOW) which caus

[2022-08-23 04:23] liuhz-github opened #9612 "Fatal error running EnergyPlus in Linux using Eppy"
I am running EnergyPlus in Linux environment. All input files paths (.idd, .idf, .epw) have been properly defined. I am able to run EnergyPlus with the input files through the command lines.

However, when I try to run EnergyPlus through python script with eppy, the intermediate files (eplusout.expidf) are not generated and the program stops. It seems the ExapandObjects step is not successful. All

[2022-08-23 08:16] jmarrec commented on #9612
This has nothing to do with EnergyPlus. Refer to the eppy documentation. Basically you have HVACTemplates objects in your file so you need to do `idf.run(output_directory = '../', expandobjects=True)`

cf https://eppy.readthedocs.io/en/latest/runningeplus.html , `expandobjects` defaults to False.

FYI, the eppy project is at https://github.com/santoshphilip/eppy/

[2022-08-23 08:16] #9612 closed, assigned to nobody

[2022-08-23 08:51] liuhz-github commented on #9612
Thank you!
I tried the suggested line, idf.run(output_directory = '../', expandobjects=True), but the error persists. :(
I will check with eppy side.

[2022-08-23 09:09] jmarrec commented on #5739
object no longer exists. Table:IndependentVariable only now offers Linear and Cubic interpolation.

[2022-08-23 09:09] #5739 closed, assigned to nobody

[2022-08-23 14:47] rick commented on #9597
![you rang?](https://user-images.githubusercontent.com/6259/186189083-2b2dfaab-2f3c-42b5-9de5-36471d3b8f29.gif)

[2022-08-24 01:19] joproulx opened #9613 "Trying to run TestRuntime.py sample gives 'expected CFunctionType instance instead of int' error"
Issue overview
--------------
Trying to run for the first time one of your [python code sample TestRuntime.py](https://github.com/NREL/EnergyPlus/blob/develop/tst/EnergyPlus/api/TestRuntime.py) and I get this error:

[code]
![image](https://user-images.githubusercontent.com/1434190/186296383-54c10620-db07-45c2-b010-82619b12025b.png)

Any ideas on how to solve this? Let me know if I can provide mor

[2022-08-24 09:07] jmarrec opened #9614 "CI packages not being uploaded to release page"
Issue overview
--------------

@Myoldmopar pointed out that CI packages for IO Freeze RC wouldn't upload to release page

https://github.com/NREL/EnergyPlus/runs/7981527318?check_suite_focus=true#step:10:15

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus (if using an intermediate build, include SHA): v22.2.0-IOFreeeze

### Checklist
Add to this list or r

[2022-08-24 09:46] jmarrec opened #9616 "Update GHA runners: ubuntu-18.04 and macos-10.15 are deprecated and ubuntu-22.04 and macos-12 are live"
Issue overview
--------------

Update GHA runners: ubuntu-18.04 and macos-10.15 are deprecated and ubuntu-22.04 and macos-12 are live

* https://github.com/actions/runner-images/issues/5583
* https://github.com/actions/runner-images/issues/6002
* https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources

### Checklist
Add to

[2022-08-24 12:43] #9614 closed, assigned to jmarrec

[2022-08-24 17:13] Myoldmopar commented on #9613
@joproulx thanks for reporting this.  I have some other API examples beyond the TestRuntime.py example in the repo.  Can you email me at   edwin dot lee at nrel dot gov  ?  We can try to work through this problem and also show you some of the other examples.

[2022-08-25 01:15] joproulx commented on #9613
Thanks for the reply @Myoldmopar. I did send you an email, but just for info, I tried other samples and some were working fine. For the `TestRuntime.py`, if I comment these 3 callback registrations, then the sample run correctly.

![image](https://user-images.githubusercontent.com/1434190/186551312-442b0f2f-91ad-497f-9f9e-ece3681f907e.png)

Do you have the same behavior on your side?

[2022-08-25 14:19] JasonGlazer opened #9620 "IDFVersionUpdater Too Long Path"
Issue overview
--------------
When a file is selected with the IDFVersionUpdater a path over 256 characters, the following error message is produced:

![image](https://user-images.githubusercontent.com/2582150/186689624-f446617e-b403-40d0-b774-5262eb84edf3.png)

this prevents the version updater to work with very long paths, at least on Windows 10

### Details
Some additional details for this issu

[2022-08-25 16:01] JasonGlazer opened #9621 "AllSummaryAndMonthly option in Output:Table:SummaryReports prompts many warnings and incomplete reports"
Issue overview
--------------
Adding the predefined monthly reports by including:

[code]
Generates about 200 new warning messages. An example is shown below

[code]
This probably also means that the reports are not showing the results that are expected. Probably the output variables have been renamed and the corresponding predefined monthly reports were not updated.

See OutputReportTabular.cc fu

[2022-08-25 18:04] RKStrand commented on #9609
@michael-okeefe Verified that this is a problem for SC.  It also happens when SHGC is set to zero.  I've fixed them both so that now it just produces a warning message and continues with the simulation rather than erroring out.  This fix should make it into V22.2.

[2022-08-26 08:15] jmarrec commented on #9621
The variable is fine. But it's set up only if you have gas equipment in the zone.

https://github.com/NREL/EnergyPlus/blob/56f3a890b40c0423f5d5df4c439466129ad49a70/src/EnergyPlus/InternalHeatGains.cc#L4892-L4896

https://github.com/NREL/EnergyPlus/blob/56f3a890b40c0423f5d5df4c439466129ad49a70/src/EnergyPlus/InternalHeatGains.cc#L5070-L5083

[2022-08-26 08:19] jmarrec opened #9625 "IDFVersionUpdater not working for V22-1-0 files to V22-2-0-IOFreeze"
Issue overview
--------------

IDFVersionUpdater not working on Linux for V22-2-0-IOFreeze.

[code]

![image](https://user-images.githubusercontent.com/5479063/186856465-02e7fd77-8961-4a25-989b-aaf9558e642d.png)

The "New Version" dropdown also only shows 22.1, it does not detect 22.2

All the required files are there though:

[code]

### Details

Some additional details for this issue (if relevan

[2022-08-26 08:24] jmarrec commented on #9625
Time to move on to https://github.com/Myoldmopar/IDFVersionUpdater2 ?

[2022-08-26 12:20] JasonGlazer commented on #9621
It is more than just for gas, here is the entire .err file:

[5ZoneAirCooled.err.txt](https://github.com/NREL/EnergyPlus/files/9432989/5ZoneAirCooled.err.txt)

It is very likely that all of these variables have never been created for this input file: 5ZoneAirCooled.idf

At the end it does say:

[code]

I'm not sure what else to do, maybe add more details to this last warning. I tripped on it and j

[2022-08-29 17:31] mjwitte commented on #9377
@shorowit Do you have a test file to demonstrate the residential basement impact?

[2022-08-29 19:43] shorowit commented on #9377
@mjwitte I think this should do it. It's a residential home in Denver w/ two spaces, a conditioned basement space adjacent to a Kiva foundation and an above-grade living space, both in the same thermal zone. (It's generated from an HPXML file so there is not full 3D geometry, sorry.)
[in.idf.txt](https://github.com/NREL/EnergyPlus/files/9447532/in.idf.txt)

[2022-08-29 19:50] shorowit commented on #9377
And here's the same file but using CarrollMRT as the radiation heat transfer algorithm. (Not sure if that triggers any additional branches of code in E+?)
[in2.idf.txt](https://github.com/NREL/EnergyPlus/files/9447577/in2.idf.txt)

[2022-08-29 20:32] jcyuan2020 commented on #9458
- [x] A few empty and/or duplicated labels caused LaTeX showing compile warnings:

![image](https://user-images.githubusercontent.com/64040111/187293348-ff5c4838-5871-460b-a4c8-e6cc93ed5ef2.png)

![image](https://user-images.githubusercontent.com/64040111/187293134-534e0ea3-5ec9-4e26-a99e-da63ec82f1aa.png)

[2022-08-29 21:01] nealkruis commented on #9458
@jcyuan2020 these are related to the addition of the ASHRAE 205 chiller object. @tanaya-bigladder was going to clean them up on a follow up branch, but if you fix them we can just merge your changes in. Up to you how you'd like to handle it.

[2022-08-29 21:09] jcyuan2020 commented on #9458
@nealkruis @tanaya-bigladder Thanks! Minor issue. I've got them fixed in a branch for the documentation issues.

[2022-08-30 02:18] #9616 closed, assigned to jmarrec

[2022-08-30 02:18] #9326 closed, assigned to nobody

[2022-08-30 11:18] jmarrec commented on #9588
Is there anything to be done here really or should we just close?

[2022-08-30 19:09] RKStrand commented on #9470
@JasonGlazer I'm looking at this and I see the point that @lymereJ is making.  Since you are listed as the author of the code in this area, do you know (I know--the code date is almost 10 years old) why the semi-exterior value was used for anything with an exterior side that is "interior" and is not classified as a wall, roof, or floor?  Maybe the assignment is ok in line 1339?  But shouldn't it d

[2022-08-30 21:30] JasonGlazer commented on #9470
My memory of something a decade ago is useless. And I think the last time I looked at this code it was in Fortran. I don't remember why but it seems like line 1339 should really never be hit, if it is something else seems to be broken related to how surfaces are being classified. KivaFoundation should probably be added to the list after Ground and GroundFCFactorMethod. The other SurfaceClass's lik

[2022-08-31 14:38] mjwitte commented on #9362
This was addressed in #9564

[2022-08-31 14:38] #9362 closed, assigned to mjwitte

[2022-08-31 15:40] RKStrand commented on #9470
@JasonGlazer Yes, I agree that some clean-up is in order.   I will work on that clean-up and also some documentation edits.

@lymereJ The use of the semi-heated film coefficients as a default is not correct and I will take care of that.  However, the situation that you mention in the small office reference building would require additional input and data structure to track which surfaces have a se

[2022-08-31 17:12] mjwitte commented on #9625
@jmarrec @JasonGlazer I've reproduced this problem on windows also. It works fine for older files, say v9.5 to v22.2. But it fails when selecting a v22.1 file to convert to v22.2. I suspect the "old" version name variable isn't accommodating the longer version number?

[2022-08-31 17:59] JasonGlazer commented on #9625
I will take a look, I thought I had tested exactly this.

[2022-08-31 18:27] lymereJ commented on #9470
Thanks for the follow-up @RKStrand! I assume that you meant "semi-exterior" surfaces instead of "semi-heated". I understand the challenges associated with identifying these surfaces. So to clarify, are you saying this is a "won't fix" type of issue?

[2022-08-31 19:09] RKStrand commented on #9470
@lymereJ Yes, I meant "semi-exterior".  And yes, I am thinking this is a "won't fix"--not because it can't be done but rather because of the impact on the code/input I envision it would have.  The fix will at least avoid using the wrong exterior film coefficient.  Hope that clarifies things.

[2022-08-31 19:32] lymereJ commented on #9470
Got it, thanks!

[2022-08-31 22:57] mjwitte opened #9631 "MRT calculations and radiant exchange calculations are not consistent"
Issue overview
--------------
* `CalcSurfaceWeightedMRT` always adjusts the stored surface area*emissivity (after #9628 is will only reset these if `EnclRadReCalc` is true and 9628 also moves these from `state.dataThermalComforts->SurfaceAE` to `Surface(SurfNum).AE`.
* `CalcSurfaceWeightedMRT` uses Construct(state.dataSurface->Surface(SurfNum2).Construction).InsideAbsorpThermal which is fine for o

[2022-09-01 06:32] AGeissler opened #9632 "Allow for regex expressions in output variable names, specifically for construction node values"
Issue overview
--------------
Input-for-output in .idf allows for using regex expressions in the "specifier" field (e.g. zone name, construction name etc.), however it does not allow for regex in the actual variable name. Especially for the output of construction node values this is a nuisance. The number of nodes changes with time step (and/or other parameters) and adding "sufficient" node entrie

[2022-09-01 16:05] jcyuan2020 commented on #9458
- [x] Figure caption text got separated off from the figure environment (IORef v22.1, Page 1993):
![image](https://user-images.githubusercontent.com/64040111/187960748-a337ceb8-e8bd-4b8b-864a-fcf86ff81cfe.png)

- [x] And another one of the same issue above in Page 1994.

[2022-09-01 16:17] jcyuan2020 commented on #9458
- [x] IORef v22.1, Page 158: 24 hrs should be 24*3600= 86400s, instead of 87600s:
![image](https://user-images.githubusercontent.com/64040111/187963177-c484ec8a-fbfc-4aa9-8757-fd82599e27ad.png)

[2022-09-01 16:58] rraustad opened #9635 "ZoneHVAC:UnitVentilator is not reading the Availability Manager List Name correctly"
Issue overview
--------------

    void GetUnitVentilatorInput

    if (!lAlphaBlanks(18)) {
        unitVent.AvailManagerListName = Alphas(18);
    }

   E+ IDD

    ZoneHVAC:UnitVentilator,
       A19, \field Availability Manager List Name
            \note Enter the name of an AvailabilityManagerAssignmentList object.
            \type object-list
            \object-list SystemAvailabilityMana

[2022-09-01 17:01] jcyuan2020 commented on #9458
- [x]  The default value for AirConditioner:VariableRefrigerantFlow:FluidTemperatureControl field "Minimum Outdoor Air Temperature in Cooling Mode" got contradicting information:
![image](https://user-images.githubusercontent.com/64040111/187970140-01561b05-6413-4454-92d0-3032847a1ab4.png)
The correct value should be `-6C` according to the IDD information.

- [x] The next field named "Maximum Outd

[2022-09-01 21:33] TiejunWu opened #9637 "Multi-speed Fan (staged Air flow control) for ZoneHVAC:WaterToAirHeatPump"
Issue overview
--------------
Currently many of the Water to Air Heat Pump units in the market are equipped with multi-stage compressor and ECM fan to reduce energy use and noise. During actual operation, the fan air flow is coordinated with the compressor stage control, at low compression stage, the fan is going to run at low air flow rate. We propose to add supply air flow ratio input fields (lo

[2022-09-02 13:32] JasonGlazer commented on #9010
This is a little tricky to reproduce. If you select the file in EP-Launch and then click on the IDF Editor button it occurs, but does not occur when you open IDF Editor directly and then open the file in it. Another way to reproduce this issue is to at the CMD command line in the IDFEditor folder, type

[code]

or what ever is the appropriate path. I was able to reproduce the bug after updating th

[2022-09-02 17:21] JasonGlazer commented on #9010
Unfortunately, I have not been able to fix this issue but I do have a workaround:

If you are using many Schedule:Compacts input objects in your file, one workaround so that you can open the file in IDF Editor, is to reduce the length of the Schedule:Compact that appears in the Energy+.idd file. Make a copy of the Energy+.idd file called ORIGINAL-Energy+.idd so you can always go back to it if you

[2022-09-02 20:33] PeaseP opened #9642 "Zone Component Load Summary - Increase decimals reported for Air Flow"
Issue overview
--------------
The Cooling Peak Conditions table and the Heating Peak Conditions table include two air flow results: Main Fan Air Flow [m3/s] and Outside Air Flow [m3/s]. These are reported with only two decimals. However when converting to IP units (CFM) this leads to a lost of data as the stored value is rounded to two decimals. The difference in the actual flow rate can be observ

[2022-09-06 08:00] jmarrec commented on #9632
I am concerned about the performance concerns outweighing the potential gains here. This will require checking whether it's a regex for all variables, while providing the benefit of saving 10 lines in the IDF (assuming you have the maximum of 10 layers, so 11 nodes). I don't think there are many other variables like this. This is just my personal opinion though, others might disagree.

[2022-09-06 09:03] jmarrec commented on #9574
In this enum, all are used (in HVACManager.cc) except the `DataHeatBalFanSys::PredictorCorrectorCtrl::RevertZoneTimestepHistories` one.

https://github.com/NREL/EnergyPlus/blob/4872b63adc2630585108b0c9d0c5ebc492ca29e3/src/EnergyPlus/DataHeatBalFanSys.hh#L73-L83

[2022-09-06 10:28] jmarrec commented on #9331
This is mostly due to the fact that we keep trying to process individual subsurfaces when we already found an error earlier.

More widely, we also keep processing types of surfaces even if the previous types failed. Is this something we actually want, in order to provide more context in the `eplusout.err`, or should we exit early?

`GetRectDetShdSurfaceData`, `GetHTSurfaceData`, `GetRectSurfaces`,

[2022-09-06 12:40] jmarrec opened #9645 "Fixup new LaTeX warnings"
Issue overview
--------------

[code]

[code]

ref https://github.com/NREL/EnergyPlus/commit/e83ea12cc356a58be689fa5f3159cd6252fec6f4 for the empty labels for eg.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version): All
 - Version of EnergyPlus (if using an intermediate build, include SHA): 22.2.0-IOFreeze, at 4872b63adc2630585108b0c9d0c5ebc49

[2022-09-06 14:25] AGeissler commented on #9632
@jmarrec: thanks for labelling my issue. I do not know enough about the code structure to assess performance implications. However, my current case that gave me the idea has > 45 nodes in the construction of interest. And if the number of time-steps needs to be increased in the future e.g. due to the afn, this number will further increase (I have not, however, "played around" with the Space Discre

[2022-09-06 15:07] jmarrec commented on #9632
I'm saying this having investigated a similar performance bottleneck recently: https://github.com/NREL/EnergyPlus/pull/9556, which made me aware of the cost of instantiating regexes.

I'll defer to others on whether this is something we want to do or not.

In the meantime, I'd use python to generate that list of variables, eg this one-liner command line call `python -c "for i in range(1, 46):    p

[2022-09-06 15:23] jmarrec commented on #9613
@Myoldmopar @joproulx This is because you're using the TestRuntime.py from develop (22.2.0-IOFreeze) with the API from 22.1.0.

This has been fixed since then (by @Myoldmopar actually...): https://github.com/NREL/EnergyPlus/pull/9499.
This issue actually is a duplicate of https://github.com/NREL/EnergyPlus/issues/9481

I have confirmed that:

* Using https://github.com/NREL/EnergyPlus/blob/v22.1.0

[2022-09-06 15:23] #9613 closed, assigned to jmarrec

[2022-09-06 15:24] #9588 closed, assigned to nobody

[2022-09-06 18:39] jcyuan2020 commented on #9645
FYI. The first few lines have been fixed in #9629
[code]

[2022-09-07 08:30] jmarrec commented on #9534
The first <BuildingName> tag is wrong too. it's currently `<state.dataHeatBal->BuildingName>`

https://github.com/NREL/EnergyPlus/blob/4872b63adc2630585108b0c9d0c5ebc492ca29e3/src/EnergyPlus/OutputReportTabular.cc#L3162

see https://github.com/NREL/EnergyPlus/commit/b54335e08d347bf3c1d20ea87e2eb45dff11b9bd#r83285404

[2022-09-07 08:46] jmarrec commented on #9534
Holy molly, encodings are just the worst. I thought we could just stop trying to use `ConvertToEscaped` and specify the encoding in the xml (which we don't do right now) by adding `<?xml version="1.0" encoding="UTF-8"?>`. But obviously that was a terrible idea, since:
* The IDF file may not be UTF-8 encoded
* The .stat files from the E+ website are **definitely** `latin1` (`latin1[dos]` on the web

[2022-09-07 16:21] asparke2 opened #9650 "Unrealistic behavior of Wateruse:Equipment when Hot Water is colder than Cold Water"
Issue overview
--------------
I have a model with a service water heating loop shown below. On the demand side, there is a Pipe:Indoor object (circled in red) with an ambient temperature of 80F to capture piping losses. This is followed by a WaterUse:Connection object referencing a WaterUse:Equipment object with a target temperature of 140F, and a water draw profile that goes to zero at night. On

[2022-09-07 16:21] asparke2 commented on #9650
@matthew-larson what do you think?

[2022-09-07 21:08] rraustad commented on #8336
@wta12 I just saw this comment. There is no list of pending controls for UnitarySystem. Controls are typically added on an as needed basis.

[2022-09-10 07:45] #9597 closed, assigned to RKStrand

[2022-09-10 21:28] RKStrand commented on #9597
@rraustad Is this ready to be "accepted" in PivotalTracker?  Just making sure that I understood things correctly or maybe you were waiting for the explanation of that eio file difference.

[2022-09-12 05:35] jcyuan2020 commented on #9458
- [x] IORef v22.1 Page 517, near the bottom of the page:
![image](https://user-images.githubusercontent.com/64040111/189579457-b86c9b57-f960-4eb5-bda6-407fa16f2d4d.png)

There is no "Figure 51" in the document. According to the context, this should be pointed to Figure 1.72.

[2022-09-12 12:58] rraustad opened #9654 "Correct example file PackagedTerminalHeatPump_LatentSizing_SensibleAndLatent zone sizing humidity set point schedules"
Issue overview
--------------
Follow up to latent sizing #9406 where Sizing:Zone dehumidification and humidification inputs are schedules.

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x] Defect file added (PackagedTerminalHeatPump_LatentSizing_SensibleAndLatent)
 - [ ] Ticket added to Pivotal for defect (development team task)

[2022-09-12 13:10] rraustad commented on #9654
Example file err file shows:

Program Version,EnergyPlus, Version 22.2.0-4872b63adc, YMD=2022.09.12 13:43,
    ** Warning ** Sizing:Zone = "WEST ZONE", invalid Zone Humidistat Dehumidification Set Point Schedule Name = 40. Schedule will not be used and simulation continues.
    ** Warning ** Sizing:Zone = "WEST ZONE", invalid Zone Humidistat Humidification Set Point Schedule Name = 45. Schedule wi

[2022-09-12 15:44] mjwitte commented on #9637
I believe this can be accomplished with the current AirLoopHVAC:UnitarySystem which can be used as zone equipment with Fan:SystemModel, Coil:Heating/Cooling:WaterToAirHeatPump:VariableSpeedEquationFit, and UnitarySystemPerformance:Multispeed.

[2022-09-12 20:21] RKStrand commented on #9348
It would be helpful to have an input file here.  I just ran this with the test suite file Generator_PVWatts.idf that I modified to try all the different system types with a GCR of 1 and everything ran.  The error message does not look like a typical E+ error message so I'm wondering where it is coming from.

[2022-09-12 21:31] shorowit commented on #9348
I just noticed that the Unmet Hours user was using E+ 9.5. I verified that I could reproduce the error by adding objects to one of the sample files:
[1ZoneUncontrolled_GCR1.idf.txt](https://github.com/NREL/EnergyPlus/files/9551939/1ZoneUncontrolled_GCR1.idf.txt)
I then changed the same sample file for E+ 22.1:
[1ZoneUncontrolled_GCR1.idf.txt](https://github.com/NREL/EnergyPlus/files/9551942/1ZoneU

[2022-09-12 21:31] #9348 closed, assigned to nobody

[2022-09-12 22:32] #9635 closed, assigned to nobody

[2022-09-12 23:48] RKStrand commented on #8424
This is still an issue in 22.1.  Basically, the docs say it must be 1 or 2.  In practice, in the code, if it isn't 2, then it is assumed to be 1.  While not a huge problem, the code should match the docs and there should be some checks within the code to avoid unintended consequences.

[2022-09-13 14:05] #9609 closed, assigned to RKStrand

[2022-09-14 00:19] #9570 closed, assigned to nobody

[2022-09-14 15:27] #9625 closed, assigned to JasonGlazer

[2022-09-14 17:55] #9155 closed, assigned to rraustad

[2022-09-14 19:46] #9470 closed, assigned to RKStrand

[2022-09-14 19:54] #9654 closed, assigned to nobody

[2022-09-14 20:55] #9554 closed, assigned to RKStrand

[2022-09-15 02:33] #9282 closed, assigned to RKStrand

[2022-09-15 07:29] jmarrec commented on #4187
I had started work on this in https://github.com/NREL/EnergyPlus/pull/7579 but I don't know how to fix it really. That PR has a unit test ready though so anyone who wants to pick it up can reuse it.

[2022-09-15 13:17] #9059 closed, assigned to jcyuan2020

[2022-09-15 14:09] #8424 closed, assigned to RKStrand

[2022-09-15 14:48] #9427 closed, assigned to RKStrand

[2022-09-15 15:29] #9436 closed, assigned to jmarrec

[2022-09-15 19:08] #9548 closed, assigned to lymereJ

[2022-09-15 19:24] #9331 closed, assigned to jmarrec

[2022-09-16 13:53] #9010 closed, assigned to nobody

[2022-09-19 10:20] jmarrec opened #9662 "Issues with Chiller:Electric:ASHRAE205"
Issue overview
--------------

Disclaimer: I realize this is a brand new object and not all of the functionality (eg: Heat Recovery) is implemented.

I'm wrapping this object in the OS SDK, and running into a few issues, this is a running list:

* No warning if heat recovery nodes are set, while there are some warnings for other fields: https://github.com/NREL/EnergyPlus/blob/599c64df5584701dc1c20

[2022-09-19 15:55] mjwitte commented on #9458
@jcyuan2020 Can this defect be closed?

[2022-09-19 16:11] jcyuan2020 commented on #9458
@mjwitte Yes. All items have been addressed.

[2022-09-19 16:16] nealkruis commented on #9662
Some of these were fixed in a follow PR for bug freeze. @Myoldmopar should we try to get the rest of these cleaned up now, or hold off for the next release?

[2022-09-19 16:17] Myoldmopar commented on #9662
There's still a window of time to fix up at least the crash issues.  Please go ahead and submit a PR if you are able.

[2022-09-19 16:40] mjwitte commented on #9458
Closed via #9629

[2022-09-19 16:40] #9458 closed, assigned to jcyuan2020

[2022-09-19 16:53] mjwitte commented on #9418
Closed via #9537

[2022-09-19 16:53] #9418 closed, assigned to jcyuan2020

[2022-09-19 21:53] tanaya-mankad commented on #9662
@jmarrec, I'm not immediately seeing any checks for inlet node validity in other plant objects, that should be applied here. (I think `NodeInputManager::GetOnlySingleNode` contains the primary error check.) Do you happen to know if this error occurs if you apply same file input mistake for other, conventional nodes, or other plant objects? Or would you mind posting your input file?

[2022-09-20 08:01] jmarrec commented on #9662
Take ElectricEIRChiller.idf, and modify chiller like this

[code]

eplusout.err:

[code]

**So it bails out early and cleanly.**

[2022-09-20 08:07] jmarrec commented on #9662
Now take ASHRAE901_OfficeLarge_STD2019_Denver_Chiller205_Detailed.idf

First, let's remove the Auxiliary connection on Chiller2, make sure it still runs (it does)

[code]

----

Now add wrong nodes to the Auxiliary Inlet/Outlet:

[code]

**This isn't as clean, and in Debug you actual get an assertion contains(i) failed**

[code]

[2022-09-20 08:14] jmarrec commented on #9662
It's because this `#if 0` `#endif` is misplaced: https://github.com/NREL/EnergyPlus/blob/599c64df5584701dc1c2020f9667c5f7a720fb34/src/EnergyPlus/ChillerElectricASHRAE205.cc#L516-L519

**I'm going to push a branch with some fixes for this and the wrong handling of autosizable fields.**

Please see https://github.com/NREL/EnergyPlus/compare/9662_ChillerElectricASHRAE205_Errors . You can reuse/hijack

[2022-09-20 08:18] jmarrec commented on #9662
Note that I used the current develop in my testing after finding issues with 22.2.0 iofreeze. Is that PR not merged yet? Can you link to it in that case?

[2022-09-20 08:20] jmarrec commented on #9662
See defect file at https://github.com/NREL/EnergyPlusDevSupport/commit/d5e9115ce3117e552933c98e34edebbfd0a57962

(I tested with before and after my fix in https://github.com/NREL/EnergyPlusDevSupport/commit/d5e9115ce3117e552933c98e34edebbfd0a57962 and confirm that it works)

[2022-09-20 11:55] asparke2 commented on #6166
The Errors table in the sql file is still a mess in EnergyPlus 22.1. The Count column does not match the recurring error counts, error summaries aren't included, multi-line error messages are truncated, etc. It is essentially unusable, have to parse the .err file.

[2022-09-20 13:47] tanaya-mankad commented on #9662
Hi @jmarrec, the follow-up PR was merged on Sept 15, so it's probably what you have been working with. I'll merge your `#endif` fix into my branch so it will be incorporated. Will you push it before the end of your workday?

[2022-09-20 13:50] jmarrec commented on #9662
@tanaya-bigladder it's pushed. See the above comment it has a link: https://github.com/NREL/EnergyPlus/compare/9662_ChillerElectricASHRAE205_Errors

[2022-09-21 22:27] amyeallen1 opened #9668 "Possible bug: variable speed pump fails to shut off"
Issue overview
--------------

Ryan Meyer and I are working on EnergyPlus model involving two plant loops, linked by a heat exchanger, and have run into what seems like it may be a bug in the operation of a variable speed pump on one of the plant loops. The pump is configured to "intermittent" operation, with a minimum flow rate fraction set. We've found that this pump never shuts off, and instead

[2022-09-22 00:03] #9347 closed, assigned to jcyuan2020

[2022-09-22 14:06] #9650 closed, assigned to nobody

[2022-09-22 19:01] lymereJ opened #9669 "Crash when running a simulation with MultiZoneWithoutDistribution and a fan"
Issue overview
--------------
Simulating the defect file(s) results in a hard crash of EnergyPlus. The file uses the `MultiZoneWithoutDistribution` airflow network simulation control option and includes a fan object. Running the file through the  debugger shows that `LoopOnOffFanRunTimeFraction` is needed when a fan is included in the airflow network, however, no allocation is made when the `Multi

[2022-09-23 18:15] lymereJ opened #9671 "ElectricEquipment:ITE:AirCooled design power not accounted for in the Zone Summary report"
Issue overview
--------------
The design power for `ElectricEquipment:ITE:AirCooled` objects is not accounted for in the Zone Summary report.

### Details
Some additional details for this issue (if relevant):
 - Platform: Windows 10
 - Version of EnergyPlus: 22.1

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [x] Defect file: [def

[2022-09-23 18:40] #9662 closed, assigned to nobody

[2022-09-23 19:04] #9671 closed, assigned to nobody

[2022-09-26 19:18] Myoldmopar opened #9674 "Cleanup Plugin Papercuts"
Issue overview
--------------
A few small things can be cleaned in the plugin manager:
 - If you don't have any search paths objects in the IDF, it will attempt to initialize the search path with the default configuration.  This silently adds the current working directory, silently adds the input file directory, and then if the `epin` environment variable is set (as with EP-Launch), it will add th

[2022-09-26 21:44] mitchute opened #9675 "EMS actuators on utility-consuming internal heat gains objects (e.g. ElectricEquipment) allow negative values"
Issue overview
--------------
As per the description, some of these internal heat gain objects should not allow EMS actuators to set negative values.

For example:
https://github.com/NREL/EnergyPlus/blob/1d22b9a61f7cd00b9e7b0ef27e4b24ffb6b849f3/src/EnergyPlus/InternalHeatGains.cc#L7112

I don't have an example file to post, but I was made aware by seeing someone use an EMS actuator with an `Electr

[2022-09-26 22:27] jmarrec commented on #9303
[code]

In console > Crash Reports: **Termination Reason:    Namespace CODESIGNING, Code 2**

[code]

[2022-09-26 22:35] shorowit commented on #9675
We do this in our residential models -- both to allow negative heat gains (i.e., heat losses) as well as to increase/decrease fuel consumption, in order to comply with some standards. As far as I'm aware, this flexibility is intentionally allowed in EnergyPlus. If you are concerned that it is being misused, you could consider giving a warning if there isn't one already, but I'm pretty sure that ch

[2022-09-26 22:51] mitchute commented on #9675
@shorowit I'm sure there's some reason why but it seems like an odd way to do it. I did assume others would also be using it that way, though, so I'm OK with adding warnings rather than explicitly prohibiting it.

[2022-09-27 01:01] rraustad commented on #9675
Um, no. A negative heat loss (e.g., a refrigerator door opening) is much different than negative electricity or fuel energy from any of these objects. Can we get an example of equipment that would have negative electricity or fuel consumption? If not then negative electricity/fuel should not be allowed.

[2022-09-27 15:56] shorowit commented on #9675
The ANSI 301 Standard requires us to multiply the water heater's energy consumption by a multiplier (above or below 1) to account for all sorts of hot water distribution technologies based on equations published in the standard. We currently use EMS to make this adjustment.

An alternative approach would be to adjust the thermal efficiency of the water heater, but EnergyPlus currently restricts it

[2022-09-27 16:02] rraustad commented on #9675
Maybe an ANSI301Standard object would be a better option? Can you post the table that shows these multipliers?

[2022-09-27 16:59] rraustad opened #9677 "AirTerminal:SingleDuct:Mixer does not account for DesignSpecification:ZoneAirDistribution"
Issue overview
--------------
Code review shows the zone minimum outdoor air is adjusted for air distribution efffectiveness.

ZoneEquipmentManager in function SetupZoneSizingArrays:

    OAVolumeFlowRate = DataSizing::calcDesignSpecificationOutdoorAir(state, DSOAPtr, CtrlZoneNum, UseOccSchFlag, UseMinOASchFlag);
    finalZoneSizing.MinOA = OAVolumeFlowRate;
    calcFinalZoneSizing.MinOA = OAVolum

[2022-09-28 02:25] #9303 closed, assigned to jmarrec

[2022-09-28 20:31] rraustad commented on #9677
I went ahead and looked at this by implementing the suggestion above. This did change the eio results which now look correct. But this change did not affect the simulation results because the call to calcDesignSpecificationOutdoorAir in the component models also does not include air distrubution effectiveness. When I made that change the results appear correct but since many models use the call to

[2022-09-28 22:05] eugeniorodrigues opened #9679 "Chiller:Electric:ASHRAE205 has two A21 fields in Energy+.idd (v 22.2.0)"
Issue overview
--------------
I have detected in Energy+.idd (version 22.2.0) that object Chiller:Electric:ASHRAE205 has two A21 fields and no A22.

[2022-09-28 22:16] nealkruis commented on #9679
Good catch. These fields are currently just placeholders for future expansion so hopefully it won't have any impact on simulations.

[2022-09-28 22:22] eugeniorodrigues commented on #9679
Nice! Thanks! I have developed a code that automatically parses Energy+.idd into a complete JAVA library that can be used in other software (in my case, research software). That is how I have detected it. I have manually corrected in my installation.

[2022-09-29 12:56] jmarrec opened #9680 "GetInternalHeatGainsInput is broken"
Issue overview
--------------

I have a file that used to run fine and now it doesn't.

[code]

This is my Lights object:

[code]

On this line it finds that A8 is **NOT** blank: https://github.com/NREL/EnergyPlus/blob/c249759bad26d4b4f4badab0062643276c7cc2bf/src/EnergyPlus/InternalHeatGains.cc#L1300

(lldb) p AlphaName(8)
(std::basic_string<char, std::char_traits<char>, std::allocator<char> >) $2

[2022-09-29 13:31] Myoldmopar commented on #9680
Yep, we should move far away from DataIPShortCuts at this point.  We can pass variable size vectors around all day, no need to pre-size vectors before calling GetObjectItem, and definitely no need to rely on some random global variables to hold the contents either.

[2022-09-29 13:34] Myoldmopar commented on #9679
I'm a bit surprised the schema generator didn't pick this up.  Would that be an appropriate place to catch issues like this @mbadams5 ?  If not, I can work up a simple script that checks this.

[2022-09-29 13:42] amirroth commented on #9680
FWIW Jason and Mark are going to be demoing the epJSON automatically generated object-creation code in the next week or two. I am not saying to not fix this thing, because it needs to be fixed, I'm just pointing out that this is happening.

[2022-09-29 13:49] jmarrec commented on #9680
Ok, let's go for a minimal fix then.

[2022-09-29 14:10] mjwitte commented on #9680
@jmarrec Defect file? I'm curious what's special about the defect file vs the regression test files which aren't failing.

[2022-09-29 18:58] mhm62dabbagh commented on #5423
@mjwitte This link does not work: http://energyplus.helpserve.com/Knowledgebase/List/Index/39/release_pieces
It says licence has expired in 2021: "License has expired! Expiry: 15 Oct 2021 12:00:00 AM"

Any updated link for DOE2Translator would be greatly appreciated.

[2022-09-29 19:26] jcyuan2020 commented on #9680
@mjwitte The general pattern when this would happen is when you are in the middle of processing an object, then for one or more fields there is a need to process another object to get updated information. This the most common scenario this problem will show up, if both processing codes used the "global" dataIP shortcut---as they will point to the same location. Then the unfinished processing proce

[2022-09-29 20:36] jmarrec commented on #9680
#9681 fixes it and adds a test file. I'll convert to a unit test but I'm short on time right now

[2022-09-29 22:44] shorowit opened #9683 "Coil:Cooling:DX objects missing from Big Ladder documentation"
Issue overview
--------------
Not sure if this is the appropriate place for this issue but don't know where else to put it.

### IO Reference PDF from [here](https://energyplus.net/assets/nrel_custom/pdfs/pdfs_v22.2.0/InputOutputReference.pdf):

![image](https://user-images.githubusercontent.com/5861765/193154804-deaf97d7-3efe-4801-9d90-f9b5cb76475f.png)

### IO Reference HTML from [here](https://

[2022-09-29 23:01] jcyuan2020 opened #9684 "False Zone-Not-Fully-Enclosed determination and incorrect zone volume calculation when having Inter-Zone surfaces"
Issue overview
--------------
It was found that when there are inter-zone surfaces in an EnergyPlus case, there would be incorrect zone-enclosure determination; and also could further cause an incorrect zone volume calculation.

This is caused by accidental inclusion the added inter-zone surface when doing the zone-fully-enclosed check calculations. As a result, it will then cause the zone-fully-e

[2022-09-30 01:44] drulff opened #9686 "Potential Code Error: ZoneHVAC:IdealLoadsAirSystem incorrectly uses 'min' operation to set Humidity Ratio of Supply Air (when ZoneControl:Humidistat used)"
Issue overview
--------------
Issue found during code review due to inconsistent results in detailed output of building energy simulation.

During building energy simulation timesteps with zone cooling demands - where 'ZoneHVAC:IdealLoadsAirSystem' with 'ZoneControl:Humidistat' are used - the Supply Air Humidity Ratio [`PurchAir(PurchAirNum).SupplyHumRat`] set by the simulation results in signific

[2022-09-30 09:07] jmarrec commented on #9303
To anyone who needs a workaround prior to 22.2.0, just redo the signing of the fortran libs:

[code]

[2022-09-30 15:16] nealkruis commented on #9683
The documentation is here: https://bigladdersoftware.com/epx/docs/22-1/input-output-reference/group-coil-cooling-dx.html#coilcoolingdx

We need to look into why it is not getting added to the table of contents.

[2022-09-30 15:17] luisclv opened #9687 "Latest versions of EnergyPlus are not in the list for Federal Tax Deduction Qualified Software"
Issue overview
--------------
With the inflation reduction act (IRA), we expect additional demand for 179D modeling services. However, the last approved version of EnergyPlus was 9.1.0. Could we get the latest versions filed and approved?

### Details
The list of software is [here](https://www.energy.gov/eere/buildings/qualified-software-calculating-commercial-building-tax-deductions).

[2022-09-30 15:53] #9680 closed, assigned to jmarrec

[2022-09-30 16:36] jcyuan2020 commented on #9684
A further investigation showed that the problem is gone if the inter-zone surface is specified for only one of the zones. This seems to the be the standard way of specifying such surfaces now. Therefore it is no long an issue.

[2022-09-30 16:36] #9684 closed, assigned to jcyuan2020

[2022-09-30 19:41] amyeallen1 opened #9688 "Possible Python/EMS bug: unexpected variable output"
Ryan Meyer and I have written a Python script that we are interfacing with in EnergyPlus thru Python EMS, in which the Python script is called at each timestep, and (under certain conditions, based on the presence of a non-zero mass flow at a certain node, as well as temperatures at other nodes on a plant loop) calculates the temperature for a PlantComponent:TemperatureSource object. The Python sc

[2022-10-03 16:29] Myoldmopar commented on #9546
@rraustad can you bump this up the list when you work on your next defect?  Thanks!

[2022-10-03 17:00] xixihaha1995 opened #9691 "Python API: callback_begin_zone_timestep_before_set_current_weather"
Issue overview
--------------
[code]
[code]
Is the `callback_begin_zone_timestep_before_set_current_weather` working as expected? Why `oat_temp_c` cannot be override?
@Myoldmopar

### Details
Some additional details for this issue (if relevant):
 - Windows 11
 - Version of EnergyPlus : v22.1.0

[2022-10-03 17:03] Myoldmopar commented on #9691
@xixihaha1995 thanks for this issue, but could you provide a little more info?  It would be _really_ helpful if you could create a minimal-working-example that I can actually run on my machine to debug issues, since I don't have the classes mentioned in your code (`time_step_handlers_1`, `coordination`).

[2022-10-03 18:08] xixihaha1995 commented on #9691
@Myoldmopar  Please take a look at this repo, https://github.com/xixihaha1995/xixihaha1995-EP_Where_Overwrite_Weather

[2022-10-03 19:42] xixihaha1995 commented on #9691
@Myoldmopar I have debugged:
~`odb_actuator_handle = coordination.ep_api.exchange.\
            get_actuator_handle(state, "Weather Data", "Site Outdoor Drybulb Temperature", "Environment")`~
`odb_actuator_handle = coordination.ep_api.exchange.\
            get_actuator_handle(state, "Weather Data", "Outdoor Dry Bulb", "Environment")`

[2022-10-03 21:16] rraustad commented on #9546
@ChristopherCaradonna your defect file has an air loop UnitarySystem controlled as SZVAV and also have EMS controls which I did not notice until I saw this warning. I am not sure what impact this EMS program has on SZVAV controls where coil performance is controlled via EMS. I will need to try removing the EMS program to see how the SZVAV model responds. Also, when using a mixture of cycling and c

[2022-10-04 01:08] rraustad commented on #9546
To answer one of your questions`It is not clear, however, why there are two parallel patterns for cooling, both for temperature and flow rate`, this is because the system entering air temperature is at 2 distinct levels, based on the heating and cooling zone Tstat temps. If you tighten up these Ts the parallel lines in cooling will converge. What I am more interested in is the heating results. If

[2022-10-04 03:52] ChristopherCaradonna commented on #9546
That makes perfect sense on the cooling; good find.

Note that the EMS code *should* only affect the cooling coil, so I would not expect it to have an impact on heating operation.

I found the main driver of the heating behavior to be whether or not backup heat is required (noting this is a heat pump). When backup heat is on, we get maximum airflow. When it is not on, we get minimum airflow. But n

[2022-10-04 12:52] rraustad commented on #9546
Ah, a supp heater. The DX heating coil will loose capacity at cold outdoor temperatures. The SZVAV model thinks that the heating coil cannot meet the load and goes to full flow. The supp heater will pick up the rest of the load to meet the zone Tstat temp. A water coil would not act this way. The SZVAV model only looks at the main coils to meet the load. The supp heater kicks in after the SZVAV mo

[2022-10-04 19:45] shorowit opened #9692 "Kiva:Foundation uses wrong initial temperature"
Issue overview
--------------
I'm running a building in Denver where the simulation starts Jan 1. The `Kiva:Foundation` is for a conditioned basement, so there are heating and cooling setpoints (of 68F and 78F). The outdoor temperature of the first hour is around 0F, yet Kiva is choosing the cooling setpoint (78F) as the initial temperature instead of the heating setpoint (68F). This results in un

[2022-10-04 19:51] nealkruis commented on #9692
@shorowit, you're correct. This is why everyone should perform calculations in standard SI units!

[2022-10-06 10:07] didoMazz commented on #9453
Hi, i have the same problem.
I have connected EnergyPlus to a Reinforcement Learning(RL) framework. It works for the first simulation using threading but when i have to start a new one it blocks.
I tried swapping to multiprocessing but i have problems pickling functions i need to use for RL purpose.
As of now I wasn't able to move the functions in the global scope.

Any tips or workaround?

I'm us

[2022-10-11 18:09] shorowit opened #9701 "Consolidate soil/ground properties into a single object"
Issue overview
--------------
Objects that ask for soil/ground properties (e.g., conductivity, specific heat, etc.) include:
- `Site:GroundTemperature:Undisturbed:FiniteDifference`
- `Site:GroundTemperature:Undisturbed:KusudaAchenbach`
- `Site:GroundTemperature:Undisturbed:Xing`
- `GroundHeatExchanger:System`
- `Foundation:Kiva:Settings`
- `PipingSystem:Underground:Domain`

... and maybe others.

[2022-10-13 13:26] rraustad opened #9704 "Heat Exchanger in AirLoopHVAC:DedicatedOutdoorAirSystem fails with set point manager not found"
Issue overview
--------------
User file on UnmetHours shows an issue with HXs in the DOAS air loop where the set point manager set point was not found yet there is a set point manager at the supply air outlet of the HX. The mixed air manager SPM did not have a reference set point so that was added.

    SetpointManager:Scheduled,
      OA Air Temp Manager 20,   !- Name
      Temperature,

[2022-10-13 15:27] shorowit opened #9706 "Documentation 2022b"
Issue overview
--------------
A place to keep an ongoing list of documentation issues.

[2022-10-13 15:27] shorowit commented on #9706
- [ ] `Field: Disctrict Cooling COP` has a typo, see https://bigladdersoftware.com/epx/docs/22-2/input-output-reference/input-for-output.html#environmentalimpactfactors

[2022-10-13 20:11] rraustad commented on #9704
Defect file now shows HX with same air flow as DOAS cooling coil.

    Component Sizing Information, Coil:Cooling:Water, OA COOLING COIL 1, Design Size Design Air Flow Rate [m3/s], 1.62123
    Component Sizing Information, HeatExchanger:AirToAir:SensibleAndLatent, HEX, Design Size Nominal Supply Air Flow Rate [m3/s], 1.62123

[2022-10-15 15:18] rraustad opened #9707 "HVACTemplate:System:VRF minimum part load ratio is fixed at 0.25"
Issue overview
--------------
[UnmetsHours post](https://unmethours.com/question/82501/minimum-heat-pump-plr-in-hvactemplatesystemvrf-is-not-changed/?answer=82512#post-id-82512) that minimum PLR for HVACTemplate:System:VRF does not change.

    CALL CreateNewObj('AirConditioner:VariableRefrigerantFlow')
    CALL AddToObjStr('Minimum Heat Pump Part-Load Ratio','0.25')

### Details
Some additional d

[2022-10-16 15:11] eugeniorodrigues opened #9709 "Output:Diagnostics:DisplayWeatherMissingDataWarnings returns false warnings"
Issue overview
--------------
When we add Output:Diagnostics:DisplayWeatherMissingDataWarnings; to IDF (EnergyPlus v22.2.0, macOS), EnergyPlus returns warnings for several items having less than 9 digits in the N27 Present Weather Codes fields. However, the EPW file has 9 digits for all 8760 items. See attached file.

[Archive.zip](https://github.com/NREL/EnergyPlus/files/9794966/Archive.zip)

###

[2022-10-17 15:26] shorowit opened #9710 "Autocalculated Cw factor for `ZoneVentilation:WindandStackOpenArea` appears wrong"
Issue overview
--------------
Originally posted on [Unmet Hours](https://unmethours.com/question/82533/question-about-cw-the-opening-effectiveness-factor-for-zoneventilationwindandstackopenarea/).

ASHRAE HOF:
![image](https://user-images.githubusercontent.com/5861765/196217962-5f8aa118-4e0e-43cc-bc69-6663a5ebb162.png)

EnergyPlus code:
https://github.com/NREL/EnergyPlus/blob/5b72c372e7302b3d9ab39

[2022-10-18 01:50] rraustad opened #9711 "Order of Sizing:System with different capacity control methods and AirloopHVAC objects causes differeneces in results"
Issue overview
--------------
A large user file shows a different answer when the order of the objects is changed. The underlying cause was differences in capacity control method in the Sizing:System objects. When the index for AirloopHVAC and Sizing:System objects does not line up, the GetCoilDesFlowT looks up the wrong capacity control method and the answer changes.

There are several things tha

[2022-10-19 19:24] aaron-boranian commented on #9706
- [ ] Units for m^3 not rendering correctly in EMS Application Guide's Table 2.7 for [Built-In Psychrometric Functions](https://bigladdersoftware.com/epx/docs/22-2/ems-application-guide/built-in-functions.html#built-in-psychrometric-functions), looks like an errant use of < sup> < /sup >. Didn't find this in other parts of the EMS Application Guide.

[2022-10-19 19:58] shorowit commented on #5360
One downside to addressing the 24:00 issue as proposed here is that it can be confusing when using daily or monthly reporting frequencies.

For example, if you request monthly output, the first timestamp would end up labeled as `2007/02/01 00:00:00`, which may come across as February data to many users. While many of us really dislike `2007/01/31 24:00:00`, it does at least better convey that it's

[2022-10-21 17:40] amirroth commented on #9200
This would be a fine time to address this issue. It's orthogonal to epJSON and the current setup is crazy. There are four different better ways and we should choose one and do it.

[2022-10-23 09:50] JimDirkes opened #9713 "AirDistributionUnit sizing overrides fan hard sizing"
Hard sizing fan airflow in an AirLoop is ignored when autosized ADUs total less than the fan's airflow.
--------------
It seems that (or it would be handy if) manually sized fan airflow was proportioned across ADUs per the autosized loads. That's not the case at the moment.
Alternatively, it would be handy if a warning was generated.

### Details
Using v9.4

[2022-10-24 09:59] ecoeficiente opened #9714 "Unexpected thermal losses in frame/dividers"
Issue overview
--------------
Thermal losses in windows become lower when adding frame/dividers with higher thermal conductance than the glazing, which is unexpected.

### Details
A more detailed explanation with sample files is posted in Unmet Hours: https://unmethours.com/question/82668/frame-and-dividers-unexpected-behavior/

[2022-10-24 12:46] mjwitte commented on #9713
When mixing user-specified sizes with autosizing, the user values should be entered the Sizing:Zone or Sizing:System objects, so that the rest of the sizing calculations are aware of these values. In this case, the The ADU sizing will be adjusted if the fan size is entered in the Sizing:System object, using the Flow/System method:
[code]
For the fan object, its autosized value will be reported alo

[2022-10-24 12:57] mjwitte commented on #9714
Based on a first read-through of the unmet hours thread, is it correct to qualify that this unexpected result occurs only when certain of the frame/divider inputs are zero?

[2022-10-24 13:21] JimDirkes commented on #9713
That's very good to know. Thanks, Mr. Wizard.

[cid:3ec0c489-d549-4666-9620-7142ee7cb12a]

James V Dirkes II, PE, BEMP, BCxP
Team Lead - Building Performance
616 450 8653
Foresight Management
https://fsmgmt.co/<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Ffsmgmt.co%2F&data=05%7C01%7Cdave.desilets%40siemens.com%7C3e007b536af74f30ca9e08da6a8a5566%7C38ae3bcd95794fd4addab42e1495d5

[2022-10-24 13:25] mjwitte commented on #9485
Fixed by #9486.

[2022-10-24 13:25] #9485 closed, assigned to jcyuan2020

[2022-10-24 13:28] #9407 closed, assigned to jcyuan2020

[2022-10-24 14:10] ecoeficiente commented on #9714
It seems so, according to Denis' tests.
However, frame/divider internal/external projections are not required to be >0 by E+.
A higher loss than a better glass should not be expected with 0 projection unless convective coefficients are lower by some reason or another explanation I cannot guess.

[2022-10-24 14:43] mjwitte commented on #9495
Fancoil units do not use setpoints; the coils operate to meet the load. This would require new EMS actuators, or possibly the AirloopHVAC:UnitarySystem could be changed to allow setpoint control when used as zone equipment. @rraustad ?

[2022-10-24 18:03] brgix commented on #9714
@mjwitte & @ecoeficiente : the _unexpected_ results occur when ALL of the _projection_/_depth_ variables (i.e. perpendicular to the glazing surface plane) are set to `0m`, as in @ecoeficiente's original .idf file:
[code]

Here, the only _geometric_ (or _dimensional_) variables that aren't set to `0m` are the frame and divider widths (200 mm !). All _dimensional_ variables in the __WindowProperty:F

[2022-10-25 15:50] TiejunWu opened #9716 "VRF Terminal Unit Supplemental Heating Coil Control"
Issue overview
--------------
For a non-heat recovery VRF outdoor unit that is connected to multiple VRF Indoor Terminals, when the VRF outdoor unit is working in cooling mode. For those zones that need heating, the VRF heating coil has 0 capacity output, which is expected since the outdoor unit is non-heat recovery. However, I expected that the supplemental heating coils in the terminal unit to b

[2022-10-25 16:44] rraustad commented on #9495
AirloopHVAC:UnitarySystem should already allow set point control for zone equipment.

[2022-10-25 17:07] mjwitte opened #9717 "PTAC inlet node not found error gets skipped"
Issue overview
--------------
User file with PTAC connected to a return plenum, failed with this cryptic error message:
[code]
With some trial and error trying to fix the input file and watching the debugger, the problem was finally traced to the PTAC inlet node not found, because the node had not been entered as an induced air node to the plenum.

This should have resulted in the following fatal

[2022-10-25 17:28] rraustad commented on #9713
The subtle problem with hard-sizing system air flow is auto sizing system components where the zone return air temp (i.e., light heat to return air) is based on autosized zone air flow and then the flow-weighted sum of zone return temp calculates the wrong system (coil) inlet temperature.

[2022-10-25 21:20] Nigusse commented on #9716
@TiejunWu The supplemental heater should be available and meet any remaining heating load whenever the main DX heating coil could not meet the total heating load of a zone. If the supplemental heating is behaving differently then it must be broken and it is a defect. Please provide a defect or an example file to look at.

[2022-10-26 21:10] Nigusse commented on #9716
@TiejunWu I ran the example file *VariableRefrigerantFlow_wSuppHeater_5Zone.idf*. I chose this example file because I have the results that I verified during addition of supplemental heaters to the VRF module. I don't see any problem in my previous and current results. See the plots below:

(1) SPACE4-1: the main DX heating coil meets the total heating requirements, thus no need for the supplement

[2022-10-27 17:31] rraustad opened #9721 "IDFVersionUpdater.exe is deleting the idd when the transition occurs in the transition folder"
Issue overview
--------------
When tying to update an older input file the IDFVersionUpdater.exe transition program is deleting the idds for the previous version and the new version when the transion folder is used. Running the transition program (Transition-V9-6-0-to-V22-1-0.exe) directly did not cause the idds to be deleted.

Work around: use a different folder to store and update the input file

[2022-10-28 07:14] TiejunWu commented on #9716
@Nigusse Thanks for the looking into this issue. With the same example file, I was trying to create a situation that the VRF outdoor unit receives both cooling and heating request from zone terminals. So I added a heat gain to SPACE5-1 to make it call for cooling in a cold day while other zones call for heating. Here is the modified IDF file. [VariableRefrigerantFlow_FluidTCtrl_wSuppHeater_5Zone_M

[2022-10-28 17:20] eringold commented on #9687
@amirroth?

[2022-10-28 17:28] amirroth commented on #9687
I think someone is working on this. I'll find out.

[2022-10-28 18:15] rraustad opened #9722 "CoolingPeakLoadType and LoadSizeType are incorrectly applied in system sizing"
Issue overview
--------------
Code review during an attempt to convert these parameters to enumerations shows that the global variables used to describe the type of sizing used for cooling coils and the type of load to size on, shown below, appear to be used incorrectly in code.

    // parameters for Cooling Peak Load TYpe
    constexpr int SensibleCoolingLoad(1);
    constexpr int TotalCoolingLo

[2022-10-28 20:16] rraustad commented on #9722
This is the only place in code I can find where these globals are mixed up.

[2022-10-28 20:41] jcyuan2020 opened #9724 "Total Outdoor Air by AirLoop table report unit errors"
Issue overview
--------------
It was reported that in the "Total Outdoor Air by AirLoop table, the units for "Natural Ventilation" and "Total Ventilation" are incorrect:
![image](https://user-images.githubusercontent.com/64040111/198728119-aed741ce-d9bc-4c44-97fc-31500d3e4a10.png)

The related code is in OutputReportPredefined.cc:
[code]

The last two lines should have unit in `[m3]` instead of `[

[2022-10-28 21:09] xixihaha1995 commented on #9691
@Myoldmopar
In terms of calling order,
can we make sure the `callback_begin_zone_timestep_before_set_current_weather` is called **before** `callback_end_system_timestep_after_hvac_reporting`?

Or can we make sure that **after** the **executation** of `callback_begin_zone_timestep_before_set_current_weather`, the  `callback_end_system_timestep_after_hvac_reporting` will start to execute?

[code]

[2022-10-31 23:32] lymereJ opened #9726 "PlantEquipmentOperation objects function of outdoor air conditions are not working for Plant Loops"
Issue overview
--------------
When changing the `PlantEquipmentOperation:HeatingLoad` object in the `5ZoneAirCooled.idf` model to a `PlantEquipmentOperation:OutdoorDryBulb` with a range lower limit to -70 deg C and an upper limit to 70 deg C (i.e., the equipment are always allowed to run) the boiler listed under the `PlantEquipmentList` object does not run. The same behavior has been observed with

[2022-10-31 23:43] lymereJ commented on #9726
Could this be link to https://github.com/NREL/EnergyPlus/issues/5153?

[2022-11-04 05:13] rraustad opened #9728 "Table reports use standard pressure instead of pressure at altitude"
Issue overview
--------------
Code review shows use of a hard-wired ambient pressure (STP) for zone RH and wet-bulb temperature (4 occurences in CollectPeakZoneConditions).

            compLoad.outsideWetBulb = PsyTwbFnTdbWPb(state,
                                                 CalcFinalZoneSizing(zoneIndex).CoolOutTempSeq(timeOfMax),
                                                 CalcFinalZ

[2022-11-04 12:47] rraustad commented on #9728
Results using StdBaroPress:

![image](https://user-images.githubusercontent.com/5778156/199976030-15e01822-b67b-4271-a14d-d425a547d09b.png)

[2022-11-07 23:26] xixihaha1995 opened #9730 "Python API: Multithreading Multiprocessing on Windows/Linux"
Issue overview
--------------
Hello @Myoldmopar! Based on https://github.com/Myoldmopar/EnergyPlusAPIDemos, the EnergyPlus-Python-API should be able to parallely run both in multithreading/multiprocessing.

However, I can only achieve the following:

- [x] ✅Parallel run on Ubuntu22 via multiprocessing
- [x] ✅Parallel run on Ubuntu22 via multithreading
- [x] ✅Parallel run on Windows 11 via multipro

[2022-11-08 16:17] cecile-accenta opened #9731 "Cooling limit capacity exceeded (with ZoneHVAC:IdealLoadsAirSystem object)"
Issue overview
--------------
I tried to put a cooling limit capacity to the object ZoneHVAC:IdealLoadsAirSystem on the idf input file but in the results the limit seems to be exceeded. I had no problem with the heating capacity limit.
The ZoneHVAC:IdealLoadsAirSystem is defined as:
[code]

(Remark: the problem is increased when there is heat recovery)

The TDS gives these results:
![image](https:

[2022-11-08 16:20] cecile-accenta commented on #9731
- IDF file : [building_final_cold_limit_capacity.idf.txt](https://github.com/NREL/EnergyPlus/files/9963130/building_final_cold_limit_capacity.idf.txt)
- EPW file : [eplusmtr.csv](https://github.com/NREL/EnergyPlus/files/9963132/eplusmtr.csv)

[2022-11-08 19:29] TiejunWu commented on #9123
@jmarrec
I tested the latest EnergyPlus release, the original example was able to run without fatal error.
However, I may have encountered a similar error with this [new example](https://github.com/TiejunWu/EnergyPlus-IDF-Files/blob/master/TestSlimSurface.idf).

For this example, I have two simple rectangular spaces stacked. The Ceiling/Floor between the two spaces are broken into 3 pieces by a sl

[2022-11-09 06:03] the-donn commented on #6509
In New Zealand we have required thermal bridge calculations using the Isothermal Planes approximation which area weights the heat transfer through framing and insulation portions of a wall for around 30 years.  However, as we examine mould formation and condensation risk, within a still 1 Dimensional calculation, making the modelling of these two parallel heat flow paths - accounting for the therm

[2022-11-10 22:21] yzhou601 opened #9732 "Using actuator Unitary System DX Coil Speed Value doesn't report correctly in the latest release"
Issue overview
--------------
I surprisingly found that whenever an EMS program using following speed level actuator will remove the output variables: ``Output:Variable,*,Cooling Coil Crankcase Heater Electricity Rate,hourly; !- HVAC Average [W]`` and ``Output:Variable,*,Cooling Coil Crankcase Heater Electricity Energy,hourly; !- HVAC Sum [J]`` from idd file, and a warning of requesting unexpected

[2022-11-11 06:24] lymereJ opened #9733 "Autosized source-side air flow rate for air-source HeatPump:PlantLoop:EIR:* object is negative"
Issue overview
--------------
The autosized source-side air flow rate of air-source `HeatPump:PlantLoop:EIR:*` objects is negative. Here's an excerpt of simulation outputs that shows that the air flow rate is negative (about -15 kg/s):

![image](https://user-images.githubusercontent.com/5149279/200971993-bc4c68ac-c167-48da-b5f0-77603f182bf0.png)

### Details
Some additional details for this issue

[2022-11-11 13:46] mjwitte commented on #9733
Possibly same as #8948?

[2022-11-11 16:00] lymereJ commented on #9733
Sure looks like it. I'll run the defect file from #8948 through #9734 to see where it stands.

[2022-11-11 19:46] yzhou601 commented on #9732
Unfortunately the issue is more than just one variable reporting, it seems latest E+ has broken the energy reporting at both coil object level (for both delivered energy and fuel consumption reporting) and unitary system level (for fuel consumption reporting).
![image](https://user-images.githubusercontent.com/32500275/201417852-54e4e052-ae66-481c-bfa3-ea44eac8eed7.png)
This is the reporting from

[2022-11-11 19:54] rraustad commented on #9732
Is there an example file that tests this actuator?

[2022-11-11 20:07] shorowit commented on #9732
Looks like there are three:
- EMSLoadBasedMultiSpeedDXCoilOverrideControl.idf
- EMSMultiSpeedHeatPumpOverrideControl.idf
- EMSSetpointBasedMultiSpeedDXCoilOverrideControl.idf

[2022-11-11 23:46] yujiex commented on #9706
- [ ] Equation formatting issue at the bottom of the [Sky Radiation Modelling](https://bigladdersoftware.com/epx/docs/22-1/engineering-reference/climate-calculations.html#sky-radiation-modeling) section in the engineering reference.

[2022-11-14 04:22] lymereJ commented on #8948
@jmarrec - I looked into this issue to make sure that #9733 wasn't a duplicate. I don't think it is, and along the way I found the following information:

- As @lincolnharmer pointed out, in order to autosize an `HeatPump:PlantLoop:EIR:*` you need a `Sizing:Plant` object, otherwise the equipment cannot be sized:
https://github.com/NREL/EnergyPlus/blob/5b72c372e7302b3d9ab39b73b55071027c6dd392/src/E

[2022-11-14 04:45] lymereJ commented on #9134
This should probably be considered as well for `HeatPump:PlantLoop:EIR:*` objects.

[2022-11-14 05:21] lymereJ commented on #9733
I don't think it's the same, I left a comment on the other thread.

[2022-11-14 14:32] #9707 closed, assigned to nobody

[2022-11-14 15:05] MatthewSteen commented on #7690
Relevant UnmetHours question. https://unmethours.com/question/84057/getset-default-cop-for-district-cooling-via-openstudio-sdk/

[2022-11-14 16:22] jcyuan2020 opened #9737 "v22.2 IDF Version Updater fails to recognize some forms of complex version numbers"
Issue overview
--------------
The IDF version updater program fails to recognize some complex version number, such as "8.9.0.001"---which is commonly seen in DesignBuilder edited files. When opening an IDF that contains "Version, 8.9.0.001;", the IDF Version Updater will show the following error messages and failed to update:
<img width="601" alt="image" src="https://user-images.githubusercontent.

[2022-11-15 13:53] EnergyArchmage opened #9738 "Hard crash in MixedAir.cc, vector using incorrect 1-based index"
Issue overview
--------------
Working a side project, was getting hard crash at this [line](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/MixedAir.cc#L682)  in MixedAir.cc.  Changing from using CompIndex to compNum appears to fix the problem. Like the pattern used above [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/MixedAir.cc#L653)

Also occurs [here](http

[2022-11-15 21:40] lymereJ opened #9739 "Performance curve input for HeatPump:PlantLoop:EIR:Heating objects used with a DualSetpointDeadband plant loop demand calculation scheme is incorrect"
Issue overview
--------------
When a `HeatPump:PlantLoop:EIR:Heating` object is used with a DualSetpointDeadband plant loop demand calculation scheme EnergyPlus currently uses the "high" temperature setpoint as the load side outlet setpoint. The "low" temperature setpoint should be used instead.

https://github.com/NREL/EnergyPlus/blob/4a85292a9c2c480dea9ffb11c03b8c63b16c9135/src/EnergyPlus/PlantL

[2022-11-15 22:07] lymereJ opened #9740 "Performance curve input for air-source HeatPump:PlantLoop:EIR:* objects using the same inlet/outlet source node is incorrect"
Issue overview
--------------
The second input of performance curves function of temperature for air-source `HeatPump:PlantLoop:EIR:*` objects that are using the same inlet/outlet source node is incorrect.  The following figure compares the OA DBT to the second input of the capacity performance curve of the `HeatPump:PlantLoop:EIR:Cooling` object included in the `PlantLoopHeatPump_EIR_AirSource.id

[2022-11-16 21:42] edwardv720 commented on #9252
@rraustad I agree RTF = PLR / PLF but in the code it's actually calculated as
`VRFRTF = min(1.0, (CyclingRatio / PartLoadFraction));`
and the CoolingPLR and CyclingRatio represent different things.

@rraustad @TiejunWu  I think we can look at things in another way.

In a timestep where the VRF is operating at part load (PLR <1) but not cycling (CyclingRatio=RTF=1), by taking the following equation

[2022-11-17 11:48] NicolaTerry opened #9742 "ZoneHVAC:Baseboard:RadiantConvective:Water problem unless unless the proportion of radiant energy falling on people is 0.3"
Issue overview
--------------
Since version 9.5, using ZoneHVAC:Baseboard:RadiantConvective:Water, the proportion of radiant heat falling on people is set in ZoneHVAC:Baseboard:RadiantConvective:Water:Design object  while the proportion of radiant heat falling on surfaces is set in the zone baseboard object. Regression tests with earlier versions indicate incompatible results unless the proportion

[2022-11-17 12:23] yuizi opened #9743 "epw file with holidays sometimes terminates with a "** Severe ** bad allocation" error"
Issue overview
--------------
I am running e+9.5 with exactly the same IDF, but sometimes I get errors.

I run e+ 9.5 on the command line as follows
[code]
Why does the error occur even if I run e+ under the same conditions?
I don't know the cause of the error at all, does anyone know what the cause is?

The files used for the calculations are attached.
[mydata.zip](https://github.com/NREL/EnergyP

[2022-11-17 16:09] #9706 closed, assigned to nobody

[2022-11-17 17:04] mjwitte commented on #9743
@yuizi Running in the debugger reveals that EnergyPlus is throwing a vector subscript error while processing the holidays in the epw file header. This type of error can produce unpredictable results when running the release exe.

The workaround for this is to remove the holidays from the epw header (or simply set the number of holidays to zero) and then  use `RunPeriodControl:SpecialDays` to defin

[2022-11-17 17:43] edwardv720 commented on #9252
I think this all stems from the fact that there's a missing PLR factor in the vrf.ElecCoolingPower calculation in the code.

While the actual cooling rate adjusted with the PLR (`vrf.TotalCoolingCapacity`) shows up in the COP calculations
https://github.com/NREL/EnergyPlus/blob/871b31f9c719b7d81f1bc7c97cd80dcd2679413c/src/EnergyPlus/HVACVariableRefrigerantFlow.cc#L1284-L1285

It isn't used in the

[2022-11-18 03:29] yuizi commented on #9743
@mjwitte Thank you for investigating the cause of the error and providing the workaround.
I have been having trouble finding the cause of the error for the past few days.
Thank you so much for your help.

[2022-11-18 15:04] #9726 closed, assigned to nobody

[2022-11-18 16:29] jcyuan2020 commented on #9252
This seems to be related to a recent helpdesk Ticket 16272 (and the ticket author @edwardv720 is obviously making some comments here). @rraustad If you are not currently actively working on this, would you mind if I take a look?

[2022-11-18 16:51] rraustad commented on #9252
Have at it. I was going to look at the code to check if HREIRAdjustment is all that is needed when VRFRTF = 1 (always equals 1 above min PLR) and the cooling load is less than the available capacity.

[2022-11-18 17:30] jcyuan2020 commented on #9252
Thanks! @rraustad

[2022-11-18 22:25] ChristopherCaradonna opened #9747 "Multispeed DX coils not following specified minimum flow rates with no cooling or heating load"
Issue overview
--------------
I am modeling a multispeed DX heat pump system (representing a variable speed commercial heat pump RTU). The fan operation is set to be continuous during operating hours, and cycling during non-operating hours. I am using the "AirLoopHVAC:UnitarySystem" system type.

For timesteps when no heating or cooling load is present, but the fan operation schedule is "continuou

[2022-11-18 23:01] rraustad commented on #9747
You might try specifying a value for the `No Load Supply Air Flow Rate Ratio` since if left blank the value will default to 1. Let us know if that fixed the problem.

    UnitarySystemPerformance:Multispeed,
    Zone Office WholeBuilding - Sm Office  - Story Ground RTU SZ-VAV Heat Pump Unitary System Performance, !- Name
      4,                                      !- Number of Speeds for Heating

[2022-11-21 00:06] ChristopherCaradonna commented on #9747
I think you are absolutely correct.

The problem (for me) appears to be that this field does not translate to the .idf from the OpenStudio .osm, where I do have the "Supply Air Flow Rate Method When No Cooling or Heating is Required" field specified in the unitary object. However, the "UnitarySystemPerformance:Multispeed" object does not appear to exist in OpenStudio, which I think makes this an O

[2022-11-21 17:22] hdou opened #9750 "2ZoneDataCenterHVAC_wEconomizer performance discrepancies between 22-2-0 and 8-6-0"
Issue overview
--------------
Run "energyplus -w USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw -r -x -d output 2ZoneDataCenterHVAC_wEconomizer.idf"

The East Data Center results in very high temperatures, much higher than the cooling setpoint 23C. Some examples:
[code]

[code]

Is this expected result - when the cooling setpoint is 23 C? Running the same simulation with version 8-6-0 gets seemingly

[2022-11-22 21:51] MatthewSteen commented on #9534
@jmarrec checking in on this issue to see if you have any updates after your initial investigation. Thanks.

[2022-11-22 22:10] jmarrec commented on #9534
Aside from doing very complicated things, like depending on libicu to infer the encoding (don't know if it would work and the computing cost associated to be honest), no.

Stick to ascii only characters has always been a recommendation. It's annoying, I know (but really time zones and encoding may be the worst part of any program)

[2022-11-23 04:13] Myoldmopar opened #9751 "Circular Include Detected"
Issue overview
--------------
 - [BaseGroundTemperatureModel.hh includes GroundTemperatureModelManager.hh](https://github.com/NREL/EnergyPlus/blob/3212070ad9d39a21d61bc705482e424f0694dec3/src/EnergyPlus/GroundTemperatureModeling/BaseGroundTemperatureModel.hh#L54)
- [GroundTemperatureModelManager.hh includes BaseGroundTemperatureModel.hh](https://github.com/NREL/EnergyPlus/blob/3212070ad9d39a21d61b

[2022-11-23 20:29] jcyuan2020 opened #9753 "Shadow export csv file contains an extra heading field that causes importing back crashing"
Issue overview
--------------
It was discovered that (at least in some scenarios?) that the shadow calculation export .csv file will/could produce an extra ",()" field at the end of the first line (the headings line):
<img width="288" alt="image" src="https://user-images.githubusercontent.com/64040111/203640403-f98f9d1b-4749-4a28-ba09-2648dbe45162.png">

This will cause EnergyPlus to crash when im

[2022-11-28 15:24] mitchute opened #9754 "Mac Build Warnings"
Issue overview
--------------

New (to me) build warnings on Mac

[code]

[code]

### Details
Some additional details for this issue (if relevant):
 - Platform: macOS 12.6.1
 - Version of EnergyPlus: d1b9c18b139e6648bfe87f2a672728d9e0c0d0a4

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list location of defe

[2022-11-28 15:30] nealkruis commented on #9754
I can look into this.

[2022-11-28 15:46] mitchute commented on #9754
Additional warnings:

[code]

[code]

[2022-11-29 17:52] #9728 closed, assigned to nobody

[2022-11-29 23:03] TiejunWu opened #9757 "Fatal Error when North Facing Wall and Window Azimuth differ only 0.1 Degrees"
Issue overview
--------------
In the attached example, I have window on a north facing wall with the following coordinates.

![image](https://user-images.githubusercontent.com/7797674/204665101-27970cea-233c-445f-9756-957cab81cecb.png)
![image](https://user-images.githubusercontent.com/7797674/204665193-4f9d760c-4efb-4b9c-a29d-5c3fd6407588.png)

The wall is not exactly north facing, but very close

[2022-11-30 00:25] #9704 closed, assigned to nobody

[2022-11-30 00:37] rraustad commented on #9704
Thank you @mjwitte.

[2022-11-30 16:00] Myoldmopar commented on #9732
When I try to debug  `in-dumbSpeedLevelActuator`, I first get a divide by zero because the number of heating speeds in the multispeed design object is set to zero in the IDF.  I tried setting that to a nonzero value and got an array out of bounds due to the heating coil node indices being zero.  I'm not sure if this is indicative of a problem with the IDF, or a problem with the EMS, or a problem w

[2022-11-30 16:32] rraustad commented on #9732
@Myoldmopar I can take a look now that you have piqued my curiosity.

[2022-11-30 16:38] jmaguire1 opened #9758 "Reduce minimum ambient temperature for HPWH operation"
Issue overview
--------------
When modeling HPWHs, E+ only allows the minimum temperature for HP operation to go as low as -5 C. This limit seems to be hard coded into the water heater code (see https://github.com/NREL/EnergyPlus/blob/0b1a165e0aa6b1f9fc88991c987673fdcd366dad/src/EnergyPlus/WaterThermalTanks.cc#L1537-L1544), so there doesn't seem to be any way to work around this. There are several

[2022-11-30 17:10] shorowit commented on #9758
The limit should be removed altogether; this was the approach taken for HVAC heating systems (see https://github.com/NREL/EnergyPlus/pull/6213 for example).

[2022-11-30 18:25] mjwitte commented on #6109
@lymereJ Regarding the NFP for this, have you considered the implementation details? There are other problems related to unitary systems and OA systems. @rraustad Has proposed one approach in https://github.com/NREL/EnergyPlus/pull/9029, but this not a perfect solution per this [comment](https://github.com/NREL/EnergyPlus/pull/9029/files#r698682112). I suspect the economizer feature will run into