[2018-07-12 01:36] mjwitte commented on #6539
Closed via #6764

[2018-07-12 01:36] #6539 closed, assigned to RKStrand

[2018-07-12 15:17] macumber opened #6834 "Bug in surface dot/cross product calculation"
Issue overview
--------------
Surfaces maybe have multiple co-linear points generated by intersection with other surrounding surfaces.  EnergyPlus's dot/cross product routines appear to only consider the first couple of points when computing the dot/cross product.  This can cause failures if the points considered all happen to be co-linear, even if the surface is not.  For example:

    BuildingSu

[2018-07-12 15:19] macumber commented on #6834
Defect file below:
[in.idf.txt](https://github.com/NREL/EnergyPlus/files/2189192/in.idf.txt)

[2018-07-12 17:08] macumber opened #6835 "No way to just convert IDF to JSON without running simulation"
Issue overview
--------------
I would like to use `energyplus -c my.idf` to convert an IDF to JSON.  However, when I do this, EnergyPlus also attempts to run a simulation.  This takes additional time and generates many unwanted files.  Can we add a way to only do the conversion and then exit?

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)

[2018-07-12 21:16] eringold commented on #6717
- [x] AvailabilityManager:HybridVentilation field 'Ventilation Control Mode Schedule Name' integer list not showing up in compiled documentation ([here](https://bigladdersoftware.com/epx/docs/8-9/input-output-reference/group-system-availability-managers.html#field-ventilation-control-mode-schedule-name)). However, the list can be found in the [documentation source tex](https://github.com/NREL/Ener

[2018-07-12 21:54] michael-okeefe commented on #6717
@eringold Thank you for the notification flag to make me aware of the issue on the HTML documentation side.

I believe I have a fix for this and will regenerate the web documentation as soon as I can get to it. Thank you.

[2018-07-13 17:08] michael-okeefe commented on #6717
@eringold I fixed the issue in the live web documentation (be sure to refresh your browser if it doesn't immediately show up). I've checked the check box in your report to close it out. Thanks again for bringing it to our attention.

[2018-07-13 18:31] #6827 closed, assigned to Myoldmopar

[2018-07-13 19:30] RKStrand commented on #6806
@Myoldmopar Well, that was an interesting trip down memory lane.  I traced this back to old IBLAST code which is borrowed from BLAST and the subroutine written by George Walton (completely with GOTOs everywhere--love it!).  I searched for both 7.238 and 7.283 and only found 7.238.  So, given that this is George's work, I'm actually inclined to believe that 7.238 is correct and not 7.283.  And the

[2018-07-13 19:34] Myoldmopar commented on #6806
Solid detective work.  I can see the problem in Blast in the 34th column of this line:
![image](https://user-images.githubusercontent.com/849824/42710470-c7461252-86a9-11e8-983c-63790f8858ac.png)

[2018-07-13 19:36] RKStrand commented on #6806
@Myoldmopar Hahaha!  Hilarious!! 😂😂😂

[2018-07-13 19:40] #6802 closed, assigned to nobody

[2018-07-13 19:55] Myoldmopar opened #6837 "Compiler warnings"
Issue overview
--------------
A couple issues seem to have popped back up with the latest library updates.  I didn't notice them initially but just saw them pop by during my build.  They are only on a leading edge version of GCC, not on CI, so CI won't show it...for now.

Need to basically redo these patches:
- https://github.com/NREL/EnergyPlus/commit/a3cbc0213fcfb9ad10702e761b9e830bd8dd0865#diff

[2018-07-13 20:33] Myoldmopar commented on #6729
@mbadams5 do you want to make another issue for the extra condensed fields?  Did you already?

[2018-07-13 20:34] #6729 closed, assigned to nobody

[2018-07-13 20:58] #6736 closed, assigned to nobody

[2018-07-14 02:43] Myoldmopar commented on #6502
Closed via #6813

[2018-07-14 02:43] #6502 closed, assigned to nobody

[2018-07-14 02:44] Myoldmopar commented on #5821
Closed via #6813

[2018-07-14 02:44] #5821 closed, assigned to Nigusse

[2018-07-14 18:53] RKStrand commented on #6476
Issue that didn't get fixed and will get fixed here noticed by Bereket:

"Just check documentation in a local build. The equation for the curve Curve:ExponentialSkewNormal, in output reference on page 2270 is incorrect. It should have been Z2 = [(exp(C3x) * C4x) - C1] / C2, instead of C3, C4 was entered is used."

[2018-07-14 18:57] RKStrand commented on #6476
That's in the Input/Output Reference

[2018-07-14 19:12] RKStrand commented on #6476
@Myoldmopar Upon building what is in develop, the problem is slightly different than reported by Bereket, but there is definitely a problem here with Z2 and in general it isn't as easy to read as before.  I will clean it up so that it shows up as described in the V8.9 I/O Ref.

[2018-07-14 19:49] RKStrand commented on #6476
@Myoldmopar Ok, this is just plain weird.  I'm not 100% certain what is going on or why I/O Ref wasn't compiling properly.  When I made a new branch from develop and then compiled the I/O Ref, there was clearly a problem in the ExponentialSkewNormal equation for Z2.  However, when I made changes and then looked to see what GitHub was saying was different, it showed several other changes in other E

[2018-07-14 20:41] RKStrand commented on #6517
There may be more of these.  I started doing a search on "as shown in equation" and found some other ones.  Will try to get all of these as part of this work.

[2018-07-15 14:39] Myoldmopar commented on #6598
Closed via #6805

[2018-07-15 14:39] #6598 closed, assigned to rraustad

[2018-07-17 01:31] RKStrand commented on #6517
Whoa--much bigger problem than I thought.  Something needs to be done here.

[2018-07-17 07:25] jmarrec commented on #5360
+100 on this issue.

This is by far my biggest pain when doing post-processing. Correctly parsing these super weird timestamps in python is by far my biggest bottleneck, and that includes opening both eplusout.csv **and** the SQLite database.

[2018-07-17 16:39] Myoldmopar commented on #6761
Closed via #6762

[2018-07-17 16:39] #6761 closed, assigned to rraustad

[2018-07-17 20:33] Nigusse opened #6842 "Incorrect temperature is used in CalcRadSysHXEffectTerm function"
Issue overview
--------------
CalcRadSysHXEffectTerm() function in LowTempRadiantSystem.cc uses fixed sizing temperature when it should be using actual water temperature value, which is already available in the function, when calculating Cp of water [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/LowTempRadiantSystem.cc#L5574-L5600). The DataGlobals::HWInitConvTemp and DataGl

[2018-07-17 21:28] Nigusse opened #6843 "OutdoorAirUnit crashes when used with steam heating coil"
Found two issues when using ZoneHVAC:OutdoorAirUnit with steam heating coil:

- [ ] Parent object steam flow rate autosizing problem. Steam flow rate  Steam mass flow rate  is calculated using liquid water density in the OutdoorAirUnit parent. Steam heating coils object volume flow rates are sized using saturated vapor. Conversion of vapor volume flow rate to mass flow rate should use vapor densit

[2018-07-17 22:06] RKStrand commented on #6842
@Nigusse That appears to be a strange bug, but a bug nonetheless.  I'm not sure how that happened, but I will definitely fix this.  I've assigned it to myself now, and I'll keep you posted as to when it is ready for review.  Thanks!

[2018-07-18 07:53] jmarrec commented on #5360
@jasondegraw wrote on this unmethours issue [here](https://unmethours.com/question/32769/suppose-i-have-100-variables-calculated-using-energyplus-and-i-want-to-print-the-100-in-10-csv-files-how-may-i-achieve-it/?comment=32826#post-id-32826):

I don't think the "problem" is `ReadVarsESO` only, since the SQL file suffers from the same problem. The problem is perhaps more what "makes internal sense i

[2018-07-18 12:38] JasonGlazer opened #6844 "User file generates error file showing fatal but no details"
Issue overview
--------------

The users file (see helpdesk #12912) creates an error file when running stock EnergyPlus 8.9.0:

[code]

But when rebuilding the same build in Visual Studio 2015 using the release version it runs fine and generates a long error file with lots of issues.

We need to correct the generation of the tiny and incomplete error file but it might be difficult to reproduce.

#

[2018-07-18 22:08] jasondegraw commented on #5360
@jmarrec I didn't indicate that there was a problem, so let's be clear on that first. The original question had to do with CSV so I logically confined my comment to CSV. Changes to ReadVars are still possibly in play for the next release, anything else is a much heavier lift. And again, we're happy to take contributions.

[2018-07-18 22:27] Myoldmopar commented on #6820
@rraustad would you be able to take a look at this as you start working on your next bug fixes?

[2018-07-19 00:04] Nigusse commented on #6843
When auto-sizing water cooling coil flow rate and the coil is part of ZoneHVAC:* equipment such as ZoneHVAC:OutdoorAirUnit, the variable CoilDesWaterDeltaT is undefined. As the results the water coil flow rate cannot be autosized.

[2018-07-19 13:50] Nigusse commented on #6843
Further testing showed that ZoneHVAC:OutdoorAirUnit crashes when steam heating coil is used instead of hot water heating coil due to missing to init steam coil outlet node.

[2018-07-19 13:55] mjwitte commented on #6835
@macumber Did you try setting everything in SimulationControl to "No"?

[2018-07-19 14:08] jmarrec commented on #5360
Note that I did put quotes around "problem", because I do realize that this thread is labeled "suggestion" and that everything is currently working as designed right now :)

I would still welcome your (plural=dev team members) thoughts on whether the change should be internal or just the output procedures, whether that would induce slow downs, etc. That'd help to clarify the roadmap and assess how

[2018-07-19 14:21] JasonGlazer commented on #5360
I would expect that this would be simply changes within EnergyPlus source code when writing output. As @mjwitte indicated near the top of the discussion, it would probably make sense to unify the output format so that it is consistent whenever used. A new Output: object or field would be needed and the idea of a command line option or environmental variable to override it is a good idea. Seems lik

[2018-07-19 16:20] MatthewSteen commented on #5360
I suggest changing EnergyPlus' default time and date format to [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), which is what [OpenStudio uses](https://github.com/NREL/OpenStudio/blob/3549a2c2955007d05e8aa55371fcf5ce1e6b2a27/openstudiocore/src/utilities/time/DateTime.hpp#L139-L149) (and probably supported by most programming languages).

An option to override this with a new object would probab

[2018-07-19 19:10] mdahlhausen commented on #6820
Here is an example file with the issue:
[fan_coil_fan_sizing_issue.zip](https://github.com/NREL/EnergyPlus/files/2211335/fan_coil_fan_sizing_issue.zip)
I think what's happening is the fan coil fan is defaulting to the zone ventilation size, when it should size to the maximum of the coil design air flow rates, and ignore the zone ventilation size if the fan coil doesn't provide outdoor air.  If the

[2018-07-19 19:23] rraustad commented on #6820
Yes I can. I think I already know that when there are 2 systems in the same zone and one uses outdoor air and the other does not, then FinalZoneSizing doesn't know which OA data goes where since there is only 1 FinalZoneSizing per zone. The work around is to hard size but the first sentence in the description says that is not an option.

[2018-07-19 19:53] mjwitte commented on #6820
@rraustad Just a guess but it's possible that the ERV is not clearing all of the sizing data flags after it finishes sizing.

[2018-07-19 19:57] mjwitte commented on #6820
A single FinalZoneSizing should be fine, the equipment needs to decide what data to grab from it.

[2018-07-19 20:05] macumber commented on #6835
That is a possibility, would still be preferable to not have to change the IDF though.  A command line switch would be my preference.

[2018-07-19 20:57] jasondegraw commented on #5360
@jmarrec I don't think those quotes mean what you think they mean. I didn't post my comment here because the UnmetHours question is related to this issue, but only partly (item 5 in @mjwitte's list of 6 items). There's much more to the issue than just the contents of the ESO and the SQL. If I had wanted to post it here I would have posted it here in the first place. Please don't do it again.

[2018-07-19 23:29] rraustad commented on #6820
@mjwitte is correct. ERV doesn't reset the sizing flags and fan coil calls the fan (during sizing) before setting them (at the end of sizing). So lingering sizing flags is a no-no. I have corrected that in #6753, at least partially, with new function resetHVACSizingGlobals (it's not applied to ERV). Simple fix just reset the flags in ERV. No workaround I can think of.

[2018-07-19 23:58] rraustad commented on #6820
Sizing after fix of restting data at very end of ERV sizing.

    // Reset zone equipment sizing data
    ZoneEqSizing(CurZoneEqNum).AirVolFlow = 0.0;
    ZoneEqSizing(CurZoneEqNum).OAVolFlow = 0.0;
    ZoneEqSizing(CurZoneEqNum).SystemAirFlow = false;
    ZoneEqSizing(CurZoneEqNum).DesignSizeFromParent = false;

    Component Sizing Information, Fan:OnOff, THERMAL ZONE: STORY 1 CORE SPACE ERV SUP

[2018-07-20 07:46] jmarrec commented on #5360
I really didn't want to cause any trouble to anyone. I consider that contributing starts with reporting and discussing issues, and that it's a **really** important part too: you can't fix bugs you don't know about, and having feedback from (real-world / industry) users seems like a good idea considering you're developing a product that is intended to find an audience.

Since the comment box on UH

[2018-07-20 13:38] mjwitte opened #6849 "Unit test failure in ReportSizingManager"
Issue overview
--------------
EnergyPlusFixture.HeatRecoveryHXOnMainBranch_SimHeatRecoveryTest fails in Windows debug run. `CoilDesWaterDeltaT` used without being initialized [here in ReportSizingManager](https://github.com/NREL/EnergyPlus/blob/2d029a9105e631b293db1cc4d3b6c052b5769b82/src/EnergyPlus/ReportSizingManager.cc#L3362).

Don't know if other unit tests will trip on this as well.

### Deta

[2018-07-20 13:43] Nigusse commented on #6849
@mjwitte I have addressed this problem in issue #6843.

[2018-07-20 22:35] mjwitte commented on #6849
Closed via #6850.

[2018-07-20 22:35] #6849 closed, assigned to nobody

[2018-07-21 01:27] rraustad opened #6851 "Multispeed gas heating coil crashes in UpdateDataandReport when speeds are > 1"
Issue overview
--------------
Defect file 6599 was tested for 2 speed heating operation and caused a crash in UpdateDataandReport.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from

[2018-07-21 01:34] rraustad commented on #6851
@mbadams5 I saw your name where this file crashed. Feel free to reassign. I don't know at this point if it's the defect file or code.

[2018-07-21 22:43] #6842 closed, assigned to RKStrand

[2018-07-21 22:43] Nigusse commented on #6842
closed via PR #6847

[2018-07-24 18:05] mjwitte commented on #6365
Closed via #6807

[2018-07-24 18:05] #6365 closed, assigned to lgu1234

[2018-07-25 14:43] mjwitte commented on #6476
Original problem was addressed in #6494. #6840 cleans up a different equation for Curve:DoubleExponentialDecay.

[2018-07-25 14:43] #6476 closed, assigned to RKStrand

[2018-07-25 15:21] mjwitte commented on #6574
@lgu1234 There is an initial fix in #6575 but I haven't gone back to confirm and add a unit test. Are you planning to complete this?

[2018-07-25 15:32] eringold commented on #6574
This might be related to https://github.com/NREL/EnergyPlus/issues/6492

Assuming "ZoneHVAC:ExhaustFan" is Fan:ZoneExhaust.

[2018-07-25 15:43] lgu1234 commented on #6574
@mjwitte I took a look at #6574 and have not started it formally. Since you have an initial fix, it is better for you to complete it. Thanks.

[2018-07-25 16:35] MMeshkinkiya opened #6856 "Connecting DIVA and EnergyPlus (Help wanted)"
Dear EnergyPlus developers team,

I am working on solar irradiation availability on building facades inside urban canyons. I already performed a couple of analysis with DIVA and at this stage need to insert the obtained solar radiation from diva into building heat balance calculations within EnergyPlus.

My main issue is that I am not familiar with FORTRAN coding language since I mainly work with

[2018-07-25 16:47] mjwitte commented on #6856
If you can get shading fractions from DIVA, or calculate them based on the incident solar, then you can use `SurfaceProperty:LocalEnvironment` " External Shading Fraction Schedule Name" to override the internal shading calculations. Or if you want to import shading fractions for the entire building, you can use `ShadowCalculation` "External Shading Calculation Method".

If you still want to modify

[2018-07-25 16:47] #6856 closed, assigned to nobody

[2018-07-25 17:53] jasondegraw opened #6857 "AFN wind angles in the EIO are incorrect for advanced single-sided natural ventilation"
Issue overview
--------------
The wind angles that are being output for advanced single-sided natural ventilation are the default angles (in increments of 30 degrees) rather than the higher-frequency angles for the feature (in increments of 10 degrees).

### Details
Some additional details for this issue (if relevant):
 - Version 8.9

### Checklist
Add to this list or remove from it as applicable.

[2018-07-25 21:33] mjwitte opened #6859 "Crash if an interzone surface has one construction as conduction finite difference and the other not"
Issue overview
--------------
User file had an interzone ceiling where one construction was set to be ConductionFiniteDifference but the reverse construction was not.  This needs to be trapped and throw an error message.

### Details
Some additional details for this issue (if relevant):
 - Platform Win64
 - Version of EnergyPlus v8.9.0 and v9.0 73281ffba3
 - Helpdesk ticket number 12889

### Check

[2018-07-25 22:51] mjwitte opened #6860 "Crash in table reports with SizingPeriod:WeatherFileConditionType as the only type of sizing period"
Issue overview
--------------
User file has two SizingPeriod:WeatherFileConditionType objects and not other sizing periods. Simulation crashes with an array bounds error in `CollectPeakZoneConditions` which is triggered by the ZoneComponentLoadSummary.

### Workaround
Disable the ZoneComponentLoadSummary report.

Or add a dummy design day like this one, but it's not clear if the ZoneComponentLoadS

[2018-07-26 01:25] mjwitte commented on #6517
Closed via #6845

[2018-07-26 01:25] #6517 closed, assigned to RKStrand

[2018-07-26 15:28] mjwitte commented on #6180
Closed via #6818

[2018-07-26 15:28] #6180 closed, assigned to lgu1234

[2018-07-26 17:43] Myoldmopar commented on #6381
Closed via #6781

[2018-07-26 17:43] #6381 closed, assigned to Nigusse

[2018-07-27 15:25] dmac000 opened #6863 "SpaceGainsMonthly report is missing from eplustbl.csv"
The SpaceGainsMonthly report isn't included in `eplustbl.csv` after upgrading to 8.9, but was there in 8.8.

After debugging, I see that `FindItemInVariableList` in `DataOutputs.cc` is now case-sensitive, but the output variables are created in mixed-case. Changing it back to make `VariableName` uppercase results in the report being created.

IDF: `1ZoneEvapCooler.idf` with these changes:

    Out

[2018-07-27 21:34] mjroth opened #6864 "ASHRAE Revised Clear Sky "tau" Model"
Issue overview
--------------
The ASHRAE "tau model" uses the original but obsolete coefficients for the air mass exponents from HOF 2009.  The last two updates (HOF 2013 and HOF 2017) have published improved coefficients.

The pertinent lines in WeatherManager.cc for ASHRAETauModel:
[code]

Should read:
[code]

### Details
Reference:  ASHRAE Handbook - Fundamentals, 2017, Chapter 14, pg. 14.10, e

[2018-07-28 02:03] Myoldmopar commented on #6843
No defect file?

[2018-07-29 02:25] Myoldmopar commented on #6792
Closed via #6804

[2018-07-29 02:25] #6792 closed, assigned to Nigusse

[2018-07-30 12:21] JasonGlazer opened #6865 "HVACTemplate/ExpandObjects Support with epJSON"
Since the EnergyPlus program can create a IDF file from an epJSON file when using the --convert option, what if the code used to detect when HVACTemplate objects are found in a file is called and if they are found the file is converted to idf (using a temporary file name) and expandobjects is called (on that temporary file), then the created expidf file is read back in just as an IDF file and exec

[2018-07-30 13:20] JasonGlazer commented on #6865
@mbadams5 do you see any obstacles to doing this?

[2018-07-30 13:53] Nigusse opened #6866 "Redundant lines of code in Heating Water flow Sizing"
When mixed use of DataGlobals::HWInitConvTemp and DataGlobals::CWInitConvTemp in sizing calculation was corrected some codes in RequestSizing became redundant like [here](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ReportSizingManager.cc#L1306-L1328) and can be consolidated. There could also be similar redundancy in other places. This is just code cleanup.

### Details
Some addi

[2018-07-30 15:53] RKStrand opened #6868 "Equation References Broken in Engineering Reference, Part 1"
Issue overview
--------------
Another recent defect noted that there was a missing equation reference in the Engineering Reference.  While this was fixed, it was also noticed upon further review that almost ALL of the equation references are missing in this document and have been since around V8.1 when things were moved from MS Word to text-based documentation forms.  This clearly needs to be fixe

[2018-07-30 16:31] mjwitte opened #6869 "Suggest using dummy matrix objects in scheduled surface gains example file CmplxGlz_SchedSurfGains"
Issue overview
--------------
Example file CmplxGlz_SchedSurfGains, uses `SurfaceProperty:SolarIncidentInside` and `ComplexFenestrationProperty:SolarAbsorbedLayers` objects to override all of the window solar calculations. So why does it include thousands of lines of detailed complex fenestration data?

Suggest replacing all of the `Matrix:TwoDimension` object in this example file with two simple

[2018-07-30 16:38] Myoldmopar commented on #6843
Closed via #6848

[2018-07-30 16:38] #6843 closed, assigned to Nigusse

[2018-07-30 16:43] #6803 closed, assigned to mbadams5

[2018-07-31 12:45] Myoldmopar commented on #4431
Closed via #6816

[2018-07-31 12:45] #4431 closed

[2018-07-31 13:52] mjwitte opened #6870 "Variable speed water-to-air heat pump example file showing non-zero Zone Air System Sensible Heating when the fan is off"
Issue overview
--------------
Hourly results for example file UnitarySystem_VSHeatPumpWaterToAirEquationFit show a small fixed value for Zone Air System Sensible Heating Rate when the fan is off. For example, look at column K, SPACE1-1:Zone Air System Sensible Heating Rate [W](TimeStep), for 07/21 from midnight to 9am, it's always 15.84 W, but the system 1 fan power is zero.  The four other zones

[2018-07-31 17:29] mjwitte commented on #4153
As of [this commit](https://github.com/NREL/EnergyPlusArchive/commit/15bb22b4d121c4a8c185243334b253bdbc8b6770) in April 2012, the liquid precipitation amounts in the epw file are not use for anything. Closing this, see #4714 for more details.

[2018-07-31 17:30] mjwitte commented on #4714
As of [this commit](https://github.com/NREL/EnergyPlusArchive/commit/15bb22b4d121c4a8c185243334b253bdbc8b6770) in April 2012, the liquid precipitation amounts in the epw file are not use for anything. Code was researched in response to [Unmethours 33199](https://unmethours.com/question/33199/precipitation-epw-vs-siteprecipitation/).

[2018-07-31 17:46] mjwitte opened #6871 "Plant equipment lists should support more than 10 pieces of equipment"
Issue overview
--------------
In the IDD, `PlantEquipmentList` and `CondenserEquipmentList` support up to 10 pieces of equipment. These objects are not marked extensible. The code supports any number of pieces of equipment, so this should be fixable by making the objects extensible.  Initial fix to be posted soon.

### Details
Some additional details for this issue (if relevant):
 - Version of Ene

[2018-07-31 20:50] rraustad commented on #6870
Happens all the way back to 8.1.0.9 where this example file was added. Wouldn't doubt it if this has been happening all along back to when these storage variables were added.

That report variable is represented here:

    SetupOutputVariable(
         "Zone Air System Sensible Heating Rate", OutputProcessor::Unit::W, SNLoadHeatRate(Loop), "System", "Average", Zone(Loop).Name);

    // SNLOAD is t

[2018-07-31 21:13] rraustad commented on #6870
End of Corrector also works but I am still concerned about missing where lagged energy gets saved when it's equated in HVACManager at line 405.

    SysDepZoneLoadsLagged = SysDepZoneLoads;

This example file has a lighting schedule that is never 0. With a lights to return fraction of 0.2. So doesn't that mean there will always be a storage component here? Maybe it is working correctly?

    Sched

[2018-07-31 21:18] mjwitte commented on #6870
@rraustad Well, if this has been around that long and nobody noticed, and it's in the heart of the heat balance, maybe this is best left for later.  Plenty of other issues to deal with.

[2018-07-31 21:37] Nigusse opened #6873 "Economizer fault model cooling and heating energy uses result look suspicious"
Run the example file (AirEconomizerFaults_RefBldgLargeOfficeNew2004_Chicago) with and without the economizer faults. The annual cooling electric energy use was 1761.68 GJ (without fault) and 1736.77 GJ (with fault). The annual cooling electric energy use decreased with fault. On the other hand the annual natural gas energy use increased from 5330.52 GJ (without fault) to 5333.41GJ (with fault). Lo

[2018-07-31 21:44] mjwitte opened #6874 "CoolingTower:VariableSpeed:Merkel calls recurring warnings incorrectly resulting in array bounds error"
Issue overview
--------------
User file crashes in debug build [here](https://github.com/NREL/EnergyPlus/blob/fee1ef0cf3e5a62b4436e44cbfbbed181dbc5282/src/EnergyPlus/UtilityRoutines.cc#L1854) because the `MsgIndex` argument in the call from [`CalcMerkelVariableSpeedTower`](https://github.com/NREL/EnergyPlus/blob/fee1ef0cf3e5a62b4436e44cbfbbed181dbc5282/src/EnergyPlus/CondenserLoopTowers.cc#L5763-L

[2018-08-01 12:57] Myoldmopar commented on #6422
Closed via #6778

[2018-08-01 12:57] #6422 closed, assigned to Nigusse

[2018-08-01 17:31] mjwitte commented on #6599
Closed via #6600

[2018-08-01 17:31] #6599 closed, assigned to rraustad

[2018-08-01 18:42] mjwitte opened #6875 "Transition from v8.8 to v8.9 is not always replacing output variable names"
Issue overview
--------------
User file fails with fatal error after transitioning from v8.8 to v8.9:
[code]

Transition-V8-8-0-to-V8-9-0 is not updating output variable names as it should for this file. Tested with example file 5ZoneWaterLoopHeatPump and there the variable name was changed as it should be.
The last version transition that had variable name changes was Transition-V8-5-0-to-V8-6-0

[2018-08-02 12:37] Myoldmopar commented on #5675
Closed via #6771

[2018-08-02 12:56] #5675 closed, assigned to Nigusse

[2018-08-02 16:40] nealkruis opened #6879 "Change curve type fields in ThermalStorage:Ice:Detailed"
Issue overview
--------------
While removing the curve type requirements in #6810, I noticed an undocumented change in meaning between two choices of 2D curve types. The keys for these fields could something like "ChargeFractionLMTD"/"LMTDMassFlow" and "DischargeFractionLMTD"/"LMTDMassFlow". There's precedent for this elsewhere like Chiller:Electric:ReformulatedEIR (Electric Input to Cooling Outpu

[2018-08-02 17:15] jasondegraw opened #6880 "Schedule:File accepts "Space" but not "Fixed" as a column separator"
Issue overview
--------------
The IDD says that Schedule:File accepts "Fixed" as a column separator, but that isn't the case. It accepts Comma, Tab, Space, and Semicolon:

https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/ScheduleManager.cc#L1692

### Details
Some additional details for this issue:
 - Version 8.9

### Checklist
 - [ ] Ticket added to Pivotal for defect (development te

[2018-08-02 17:57] Nigusse opened #6881 "Incorrect minimum OA amount when the Minimum Limit Type is FixedMinimum"
Issue overview
--------------
Incorrect minimum OA mass flow rate calculation when the OA controller Minimum Limit Type is  FixedMinimum. It uses the calculation method applicable for ProportionalMinimum. This was found while working on another bug issue #6796.

### Details
 - V8.9 (or even older versions)

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated

[2018-08-02 19:08] nealkruis opened #6882 "Make 2D glazing properties curve/table inputs consistent with other uses"
Issue overview
--------------
While removing the curve type requirements in #6810, there is use of a table object within `WindowMaterial:Glazing` that doesn't use the standard `CurveValue()` function (and requires a 2D table).

The fields in the IDD are:

[code]

These fields should be used consistent with the other Table/Curve uses.

### Checklist
Add to this list or remove from it as applicable.

[2018-08-02 19:14] nealkruis opened #6883 "Make outputs for curve inputs an array"
Issue overview
--------------
Instead of CurveOutput1, CurveOutput2, ... CurveOutputN; make std::vector<Real64> CurveOutput for more efficient looping (e.g., [here](https://github.com/NREL/EnergyPlus/pull/6810/commits/ab0cf6b87a07a9fce1665e6d78da1f77071f4304#diff-6bab88f88cad01231c7611b162099cdaR3119)).

Related to #6810.

### Checklist
Add to this list or remove from it as applicable.  This is a

[2018-08-02 19:23] nealkruis opened #6884 "Remove curve type dependence in DX Coils"
Issue overview
--------------
VRF coils use coefficients from curves rather than the evaluation of curves for `VRFOU_TeTc()` in [HVACVariableRefrigerantFlow.cc](https://github.com/NREL/EnergyPlus/blob/develop/src/EnergyPlus/HVACVariableRefrigerantFlow.cc). This makes it impossible to generalize the curve types (e.g., lookup tables) for VRFs per #6810.

See discussion [here](https://github.com/NREL

[2018-08-03 21:27] sajithjay commented on #6081
How to avoid this issue in BEopt when updating an old BEopt case (2.3.0.2) in a new version (2.8)? Has there been a discussion?

[2018-08-04 02:59] RKStrand opened #6888 "Equation References Broken in Engineering Reference, Part 2"
Issue overview
--------------
Another recent defect noted that there was a missing equation reference in the Engineering Reference. While this was fixed, it was also noticed upon further review that almost ALL of the equation references are missing in this document and have been since around V8.1 when things were moved from MS Word to text-based documentation forms. This clearly needs to be fixed

[2018-08-06 18:54] lgu1234 commented on #6278
@mjwitte I looked at Item 1. Here are my opinions.

CalcZoneSums is called 2 times. One is called by the predictor, and the other is called by the corrector. The following sums are calculated:
                     Real64 &SumIntGain, // Zone sum of convective internal gains
                      Real64 &SumHA,      // Zone sum of Hc*Area
                      Real64 &SumHATsurf, // Zone sum of Hc*

[2018-08-06 19:18] mjwitte commented on #6278
@lgu1234 Is this true for surfaces with radiant heating systems? If I remember correctly, those system types call updates to the surface heat balance, so H and T could change between predictor and corrector.

[2018-08-06 19:31] lgu1234 commented on #6278
@mjwitte I am not sure. I can assume radiant heating systems will be changed during HVAC simulations. It is better to call surface heat transfer twice.

[2018-08-07 18:02] rraustad opened #6892 "UnitarySystem set point based control of humidity not working correctly"
Issue overview
--------------
Testing of new AirLoopHVAC:UnitarySystem shows incorrect logic when checking for outlet humidity level.

Line 10766 of UnitarySystem.cc

    if (PartLoadFrac == 0.0) {
        OutletHumRatDXCoil = NoLoadHumRatOut;
    } else {
        OutletHumRatDXCoil = DataLoopNode::Node(OutletNode).HumRat;
    }

However, SolveRoot iterates on PLR via function DOE2DXCoilResidual (

[2018-08-08 13:00] rraustad opened #6894 "AirloopHVAC:UnitarySystem with heat exchanger assisted cooling coil shows sensible part-load calculation failed, part-load ratio limits exceeded"
Issue overview
--------------
Example file 5Zone_UnitarySystem_HXAssistedCoil shows many errors in V8.9.

Program Version,EnergyPlus, Version 8.9.0-40101eaafd, YMD=2018.08.08 08:55,
   ** Warning ** ProcessScheduleInput: Schedule:Constant="SUPPLY AIR HUM RATE SCHEDULE", Blank Schedule Type Limits Name input -- will not be validated.
   ************* Beginning Zone Sizing Calculations
   **********

[2018-08-08 13:20] rraustad opened #6895 "UnitarySystem example files show schedule error and improper Output:Variable reports for coil type"
Issue overview
--------------
Review of results for three example files:

5Zone_Unitary_HXAssistedCoil
5Zone_Unitary_VSDesuperheater
5Zone_Unitary_VSDesuperheatWaterHeater

show requested variables not available.

   ************* Key=*, VarName=COIL SYSTEM COMPRESSOR SPEED RATIO, Frequency=Hourly
   ************* Key=*, VarName=COOLING COIL BASIN HEATER ELECTRIC POWER, Frequency=Hourly
   *******

[2018-08-08 15:13] rraustad opened #6896 "Example file 5Zone_Unitary_HXAssistedCoil shows very cold cooling coil outlet temperature in winter when the coil is off."
Issue overview
--------------
Review of results show that it appears that the cooling coil is on when not needed even though the coil report of sensible cooling rate shows 0 in winter. Report variables shown are for the Coil:Cooling:DX:VariableSpeed coil model. This cooling coil is wrapped with a HX so not sure if that has something to do with these results. All coils in this model are controlled

[2018-08-08 15:49] kbenne opened #6897 "EnergyPlus fails clang's "undefined" sanitizer"
If you compile EnergyPlus using clang and enable the undefined behavior sanitizer, the program will fail with the following information.

The is true on Mac OS X, but likely on other systems.

[code]

If you inspect frame 4 in the stack at Array.hh:2559 the following code is in scope.

[code]

Inspection in the debugger reveals that data_ has the value of  0x0000000000000000 and then attempt to sh

[2018-08-08 15:51] kbenne commented on #6897
Here is the compiler flag to enable the sanitizer.

<img width="585" alt="screen shot 2018-08-08 at 10 50 23 am" src="https://user-images.githubusercontent.com/707488/43848609-f0b2f55c-9af8-11e8-9b10-c62c1c7939d1.png">

[2018-08-08 16:24] brianlball opened #6898 "Multiyear Scheduling"
Need ability to run multiyear (including mid year start and end dates) run periods with schedulefiles.  Use cases are calibration runs with metered data that spans multi/mid years.  Currently schedulefiles are limited to 8760 and must start at jan 1.  would be great if these constraints could be relaxed.

[2018-08-08 16:26] asparke2 commented on #6898
Agree.  Another use case I have run across is model predictive control.

[2018-08-08 16:28] mjwitte commented on #6831
Duplicate of #6601 [this comment](https://github.com/NREL/EnergyPlus/issues/6601#issuecomment-377024207). Closed via #6832.

[2018-08-08 16:28] #6831 closed, assigned to nobody

[2018-08-08 17:14] mjwitte opened #6899 "Stray test strings showing in EquipmentSummary Fans table for fan sizing peak day and time"
Issue overview
--------------
Noticed strange design day and time showing in EquipmentSummary report, Fans subtable:

![image](https://user-images.githubusercontent.com/4991075/43852375-ac989aac-9b02-11e8-8970-36f3989b07ac.png)

[This code](https://github.com/NREL/EnergyPlus/blob/388f60e37b098ffeb933af1a4f2ae94fb448697f/src/EnergyPlus/ReportSizingManager.cc#L423-L425) slipped in here in https://gi

[2018-08-08 20:24] mjwitte commented on #6717
- [x] Input Output Reference, typo in PlantComponent:UserDefined, after Number of Plant Loop Connections, next heading starts with "FeildSet:".

[2018-08-09 00:53] rraustad commented on #6109
I found this [here](http://hvac-talk.com/vbb/showthread.php?478472-Economizer-Sequence-of-Operation).

You shouldn't control DX by AHU supply temp. I know engineers write up this junk because they don't have to replace compressors 3 years later. The dampers must remain closed any time the DX is on. Your OA may be cooler than the return air but the TXV needs the load to control right and not flood

[2018-08-09 02:37] rraustad commented on #6874
This one is set up correctly and has a variable for count and a variable for index. The developer just chose to print out the standard warnings only if count < 1. So anywhere the index is incremented, delete that line of code.

    if (SimpleTower(TowerNum).CoolingTowerAFRRFailedCount < 1) {
        ++SimpleTower(TowerNum).CoolingTowerAFRRFailedCount;
        ShowWarningError("CoolingTower:Variabl

[2018-08-09 02:48] rraustad commented on #6874
Can't think of a way to protect ShowRecurringWarningErrorAtEnd since that function doesn't know if the developer inadvertently incremented the index and now that index is pointing to a different warning but IS within the range of RecurringErrors.size(). You could protect against passed index > RecurringErrors.size() and show a developer warning but you won't be able to protect against the incremen

[2018-08-09 02:55] rraustad commented on #6874
It's just those 2 places.

[2018-08-09 04:04] rraustad commented on #6874
Think I have a way to protect this.

    *************  ** Warning ** CoolingTower:VariableSpeed:Merkel "CNDW_LOOP COOLINGTOWER1" - Iteration limit exceeded calculating air flow ratio error continues. air flow ratio statistics follow.
    *************  **   ~~~   **   This error occurred 195 total times;
    *************  **   ~~~   **   during Warmup 0 times;
    *************  **   ~~~   **

[2018-08-09 04:23] rraustad commented on #6874
If you don't think your getting your message across, put a little redundancy in the message...

    ** Warning ** Processing Monthly Tabular Reports: EnergyConsumptionElectricityNaturalGasMonthly
    **   ~~~   ** ..Variable name=GAS:FACILITY not valid for this simulation.
    **   ~~~   ** ..Variables not valid for this simulation will have "[Invalid/Undefined]" in the Units Column of the Table R

[2018-08-09 04:35] rraustad commented on #6874
Getting closer:

    ** Warning ** Developer error in ShowRecurringWarningAtEnd index. Please notify EnergyPlus support team. Message passed =  ** Warning ** CoolingTower:VariableSpeed:Merkel "CNDW_LOOP COOLINGTOWER1" - Iteration limit exceeded calculating air flow ratio error continues. air flow ratio statistics follow.

[2018-08-10 13:49] rraustad commented on #6874
See PR #6901.

[2018-08-10 15:32] eringold commented on #6717
- [x] Input Output Reference, typo in Daylighting:ReferencePoint: "Guidelines for Daylighting Modeling Ssing the SplitFlux Method": https://github.com/NREL/EnergyPlus/blob/13627153888d3ac71645178a674491bc8151b8b6/doc/input-output-reference/src/overview/group-daylighting.tex#L215

[2018-08-10 16:06] shorowit commented on #6717
Issues noticed with [EvaporativeCooler:Direct:ResearchSpecial](https://bigladdersoftware.com/epx/docs/8-9/input-output-reference/group-evaporative-coolers.html#evaporativecoolerdirectresearchspecial):

- [x] Field: Recirculationg Water Pump Design Power -- typo
- [x] Two fields (Recirculating Water Pump Design Power and Water Pump Power Sizing Factor) have references to `Secondary Design Air Flow

[2018-08-10 19:10] mjwitte commented on #6707
I see this as more of a defect. Other systems such as unit heater were upgraded a while back to do a proper cycling fan (operating just long enough to meet the load in a given timestep).
Also, when operating with variable flow fan, the pump power stays at full power. Seems it should vary or have an option to vary.
See [unmethours 33251](https://unmethours.com/question/33251/why-my-zone-have-heatin

[2018-08-12 03:42] DeadParrot commented on #6897
This is tripping on a pointer offset hack used to save an operation on each Array `operator()` lookup that used to give a small but measurable performance boost. The sanitizer is correct that the pointer can be out of bounds, which is undefined behavior even though it is never used to access an out of bounds element.

The ObjexxFCL43 branch eliminates this issue by eliminating the pointer offset u

[2018-08-12 22:35] jasondegraw commented on #6898
There's a related issue in #4154, there's a general lack of capability in doing multi-year scheduling. There are probably EMS solutions, but it makes more sense to me to add the ability to input multi-year schedules in schedule files and in the IDF. @JasonGlazer, do you have any thoughts?

[2018-08-13 12:27] JasonGlazer commented on #6898
I think we need to be careful with how the year is included. Most users of EnergyPlus in most use cases, utilize typical weather files which do not have specific years associated with them. It is already a somewhat confusing topic since most of the typical weather files are made up of months from different actual weather years. We should try not to make it any more confusing when a year is mention

[2018-08-13 13:33] mjwitte commented on #6898
Actual years and start day validation will be introduced with #6478 [modifications to RunPeriod](https://github.com/NREL/EnergyPlus/pull/6478/files#diff-38f7e3f8a464288a615843b843ce0ff1R25), so that can be assumed here. The input changes should be relatively minor for this. The bigger lift will be in the schedule manager to align data and dates. Ideally, Schedule:File should support an optional da

[2018-08-13 13:43] mjwitte opened #6903 "Old fan objects - time to tag obsolete?"
Issue overview
--------------
Fan:SystemModel was developed to replace Fan:OnOff, Fan:ConstantVolume, Fan:VariableVolume, and FanPerformance:NightVentilation. It was added in v8.7 (March 2017).

Is it time to mark the old fan objects as obsolete and plan to remove them in v9.1 or 9.2?

While testing the new fan energy index output, noticed that FanPerformance:NightVentilation is not used in any ex

[2018-08-13 15:00] jasondegraw commented on #6903
@mjwitte I'd personally prefer that we wait to make that move until after there is full AirflowNetwork support for the new fan object. (see #6642)

[2018-08-13 15:02] Nigusse opened #6904 "Invalid key is set as default for Season input field in UtilityCost:Charge:Block object"
Issue overview
--------------
The season input field in UtilityCost:Charge:Block object does not have "Season" as one of its key choices but the default value is set to "Season".  Probably default should have been "Annual", instead. This is IDD defect.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an in

[2018-08-13 15:06] rraustad opened #6905 "CoolingTower:VariableSpeed:Merkel fails sizing when Performance Input Method = UFactorTimesAreaAndDesignWaterFlowRate"
Issue overview
--------------
User file for HelpDesk Ticket 12968 fails to size free convection regime tower UA because the Free Convection Nominal Capacity input is blank. This field should not be needed when Performance Input Method = UFactorTimesAreaAndDesignWaterFlowRate. The use of local variables to store specific input field data also leads to confusion for when one input field is autosized

[2018-08-13 15:18] mjwitte commented on #6903
@jasondegraw Didn't realize that was missing. So, that needs to come first.  Is that a big lift?

[2018-08-13 15:45] jasondegraw commented on #6351
@jessecambon Apparently we didn't have a "weather" label so I didn't see this when you reported it. I've fixed that and I've reported this upstream, so I'm going to close this issue here. Thanks for the report, let us know if you encounter other issues.

[2018-08-13 15:45] #6351 closed, assigned to nobody

[2018-08-13 18:29] xuanluo113 opened #6906 "Report Heat Emission from Buildings"
Issue overview
--------------
Heat emissions from buildings are a crucial component influencing urban microclimate, e.g., urban heat island effect and climate change. However, this component has never been reported in EnergyPlus. We propose to calculate the heat emissions from buildings with a bottom-up approach using the EnergyPlus and set them as reportable variables. The heat emissions from a b

[2018-08-13 22:16] jasondegraw commented on #6903
@mjwitte I think it'd be a medium-sized lift, @lgu1234 do you agree?

[2018-08-13 23:43] lgu1234 commented on #6903
@jasondegraw Yes. I agree.

[2018-08-14 11:15] mjwitte opened #6907 "Example file CmplxGlz_Daylighting_SouthVerticalVB45deg warmup convergence error"
Issue overview
--------------
CmplxGlz_Daylighting_SouthVerticalVB45deg.idf with Chicago O'Hare weather has warmup problems.
[code]
The space is unconditioned on Jan 1, so it's floating, and for some reason it's oscillating ever-so-slightly with small changes in surface temps and window heat gain that keep getting closer with each day, but clearly bouncing to one side then the other and back. Don'

[2018-08-14 12:40] mjwitte commented on #6864
True, but the coefficients for the air mass exponents are not the only thing that changed.  All of the location-specific data for TauB and TauD also changed. For example, from handbook Ch14, Table 1 for Atlanta, GA, here are taub, taud, and the results of an example calulation for Atlanta:
2009 HOF July taub=0.556, taud=1.779, Eb=751 W/m2, Ed=220 (at solar noon) 737/215 at 3pm EDT
2013 HOF July ta

[2018-08-14 16:49] michael-okeefe commented on #6717
Just noticed this one in [Output Details and Examples / eplustbl.&lt;ext&gt;](https://bigladdersoftware.com/epx/docs/8-9/output-details-and-examples/eplustbl-lt-ext-gt.html#utilitycosttariff):

- [x] False statement: "The use of UtilityCost:Tariff objects automatically generates two reports related to the calculation of annual utility costs" but according to [this unmet hours issue](https://unmeth

[2018-08-14 17:40] RKStrand opened #6909 "Equation References Broken in Engineering Reference, Part 3"
Issue overview
--------------
Another recent defect noted that there was a missing equation reference in the Engineering Reference. While this was fixed, it was also noticed upon further review that almost ALL of the equation references are missing in this document and have been since around V8.1 when things were moved from MS Word to text-based documentation forms. This clearly needs to be fixed

[2018-08-14 20:00] MatthewSteen opened #6910 "Incorrect severe error message in CondenserLoopTowers.cc"
Issue overview
--------------
The following error message is incorrect/confusing to users.

https://github.com/NREL/EnergyPlus/blob/7caa7447ba09ea0b7926718477b0a8719c4aafd2/src/EnergyPlus/CondenserLoopTowers.cc#L3245-L3252

The last line should be changed to match the check in the first line.

`TrimSigDigits(SimpleTowerInlet(TowerNum).DesInletAirWBTemp, 2) + " C.");`

### Details
Some additional d

[2018-08-14 22:53] mjwitte commented on #6864
Closed via #6891

[2018-08-14 22:53] #6864 closed, assigned to Nigusse

[2018-08-17 15:34] mjwitte opened #6912 "AirflowNetworkAdvanced_SingleSided_NV crashes after AFN multi-airloop changes"
Issue overview
--------------
Crashing [here](https://github.com/NREL/EnergyPlus/blob/d79a0f2f2cd90a2d57a44b3b3ceefbc05d87a0f3/src/EnergyPlus/AirflowNetworkBalanceManager.cc#L476) due to uninitialized `AFNSupplyFanType`. Looks like some of this code needs to be inside the airloop for loop?

### Details
Some additional details for this issue (if relevant):
 - Platform Win64
 - Version of EnergyPlus

[2018-08-17 16:39] mjwitte opened #6913 "No example files currently use MeetDaylightIlluminanceSetpoint window shading control type"
Issue overview
--------------
In order to confirm the changes in #6421 the combination of SwitchableGlazing with MeetDaylightIlluminanceSetpoint is important to have in the test files, because this is supposed to adjust the window darkness as a group instead of sequentially. All of the existing test files that currently have SwitchableGlazing use OnIfHighGlare and only apply this to a single windo

[2018-08-19 21:29] mjwitte opened #6916 "Stray semi-colon cause infinite loop in IdfParser"
Issue overview
--------------
User file has a stray semi-colon by itself between complete objects. This results in an infinite loop [here](https://github.com/NREL/EnergyPlus/blob/d79a0f2f2cd90a2d57a44b3b3ceefbc05d87a0f3/src/EnergyPlus/InputProcessing/IdfParser.cc#L202-L220) in IdfParse that just keeps chugging away eating more and more memory as it goes. Reproduced with a smaller example file.

[1

[2018-08-19 21:37] mjwitte commented on #4560
Cannot reproduce these errors with version 9.0.0-d79a0f2f2c It appears this may have been fixed in #4756.

[2018-08-19 22:00] mjwitte commented on #4694
Strike that past comment, this issue is still open. Defect files were failing due to other problems. Fixed files still show fluid cooler errors. Updated defect files added to EnergyPlusDevSupport\DefectFiles\...

[2018-08-19 22:04] mjwitte commented on #4694
<sigh> Reopened the wrong issue.

[2018-08-19 22:04] #4694 closed

[2018-08-19 22:05] mjwitte commented on #4560
Strike that past comment, this issue is still open. Defect files were failing due to other problems. Fixed files still show fluid cooler errors. Updated defect files added to EnergyPlusDevSupport\DefectFiles...

[2018-08-20 14:11] rraustad opened #6917 "Table report for Input Fields is now all 0's since the input processor was converted to Json"
Issue overview
--------------
Input Field sub-table in the Object Count Summary report has all zeros.

![inputfields](https://user-images.githubusercontent.com/5778156/44345535-a1e93b80-a461-11e8-9625-38f47aae6d2e.jpg)

A code search for these fields show they are no longer processed:

    PreDefTableEntry(pdchFieldCntVal, "IDF Objects", iNumberOfRecords);
    PreDefTableEntry(pdchFieldCntVal, "De

[2018-08-20 16:55] nmerket commented on #6589
It seems like this has stalled out a bit. @jasondegraw brought up that there are issues with the HDF5 library.

I'd like to throw out the idea of outputting to the [Apache Parquet](https://parquet.apache.org/) format instead. I'm doing work with large batches of EnergyPlus simulations and analyzing the time series results is becoming increasingly important and more of a bottleneck on file i/o from

[2018-08-20 19:48] jasondegraw commented on #6589
@nmerket I didn't look too hard so maybe I'm missing something, but it looks like boost is one of the dependencies of the C++ library.

[2018-08-20 19:49] nmerket commented on #6589
I haven't looked very deeply into it either, but it does appear that way. Is Boost going to be a problem?

[2018-08-20 19:54] jasondegraw commented on #6589
Yes, it is. Will the output changes in #6192 do anything to help your bottleneck?

[2018-08-20 19:59] nmerket commented on #6589
Even if it's part of a third party library? It seems like we're okay with it on a project level already.

Msgpack is interesting. That might work. It just seems like an overly generic format when there are others (like parquet) that are more geared towards tabular numeric data.

[2018-08-20 20:37] jasondegraw commented on #6589
The small piece we have will hopefully be removed in the future.

I don't know much about CBOR or MessagePack, but it does superficially seem like it could help with your application. There are also possible solutions with an expanded API, let's make sure that output is part of those discussions going forward.

[2018-08-21 15:44] mjwitte opened #6919 "Blank report name in Output:Table:SummaryReports results in fatal error with no error message identifying the problem"
Issue overview
--------------
This object
[code]
results in this error file
[code]

Help desk ticket 13045 has blank meter names in Output:Table:Monthly and Output:Table:Annual

Output:Table:Monthly,
  Overall HVAC System Energy,  !- Name
  3,                       !- Digits After Decimal
  Cooling:Electricity,     !- Variable or Meter 1 Name
  SumOrAverage,            !- Aggregation Type for Vari

[2018-08-21 19:57] rraustad opened #6920 "CoilSystem:Cooling:DX model with variable speed cooling coil shows poor RH control"
Issue overview
--------------
Defect file shows poor RH control with VS cooling coil. Used DXCoilSystemAuto example file and changed coil type to Coil:Cooling:DX:VariableSpeed. Humidistat is set at 50%.

![image](https://user-images.githubusercontent.com/5778156/44425782-dab90b80-a55a-11e8-8eb9-69a1fe930829.png)

### Details
Some additional details for this issue (if relevant):
 - Platform (Operat

[2018-08-21 20:11] rraustad commented on #6920
Modified code looks much better now...

![image](https://user-images.githubusercontent.com/5778156/44426515-d55cc080-a55c-11e8-946d-7b6a6d3bd6b1.png)

[2018-08-22 14:49] MMeshkinkiya opened #6921 "Using measured solar irradiation in EnergyPlus"
Dear EnergyPlus developer team,

I am wondering if anyone has any experience of using measured solar irradiation on vertical surfaces instead of default EnergyPlus calculations.
I have a data set of measured solar irradiation on 90 degree tilts and would like to know whether it is possible to replace this data in EnergyPlus calculations.

Thank you in advance,
Maryam.

[2018-08-22 14:54] Myoldmopar commented on #6921
Hi @MMeshkinkiya.  The issues pages here on the Github repo are really more suited for when someone finds a defect or requests a new feature in EnergyPlus.  I would suggest closing this and instead asking the question over on the unmethours.com forum, where you will get not just developer responses, but user-to-user help as well.

[2018-08-22 16:01] #6921 closed, assigned to nobody

[2018-08-23 18:59] mjwitte commented on #6834
@lgu1234 It appears this was addressed by #6853, correct?

[2018-08-23 19:05] mjwitte opened #6923 "WindowShadingControl Followup"
Issue overview
--------------
Followup items from #6421. See [comment here](https://github.com/NREL/EnergyPlus/pull/6421#issuecomment-415511303).

- [x] 1. Update new example file PurchAirWithDaylightingAndShadeControl.idf
- [x] 2. Investigate and correct glare control shade sequencing.
- [x] 3. DaylightingManager now needs clear_state to clear vectors created in CreateShadeDeploymentOrder. Unit t

[2018-08-23 19:09] lgu1234 commented on #6834
@mjwitte Yes. You may close it.

[2018-08-23 19:09] mjwitte commented on #6834
Closed via #6853

[2018-08-23 19:09] #6834 closed, assigned to lgu1234

[2018-08-23 19:12] JasonGlazer commented on #6923
@mjwitte thanks for getting this started

[2018-08-24 11:38] jmarrec opened #6925 "Coils report "Zone Name(s)" should include more system types"
Issue overview
--------------

CoilSizingDetails > "Coils" shows 'Zone Name(s)' as N/A for a lot of systems.
A cursory look at source code seems to indicate that it's properly handled for Coils that are on AirLoopHVACs only.

It would be nice if for eg the cooling coils inside a ZoneHVACFourPipeFanCoil would also show the zone they serve. Aside from the fact that having this information would be n

[2018-08-24 13:32] mjwitte opened #6926 "RunPeriod Merge Followup"
Issue overview
--------------
Remaining issues from #6478 RunPeriod changes.
- [x] No. 1. Change in table output average occupancy (e.g. PlateHeatExchanger.idf) *Addressed in #6972*

- [x] No. 5. Schedule:File - multi-year leap year behavior question:
Searching the I/O Ref for "leap", found this under Schedule:File. What happens if the simulation is multi-year and include a leap year?

contains 87

[2018-08-24 13:52] rraustad opened #6927 "Input processor aborts simulation without warning when Output:Table:* objects have blank variable or meter name"
Issue overview
--------------
Help desk ticket 13045 has blank meter names in Output:Table:Monthly and Output:Table:Annual

    Output:Table:Monthly,
      Overall HVAC System Energy,  !- Name
      3,                       !- Digits After Decimal
      Cooling:Electricity,     !- Variable or Meter 1 Name
      SumOrAverage,            !- Aggregation Type for Variable or Meter 1
      ,

[2018-08-24 13:59] mjwitte opened #6928 "Site:GroundTemperature:Undisturbed:FiniteDifference initialization"
Issue overview
--------------
From [here](https://github.com/NREL/EnergyPlus/pull/6478/commits/7042b1ef3abd464fc2328959e0ff03e40324a871#r212616314) in #6478.

In GroundTemperatureModeling/FiniteDifferenceGroundTemperatureModel::FiniteDiffGroundTempsModel::getWeatherData, the calculation for `annualAveAirTemp` seems suspect.

he average temperature calc [here](https://github.com/NREL/EnergyPlus/blo

[2018-08-24 19:08] mjwitte opened #6929 "Initialization Summary table output AirflowNetwork subtables are incomplete."
Issue overview
--------------
the Initialization Summary table AirflowNetwork sub-tables are missing columns in the html (not sure about sql), likely because the row headers aren't set up with all of the columns.

![image](https://user-images.githubusercontent.com/4991075/44491027-90e92780-a625-11e8-9fe9-a469e95c41b3.png)
A for loop to add fill out the column headings of "Wind Direction #2 {deg}"

[2018-08-25 13:44] mjwitte commented on #6857
Closed via #6858

[2018-08-25 13:44] #6857 closed, assigned to jasondegraw

[2018-08-27 12:39] Myoldmopar commented on #6470
Closed via #6782

[2018-08-27 12:39] #6470 closed, assigned to Nigusse

[2018-08-27 14:17] Nigusse commented on #6717
- [x] In V8.9 I/O reference document section 3.2 Introduction to Economics, the sentence "Future versions of EnergyPlus will add other investment related analyses such as life-cycle cost" [here](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/energyplus-economics/introduction-to-economics.tex#L26) seems outdated. We already have life cycle cost estimation capability.

[2018-08-27 15:15] rraustad commented on #6927
Duplicate to #6919.

[2018-08-27 15:15] #6927 closed, assigned to nobody

[2018-08-27 16:03] mjwitte commented on #6913
Closed via #6914

[2018-08-27 16:03] #6913 closed, assigned to nobody

[2018-08-27 16:04] mjwitte commented on #6912
Closed via #6915

[2018-08-27 16:04] #6912 closed, assigned to lgu1234

[2018-08-27 16:10] mjwitte commented on #6904
@JasonGlazer Is the suggested change correct? @Myoldmopar I suppose this has to wait until after release now.

[2018-08-27 16:14] JasonGlazer commented on #6904
The default should be Annual.

[2018-08-27 16:17] Myoldmopar commented on #6904
Yeah, we should wait until after release unless something else pops up where a change is warranted, then this could sneak in along with it.

[2018-08-27 16:18] mjwitte commented on #6863
So, it this an issue for *all* of the monthly summary reports?

[2018-08-27 16:22] mjwitte commented on #6815
@Myoldmopar And another one that I suppose has to wait until after release.

[2018-08-27 16:29] mjwitte commented on #6784
Closed via #6785

[2018-08-27 16:29] #6784 closed, assigned to rraustad

[2018-08-27 16:35] mjwitte commented on #6860
Looks like this is a duplicate of #6756.

[2018-08-27 17:00] mjwitte commented on #6713
#6763 is a duplicate of this. Problem was fixed for v9.0 via #6765.

[2018-08-27 17:00] #6713 closed, assigned to RKStrand

[2018-08-27 17:09] mjwitte commented on #6673
Completed for v9.0 via #6247

[2018-08-27 17:09] #6673 closed, assigned to nobody

[2018-08-27 17:17] mjwitte commented on #6582
Completed for v9.0 via #6421

[2018-08-27 17:17] #6582 closed, assigned to nobody

[2018-08-27 17:40] #6916 closed, assigned to nobody

[2018-08-27 18:18] MatthewSteen commented on #5441
This issue also affects the `No Load Supply Air Flow Rate` and `No Load Outdoor Air Flow Rate When No Cooling or Heating is Needed` fields in several objects (e.g. PackagedTerminalAirConditioner and WaterToAirHeatPump).

[2018-08-27 21:51] jasondegraw commented on #6928
@mjwitte @mitchute It looks to me like this function is doing a pseudo-simulation by inserting an environment, iterating through the days and collecting weather stats, then removing the environment. Was `ksReadAllWeatherData` added for this one case?

I'm not sure how any date calculation could have ended up with 366 days in there for this year, seeing if I can reproduce now.

[2018-08-27 21:57] mjwitte opened #6933 "Transition problem for RunPeriod - bad End Year"
Issue overview
--------------
Transition is inserting years when not necessary, and also end year is one too many in this case.

#### Before
[code]
#### After
[code]

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus v9.0.0-IDDFreeze d62a9089b1
 - Noted while testing #6757

### Checklist
Add to this list or remove fro

[2018-08-27 22:11] mjwitte commented on #6928
This should probably be consolidated with the similar `WeatherManager::AnnualMonthlyDryBulbWeatherData::CalcAnnualAndMonthlyDryBulbTemp()` function added [here](https://github.com/NREL/EnergyPlus/pull/6771/files#diff-3db4af63e54cde7a34f2fab72ff096fdR10319) in PR#6771.

[2018-08-27 22:12] Myoldmopar commented on #6868
Closed via #6887 and #6932

[2018-08-27 22:12] #6868 closed, assigned to RKStrand

[2018-08-27 22:12] Myoldmopar commented on #6888
Closed via #6908 and #6932

[2018-08-27 22:12] #6888 closed, assigned to RKStrand

[2018-08-27 22:47] jasondegraw commented on #6928
@mjwitte Are you sure it was only 366? I'm seeing *much* worse. The issue is indeed at the location of the two lines you called out in your comment above. The RunPeriod PR shifted a lot more of the logic into the setup of the RunPeriod object, and those two lines just aren't enough now. This is fixed on my new branch by providing better initialization in the ctor.

[2018-08-27 23:13] mjwitte commented on #6928
@jasondegraw Can't say completely for sure. The arrays bounds tripped when it tried to loop into day 366, so I'm not sure if I checked the value of `NumOfDayInEnvrn` or just assumed it was 366. I could go back and reproduce if that's helpful.

[2018-08-28 00:26] jasondegraw commented on #6928
@mjwitte No need to go back, cracking up on 366 makes sense (it's one over an array size). The actual value I saw was over 700, putting in a better end year than 0 fixes it and it should be 365 now.

[2018-08-28 12:05] Myoldmopar commented on #6806
Closed via #6839

[2018-08-28 12:05] #6806 closed, assigned to Myoldmopar, RKStrand

[2018-08-28 13:06] jasondegraw commented on #6933
Fixed on bugfix branch

[2018-08-28 16:43] jasondegraw commented on #6926
@mjwitte For no. 11, I think that was because RunPeriods didn't have to have names before, so there probably wasn't a better way to identify which RunPeriod was generating a error/warning. Are RunPeriods required to have a name now?

[2018-08-28 17:08] Myoldmopar commented on #6572
This still occurs on Ubuntu 18.04 / GCC 7.3.0

The loop is [here](https://github.com/NREL/EnergyPlus/blob/b2288c7ecd08ba771e4524dcd19713bd2a565b69/src/EnergyPlus/MatrixDataManager.cc#L192-L197).

There is an unnecessary `l` variable created and incremented in that loop that should be cleaned out as well.

### Details
Some additional details for this issue (if relevant):
 - Platform: Linux 18.04; G

[2018-08-28 18:31] rmcclung opened #6934 "AirLoopHVAC:OutdoorAirSystem does not control a second heating coil"
I'm modelling a building with a central outdoor air handling unit serving VAV system on each floor of a building.  The central OA AHU has supply and return fans, heat exchanger, preheat coil for defrost, a cooling coil for cooling and dehumidification, a heating coil, and a humidifier. Since EPlus doesn't support one AHU serving another AHU, I've modelled seperate VAV systems that each have all th

[2018-08-28 18:37] mjwitte commented on #6926
Names aren't required in idf, but the new input processor adds one if blank so they don't overwrite in the json data.

[2018-08-28 18:45] Myoldmopar commented on #6814
Closed via #6877

[2018-08-28 18:45] #6814 closed, assigned to Nigusse

[2018-08-28 20:33] mjwitte commented on #6750
Closed via #6757

[2018-08-28 20:33] #6750 closed, assigned to rraustad

[2018-08-28 21:33] mjwitte opened #6935 "SurfaceProperty:LocalEnvironment Shading Fraction should be Sunlit Fraction"
Issue overview
--------------
SurfaceProperty:LocalEnvironment "External Shading Fraction Schedule Name" appears to be used as sunlit fraction [here](https://github.com/NREL/EnergyPlus/blob/42c42430ff190ff6be3d3fb2975345b373a534ce/src/EnergyPlus/SolarShading.cc#L4716-L4723):
[code]
1. The field name and docs should be changed to "Sunlit Fraction Schedule Name".

2. From this code, it appears that

[2018-08-29 00:40] jasondegraw commented on #6926
@mjwitte What's the use case for not requiring the run periods to have names? It's going to be hard for users to track errors back to the input object without a name. I guess we could report the name alongside the number, but it seems to me that having a name would be better (which would need to wait until next release).

[2018-08-29 00:52] mjwitte commented on #6926
It's changed over time. Originally there wasn't a name field. I don't recall why it wasn't required at the time it was added. I wouldn't object to making it required in thenext release. I'm pretty sure the names added by IP are Runperiod1 etc. We can defer changing the warnings if you want.

[2018-08-29 10:56] dmac000 commented on #6863
Some of the reports are there but a few of the others are missing. I tried adding "AllMonthly" to the idf, and the csv results are about half the length from 8.8 to 8.9.

[1ZoneEvapCoolerTable-8.8.csv.txt](https://github.com/NREL/EnergyPlus/files/2331826/1ZoneEvapCoolerTable-8.8.csv.txt)
[1ZoneEvapCoolerTable-8.9.csv.txt](https://github.com/NREL/EnergyPlus/files/2331827/1ZoneEvapCoolerTable-8.9.cs

[2018-08-29 13:37] JasonGlazer commented on #6923
@mjwitte I'm not getting the clear_state() issue when I try to run the unit tests. Any suggestions?

[2018-08-29 14:08] RKStrand opened #6936 "Equation References Broken in Engineering Reference, Part 4"
Issue overview
--------------
Another recent defect noted that there was a missing equation reference in the Engineering Reference. While this was fixed, it was also noticed upon further review that almost ALL of the equation references are missing in this document and have been since around V8.1 when things were moved from MS Word to text-based documentation forms. This clearly needs to be fixed

[2018-08-29 15:18] mjwitte commented on #6923
@Myoldmopar Fixed it yesterday. https://github.com/NREL/EnergyPlus/commit/b60e442e74023642d56657167e74f3e51258b994

[2018-08-29 17:27] jasondegraw commented on #6926
@mjwitte I'd prefer to push that for now, we should require names in the future. No. 6 is only happening for end years that are leap years, otherwise it's good. I'll move 11 to a separate issue.

[2018-08-30 00:27] jasondegraw opened #6937 "RunPeriod names in error messages"
Issue overview
--------------
Many of the error messages for RunPeriod identify the object as `RunPeriod object #1` instead of using the RunPeriod name:
[code]
Requiring that the RunPeriods have names would remove the need for filling in a name and would make it easier to identify the object that has the issue.

### Details
Some additional details for this issue (if relevant):
 - Platform: All
 -

[2018-08-30 19:53] nealkruis opened #6938 "Sync Kiva convection algorithms with EnergyPlus user-specified algorithm"
Currently, Kiva uses only the TARP algorithm for convection. We can replace the TARP algorithm in Kiva with a virtual function that can be set by the calling program.

Requested by Carrier team.

[2018-08-30 23:14] mjwitte opened #6939 "Surface outside face heat balance reporting is confusing when rain flag is true"
Issue overview
--------------
Using example file, looking at the surface outside face heat balance, it all balances to near zero except when the rain flag is true, e.g. 04/27 afternoon. These four variables should sum to zero:
[code]
It seems that the reported value for Surface Outside Face Convection Heat Gain Rate is wrong when the rain flag is true. For example, at 04/27 13:00:00
![image](https

[2018-08-31 13:11] JasonGlazer commented on #6392
Maybe it could be even smarter and look at the angle between the vector from the center of the zone and the center of each surface and compare it to the outward normal of the wall. If the angle is over 90 degrees it could provide a warning that the specific surface may be reversed.

[2018-08-31 13:54] jasondegraw commented on #6392
@JasonGlazer For nonconvex zones, isn't that potentially going to report out surfaces that are definitely not part of the issue? Not really false positives, but close?

[2018-08-31 14:07] JasonGlazer commented on #6392
@jasondegraw yes, I would need to be careful about the wording so that people check the surfaces that might be reversed but it doesn't mean that they are. For the case of a convex zone that it is simply an error with the order of the the coordinates, it would probably just point to ones that are a problem but with non-convex zones, it could have some false positives. I think checking for this woul

[2018-08-31 19:53] jasondegraw commented on #6392
@JasonGlazer The best I can think of off the top of my head is that traversing the edges of each surface should traverse each edge twice, once in each directions. That's if all the normals are pointing in the "same" direction and the volume is watertight. If I recall correctly, we can't guarantee that the volumes are watertight, so I'm not sure that helps much. Do we have a check of convexity? I'm

[2018-09-04 13:00] JasonGlazer commented on #6756
@mjwitte I confirmed that this is the same issue as #6860

[2018-09-04 14:07] #6860 closed, assigned to nobody

[2018-09-04 16:53] mjwitte commented on #6933
Closed via #6941

[2018-09-04 16:53] #6933 closed, assigned to jasondegraw

[2018-09-04 16:54] mjwitte commented on #6928
Closed via #6941

[2018-09-04 16:54] #6928 closed, assigned to jasondegraw

[2018-09-05 21:23] nmerket commented on #6707
@mjwitte This looks like it might be important to us in the near term. Is this something on your (or someone's) list to get to soon?

[2018-09-05 21:27] mjwitte commented on #6707
@nmerket Not that I'm aware of.

[2018-09-06 01:34] mjwitte commented on #6717
- [x] In the EMS Application Guide, under Actuators, HVAC Systems, Pump, the "Pump Pressure Rise" actuator is not listed. Here's the actuator setup code:
[code]
And the override value is used here:
[code]

[2018-09-06 03:00] hongtz68 opened #6943 "Sky radiant cooling"
Issue overview
--------------
New materials are emerging that can radiate heat to deep sky even under the sun. This new feature request will enable EnergyPlus to model this type of materials with selective spectral properties of emissivity and absorptance. Two such technologies are Radi-Cool and SkyCool.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating syst

[2018-09-06 03:07] hongtz68 opened #6944 "Support modeling of GEB (Grid interactive efficient buildings)"
Issue overview
--------------
BTO has a new initiative GEB which will improve interactions between buildings and their serving electric grid, considering the dynamics and flexibility of energy supply, demand as well as storage. Sensing and controls are critical to enable GEB at the individual and group of buildings. This new feature request will enable EnergyPlus to support the modeling of GEB rel

[2018-09-06 15:43] weilix88 opened #6945 "Data in Equipment Summary (HTML) is missing"
Issue overview
--------------
It looks like I have to add "Maximum Number of HVAC Sizing Simulation Passes" to the SimulationControl class to make the data available under Equipment Summary.

added Maximum number of HVAC Sizing Simulation Passes
<img width="1237" alt="has_data" src="https://user-images.githubusercontent.com/25957083/45168340-0b3ead80-b1c9-11e8-8566-f800e19e19ea.png">

Delete Maxim

[2018-09-06 20:13] shorowit commented on #6717
- [x] Engineering Reference Figure 124 describes the PlantLoop's UniformLoad scheme as "Load all equipment uniformly with equal load to capacity", which appears to be contradicted by the paragraph below it that says "The UNIFORMLOAD scheme first divides the load evenly among all available components. If some components do not have the capacity to meet the uniformly distributed load, the remaining

[2018-09-06 20:24] mjwitte commented on #6717
@shorowit The two statements are attempting to say the same thing, obviously not very clearly - "to capacity" is trying to say what the paragraph explains in more words.
Probably need to prove this with a test file, but here's my understanding of UniformLoad;
Let's say Equipment A has capacity of 100, and Equipment B has capacity of 50.
If the current load is 60, theN both will be loaded at 30.
If

[2018-09-06 20:36] shorowit commented on #6717
@mjwitte Yes, some additional clarification would be helpful. I would not have arrived at that logic from the descriptions. The phrasing "equal load to capacity" suggests to me that if Equipment A has capacity of 100 and Equipment B has capacity of 50, and the current load is 60, then Equipment A would be loaded at 40 and Equipment B would be loaded at 20.

[2018-09-07 15:38] Nigusse commented on #5997
@mjwitte @Myoldmopar All but two issues listed in this documentation are addressed. Two of the issues should be addressed separately (each) and posted two new issues [here](https://github.com/NREL/EnergyPlus/issues/6947) and [here](https://github.com/NREL/EnergyPlus/issues/6956).

[2018-09-07 15:48] Nigusse opened #6947 "No section for HybridModel:Zone model in Eng. and Inputoutput Reference documents"
There is no section for HybridModel:Zone in the engineering and inputoutput reference documentation. Originally posted in issue #5997.
- "[ ] I/O Ref section for HybridModel:Zone is not in the pdf.  The source files were added in #5882 but there's no line in overview.tex to input the new file into the document?"

### Details
Some additional details for this issue (if relevant):
 - Platform (Operat

[2018-09-07 16:02] Nigusse commented on #5997
@JasonGlazer I think the "Zone Component Load Summary" issue listed above warrants a separate issue by itself. What do you think?

[2018-09-07 18:20] JimPegues commented on #6938
To elaborate on this ... Replacing the TARP algorithm with a virtual function set by the calling program allows the convention model used in KIVA to be synchronized with the convection model used by the room.  For example, suppose a room is supplied by a forced air HVAC system such as VAV.  The room would be modeled to use the 'ceiling diffuser' convection model since wall, ceiling, floor surfaces

[2018-09-07 19:04] MatthewSteen opened #6949 "Fans table End Use header incorrect"
Issue overview
--------------
The `Equipment Summary` > `Fans` table `End Use` header is incorrect, it should be `End Use Subcategory` [here](https://github.com/NREL/EnergyPlus/blob/75a40dfc84745b3be24f5f782ed0a0b0eb126d5f/src/EnergyPlus/OutputReportPredefined.cc#L1877).

### Details
Some additional details for this issue (if relevant):
 - Platform (Windows 10)
 - Version of EnergyPlus (8.9)
 - Un

[2018-09-07 20:02] mjwitte opened #6950 "VRF Temperature Control outputs don't add up"
Issue overview
--------------
Defect file has AirConditioner:VariableRefrigerantFlow:FluidTemperatureControl:HR with several terminal units with no outdoor air.
Cooling Coil Total Cooling Rate *should* equal Zone VRF Air Terminal Total Cooling + Fan Electric Power but it does not.

For AirConditioner:VariableRefrigerantFlow, these do add up.  Have not tested AirConditioner:VariableRefrigerantFlow:

[2018-09-07 20:55] rHorsey commented on #6589
Additional binary support will be instrumental for various 100k+ scale simulation sets we'll be engaging in over the next few years. MessagePack would help substantially - I agree that Parquet would make more sense, but either way I'd love movement on this issue.

Thanks!

[2018-09-10 19:13] rraustad commented on #5961
Closed via #6890.

[2018-09-10 19:13] #5961 closed, assigned to Nigusse

[2018-09-11 14:07] mjwitte commented on #6725
Specifically, look at the flow rates for node "SPACE2-1 DOAS Return Node" (csv column BW). They should match the flow for "SPACE2-1 Zone Equip Inlet" (csv column KC).

[2018-09-11 22:25] mjwitte opened #6952 "Short-term difference in blind slat angle causing large change in results"
Issue overview
--------------
User noted that window surface temperatures were wildly different for two runs with BlockBeamSolar blind controls where the only difference in inputs was the blind material slat angle. The blinds were deployed at all times, one with an angle of 0.5 degrees, and the other 90 degrees until the sun came around and the BlockBeamSolar control set the same slat angle in bot

[2018-09-12 09:05] tobiasskov opened #6953 "Simulation hang/freeze due to integrated shade gas mixture array index problem"
Issue overview
--------------
Running a large parametric study of around 8000 energy models I'm experiencing that some of idfs are unable to complete the simulation - freezing during simulation.

Given that the only idf files that freezes are some of the models that are containing a construction:complexFenestrationState with a shading layer I think this might be the cause of the hang.

### Details

[2018-09-12 09:23] tobiasskov opened #6954 "Using EMS with Construction:ComplexFenestrationState doesn't yield reliable results"
Issue overview
--------------
Setting up an EMS that switches between two Construction:ComplexFenestrationState, in order to model dynamic solar shading (drawing inspiration from the example file ThermochromicWindow.idf).

To test this approach an EMS that switches between two identical con...:CFS are compared to a model that a assigns one con...:CFS directly to the fenestration surface. These two

[2018-09-12 16:08] JasonGlazer commented on #5997
@Nigusse Sure, although I still believe that the section in the engineering reference that describes the Zone Component Loads Summary is sufficient for understanding how it works.

[2018-09-12 16:34] rraustad opened #6955 "Verify return flow rate calculations during sizing when multiple return nodes are used in a single zone"
Issue overview
--------------
Follow up to #6726

The IF/ELSE IF where you made this change says "Make no return air flow adjustments during sizing" for the IF and requires numRetNodes == 1. So if there are 2 return nodes then the code falls to the ELSE IF and doesn't set returnNodeMassFlow when doing sizing? Doesn't returnNodeMassFlow need a value during sizing if there are 2 return nodes?

[2018-09-12 16:36] rraustad commented on #6725
Closed via #6726.

[2018-09-12 16:36] #6725 closed, assigned to nobody

[2018-09-12 17:20] Nigusse commented on #5997
@JasonGlazer @mjwitte @Myoldmopar I will post a separate issue for "Zone Component Load Summary" calculation definitions or equations request as a place holder for next release consideration.

[2018-09-12 17:34] Nigusse opened #6956 ""Zone Component Load Summary" output variables definitions or equations request"
This issue is moved from documentation issues listed in #5997 as a place holder for next release consideration. This is a request for additional information.

- [ ] The "Zone Component Load Summary" output table report contains information for individual heat transfer components contributing to design day sizing calculations for heating and cooling. However, there aren't definitions or equations i

[2018-09-12 17:51] Nigusse commented on #5997
@mjwitte @Myoldmopar The only issue remaining now is
"- [ ] In the Auxiliary Programs document, the example def files for the Weather Converter show backslashes and underscores in many places.  These should not be in the final pdf."

The underscore appears everywhere in the documentation where "\begin{lstlisting} ... \end{lstlisting}" listing template is used. I think this is a a standard template

[2018-09-12 17:51] mjwitte commented on #6955
Yeah, funny thing, I'm fairly certain this block from above is dead code:
[code]
`airLoop` will never be > 0 when `DoingSizing` is true. At least a quick debug run of 5ZoneAirCooled shows that it never gets here. Maybe there's a special case that does, but I think this block belongs up before the sizing check.

[2018-09-12 18:04] mjwitte commented on #5997
@Nigusse I'm confused. I don't see any problems in the current Auxiliary Programs doc def file listings. Even going back several releases. I don't know what prompted me to post [this comment](https://github.com/NREL/EnergyPlus/issues/5997#issuecomment-312632248).

[2018-09-12 18:10] rraustad commented on #6955
My thought is that during sizing the return node mass flow and temp/humrat are needed to calculate a mixed air temperature. If return mass flow is always 0 then what is sizing using for mixed air temp? I certainly don't see OA conditions during coil sizing so not sure what is happening here.

[2018-09-12 18:58] Nigusse commented on #5997
@mjwitte Ok. Thanks. I will mark it as designed.

[2018-09-12 22:31] mjwitte commented on #6953
@vidanovic note that @jmarrec says [here](https://unmethours.com/question/34060/energyplus-freezeshang-during-simulation/?comment=34061#post-id-34061) that there is a crash in [TARCOGGasses90.cc#L229](https://github.com/jmarrec/EnergyPlus/blob/771c3799ec7ead41f4f4ca10ab7434a21be64cc5/src/EnergyPlus/TARCOGGasses90.cc#L229).

[2018-09-13 02:44] mjwitte opened #6958 "PlantEquipmentOperation:ThermalEnergyStorage should warn of incorrect component operation type"
Issue overview
--------------
User file failed to charge ice storage because the last field in this object was incorrect:
[code]
The I/O Reference states this should be "Dual":
Field: Component <#> Operation Type
This alpha field specifies the operation mode for the equipment. The equipment can be in any of the three modes viz. Cooling, Heating and Dual. Dual is used when the components both as he

[2018-09-13 08:18] jmarrec commented on #6953
The good news is that the file the user sent has only one `Construction:ComplexFenestrationState`. Crash happens in layer 2, which is a `WindowMaterial:ComplexShade`, when it reaches [effectiveLayerCond](https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/ThermalISO15099Calc.cc#L2625:L2640).

Loop on layer, if i=1, it's SPECULAR so nothing to say more. if i=2, it's not SPECULAR, at w

[2018-09-13 17:03] mjwitte opened #6959 "User file with Generator:InternalCombustionEngine with FollowThermal never operates"
Issue overview
--------------
User file has Generator:InternalCombustionEngine with FollowThermal dispatch, but the generator never runs.

### Details
Some additional details for this issue (if relevant):
 - PlatformWin64
 - Version of EnergyPlus Version 9.0.0-771c3799ec
 - Helpdesk ticket number 12903

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set

[2018-09-13 20:28] vidanovic commented on #6953
@mjwitte is it too late for bugfix for 9.0.

[2018-09-13 20:45] mjwitte commented on #6953
@vidanovic Not too late - code will freeze likely sometime early next week.

[2018-09-13 20:45] vidanovic commented on #6953
Will try to catch some time to fix this one.

[2018-09-13 20:50] MatthewSteen opened #6960 ""test" strings in ReportSizingManager.cc show up in Fans table"
Issue overview
--------------
The string `test my Design Day` shows up in the Fans table here: https://github.com/NREL/EnergyPlus/blob/a2c22cb63eb1131ca4a170e7a4030adffa6a1296/src/EnergyPlus/ReportSizingManager.cc#L423

Also, there's a "test..." in the `Date/Time for Fan Sizing Peak` column here: https://github.com/NREL/EnergyPlus/blob/a2c22cb63eb1131ca4a170e7a4030adffa6a1296/src/EnergyPlus/Report

[2018-09-13 20:56] mjwitte commented on #6960
Duplicate of #6899, but thanks for the reminder.

[2018-09-13 20:56] #6960 closed, assigned to nobody

[2018-09-13 21:44] mjwitte commented on #4266
@vidanovic Just for the record, I found that the weighting of now and previous hour were added [here](https://github.com/NREL/EnergyPlusArchive/commit/7d8c39ee33ebf7f5f9a801c6624ff636f4d8ab89) and it's related to the weather data interpolation.

[2018-09-14 11:54] mjwitte opened #6962 "Clean up coil sizing warnings in example files"
Issue overview
--------------
Additional warnings resulting from #6753 (fan heat sizing changes) highlight some problems with some of the example files.

- [ ] 5ZoneWarmestVFD - The supply fan high pressure and low efficiency result in a large (>5C) fan deltaT which now results in a coil leaving air temp of 7C which is lower than the inlet chilled water temp. Not sure what the intent of the fan wa

[2018-09-14 16:58] jmaguire1 opened #6964 "Error check weather files for valid psychrometric conditions"
Issue overview
--------------
We've recently used some AMY weather files generated for us by someone else that had some wetbulb temperatures that were psychrometrically invalid (in the worst case, there was an outdoor drybulb of 37 C and wetbulb >0 C). The RH and outdoor air pressure were correct. The simulations were able to run despite having a weather file that had some data that should have re

[2018-09-16 00:01] mjwitte commented on #6626
From #6801, need a new calling point [here](https://github.com/NREL/EnergyPlus/blob/425c1b197d0d77aae0521e7b80d5e95c769f37e2/src/EnergyPlus/HeatBalanceManager.cc#L350) in ManageHeatBalance just before InitHeatBalance, so that EMS overrides can have an impact on solar gains and daylighting, among other things that happen in InitHeatBalance.  Suggest naming the new calling point BeginZoneTimestepBef

[2018-09-17 00:41] mjwitte commented on #6712
Closed via #6788

[2018-09-17 00:41] #6712 closed, assigned to rraustad

[2018-09-17 14:16] RKStrand opened #6969 "Equation References Broken in Engineering Reference, Part 5"
Issue overview
--------------
Another recent defect noted that there was a missing equation reference in the Engineering Reference. While this was fixed, it was also noticed upon further review that almost ALL of the equation references are missing in this document and have been since around V8.1 when things were moved from MS Word to text-based documentation forms. This clearly needs to be fixed

[2018-09-17 20:06] jasondegraw commented on #6926
@mjwitte I've tracked down No. 1 to the use of `USEWEATHERFILE` in the run period. Different starting weekdays are being used for the run periods (Sunday instead of Wednesday and Tuesday). The transition program should be OK for our weather files, as we're blanking that and letting E+ set the date properly (the default year starts with a Sunday, as do all of our EPWs). I transitioned the example f

[2018-09-17 20:22] mjwitte commented on #6926
As long as there's an explanation, I don't know if it really matters what day those files start on. It's up to you if you want to change them, or just leave them as-is.

[2018-09-17 21:12] jasondegraw commented on #6926
@mjwitte I'll try to fix it, I'd rather have the example files look like they were transitioned with the program (even if that's not what happened). I haven't been able to reproduce No. 13, any suggestions on how to do that?

[2018-09-17 21:22] mjwitte commented on #6926
What happens for `SizingPeriod:DesignDay`? Is there a year associated with the simulation for that? I believe those still report without a year. I think the other types of `SizingPeriod` use the specified day type for the entire period whether it's a single extreme day or a range of dates. Assuming these are simulating correctly, the easiest fix is to trap these types of environments when reportin

[2018-09-17 21:53] jasondegraw commented on #6926
I'll take a look. I've gotten some other reports about weird years, but I have yet to generate any myself.

[2018-09-18 12:49] mjwitte commented on #6808
Closed via #6876.

[2018-09-18 12:49] #6808 closed, assigned to lgu1234

[2018-09-18 19:31] jasondegraw commented on #6926
@mjwitte So I think I've addressed No. 1 and No. 13 now, the year output is suppressed for everything but environments that claim to be of  `ksRunPeriodWeather` kind.

[2018-09-19 08:55] carlosochoam opened #6970 "Multiple operation modes for WindowProperty:AirflowControl"
Hi,
Currently WindowProperty:AirflowControl only supports a single operation mode for all the year. Commercially available flow windows are now able to provide multiple modes according to schedule and also respond to sensors such as CO2, temperature, etc. A workaround suggested by MJ Witte is to run separate simulations with schedules adapted to each season.

Could it be possible to add a feature

[2018-09-19 16:21] mjwitte commented on #6926
Are you planning to push up these changes?

[2018-09-19 16:25] jasondegraw commented on #6535
The current NFP is located [here](https://github.com/NREL/EnergyPlus/blob/05ad5acfe660081a61127af58762300be89671c3/design/FY2018/NFP-error-enhancement.md).

I'll edit the top level comment to indicate those links are out of date.

[2018-09-19 17:29] Myoldmopar commented on #6837
This was addressed quietly as part of #6718

[2018-09-19 17:29] #6837 closed, assigned to Myoldmopar

[2018-09-19 18:02] jasondegraw commented on #6926
Yes, I've got a couple things to address still over on a branch. Will create a PR in a few minutes.

[2018-09-19 18:37] mjwitte opened #6973 "HX Bypass and General OA Controller Cleanup"
Issue overview
--------------
The original user test file for #6886 is somewhat problematic in that it asks the OA controller to do things that just don't add up. The fix implemented in #6861 gets the right answer for better formed models, but it goes to max iterations with this particular file. The OA controller should be able to come up with a stable answer for this case. It could as simple as f

[2018-09-19 19:40] Nigusse opened #6974 "EMS actuator key names in the documentation and in the source code may not match"
Issue overview
--------------
Some EMS actuator key names in the documentation and in the source code may not match. There are 243 SetupEMSActuator calls in the source code. Needs to go through the list and confirm that all the names match. The EDD files (using the NotByUniqueKeyNames option) can be a starting point but there's no guarantee that will list all of the actuators.

### Details
Some ad

[2018-09-19 20:01] Myoldmopar commented on #5997
Closed by #6946

[2018-09-19 20:01] #5997 closed, assigned to Nigusse

[2018-09-19 20:01] Myoldmopar commented on #6909
Closed via #6967

[2018-09-19 20:01] #6909 closed, assigned to RKStrand

[2018-09-19 20:03] Myoldmopar commented on #6936
Closed via #6966

[2018-09-19 20:03] #6936 closed, assigned to RKStrand

[2018-09-19 20:05] #6362 closed, assigned to nobody

[2018-09-19 20:06] Myoldmopar commented on #6732
Closed via #6374

[2018-09-19 20:06] #6732 closed, assigned to nobody

[2018-09-19 20:15] mjwitte commented on #6796
Closed via #6861

[2018-09-19 20:15] #6796 closed, assigned to Nigusse

[2018-09-19 21:35] Myoldmopar commented on #6874
Closed via #6901

[2018-09-19 21:35] #6874 closed, assigned to rraustad

[2018-09-20 12:52] Myoldmopar commented on #6923
Closed via #6940

[2018-09-20 12:52] #6923 closed, assigned to JasonGlazer

[2018-09-20 14:38] Myoldmopar commented on #6920
Closed via #6922

[2018-09-20 14:38] #6920 closed, assigned to rraustad

[2018-09-20 17:46] Myoldmopar commented on #6793
Closed via #6975

[2018-09-20 17:46] #6793 closed, assigned to nobody

[2018-09-20 17:58] JasonGlazer opened #6976 "Clean up daylighting output reporting for more than two reference points"
While working on #6889 found that in the DaylightingManager ::CalcDayltgCoefficients() routine, saw that some output reports seems to be tied to the number of daylighting reference points. These need to be cleaned up after the release goes out since they impact output report format. This code is used when writing to OutputFileInits and to OutputFileDFS.

### Checklist
Add to this list or remove fr

[2018-09-20 18:27] Myoldmopar commented on #6506
Closed via #6841

[2018-09-20 18:27] #6506 closed, assigned to lgu1234

[2018-09-20 18:30] Myoldmopar commented on #6546
Closed via #6900

[2018-09-20 18:30] #6546 closed, assigned to lgu1234

[2018-09-20 19:00] shorowit opened #6977 "ZoneHVAC:EquipmentList UniformLoad issues with ZoneHVAC equipment"
When using `UniformLoad` as the `ZoneHVAC:EquipmentList`'s Load Distribution Scheme, we get unexpected results with `ZoneHVAC:Baseboard:Convective:Electric` objects whereas `AirLoopHVAC:UnitarySystem` objects yield expected results.

Scenarios run with 1 or 3 systems, each with `UniformLoad` and `SequentialLoad`. Table below shows annual heating results for electric baseboard and electric furnace

[2018-09-20 19:58] shorowit commented on #6977
Electric baseboard IDFs attached:
[x3-SequentialLoad.idf.txt](https://github.com/NREL/EnergyPlus/files/2402874/x3-SequentialLoad.idf.txt)
[x3-UniformLoad.idf.txt](https://github.com/NREL/EnergyPlus/files/2402873/x3-UniformLoad.idf.txt)

[2018-09-20 20:53] mjwitte commented on #6899
@Myoldmopar It would be good to clean this up before freeze.

[2018-09-20 21:00] Myoldmopar commented on #6512
@jasondegraw is this still an issue or can it be closed?

[2018-09-20 21:00] #6138 closed, assigned to Myoldmopar

[2018-09-20 21:01] Myoldmopar commented on #5871
This won't be addressed with the new release of EP-Launch

[2018-09-20 21:01] #5871 closed, assigned to Myoldmopar

[2018-09-20 21:08] jasondegraw commented on #6512
We should leave it open for a bit until I'm certain it's addressed.

[2018-09-20 23:27] jasondegraw commented on #6926
@mjwitte It appears that the documentation is a little confusing and possibly wrong w.r.t. Schedule:File and leap years, but after fixing an error I'm getting successful simulations including leap years. If I understand the code in ScheduleManager.cc, it's duplicating Feb28 into Feb29 for 8760 hours of data, and reading in that day when are 8784 hours of data. So it sure seems like it does know ho

[2018-09-21 03:11] jasondegraw commented on #6512
@Myoldmopar I've run my tests and am not finding any issues, so I'll close this for now.

[2018-09-21 03:11] #6512 closed, assigned to jasondegraw

[2018-09-21 19:32] mjwitte commented on #4266
More digging. `DayltgInteriorIllum` is too late, because the daylighting factors aren't calculated here.  For that we need `CalcDayltgCoefficients` which is called from `PerformSolarCalculations` which is also called from `InitHeatBalance`.  So, this should be working, but the change in illuminance is showing up about 5 timesteps too late. Actually, it shows up in full at the beginning of the next

[2018-09-21 20:03] mjwitte commented on #4266
Ran a test with WeightNow=1.0 for integrated timestep solar and that fixes the daylighting lag. Not sure if that's the *right* answer, but it's part of it.  Perhaps there's a way to calculate and store `DaylIllFacSky` timesteply instead of hourly. Or go back and recalc `DaylIllFacSky(PreviousHour)` is the construction changes, or . . .

[2018-09-21 22:55] jasondegraw commented on #6531
In progress, see #6192

[2018-09-23 16:13] RKStrand opened #6982 "Equation References Broken in Engineering Reference, Part 6"
Issue overview
--------------
Another recent defect noted that there was a missing equation reference in the Engineering Reference. While this was fixed, it was also noticed upon further review that almost ALL of the equation references are missing in this document and have been since around V8.1 when things were moved from MS Word to text-based documentation forms. This clearly needs to be fixed

[2018-09-24 13:51] mjwitte commented on #6770
Closed via #6889

[2018-09-24 13:51] #6770 closed, assigned to nobody

[2018-09-24 13:52] mjwitte commented on #6790
Closed via #6791

[2018-09-24 13:52] #6790 closed, assigned to nobody

[2018-09-24 15:01] Myoldmopar commented on #6926
Closed via #6972

[2018-09-24 15:01] #6926 closed, assigned to jasondegraw

[2018-09-24 16:02] Myoldmopar commented on #6347
Closed via #6821

[2018-09-24 16:02] #6347 closed, assigned to Myoldmopar, EnergyArchmage

[2018-09-24 16:02] Myoldmopar commented on #6609
Closed via #6821

[2018-09-24 16:02] #6609 closed, assigned to EnergyArchmage

[2018-09-24 16:02] Myoldmopar commented on #6051
Closed via #6821

[2018-09-24 16:02] #6051 closed, assigned to EnergyArchmage

[2018-09-24 20:37] Myoldmopar commented on #6899
I am doubtful to get anything done on here beyond maybe leaving it blank.  @mjwitte choosing the least bad option, would you rather have a blank cell, leave it with the test string, or put some other string in it.  I'll leave this open for proper fix up for the next release.

[2018-09-24 20:41] mjwitte commented on #6899
I think blank is the best fallback, but we probably want an open issue to see if  we can fill it with useful info.

[2018-09-24 21:01] mjwitte commented on #6881
Closed via #6886

[2018-09-24 21:01] #6881 closed, assigned to Nigusse

[2018-09-24 21:05] Myoldmopar commented on #6899
During the release of E+ 9.0, this wasn't able to be addressed properly.  The "test" string was removed and the cell is now blank.  This isn't great, but it was better than nothing being done at all.

Before #6983:
![image](https://user-images.githubusercontent.com/849824/45979106-a500ba00-c013-11e8-9a0b-d3a61b82303a.png)

After #6983:
![image](https://user-images.githubusercontent.com/849824/4597

[2018-09-24 21:10] Myoldmopar commented on #6919
OK, so my changes over in #6983 cause this to be a fatal error.  Here's the progression:

- Before #6983
  - The simulation fails without an error.  This is because an exception is thrown when the input processor is trying to preprocess some specific IDF objects to build out the output variable requests.  This includes the Output:Table:* objects
- After #6983
  - The simulation fails with a nice f

[2018-09-24 21:10] Myoldmopar commented on #6919
I'm changing this milestone to E+ next and moving on.

[2018-09-24 21:15] Myoldmopar commented on #5818
@jasondegraw is this something your run period work has addressed?

[2018-09-24 21:20] jasondegraw commented on #5818
Not directly, so I'd need to investigate. You can assign it to me and I can look into it post release.

[2018-09-24 22:59] mjwitte commented on #6756
Closed via #6942

[2018-09-24 22:59] #6756 closed, assigned to JasonGlazer

[2018-09-25 01:33] #6795 closed, assigned to Myoldmopar

[2018-09-25 16:56] jasondegraw opened #6986 "Using statements in header files"
Issue overview
--------------
There are `using` statements in a number of header files, e.g. EnergyPlus.hh:

[code]

This may be convenient from the standpoint of all of the uses of `Array1D` and not having to type `ObjexxFCL::Array1D` all the time, but the result is that top level namespace is getting polluted. This complicates the use of other libraries (e.g. the `fmt` formatting library) and wi

[2018-09-25 17:40] rraustad opened #6987 "ZoneHVAC:EnergyRecoveryVentilator sizing issue when using Fan:SystemModel"
Issue overview
--------------
The energy recovery ventilator sizes the fan to be able to meet excess air flow by calling the fan model during sizing. The existing code does not call a fan with index = 0 which can happen with the Fan:SystemModel. Odd sizing results were noticed previously and are likely due to unnecessary (fans are required) protection of the fan index.

        if (StandAloneERV(S

[2018-09-26 19:39] rraustad commented on #6987
PR #6989 also cleans up other HVACUnitarySystem related items not noticed during the scramble to get out the release.

[2018-09-27 20:24] mdahlhausen commented on #6820
@rraustad will this fix be in the EnergyPlus 8.10 release?  Should this issue be closed?

[2018-09-27 20:27] Myoldmopar commented on #6987
Closed via #6989

[2018-09-27 20:27] #6987 closed, assigned to rraustad

[2018-09-27 20:30] Myoldmopar commented on #6820
@mdahlhausen Pull request #6753 was indeed merged into the main branch, and will be released with version **9.0**.  I believe that did address this issue but I'll let @mjwitte or @rraustad confirm by closing this issue or commenting that something is still not quite done.

[2018-09-28 01:20] rraustad commented on #6820
I'll have to check. There were code changes that reset sizing data after each zone equipment is sized. These changes may fix this problem but I'd rather check first before closing this.

[2018-09-28 01:43] rraustad commented on #6820
@mdahlhausen if I test this tomorrow do you agree that the results above as I show in my comment for Jul 19 are correct?

    Component Sizing Information, Fan:OnOff, THERMAL ZONE: STORY 1 CORE SPACE ERV SUPPLY FAN, Design Size Maximum Flow Rate [m3/s], 0.19154
    Component Sizing Information, Fan:OnOff, THERMAL ZONE: STORY 1 CORE SPACE ERV EXHAUST FAN, Design Size Maximum Flow Rate [m3/s], 0.191

[2018-09-28 03:05] rraustad commented on #6820
In the latest develop is the same results (almost) as shown previously,  0.19 for for the ERV and 0.77 for the fan coil. Any comments?

    Component Sizing Information, Fan:OnOff, THERMAL ZONE: STORY 1 CORE SPACE ERV SUPPLY FAN, Design Size Maximum Flow Rate [m3/s], 0.19154
    Component Sizing Information, Fan:OnOff, THERMAL ZONE: STORY 1 CORE SPACE ERV EXHAUST FAN, Design Size Maximum Flow Rate

[2018-09-28 04:33] mdahlhausen commented on #6820
@rraustad Yep that's correct.  Thanks for fixing!  I'm glad it got in this next release.  I think the issue can be closed.

[2018-09-28 13:21] #6820 closed, assigned to rraustad

[2018-09-28 13:57] Myoldmopar commented on #6982
Closed via #6990

[2018-09-28 13:57] #6982 closed, assigned to RKStrand

[2018-09-28 13:57] Myoldmopar commented on #6969
Closed via #6990

[2018-09-28 13:57] #6969 closed, assigned to RKStrand

[2018-10-01 21:24] shorowit opened #6992 "Enhanced Controls for Multiple HVAC in One Zone"
EnergyPlus now has the ability to handle multiple AirLoopHVAC systems in a single thermal zone. Simple load distribution scheme options were added (SequentialLoad, UniformLoad, etc.) similar to the PlantLoop.

Additional improvements are needed to control these equipment. The current controls, for example, have some limitations or issues:
- User-specified load fractions cannot be set (e.g., System

[2018-10-01 21:43] nmerket opened #6993 "Stratified tank model is slow"
Issue overview
--------------
This is more or less a continuation of #5039. To recap, the stratified tank model solves the heat balance in the tank using the Forward Euler method to solve the initial value problem and calculate the temperature of each node at the end of the system time step. To maintain stability and some accuracy the internal time step used is 1 second, which causes the model to

[2018-10-01 22:33] mjwitte commented on #6658
Yes, #5976 "Allowed SetpointManager:Coldest to work with single-duct systems" did help with part of this. It still requires some though on the part of the user to make sure coils don't battle.

This is also related to #5217 "Eliminate use of single setpoint controlling heating and cooling coils at the same time".

Also, this setpoint manager could do the fan heat adjustment and eliminate the need

[2018-10-02 20:24] eringold opened #6994 "False positive 'surface azimuths do not match' warning"
Issue overview
--------------
A model created with OpenStudio and 'Output:Diagnostics,DisplayExtraWarnings' notes many 'Surface Azimuths do not match as expected.' warnings, e.g.:
[code]
The input for these surfaces are:
[code]

[code]
Surface 128 vertices are listed in counterclockwise order, and Surface 140 vertices are clockwise. OpenStudio calculates the azimuths for these surfaces as 90 and 2

[2018-10-02 20:39] mjwitte commented on #6994
In the table envelope summary report, what azimuth is reported for these surfaces?  From the error message, it appears that EnergyPlus thinks both of these are facing 90, when one should be 270. It will be helpful to have the full idf file attached here or e-mailed directly to me or @JasonGlazer.

[2018-10-02 21:10] eringold commented on #6994
@mjwitte thanks for the response. Curiously, it appears that **none** of the surfaces flagged by the GetSurfaceData warning are reported in the Envelope Summary table at all. However, I added a Output:Surfaces:List,Details;, which does show those surfaces with azimuths as reported in the warning, e.g. 90 degrees for both Surface 128 and Surface 140.
I will email you files directly.

[2018-10-04 21:50] mjwitte opened #6995 "Mismatch between Sides and size of Vertex - fatal error in v9.0"
Issue overview
--------------
User file which runs in v8.9, fails in v9.0 with errors like this:
[code]
Looks like the vertex size is not getting reduced when a coincident vertex is dropped. Likely related to #6853.

### Details
Some additional details for this issue (if relevant):
 - Platform Win64
 - Version of EnergyPlus 9.0.0-2ef880da82
 - Helpdesk ticket number 13067
### Checklist
Add to this

[2018-10-04 23:10] mjwitte commented on #6995
The plot thickens.
1. Made a smaller version of the original file with just one zone that includes one of the failing surfaces. Ran fine in both v8.9 and v9.0.
2. Noted that the failing surface was originally an interzone surface, so added a second zone and the paired surface - now it runs in v8.9 and fails in v9.0.
Smaller defect file attached here.

[6995-SmallerDefectFile.idf.txt](https://githu

[2018-10-05 12:09] jmarrec opened #6997 "Evaporative Cooler doesn't appear to work when connected to ATU:SingleDuct:CV:NoReheat"
Issue overview
--------------

One of openstudio-resources regression test, evaporative_cooling.osm, shows widly varying results after I replaced all `ATU:SingleDuct:Uncontrolled` with `ATU:SingleDuct:ConstantVolume:NoReheat`.

I cleaned up two files so they produce a clear diff. The "Transition" one has ATU:Uncontrolled. The "270_900" has ATU:CV:NoReheat. I don't see any other differences in the

[2018-10-05 12:16] jmarrec opened #6998 "Fuel Cell Cp is zero when using "LiquidGeneric""
Issue overview
--------------

The `fuelcell.rb` test in OpenStudio-resources now crashes, and I can't really explain why. It used to run with E+ 8.9.0. Transitioning the file using E+ transition utility to 9.0.0, then running it makes it crash too.

[fuelcell.rb.idf.txt](https://github.com/NREL/EnergyPlus/files/2450191/fuelcell.rb.idf.txt)

*Backtrace*:

[code]

`Cp` is zero. Here's my FuelSupply

[2018-10-05 22:42] mjwitte commented on #6997
These files have conflicting SetpointManager:MixedAir objects which are in a different order in the 270_900 file.  When the conflicting managers for system 1 are reordered to match the original file, then the results align. OpenStudio should not be writing these pairs of conflicting setpoint managers. In fact, the *correct* answer is the one with near zero evap cooler operation. For example, in th

[2018-10-05 22:42] #6997 closed, assigned to nobody

[2018-10-05 23:17] mjwitte commented on #6998
@EnergyArchmage I see 2 problems here.
1. NumConstituents should be intialized to zero [here](https://github.com/NREL/EnergyPlus/blob/f9f6a3f0a41076e9e2e0675ac3e8cd15216a397b/src/EnergyPlus/DataGenerators.hh#L671-L675) in DataGenerators.hh

2. But that doesn't solve the real problem. If I'm following correctly, `FigureFuelHeatCap` needs a separate path when Fuel Type is LiquidGeneric. As it stands

[2018-10-06 07:40] jmarrec commented on #6997
Thanks Mike. I did already identify there were duplicated SPMs and I fixed it in https://github.com/NREL/OpenStudio/commit/e62069f951c41b264e7eab0e121ffcc3aff0ce19

But I didn’t notice that they weren’t exactly the same in some occasions.

[2018-10-08 02:12] lxk1993 opened #6999 "Add an entry to IDD,but **is not a valid Object Type."
Issue overview
--------------
Add an entry to IDD,but **is not a valid Object Type.

### Details
![1](https://user-images.githubusercontent.com/42338103/46590013-8a821280-cae2-11e8-8fa7-0efc91e21a08.jpg)
![2](https://user-images.githubusercontent.com/42338103/46590014-9077f380-cae2-11e8-8236-ace52b3b2a96.jpg)

[2018-10-08 13:22] mbadams5 commented on #6999
@lxk1993 Are you adding a new object to the EnergyPlus source code? If so, you need to add your new IDD object to the [Energy+.idd.in file](https://github.com/NREL/EnergyPlus/blob/develop/idd/Energy+.idd.in). Then when you compile EnergyPlus, it will translate the new object into the epJSON Schema and compile it into the final executable. If you have done all this and you are getting the error ref

[2018-10-08 15:31] Myoldmopar commented on #6998
I can produce a crash in 8.9.0 if I change the Microcogeneration.idf to LiquidGeneric, set the number of constituents to zero, and comment out the constituent fields.

Oddly enough it works in 8.8.0...

Sigh.  Time for a git bisect.  Be back in a couple hours with an answer hopefully.

[2018-10-08 15:39] Myoldmopar commented on #6998
Nevermind, 8.8 fails too, checking 8.6.  If it's been failing that long then I'm just going to add a fatal error message for liquid generic, they are broke af.

[2018-10-08 15:42] Myoldmopar commented on #6998
Yep, fails as far back as 8.6.0, possibly farther.  I'm adding a fatal error for liquid generic simulations.

[2018-10-08 16:39] Myoldmopar commented on #6998
OK, so scratch some of that.  I am able to take the Microcogeneration file in 9.0.0, set the fuel supply just like the defect file, and yet it runs fine.  This issue appears to be something about how the system is setup as a whole, not this specific field.  For now.  Still investigating.

[2018-10-08 17:19] Myoldmopar commented on #6998
@jmarrec can you provide the 8.9.0 file?

[2018-10-08 17:27] Myoldmopar commented on #6998
@jmarrec I took your defect file from 9.0, sorta "un-transitioned" it back to 8.9.0.  I ran it with 8.9.0 and still see the crash.  I need some confirmation that this fails in 8.9.0 before I do anything else.

[2018-10-08 17:32] Myoldmopar commented on #6995
Addressed via #6996

[2018-10-08 17:32] #6995 closed, assigned to nobody

[2018-10-08 18:44] jmarrec commented on #6998
@Myoldmopar : here it is: [fuelcell_rb.890.idf.txt](https://github.com/NREL/EnergyPlus/files/2457256/fuelcell_rb.890.idf.txt)

Runs fine in E+ 8.9.0

By fine I only mean "does not crash". It produces a 400 MB SQL file, mostly full of millions (about 3 million) of this warning.

[code]

Edit: actually the eplusout.err is also about 400 MB.

[2018-10-08 19:28] Myoldmopar commented on #6998
Interesting...thanks!  What weather file were you using?  It crashes with 8.9.0 for me using Chicago since it's my GoTo weather file:

[code]

That's from a debug build of 8.9.  From the release build I get `Segmentation fault (core dumped)` at the same point.

[2018-10-08 19:46] jmarrec commented on #6998
Well, Chicago as well as a matter of fact. Which E+ are you using? I ran the file with openstudio 2.6.0 just now, pretty sure it’s based on e+ 8.9.0 rc1 or something like that.

[2018-10-08 19:52] jmarrec commented on #6998
Ok confirmed, weather file used is USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw [here](https://github.com/NREL/OpenStudio-resources/blob/develop/weatherdata/USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw)

2.6.0 EnergyPlus versions: https://github.com/NREL/OpenStudio/blob/v2.6.0/openstudiocore/CMakeLists.txt#L68:L73

So it uses eba93e8e1b which corresponds to https://github.com/NREL/EnergyPlus/relea

[2018-10-08 19:57] jmarrec commented on #6998
Works fine with my installed E+ eba93e8 too
[code]

[code]

[2018-10-08 20:56] Myoldmopar commented on #6998
So, tried it with that version locally (debug build shown here; release is building now)...

[code]

Nonsense.  Maybe I could do some git bisection on your machine since it seems to be showing the problem well. :upside_down_face:

I'm not sure the best path forward.  You mentioned that even when it ran in 8.9 it wasn't really running well.  I could disable all LiquidGeneric simulations and have th

[2018-10-08 21:14] Myoldmopar commented on #6998
!!!! A release build of 8.9.0-WithIDDFixes runs successfully, debug build fails.  That's something.  Continuing to build a case.

[2018-10-08 21:58] Myoldmopar commented on #6998
Here's where I'm at right now.

@jmarrec Ubuntu machine

- 8.9.0 Installed package (eba93e8) Pass (this is the IDD fix SHA)
- 9.0.0 Installed package (2ef880d) Fails ---- this is the original issue

@myoldmopar Ubuntu 18.04 machine, using raw 8.9 and 9.0 files from @jmarrec:

- 8.9.0 Installed package (40101ea) Fails ---- this is unexpected.
- 9.0.0 Installed package (2ef880d) Fails ---- this is e

[2018-10-08 22:19] jmarrec commented on #6998
I’m purely guessing, but this looks like a case of different compiler optimization, some (higher levels of) optimization could take out the line altogether if it judges it to produce non observable behavior.

I’ll try on my Ubuntu 16.04 tomorrow too with local builds.
A std::cout statement in FigureFuelHeatcap or right after it’s called  would probably prove informative too

[2018-10-08 22:46] jmarrec commented on #6998
@myoldmopar did you try building in ‘RelWithDebInfo‘ mode to try to produce a stack crash and checks if matches the debug one?
If not, I’ll do that.

[2018-10-09 00:21] Myoldmopar commented on #6998
I didn't test that, but it certainly smells like it's in the same, or nearly the same spot.  But who knows until you try, go ahead and give that a whirl.

Thinking ahead, though.  Unless tomorrow morning reveals an amazing quick fix, I don't think this is going to go out in 9.0.1.  In your OpenStudio resources work, are you able to adapt and use the GaseousCoefficients option?  If it is just place

[2018-10-09 00:40] Myoldmopar commented on #6998
Same on Windows, the file runs just fine when modified to LiquidGeneric.

Looks like we are isolated to a moderately-low-use object, with a defect that is flaky-at-best, and appears to be Linux-only.  We will definitely figure out the issue, but I'm less worried about this being a widespread issue now, and will get some sleep tonight.

With the vertex issue fixed, and this situation figured out, I

[2018-10-09 04:35] mjwitte commented on #6998
@Myoldmopar I'm not following what the mystery is here. The original defect file, v8.9 file, and MicroCogeneration-LiquidFuel all fail in Windows debug.
Win release build won't ever catch this, but it may crash sometimes, just depends. Since this defect existed in v8.9, then it's not as urgent, but it's still a problem. I haven't tracked though to see if there's a result we can see that would have

[2018-10-09 05:18] mjwitte commented on #6998
MicroCogeneration-LiquidFuel (be sure to change both fuel supplies to LiquidGeneric will crash randomly with v9.0 release on Windows.  Run it five times and it will crash 2 or 3 or three times and run to a fatal plant error the other times.
[MicroCogeneration-LiquidFuel.idf.txt](https://github.com/NREL/EnergyPlus/files/2458947/MicroCogeneration-LiquidFuel.idf.txt)

[2018-10-09 07:46] jmarrec commented on #6998
Ubuntu 16.04, EnergyPlus 9.0.0 installer (so Release), 2ef880da82

I set the file to only run for Sizing Periods, then ran it first 100 times, it segfaulted a little over 50%, based on the return codes being either 0 or -11 (segfault).

Then I tried a thousand times, this time I got 5 segfaults, 995 successes, so failed 0.5% of the time.

I was quite surprised to see quite a huge difference, so I

[2018-10-09 08:44] jmarrec commented on #6998
I built 2ef880d locally in "RelWithDebInfo", running 100 times got me 100 successes, confirming what @Myoldmopar experienced: the CI-built package appears different.

[2018-10-09 09:59] jmarrec commented on #6998
Ok, so for openstudio, I think I'm just going to change the regression test to be Gaseous fuel supply...

FYI, these functions in FuelCellElectricGenerator are never used: FigureHXleavingGasHeatCap, FigureLHVofFuel, FigureProductGasHeatCap, UpdateExhaustAirFlows,

[2018-10-09 15:02] jmarrec opened #7000 "Feature request: get CI bot to compute and output a md5sums.txt"
Issue overview
--------------

Currently, each time we update the OpenStudio CMakeLists.txt to a new E+ version, we have to download at least 3 large compressed files (one for windows, mac, and linux, and possibly one for windows i386 if the .zip version comes back) just to compute md5sum. Plus, unless you're smart about it, next time you actually build OpenStudio, it'll also redownload that versi

[2018-10-09 16:45] jasondegraw commented on #6727
@rraustad @mjwitte Could we get a fuller description of the issue copied over here?

[2018-10-09 23:13] mjwitte commented on #6727
@jasondegraw Given all the changes to UnitarySystem in v9.0, this needs to be re-run to see if the same symptoms are showing.

[2018-10-10 00:14] mjwitte opened #7001 "Improved chilled water coil humidity control"
Issue overview
--------------
This new feature request seeks more precise humidity control for chilled water coils.

User notes that a simple system with a fixed max humidity ratio setpoint over-dehumidifies the supply air, because the adjusted temperature setpoint appears to simply be the dew point temperature corresponding to the humidity ratio setpoint.

Work was done in #5336 to improve humidi

[2018-10-10 16:09] shorowit commented on #6977
If it's not already obvious, it appears that the first piece of ZoneHVAC equipment consumes 3x times the energy as the 2nd/3rd equipment. In other words, it sees 100% of the load instead of 33% of the load, while the 2nd and 3rd equipment see 33% of the load -- thus resulting in over-conditioning the zone.

[2018-10-10 18:01] smnrd opened #7003 "Simulation fails silently with epJSON input converted from working IDF"
Issue overview
--------------
I can't run the epJSON file I get from a (working) IDF. Simulation fails silently :

with no meaningful message in err or audit file.

[N4.epJSON.txt](https://github.com/NREL/EnergyPlus/files/2465859/N4.epJSON.txt)
[eplusout.audit.txt](https://github.com/NREL/EnergyPlus/files/2465854/eplusout.audit.txt)
[eplusout.err.txt](https://github.com/NREL/EnergyPlus/files/24658

[2018-10-10 18:41] smnrd opened #7004 "IDF updater 8.9->9.0 fails to convert a working 8.9 IDF"
Issue overview
--------------
IDF updater 8.9->9.0 hangs indefinitely with [this IDF file](https://github.com/NREL/EnergyPlus/files/2465874/N4.idf.txt). The  [VCpErr file](https://github.com/NREL/EnergyPlus/files/2466011/N4.VCpErr.txt) only shows obsolete object warnings for AirTerminal:SingleDuct:Uncontrolled, but no error.
I tried running the Transition executable from CLI too, same result.

###

[2018-10-11 13:05] xwanguk opened #7006 "Pump:VariableSpeed I/O document mistakes?"
Issue overview
--------------
For the fields after the VFD Control Type, two RPM schedules (Minimum and Maximum) should be applicable to VFD Control Type = ManualControl, not the other way round (I/O document shows both of them are still applicable to VFD Control Type = PressureSetPointControl).

Engineering Reference document indirectly proves this.

### Details

The correct texts should be:

1.3

[2018-10-11 16:06] Myoldmopar commented on #3199
New cross platform utilities are starting to do this better on their own.  Marking this closed.

[2018-10-11 16:06] #3199 closed

[2018-10-11 16:07] Myoldmopar commented on #3331
Lots of improvements over the years, this has most likely been addressed by now.  Closing.

[2018-10-11 16:07] #3331 closed

[2018-10-11 16:36] Myoldmopar commented on #4183
Likely this has been addressed in the new detailed coil reports.  @kbenne feel like confirming?  I'm going to close because I believe it is done, but feel free to reopen.

[2018-10-11 16:36] #4183 closed

[2018-10-11 16:38] Myoldmopar commented on #4215
I think all this has settled down so I'm going to close it.  I do have a branch locally that will test for any invalid characters on CI, but I haven't pushed it yet.  So it should be even more stable soon.

[2018-10-11 16:38] #4215 closed

[2018-10-11 16:43] Myoldmopar commented on #4289
This can be done now, closing.

[2018-10-11 16:43] #4289 closed

[2018-10-11 16:48] Myoldmopar commented on #4326
This has been addressed; closing.

[2018-10-11 16:48] #4326 closed

[2018-10-11 17:01] Myoldmopar commented on #4537
This can be done now; closing.

[2018-10-11 17:01] #4537 closed

[2018-10-11 17:05] Myoldmopar commented on #4628
We think this new coil sizing details report covers this so I'm closing it.

[2018-10-11 17:05] #4628 closed

[2018-10-11 17:13] Myoldmopar commented on #4815
This was thoroughly improved with the new run period work; closing this issue.

[2018-10-11 17:13] #4815 closed

[2018-10-11 17:27] #4269 closed

[2018-10-11 17:27] #4270 closed

[2018-10-11 17:27] #4286 closed, assigned to nobody

[2018-10-11 17:27] #4292 closed

[2018-10-11 17:27] #4304 closed

[2018-10-11 17:27] #4330 closed

[2018-10-11 17:27] #4334 closed

[2018-10-11 17:27] #4409 closed, assigned to nobody

[2018-10-11 17:27] #4423 closed

[2018-10-11 17:27] #4426 closed

[2018-10-11 17:27] #4428 closed

[2018-10-11 17:27] #4435 closed

[2018-10-11 17:27] #4548 closed, assigned to EnergyArchmage

[2018-10-11 17:27] #4587 closed

[2018-10-11 17:27] #4596 closed

[2018-10-11 17:27] #4600 closed

[2018-10-11 17:27] #4607 closed

[2018-10-11 17:27] #4608 closed

[2018-10-11 17:27] #4643 closed

[2018-10-11 17:27] #4667 closed

[2018-10-11 17:27] #4710 closed

[2018-10-11 17:27] #4737 closed

[2018-10-11 17:27] #4821 closed

[2018-10-11 17:27] #4829 closed

[2018-10-11 17:27] #4865 closed, assigned to nobody

[2018-10-11 17:27] #3821 closed

[2018-10-11 17:27] #3860 closed

[2018-10-11 17:27] #3953 closed

[2018-10-11 17:27] #3956 closed

[2018-10-11 17:27] #3964 closed

[2018-10-11 17:27] #4002 closed

[2018-10-11 17:27] #4017 closed

[2018-10-11 17:27] #4078 closed

[2018-10-11 17:27] #4087 closed

[2018-10-11 17:27] #4105 closed

[2018-10-11 17:27] #4112 closed

[2018-10-11 17:27] #4114 closed

[2018-10-11 17:27] #4117 closed

[2018-10-11 17:27] #4132 closed

[2018-10-11 17:27] #4133 closed

[2018-10-11 17:27] #4181 closed

[2018-10-11 17:27] #4207 closed

[2018-10-11 17:27] #4211 closed

[2018-10-11 17:28] #4258 closed

[2018-10-11 17:28] #4260 closed

[2018-10-11 17:28] #4263 closed

[2018-10-11 17:28] #4264 closed

[2018-10-11 17:28] #4265 closed

[2018-10-11 17:28] #4267 closed

[2018-10-11 17:28] #4268 closed

[2018-10-11 17:28] #2502 closed

[2018-10-11 17:28] #2652 closed

[2018-10-11 17:28] #2822 closed

[2018-10-11 17:28] #2844 closed

[2018-10-11 17:28] #3036 closed

[2018-10-11 17:28] #3283 closed

[2018-10-11 17:28] #3367 closed

[2018-10-11 17:28] #3423 closed

[2018-10-11 17:28] #3438 closed

[2018-10-11 17:28] #3449 closed

[2018-10-11 17:28] #3566 closed

[2018-10-11 17:28] #3584 closed

[2018-10-11 17:28] #3591 closed

[2018-10-11 17:28] #3607 closed

[2018-10-11 17:28] #3630 closed

[2018-10-11 17:28] #3657 closed

[2018-10-11 17:28] #3695 closed

[2018-10-11 17:28] #3706 closed

[2018-10-11 17:28] #3750 closed

[2018-10-11 17:28] #3775 closed

[2018-10-11 17:28] #3790 closed

[2018-10-11 17:47] mjwitte commented on #7004
@smnrichard It isn't hanging, but it's taking a very long time to find the zone numbers for all of the fenestration surfaces which have window shading controls assigned in order to accomplish the transition for WindowShadingControl.
@Myoldmopar I will work on improving this. This file is taking hours to complete transition.

[2018-10-11 17:49] Myoldmopar commented on #7004
In the meantime is it possible to extract out the relevant portions of the IDF and transition separately, or break it into individual parts?

Also, @smnrichard if this is a "one-off" issue where your specific IDF file happens to be very intensive and you won't be having to do this often, I'd be happy to let this run on my machine and send you back the one-time updated file.

Thanks @mjwitte for wo

[2018-10-11 19:55] jmarrec commented on #3591
@myoldmopar instead of wontfix, we could update all chiller reference temperatures to match the curves that the chiller uses.
What do you think?

[2018-10-11 20:56] jasondegraw commented on #5034
Based upon the discussion here, I'm going to close this as addressed.

[2018-10-11 20:56] #5034 closed, assigned to nobody

[2018-10-11 21:29] jasondegraw commented on #6869
@mjwitte I'm relabeling this as "Refactoring" but I'm not sure that that's quite right. It isn't quite a bug and it isn't quite a new feature, so...

[2018-10-12 09:57] smnrd commented on #7004
Thanks for the quick reply.
I let it run about an hour, since transition for previous versions took about 10min to complete, I figured it might have fallen into an infinite loop.
@Myoldmopar , this IDF is not particularly complex with our use of Energy+ ("as built" whole building simulation with design builder), but waiting longer for the transition to complete on my machine is not an issue, thank

[2018-10-12 09:57] #7004 closed, assigned to nobody

[2018-10-12 11:20] jmarrec opened #7009 "Remove Number Of Constituents field in Generator:FuelSupply and Generator:FuelCell:AirSupply"
Issue overview
--------------

These two fields are unnecessary and I suggest removing them from the IDD:

* `Generator:FuelSupply`: Number of Constituents in Gaseous Constituent Fuel Supply
* `Generator:FuelCell:AirSupply:` Number of UserDefined Constituents

The number of extensible groups actually used (respectively between 0 and 12, and 0 and 5) is enough to determine the number of constituent

[2018-10-12 15:53] aaron-boranian commented on #6717
- [x] I/O Ref section for `Coil:WaterHeating:AirToWaterHeatPump:VariableSpeed` object is missing. It is referenced in the [Heat Pump Water Heaters section](https://github.com/NREL/EnergyPlus/blob/eb68ccb2bfb3d01807412e33399299da8cdb4b11/doc/input-output-reference/src/overview/group-water-heaters.tex#L1161) of the I/O Ref, but it's input fields are not discussed or defined like the `Coil:WaterHeati

[2018-10-12 16:34] aaron-boranian commented on #6717
- [x] I/O Ref and Eng Ref sections for `FaultModel:PressureSensorOffset:OutdoorAir` object are missing. Content should be added to:
- [`doc/input-output-reference/src/overview/group-operational-faults.tex`](https://github.com/NREL/EnergyPlus/blob/eb68ccb2bfb3d01807412e33399299da8cdb4b11/doc/input-output-reference/src/overview/group-operational-faults.tex)
- [`doc/engineering-reference/src/operatio

[2018-10-12 16:41] jasondegraw commented on #6716
I have confirmed that there is something going on with this, adding the defect label.

[2018-10-12 16:51] jasondegraw commented on #6964
See also #4644

[2018-10-12 17:09] aaron-boranian commented on #6717
- [x] I/O Ref and Eng Ref sections for `Curve:ChillerPartLoadWithLift` object are missing. It is referenced in the [Plant Equipment section](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-plant-equipment.tex#L1842) of the I/O Ref and [Chillers section](https://github.com/NREL/EnergyPlus/blob/develop/doc/engineering-reference/src/simulation-models-ency

[2018-10-12 17:34] mjwitte commented on #6716
Using hours numbers of 1-24 is part of the original epw definition, see Auxiliary Program doc, section 2.9.1 Data Field Descriptions.

This is the hour of the data. (1 - 24). Hour 1 is 00:01 to 01:00. Cannot be missing.
2.9.1.5 Field: Minute
This is the minute field. (1..60)

The minute field should not be zero, based on the original design; it should be the ending minute for the data interval. So

[2018-10-12 20:24] mjwitte commented on #4929
The "... Curve Object Type" fields in ThermalStorage:Ice:Detailed need to be kept, because they cause a change in the independent variables used to evaluate the curve. #6879 suggests changing the key choices for these fields and adding documentation.  Closing this issue.

[2018-10-12 20:24] #4929 closed, assigned to nobody

[2018-10-12 21:10] mjwitte commented on #6507
Closed via #6768.

[2018-10-12 21:10] #6507 closed, assigned to lgu1234

[2018-10-13 17:02] mjwitte commented on #6727
@jasondegraw @rraustad There are still issues here. Added new information at the top.

[2018-10-13 23:50] ff-kschlansker opened #7010 "Transition IDF Version Updater Bug in v9.0"
There appears to be an issue introduced between 8.9.0 and 9.0.1 having to do with updating IDFs to newer versions.  With 8.9.0 I had no problem updating IDF files.  With 9.0.1 I get the following error on every IDF I attempt to update:

[code]

The full output from the Transition program is as follows:
[code]

[2018-10-15 15:34] mjwitte commented on #7010
@ff-kschlansker I see the problem. There is a shared function that is used across all transition versions which was updated for v9.0 without recognizing that it will break earlier transition versions.

### Workaround
Copy all of the older transition exe's from the v8.9.0 install into the v9.0.1 IDFVersionUpdater folder.

[2018-10-15 15:53] Myoldmopar opened #7011 "Issues running multiple GLHEs"
Issue overview
--------------
Informed about a potential problem with GLHEs.  "It was as though the first GLHE entered in the IDF runs fine, but the second one doesn't work well...temperature just floats."  Doesn't matter if they are on the same loop or not, series/parallel, anything.  The second one just doesn't seem to update.

User expected these two GLHEs to behave very similarly, but one just

[2018-10-15 19:03] Myoldmopar commented on #3591
I think that would be great, and to be honest, this is one issue that we definitely went back and forth on keeping open or marking wont-fix.  If you want to take this on as one of your defects, it would be OK with me.

[2018-10-15 22:19] jasondegraw opened #7012 "AFECOI appears to use wrong hydraulic diameter"
Issue overview
--------------
It appears to me that the AFECOI routine in AirflowNetwork is using data from the wrong component array. From around line 2518 in AirflowNetworkSolver.cc:

[code]

The relative roughness calculation (`ed`) on the third line above is using the diameter from a duct object: `DisSysCompDuctData(CompNum).D`.

The fix is simple (replace `Duct` with `Coil`), but it does caus

[2018-10-15 22:21] rraustad opened #7013 "Fan:SystemModel is highlighted as not allowed on branch when using IDF Editor"
Issue overview
--------------
The IDF Editor shows that the Fan:SystemModel is not allowed on a branch although the simulation completes without error. See UnmetHours [ticket](https://unmethours.com/question/34887/how-to-change-idd-file-to-allow-fansystemmodel-on-branch/?comment=34919#post-id-34919)

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, v

[2018-10-15 22:59] mjwitte commented on #7013
It was also missing some other applicable reference tags. Fixed in #6951

[2018-10-16 13:27] lgu1234 commented on #7012
@jasondegraw I agree with you. A good catch.

[2018-10-16 13:58] ff-kschlansker commented on #7010
Thank you @mjwitte - using the the EP 9.0 binaries for only V8-9-0 ==> V9-0-0, and EP 8.0 binaries for everything <V9-0-0 appears to work.

[2018-10-16 18:47] #5541 closed, assigned to Myoldmopar

[2018-10-17 15:24] jmarrec commented on #6357
You're right, thanks for the report @jfirrantello

In 9.0:

15.2.1.4 Design Block Calculations, equation 15.29

![image](https://user-images.githubusercontent.com/5479063/47096838-5ae4b000-d230-11e8-8ead-64c23ecfc719.png)

https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/WaterCoils.cc#L1513

[2018-10-17 16:09] jmarrec commented on #6357
After fix in #7015:

![image](https://user-images.githubusercontent.com/5479063/47100461-cc742c80-d237-11e8-8768-914aba56f60b.png)

[2018-10-17 21:04] michael-okeefe opened #7017 "Autosize Fields Inconsistent in Output Reporting and Missing Autosize Values"
Issue overview
--------------
When doing autosize (autosizing runs) in EnergyPlus with `Output:Table:SummaryReports,ComponentSizingSummary;` and `Output:SQLite, SimpleAndTabular;`, it is difficult to match the `Description` column in the eplusout.sql table `ComponentSizes` with the original field in the input IDF which was autosized. We have also run into at a few cases where a field appears to be

[2018-10-18 09:41] jmarrec commented on #4414
https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/WeatherManager.cc#L3653:L3661

It does `Value - ScheduleValue`, which happens to already be the same as what's done in the `SizingPeriod:DesignDay`, so confirmed it's the doc that need to change, not the code.
See #7015

[2018-10-18 10:13] jmarrec commented on #4307
The Output:Table:SummaryReports has a subsection for HVAC Sizing Summary [here](https://bigladdersoftware.com/epx/docs/9-0/input-output-reference/output-table-summaryreports.html#hvac-sizing-summary) that does explain this:

The same can be found in the "Output Details and Examples" under the HVAC Sizing Summary [here](https://bigladdersoftware.com/epx/docs/9-0/output-details-and-examples/eplustbl

[2018-10-18 10:13] #4307 closed

[2018-10-18 11:45] jmarrec commented on #4287
IIUC, this issue should be renamed as "Eliminate references to 'Purchased Heating' in favor of 'District Heating'"

[2018-10-18 14:23] jmarrec commented on #4275
I decided to put it in the Tips and Tricks and added: HW LWT Reset, ChW LWT Reset, AirLoopHVAC SAT Reset, and Cooling Tower Reset. I added a reference to that in the compliance doc.

[2018-10-18 14:37] jmarrec opened #7018 "Degree sign not showing in doc PDF, standardize around siunitx"
Issue overview
--------------

Package `siunitx` is already included, but `\textdegree` is used through the documentation, while `textcomp the package package that provides this `\textdegree` command` isn't actually used, so you end up with missing degree signs in the PDF.

Eg:
![image](https://user-images.githubusercontent.com/5479063/47162207-d2c7de80-d2f3-11e8-8327-f242436ddd14.png)

[code]

We

[2018-10-18 15:40] shorowit commented on #7018
Should be spelled "fahrenheit" :-)

[2018-10-18 15:52] jmarrec commented on #7018
oopsy, thanks for the catch... +1:

[2018-10-18 21:50] mjwitte opened #7019 "SetpointsNotMetWithTemperaturesMonthly table report all zeros unless the corresponding output:variable objects are added to the idf"
Issue overview
--------------
User noted that output for the SetpointsNotMetWithTemperaturesMonthly and ComfortReportSimple55Monthly were all zero, but the summary at the end of ABUPS was not.

### Workaround
Add the corresponding output:variable objects (any reporting frequency will work).
[code]

### Details
Some additional details for this issue (if relevant):
 - Platform Win64
 - Version of En

[2018-10-19 09:18] jmarrec opened #7020 "PlantComponent:UserDefined - Revamp IDD"
Issue overview
--------------

`PlantComponent:UserDefined` has a strange IDD format: it has a Field Set of 6 inputs (what we'd call an "Extensible" group in OpenStudio), and this field set is in between non extensible fields.

The extensible "field set" should be moved at the end of the object's IDD, which would allow to properly define `\min fields` so that at least one field set is indeed used.

[2018-10-19 10:13] jmarrec opened #7021 "EvaporativeCooler:*:ResearchSpecial confusing field name "Sizing Factor""
Issue overview
--------------

`EvaporativeCooler:Direct:ResearchSpecial` and `EvaporativeCooler:Indirect:ResearchSpecial` both have a field `Water Pump Power Sizing Factor` which is very confusing. You would expect this field to be similar to a chiller sizing factor: that is it's autosized by E+, and the autosized value is multiplied by the sizing factor.

In fact this field is most similar a Pum

[2018-10-19 12:09] jmarrec commented on #6717
@aaron-boranian fpr "I/O Ref and Eng Ref sections for FaultModel:PressureSensorOffset:OutdoorAir object are missing", that's because this object, while present in the EnergyPlus Input Data Dictionary, is not implemented yet. See https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/FaultsManager.cc#L187

Should we keep not mentioning it, or add a section?

[code]

[2018-10-19 13:35] mjwitte commented on #6717
@jmarrec @aaron-boranian Given that it's not implemented, that should have never been added to the IDD. Probably slipped in unnoticed with a larger group of new fault model objects.

@Myoldmopar If you agree I will remove this object from the IDD in #6951. There are some comments in the code that mention this - remove those as well?

[2018-10-19 13:45] mjwitte commented on #7021
At some point we should drop the `ResearchSpecial` suffix. There are only three objects which use it. In this case, we can change to a more descriptive name, or merge with one of the other evap cooler objects, or perhaps merge all of the evap coolers into one at some point.

[2018-10-19 15:39] jmarrec commented on #6717
@mjwitte @shorowit I tried to add some info regarding the Plant Load Distribution Scheme. I only did "Sequential Load" and "UniformLoad" since it's extremely painful to create, and I think having two would make people understand the three others... Could you let me know if this PDF extract could address your issue please?

[test.pdf](https://github.com/NREL/EnergyPlus/files/2496481/test.pdf)

[2018-10-19 15:42] JasonGlazer opened #7022 "Add ability to compute electric tariffs based on daily demand"
Issue overview
--------------
User needed to model a rate that is based on a cost per kW that is computed *each day*, see:
https://unmethours.com/question/35016/electric-demand-costs-based-on-daily-peak-kw-values/
https://www.csu.org/CSUDocuments/ratesheetbusiness.pdf
https://www.csu.org/CSUDocuments/2018TariffRateFiling.pdf

### Checklist
Add to this list or remove from it as applicable.  This is

[2018-10-19 15:52] jmarrec commented on #6717
I think the last other checkbox from Aaron:

" I/O Ref section for Coil:WaterHeating:AirToWaterHeatPump:VariableSpeed object is missing. It is referenced in the Heat Pump Water Heaters section of the I/O Ref, but it's input fields are not discussed or defined like the Coil:WaterHeating:AirToWaterHeatPump:Pumped and Coil:WaterHeating:AirToWaterHeatPump:Wrapped objects are in the Heating and Cooling

[2018-10-19 21:18] mjwitte opened #7024 "HVACTemplate fatal error if Chiller:Electric:EIR object has all possible fields"
Issue overview
--------------
[code]

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.0.1
 - Helpdesk ticket number 13080

### Checklist
Add to this list or remove from it as applicable.  This is a simple templated set of guidelines.
 - [ ] Defect file added (list location of defect file here)
 - [ ] Ticket added to Pivotal for defect (development team

[2018-10-19 21:25] mjwitte commented on #7024
Never mind, error was in v8.6, and this has been fixed since then.

[2018-10-19 21:25] #7024 closed, assigned to nobody

[2018-10-22 16:23] jmarrec commented on #6717
Added an example for each "Load Distribution Scheme" while reading the source code in `DistributePlantLoad`
See [test.pdf](https://github.com/NREL/EnergyPlus/files/2502185/test.pdf)

[2018-10-22 19:20] mjwitte commented on #6977
@shorowit Have you tested any other types of ZoneHVAC equipment to see if UniformLoad works correctly?

[2018-10-22 19:47] shorowit commented on #6977
Here is my full set of test results:
- ZoneHVAC:Baseboard:Convective:Water: BAD
- ZoneHVAC:Baseboard:Convective:Electric: BAD
- ZoneHVAC:PackagedTerminalAirConditioner: BAD
- AirLoopHVAC:UnitarySystem (zone equip; no airloop): GOOD
- ZoneHVAC:AirDistributionUnit (airloop): GOOD

[2018-10-22 19:48] shorowit commented on #6977
And I can upload files for any of the above if you want them, Just let me know.

[2018-10-23 08:14] jmarrec commented on #6947
There's one possibly incomplete section in I/O there: https://github.com/jmarrec/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-hybrid-model.tex

It doesn't have the Output variables. A cursory look at the code base indicates that one variable should be there: https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/HeatBalanceManager.cc#L5142
"Zone Infiltration Hyb

[2018-10-23 13:18] mjwitte opened #7026 "Documentation Issues - 2018b"
Issue overview
--------------
A collection of small documentation issues. See checkboxed comments below.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 - Unmethours link or helpdesk ticket number

### Checklist
Add to this list or remove from it as applicable.  This i

[2018-10-23 13:22] mjwitte commented on #7026
- [x] I/O Ref documentation for these output variables should appear under `ZoneHVAC:AirDistributionUnit` and nowhere else:
[code]
Currently these are repeated under a few of the specific air terminal units, but not all of them. Since these are produced with the ATU name as the key value, they should be documented there and removed elsewhere.  The one exception is `AirTerminal:SingleDuct:Uncontrol

[2018-10-23 16:10] jmarrec opened #7027 "Duplicate sections in documentation"
Issue overview
--------------

* Site:GroundTemperature:FCfactorMethod
    * https://github.com/jmarrec/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-surface-construction-elements.tex#L3903

    * https://github.com/jmarrec/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-location-climate-weather-file-access.tex#L1589

### Details
Some additional detail

[2018-10-23 18:40] luisclv opened #7029 "ZoneInfiltration Airflow Stats Nominal section displaying wrong units"
Issue overview
--------------

After changing the OutputControl:Table:Style object Unit Conversion to _InchPound_, the _ZoneInfiltration Airflow Stats Nominal_ included in the _AllSummary_ report displays some columns in SI units. The values displayed in the columns are the correct entered values in SI units. The fix will be complete when this report does the conversion for this columns.

![image]

[2018-10-24 07:54] jmarrec commented on #7019
Seems like adding these variables was planned for already: https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/InputProcessing/InputProcessor.cc#L1585:L1597

Except none of these ever get actually requested, so KeyCount [here](https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/OutputReportTabular.cc#L1135) ends up being zero and the num of tables isn't initialized (and

[2018-10-24 12:50] mjwitte commented on #7019
It used to work just fine, not sure when it stopped working.

[2018-10-24 13:14] mjwitte commented on #7019
So, can you track down why `GetVariableKeyCountandType` is not finding these? Are they present in the master variable list at that point? These output variables are set up in `ThermalComfort::InitThermalComfort` - is that executing before `InitializeTabularMonthly`?

[2018-10-24 13:14] antoine-galataud opened #7030 "EMS DayOfWeek index not matching documentation"
EnergyPlus version: 8.8

I've a simple EMS program that outputs DayOfWeek, DayOfMonth, Month and Year built-in variables. These variables are read by a script that simply prints them. Here is the part of the script itself

`print('{} {}/{}/{}'.format(dayOfWeek, dayOfMonth, month, year))`

Sample output:

[code]

(year is 1986 because of weather file used: `USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.

[2018-10-24 13:35] mjwitte commented on #7030
Prior to v9.0, EnergyPlus, the year number did not control the calendar days.  Significant changes were made for date handling [here](https://github.com/NREL/EnergyPlus/pull/6478) for v9.0.

Check the `RunPeriod` input for "Day of Week for Start Day". It can be set to a specfic day of the week, or it may be "UseWeatherFile" which is the default.

If it is UseWeatherFile, then check the headers at

[2018-10-24 13:35] #7030 closed, assigned to nobody

[2018-10-24 13:49] jmarrec commented on #7019
`ThermalComfort::InitThermalComfort` does execute before `InitializeTabularMonthly`

In `GetVariableKeyCountandType` is does find the variable type https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/OutputProcessor.cc#L8085

But when it reaches `// Search real Variables Next`, there are only 9 Real Variables defined:

[code]

[2018-10-24 13:54] jasondegraw commented on #7030
@mjwitte closed this before I could respond, but I'm pretty sure that this is expected behavior. As he indicated, changes were made for 9.0 to use the `RunPeriod` object to determine the start day of the week and to get a start year that matches up as legitimate calendar date. In 9.0, if you specify that you're simulating 1986, then the start day of the week will be Wednesday.

For versions 8.9 an

[2018-10-24 15:07] mjwitte commented on #7019
More information, starting with 5ZoneAirCooled with no output:variable or output:meter objects, and requesting "AllMonthly" reports.
1. This reporting was working properly in v8.8.
2. In v8.9 and v9.0, requesting "AllMonthly" produces some of the monthly reports, but not SetpointsNotMetWithTemperaturesMonthly
3. Add SetpointsNotMetWithTemperaturesMonthly in v8.9 and v9.0 and still no report - lots

[2018-10-24 15:13] jmarrec commented on #7019
I found the problem with the help of @mbadams5, it's a problem of DataOutputs::FindItemInVariableList that fails with different casing. I'm trying to write a proper unit test now.

[2018-10-24 19:03] antoine-galataud commented on #7030
Thanks @jasondegraw and @mjwitte. Appreciate your help.

[2018-10-24 21:05] alex-tan commented on #6815
Note: just added a third small issue I found regarding `\type` capitalization in the issue text.

[2018-10-25 09:41] jmarrec commented on #7029
If you take `5ZoneAutoDXVAV.idf` which has already AllSumary and InchPound reporting, you'll find a few more missing conversions, such as  Zone Internal Gains Nominal and  People Internal Gains Nominal still show `person/m2` (while `ft2/person` works fine)

![image](https://user-images.githubusercontent.com/5479063/47492956-75311600-d84e-11e8-8b77-5ca92c81cd8f.png)

[2018-10-25 10:28] jmarrec commented on #6442
I took the liberty of updating the issue to include the issue checklist, and indicating I can reproduce it with 1ZoneDataCenterCRAC_wApproachTemp.idf.

## SI-units:

![image](https://user-images.githubusercontent.com/5479063/47494234-79aafe00-d851-11e8-8f33-927a11e6ef4a.png)

## IP-units

![image](https://user-images.githubusercontent.com/5479063/47494261-83346600-d851-11e8-957e-c4c23125dfee.png)

[2018-10-25 13:09] JasonGlazer commented on #6863
I'm working on this issue.

[2018-10-25 14:46] jmarrec commented on #6442
## After fix in #7033, in IP Units:

![image](https://user-images.githubusercontent.com/5479063/47509041-880b1100-d875-11e8-861e-062637c2d8bd.png)

[2018-10-25 15:41] mjwitte commented on #6863
@JasonGlazer This may be related to #7019

[2018-10-25 16:08] JasonGlazer commented on #7019
@jmarrec I think this is exactly the same issue as #6863 so let me know when you get it fixed and I will test if it fixes that issue also.

[2018-10-25 17:56] jmarrec commented on #7019
@jasonglazer see PR #7031 referenced above

[2018-10-25 18:30] mjwitte commented on #6815
@alex-tan Added to #6951

[2018-10-26 08:36] jmarrec commented on #6863
Duplicate of #7019, and I fixed this in #7031 already (confirmed with user example above)

[2018-10-26 08:36] #6863 closed, assigned to JasonGlazer

[2018-10-26 12:47] jmarrec commented on #6899
Fixed in #7034

[2018-10-26 16:05] nmerket opened #7035 "Heat exchanger effectiveness applied twice to stratified tanks"
Issue overview
--------------
For both the source and use side, the heat exchanger effectiveness is [applied to the flow rates](https://github.com/NREL/EnergyPlus/blob/c1a8cbbf47edf480e3c9e680a32d310591a11b3c/src/EnergyPlus/WaterThermalTanks.cc#L8464-L8465) in `CalcNodeMassFlows` and then [saved onto the tank node for the inlets](https://github.com/NREL/EnergyPlus/blob/c1a8cbbf47edf480e3c9e680a32d

[2018-10-26 16:08] jmarrec commented on #6720
Fixed in #7036

[2018-10-26 23:13] xuanluo113 opened #7037 "Unrequired Curve Name in ITE:AirCooled object implemented as required; Plus a typo in IDD"
Issue overview
--------------
The fields "**Recirculation Function of Loading and Supply Temperature Curve Name**" and "**Electric Power Supply Efficiency Function of Part Load Ratio Curve Name**" are both described and processed during calculation as defaultable: "If this curve is left blank, then the curve is assumed to always equal 1.0."

However, they were both implemented as required field:
[

[2018-10-28 19:51] JasonGlazer opened #7038 "Update output reporting of mechanical equipment using 90.1-2019 metrics"
During the ASHRAE 90.1 meetings in October 2018 many new addenda were voted out that update the mechanical equipment efficiency tables. Many new metrics are being used in the tables to describe the efficiency of equipment. Current output reports that report metrics for mechanical equipment should be updated to also report the new metrics.

### Checklist
Add to this list or remove from it as applic

[2018-10-29 23:03] mjwitte opened #7039 "Zone sizing reports zero heating load if Zone Heating Design Supply Air Temperature is less than the heating setpoint"
Issue overview
--------------
This situation should produce non-zero design heating loads, issue a warning, and report zero design heating airflow rates (because the air flow is undefined for this situation). Look at the classroom zones, for example, CORNER_CLASS_1_POD_1_ZN_1_FLR_1 ZN, in the HVAC Sizing Summary, Zone Sensible Heating table.

### Workaround
Set the `Sizing:Zone` Zone Heating Desig

[2018-10-30 15:04] rraustad opened #7041 "Suspect calculations in ElectricEquipment:ITE:AirCooled when Air Flow Calculation Method = FlowFromSystem"
Issue overview
--------------
Working in branch ZoneAirFlow6574 in case this has already been corrected in develop.

Test file shows a break in the debugger for uninitialized variable in the CalcZoneITEq routine where TSupply is uninitialized.

    if (abs(TAirOut - TSupply) < SmallTempDiff) {
        TAirOut = TSupply;
    }

In GetInput this input sets FlowControlWithApproachTemps = false (which

[2018-10-30 18:50] mjwitte commented on #7026
- [x] EMS Application Guide, description of Plant Supervisory Control, Plant Component \*, On/Off Supervisory is incorrect. The current description says that zero means the component and its branch will be off (this is correct), and it says any other value means operate normally (this is *not* correct).  Here is how it's used in the [code](https://github.com/NREL/EnergyPlus/blob/c1a8cbbf47edf480e3

[2018-10-31 07:52] nowox commented on #6800
Up ?

[2018-10-31 12:31] mjwitte commented on #6800
@nowox Does EnergyPlus generate any output files?  Any error messages in eplusout.err?

[2018-10-31 13:14] smnrd opened #7042 "EPjson input file format does not support diacritics"
Issue overview
--------------
Energyplus fails silently when running an epJSON file with diacritics ([example file failing with 1 'é', working if replaced by 'e'](https://github.com/NREL/EnergyPlus/files/2534475/N4.epJSON.txt)). It might not be a bug but adding a meaningful error message would be nice, especially considering that diacritics works well in IDF files.

### Details
Some additional det

[2018-10-31 13:17] smnrd commented on #7003
It seems that EPjson doesn't support diacritics, moving to a new issue #7042 .

[2018-10-31 13:17] #7003 closed, assigned to nobody

[2018-10-31 18:30] pflaumingo opened #7043 "EnergyPlus Not Supporting UTF-8"
Issue overview
--------------
EnergyPlus no longer seems to support UTF-8 encoding as it did before breaking it's use for a lot of international applications. I tested using various UTF-8 characters, such as 模型, and found that from EnergyPlus 8.9 onwards the files don't run. EnergyPlus 8.8 worked, but 8.9 and 9.0.1 did not work.

Some additional details for this issue (if relevant):
 - Windows 10

[2018-10-31 21:38] eringold commented on #6717
@michael-okeefe - another issue on the Big Ladder Software documentation site.

In the v9.0 Engineering Reference, a link to the 'Coils' Encyclopedic Reference [section](https://bigladdersoftware.com/epx/docs/9-0/engineering-reference/coils.html) is missing from the [table of contents](https://bigladdersoftware.com/epx/docs/9-0/engineering-reference/).

[2018-11-01 16:02] michael-okeefe commented on #6717
Thank you, @eringold . We'll look into it and report back.

[2018-11-02 14:05] mjwitte opened #7044 "Thermal chimney impact on zone infiltration is not clear, also could use an EMS actuator."
Issue overview
--------------
1. `ZoneThermalChimney` calculates a total flow for the chimney and then distributes this flow to the zone(s) as infiltration. This is added to any base infiltration that is calculated by `ZoneInfiltration:*` objects. The total infiltration (including the induced infiltration from the chimney) is reported in the "Zone Infiltration *" output variables. This connection

[2018-11-04 18:53] nowox commented on #6800
Unfortunately no other errors than provided. The weird output is this `x882 -1` where `x882` does not look like a version number, but `-1` is indeed an error code.

[2018-11-04 18:59] mjwitte commented on #6800
@mwetter Any suggestions?

[2018-11-05 12:50] mjwitte opened #7046 "Surface report cardinal direction rounding"
Issue overview
--------------
In the Envelope Summary Report, Opaque Exterior subtable, Surface CEILING VOID A.B.1.1:WALL A.B.1.2 is showing an azimuth of 315.00 and a cardinal direction of N, while many other 315.00 surfaces are showing W.
![opaqueexterior](https://user-images.githubusercontent.com/4991075/47998484-162c9600-e0c5-11e8-8618-cb525525f028.JPG)

Adding a building rotation of 0.01 push

[2018-11-05 13:46] mjwitte commented on #7026
- [x] Engineering Reference, "Tables based on a single independent variable", in the sample idf object for `Table:OneIndependentVariable`, the field for "Maximum Table Output" should be 125, not 64.

*EnergyPlus 9.0.1, Helpdesk 13095.*

UPDATE: Fixed by #6749, but I cleaned up a stray ```Table:OneIndependentVariable``` reference.

[2018-11-05 16:21] mwetter commented on #6800
I don't see in the BCVTB code that writes `Received message from`. This message may be from the Python script from @nowox that points to a local link
https://gist.github.csem.local/ycr/efacec8094b27e1ad4fb17881796b85a and hence I don't see what is going on.
As I wrote to @nowox  by email on Nov. 1, I recommend to export EnergyPlus as an FMU and use for example PyFMI. This way allows using a tested

[2018-11-05 20:19] mjwitte opened #7047 "HVACTemplate:System:DedicatedOutdoorAir dx cooling coil significantly undersized."
Issue overview
--------------
`HVACTemplate:System:DedicatedOutdoorAir` generates a `CoilSystem:Cooling:DX` object but fails to add the "Use Outdoor Air DX Coil" field, so for a climate in Indonesia, the coil is significantly undersized and unable to meet the 12.8C cooling setpoint.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v9.0.1
 - Unmethours [35

[2018-11-06 13:46] nowox commented on #6800
Sorry about this, I misplaced my gist. It is now available [here]( https://gist.github.com/nowox/7ce93ec0ef68d9a9e7e3b948e68d271c).

I am not against using PyFMI, but the documentation is very sparse and it is meant to be used with JModelica. My goal far less ambitious, I only would like to: send a new setpoint to EnergyPlus, and get the intermediate states. I have tried to use PyFMI, but there ar

[2018-11-06 16:04] pflaumingo commented on #7043
@Myoldmopar and @macumber I've attached a zip file with some passing and failing cases to test against. Unicode doesn't seem to cause issues in the paths or weather file, but does in the IDF and epJSON.

- [x] Unicode characters in weather file runs and reports appropriately in the HTML and SQL file
- [x] Unicode characters in the file path doesn't cause issues
- [ ] Unicode characters in the IDF

[2018-11-06 19:42] Myoldmopar commented on #7043
I wonder if there's a little difference on Linux because when I created a directory named 模型, and tried to run EnergyPlus on a file in there, I get

    ERROR: Could not find input data file: ..../add_utf8_模型/1ZoneEvapCoolerWithUTF8Char.idf.

Also, when I put that character inside an IDF and try to run it, I get the parser error.

[2018-11-06 19:49] Myoldmopar commented on #7043
And I checked out that one section of international characters inside E+ source.  It seems they were really just added to allow for some international characters to be made "upper case" because the input processor liked to upper case things for internal storage.  I don't think it was a declaration of allowing a certain set of input characters.  This adds to the case that E+ never actually official

[2018-11-06 19:55] mjwitte commented on #7043
@Myoldmopar Yeah, but . . . EnergyPlus de-facto supported extended characters for a long time, so this is a step backwards.

[2018-11-06 19:57] Myoldmopar commented on #7043
Agreed @mjwitte it's technically a step backward; the step forward will be to formalize what we support and do it right in every text-processing part of E+.

[2018-11-06 19:57] jasondegraw commented on #7043
@Myoldmopar Not to kick over any rocks here and I'll probably be banished for suggesting it, but I wonder if we should consider just dropping case insensitivity?

[2018-11-06 19:59] pflaumingo commented on #7043
Yeh, I should note that I tested on a Macbook Pro 2017 running Sierra 10.12.6. I tried on a Windows 10 via parallels, but I'm having issues with non-ascii characters in the path as well.

[2018-11-06 20:26] macumber commented on #7043
Upcase/down casing of UTF-8 strings is not a trivial thing.  It's also possible that E+ supported an extended code page with some international characters but was still limited to 1 byte characters so never really supported unicode.

[2018-11-06 20:46] Myoldmopar commented on #7043
A couple additional comments that were discussed during a call and I just don't want to lose them:
- Need to consider our output file encoding, what is it now?  What should it be?
- Are there any limitations with the SQLite library in terms of UTF-8 support?

[2018-11-06 22:50] mjwitte opened #7048 "Construction:WindowEquivalentLayer using WindowMaterial:SimpleGlazingSystem as a material fatals out silently"
Issue overview
--------------
User file has a `Construction:WindowEquivalentLayer` which references a `WindowMaterial:SimpleGlazingSystem` as a material layer. The run fatals out with the following err output:
[code]

More info would be useful here to inform the user that SimpleGlazingSystem is not valid here. Use `Construction`.

### Details
Some additional details for this issue (if relevant):

[2018-11-07 14:51] rraustad opened #7049 "Change in results for 2ZoneDataCenterHVAC_wEconomizer from V8.9 to V9.0"
Issue overview
--------------
Work on an issue where coil inlet air temps used for sizing are incorrect when sizing OA fraction differs from simulation OA fraction (e.g., VRP adjusts design spec OA fraction) led to the finding that this example file result has changed significantly. Comparing the results in the release versions shows these results. It appears that the water coil model has somehow

[2018-11-08 10:29] jmarrec opened #7053 "ZoneHVAC:WaterToAirHeatPump with variable speed coils throws a fatal error about unitaryMultiSpeed"
Issue overview
--------------

This issue relates to https://github.com/NREL/OpenStudio/issues/3332

A `ZoneHVAC:WaterToAirHeatPump` that has variable speed heating and cooling coils (`Coil:XXX:WaterToAirHeatPumpVariableSpeedEquationFit`) throws a fatal:

[code]

The coil isn't actually referenced by any `UnitarySystemPerformance:Multispeed` object

### Details
Some additional details for this iss

[2018-11-08 11:18] jmarrec commented on #7053
I initially thought that it would be a problem that wasn't caught in E+ because you need at least two things in your model for it to happen:
* A `ZoneHVAC:WaterToAirHeatPump` with Variable Speed coils
* A unitary system with Variable Speed coils to have at least one `UnitarySystemPerformance:Multispeed`

I created a test with this and managed to reproduce it so it confirms my suspicion.

I think I

[2018-11-08 11:59] jmarrec commented on #7053
The defect file `in_smaller.idf` will run fine now, but the `in.idf` is like an onion, there's another issue (that I don't think is related to this one), during the VentilationRateProcedure calc,  a division by zero  in `ManageSystemVentilationAdjustments` [SizingManager.cc#L1532](https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/SizingManager.cc#L1532):
[code]

[2018-11-08 18:14] Myoldmopar commented on #7043
@pflaumingo,

@mbadams5 took time to quickly fix up unicode support.  Essentially his changes get EnergyPlus back to where we were before 8.9.0.  I'm going to review his changes and try to get that in quickly, and I believe this issue will then be wrapped up.  Please take a look over there and confirm that those results are satisfactory to close this issue.

[2018-11-08 18:53] #4275 closed

[2018-11-08 18:53] #4299 closed

[2018-11-08 18:53] #4414 closed

[2018-11-08 18:53] #4429 closed

[2018-11-08 18:53] #6135 closed, assigned to nealkruis, jmarrec

[2018-11-08 18:53] #6357 closed, assigned to jmarrec

[2018-11-08 18:53] #7018 closed, assigned to nobody

[2018-11-08 19:22] pflaumingo commented on #7043
@Myoldmopar if all those screenshots reflect the output and tests are passing then I believe those results are satisfactory.

[2018-11-08 19:28] Myoldmopar commented on #6717
It looks like you ended up *not* removing that object from the IDD.  I'm OK with that, I just want to confirm that was your intent.  Otherwise the PR looks great and I'd like to merge it down.

[2018-11-08 19:31] Myoldmopar commented on #7012
Closed via #7016

[2018-11-08 19:31] #7012 closed, assigned to jasondegraw

[2018-11-08 19:55] mjwitte commented on #6717
@Myoldmopar I did not remove it yet, because I wanted confirmation to go ahead. I can add that over in #6951, or you we can remove it here.

[2018-11-08 19:57] Myoldmopar commented on #6717
Add it over there, I'm going to merge this one.

[2018-11-08 20:10] mjwitte commented on #6717
Done, see https://github.com/NREL/EnergyPlus/pull/6951/commits/1171302bf0ccb8775b4a5824f69040f3a10337df

[2018-11-08 23:03] nealkruis commented on #6122
@mjwitte will this be fixed with the coil refactor?

[2018-11-08 23:11] mjwitte commented on #6122
If we remember, yes, but we should fix it in the current coil also so it doesn't create extra diffs. Basically the fix should go into both branches at the same time.

[2018-11-09 02:57] #6717 closed, assigned to jmarrec

[2018-11-09 02:57] Myoldmopar commented on #6717
Closed via #7023

[2018-11-09 11:42] #6899 closed, assigned to jmarrec

[2018-11-09 11:43] Myoldmopar commented on #6899
Closed via #7034

[2018-11-09 15:12] rraustad opened #7056 "Follow up to #6788, adjust coil inlet air conditions for cooling coil sizing"
Issue overview
--------------
Continued review of coil sizing shows that there are still a few places that don't correctly account for coil air conditions used for sizing.

Example 1:

At the end of this code is initialization of CoilInTemp and CoilInHumRat. DesCoolCoilInTemp is a result of mixing zone air with OA at the OA fraction used during sizing. There are times when the OA fraction is adjus

[2018-11-12 19:27] Myoldmopar commented on #6815
Closed via #6951

[2018-11-12 19:27] #6815 closed, assigned to mjwitte

[2018-11-12 19:27] Myoldmopar commented on #5601
Closed via #6951

[2018-11-12 19:27] #5601 closed, assigned to mjwitte

[2018-11-12 19:28] Myoldmopar commented on #6904
Closed via #6951

[2018-11-12 19:28] #6904 closed, assigned to nobody

[2018-11-12 19:28] Myoldmopar commented on #7013
Closed via #6951

[2018-11-12 19:28] #7013 closed, assigned to mjwitte

[2018-11-12 23:34] nmerket commented on #7035
Also, the on- and off- cycle parasitic fraction to tank is being applied twice.

- Off cycle fraction [here](https://github.com/NREL/EnergyPlus/blob/48cebab627f272efb7d370b4e8ab747858b5b503/src/EnergyPlus/WaterThermalTanks.cc#L6032) and [here](https://github.com/NREL/EnergyPlus/blob/48cebab627f272efb7d370b4e8ab747858b5b503/src/EnergyPlus/WaterThermalTanks.cc#L8259)
- On cycle fraction [here](https

[2018-11-13 02:58] Myoldmopar opened #7058 "Unit test failure"
Issue overview
--------------
A unit test (`EnergyPlusFixture.PackagedTerminalHP_VSCoils_Sizing`) intermittently fails.  The failure rate is probably like 20%.  The platform is **always** Mac.  Anyway, something isn't being cleared in a `clear_state`.

Example failure: http://nrel.github.io/EnergyPlusBuildResults/EnergyPlus-d4e72c89b91b70bf6662bed2764514ad6410e3eb-x86_64-MacOS-10.9-clang.html#test

[2018-11-13 12:26] Myoldmopar commented on #7010
Closed via #7007

[2018-11-13 12:26] #7010 closed, assigned to nobody

[2018-11-13 18:28] #6720 closed, assigned to jmarrec

[2018-11-13 21:40] #7029 closed, assigned to jmarrec

[2018-11-13 21:40] Myoldmopar commented on #7029
Closed via #7032

[2018-11-14 14:27] #7043 closed, assigned to nobody

[2018-11-14 14:27] #7042 closed, assigned to nobody

[2018-11-14 19:29] mldichter opened #7060 "Energyplus Example Files Warnings and Errors"
I ran all the Energyplus 9.0 Example Files recently with the correct weather file for each idf Site:Location object. (I wanted to steal curves from components that didn't cause errors.) I wanted to pass along the output since some of the idf files had some bad warnings and errors related to the equipment that was being demonstrated. The google drive link to the zip file is below.

https://drive.go

[2018-11-14 23:13] mldichter commented on #7013
Do you know if this will also fix this error in the next version of openstudio?

https://unmethours.com/question/34887/how-to-change-idd-file-to-allow-fansystemmodel-on-branch/

There is a problem with measures assigning a string to an idf object's field if openstudio considers the string invalid for that field. For instance, an openstudio measure won't allow a reference to an object by name if th

[2018-11-15 13:05] mjwitte commented on #6661
This was added in v8.8, see `DesignSpecification:AirTerminal:Sizing`.

[2018-11-15 13:05] #6661 closed, assigned to nobody

[2018-11-15 19:37] mjwitte opened #7061 "HVACTemplate:System:ConstantVolume Minimum Outdoor Air Schedule Name is ignored"
Issue overview
--------------
HVACTemplate:System:ConstantVolume Minimum Outdoor Air Schedule Name is ignored.

### Workaround
The only way around this is to edit the expidf file, or to use a different system type, such as `HVACTemplate:System:UnitarySystem` or `HVACTemplate:System:VAV` with the terminal unit min fractions set to 1.0.

### Details
Some additional details for this issue (if relevan

[2018-11-15 20:46] Myoldmopar commented on #7011
I have verified this is a problem.

This is the base file: [base.idf.txt](https://github.com/NREL/EnergyPlus/files/2586964/base.idf.txt).  I took this base file and ran it.  The cold GLHE runs with a nice, expected response.  The hot GLHE does not run well at all:
![base-cold](https://user-images.githubusercontent.com/849824/48580432-d2b40200-e8e4-11e8-8b76-ceb4bec9a1df.png)
![base-hot](https://us

[2018-11-15 21:14] Myoldmopar commented on #7011
I tried renaming the entirety of the cold and hot loops so that they would be stored in opposite order.  `Cold BTES` went to `Z Cold BTES`, and `Hot BTES` went to `A Hot BTES`.  I'm a little surprised that it didn't fix it.  The cold is still good and the hot is still bad, even renamed:

![renamed_z_cold](https://user-images.githubusercontent.com/849824/48582041-1446ac00-e8e9-11e8-96d9-629e00bfd3b

[2018-11-15 21:30] Myoldmopar commented on #7011
And more information.

Reordering the cold/hot plant loops did not make any change (the hot still failed), as in these plots:
![reordered_hot](https://user-images.githubusercontent.com/849824/48582699-d0ed3d00-e8ea-11e8-90f0-2a33e6c0e232.png)
![reordered_cold](https://user-images.githubusercontent.com/849824/48582703-d2b70080-e8ea-11e8-9705-d473eb5b1d05.png)

And in the prior comment, I showed tha

[2018-11-16 02:23] lxk1993 opened #7063 "How to add phase change function to the HAMT module"
I have joined the following five equations.
![1](https://user-images.githubusercontent.com/42338103/48593725-00eb1d80-e989-11e8-81d6-cc9867e29386.jpg)
![4](https://user-images.githubusercontent.com/42338103/48594065-4bb96500-e98a-11e8-9c85-d26c9224e3e0.jpg)
![5](https://user-images.githubusercontent.com/42338103/48594072-52e07300-e98a-11e8-9ddc-487f99ed4426.jpg)
![6](https://user-images.githubuser

[2018-11-16 18:17] tsnouidui opened #7064 "External interface not working because of GetRuntimeLanguageUserInput()"
Issue overview
--------------
A user has reported following bug in E+ version > 8.3:

I'm receiving the following errors when trying to perform co-simulation having more than one ExternalInterface:FunctionalMockupUnitImport:To:Variable for the same FMU in EP version 9.0.1.

[code]
It works fine in EP version 8.3 when I also include the variables as EMS:GlobalVariables.
Using only one variable work

[2018-11-16 20:11] mjwitte commented on #7026
- [x] Engineering Ref, v9.0.1 p. 160, the section headings for "Ground Heat Transfer Calculations using Site:GroundDomain:Slab" and Basement fall off the edge of the page.

![image](https://user-images.githubusercontent.com/4991075/48644807-618a5280-e9a9-11e8-8d0c-187cbac255d3.png)

[2018-11-16 20:16] mjwitte commented on #7026
- [x] Reading the I/O ref guide, it isn't clear what the Site:GroundDomain:Basement Aspect Ratio means. The help says:

"Numeric field used to define the height to width ratio of the slab."

Whereas for the equivalent basement object the help is clearer:

"Numeric field, which is the ratio of basement length to width, used to determine the aspect
ratio of the basement. This field along with the to

[2018-11-16 20:32] mitchute commented on #7026
Yes, on a plan view, this is the length to width ratio.

[2018-11-16 22:13] mjwitte opened #7066 "VRF:FluidTemperatureControl with Fan:systemModel runs continuously in OnOff operating mode"
Issue overview
--------------
Same issue as #6336, but this time for VRF:FluitTemperatureControl. Issue was fixed for the other VRF in #6342. Need similar code changes in `VRFTerminalUnitEquipment::CalcVRF_FluidTCtrl`.

### Details
Some additional details for this issue (if relevant):
 - Platform (Operating system, version)
 - Version of EnergyPlus (if using an intermediate build, include SHA)
 -

[2018-11-19 19:53] mjwitte commented on #7013
EnergyPlus IDD changes do not normally propogate into OpenStudio until after the next official EnergyPlus release, which would be v9.1 planned for March 2019.

[2018-11-20 10:55] jmarrec commented on #6324
Cannot reproduce in EnergyPlus 9.0.1, there isn't any Severe error anymore.

[2018-11-20 10:55] #6324 closed, assigned to jmarrec

[2018-11-20 10:59] jmarrec commented on #6293
@JasonGlazer Do you still have said file? If so, can you put it on EnergyPlusDevSupport please?

[2018-11-20 11:34] jmarrec commented on #6919
@Myoldmopar Seems like we should just make it required in IDD. It's a simple IDD change, and the user will know where to go look, no?

[2018-11-20 11:46] jmarrec commented on #6418
Closed in #6419

[2018-11-20 11:46] #6418 closed, assigned to nobody

[2018-11-20 11:57] jmarrec commented on #5899
Duplicate of https://github.com/NREL/EnergyPlus/issues/6186

[2018-11-20 11:57] #5899 closed, assigned to nobody

[2018-11-20 12:38] jmarrec commented on #5848
Is this issue still a thing or it's way outdated? @mbadams5 ?

[2018-11-20 12:40] jmarrec commented on #5662
I cannot reproduce the problem, so I suggest closing this one @JasonGlazer unless you can.

[2018-11-20 12:42] mbadams5 commented on #5848
It is outdated. We subsequently switched to using IDF-order when reading an IDF and these kinds of problems went away.

[2018-11-20 12:42] #5848 closed, assigned to nobody

[2018-11-20 12:43] jmarrec commented on #5619
Already fixed, see https://github.com/NREL/EnergyPlus/blob/develop/datasets/ASHRAE_2005_HOF_Materials.idf#L1922

[2018-11-20 12:43] #5619 closed, assigned to nobody

[2018-11-20 12:46] jmarrec commented on #5579
My two cents: on Linux, while the shell script does works fine for installing and uninstalling (it puts `uninstall.sh` in the installation folder), I'd like a `.deb` package better, because I could `sudo apt install Energyplus.deb` and it would therefore be handled like the rest of my packages (I could search for it in my apt list, do apt remove, etc)

[2018-11-20 12:55] jmarrec commented on #5423
This issue is very outdated, the https://energyplus.net/extras page does not exist anymore, and these folders don't exist in the local installation (such as Preprocess\ParametricSpreadsheets).

The AuxiliaryPrograms.pdf still references both of these though. Here's an extract from page 186 of the AuxiliaryPrograms.pdf that ships with E+ 9.0.1:

![image](https://user-images.githubusercontent.com/54

[2018-11-20 12:57] jmarrec commented on #7026
* [x] Auxiliary Programs for stuff like ParametricSpreadsheets references local folders that don't exist anymore and the energyplus.net/extras page. Related to #5423

![image](https://user-images.githubusercontent.com/5479063/48775075-47fc4a00-eccc-11e8-876a-d18251663bf4.png)

***UPDATE: References to "energyplus.net" in docs. Will verify whether each is valid.***

* [x] ./interface-developer/src/

[2018-11-20 13:39] jmarrec commented on #5354
Tehcnically it would dump some statistics (number of calls, etc, see [here](https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/HVACControllers.hh#L264:L286)) to a file when you pass the environment variable `TRACK_AIRLOOP` (eg `TRACK_AIRLOOP=True energyplus -w ../chig.epw -d out 5ZoneAirCooled.idf`)

Problem is that it crashes, because on this line https://github.com/jmarrec/EnergyP

[2018-11-20 13:50] jmarrec commented on #4838
This is an interesting conversation for sure.

Yet, I don't think the issue should stay open since there aren't any actionable items here, and the discussion has been stale for 3 years. So I'm going to close this one out.

But anyone who has a strong opinion on the reclassification of warnings/errors (/severe/fatal), please do open a dedicated issue on the topic and link to this one (or I guess yo

[2018-11-20 15:23] mjwitte commented on #6919
For `Output:Table:SummaryReports`, the behavior has been.
v8.7, v8.8: `   ** Severe  ** Output:Table:SummaryReports Field[2]="", invalid report name -- will not be reported.` Simulation continues to completion.
v8.9: unexplained fatal error.
v9.0: `   **  Fatal  ** Blank report name in Oputput:Table:SummaryReports`. This should have included a transition rule to clean out any blanks so that workin

[2018-11-20 15:32] mjwitte commented on #4838
This will be addressed as part of the error enhancements in #6971

[2018-11-20 15:52] jmarrec opened #7067 "GetRunPeriodDesignData issues warning with reference to the wrong Array"
Issue overview
--------------

Found while working on #6937

Here's an example: https://github.com/jmarrec/EnergyPlus/blob/a7c9cc14ce05cf09dca6623de97faa8546e2e1bb/src/EnergyPlus/WeatherManager.cc#L6435:L6436

Notice that it uses correctly `RunPeriodDesignInput(Count).title`, but also incorrectly `RunPeriodInput(Loop).startDay`. This means that unless you have the same exact count of RunPeriod ver

[2018-11-20 16:48] jmarrec commented on #6949
I see the table and column you mention:

![image](https://user-images.githubusercontent.com/5479063/48788996-4773ab80-ecec-11e8-88a0-6eb33de1b405.png)

And I agree that the general pattern would be "End Use Subcategory" (eg: https://github.com/jmarrec/EnergyPlus/blob/develop/src/EnergyPlus/OutputReportPredefined.cc#L1747)

[2018-11-20 17:33] mjwitte commented on #5354
@rraustad Do you use this?

[2018-11-20 17:37] rraustad commented on #5354
Never have, probably because I dislike the water controllers. Looks to me like a developers debugging tool.

[2018-11-20 21:50] mjwitte opened #7070 "PlantLoop/CondenserLoop Optimal and UniformLoad distribution schemes should use available equipment count"
Issue overview
--------------
In plant and condenser loops, per the I/O Ref and Engineering Ref, the "UniformLoad" Load Distribution Scheme should intially split the load among the *available* pieces of equipment, then distribute any remaining load.

1. The current code for Uniform load distribution divides by the number of equipment in the list, not the number available for the initial load distr

[2018-11-21 10:55] jmarrec commented on #5410
@mbadams5 This feels pretty outdated (current is macOS High Sierra, and now there's definitely an E+ CLI), I think you should close.

[2018-11-21 11:29] jmarrec commented on #5054
This has been fixed 3 years ago in e27c441129dff74acde41a96136e10eea0b0389a, see current develop also: [CMakeLists.txt#L5:L7](https://github.com/NREL/EnergyPlus/blob/develop/CMakeLists.txt#L5:L7)

[2018-11-21 11:29] #5054 closed, assigned to kbenne

[2018-11-21 11:48] jmarrec commented on #5887
@Myoldmopar Given the list of packages (and under the assumption that a tar.gz on a *Nix system is as fine as a .bz2).

I think the only one potentially missing would be the `EnergyPlus-9.0.1-bb7ca4f0da-Windows-i386.zip`.

Is this 32-bit zip needed? Otherwise, this could be closed.

[2018-11-21 12:00] jmarrec commented on #5689
@Myoldmopar Is this still a thing?

The wiki for windows [here](https://github.com/NREL/EnergyPlus/wiki/BuildingEnergyPlus#windows) mentions

In my experience that doesn't appear true, everything appears to work with python 3 (but I may not have tested 100% of the build options and therefore supporting scripts). According to your issue here, it seems some scripts may only work with Python 3.

Wort

[2018-11-21 13:04] mbadams5 commented on #5410
@jmarrec The current is really Mojave. Anyways, I just checked and this is still valid if running `runenergyplus`. That said, it does say:

[code]

I think with the new EPLaunch/Workflows and the CLI as well as sufficient time, I think we should not package this script with the next release. Thoughts? @Myoldmopar @mjwitte

[2018-11-21 15:56] JasonGlazer commented on #5662
Looks like it is working.

[2018-11-21 15:56] #5662 closed, assigned to nobody

[2018-11-21 16:23] JasonGlazer commented on #6293
@jmarrec I just emailed you the files

[2018-11-22 11:08] jmarrec commented on #6293
I cannot reproduce the assertion message with in 9.0.1. I updated the files (user's file are 8.5), fixed a couple issues (removed all `ComponentCost:LineItem`, and removed the `Unit Type` for all ScheduleTypeLimits (user's file are from an older openstudio version problably, which uses stuff like 'controlmode' or 'volumetricflowrate' which aren't in the E+ IDD).
I got errors in the eplusout.err ab

[2018-11-22 11:28] jmarrec opened #7071 "Handle case where Surface references an outside boundary surface that cannot be found"
Issue overview
--------------

Found while trying to reproduce #6293: If a surface references an outside boundary surface, and that surface cannot be found, E+ crashes with an assertion "contains" error on https://github.com/jmarrec/EnergyPlus/blob/a7c9cc14ce05cf09dca6623de97faa8546e2e1bb/src/EnergyPlus/SurfaceGeometry.cc#L3272

ExtSurfNum is 0, and since the Array1D is 1-indexed, it crashes.

###

[2018-11-22 11:35] jmarrec commented on #6293
Closing because I cannot reproduce, if someone wants to take another stab, feel free to reopen.

[2018-11-22 11:35] #6293 closed, assigned to nobody

[2018-11-22 12:08] jmarrec commented on #7026
* [x] I/O Documentation for Cooling Towers is outdated and doesn't match E+ IDD. Eg: `CoolingTower:SingleSpeed` doesn't mention the "Design Approach Temperature", "Design Range Temperature", etc (Also typo: "Regine" instead of "Regime). Same for TwoSpeed at least

[2018-11-22 12:28] jmarrec commented on #6910
It's even worse if you look at the untruncated error message, the following lines (last 2) make no sense:

[code]

[2018-11-22 16:56] jmarrec commented on #6833
This was tricky to track down, but that's actually not the problem really.

The integration test actually won't run some tests unless BUILD_FORTRAN is enabled, see [testfiles/CMakeLists.txt](https://github.com/NREL/EnergyPlus/blob/develop/testfiles/CMakeLists.txt#L624)

The problem is actually a simple flag, `-r` which is passed to the CLI when the test are run. -r means "Call ReadVarEso", which u

[2018-11-23 09:08] lxk1993 opened #7073 "Support Phase change materials with HAMT module"
When using these two algorithms, it is aimed at a wall. If there is only one layer in the wall that needs to use these two algorithms, how can I use it?

[2018-11-23 14:28] mjwitte commented on #7073
At present, HAMT does not support phase change materials. I will tag this as a NewFeatureRequest. Please submit future user support questions at unmethours.com or energyplus.helpserve.com

[2018-11-23 15:33] mjwitte opened #7075 "Fully implement input and output units for curve and table objects"
Issue overview
--------------
Curve and  table objects have fields for "Input Unit Type . . ." and "Output Unit Type". These inputs are validated by the input processor against the idd key choices, and they are validated by most (all?) of the getinput functions, but that's the end of it. The units are never used for anything in EnergyPlus. IDF Editor uses these fields to convert the max/min value

[2018-11-23 15:37] mjwitte commented on #6797
Presently, EnergyPlus only validates the curve object unit types and then does nothing else with them. IDF Editor uses them, and possibly other input tools, so this is a useful change. Further use of units in curves and tables is suggested in #7075.

[2018-11-23 17:23] mjwitte opened #7076 "Object with too many fields not trapped correctly"
Issue overview
--------------
If an object has too many fields, the next field after what should be end-of-object is processed as if it's the start of a new object.

Defect file 1ZoneUncontrolled-TooManyFields.idf
[code]

Defect file 1ZoneUncontrolled-TooManyFieldsB.idf
[code]
Notice this while testing #7069 where the "before" case had an PlantEquipmentList with extra fields, and it generated erro

[2018-11-25 22:30] mldichter opened #7077 "Design Days missing from ddy files"
For the following two pages
https://energyplus.net/weather-location/north_and_central_america_wmo_region_4/USA/CA-Zones/CZ02RV2
https://energyplus.net/weather-location/north_and_central_america_wmo_region_4/USA/CA-Zones/CZ14RV2

The downloadable ddy files have no SizingPeriod:DesignDay objects. The ddy files only contain a Site:Location object.

[2018-11-26 17:52] ecoeficiente opened #7078 "Heat Pump Water Heater statified tank energy not balancing (again)"
Issue overview
--------------
In a setup with _WaterHeater:HeatPump:PumpedCondenser_ and _WaterHeater:Stratified_, the variables:
_Water Heater Use Side Heat Transfer Rate_ and _Water Source Side Heat Transfer Rate_ are not balanced by a factor of 3 (see attached model)

It may be related (or not) to previous bugfixes:
- Heat Pump Water Heater stratified tank energy not balancing #4665
- Heat Pump

[2018-11-27 18:29] mldichter opened #7080 "DaylightingDevice:Shelf makes zone "not fully enclosed""
Issue overview
--------------
Simulating DaylightingDeviceShelf.idf from the Energyplus 9.0 (and 9.1) Examples Files, with an Output:Diagnostics,DisplayExtrawarnings object added, creates a warning

   ** Warning ** CalculateZoneVolume: The Zone="DAYLIT ZONE" is not fully enclosed. To be fully enclosed, each edge of a surface must also be an edge on one other surface.

### Details
https://unmethou

[2018-11-28 16:06] Myoldmopar commented on #5887
We don't need a 32-bit Windows, good catch.  I'll close this.

[2018-11-28 16:06] #5887 closed, assigned to Myoldmopar

[2018-11-28 16:08] Myoldmopar commented on #5689
The validation reports are now generated in a different way entirely, this is not relevant anymore.  Thanks @jmarrec

[2018-11-28 16:08] #5689 closed, assigned to nobody

[2018-11-28 23:28] supriyagoel opened #7081 "Add additional option for shading control for WindowProperty:ShadingControl object"
Issue overview
--------------
We need an option in the 'Shading Control' dropdown of 'WindowProperty:ShadingControl' object which can control the shades based on transmitted direct solar energy. At present, all available options are for incident direct + diffuse  solar radiation.

This feature is required to model an ASHRAE 90.1 Appendix C requirement (Section C3.5.5.1) which requires manually ope

[2018-11-28 23:58] mjwitte commented on #7081
Also, 90.1 requires that once the shade are lowered that they remain in place until the end of the day. An option for that, and an option to set a minimum time between changes in shade status would also be useful.

[2018-11-29 12:39] msfer86 opened #7082 "Site:GroundTemperature:Undisturbed:FiniteDifference results in crash"
Issue overview
--------------
Running EnergyPlus with a Pipe:Underground object where the 'Type of Undisturbed Ground Temperature Object' field is "Site:GroundTemperature:Undisturbed:FiniteDifference" results in an undefined crash.

The remaining types ("Site:GroundTemperature:Undisturbed:KusudaAchenbach" and "Site:GroundTemperature:Undisturbed:Xing") work correctly.

The crash occurred in a user-

[2018-11-30 13:11] shorowit opened #7083 "EvapCooler crash with autosized field and no design days"
Issue overview
--------------
EnergyPlus 9.0.1 crashes when there is a `EvaporativeCooler:Direct:ResearchSpecial` object that is autosized but there are no design days. Example file: [in.idf.txt](https://github.com/NREL/EnergyPlus/files/2633284/in.idf.txt)

(Context: we were hardsizing the evap cooler object in OpenStudio, but a [bug in OpenStudio](https://github.com/NREL/OpenStudio/issues/3363) c

[2018-11-30 16:10] jmarrec commented on #7083
I'm thinking it might actually be also the fact that since openstudio didn't find any design day, it didn't force the SimulationControl to do system sizing.

[code]

But anyways, that shouldn't crash either with a segfault.

[2018-12-03 18:17] mjwitte opened #7085 "UnitarySystem with SingleZoneVAV control crashes"
Issue overview
--------------
While adding SingleZoneVAV control to `HVACTemplate:System:UnitarySystem` ran into a crash with DX coil.
Also crashes with chilled water coil - in fact the first test file may be crashing on the chilled water one, not the DX.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus 9.0.1 must be a debug build to catch the crash
 - Re

[2018-12-03 18:18] mjwitte commented on #7085
Also, can't find any example files that use single zone VAV either for unitary or fan coil?

[2018-12-03 19:57] mjwitte opened #7086 "FanCoil with CyclingFan control using Fan:SystemModel has different fan power than Fan:OnOff"
Issue overview
--------------
Tried to switch HVACTemplate:Zone:FanCoil to always use Fan:SystemModel, but this caused diffs in HVACTemplate-5ZoneFanCoil-DOAS because this uses the CyclingFan control. The defect files below have more output and no DOAS, just fancoils with CyclingFan control.

### Details
Some additional details for this issue (if relevant):
 - Version of EnergyPlus v9.0.1
 - Refer

[2018-12-03 20:16] mjwitte commented on #5260
Also added support for HX assisted ChW coil to match the native ZoneHVAC:FourPipeFanCoil object.

[2018-12-04 19:09] mjwitte commented on #6482
- [ ] The header row "This file contains external shading fractions for all shading surfaces of all zones." at the top of eplusshading.csv causes a crash. It appears that the file processing assumes that row 2 is the start of the data? Defect files attached here [Ticket 13119.zip](https://github.com/NREL/EnergyPlus/files/2645689/Ticket.13119.zip)

*Reference Helpdesk ticket 13119*

@XuanLuoLBL any

[2018-12-04 20:03] mjwitte commented on #5904
Also, see helpdesk ticket 13106 - odd electric values.  Defect files added to EnergyPlusDevSupport\DefectFiles.
Reference also Unmethours [35582](https://unmethours.com/question/35582/centralheatpump-not-always-recording-electricity-consumption).

[2018-12-04 21:26] #7037 closed, assigned to mjwitte, xuanluo113

[2018-12-04 22:48] xuanluo113 commented on #6482
@mjwitte Thanks for reminding. I'll plan to address this in the next two weeks.

[2018-12-05 14:24] #7053 closed, assigned to nobody

[2018-12-05 17:35] JasonGlazer opened #7087 "Add ARM binaries"
Now that Amazon EC2 includes ARM based instances, add support for producing ARM binaries for EnergyPlus and other executables
.
https://aws.amazon.com/blogs/aws/new-ec2-instances-a1-powered-by-arm-based-aws-graviton-processors/

[2018-12-05 22:49] shorowit opened #7088 "Kiva foundation setup divide-by-zero with North Axis=45.0 for this file"
Issue overview
--------------
We have two IDFs whose only difference is the Building's North Axis. One of them runs in E+ 9.0.1, the other one freezes at "Initializing Simulation".

[good.idf.txt](https://github.com/NREL/EnergyPlus/files/2650937/good.idf.txt)
[bad.idf.txt](https://github.com/NREL/EnergyPlus/files/2650938/bad.idf.txt)

We tracked down the issue to being introduced between the [IDD

[2018-12-06 10:16] jmarrec opened #7089 "AVM OptimumStart AdaptiveASHRAE is not implemented while it's default"
Issue overview
--------------

Reported on Unmethours, after investigation it's really not implemented, the onyl thing it ever does is to set `AvailStatus = NoAction`.

The documentation used to have a bold statement  up to E+ 8.8.0 (see [here](https://bigladdersoftware.com/epx/docs/8-8/input-output-reference/group-system-availability-managers.html#field-control-algorithm))

The fact that the defa

[2018-12-06 14:15] #7019 closed, assigned to jmarrec

[2018-12-06 20:21] mjwitte commented on #7088
When run in a debug build, northaxis=45.0 hits a divide by zero [here in SurfaceData::get_average_height](https://github.com/NREL/EnergyPlus/blob/ae4c2ce0d208dff6982b852c40fccb78aa78c552/src/EnergyPlus/DataSurfaces.cc#L1040) which is called during Kiva foundation setup. North axis of 44.9 or 45.1 get by ok.

[2018-12-06 20:23] mjwitte commented on #7088
`get_average_height` was added as part of https://github.com/NREL/EnergyPlus/pull/6852 "Allow any wall shape for Kiva Foundations"

[2018-12-06 20:27] mjwitte commented on #7088
@nealkruis

[2018-12-07 16:48] mjwitte opened #7092 "Ground heat exchanger divide by zero if user inputs equal pipe inner and outer diameters"
Issue overview
--------------
User file with equal values for `GroundHeatExchanger:HorizontalTrench` "Pipe Inner Diameter" and "Pipe Outer Diameter" results in a divide-by-zero [here](https://github.com/NREL/EnergyPlus/blob/ae4c2ce0d208dff6982b852c40fccb78aa78c552/src/EnergyPlus/PlantPipingSystemsManager.cc#L6428-L6430) because [`XY_CrossSectArea`](https://github.com/NREL/EnergyPlus/blob/ae4c2ce0d

[2018-12-07 20:59] mjwitte commented on #6442
The Equipment Summary, Central Plant subtable has columns for "IPLV in SI Units [Btuh/Btuh]" and "IPLV in IP Units [Btuh/Btuh]". This probably was written before table units conversions became an option?

Using test file ElectricEIRChiller.idf, here are the SI and IP versions of this table:

  | Type | Nominal Capacity [W] | Nominal Efficiency [W/W] | IPLV in SI Units [W/W] | IPLV in IP Units [Btu

[2018-12-07 21:04] JasonGlazer commented on #6442
I seem to remember that the unit strings needed to be in brackets to be recognized so to avoid converting them just don't use brackets.

[2018-12-07 23:07] shorowit opened #7093 "Incorrect Fan RTF depending on HVAC equipment order"
Issue overview
--------------
I am seeing incorrect fan runtime fractions depending on the order of my HVAC equipment in the ZoneHVAC:EquipmentList object.

Attached are two IDF files with the only change being the order of the heating and cooling systems in the ZoneHVAC:EquipmentList. The building has a single conditioned zone served by two unitary systems. One unitary system has _only_ a heating

[2018-12-08 19:52] yurivict opened #7095 "Please have options to use system versions of third-party dependencies"
We already have eigen, nlohmann, and many other third party packages installed. On FreeBSD, we prefer to use pre-packaged dependencies, and not bundle them.

Please add options to use system dependencies.

[2018-12-08 20:46] yurivict opened #7096 "Please install files into proper locations: bin/, lib/, etc"
You install these files into $PREFIX:
[code]

Executables should go into bin/, libs - into lib/, and the rest - into share/EnergyPlus.

[2018-12-09 20:41] mjwitte commented on #7093
Just off the top of my head, the unitary system with Control Type=Load tries  to meet both cooling and heating loads, regardless of what coil types are present. So, whenever there is any remaining load (heating or cooling), the equipment will run.  So, in the bad case, the cooling system is trying to meet the heating load, it can't, so the second system sees a remaining load and meets it.  My gues

[2018-12-09 23:28] nheeren opened #7097 "What is the equivalent of RunEPlus.bat in macOS and Linux?"
I am trying to run an .idf file from [here](https://www.energycodes.gov/development/residential/iecc_models) that requires the basement preprocessor. In the Windows version of e+ this works fine, because `RunEPlus.bat` performs all the necessary steps and copies the results into in.expidf. However, I could not find an equivalent script in the macOS version. Am I overlooking something?

If this doe

[2018-12-10 13:32] rraustad commented on #7093
If these unitary systems are in series then how can one fan have RTF=0? That would choke the flow through the other system. EMS should use the PLR of the coil.

[2018-12-10 14:53] mjwitte commented on #7093
They are both zone equipment, in parallel.

[2018-12-10 17:18] shorowit commented on #7093
@mjwitte Thanks for the suggestion. We had set the "unused" airflow rates to a small number but not zero (I think because OpenStudio did not allow us to set zero). I entered zero manually and it gave the results we're looking for! That's good enough for us, I'll close this issue.

For what it's worth, we decided to split up our heating/cooling systems into separate unitary systems so that we could

[2018-12-10 17:18] #7093 closed, assigned to nobody

[2018-12-10 18:50] mjwitte commented on #7093
@rraustad I was wrong - this model has two complete airloops serving the one zone.

@shorowit An alternate approach to collecting heating/cooling fan energy is to use `Output:Table:Monthly`.
[code]
Here's an example file with this added. Variable 4 is there as a check for the total, 'cause there might be hours when neither coil is operating if there's continuous fan operation or free cooling.

I d

[2018-12-10 18:55] mjwitte commented on #7093
Forgot to attach the file.  [FurnaceWithDXSystem-FanReport.idf.txt](https://github.com/NREL/EnergyPlus/files/2664469/FurnaceWithDXSystem-FanReport.idf.txt) The report looks like this.
![fan report](https://user-images.githubusercontent.com/4991075/49754090-d7b56880-fc7a-11e8-9240-281ea329b2b8.png)

[2018-12-10 20:55] shorowit commented on #7093
Cool! I was not aware that Output:Table:Monthly has such capability. Now I have to decide which approach to go with, there are pros/cons to both.

[2018-12-10 21:33] mjwitte commented on #7093
Yep, neither one is perfect. One limitation of Output:Table:Monthly is that all variables must share the same keyname. Output:Table:Annual with its "Filter" field, offers a way to combine variables with different key names (i.e. a coil output and a fan output) if they share a common string in their names (at least I think that's how it works).

[2018-12-11 10:53] jmarrec commented on #6442
Removing brackets will avoid the conversion, but then again the heater will not be formatted with brackets around the unit and it does look weird/inconsistent.

I added a new unitConv that goes W/W to W/W, with a hint of "SI", so that it doesn't convert really but does format like the rest.
It you would rather only keep only column that would display SI or IP as appropriate, I can also do that.

I

[2018-12-11 16:55] rraustad commented on #6442
Seems like we only need one column for IPLV.

[2018-12-11 18:41] MatthewSteen commented on #7026
~~I/O for `Boiler:HotWater` missing the field `Design Water Outlet Temperature` [here](https://github.com/NREL/EnergyPlus/blob/develop/doc/input-output-reference/src/overview/group-plant-equipment.tex#L3947) before the `Design Water Flow Rate field`.~~

[2018-12-11 22:32] Nigusse commented on #7026
@MatthewSteen the field "Design Water Outlet Temperature" has been removed.

[2018-12-12 03:25] MatthewSteen commented on #7026
@Nigusse my mistake. I noticed it in an OpenStudio model (2.7.0 with EP 9.0), but was looking at the 8.9 IDF Editor.

[2018-12-12 18:09] mldichter opened #7101 "Typo in IDF Editor description of Fan:ZoneExhaust field Balanced Exhaust Fraction Schedule Name"
Issue overview
--------------
In the IDF editor, the field description for Fan:ZoneExhaust field Balanced Exhaust Fraction Schedule Name has redundant text.

![fan exhaust field description typo](https://user-images.githubusercontent.com/39242689/49889198-bcbb3380-fdf5-11e8-8d21-f1ee104db461.PNG)

[2018-12-12 18:43] mjwitte opened #7102 "Change climatic data summary string searches to avoid potential encoding differences"
Issue overview
--------------
As noted [here in #6192](https://github.com/NREL/EnergyPlus/pull/6192#issuecomment-439079747) the string searches for some of the Climatic Data Summary fields have embedded special characters which fail to match if the weather stat file does not have the same encoding as EnergyPlus (which is now UTF-8). Note the bad encoding of the degree symbol for latitude and longi

[2018-12-12 18:56] mjwitte commented on #7101
Interesting, this is caused by a stray emtpy `\note` following the real note in the idd:
[code]
The same problem is present in `Coil:Cooling:DX:SingleSpeed:ThermalStorage` "Storage Capacity Sizing Factor".

[2018-12-12 20:45] #6871 closed, assigned to mjwitte

[2018-12-12 20:45] #7070 closed, assigned to nobody

[2018-12-13 00:54] lklawrie commented on #7102
I will be glad to try to help with this issue -- of course, the files on
energyplus.net seem to be more static than the ones on either
climate.onebuilding or joe huang's site (temporarity forgotten but I
recently found out that he doesn't know what the stat files are for).

Anything we can do to  further the issue going forward?

Linda

On Wed, Dec 12, 2018 at 11:43 AM Michael J. Witte <notificati